[2017-07-17 12:43] codehag commented on #3263
I'm having a bit of difficulty getting started on this, as the branch is a bit behind master and it's hard to tell what is going on/what changed. Do you have an example of current vs desired behavior?

[2017-07-17 13:09] bomsy commented on #3356
it's quite obvious here

[2017-07-17 13:28] tromey commented on #3311
I plan to deal with source map errors in https://bugzilla.mozilla.org/show_bug.cgi?id=1345533

[2017-07-17 14:19] jasonLaster opened #3362 "[dark theme] debug line should be more prominent"
I think the debug line in dark theme blends in a bit too much. We can probably help it pop a bit more

<img src='https://shipusercontent.com/e5e85713a15cb66fa2af67f600161878/Screen%20Shot%202017-07-17%20at%2010.18.27%20AM.png' title='Screen Shot 2017-07-17 at 10.18.27 AM.png' width=598>

[2017-07-17 18:48] jasonLaster commented on #3321
After thinking about it a bit more, I think we first want to simplify how we store prefs. There are two problems that I see with prefs:

1. it's possible the current value of prefs is different from the current value of the store
2. the code is making the reducers ugly! Here's a patch where we remove the pref updating logic from the reducers. In my mind, this should be our first goal 💃

[code]

Is

[2017-07-17 23:21] squarewave opened #3365 "Expanding a large TypedArray hangs and presents a long running script warning"
Expanding an array results in a tree of ranges so that we don't try to display tens of thousands of items all at once, but we don't make the same optimization for any TypedArray types, which will often be large if they exist.

[2017-07-18 03:07] jasonLaster commented on #3321
@clarkbw suggests trying a middleware solution

https://github.com/clarkbw/Gecko-Profiler-Addon/commit/d86dcf0c4158c14a04337c7b9c5de11a9a613eee

[2017-07-18 05:05] wldcordeiro commented on #3234
I'll jump on this. Easing back in and I've used this recently. 😄

[2017-07-18 10:51] codehag commented on #3321
I think both ideas have some good stuff in there. I think one issue with the subscriber is that it relies on duplicating state, rather than our use case, which is that we have data that is at the moment only represented in prefs. Subscribers work best if we have a state that needs to be persisted, but we don't have that. A good example of a place where this would fail is pendingBreakpoints. Also,

[2017-07-18 12:25] codehag opened #3366 "Potential Bug: failing mochitest"
The following was reported as failing when running the mochitests

https://dxr.mozilla.org/mozilla-central/rev/e0b0865639cebc1b5afa0268a4b073fcdde0e69c/devtools/client/debugger/new/debugger.js#23375-23381

[2017-07-18 17:21] clarkbw opened #3368 "blank debugger when debugging service workers via about:debugging"
Coming out of [bug 1380085](https://bugzilla.mozilla.org/show_bug.cgi?id=1380085) the debugger now comes up blank. 😢

STEPS TO REPRODUCE:

1)  Start current nightly with clean profile `/Applications/FirefoxNightly.app/Contents/MacOS/firefox --profile $(mktemp -d)`
2)  Load about:debugging.
3)  Click the "Workers" text in the sidebar on the left.
4)  Click the "Opt out of multiple content processes

[2017-07-18 17:31] clarkbw commented on #3368
Also I ran through this again and saw this error go by as well.

[code]

[2017-07-18 19:28] tromey opened #3369 "inactive buttons still highlight when mouse moves over them"
See this gif that Jason made: http://g.recordit.co/fmUKhjkyIQ.gif

In particular, watch when the mouse moves over the various step buttons.  The buttons highlight even when they are disabled.  I think this feedback should only apply when the button is active.

[2017-07-18 20:07] #3253 closed

[2017-07-18 20:08] clarkbw commented on #3253
Great work @belen-albeza!

[2017-07-18 20:12] clarkbw commented on #3179
Tried out the STRs here again and I can't get Firefox to beach ball anymore. Some steps are still a bit slow but doesn't freeze up.

[2017-07-18 20:12] #3179 closed

[2017-07-19 09:37] Standard8 opened #3371 "[Pause] Debugger is getting the source line numbers/highlighting wrong"
STR:

1) Build Firefox from latest master in `--enable-artifact-builds` mode (I've not tested non-artifact).
2) Start up Firefox, visit a random webpage you haven't visited before.
3) Open up devtools, cmd-P and search for `browser-places.js`
4) Add a breakpoint in bookmarkPage
5) Click the star icon on the main UI to bookmark the page.

Expected Result
=> Debugger breaks and highlights the right

[2017-07-19 09:43] Standard8 commented on #3371
I just set a breakpoint earlier in the function than I had been doing, that seems to have somehow kicked the debugger back onto the right line numbers, such that now I can't reproduce.

[2017-07-19 12:05] codehag opened #3372 "RFC: Introducing Sagas"
We are going in a really excellent direction with our refactorings. One topic that came up during our work week was sagas. I did a little bit of drawing regarding how this would look from an architectural perspective:

<img width="1409" alt="screen shot 2017-07-19 at 1 50 24 pm" src="https://user-images.githubusercontent.com/26968615/28365748-0a4f4a4a-6c8a-11e7-846e-3ff461498248.png">

A compariso

[2017-07-19 17:00] clarkbw commented on #3368
Work happening in #3373

[2017-07-19 18:26] jasonLaster opened #3375 "[Frames] Simplify Redux call stacks"
Here is a call stack from: perf.html running locally: [link](http://localhost:4242/public/3ae552768a35425c99fb71ddeab54ed50cfaa221/timeline/?invertCallstack&range=116.2780_132.3306&react_perf&thread=4) with a breakpoint in `profile-view.js:97` I think there are a couple of things we could do to simplify it:

1) group frames 2 - 9: **action dispatch**
2) group frames 11 - 13: **action dispatch**
3)

[2017-07-19 18:52] gregtatum commented on #3375
I'm not sure where _callee7$ is specifically coming from, somewhere in the thunk. It would be nice to have a clear stack showing `receiveProfileFromAddon` with the Redux pseudo stacks in there. The general principle would be nice to only show me what I really care about.

[2017-07-19 19:05] kwonoj commented on #3372
Just throwing out question, feel freely ignore / discard 🙏  - has `epics` been considered as a candidate as well? (https://github.com/redux-observable/redux-observable/blob/master/docs/basics/Epics.md#epics)

[2017-07-19 19:10] markerikson commented on #3372
Hey, I recognize those first two links! :)  Nice diagrams too, btw.

Not sure I have specific feedback to offer, beyond agreeing that sagas (and the equivalents from `redux-observable` / `redux-logic` ) are definitely great tools for setting up complex async workflows and decoupling parts of an app architecture.

You might also want to glance through some of the articles in the ["Redux Architectur

[2017-07-19 19:41] jasonLaster commented on #3375
hmm - i know what you're saying. I bet we can do something with function names and babel... Like go up and get the name...

[2017-07-19 20:58] jasonLaster commented on #3368
We landed a fix

[2017-07-19 20:58] #3368 closed

[2017-07-19 20:58] jasonLaster commented on #3335
This should be fixed with the breakpoints architecture improvements

[2017-07-19 20:58] #3263 closed

[2017-07-19 20:59] jasonLaster commented on #3288
This should be fixed when codemirror is updated on MC :)

[2017-07-19 22:21] jasonLaster opened #3377 "[Preview] Mousing over the bottom of the token causes a flicker"
STR:
1. pause
2. move the mouse below a token and then onto the bottom of the token

expected: see the preview
actual: weird flickers

![](http://g.recordit.co/rKlJGarPIE.gif)

[2017-07-20 08:33] codehag commented on #3283
looks good!

[2017-07-20 08:33] #3283 closed

[2017-07-20 12:50] codehag commented on #3377
I am not able to get a convincing reproduction of this.. but is this due to the cursor position?

[2017-07-20 12:51] codehag commented on #3377
I initially took the "flicker" to be the behavior where it goes from showing the `this` object but then opening to the full object, but i am guessing that this behavior is expected?

[2017-07-20 13:05] nchevobbe opened #3378 "Use the ObjectInspector from devtools-reps"
The ObjectInspector in devtools-reps was pulled from the debugger-html project (and tweaked a bit).
We should replace the ObjectInspector in the debugger with the one from devtools-reps so we share code (and bug fixes :) ).

I assign this to me since I was the one finalizing the work on devtools-reps (and potentially breaking how it works in the debugger).

This should be done soon-ish so the 2 co

[2017-07-20 13:13] codehag commented on #3357
Do we have an STR with these two cases?

[2017-07-20 13:26] jasonLaster opened #3379 "[SourceSearch] cmd+p label opens project search accidentally "
![](http://g.recordit.co/4HWcLKjEVq.gif)

[2017-07-20 13:31] jasonLaster opened #3380 "[call stack] horizontal scrollbar is present"
We used to truncate the filenames.

![](https://bug1382432.bmoattachments.org/attachment.cgi?id=8888213)

[2017-07-20 13:32] jasonLaster opened #3381 "[SourceTree] selecting items is still jumpy"
Recently we've been looking into cleaning up the source tree item height so that:

* selecting items does not cause the list to jump
* navigating down (down arrow key) causes the UI to scroll smoothly

There are still some issues there

![](https://bug1382432.bmoattachments.org/attachment.cgi?id=8888212)

[2017-07-20 14:08] jasonLaster opened #3383 "[Breakpoints] width is set to 1px"
It looks like there is a race condition with the editor that occassionally sets breakpoints to a really small width:

![Pasted Image 1.tiff](https://shipusercontent.com/8d112d1551f659729970daf2416fee23/Pasted%20Image%201.tiff)

[2017-07-20 15:17] jasonLaster commented on #3371
Thanks for filing

[2017-07-20 15:24] clarkbw opened #3385 "[CallStack] Support VueJS collapsing frames"
Working on it...

[2017-07-20 15:26] codehag opened #3386 "[Breakpoints] Breakpoints disappear on layout change"
https://bug1382432.bmoattachments.org/attachment.cgi?id=8888211

[2017-07-20 15:40] jasonLaster opened #3388 "[Scopes] should be able to copy values"
We should support copying variable names and values from the scopes pane. Lets look at what the old debugger and chrome UI does and draw some inspiration.

For example if the local scope has a variable `foo` with the value `"Hello World"`, the user should be able to right click on `foo` and add it to the clipboard.

[2017-07-20 16:12] jasonLaster opened #3389 "[Layout] add a mochitest for horizontal / layout "
We currently find bugs when the layout changes:

1. bps missing
2. secondary frame state
3. debug line

we should have an integration test that forces a layout change and then make sure everything is fine

http://searchfox.org/mozilla-central/source/devtools/client/debugger/test/mochitest/browser_dbg_host-layout.js

[2017-07-20 16:31] tromey opened #3390 "[Scopes]  does not show function's return value"
The old debugger would show the function's return value on stepping out, like this:

![screenshot from 2017-07-20 10-21-00](https://user-images.githubusercontent.com/1557670/28428020-3e0579f8-6d35-11e7-9d46-ba84f7e969c1.png)

I don't see this in the new debugger.

I just made a simple function and then repeatedly clicked the step over button.  Eventually it stops at the end of the function and sho

[2017-07-20 16:33] jasonLaster commented on #3390
You can test it out w/ this test page locally: http://localhost:8000/integration/examples/doc-return-values.html

[2017-07-20 16:34] tromey commented on #3390
I can reproduce it with the booleans example without having to clone the repository: https://devtools-html.github.io/debugger-examples/examples/booleans/

[2017-07-20 16:36] tromey commented on #3390
To reproduce, open that page, put a breakpoint in the `makeBooleans` function, then click the button.  Then click "step over" repeatedly.  It will double stop at the "}" (which is what I was looking at when I found this); the second stop ought to show the return value.

[2017-07-20 17:05] jasonLaster commented on #3290
this should be fixed post refactor.

I'll leave open so we can confirm next week on nightly

[2017-07-20 19:57] jasonLaster opened #3392 "[WASM] syntax highlight non-js languages"
We now have wasm support which is really cool. You can go to http://firefox-dev.tools/debugger-examples/ with firefox nightly and debug fibonoacci which is a C app.

Given that, we should expect that a source file could have some new extensions for `c`, `cpp`, or `rs`. The easiest thing to do though would be to check the source `isWasm` property and if it is wasm return `x-csrc`.

[code]

I just c

[2017-07-20 20:42] #3385 closed

[2017-07-20 22:14] jasonLaster commented on #3377
so... i can't reproduce this either. Lets leave it open for a bit and see

[2017-07-20 22:18] jasonLaster commented on #3386
I'm seeing an error w/ `clearDebugLine` not having the editor:

[code]

[2017-07-20 22:22] jasonLaster opened #3398 "[SymbolModal] transparent in the light theme"
<img src='https://shipusercontent.com/5c98fc9a21f16a15508d978734ff4da4/Screen%20Shot%202017-07-20%20at%206.21.57%20PM.png' title='Screen Shot 2017-07-20 at 6.21.57 PM.png' width=748>
<img src='https://shipusercontent.com/9ce772ef9ac64ace0f8124514bed9de3/Screen%20Shot%202017-07-20%20at%206.21.50%20PM.png' title='Screen Shot 2017-07-20 at 6.21.50 PM.png' width=796>

[2017-07-20 22:28] jasonLaster commented on #3398
fixed with this patch to MC:

[code]

[2017-07-20 22:36] jasonLaster commented on #3371
This is what i'm currently seeing:

![](http://g.recordit.co/5rl94cKFi6.gif)

what do you mean by the line numbers are off:

1. the line number value is wrong
2. they're hidden and the breakpoint is hidden
3. the debugger does not jump to the correct location
4. some other weird behavior :)

[2017-07-20 22:41] #3379 closed

[2017-07-20 22:41] #3356 closed

[2017-07-20 22:42] #3304 closed

[2017-07-20 22:42] jasonLaster commented on #3304
fixed

[2017-07-20 22:42] jasonLaster commented on #3302
fixed

[2017-07-20 22:42] #3302 closed

[2017-07-20 22:42] jasonLaster commented on #3239
@firhatsungkar any luck?

[2017-07-20 23:26] jasonLaster opened #3399 "[Breakpoints] [SourceMap] don’t slide w/ original sources"
The old debugger does not slide when you add a bp to `setDebugLine` in Editor/index.js.

#### old
![](http://g.recordit.co/NBw2YVLpRO.gif)

#### new
![](http://g.recordit.co/jhByGJaIqZ.gif)

[2017-07-21 06:38] Standard8 commented on #3371
When I see it, what I see is that the debugger breaks and highlights an incorrect line, e.g. breaking on line 403, it would then effectively be on line 402 (determined by looking at the variable values), and will then be a line behind constantly.

Additionally, the call stack has the wrong line number in, iirc.

I've also seen this type of behaviour with xml files, but that may be a slightly diffe

[2017-07-21 07:55] juliandescottes commented on #3380
We discussed this a fair bit so I'll try to summarize why I think this should be avoided.

Quoting @jasonLaster on Slack "we introduced the panel scrollbar so that we would let you scroll for variables". I assume we are talking about the object inspector here? I think this is a valid use case for having a horizontal scrollbar, but it should be restricted to the object inspector panels.

1. The des

[2017-07-21 13:28] jasonLaster commented on #3005
duplicate of #3280

[2017-07-21 13:28] #3005 closed

[2017-07-21 13:31] jasonLaster commented on #3371
Ahh, I wonder if this is a dupe of #3282? The server is off by one with XUL documents (affects the old ui too).

[2017-07-21 13:32] jasonLaster commented on #3371
Ahh

[2017-07-21 13:36] jasonLaster opened #3400 "[Editor] improve perf with startOperation/endOperation"
We could improve our editor performance by minimizing the number of operations that codeMirror does.

The best way to do this is with a new API we added to CM, which will be released in the next version. We can call `startOperation` in will receive props, and `endOperation` in did update.

https://github.com/devtools-html/debugger.html/pull/3367

[2017-07-21 13:42] jasonLaster commented on #1108
- [ ] the results should scroll
- [ ] the selection highlight is too strong in dark theme
- [ ] we should exclude watch expressions (sources should have a URL)

[2017-07-21 14:27] jasonLaster commented on #2946
Still seeing this

<img src='https://shipusercontent.com/6c7f72bf68663b3251807d5f215dca7a/Screen%20Shot%202017-07-21%20at%2010.26.49%20AM.png' title='Screen Shot 2017-07-21 at 10.26.49 AM.png' width=598>

[2017-07-21 14:33] jasonLaster opened #3402 "[Symbols] The function start line number is wrong"
The symbol modal is getting the wrong line number from `getSymbol`. You can see this by looking at the results list and comparing the values in `Editor/index.js`

<img src='https://shipusercontent.com/11845a6dd3ecdcc9fb36cbda285da821/Screen%20Shot%202017-07-21%20at%2010.31.50%20AM.png' title='Screen Shot 2017-07-21 at 10.31.50 AM.png' width=736>

[2017-07-21 14:39] jasonLaster opened #3403 "[Preview] fails post-wasm support"
It looks like `renderPreview` is broken after the wasm branch. I believe the issue is that we try to map an ASTLocation, which is really two locations a start and an end.

I started working on a fix here:
https://gist.github.com/06b35acc50732521e373bc6036304abc

[STR]
1. navigate to https://devtools-html.github.io/debugger-examples/examples/todomvc/
2. add a break point on line 34 of todo-view
3.

[2017-07-21 15:01] bgrins commented on #3269
Same thing with Watch Expressions.  @jasonLaster would you like me to file a new issue for that or do you expect they would be handled here?

[2017-07-21 15:01] bgrins commented on #3269
STR:

Load data:text/html,<script>var obj = { a: { b: 'c' } }; document.onclick = function() { debugger; for (var i = 0; i < 3; i++) ; } </script>
Open debugger
Click anywhere to pause
Expand "Scopes" -> Window -> obj
Step

Expected:
obj remains expanded

Actual:
Window gets collapsed

[2017-07-21 15:03] bgrins commented on #3269
![stepping-watch](https://user-images.githubusercontent.com/95570/28469422-07980ef6-6deb-11e7-954f-963835e3dd1f.gif)

Gif of the behavior with watch expressions

[2017-07-21 15:36] jasonLaster opened #3404 "[SymbolModal] should clear the query after a selection"
I often find myself using the function search to find a function, re-opening it and being surprised there is still a query:

![](http://g.recordit.co/hAI9eLzovd.gif)

[code]

[2017-07-21 15:50] pgadige commented on #3404
I'd like to work on this issue. Could you please assign it to me? As I understand, when the search function/box is reopened it should be cleared off the previous query, or in other words, it should be empty. Am I on the right track?

[2017-07-21 15:55] #3290 closed

[2017-07-21 15:55] #3288 closed

[2017-07-21 15:55] #3335 closed

[2017-07-21 15:58] jasonLaster commented on #3402
@ryanjduffy is working on it

[2017-07-21 16:11] jasonLaster opened #3406 "[pause] [watchexpressions] stepping gets confused"
filing from bugzilla: https://bugzilla.mozilla.org/show_bug.cgi?id=1331263

OK, that doesn't seem to be enough to reliably reproduce this. Better steps:

0. nightly Jan. 15, clean profile, enable browser toolbox, open add-on manager, switch to 'appearance', enable dark compact theme
1. restart with the same profile, dismiss default browser prompt if it shows up.
2. open addons manager again (I use

[2017-07-21 16:21] jasonLaster commented on #3282
a similar bug
https://bugzilla.mozilla.org/show_bug.cgi?id=1363534

[2017-07-21 19:02] bzbarsky opened #3411 "[console] link does not select location when debugger is closed"
I filed this as https://bugzilla.mozilla.org/show_bug.cgi?id=1383209 because I can attach files there, but since I'm not sure anyone is looking at bugs reported there...

[2017-07-21 19:13] jasonLaster commented on #3411
Thanks for filing

---

STEPS TO REPRODUCE:

1)  Load the testcase I'm about to attach in a clean profile.
2)  Cmd+Option+K to open the console.
3)  Click the link on the "ReferenceError" line (linking to line 1201 of the JS file).

ACTUAL RESULTS: Debugger opens, loads JS file, does NOT scroll to the line.

EXPECTED RESULTS: Scroll to the line and select it.  This works fine with the old debugger

[2017-07-21 19:35] jasonLaster commented on #3383
This should be fixed by the editor.state bug

[2017-07-21 19:36] jasonLaster commented on #3386
this should be fixed by the `editor.state` fix

[2017-07-21 21:28] clarkbw commented on #3406
I just ran through this and I couldn't create the same issue.  Here are my steps.

1. nightly, clean profile
[code]
1.  open devtools / settings turn on browser chrome / remote debugging in bottom right
1.  go to `about:addons` / appearance and enable dark compact theme
1. restart browser
[code]
1.  open `about:addons` again (I used restore prev. session, probably doesn't matter)
1.  switch to deb

[2017-07-24 08:41] #3318 closed

[2017-07-24 09:16] codehag commented on #3383
We have solved one part of the issue, associated with .wasm files. However we still have this issue when switching the panel orientation. This may be an issue in code mirror itself

STR:

- Open debugger while running in the panel
- Add a breakpoint while the debugger is in the bottom panel
- switch the debugger position to being a side panel
- Breakpoint will be a baby bps

Gif:
recordit.co/Luuhc

[2017-07-24 09:46] codehag commented on #3383
Should now be fixed

[2017-07-24 09:46] codehag commented on #3386
Should now be fixed

[2017-07-24 09:58] codehag commented on #3386
This hasn't been fixed yet, but I will reopen the branch with the slightly hacky fix; we can work on a more robust solution in a bit

[2017-07-24 10:40] codehag opened #3421 "[next] TypeError: client.sourceContents is not a function"
In the next branch, when we run the tests we get the following error
[code]

We should investigate where this is coming from

[2017-07-24 11:24] codehag commented on #3411
In the `next` branch, we have a new issue -- the debugger is not opened, and instead opens a new tab with the source and the correct line highlighted (just like the old debugger)

[2017-07-24 11:43] codehag commented on #3411
Not sure if I am going in the right direction, but when I test the str, i sometimes get the new tab behavior and the following error:

[code]

[2017-07-24 11:49] codehag commented on #3411
Not sure if I am going in the right direction, but when I test the str, i sometimes get the new tab behavior and the following error:
[code]

[2017-07-24 12:48] jasonLaster commented on #3329
#3413 fixes this

[2017-07-24 12:48] #3329 closed

[2017-07-24 13:43] vladikoff opened #3423 "When inspector is zoomed in the "Dropdown" for options is misplaced"
![](https://user-images.githubusercontent.com/128755/28526086-6ede6cca-7054-11e7-91c3-a00527814608.png)

See screenshot above ^
The additional menus show up in strange locations

[2017-07-24 13:44] jasonLaster commented on #3423
@vladikoff can you refile this in bugzilla under the inspector component?

[2017-07-24 13:45] #3423 closed

[2017-07-24 13:46] vladikoff commented on #3423
@jasonLaster ooo thanks!!

[2017-07-24 14:11] codehag commented on #3411
some more debug info: when I get verbose logs for the debugger I get the following just before i get redirect to viewsource:

[code]

[2017-07-24 14:58] jasonLaster opened #3426 "[CommandBar] stops being sticky"
It looks like the command bar can scroll out of view when the debugger is in vertical layout.

We should fix this by making sure the command bar is sticky

[code]

![](http://g.recordit.co/GXGY2plgiL.gif)

[2017-07-24 15:15] bzbarsky commented on #3411
I did encounter the view-source behavior once when I was playing around with this stuff...  So it's not just you, fwiw.  ;)

[2017-07-24 15:28] jasonLaster opened #3427 "[scopes] [SourceMap] show mapped names in scopes"
It would be great to map minified variable names to original names

[code]

### Chrome
<img src='https://shipusercontent.com/96c6f4a3fc0025c9b669ab32c7f91113/Screen%20Shot%202017-07-24%20at%2011.16.52%20AM.png' title='Screen Shot 2017-07-24 at 11.16.52 AM.png' width=851>

### Firefox
<img src='https://shipusercontent.com/da351bffca139862f11142a99d972328/Screen%20Shot%202017-07-24%20at%2011.16.43%2

[2017-07-24 15:28] clarkbw opened #3428 "[WatchExpressions] the remove button is often hidden by the scroll bar"
I scrolled up the side bar to see my watch expressions and realized I needed to remove some of the old ones.  However when I tried to do that the scroll bar hangs around for a bit and makes it nearly impossible to catch the remove button.  Eventually the scroll bar fades away and you're able to remove click the button.  Just wondering if there is a solution to this or perhaps an alternate layout t

[2017-07-24 15:45] jasonLaster commented on #3428
Looks like we should apply the same margins to the watch expression close button and reload button as we do for breakpoints.

<img width="298" alt="screen shot 2017-07-24 at 11 43 45 am" src="https://user-images.githubusercontent.com/254562/28531653-78bbc89e-7065-11e7-8cae-8bec174778b7.png">

[2017-07-24 15:48] jasonLaster commented on #3421
ahh - i bet this is coming from my tabs test move!

https://github.com/devtools-html/debugger.html/pull/3413

[2017-07-24 15:48] #3403 closed

[2017-07-24 18:33] clarkbw opened #3430 "[SourceTree] fails on https://facebook.github.io/react/"
Here's the Steps to Reproduce:

1. Go to https://facebook.github.io/react/
2. Open debugger

I was just running Nightly via web-ext to test something with React DevTools and hit this error with the debugger.

The debugger comes up blank and spits out the following error.  Here's the location of the source of the error: https://github.com/devtools-html/debugger.html/blob/17b3be6d327a8f72e5f4c0b3478

[2017-07-24 18:37] jasonLaster commented on #3430
Thanks for the detailed report

[2017-07-24 20:16] jasonLaster commented on #3406
@clarkbw can we close this?

[2017-07-24 20:17] jasonLaster commented on #3386
should be fixed

[2017-07-24 20:17] #3386 closed

[2017-07-24 20:40] clarkbw commented on #3406
Yes, this issue is fixed.  Is there an issue on file for watch expression values remaining after no longer being paused?

[2017-07-24 20:40] #3406 closed

[2017-07-24 21:02] bzbarsky opened #3432 "[Workers] [Breakpoints]  in service workers don't work reliably"
STEPS TO REPRODUCE:

1)  Start current nightly with clean profile.
2)  Load about:debugging.
3)  Click the "Workers" text in the sidebar on the left.
4)  Click the "Opt out of multiple content processes" button in the yellow warning about service worker debugging not being e10s-multi compatible.
5)  Click "OK" in the resulting confirmation prompt.  This will restart your browser.
6)  After restart

[2017-07-24 21:04] wanderview commented on #3432
I guess I should clarify I was returning to an existing profile so I wasn't constantly restarting with the opt-out pref flip.

In the past this sort of thing has happened when we run the SW in one process, but the debugger in a different process.

[2017-07-24 21:09] wanderview commented on #3432
Sure enough, I have multiple web content processes.  Looking at about memory:

[code]

And:

[code]

It appears to be getting confused by the webextension process.

[2017-07-24 21:10] clarkbw commented on #3432
I think @wanderview filed [bug 1280737](https://bugzilla.mozilla.org/show_bug.cgi?id=1280737) a while back, is this the same issue as that?

[2017-07-24 21:12] wanderview commented on #3432
We shouldn't be running service workers in the extension process.  I filed this to try to look at it from the service worker side:

https://bugzilla.mozilla.org/show_bug.cgi?id=1383905

Is devtools running in the extension process now or something?

[2017-07-24 21:14] wanderview commented on #3432
I don't know.  I think its probably different since the extension process didn't exist back then.

[2017-07-24 21:30] clarkbw commented on #3432
I feel like I'm grasping at straws but it reminded me of this [bug](https://bugzilla.mozilla.org/show_bug.cgi?id=1373219) @rpl was working on (for extension debugging) and sounds similar.

[2017-07-24 21:40] #3398 closed

[2017-07-24 21:41] #3404 closed

[2017-07-24 21:41] jasonLaster commented on #3377
I cant reproduce this

[2017-07-24 21:41] #3377 closed

[2017-07-24 21:42] #3381 closed

[2017-07-24 21:42] jasonLaster commented on #3362
this has been updated

[2017-07-24 21:42] #3362 closed

[2017-07-24 21:43] #3319 closed

[2017-07-24 21:43] jasonLaster commented on #3319
closing as it's filed in devtools-core

[2017-07-24 21:44] #2586 closed

[2017-07-24 21:44] jasonLaster commented on #2586
We're no longer following this list. And yeah - we've done all the items too :)

[2017-07-24 21:44] #3055 closed

[2017-07-24 22:11] jasonLaster opened #3433 "[FileSearch] does not update match count"
The first search returns matches, the follow searches don't. It looks like there's some memory issue

<img src='https://shipusercontent.com/b618f2fcd6da82ba25b2c0263c5350ae/Screen%20Shot%202017-07-24%20at%206.10.39%20PM.png' title='Screen Shot 2017-07-24 at 6.10.39 PM.png' width=462>

[2017-07-24 22:19] jasonLaster commented on #3110
[STR]
1. open todomvc
2. open debugger.html -> todomvc
3. open debugger.html -> debugger.html
4. add a breakpoint in Editor/index.html#renderFooter

[2017-07-24 23:28] jasonLaster commented on #3357
I need to bump source editor

[2017-07-25 02:41] #3357 closed

[2017-07-25 02:42] jasonLaster commented on #3383
we can use this min-width fix if we need it: https://github.com/devtools-html/debugger.html/pull/3419

[2017-07-25 08:14] amelzer commented on #3258
I'll take care of that later today :)

[2017-07-25 08:15] #3342 closed

[2017-07-25 08:49] codehag opened #3439 "[sourcemaps] breakpoints disappear on sourcemapped sources"
Tested with this example: http://wbamberg.github.io/example-websites/source-mapping/index.html
It is also happening with this example: https://devtools-html.github.io/debugger-examples/examples/sequence-print/sequence_print.html

STR:
1. select an original source
2. add a breakpoint within the body of the file (outside of a function) -- should work
3. add a breakpoint within a function, the breakp

[2017-07-25 10:15] codehag commented on #3439
After investigating, I found that this was from column breakpoints being enabled. I made a fix, not sure it is the best one -- but I also added tests so that this doesn't come up in the future. The tests were failing and are now green, that's probably the best bit of the pr

[2017-07-25 15:17] #3433 closed

[2017-07-25 16:52] #3439 closed

[2017-07-25 16:53] jasonLaster commented on #3411
we can handle the view-source bug in another issue. The debugger should now scroll to the correct location every time

[2017-07-25 18:30] jasonLaster commented on #3426
![](http://g.recordit.co/gRe69H1SxU.gif)

[2017-07-25 18:35] jasonLaster commented on #3426
this is a bad fix https://gist.github.com/97dcee6db4dae1daa098ba5bd24cc466

but demonstrates the problem is w/ long content

[2017-07-25 18:54] jasonLaster opened #3447 "[Scopes] items should have the same height"
Items in the scopes view have different line heights. This is probably due to the triangle expandy on the left.

![](http://g.recordit.co/BWhwvdEgMD.gif)

[2017-07-25 18:59] jasonLaster commented on #3426
ah, `height: fit-content` where supported fixes the problem with commandbar. :wink:
http://caniuse.com/#feat=intrinsic-width
`.secondary-panes { height: fit-content; overflow-y: scroll; }`

[2017-07-25 19:48] Garbee commented on #3426
So, that "patch" I thought over... Leads to broken output. Also, since Sticky is still "in development" as a spec, this particular case *seems* to not be specified. If you check Note 3 in [the sticky spec](https://www.w3.org/TR/css-position-3/#sticky-pos) it reads:

I think this is the case we're hitting. Since the height is already "overflowing" the boundary, the engines aren't sure what to do wi

[2017-07-25 19:51] #3331 closed

[2017-07-25 19:51] jasonLaster commented on #1108
Here is a patch for styling project search:
https://gist.github.com/jasonLaster/b02fa35094cf5ef3d5055d329408aefc

[2017-07-25 20:43] jasonLaster commented on #2946
@jbhoosreddy @nchevobbe i'm worried that to properly diagnose this, we need to know about the grip we're previewing which will change OI in a decently large way.

[2017-07-25 20:59] jasonLaster opened #3448 "[AST] treat arrow functions as separate scopes"
I don't think you should be able to preview over these function params or bodies

![](http://g.recordit.co/4nLGibyWVf.gif)

STR:

1. debug debugger.html
2. add a breakpoint in ManagedTree.js#130

This diff is a small: hopefully correct edge case
[code]

[2017-07-25 21:27] ryanjduffy commented on #3402
Just pulled down the latest and I'm not seeing this behavior. Here's a screencap of the same search:

![image](https://user-images.githubusercontent.com/788456/28594577-1485f60a-7156-11e7-8401-174878ea47cd.png)

[2017-07-25 21:45] jasonLaster opened #3449 "[Breakpoints] can’t delete a persisted breakpoint"
I tried deleting a bad pending bp, but it kept coming back when i re-opened the debugger.

The reason for this is that it was saved as a generated location before the new version of the debugger was released. We should bump the schema to clear out old BPs!

[2017-07-25 21:56] bzbarsky opened #3450 "[SourceSearch] Searching for long not-found text has really bizarre behavior"
STEPS TO REPRODUCE:

1) Load https://bugzilla.mozilla.org/show_bug.cgi?id=1382311#c4 and select all the text in that comment.
2) Load https://en.wikipedia.org/wiki/Barack_Obama in Firefox
3) Open devtools, select debugger tab.
4) Start a search (Cmd+P on Mac).
5) Paste (Cmd+V).

EXPECTED RESULTS: text not found, communicated in some sane way.

ACTUAL RESULTS: text not found and suddenly there is h

[2017-07-25 22:06] bzbarsky opened #3451 "[PrettyPrint] Unable to prettify (prettyprint, pretty-print) source of some scripts"
STEPS TO REPRODUCE:

1) Load https://en.wikipedia.org/wiki/Barack_Obama in Firefox
2) Open debugger.
3) Search for "addEmbeddedCss"
4) Click on one of the hits (in load.php)
5) Attempt to pretty-print the script.

EXPECTED RESULTS: Can do it.

ACTUAL RESULTS: The "prettyprint this" UI is absent.

ADDITIONAL INFORMATION: The old debugger UI lets me prettyprint this script.

[2017-07-25 23:25] violasong commented on #3380
Assuming the line numbers are important we could truncate it like this:
<img width="290" alt="screen shot 2017-07-25 at 4 15 44 pm" src="https://user-images.githubusercontent.com/55994/28597760-ab687162-7154-11e7-8f13-ded854bc67ae.png">

I do also like what Chrome does as @bomsy pointed out. Ours could look like this:
<img width="288" alt="image" src="https://user-images.githubusercontent.com/5599

[2017-07-25 23:34] #3110 closed

[2017-07-25 23:36] jasonLaster commented on #3402
closing this as we can't reproduce it. We can re-open if it *comes* back

[2017-07-25 23:36] #3402 closed

[2017-07-26 00:10] jasonLaster commented on #3450
<img src='https://shipusercontent.com/970db37c50f3154965c7f10532e55b53/Screen%20Shot%202017-07-25%20at%208.09.46%20PM.png' title='Screen Shot 2017-07-25 at 8.09.46 PM.png' width=571>

[2017-07-26 00:13] jasonLaster opened #3453 "[stepping] [SourceMap] step to a new position"
The old debugger had some nice features around stepping to a new position. For instance if you're stepping in an original source, and you land in a null mapping. Or if you land at the same original location as before

http://searchfox.org/mozilla-central/source/devtools/server/actors/script.js#841-860,862-868

[2017-07-26 02:14] bzbarsky commented on #3450
What I see is this:
![image](https://user-images.githubusercontent.com/1457979/28601492-866bfa14-7186-11e7-850d-11309d8bff1a.png)

[2017-07-26 10:07] nchevobbe commented on #2946
What about having a `parent` property on the ObjectInspectorItem so we can retrieve it quickly ?
Also, it seems that we don't have `default-property` CSS class in devtools-reps, which I'll add.

This leads to another issue, when logging the window to the console, I don't want it to have this style applied. I see value having it in the scope, since it's always there, so I'll think of something to b

[2017-07-26 11:51] bomsy commented on #3390
i tried to reproduce this,  i get this

![](http://g.recordit.co/o8UNOp6Mq5.gif)

Looks like it works now. Or am i misunderstanding something?

[2017-07-26 12:01] codehag commented on #3428
Im taking this one on because i want to think a bit about our css system and this might be a good spot to try something

[2017-07-26 13:00] tromey commented on #3390
That looks correct to me.

[2017-07-26 13:37] jasonLaster commented on #3428
:thumbsup:

[2017-07-26 13:59] bomsy commented on #3390
Cool thanks! this looks like its fixed, will do a bit more testing and close this

[2017-07-26 14:47] yurydelendik opened #3459 "[Breakpoints] [SourceMap] Two identical breakpoints shown when the same source is used in two bundles"
STR:

1. Open and start debugging https://devtools-html.github.io/debugger-examples/examples/dualuse/dualuse.html
2. In the debugger, at webpack://log.js set breakpoint at `console.log` expression
3. Reload the dualuse.html to break on the breakpoint

Actual result:

Notice two breakpoints appeared at the sidebar list:
<img width="976" alt="screen shot 2017-07-26 at 9 43 24 am" src="https://user-i

[2017-07-26 14:53] clarkbw commented on #3428
Also just realized the other step to reproduce this is to try deleting a number of watch expressions at once.

1. Create several watch expressions for anything
1. Pause on a breakpoint where the sidebar overflows
2. Click the remove button on the first watch expression
3. The other watch expressions should slide up and the next remove button should be under your mouse however the scroll bar often

[2017-07-26 15:09] yurydelendik commented on #3459
After playing with different tabs states before step 3 (reload dualuse.html), it shows different UI issues (log.js tab is closed, or active/not active): debugger line is not seleceted but maybe flashes, or tab is not selected.

[2017-07-26 15:24] jasonLaster commented on #2946
that sounds good - i like having parent passed down to `renderItem`. I'll see what I can do with the `tree` component.

[2017-07-26 15:25] jasonLaster commented on #3459
This is very similar to two different cases:

1. pretty printing a generated source
2. pretty printing an original source

[2017-07-26 15:42] nchevobbe commented on #2946
I was thinking to do it directly in the `createNode` function, which would then return `{name, path, contents, parent}`.
This way we would have access to the parent item for each item (and not only in the renderItem function).
In fact, I am already experimenting with it for the "show set/map entries in OI".
I'll ping you on the PR so you can tell me how it feels.

[2017-07-26 16:07] clarkbw opened #3460 "[FileSearch] Firefox becomes unresponsive when searching across very long lines"
**Coming from [bug 1384536](https://bugzilla.mozilla.org/show_bug.cgi?id=1384536)**

[Steps to reproduce]:
1. Go to https://duckduckgo.com/
2. Open Debugger.
3. cmd+P to open the file d2190.js
4. Press CTRL + F or CMD + F
5. Search for "data"

Firefox beach balls as you type 't'

[2017-07-26 16:11] clarkbw opened #3461 "[WatchExpressions] values should be cleared upon resume"
**Coming from [bug 1379978](https://bugzilla.mozilla.org/show_bug.cgi?id=1379978)**

[Steps to reproduce]:
1. Open Firefox and go to https://devtools-html.github.io/debugger-examples/examples/todomvc/
2. Open Debugger.
3. Add Watch Expression `this`
4. Open (cmd+p) todo-view.js
5. Create breakpoint on line line 34
6. Add new todo item into page, see debugger paused and `this` value becomes `Object

[2017-07-26 16:19] jasonLaster opened #3462 "[Preview] highlight params with flow types"
We currently do two things which are weird:

1. we highlight both the param and the type, we should
2. we preview the flow type as undefined (i think we try to eval it)

---

In the short term, I think we should

1. just highlight the param
2. we should probably not show a preview for flow types. Maybe we have a preview tooltip where we just say it's flow...

![](http://g.recordit.co/C00rQ9QRvh.gi

[2017-07-26 16:20] jasonLaster opened #3463 "[Breakpoints] conditional breakpoint panel are shown one line down"
We're currently showing a conditional breakpoint one line too far down

![](http://g.recordit.co/obhVN9boDU.gif)

[2017-07-26 16:20] jasonLaster commented on #2946
That would be even better!

[2017-07-26 16:29] jasonLaster commented on #3459
This is kinda how I see it

<img src='https://shipusercontent.com/fe51b57fb6c4c07c76125a42ff3a4227/Screen%20Shot%202017-07-26%20at%2012.28.53%20PM.png' title='Screen Shot 2017-07-26 at 12.28.53 PM.png' width=374>

[2017-07-26 16:59] jasonLaster opened #3464 "[CallStack] the frame location is off"
it's interesting that `addToTree` references line 190, when the function starts on 169.

STR
1. add a breakpoint in sources-tree.js#200

<img src='https://shipusercontent.com/81a6ba7b2e94e5cc22d86220956349e5/Screen%20Shot%202017-07-26%20at%2012.58.33%20PM.png' title='Screen Shot 2017-07-26 at 12.58.33 PM.png' width=1017>

[2017-07-26 17:56] jasonLaster commented on #3073
This has been fixed by the editor stability work we did last week

[2017-07-26 17:56] #3073 closed

[2017-07-26 17:56] #3095 closed

[2017-07-26 18:00] jasonLaster commented on #3389
started a test

https://github.com/jasonLaster/debugger.html/tree/layout-test

[2017-07-26 18:15] jasonLaster commented on #3430
Here's a small testcase:

turns out we assume that if the URL doesn't have an extension it is a dir

[code]

[2017-07-26 19:56] bomsy opened #3467 "[Project Text Search] Highlight line where the text match was found when source file is opened"
We want to highlight the line and possibly the text match when a source file is opened from clicking one of the matches in project-text-search

[2017-07-26 21:00] violasong opened #3469 "[SourceSearch] Improve not-found UI"
Fixes #3450

Currently, no results looks like this:
<img width="544" alt="image" src="https://user-images.githubusercontent.com/55994/28643402-949cb45a-720a-11e7-9afd-11e838e796ed.png">

I'm proposing we:

- [x] remove the error-red color since there's not necessarily anything wrong here
- [x] remove the sad smileys because the mood should be neutral
- [x] change message to the less redundant "No

[2017-07-26 22:05] jasonLaster commented on #3430
I've dug into this for the past 4 hours w/ @gregtatum's help and we found that the code assumed that new URL parts that were already in the tree would be directories (see [here]).

Fixing this requires a fancy rigermarole where we take the child who's a source and replace it with a new directory subtree. Not fun.

I'll make a small patch tomorrow, that keeps the tree from blowing up, but we'll nee

[2017-07-27 09:04] codehag commented on #3430
hmm I poked around in this code a bit -- I will also take a look

[2017-07-27 09:31] codehag opened #3471 "[Testing] AST snapshot changes on different runs"
Running the tests sometimes updates the AST snapshot unexpectedly and creates the following change:

[code]

It causes tests to fail randomly, we should check that this is not a symptom of a bigger issue

Unfortunately no solid STR... just running the tests over and over again

[2017-07-27 09:36] codehag commented on #3469
:+1: great suggestions

[2017-07-27 10:35] codehag commented on #3460
Some more info -- this happens in the panel but not in the web version

[2017-07-27 11:10] codehag commented on #3460
[code]

[2017-07-27 12:09] codehag commented on #3390
I think I found what is happening. the last bracket requires that you step over twice, it doesnt show the return value on the first step.

I think we don't want to have two steps at the end of the function. any ideas on how to avoid that?

[2017-07-27 12:13] codehag commented on #3380
Would be great to have an STR for this!

[2017-07-27 12:21] codehag commented on #3450
closing in favor of #3469

[2017-07-27 12:21] #3450 closed

[2017-07-27 13:01] bzbarsky commented on #3469
Please make sure the new setup handles the issue raised in https://github.com/devtools-html/debugger.html/issues/3450 (the error text bleeding all over the UI) sanely.

[2017-07-27 13:07] codehag commented on #3469
Yes, of course :) we have decided that it doesn't make sense to give so much information, and we are opting for a simplified text which is "no results found" rather than including the attempted search query.

[2017-07-27 13:31] jasonLaster commented on #2946
we can do this post release

[2017-07-27 13:31] #3421 closed

[2017-07-27 13:32] #3449 closed

[2017-07-27 13:56] codehag commented on #3426
i will close this for now as we have a fix. we can revisit if there are issues

[2017-07-27 13:56] #3426 closed

[2017-07-27 14:15] gregtatum commented on #3430
As a future note it would be good to make sure the Flow types are all fully covered and strict here. I think that will help for longer term maintenance. I also think having code comments with examples of why a lot of the code is there would help. This code is hard and mysterious so I think it would be good have lots of comments everywhere.

For instance with the existing isDirectory function the f

[2017-07-27 14:16] yurydelendik commented on #3390
So Debugger API shows return value at [Debugger.Frame::onPop](https://developer.mozilla.org/en-US/docs/Tools/Debugger-API/Debugger.Frame) -- you cannot ignore this one. It comes after last step, which can be somehow ignored, but it is hard. A frame has location (offset) property, but it does not give you much.

[2017-07-27 14:24] tromey commented on #3390
This is what I was looking into when I found that I couldn't see the <return> at all.

I'm not sure whether I'll implement it or not, but the basic idea is to add a new debugger API so the server can tell whether it's stopped at a return opcode, and, if so, keep going until the frame pop.

[2017-07-27 14:33] jasonLaster commented on #3390
@tromey That would be nice.

[2017-07-27 14:35] jasonLaster opened #3474 "[Scopes] improve the UI interaction"
It would be nice to think about:

1. hover state
2. select/focus state
3. keyboard interactions

<img src='https://shipusercontent.com/ab97e43ce3de64a2dfa56aa54e2c89e6/Screen%20Shot%202017-07-27%20at%2010.26.58%20AM.png' title='Screen Shot 2017-07-27 at 10.26.58 AM.png' width=773>

[2017-07-27 14:37] yurydelendik commented on #3390
@tromey I don't think you needs a new api -- all you need to disable breaking point in SpiderMonkey just before frame pops. (I know how to do it for wasm part -- I was modeling it after the JS behavior)

[2017-07-27 14:39] jasonLaster commented on #3390
@tromey @yurydelendik lets move this to a more specific bugzilla ticket.

[2017-07-27 14:42] tromey commented on #3390
https://bugzilla.mozilla.org/show_bug.cgi?id=970469

[2017-07-27 14:48] jasonLaster opened #3475 "[FileSearch] Can't iterate through search results after switching to a different file"
From: https://bugzilla.mozilla.org/show_bug.cgi?id=1384933

[Steps to reproduce]:
1. Go to https://devtools-html.github.io/debugger-examples/examples/todomvc/
2. Open the Debugger.
3. From "Source list pane" section, select a file that has the ".js" termination.
4. On Windows - Press CTRL + F
   On Mac - Press CMD + F
Search for a term that can be found (e.g listenTo).
5. Navigate to another file

[2017-07-27 14:48] tromey commented on #3390
FWIW I tried this with a new artifact build based on today's inbound tip, and I can still reproduce the problem.

[2017-07-27 16:11] jasonLaster commented on #3460
https://perf-html.io/from-addon/timeline/?hiddenThreads=&hidePlatformDetails&invertCallstack&range=5.2570_6.3289~5.2654_6.1030&thread=2&threadOrder=0-2-1

here's a profile

[2017-07-27 16:19] clarkbw commented on #3460
I don't think that's the public URL, you need to share the profile first.

[2017-07-27 16:20] bomsy commented on #3390
i tested it on the `next` branch seems to be fixed there

[2017-07-27 18:43] jasonLaster opened #3479 "[SourceMap] Breakpoint is not hit"
[STR]
1. yarn storybook in debugger.html
2. add a breakpoint in [SearchInput.js#44](https://github.com/devtools-html/debugger.html/blob/master/src/components/stories/SearchInput.js)
3. click on a search input story

#### New Debugger
![](http://g.recordit.co/MPLXBMS96c.gif)

#### Old Debugger
![](http://g.recordit.co/481wEU2pBC.gif)

[2017-07-27 21:00] jasonLaster opened #3482 "[Editor] Highlight executable lines"
Firebug and Chrome fade lines that are not executable. There are some advantages of this UI:

* it differentiates between code and comments or whitespace
* it makes it clear which lines you can add breakpoints on

parity: https://bugzilla.mozilla.org/show_bug.cgi?id=1138243

<img src='https://shipusercontent.com/14eb9789858be39edcc831aa8dc3b5c5/Screen%20Shot%202017-07-27%20at%204.58.31%20PM.png' t

[2017-07-27 21:14] jasonLaster opened #3483 "[Expressions] Remove visible field"
We no longer have the notion of visible/hidden expressions so we should drop the field from the redux side.

[2017-07-27 22:56] jasonLaster commented on #3336
here's a bugzilla issue:
https://bugzilla.mozilla.org/show_bug.cgi?id=1383576

and brasstacks where you can see error logs from runs:
https://auth.mozilla.auth0.com/login?client=6aTSai8cSirN09rQdDD9FsprlcP0brUM&protocol=oauth2&redirect_uri=https%3A%2F%2Fbrasstacks.mozilla.com%2Flogin_callback&response_type=code&prompt=&nonce=95403778a9c93c99f70102c735456d58&scope=openid%20email%20profile&state=K-b

[2017-07-28 03:20] wldcordeiro commented on #3469
@bzbarsky that issue will be closed because this change will invalidate the issue.

[2017-07-28 09:57] codehag opened #3487 "[Storybook] Preview has location error"
We are having a bit of trouble with our storybook code. When trying to work with preview we get this rather intense error:

<img width="1282" alt="screen shot 2017-07-28 at 11 53 43 am" src="https://user-images.githubusercontent.com/26968615/28712468-8dd5ef10-738b-11e7-8f0a-217de4ea65b4.png">

It looks like we have an issue with `markText` on line 52 in `Preview.js`.

To run story book, type `yarn

[2017-07-28 10:48] amelzer commented on #3258
Hey, I tried to find some ember projects to try this with but I mostly could'n get them to run. Any recommendations on where to find a simple project?

[2017-07-28 10:52] locks commented on #3258
Hey @amelzer, here's a list of a couple of Ember applications you can test on:

- https://emberjs.com/api
- https://emberjs.com/builds
- http://emberobserver.com/
- https://ember-twiddle.com/

[2017-07-28 11:15] amelzer commented on #3258
Hey @locks , thank you for your fast reply. I am just trying to get that old logo to show, maybe I am not on the right track :)

[2017-07-28 13:45] #3032 closed

[2017-07-28 14:20] codehag opened #3489 "Yarn 0.27.5 breaks CI, jest, and flow"
This is a tracking ticket for our issues with the most recent yarn, which we should check -- see what is on our side and what is really failing

so far we have had these failures:

- `yarn nom` introduces `react-dom-factories` which has an incompatible version of react for us. This cause `yarn check` to fail with this error [1].
- a fresh install will try to install `fsevents@1.1.1` -- which fails

[2017-07-28 14:59] jasonLaster opened #3490 "[Expressions] We should not store the values"
We're currently getting warnings in the browser console because we're storing expression values in prefs which could be big

[code]

The fix can go here

[code]

[2017-07-28 18:19] jasonLaster opened #3493 "[Expressions] don’t evaluate while we’re stepping"
We currently evaluate expressions whenever we resume. The problem is that we resume before we pause when we step.

We should fix this because it slows down our stepping speed. We'll want to do something like [this](https://github.com/devtools-html/debugger.html/compare/next...jasonLaster:currently-stepping?expand=1)

[code]

[2017-07-28 19:08] jasonLaster opened #3495 "[SourceSearch] should focus on open"
STR:
1. cmd+p

AR: input is focused
ER: input is not focused :/

This commit https://github.com/devtools-html/debugger.html/commit/829954d7ba56e95f6ae28cd4c377accc809a01d9 unintentionally regressed source search focusing on open.

This test change demonstrates the regression:

[code]

I found this code smell too:

[code]

Another weird outcome of the modal being open is that "Escape" is always han

[2017-07-28 19:12] jasonLaster opened #3496 "[Expressions] should have a unique key"
It looks like the recent change to expressions caused the keys to no longer be unique

[code]

[2017-07-28 19:43] #3467 closed

[2017-07-28 20:47] jasonLaster opened #3500 "[DebugLine] expressions are not marked when selecting sources"
STR:
1. pause
2. select a source where there's another frame

ER: see the debug expression
AR: you see the debug line, but not expression

NOTE: selecting frames in the call stack properly show expressions.

![](http://g.recordit.co/ZmvPyJc1k7.gif)

[2017-07-28 20:47] #3461 closed

[2017-07-28 20:47] #3428 closed

[2017-07-28 20:48] jasonLaster commented on #3430
We landed a quick fix, we should come back and do the full fix

[2017-07-28 21:03] bomsy opened #3501 "[ProjectTextSearch] Add keyboard actions for accessibility"
We need to add keyboard actions

* Pressing Enter on a highlighted match should open the source file
* Pressing Enter on File path should expand or collapse the list of matches

[2017-07-29 03:06] jasonLaster commented on #3500
There's a similar issue with breakpoints:

![](http://g.recordit.co/WtAiNEpRhC.gif)

[2017-07-29 03:07] jasonLaster opened #3503 "[Stepping] Continue to here"
It would be nice if we supported "Continue to Here", where the user could jump to another location.

Here is a [gist](https://gist.github.com/7be508c1b1cbb181cea83893d5f21c29) where I sketch out the solution:

1. it adds a menu item for continue to here
2. it adds a continue to here action
  - adds a hidden breakpoint at that line
  - resumes
3. removes the hidden breakpoint when we pause
4. profi

[2017-07-29 11:13] #3501 closed

[2017-07-29 17:16] irfanhudda commented on #3343
Is this already fixed?

![screen](https://user-images.githubusercontent.com/1755089/28743918-97835906-7473-11e7-8f6c-86cc2be60d05.png)

[2017-07-29 17:32] jasonLaster commented on #3343
I don't think so...
On Sat, Jul 29, 2017 at 1:16 PM Irfan Hudda <notifications@github.com>
wrote:

[2017-07-31 06:44] nchevobbe commented on #2946
I'm wondering now if it would make more sense to only dim the `[default properties]` node when it is collapsed (as well as the `__proto__` one), and render it as a regular one when it is expanded.

The reason being that if you did expand the node, this means that you are probably interested in seeing what's inside, and having the node semi-transparent does not help.

As a bonus, it would be super

[2017-07-31 06:57] wldcordeiro opened #3506 "Convert Components to JSX"
We've been looking into converting our components to JSX for a while this is a tracking issue.

#### Automation

This [jscodeshift][jsc] could help out :)
[jsc]:https://github.com/HipsterBrown/espresso/blob/master/src/transforms/jsx.js

# Components

- [x] App
- [x] SymbolModal
- [x] WelcomeBox
- [x] Breakpoints
- [x] CallSites
- [x] ConditionalPanel
- [x] Footer
- [x] Editor (index)
- [x] Preview

[2017-07-31 09:07] wldcordeiro commented on #1167
This file isn't skipped anymore. Closing.

[2017-07-31 13:53] jasonLaster commented on #1167
haha - i'm playing a dangerous game where i'm skipping it in MC but not on circle.

Not sure why it is flakey on circle though

[2017-07-31 14:02] jasonLaster commented on #2946
Yes, i think that's the way to go.

[2017-07-31 14:14] jasonLaster opened #3508 "[Editor] toggling conditional breakpoints fails when layout changes"
STR:
1. select a source
2. cmd+shift+b to add a conditional breakpoint pane
3. change the layout
4. cmd+shift+b to remove the conditional breakpoint pane

ER: pane closes
AR: a new pane opens

![](http://g.recordit.co/fVI9IjbQyb.gif)

[2017-07-31 14:14] jasonLaster commented on #3343
This looks fixed

[2017-07-31 14:14] #3343 closed

[2017-07-31 14:16] jasonLaster opened #3509 "[prettier] check *.css files when updating"
I think we currently miss the css files with the bin/prettier script

[2017-07-31 14:29] jasonLaster opened #3510 "[TESTS] tabs unit test is intermittent on CI"
[code]

[2017-07-31 17:43] darkwing commented on #3487
I can't seem to reproduce this; working well for me.

[2017-07-31 18:28] jasonLaster opened #3514 "Kill the Web Test Runner"
The web test runner, has currently been deprecated for the past two months while we have worked to stabilize the debugger in preparation of 56.

Over this time, I've realized that we do not have enough mochitests and have continued adding additional tests.

We have two options as I see it, we can invest the time to stabilize WTR or we can kill it (with the option of reviving at any point).

#### S

[2017-07-31 18:30] jasonLaster commented on #2081
I think this is fixed by https://github.com/devtools-html/devtools-core/pull/515

[2017-07-31 18:30] #2081 closed

[2017-07-31 18:31] #2257 closed

[2017-07-31 18:31] #2412 closed

[2017-07-31 19:27] darkwing commented on #3482
I'm noticing that if there's an empty line (last line in my test doc), if I click the line number to create a breakpoint, the new breakpoint shows up in the Breakpoints list *very briefly*, then goes away.

[2017-07-31 19:52] darkwing commented on #2944
I cannot reproduce this either

[2017-07-31 19:52] jasonLaster commented on #3482
Here's a quick sketch of what the implementation could look like.

We basically walk through the tokens and peek at them :)

[code]

[2017-07-31 19:56] #3369 closed

[2017-07-31 19:57] jasonLaster commented on #2944
Thanks!

[2017-07-31 19:59] jasonLaster commented on #2944
yep - all fixed!

[2017-07-31 20:00] jasonLaster commented on #2630
We now have a lot more tests and i feel like we have the patterns we need to move forward

[2017-07-31 20:00] #2630 closed

[2017-07-31 20:01] jasonLaster commented on #2587
closing, i think this is in a great spot!

[2017-07-31 20:01] #2587 closed

[2017-07-31 20:03] #3016 closed

[2017-07-31 20:03] jasonLaster commented on #3016
Fixed!

[2017-07-31 20:03] jasonLaster commented on #2936
Fixed now that we have the modal

[2017-07-31 20:03] #2936 closed

[2017-07-31 20:04] jasonLaster commented on #3056
fixed now that we're not highlighting the lines

[2017-07-31 20:04] #3056 closed

[2017-07-31 20:04] #3088 closed

[2017-07-31 20:05] jasonLaster commented on #2881
We now have many stories which is great, i'm going to close the tracking issue

[2017-07-31 20:05] #2881 closed

[2017-07-31 20:10] jasonLaster commented on #3148
closing as I believe we've addressed these bugs and the issue itself is not actionable

[2017-07-31 20:10] #3148 closed

[2017-07-31 20:10] #3217 closed

[2017-07-31 20:10] jasonLaster commented on #3217
I don't think this is an issue any more

[2017-07-31 20:11] jasonLaster commented on #3070
This is now done :)

[2017-07-31 20:11] #3070 closed

[2017-07-31 20:11] jasonLaster commented on #3270
We're landing the streaming worker

[2017-07-31 20:14] jasonLaster commented on #3103
This is now a duplicte of #3264

[2017-07-31 20:14] #3103 closed

[2017-07-31 20:15] jasonLaster commented on #3296
@bomsy where is this at?

[2017-07-31 20:16] jasonLaster commented on #3308
@darkwing - do you have an STR for this case?

[2017-07-31 20:17] jasonLaster commented on #3312
looks like a bug in `prettyFast`...

[2017-07-31 20:19] jasonLaster commented on #3315
@vladikoff I'm going to close this as this project is focused on the debugger UI. This is likely a console issue.

[2017-07-31 20:19] #3315 closed

[2017-07-31 20:20] #3323 closed

[2017-07-31 20:20] jasonLaster commented on #3323
closing this issue as i don't think we're going to include a source map in MC

[2017-07-31 20:20] #3320 closed

[2017-07-31 20:20] jasonLaster commented on #3320
closing as the bug is in core

[2017-07-31 20:29] jasonLaster commented on #3233
I'd like to focus on what atom and sublime do with CLI like UIs

`@` `*` `#` etc

[2017-07-31 20:31] jasonLaster commented on #3365
re-filing in devtools core where the object inspector is now maintained: https://github.com/devtools-html/devtools-core/issues/538

[2017-07-31 20:31] #3365 closed

[2017-07-31 20:32] #3469 closed

[2017-07-31 20:56] codehag commented on #3510
It looks like the fix is merged, what is the criteria for closing this? do we want to wait a bit and see if it comes up again?

[2017-07-31 21:08] codehag commented on #3509
I took a look and we check `src/components/**/*.css` -- is this enough or are there other css files we want to check?

[2017-07-31 21:38] codehag commented on #3496
I did a bit of investigation, the problem appears to be in how we generate the key in managedTree / ObjectInspector. In object inspector we are returning `item.path` as the item key, which can be undefined if the debugger is not paused, or the watch expression does not exist in that pane..

we are also using the key to manage expanded state in managedTree, making this a bit risky to change. we mig

[2017-07-31 21:48] jasonLaster commented on #3510
I don't think this was AST actually, it was tabs...

[2017-07-31 21:48] jasonLaster commented on #3510
the criteria is it appearing. The error should be gone in CI

[2017-07-31 21:48] jasonLaster commented on #3509
that should be enough

[2017-07-31 21:49] codehag commented on #3509
:+1: then we can close this one for now

[2017-07-31 21:49] #3509 closed

[2017-07-31 21:49] jasonLaster opened #3517 "Merge next into master"
We created a separate development branch `next` a couple weeks ago in anticipation of 56. Now that we've landed 56 releases, we should merge next onto master.

[2017-08-01 12:59] Anzumana commented on #3487
will take this one. maybe i can reproduce it.
what operating system and commit / branch did you use @darkwing

[2017-08-01 15:10] jasonLaster opened #3519 "[Expressions] throws a unique key warning"

[2017-08-01 15:11] bomsy commented on #3519
This looks like a duplicate of https://github.com/devtools-html/debugger.html/issues/3496

[2017-08-01 15:14] jasonLaster opened #3520 "[FileSearch] stop showing “no results”  for long lines"
When there's a file with a really long line, we currently return `[]` from get match results, which results in a UI with "No Results" and a sad face

[2017-08-01 15:14] #3519 closed

[2017-08-01 16:53] jasonLaster commented on #3487
It shouldn't matter. Happy to close if you couldn't reproduce:

1. `yarn storybook`
2. go to *simple object*

[2017-08-01 17:11] frigus02 commented on #3158
I just tried to reproduce the behavior and noticed that the search UI looks very different already. Ctrl+Shift+O opens a modal. And this seems to include all functions (including async and exported ones).

![debugger-search-modal-async-functions](https://user-images.githubusercontent.com/3579251/28837423-f5c4919e-76ec-11e7-8e25-c2750307c394.png)

Maybe I'm looking at the wrong branch, though.

[2017-08-01 17:22] jasonLaster commented on #3158
oh wow - thanks. maybe this is fixed then.

The modal *is* new.

[2017-08-01 17:22] jasonLaster commented on #3158
lets see if the tests demonstrate this behavior

[2017-08-01 17:41] jasonLaster commented on #2185
@nchevobbe is this a console bug or debugger bug?

[2017-08-01 17:50] frigus02 commented on #3158
Nice. I'm trying to get a pull request ready.

[2017-08-01 18:07] codehag commented on #3366
We haven't run into this issue since this was opened, so I think this can be closed

[2017-08-01 18:07] #3366 closed

[2017-08-01 19:55] Anzumana commented on #3487
also works for me.  @codehag can you reproduce the issue consistently?

[2017-08-01 19:57] codehag commented on #3487
hm. yes. i wonder what is going on...
yarn version is 0.24.5, just tried the most recent master :/

[2017-08-01 20:37] jasonLaster opened #3523 "[Dark] Improve background color styling"
We seem to have two background colors that are used almost everywhere (light and dark grey-blue)

- [x] sidebars bleed into the editor (same background)
- [x] source search especially bleeds into editors
- [ ] symbol popup has the same background
- [x] right sidebar has a zebra thing

there is also a question of focus, selected, and hover background states too

---

<img src='https://shipuserconte

[2017-08-01 20:49] jasonLaster commented on #3489
If you run into this revert to 24.5

` npm install yarn@0.24.5 -g`

[2017-08-01 21:22] jasonLaster commented on #3158
Thanks @figus02, are you interested in working on getting support for async functions?

[2017-08-01 21:29] jasonLaster opened #3524 "[dark] gap in source search width"
it looks like we allowed a gap to appear in between source search and the editor

<img src='https://shipusercontent.com/df3e2c2775b27b9714aecbb7f100ba06/Screen%20Shot%202017-08-01%20at%205.28.37%20PM.png' title='Screen Shot 2017-08-01 at 5.28.37 PM.png' width=417>

[2017-08-01 23:11] #3158 closed

[2017-08-01 23:20] #3234 closed

[2017-08-01 23:21] jasonLaster commented on #2859
hmm, i'm not sure if @oriharel's work landed: https://github.com/oriharel/debugger.html/commit/7b192f71232bdedbe36bd18cd537389de97f3ada

[2017-08-02 07:13] Ronsho commented on #3355
PR created -> https://github.com/devtools-html/debugger.html/pull/3526

[2017-08-02 09:43] bomsy commented on #3091
@jasonLaster  is this done?

[2017-08-02 11:10] bomsy commented on #3493
![image](https://user-images.githubusercontent.com/792924/28871193-70d11b30-777b-11e7-8586-d80657d9b9a3.png)

it looks like it takes an average of 2+ secs

[2017-08-02 11:59] nchevobbe commented on #2185
I'm seeing this error with the old console + old debugger as well, so it might be more something related to the server I guess.

In the new console, we use the [Stacktrace component](http://searchfox.org/mozilla-central/source/devtools/client/shared/components/stack-trace.js#31) which we pass [the stacktrace we get from the packet](http://searchfox.org/mozilla-central/source/devtools/client/webcon

[2017-08-02 13:38] codehag commented on #3355
Thanks!

[2017-08-02 13:38] #3355 closed

[2017-08-02 13:57] jasonLaster commented on #3493
it's probably slower on the launchpad.

Also, how many watch expressions do you have?

[2017-08-02 13:57] #3091 closed

[2017-08-02 14:41] jasonLaster opened #3528 "[SourceTree] add flow types"
We should flow type the source tree utils

[2017-08-02 14:41] jasonLaster opened #3529 "[SourceTree] add snapshot tests "
We would benefit from having snapshot tests in addToTree so we can see how the tree changes over time

[2017-08-02 15:15] bomsy commented on #3493
True! Ignore the perf image above, made a wrong assumption

[2017-08-02 16:01] bomsy commented on #3296
It seems like there is some regression here, Clicking to add the breakpoint no longer works... will investigate

[2017-08-02 16:54] codehag opened #3531 "[PrettyPrint] add unit tests for toggle pretty print"
We need a test to check the following:

- a new, formatted source is added
- breakpoints are translated to the new source
- edge cases

this should be added to the sources tests

[2017-08-02 17:05] codehag opened #3532 "[Pretty Print] breakpoints are not persisted"
We are not persisting breakpoints that are added to a pretty printed source.

STR:

* open the debugger and point to math.min
* pretty print the source
* add a breakpoint
* reload

expected: breakpoint is on the minified source
actual: no breakpoint

[2017-08-02 20:32] zenorocha opened #3537 "Standardize colors with base16"
Hey everyone,

It seems to me that the dark theme used here was inspired by [Dracula](https://draculatheme.com). I created this project few years ago and today it's one of the most used color schemes out there. So I'm wondering if you're interested in following the [color palette](https://github.com/dracula/dracula-theme/#color-palette) we defined there. I believe it would be a very nice improveme

[2017-08-02 20:35] jasonLaster commented on #3537
Hey @zenorocha! Great timing. We've been discussing color palettes a lot recently.

Would you mind hopping in our slack room so we can discuss: https://devtools-html-slack.herokuapp.com/

The dream would be to adopt a system where users could choose a theme firefox dark, light, firebug, dracula, one dark, ... etc.

[2017-08-02 21:28] jasonLaster commented on #3537
Here's a sketch [branch] that creates a theme system based on base16 with a couple new themes (dracula, one-light).

[branch]:https://github.com/devtools-html/debugger.html/compare/master...jasonLaster:themes?expand=1

The concept is that we can switch our variables to a base(0-16) system so that the firefox themes don't change, but we can begin to support new themes as well.

![](http://g.recordi

[2017-08-02 21:54] jasonLaster commented on #3537
React DevTools built there themes off of base16 with some extra sauce:

https://github.com/facebook/react-devtools/blob/master/frontend/types.js#L83-L123

https://github.com/facebook/react-devtools/blob/master/frontend/Themes/Themes.js

CC @bvaughn

[2017-08-02 21:56] bvaughn commented on #3537
It would be lovely if we could share themes somehow between both DevTools 😄  Probably a pipe dream though.

[2017-08-02 21:57] jasonLaster commented on #3537
perhaps we can. All we'd have to do is write the themes to a style tag...

[2017-08-02 22:05] zenorocha commented on #3537
That would be awesome!

[2017-08-03 00:03] jasonLaster commented on #3537
I updated the branch a bit so that we can pull in react devtools themes and alternate through the themes with this new console command `updateThemes`

There's now a new repo [devtools-themes](https://github.com/jasonLaster/devtools-themes) that we can import.

![](http://g.recordit.co/xekfVoWT0p.gif)

[2017-08-03 01:36] bvaughn commented on #3537
😲 😁

[2017-08-03 03:56] jasonLaster commented on #3537
Just created a new [branch], which uses `devtools-themes` and aliases the existing variables as opposed to replacing them.

* The diff is much smaller
* we can likely land it incrementally as well, which is a huge win.
* and we can play with the individual variable mappings `theme-comment: var(--base00);` without getting confused did `--base00` map to theme-comment or theme-sidebar?

https://githu

[2017-08-03 09:24] Standard8 opened #3539 "Can't debug modal dialogs with Browser Toolbox"
I'm trying to debug the "Bookmark All Tabs" modal dialog, however I can't get it to work.

STR:

1) In bookmarkProperties.js, find onDialogLoad, add a debugger statement at the start of it.
2) Build FF, and run it
3) Open up the Browser Toolbox
4) Open a couple of tabs, then right click on one of them and select "Bookmark All Tabs"

Actual Results

-> The dialog opens, debugger doesn't kick in.

E

[2017-08-03 13:07] codehag opened #3541 "[Investigate] Random actions cause a suspended AudioContext to resume"
It looks like when the debugger fires its resume command, the audioCtx is also resumed. There is a good explanation in the ticket about what is going on. We should investigate to see if we can provide more information / help somehow.

Copy-pasta 🍝 :

User Agent: Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/58.0.3029.110 Safari/537.36

Steps to reproduce:

[2017-08-03 13:35] jasonLaster commented on #3092
dropping the `available` tag because I don't know what we want yet.

[2017-08-03 14:21] #3528 closed

[2017-08-03 14:21] #3529 closed

[2017-08-03 14:23] jasonLaster commented on #1928
I'll do this along with #3475

[2017-08-03 14:27] jasonLaster opened #3542 "[mochitest] browser_dbg-pretty-print is failing"
looks like the pretty print test is failing. Probably related to the pretty print work that just landed

[code]

https://circleci.com/gh/devtools-html/debugger.html/5873?utm_campaign=vcs-integration-link&utm_medium=referral&utm_source=github-build-link

[2017-08-03 14:43] jasonLaster commented on #3541
This is a server bug, so I'm closing this and we can track it on bugzilla

[2017-08-03 14:43] #3541 closed

[2017-08-03 15:18] #3510 closed

[2017-08-03 15:18] jasonLaster opened #3544 "[tests] AST unit tests are intermittent"
Here's the test that's failing
[code]

hopefully theres a missing `await` there

[code]

[2017-08-03 15:19] #3517 closed

[2017-08-03 15:30] nyrosmith commented on #3506
Can I try to help you converting the components?

[2017-08-03 15:31] jasonLaster commented on #3506
@nyrosmith sure! want to grab Modal or Popover?

[2017-08-03 15:44] nyrosmith commented on #3506
Maybe starting with something trivial and then converting one after another. I think there are enough compononents to work on.
Do you prefer 1 branch per component or one branch for all changes?

[2017-08-03 15:48] jasonLaster commented on #3506
one branch per component. It's easier to review + land

[2017-08-03 16:02] nyrosmith commented on #3506
OK. I'll start tomorrow and really hope to deliver results quickly.

[2017-08-03 19:14] jasonLaster opened #3547 "[SourceSearch] Fix “No Results” positioning"
looks like this [PR] broke the positioning. It's our first JSX causality :)

[PR]:https://github.com/devtools-html/debugger.html/issues/3507

<img src='https://shipusercontent.com/226d226c2c878771e41209a5f15d44f5/Screen%20Shot%202017-08-03%20at%203.12.52%20PM.png' title='Screen Shot 2017-08-03 at 3.12.52 PM.png' width=1139>

[2017-08-03 19:15] jasonLaster commented on #3506
Lets also fix this bug: https://github.com/devtools-html/debugger.html/issues/3547

which we just created :)

[2017-08-03 19:45] Ronsho commented on #3243
On it.

[2017-08-03 19:53] #3496 closed

[2017-08-03 21:24] jasonLaster opened #3549 "[breakpoints] can’t delete a breakpoint"
I'm seeing a couple of breakpoints I can't delete on nightly. We should investigate this because it points to the [schema](https://github.com/devtools-html/debugger.html/blob/master/src/utils/prefs.js#L48-L53) not clearing.

![](http://g.recordit.co/p3C21OD46g.gif)

[2017-08-03 21:30] jasonLaster opened #3550 "Remove dead code from bundles"
It's pretty common to get unreachable code warnings in our mochitests. We should remove these because dead code is extra kb and it fills up the logs.

Babel has a useful plugin, which we should be able to use.

https://babeljs.io/docs/plugins/minify-dead-code-elimination/

[code]

[2017-08-03 21:30] #3550 closed

[2017-08-03 21:33] jasonLaster commented on #3542
The error is coming from line 13:
`  const ppSrc = findSource(dbg, "math.min.js:formatted");` I bet it's a timing issue with the new async code...

[code]

[2017-08-03 22:05] #3531 closed

[2017-08-04 00:24] darkwing opened #3552 "[PrettyPrint] Odd Parsing Issue with `let` "
There's a weird parsing issue I discovered.  Consider the following within source:

[code]

When I click the pretty print button, the source gets changed to:

[code]

The space is removed, thus `letd` becomes  a keyword.

Can be seen at: https://davidwalsh.name/demo/EmptyLineTest.php -> EmptyLineTest.js

[2017-08-04 08:50] nchevobbe opened #3555 "Pass loadObjectEntries/getObjectEntries to the ObjectInspector"
_This is blocked by https://github.com/devtools-html/debugger.html/issues/3378_

---

This allows to fetch entries for Maps and Sets with a size > 10 (if < 10, all the entries are already in the grip and we don't need to call the server).

[2017-08-04 09:23] Anzumana commented on #3506
would also like to try asked @wldcordeiro which one he thinks i should start with

[2017-08-04 09:32] Anzumana commented on #3487
not exactly sure how get a different yarn version i installed mine with brew.
@jasonLaster used npm i think to install yarn so should be easier for him to switch versions.
Or is there an easy way for me to do so in order to replicate ?

[2017-08-04 09:40] codehag commented on #3487
npm is also what i use. when you install it via npm it is tied to your node version so keep that in mind as well. So to get the yarn version -- `npm install yarn@0.24.5` -- you might also want to uninstall yarn from brew.

Though if I am the only one with this issue maybe it isn't a problem. ..

[2017-08-04 09:43] codehag commented on #3552
woah interesting! thanks for reporting it!

[2017-08-04 09:50] Anzumana commented on #3487
not sure what version of yarn @darkwing  is on. i was on 0.27.5 and wasn't able to reproduce.

[2017-08-04 09:52] Anzumana commented on #3487
would be good to figure out why this could be the case as things like that should be avoided if at all possible. just in case people clone the repo and test things like the story book and then leave it without saying hello or opening an issue

[2017-08-04 10:01] codehag commented on #3279
Is this currently in progress?

[2017-08-04 10:01] codehag commented on #3270
@jbhoosreddy are you currently on this?

[2017-08-04 10:02] codehag commented on #3430
I am starting on this. Maybe we can touch base later today regarding ideas

[2017-08-04 10:30] bomsy commented on #3279
no i've not started it yet. was going to pick it up next..

[2017-08-04 10:34] amelzer opened #3557 "Tabs in Storybook broken"
# Adding a new tab in the storybook doesn't work and produces a console error

## Steps to reproduce:
1. `yarn storybook`
2. On left side, select: "No tabs", "1 Tab" or "2 Tabs"
3. In the main pane, click on the "plus" icon

## Expected results:
New tab is created

## Actual  results:
No new tab, but console error

<img width="612" alt="screen shot 2017-08-04 at 12 29 50" src="https://user-images.

[2017-08-04 11:13] codehag commented on #3500
I took a look, and here is what is happening:

debug expressions is a single instance, each time we switch files the debug expression is pointing to a line on a single source. however when you select it via the callstack, it sets a new line.

I think we might want to rethink using the debug line to show where in the callstack a given call was made. If we use it, then it would be confusing -- as we

[2017-08-04 13:35] jasonLaster commented on #3506
@Anzumana just jump in try one. no worries

[2017-08-04 13:42] jasonLaster commented on #3500
Just spoke offline, and we only want to show one frame's debug line.

[2017-08-04 13:45] jasonLaster commented on #3270
the util is in on core. I'm not working on using it yet.

[2017-08-04 13:47] #1928 closed

[2017-08-04 13:47] #3475 closed

[2017-08-04 15:12] clarkbw commented on #3532
See also [bug 1172931](https://bugzilla.mozilla.org/show_bug.cgi?id=1172931)

[2017-08-04 15:41] codehag commented on #3279
Wanted to add @ametzler's observations here as well:

"the Tab thing seems to affect more that the storybook. If I click the the '+' symbol and search the project, it does not open a new tab but loads the file in the current one"

[2017-08-04 16:14] codehag opened #3562 "Chrome issues with breakpoints"
We added some new methods to firefox -- but we missed this with chrome. We should add `getBreakpointByLocation`, and possibly a few other methods

[2017-08-04 17:03] amelzer commented on #3506
@wldcordeiro I'll do the Tabs.js now

[2017-08-04 17:24] jasonLaster commented on #3489
turns out the fix was bumping jest... but we got a better yarn for everyone too

[2017-08-04 17:24] #3489 closed

[2017-08-04 17:35] aklt commented on #3233
I'm working on this! :-)

[2017-08-04 17:48] clarkbw opened #3568 "[SourcesTree] webcomponents not displaying well in tree view"
Try going here: https://www.webcomponents.org/collection/PolymerElements/paper-input-elements
And opening the debugger.
There is a `data://` tree that holds all the JS files and things look very strange.  See screenshot.

<img width="1112" alt="screen shot 2017-07-28 at 8 59 57 am" src="https://user-images.githubusercontent.com/2134/28980344-647774aa-7902-11e7-9b3e-c61e4e439f0f.png">

[2017-08-04 18:17] amelzer commented on #3557
@jasonLaster Thanks for the merge, this can be closed, then.

[2017-08-04 19:41] jasonLaster commented on #3506
:thumbsup:

[2017-08-04 22:33] wldcordeiro commented on #3547
I'm not sure if the JSX conversion did it or not. I'm double checking it but nothing is immediately standing out.

[2017-08-04 22:56] SebastianZ opened #3574 "[Breakpoints] Allow to set breakpoints for different statements within a single line"
It should be possible to set a breakpoint for a specific statement within a single line, making it easier to debug one function call in a stack of calls.

The Chrome DevTools already have that feature looking like this:

![inline breakpoints](https://user-images.githubusercontent.com/958943/28989811-266a0120-7978-11e7-9146-44845666f9ca.png)

Sebastian

[2017-08-04 23:07] SebastianZ opened #3575 "[Breakpoints] add an option to remove all breakpoints"
In the old debugger UI there was a context menu option to remove all breakpoints at once. In the new UI there is no context menu at all.

Sebastian

[2017-08-04 23:12] SebastianZ opened #3576 "[Blackbox] Blackboxed sources can't be distinguished in source tree"
Blackboxed sources are displayed the same as non-blackboxed sources. They should be shown differently, so it's easier to distinguish them.

Sebastian

[2017-08-04 23:20] SebastianZ opened #3577 "[Editor] Breakpoint condition is barely readable"
Breakpoint conditions are hard to read while editing them, because they are using gray text on light gray background:

![Barely readable breakpoint condition](https://user-images.githubusercontent.com/958943/28990258-fd59c708-797b-11e7-9ab9-e66204dd6202.png)

The text should rather be displayed in black or gray (or in the same color as the source text).

Sebastian

[2017-08-05 02:20] ksaldana1 commented on #2980
I was unable to find an appropriate SVG to use for Immutable. Seems to be the last library we need to close this issue.

The only SVG I could find displayed the [entire name](http://instantlogosearch.com/?q=immutable). I think the [IM logo](https://altar.io/wp-content/themes/altar.io/dist/images/techs/immutable.png) would be more appropriate. If someone could point me to a source I think we could

[2017-08-05 13:26] bomsy commented on #3574
Thanks for filing. We are working on column breakpoints atm.

[2017-08-05 23:43] #3574 closed

[2017-08-05 23:43] jasonLaster commented on #3574
closing as we're currently working on this in other issues

[2017-08-06 00:02] jasonLaster opened #3581 "Code Quality Reporting"
It would be nice to get automated code quality reporting on CI:

1. help us see what should be improved
2. help point out quality regressions

https://codebeat.co/
https://codeclimate.com

i wonder what others are using and what the tradeoffs are.

[2017-08-07 08:54] #3557 closed

[2017-08-07 08:57] codehag commented on #3562
Some more details:
test adding and removing breakpoints with chrome as a debuggee. For sure we will need to add `getBreakpointByLocation`, but we may need others. You will find the relevant files in `src/client/`

[2017-08-07 13:44] jasonLaster opened #3583 "[CallStack] Frames filenames include `?:`"
It would be nice to exclude the special characters like `?` or `:` that generally have special meaning after the file extension.

![redux.png](https://shipusercontent.com/842f560066233ba62dcb98751b0b4a7f/redux.png)

[code]

[2017-08-07 15:34] jasonLaster opened #3584 "[SymbolModal] is not showing result list"
It looks like these two commits:

https://github.com/devtools-html/debugger.html/commit/139f4ff67b9634b9db1bf3a62f9dfecef773e276#diff-40fa768fe2f9d9908ff75bfff396c7fc

https://github.com/devtools-html/debugger.html/commit/424d4040af08542c344164dd7c83649ffba79543#diff-40fa768fe2f9d9908ff75bfff396c7fc

broke the symbol modal result list. My guess is that we're not returning the react components from

[2017-08-07 17:47] #3493 closed

[2017-08-07 17:48] #3495 closed

[2017-08-07 17:48] #3258 closed

[2017-08-07 17:48] #2946 closed

[2017-08-07 17:50] #3584 closed

[2017-08-07 17:50] jasonLaster commented on #3471
this is now fixed :)

[2017-08-07 17:50] #3471 closed

[2017-08-07 17:52] jasonLaster commented on #3108
@gabrielluong has seen this recently

[2017-08-07 17:59] yaelballa commented on #2980
@ksaldana1 I've created an svg file from IM logo and also added it in PR #3588

[2017-08-07 18:41] jasonLaster commented on #2980
Would someone like to compile an image of all the frameworks and contributors?

@yaelballa, @ksaldana1, @andreicristianpetcu?

[2017-08-07 18:45] gregtatum opened #3589 "[Preview] Click and drag in editor still shows the value preview"
Steps to reproduce:
 * Double click on a word to highlight it.
 * Drag around to highlight a selection.
 * Repeat

Expected result:
 * I should get an easy to highlight line of text, where I can easily control the selection.

Actual result:
 * The preview pop up is still active, causing either my selection to drop (when double clicking), or for the preview to get in the way of the text that I'm se

[2017-08-07 19:01] yaelballa commented on #2980
not sure I understood - do you mean a print screen of the debugger with all the icons?

[2017-08-07 19:09] jasonLaster commented on #2980
thinking of a quick photoshopped JPG compiling the different screenshots others have shared.

Something nice though that includes the people who helped out and the name of the frameworks

[2017-08-07 21:21] jasonLaster commented on #3549
I opened this bug to fix it:

https://bugzilla.mozilla.org/show_bug.cgi?id=1388128

<img src='https://shipusercontent.com/3dbe8ec84ae32336d29941be3c31fcf6/Screen%20Shot%202017-08-07%20at%205.20.58%20PM.png' title='Screen Shot 2017-08-07 at 5.20.58 PM.png' width=929>

[2017-08-07 21:32] jasonLaster opened #3591 "escape does not close cmd+p and cmd+shift+o"
STR:
1. `cmd+p`
2. escape (should close source search)

STR:
1. `cmd+shift+o`
2. should close symbol modal

STR:
1. `cmd+shift+f`
2. should close project search

[2017-08-08 00:49] ksaldana1 commented on #3506
@wldcordeiro Looks like the `Breakpoints` component is listed twice.

[2017-08-08 13:17] #3577 closed

[2017-08-08 13:18] jasonLaster commented on #3576
I'm not sure the correct treatment should be. Perhaps we replace the file icon with the eye? What does chrome do?

[2017-08-08 13:29] jasonLaster commented on #3575
Thanks for filing @SebastianZ. We could use a couple context menu items here, but this is a good start.

Here is a quick sketch for the solution:

and [docs](https://github.com/devtools-html/debugger.html/blob/master/docs/local-development.md#context-menus) for context menus.

[code]

[2017-08-08 13:46] jasonLaster opened #3595 "[prefs] drop default schema value"
The debugger schema [pref][p] should not have a default value because it doesn't mean anything. This [logic][g] should just work if it's not set.

https://bugzilla.mozilla.org/show_bug.cgi?id=1388128

[g]:https://github.com/devtools-html/debugger.html/blob/master/src/utils/prefs.js#L47-L53
[p]:https://github.com/devtools-html/debugger.html/blob/master/assets/panel/prefs.js#L27

[2017-08-08 14:47] jasonLaster opened #3596 "Angular svg is missing"
it looks like debugging angular apps has an issue because it cannot find the angular SVG

STR:
1. http://todomvc.com/examples/angularjs/#/
2. set a breakpoint

notes:
- we don't have an angular svg https://github.com/devtools-html/debugger.html/blob/master/assets/images/Svg.js#L7-L10
- we find angular here https://github.com/devtools-html/debugger.html/blob/master/src/utils/frame.js#L74-L77

the f

[2017-08-08 15:01] clarkbw commented on #3568
See also: https://bugzilla.mozilla.org/show_bug.cgi?id=1385320

[2017-08-08 15:03] jasonLaster opened #3597 "[Expressions] errors cause the console to stop evaluating"
#### STR

1. Go to http://www.example.org/
2. Open the debugger
3. Set it to "Pause on uncaught exceptions"
4. Add a new watched expression: "foo.bar" (without quotes)
5. The debugger pauses: "ReferenceError: foo is not defined"
6. Click ▷ (Resume)
7. Switch to the webconsole devtool
8. Enter something to the console

Expected: the console displays the returned value
Result: the returned value is

[2017-08-08 15:04] jasonLaster opened #3598 "[Expressions] Removed watched expressions reappear"
#### STR

1. Go to http://www.example.org/
2. Open the debugger
3. Make sure it is set to "Ignore exceptions"
4. Add a new watched expression: "foo.bar" (without quotes)
5. Set the debugger to "Pause on uncaught exceptions"
6. The debugger pauses: "ReferenceError: foo is not defined"
7. Remove the watched expression
8. Click ▷ (Resume)

Expected: the watched expression stays removed.
Result: the w

[2017-08-08 15:20] jasonLaster opened #3599 "[Stepping] variables bound with let/const not shown in Scopes when step out of function"
#### Steps to reproduce:

1. Open attached example.html in Firefox 53.0 or Firefox Developer Edition 54.0a2 (both affected, new and old debugger!).
2. Open Developer Tools, go to Debugger.
3. Set breakpoint in line 10 (first line in function).
4. Reload to hit breakpoint.
5. Click "step out".

#### Actual results:

- "Scopes" in debugger shows function scope with "someVar" variable, not a block sc

[2017-08-08 15:33] jasonLaster commented on #3599
possibly related to https://github.com/devtools-html/debugger.html/issues/3390

[2017-08-08 15:52] jasonLaster commented on #3503
here's some early discussions: https://bugzilla.mozilla.org/show_bug.cgi?id=878308

[2017-08-08 18:22] jasonLaster commented on #3562
this could be difficult because
a) debugging the client/command layer is low level.
b) there could be other bugs here too

[2017-08-08 18:26] #3591 closed

[2017-08-08 18:26] jasonLaster commented on #3591
works

[2017-08-08 18:27] jasonLaster commented on #3549
fixed on nightly, we should uplift to dev edition

[2017-08-08 18:29] jasonLaster commented on #3589
diff --git a/src/components/Editor/Preview.css b/src/components/Editor/Preview.css
index 5450120..f98e2ea 100644
--- a/src/components/Editor/Preview.css
+++ b/src/components/Editor/Preview.css
@@ -33,6 +33,8 @@
   cursor: pointer;
 }

+/* can we do something like this: :not(::selection) */
+
 .selection,
 .debug-expression.selection {
   background-color: var(--theme-highlight-yellow);
(END)

[2017-08-08 18:45] jasonLaster commented on #3552
lets try this again, we just bumped pretty print

[2017-08-08 18:46] SebastianZ commented on #3576
As far as I can see, the Chrome DevTools don't make a difference, either.

Though the old debugger UI displayed the name of the script faintly:

![Faint blackboxed script](https://user-images.githubusercontent.com/958943/29088727-5705415a-7c7a-11e7-924d-7f8366a04f7a.png)

But a file icon with the eye sounds good, too. Maybe a combination of both?

Sebastian

[2017-08-08 19:10] #3463 closed

[2017-08-08 19:20] jasonLaster commented on #2646
closing as we're waiting for prettier to support this

[2017-08-08 19:20] #2646 closed

[2017-08-08 19:21] jasonLaster commented on #2262
closing as we're not going to invest in WTR

[2017-08-08 19:21] #2262 closed

[2017-08-08 19:23] jasonLaster commented on #2971
I made a quick branch w/ @wooorm here: https://github.com/jasonLaster/devtools-linters/blob/master/bin/prose.js

[2017-08-08 19:37] jasonLaster commented on #3243
After talking with @Ronsho, it's not clear that we want to do this.

The reason for that is that snapshots and helpers still belong in a tests directory.

Also, jest and immutable use the `__tests__` folder pattern

[2017-08-08 19:38] jasonLaster commented on #3231
closing for now as we're not going to do this follow up

[2017-08-08 19:38] #3231 closed

[2017-08-08 19:45] jasonLaster commented on #3235
I think we should wait on this feature until we start the editor-style search work.

[2017-08-08 19:45] #3235 closed

[2017-08-08 20:16] jasonLaster opened #3600 "[Expressions] sometimes expressions stop getting added"
I've noticed sometimes, expressions stop getting added in the UI. When you close and re-open devtools, they're there though.

[2017-08-08 20:17] jasonLaster opened #3601 "[blackbox] blackbox and pretty print sources should be persisted"
It would be great if we could persist blackbox state like we persist tabs. This way, when you come back, the same sources are still blackboxed.

[2017-08-08 20:55] jasonLaster commented on #3596
here's a good svg: https://commons.wikimedia.org/wiki/File:Angular_full_color_logo.svg#file

[2017-08-08 21:47] jasonLaster commented on #3575
@sagorika1996 is on it!

[2017-08-09 13:33] aklt commented on #3233
What do you think about this UI:

![ffdebug-find](https://user-images.githubusercontent.com/142361/29124041-ff569d66-7d17-11e7-9510-44f4549d2da2.gif)

[2017-08-09 13:34] jasonLaster commented on #3233
Nice. That toggle makes more sense to me in the project search context. Perhaps we just have a "Search for functions" link?

[2017-08-09 14:27] aklt commented on #3233
That was a quick answer!  :-)

[2017-08-09 16:03] codehag commented on #3514
:+1: I support the killing it option as well

[2017-08-09 16:06] bomsy commented on #3514
👍🏾

[2017-08-09 23:10] wldcordeiro commented on #3243
@jasonLaster If we use the `.spec.js` style and retain the test dirs we get the best of both worlds and can remove the special pattern match for the test folders and rely on it finding the specs.

[2017-08-10 02:56] #3336 closed

[2017-08-10 11:10] AnshulMalik commented on #3581
I have only seen people using https://www.codacy.com/

[2017-08-10 13:00] jasonLaster commented on #3581
i like it

[2017-08-10 13:03] jasonLaster commented on #3243
yea, that's a good point.

@Ronsho still interested?

[2017-08-10 13:54] juliandescottes opened #3619 "Debugger pane completely empty after persisting expression with "⌘""
From https://bugzilla.mozilla.org/show_bug.cgi?id=1388825

!! Only happens in Firefox (needs the real Services.pref implementation).

STRs:
- open the debugger
- break anywhere
- evaluate `var test = "⌘"`
- add a watch expression on `test`
- close/reopen the debugger

The issue is linked to saving "⌘" to a pref (expressions are persisted as a pref). We used to rely on a Char pref for Json prefs, b

[2017-08-10 19:03] jasonLaster opened #3623 "[tests] improve mochi runner error handling"
It would be great to improve our test runner's error formatting. We have two problems.

1. Unexpected failures show two errors. We should drop the first one
2. console.error is not formatted

It would be great to format error frames and reduce a lot of the noise

here is a [branch](https://github.com/devtools-html/debugger.html/compare/master...jasonLaster:improve-errors?expand=1)

Here is what it

[2017-08-10 20:18] jasonLaster opened #3625 "[Tabs] files do not overflow"
[Steps to reproduce]:
1.Launch Firefox.
2.Access the http://www.bbc.com/ webpage.
3.Open the debugger.
4.Open multiple files from the source list pane (~16).
5.Open the list view dropdown.

[Expected result]:
All source files are shown inside the dropdown list.

[Actual result]:
Some files are shown outside the dropdown list.

![](https://bug1389013.bmoattachments.org/attachment.cgi?id=8895725)

[2017-08-10 20:39] jasonLaster commented on #3462
here is an AST w/ flow: https://astexplorer.net/#/gist/af36ed837799d9d0da5fde6f2147d9fd/e7b3fdb35bd7bc9dde0bcbeaba9af49a38fcfdcd

here is an overview

[code]

[2017-08-10 20:41] jasonLaster opened #3626 "[Preview] don’t show loading value"
We currently have an awkward loading experience with preview popups. We show the expression while we're loading the value. We probably should have a simpler loading mode.

A good start would be to have an empty popup :)

[2017-08-10 20:44] #3514 closed

[2017-08-10 20:45] Ronsho commented on #3243
So we are for moving only the spec files out of the tests dir?

[2017-08-10 21:20] jasonLaster commented on #3243
Keeping them in the test dir, but with the suffix
On Thu, Aug 10, 2017 at 4:45 PM Ron Schwartz <notifications@github.com>
wrote:

[2017-08-10 22:29] jasonLaster opened #3630 "[Breakpoints] add some additional menuitems "
We recently added a breakpoint context menu for removing the breakpoint and all breakpoints.

The old debugger had some other nice menu items that we should add as well.

* Enable breakpoint
* Disable breakpoint
* Enable others
* Disable others
* Remove others
* Enable all breakpoints
* Disable all breakpoints
* Add condition
* Remove condition
* Edit condition

I think we can borrow some patterns

[2017-08-11 04:55] ruturajv opened #3631 "Left side bar js / resources list - scroll into view not happening"
**STR**:
1. open www.bbc.com
1. click the any items in left
1. use down-arrow on keyboard to select list-item below
1. keep pressing down-arrow, soon, the selection will go below the visible pane

**Expected**: the selected item should be brought into view.

![debugger-sidebar-scroll-into-view](https://user-images.githubusercontent.com/227817/29201803-451cfe7c-7e7f-11e7-9875-dcd72b1ff626.gif)

[2017-08-11 13:41] jasonLaster commented on #3631
We've fixed this and it's broken so many times :/

The current solution relies on a set height. I think we need some logic to validate that it is correct for all the shown nodes...

https://github.com/devtools-html/debugger.html/blob/master/src/components/PrimaryPanes/SourcesTree.js#L263-L264

[2017-08-11 14:20] Ronsho commented on #3243
Will take it!

[2017-08-11 15:10] jasonLaster commented on #2971
We've started linting the text in devtools-linters. See these issues: https://github.com/jasonLaster/devtools-linters/issues

[2017-08-11 15:12] jasonLaster commented on #2971
- [ ]	Add gender checking	jasonLaster/devtools-linters#9
- [ ]	Enable spell checking	jasonLaster/devtools-linters#5
- [ ]	Enable checking for repeated words	jasonLaster/devtools-linters#8
- [ ]	Enable quote checking	jasonLaster/devtools-linters#7
- [ ]	Enable sentence spacing checks	jasonLaster/devtools-linters#6

[2017-08-11 15:12] #2971 closed

[2017-08-11 15:13] jasonLaster opened #3634 "Improve documentation linting"
Documentation is one the hardest things to review because there are so many ways you can make a mistake in english. We've started linting our documentation and would really appreciate help to continue adding rules

- [x] Enable spell checking	jasonLaster/devtools-linters#5
- [x] Enable checking for repeated words	jasonLaster/devtools-linters#8
- [x] Enable quote checking	jasonLaster/devtools-linte

[2017-08-11 16:01] #3547 closed

[2017-08-11 16:02] #3233 closed

[2017-08-11 18:23] sagorika1996 commented on #3630
I am working on this issue.

[2017-08-11 20:04] jasonLaster opened #3638 "[TextSearch] Fix text search"
It looks like the JSX refactor broke text search. We should fix this ASAP
https://github.com/devtools-html/debugger.html/pull/3636/files

STR:

1. enable `project text search` in settings
2. cmd+shift+f
3. search for text

[2017-08-11 22:26] sharathnarayanph commented on #3583
I'd like to take this up.

[2017-08-11 23:03] jasonLaster commented on #3583
Sorry, I believe Anna is on it

[2017-08-12 03:50] zspitzer commented on #1809
also when the debugger is paused, F5 only refreshes the browser if dev tools is focussed

[2017-08-12 04:00] zspitzer commented on #3523
Can the background colours be made much darker?

the current low contrast theme hurts my eyes compared to Chrome's dark theme

[2017-08-12 05:06] nyrosmith opened #3641 "pre-push hook: projects.map is not a function"
I just tried to push changes to my fork and ran into this error:

[code]

I already verified that I don't have jest installed globally.
Maybe it's bc I am running on Windows?

[2017-08-12 11:13] nyrosmith commented on #3487
I also have this issue but I have no idea what could cause this behavior & why not everyone runs into this.
Trying to investigate further...

[2017-08-12 14:09] jasonLaster opened #3645 "[ProjectSearch] Refactor match highlighting"
We have this really neat generic code for highlight parts of a string that match a query. Lets extract it and do it right. We can probably re-use it for source search at some point too.

Here's what I started
https://gist.github.com/jasonLaster/11e46330c6cc17b36c4f78cb3229fa30

[2017-08-12 14:21] jasonLaster opened #3646 "[Tabs] create a new tabs reducer"
Tabs are currently in the sources reducer, but they are interesting enough to be in their own reducer

https://github.com/aklt/debugger.html/blob/fix-text-search/src/reducers/sources.js#L109-L127

[2017-08-12 14:27] jasonLaster commented on #3305
Here are some thoughts:

[code]

[2017-08-12 15:43] jasonLaster opened #3648 "[source] improve loaded state"
It would be nice to cleanup the source loaded state question. There are three states: "unloaded", "loading", "loaded"

One approach is to use a util to make "loaded" clearer. Another is to change the loading field to `loadedState` and have the three values

* here is a [gist](https://gist.github.com/jasonLaster/9ceb5d8c38c98d3350ef5b75adc7f18d) for option one
* here is a [gist](https://gist.github

[2017-08-12 18:40] nyrosmith commented on #3552
I just checked against current master. The issue still exists.

[2017-08-12 18:41] jasonLaster commented on #3552
Thanks.

Would be fun to debug pretty-fast
On Sat, Aug 12, 2017 at 2:40 PM Martin Schmid <notifications@github.com>
wrote:

[2017-08-12 19:10] jasonLaster opened #3650 "[ProjectSearch] Header should not scroll"
![](http://g.recordit.co/DgJHKA0MUb.gif)

https://github.com/devtools-html/debugger.html/blob/master/src/components/ProjectSearch/TextSearch.css#L1-L4

[code]

[2017-08-12 19:16] jasonLaster opened #3651 "[ProjectSearch] steal Atom’s look and feel"
Our project search focus states and general background colors could use some work. Lets borrow ideas from Atom while trying to use our CSS variables.

It's okay to introduce a new color if we need to as well. One way to do it well is to use HSL and change the lightness by a bit.

### Atom

![](http://g.recordit.co/qTEtjscM9x.gif)

### Current Version

![](http://g.recordit.co/3LAmYEfGOf.gif)

###

[2017-08-12 19:18] jasonLaster opened #3652 "[ProjectSearch] focus on the first match"
STR:
1. cmd+shift+f
2. type a query
3. hit enter

you expect to be focused on the first result so you can use up and down arrow keys, but you're not :)

#### Code Sketch

[code]

#### Screenshot

<img src='https://shipusercontent.com/d2f19992f53b41a9d69d15246cadde02/Screen%20Shot%202017-08-12%20at%203.21.40%20PM.png' title='Screen Shot 2017-08-12 at 3.21.40 PM.png' width=712>

[2017-08-12 19:31] sharathnarayanph commented on #3650
Can I work on this?

[2017-08-12 22:43] adamki commented on #3524
Its been a while since I was able to open up this project. I'd love to take a shot at this.

[2017-08-12 23:21] adamki commented on #3524
Hmmm. Not seeing this on mine. Any tips to reproduce?

[2017-08-13 03:31] jasonLaster commented on #3524
strange, i saw it yesterday.

[2017-08-13 05:44] adamki commented on #3524
Excellent. Ill dig in tomorrow

[2017-08-13 14:11] nyrosmith commented on #3312
I just tried again and for me it works now!
I think you can close it @jasonLaster

[2017-08-13 14:12] jasonLaster commented on #3312
:)

Wow that's great

On Sun, Aug 13, 2017 at 10:11 AM Martin Schmid <notifications@github.com>
wrote:

[2017-08-13 16:13] nyrosmith commented on #3447
There is a merged PR so can this be closed?

[2017-08-13 20:17] #3447 closed

[2017-08-14 14:22] #3623 closed

[2017-08-14 15:22] #3243 closed

[2017-08-14 16:55] zacck commented on #3506
@nyrosmith @jasonLaster  I'll take a component or two if there is more to convert ...

[2017-08-14 17:00] jasonLaster commented on #3506
@zacck how about Outline or Expressions?

[2017-08-14 17:17] nyrosmith commented on #3506
@jasonLaster I'd like to try ManagedTree because understanding how it works may help me solve #3652

[2017-08-14 17:25] adamki commented on #3524
So, there is a bit in `projectSearch.css` that sets the the width of `.search-container` to `calc(100% - 1px)`. This creates an actual gap between `search-container` and adjacent divs.

This gap of 1px looks to be used so that the `splitter` div can build some sort of vertical partition. However, it also allows for text from any underlying elements to show through this 1px gap.

Any tips on how to

[2017-08-14 17:40] jasonLaster commented on #3524
Not sure. It'd be nice to compare other panes like the sources sidebar and
editor pane.
On Mon, Aug 14, 2017 at 1:25 PM Adam Ki Jensen <notifications@github.com>
wrote:

[2017-08-14 18:34] bomsy commented on #3652
[code]
This should get us to focus on the first item

[2017-08-14 18:52] bomsy commented on #3652
![](http://g.recordit.co/7Nl7mXqtHh.gif)

[2017-08-14 20:20] violasong commented on #3523
Thanks @zspitzer, will keep that in mind.

[2017-08-14 20:36] zacck commented on #3506
I'm starting with Outline, Looks like I will have to throw in previewFunction too

[2017-08-14 22:06] jasonLaster opened #3660 "Mochi Runner"
The Mochi CLI is a mochitest wrapper designed to make running mochitests a more enjoyable pleasant experience. Two goals of the project are to

a) smooth over rough edges introduced from the launchpad setup
b) focus on the 90% case and remove a lot of the noise that is not necessary for debugging a JS error.

#### Runner

- [ ] Fail when firefox needs to be rebuilt
- [ ] Have a prompt when the tes

[2017-08-14 22:17] jasonLaster commented on #3660
[title](url)

[2017-08-15 03:42] wldcordeiro commented on #3506
I'm grabbing `Preview` and `Tabs`

[2017-08-15 05:29] wldcordeiro commented on #3487
I figured out the fix while doing the JSX transform on Preview and its story. Will open PR shortly sorry @Anzumana for grabbing it out from under you.

[2017-08-15 05:57] zacck commented on #3506
I'm grabbing `previewFunction`.

[2017-08-15 13:54] bomsy commented on #3651
Noticed this. It would cool to handle while fixing look and feel
![image](https://user-images.githubusercontent.com/792924/29318847-a83b033a-81c9-11e7-9a41-220cf5fdfa8d.png)

[2017-08-15 14:02] jasonLaster opened #3665 "[ProjectSearch] results should scroll to stay in focus"
This is because the header is a different height than the result items. We should fix this by giving all of the results the same height and setting the height [here]

![](http://g.recordit.co/b8aDmF1clg.gif)

[here]: https://github.com/devtools-html/debugger.html/blob/master/src/components/ProjectSearch/TextSearch.js#L185

[2017-08-15 14:21] bomsy commented on #3641
I think we can close this .

[2017-08-15 14:21] #3641 closed

[2017-08-15 14:21] #3638 closed

[2017-08-15 14:28] nyrosmith commented on #3641
Is this fixed now @bomsy

[2017-08-15 14:29] bomsy opened #3666 "[Tabs] Create new tabs action"
We should pull out the tab actions from the sources actions file

[2017-08-15 14:31] #3500 closed

[2017-08-15 14:35] nyrosmith commented on #3641
I just pulled master and still have this error @bomsy

[2017-08-15 14:37] #2937 closed

[2017-08-15 14:37] jasonLaster commented on #2937
duplicate of #3189

[2017-08-15 14:38] bomsy commented on #3641
Yeah this is an issue a version of jest or so..

@jasonLaster There was something mentioned about an update that fixed this issue, correct?

[2017-08-15 14:41] #3544 closed

[2017-08-15 14:42] #3312 closed

[2017-08-15 14:42] nyrosmith commented on #3641
Yarn run nom was suggested but rm -rf does not work on Windows....

[2017-08-15 14:42] jasonLaster commented on #3487
@wldcordeiro what was the issue?

[2017-08-15 14:43] nyrosmith commented on #3641
And I think this workaround should be referenced in the docs

[2017-08-15 14:43] #3596 closed

[2017-08-15 14:51] #3630 closed

[2017-08-15 14:52] #3575 closed

[2017-08-15 15:11] jasonLaster commented on #3150
[code]

[2017-08-15 16:21] jasonLaster opened #3668 "[CallStack] gets stacked on top of itself"
Looks like it's likely an angular bug

![](https://usercontent.irccloud-cdn.com/file/48WaK8aU/Screen%20Shot%202017-08-15%20at%2014.25.14.png)

[2017-08-15 16:25] jasonLaster opened #3669 "Stop using pointer cursor for buttons"
Pointer cursor isn't used in other DevTools Tabs. Cursor style should be consistent with other DevTools tabs.

link: https://bugzilla.mozilla.org/show_bug.cgi?id=1390062

[2017-08-15 16:48] jasonLaster commented on #3216
@anshul is working on this

[2017-08-15 16:50] jasonLaster opened #3670 "[Breakpoints] add conditional items to the context menu"
It would be nice to support two conditional breakpoint menu items in the Breakpoints context menu: Remove condition and Edit condition.

**Remove condition** is fairly straight forward.

**Edit condition** is more interesting because we need to tell the editor to show the panel. I think we can achieve this by moving some editor state to the correct redux store.

[2017-08-15 16:52] MayankSrivastav opened #3671 "[Windows] launchpad fails to start firefox with debugger-server"
After starting the debugger and launching the Firefox with the TodoMVC app, the debugger doesn't show any node to debug.
The debugger window is blank.  So, we can't select the application to debug. Attached is a screenshot for reference on Windows.
![windows issue](https://user-images.githubusercontent.com/13278659/29326203-3c546de8-8208-11e7-90c3-7e182d62977f.png)

[2017-08-15 17:45] #3650 closed

[2017-08-15 17:46] #3549 closed

[2017-08-15 17:46] jasonLaster commented on #3549
pushed to dev edition

[2017-08-15 17:47] jasonLaster commented on #2883
We landed some fixes for mapping the breakpoints.

We might still have to land a fix for mapping the selected location.

[2017-08-15 17:47] jasonLaster commented on #3239
@firhatsungkar making it available again. Feel free to re-claim

[2017-08-15 17:48] jasonLaster commented on #2840
Hey @diessica re-pinging. Sorry for dropping the ball

[2017-08-15 18:02] #2499 closed

[2017-08-15 18:05] jasonLaster commented on #3116
@nchevobbe this is probably something that we will want to do in the Arguments Reps. I don't know if you have the data that you need though.

The debugger could help you there because we have the local function AST Node...

[2017-08-15 18:05] #3321 closed

[2017-08-15 18:05] jasonLaster commented on #3321
closing this as pending BPs are now in their own reducer

[2017-08-15 18:19] jasonLaster commented on #3076
opened in bugzilla because it's a server bug
https://bugzilla.mozilla.org/show_bug.cgi?id=1390582

[2017-08-15 18:19] #3076 closed

[2017-08-15 18:20] jasonLaster commented on #3317
closing as this is handled in devtools-core

[2017-08-15 18:20] #3317 closed

[2017-08-15 18:23] jasonLaster opened #3673 "ContextMenus should show keyboard shortcuts"
The old debugger used to show keyboard shortcuts. It would be nice to have this behavior as well as it's a good education

### New Debugger
<img width="242" alt="screen shot 2017-07-06 at 10 26 13 pm" src="https://user-images.githubusercontent.com/2481105/27940717-62f6d72a-629a-11e7-9a20-ceae1f0fbba5.png">

### Old Debugger
<img width="374" alt="screen shot 2017-07-06 at 10 19 47 pm" src="https://

[2017-08-15 18:24] #3203 closed

[2017-08-15 18:36] jasonLaster commented on #2690
adding this to the enhancements board:

https://github.com/devtools-html/debugger.html/projects/5

[2017-08-15 18:36] #2690 closed

[2017-08-15 19:22] jasonLaster commented on #2116
we're no longer working on WTR

[2017-08-15 19:22] #2116 closed

[2017-08-15 19:23] nyrosmith commented on #3506
I started with Accordion. Can someone point me to how I can test it?

[2017-08-15 19:26] jasonLaster commented on #3506
the sidebar uses it

[2017-08-15 19:37] jasonLaster commented on #2527
It'd be great to steal the logic from tree.js for scrolling

[2017-08-15 19:38] #2379 closed

[2017-08-15 19:38] jasonLaster commented on #2379
This will require working on getting binding mappings from babel.

Moving to the projects board
https://github.com/devtools-html/debugger.html/projects/5

[2017-08-15 19:40] #3252 closed

[2017-08-15 19:40] jasonLaster commented on #3252
I'm closing this as I believe you can debug extension with the about:debugging in the new debugger now that it is released in dev edition

[2017-08-15 19:50] jasonLaster commented on #3292
closing to focus on #3112

[2017-08-15 19:50] #3292 closed

[2017-08-15 19:56] #3668 closed

[2017-08-15 19:56] jasonLaster commented on #3668
this was angular failing

[2017-08-15 20:00] jasonLaster commented on #3552
This bug requires getting https://github.com/mozilla/pretty-fast setup and working on adding a [test](https://github.com/mozilla/pretty-fast/blob/master/test.js#L92) and a fix in a PR.

[2017-08-15 20:04] jasonLaster opened #3678 "[wasm] Add a mochitest"
We recently added support for debugging Wasm. It would be nice to have a feature test that demonstrates you can

1. select a source
2. add a breakpoint
3. pause
4. step

[2017-08-15 20:11] #3524 closed

[2017-08-15 20:11] #3625 closed

[2017-08-15 20:12] jasonLaster commented on #3462
@nt1m is working on this

[2017-08-15 20:33] bgrins commented on #3673
If the `acceltext` attribute is set on the `<menuitem>` then it will print it out with native styling. For instance, `acceltext="⌘P"`. However, in order for this to happen automatically the menuitem has to  [have a `key` attribute pointing to a xul key](https://dxr.mozilla.org/mozilla-central/rev/b95b1638db48fc3d450b95b98da6bcd2f9326d2f/layout/xul/nsMenuFrame.cpp#1032).

The `acceltext` could pote

[2017-08-15 20:35] jasonLaster commented on #3673
We use key-shortcuts via a shortcuts context: https://github.com/devtools-html/debugger.html/blob/master/src/components/Editor/index.js#L207

[2017-08-15 20:38] bgrins commented on #3673
OK, and how is the menu that ultimately calls `onToggleBreakpoint` constructed?

[2017-08-15 20:42] bgrins commented on #3673
I think I'd modify [KeyShortcuts.stringify](https://github.com/devtools-html/devtools-core/blob/2c01041a1812a3dafee3367ac3e72fd8518fecd3/packages/devtools-modules/src/key-shortcuts.js#L152) function to more closely match [ShortcutUtils.prettifyShortcut](https://dxr.mozilla.org/mozilla-central/source/toolkit/modules/ShortcutUtils.jsm), and then manually set the `acceltext` to that value whenever th

[2017-08-15 21:53] jasonLaster commented on #3392
@zaggy is on it

[2017-08-16 14:27] nchevobbe commented on #3116
So, I checked and it looks like we don't have much value for it.
if I evaluate
[code]

I get the following grip :

[code]

so yes, we'd need more than just the grip.
We may have a `propertiesNameMap` prop, which could look something like :
[code]
that we could use to render node label in the ObjectInspector.

[2017-08-16 14:49] eoger opened #3682 "[Breakpoints] Leftover breakpoint breaks the debugger"
I set a breakpoint in a previous session in the browser toolbox debugger.
When I open the debugger (even after restarting the browser multiple times), clicks on the Firefox UI are not registered and CSS `:hover` rules are not applied.
Trying to remove that breakpoint triggers an error.

Screencast:
https://gfycat.com/gifs/detail/JubilantDeepAyeaye

Entire screenshot of the errors in the screencast

[2017-08-16 14:53] MayankSrivastav commented on #3669
Hi, I would like to take it up.
I guess we are talking about the file-name tabs in the editor panel? The pointer there should be an arrow pointer?
File to be modified seems like Tabs.css in Editor component?

[2017-08-16 15:14] nyrosmith commented on #3598
Maybe related to #3597 ?

[2017-08-16 15:25] jasonLaster opened #3683 "[flow] update to v 56"
It would be great to get help upgrading flow from 52 to 53.

Flow 53 is blocked on some new flow rules: https://circleci.com/gh/devtools-html/debugger.html/6192?utm_campaign=vcs-integration-link&utm_medium=referral&utm_source=github-build-link

[2017-08-16 15:37] jasonLaster commented on #3598
Yeah, that's a great point

[2017-08-16 15:39] jasonLaster commented on #3682
@eoger mind sharing the STR?

[2017-08-16 15:41] jasonLaster commented on #3669
@MayankSrivastav great. It's yours.

Yeah, a lot of these should be removed I guess

<img src='https://shipusercontent.com/ba90c69035288dd19cba29ba424d168b/Screen%20Shot%202017-08-16%20at%2011.40.44%20AM.png' title='Screen Shot 2017-08-16 at 11.40.44 AM.png' width=1091>

[2017-08-16 15:42] vladikoff commented on #3682
@eoger Was this in Nightly?

[2017-08-16 15:42] jasonLaster commented on #3116
yeah a `propertiesNameMap` would work. Lets see if we can get that data on the server. I'm going to refile this in devtools-core #reps

[2017-08-16 15:43] #3116 closed

[2017-08-16 15:44] eoger commented on #3682
Yes this was Nightly

[2017-08-16 15:48] MayankSrivastav commented on #3669
Ok. so, cursor: pointer needs to be removed from every css file. pointer should not be used at all.

[2017-08-16 16:00] eoger commented on #3682
@jasonLaster wasn't able to reproduce exactly. But:
- Open Firefox
- Open browser toolbox, set a breakpoint in browser-sync, line 260.
- Cmd+Q, reopen browser, reopen debugger

From then the breakpoint has disappeared, but I can't set it up again:
https://gfycat.com/gifs/detail/LavishEnviousAdder
<img width="949" alt="screen shot 2017-08-16 at 11 57 20 am" src="https://user-images.githubuserconten

[2017-08-16 16:35] jasonLaster commented on #3669
that's what i think

[2017-08-16 16:39] jasonLaster commented on #3216
Here is a GIF of the bug:

![](http://g.recordit.co/xclfU6sQ13.gif) and a [commit](https://github.com/jasonLaster/debugger.html/commit/fcce2c09ab924b3aa53e76f8e6a01b7c9cad0e0f) of a potential fix.

[2017-08-16 18:45] vladikoff commented on #3682
Ok I was able to reproduce this locally, the breakpoint won't stick to the line number:

![action-s](https://user-images.githubusercontent.com/128755/29379775-80cb4850-8291-11e7-93f7-a05a0724849d.gif)

[2017-08-16 18:49] vladikoff commented on #3682
### STR

* Fresh Nightly Profile (57.0a1 (2017-08-16) (64-bit))
* Open toolbox
* Set a breakpoint at browser-sync.js by going to Debugger, looking for file called `browser-sync.js`:

![image](https://user-images.githubusercontent.com/128755/29379875-d26baa60-8291-11e7-8781-263b872b1e7b.png)

* CMD+Q DevTools, CMD+Q Firefox
* Restart the created profile
* Open Toolbox, browser-sync.js is open
* Scr

[2017-08-16 19:25] jasonLaster opened #3687 "[ProjectSearch] flow type UI"
The TextSearch component is fairly complicated and could benefit from some flow types. I started [here], but struggled with ManagedTree.

[here]: https://github.com/jasonLaster/debugger.html/tree/ts-filter-paths

[2017-08-16 20:39] TitanNano opened #3689 "[Breakpoints] then() is ignored"
![screen shot 2017-08-16 at 16 34 34](https://user-images.githubusercontent.com/4500858/29384172-6e0855e0-82d3-11e7-953e-9e55f8d7817c.png)

This is transpiled typescript + sourcemap. The breakpoint is simply ignored in both Dev and Nighty but halts in Chrome, so I'm certain the code is executed.

[2017-08-17 14:51] jasonLaster opened #3694 "[ProjectSearch] fix intermittent test"
We are getting an intermittent with  `CmdOrCtrl+Shift+F` sometimes not opening project search.

perhaps we are trying to call it before the search UI is ready to handle it?

[2017-08-17 15:17] jasonLaster commented on #3660
The jest CLI is built here: https://github.com/facebook/jest/blob/ab6f4c3001a2cd917cc4df95e42dfc72f23c5a00/packages/jest-cli/src/watch.js#L318-L323

[2017-08-17 16:11] jasonLaster opened #3695 "[stepping] refactor stepping commands"
I think we can make small change to our `command` and remove an unneeded action type.

The change is well tested so if the tests pass we should be good. It's a chance to learn about our promise middleware too, which is in utils/redux/middleware

[code]

[2017-08-17 16:17] jasonLaster opened #3696 "[stepping] add some unit tests"
It would be great to boost our coverage of `src/actions/pause`

[code]

[2017-08-17 16:33] arthur801031 commented on #3683
I'll take a stab at this :)

[2017-08-17 18:42] jasonLaster commented on #3683
Oh thanks @arthur801031!

[2017-08-17 18:48] SebastianZ commented on #3575
Thank you for the fast fix!

Sebastian

[2017-08-17 18:49] jasonLaster commented on #3575
@SebastianZ are you in our [slack channel](https://devtools-html-slack.herokuapp.com)? You should say hi :wave:

[2017-08-17 19:00] jasonLaster opened #3698 "[Preview] nuke previewFunction"
The new ObjectInspector supports previewing functions so we should be able to re-use it.

[code sketch](https://gist.github.com/jasonLaster/9d0848fc79646ff7a373214cfded1dc4)

[2017-08-17 19:38] SebastianZ commented on #3575
I've joined right now and said hi. 😄

[2017-08-17 20:25] jasonLaster opened #3699 "Help people submit debugger examples"
blocks and rawgit are good resources for submitting debugger examples that can easily be debugged.

We should have docs for the best process and point to them in our ISSUE_TEMPLATE.md

[2017-08-17 20:36] brabadu commented on #1377
Hey!
I'm having similar issues. I have huge js-file (100k loc), and it's really painful to debug in new debugger. While Chrome devtools works absolutely normal with this file.

I've made performance profile of debugger.html, captured in chrome for just one step of debugger.
[chrome-debugger.html-profile.json.zip](https://github.com/devtools-html/debugger.html/files/1232542/chrome-debugger.html-pro

[2017-08-17 20:37] jasonLaster commented on #1377
Thanks! I appreciate it

[2017-08-17 20:41] clarkbw opened #3700 "Scopes pane shows null when values may be uninitialized"
Coming from [bug 1362451](https://bugzilla.mozilla.org/show_bug.cgi?id=1362451) you'll see the example shows variables in the old debugger start as `undefined` and then take the value `uninitialized`.

[2017-08-17 20:46] jasonLaster opened #3701 "[workers] show a list of workers"
It would be great to show a list of workers in the new UI. The old debugger UI had it

https://bugzilla.mozilla.org/show_bug.cgi?id=1304682

[2017-08-17 20:52] digitarald opened #3702 "[PrettyPrint] Error parsing regular expression: unterminated parenthetical"
Migrated from https://bugzilla.mozilla.org/show_bug.cgi?id=1370073

[code]

Confirmed on Nightly:

[code]

[2017-08-17 21:04] SebastianZ commented on #722
@jlongster, @jasonLaster, @clarkbw I'd really like to get some feedback to my last comment. I am still convinced that a tab based UI for the different types of information is better for the reasons I outlined there.

Sebastian

[2017-08-17 21:08] jasonLaster opened #3703 "[ProjectSearch] The sidebar toggle button is missing "
When the project search is open in vertical mode, we should have a footer so that we can show the sidebar toggle button in the bottom right.

I believe this is similar to the [WelcomeBox](https://github.com/codehag/debugger.html/blob/wip-source-tree/src/components/WelcomeBox.js#L23-L38) as well.

[code]

<img src='https://shipusercontent.com/d420edc8cfff515b51c8070ab4a13b86/Screen%20Shot%202017-08

[2017-08-17 21:09] jasonLaster opened #3704 "[outline] the outline view should scroll"
The outline view needs a tad bit more polish, such as
* the list items should have some more padding
* the list should scroll
* the tab colors at the bottom feel inverted

[code]

<img src='https://shipusercontent.com/a823c8e4de40b7dc55df40059d46e06c/Screen%20Shot%202017-08-17%20at%205.08.49%20PM.png' title='Screen Shot 2017-08-17 at 5.08.49 PM.png' width=434>
<img src='https://shipusercontent.com

[2017-08-17 21:22] sharathnarayanph commented on #3648
May I work on this?

[2017-08-17 21:27] SebastianZ opened #3705 "Variable preview sometimes not shown"
The variable preview doesn't work in some cases.

Test case:
1. Go to https://css-tricks.com/almanac/properties/s/shape-outside/
2. Set a breakpoint in the (index) script at line 248 (`if(autocomplete.autocomplete...`)
3. Scroll the page
  => Script execution will stop at that line.
4. Hover the first `autocomplete`.

=> No preview popup is shown.

Sebastian

[2017-08-17 21:57] SebastianZ commented on #3705
Here's some simpler example code:

[code]

Breaking at `return bar * 4;` won't show a preview for `bar`.

Sebastian

[2017-08-17 22:29] SebastianZ opened #3707 "[SourceMap] Show hint when mapped sources can't be loaded"
This was initially filed as [bug 1228496](https://bugzilla.mozilla.org/show_bug.cgi?id=1228496), which has a test case attached.

If a mapped source is not available on the server, i.e. the "sources" property in the source map refers to a file that doesn't exist, then the Debugger currently shows "Loading…" forever.

It would be much better if the user got a message displayed that the related sour

[2017-08-18 02:47] tromey commented on #3707
I think this is fixed in M-C.  The toolbox provides a wrapper for the source map service that expands the error message somewhat.  I think there's a test for a missing source in M-C as well.

[2017-08-18 06:36] nchevobbe commented on #3378
Fixed in https://github.com/devtools-html/debugger.html/commit/4591611b01743ee799958076850e264e04f7271c

[2017-08-18 06:36] #3378 closed

[2017-08-18 08:31] Anzumana commented on #3487
@codehag does this fix the issue for you ?

[2017-08-18 11:03] jnachtigall opened #3708 "Add hint about Ctrl+Shift+F to initial page"
Use case is having some code in an application one is not extremely familiar with (app is big, or originally written by someone else, or totally external). When opening the debugger, I am presented with "Ctrl+P" to open a JS file, but I do not have any idea where the code is in.

It would be great if one could search not only in one specific file, but across multiple files for certain strings.

I

[2017-08-18 11:06] nyrosmith commented on #3708
I think what you are looking for is CTRL+SHIFT+F

[2017-08-18 11:09] jnachtigall opened #3709 "Search is slow (hangs/stalls browser) on big files"
Use case:

I had a vendors.min.js which is a concatenated, big file (1.5 MB or so) and needed to see if a certain lib is in there. Searching in this file for a specific strings makes Firefox Nightly hang (not responding). I guess it should be easily reproducable by just loading a huge file.

I can send a perf profile if this helps, e.g. using the https://perf-html.io/ addon or the browser performa

[2017-08-18 11:11] jnachtigall commented on #3708
@nyrosmith Hmm, this does just nothing for me (Windows 10 with todays Firefox Nightly). Also, when opening the Debugger, there's no reference to CTRL+Shift+F, is there some hints/docs about this feature somewhere?

[2017-08-18 11:24] nyrosmith commented on #3708
Sorry I don't know if it is in Nightly but when running html-debugger on my machine the feature definitly exists but mus be enabled in "settings".

[2017-08-18 11:26] nyrosmith commented on #3708
You can try it just by cloning this repo, yarn install, yarn run start

[2017-08-18 11:37] jnachtigall commented on #3708
OK, I trust you that it's in here. So closing and will come eventually :) Would be cool if FF Nightly could just fetch the Debugger current HEAD each day. I don't like the Nightly is out-of-sync here.

[2017-08-18 12:39] jasonLaster commented on #3648
sure!

[2017-08-18 12:47] jasonLaster commented on #3709
send a perf-html report!

[2017-08-18 13:00] jnachtigall commented on #3708
@nyrosmith Just tried now, this works great, but I suggest a text hint on the first page to be added like already done for Ctrl+P:
![2017-08-18 14_55_30-debugger - nightly](https://user-images.githubusercontent.com/3307404/29459895-ff24a2ba-8425-11e7-8960-e0bf99e08eab.png)

[2017-08-18 13:21] jnachtigall commented on #3709
Here you go: https://perfht.ml/2uXsTRK

Here's a screenshot. I hit the search once => FF freezes, hit it again after search return after 10s or so => freezes again for 10s or so (I know it's not cheap to search like this, but I guess it should still not freeze you're browser, also it works fine in Chrome):
![spinning-devtools](https://user-images.githubusercontent.com/3307404/29460377-12c87240-842

[2017-08-18 13:38] jasonLaster commented on #3708
Good idea

[2017-08-18 14:52] nyrosmith commented on #3306
I just wanted to start on this issue but it seems to be fixed!
@jasonLaster can you verify?

[2017-08-18 18:20] #3669 closed

[2017-08-18 18:20] #3704 closed

[2017-08-18 18:41] jasonLaster commented on #3306
yep - it's fixed.

Thanks for checking

[2017-08-18 18:41] #3306 closed

[2017-08-18 18:42] jasonLaster opened #3714 "[SourceSearch] Search Bar results disappears when resizing Firefox's window"
[Steps to reproduce]:
1.Launch Firefox.
2.Access the https://devtools-html.github.io/debugger-examples/examples/todomvc/ webpage.
3.Open the debugger.
4.Press CTR+P.
5.Type something in the search bar.
6.Resize Firefox's window.

[Expected result]:
Search results are displayed.

[Actual result]:
Search results disappear after resizing Firefox's window.

![Resizing the search panel.gif](https://shi

[2017-08-18 18:44] jasonLaster opened #3715 "[Breakpoints] Another, unwanted, breakpoint is created while holding ctrl + B"
[Steps to reproduce]:
1.Launch Firefox.
2.Access the https://devtools-html.github.io/debugger-examples/examples/todomvc/ webpage.
3.Open the debugger.
4.Hold the CTRL + B combination on any line of code.

[Expected result]:
An breakpoint is constantly created and removed.

[Actual result]:
Another breakpoint is created on a different line.

![Breakpoint issue.gif](https://shipusercontent.com/9ed28

[2017-08-18 19:02] jasonLaster commented on #3189
This will be done when the new release lands

[2017-08-18 19:02] #3430 closed

[2017-08-18 19:02] jasonLaster commented on #3430
woo hoo

[2017-08-18 19:25] darkwing opened #3717 "Line Numbers Janky upon Horizontal Scroll"
In a source tab with a long line of text, quick scrolling is a bit janky:

![numbergutterjank](https://user-images.githubusercontent.com/46655/29474348-f752cff8-8420-11e7-822e-978096905196.gif)

Hopefully they're a way the lines gutter can be fixed (not animated to position) which should prevent this problem

[2017-08-18 19:33] jasonLaster opened #3719 "[CommandBar] fix horizontal scrolling"
At some point we changed something to introduce horizontal scrolling in vertical mode.

My guess is its in the command bar

[code]

![](http://g.recordit.co/pXYP4OFgvE.gif)

[2017-08-18 20:48] gabrielluong opened #3720 "[Photon] Remove border-bottom from the last child of accordions"
We're looking to be more consistent with how accordions look across all the tools. We will be removing the border-bottom for the last child of an accordion.

<img width="946" alt="screen shot 2017-08-18 at 1 42 36 pm" src="https://user-images.githubusercontent.com/1190888/29477082-aa3e8036-841b-11e7-9db9-76c85f1b93a5.png">

The CSS should be this:
.accordion div:last-child ._content {
    border-b

[2017-08-19 06:42] nyrosmith commented on #3151
@jasonLaster I think this can be closed

[2017-08-19 06:43] nyrosmith commented on #3162
@jasonLaster  immutable is now in package.json so I think this can be closed

[2017-08-19 07:04] zacck commented on #3156
How's this going any extra hands needed here?

[2017-08-19 07:17] rohanprasad commented on #3665
@jasonLaster Hey, I am taking up this issue. I'll refer the PR in a while.

[2017-08-19 10:02] rohanprasad commented on #3665
@jasonLaster Hey I've created a PR https://github.com/devtools-html/debugger.html/pull/3724.
The issue was not just because the items were not of the same size but also because the Tree component did not have a fixed height (it was returning the div height as clientHeight). Need your feedback for the same.

Also, is 24px fine or should that be reduced ?

[2017-08-19 10:08] rohanprasad commented on #3665
![scroll-fix](https://user-images.githubusercontent.com/6098743/29485721-4aef6184-84f4-11e7-818c-0dcdf7771ddf.gif)

[2017-08-19 17:27] jasonLaster opened #3725 "Move workers to their own directory"
It would be great if we could move the workers to their own top level directory. This means moving these directories in `src/utils` to a new `src/workers` directory.

* parser
* pretty-print
* search

#### Benefits

* we can add a README with some advice and tips for working with workers.
* we can add some worker utils / tests
* we can simplify the utils directory

[2017-08-19 18:05] jasonLaster opened #7614 "Source Map is cached"
CC @bvaughn

It looks like Firefox is caching the source maps after the first eval() 🤔

https://github.com/babel/website/pull/1315#issuecomment-323532189

[2017-08-19 20:38] #3619 closed

[2017-08-19 20:45] juliandescottes commented on #3380
It looks like we are truncating elements in the callstack again. Which makes this issue less likely to occur. I'm fine with closing this for now. cc @codehag @jasonLaster

[2017-08-20 15:46] nyrosmith commented on #3701
@jasonLaster I'll try this but atm I have no idea where to Start.
Can you point me to where I can read the available workers.

[2017-08-20 17:16] jasonLaster commented on #3701
Sure. I'll have to dig for it as well
On Sun, Aug 20, 2017 at 11:46 AM Martin Schmid <notifications@github.com>
wrote:

[2017-08-20 17:17] jasonLaster commented on #3701
How about you start with dummy data and the UI? We want something similar
to chrome where it's an accordion Pane on the right.
On Sun, Aug 20, 2017 at 1:15 PM Jason Laster <jason.laster.11@gmail.com>
wrote:

[2017-08-20 18:12] nyrosmith commented on #3701
You mean the right section with breakpoints, expressions,...?

[2017-08-20 18:32] jasonLaster commented on #3701
Yep.
On Sun, Aug 20, 2017 at 2:12 PM Martin Schmid <notifications@github.com>
wrote:

[2017-08-21 13:30] mkaply opened #3728 "[PrettyPrint] Debugger hang after doing pretty print and trying to find on https://www.joinhoney.com/"
I was trying to debug a problem on https://www.joinhoney.com/ on Nightly.

Right click->Inspect, then Debugger, then selected cdn.honey.com->js->main.2.23.1.js and clicked the pretty print icon.

From there the browser started getting unresponsive. I saw an unresponsive dialog popup, but things seemed to start working. Went to the search form and typed in Firefox and only one character went in and

[2017-08-21 13:32] jasonLaster commented on #3383
I'm re-opening this issue because we're seeing breakpoints collapse to 1px when the layout changes from horizontal to vertical.

[2017-08-21 13:34] jasonLaster commented on #3701
Here's a quick branch for getting started.

I haven't tested it yet so it will need some massaging to iron out the mistakes, but it should be a good template for getting a secondary sidebar pane. It also adds a storybook story so you can quickly sketch out the UI without real data

https://github.com/jasonLaster/debugger.html/tree/worker

[2017-08-21 13:39] jasonLaster commented on #3380
Thanks Anna!

[2017-08-21 14:07] jasonLaster commented on #3728
Thanks for the report!

[2017-08-21 15:21] jasonLaster opened #3729 "File location is not always revealed in the Tree menu"
[Steps to reproduce]:
1. Launch Firefox.
2. Access the https://devtools-html.github.io/debugger-examples/examples/todomvc/ webpage.
3. Open the debugger.
4. Open the todos.js file.
5. Close the Tree view.
6. Click the "Reaveal in Tree" option for the todos.js file.
7. Close the Tree view again.
8. Click the "Reveal in Tree" option for the todos.js file.

[Expected result]:
The file's location is r

[2017-08-21 15:23] jasonLaster opened #3730 "Conditional breakpoints can't replace disabled breakpoints"
[Steps to reproduce]:
1.Launch Firefox.
2.Access the https://devtools-html.github.io/debugger-examples/examples/todomvc/ webpage.
3.Open the debugger.
4.Create a breakpoint.
5.Disable the breakpoint.
6.Add a conditional breakpoint on the same line.

[Expected result]:
The disabled breakpoint is replaced with a conditional breakpoint.

[Actual result]:
The disabled breakpoint can't be replaced whit

[2017-08-21 15:38] codehag opened #3731 "Source tree does not maintain correct sorting when navigating to different pages"
When loading the debugger for a page the first time, the debugger source tree has the correct sorting, however if you navigate away from that page to another one, the source tree will be out of order. It looks like `this.props.debuggerUrl` never changes

Screenshot of correct sorting (when using an initial load for google.com):
<img width="251" alt="screen shot 2017-08-31 at 2 13 29 pm" src="https

[2017-08-21 15:41] codehag commented on #3720
Thanks!

[2017-08-21 15:41] #3720 closed

[2017-08-21 15:42] codehag commented on #3717
Thanks for bringing this up, we should make that stick!

[2017-08-21 16:09] codehag commented on #3705
Thanks for the report!

[2017-08-21 16:10] codehag commented on #3707
I will investigate this in the panel and see if it is fixed

[2017-08-21 16:11] codehag commented on #3700
copy-paste from the issue:

User Agent: Mozilla/5.0 (X11; Ubuntu; Linux x86_64; rv:53.0) Gecko/20100101 Firefox/53.0
Build ID: 20170418123106

Steps to reproduce:

1. Open attached example.html in Firefox 53.0 or Firefox Developer Edition 54.0a2 (both affected, new and old debugger).
2. Open Developer Tools, go to Debugger.
3. Set breakpoint in line 8 (first statement in block).
4. Look at debugge

[2017-08-21 16:13] codehag commented on #1919
I am closing this for now as we have removed the WTR

[2017-08-21 16:13] #1919 closed

[2017-08-21 16:29] jasonLaster commented on #3156
@zacck would love the help!

[2017-08-21 17:23] codehag opened #3732 "Add hover effect to "add new tab" button"
We have removed the hover pointer from all of our elements, however we should have some indication of what is clickable.

@MayankSrivastav had suggestion of adding the same hover color as we have for our other buttons (ie stepping) and I think this is a great idea

![pasted image at 2017_08_21 10_28 pm](https://user-images.githubusercontent.com/26968615/29530894-3c52ccb6-86a6-11e7-86ec-4509ba6c37b

[2017-08-21 17:35] MayankSrivastav commented on #3715
Hi, Trying to work on this one. I have reproduced the issue. Seems like some problem with keybindings? Not sure though.
Can you please guide me a little?
Thanks

[2017-08-21 17:41] codehag opened #3733 "`yarn mochi` should use the local config"
We are currently using a hardcoded directory for `yarn mochi`, we should instead rely on what is set in the config
[code]

[2017-08-21 17:43] codehag opened #3734 "[styling] alignment of text hints for searchs"
This was brought up by @jnachtigall in #3718
"
I think for readability it would be better if the text was left-aligned centered. That is like:
[code]
instead of
[code]
"

I would also suggest making `Ctrl+P` and `Ctrl+Shift+F` bold

This is a good starting issue

[2017-08-21 19:07] codehag opened #3735 "[Windows] Issues with running jest"
I was investigating why jest tests are failing on windows with @nyrosmith, Here is what we found:

1) mochi tests are being run when the jest script is run.
2) several jest snapshots fail, though because of the huge output, we are unable to see which ones are failing. so far we have on log (but it isnt helpful). I have attached it.

Suggested plan: we should run this on another environment; I prop

[2017-08-21 19:09] bwhitty opened #3736 "Devtools open on debugger pane hangs Firefox on page refresh"
Firefox version: 56.0b3 (64-bit) (dev edition)
MacOS: 10.12.6 (16G29)
Installed addons: ublock origin, lastpass, react devtools, redux devtools, gecko profiler

The following traces are from just refreshing one of the pages (network caching disabled).

With devtools open on the debugger panel: https://perfht.ml/2vSYpDo
With devtools open on the network panel: https://perfht.ml/2vSKrRX
With devtool

[2017-08-21 19:13] codehag commented on #2883
this is done

[2017-08-21 19:13] #2883 closed

[2017-08-21 19:19] codehag commented on #3736
Thanks for the report! If I got it right, this is happening in the panel for 56, do you have a test case we can try out?

[2017-08-21 19:19] wldcordeiro commented on #3487
@jasonLaster The `Preview` used to have a prop called `location` that changed to `range`.

[2017-08-21 19:26] bwhitty commented on #3736
Correct, this is happening for FF 56. Perf is decidedly different based on which devtool panel is open, with the debugger grinding the entire browser to a halt. Unfortunately this is an internal application I can't share. I'm not entirely sure how to create a replication with the same size as the main bundles of this app. I am presuming that to be causing the issues.

[2017-08-21 19:28] codehag commented on #3736
ok, thanks for the info. We will investigate and get back to you :)

[2017-08-21 19:39] codehag commented on #1743
@captainbrosset what is the status so far of this?

[2017-08-21 19:45] codehag commented on #2634
closing for now as we removed the WTR

[2017-08-21 19:45] #2634 closed

[2017-08-21 19:50] #3151 closed

[2017-08-21 19:54] codehag commented on #3144
where do i find crypto? i was not able to find it among the examples

[2017-08-21 19:55] jasonLaster commented on #3144
Try previewing apply in a function apply or bind
On Mon, Aug 21, 2017 at 3:54 PM yulia <notifications@github.com> wrote:

[2017-08-21 20:02] codehag commented on #3259
we now only show the script name in the breakpoints, so this only applies to the callstack

[2017-08-21 20:03] codehag commented on #3259
this is related to https://github.com/devtools-html/debugger.html/issues/3215 so i am closing this one

[2017-08-21 20:03] #3259 closed

[2017-08-21 20:08] codehag commented on #3296
this is working for me, @bomsy perhaps this is done?

[2017-08-21 20:09] codehag commented on #3305
@jasonLaster who is currently working on this?

[2017-08-21 20:10] codehag commented on #3307
@ryanjduffy are you still looking into this?

[2017-08-21 20:12] codehag commented on #3345
this is done

[2017-08-21 20:12] #3345 closed

[2017-08-21 20:15] codehag commented on #3388
when i copy the stack trace i get this
[code]

in chrome, the copy stack trace looks like this:

[code]

I find these to be equivalent; shall we close this?

[2017-08-21 20:48] codehag commented on #3487
this is fixed

[2017-08-21 20:48] #3487 closed

[2017-08-21 20:50] #3708 closed

[2017-08-21 20:55] miketaylr opened #3738 "Codemirror hang when trying to open script in debugger"
(Found trying to investigate https://github.com/webcompat/web-bugs/issues/9102)

STR:

In Nightly/OSX:

1) go to https://www.zertifikate.commerzbank.de/webforms/mobile/index.html?home/{"site":{"country":1,"language":1,"isoCode":"de-DE"}}
2) open debugger and try to click on app.js from the sources panel

`Script: chrome://devtools/content/sour…odemirror/codemirror.bundle.js:1799`

<img width="820"

[2017-08-21 21:09] codehag commented on #3738
thanks for the bug report!

[2017-08-21 21:32] codehag commented on #3542
has this been resolved?

[2017-08-22 07:56] captainbrosset commented on #1743
@codehag unfortunately I haven't found the time to work on this more. And I believe it would be better if someone else picked up where I left off.
The remaining work needs to happen in mozilla-central. It is tracked in this bug: https://bugzilla.mozilla.org/show_bug.cgi?id=1354679
I wrote the code already, and it works. It just needs to be changed slightly to address review comments already made.

[2017-08-22 09:52] Anzumana commented on #3487
sweet

[2017-08-22 10:49] bomsy commented on #3296
heya, @yulia i checked again ...
This is what i see

#### Fixed
* We can add / remove column breakpoints on alt + click

#### Not Fixed
* We can't at the moment remove an existing column breakpoint when we click on it
* I'm still also having the issue where the breakpoint point is offsets are wrong

![](http://g.recordit.co/nKxU3cJJx3.gif)

Please confirm this

[2017-08-22 11:37] rohanprasad commented on #3732
@codehag Working on it. Can you think of other places I could do the same ?

[2017-08-22 11:55] bomsy commented on #3296
Will get a fix out today.

[2017-08-22 14:12] #3483 closed

[2017-08-22 14:55] jasonLaster commented on #3106
Just landed @jbhoosreddy's amazing PR for async stepping. There are now a couple of small follow ups:

1. land a test for step over (might need to tweak the implementation)
2. add support for step in and step out
3. add unit tests for the new parser functions

[2017-08-22 15:33] jasonLaster commented on #3542
yep

[2017-08-22 15:33] #3542 closed

[2017-08-22 15:52] jasonLaster opened #3746 "pause-exceptions.js is intermittent"
`Debugger.Frame is not live`

It looks like we might have a race condition with auto expanding properties in the object inspector

A promise chain failed to handle a rejection: No such actor for ID:
server1.conn16.child1/pausedobj1063 - stack:

[code]

Debugger.Frame is not live

[2017-08-22 17:32] jasonLaster commented on #3305
@sagorika1996 is working on it.

[2017-08-22 17:37] jasonLaster commented on #3715
@MayankSrivastav I think this might actually be a debugger server bug.

The keybinding is in `Editor/index.js` or Editor/Breakpoints

[2017-08-22 17:43] jasonLaster commented on #722
@SebastianZ sorry for the slow reply.

I think something like this makes sense if we think about it in terms of different modes (active / paused).

I like the idea of having the sidebar focus on breakpoints/watch expressions when the debugger is active and focus on pause state when its paused.

We would like to move the left sidebar toggling to a dropdown soon. Maybe this would be good with some k

[2017-08-22 17:52] juliandescottes commented on #3215
Issue #3259 was closed as duplicate of this one. Attaching my screenshot here, because even if both issues deal with function names being truncated, the STRs are different.

![image](https://user-images.githubusercontent.com/1141550/29579149-243c0148-8772-11e7-9e52-72823ec364c2.png)

The issue here occurs when there is not enough space to display both the function name and the script location. The

[2017-08-22 19:30] jasonLaster commented on #3730
Here's a sketch:

[code]

[2017-08-22 20:51] jasonLaster opened #3755 "[Preview] add a mochitest"
We have plenty of unit tests for preview, but it would be good to have atleast one mochitest to demonstrate hovering on a token

Fortunately the old debugger had some:

https://searchfox.org/mozilla-central/source/devtools/client/debugger/test/mochitest/browser_dbg_variables-view-popup-01.js

[reOpenPopup](https://searchfox.org/mozilla-central/source/devtools/client/debugger/test/mochitest/head.js

[2017-08-22 20:55] jasonLaster commented on #3755
@bomsy is on it

[2017-08-22 21:07] jasonLaster commented on #3705
Added an example [here](https://tide-clock.glitch.me/)

I noticed previewing the param works, so this is an issue w/ how we find the expression to evaluate

[code]

[2017-08-22 21:24] hughugsy commented on #3734
Hey, can I work on this? :)

[2017-08-22 21:26] codehag commented on #3734
@hughugsy its all yours! Let me know if you run into any trouble :)

[2017-08-22 21:29] darkwing commented on #3729
`SHOW_SOURCE` fires each time but `SourceTree`'s `componentWillReceiveProps` doesn't fire on the second attempt, so I'm thinking no state change prevents the signal from getting to `SourceTree`

[2017-08-22 21:32] jasonLaster commented on #3729
oh - that's really smart. we might need to clear shownSource

https://github.com/devtools-html/debugger.html/blob/master/src/reducers/ui.js#L41

[2017-08-22 21:36] jasonLaster commented on #3729
[code]

[2017-08-22 22:25] #3296 closed

[2017-08-23 07:33] TitanNano opened #3756 "[Breakpoints] in sourcemapped files are ignored"
Breakpoints set in source-mapped files are ignored. When I set the breakpoints in the generated source bundle the debugger halts. When I then step through the lines, the debugger jumps between the generated source and the mapped original source files, for every other line.

This is not the first time this bug appeared, it comes and goes every few weeks.

[2017-08-23 13:03] jasonLaster commented on #3756
Thanks for the report @TitanNano. Could you try to reproduce the bug with one of our two test apps:

http://aws-sensorweb-static-site.s3-website-us-west-2.amazonaws.com/
http://firefox-dev.tools/debugger-examples/examples/increment/

ideally increment because it's smaller :)

[2017-08-23 14:42] jasonLaster opened #3758 "[Vertical] there’s a gap between the top and bottom section "
The left sidebar tabs are floating a bit. And the Editor footer is off by 1px.

[code]

<img src='https://shipusercontent.com/bdf7e8b34dcff22ed71383f063ae17f8/Screen%20Shot%202017-08-23%20at%2010.41.31%20AM.png' title='Screen Shot 2017-08-23 at 10.41.31 AM.png' width=756>

[2017-08-23 15:46] codehag commented on #3274
This has been added. Also - Ctrl-c/Ctrl-v works!

[2017-08-23 15:46] #3274 closed

[2017-08-23 15:48] codehag commented on #3732
Done!

[2017-08-23 15:48] #3732 closed

[2017-08-23 15:57] jasonLaster commented on #3755
We sh

[2017-08-23 16:06] codehag commented on #3106
Closing and opening a new issue for tracking the remaining two improvements needed: improve step in / step out & and unit tests

[2017-08-23 16:06] #3106 closed

[2017-08-23 16:44] jasonLaster opened #3761 "CI Jest intermittent"
[code]

[2017-08-23 17:17] jasonLaster commented on #3761
alright - the intermittent test is `createPrettySource`

[2017-08-23 17:18] codehag commented on #3761
Thanks for the write up and investigation! was just about to do the same

[2017-08-23 17:58] codehag commented on #3626
I can confirm that #3749 shows an empty popup while we are loading the value. do we want to do a step 2 to this?

[2017-08-23 19:01] codehag commented on #3589
fixed by #3749

[2017-08-23 19:01] #3589 closed

[2017-08-23 19:02] #3626 closed

[2017-08-23 19:31] codehag commented on #3730
fixed by #3754

[2017-08-23 19:31] #3730 closed

[2017-08-23 19:35] sagorika1996 commented on #3705
Getting this when applying break at `return bar * 4;`
<br>
![image 3](https://user-images.githubusercontent.com/20087782/29634634-179f76e4-8868-11e7-9e8e-e17bea9e062e.png)

[2017-08-23 20:05] #3729 closed

[2017-08-23 20:10] jasonLaster opened #3766 "[CI] CodeCov is unreliable"
It would be nice to fine tune the codecov config so we can get better results. Occasionally we see silly errors like this:

<img src='https://shipusercontent.com/bb27b7a80bc125a2b5ed1003d5bdf9e1/Screen%20Shot%202017-08-23%20at%204.09.12%20PM.png' title='Screen Shot 2017-08-23 at 4.09.12 PM.png' width=780>

[2017-08-23 20:15] jasonLaster opened #3767 "Search mochitests are intermittent"
This is some errors we got when we running the tests:

* search-sources
* search-file
* search-project

It looks like we're expecting to get a state and we don't...

[code]

[code]

[code]

[2017-08-23 20:21] jasonLaster commented on #3733
closing and adding to #3660

[2017-08-23 20:21] #3733 closed

[2017-08-23 23:39] jasonLaster commented on #3761
i think theres another int

[2017-08-24 01:09] jasonLaster opened #3769 "Find Intermittents"
I started a script to help us find intermittents.

There are two basic algorithms:
1. run each test N times and report which failed
2. run partition of tests and report which failed. When there's a failure continue partitioning

<img src='https://shipusercontent.com/1ecbb89166a3c8302394df8e381c4bd9/Screen%20Shot%202017-08-23%20at%209.07.47%20PM.png' title='Screen Shot 2017-08-23 at 9.07.47 PM.png'

[2017-08-24 05:13] jasonLaster commented on #3769
<img src='https://shipusercontent.com/8967081056f24707b3e67b1aaa79e6be/Screen%20Shot%202017-08-24%20at%2012.20.15%20AM.png' title='Screen Shot 2017-08-24 at 12.20.15 AM.png' width=818>

[2017-08-24 07:49] rohanprasad commented on #3506
Hey guys, can you suggest any component that I can pick up ?

[2017-08-24 07:54] rohanprasad commented on #2426
@jasonLaster Is this resolved after #3711  ?

[2017-08-24 07:56] rohanprasad commented on #2796
@jasonLaster Any update regarding this ? Can I pick this if no one else is working ?

[2017-08-24 07:58] rohanprasad commented on #2901
@jasonLaster Is this done ?

[2017-08-24 08:08] nyrosmith commented on #2426
@rohanprasad this is solved. Are you using windows?

[2017-08-24 08:12] rohanprasad commented on #2426
@nyrosmith Nope, I was looking into open issues. If the issue is resolved it can be closed. 🙂

[2017-08-24 08:24] nyrosmith commented on #2426
@rohanprasad  I'd like to but I don't have permissions

[2017-08-24 09:11] SebastianZ commented on #3705
With the simple example I also can't reproduce it anymore using Nightly 57.0a1 (2017-08-23), though the more complex one still shows the error.

Sebastian

[2017-08-24 09:13] #2426 closed

[2017-08-24 09:23] rohanprasad commented on #3714
@jasonLaster I was trying to debug this and found that the query is not added to the store which is causing the error. In the autocomplete component the onChange event sets the query string in state of autocomplete. But on resizing, due to SplitBox the components are destroyed and re-rendered, which causes the query string to be lost.

Working on a fix.

[2017-08-24 09:45] bomsy commented on #3714
@rohanprasad nice! will mark this in progress

[2017-08-24 12:54] rohanprasad commented on #3714
So I did some quick tweaks and got things working. But currently I used https://github.com/devtools-html/debugger.html/blob/master/src/reducers/project-text-search.js to save the result. I'll create a similar reducer for source-search (correct me if I am wrong).

I was also working on https://github.com/devtools-html/debugger.html/blob/master/src/components/shared/Autocomplete.js and would like to

[2017-08-24 13:23] jasonLaster commented on #3506
@rohanprasad perhaps Outline?

[2017-08-24 13:25] zacck commented on #3506
But I thought I did Outline already?

[2017-08-24 13:25] jasonLaster commented on #3714
Sounds good!

[2017-08-24 13:28] jasonLaster commented on #3506
:) true. Perhaps Frame

[2017-08-24 13:36] rohanprasad commented on #3506
@jasonLaster Sure, I have already started with #3714 , will pick this after that.

[2017-08-24 14:55] bughit commented on #1108
which firefox version is this planned for?

[2017-08-24 15:51] jasonLaster commented on #1108
It's turned on nightly today :)

[2017-08-24 16:56] jasonLaster opened #3771 "Use Babel to stop adding displayName for react classes"
It would be neat if we could stop adding displayName to our react components.

https://github.com/Krizzu/babel-plugin-transform-react-class-displayname

[2017-08-24 17:00] nyrosmith commented on #3771
I'll take this one @jasonLaster

[2017-08-24 17:02] codehag commented on #3771
Correct me if i'm wrong, but I was under the impression that babel does this automatically? and that we were using displayName because we were not using webpack? https://github.com/babel/babel/issues/1331

[2017-08-24 17:06] nyrosmith commented on #3771
Really unsure about this rn. Will investigate...

[2017-08-24 17:08] codehag commented on #3771
The library is also a bit young / underused -- there might be an alternative solution that is better tested. I agree that it would be nice to stop adding displayName unless we need a custom displayName.

[2017-08-24 17:17] jasonLaster commented on #3771
Oh, maybe it does... either way, lets stop using displayName :)

[2017-08-24 21:04] digitarald opened #3777 "[Console] source links don't link to prettified source"
See http://recordit.co/zm6FMcPu9w

### STR

1. Open console on bbc.com/news
2. Click source for formatted log (was `init.js:1:11836` for me)
3. Prettify `init.js` in Debugger
4. Back in Console, click link `init.js:1:11836` again

#### Expected

Debugger opens with the right position in prettified source

#### Actual

Debugger opens the old un-prettified source

[2017-08-24 21:09] digitarald opened #3778 "[prettyPrint] prettifing should remember the user intent to jump to a specific line"
Affordability issue I noticed in https://github.com/devtools-html/debugger.html/issues/3777

### STR

- Open `https://www.facebook.com/?pagelet_ts=1` (logged out)
- Click one of the first logs in the Console (`BigPipe/init …`) to jump to the file
- Prettify the file
- ~Old steps~
  - ~Open console on bbc.com/news~
  - ~Click source for formatted log (was init.js:1:11836 for me)~
  - ~Prettify `ini

[2017-08-24 21:27] codehag commented on #682
We do not have a pause warning anymore, so I am closing this and adding it to the feature backlog

[2017-08-24 21:27] #682 closed

[2017-08-24 21:29] codehag commented on #717
closing and adding to the feature backlog

[2017-08-24 21:29] #717 closed

[2017-08-24 21:31] codehag commented on #1167
this file does not appear any more in the source tree -- what is the status?

[2017-08-24 21:34] codehag commented on #1377
I am closing this in favor of #3460 (duplicate issue) Will refer back to this when working on it

[2017-08-24 21:34] #1377 closed

[2017-08-24 21:51] #3490 closed

[2017-08-24 21:53] codehag commented on #1921
I am closing this and adding it to our feature backlog

[2017-08-24 21:53] #1921 closed

[2017-08-24 23:14] digitarald commented on #1972
![](https://github.trello.services/images/mini-trello-icon.png) [Async Call Stack](https://trello.com/c/oYD570Mt/45-async-call-stack)

[2017-08-24 23:31] jasonLaster commented on #1167
It's now search-files. We should kill the issue bc we have a new search-
issue
On Thu, Aug 24, 2017 at 3:31 PM yulia <notifications@github.com> wrote:

[2017-08-25 08:03] TitanNano commented on #3756
I can't reproduce it with either of the apps. I think it's a source-mapping issue. Is there any way I can check if there is anything wrong with our source-maps?

When I set the breakpoints in the generated source, the debugger jumps to the correct mapped line. but when I set a break point in a mapped source mostly the debugger does not halt there. So some part of the debugger is not happy with our

[2017-08-25 13:40] zacck commented on #3156
Hey guys! So trying to work on this, But I am currently running into a small problem.
I am currently having such a difficulty setting the types for the `any`s due to lack of information of what they are intended to be, What would be the best solution for this? Would it be to track down authors and ask them?

I am currently working on the `any` declarations in the actions folder. And for the ones t

[2017-08-25 14:05] jasonLaster commented on #3756
I'd be happy to help test on Monday. I'll also write docs for the steps I'd
take
On Fri, Aug 25, 2017 at 2:03 AM Jovan Gerodetti <notifications@github.com>
wrote:

[2017-08-25 17:06] jasonLaster commented on #3682
I believe this bug is coming the fact that we "move" breakpoints to keep them in the same original location when the user reloads.

Scenario:
1. the app is using sourcemaps to bundle three files (a,b,c).
2. The user adds a breakpoint to file b, line 10
3. the user changes file a
4. the user reloads the page
5. the debugger sees that the file b, line 10 breakpoint points to the wrong generated loca

[2017-08-25 17:14] codehag commented on #3771
I can confirm that JSX does this automatically: https://facebook.github.io/react/docs/react-component.html#displayname

perhaps we can attach this to the jsx issue, and use this issue to track the components that have already been converted?

[2017-08-25 17:18] codehag commented on #3771
on second thought, lets make this a tracking issue for this task on its own. It is a good starting issue

[2017-08-25 18:44] bomsy opened #3782 "[Project Search] File path does not appear in nightly"
The file paths for the results do not show up in nightly

![image](https://user-images.githubusercontent.com/792924/29727932-d012e466-89cd-11e7-9a77-fe03e8943dda.png)

[2017-08-25 19:10] codehag commented on #3782
thanks for reporting it bomsy!

[2017-08-25 23:09] jasonLaster commented on #3660
Here's a sketch for a prompt when mochi finsihes

[code]

[2017-08-25 23:12] darkwing opened #3787 "[ProjectSearch] Improve Text Search -> Source Transition"
I'd like to make a few suggestions re: text search

1.  When clicking on a line result in the search results, it would be nice if the line or keyword instance would be highlighted when the source is opened.

2.  Stealing from Atom (and probably lots of other text editors), it would be sweet if the search results opened in their own source tab and then persisted as a background tab when clicking on

[2017-08-26 00:44] darkwing opened #3789 "cursor: pointer consistency"
I'm a big fan of `cursor: pointer` but it looks like it's been removed from everything except for the left-side source tree.  For consistency we should remove the cursor from the left side if we're wanting to remove it from clickables everywhere else.

[2017-08-26 02:31] bomsy commented on #3787
@darkwing totally agree. I think we have a flash highlight on the line atm, but It seems to be a really quick one and the user may not really see it. it would be really useful to have a more lasting highlight on the line and/or the keyword.

2. We have this in the works! Atm tabs are tightly coupled to sources making it difficult to create tabs that are not source related tabs. I'm working on a PR

[2017-08-27 14:35] jasonLaster opened #3792 "[CallStack] show react components"
Create React App has begun showing Error Stacks with component information. The benefit of this UI is that it shows users the component tree so they can see where something went wrong.

It would be great if we could show the component names in the call stack. In the screenshot below I include the react render frames, but those might not be useful

@sebmarkbage has a spec for custom stack frames [h

[2017-08-27 14:36] jasonLaster commented on #3792
cc @gaearon @bvaughn

[2017-08-27 15:01] gaearon commented on #3792
To be clear we haven't enabled this in React yet but I'm working on it.

[2017-08-28 05:21] wldcordeiro commented on #3506
Down to just `ChromeScopes` and some storybook files! 😄

[2017-08-28 05:39] wldcordeiro commented on #3506
I'm covering the last bits in a PR. 🎆

[2017-08-28 06:37] zacck commented on #3506
@wldcordeiro  I was working on `previewFunction` but @jasonLaster  said not to  bother since we are going to do away with it.

[2017-08-28 07:31] wldcordeiro commented on #3506
@zacck oh well what's done is done. 😆 This way we have no code using older ReactDOM helpers and when we do get rid of it it's a swap.

[2017-08-28 09:55] juliandescottes opened #3794 "Synchronize properties file changes from Bug 1394195"
https://bugzilla.mozilla.org/show_bug.cgi?id=1394195 contains a patch that cleans up debugger's properties file (removing useless comments, fixing ordering, fixing capitalizing of accesskeys)

The changes should be synchronized here.

[2017-08-28 10:22] juliandescottes opened #3795 "Recurring issues with properties file updates"
The PR #3713 landed with a wrong localization note in the properties file.

`# LOCALIZATION NOTE (copy)`

`copy` should match the name of the localization string.

` # LOCALIZATION NOTE (copySource)`

Issues with the properties file are a recurring friction point we have when dropping a new bundle of the debugger in mozilla-central. Sorry to nag you about that, but catching this kind of things whe

[2017-08-28 10:33] flodolo commented on #3795
Some projects are using the CODEOWNER file to ping me automatically
https://github.com/mozilla/testpilot/blob/master/CODEOWNERS

Downsides:
* Right now, it's just me
* It might get a bit confusing, since I'm reviewing string changes, not looking at code, and the PR might look reviewed
* I'm afraid you need to add me as contributor to the repo (but I'm not completely sure about this).

[2017-08-28 10:35] flodolo commented on #3795
This might be a better doc to look at
https://developer.mozilla.org/en-US/docs/Mozilla/Localization/Localization_content_best_practices#Choose_good_key_IDs

Also note something that debugger is not doing: it would be great to have keys called "FOO.label and FOO.accesskey", vs "FOO and FOO.accesskey".

[2017-08-28 13:30] juliandescottes commented on #3795
Quickly discussed about this with @jasonLaster and we'll add @flodolo to CODEOWNERS for the properties file.

[2017-08-28 13:42] jasonLaster commented on #3756
I believe this is a duplicate of #3479

[2017-08-28 13:42] #3756 closed

[2017-08-28 13:44] jasonLaster opened #3798 "share Debugger State"
It would be amazing if we could make it easy for developers to share some of the debugger state with us. We could do this by giving them a hack like "shift+option+d" that would copy some of the debugger state to JSON which they can send to us.

This would make it much easier for us to debug some cases.

[2017-08-28 14:38] jasonLaster opened #3800 "Framework Features"
- [x] 1. Highlighting framework frames in the call stack. More work to do here.
- [ ] 2. Show component names in the call stack. React team excited about this. Right now we show filenames. They want to map it to something semantic to the framework. Would be unique. #3792
- [x] 3. Showing framework components in the source tree.
- [x] 4. Previewing library objects on hover. Custom formatters with a

[2017-08-28 15:42] TitanNano commented on #3479
I believe this issue only appears for me when
[code]
is generated to
[code]

[2017-08-28 15:43] jasonLaster commented on #3479
Thanks - i would like to figure out why the original -> generated mapping is one line off

that's a great find!

[2017-08-28 15:44] jasonLaster opened #3801 "[breakpoints] shift click should disable/enable"
It would be great if shift clicking on breakpoints in the gutter would enable/disable them.

I noticed this behavior when i tried every combination in chrome and discovered they support shift click :)

[2017-08-28 16:03] jasonLaster opened #3802 "[breakpoints] test reloading w/ a changed bundle file"
@tromey added a mochitest for source map reloading that would be the good foundation for a breakpoint test.

We would like to test the scenario where:
1. the user adds a breakpoint in an original file
2. the user changes another file
3. the user reloads and the debugger changes the breakpoints generated location to stay in the same original location

We have support for adding a server side reques

[2017-08-28 16:37] jasonLaster commented on #3795
@flodolo I just added you as a collaborator. I think you'll have to accept before you're included

[2017-08-28 16:49] flodolo commented on #3795
Done, thanks.

[2017-08-28 16:56] pradeepgangwar commented on #3758
I am new person here looking to have a start by contributing to some easy bugs and understanding the code base. So, I would be happy to solve this bug.
And help me by explaining more about this bug.

[2017-08-28 16:57] jasonLaster commented on #3758
@pradeepgangwar great.

[2017-08-28 16:57] #3795 closed

[2017-08-28 16:59] #3794 closed

[2017-08-28 16:59] pradeepgangwar commented on #3758
Can you help me by explaining a bit more about the bug?

[2017-08-28 17:00] jasonLaster commented on #3758
do you see the gap in the sources view tab. the dark tab should touch the command bar, but it is elevated by 4 or so pixels

[2017-08-28 17:30] jasonLaster commented on #3682
This is fixed here:

https://bugzilla.mozilla.org/show_bug.cgi?id=1394495

[2017-08-28 18:09] wldcordeiro commented on #3506
It's a wrap! We now are using JSX everywhere, thank you everyone for your help getting the project onto the JSX train. We hope that this enables more contributors to join in and reduces friction for them along with our move to future React versions! 🎉 🎉

[2017-08-28 18:09] #3506 closed

[2017-08-28 19:42] pradeepgangwar commented on #3758
@jasonLaster I saw this problem is on smaller screen. When the right side bar comes below.

So, to solve this bug I should edit a file related to this on my local machine and then send a PR. Are there any tests to run before sending a PR?

[2017-08-28 21:14] #3648 closed

[2017-08-28 21:31] jasonLaster opened #3807 "Async Stepping"
This is a tracking issue for supporting async stepping

[code]

- [x] land a test for step over (might need to tweak the implementation)
- [ ] add support for step in and step out
- [ ] add unit tests for the new parser functions
- [ ] add support for stepping over the last statement

[2017-08-28 21:41] codehag commented on #3660
I merged in the current branch, what is the status here? can we clsoe?

[2017-08-28 22:32] jasonLaster commented on #3758
feel free to open the tabs PR first. you can just open the PR. :)

[2017-08-28 22:32] jasonLaster commented on #3758
we have a `yarn test-all` script that is run before you push :)

[2017-08-29 11:57] rohanprasad commented on #3714
@jasonLaster Hey, I've created a PR #3809 for the issue. I am not sure about the purpose of Autocomplete.js so I tried not to remove anything. Please have a look and provide feedback.

[2017-08-29 12:20] pradeepgangwar commented on #3758
@jasonLaster Raised a PR for tabs. Please review.

[2017-08-29 14:20] #3189 closed

[2017-08-29 14:21] #1167 closed

[2017-08-29 14:25] #3719 closed

[2017-08-29 14:27] jasonLaster commented on #2496
We might be able to fix this by realizing that we're currently doing a watch expression evaluation and automatically resuming

[2017-08-29 14:53] #3270 closed

[2017-08-29 19:28] Standard8 opened #3813 "Return values of functions are not displayed"
STR:

1) Step through a function using the Step Into option.
2) Get to a stage where the function jumps to the end and is ready to return
3) Try and work out what value the function is returning.

Actual Results

=> No indication (that I can see) of the value

Expected Results

=> Indication of what the function returns.

iirc the old xul based debugger used to do this.

I'm using today's FF night

[2017-08-29 19:35] jasonLaster opened #3814 "[workers] get worker list"
Relevant links:
* http://searchfox.org/mozilla-central/source/devtools/server/actors/child-process.js#119
* http://searchfox.org/mozilla-central/search?q=workerListChanged&path=
* see about:debugging examples for the toolbox link

Connect the event (useful when the list of workers changes)
[code]

 Here is a diff for adding a debuggee reducer, and getting the workers:
 https://gist.github.com/jaso

[2017-08-29 19:47] digitarald commented on #3777
Links to event handlers from the Inspector are also affected by this.

[2017-08-29 20:05] jasonLaster opened #3815 "Worker List"
- [x] Show list of Workers (React) #3701
- [x] Get the worker list data (Redux) #3814
- [x] Show Worker data in the component (React-redux)
- [x] Update the list or workers when it changes (Add workerListchanged)
- [x] Add the link to open a new worker toolbox #4033
- [x] Listen for new workers and add them to the list

[2017-08-29 20:06] tromey commented on #3777
The bug here is that other users of the source mapping service aren't notified when a source is prettified.  I plan to handle this in https://github.com/devtools-html/devtools-core/issues/352 - it's just been pushed down the queue a bit.

[2017-08-29 20:43] jasonLaster opened #3816 "[Console] Error links 404"
I believe the webpack links here 404, lets try and get a small test case:

![Screen Shot 2017-08-29 at 4.42.40 PM.png](https://shipusercontent.com/388e7e64a223517f50fd818cd7988306/Screen%20Shot%202017-08-29%20at%204.42.40%20PM.png)

[2017-08-29 21:23] jasonLaster commented on #3427
The source map env spec outlines what we'll need to do in the general case

https://github.com/fitzgen/source-map-rfc/blob/scopes-and-bindings/proposals/env.md

[2017-08-30 01:50] palnes commented on #3816
A repository for reproducing can be found at https://github.com/palnes/debugger3816 :) Hope that helps!

[2017-08-30 02:04] jasonLaster commented on #3816
Thanks @palnes! That is a huge help

[2017-08-30 02:04] jasonLaster commented on #3816
@tromey would you be interested in taking a look. It might be related to the source map service not seeing the source.

[2017-08-30 02:10] jasonLaster commented on #3777
@tromey interesting. I'm not sure if we're calling `applySourceMap` for pretty printed sources.

Context: the new debugger has different tabs for pretty and raw sources. I believe the old debugger treated a pretty printed source as the same source. We made this decision because we thought it was nice in some cases to see both versions.

[2017-08-30 02:14] jasonLaster commented on #3813
This is a likely a duplicate of #3390. I believe @codehag and @tromey are looking at this case tomorrow.

[2017-08-30 02:14] jasonLaster commented on #3390
#3813 has another example of this.

[2017-08-30 02:14] #3813 closed

[2017-08-30 15:04] jasonLaster opened #3819 "Switch feature flags to prefs"
We recently started using the [prefs] system for feature flagging. It has several advantages over the `devtools-config` system:

1. prefs can be changed in firefox in `about:config`
2. prefs are saved in local storage and the prefs system
3. devtools config is in a JSON that's hard to sync.

In this PR, it'd be nice to

1. switch `isEnabled("foo")` to `features.foo`
2. add the feature to `utils/pr

[2017-08-30 15:35] jasonLaster commented on #2901
@rohanprasad yeah, this was V1 and we can consider it done

[2017-08-30 15:35] #2901 closed

[2017-08-30 16:43] jasonLaster commented on #3383
@yurydelendik added a weakmap here that keeps us from doing unnecessary updates:

https://github.com/devtools-html/debugger.html/pull/3764/commits/c308ceb2851d561b9987d70aa42a2c5cbce887b0

we might want to revisit later.

[2017-08-30 16:46] jasonLaster opened #3820 "We should fix linter warnings in storybooks"
STR: `yarn lint-js`

should be fairly easy to fix... I think

![Screen Shot 2017-08-30 at 12.44.55 PM.png](https://shipusercontent.com/91e5b26abd0d7e54cb8a5dceb12e138e/Screen%20Shot%202017-08-30%20at%2012.44.55%20PM.png)

[2017-08-30 18:03] #3383 closed

[2017-08-30 18:25] zacck commented on #3651
@bomsy  trying to tackle this one ands I can't seem to replicate the issue you are facing has that been handled?

[2017-08-30 18:42] jvilk opened #3822 "Memory Leak in Preview Component"
The `Preview` component adds four event listeners to CodeMirror that remain after it unmounts.

[code]

This leak adds around 500KB to `debugger.html`'s heap size every time a source document is opened and closed.

Forgive me for using a competing browser for capturing the heap; it's the setup I'm currently working with!

### Experiment Setup

* Fresh installation from master (last commit: 91f5c63

[2017-08-30 18:43] bomsy commented on #3651
one thing that would be fun would be to highlight the line number when the file path is focused - JLast

[2017-08-30 18:56] bomsy commented on #3651
@zacck i've added @jasonLaster comments here for ease

[2017-08-30 19:04] zacck commented on #3651
@bomsy  Thank you 😄
@jasonLaster for the  number highlight I propose we change the  focused line-number to white, I have also added indentation to the  numbers. Please see the attached image
![screen shot 2017-08-30 at 8 57 52 pm](https://user-images.githubusercontent.com/897731/29890029-79a3b068-8dc6-11e7-897e-dae8e5eeaf13.png)

Going to attempt switching the file path and file icon filling to a

[2017-08-30 19:11] jasonLaster commented on #3651
Here's the text selection

1. lighten gutter lines
2. ligthen lines
3. outline around matches...

lots of good stuff :P

![](http://g.recordit.co/koMBTlEeva.gif)

[2017-08-30 19:15] jasonLaster commented on #3822
@jvilk that looks like a great fix. Would you like to open the PR?

Perhaps one tweak would be to reference the underlying source documents like we do here
https://github.com/devtools-html/debugger.html/blob/master/src/components/Editor/Breakpoint.js#L104-L108

Stop by and say hello in our slack
https://devtools-html-slack.herokuapp.com/

I'd love to chat source maps & debuggers with you some time

[2017-08-30 19:18] jasonLaster commented on #3822
Are you involved in the source map visualization project?

We're working on a product doc for some extra source map features. I'm curious to see what you think.
https://docs.google.com/document/d/1uwhgWIX9FDDGbeCqZf9LQHCl6ACK2fKQFLsy7SN4JAs/edit

[2017-08-30 19:21] zacck commented on #3651
@jasonLaster  do you think I can 'compose' the code-mirror-gutter-background?  In order to make it lighter? I am not in favor of changing the value because what happens in light mode then?

[2017-08-30 19:49] jasonLaster opened #3824 "[Preview] ignore `=` token"
STR:

1. pause in todo-view.js line 81
2. mouse over the `=` on the line

Expected: nothing should happen
Actual: see the whole expression highlighted

The fix is probably to blacklist `=`, but it would be nice to poke around and see what else we should exclude.
[code]

So, what's the harm of highlighting the whole expression? Well, glad you asked:

1. it might do the entire assignment which is mu

[2017-08-30 19:56] jvilk commented on #3822
I'm not directly involved, but I remember contributing ideas and maybe some code to that project. I do perform a lot of work with program transformations and source maps. I'll drop by the Slack channel to chat further.

[2017-08-30 20:07] jasonLaster commented on #3651
compose?

[2017-08-30 20:09] zacck commented on #3651
To lighten the gutter in dark mode, I would need to darken it in light mode? Or am I over complicating this?

[2017-08-30 20:11] jasonLaster commented on #3651
I don't think we have a gutter in project search. I'm confused

[2017-08-30 21:21] jasonLaster commented on #2626
This has gone stale, so i'll move it to enhancements

https://github.com/devtools-html/debugger.html/projects/5

[2017-08-30 21:21] #2626 closed

[2017-08-30 21:23] jasonLaster commented on #3254
closing as we're not currently working on this. It's in the tracking issue, so we can re-open when we come back

[2017-08-30 21:23] #3254 closed

[2017-08-30 21:23] jasonLaster commented on #3295
closing as we're not currently working on this. It's in the tracking issue, so we can re-open when we come back

[2017-08-30 21:23] #3295 closed

[2017-08-30 21:25] jasonLaster commented on #3453
This is one of the source map contracting items: https://docs.google.com/document/d/1uwhgWIX9FDDGbeCqZf9LQHCl6ACK2fKQFLsy7SN4JAs/edit#

[2017-08-30 21:26] #3474 closed

[2017-08-30 21:26] jasonLaster commented on #3474
This work will be done in devtools core

[2017-08-30 21:30] jasonLaster opened #3828 "[PrettyPrint] we should map call stack locations"
STR:

1. Go: https://devtools-html.github.io/debugger-examples/examples/pythagorean/
2. Set Breakpoint on line 8
3. In pythagorean click the ( Math ) button
4. Pretty Print the file

You should see pretty locations in the call stack.
CC #2813

[2017-08-30 21:30] jasonLaster commented on #3828
moving to enhancements board

[2017-08-30 21:30] #3828 closed

[2017-08-30 21:30] #2813 closed

[2017-08-30 21:31] codehag commented on #3798
We should update the docs for now with how to get this information from the browser toolbox and see if it is helpful

[2017-08-30 21:34] jasonLaster commented on #3532
We might get this for free when we add persisted pretty tabs

[2017-08-30 21:36] #3703 closed

[2017-08-30 21:38] #2796 closed

[2017-08-30 21:38] jasonLaster commented on #2796
Thanks @rohanprasad, but we're punting on code folding at the moment. We can pick it up later.
https://github.com/devtools-html/debugger.html/projects/5

[2017-08-30 21:45] jasonLaster opened #3829 "[ProjectSearch] search the source when a match is selected"
When clicking on a line result in the search results, it would be nice if the line or keyword instance would be highlighted when the source is opened.

Atom does this really nicely when you select a match. For us it would be as easy as firing this [action](https://github.com/devtools-html/debugger.html/blob/master/src/actions/ui.js#L45-L50)

### 1. project search

![Screen Shot 2017-08-30 at 5.43.

[2017-08-30 21:45] codehag commented on #3451
In this case we have a file that has an extention `.php`, but the underlying script is javascript. We are doing a check for `Content-Type` in the pretty print worker, but it seems to not be working as expected. A good place to look is in `src/utils/source.js` in the `isJavascript` function to see what is going on.

[2017-08-30 21:46] jasonLaster commented on #3787
closing bc this covers the selection #3829. Tabs is separate

[2017-08-30 21:46] #3820 closed

[2017-08-30 21:47] jasonLaster commented on #3280
Moving this to the enhancements board.
https://github.com/devtools-html/debugger.html/projects/5

[2017-08-30 21:47] #3280 closed

[2017-08-30 21:54] jasonLaster commented on #3316
Here's a sketch for where the CSS should go

[code]

Feel free to test this by setting the Pause on Exceptions button to pause on all exceptions and then adding something crazy :) like `throw new Error("fo")`

[2017-08-30 21:56] #3758 closed

[2017-08-30 21:58] codehag commented on #3689
this might be related to #3479

[2017-08-30 22:01] codehag commented on #2840
I am doing some research -- it is strange that we are inheriting our styles from the editor.

[2017-08-30 22:03] jasonLaster commented on #2180
This should be easier now because we keep track of the fact that we're currently stepping and that we have an action that fires when we finish stepping. With that said, this not currently a priority, so I'll move it to the enhancements board.

If someone is interested in picking it up, I can share some context.

[2017-08-30 22:03] #2180 closed

[2017-08-30 22:05] jasonLaster commented on #1661
@bomsy's PR is a great place to start. The first part will be re-applying the patch. The second part will be writing a new unit test w/ pretty printing.

[2017-08-30 22:35] jasonLaster opened #3830 "Style Welcome Box Shortcuts"
It would be nice if we could do three things here

* align the shortcuts
* drop the +
* add function search cmd+shift+o

### Ours
![Screen Shot 2017-08-30 at 6.31.22 PM.png](https://shipusercontent.com/b713781a2bff06f33f753fefa41d0271/Screen%20Shot%202017-08-30%20at%206.31.22%20PM.png)

### Chromes
![Screen Shot 2017-08-30 at 6.30.58 PM.png](https://shipusercontent.com/52fb3aebab6010dff4eb03231e6b

[2017-08-30 22:44] jasonLaster opened #3831 "[Preview] the debug line should not flash"
We have a cute bug where we flash the debug line when we hover on an expression we're evaluating.

![](http://g.recordit.co/FIkTetDWsG.gif)

#### Code Sketch

To fix this we'll want to note what the current command is. Perhaps we call it "preview". We'll then want to pass the command to debug line and tell it not to update in that case.

[code]

[2017-08-30 23:44] bzbarsky commented on #3451
In general, browsers will run scripts even if they're served with random MIME types.  So checking Content-Type is not the right way to go about detecting whether something is a script from the browser's point of view...

[2017-08-30 23:46] jasonLaster commented on #3451
hmm, i wonder if we want to have a blacklist then... like HTML?

[2017-08-31 00:43] darkwing opened #3833 "[Editor] Improve EmptyLines"
A few ways I think my EmptyLines logic could be improved:

- [ ] The debugger has breakpoint setting logic whereby if you try to set a debugger at a certain point, the breakpoint is moved to a different line:

[code]

- [ ] If the only contents of the line are `"use strict";`, we can empty that line.  Consequently, the previous point triggers on this line too.

[2017-08-31 01:46] darkwing commented on #3833
Tracing through the source, the breakpoint location shifting is occurring in:

*  src/reducers/breakpoints.js
  -> `addBreakpoint`
  ->  `if(previousLocation)`

[2017-08-31 02:03] darkwing opened #3834 "Evaluate Sequential await Usage"
I noticed debugger.html uses lots of `await`(yay!), sometimes back to back, a la:

[code]

Google's Async functions doc (https://developers.google.com/web/fundamentals/getting-started/primers/async-functions) makes a really good point about optimizing and parallelism with `await` usage:

[code]

We should evaluate where we're using awaits and see what we can do to ensure we're not being too sequen

[2017-08-31 02:28] jasonLaster commented on #3834
That's a nice idea.

One thing to keep in mind is that sometimes the second action is dependent on the first. This is often the case w/ loading text and getting source symbols, which empty lines uses

[2017-08-31 06:22] nyrosmith commented on #3787
@jasonLaster  I think you forgot to push the "close" button :-)

[2017-08-31 13:30] pradeepgangwar commented on #3830
@jasonLaster I looked into the issue and tried to understand the code behind it. I was able to modify the looks of text but I am not able to rempve "+" sign from shift.

For changing the looks I modified **WelcomeBox.css** and **WelcomeBox.js**

![screenshot-2017-8-31 debugger](https://user-images.githubusercontent.com/21259802/29925356-b7798180-8e7d-11e7-9c89-173620a752ae.png)

Can you help me in

[2017-08-31 13:31] jasonLaster commented on #3787
Do you mean the separate tab? That *should* be tracked in another issue.

[2017-08-31 13:33] jasonLaster commented on #3833
Hmm, this makes me think that we might want to make empty lines a little bit more generous. Basically make it impossible to add a bp on the end of the object curly. Also, it'd be nice to exclude the route keys because there's nothing called. It'd be nice to have some smarter algorithms.

[2017-08-31 13:33] jasonLaster commented on #3833
We can also let this sit for a bit and revisit it in a month or two...

[2017-08-31 13:52] jasonLaster commented on #3830
Sure. Can you open the PR and we can work there?

[2017-08-31 14:30] pradeepgangwar commented on #3830
@jasonLaster  Created PR #3835 . Please look at it.

[2017-08-31 15:36] jasonLaster commented on #3782
I was able to reproduce when debugging the debugger.
Maybe this is a problem w/ original files:

<img src='https://shipusercontent.com/6320cf5ed8e5fbdf08b5779450d55091/Screen%20Shot%202017-08-31%20at%2011.35.28%20AM.png' title='Screen Shot 2017-08-31 at 11.35.28 AM.png' width=597>

[2017-08-31 15:37] #3682 closed

[2017-08-31 15:47] jasonLaster opened #3837 "[ProjectSearch] Freezes when searching a lot files"
STR:
1. Open the debugger.html in the launchpad
2. cmd+shift+f

<img src='https://shipusercontent.com/087456aaf208276a3ed1f16ec2fca6c6/Screen%20Shot%202017-08-31%20at%2011.46.52%20AM.png' title='Screen Shot 2017-08-31 at 11.46.52 AM.png' width=952>

[2017-08-31 16:27] jasonLaster commented on #3782
this is s

[code]

[2017-08-31 16:36] jasonLaster commented on #3645
@anzumana is on it

[2017-08-31 18:49] nyrosmith commented on #3814
Working on it!

[2017-08-31 18:50] darkwing commented on #3834
Yep, thus the evaluation.  Most cases probably do rely on each other.

[2017-08-31 20:18] codehag commented on #3731
Screenshot of correct sorting (when using an initial load for google.com):
<img width="251" alt="screen shot 2017-08-31 at 2 13 29 pm" src="https://user-images.githubusercontent.com/26968615/29943561-21b5a956-8e57-11e7-8c37-b34e6adde470.png">

Screenshot of incorrect sorting (when navigating to google.com from the debuggee):
<img width="249" alt="screen shot 2017-08-31 at 2 14 31 pm" src="https://

[2017-08-31 20:18] #3388 closed

[2017-08-31 20:18] jasonLaster commented on #3388
Copying reps values will be done in devtools core

[2017-08-31 20:21] codehag commented on #3731
this is probably the fix
[code]

[2017-08-31 20:30] bomsy commented on #3260
![](http://g.recordit.co/sFiyf2U9gn.gif)

[2017-08-31 20:36] jbhoosreddy commented on #3670
Removing breakpoint is fairly straightforward. Here is a sample patch to get started.

[code]

[2017-08-31 20:51] jasonLaster commented on #3508
This will be easy (or done) when do #3670.

[2017-08-31 21:03] codehag commented on #3601
This is a start on this issue:
[code]

[2017-08-31 21:08] jasonLaster commented on #2884
It would be cool if could inline the files regardless of wasm blob scheme and show the wasm and blob schemes in the icon on the left. Here is a small test that we can make green.

Step one - get the folder structure working
Step two - show the icons in the tree

[code]

[2017-08-31 21:14] jbhoosreddy commented on #3670
For the edit condition, we want to do some more work. We want to move out the state logic from the Editor component to the redux store. We have a ui specific reducer which can maintain it.

Here's a patch which should start that work.

[code]

[2017-08-31 21:18] jasonLaster opened #3842 "[Stepping] step through generated files"
It would be nice to be able to step through code in the generated file. This basically means that we want to know when we're stepping that the currently selected source is generated. If the source is generated, then we don't want to map the selected location.

We can also take this idea one step further and when you select a source, we can make all locations are mapped:

* call stack
* selected li

[2017-09-01 00:55] bomsy commented on #3260
Things we want to do here
- [ ] Create redux actions and reducers to store and retrieve the expanded state of the source tree
- [ ] On Component mount get the current expanded state from redux

A diff coming up...

[2017-09-01 00:57] hughugsy commented on #3670
Hey, can I work on this? :)

[2017-09-01 01:06] darkwing opened #3844 "[PrettyPrint] Nit: Better display empty braces {}"
An empty object will be pretty printed to separate lines:

[code]

Ideally we could get this:

[code]

[2017-09-01 01:37] darkwing opened #3846 "Source Tabs and Gutter Column Don't Line Up"
Hard to see in the light theme but pronounced in the dark theme:

<img width="127" alt="lineuplight" src="https://user-images.githubusercontent.com/46655/29952015-2d9f42f6-8e8c-11e7-9f10-a225e10ce68a.png">

<img width="264" alt="lineupdark" src="https://user-images.githubusercontent.com/46655/29952018-3047cc6c-8e8c-11e7-8818-4e3743148632.png">

[2017-09-01 14:21] jasonLaster commented on #3670
@hughugsy it's yours!

[2017-09-01 14:24] jasonLaster commented on #3846
This fix can be made in here: https://github.com/rohanprasad/debugger.html/blob/search-store-mapping/src/components/Editor/Tabs.css#L1

[2017-09-01 14:25] #3701 closed

[2017-09-01 15:54] #3552 closed

[2017-09-01 16:03] wldcordeiro commented on #2840
Closing. This will be fixed fully once we bump launchpad.

[2017-09-01 16:03] #2840 closed

[2017-09-01 20:22] darkwing commented on #3833
Empty lines is also not as precise in HTML files:

<img width="883" alt="htmllines" src="https://user-images.githubusercontent.com/46655/29986514-60ba537c-8f29-11e7-9616-86fc76cc985a.png">

[2017-09-02 04:13] digitarald opened #3854 "Web Extension source error leads to endlessly flashing source"
STR

- Enable `Pause on Exception`
- Open the debugger on `about:blank` with *React Developer Tools* installed.

Expected

- Not much

Actual:

- Flashing source window

Error `TypeError: window.__REACT_DEVTOOLS_GLOBAL_HOOK__ is undefined`

Source window content:

[code]

Browser console repeatedly prints:

[code]

[2017-09-02 20:04] nyrosmith commented on #3801
@jasonLaster this can be closed

[2017-09-02 20:14] #3801 closed

[2017-09-03 00:46] darkwing opened #3860 "Right-Click -> Copy without selected text copies nothing"
We should do a range check upon right click and disable the copy option if no text is selected

[2017-09-03 01:38] darkwing opened #3862 "[Expressions] Duplication Error"
Steps to reproduce:

1.  Create a Watch Expression called "Yes"
2.  Create a Watch Expression called "No"
3.  Create a Watch Expression called "Yes"

Errors kick off, more when you refresh the page.  Sample:

TypeError: this.state.editor is null[Learn More]  debugger.js:108071:5
TypeError: editor is null

[2017-09-03 01:55] darkwing opened #3863 "Source Context Menu Goes Offscreen"
Right-click at the bottom of source text and the context menu will displaying from the spot, allowing the context menu to bleed offscreen.

A bit of element geometry should be employed to keep the context menu on screen.

[2017-09-03 07:31] Riamse opened #3864 "Stop using React"
React is licensed under a [strong patent retaliation](https://medium.com/@raulk/if-youre-a-startup-you-should-not-use-react-reflecting-on-the-bsd-patents-license-b049d4a67dd2) license. Devtools uses React. Software licensed as such is such a threat to freedom that it would be counterproductive to promote its use in this way. We should migrate away from React as fast as humanly possible.

[2017-09-03 08:26] juliandescottes commented on #3864
The discussion around Mozilla & DevTools using React is happening on the mozilla governance mailing list: https://groups.google.com/forum/#!topic/mozilla.governance/-82KAvA9rKM

We should keep all the discussion in a single thread so I advise to close this issue and continue in the mailing list. Thanks.

[2017-09-03 15:46] #3860 closed

[2017-09-03 16:43] Fischer-L commented on #3831
@jasonLaster Thanks for a clear code sketch. Are you fixing this issue? I am happy to help out here if you don't  mind : )
After browsing the code base I guess I kind of know what we want to do here.
  - Basically when the pause reducer sees an async "SET_PREVIEW" action[1] is starting, it should mark command state as "preview".
  - Then the Editor component should pass this command state to the D

[2017-09-03 16:48] jasonLaster commented on #3831
@Fischer-L it's yours. I like writing the code sketches so that anyone can pick it up :)

Also, I think you've got a great understanding of the problem.

In terms of the STR, try getting the project setup: see "getting setup", and debugging the todomvc example, w/ a breakpoint on line 34 of todo-view.js.

I paused on line 34, and did some mousing over of variables. Happy to chat more on slack

[2017-09-03 16:48] jasonLaster commented on #3864
closing as the discussion is happening else where

[2017-09-03 16:48] #3864 closed

[2017-09-03 16:49] jasonLaster commented on #3863
We actually don't need to fix this cause this is just the context menu shim. If it's broken in MC we should improve the context menu library there.

[2017-09-03 16:49] jasonLaster commented on #3862
oh nice. We have several expression issues which might be related.

[2017-09-03 22:40] gabrielluong opened #3866 "Source header and Command bar should use the toolbar background color"

[2017-09-03 23:00] gabrielluong opened #3868 "Accordion header should have a height of 24px"

[2017-09-03 23:06] gabrielluong opened #3869 "Add CSS Reset"
We want to apply a CSS Reset so that we can control the styles in the panel.

We should add `* { box-sizing: border-box; }` this to `src/app.css`.

Afterwards, we should be careful to make sure that we don't cause any big visual changes.

[2017-09-04 03:44] #3869 closed

[2017-09-04 03:44] #3868 closed

[2017-09-04 03:44] #3866 closed

[2017-09-04 03:47] jasonLaster opened #3872 "Audit button cursors"
@darkwing found that our "search sources" and "find in files" buttons used the text cursor instead of the default in #3858.

I checked and several other of our clickable buttons fall back on cursor text.

- [ ] tabs
- [ ] accordion headers

There are probably others as well. Lets go through the UI and make sure that we've converted these hover cursors to the default cursor.

[2017-09-04 11:11] bomsy opened #3876 "[project Text Search] The search results should remain in a specific order as more results get added"
The search results are currently in a Map which is unorderd, so as more data come in, it cause results, all over as shown  below

![](http://g.recordit.co/UFPfb2uiET.gif)

Ideally we should have all new results always added to the bottom.

[2017-09-04 12:36] nyrosmith commented on #3160
@jasonLaster This can be closed

[2017-09-04 14:06] #3652 closed

[2017-09-04 14:10] bomsy commented on #3482
@jasonLaster this is completely done?

[2017-09-04 15:59] julienw opened #3878 "Syntax highlighting is crazy for some JSX construct"
Here is the code that makes the syntax highlighting crazy:

[code]

See how it renders:
![capture d ecran de 2017-09-04 17-59-00](https://user-images.githubusercontent.com/454175/30033296-c49c05e8-919a-11e7-85ed-fe135275e147.png)

[2017-09-04 16:02] #3482 closed

[2017-09-04 16:03] #3876 closed

[2017-09-04 18:45] nyrosmith opened #3883 "ErrorMessage: services is not defined"
Sometimes when navigating between pages there comes an error message: `Uncaught ReferenceError: services is not defined`
![reference_error](https://user-images.githubusercontent.com/2511026/30036272-e0324b84-91b1-11e7-9f89-0c1f633a790f.gif)

[2017-09-04 18:52] nyrosmith opened #3884 "Debuggee fast navigation breaks debugger"
Please ignore the `services is not defined` error. I created another issue for that.
![fast_navigation](https://user-images.githubusercontent.com/2511026/30036351-cf5d1f86-91b2-11e7-97e1-d6cde9006354.gif)

[2017-09-04 18:57] nyrosmith commented on #3862
@darkwing  can you still reproduce it?
I just tried and this behavior doesn't occur on my machine (current master)
![expressions](https://user-images.githubusercontent.com/2511026/30036447-afa3dfb2-91b3-11e7-985c-f5ab5352d8c1.gif)

[2017-09-04 19:51] Ronsho commented on #3846
will take it!

[2017-09-04 22:41] codehag opened #3886 "[mochi] search-project mochi test keeps timing out"
[code]

[2017-09-04 22:43] codehag opened #3887 "[breakpoints] mochi test for ast breakpoints"
we need a test for ast breakpoints. here is a sketch of what we want to test:

##### load a file with contents
[code]

##### set a breakpoint at line 2 in function foo

##### assert the breakpoint is on line 2

##### update the file with:

[code]
##### assert the breakpoint is on line 5

[2017-09-04 22:44] codehag commented on #3731
fixed via #3882

[2017-09-04 22:44] #3731 closed

[2017-09-05 03:18] jasonLaster opened #3891 "[ProjectSearch] support matches on the same line"
It's possible to have multiple matches on the same line. In this situation we can do one of two things:

a) show all matches on one line and have one line in the search results
b) show one match per line and only show one match on the line

We currently show all the matches on the line and all the lines. I think my preference is to have one match per line because in the minified case or just reall

[2017-09-05 03:20] jasonLaster commented on #3886
dupe #3694

[2017-09-05 03:20] #3886 closed

[2017-09-05 04:53] #3160 closed

[2017-09-05 09:10] jnachtigall opened #3892 ""Find in files" search should (horizontally) jump to matched result in a long line"
I searched for some text with "Find in files" which results in this output:
![2017-09-05 11_03_23-jira bpa - jens nachtigall init de - outlook](https://user-images.githubusercontent.com/3307404/30053921-a9d9b5e4-922a-11e7-9533-e0e4e9e78758.png)

I am taken to the line, but not the exact place of the match which is somewhere down the line... Not very helpful as this is a very long line and I am not

[2017-09-05 11:39] bomsy commented on #3892
Thanks!

[2017-09-05 12:40] jnachtigall commented on #3830
Well, to be honest (rethinking it) it should be the other way around imho: First what you can do (action), then how to do it (shortcut). That is, like VSCode is doing it:
![2017-09-05 14_33_34-visual studio code](https://user-images.githubusercontent.com/3307404/30061409-81082a20-9247-11e7-92d9-4861b77c8c67.png)

Well, most menus are also like this, e.g. Copy___Ctrl_+_C and so on. Not a big thing,

[2017-09-05 13:12] jasonLaster commented on #3830
Hmm, I'n neutral on the `+`. Making them clickable is a great idea

[2017-09-05 13:20] jasonLaster opened #3893 "[WelcomeBox] make shortcuts clickable"
We recently updated our welcome box to include additional shortcuts. It would be neat if we could also make them links as well, so when you click on them it takes you to where you'd go if you fired the shortcut.

Note, we do this with the left sidebar link on the top.

we could do it with something like this... note, the diff does not include the correct fields for the search. see reducers/ui.js f