[2017-03-01 12:15] #2213 closed

[2017-03-01 12:27] jnachtigall commented on #1377
@jasonLaster Yeah, I know, but I am pretty confident that the "Unresponsive script" will be also present in the current debugger version.  Anyway, I've sent you a mail. As said I think it's more likely a CodeMirror issue, but maybe Debugger could catch this more gracefully...

I agree this should not be blocker and is hard to take action upon (except maybe a report to CodeMirror)

BTW, even when h

[2017-03-01 12:54] wldcordeiro commented on #2178
We merged @jcreighton's PR so closing 👍

[2017-03-01 12:54] #2178 closed

[2017-03-01 12:55] wldcordeiro commented on #2124
I think @jasonLaster landed this in his recent PR.

[2017-03-01 14:22] ThomasCrevoisier commented on #2235
@jasonLaster I made the fix ! I push it right away :)

[2017-03-01 14:43] irfanhudda commented on #2080
I'll take a look at this.

[2017-03-01 15:31] tromey opened #2239 "isBucket is confused by objects with matching names"
You can confuse the bucketing code by writing a test case like:

[code]

I think the `isBucket` approach of matching based on names is flawed; instead if something is a bucket, this ought to be a special property somewhere in the model.

[2017-03-01 15:33] jasonLaster opened #2240 "[FunctionSearch] Result List Max height"
It'd be nice to have a max height on the result list so only 6~7 items showed. This would always give us vertical space for showing the source.

![Screen Shot 2017-03-01 at 10.31.36 AM.png](https://shipusercontent.com/d524291fbc378175e7ede9fe693fd637/Screen%20Shot%202017-03-01%20at%2010.31.36%20AM.png)

[2017-03-01 15:33] #2014 closed

[2017-03-01 15:45] #2235 closed

[2017-03-01 15:47] jasonLaster opened #2241 "[docs] Add a roadmap doc"
It's helpful for the community to be able to learn what our roadmap is:

1. what we're working on
2. what we plan to work on over the next 3 - 6 months, year...

This helps in a couple ways:

1. they can weigh in on it
2. they can put feature requests in context
3. they can see if we plan on working on that thing they want... (watch expressions)

[2017-03-01 16:02] irfanhudda opened #2242 "[EditorSearch] Search modifier tooltips"
We don't have tooltips for search modifier. It might be good idea to add some tooltips explaining what each search modifier icon is for.

![search_modifier](https://cloud.githubusercontent.com/assets/1755089/23468448/d738e2be-fec6-11e6-9559-889e322ffc26.png)

[2017-03-01 16:12] aklt commented on #2103
I;ll have a go at this in a few hours

[2017-03-01 16:49] irfanhudda commented on #2242
Here's a patch to get started
[code]

If you are new [L10N](https://github.com/devtools-html/debugger.html/blob/master/docs/local-development.md#l10n)

[2017-03-01 16:51] tromey commented on #2012
One further problem here is that for a Proxy it's impossible to tell that the properties are synthesized, because they are synthesized on the server and there's no indication of this.  I'll file a bug about this in bugzilla.

[2017-03-01 17:29] tromey commented on #2012
I spoke too soon, maybe we can check object.class==="Proxy".

[2017-03-01 17:51] tromey commented on #2012
In addition to Proxy and <return> there are also some synthetic properties in Promise.

[2017-03-01 18:15] #2124 closed

[2017-03-01 18:16] jasonLaster commented on #1377
^ nope this version was as of tuesday

[2017-03-01 18:20] jasonLaster commented on #2239
I'd like to see if we can keep the simple data structure for now, which off the top of my head probably means keeping this edge case. Perhaps we can improve it slightly by renaming the key "<bucket53>"... this would reduce the likeliness significantly. but in a world of sha1 collisions, who knows...

[2017-03-01 18:25] tromey commented on #2239
I found this by inspection, not with real code.  So keeping the "bucket" name is probably fine, as names go.  The problem is that any choice of name will result in some object being uninspectable, because this code is conflating host and target properties.

[2017-03-01 18:30] jasonLaster commented on #2239
yeah - i feel like we're writing embedded CSS all over again :P

`my-really-long-prefix-selector`

[2017-03-01 18:31] jasonLaster commented on #2232
The fix was merged in m-c

[2017-03-01 20:01] jnachtigall commented on #1377
@jasonLaster ok, sorry, then I misread. Thanks for clarifying. Looking forward 👍

[2017-03-01 21:09] #2027 closed

[2017-03-02 00:34] jasonLaster opened #2248 "Web Test Runner - Awakening"
We currently have a rag tag mocha web runner design, which is pretty ugly, but absolutely does the job. It would be pretty coo to design our own version of the runner.

Here's what I have in mind, which is heavily inspired from our friends at [cypress](https://www.cypress.io/).

1. A reporter with a list of tests and each action/assertion below (we have most of the data already)
2. A styled iframe

[2017-03-02 00:55] wldcordeiro commented on #2240
I could have sworn I set a max height for this. 🤔

https://github.com/devtools-html/debugger.html/blob/master/src/components/Editor/SearchBar.css#L111

[2017-03-02 00:56] #2221 closed

[2017-03-02 00:57] wldcordeiro commented on #2221
I landed this, we now have ES6 shorthand and ES6 class method searching added. 👍

[2017-03-02 01:23] wldcordeiro opened #2249 "Variable/Class Search"
In the same vein as Function searching we want to be able to find variables (`var`, `let`, `const`) and class declarations in the document.

- [x] Add parsing utilities for finding the variables and classes
- [x] Add UI for searching variables and classes

[2017-03-02 09:32] wldcordeiro commented on #2007
We got the whole list so I'm closing this. If we have reason to reopen we will.

[2017-03-02 09:32] #2007 closed

[2017-03-02 15:00] #2218 closed

[2017-03-02 15:01] #1946 closed

[2017-03-02 15:20] #2159 closed

[2017-03-02 15:39] jasonLaster commented on #2220
here's a [branch](https://github.com/devtools-html/debugger.html/compare/master...jasonLaster:vars-in-scope?expand=1) I started to help get started.

There's an interesting question where we call `variablesInScope`, perhaps it's a selector in the pause reducer...

[2017-03-02 16:13] jasonLaster opened #2256 "[Sources] Right arrow should not go to the next source"
currently right arrow expands directories and goes to the next source in the source tree.

We would like to limit it so that it only expands directories.

#### Background

The change is likely in **devtools-core** [`tree.js`](https://github.com/devtools-html/devtools-core/blob/master/packages/devtools-sham-modules/client/shared/components/tree.js#L522). The best way to test the changes is to actua

[2017-03-02 16:31] jasonLaster opened #2257 "Check included dependencies"
We should have a tool that tells us what third party dependencies are included in the bundle

Here's a [gist](https://gist.github.com/jasonLaster/dc354c7820079c7fbaea79cd6e406661) of the included modules.

I've started grepping away modules that we do not care about.

`grep '~/' foo | grep -v '~/devtools' | grep -v '~/source-m' | grep -v '~/pretty' | grep -v '~/postcss' | grep -v`

[2017-03-02 18:03] jasonLaster opened #2258 "[docs] fix lint table"
looks like the lint command table is broken

![Screen Shot 2017-03-02 at 12.47.34 PM.png](https://shipusercontent.com/368bb86cb19adfc69a6e29a289ae6efd/Screen%20Shot%202017-03-02%20at%2012.47.34%20PM.png)

[2017-03-02 18:23] jasonLaster commented on #2239
I think the solution should be to update the path to be `<bucket-##>` which is pretty unique

[2017-03-02 18:24] jasonLaster commented on #2012
closing this for now as it's a low priority. We can always re-open if it is an issue

[2017-03-02 18:24] #2012 closed

[2017-03-02 18:26] jasonLaster commented on #2231
hmm, this must be a server bug then if the debugger is not getting the newSource events.

[2017-03-02 18:44] soapdog commented on #2226
I want to take a look onto this one. Question: do we want just to delay the opening and closing or we actually want to fade the popup in and out after a while?

[2017-03-02 19:05] #2228 closed

[2017-03-02 19:28] jasonLaster commented on #2154
We fixed the initial concern about search slowing down viewing a source, but we should fix the secondary concern of search being slow in general. This effects opening and closing the search bar as well as updating searches.

[2017-03-02 19:29] jasonLaster commented on #2226
i don't think so.

[2017-03-02 19:59] jasonLaster opened #2262 "[WTR] keyboard driven tests"
We should get `keyboard-shortcuts` and `keyboard-navigation` passing in the web environment `localhost:8000/integration`

They're close, navigation i believe is really close, just waiting on this command:

[code]

keyboard shortcuts needs the keyboard [mappings](https://github.com/devtools-html/debugger.html/blob/master/src/test/integration/utils/mochitest.js#L6-L22) to be available in they type h

[2017-03-02 20:40] jasonLaster commented on #2004
i believe we fixed this with @princiya's work.

[2017-03-02 21:15] AlanCezarAraujo commented on #2240
I'm starting to work on it.

[2017-03-02 21:17] greenkeeper[bot] opened #2263 "An in-range update of husky is breaking the build 🚨"
## Version **0.13.2** of [husky](https://github.com/typicode/husky) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/devtools-html/debugger.html/compare/greenkeeper%2Fhusky-0.13.2">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      husky
    </td>
  </tr>
  <tr>
    <th align=left>

[2017-03-02 21:28] #2263 closed

[2017-03-02 21:38] tromey opened #2264 "can't set breakpoint in prettified source"
Try the STR in https://bugzilla.mozilla.org/show_bug.cgi?id=1327600
For me, after I prettify the source, I can't set a breakpoint -- it appears and then immediately disappears.

[2017-03-02 21:40] tromey commented on #2239
So, IMO there is no point to changing the name.  The current name is unusual enough.  If you do change it, though, we'll just need a new bug for the new name, because the underlying problem will remain.

[2017-03-03 00:06] wldcordeiro commented on #2107
The issues in the list were done. Closing.

[2017-03-03 00:06] #2107 closed

[2017-03-03 00:16] jasonLaster opened #2265 "[Expressions] re-evaluate expressions with selected frame"
looks like we're re-evaluating expressions in the global context

[code]

[2017-03-03 00:23] DanUgelow commented on #2141
Going to work on this

[2017-03-03 00:24] DanUgelow commented on #2242
Going to work on this

[2017-03-03 00:28] jasonLaster opened #2266 "[FunctionSearch] cmd+shift+o navigates to settings in the panel"
`cmd+shift+o` which is one way of opening the function search is overriden by the settings pane in the panel.

We could probably fix this with a `stopPropogation` call

[code]

[2017-03-03 00:39] jbhoosreddy commented on #2265
mind if I take this one?

[2017-03-03 01:01] jasonLaster commented on #2265
go for it

[2017-03-03 03:36] AlanCezarAraujo opened #2267 "[FunctionSearch] Not updating selected item on click"
Whan I click on an item from the result list, it navigates to the item in the source panel, but it doesn't update the selected item in the result list.

[2017-03-03 03:37] AlanCezarAraujo commented on #2267
I'm already wornking to fix it.

[2017-03-03 04:13] wldcordeiro commented on #2267
Can you describe what you mean by not updating in the result list?

[2017-03-03 04:31] greenkeeper[bot] opened #2268 "An in-range update of firefox-profile is breaking the build 🚨"
## Version **0.4.9** of [firefox-profile](https://github.com/saadtazi/firefox-profile-js) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/devtools-html/debugger.html/compare/greenkeeper%2Ffirefox-profile-0.4.9">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      firefox-profile
    </td>

[2017-03-03 07:16] Fensterbank opened #2269 "Add -no-remote startup parameter to Firefox development instance"
I used the proposed startup parameters at [remotely-debuggable-browsers.md](https://github.com/devtools-html/debugger.html/blob/master/docs/remotely-debuggable-browsers.md#firefox-all-versions) for Firefox on Windows to start a debuggable Firefox process in an own development profile.

` -start-debugger-server 6080 -P development`

Unfortunately I faced the problem that after I started my developm

[2017-03-03 07:18] princiya commented on #2004
This isn't fixed yet. It works with window resize event, not CSS div resize. From the gif, it's a CSS div resize happening there. I was looking at this last week, but couldn't finish it up ;) Let me know the priority for this and I will get back to this soon :)

[2017-03-03 08:56] wldcordeiro commented on #2267
@AlanCezarAraujo I see what you mean now.

Here's a patch that should do what we expect.

[code]

[2017-03-03 12:50] rrandom commented on #2081
Hi, @jasonLaster , I found that set `"viewportMargin": Infinity`  when create the editor instance will fix this.  But it's not recommend by Codemirror https://codemirror.net/doc/manual.html#option_viewportMargin

[2017-03-03 13:00] jasonLaster commented on #2081
Hmm nice find. Let's see if that fixes it. The problem is in chrome but not
Firefox
On Fri, Mar 3, 2017 at 7:50 AM Rrrandom <notifications@github.com> wrote:

[2017-03-03 14:37] jasonLaster commented on #2004
Ahh. Thanks for clarifying.

No pressure.

[2017-03-03 17:21] AlanCezarAraujo commented on #2267
@wldcordeiro thanks for your help!
I went on a different approach but you gave me a more elegant solution.
I'll open a PR as soon as I fix some Flow issues.

[2017-03-03 18:17] julienw commented on #2220
Clearing because I'll be in PTO. Feel free to merge or reuse my patch :)

[2017-03-03 21:19] wldcordeiro commented on #2267
@AlanCezarAraujo you may want to leave `selectResultItem` itself alone as it's used by the keyDown handler as well and just modify this [line](https://github.com/devtools-html/debugger.html/blob/master/src/components/Editor/SearchBar.js#L486) like so

[code]

[2017-03-03 21:56] #2240 closed

[2017-03-03 22:34] jasonLaster commented on #2264
Is this different from #1989?

[2017-03-03 22:54] tromey commented on #2264
Probably not.

[2017-03-03 22:54] #2264 closed

[2017-03-04 12:07] dehghani-mehdi opened #2274 "[Sources] Seems like it is Case-Sensitive, also doesn't mix similar paths"
Hi,

I'm using FFv52 [beta], I enabled new debugger via `about:config`. as I mentioned in title of the issue, seems like `Sources` is `Case-Sensitive`, also doesn't mix similar paths, for ex. imagine this 2 links:

`/A/B/C/js-file.js` & `/A/B/another-js-file.js`, in `Sources` I got 2 separate entries, I think second one should be sub-item of first one. also same situation for `/a/b/C/js-file.js` &

[2017-03-04 15:25] jasonLaster opened #2277 "update assets/panel/prefs"
the prefs file currently reflects an old version of `devtools/preferences/devtools.js` because we haven't updated the docker image.

We should update the image and then update `prefs.js` to just be debugger prefs

[2017-03-04 15:26] jasonLaster opened #2278 "Enable web test runner test in m-c"
We reverted web test runner tests in m-c because they were intermittent in debug mode. We should bring them back soon so that we don't have duplication.

[2017-03-04 15:27] jasonLaster opened #2279 "Enable isVisible assertions"
We disabled `isVisible` assertions because they were intermittent in debug mode. We should bring them back soon

[2017-03-04 20:25] wldcordeiro commented on #2274
Could you post a screenshot?

[2017-03-04 22:54] jasonLaster commented on #2143
duplicate of #2144

[2017-03-04 22:54] #2143 closed

[2017-03-04 22:58] jasonLaster opened #2280 "[Scopes] group window default properties"
Currently, the window object uses the default bucketing strategy which is numerical.

It would be nice if instead it grouped the default properties under a high-level bucket.

Here's a sketch where the user defined properties are on top, followed by default properties, and then prototype properties.

### Patch

https://gist.github.com/75fd14bc98aae2012f6048d0ef1f87c7

### Screenshots
[code]

![7ed

[2017-03-04 23:04] jasonLaster commented on #2177
Thanks for filing the issue so we can track this.

At the moment, I believe this is a low priority because "default" is a UI detail that does not impact the user significantly. Also, I am not sure of a situation where the panel would have a window property that content does not have or vice versa.

[2017-03-04 23:13] jasonLaster opened #2281 "Move object-inspector to reps"
It would be nice to move the object-inspector to reps so that it can be shared with the console and replace the variables-view.

 There are two main files that need to be extracted:
 * `ObjectInspector` component
 * `object-inspector` utility

The component has a decently abstracted API:

[code]

Initially, I thought it would be helpful to also extract the redux action and store for loading proper

[2017-03-04 23:42] jasonLaster opened #2282 "[Parser] move to a worker"
It would be nice to move the parsing to a worker for two reasons

1. we never block the main thread
2. we can do it immediately on source text load

Look to how we do the source-map worker and util with `workerTask` for an example of how to setup the APIs

Here's a [patch](https://gist.github.com/8981376b1406660bfe52d45546d3f9fb) and [branch](https://github.com/devtools-html/debugger.html/compare/

[2017-03-05 00:03] jasonLaster opened #2283 "[perf] start speed walking"
:runner:

We should investigate ways to speed up debugger stepping. The two bottlenecks that I see are:

1. codemirror and searching
2. immutable hydration

Immutable is expensive because we hydrate all of the pause data on each pause event.

#### Here's a screenshot of a performance profile:

![screenshot-3]

Here is an experimental [branch] with immutable hydration stripped away.

#### Here are

[2017-03-05 00:05] jasonLaster commented on #2103
@aklt curious to see what you think when you have a chance. It'd be neat if this *just* works now

[2017-03-05 00:08] jasonLaster commented on #2154
The easiest way to test this is to debug a big file and turn on the profiling tools and then hit `<cmd>+f`

[code]

[2017-03-05 00:08] #2258 closed

[2017-03-05 00:08] #2227 closed

[2017-03-05 00:08] jasonLaster commented on #2053
@roieu any updates?

[2017-03-05 00:24] wldcordeiro commented on #2154
@jasonLaster I thought that while loop looked like it could be problematic. Must be a way to reduce the overhead.

[2017-03-05 00:58] wldcordeiro commented on #2283
@jasonLaster Is it possible we could also stand to reduce our use of `.toJS()`? That may be more expensive than accessing the immutable data types' APIs. Deferring is also nice though, maybe combining the strategy of deferring and using the immutable APIS would  be a good solution?

Could you share what you're doing in the screenshots? I'd like to test it as well and see how it fairs on my laptop

[2017-03-05 05:41] dehghani-mehdi commented on #2274
![ddd](https://cloud.githubusercontent.com/assets/9152330/23584876/bcea403c-0183-11e7-918c-33744b5e9f29.png)

[2017-03-05 06:15] wldcordeiro commented on #2274
I'm not quite sure I see the problem here. I would expect those two be two *separate* directories.

[2017-03-05 08:45] dehghani-mehdi commented on #2274
@wldcordeiro as we have just 1 folder here, `DesktopModules`, I believe 2 entries for 1 folder is not correct. imagine following paths in some `web page`:

- `DesktopModules/file1.js`
- `Desktopmodules/file2.js`
- `desktopmodules/file3.js`
- `desktopModules/file4.js`
- `DESKTOPModules/file5.js`
- ...

Is that correct to having N entries in `Sources` panel for same folder?

[2017-03-05 08:50] wldcordeiro commented on #2274
`DesktopModules`, `desktopmodules` and `desktopModules` would be three distinct directories. This is standard in OSes.  I think I understand what the issue is though, for files/folders hosted on the server the directories are case-insensitive like URL paths. However when we bring in sourcemapped files/folders we would want case-sensitivity like in an OS.

[2017-03-05 17:41] irfanhudda opened #2287 "Conditional breakpoint panel close button is hidden in files with long lines"
Close button of conditional breakpoint panel is hidden when viewing files with long lines.

### Steps to reproduce:
1. Open a file in debugger with long line (horizontal scrollbar in codemirror should appear)
2. Right click on gutter and select `Add Conditional Breakpoint`
3. Close button is not visible. (Can be seen if we scroll horizontally)

### Screenshot
![scr](https://cloud.githubusercontent

[2017-03-05 19:59] roieu commented on #2053
@jasonLaster Haven't got a chance to dive deep into it last week.
Hope to share something later this week.

[2017-03-05 20:17] aklt commented on #2103
Hi Jason, I was expecting the previous search text to reappear in the search bar if I reopen it after having closed it previously as I think we talked about on slack.  That does not happen, but the search bar is refocused :)

[2017-03-05 21:45] jasonLaster commented on #2103
Ahh. We should fix that :)
On Sun, Mar 5, 2017 at 3:17 PM Anders Thøgersen <notifications@github.com>
wrote:

[2017-03-06 15:04] aklt commented on #2103
Should I make an issue on it?

[2017-03-06 15:15] jasonLaster opened #2290 "[Watch Expressions] persist expressions"
we should save expressions between debugger sessions like we do with tabs

[2017-03-06 15:30] jasonLaster opened #2291 "[FunctionSearch] Editor height is too high "
It looks like we don't update the editor height when we show the result list. This causes the editor to be pushed down off the viewport.

#### GIF
![](http://g.recordit.co/9YsIeDBpPc.gif)

#### Patch

here's some context. The editor is a special component in that codemirror is annoying and we do use absolute positioning because it's difficult to flex.

Here's some code we could change to fix this

[2017-03-06 17:39] #2268 closed

[2017-03-06 18:00] jasonLaster commented on #2053
sounds good.

By the way, just noticed that the result list ui doesn't do much with blur events either...

[2017-03-06 18:27] jasonLaster opened #2293 "Upgrade to flow `0.41`"
We get some new errors with **41** which look pretty easy to clean up. Each flow release has been really helpful for us, so we should try to prioritize this.

[code]

[2017-03-06 20:26] aklt commented on #2287
I tried to find a solution for this while working on #1945, but understood from @ryanjduffy that he did not run into this working on the same fix.  I am curious what the correct fix is for this.

[2017-03-06 20:56] jasonLaster commented on #2287
So, the problem as i understand it is that the CB panel is the width of the line and we want it to be the width of the editor wrapper... I'm open to creative solutions :P

[2017-03-06 21:08] aklt commented on #2287
AFAICT there is not nice CSS solution, so something creative seems to be needed, probably a hack.  Are any of you aware of an elegant solution?

[2017-03-06 21:57] jasonLaster commented on #2267
ping @AlanCezarAraujo - how's it going?

[2017-03-06 22:00] jasonLaster commented on #2141
@DanUgelow how's it going?

[2017-03-06 22:00] jasonLaster commented on #2226
@soapdog how's it going?

[2017-03-06 22:15] clarkbw opened #2294 "[Watch Expressions] "Add watch expression" context menu broken"
STR:

1. open a source e.g. "todo-view.js"
2. select an expression  e..g "this.listenTo"
3. right click and select "Add Watch Expression"

Expected: see the expression in the expression list

Actually: get an error in the console

Here's the error I'm seeing when I highlight a variable in the editor, and choose to "Add to Watch Expressions".

[code]

[2017-03-06 22:29] jasonLaster commented on #1768
I'm closing this issue, labeling it `low-priority`, and moving it the enhancements board.

I'd like to revisit this in the future and see how we're doing. I believe we're improving in these respects:

* our keyboard navigation,
* aria labels and tooltips
* semantic elements
* focus / selected states

[2017-03-06 22:29] #1768 closed

[2017-03-06 22:29] jasonLaster commented on #1838
ping @irfanhudda, @amitzur, @nchevobbe any interest in picking this up?

[2017-03-06 22:34] jasonLaster commented on #1374
Sure, right now the sources tree has a bunch of domains for every page you go to. For example, if you go to cnn.com, one domain is cnn.com, and then there are 20 other random ones. We'd like to show CNN first, but at the moment don't have a good way of doing that.

We should do this by first saving the debggee's url when we get a navigate event. We can check the event data

Here's a good way of ge

[2017-03-06 22:34] DanUgelow commented on #2141
@jasonLaster still learning my way around everything. It's a bit slow but hoping I can do something in the next day or two

[2017-03-06 22:36] jasonLaster commented on #1081
@gregtatum I'm marking this as a `low-priority` issue and moving to the enhancements board.

Do you think that this has improved now that the toolbar has been de-xuled?

If not, I'd like to get back to this in a couple months when hopefully we've done a better job of de-xuling in general.

[2017-03-06 22:37] #1081 closed

[2017-03-06 22:39] jasonLaster commented on #2269
@MoLow @svenvNL @Garbee @clarkbw @irfanhudda thoughts on if this could help us with windows

[2017-03-07 00:11] gregtatum commented on #1081
Aways a possibility, but probably not.

[2017-03-07 00:20] clarkbw commented on #2269
I think there are issues if you run `-no-remote` with a first Firefox instance and then run you DevEdition afterward (defaults to remote on). But in general I don't think there's a real problem with this.  I haven't tested it on Windows yet though.

[2017-03-07 03:27] aklt commented on #2287
As far as I can tell there is no nice pure CSS way of solving this, but please
let me know if I am wrong.  It is possible to hook into events firing when the
ConditionalPane is opened or closed and at that point programatically place the
close button better.

The situation in the screenshot looks a bit more difficult to me.  When dragging
the `SplitBox.onMove` is called from `Draggable` and I thou

[2017-03-07 14:20] jasonLaster commented on #2274
makes sense... I'm still not sure that I have enough information to go off. I wonder if there's an easy way to reproduce this issue?

[2017-03-07 14:22] jasonLaster commented on #2177
I'm closing now because I don't see us getting to it in the next month.

I've added the issue to the [enhancements](https://github.com/devtools-html/debugger.html/projects/5) board, so that it is tracked and can be prioritized in the context of all possible work.

[2017-03-07 14:22] #2177 closed

[2017-03-07 14:24] #2144 closed

[2017-03-07 14:24] jasonLaster commented on #2144
dlosing as it's a dupe of #2280

[2017-03-07 14:26] jasonLaster commented on #2231
I'm closing now because I don't see us getting to it in the next month.

I've added the issue to the [enhancements](https://github.com/devtools-html/debugger.html/projects/5) board, so that it is tracked and can be prioritized in the context of all possible work.

[2017-03-07 14:36] jasonLaster commented on #2126
@wldcordeiro lets get more context here so that potentially others could work on it as well

[2017-03-07 14:36] #2135 closed

[2017-03-07 14:36] jasonLaster commented on #2135
closing as we don't need to track this in an issue

[2017-03-07 14:37] jasonLaster commented on #1924
Closing as we removed the reference docs and we don't need to track creating docs in an open issue. Hopefully we can do something small soon with the integration test helpers.

[2017-03-07 14:37] #1924 closed

[2017-03-07 14:55] irfanhudda commented on #1838
I'll pick this up.

[2017-03-07 15:39] dehghani-mehdi commented on #2274
@jasonLaster Can you simulate with creating simple HTML page with some JS links, that meets above condition or you need a testcase?

[2017-03-07 15:49] jasonLaster commented on #2287
lets try something like this:

[code]

@amitzur might be interesting to you...
Ultimately, i'd like to clean this up with some better *react* ways, but for now this is likely fine.

[2017-03-07 15:49] jasonLaster commented on #1728
This could be fixed in #2287

[2017-03-07 16:17] AlanCezarAraujo commented on #2267
@jasonLaster @wldcordeiro  I'm having some weird issues, probably with Webpack.
As soon as I get through this problem I'll open a Pull Request.

You can look at what I've done in [this commit](https://github.com/AlanCezarAraujo/debugger.html/commit/4410e41dfd2eab55d05ba062662507389878ed46).
Let me know what you think about the refactoring.

[2017-03-07 17:25] amitzur commented on #2287
I'll take a look and discuss in today's community call

On Mar 7, 2017 5:49 PM, "Jason Laster" <notifications@github.com> wrote:

[2017-03-07 17:27] jasonLaster commented on #2103
@aklt lets fix it in this issue

[2017-03-07 17:33] jasonLaster commented on #2226
@soapdog i wrote up some notes on how i would do it, there could easily be a better way though :)

[2017-03-07 18:26] aklt commented on #2287
Would love to join you, but I cannot make it today.  curious what you find!

[2017-03-07 20:47] jasonLaster opened #2299 "[EditorPreview] previewing variables in another frame"
the bug is somewhere in `previewSelectedToken` with  `selectedFrame`...

[code]

[2017-03-07 20:54] jasonLaster opened #2300 "[EditorPreview] show `this` when it’s in scope"
It'd be great if we supported hovering over `this`.

#### Here's a patch to get started

[code]

[2017-03-07 22:09] jasonLaster commented on #2299
@ryanjduffy is working on this

[2017-03-07 22:27] #1894 closed

[2017-03-07 22:28] jasonLaster commented on #1785
Here are the remaining utils that could use `flow`

[code]

 and a [patch](https://gist.github.com/30b95ac4802d33b7d01adf98583d7150) to help get started

[2017-03-07 22:31] jasonLaster commented on #2294
@jcreighton is working on this

[2017-03-08 01:26] jryans opened #2302 "How to avoid installing invalid prefs via `copy-assets`"
The `copy-assets` script for running mochitests currently copies a full DevTools pref set from this repo to m-c. However, this is not the repo of record for non-debugger prefs, and so `copy-assets` could inadvertently alter some non-debugger prefs to unexpected / older values.

Should this repo instead maintain a debugger-only prefs file to avoid confusion? Is there any reason a full DevTools pref

[2017-03-08 02:55] jryans commented on #2302
Ah, they are broken out into separate files in m-c, but not over here. Maybe there's unfinished work here?

[2017-03-08 02:58] jryans commented on #2302
Seems like this repo should maintain only the `devtools/client/preferences/devtools.js` m-c file, and can feel free to replace it, etc. when landing updates.

The current `assets/panel/prefs.js` file here could be removed.

[2017-03-08 03:00] jryans commented on #2302
Looks related to #2277.

[2017-03-08 13:50] bomsy commented on #2300
i'll look at this

[2017-03-08 15:44] #2141 closed

[2017-03-08 15:44] #2294 closed

[2017-03-08 15:46] jasonLaster commented on #2302
yep - this is related to #2277. I just need to update the MC image we use so that it has `prefs/debugger.js` and then i'm good

[2017-03-08 15:46] #2302 closed

[2017-03-08 15:49] jasonLaster opened #2304 "[Dark Theme] polish colors"
Checklist:
- [ ] select state
- [x] call stack zebra
- [x] consistency of colors in the secondary pane
- [x] pause box
- [x] highlight color (the editor highlight is very strong)
- [x] Improve color contrast in tree-node #1940

**select state** the blue is pretty jarring and unnecessary. It could be much softer and have the same effect.

![Screen Shot 2017-03-08 at 10.53.09 AM.png](https://shipuse

[2017-03-08 16:00] jasonLaster commented on #2304
@amitzur is on it

[2017-03-08 16:00] jasonLaster commented on #2300
@jcreighton is on it

[2017-03-08 17:06] #1912 closed

[2017-03-08 17:06] jasonLaster commented on #1912
Hmm, i'm not seeing the slowness after the new bundle.

Happy to re-open if you still see it.

![](http://g.recordit.co/SB48fwi1ph.gif)

[2017-03-08 17:08] jasonLaster commented on #1809
@clarkbw can we look into this soon

[2017-03-08 17:13] jasonLaster commented on #1942
@clarkbw is this something for any context menu in windows? if so we should refile in bugzilla?

[2017-03-08 17:15] jasonLaster commented on #717
@julienw i added you this issue for when you get back. Let me know if you are interested.

[2017-03-08 17:47] jryans opened #2306 "Syntax highlighting for TypeScript"
Saw a request on IRC for TypeScript syntax highlighting. (I think they were using the old debugger, but this seemed like a better place to file.)

[2017-03-08 18:34] #2299 closed

[2017-03-08 18:34] jasonLaster commented on #2299
@ryanduffy could not reproduce the bug

[2017-03-08 19:53] wldcordeiro commented on #2306
I believe this has landed. One of our debugging examples is a Typescript project and I saw highlighting there.

[2017-03-08 20:22] clarkbw commented on #2306
Yep, this example: https://devtools-html.github.io/debugger-examples/examples/typescript/greeter/ should highlight Nightly and DevEdition.

[2017-03-08 20:22] #2306 closed

[2017-03-08 20:40] jasonLaster opened #2307 "[Editor] Syntax highlighting for clojurescript"
We have support for other modes like coffeescript, jsx, flow, elm (i think).

Steps:
1. add the context-type
2. add the codemirror mode

[2017-03-08 20:44] tromey commented on #2307
This is https://bugzilla.mozilla.org/show_bug.cgi?id=1211397

[2017-03-08 20:44] jasonLaster commented on #2307
Here's a chromium bug: https://bugs.chromium.org/p/chromium/issues/detail?id=312271

[2017-03-08 20:53] wldcordeiro commented on #2282
I'll grab this, I've got some ideas for the parsing that I wanted to play with and learning more about workers is on my list of things to do.

[2017-03-08 21:33] #2266 closed

[2017-03-08 21:36] jasonLaster commented on #1940
@clarkbw thoughts?

[2017-03-08 22:03] wldcordeiro opened #2309 "[Symbol Search] UI Polish"
There are some unresolved questions about the interface for symbol searching.

1. Should we have icons that identify the symbol type (class/function/variable)
2. The current layout could be problematic with using horizontal space. Should we use some kind of dropdown?

Opening this as discussion so we can figure out how to make it actionable.

[2017-03-08 22:03] wldcordeiro opened #2310 "[Symbol Search] Re-search on trigger"
If you change the symbol type you're searching for we should retrigger the search.

[code]

[2017-03-08 22:11] clarkbw commented on #1940
When that was the clickable target I agreed with this.  But I'm not sure anymore. I don't know that we want to make the arrows on equal weight as the text.  Perhaps if we went with lighter / thinner arrows then I'd feel better about it.

[2017-03-08 23:09] jasonLaster commented on #1940
That makes sense.
I'd also like to discuss adopting Chrome's color pattern for different types of nodes. Directory, source, source map directory.

[2017-03-08 23:16] jasonLaster commented on #2309
I'll throw in that we want to include "go to line" soon.

Likely we detect if you add a colon first and update the magnifying glass icon.

If we see that variable search is on we could also show an@. We could also see a preceding @.

Re: dropdown. My quick response is that we don't need it off we folks class search onto variable search.

Re: icons. I could see punting on this until we start our wo

[2017-03-08 23:30] wldcordeiro commented on #2309
I like the idea of wildcards mapping to search-types with buttons for discoverability purposes.

Sublime uses `@` for functions and I like it a lot.

[2017-03-09 00:28] soapdog commented on #2226
Sorry for the delay got sick here and couldn't work on it. Will fix this tomorrow.

[2017-03-09 01:27] Dalimil commented on #1374
I'm working on this... I obviously won't have the NAVIGATE event fire at the start - so would the user need to refresh the currently debugged page everytime?

[2017-03-09 01:35] jasonLaster commented on #1374
Hmm. I'll make a deal, if you get it working with navigate I'll get you the
event for the initial load :)

On Wed, Mar 8, 2017 at 8:27 PM Dalimil Hajek <notifications@github.com>
wrote:

[2017-03-09 07:39] aklt commented on #2287
With the patch above by @jasonLaster applied the close button will align correctly with the right pane when the conditional panel is opened. The noHScroll option was the reason for this. The situation in the image above is not fixed by this, though.

I spoke with @amitzur and found out it was concluded that the real fix, possibly involving changes to SplitBox so that resize events are emitted, wil

[2017-03-09 07:57] aklt commented on #1728
While looking at #2287 I tried to reproduce this, but did not succeed. It may be that the
`noHScroll` setting on the editor fixed this!

[2017-03-09 13:09] Dalimil commented on #1374
I'm still dealing with some flow errors and the code might need some cleaning up (especially because all the tree methods are static and I need to keep passing additional parameters every time), but it seems to be working...

![out](https://cloud.githubusercontent.com/assets/4202539/23751491/9066d400-04c9-11e7-92ea-2e3e4f34a9a9.gif)

[2017-03-09 17:17] jasonLaster commented on #2287
@amitzur @aklt here's a way to always provided the dimensions to children. React cautions against [context](https://facebook.github.io/react/docs/context.html), but this might be a useful case for it.

[code]

[2017-03-09 17:23] jasonLaster commented on #2287
Ohh... my solution is probably impractical because we just need to tell codemirror that there was a change.

[2017-03-09 17:26] jasonLaster commented on #1728
@jonathanKingston we fixed this while working on #2287

![](http://g.recordit.co/OF9w7tfRxq.gif)

[2017-03-09 17:27] #2287 closed

[2017-03-09 17:27] jasonLaster opened #2317 "[Editor] Conditional Breakpoint close button is hidden when the editor resizes"
The conditional breakpoint pane does not resize when the editor resizes, which causes the close button to either be hidden or for the pane to look small :)

The solution is to tell codemirror to re-calculate the pane width.

That is easy to do with `setSize`. You can see codemirror already does this in `onResize` when the window resizes.

[code]

Additional discussion in #2287

![](https://cloud.g

[2017-03-09 22:22] ryanjduffy commented on #2154
Starting looking at this. At least a portion of the issue is that CodeMirror mutates a lot of DOM nodes when a search is performed. In the profiler, a bulk of the time in FF was spent in styling. Chrome didn't exhibit the same lag on showing the search bar but actually searching was slow in both.

[2017-03-09 22:54] ryanjduffy commented on #2154
Adding a guard in `toggleSearch()` seems to improve the common case of just starting a search by cmd+f. Doesn't get to the root cause, of course.

[code]

[2017-03-09 23:56] ryanjduffy commented on #2154
May need some upstream changes to fix this. CM has a `viewportMargin` property to manage the amount of code rendered at any point in time. Unfortunately, it limits it line and not by width. So, if you have a large, many lined, file, the performance isn't too bad. If you have a large, few lines but very wide (e.g. minified file), you're still out of luck.

[2017-03-10 00:07] jasonLaster commented on #2154
@ryanjduffy thanks for the research. A good test to try this on is the debugger's `bundle.js`, which you can get to by having the debugger opened in firefox. This case does not have many long lines, but is still slow.

[2017-03-10 01:02] aklt commented on #2103
This should be fixed now.

[2017-03-10 08:33] #2103 closed

[2017-03-10 09:18] jasonLaster commented on #2219
Here's a checklist for progress:
- [ ] parse member expressions #2297
- [ ] evaluate expressions
- [ ] parse member expressions in `getSymbols` so it's fast

[2017-03-10 09:20] jasonLaster opened #2319 "migrate to jest"
We'd like to migrate to jest, which is a more modern unit testing library with better support for mocking and snapshot testing

Steps:

- [x] get tests running #2315
- [x] Update CI integration
- [x] Update npm scripts
- [x] Remove Mocha code
- [x] update docs
- [x] Code coverage

#### coverage

`--coverage` creates a nice report. We also have lots of coverage output for codecov to ingest.

[2017-03-10 11:00] jasonLaster opened #2323 "[FunctionSearch] name functions based on their var"
We currently treat this case `obj.me = function() {}` `obj.me = () => {}` as anonymous functions. In these cases we should use the assignment to find the name `me`.

Here's a failing test to help someone get started

[code]

### screenshot
<img src='https://shipusercontent.com/b4ab44e43a6e602a2387080e0187fdc7/Screen%20Shot%202017-03-10%20at%206.32.53%20AM.png' title='Screen Shot 2017-03-10 at 6.32

[2017-03-10 11:08] jasonLaster commented on #2267
Thanks for the update @AlanCezarAraujo.

What were you seeing?

[2017-03-10 11:45] montogeek commented on #2319
I will continue with the todo list today

[2017-03-10 12:40] jasonLaster opened #2324 "[Footer] remove extra footer padding"
The editor footer appears to have 5 or so pixels of padding above the border.

You can see it in dark mode and when the footer overlays text

<img src='https://shipusercontent.com/0e56540d6f73cba997c97d403ac5a0b8/Screen%20Shot%202017-03-10%20at%207.36.17%20AM.png' title='Screen Shot 2017-03-10 at 7.36.17 AM.png' width=630>

[2017-03-10 13:14] jasonLaster commented on #2280
@binarybaba is looking at this

[2017-03-10 13:15] jasonLaster commented on #1952
@binarybaba is looking at this

[2017-03-10 15:56] jasonLaster commented on #2310
@ThomasCrevoisier

[2017-03-10 16:08] jasonLaster opened #2326 "[ObjectInspector] bucket ranges are backwards in RTL"
We partition large arrays and objects with buckets `[0..99]` when we preview them. In RTL though we show the bucket range as `[99..0]` even though it should still be `[0..99]`.

We could fix this by setting the `dir` attribute for the label similar to how we do it for the source cmd+p label [here](https://github.com/devtools-html/debugger.html/blob/master/src/components/Sources.js#L28-L30)

[code]

[2017-03-10 16:33] magsout commented on #2324
@jasonLaster

I would like to work on this.

The height of `editor-mount` https://github.com/devtools-html/debugger.html/blob/master/src/components/Editor/Editor.css#L71 depends on the height of https://github.com/devtools-html/debugger.html/blob/master/src/components/Editor/Footer.css#L14

Would it be revelant to add a variable or just change the value?

[2017-03-10 16:55] clarkbw commented on #2293
I started some work on this and you can see it here: https://github.com/clarkbw/debugger.html/tree/flow-0.41

https://github.com/devtools-html/debugger.html/compare/master...clarkbw:flow-0.41

But I don't have time to keep going on this so I'll let someone else pick it up if they want it.

[2017-03-10 16:56] jasonLaster commented on #2324
Yea, a variable scoped to the editor would be a good idea.

[2017-03-10 16:58] jasonLaster commented on #2265
oops, didn't mean to close it. @jbhoosreddy any progress?

[2017-03-10 16:58] jasonLaster commented on #2304
@amitzur any updates?

[2017-03-10 16:59] jasonLaster commented on #2242
@DanUgelow any updates?

[2017-03-10 17:15] DanUgelow commented on #2242
@jasonLaster Working on it! Will have for you soon

[2017-03-10 19:57] jryans commented on #2277
Is this a task I can perform? Do I need special access to publish the new Docker image?

[2017-03-10 20:05] jryans commented on #2167
I believe https://bugzilla.mozilla.org/show_bug.cgi?id=882341 can be resolved once this lands.

[2017-03-10 20:56] ryanjduffy commented on #2154
Created a rough PR to start some discussion. Seems to improve search bar and search performance on large files but could use some more informed eyes on it!

[2017-03-10 21:53] clarkbw opened #2333 "console error: Required prop `selectedLocation` was not specified in `Editor`"
I'm seeing this console error when starting up the debugger.

[code]

[2017-03-10 22:41] ryanjduffy commented on #2256
Proposed diff was right on. See linked PR ^^^

[2017-03-11 05:38] wldcordeiro commented on #2323
I had considered adding this and wasn't sure whether to consider these functions or variables when I was adding the variable search capability. Is it okay to have them appear in both result lists or should we exclude from variables?

[2017-03-11 06:08] #2326 closed

[2017-03-11 06:10] wldcordeiro commented on #2249
This has landed, now there's just polish 😄

[2017-03-11 06:10] #2249 closed

[2017-03-11 08:26] jasonLaster commented on #2323
Showing up in both places is fine although in this case I don't know if we should show all the properties in variable search. It's something to talk about in another issue

[2017-03-11 10:50] ThomasCrevoisier opened #2335 "Add some indications for offline development with examples"
Quick anecdote : I was in the train, wanted to work on the debugger and totally forgot that `yarn run chrome` opens on the online examples ^^'

What do you think about adding a quick note on `docs/getting-setup.md` mentioning https://github.com/devtools-html/debugger-examples ?

[2017-03-11 11:50] wldcordeiro commented on #2310
@ThomasCrevoisier Huh odd. I think the bottom bar might not render if you have searchModifiers disabled. Try checking if that is enabled too.

[2017-03-11 14:37] bomsy opened #2336 "Error in Object inspector when adding Expression"
When trying to add expressions, we get an error. Seems to be failing the object inspector.
`actors` does not seem to be defined.

![image](https://cloud.githubusercontent.com/assets/792924/23824084/1ee4e4b6-0668-11e7-959a-dc0f4dda8244.png)

[2017-03-11 17:43] #2307 closed

[2017-03-11 18:25] bomsy opened #2339 "Editor Preview no longer working"
The editor preview is no longer showing

[2017-03-11 19:19] AlanCezarAraujo commented on #2267
Hi @jasonLaster!

Sorry for the late response. I've had a busy week at work.
But here we go:

On `onKeyDown` event, there were some chained `if/else` conditions.
I created the object `keyDownHandlers` which is used by the event handler simplifying the condition chain to this:

[code]

I'd appreciate any thought on this.

[2017-03-11 21:08] jbhoosreddy commented on #2274
I think I understand the issue. @dehghani-mehdi if you do have a sample test case you can make public that'd be helpful too. I'll look into this and compare with how chrome also handles this.

[2017-03-11 21:23] #2339 closed

[2017-03-11 21:24] bomsy commented on #2300
Fixed!

[2017-03-11 21:24] #2300 closed

[2017-03-12 04:45] ruturajv commented on #2323
Not sure if I've understood this clearly,
- but by typing "a" in search, we shouldn't be showing any output as "anonymous function" which are assigned to members
- "property" if searched should list / reference to that anonymous fn

[2017-03-12 05:07] wldcordeiro commented on #2323
@ruturajv We should still have functions output as anonymous. The following situations should be anonymous

[code]

[code]

Regarding properties, don't worry, that's a different discussion and already handled in our function searching logic. 😄

Hope that clarifies.

[2017-03-12 05:19] amitzur commented on #2304
[I also pushed to devtools-core a new variable]

Take a look and see if you find these sensible:

- **call stack zebra**: The dark theme and light theme need to use exactly the opposite variables. This should ideally be done via better variable construction, but I just did separate selectors for now.
I also added a hover state for dark theme for buttons, accordion headers and frames.

- **pause bo

[2017-03-12 08:13] ruturajv commented on #2323
@wldcordeiro - thanks ! Pretty much clarifies it. :)

[2017-03-12 12:11] #2336 closed

[2017-03-12 12:37] wldcordeiro commented on #1890
Added a list to track the components that have been converted.

[2017-03-12 18:36] clarkbw commented on #2335
Great idea!  I've definitely hit this before as well.

[2017-03-12 18:44] clarkbw commented on #1535
Here are some notes on the existing design.

## Firefox

Main interface for toggling is located at the bottom of the sources list.

<img width="156" alt="black box toggle button" src="https://cloud.githubusercontent.com/assets/2134/23834747/ce7d7fa4-0718-11e7-9ea1-5a43159e9aad.png">

View when a source file is blackboxed

<img width="909" alt="screen shot 2017-03-12 at 11 39 57 am" src="https://cl

[2017-03-12 19:03] jasonLaster opened #2347 "[WatchExpressions] Flash while created"
There's a somewhat ugly flash when a watch expression is added while it is *first* being evaluated. The GIF barely registers it because it is so fast.

It would be nice to find a way where the "not found" value is not shown while it's being evaluated.

![](http://g.recordit.co/t2noJ40PHH.gif)

[2017-03-12 19:04] clarkbw commented on #1108
Pulling this image out so you don't have to jump to the doc.

<img width="883" alt="screen shot 2017-03-12 at 12 03 40 pm" src="https://cloud.githubusercontent.com/assets/2134/23834938/f5d51258-071b-11e7-8dca-3017db057b9a.png">

[2017-03-12 19:04] clarkbw commented on #1654
Should make sure that @jryans has seen this as well.  I'm sure its part of a number of other issues already filed in bugzilla.

[2017-03-12 19:46] #2333 closed

[2017-03-12 19:46] #2310 closed

[2017-03-12 19:49] jasonLaster commented on #2304
* **select state** is the blue highlight in the source tree and function search list
* **editor highlight** is the green pause line for instance which you dulled
* **color contrast** is the icon color contrast in the source tree. don't worry about that for now.

Of the three, only select state matters.

[2017-03-12 19:55] clarkbw commented on #1968
Closing this for now, we've got it on the books.

[2017-03-12 19:55] #1968 closed

[2017-03-12 20:01] jasonLaster commented on #2267
This looks a bit magical for my taste, but PR it as a refactor PR and we can discuss there

[2017-03-12 20:04] clarkbw commented on #1948
Lets go with the yellow.  I'd really like to get the WhyPaused component to be a bit lighter in the way Chrome has it because it is a bit too distracting right now.

[2017-03-12 20:08] jasonLaster commented on #1948
Yep - I definitely agree about the why paused background

Sounds good

[2017-03-12 20:54] wldcordeiro commented on #1108
I'd love to get hacking on this. What/where would I need to work to do these parts?

[2017-03-12 20:55] jasonLaster commented on #1108
I'll break it down soon :)

It's on the q2 roadmap!
On Sun, Mar 12, 2017 at 9:54 PM Wellington Cordeiro <
notifications@github.com> wrote:

[2017-03-13 03:30] greenkeeper[bot] opened #2350 "An in-range update of babel-plugin-transform-es2015-modules-commonjs is breaking the build 🚨"
## Version **6.24.0** of [babel-plugin-transform-es2015-modules-commonjs](https://www.npmjs.com/package/babel-plugin-transform-es2015-modules-commonjs) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/devtools-html/debugger.html/compare/greenkeeper%2Fbabel-plugin-transform-es2015-modules-commonjs-6.24.0">Build failing 🚨</a>
    </td>
  </tr>

[2017-03-13 04:25] #2256 closed

[2017-03-13 10:41] #2324 closed

[2017-03-13 12:01] jasonLaster opened #2355 "[Editor] text search is slow for large files"
We currently use codemirror to find all of the search results in a document when we start searching. Unfortunately, this is a pretty slow search that we could speed up pretty easily.

Here is what we do [here](https://github.com/devtools-html/debugger.html/blob/master/src/utils/editor/source-search.js#L37-L40)

[code]

Here is the data structure that it generates.
[code]

We could probably speed i

[2017-03-13 12:55] binarybaba commented on #1952
I screwed up with my git. Had to reset hard and stuff. sorry

[2017-03-13 13:08] nchevobbe commented on #1952
Even with reflog ? http://effectif.com/git/recovering-lost-git-commits

[2017-03-13 13:15] magsout commented on #2317
@jasonLaster

Why did you add a method to calculate the width ? Why not add a width: 100%?

Maybe I missed something

![screen recording 2017-03-13 at 02 13 pm](https://cloud.githubusercontent.com/assets/1997108/23855783/6ac11e32-07f7-11e7-9ddf-96f92b4fa0ea.gif)

[2017-03-13 13:19] binarybaba commented on #1952
Okay I didn't know reflog. Thank you!

[2017-03-13 13:56] jasonLaster commented on #2317
@magsout it's an interesting problem. CodeMirror calculates the panel width here because the panel by default is the width of the line.

Jump in and you'll see what I mean.

[2017-03-13 13:58] #2335 closed

[2017-03-13 13:58] #2154 closed

[2017-03-13 14:35] magsout commented on #2317
@jasonLaster not sure to understand.

WHat I understand is:

The parent is `<div class="new-breakpoint"></div>` so the width of `<div class="CodeMirror-linewidget"></div>` depends of it ?

[2017-03-13 14:37] jryans commented on #1654
Thanks, I'll add it to my list. I plan to dig through all the source map issues filed (here and Bugzilla) once basic support is wired up.

[2017-03-13 16:11] jasonLaster commented on #1654
closing this in favor of https://github.com/devtools-html/devtools-core/issues/246

[2017-03-13 16:11] #1654 closed

[2017-03-13 16:11] jasonLaster commented on #1220
Closing this for now as the debugger work is primarily done. We can track new work in devtools-core

[2017-03-13 16:12] jasonLaster commented on #1785
closing this as we've mostly finished up. We should add flow to utils when we touch them

[2017-03-13 16:12] #1785 closed

[2017-03-13 16:15] jryans commented on #1220
Still work to do in m-c, so let's keep this open for now.

[2017-03-13 18:08] jasonLaster commented on #2317
Hmm, not sure. Let me know what you find

[2017-03-13 18:14] jasonLaster commented on #2274
This is a good way to test the behavior. With that said, I think i prefer the case sensitive approach.

[code]

[2017-03-13 18:15] jasonLaster commented on #2274
I think this is the correct behavior because the server could treat `/a/b/c` differently from `a/B/C`

[2017-03-13 18:15] #2274 closed

[2017-03-13 18:46] dehghani-mehdi commented on #2274
I think it's not correct to show multiple entries for same path. _so Chrome guys have new thing to laugh on me, I'm not sure, but I think Chrome merge this king of paths, I'll check tomorrow_

@jbhoosreddy seems like there is no need to testcase anymore.

[2017-03-13 21:05] wldcordeiro commented on #2355
This is a good idea, we kind of do this already too with countMatches.

[2017-03-13 23:58] #2282 closed

[2017-03-14 00:15] bomsy opened #2362 "Use prettier"
Adding prettier as a linting step...
https://github.com/prettier/prettier

[2017-03-14 09:32] greenkeeper[bot] opened #2364 "An in-range update of devtools-source-map is breaking the build 🚨"
## Version **0.2.1** of [devtools-source-map](https://github.com/devtools-html/devtools-core) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/devtools-html/debugger.html/compare/greenkeeper%2Fdevtools-source-map-0.2.1">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      devtools-source-ma

[2017-03-14 15:30] irfanhudda commented on #2317
Updated GIF for this issue
![breakpoint](https://cloud.githubusercontent.com/assets/1755089/23908130/26342fc2-08f9-11e7-9df2-76734f921ef0.gif)

[2017-03-14 15:36] AnshulMalik opened #2370 "[Search] Editor doesn't scroll with down keys"
When the search bar is open(visible), and user try to move cursor inside editor, the cursor on reaching the bottom, comes back to the search box instead of scrolling the editor.
![peek 2017-03-14 21-00](https://cloud.githubusercontent.com/assets/7821757/23908422/fa6e89fe-08f9-11e7-94a3-8178f9d7cf72.gif)

[2017-03-14 15:50] ruturajv opened #2371 "Show message for pages with no Javascript to debug"
The default page that is opened with `yarn run firefox` opens up a page that is not having any Javascript: https://devtools-html.github.io/debugger-examples/

On opening the debugger window of that tab, it just shows an empty pane / structure. A new user like me might get stuck thinking its not working; It'll be great if a message like "No JavaScript to debug" is present.

![screenshot from 2017-0

[2017-03-14 17:06] jasonLaster commented on #2371
This is similar to #2231

[2017-03-14 17:06] #2364 closed

[2017-03-14 17:16] irfanhudda opened #2372 "Remove vendor prefixes"
Now that we have `autoprefixer` #1838 there is no need for vendor prefixes in css files. We should probably remove them

One example is here [https://github.com/devtools-html/debugger.html/blob/master/src/components/SecondaryPanes/Expressions.css#L12](https://github.com/devtools-html/debugger.html/blob/master/src/components/SecondaryPanes/Expressions.css#L12)

[2017-03-14 18:06] magsout commented on #2317
I invested a little more.  When the component is mount `CodeMirror-linewidget` width is calculated and `CodeMirror-sizer` too.

I started on this idea:

I propose to remove the function wich calculates the width of `CodeMirror-linewidget`.

So `CodeMirror-linewidget` depends to the width of `CodeMirror-sizer`.

We just need to add a function to resize `CodeMirror-sizer` when the editor resizes

@j

[2017-03-14 20:56] ryanjduffy commented on #2355
Would be best if you could defer the line calculation until it was needed to scroll it into view. Otherwise, you have to no only find the string but also derive the line number. You could incrementally sort it out (e.g. count the line for the first match, cache it, count the lines from the first match to the second match and sum it to the cached value, etc) but it's likely a lot of wasted effort s

[2017-03-15 06:53] ruturajv commented on #2323
@jasonLaster - is the screenshot a mock ? cause when I created a simple HTML
[code]

and tried to search `commonFunction` or `anon`, It didn't find anything.
![search](https://cloud.githubusercontent.com/assets/227817/23936763/dcae7d9a-0979-11e7-8501-e1fcd940adaf.png)

[2017-03-15 07:04] wldcordeiro commented on #2323
Can you try with .html as well as .php? I'm not sure if we are treating php files as sources like we do html.

[2017-03-15 07:34] jasonLaster commented on #2355
Yeah. That's a good idea. We probably can.

[2017-03-15 07:42] ruturajv commented on #2323
No, it doesn't work with .html either

![html-debug](https://cloud.githubusercontent.com/assets/227817/23938118/fb649416-0980-11e7-8797-947411622ebd.png)

[2017-03-15 07:43] wldcordeiro commented on #2355
I didn't get a chance to test it yet but it might be possible to do something kind of like this to achieve what you suggested @jasonLaster not sure how it performs versus what @ryanjduffy suggested.

[code]

[2017-03-15 09:08] jasonLaster commented on #1602
Here's the location grip. The issue with `href`, `hostname` and other default properties is that they have a getter and setter and not the value.

[code]

[2017-03-15 09:21] jasonLaster opened #2378 "[FunctionSearch] Fails when the source is HTML"
We currently pass an HTML file to the babel parser when we try to find the function names, which causes it to fail.

![dcae7d9a-0979-11e7-8501-e1fcd940adaf.png](https://shipusercontent.com/3a340adb14775f2f8c749a3f0e82c1bc/dcae7d9a-0979-11e7-8501-e1fcd940adaf.png)

CC @julienw

[2017-03-15 09:23] jasonLaster opened #2379 "[EditorPreview] hovering on an original source"
When we hover on a token in an original source we get a selected expression, which has the start and end location. We should translate the expression to an expression in the generated source to avoid evaluating the wrong thing.

This could help with an edge case with babel transpiling or flow...

Steps:
1. get the selected expression
2. determine the start and end location of the expression (babel

[2017-03-15 10:42] jasonLaster commented on #1785
Here's a patch for the utils/editor https://gist.github.com/jasonLaster/6bce4fefe93f0f03dd2dd8930c6646ed

[2017-03-15 11:03] shlomif opened #2381 "yarn run test-all fails on Fedora 25 x86-64 and Mageia 6 x86-64 (also with nvm)"
Hi all!

On Fedora 25 x86-64 I am getting the following output from `yarn run test-all`. How can it be fixed?

[code]

[2017-03-15 13:03] #1940 closed

[2017-03-15 14:17] jasonLaster opened #2382 "[L10N] localize keyshortcuts"
We should localize the keyboard shortcuts keys like `cmd`, `ctrl`...

https://github.com/devtools-html/debugger.html/blob/master/docs/local-development.md#l10n

Here is an example of localizing one of them:

[code]

[2017-03-15 15:29] DanUgelow commented on #2372
I can work on cleaning up the css

[2017-03-15 19:48] StephaneHe commented on #2185
Couldn't it be a Firefox bug, as I can reproduce this without debugger-html actually running ?

view-source:https://miketaylr.com/bzla/eval-script.html will bring your actual html source page.

Add anything to it (line number or anything else) and it will just bug. Likewise for any other web page actually.

[2017-03-15 20:10] nadavoran opened #2387 "Missing navigation issue in search bar"
Today the only way to navigate is to use the keyboard, I think that adding Next Perv buttons will help the usability
#goodnessSquad

[2017-03-15 23:15] jasonLaster commented on #2317
Hmm, not sure if I follow.

@aklt @amitzur @ryanjduffy what do you think?

[2017-03-15 23:16] jasonLaster commented on #2323
Hmm I think you're running into #2378.

[2017-03-16 03:30] ryanjduffy commented on #2355
I started on this using a variation of @wldcordeiro's suggestion. Initial search seemed to be faster with my rough algorithm but I was surprised when my naive 'only find the first instance in the line' approach succeeded in finding every instance in the line. Since that clearly couldn't have been the case, I discovered that the loop code in `getSearchState()` seems to be unnecessary as the increme

[2017-03-16 03:37] wldcordeiro commented on #2355
@ryanjduffy Do you have a public branch or a patch you could share? I could test it out too.  😄

[2017-03-16 03:50] ryanjduffy commented on #2317
It can't depend upon the width of `CodeMirror-sizer` because that node reflects the width of the content and not that of the viewport. The result would be a regression of #2287 in which the close button would be hidden for long lines again.

[2017-03-16 04:23] ryanjduffy commented on #2317
Wrote up a *very* rough approach that adds an `onResize` callback to `Splitbox` from `devtools-modules` which, when called in the app, updates the ui state in redux with a fake "size" to trigger an update of the editor and thereby a `setSize()` on the CodeMirror.

Not sure if/when I'll be able to polish it up so sharing here in case someone else wants to take the torch.

[code]

Also added the fol

[2017-03-16 04:27] ryanjduffy commented on #2355
I don't have much to share. I'm not even convinced my search logic is valid since it seems to be superseded by the code in `doSearch()`. You can test my theory by commenting out lines 36-43 in `source-search.js`.

[2017-03-16 13:19] jasonLaster opened #2390 "[Column Breakpoints] Investigate using babel to find where a breakpoint could be added"
It'd be great to be able to add a breakpoint somewhere on a line. For example:

[code]

We could add a breakpoint before `r.json`, `days.map`, and `formatDay`.

The first step of investigation is to see if Babel could help us figureout where we can add a breakpoint. My guess is that we could add a breakpoint at the beginning or end of a statement... But it would be nice to see what the data says:

[2017-03-16 15:13] ryanjduffy commented on #1890
Opened a PR for converting the SecondaryPanes

[2017-03-16 17:06] jasonLaster opened #2392 "[Sources] Investigate colors for the source tree nodes"
Chrome does a nice job of coloring different nodes in the source tree for instance:

* files
* domains
* source map domains

[2017-03-16 17:23] jasonLaster opened #2393 "[ConditionalBreakpoint] Should focus on the pane"
When the editor search bar is open, it steals the focus from the conditional breakpoint pane:

STR:

1. select a source
2. cmd+f to open the search bar
3. right click on a gutter line and select "add conditional breakpoint"

Expect: the conditional breakpoint pane to be in focus
Actual: the search bar is in focus

[2017-03-16 17:24] jasonLaster opened #2394 "[Scopes] expanded properties are not updated while stepping"
STR:

1. pause and expand an object
2. step
3. check the expanded object

Expected: it has updated
Actual: it has not updated

@bomsy I think this is related to the actor cache

[2017-03-16 17:31] ochameau opened #2395 "Breakpoint on sourcemapped file doesn't work on lemonde.fr"
- Open http://www.lemonde.fr/
- Break on angular.js:6
- Reload the page

Note that this angular.js files appear late in the process of loading this page,
and also, this page is huge and get its DOMContentLoaded and load event fired very late.

Some debug info about that, when breaking from addBreakpoint:
[code]

This mapped line and column make sense but looks somewhat wrong.
Line 6, in the pretty

[2017-03-16 17:33] ochameau opened #7616 "Breakpoint on sourcemapped file doesn't work on lemonde.fr"
- Open http://www.lemonde.fr/
- Break on angular.js:6
- Reload the page

Note that this angular.js files appear late in the process of loading this page,
and also, this page is huge and get its DOMContentLoaded and load event fired very late.

Some debug info about that, when breaking from addBreakpoint:
[code]

This mapped line and column make sense but looks somewhat wrong.
Line 6, in the pretty

[2017-03-16 17:40] #2395 closed

[2017-03-16 19:58] bomsy commented on #2394
@jlast true! i'll have a peek.

[2017-03-17 01:40] magicp-github opened #2396 "Cannot open "Search for sources" again"
**Steps to reproduce:**
1. Start Nightly (or Dev. Edition)
2. Go to any sites (e.g. about:home)
3. Open Debugger
4. Open "Search for sources" (e.g. click [+] or Ctrl+P)
5. Close "Search for sources"
6. Open "Search for sources" again

**Actual Results:**
No response. Cannot open "Search for sources" again.

**Expected Results:**
"Search for sources" works after the second times.

[2017-03-17 07:56] irfanhudda commented on #2396
I can confirm that we see this error in `master` branch.

When we try to open `SourceSearch` after closing it, we see some error in console.

Interestingly, we don't see the error if don't close `SourceSearch` but instead just switch tab and reopen `SourceSearch` again.

[2017-03-17 09:55] jasonLaster opened #2397 "[EditorPreview] is masked by the conditional breakpoint panel"
The conditional breakpoint panel is very rudely masking the preview popup. We can make the popup much more capable with a higher `z-index`

Here's a patch, which i haven't tested. I'm not sure what the right zindex should be.

[code]

![](http://g.recordit.co/6IRqovVENz.gif)

[2017-03-17 10:16] bomsy commented on #2397
Noticed this as well

![image](https://cloud.githubusercontent.com/assets/792924/24038750/ace78d4a-0afa-11e7-9210-aab9ffc83c0a.png)

I think they are related, and can be fixed along side.

[2017-03-17 11:48] jasonLaster opened #2398 "[EditorPreview] Don’t preview variables outside of the frame"
Currently, we will preview variables regardless of whether they are in the selected frame. The problem with this is that you often get values that you would not expect.

For instance, if you pause in a function with "this" and then jump to another module with "this" hovering will give you the value from the selected frame.

We can fix this, by first checking the context (source id, line, location)

[2017-03-17 11:52] jasonLaster opened #2399 "[EditorPreview] the Popup should use the correct scope"
It's possible to have a variable "a" that is a different value in an outer scope. In these cases, we want to use the correct value of "a" so we don't confuse the user.

We can do this by, checking the line number of the token we're previewing on and seeing if we're using the correct scope. For instance, if the local scope starts on line 23 and we're hovering on a variable on line 20, we should use

[2017-03-17 13:45] irfanhudda commented on #2372
Hey @DanUgelow it looks like #2386 PR was raised for fixing this issue.

[2017-03-17 15:10] julienw opened #2402 "[EditorPreview] Simple `this` values are displayed as full-fledge values when the script is inline"
Debugging with this code:

[code]
yields me a weird `this` value: instead of the string `"this"` I get a full-fledged String object:

![capture d ecran de 2017-03-17 16-07-17](https://cloud.githubusercontent.com/assets/454175/24049319/ed6baa32-0b2b-11e7-8f70-31b62b5bb031.png)

This works properly if the same script is in a separate file instead of inline.

[2017-03-17 15:12] julienw commented on #2402
This is what I get as a preview:
![preview-this](https://cloud.githubusercontent.com/assets/454175/24049505/90e44c32-0b2c-11e7-967e-72fc0c5a9219.png)

[2017-03-17 15:35] irfanhudda commented on #2396
I'll look into this

[2017-03-17 15:38] #2372 closed

[2017-03-17 16:14] #1374 closed

[2017-03-17 23:12] greenkeeper[bot] opened #2406 "An in-range update of eslint is breaking the build 🚨"
## Version **3.18.0** of [eslint](https://github.com/eslint/eslint) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/devtools-html/debugger.html/compare/greenkeeper%2Feslint-3.18.0">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      eslint
    </td>
  </tr>
  <tr>
    <th align=left>

[2017-03-18 01:16] mykmelez opened #2407 "fromJS throws on object without constructor"
Over in https://github.com/mozilla/qbrt/issues/19, @benfrancis noticed that debugger.html fails to stop at a breakpoint when loaded in qbrt (a Mozilla app that loads itself using Firefox's --app flag and attaches devtools to a window rather than a tab), reporting `Error in console "TypeError: value.constructor is undefined debugger.js:31325:1"`.

It looks like the code in question is in *fromJS*,

[2017-03-18 01:29] wldcordeiro commented on #2396
@irfanhudda double check this, with my redux stuff landing it may have been fixed in the process?

[2017-03-18 11:21] #2396 closed

[2017-03-18 12:09] #2362 closed

[2017-03-18 14:40] #2290 closed

[2017-03-18 15:44] #2347 closed

[2017-03-18 17:04] jbhoosreddy commented on #1964
Something like this is probably what we need to do.

[code]

[2017-03-18 20:41] #2407 closed

[2017-03-19 08:56] roieu commented on #2053
@jasonLaster I have added blur support to the tree component and also added blur item style to the SourceTree.
Creating a pull request....

[2017-03-20 13:49] clarkbw opened #2412 "Output a useful summary on postmerge"
In our post merge script we should be showing a useful summary to help people avoid mistakes. Right now we notify people if they need to yarn install and I'm wondering if that should be improved. Another thing we should make people aware of is if they have any symlinked code using yarn run links. That code could also be improved and should probably move to a node script.

[2017-03-20 21:22] #2397 closed

[2017-03-20 22:20] clarkbw opened #2413 "some broken formatting in the README"
The [Development Guide](https://github.com/devtools-html/debugger.html#development-guide) has what appears to be a broken table.

<img width="905" alt="screen shot 2017-03-20 at 3 19 09 pm" src="https://cloud.githubusercontent.com/assets/2134/24124369/a25708a0-0d80-11e7-929d-233d4abdf49e.png">

[2017-03-21 09:27] samjwalker opened #2416 "Debugger server doesn't run on windows"
I get this error message when running `yarn start` on windows

[code]

[2017-03-21 09:38] sammyjimtb commented on #2416
This is the config we're actually sending to webpack. Maybe there is a path separator problem?!?

[code]

[2017-03-21 12:43] jasonLaster commented on #2416
Thanks for the helpful patches [here](https://github.com/devtools-html/devtools-core/blame/master/packages/devtools-launchpad/webpack.config.js#L44) is where we decide what to modules in `node_modules` to babel transform. We used to add the path like this `\/` [here](https://github.com/devtools-html/devtools-core/blame/1d9282d9221ce8fcf8576ceb00c5d1e5803ffa66/packages/devtools-launchpad/webpack.co

[2017-03-21 20:46] jryans commented on #2277
Looks like @jasonLaster completed this task in #2361.

[2017-03-21 20:46] #2277 closed

[2017-03-22 08:32] jasonLaster opened #2419 "[Accordion] re-add moz-focus-inner class"
In https://github.com/devtools-html/debugger.html/pull/2386 we accidentally removed a style that's not autoprefixed for button focus states

[code]

[2017-03-22 14:02] irfanhudda commented on #2370
@AnshulMalik Can you reproduce this now? This might have been fixed in one of the previous commits.

[2017-03-22 14:22] irfanhudda commented on #2393
I think this might already be fixed. I cannot reproduce this locally.

[2017-03-22 14:22] ruturajv commented on #2393
conversely, I wonder shouldn't we close the Search bar? Since he has moved away from the search (assuming that he is done with his search).  Wouldn't it be ideal that he continues to his original task of Finding "by starting fresh" with "Ctrl+F" ?

[2017-03-22 14:24] ruturajv commented on #2393
@irfanhudda - I can reproduce the issue on Linux64 (ubuntu)

[2017-03-22 14:42] jasonLaster commented on #2393
@ruturajv i'm not sure about that :) not saying you're wrong, just i don't have a good example of where an editor debugger does this now. Also, I haven't played with it enough to say.

[2017-03-22 14:48] irfanhudda commented on #2393
@ruturajv @jasonLaster I've tried reproducing and found that conditional breakpoint panel is in focus.
![steps](https://cloud.githubusercontent.com/assets/1755089/24203740/8e602760-0f3c-11e7-8880-b9b9b9a542e2.gif)

Am I missing something?

[2017-03-22 14:54] irfanhudda commented on #2370
This is the GIF after I've tried to reproduce this.
![bug](https://cloud.githubusercontent.com/assets/1755089/24204084/6c6d7e86-0f3d-11e7-882f-bfd373116f5b.gif)

Looks like there is new issue

[2017-03-22 15:00] ruturajv commented on #2393
@irfanhudda  - Aaargh!! I thought post conditional breakpoint creation, The Search pane should be in focus. yes conditional breakpoint text box ***is*** in focus

Does this make the issue - resolved?

[2017-03-22 15:02] irfanhudda opened #2424 "[SearchBar] Search bar when scrolling with keyboard need to be fixed"
Trying the steps from #2370 for Sensor Web example

On scrolling using keyboard `SearchBar` covers tabs. Also bottom bar is not visible

STR:
1. Open a big file (`main.js` from Sensor Web example [http://aws-sensorweb-static-site.s3-website-us-west-2.amazonaws.com/](http://aws-sensorweb-static-site.s3-website-us-west-2.amazonaws.com/))
2. Open search bar (`Ctrl+f`)
3. Focus on editor.
4. Try to sc

[2017-03-22 15:03] ruturajv commented on #2393
@irfanhudda - also what is the tool to create these gifs? if ur using linux..

[2017-03-22 15:16] irfanhudda commented on #2393
@ruturajv [https://github.com/phw/peek](https://github.com/phw/peek) might be a good option for creating gifs

[2017-03-22 17:45] #2406 closed

[2017-03-22 17:47] jasonLaster commented on #1890
We're currently **16/32** components refactored!

[2017-03-22 17:49] jasonLaster commented on #1884
We're currently **137/280** basically 50% in the components directory

[2017-03-22 17:55] #1997 closed

[2017-03-22 17:55] #2382 closed

[2017-03-22 18:59] jasonLaster commented on #2390
Here are some examples from chrome:

### Callee

[code]

<img src='https://shipusercontent.com/6f9e706bc07a27a14b90056d07c8797d/Screen%20Shot%202017-03-22%20at%202.54.58%20PM.png' title='Screen Shot 2017-03-22 at 2.54.58 PM.png' width=593>

[ast](https://astexplorer.net/#/gist/a431a0ef62651e38386ecff61e8a6658/5e3dc3546f6514c9cbf725179bf88c8ec7680b12)

### Promises

[code]

<img src='https://shipus

[2017-03-22 19:18] jasonLaster commented on #2317
ping @magsout. How's it going?

[2017-03-22 19:20] jasonLaster commented on #2378
One good option here is to check the context type before we try to parse the code and if it is not parseable a.k.a HTML we should not try. In these cases we should hide the "Search For" container

[2017-03-22 19:27] jasonLaster commented on #2378
Here's a decent patch that should mostly work. I included a small refactor to make the code a bit more readable.

[code]

[2017-03-22 19:31] jasonLaster commented on #1925
We moved the test to the source map library. Now it's fine.

[2017-03-22 19:31] #1925 closed

[2017-03-22 19:34] #2231 closed

[2017-03-22 19:36] jasonLaster commented on #1661
As a quick follow up. @bomsy had #1937 open and it just needed a unit test in `actions/tests/breakpoints`.

[2017-03-22 19:40] jasonLaster commented on #2233
This works now!

Thanks @arthur801031

https://github.com/devtools-html/debugger.html/pull/2318

![](http://g.recordit.co/3IfWTHeu7s.gif)

[2017-03-22 19:43] #2233 closed

[2017-03-22 19:59] jasonLaster commented on #2232
@juliandescottes hmm where is this at :)

it looks like it might be doneish?

[2017-03-22 19:59] jasonLaster commented on #1377
@tromey @gregtatum could you share a profile you created with some large files?

[2017-03-22 20:02] julienw commented on #2378
It's not only for search but also for preview.

I recognize this is difficult to find all `<script>` elements and especially map a line with the AST, but I believe this is needed.

[2017-03-22 20:06] jasonLaster commented on #2378
Yes - sorry, meant to include preview as well.

I agree that we should support this, but I'd first like to land a generic fix so that we are not breaking the UI.

[2017-03-22 20:10] jasonLaster opened #2426 "[windows] yarn nom fails on windows"
`yarn nom` does `rm -rf node_modules yarn.lock; yarn install` which is UNIXy and fails on windows. This should be easy to add and if the script passes we can assume that it will work in windows.

We should switch to using a node script.

[code]

[2017-03-22 21:47] samjwalker commented on #2424
Found separate bugs on windows 10:

1) The search bar masking the tabs as you pointed out.
2) When the search bar is opened it is pushing everything down the screen putting the bottom scroll bar off the screen and the bottom scroll arrow off also.

Not sure if this is a bug but I'm not getting the "search for" bar underneath the main search bar.

Should we raise separate bugs for these?

[2017-03-23 02:29] jasonLaster commented on #2424
Hmm, is the second one https://github.com/devtools-html/debugger.html/issues/2291? If not, then file a new issue :)

[2017-03-23 02:44] jasonLaster opened #2427 "[tests] fix unit tests when workers are not pre-built"
When we switched to **jest** we stopped building our workers on the fly. This is actually a somewhat difficult problem to solve because jest's setup script is synchronous and I'm pretty sure webpack is async only.

Either way, I think the better solution is to avoid building the workers and instead better leverage jest's awesome babel transform integration to instead point the require to the worke

[2017-03-23 02:46] jasonLaster commented on #2390
One other thing that I should mention is that I tested this friday and found that it's already possible. If you invoke the addBreakpoint action with the right column value it already works!

[2017-03-23 03:02] jasonLaster commented on #2424
One thought that might not help is there is a CSS sticky property we might be able to use. We used it for the command bar effectively :)

[2017-03-23 03:02] jasonLaster commented on #2370
One thought that might not help is there is a CSS sticky property we might be able to use. We used it for the command bar effectively :)

[2017-03-23 12:27] samjwalker commented on #2424
Looking at it today, both of the bugs are reproducable in nightly but not our local debugger.html

However there is a funny gap at the bottom of the screen and we'll raise an issue for that.

Also still no sign of the other bar underneath the main search bar and will look into that.

In summary I can not reproduce any of the main issues.

[2017-03-23 13:48] samjwalker opened #2429 "Blank space at the end of editor component."
**When the search bar is opened there is as gap present (as highlited in the picture) and the 2nd search bar is not appearing.**

**STR:**

1) Open a file in the debugger

2) Open the search bar `ctrl+f`

**Expected result:**
Both of the search bars are open and no gaps anywhere.

**Actual result:**
Only the main search bar is opened and there is a gap above the `.source-footer`

This gap is part

[2017-03-23 13:55] jasonLaster commented on #2424
Hmm, that's interesting @samjwalker. I just tried @irfanhudda STR in both chrome and firefox with debugger.html and was able to reproduce. try clicking in the document and then holding down the arrow key.

[2017-03-23 14:05] #2220 closed

[2017-03-23 14:05] jasonLaster commented on #2429
Nice find!

[2017-03-23 14:07] #2419 closed

[2017-03-23 14:07] jasonLaster commented on #2416
Fix is coming in the new launchpad

[2017-03-23 16:56] irfanhudda commented on #2424
Also, note that I could reproduce this on Sensor Web example [http://aws-sensorweb-static-site.s3-website-us-west-2.amazonaws.com/](http://aws-sensorweb-static-site.s3-website-us-west-2.amazonaws.com/). Other examples were working well so it might be because the file is very large.

[2017-03-23 17:07] samjwalker commented on #2424
Must be to do with the file size. I am reprodicing with `http://aws-sensorweb-static-site.s3-website-us-west-2.amazonaws.com/`.

[2017-03-23 17:43] samjwalker commented on #2424
Ok so it looks like we can't prettify Big files and so the `.editor-mount` has been set to 100% for these big files. by doing that it hasn't taken the search bar into concideration and when that is opened it pushes everything down resulting in everything being pushed off screen.

[2017-03-23 17:48] jasonLaster commented on #2424
hmm - i'm not sure what you mean by big files? We don't prettify some things like files that have been source mapped or are already pretty.

[2017-03-23 18:11] #1964 closed

[2017-03-23 20:37] #2319 closed

[2017-03-23 20:37] greenkeeper[bot] opened #2433 "An in-range update of jest-junit-reporter is breaking the build 🚨"
## Version **1.1.0** of [jest-junit-reporter](https://github.com/michaelleeallen/jest-junit-reporter) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/devtools-html/debugger.html/compare/greenkeeper%2Fjest-junit-reporter-1.1.0">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      jest-junit

[2017-03-23 20:37] #2350 closed

[2017-03-23 20:39] jasonLaster commented on #2309
Hey @wldcordeiro this issue has become kinda vague.

- "go to line" is a fun feature, but probably a separate issue
- I would guess we should remove "class" search for now and perhaps find a home for it later
- icons for types of symbols is a good idea, but I think we should wait for a designer
- wildcards is a good idea. we should file an issue for that.

[2017-03-23 20:40] #2371 closed

[2017-03-23 20:56] jasonLaster opened #2434 "[scopes] Format functions labels"
Currently we use `reps` to format functions in the `ObjectInspector` component. The problem with this is that an entry can be very long and redundant: e.g.

**edit**: *function app.TodoView<edit()*

I think we can do much better than this. I propose that we use a style similar to es6 objects where the object key can be a function. We can replace the same *edit* example with:

**edit()**

and if *e

[2017-03-23 21:01] jasonLaster commented on #2393
Yep - i'm seeing that too.

By the way, there are two cases here.
1. Opening the pane via the context menu and
2. Opening the pane via the cmd+b

[2017-03-23 21:28] darkwing commented on #2390
1.  Can you provide more detail?  Is this via the UI or from console or local dev?

2.  There's something in the Chrome UX that doesn't feel quite right.

-  One difficult problem is that you need to add a breakpoint to a line before you even know you can add "sub breakpoints" on individual statements on that line, so I'd likely have never noticed this feature.

-  I do like that the background co

[2017-03-23 21:43] jasonLaster commented on #2390
Good feedback!

1. I added it by pausing in the `addBreakpoint` function and setting the column value in the console :)

2.  Chrome UX

I agree. That does feel awkward. I've thought that it would be nice to enter a "column" bp mode where you can click on tokens and add a breakpoint. For example, hold down "alt" and click somewhere on `this.render`. It's also possible to enter column breakpoint mod

[2017-03-23 23:23] wldcordeiro commented on #2309
Agreed, I think that would be an issue of its own.

Yeah not really super useful, could just merge into variables as it's a form of declaration.

Probably for the best.

Agreed

[2017-03-24 01:07] #2433 closed

[2017-03-24 01:11] #2381 closed

[2017-03-24 01:11] jasonLaster commented on #2381
This is a duplicate of #2427

[2017-03-24 09:31] shlomif commented on #2427
Hi!

I subscribed myself to this issue because I'm affected by it - in the closed-as-duplicate #2381 bug. Is there an easy workaround for now?

[2017-03-24 10:06] wldcordeiro commented on #2427
@shlomif there's a PR that should be merged soon that fixes the issue.

[2017-03-24 10:17] shlomif commented on #2427
Hi,

On Fri, 24 Mar 2017 03:06:13 -0700
Wellington Cordeiro <notifications@github.com> wrote:

thanks for the update! Can you give me a link to that PR?

Regards,

	Shlomi Fish

--
-----------------------------------------------------------------
Shlomi Fish       http://www.shlomifish.org/
Emma Watson Factoids - http://shlom.in/emwatson-facts

I often wonder why I hang out with so many people who

[2017-03-24 12:44] jasonLaster opened #2439 "[Workers] Architecture Improvements"
There are currently three pieces in the worker architecture:

1. dispatching messages - `workerTask`
2. handling messages - `workerHandler`
3. lifecycle methods - `restartWorker`, `destroyWorker`

There are some tasks that could improve our setup:

- [x] make sure all workers uses `devtools-modules/workerTask`
- [x] move workers to `devtools-modules/workerHandler`
- [x] convert workers from being

[2017-03-24 12:48] greenkeeper[bot] opened #2440 "An in-range update of husky is breaking the build 🚨"
## Version **0.13.3** of [husky](https://github.com/typicode/husky) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/devtools-html/debugger.html/compare/greenkeeper%2Fhusky-0.13.3">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      husky
    </td>
  </tr>
  <tr>
    <th align=left>

[2017-03-24 16:09] greenkeeper[bot] opened #2442 "An in-range update of devtools-source-map is breaking the build 🚨"
## Version **0.2.2** of [devtools-source-map](https://github.com/devtools-html/devtools-core) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/devtools-html/debugger.html/compare/greenkeeper%2Fdevtools-source-map-0.2.2">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      devtools-source-ma

[2017-03-24 16:32] jasonLaster commented on #2427
Fixed in #2431

[2017-03-24 16:32] #2427 closed

[2017-03-24 16:44] jasonLaster opened #2443 "[chrome] show variables"
We've wanted chrome support since the beginning, but have largely struggled on showing scope and variable data.

We're now pretty close. `ChromeScopes` largely works in that it shows scopes and it can fetch object properties. This issue is focused on getting ChromeScopes into a good spot so you can expand variables and see what they look like.

We probably won't try to format variables here like a

[2017-03-24 16:46] #2323 closed

[2017-03-24 16:46] #2126 closed

[2017-03-24 16:54] jasonLaster opened #2444 "[DarkTheme] Improve the select background color"
The blue selected background color is pretty jarring and unnecessary. It could be much softer and have the same effect.

### Old
![Screen Shot 2017-03-08 at 10.53.09 AM.png](https://shipusercontent.com/b71ac606b30835b8b3db4f119cde0833/Screen%20Shot%202017-03-08%20at%2010.53.09%20AM.png)

### New
It would be nice to change the tree and result item

I chose two colors here: `--theme-body-background`

[2017-03-24 16:54] #2304 closed

[2017-03-24 16:54] jasonLaster commented on #2304
closing because #2444 is more focused now

[2017-03-24 16:55] jasonLaster commented on #2280
Hey @binarybaba any updates? anything we can help on?

[2017-03-24 17:00] #2167 closed

[2017-03-24 17:01] jasonLaster commented on #2242
Ping @DanUgelow, any updates?

[2017-03-24 17:02] #1952 closed

[2017-03-24 17:03] #1838 closed

[2017-03-24 18:17] jasonLaster opened #2446 "[FileSearch] Support wildcard characters “@“ “#""
It would be really cool if we could support wildcard characters at the beginning of queries like "@" and "#". The UX is like:

1. type "@"
 = > we select function search mode and highlight the button
2. type "on"
  => we search for functions starting with "on"

#### diff

* doesn't cover firing an action to change the mode when the wildcard changes

[code]

[2017-03-24 18:25] jasonLaster commented on #2309
Filed #2446

We can tackle "go to line" afterwards

[2017-03-24 18:25] #2309 closed

[2017-03-24 19:36] soapdog commented on #2226
Working on it right now from the proposed patch

[2017-03-24 20:09] jasonLaster opened #2447 "[DarkTheme] Highlight line is too bright"
The highlight line feels a bit like :camera: flash. We should soften it in dark mode so that it is not so harsh :)

Here are some notes on [colors](https://github.com/devtools-html/debugger.html/blob/master/docs/local-development.md#colors)

[code]

![](http://g.recordit.co/TLwV44mepb.gif)

[2017-03-24 20:09] #2416 closed

[2017-03-24 20:10] #2370 closed

[2017-03-24 20:10] jasonLaster commented on #2370
I'm going to close this as it looks like we're now looking at #2424 which is separate

[2017-03-24 20:46] jasonLaster opened #2448 "[SoucesTree] Show the host domain first when the debugger opens"
@Dalimil recently helped us show the host domain first in the source list when the debuggee navigates #1374. We should be able to also show the host domain first when the debugger opens by setting the debuggee url when the debugger opens

[2017-03-24 22:59] magsout commented on #2317
Sorry for the delay. I am trying to understand your architecture and how the Editor  and CodeMiror work.

Thanks for sharing your idea @ryanjduffy I'll try to see if I am able to polish it.

[2017-03-25 02:01] jasonLaster opened #2451 "[FunctionSearch] support assignments"
The parser currently fails when trying to determine the function name in this case `child = function() {}`.

This gets at a larger question of how we want to handle assignments:

[code]

I think both of these cases should show up in the list of variables and the list of functions. The case for variables is clear given that `child` and `child2` are both variables. The case for showing `child` and `

[2017-03-25 21:01] abhishekg785 opened #2455 "broken formatting in the CONTRIBUTING.md"
Broken table in the 'About Us'  section of the CONTRIBUTING.md.

[2017-03-26 15:58] #2455 closed

[2017-03-26 17:26] clarkbw opened #2460 "double husky dependency"
I'm seeing this warning when running `yarn install`.

[code]

Looks like it is listed twice, not sure which one we want to keep.

`dependencies`
https://github.com/devtools-html/debugger.html/blob/master/package.json#L64

`devDependencies`
https://github.com/devtools-html/debugger.html/blob/master/package.json#L99

[2017-03-26 20:14] wldcordeiro commented on #2460
I think `devDependencies` would be the one we want since husky is used in development for a pre-push hook

[2017-03-27 05:24] #2451 closed

[2017-03-27 13:32] tommai78101 opened #2465 "Suggesting to collapse JavaScript functions while viewing code in Debugger"
Currently in the Debugger, there are no methods of collapsing JavaScript functions. Viewing the whole source code is somewhat useful, but it would be nice if we can view a subsection of the whole source code by hiding uninteresting codes and only focusing on certain codes.

I looked forward to see this staying persistent as we reload the add-ons while keeping some functions hidden away / collapsed

[2017-03-27 13:37] jacobjzhang commented on #2447
@jasonLaster is that just normal ctrl+F in the Editor? Anything configurations need to be turned on to search for functions/variables?

[2017-03-27 15:51] jasonLaster commented on #2447
It's function and variable search. Check the settings panel in the
launchpad.

You likely need symbolSearch on and functionSearch
On Mon, Mar 27, 2017 at 9:37 AM Jacob J. Zhang <notifications@github.com>
wrote:

[2017-03-27 16:45] clarkbw commented on #2413
Looks fixed now.

[2017-03-27 16:45] #2413 closed

[2017-03-27 21:11] jacobjzhang commented on #2446
@jasonLaster If I'm understanding this correctly, the @ character activates function search?

When I think wildcard, I think a search term like "*ey" will look for terms like "key", "they", etc.

[2017-03-27 21:21] julienw commented on #717
I'm not working on the debugger these days so unassigning :)

[2017-03-27 21:23] jasonLaster opened #2467 "[FunctionSearch] NaN results "
@jacobjzhang has a `NaN` in his recent GIF. I'm not quite sure how he got it.

STR:
1. go to `todo-view.js`
2. select function search
3. search for `close`

?

![](http://g.recordit.co/KEEn6tvCCX.gif)

[2017-03-27 21:24] wldcordeiro commented on #2446
I think having Regex search beats that 😄

[2017-03-27 21:28] wldcordeiro commented on #2465
So if I'm not mistaken you're asking for code collapsing like in Sublime/Atom/etc where you can collapse blocks of code (usually by clicking on an indicator in the gutter.)

Like this?

![collapse-code](https://cloud.githubusercontent.com/assets/580982/24378934/097cb4ae-1302-11e7-8ed3-b4d2b45a25e4.gif)

[2017-03-27 21:30] tommai78101 commented on #2465
Correct. The codes should be collapsable in the Debugger.

[2017-03-27 21:59] jacobjzhang commented on #2467
Looks like after toggling function search off, there is no count or index passed as props.
<img width="1393" alt="screen shot 2017-03-27 at 5 57 36 pm copy" src="https://cloud.githubusercontent.com/assets/6591285/24379915/300d4ba0-1317-11e7-8f37-23627ef9d20a.png">

[2017-03-27 23:56] clarkbw commented on #1884
I'm going to try working on the Dropdown.js file.

[2017-03-27 23:59] clarkbw commented on #1884
Looks like Dropdown.js was already done, picking `menu.js` instead.

[2017-03-28 00:00] wldcordeiro commented on #1884
I'm tackling the actions.  😄

[2017-03-28 00:54] Erica42 opened #2470 "WebDriverError: Missing 'marionetteProtocol' field in handshake"
So this is weird.
[code]

[2017-03-28 00:58] jasonLaster commented on #2470
Thanks @Erica42 - this is the first time we've seen this error, but I believe geckodriver and selenium *are* updating.

What OS are you using. Also, what version of `geckodriver` and `selenium-webdriver` do you have?

Lastly, are you in our https://devtools-html-slack.herokuapp.com slack room?

[2017-03-28 01:02] jasonLaster commented on #2465
Thanks @tommai78101, we can do code folding!

I think persisting the collapse state would be difficult at the moment, because we can't assume the code is the same... but soon, we'd like to to try to do more things around using the AST to persist breakpoint locations and folding would work too. So instead of saying fold line 12, you'd persist the "fold function foo" state.

[2017-03-28 01:15] jeffpape commented on #1884
i would like to take utils/pause.js
thank you.

[2017-03-28 01:20] Erica42 commented on #1884
I'd like to work on event-listeners.js

[2017-03-28 01:27] jasonLaster opened #2471 "[FunctionSearch] Merge class search"
We currently show three types of search buttons: "function", "variable", and "class". Class search is very infrequent, so we're going to remove it from the list and add class declarations to the variables list.

[code]

[2017-03-28 02:04] jasonLaster commented on #2470
I think this might be a firefox version thing: https://github.com/mozilla/geckodriver/issues/85#issuecomment-226571803

Try updating firefox

[2017-03-28 02:06] jasonLaster commented on #2470
Closing this as it looks like it's a firefox version issue.

Feel free to re-open if you still see it

[2017-03-28 04:44] mateusortiz commented on #1921
I want trying helping on this issue 😃

[2017-03-28 04:50] ruturajv commented on #2471
Hey @jasonLaster,  I don't really see "Class" search button. Also

- class `Rutu` is not available in search as variable currently (is that what you meant?)
- even member `someMember` is not available in variable search. Shouldn't it be available?

Am I missing something?

![selection_007](https://cloud.githubusercontent.com/assets/227817/24389501/a0d1fdd0-139f-11e7-8db9-a24a49469087.png)

[2017-03-28 11:14] clarkbw opened #2475 "remove yarn version from setup docs"
Right now we recommend people install yarn version `0.19.1` which isn't the latest version of yarn and so after they run `yarn install` yarn complains that it is outdated.

I don't believe we need to stick to a specific version of yarn like we used to so I think we can start removing this requirement.

[2017-03-28 12:30] tommai78101 opened #2476 "Please add high sensitivity horizontal mouse wheel scrolling to the Debugger tab/view"
At the moment, we can only scroll horizontally by moving the mouse cursor to the bottom horizontal scrollbar and drag it to left or right. Unfortunately, in some cases where the horizontal scrollbar is very wide, or when the JavaScript code is not being code-wrapped due to auto-beautification, a slight mouse movement will cause the whole code to jump off-screen.

Here's one example:

![](http://i.

[2017-03-28 18:35] Erica42 commented on #1884
I'd like to work on expressions.js

[2017-03-28 19:21] wldcordeiro commented on #1884
@Erica42 if it's in `actions/` I've got the whole dir. I'm opening the PR shortly. 😄

[2017-03-28 19:24] Erica42 commented on #1884
@wldcordeiro it's in reducers. :)

[2017-03-29 02:04] #2447 closed

[2017-03-29 02:04] #2393 closed

[2017-03-29 03:46] ryanjduffy commented on #2398
Looking into this one

[2017-03-29 04:46] ryanjduffy commented on #2398
What do you think of bailing on `previewSelectedToken()` if the selected frame isn't for the selected source? That's a relatively easy first step, at least.

[code]

[2017-03-29 05:11] ruturajv opened #2485 "[FunctionSearch] Variables not listed in 'variables' list"
![variables](https://cloud.githubusercontent.com/assets/227817/24439468/fee7775c-146b-11e7-9842-1d3810cca67f.gif)

The following variables should've been listed as `variables`
- fn1
- noDeclaredString
- nonDeclaredVariable
- someMember

@jasonLaster @wldcordeiro  - I've figured out what needs to be done, just need someone's confirmation if this bug holds true

[2017-03-29 05:20] wldcordeiro commented on #2485
I think those are technically syntax errors? They're undeclared so I don't think it makes sense to include them in the lists.

[2017-03-29 06:10] ruturajv commented on #2485
Doesn't JS allow undeclared variables (I know its a bad practice, throws error in `use strict`) ? I know we shouldn't support use of that, isnt' it theoretically a variable 😄

and  `someMember` ?

[2017-03-29 08:32] wldcordeiro commented on #2485
`someMember` is part of an undeclared variable so it's by association there. I'm not sure what the best opinion here is since JS does create those variables on the global scope.

[2017-03-29 14:36] ryanjduffy commented on #2398
Also noticed that `this` inspection isn't working because `selectedFrame` isn't passed to `previewExpression`. @jasonLaster Are you seeing the same?

[2017-03-29 14:49] jasonLaster commented on #2398
Hmm - i think that i fair, but shouldn't we always be looking at the selected source?

[2017-03-29 15:08] msujaws opened #2489 "Allow for pausing on Exceptions"
The old debugger UI (and many other debuggers) have a feature called "Pause on Exceptions". This is useful to find where an exception is getting thrown.

[2017-03-29 15:25] msujaws commented on #2489
Closing this as already-fixed. There is a octagonal pause button that is for pausing on all exceptions. See this screenshot, https://pageshot.net/images/de18e141-16e5-4902-a132-e250369c7775.png

[2017-03-29 15:25] #2489 closed

[2017-03-29 16:59] clarkbw commented on #1535
Here's what I'd recommend as an MVP of this feature.  I think we can go well beyond this recommendation later but here's the starting point.

The main interaction point is a context menu in the Sources Tree.  This menu item allows to turn on and off the black boxing of a single script.  Sources which are currently black boxed should probably have some indicator such as the eye icon instead of the

[2017-03-29 18:43] jasonLaster commented on #2004
@AnshulMalik is working on this

[2017-03-29 18:56] nt1m commented on #1535
It would be nice to have some kind of indicator in the file tree.

[2017-03-29 19:02] jasonLaster commented on #2004
one option

[code]

[2017-03-29 19:03] jasonLaster commented on #2004
another option would use child context for splitter, which would be similar to how App uses context [here](https://github.com/devtools-html/debugger.html/blob/master/src/components/App.js#L46-L49). Except, children of splitter who care would listen to a panelSize context item...

[2017-03-29 19:03] nt1m commented on #1535
Also, next to "Black Boxed", I would add "Un-black box ?" as a blue link

[2017-03-29 19:07] clarkbw commented on #1535
We could simply strike through the text in the source tree.

[2017-03-29 21:24] bomsy commented on #2467
looks like this is fixed!

[2017-03-29 21:24] #2467 closed

[2017-03-29 21:33] wldcordeiro commented on #1535
In more modern development systems we have source-mapped files, what if we had the preference auto-blackbox `node_modules` in the source mapped files? Might be out of scope for MVP, just thought of it when I read the line.

[2017-03-30 01:23] clarkbw commented on #1535
Great idea!  Similarly @jasonLaster mentioned that it would be great to be able to "blackbox a directory" such that you could right click on `node_modules` and blackbox everything within it.  But I like the idea that we might auto-blackbox this directory by default, I think most people would like that.

[2017-03-30 01:25] bomsy opened #2496 "[WatchExpressions] with Pause on exceptions on, causes to pause"
STR:
* Open the debugger
* Make sure the pause on all exceptions is on
* Add an expression that won't exist in the current scope e.g `i`

Actual:
* It automatically puts the expression into a editor page and pauses on that line
* Does not add the expression

Expected:
* Should not pause on exception
* Should add expression to the watch list

![image](https://cloud.githubusercontent.com/assets/7929

[2017-03-30 01:34] clarkbw commented on #2485
I was thinking that our main concern might be that developers want to search for these variables despite them being syntactically incorrect.  This could actually be a good path for people searching for errors.

[2017-03-30 10:44] ruturajv commented on #2485
Based on @clarkbw comment, I wonder if we could do something like below - highlight incorrectly created variables.

![selection_007](https://cloud.githubusercontent.com/assets/227817/24500630/c5fdc600-1563-11e7-82bf-1e63f11b2c8b.png)

[2017-03-30 14:20] tommai78101 opened #2498 "Error occurred while processing 'resume: TypeError: can't access dead object"
**Full stack trace message:**

[code]

**Caused by:**

`event.target.classlist.contains()`

**Steps to reproduce:**

1. Open the following attachment and place it somewhere where you're able to load the extension into the browser.
2. Debug the extension. The DevTool window should pop-up.
3. Do the following:

![](http://i.imgur.com/Eac24SI.gif)

**Remarks:**

I suspected the code `event.target.cla

[2017-03-30 14:22] jasonLaster commented on #2498
@tommai78101 would you mind refiling this issue in bugzilla as it relates to either the old UI or the server

[2017-03-30 14:22] #2498 closed

[2017-03-30 14:29] tommai78101 commented on #2498
Nevermind, I think I found where to file it. It's in the "Firefox", because the description said so.

[2017-03-30 14:44] jacobjzhang commented on #2434
Interesting, taking a look.

[2017-03-30 14:55] jasonLaster commented on #2402
@jcreighton is on it

[2017-03-30 15:07] jasonLaster commented on #2485
Thanks @ruturajv , this is an interesting problem.

I think we're limited by what babel offers. If it's in the AST we can do it...

If not, we can always offer a link at the bottom of search results to search the text: "10 matches in file"...

[2017-03-30 15:09] jryans opened #2499 "Finish up migration to CircleCI 2.0"
@clarkbw got started down the path of migrating to CircleCI 2.0 (#2063), and we should try to finish that out.

This would really simplify the way we make use of Docker for mochitests.

In #2495, I was trying to pull a Docker image by hash, but that's not supported by the old Docker version in CircleCI 1.0, so just another reason to push forward with this migration effort.

[2017-03-30 15:10] jasonLaster commented on #2476
Thanks for filing @tommai78101.

We're somewhat limited by what codemirror offers us here. They're generally pretty good, but I know that there are cases where it is dissappointing.

I think the user has three options:

1. scroll with the trackpad
2. prettify
3. copy to their favorite editor and search their...

This is ultimately a pretty difficult UX problem that we're not equipped to handle wel

[2017-03-30 15:10] #2476 closed

[2017-03-30 16:39] jgonis opened #2500 "Sourcemaps do not work for Typescript"
Pretty much what the title says.  I have made this project public in order to offer a test case, https://gitlab.com/jgonis/nature-of-code, but when I compile my typescript files and go to, say, the Random Walker page and bring up the debugger it displays the generated Javascript file, not the typescript files that were compiled to create it.  I tested Edge and Chrome to make sure that they work co

[2017-03-30 17:29] julienw commented on #2498
@tommai78101 can you paste the bug link please ? :)

[2017-03-30 17:56] tommai78101 commented on #2498
@julienw Sorry, just had lunch.

https://bugzilla.mozilla.org/show_bug.cgi?id=1352089

[2017-03-30 18:55] tommai78101 commented on #2476
Okay, thanks for the update. Perhaps if it's okay to add a label stating it is "deferred"?

[2017-03-30 23:11] wldcordeiro commented on #2500
Huh weird, this project works for me and uses Typescript as well.

http://aws-sensorweb-static-site.s3-website-us-west-2.amazonaws.com/

[2017-03-31 01:27] arthur801031 commented on #2394
Just talked to @jasonLaster . I'll take a stab at this 🙂

[2017-03-31 04:57] ruturajv commented on #2485
[code]
for the above, the first line comes as `ExpressionStatement` and the next two lines are `VariableDeclaration` in AST

[2017-03-31 07:32] julienw commented on #2498
No pressure :) thanks !

[2017-03-31 08:20] bomsy commented on #2394
Nice!

[2017-03-31 13:17] jasonLaster commented on #2015
Here's an approach I think would work

[code]

[2017-03-31 14:31] captainbrosset commented on #1743
I have uploaded a patch in [bug 1338582](https://bugzilla.mozilla.org/show_bug.cgi?id=1338582) that creates a simple `PausedDebuggerOverlay`.
I've added [instructions](https://bugzilla.mozilla.org/show_bug.cgi?id=1338582#c4) on how to use this from the debugger too.

The overlay only displays a message for now.

We need to figure out how to make the step/resume buttons work. Either clicking on the

[2017-03-31 16:11] clarkbw commented on #1535
Here's what I'd call out for priorities / goals.

1. Context menu for adding / removing
2. Indicator in Source Tree and Editor of `isBlackboxed` (Editor could be hidden like the old debugger)
3. (Stretch Goal) Better Editor integration by showing the editor but preventing users from creating breakpoints

[2017-03-31 16:12] clarkbw commented on #1535
And we should open up a separate issue for discussing what we'd really like to see in the full version of Blackboxing.

[2017-03-31 20:28] jryans commented on #1220
Okay, all major tasks completed here. The source map service has moved up to the toolbox and the debugger uses when running as a Firefox panel.

Lots of room for performance improvements, expansion to other tools, etc. but we'll leave that for future issues.

[2017-03-31 20:28] #1220 closed

[2017-03-31 21:20] fitzgen opened #2513 "Stepping buttons' background is transparent"
Stepping buttons' background is transparent, makes it hard to see them.

<img width="622" alt="screen shot 2017-03-31 at 2 18 58 pm" src="https://cloud.githubusercontent.com/assets/74571/24569851/13fd0276-161d-11e7-95bf-3cd0cff35a57.png">

[2017-03-31 21:33] greenkeeper[bot] opened #2514 "An in-range update of eslint is breaking the build 🚨"
## Version **3.19.0** of [eslint](https://github.com/eslint/eslint) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/devtools-html/debugger.html/compare/greenkeeper%2Feslint-3.19.0">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      eslint
    </td>
  </tr>
  <tr>
    <th align=left>

[2017-03-31 21:57] jasonLaster commented on #2513
Hmm, this should be fixed on nightly

![](http://g.recordit.co/rFeEWExk34.gif)

[2017-03-31 22:47] jasonLaster commented on #2485
hmm - do we show `ExpressionStatement` in the variables list? I'd be okay doing that if we're in an assignment expression

[2017-03-31 22:47] #2514 closed

[2017-03-31 22:47] #2513 closed

[2017-03-31 22:48] jasonLaster opened #7615 "[SourceMap] Typescript source map issue"
@jgonis initially filed: https://github.com/devtools-html/debugger.html/issues/2500

Pretty much what the title says.  I have made this project public in order to offer a test case, https://gitlab.com/jgonis/nature-of-code, but when I compile my typescript files and go to, say, the Random Walker page and bring up the debugger it displays the generated Javascript file, not the typescript files that

[2017-03-31 22:49] jasonLaster commented on #2500
Thanks @jgonis. I'm moving this bug so that it can be tracked closer to the source map package.

[2017-03-31 22:49] #2500 closed

[2017-03-31 22:51] jasonLaster commented on #2317
How's it going @magsout? Happy to help in slack

[2017-03-31 22:53] #2242 closed

[2017-03-31 22:53] #2293 closed

[2017-03-31 23:12] fitzgen commented on #2513
Any chance it could be uplifted to dev edition?

[2017-04-01 16:30] greenkeeper[bot] opened #2518 "An in-range update of stylelint is breaking the build 🚨"
## Version **7.10.0** of [stylelint](https://github.com/stylelint/stylelint) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/devtools-html/debugger.html/compare/greenkeeper%2Fstylelint-7.10.0">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      stylelint
    </td>
  </tr>
  <tr>
    <th a

[2017-04-01 19:27] peterschussheim commented on #1890
Starting to work on  Breakpoint, Footer, HitMarker.

[2017-04-01 19:27] jasonLaster commented on #1890
Great!
On Sat, Apr 1, 2017 at 3:27 PM Peter Schussheim <notifications@github.com>
wrote:

[2017-04-03 03:45] AlanCezarAraujo commented on #2267
Hi @jasonLaster! I took @wldcordeiro suggestion to fix it.
Sorry for my late work.

[2017-04-03 13:48] jasonLaster opened #2526 "[FunctionSearch] clear query after selecting an item"
Currently we don't clear the query when you select a function from the function list.

### Patch

[code]

### GIF

![](http://g.recordit.co/Z2vjtqmAi7.gif)

[2017-04-03 13:58] jasonLaster opened #2527 "[FunctionSearch] holding arrow down or arrow up (firefox)"
In Firefox, pressing arrow down and arrow up in the function result list iterates through the list nicely.

Holding either the arrow up or down key down for long creates an undesirable affect where the list becomes increasingly janky.

It would be nice to explore workarounds to help with this issue a bit.

[code]

### GIF
![](http://g.recordit.co/YZKWZnsgtY.gif)

[2017-04-03 14:04] jasonLaster opened #2528 "[FunctionSearch] What’s the best behavior on blur?"
Currently the search bar behaves more like a permanent UI component like source tree than a modal.

There are a couple behaviors that I'd like to discuss:

1. do we want to close the search bar when you click somewhere else?
2. if we don't close it, do we still want the arrow keys (up/down) to iterate through the list

### GIF
![](http://g.recordit.co/eCJFFdQAsZ.gif)

[2017-04-03 14:07] jasonLaster opened #2529 "[FunctionSearch] show index in the summary"
We currently show a summary like "50 results" when you're searching for a function or variable, but we don't include the index like "2 of 50 results". It would be nice to do this so that as you iterate through large lists you have some additional context.

### Patch
[code]

### GIF
![](http://g.recordit.co/YZKWZnsgtY.gif)

[2017-04-03 15:47] julienw opened #2532 "[console] Clicking a filename in the console doesn't jump to the right line"
See bugzilla bug: https://bugzilla.mozilla.org/show_bug.cgi?id=1353049

[2017-04-03 15:52] irfanhudda commented on #2532
@julienw I was about to create PR for this :slightly_smiling_face:

[2017-04-03 15:58] julienw commented on #2532
Looks like that it works if the devtools is docked at the bottom of the window, but not at the right.

[2017-04-03 15:58] julienw commented on #2532
@irfanhudda Not the same bug :) I'm talking about clicking from the Web Console here :)

[2017-04-03 16:00] irfanhudda commented on #2532
@julienw Oh. Thanks for clarifying.

[2017-04-03 18:04] deneuv34 commented on #1890
may I join to work on AutoComplete?

[2017-04-03 18:55] LeslieMurphy opened #2534 "Missing 'marionetteProtocol' field / Unsupported Marionette protocol"
I got this error when I tried to launch FF
WebDriverError: Missing 'marionetteProtocol' field in handshake

I was at FF 39.  I upgraded to 43.0.1 - debugger still not working.

Tried again at 43.0.1
[error.txt](https://github.com/devtools-html/debugger.html/files/891056/error.txt)
and got:

WebDriverError: Unsupported Marionette protocol version 2, required 3

Please improve error handling - e.g.

[2017-04-03 20:06] jasonLaster commented on #1890
Sure!
On Mon, Apr 3, 2017 at 2:04 PM Rangga Adhitya <notifications@github.com>
wrote:

[2017-04-04 00:57] #2219 closed

[2017-04-04 00:58] #2398 closed

[2017-04-04 01:00] jasonLaster opened #2536 "[EditorPreview] support outer scope expressions"
#2530 added support for only showing a variable in scope. The issue is that it is too agressive and narrows the scope to the nearest block and not the surrounding block.

In this case, if you pause at the debugger statement and mouse over the `parent` and `child` declaration you'll see that the parser considers them out of scope.

[code]

We can TDD this fix in `utils/tests/parser`

[2017-04-04 01:44] jasonLaster commented on #2534
Thanks @LeslieMurphy, We have talked about finding a way to set a minumum version of Firefox. In our case, I believe that is 48. Would you mind re-trying with 48+?

I'm closing this early, but would be happy to re-open if you still see this issue.

[2017-04-04 02:48] LeslieMurphy commented on #2534
Thanks.  That fixed up the first issue.  Now FF launches OK.  But I don't
see anything "interesting" in the web page after FF launches.  Maybe I am
doing something wrong?

I think I installed using NPM.  I am noticing install instructions for Yarn
now; did not see them earlier today.  Maybe I messed up my install?

[image: Inline image 1]

[image: Inline image 2]

On Mon, Apr 3, 2017 at 7:44 PM, J

[2017-04-04 03:23] jasonLaster commented on #2534
Hmm. Did you click the launch Firefox button and refresh?

The refresh part is a frustrating temporary bug :/

[2017-04-04 09:09] ruturajv commented on #2528
I'd prefer clicking outside should close the search bar, even the escape key event should do that (sticks to typical flow and keybindings)

[2017-04-04 11:12] ruturajv commented on #2529
Wonder if this is good enough ? anything specific for `1 of 1 results`

[code]

[2017-04-04 11:45] ruturajv commented on #2527
I wonder, if we should use some [debounce function](https://davidwalsh.name/javascript-debounce-function) and completely ignore taking the user to exact line on the editor. For such an idle "hold down/up arrow" the user is probably just interested in the list and not see the position in the file.

[2017-04-04 14:10] greenkeeper[bot] opened #2539 "An in-range update of mock-require is breaking the build 🚨"
## Version **2.0.2** of [mock-require](https://github.com/boblauer/mock-require) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/devtools-html/debugger.html/compare/greenkeeper%2Fmock-require-2.0.2">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      mock-require
    </td>
  </tr>
  <tr>

[2017-04-04 14:54] #2267 closed

[2017-04-04 17:08] LeslieMurphy commented on #2534
I am probably doing something wrong.   Clicking the button launches a FF
instance - but nothing show up in the debugger window.  I do see this in
the console log, is it a clue?  I can confirm that TCP port 6080 is not
open

even if I hand launch FF the 6080 port does not open.  Is it maybe because
I have a 32 bit version of FF?  I can uninstall and reinstall the 64 if
that is needed.  I do have th

[2017-04-04 20:39] kyleholzinger opened #2543 "Cannot read property 'Debugger' of undefined"
Whenever I start up the server and open one of the browsers, as soon as I try to navigate to one of the tabs in the debugger I get `Cannot read property 'Debugger' of undefined`. Any idea how to fix this? Totally possible I didn't start it up correctly or something

[2017-04-04 20:41] kyleholzinger commented on #2543
Looking at the server logs, I also see this:
<img width="1341" alt="screen shot 2017-04-04 at 4 41 19 pm" src="https://cloud.githubusercontent.com/assets/2652762/24677678/976b7710-1955-11e7-83ed-98b1afd127b6.png">

[2017-04-05 02:23] jasonLaster opened #2545 "[Sources] use file type icons"
We can use the icon font that atom uses for its source tree

- [x] React Components - #2690 [badge](https://vorillaz.github.io/devicons/#/singleicon/react) [1]
- [x] JavaScript - [badge](https://vorillaz.github.io/devicons/#/singleicon/javascript_badge)
- [x] Webpack - source map domains. We'll need to get an SVG
- [ ] Style the tree now that we have some icons
- [x] style the webpack icon #2859

[2017-04-05 09:41] irfanhudda commented on #2545
Do we want to display different icons for `.jsx` files or coffeescript files in source tree of debugger instead of generic file icons?

[2017-04-05 15:28] jasonLaster opened #2547 "[Scopes] add properties while stepping"
@bomsy While testing this yesterday, noticed that if a property does not exist it does not get added.

![](https://cloud.githubusercontent.com/assets/792924/24701198/74da3064-19f1-11e7-8008-ba876968d437.gif)

[2017-04-05 17:13] #2394 closed

[2017-04-05 19:31] greenkeeper[bot] opened #2549 "An in-range update of eslint-config-prettier is breaking the build 🚨"
## Version **1.6.0** of [eslint-config-prettier](https://github.com/prettier/eslint-config-prettier) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/devtools-html/debugger.html/compare/greenkeeper%2Feslint-config-prettier-1.6.0">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      eslint-c

[2017-04-05 22:53] wldcordeiro commented on #2527
@ruturajv Yeah if anything we should only jump up/down the editor when the key is released.

[2017-04-05 22:56] wldcordeiro commented on #2528
I don't know about clicking out closing the bar, but I do like the idea of escape closing it.

[2017-04-06 03:12] #2471 closed

[2017-04-06 03:13] #2460 closed

[2017-04-06 03:15] wldcordeiro commented on #2543
@kyleholzinger Regarding the screenshot I believe you need to listen for remote connections, open the Devtools CLI (<kbd>shift</kbd>+<kbd>F2</kbd>) and type `listen 6080`

[2017-04-06 03:22] kyleholzinger commented on #2543
Hahaha dammit you're rignt. Thanks @wldcordeiro . Maybe that should be in the docs? I didn't see a mention of it in the install guide

[2017-04-06 03:22] #2543 closed

[2017-04-06 03:32] wldcordeiro commented on #2543
@kyleholzinger it looks like it is in our docs just not a super visible location. 🤔 https://github.com/devtools-html/debugger.html/blob/master/docs/remotely-debuggable-browsers.md#firefox

[2017-04-06 03:48] jacobjzhang commented on #2434
Hey, started my new role last week so haven't found time to work on this. Should be able to get a PR in this weekend.

[2017-04-06 04:28] ruturajv commented on #2527
ya, scrollTo on `onKeyUp` might be just simpler and cleaner.

[2017-04-06 06:41] wldcordeiro commented on #2527
A bit of testing around and I got this patch. It seems to do what we want but may have some edge-cases I didn't adjust for.

[code]

[2017-04-06 06:43] #2440 closed

[2017-04-06 09:17] ruturajv commented on #2527
The jank is just not due to scrolling the editor in View. I disabled that (as @wldcordeiro  had suggested). Commented out `this.onSelectResultItem(searchResults[selectedResultIndex]);`

Yet it was present when just simply holding "downArrow" and navigating through the list. Probably there is more to this jank !  :(

[2017-04-06 13:54] jasonLaster commented on #2528
Hmm, I got some design help earlier in the week and I think it would be nice to move the function and symbol search to a modal (command palette) similar to Atom and VS Code.

https://code.visualstudio.com/docs/editor/editingevolved#_go-to-symbol

There are a couple of reasons for this:

1. The modal is task oriented, find and select an item
2. it doesn't push the editor down
3. it's a convention w

[2017-04-06 13:54] #2528 closed

[2017-04-06 14:29] jasonLaster commented on #2527
Hmm, my guess is that it has something to do with this line:

this does not fix it though
[code]

[2017-04-06 14:36] Archaeopteryx opened #2553 "'Reveal in tree' should also work for tabs with pretty printed source"
Firefox 55.0a1 20170406030206 on Windows 8.1, also with latest 54.0a2

'Reveal in tree' doesn't work for tabs with pretty printed source.

Steps to reproduce:
1. Open http://gridbyexample.com/examples/example5/
2. Open the debugger.
3. Open the file platform.twitter.com/js/... (there is only one file).
4. Pretty print the source (either from the tab's context menu or the button at the bottom).
5.

[2017-04-06 14:58] Archaeopteryx opened #2554 "Keyboard shortcut 'o' used twice: For file search and for function search"
Firefox 55.0a1 20170406030206 on Windows 8.1, also with latest 54.0a2

The Keyboard shortcut 'o' is used twice: For file search and for function search.

functionSearch.search.key=O
sources.searchAlt.key=O

Pressing Ctrl + O always toggles the file search here.

[2017-04-06 15:06] clarkbw commented on #2554
Function search on Windows should be `ctrl+shift+O`  does that work?

[2017-04-06 15:07] Archaeopteryx opened #2555 "[FunctionSearch] 'Search for:' in search filter bar not localizable/hardcoded/always in English"
Firefox 55.0a1 20170406030206 on Windows 8.1, also with latest 54.0a2

The 'Search for:' label in the search filter bar is hardcoded and can't be localized:

`return dom.section({ className: "search-type-toggles" }, dom.h1({ className: "search-toggle-title" }, "Search for:"), dom.button({`

[2017-04-06 15:07] clarkbw commented on #2554
I think function search is using the `symbolSearch.search.key` I'm not sure where `functionSearch.search.key` is used.

[2017-04-06 15:20] Archaeopteryx commented on #2554
`ctrl+shift+o` works in 55.0a1 where it overrides the same shortcut for opening the toolbox options (the latter ones get opened in 54.0a2). Please add the key modifiers to the localization comments in the future.

[2017-04-06 15:57] greenkeeper[bot] opened #2558 "An in-range update of flow-bin is breaking the build 🚨"
## Version **0.43.1** of [flow-bin](https://github.com/flowtype/flow-bin) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/devtools-html/debugger.html/compare/greenkeeper%2Fflow-bin-0.43.1">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      flow-bin
    </td>
  </tr>
  <tr>
    <th align=

[2017-04-06 15:59] bomsy commented on #2265
@jbhoosreddy are you still getting to this?

[2017-04-06 16:07] jasonLaster commented on #2265
@jbhoosreddy taking your head off it because it's been some time

[2017-04-06 16:37] nt1m opened #2559 "Use shared components from m-c"
Some components to use:
- Tabbar and Tab component (devtools/client/shared/components/tabs) instead of Tabs.js
- Tree (devtools/client/shared/components/tree) instead of SourceTree.js
- HTMLTooltip (devtools/client/shared/widgets/tooltip/HTMLTooltip) instead of Popover.js
- Menu (devtools/client/framework/menu) instead of menu.js

This way, we can have more consistency across all devtools. debugge

[2017-04-06 16:43] nt1m commented on #2559
So, debugger-html does use the menu component in some places, but https://github.com/devtools-html/debugger.html/blob/master/src/components/shared/Dropdown.js still doesn't use the menu component.

[2017-04-06 17:23] #2558 closed

[2017-04-06 17:35] jasonLaster commented on #2559
Thanks for filing @nt1m.

This conversation would probably be better in IRC or [slack](https://devtools-html-slack.herokuapp.com) where we can discuss individual components:

* Menu - is shared in [modules](https://github.com/devtools-html/devtools-core/blob/master/packages/devtools-modules/client/framework/menu.js#L1). I think dropdown is a different enough UI that we would not want to use the co

[2017-04-06 17:35] #2559 closed

[2017-04-06 18:55] peterschussheim commented on #1890
Starting work on SearchBar

[2017-04-06 19:41] jasonLaster opened #2562 "[OutlineView] style the list of functions"
* style the list of functions.
  * It might be nice to show function parens too. This bug is for that separately #2735
* jump to the source location with [`selectSource`](https://github.com/devtools-html/debugger.html/blob/master/src/actions/sources.js#L156-L158).

This is a rough sketch of how to use previewFunction
[code]

<img src='https://shipusercontent.com/beabce573cddd7574cc4555b1b13ce26/Sc

[2017-04-06 19:42] gabrielluong commented on #2562
Gonna continue working on the outline view

[2017-04-06 19:43] jasonLaster opened #2563 "[OutlineView] Navigation"
We currently show both views. We should be able to navigate between the sources view and outline view.

This issue is about adding a button that toggles the two views. We'll want to likely switch the UI in a later PR.

Here's a diff for getting started:

[code]

![navigation](https://cloud.githubusercontent.com/assets/254562/24813333/9b1d9936-1b9b-11e7-9d69-78599eb6a60c.jpg)

[2017-04-06 19:47] jasonLaster opened #2565 "[PreviewPopup] Position it intelligently"
The preview is always below the variable… even when showing it below will mean it’ll get clipped off by the bottom of the window. It’d be great to measure it’s position and sometimes place it on top of the var if that’ll mean it doesn’t get clipped

![](https://cloud.githubusercontent.com/assets/254562/24757054/04a68b6a-1aac-11e7-99e9-713394f0be67.png)

[code]

[2017-04-06 19:57] gabrielluong commented on #2563
Also, taking this one

[2017-04-06 20:04] jasonLaster opened #2567 "[PreviewPopups] Show a small function preview"
We currently have a one size fits all preview popup. It would be nice to simplify how we show functions:

### New UI

<img width="655" alt="screen shot 2017-04-06 at 4 03 24 pm" src="https://cloud.githubusercontent.com/assets/254562/24773312/966f2648-1ae2-11e7-847b-0d346e8ea4f2.png">

Notes:

* background: `var(--theme-toolbar-background)`
* formatting: should use `previewFunction`
* click: it sho

[2017-04-06 20:13] jasonLaster commented on #2554
Thanks

[2017-04-06 20:14] #2549 closed

[2017-04-06 20:57] jasonLaster commented on #2015
@princiya is working on this

[2017-04-06 20:57] #2004 closed

[2017-04-06 20:58] jasonLaster commented on #2280
@binarybaba, i'm making this available as it's been a month. Feel free to re-claim it.

[2017-04-06 21:54] jasonLaster opened #2569 "[SourcesTree] Fix context menu"
It looks like the sources tree context menu has been broken for the past month.
I believe the problem is that source directories no longer have a trailing slash, so `isDirectory` gets confused...

It would be nice to fix the bug and understand when it originated

[code]

[2017-04-06 23:29] jasonLaster commented on #2545
@wldcordeiro is on it

[2017-04-07 00:42] #2265 closed

[2017-04-07 01:06] jasonLaster opened #2570 "Framework Annotations"
@jbhoosreddy and I hacked on annotating the call stack last week and had some pretty cool proof of concepts.

The worked boiled down to three UI improvements:

* collapse contiguous library frames
* show the framework name and logo in the location field
* re-name the function name to something better: i.e. instead of `extend/child` call it `Create Class`

We would probably want to provide a contex

[2017-04-07 01:15] #2539 closed

[2017-04-07 01:15] #2475 closed

[2017-04-07 01:16] jasonLaster commented on #2465
Closing this as we started work on code folding and will have some smaller issues to track the work

[2017-04-07 01:16] #2465 closed

[2017-04-07 02:03] ryanjduffy commented on #2536
Added a test ... and it passed ... 🤔 ... so I created a sample file and loaded it into the debugger. Looks like it's working correctly to me but let me know if i'm misunderstanding.

![image](https://cloud.githubusercontent.com/assets/788456/24782518/633071e0-1b0c-11e7-82c7-b554da73a666.png)

[2017-04-07 04:08] ryanjduffy commented on #1890
^^^ PR for Editor

[2017-04-07 04:40] #2442 closed

[2017-04-07 05:33] AnshulMalik commented on #2567
I'd like to work on this :)

[2017-04-07 14:43] #2567 closed

[2017-04-07 15:00] ryanjduffy opened #2575 "[SecondaryPanes] Close button on watch expression is misaligned"
Background box on hover on the close button is misaligned.

<img width="301" alt="image" src="https://cloud.githubusercontent.com/assets/788456/24805970/f23bfc3a-1b78-11e7-88e6-fbb2f69660b7.png">

[2017-04-07 15:07] ryanjduffy commented on #1890
^^^ PR for remaining shared components

[2017-04-07 15:32] jasonLaster opened #2578 "[EditorPreview] Watch Expressions + Input"
We've gotten feedback that it would be great if you could save expressions quickly to "Watch Expressions". This feature adds a bottom bar to previews that let you quickly refine and save an expression.

The input initially shows the preview expression, but you can edit it to be anything.

### **Notes:**

* we can use the input styling from [conditional breakpoints]( https://github.com/devtools-htm

[2017-04-07 17:34] greenkeeper[bot] opened #2580 "An in-range update of babel-types is breaking the build 🚨"
## Version **6.24.1** of [babel-types](https://www.npmjs.com/package/babel-types) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/devtools-html/debugger.html/compare/greenkeeper%2Fbabel-types-6.24.1">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      babel-types
    </td>
  </tr>
  <tr>

[2017-04-07 18:10] jasonLaster commented on #2563
[code]

[code]

[2017-04-07 19:57] jasonLaster commented on #1982
This is now fixed thanks to @arthur801031's work persisting breakpoints!

![](http://g.recordit.co/ovUxD7WXG9.gif)

[2017-04-07 19:57] #1982 closed

[2017-04-07 20:14] captainbrosset commented on #1743
![paused-screen](https://cloud.githubusercontent.com/assets/1152698/24818074/5643f80c-1bdf-11e7-86ad-d74bb8f2d8ca.gif)

Making progress on this ...
My current approach is to do it all on the server-side, so I might not make any change to the debugger.html code for this. At least for now.

I will need someone who knows the ThreadActor code to tell me if that's ok though, but I still need some more

[2017-04-07 20:22] greenkeeper[bot] opened #2584 "An in-range update of babel-plugin-transform-es2015-modules-commonjs is breaking the build 🚨"
## Version **6.24.1** of [babel-plugin-transform-es2015-modules-commonjs](https://www.npmjs.com/package/babel-plugin-transform-es2015-modules-commonjs) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/devtools-html/debugger.html/compare/greenkeeper%2Fbabel-plugin-transform-es2015-modules-commonjs-6.24.1">Build failing 🚨</a>
    </td>
  </tr>

[2017-04-07 21:07] greenkeeper[bot] opened #2585 "An in-range update of babel-traverse is breaking the build 🚨"
## Version **6.24.1** of [babel-traverse](https://www.npmjs.com/package/babel-traverse) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/devtools-html/debugger.html/compare/greenkeeper%2Fbabel-traverse-6.24.1">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      babel-traverse
    </td>
  <

[2017-04-07 21:35] #2518 closed

[2017-04-07 21:35] jasonLaster commented on #1535
We did that in #2523

[2017-04-07 21:35] #1535 closed

[2017-04-07 21:36] jasonLaster opened #2586 "Release Debugger.html"
This is the issue to track all of the tickets that we want to complete before releasing Firefox 56 (April ???)

[2017-04-07 21:37] #2585 closed

[2017-04-07 21:37] #2584 closed

[2017-04-07 21:37] #2580 closed

[2017-04-07 21:39] jasonLaster commented on #2586
#### Features
- [ ] [FunctionSearch] 'Search for:' in search filter bar not localizable/hardcoded/always in English #2555
- [ ] [EditorPreview] support outer scope expressions #2536
- [ ] [PreviewPopup] Position it intelligently #2565
- [ ] [Scopes] group window default properties #2280

#### Nice to Haves

- [ ] Framework Annotations #2570
- [ ] [Sources] use file type icons #2545
- [ ] [scopes]

[2017-04-07 21:43] #2439 closed

[2017-04-07 21:43] jasonLaster commented on #2378
@ryanduffy is going to look at this

[2017-04-07 21:44] jasonLaster commented on #2392
Lets close this as the source icons is more helpful

[2017-04-07 21:44] #2392 closed

[2017-04-07 21:44] #1930 closed

[2017-04-07 21:44] jasonLaster commented on #1930
closing this as we've done all of the big work here

[2017-04-07 21:45] jasonLaster commented on #1935
closing this as we've added Flow to almost all the files. We can prioritize more coverage when we have codecov and other work done

[2017-04-07 21:45] #1935 closed

[2017-04-07 22:11] jasonLaster opened #2587 "[FunctionSearch] Switch to a  modal"
Many of our peers (vscode, atom, chrome) use a modal for searching. The modal is useful for function, variable (symbol), and command search (command palette), it is also used for searching for files.

I think we should adopt this convention as well.

Steps:

1. create a modal (Command Palette) that is fixed to the top of the debugger
2. Use our autocomplete and results list UI in the modal
3. have

[2017-04-07 22:20] jasonLaster opened #2588 "CodeFolding"
We added basic code folding in #2468, but it is missing some functionality before it can land:

- [ ] hide fold markers unless hovering on the gutter
- [ ] style the fold markers like Atom
  - [x] update the marker styles
  - [ ] style closed markers like Atom
- [ ] highlight the folded markers specially
- [ ] paused lines get clipped by the fold gutter
- [ ] clicking in the fold gutter should add

[2017-04-07 23:53] arthur801031 commented on #2553
I'll take a stab at this :)

[2017-04-07 23:54] jasonLaster opened #2589 "[SearchBar] Polish search buttons"
@wldcordeiro and @nadavoran in #2463 helped land search navigation buttons behind a flag recently.

It'd be nice to be able to polish them and turn them.

Here are some todo items:

- [ ] use the cursor pointer
- [ ] add a hover tooltip
- [ ] add a hover background similar to the command buttons like step in

### GIF search:
text search:
![](http://g.recordit.co/TxpEP2eZ8o.gif)

function  search:

[2017-04-08 00:01] jasonLaster opened #2590 "[Editor] Highlight functions"
One nice thing that VS Code does when you're searching for a function is highlight the function and signature and body. They do it with an off putting yellow, but i think the principle is good.

Lets try and add a similar function to our editor with codemirror.

### Notes

* **getting function locations** We've already done the hard work by parsing the file and getting functions with `getSymbols`.

[2017-04-08 00:59] jasonLaster opened #2591 "[blackbox] is still pausing on blackboxed sources"
STR:

* open todomvc
* blackbox jquery
* click pause on next execution

AR: you're paused in jquery

ER: you're paused somewhere else...

[2017-04-08 01:01] jasonLaster opened #2592 "[SearchBar] hide modifiers when function or variable search is on"
We initially decided to disable the modifier buttons in the search bar when function or variable search was on. I've seen several people get tripped up here, so it would probably be easier to just hide them.

[code]

[2017-04-08 01:03] jasonLaster commented on #2592
@Erica42 is on this

[2017-04-08 14:26] #1890 closed

[2017-04-08 14:26] jasonLaster commented on #1890
Thanks @AnshulMalik @ryanjduffy @wldcordeiro and everyone else!

[2017-04-08 18:00] jcreighton commented on #2402
Would the issue here be `func.call('this', 'ccc', 'ddd');` which sends in `'this'` instead of the this object? Or am I missing something?

[2017-04-08 18:01] jasonLaster commented on #2402
Yea. That could be it! I didn't see that
On Sat, Apr 8, 2017 at 2:00 PM Jenn <notifications@github.com> wrote:

[2017-04-08 18:55] AnshulMalik opened #2601 "Popover shadow in dark theme doesn't match the theme"
![dark](https://cloud.githubusercontent.com/assets/7821757/24831622/fd41c982-1cba-11e7-80f6-bfcd4e39ad61.png)

[2017-04-08 20:31] jcreighton commented on #2402
@jasonLaster Once I send in the `this` object instead, it shows the correct object in the preview.
<img width="376" alt="screen shot 2017-04-08 at 4 30 09 pm" src="https://cloud.githubusercontent.com/assets/5232812/24832221/bb97dd2e-1c78-11e7-89e0-8d70bb1480f1.png">

[2017-04-08 20:37] jasonLaster commented on #2402
Thanks, the bucketing for window makes me so sad right now. We should do something better :)

[2017-04-08 20:37] #2402 closed

[2017-04-08 20:59] jcreighton commented on #2590
Grabbing this one!

[2017-04-08 22:18] jasonLaster commented on #2590
@jcreighton  alright - but you have to pick the highlight color! :P

[2017-04-09 16:47] jasonLaster opened #2603 "[scopes] bucket properties alphabetically"
We currently bucket properties when there are more than 100 properties. This is good for finding what you're looking for, but not great when looking for keys in a large object.

It would be nice if instead of showing a numeric index, we did an alphabetic range:

#### New

<img width="248" alt="screen shot 2017-04-09 at 12 43 26 pm" src="https://cloud.githubusercontent.com/assets/254562/24839086/6a

[2017-04-09 16:53] jasonLaster commented on #2603
Hmm, after thinking about it a bit more I can see a couple of problems with this approach:

1. keys are often **not** ordered alphabetically.
2. keys can be numerical
3. keys can be prefixed with an underscore...

I'm now leaning towards not bucketing object properties and only bucketing arrays

[2017-04-09 19:22] #2555 closed

[2017-04-09 19:23] jasonLaster commented on #2601
This was fixed

[2017-04-09 19:23] #2601 closed

[2017-04-09 19:26] jasonLaster commented on #2534
Hi @LeslieMurphy, could you join our [slack](https://devtools-html-slack.herokuapp.com) so we can look into this?

[2017-04-09 19:43] jasonLaster commented on #1602
I started looking into this a bit more and it looks like the old debugger handled getters and setters pretty [well][1].

The basic approach as I understand it is that when they encountered a property that only had a getter, they would evaluate some code that created a new property that reflected the value. This strategy was called `getterOrSetterEvalMacro`.

[1]: http://searchfox.org/mozilla-centr

[2017-04-09 20:06] jasonLaster commented on #1602
What i shared earlier is relevant when you want to edit a getter, which is  a feature the old debugger supported.

Here's the [codepath][1] that the old debugger used for adding the getter values. What I like about it is that it is much cleaner than fetching each value for the getter.

Here is a simplified response object for the variable `location`. Notice how `href` and `origin` are both `ownPro

[2017-04-09 20:11] jasonLaster commented on #2588
I think we could do something where you hide the fold markers by default and only show them if the gutter is hovered `gutter::hover .fold-marker { display: block } ` if that doesn't work, on gutter hover we add a class the the fold marker parent element...

[2017-04-10 09:19] captainbrosset commented on #1743
![paused-screen](https://cloud.githubusercontent.com/assets/1152698/24818074/5643f80c-1bdf-11e7-86ad-d74bb8f2d8ca.gif)

Making progress on this ...
My current approach is to do it all on the server-side, so I might not make any change to the debugger.html code for this. At least for now.

I will need someone who knows the ThreadActor code to tell me if that's ok though, but I still need some more

[2017-04-10 09:31] nt1m commented on #1942
@jasonLaster Only for the new debugger.

[2017-04-10 09:37] nt1m commented on #1942
Two possible fixes here:
- Import chrome://global/skin/menu.css when isFirefoxPanel is true (the CSS file is only imported automatically for XUL documents)
- Append the menu in the parent doc (toolbox) which should have the CSS file, when isFirefoxPanel is true

[2017-04-10 13:42] LeslieMurphy commented on #2534
Yes, done.

On Sun, Apr 9, 2017 at 1:26 PM, Jason Laster <notifications@github.com>
wrote:

[2017-04-10 13:56] AnshulMalik commented on #2446
Can we do something like this ?
[code]

[2017-04-10 13:58] jasonLaster commented on #2446
yeah! that looks good. give it a try!

[2017-04-10 14:27] clarkbw commented on #2603
I think that makes sense.  I still like the idea of bucketing the window object into two: custom and default properties.  However that's an optimization that can be done down the line.

[2017-04-10 14:46] #2603 closed

[2017-04-10 14:46] jasonLaster commented on #2603
@bomsy is working on that optimization now :)

[2017-04-10 16:22] AnshulMalik commented on #2588
I did some experimentation to implement ` hide fold markers unless hovering on the gutter`. But seems like using only css doesn't work.

[2017-04-10 16:34] irfanhudda commented on #2588
@AnshulMalik Yes. Looks like using just CSS to "hide _all_ fold markers unless hovering on gutter" may not work because of their placement in DOM tree and limitation of CSS selectors.(I might be wrong here)

I could get a crude version working using `eventListeners`

[2017-04-10 16:44] jasonLaster commented on #2588
@irfanhudda mind PRing the crude version.

@AnshulMalik I'll review your styling independently

[2017-04-10 18:59] #2529 closed

[2017-04-10 22:31] darkwing opened #2614 "[SourceTree] fails to render the root directory"
STR:

1. go to https://davidwalsh.name/

---

URLs:

[code]

---

There's a test below that isolates the behavior. The problem comes from the root directory appearing below another source below the root.

[2017-04-10 22:33] darkwing opened #2615 "Last Closed Tab Opens Upon Load"
-  I had two files opened within the top tab bar.
-  I closed both of them (all file tabs closed,
-  I refreshed the page
-  The last file I closed was opened in the tab bar by default.

[2017-04-11 00:03] mquander opened #2616 "[Chrome] Chrome debugger fails to initialize"
When trying to start the debugger on a Chrome tab, the destructuring assignment in [chrome.js](https://github.com/devtools-html/debugger.html/blob/2c22306d9d9c4680bd48375fa80c5e7f531cbc1e/src/client/chrome.js#L7) fails every time, so it won't start. This seems to have been caused by https://github.com/devtools-html/debugger.html/pull/2478 and the associated refactoring to move things into devtools

[2017-04-11 01:44] #2616 closed

[2017-04-11 01:44] jasonLaster commented on #2616
Great Fix!

We would love to improve our chrome variable support.

[2017-04-11 01:46] jasonLaster commented on #2615
haha - that's a fun bug.

This happens because the `sources.selected_source` location probably doesn't get cleared

[2017-04-11 01:50] jasonLaster opened #2618 "[Testing] Add a jest test for a react component"
One of the best things about Jest is the ecosystem around testing react components. We have some components that would really benefit from unit testing like `functionPreview`.

This issue is for getting a unit test for **any** component in so that we have the pattern for testing other components in the future.

[2017-04-11 02:39] #2575 closed

[2017-04-11 08:09] AnshulMalik commented on #2618
Tried something for testing react components, this method uses enzyme to make testing react components less painful

[code]

[2017-04-11 17:29] jasonLaster commented on #2591
blackboxing works with breakpoints, just not pause on next execution. that's fine

[2017-04-11 17:29] #2591 closed

[2017-04-11 19:41] jasonLaster opened #2626 "[CodeFolding] style closed markers"
1. use the devtools orange theme
2. update the devtools collapse icon to be similar to atoms...
  note cmd+option+i in atom opens atom's devtools! you can steal their collapse badgey thing

### screenshot

<img width="633" alt="screen shot 2017-04-11 at 3 39 00 pm" src="https://cloud.githubusercontent.com/assets/254562/24927463/21cb33e2-1ecd-11e7-8067-9d9c7bb305bd.png">

### notes

Here's the loca

[2017-04-11 19:42] jasonLaster commented on #2626
@samjwalker is working on this

[2017-04-11 19:49] jasonLaster commented on #2618
I tried to use this test and got an error

[code]

This is exactly the kind of test I would like to see in the codebase

perhaps we render and simulate with reacts renderer's https://facebook.github.io/react/docs/test-utils.html

The other style test that we should have is where we render the component to JSON and save it as a fixture.

We should PR this style and also the fixture style!

[2017-04-11 19:53] jasonLaster commented on #2534
This was addressed in https://github.com/devtools-html/devtools-core/pull/325

[2017-04-11 19:54] #2534 closed

[2017-04-12 00:10] #2280 closed

[2017-04-12 00:17] bomsy commented on #2547
Steps to approach this
- [ ] Write a basic jest for the scope component
- [ ] Remove all dependence on  the actor id, from the server
- [ ] Move expanded cache out of managed tree into redux

[2017-04-12 00:19] #2565 closed

[2017-04-12 00:19] bomsy commented on #2565
@jlast is this complete?

[2017-04-12 00:27] jasonLaster commented on #2565
Yep
On Tue, Apr 11, 2017 at 8:19 PM Hubert Boma Manilla <
notifications@github.com> wrote:

[2017-04-12 02:52] AnshulMalik commented on #2618
React also recommenda the use of Enzyme. It   requires `react-addon-test-utils` package to be installed manually.

Also enzyme requires react-dom v15
4.2, we have 15.3.2. And upgrading it breaks the existing test cases. So need to find some workaround.

@jasonLaster Enzyme also has functionality to test against snapshot. So we test and save it's state and next time use it to check if something has

[2017-04-12 02:57] jasonLaster commented on #2618
Great write up. I know this is possible as these testing solutions predate 15.4

[2017-04-12 03:05] stefb965 commented on #2618
1

[2017-04-12 10:34] samjwalker commented on #2626
This is how atom does it.

![capture2](https://cloud.githubusercontent.com/assets/15427172/24953626/ea76fbcc-1f73-11e7-8cf9-1f90cd85cf44.PNG)

Please could you explain what you mean by the yellow theme since I can't find an option for it.

[2017-04-12 14:28] jasonLaster opened #2630 "Test our Components! 🤡"
@AnshulMalik helped us add our first component test for the [CloseButton](https://github.com/devtools-html/debugger.html/pull/2628) recently. We'd love to add additional tests for some of our components

Component Checklist:

- [x] closeButton
- [x] ObjectInspector
- [x] previewFunction
- [ ] SecondaryPanes/Breakpoints
- [x] SecondaryPanes/Frames
- [ ] SourcesTree
- [x] ResultList
- [x] Outline

C

[2017-04-12 14:35] #2618 closed

[2017-04-12 14:52] #2429 closed

[2017-04-12 17:17] jasonLaster opened #2631 "[mochitest] Add test for stepping"
We should have a test that steps through a simple case where an object is expanded and mutated:

[code]

[2017-04-12 17:29] greenkeeper[bot] opened #2632 "An in-range update of enzyme is breaking the build 🚨"
## Version **2.8.1** of [enzyme](https://github.com/airbnb/enzyme) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/devtools-html/debugger.html/compare/greenkeeper%2Fenzyme-2.8.1">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      enzyme
    </td>
  </tr>
  <tr>
    <th align=left>

[2017-04-12 18:10] #2632 closed

[2017-04-12 19:01] jasonLaster commented on #2631
One interesting thing to note is that we are currently duplicating our tests:
1. Web Test Runner: [test/integration](https://github.com/devtools-html/debugger.html/blob/master/src/test/integration/tests/scopes.js#L51)
2. Mochitests: [test/mochitest](https://github.com/devtools-html/debugger.html/blob/master/src/test/mochitest/browser_dbg-scopes.js)

The WTR test for scopes tests expanding nodes, w

[2017-04-12 19:03] jasonLaster opened #2634 "[WTR] run tests on CI"
We used to run similar unit tests w/ firefox on CI previously. It's not to too hard to spin up firefox to do this...

[2017-04-12 19:08] #2570 closed

[2017-04-12 19:09] #2434 closed

[2017-04-12 19:49] jasonLaster commented on #2631
I updated the scopes tests [here](https://github.com/devtools-html/debugger.html/pull/2635) hopefully this will land today so that you can have consistent tests.

[2017-04-12 20:25] jasonLaster opened #2636 "[test] Add test for previewing variables"

[2017-04-12 20:25] jasonLaster opened #2637 "[test] re-enable source map tests"

[2017-04-12 20:26] #2553 closed

[2017-04-12 20:26] #2291 closed

[2017-04-12 20:30] jasonLaster commented on #2226
@soapdog I'm closing this for now as it's not a priority.

The instant close on mouse out is okay :)

[2017-04-12 20:30] #2226 closed

[2017-04-12 21:36] darkwing commented on #2614
Been super busy but had a moment to look at and was introduced here:

https://github.com/devtools-html/debugger.html/commit/2c22306d9d9c4680bd48375fa80c5e7f531cbc1e

Will continue looking into it

[2017-04-12 21:48] darkwing commented on #2614
Also important to note it happens in both Chrome and Firefox, so it's not isolated to the Chrome or Firefox files.

[2017-04-12 22:09] jasonLaster commented on #2614
Here is the start of a test

[code]

[2017-04-12 23:12] jasonLaster commented on #2614
Here's a test. Notice the index comes second:
https://gist.github.com/jasonLaster/99fb7bd80f5537358a934f0ece63f0dc

Here's the failure:

[code]

Notice two directories `'/davidwalsh.name'` `'/davidwalsh.name'`. This does not happen if the index comes second.

[2017-04-12 23:27] jasonLaster opened #2638 "[Tabs] tabs are no longer persisted on refresh"
STR:
1. go to http://devtools-html.github.io/debugger-examples/examples/todomvc/
2. select two sources
3. refresh the debugger

AR: you see the selected source
ER: you see both tabs

here is a test that demonstrates the regression:

One way to work on this is to go to `localhost:8000/integration` and fix the tabs test:

[code]

[2017-04-13 01:02] AnshulMalik commented on #2638
I can't reproduce this issue, works fine here.

[2017-04-13 08:59] ruturajv commented on #2578
Just so that I'm clear... Its like adding a `watch` but instead of a variable, we're watching an `expression`...  ie `isCrazy || isGeek` ? @jasonLaster

[2017-04-13 13:02] jasonLaster commented on #2578
haha, that's correct

[2017-04-13 13:02] bomsy commented on #2638
I see the issue, it seems like it persist sometimes and does not the others

[2017-04-13 13:04] jasonLaster commented on #2638
oh strange. I wonder what cases it's persisted in...

[2017-04-13 13:08] bomsy commented on #2638
So far what i see is that removing the currently selected tab does not persist..

[2017-04-13 13:14] bomsy commented on #2638
##### STR
* Add 2 tabs
* Remove the currently selected one
* Refresh

##### AR:
 It shows 2 tabs
##### ER:
Should be 1 tab

[2017-04-13 14:06] tommai78101 opened #2641 "[SearchBar] Allow F3 / Shift+F3 to function the same as Enter/Shift+Enter when searching words"
In Chrome and Visual Studio Code, you can use `F3` / `SHIFT+F3` to navigate through search results for the next / previous keywords. They also use `ENTER` / `SHIFT+ENTER` to navigate.

Currently in Firefox debugger, you can only use `ENTER` / `SHIFT+ENTER` to navigate through search results, but you can't use `F3` / `SHIFT+F3` to navigate.

Can we make it so `F3` / `SHIFT+F3` is used to navigate,

[2017-04-13 14:09] AnshulMalik commented on #2641
Seems good idea to me.

[2017-04-13 14:22] tommai78101 commented on #2641
The line of code in question:

https://github.com/devtools-html/debugger.html/blob/a29ec8c650c895590a9a59a3ee6c8cd9da68bcdb/src/components/Editor/SearchBar.js#L480

We just need to add in `|| e.key !== "F3"`.

[2017-04-13 14:30] jasonLaster commented on #2638
haha - sounds like a related but different bug!

[2017-04-13 14:42] bomsy commented on #2638
Hahaaa

[2017-04-13 15:39] #2015 closed

[2017-04-13 16:00] ryanjduffy commented on #2378
Have some regex working on this. Right now it's parsing the location and length of each `<script>` block. Working on more thorough tests to ensure the parsing quality is up to snuff.

[2017-04-13 17:22] #2569 closed

[2017-04-13 17:22] jasonLaster commented on #2424
@samjwalker @irfanhudda @jbhoosreddy lets try and reproduce this now

[2017-04-13 20:19] jasonLaster commented on #2587
@wldcordeiro is working on it

[2017-04-13 21:04] jasonLaster opened #2646 "Run prettier on CI"
It would be great if we could run prettier on CI before we do any linting.

This helps with the use case that the code is not already prettified. I mention this because it is somewhat annoying to prettify code pre-commit these days. It's a small thing, but would be nice to move to CI

[2017-04-13 21:07] jasonLaster opened #2647 "[flow] upgrade from 0.43 to 0.45"
There are three minor issues

[code]

[2017-04-14 02:02] greenkeeper[bot] opened #2650 "An in-range update of enzyme is breaking the build 🚨"
## Version **2.8.2** of [enzyme](https://github.com/airbnb/enzyme) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/devtools-html/debugger.html/compare/greenkeeper%2Fenzyme-2.8.2">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      enzyme
    </td>
  </tr>
  <tr>
    <th align=left>

[2017-04-14 02:13] greenkeeper[bot] opened #2651 "An in-range update of prettier is breaking the build 🚨"
## Version **1.1.0** of [prettier](https://github.com/prettier/prettier) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/devtools-html/debugger.html/compare/greenkeeper%2Fprettier-1.1.0">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      prettier
    </td>
  </tr>
  <tr>
    <th align=le

[2017-04-14 08:50] captainbrosset opened #2652 "Implement break-on-event"
I couldn't find an issue about this already.

Here is what the feature looks like in the old Firefox debugger:
![event-breakpoints](https://cloud.githubusercontent.com/assets/1152698/25038582/cf9af4ec-20ff-11e7-81d5-c0dc9a9bcc1e.gif)

You get a sidebar panel that lists all current event listeners, and you can click checkboxes to pause in these listeners when events happen.

Do you intend to have s

[2017-04-14 12:51] #2387 closed

[2017-04-14 14:04] jasonLaster opened #2656 "[Frames] Describe Frame Names"
It would be nice if we could look at the collapsed frames and come up with a more descriptive name. Some examples are showing that several frames represented routing or rendering work.

[2017-04-14 14:38] jasonLaster opened #2659 "Style call stack logos"
We're now showing library logos in the call stack for (backbone, jquery, react). It would be nice to style them a bit so that it is polished:

- [ ]  line them up with the text
- [ ] color them white when the frame is selected

this is likely a fill property on the svg

#### How to get started

1. backbone, jquery: debug todomvc in the examples app and add a breakpoint in todo-view.js
2. react, de

[2017-04-14 20:40] jasonLaster commented on #2317
Hey @magsout I'm making this issue available again. Feel free to reclaim it if you have time.

[2017-04-14 20:41] jasonLaster commented on #2053
Hey @roieu, how's it going?

It seems like this work might be blocked on a notion of "blurred". Feel free to hop in slack and chat about it.

[2017-04-14 22:48] jasonLaster opened #2662 "[callstack] Improve Call Stack Collapsing"
It would be great to improve the call stack collapsing. Currently the [algorithm] collapses contiguous library frames and maps the first one of the list. We should pass the list of frames to a library specific function so that it can choose how to name the frames:

- use the first or last frame name
- look at the list and use a better name, i.e. say it's "Routing", "Rendering", "Creating a Model"

[2017-04-15 04:14] wldcordeiro commented on #2588
@irfanhudda I was trying to do this as well, it's complicated. The "gutter" itself lives at a different level in the tree than the markers. I think there  is likely some really specific CSS selector like (pseudo selectors here) `.gutter:hover ~ .gutter-elems .hover-marker`. If you find a good solution I'd love to see it! 😄

[2017-04-15 13:51] serapath opened #2663 "Is it possible to use this inside a page as a component?"
I saw there is https://www.npmjs.com/package/debugger.html as an npm module.

Is or will there be some way for doing something like:

[code]

I don't know about the API that would make most sense, but I already see terminal/console components and editor components and file tree components which can be included in a web app. It would be kind of cool to also have the option to add debugger and all k

[2017-04-15 17:31] jasonLaster commented on #2663
We've got some demos of the debugger running in Emacs and could do the same with Atom.

We haven't done much on this front, but have designed the APIs so you could either drop it in and connect to node or a browser with our Redux backend or use our utils or UI.

Stop by our slack and we can discuss!

[2017-04-15 17:31] #2663 closed

[2017-04-15 22:49] jasonLaster commented on #2662
Here's a mockup of how we could handle toggling library frames.

The benefit of this UI is that it's possible to quickly see the library frames and select a frame to explore.

![expanded frames](https://cloud.githubusercontent.com/assets/254562/25067269/1d81e64a-220c-11e7-86de-4ac2dc697c21.jpg)

[2017-04-17 00:36] wldcordeiro commented on #2652
We have an MVP of this from what I can tell, but there are issues with it.

![event-listeners](https://cloud.githubusercontent.com/assets/580982/25075506/aa7f35c6-22ec-11e7-9b42-c349b60afc63.gif)

[2017-04-17 00:46] wldcordeiro commented on #2641
I was trying to test this but had the Firefox search dialog pop-up when I pressed F3.

[2017-04-17 00:49] wldcordeiro commented on #2626
@samjwalker I think @jasonLaster meant using one of our theme variables that is orange. I'd guess either `--theme-graphs-orange` or `--theme-highlight-lightorange`

[2017-04-17 01:13] jasonLaster commented on #2626
yep, definitely a variable if we have a good one for it. Otherwise, we can try and find something else that works

[2017-04-17 01:14] jasonLaster commented on #2641
Hmm, we might need to also add prevent default here:
https://github.com/devtools-html/debugger.html/blob/a29ec8c650c895590a9a59a3ee6c8cd9da68bcdb/src/components/Editor/SearchBar.js#L479-L485

[2017-04-17 02:03] jasonLaster commented on #2390
I looked into how we could add a breakpoint somewhere on the line and found that CodeMirror supports it with "bookmarks"

Here's the code to add a column breakpoint

[code]

We'll want to hold onto the bookmarks so that we can easily remove them as well with the `clear` command

[2017-04-17 14:03] #2656 closed

[2017-04-17 14:03] #2651 closed

[2017-04-17 14:03] #2650 closed

[2017-04-17 14:05] jasonLaster commented on #2637
done

[2017-04-17 14:05] #2637 closed

[2017-04-17 14:05] #2631 closed

[2017-04-17 14:05] jasonLaster commented on #2631
done

[2017-04-17 15:11] jasonLaster commented on #2485
Hey @ruturajv,

1. it looks like functions are picked up

2. I worry we'll pick up every variable assignment which will lead to a lot of duplication:

[code]

3. we'll miss global variables assigned this way, but that's probably okay for now. Given we'll have a simpler system for the time being.

[2017-04-17 15:12] #2485 closed

[2017-04-17 15:23] jasonLaster opened #2667 "[l10n] Add key modifiers to shortcut values"
We add all of our keyboard shortcuts to the [locales] file for translating so that `cmd+p` in another language could be a more appropriate shortcut.

We currently just have the key to be translated, but we should include modifiers like cmd or shift as well.

e.g.

* **old** `symbolSearch.search.key=O`
* **new** `symbolSearch.search.key=CmdOrCtrl+O`

#### Patch

[code]

#### Finding all of the keys

[2017-04-17 15:32] jasonLaster opened #2668 "[Editor] Right clicking on the gutter should not add a breakpoint"
right clicking on the gutter should open the context menu with the menuitem to "Add a breakpoint".

It looks like we're currently adding the breakpoint pre-maturely :)

The issue is likely [here]

[here]: https://github.com/devtools-html/debugger.html/blob/master/src/components/Editor/index.js#L403-L423

[2017-04-17 18:40] bgrins opened #2671 "Object inspector doesn't get expanded with Watch Expression on very large object"
STR:

* Open https://s3.amazonaws.com/mozilla-games/ZenGarden/EpicZenGarden.html
* Click the pause button to pause on next tick
* Once paused, add a new watch expression: `Module`
* Attempt to expand the object

Expected:
* The object is expanded and properties show up below

Actual:
* Nothing shows up below.  The tab also seems to hang even after resuming execution.

I'm sure this'll need some pr

[2017-04-17 18:45] jasonLaster commented on #2671
Thanks for filing this. I can profile this in a bit, one of the advantages of the new Object Inspector is that we'll bucket large arrays and objects.

My guess is that this is server related.

[2017-04-17 21:28] tommai78101 commented on #2641
Just saw this while leaving from work...   D:

I'll see what I can do, despite that the branch I had was already deleted.

[2017-04-17 21:54] jasonLaster commented on #2641
thanks. create a new one :)

[2017-04-18 01:08] tommai78101 commented on #2641
Just created one. Please test / let me know if anything.

[2017-04-18 01:25] arthur801031 commented on #1602
I'll take a stab at this.

[2017-04-18 15:55] irfanhudda opened #2676 "Toggle pane button is positioned incorrectly in RTL layout"
### Screenshot
![rtl-bug](https://cloud.githubusercontent.com/assets/1755089/25139844/1044f004-247c-11e7-99b0-d503d094dd9d.png)

There are two problems with above RTL layout
+ [x] Toggle pane button for secondary pane (`.toggle-button-end`) should be aligned to the left. (may require a change to [`PaneToggle.css`](https://github.com/devtools-html/debugger.html/blob/master/src/components/shared/But

[2017-04-18 17:03] jasonLaster commented on #2496
Hmm, lets see. I like chrome's pause notice when you do a console eval w/ pause on exceptions on.

![Screen Shot 2017-04-18 at 1.02.44 PM.png](https://shipusercontent.com/1ed8167ef5c7765273659f5253c48bfa/Screen%20Shot%202017-04-18%20at%201.02.44%20PM.png)

[2017-04-18 17:20] jasonLaster opened #2677 "[Why] Should show the pause reason "
We currently show the user that they're paused at an exception, but we don't show the Exception type and message:

`ReferenceError: foo is not defined`

[code]

![Screen Shot 2017-04-18 at 1.16.54 PM.png](https://shipusercontent.com/22d74c878829199825f166b7965cf425/Screen%20Shot%202017-04-18%20at%201.16.54%20PM.png)

[2017-04-18 17:22] clarkbw opened #2678 "remove feature flag for Watch Expressions"
We've shipped Watch Expressions so its time to remove the feature flag for it.

Here's a [search](https://github.com/devtools-html/debugger.html/search?utf8=%E2%9C%93&q=watchExpressions&type=) of all the usage of the key `watchExpressions`.

We need to remove all references to that key and make sure watch expressions are now on by default.

[2017-04-18 17:31] jasonLaster commented on #2676
Nice find!

[2017-04-19 07:09] greenkeeper[bot] opened #2683 "An in-range update of eslint-config-prettier is breaking the build 🚨"
## Version **1.7.0** of [eslint-config-prettier](https://github.com/prettier/eslint-config-prettier) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/devtools-html/debugger.html/compare/greenkeeper%2Feslint-config-prettier-1.7.0">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      eslint-c

[2017-04-19 13:30] bomsy commented on #2615
STR

Add 2 tabs
Remove the currently selected one
Refresh
AR:

It shows 2 tabs

ER:

Should be 1 tab

[2017-04-19 13:45] virzen commented on #1884
Hi, I would like to take care of `reducers/sources`.

[2017-04-19 14:59] jasonLaster commented on #1884
@virzen that'd be great. Thanks

[2017-04-19 15:26] #1602 closed

[2017-04-19 15:34] clarkbw opened #2685 "remove feature flag for search modifiers"
We've shipped Search Modifiers so its time to remove the feature flag for it.

Here's a [search](https://github.com/devtools-html/debugger.html/search?utf8=%E2%9C%93&q=searchModifiers&type=) of all the usage of the key `searchModifiers`.

We need to remove all references to that key and make sure search modifiers are now on by default.

[2017-04-19 15:35] clarkbw opened #2686 "remove feature flag for symbol search"
We've shipped Symbol Search so its time to remove the feature flag for it.

Here's a [search](https://github.com/devtools-html/debugger.html/search?utf8=%E2%9C%93&q=symbolSearch&type=) of all the usage of the key `symbolSearch`.

We need to remove all references to that key and make sure the feature is now on by default.

[2017-04-19 15:36] clarkbw opened #2687 "remove feature flag for editor preview"
We've shipped Editor Hover / Preview so its time to remove the feature flag for it.

Here's a [search](https://github.com/devtools-html/debugger.html/search?utf8=%E2%9C%93&q=editorPreview&type=) of all the usage of the key `editorPreview`.

We need to remove all references to that key and make sure the feature is now on by default.

[2017-04-19 15:38] clarkbw opened #2688 "remove feature flag for show source"
We've shipped the Show Source feature so its time to remove the feature flag for it.

Here's a [search](https://github.com/devtools-html/debugger.html/search?utf8=%E2%9C%93&q=showSource&type=) of all the usage of the key `showSource`.

We need to remove all references to that key and make sure the feature is now on by default.

[2017-04-19 15:38] clarkbw opened #2689 "remove feature flags for feature we already ship by default"
The following features are already shipped by default so we should remove the feature flags for them.

- [x] watchExpressions #2678
- [x] searchModifiers #2685
- [x] symbolSearch #2686
- [x] editorPreview #2687
- [x] showSource #2688

[2017-04-19 15:41] PunitGr commented on #2659
I'd love to help!

[2017-04-19 15:48] jasonLaster commented on #2659
@PunitGr great! Stop by and ask any questions in slack

[2017-04-19 15:51] clarkbw commented on #1634
Looks like we're all done here! 🎉

[2017-04-19 15:55] clarkbw commented on #2232
done now?

[2017-04-19 15:57] clarkbw commented on #1843
All of the required items have been checked off here.

[2017-04-19 15:57] #2554 closed

[2017-04-19 17:00] #1843 closed

[2017-04-19 17:04] clarkbw commented on #1635
This is our stretch goal.  Putting this off until we get some other items finished.

[2017-04-19 17:04] #1635 closed

[2017-04-19 17:06] clarkbw commented on #2117
We get a lot of reports about this, lets try to figure out a solution to at least mute this warning, if not fix it.

[2017-04-19 17:08] clarkbw commented on #2241
Created a doc, will start working on it soon.
https://docs.google.com/document/d/1g-KOVLdEm_7aMtFckVJ4nvlyP_KmCQaHSLKm_Ofp9Vo/edit#

[2017-04-19 17:09] #2248 closed

[2017-04-19 17:26] jasonLaster commented on #2269
Thanks @Fensterbank, I don't think we want to use `no-remote` at this time. Our `yarn firefox` command will create a new profile on the fly.

We recently upgraded our windows firefox driver, so maybe it will work for you.

[2017-04-19 17:26] #2269 closed

[2017-04-19 18:09] jasonLaster opened #2690 "[Sources] Show react file icons in the tree"
It would be super cool if we could show relevant file icons in the sources tree. One example of this would be the React logo next to React components.

#### Plan

I think we could add the logo if two things are true:

1. the file is inside a components directory
2. we detect that `react` is loaded

Basically if it's a component of a react app.

Down the road we can be more thorough and check the s

[2017-04-19 20:25] jasonLaster opened #2691 "[preview] don’t show undefined values"
<img src='https://shipusercontent.com/aa54fe52842946ec3480e9777577f712/Screen%20Shot%202017-04-19%20at%204.21.06%20PM.png' title='Screen Shot 2017-04-19 at 4.21.06 PM.png' width=537>

[2017-04-19 20:25] jasonLaster opened #2692 "[preview] show boolean values in the tooltip"
They are simple enough to show in the tooltip like what we do with functions

[2017-04-19 20:37] jasonLaster commented on #2053
Some notes from the PR

adding blurred makes me concerned that we could be making things more difficult for ourselves in the future:

* blurred could be a state for many elements
* blurred/focused might not be weird in some cases - an element is not focused, but it is blurred

I would like to better understand how atom does it. I started looking at their HTML:
One thing I do like is that it uses `

[2017-04-19 20:57] jasonLaster opened #2694 "[Scopes] multiple block scopes with the same key"
It's possible to try and expand multiple Block scopes, which has the same key. When you do you get this warning:

[code]

STR:

1. debug the debugger
2. add a breakpoint to `Frames/renderFrame`

[2017-04-19 21:38] #2683 closed

[2017-04-19 21:41] jasonLaster commented on #2446
@AnshulMalik had a great implementation, but this is currently blocked on the search modal and the UX we want afterwards. Closing his temporarily.

[2017-04-19 21:42] jasonLaster commented on #2536
This is now fixed in #2672

[2017-04-19 21:42] #2536 closed

[2017-04-19 21:43] jasonLaster commented on #2104
This is fairly complicated and the UX is not clear, so closing it for the time being.

[2017-04-19 21:43] #2104 closed

[2017-04-19 21:51] jasonLaster commented on #1972
Closing as we will not get to this in Q2. It's in the enhancements board and we should revisit it in Q3.

[2017-04-19 21:52] jasonLaster commented on #2239
Closing this as it's not a high priority at the moment. We can revisit when the Object Inspector is in reps and it is shipped by default.

[2017-04-19 21:52] #2239 closed

[2017-04-20 06:48] PunitGr commented on #2659
Hi @jasonLaster, does this work?

![screen shot 2017-04-20 at 12 16 47 pm](https://cloud.githubusercontent.com/assets/9111111/25217117/49c3fdd2-25c3-11e7-9257-2388ce6e8a72.png)

[2017-04-20 08:01] AnshulMalik commented on #2659
Hey @PunitGr , this looks awesome. Create a PR :)

[2017-04-20 14:36] #2694 closed

[2017-04-20 15:12] jasonLaster commented on #2424
works great!

[2017-04-20 15:12] #2424 closed

[2017-04-20 15:13] jasonLaster commented on #2636
We are testing this with unit tests, which is covering all the cases

[2017-04-20 15:13] #2636 closed

[2017-04-20 15:56] greenkeeper[bot] opened #2700 "An in-range update of babylon is breaking the build 🚨"
## Version **6.17.0** of [babylon](https://github.com/babel/babylon) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/devtools-html/debugger.html/compare/greenkeeper%2Fbabylon-6.17.0">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      babylon
    </td>
  </tr>
  <tr>
    <th align=left>

[2017-04-20 17:57] clarkbw opened #2702 "update Yarn in CircleCI to the latest version"
Yarn stable is now at `0.23.2` and we are using `0.21.3`, we need to update the [circle.yml](https://github.com/devtools-html/debugger.html/blob/master/circle.yml#L9) so CircleCI is using the same version of Yarn we expect ourselves to be using.

[2017-04-20 18:07] jasonLaster opened #2703 "[preview] Show previews for object keys"
It would be really cool if you could mouse over object keys like `foo` and get the correct value. Under the hood we need to notice that it is an object key and resolve the expression to `obj.foo`, which is like the reverse `memberExpression`.

[code]

Here is the AST that babel gives us for `const obj = {foo: 'foo val'};` [ast]

#### Patch

Here's a patch that provides a starting off point for fin

[2017-04-20 18:13] clarkbw commented on #2180
I wonder if you could do this in CSS?  If you animated (over a second or so) the disappearance of a node you could keep them hanging around while react replaces them.  We just need to ensure that the new thing that replaces the old thing stops the old animation from continuing.

[2017-04-20 18:40] jasonLaster opened #2704 "[Expressions] Format “ReferenceErrors""
We currently show the full error in the watch expressions pane. It would be nice to replace this with something like "not available"

#### Patch

[code]

<img src='https://shipusercontent.com/bffeaacbcab9591e70c3ed98e70b9eec/Screen%20Shot%202017-04-20%20at%202.03.42%20PM.png' title='Screen Shot 2017-04-20 at 2.03.42 PM.png' width=621>

[2017-04-20 19:39] bgrins commented on #2671
I think this will get fixed by a server-side patch in https://bugzilla.mozilla.org/show_bug.cgi?id=1348761

[2017-04-20 19:39] #2671 closed

[2017-04-20 19:43] jasonLaster commented on #2671
nice find: https://reviewboard.mozilla.org/r/132128/diff/1#index_header

[2017-04-21 20:03] jasonLaster opened #2710 "[blackbox] it’s not hiding react-with-addons frames"
STR:
1. go to https://codepen.io/gaearon/pen/VbvBWg?editors=0010
2. navigate to react-with-addons.js in the debugger
3. blackbox the source
4. navigate to index.html
5. add a breakpoint on line 250
6. click in a tic tac toe box

AR: see all the frames
ER: see only index.html frames

[2017-04-21 20:44] tommai78101 opened #2711 "[Console] Debugger fails to output error messages when referencing an undefined object from IDBRequest"
Here's a GIF of what's going on.

![gif](https://cloud.githubusercontent.com/assets/6444116/25295419/63cee22a-26b1-11e7-8d4d-8e86d4e9add3.gif)

[code]

Unfortunately, I am using a proprietary codebase, so I cannot share any codes.

I should be expecting an error message, but I see nothing. And this is without any filters applied whatsoever.

[2017-04-21 21:16] nchevobbe commented on #2711
Hey @tommai78101 , first, I will close this here, since it's not an issue with the debugger, but with the console, which are not in github at the moment.

I have a hard time understanding what you want to do and what is wrong, please, be as specific and detailed as you can when filing bugs so we can fact on them faster.

Now, I think I get it, you think your code is supposed to throw an error, but

[2017-04-21 21:16] #2711 closed

[2017-04-21 21:19] tommai78101 commented on #2711
Thanks, and sorry for being too hasty (train leaves a bit early due to rush hour).

I will take a look at it, and see what I can do with my local codebase.

[2017-04-21 23:29] greenkeeper[bot] opened #2712 "An in-range update of documentation is breaking the build 🚨"
## Version **4.0.0-rc.0** of [documentation](https://github.com/documentationjs/documentation) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/devtools-html/debugger.html/compare/greenkeeper%2Fdocumentation-4.0.0-rc.0">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      documentation

[2017-04-22 00:01] #2712 closed

[2017-04-22 06:22] sarahlim commented on #2668
I just cloned and I'm having trouble replicating this:

![gif of left clicking to add a breakpoint, right clicking to open context menu w/o adding breakpoint](https://media.giphy.com/media/3o7bu2sehHjuq2l8nm/giphy.gif)

Left clicking produces a breakpoint as expected. Right clicking opens the context menu, no breakpoint appears in the UI, and Redux devtools don't log an `ADD_BREAKPOINT` action.

I

[2017-04-22 07:11] andreicristianpetcu commented on #2690
Can I pick this up?

[2017-04-22 12:33] jasonLaster commented on #2668
Haha. That's awesome. I'll try and find the edge case :)

[2017-04-22 12:34] jasonLaster commented on #2668
Also, how'd you get redux Dev tools?

[2017-04-22 15:01] jasonLaster commented on #2690
@andreicristianpetcu it's yours!

[2017-04-22 22:52] bomsy opened #2715 "[Tabs] We show closed tabs when we reload"
After the debugger is refreshed,
* Close the active tab

AR:  The source text for the next selected tab does not get loaded
ER: The source text for the next selected tab should get loaded.

![no-sourcetext](https://cloud.githubusercontent.com/assets/792924/25308787/77952b76-27b4-11e7-8b7a-eb851cc1dcc9.gif)

[2017-04-23 02:39] sarahlim commented on #2668
Main repo [here](https://github.com/gaearon/redux-devtools), browser extensions [here](https://github.com/zalmoxisus/redux-devtools-extension)!

[2017-04-23 20:57] jasonLaster commented on #2668
Thanks @sarahlim I'm using the redux devtools and love it now!

I investigated the bug and it looks like it only happens on chrome :)

![](http://g.recordit.co/tpHV5JQ0ad.gif)

[2017-04-23 21:26] #2677 closed

[2017-04-23 23:18] sarahlim commented on #2668
Bizarre, my GIF was recorded in Chrome (definitely), 57.0.2987.133 (I think).

I'll check again when I'm not supposed to be studying for midterms!

[2017-04-23 23:22] jasonLaster commented on #2668
Haha. I'll also investigate some more.
On Sun, Apr 23, 2017 at 7:18 PM Sarah Lim <notifications@github.com> wrote:

[2017-04-24 10:36] greenkeeper[bot] opened #2718 "An in-range update of mocha is breaking the build 🚨"
## Version **3.3.0** of [mocha](https://github.com/mochajs/mocha) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/devtools-html/debugger.html/compare/greenkeeper%2Fmocha-3.3.0">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      mocha
    </td>
  </tr>
  <tr>
    <th align=left>
      Cur

[2017-04-24 12:27] roieu commented on #2526
@jasonLaster looking at this one as candidate for Capriza Hackaton

[2017-04-24 13:16] #2718 closed

[2017-04-24 15:32] jasonLaster commented on #1865
finished in #2719

[2017-04-24 15:32] #1865 closed

[2017-04-24 18:12] #2659 closed

[2017-04-24 19:56] shlomif commented on #2702
I'm working on it.

[2017-04-24 20:25] juliandescottes commented on #2117
Should be able to handle that using the `module.noParse` webpack config (https://webpack.github.io/docs/configuration.html#module-noparse)

[2017-04-24 21:08] #2117 closed

[2017-04-25 10:08] captainbrosset opened #2726 "Think of a better way to ship the debugger to Firefox"
This issue is for us to think about how we want to ship new versions of the debugger to DevTools inside Firefox.

To my knowledge, right now the process to do so is mostly manual and error-prone.
It requires bundling the sources from this repo and dropping the bundle into the [mozilla-central mercurial repository](https://hg.mozilla.org/mozilla-central/) ([here](https://hg.mozilla.org/mozilla-cent

[2017-04-25 11:56] fflorent opened #2727 "Startup bad performance on pages with lots of scripts"
Hi there,

I noticed a big performance degradation on the devtools when I have to debug the javascript of my application. After investigating a bit (using the Browser Devtools), it appears that the main point of that slowness comes from the fact there are lots of scripts that are fetched, and the `getSourceByUrl` is called several times. And indeed, my application in development mode runs lots of

[2017-04-25 13:12] jasonLaster opened #2728 "[tests] Jest unit tests fail in node 7.7"
The `jest` unit tests fail when run in node 7.7 with the error that the global `L10N` is not available.

#### Reproduce

* install node 7.7
* git clone https://github.com/devtools-html/debugger.html.git
* yarn
* yarn test

I like using [nvm] so that i can install a version `nvm install 7.7` and then test

#### Issue

We setup `global.L10N` [here]. It's possible this has to do with how Jest uses VM

[2017-04-25 14:18] #2702 closed

[2017-04-25 14:20] jasonLaster commented on #2499
I worked with Peter and @Garbee on this today

1. we created a new image for the mozilla + node dependencies
2. we ran yarn in the image and `yarn lint-css`
3. we pulled down m-c code and ran `./mach build`

[code]

[2017-04-25 15:39] jasonLaster commented on #2578
We landed the first part of the preview bottom bar:

- [ ] Lets improve the watch button with (style, localization, tooltips)
- [ ] Fix the case with member expressions :)

[2017-04-25 15:43] jasonLaster opened #2730 "[launchpad] firefox is not launching"
I broke the firefox driver last week when I refactored the launchpad / devtools-modules. https://github.com/devtools-html/devtools-core/commits/master

I think it's a simple dependency issue because when I install geckodriver locally in debugger.html it works

Here's the error I'm seeing:

<img src='https://shipusercontent.com/097b869fe5926cc423de6058b3cc39e7/Screen%20Shot%202017-04-25%20at%2011.4

[2017-04-25 15:47] yurydelendik opened #2731 "High CPU usage (constantly querying getSymbols)"
STR:
1. Open FF at https://devtools-html.github.io/debugger-examples/examples/wasm/fib/fib.index.html (and start listening at 6080)
2. Start development server `yarn start`
3. Open other instance of Firefox or Chrome Canary at localhost:8000 and connect to fib.index.html
4. Open Activity/Performance Monitor

Actual result:
Notice above 100% CPU usage by process

Expected result:
Normal CPU usage

[2017-04-25 15:52] jasonLaster commented on #2731
I see the same thing here: https://devtools-html.github.io/debugger-examples/examples/evals.html

[2017-04-25 15:54] irfanhudda commented on #2728
I was able to run the test after commenting https://github.com/devtools-html/debugger.html/blob/master/src/utils/tests/scopes.js#L200 and https://github.com/devtools-html/debugger.html/blob/master/src/utils/tests/scopes.js#L204 lines

[2017-04-25 16:17] MylesBorins commented on #2728
so I'm seeing this fail in node v6.10.2 and v7.6.0... going to assume that @irfanhudda figured this out and the bug was not in Node itself. LMK if I am wrong

[2017-04-25 16:30] jasonLaster opened #2735 "[Parser] get function params"
It would be nice to capture the function params while we're getting the symbols for a file:

[code]

and type support

[code]

[2017-04-25 17:04] #2728 closed

[2017-04-25 17:04] jasonLaster commented on #2728
hmm, i didn't see it in 7.0

[2017-04-25 17:05] jasonLaster commented on #2730
It looks like if I peg the selenium version to `3.3.0` it works but gives this warning:

[code]

[2017-04-25 17:13] jasonLaster commented on #2728
This could be the bug: https://github.com/nodejs/node/pull/11266

[2017-04-25 17:16] virzen commented on #1884
There it goes! ☝️ 😄

[2017-04-25 17:26] virzen commented on #1884
Since it was really a breeze, I would also take care of the other reducers, that is:
- async requests,
- breakpoints,
- coverage,
- index,
- pause.

[2017-04-25 17:32] jasonLaster commented on #1884
@virzen go for it!

[2017-04-25 22:01] #2730 closed

[2017-04-25 23:17] adamki commented on #2688
Hi all. New to the repo and would love to take a shot at completing this.

Looks like we need to remove all the use cases for `showSource` and ensure that we enable default use with something like this:

[code]
It looks like this change will need to be added to various `config` files. Are there any guides that I can reference regarding `config`? Having a bit of trouble discerning which config file

[2017-04-26 02:07] clarkbw commented on #2688
Hmm, it looks like #1765 partially removed the `showSource` flag but there is just one piece left over.  Looks like a lot smaller change now.  Feel free to grab one of the other as well!

[2017-04-26 07:17] AnshulMalik opened #2742 "Broken project search for sources"
Looks like #2524 broke the project search.

I think we can easily fix by changing [ProjectSearch](https://github.com/devtools-html/debugger.html/blob/master/src/components/ProjectSearch.js#L97-L98)

![bug](https://cloud.githubusercontent.com/assets/7821757/25422277/fca6bcfa-2a7d-11e7-830d-f7da385deb9d.gif)

[2017-04-26 07:40] adamki commented on #2589
Would love to give this a go. I spent a bit playing around with the possibility of changing the `renderNav()` from returning  `dom.div`'s to `dom.button`'s so that I can follow the pattern set in the [commandBar component](https://github.com/devtools-html/debugger.html/blob/master/src/components/SecondaryPanes/CommandBar.js#L84-L97)

This would set up the buttons for the mentioned requirements as

[2017-04-26 08:04] fhinkel commented on #2728
We changed the behavior in https://github.com/nodejs/node/pull/11266/. Now, more properties are (correctly) deleted. Which test is failing? Is there maybe an incorrect assumption that `L10N` is present when it really should have been deleted?

Background: Jest is using the vm-module, and we change the behavior of the delete operator in the vm-module. Sorry that that's interfering with your tests :

[2017-04-26 08:40] AnshulMalik commented on #2589
Yes @adamki , you are going in right direction.

[2017-04-26 13:16] jasonLaster commented on #1884
@virzen @peterschussheim - we're now at 68% for the project, which is a huge jump

and 86% for components which is also a big jump from 50% recently!

[2017-04-26 14:02] jasonLaster opened #2743 "[blackbox] add blackbox icon in the source tab"
It'd be awesome if we could show the blackbox icon in the source tab in the same way we show the pretty print icon.

[2017-04-26 14:03] jasonLaster opened #2744 "[blackbox] blackbox a file from the call stack"
It would be great if you could blackbox a file by right clicking on a frame in the call stack.

[2017-04-26 14:04] jasonLaster opened #2745 "[SourceTree] show the webpack icon in the webpack domain directory"
It would be so cool if we could show the webpack icon in the source tree for webpack domains!

<img src='https://shipusercontent.com/26e16662181d4e58b8bcdb14fa447028/Screen%20Shot%202017-04-26%20at%2010.03.46%20AM.png' title='Screen Shot 2017-04-26 at 10.03.46 AM.png' width=514>

[2017-04-26 14:06] jasonLaster opened #2746 "[CallStack] add a copy frames item in the context menu"
It would be really great if we could let you copy the call stack by right clicking on the call stack.

an output we could add to the clipboard would be like

[code]

We can use the same format that chrome has :)

[2017-04-26 14:20] jasonLaster opened #2747 "[search] up/down arrow keys are not working"
This is likely a minor issue with the recent redux refactoring.

[2017-04-26 16:16] roieu commented on #2743
@jasonLaster on it...

[2017-04-26 16:37] jasonLaster commented on #2390
https://github.com/jasonLaster/debugger.html/tree/column-breakpoints

[2017-04-26 16:39] fujifish commented on #2687
Will be working on this

[2017-04-26 16:39] mbarzeev commented on #2630
I'm gonna give it a go - starting with the previewFunction

[2017-04-26 16:40] oriharel commented on #2745
I'm working on it!

[2017-04-26 16:41] AnshulMalik commented on #2630
I'll do ResultList

[2017-04-26 16:51] noamkatzir commented on #2690
I will take it

[2017-04-26 16:55] jasonLaster commented on #2745
https://github.com/webpack/media/blob/master/logo/icon.svg

[2017-04-26 17:27] fujifish commented on #2686
Working on this

[2017-04-26 18:22] #2686 closed

[2017-04-26 18:23] peterschussheim commented on #1884
Starting work on the remaining components.

[2017-04-26 20:20] asolove commented on #2727
This is a pretty standard render/layout thrashing issue. `Editor` and all the other components are currently re-rendered every time any data changes in the store, even if it isn't data they rely on. `Editor` is particularly expensive because every time it updates, it calls methods on the underlying code editor, which does some DOM measurement and manipulation causing layout thrashing. Doing that 5

[2017-04-26 20:47] fflorent commented on #2727
From what I investigated, that's not such an editor issue (which is not even rendered).
But while profiling the test case above at home, I couldn't get the same performance degradation (it takes "only" ~5 seconds) and the result of the profiling are not the same.

The main difference between the two computers (the one at home and the one at work) is that I use a SSD at home. I need more investigat

[2017-04-26 21:08] asolove commented on #2727
Yeah, the silly part is the editor component isn't even rendering anything interesting. But it is constantly sending the CodeMirror editor a command to show nothing, and CodeMirror is spending a lot of time recalculating some layout stuff about how it's showing nothing, and the whole thing is just ridiculous.

[2017-04-26 21:12] fflorent commented on #2727
Ouch. Do you want me to export the profiling for the example I produced in my first post?

Florent

[2017-04-26 21:23] zivkaziv commented on #2746
I'm on it.. I'll create pool request for it soon..

[2017-04-26 21:24] jasonLaster commented on #2727
Thanks @florent. That would be great.

I just got off the phone with @asolve and we investigated adding `reselect`, which would help us avoid unnecessary component re-renders by memoizing selectors.

[here] is an incomplete POC.

We would like to address several of the components that currently have "ugly" `shouldComponentUpdate` calls:

- [ ] Frames
- [ ] Breakpoints
- [ ] Scopes
- [ ] Expression

[2017-04-26 21:33] #2742 closed

[2017-04-26 21:35] #2743 closed

[2017-04-26 21:36] #2747 closed

[2017-04-26 21:36] jasonLaster commented on #2747
Fixed in #2748

[2017-04-26 21:49] #2687 closed

[2017-04-27 04:12] asolove commented on #2727
As Jason said, [work has started](https://github.com/devtools-html/debugger.html/compare/master...asolove:reselect2?expand=1#diff) on using reselect to memoize the data needed by components and avoid re-rendering them when possible.

Unfortunately, that work is not going to totally fix this problem. Even after removing all the other component re-renders, I still end up with about three seconds whe

[2017-04-27 05:50] clarkbw commented on #2746
This looks 😎

[2017-04-27 06:27] zivkaziv commented on #2746
I have a question, can I just edit the file "debugger.properties"?
I want to add there copyStackTrace value and copyStackTrace access key (like copySourceUrl

[2017-04-27 06:37] jasonLaster commented on #2746
Go for it. That's the point!

Ask in our slack and you'll more reliably get answers
On Thu, Apr 27, 2017 at 9:27 AM ZivKa <notifications@github.com> wrote:

[2017-04-27 15:26] andreicristianpetcu commented on #2690
I did not have time to work on this task and I'm glad @noamkatzir had but please in the future pick tasks that have the [available](https://github.com/devtools-html/debugger.html/issues?q=is%3Aopen+is%3Aissue+label%3Aavailable) lable and not the in progress label.

[2017-04-27 15:45] jasonLaster commented on #2690
Sorry @andreicristianpetcu I was at a meetup last night and missed the label.

[2017-04-27 15:58] andreicristianpetcu commented on #2685
Can I work on this? @clarkbw

[2017-04-27 15:59] andreicristianpetcu commented on #2690
No problem :) @jasonLaster

[2017-04-27 16:07] jasonLaster commented on #2685
Go for it @andreicristianpetcu

[2017-04-27 16:08] jasonLaster commented on #2685
You can see other recent PRs

[2017-04-27 16:21] andreicristianpetcu commented on #2685
[Good tip](https://github.com/devtools-html/debugger.html/pulls?utf8=%E2%9C%93&q=is%3Apr%20is%3Aclosed%20remove%20feature%20flag%20)! Thank you @jasonLaster

[2017-04-27 17:08] clarkbw commented on #2688
@adamki do you still want this one or want to take something like #2678 watch expressions instead?

[2017-04-27 17:53] adamki commented on #2688
Im still on it.

I've removed all the found instances of `showSource`. Mostly, i am still a bit unclear about the process of setting the showSource feature to default/if this still needs to be done. Am I correct in thinking that if the `showSource` feature has been shipped, that it no longer needs to be explicitly enabled?

Sorry for the redundant question. Still learning how the feature configs w

[2017-04-27 17:56] andreicristianpetcu commented on #2678
Can I work on this one also? @clarkbw

[2017-04-27 18:02] AnshulMalik commented on #2678
Go ahead @andreicristianpetcu

[2017-04-27 18:06] andreicristianpetcu commented on #2678
[done](https://github.com/devtools-html/debugger.html/pull/2762) @AnshulMalik

[2017-04-27 18:46] clarkbw commented on #2688
I think what you mentioned in https://github.com/devtools-html/debugger.html/issues/2688#issuecomment-297192438 is the only remaining reference to `showSource`

Take a look at this PR for watch expressions: #2762 and you'll see more of how the `isEnabled` flags are used to toggle features.

And it seems like most of the others from #2689 might be taken already 😿 We can find something else.

[2017-04-27 22:04] #2678 closed

[2017-04-28 13:10] greenkeeper[bot] opened #2767 "An in-range update of lint-staged is breaking the build 🚨"
## Version **3.4.1** of [lint-staged](https://github.com/okonet/lint-staged) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/devtools-html/debugger.html/compare/greenkeeper%2Flint-staged-3.4.1">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      lint-staged
    </td>
  </tr>
  <tr>
    <t

[2017-04-28 14:57] clarkbw commented on #2745
Got the go ahead from the kind folks at webpack for using the icon!

[2017-04-28 16:15] sharathnarayanph commented on #2676
Hey guys! I am new to the project. I have been playing around with the code for few days now and I would like to jump in. Is it okay if I start working on this issue?

[2017-04-28 16:16] jasonLaster commented on #2676
Go for it!
On Fri, Apr 28, 2017 at 7:15 PM Sharath Narayan <notifications@github.com>
wrote:

[2017-04-28 16:16] jasonLaster commented on #2676
Join us in slack if you have questions
On Fri, Apr 28, 2017 at 7:15 PM Jason Laster <jason.laster.11@gmail.com>
wrote:

[2017-04-28 16:16] sharathnarayanph commented on #2676
Thanks Jason!

[2017-04-28 20:24] adamki commented on #2688
There is a pending PR on [this](https://github.com/devtools-html/debugger.html/pull/2766). But there is a small git conflict. I tried rebasing and ran into some issue(likely my bad as im new to rebasing) and will look into it further once I have a bit more time. I just wanted to let others know if they have the desire to take a look at this issue.

[2017-04-29 12:27] greenkeeper[bot] opened #2771 "An in-range update of remark-cli is breaking the build 🚨"
## Version **3.0.1** of [remark-cli](https://www.npmjs.com/package/remark-cli) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/devtools-html/debugger.html/compare/greenkeeper%2Fremark-cli-3.0.1">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      remark-cli
    </td>
  </tr>
  <tr>
    <t

[2017-04-29 18:12] andreicristianpetcu commented on #2630
I will do a test for Outline.

[2017-04-29 18:37] sharathnarayanph commented on #2667
Do the changes have to be made for the 4 keys, "sourceSearch.search.key", "sources.search.key", "sourceSearch.search.again.key" & "symbolSearch.search.key" ?

[2017-04-29 20:01] jasonLaster commented on #2667
I believe so
On Sat, Apr 29, 2017 at 9:37 PM Sharath Narayan <notifications@github.com>
wrote:

[2017-04-29 21:33] sharathnarayanph commented on #2667
Thanks @jasonLaster! I will work on it.

[2017-04-30 03:21] jasonLaster commented on #2630
Great!
On Sat, Apr 29, 2017 at 9:13 PM Andrei Petcu <notifications@github.com>
wrote:

[2017-04-30 12:51] vyv03354 opened #2772 "Remove version parameter from assets/panel/index.html"
See [Gecko bug 1342144](https://bugzilla.mozilla.org/show_bug.cgi?id=1342144) for details.

[2017-04-30 14:04] andreicristianpetcu commented on #2630
I got stuck with [my unit test](https://github.com/andreicristianpetcu/debugger.html/blob/d982d2c3b2e6c8168815353a174f4290ea9229d0/src/components/tests/Outline.js#L37-L44) :( maybe somebody can help me out.
The Outline generates a list of functions and variables when the [symbolDeclarations](https://github.com/andreicristianpetcu/debugger.html/blob/d982d2c3b2e6c8168815353a174f4290ea9229d0/src/comp

[2017-05-01 14:28] jasonLaster commented on #2630
Hmm - I just made a branch which has a slightly different approach, but similar outcome (no symbols). It uses patterns found in other tests

https://github.com/devtools-html/debugger.html/compare/master...jasonLaster:outline-test?expand=1

[2017-05-01 14:47] #2746 closed

[2017-05-01 14:49] #2700 closed

[2017-05-01 14:50] #2232 closed

[2017-05-01 14:50] jasonLaster commented on #2232
we can re-open if we need to sync a variable

[2017-05-01 19:08] greenkeeper[bot] opened #2778 "An in-range update of documentation is breaking the build 🚨"
## Version **4.0.0-rc.1** of [documentation](https://github.com/documentationjs/documentation) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/devtools-html/debugger.html/compare/greenkeeper%2Fdocumentation-4.0.0-rc.1">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      documentation

[2017-05-02 02:05] #2688 closed