[2017-09-05 14:09] jasonLaster commented on #2801
@codehag lets land prioritize this so we can detect these regressions sooner!

[2017-09-05 14:31] jasonLaster commented on #3738
This is now fixed. thanks for being patient @miketaylr

![](http://g.recordit.co/34ed952qrP.gif)

[2017-09-05 14:33] jasonLaster commented on #3736
@bwhitty i'm going to close this as it is not something that we can "fix" per-se. We take perf seriously though and are always looking at improving our start up time. Thanks for sharing

[2017-09-05 14:53] #3738 closed

[2017-09-05 14:53] #3460 closed

[2017-09-05 14:54] codehag opened #3895 "[Outline view] Empty UI"
We want to be able to give an informative panel if there are no functions found in a given file

[2017-09-05 15:17] Fischer-L commented on #3831
![debugger_local_try](https://user-images.githubusercontent.com/5627487/30067820-7cb984b8-928e-11e7-9379-a12a1173f595.gif)

@jasonLaster Thanks for the reply. Please see the gif. Tried the todo mvc example. I paused on L33 (L34 as well), but still didn't see the flashing debugger line. My debugger project code base should be new, just pulled 2 days ago. I would like to solve this issue so the 1st

[2017-09-05 16:54] jasonLaster commented on #3831
Hi @Fischer-L I thought i was losing my mind, i couldn't repro it either.

It turns out you need to pause in initialize and then select another frame:

1. click View in the call stack
2. select the top frame of the group
3. mouse over delegateevents

Note, i'm no longer sue if my fix will work. Try logging the render calls in DebugLine to see what's triggering the update first :)

![](http://g.rec

[2017-09-05 18:59] #3787 closed

[2017-09-05 18:59] #3687 closed

[2017-09-05 18:59] #3694 closed

[2017-09-05 21:00] bwhitty commented on #3736
Thanks @jasonLaster. Could I possibly get some more information on what the root cause was and why it's a wontfix? I had to switch to Chrome to work on this product, and it handles everything gracefully. Don't take that as a dig, as it isn't, it's just more information that this isn't, for instance, some insane anomaly of a project.

[2017-09-05 21:02] codehag commented on #3736
@bwhitty is this a large file bug? it looks from your description like it is. If that is the case it *might* be fixed. Do you have a test page we can take a look at?

[2017-09-05 22:28] digitarald opened #3899 "React Devtools throws Debugger into a loop"
### STR

- Installl https://addons.mozilla.org/en-US/firefox/addon/react-devtools/
- Open Debugger

### Result

Constantly reloading source and unusable Debugger:

<img width="1182" alt="image" src="https://user-images.githubusercontent.com/8599/30086159-aa091978-924e-11e7-8ff4-7e06df5c2cbb.png">

[2017-09-05 22:49] digitarald commented on #2782
Right clicking the tab and choosing pretty print still works.

[2017-09-05 23:08] bwhitty commented on #3736
@codehag Awesome! It's quite possible it's a large file issue as the bundle and source map could be enormous. I will check again with Nightly once #3885 gets released. Would that fix be integrated tonight? (sorry, not sure what Nightly build/release process is like)

[2017-09-05 23:30] digitarald commented on #3451
For reference, the file type is `text/javascript; charset=utf-8`. Would that be not whitelisted? #2782 has a similar symptom but the content-type is `application/javascript`.

[2017-09-06 00:53] darkwing opened #3901 "Watch Expression Text Bleeds Over Remove Icon"
The "x" icon to remove a watch expression is difficult to see when the expression extends past its given space, as the close icon overlaps the text:

<img width="310" alt="watchexpressionclose" src="https://user-images.githubusercontent.com/46655/30089652-d566e5b2-9273-11e7-93d5-5390b91d89d1.png">

We could employ this technique:

https://davidwalsh.name/css-ellipsis

Or we could pad the close ico

[2017-09-06 02:07] darkwing opened #3903 "Provide Selected Hover Color"
When hovering over selected items, their background color matches an unselected background color.  As a nice detail, it would be cool if we could make the selected hover color closer match the selected color than the normal back.  In the case of this gif, a slightly lighter blue:

![selectedhover](https://user-images.githubusercontent.com/46655/30091238-36ea504e-927e-11e7-808b-9f1b025f2b26.gif)

[2017-09-06 02:19] darkwing opened #3904 "Audit Text Case"
Debugger.html jumps between text case patterns.  For example:

"Close tab"
"Reveal in Tree"
"Blackbox Source"

It would be worth the time to audit text case and become consistent.  Firefox context menus use an uppercase pattern, FWIW:

"Save Page As..."
"Select All"
"Inspect Element"

[2017-09-06 12:44] nyrosmith commented on #3895
I am on it

[2017-09-06 13:03] jasonLaster commented on #3901
Nice find. I'm worried that we need at least 60% of the space for showing an expression value.

I think a CSS elipsis with a maximum width of 40% probably is the way to go. I'm not a huge fan of this UI in general and I hope to see it deprecated in the winter :)

[2017-09-06 18:30] gabrielluong opened #3909 "[themes] Update the sidebar and accordion colors for the dark theme"
In the dark theme:
Sidebar background color is var(--grey-90)
Accordion header background color is #141416

[2017-09-06 18:31] jasonLaster opened #3910 "[Tabs] selecting a source in the show more dropdown doesn’t select it"
It looks like selecting a source in the show more dropdown doesn’t select it. My guess is that it moves the tab, without selecting it.

[Steps to reproduce]:
1. Launch Firefox.
2. Access the https://devtools-html.github.io/debugger-examples/examples/todomvc/ webpage.
3. Open multiple files from the source list pane.
4. Open the list view dropdown.
5. Select a file from the dropdown.

[Expected res

[2017-09-06 19:49] jasonLaster opened #3911 "[EmptyLines] don't update when the debuggee reloads"
#### STR

1. start debugger inception
  1. open the launchpad
  2. open a new firefox
  3. open todomvc
  4. open launchpad in ff and point it to debugger
2. in the original browser or a new tab open the launchpad and point to the first debugger.html
3. go to actions/addBreakpoint

observe that line 50 is disabled

Steps to fix:

I recommend adding a new fixture in the parser tests and trying to r

[2017-09-06 19:53] darkwing commented on #3911
Everything looks correct up until 44; 45 should be disabled, as should 49, 53, 55, etc.  Huh.

[2017-09-06 20:55] darkwing commented on #3911
Oddly enough, at first try, it looks like it's working properly here:

<img width="952" alt="wfmlines" src="https://user-images.githubusercontent.com/46655/30134150-bd870280-931b-11e7-9f6d-af0bccca8dab.png">

[2017-09-06 21:23] gabrielluong opened #3914 "Rename all instances of --theme-selection-background-semitransparent to --theme-selection-background-hover"
--theme-selection-background-semitransparent was already removed in variables.css in m-c and all instances of that variable started being used as  --theme-selection-background-hover

[2017-09-06 22:55] bomsy commented on #3782
i'm thinking we should fall back to showing the full path, when we find an unknown scheme

[2017-09-07 01:00] gabrielluong opened #3917 "Welcome box should have a --theme-body-background"
Now that all the sidebars are using the --theme-sidebar-background. The welcome should use the --theme-body-background.

[2017-09-07 01:49] #3917 closed

[2017-09-07 01:51] #3891 closed

[2017-09-07 01:53] #3914 closed

[2017-09-07 01:54] #3909 closed

[2017-09-07 03:06] gabrielluong opened #3920 "Use --theme-selection-background for the focused node in the managed tree in the dark theme"
The focused node in the managed tree should use --theme-selection-background for its background-color in the dark theme.

Remove
.theme-dark .managed-tree .tree .node.focused {
  background-color: var(--theme-selection-background-hover);
  padding-bottom: 2px;
}

[2017-09-07 03:33] gabrielluong opened #3922 "[theme] Welcome box should use a --theme-toolbar-background in the light theme"
For the welcome box, we should use --theme-toolbar-background in the light theme and --theme-body-background in the dark theme.

[2017-09-07 04:39] digitarald commented on #3777
@tromey can you confirm that the source map service has all you need and that we should we file the bug in bugzilla to have inspector & console updated?

[2017-09-07 05:17] digitarald opened #3924 "[ProjectSearch] Search in file doesn't have 'No Results' state"
The screen for search is empty as blank state and stays empty when nothing is found. It is is hard to tell if the search is just not doing anything.

*Source search* shows `No Results`. *Search in file* shows an empty space.

Source search | File search
------------ | -------------
<img width="540" alt="image" src="https://user-images.githubusercontent.com/8599/30223711-e243932a-9480-11e7-8e5e-a61

[2017-09-07 09:57] pradeepgangwar commented on #3872
I think in this issue we are talking about the cursor style that i observed when I hover over to **Sources** and  **Outline** Tab. Cursor changed to - (like it is in the) text edit mode.

And i think we don't want it. Am i right?

[2017-09-07 11:55] jnachtigall commented on #3893
I guess because of a11y (semantics) this would also mean to use `<button>` instead of `<p>`. (https://github.com/evcohen/eslint-plugin-jsx-a11y is pretty cool).

Well, actually I come here because I noticed how "Memory" tab:
![image](https://user-images.githubusercontent.com/3307404/30162134-d46f1218-93d3-11e7-9e66-8c2d0d82f81b.png)
and "Performance" tab already have such a "action" buttons:
![ima

[2017-09-07 12:08] tromey commented on #3777
I think the needed work should be done in the toolbox, so I filed https://bugzilla.mozilla.org/show_bug.cgi?id=1397714

I don't think there's anything to do in the debugger, so I think this particular bug can be closed now.

[2017-09-07 14:27] jasonLaster opened #3926 "[ProjectSearch] Focus w/ streaming results"
From @juliandescottes

- UX issue: focus of file search moves to the list of results when results are returned
  - go to http://firefox-dev.tools/debugger-examples/examples/todomvc/
  - cmd+shift+F, type "test"
  - wait for results
  - hit BACKSPACE to correct your query
  => since the focus was moved to the results list the browser navigates to the previous page
  The user feedback for the focuse

[2017-09-07 14:29] jasonLaster opened #3927 "[SourceSearch] query is not cleared when using cmd+P"
STR:

- go to http://firefox-dev.tools/debugger-examples/examples/todomvc/
- cmp+P, type app-view, valid with RETURN
- cmp+P, "app-view" is still in the input field

[2017-09-07 14:40] jasonLaster opened #3928 "[Preview] scrolling clears the popup"
[Steps to reproduce]:
1. Launch Firefox.
2. Access the https://devtools-html.github.io/debugger-examples/examples/todomvc/ webpage.
3. Open the debugger.
4. Open the todo-view.js file.
5. Add a breakpoint at line 34.
6. Add an todo item in the UI.
7. Hover over "this" from line 34.
8. Expand "$el and el".
9. Scroll while moving the mouse a little inside the panel.

[Expected result]:
Scrolling ins

[2017-09-07 14:49] jasonLaster opened #3929 "[Welcome] cmd+shift+o is not handled"
We have a funny problem where if you press `cmd+shift+o` when viewing the welcome screen. It currently opens the settings. it should be a no-op.

[2017-09-07 15:08] raghur opened #7613 "Sourcemapping url with a data uri - FF does not use the sourcemap."
I'm developing an app in vue.js with Karma and webpack. While debugging in browser, the sourcemap is specified with a //# sourcemappingurl = and a data uri with the source map. This seems to work fine in Chrome but not in FF (57). I prefer to use FF but in this case am forced to use Chrome. I checked bugzilla and googled a bit but it's unclear if there's a reason why firefox doesn't support this.

[2017-09-07 18:10] jasonLaster commented on #3899
perhaps this is because `browser.chrome` and remote debugging is on.

[2017-09-07 18:43] stellargo commented on #1216
[code]
Getting the above error when starting yarn.
node version: 7.0.0
nvm version: 0.32.1

[2017-09-07 18:45] nyrosmith commented on #3830
@jasonLaster I think this can be closed because the PR is merged and you created a new issue for clickable actions

[2017-09-07 19:17] #3830 closed

[2017-09-07 19:20] #3920 closed

[2017-09-07 19:20] #3922 closed

[2017-09-07 19:21] jasonLaster opened #3936 "[Breakpoints] Restoring breakpoints "
regression: when restoring breakpoints:

STR:
  - go to http://firefox-dev.tools/debugger-examples/examples/todomvc/
  - add a breakpoint in app-view.js :: addOne
  - hit the breakpoint (by adding a todo)
  - resume
  - close devtools, reopen devtools
  (the breakpoint is still visible)
  - add a todo => breakpoint is not hit

[2017-09-08 03:43] gabrielluong opened #3939 ".expression-value is never used"
The CSS class .expression-value is never used and should probably be removed as far as I can tell.

[2017-09-08 06:32] juliandescottes commented on #3899
I can confirm I am getting this regularly while debugging. It doesn't happen when I open the debugger, but when I'm stepping the debugger will sometimes simply open this "eval code" tab and keep reloading it.

[2017-09-08 06:53] juliandescottes commented on #3899
I think I have some ideas about this.

First of all the react extension is calling inspectedWindow.eval every 1s if React is not defined on the page: https://github.com/facebook/react-devtools/blob/2c1789627caa6d2fff3790564658a61cdf326b4b/shells/webextension/src/main.js#L21

So first of all I think this issue should mostly happen on sites which do not use React.

Now, looking at the stack trace, i

[2017-09-08 13:49] captainbrosset opened #3942 "[Editor] Add a menu item to execute selected text in the console"
Filing from some feedback received today on IRC #devtools:

"Selecting text in debugger to evaluate in console.  Couldn't figure out how to do that, but seems like a super easy convenience function.
Just an extra right click entry that copies it over and runs it."

[2017-09-08 13:51] jasonLaster commented on #3942
Yes, that's a great win. Chrome also uses the selection to show a preview. They started doing this 8 months or so ago.

[2017-09-08 14:15] juliandescottes opened #3943 "F3 opens the Firefox search before selecting the next text match"
The feature introduced for [2641](https://github.com/devtools-html/debugger.html/issues/2641) in (PRs #2673 and #2642) has apparently regressed.

In the latest Nightly, if I do a text search with the debugger, pressing F3 will first make the Firefox search appear. After that will start selecting the next occurrence of the query in the debugger.

[2017-09-08 14:23] juliandescottes opened #3944 "[Preview] Missing tooltip for falsy values"
Try to run the following code:
[code]

When paused on debugger, try to hover on each of the variables available in scope. The tooltip is not displayed for any of the falsy variables.

![falsy_tooltip](https://user-images.githubusercontent.com/1141550/30216051-0f84d34a-94b2-11e7-9c7b-f6c326d0913a.gif)

[2017-09-08 14:27] jasonLaster commented on #3944
Here is a [site] where you can try it out

[site]: https://fabulous-umbrella.glitch.me/

[2017-09-08 14:29] jasonLaster commented on #3899
if you clear the debugger’s tabs  and pause on exception prefs, you’ll see this:

1. nothing happens
2. when you select pause on exceptions it tries to load the source of the debuggee eval, it fails to, it shows the error…
3. even if you turn off poe, it will still try loading it because we save the tab url, it is an endless loop of trying because every time rdt evals, it gets a new source, sees i

[2017-09-08 16:11] jasonLaster commented on #3899
We'll do two fixes here:

1. update how content scripts URL and contentType are set. this will let the client fetch the source.
2. we'll fix `newSource` to check to see if the source already exists. This will keep the client from re-fetching the same source text.

[2017-09-08 16:44] jasonLaster opened #3947 "Chrome Debugging"
This is a tracking issue for debugging Chrome/V8.

- [ ] show variables #2443
- [ ] issues with breakpoints #3562
- [ ] it shows numbers as [Object object] #3002
- [ ] Anonymous functions not labelled in call stack #2878

[2017-09-08 16:45] #3562 closed

[2017-09-08 16:45] jasonLaster commented on #3562
added to a new tracking issue: #3947

[2017-09-08 16:46] jasonLaster commented on #2443
added to a tracking issue #3947

[2017-09-08 16:46] #2443 closed

[2017-09-08 16:46] jasonLaster commented on #3002
added it to a tracking issue #3947

[2017-09-08 16:46] #3002 closed

[2017-09-08 16:48] #3448 closed

[2017-09-08 16:48] jasonLaster commented on #3448
moving to the enhancements board https://github.com/devtools-html/debugger.html/projects/5

[2017-09-08 16:49] jasonLaster commented on #3311
closing as this is being tracked elsewhere.

Also it looks fixed?

[2017-09-08 16:49] #3311 closed

[2017-09-08 16:51] #2878 closed

[2017-09-08 16:51] jasonLaster commented on #2878
added to the tracking issue #3947

[2017-09-08 16:52] jasonLaster commented on #3092
moving to the enhancements board:
https://github.com/devtools-html/debugger.html/projects/5

[2017-09-08 16:52] #3092 closed

[2017-09-08 16:59] jasonLaster commented on #3462
@nt1m are you still interested in this?

[2017-09-08 17:01] jasonLaster commented on #3216
@anshul still interested in this?

[2017-09-08 17:02] jasonLaster commented on #3699
Im finding glitch to be really good for simple examples

[2017-09-08 17:17] bomsy commented on #3600
@jasonLaster any good STR?

[2017-09-08 17:27] #3600 closed

[2017-09-08 17:27] jasonLaster commented on #3600
closing because it's a dupe #3597

[2017-09-08 17:27] #3939 closed

[2017-09-08 17:29] jasonLaster commented on #3709
i'm closing because I believe this is a dupe of #3460.

Nightly should have the fix on monday, which will be a good time to test.

[2017-09-08 17:29] #3709 closed

[2017-09-08 17:31] jasonLaster opened #3949 "[Stepping] Async Stepping can create an accidental BP"
If you close and reopen the debugger while paused on an async step, the debugger will create a breakpoint.

STRs:
- go to https://fiddle.jshell.net/20zej0hp/1/show/ (by the way what's the least painful way of creating debugger examples? jsfiddle is kind of bad)
- open debugger
- click on the button in the page
- step over some waitFor calls
- close debugger
- open debugger
=> A breakpoint has been

[2017-09-08 17:34] jasonLaster opened #3950 "[Shortcut] cmd+shift+o is used twice"
The debugger overrides the default options for `cmd+shift+o` which opens the settings pane. We should choose one action and change the other, basically it should either open function search or settings not either.

[2017-09-08 17:35] jasonLaster commented on #3883
This happens when the `eventListeners` feature is on. Closing this issue as it should just be off now.

[2017-09-08 17:36] #3883 closed

[2017-09-08 17:37] jasonLaster commented on #3884
@nyrosmith can you try testing this in Firefox Nightly. Basically not the launchpad, but in the panel.

[2017-09-08 17:37] #3863 closed

[2017-09-08 17:39] jasonLaster commented on #3844
just moved the issue to pretty-fast https://github.com/mozilla/pretty-fast/issues/17

[2017-09-08 17:39] #3844 closed

[2017-09-08 17:41] jasonLaster commented on #3834
closing this issue, but feel free to propose some changes. I like squeezing some perf out of the debugger.

[2017-09-08 17:41] #3834 closed

[2017-09-08 17:42] digitarald commented on #3699
gist + bl.ocks.org works great for me and can track changes as well.

Example for a console issue: https://bl.ocks.org/digitarald/462312bed5e78242ce3fbfbb9bd23f7c

[2017-09-08 17:43] jasonLaster commented on #3699
nice, i think i liked glitch because of live edit as well. I'm often tweaking to get the smallest case

[2017-09-08 17:44] #3798 closed

[2017-09-08 17:44] #3300 closed

[2017-09-08 17:45] jasonLaster commented on #3301
Closing as we're working on some of this now.

[2017-09-08 17:45] #3301 closed

[2017-09-08 17:48] jasonLaster commented on #3555
closing as OI work is done in core

[2017-09-08 17:48] #3555 closed

[2017-09-08 17:49] jasonLaster commented on #3372
Closing this issue as we're currently working on refactoring our redux thunk actions and will continue evaluating sagas as we go.

Thanks for all the input!

[2017-09-08 17:49] #3372 closed

[2017-09-08 17:51] jasonLaster commented on #3520
we're now showing the full results

[2017-09-08 17:51] #3520 closed

[2017-09-08 18:37] nyrosmith commented on #3884
@jasonLaster do you mean just installing nightly? How do I get master into that?

[2017-09-08 18:41] tromey commented on #3311
Yes, I think it is fixed.

[2017-09-08 19:13] jasonLaster commented on #3924
@abhinav is looking into it

[2017-09-08 19:55] jasonLaster commented on #3699
closing as we can discuss in the ISSUE_TEMPLATE

[2017-09-08 20:46] jasonLaster opened #3953 "[Parser] use a source cache"
We currently send the source object to the parser worker every time we call an API, this could potentially be a perf bottleneck.

Instead, we should use a cache so we only need to send it once:

[code]

https://github.com/devtools-html/debugger.html/blob/master/src/utils/parser/steps.js#L6-L8
https://github.com/devtools-html/debugger.html/blob/master/src/utils/parser/getSymbols.js#L335-L336

[2017-09-08 21:53] darkwing opened #3954 "Pad the Conditional Expression Close Button"
We should slightly pad the close button to the right of Conditional Expressions.

<img width="621" alt="conditionalclose" src="https://user-images.githubusercontent.com/46655/30232557-43ad5a08-94b6-11e7-9041-13e5360f50b4.png">

[2017-09-09 09:39] Fischer-L commented on #3831
![no_flash_debug_line_in_sub_frame](https://user-images.githubusercontent.com/5627487/30238991-291114ee-9585-11e7-906a-c23a3b4299c5.gif)
@jasonLaster Hi still could not see the flash debugger line in the current stack frame or sub stack frames. Just rebased on Master and my tip is at 09438b25f682a875b4d41170f9161efedd113730 now.

[2017-09-09 09:44] nyrosmith commented on #3944
I tried to fix this and I nailed it to https://github.com/devtools-html/debugger.html/blob/09438b25f682a875b4d41170f9161efedd113730/src/actions/ast.js#L150

But then I really got stuck... Maybe this is helpful for someone more experienced on the codebase

[2017-09-09 13:10] jasonLaster commented on #3944
what did you see there? Was there a problem w/ the `result` being falsey?

try

[code]

[2017-09-09 13:11] jasonLaster commented on #3831
haha - okay. That's pretty strange. Thanks for investigating...

[2017-09-09 13:12] #3699 closed

[2017-09-09 13:50] Fischer-L commented on #3824
@jasonLaster
Also found the similar tokens as "<", ">", "+", "-", "*", "/" produce the same issue.
![3824](https://user-images.githubusercontent.com/5627487/30240709-20d75d74-95a8-11e7-914f-fa4412be33ad.gif)

Tried to filter out these tokens as well as below.
![3824_solution](https://user-images.githubusercontent.com/5627487/30240711-292c1b5e-95a8-11e7-8d42-958ec55beda7.gif)

Probably we should fi

[2017-09-09 13:51] jasonLaster commented on #3824
Yes! Go for it. We have an issue for = but they're all valid.
On Sat, Sep 9, 2017 at 9:50 AM Fischer-L <notifications@github.com> wrote:

[2017-09-09 13:51] jasonLaster commented on #3824
The issue for = has some notes
On Sat, Sep 9, 2017 at 9:50 AM Jason Laster <jason.laster.11@gmail.com>
wrote:

[2017-09-09 14:08] Fischer-L commented on #3824
@jasonLaster
I wasn't able to push to my github nor to pass `yarn run test-all` command.
Just keep encountering the below error (even on the pure master branch) and do `yarn install` didn't help either. Did I miss something in my environment? Thank you.
[code]

[2017-09-09 14:28] nyrosmith commented on #3824
@Fischer-L push with --no-verify flag
That's a known issue

[2017-09-09 14:30] jasonLaster commented on #3824
Upgrade to yarn 0.28.4
On Sat, Sep 9, 2017 at 10:28 AM Martin Schmid <notifications@github.com>
wrote:

[2017-09-09 15:12] nyrosmith commented on #3944
Oh stupid me. So obvious...

[2017-09-09 16:13] jasonLaster commented on #3824
@hugsy is on it

[2017-09-10 06:56] Fischer-L commented on #3824
@nyrosmith

Thanks for the info

@jasonLaster

Thanks, upgrading yarn and not seeing the error of "TypeError: projects.map is not a function" with `yarn test`.
However, another issue about eslint came: `yarn lint` would bring error of
[code]
Then I installed "eslint-plugin-mozilla@latest" but it would bring this error:
[code]
Since the `yarn test` was passed at least and the patch is not big, will

[2017-09-10 13:22] jasonLaster opened #3965 "[Tabs] are shifted down one pixel"
It looks like our recent CSS change to the editor header caused tabs to be shifted down a bit.

See `Editor/Tabs.css`

#### Screenshot

<img src='https://shipusercontent.com/47f4de97ab42ee64e9abb6e3a4e9166b/Screen%20Shot%202017-09-10%20at%209.20.30%20AM.png' title='Screen Shot 2017-09-10 at 9.20.30 AM.png' width=746>

[2017-09-10 13:27] jasonLaster commented on #3911
Yep. I was able to reproduce this by adding a comment in `Editor/index.js` and reloading, then removing and reloading.

It looks like we don't do a good job of clearing the lines when they change.

[code]

[2017-09-10 13:40] #3824 closed

[2017-09-10 13:43] jasonLaster opened #3966 "[Preview] show small values in a tooltip"
It would be nice if simple values like strings and numbers that are smaller than 10 characters used the tooltip.

See the GIF below. `0` and `" "` have the popup when they'd look good in the tooltip.

Here is a small sample

[code]

![](https://user-images.githubusercontent.com/2511026/30241412-38483cfa-9583-11e7-8ed6-f9a7fdc1b315.gif)

[2017-09-10 13:46] jasonLaster commented on #3966
@nyrosmith is on it

[2017-09-10 14:07] jasonLaster commented on #3966
actually, on the other hand maybe we don't want to show preview at all for these because you just see them:

https://brash-success.glitch.me/

[2017-09-10 20:52] jasonLaster opened #3968 "[Preview] the highlight line can go crazy"
I've found that on occasion (5%) of the time, there are some weird conditions that can cause the preview line to go crazy. Perhaps it is the fact that it tries to evaluate something that is async, i'm not sure. but When it does the line and the popup jump around. It is also often shifted over by some amount.

![](http://g.recordit.co/CcA9VXsvQd.gif)

[2017-09-11 17:37] jasonLaster opened #3971 "[Breakpoints] become impossible to remove"
It's possible to to get into a place where you can not remove it. When this happens, you need to use `about:config` to clear the breakpoint.

When does this happen:

1. source maps are used
2. the source changes
3. the debugger is opened/closed and debuggee is reloaded

I am still looking for simple STR, although i can reproduce it when i stress test the debugger.

Options:

1. update the code res

[2017-09-11 19:17] darkwing opened #3972 "Weird Tree Highlighting / Overflow"
When scrolling horizontally in tree, the highlight background color looks weird:

<img width="252" alt="weirdhighlight" src="https://user-images.githubusercontent.com/46655/30292444-cbe86aa6-96fb-11e7-8370-933358d9ed1f.png">

*Probably* a Firefox quirk more than anything.  We should investigate the cause and then file a Firefox bug if it appears to be a browser issue.

[2017-09-11 21:23] darkwing commented on #3972
This has something to do with it:

[code]

Removing that CSS solves the problem, though the text wraps.  We should focus the fix around this.

[2017-09-11 22:04] #3924 closed

[2017-09-11 22:51] jasonLaster opened #3974 "Simplify scope display names"
We currently simplify function display names when we're showing call stacks.

We should do the same thing here: `exports.syncClientBreakpoint</_ref<` => `_ref`. And... if we dropped babel's async to generator, it would be `syncClientBreakpoint`.

#### Screenshot

![Screen Shot 2017-09-11 at 6.49.57 PM.png](https://shipusercontent.com/aceb27ede412bfb9894c113ccbe0089c/Screen%20Shot%202017-09-11%20at

[2017-09-12 00:33] jasonLaster opened #3975 "[SourceTree] show files that don’t have a domain"
STR:
1. go to this [url](https://voz37vlg5.codesandbox.io/)
2. observer the actions, components, etc are missing from the tree

#### Firefox

![Screen Shot 2017-09-11 at 8.24.46 PM.png](https://shipusercontent.com/110282e1ac3adb477c81647b6f71d0c7/Screen%20Shot%202017-09-11%20at%208.24.46%20PM.png)

#### Chrome

![Screen Shot 2017-09-11 at 8.24.14 PM.png](https://shipusercontent.com/5a1309588b58865

[2017-09-12 01:52] darkwing opened #3976 "Add Group Breakpoint Removal"
It would be nice if we could remove breakpoints with one click.  I propose we add a "x" icon in the heading for that block which would remove every breakpoint.

<img width="300" alt="breakpointscheckboxes" src="https://user-images.githubusercontent.com/46655/30304406-f94c6f9c-9732-11e7-93f1-d41923a970d5.png">

[2017-09-12 02:17] wldcordeiro commented on #3976
I'd support this more if the breakpoint list was organized like so, but I still think it'd be nice to have.

[code]

[2017-09-12 02:20] darkwing opened #3977 "Clicking Editor Line Numbers Too Quickly Causes Promise Error"
Edge case but if you click a line number too quickly you get a `TypeError: promiseInst is undefined` error from `promise.js`'s `promiseMiddleware`.

[2017-09-12 02:34] gabrielluong opened #3978 "Remove the usage of --theme-content-color3 that overrides the --theme-comment color"
The debugger uses the --theme-content-color3 in the dark theme to override the previous --theme-comment color. This is no longer needed and should be removed.

[2017-09-12 02:55] jasonLaster commented on #3976
We have a context menu item. I'm also thinking of having an ellipsis for other actions as well when we look at a couple breakpoint ux issues

- moving PoE
- moving pause on next statement
- grouping by file

[2017-09-12 02:56] jasonLaster commented on #3977
there's a similar issue about cmd+b too quickly too

[2017-09-12 12:02] juliandescottes opened #3980 "Remove confusing comments in reducers/pending-breakpoints.js"
Was trying to debug the generated bundle in Firefox, and saw that reducers/pending-breakpoints.js is annotated as "@module reducers/breakpoints"

https://github.com/devtools-html/debugger.html/blob/master/src/reducers/pending-breakpoints.js#L6-L9

Looks like a lot here was duplicated from reducers/breakpoints.js. I guess avoiding duplication would be nice, but in the meantime, let's remove the irr

[2017-09-12 13:39] jasonLaster commented on #3264
I'm going to close this issue because we're continuing to make progress on refactoring the editor.

Our plan is to refactor a feature before we work on it. We did this w/ debugLine and it worked well.

Most of our tracking issues are for large features or lots of small refactorings. This is a large code health project with a lot of risk, so it doesn't feel right to keep a tracking issue open for i

[2017-09-12 13:39] #3264 closed

[2017-09-12 13:41] #3929 closed

[2017-09-12 13:42] #3927 closed

[2017-09-12 13:51] #3910 closed

[2017-09-12 13:56] #3714 closed

[2017-09-12 14:12] tromey opened #7611 "write jsdoc for devtools-source-map"
The devtools-source-map module exports a number of functions and has some hidden requirements for proper use of the API.  These should be documented in the source for future developers.

[2017-09-12 14:43] jasonLaster opened #3982 "[Breakpoints] address syncing edgecases"
We are seeing issues w/ breakpoints entering a corrupted state where we cannot remove them.

We should make sure we cover all the possible edge cases here and have test coverage.

#### User scenarios
* add a new BP
* reload debuggee
* open / close debugger

#### Debugger Scenarios

* mapping is not symmetric (O->G) ≠ (G->O)
* bp slides when being added in the server
* client has a different locati

[2017-09-12 15:05] jasonLaster opened #3983 "[PrettyPrint] show a progress indicator "
Pretty printing can sometimes take awhile. We should show that we are currently working on it...

[2017-09-12 15:07] jasonLaster commented on #3837
perhaps we do a small UI fix to throttle

[2017-09-12 15:37] digitarald opened #3984 "Preview popup takes 1+ sec on a large codebase"
Tested on github (Pause on Exception, refresh, exception in `bundle.js`)

Profile: https://perfht.ml/2h2FLAn

- `findBestMatch` expensive overall
- `removeLineClass` for one hang in particular

[2017-09-12 16:35] jasonLaster opened #3986 "[Mochitests] Update the docker CI image"
We are using an old docker image for our mochitests, this is creating a couple of problems:

1. we can't use server changes
2. we can't use the new codemirror on m-c
3. some tests can only run in m-c or vice-versa
4. some tests fail in m-c, but not on CI

Update the image?
* it is a pain to update it. We have tried and could not do all the steps
* it will always take awhile

Use a janitor or taskc

[2017-09-12 18:14] jasonLaster opened #3987 "[ProjectSearch] exclude node_modules and content scripts"
We should exclude searches to node_modules and content scripts by default and give a UI for searching them

[2017-09-12 18:34] digitarald opened #3988 "Massive hang during page load with Debugger open"
STR

- Opened Debugger on a test page
- Navigated to Slack
- Cmd-R reloaded the page (Scratchpad told me that Cmd-R executes the line)

AR: Massive hanging

Initial analysis, to be refined:

Debugger in background: https://perfht.ml/2wnmVcS

- Choking on data and creating react elements

Another profile with Debugger in foreground: https://perfht.ml/2wn6RYD

- Something with Netmonitor

[2017-09-12 18:57] #3503 closed

[2017-09-12 19:42] jasonLaster commented on #3987
How does this look as a simple UI? We could re-use the ellispis svg, and dropdown class?

Either way, we should do 2 PRs, first exclude the 3rd party code and then add the UI for re-enabling it.

![Screen Shot 2017-09-12 at 3.40.59 PM.png](https://shipusercontent.com/0de4dc1c37bb8665d23dd8c013a70df4/Screen%20Shot%202017-09-12%20at%203.40.59%20PM.png)
![Screen Shot 2017-09-12 at 3.40.46 PM.png](htt

[2017-09-12 19:43] jasonLaster commented on #3987
@abhinav is on it

[2017-09-12 19:48] abhinav commented on #3987
@jasonLaster You're pinging the wrong user on these tickets.

[2017-09-12 19:49] bomsy commented on #3987
- [ ] Exclude 3rd Party code from project text search
- [ ]  Add UI for enabling/ disabling 3rd party code

[2017-09-12 20:14] digitarald commented on #3987
UI considerations:

- Atom's UI spells out the active modifiers to help understand the icons: <img width="409" alt="image" src="https://user-images.githubusercontent.com/8599/30345008-66f3571a-97b8-11e7-97f6-a810d200256d.png">

- As icons are we break the icons out into text when the space allows, like Firefox's UI: <img width="489" alt="image" src="https://user-images.githubusercontent.com/8599/3

[2017-09-12 21:28] #3926 closed

[2017-09-12 21:28] #3769 closed

[2017-09-12 21:28] #3761 closed

[2017-09-12 21:28] jasonLaster commented on #3767
This is now fixed :)

[2017-09-12 21:28] #3767 closed

[2017-09-12 21:30] #3976 closed

[2017-09-12 21:30] jasonLaster commented on #3976
closing as we'll discuss this in a  tracking issue

[2017-09-12 21:30] #3977 closed

[2017-09-12 21:32] jasonLaster commented on #3904
we should capitalize the first word: e.g. "Close tab"

[2017-09-12 23:01] digitarald opened #3990 "Align vertical spacing of search UIs"
<img width="300" alt="image" src="https://user-images.githubusercontent.com/8599/30352007-cd6c428a-97d2-11e7-8be9-a7d4ac18da6f.png">

vs

<img width="275" alt="image" src="https://user-images.githubusercontent.com/8599/30352027-e2c30ea2-97d2-11e7-97d8-5b1c67f031cc.png">

Second one doesn't fit into the vertical rhythm (27px vs 40px).

[2017-09-12 23:14] digitarald opened #3991 "Hang when going from Console to Debugger"
https://perfht.ml/2joU0UH

- Codemirror's `updateHeightsInViewport` is expensive due to mostly reflows: https://perfht.ml/2jnqRsU
- There are 2 cycles of `updateHeightsInViewport` for loading one file, which might be overhead. One is caused by `setOption` and the other by `resetLineNumberFormat`: https://perfht.ml/2joUJ8n

[2017-09-12 23:18] digitarald commented on #3991
Maybe related to #3400

[2017-09-12 23:27] digitarald opened #3992 "Add performance markers for main interactions"
To make understanding profiles easier, interaction/response patterns should be annotated with `performance.mark` and `performance.measure` timestamps.

Incomplete list:

- File loading, click to pretty print done
- Pretty event, click to pretty print done
- File closing, click to tab closed
- Breakpoint hit: Time to UI updated with source and line highlighted

[2017-09-13 02:06] abhinav-koppula commented on #3987
@jasonLaster - @abhinav-koppula is the correct username

[2017-09-13 06:15] tromey opened #3995 "[PrettyPrint] interferes with source maps"
* Visit https://tromey.github.io/source-map-examples/minified/index.html
* Open the debugger
* Open bundle.js
* Pretty-print the bundle
* Now open s1.js

I get an error:

[code]

I believe what is happening is that the debugger-generated source map overwrites the user-supplied one.  But, the debugger doesn't update its source list to follow.

See also https://bugzilla.mozilla.org/show_bug.cgi?id=9

[2017-09-13 07:51] tromey opened #3996 "[PrettyPrint] can't pretty print before the source is loaded"
If I reopen the debugger, I may see a tab from a source that I had opened previously.  The tab isn't selected and no source is shown.

I can right click on the tab and select pretty-printing -- but nothing happens.

If I left click on the tab, the source is loaded; and then if I pretty-print, it works.

This was a bit confusing to me the first couple of times.  I think pretty-printing should impli

[2017-09-13 13:25] jasonLaster commented on #3996
Nice find

[2017-09-13 13:27] #3895 closed

[2017-09-13 14:18] #3782 closed

[2017-09-13 14:18] jasonLaster commented on #3990
closing because we can address it in #3178

[2017-09-13 14:18] #3990 closed

[2017-09-13 14:21] #3807 closed

[2017-09-13 14:37] Anzumana opened #3997 "watched variables that are not in scope crashes debugguer"
I was serving a lot of different website locally. ( eg. localhost/wwwFolder   localhost/wwwAnotherFolder)
and defined some watch expressions.
when i go to  a different locally served website the watch expressions of the old page persist and cause the debugger then to crash as certain values will not be there and property access expressions fail.
tested same in chrome for reference and they seem to

[2017-09-13 14:39] jasonLaster commented on #3997
Thanks for filing, I think this is a dupe of #3997.

You should see if there is a fix in `actions/expressions`!

[2017-09-13 15:11] #3670 closed

[2017-09-13 16:25] jasonLaster commented on #3986
Alex mentioned we could use his build and clone scripts;

https://github.com/ochameau/ff-dt/blob/618091bac01d6ff280b9cc4e3221e3b82083d972/scripts/clone-gecko.sh

[2017-09-13 16:28] bomsy commented on #3305
@sagorika1996 are you still on this?

[2017-09-13 17:09] tromey opened #3999 "[WelcomeBox] should be responsive"
I opened the browser toolbox.  My window was apparently a bit narrow so the instructions telling me how to search came out garbled:

![image](https://user-images.githubusercontent.com/1557670/30390614-e9d41db6-9873-11e7-826d-81ca7e55c918.png)

Widening the window a bit fixes this.  But really it shouldn't happen.

[2017-09-13 17:37] #3508 closed

[2017-09-13 17:37] jasonLaster commented on #3508
we can re-open if it is not fixed

[2017-09-13 17:40] #3971 closed

[2017-09-13 17:41] Fischer-L commented on #3601
@jasonLaster @codehag I would like to tackle this bug. That would be kind of you that you could feedback on some questions, thanks:
1. What is the blackboxed state?
2. I found `checkPendingTabs` doesn't exist so it looks like we have to implement it. What is the purpose of this function, checking what "pending" tabs? I could found `TabList` [1] in the state's sources, which carries js sources even

[2017-09-13 17:42] khiloKenshoo commented on #3975
Hi @jasonLaster,
Seems that original path is incorrect, it does have hard coded "/statics/js" in the URL path Object, which should removed in order to fix the issue, below screenshot for clarification :
![image](https://user-images.githubusercontent.com/8362801/30391978-0ad065d8-98c4-11e7-9d35-0a353af47ce6.png)

Regards,
Khilo Jammal

[2017-09-13 17:43] jasonLaster commented on #3999
We should stagger the search shortcuts on a narrow UI:

[code]

[2017-09-13 17:46] jasonLaster commented on #3975
Hmm, i guess my question is are these sources in the source tree? If they're in the source tree in static/js that would be okay.

by the way, i know that that the built files are in the tree. We're looking for the original (perhaps webpacked) sources.

[2017-09-13 17:47] digitarald commented on #3316
For legibility we might also want to remove the italic style on the error text (leave it on `Paused on …`.

[2017-09-13 17:48] jasonLaster commented on #3975
ahh, maybe this is not as bad as i thought:

i'm not sure about this no domain thing...

![Screen Shot 2017-09-13 at 1.47.41 PM.png](https://shipusercontent.com/21bdc8d233adcd9d9d24f5bf7766bbaf/Screen%20Shot%202017-09-13%20at%201.47.41%20PM.png)

![Screen Shot 2017-09-13 at 1.47.28 PM.png](https://shipusercontent.com/82fbc3aba70c1fae3a27f68d7195daf8/Screen%20Shot%202017-09-13%20at%201.47.28%20PM.p

[2017-09-13 17:51] jasonLaster commented on #3975
okay, so i fixed the dependency and it looks like the original sources are in a (no domain) domain :)

Here is a new GOOD URL to work w/ https://znm3qxj923.codesandbox.io/

![Screen Shot 2017-09-13 at 1.50.44 PM.png](https://shipusercontent.com/3884eaf6f64fd1bfecd91572c081849e/Screen%20Shot%202017-09-13%20at%201.50.44%20PM.png)

[2017-09-13 17:57] #3872 closed

[2017-09-13 18:04] NettaB commented on #3974
hi. how do we reproduce this issue? what situation causes the function name to look like this?

[2017-09-13 18:05] jasonLaster commented on #3974
good question, let me find a good place to pause

[2017-09-13 18:07] jasonLaster commented on #3974
Go to: https://znm3qxj923.codesandbox.io/
and add a bp: in components/Footer.js on line 39.

You should see a scope with `_class<` which could be simplifed to `_class`. I got my screenshot by debugging the debugger, but that is a bit tougher :)

[2017-09-13 18:07] jasonLaster commented on #3974
![Screen Shot 2017-09-13 at 2.06.25 PM.png](https://shipusercontent.com/f52b2de8ef188601fa74aa757abecd07/Screen%20Shot%202017-09-13%20at%202.06.25%20PM.png)

[2017-09-13 19:41] #3734 closed

[2017-09-13 19:45] jasonLaster opened #4002 "[SourceSearch] There are two scrollbars"
It looks like the search results height needs to be subtracted by 40px or use flexbox to keep the scrollbar from showing up.

![Screen Shot 2017-09-13 at 3.44.32 PM.png](https://shipusercontent.com/704b5f3717eb64f53b0552a5f1732ca9/Screen%20Shot%202017-09-13%20at%203.44.32%20PM.png)

[2017-09-13 19:54] amitzur commented on #3975
From what I see the url has a path of `/static/js/reducers/todos.js`. So how could it be residing next to `static/js` and not inside it?

[2017-09-13 20:02] amitzur commented on #3974
hmm.. how come I'm seeing the transpiled ES5 version of Footer.js?
<img width="972" alt="screen shot 2017-09-13 at 11 00 12 pm" src="https://user-images.githubusercontent.com/394320/30398009-709ebbea-98d7-11e7-9046-bc909e35b818.png">

[2017-09-13 20:05] jasonLaster commented on #3974
you're looking at `static/js` i think this is a bad example...

On Wed, Sep 13, 2017 at 4:02 PM Amit Zur <notifications@github.com> wrote:

[2017-09-13 20:10] jasonLaster commented on #3974
@amitzur I tried to come up with a better example: [here](https://salty-dawn.glitch.me/). Unfortunately, this didn't show the scopes...

[code]

![Screen Shot 2017-09-13 at 4.09.02 PM.png](https://shipusercontent.com/7a0bd02b9f08bed1aaf76f858d3cdf45/Screen%20Shot%202017-09-13%20at%204.09.02%20PM.png)

[2017-09-13 20:11] amitzur commented on #3972
I think the only solution here is to wrap the text node with a span and give that span the same styling. It's the only element that reaches the right edge.

I made a simplified case here:
The problem:
https://jsfiddle.net/wLsc4unm/1/
The solution:
https://jsfiddle.net/usLszhuL/3/

[2017-09-13 20:12] jasonLaster commented on #3975
there are two sources - a bundled and original. See the files in (no domain)

[2017-09-13 20:17] amitzur commented on #3974
Yeah, this is similar to what @NettaB and Noga came up with. Does this have to do with source maps? I thought the "<" character is added when the function is wrapped in a closure

[2017-09-13 20:18] jasonLaster commented on #3974
yeah, it comes from this paper:
https://github.com/devtools-html/debugger.html/blob/master/src/utils/frame.js#L203
http://johnjbarton.github.io/nonymous/index.html

[2017-09-13 20:20] jasonLaster commented on #3974
Good call! Updated the example:
https://salty-dawn.glitch.me/

![Screen Shot 2017-09-13 at 4.19.36 PM.png](https://shipusercontent.com/33d3ab912fa5db9ee352b0097a5c8de1/Screen%20Shot%202017-09-13%20at%204.19.36%20PM.png)

[2017-09-13 20:24] amitzur commented on #3975
I'm not getting the same outcome for some reason - no  `(no domain)` for me:
<img width="715" alt="screen shot 2017-09-13 at 11 23 11 pm" src="https://user-images.githubusercontent.com/394320/30398856-91ce692a-98da-11e7-8242-30bbda8483b3.png">

[2017-09-13 20:36] jasonLaster commented on #3975
Yeah, i actually am not either... I wonder how they got that :)

I think if you do `appStore.getState().sources.sources.toJS()` you'll see the sources that have a url w/o a domain e.g. `/components/App.js`

[2017-09-13 22:55] digitarald commented on #2782
Another case, checking sources on a google.com search. Both sources are served with `text/javascript`:

1. https://www.google.com/xjs/_/js/k=xjs.s.en_US._6_2EfjINk4.O/m=aa,abd,aspn,async,dvl,foot,fpe,ipv6,lu,m,sf,tl,vs,d3l,tnv,mrn,attl,adinfo,dpc,apmf,me,atn/am=wCJGjhccAPk_IRQStxAWyAImDiA/exm=sx,c,sb,cdos,cr,elog,hsm,jsa,r,qsm,d,csi/rt=j/d=1/ed=1/t=zcms/rs=ACT90oFAvRO4FrdrO03G04l7APidtFKo3w
2. htt

[2017-09-13 23:02] #3953 closed

[2017-09-14 00:23] digitarald opened #4009 "[PrettyPrint] Persist between reloads"
Affordance fix.

STR:

- Pretty print minified source
- Reload

AR: Only minified source remains
ER: Pretty source is loaded again

[2017-09-14 09:54] bomsy commented on #2782
I'm investigating this ..

[2017-09-14 12:06] bomsy commented on #2782
So we have a couple of issues with our heuristics for determining what should be pretty printed.
Specifically the utilty `shouldPrettyPrint`.
1) For @clarkbw  case, it was ignored because it had a source map file (which it should not).
2) For @digitarald case, it is ignored because we determine javascript files by the file extensions in url and these files have no extensions

[2017-09-14 13:10] jasonLaster opened #4013 "[breakpoints] Resume & Stepping should ignore “boring” locations"
The new debugger (after symmetric bp) will add a breakpoint in some locations that triggers two pauses. This does not happen on the old debugger.

STR:
1. setup `perf.html` clone/install/start
2. go to `ArrowPanel.js`, add a bp on 117 and reload. Or  or go to Tabbar  add a bp on 45, and click on a tab.

ER: pause on the line, resume will move on
AR: pause on the line, resume takes you one line dow

[2017-09-14 14:13] bomsy commented on #2782
I just wanted note cases we need to handle

- minified js files without sourcemaps
- minified js files with sourcemaps which have 404'd
- minified js files without `.js` or any javascript file extension

[2017-09-14 14:57] #4002 closed

[2017-09-14 16:18] #3316 closed

[2017-09-14 18:27] juliandescottes opened #4017 "Conditional breakpoint on hot code path slow down Firefox to a crawl"
STRs [WARNING: this might force you to kill your browser instance!]
- go to about:home (or any webpage)
- in the console, execute
[code]
- debugger should open and be paused on the debugger statement
- add a conditional breakpoint on line i++, condition "false"
- resume

As expected, the conditional breakpoint should never hit. CPU activity increases significantly. And after a few seconds, Firefox

[2017-09-14 18:33] jasonLaster opened #4018 "[ProjectSearch] left arrow presses should collapse the group"
Our Project Search mirrors atom's UI and our sources tree in many ways. One nice feature they have is that left arrow will always collapse the group of matches or files.

The benefit of this is that the keyboard becomes much more useful, if you're half way through a big list, you can always left arrow to collapse the group and move on.

![](http://g.recordit.co/VWMz4POmJB.gif)

[2017-09-14 18:39] juliandescottes opened #4019 "[Editor] Copy menu entry is never enabled when running in Firefox"
When right clicking in the editor, the menu proposes various options
<img width="272" alt="image" src="https://user-images.githubusercontent.com/1141550/30447468-8755e9ca-998c-11e7-81fa-82a10df5edc6.png">

The "Copy" menu item is disabled. I suppose that in Launchpad, it becomes enabled when some text is selected. However in Firefox when there is any selection, the menu is replaced with:
<img widt

[2017-09-14 19:34] juliandescottes opened #4020 "[Preview] Tooltip shows undefined for variable used as object key"
STRs:

run in the console

[code]
hover on "key" in obj[key]

Expected result: should show `"a"`
Actual result: shows `undefined`

[2017-09-14 19:35] juliandescottes commented on #4020
![](https://screenletstore.appspot.com/img/d05e00d4-9983-11e7-b141-ddd9e672c8a3.png)

[2017-09-14 19:46] jasonLaster opened #4021 "[OutlineView] get the closest class for functions and properties"
It would be awesome to build a smarter outline view that knew when functions were inside of a class.

![Screen Shot 2017-09-14 at 3.14.10 PM.png](https://shipusercontent.com/faec4f7495ebe6488acfa0377ffb78bd/Screen%20Shot%202017-09-14%20at%203.14.10%20PM.png)

#### code sketch

[code]

[2017-09-14 20:41] jasonLaster opened #4022 "[Editor] flash function when it is copied"
@jenncreighton added an awesome `highlightLineRange` function a couple months ago for selecting lines.

We should use it to highlight the function when it is copied too. We might also want to add a couple of updates to it too:

1. update the first and last line so we dont flash the entire line but after the first character of the first line and before the last character of the last line
2. add a n

[2017-09-14 21:39] jasonLaster opened #4024 "[scopes] safely access properties"
We want a safe way to access grip properties without causing a warning on the server.

This attempt should be fine, but some grips live beyond the pause lifetime. The best example is watch expressions.

[code]

[2017-09-14 21:53] jasonLaster opened #4025 "[WatchExpressions] Test expanding an expression"
We currently expand an expression, but don't check to see if it is showing anything. We should update the check because it's possible the server didn't return any results

https://github.com/devtools-html/debugger.html/blob/master/src/test/mochitest/browser_dbg-expressions.js#L78

[2017-09-14 22:43] tromey opened #4029 "[SourcesTree] eval sources don't show up in Sources pane"
Open `about:blank`, open the console and evaluate `eval("function qqz() { debugger; }")`.  Next, evaluate `qqz()`.

This will open the debugger and pause at the `debugger` statement.  However, there are no sources shown in the sources pane.  I also couldn't find a way to search for `qqz`.

[2017-09-15 02:16] jasonLaster commented on #4029
@tromey this was by design, we felt that inline scripts and evals should be shown when you pause and given a tab, but not shown in the tree. The one caveat is if there is a sourceUrl stanza.

I'd be open to suggestions though. We have all the data client-side so it's just a question of UX.

[2017-09-15 04:44] tromey commented on #4029
Ok, I didn't realize that.  Thanks.

However, I evalled this in the console:
[code]

(It's an example from one of the source-map bugs - the "derp" may be commentary but it isn't coming from me :-)
... and I still don't see any sources.

[2017-09-15 08:18] ochameau commented on #3988
This is a duplicate of issue 3736, where you can find similar stacks in the profiler.

[2017-09-15 08:24] ochameau commented on #3736
??

The profiles @bwhitty gave are really actionnable.
Did you tried looking at the first one related to debugger?
https://perfht.ml/2vSYpDo
 - Select "Main thread", i.e. the first timeline (that's where the debugger UI lives)
 - In the call tree, see the first line? i.e. `exports.makeInfaillible`
    expand this 4 or 5 times, you will see `newSource` from `debugger.js`
 - Now expand this a lot, y

[2017-09-15 09:00] Anzumana commented on #3997
i guess you mean another issue as 3997 is this issue :)

[2017-09-15 13:44] jasonLaster commented on #3411
re-opening because i no longer see the issue

[2017-09-15 13:45] #3965 closed

[2017-09-15 13:47] jasonLaster opened #4031 "[Outline] move the tabs to the top"
The new photon designs call for moving the sources/outline tabs to the top to be consistent.

We hopefully can borrow the html/css from the editor tabs, while re-using the JS...

### Light

![Screen Shot 2017-09-15 at 9.46.30 AM.png](https://shipusercontent.com/b66e7de0d4ab94f00f5d8da906f79963/Screen%20Shot%202017-09-15%20at%209.46.30%20AM.png)

### Dark

![Screen Shot 2017-09-15 at 9.46.37 AM.png

[2017-09-15 13:49] jasonLaster commented on #3997
yep #3597 :)

[2017-09-15 14:13] jasonLaster commented on #4029
hmm, we have this mochitest:

https://github.com/devtools-html/debugger.html/blob/master/src/test/mochitest/browser_dbg-sources.js#L68-L75

mind checking to see if there's a regression?

[2017-09-15 14:32] jasonLaster opened #4032 "[Expressions] reload button is too far to the right"
We should add a margin-right when the UI is in vertical mode (<700px)

![](https://files.slack.com/files-pri/T3V7H1198-F734SD28Y/screenshot_at_sep_15_16-30-43.png)

[2017-09-15 14:33] #3814 closed

[2017-09-15 14:35] jasonLaster opened #4033 "[workers] open a new toolbox"
We are now showing a list of workers, we would like to make them links that open a new toolbox. About debugging and the old debugger did this.

[`http://about:debugging`](http://searchfox.org/mozilla-central/rev/2c9a5993ac40ec1db8450e3e0a85702fa291b9e2/devtools/client/aboutdebugging/modules/worker.js#24-32) code

[2017-09-15 17:21] digitarald commented on #1972
@jimblandy this is something we want to prioritize for Q4. Further, is async stacks something we can solve in the long term without the performance penalties that are currently associated with the pref?

[2017-09-15 17:23] juliandescottes opened #4034 "[SymbolModal] escape should close the modal"
STRs:
- open debugger
- open a source
- start function search
- press ESCAPE

Expected: function search should close
Actual: the split console shows up

Looks like this was mentioned in #3591 but this is not working, at least when running in Firefox.

[2017-09-15 17:28] jasonLaster opened #4035 "[Blackbox] dedicated UI"
We should expose a UI for the blackboxed sources and in the future directories and path lists.

![Screen Shot 2017-09-15 at 1.27.06 PM.png](https://shipusercontent.com/b59ea9463be70fb90263d708ce966e2c/Screen%20Shot%202017-09-15%20at%201.27.06%20PM.png)

[2017-09-15 17:34] juliandescottes commented on #4034
I am probably missing a few STRs ... I am not able to consistently reproduce. Let's close for now, I'll reopen if I have consistent steps.

[2017-09-15 17:34] #4034 closed

[2017-09-15 19:11] tromey commented on #4029
That test works fine.  But if I start from `about:blank` and type stuff in at the console, I don't see the sources.

[2017-09-15 19:16] tromey commented on #4029
Ok, this is weird: if I type in the above to the console -> no source is shown.  However if I wrap the above in `eval`, then it works.

[2017-09-15 19:43] jasonLaster commented on #4018
@abhinav-koppula is on it.

[2017-09-15 21:36] digitarald opened #4040 "[Expressions] are retained across domains"
STR

- Add some watch expressions on cnn.com
- Browse to google.com in another tab
- Open debugger

ER: No watch expressions
AR: Watch expressions from session on cnn.com

Expressions should be stored per domain by default to avoid surprises.

[2017-09-15 21:39] jasonLaster commented on #4040
I think this is a nice feature, but not necessarily something users expect to have. Chrome and i'm pretty sure the old debugger didn't store expressions by domain.

[2017-09-15 21:39] jasonLaster opened #4041 "Can’t debug a popup"
STR:
- Set a breakpoint in a source file related to a popup window
- Open the popup window (without setting the noautohide toggle button from the developer toolbox, and so the popup window is going to auto hide when it will lost the focus)
- The breakpoint is fired and the debugger is paused on the breakpoint
- Click on the debugger to interact with the debugger UI, the popup window loses its focu

[2017-09-15 22:03] jasonLaster opened #4043 "Copy Source Url" should be changed to "Copy Source URI""
It may be a non-Internet address, like chrome://, file://, resource://, moz-extension:// and more. As well as LOCALIZATION NOTE and "errorLoadingText2=Error loading this URL: %S".

the [property] is defined here

Filing from https://bugzilla.mozilla.org/show_bug.cgi?id=1379293

[property]:https://hg.mozilla.org/mozilla-central/file/default/devtools/client/locales/en-US/debugger.properties#l17

[2017-09-15 22:24] jasonLaster opened #4044 "[breakpoint] small style improvements"
Two small style wins:

1. the breakpoint label should be centered with the checkbox
2. the label should be in a `<label>` tag so that clicking it will toggle the checkbox.

![Screen Shot 2017-09-15 at 3.53.58 PM.png](https://shipusercontent.com/94dad24861fee85d6958d37e54ed8336/Screen%20Shot%202017-09-15%20at%203.53.58%20PM.png)

[2017-09-16 00:28] iamstratos commented on #3999
I could work on this issue. Is that okay?

[2017-09-16 00:56] iamstratos commented on #3901
I will commit this tomorrow!

[2017-09-16 02:01] darkwing opened #4046 "Long Watch Expressions Are Covered by Scrollbar"
We should prevent this scrollbar issue with long watch expressions:

<img width="328" alt="macwatchexpression" src="https://user-images.githubusercontent.com/46655/30508298-12d13c8a-9a59-11e7-86b1-97431c12bfa5.png">

[2017-09-16 02:06] jasonLaster commented on #3999
@iamstratos go for it.

[2017-09-16 02:06] jasonLaster commented on #3901
@iamstratos sure, its yours

[2017-09-16 02:07] jasonLaster commented on #4046
it'd be fun to use prettier here :)

[2017-09-16 02:11] darkwing opened #4047 "[EmptyLines]: End of Block not Marked as Empty but Acts as Empty."
Consider the following snippet:

[code]

If I try to add a breakpoint at `});`, it shifts to the `app.TodoRouter` line.

We should include whatever logic shifts that breakpoint with the current EmptyLines  calculation.

[2017-09-16 02:35] darkwing commented on #4047
Of interest is the `getASTLocation` function in `src/components/astBreakpointLocation.js` -- that's where the shift happens.

[2017-09-16 11:37] nchevobbe opened #4049 "Provide `openLink` prop to Reps/ObjectInspector"
Steps to reproduce:

1. Add the following watch expression: `"https://mozilla.org"`
2. Click on the generated link

Expected results:
The link opens in a new tab

Actual results:
The link opens inside the debugger :)

The scopes panel, as well as the popup preview are concerned too.

---

This is because Reps/ObjectInspector need an `openLink` prop function to handle clicking on links. Otherwise,

[2017-09-16 11:55] nchevobbe opened #4051 "Update to devtools-reps 0.13.0"
This new version of Reps has some nice performances wins since it lazy loads properties, and thus shouldn't hang when expanding large arrays for example. It also fetches automatically properties, entries and symbols so the debugger will get everything for free (almost)

The code of the ObjectInspector was changed significantly in order to achieve that, so consumers need to change the props passed

[2017-09-16 16:52] nchevobbe commented on #4049
And this is what is used in the DOM Panel:  http://searchfox.org/mozilla-central/source/devtools/client/dom/dom-panel.js#182 .

This requires having access to the toolbox somehow.

[2017-09-16 16:56] nchevobbe commented on #4049
To be more clear, this is the different places where the `openLink` need to be added:
- [src/components/SecondaryPanes/Scopes.js](https://github.com/devtools-html/debugger.html/blob/c20d1d9d5c2a51d54b22731d73bcd21d28498158/src/components/SecondaryPanes/Scopes.js#L56)
- [src/components/SecondaryPanes/Expressions.js](https://github.com/devtools-html/debugger.html/blob/3f5bb37b98522085590d796682b8225

[2017-09-16 20:35] #4046 closed

[2017-09-16 20:47] iamstratos commented on #3901
Do you use inline css or any other way to style your elements?

[2017-09-17 05:27] nyrosmith opened #4055 "[breakpoint] Hidden brekpoints get restored as regular breakpoints"
STR:

1. Open a website
2. make the debugger pause
3. choose "continue to here" at a location that won't get executed
4. refresh launchpad

![hiddenbreakpoint](https://user-images.githubusercontent.com/2511026/30518270-2a0a5000-9b79-11e7-83bf-2ae4f708504f.gif)

There might be other cases than "continue to here" too when this occurs.

I think we shouldn't persist hidden breakpoints at all because w

[2017-09-17 06:16] nyrosmith commented on #3966
@jasonLaster we already use simplePreview for strings, numbers, bools, ...
To me it seems the reason why eg number preview is rendered with a higher width is because of the corresponding reps template   in devtools-core

[2017-09-17 06:19] nyrosmith commented on #4041
Duplicate of #3539 ?

[2017-09-17 07:26] nyrosmith commented on #4031
I am on it.

[2017-09-17 11:09] nyrosmith commented on #4021
I'll grab this one!

[2017-09-17 11:16] nyrosmith commented on #3893
@jajasonLaster I think this can be closed because my PR already got merged

[2017-09-17 16:02] nyrosmith commented on #4021
I guess it would also be cool if we'd show if functions are inside other functions instead of current behavior (= flat list)

[2017-09-17 17:34] wldcordeiro commented on #3978
So replace `--theme-content-color3` with `--theme-comment`?

[2017-09-17 18:00] gabrielluong commented on #3978
Yes

[2017-09-17 18:01] gabrielluong commented on #3978
Actually, I think there are some parts that were originally gonna use --theme-comment already, but was overridden with --theme-content-color3.

[2017-09-17 18:23] #3893 closed

[2017-09-17 18:25] jasonLaster commented on #4021
Hi @nyrosmith, have you started looking into this? I think @sarahlim might be looking into it as well.

agreed. I'm not sure what the best UI would be for that. Also, what the best data structure would be. Curious what you think there

[2017-09-17 18:30] nyrosmith commented on #4021
@jasonLaster didn't notice that this is not available anymore.
I'll try to get a proof of concept of a really smart outline. As the devtools move torwards to an exploring/explaining tool I think there are great possibilities especially for the outline comp

[2017-09-17 18:34] jasonLaster commented on #4021
cool, this is the kinda thing where multiple PoCs are great.

[2017-09-17 21:30] jasonLaster commented on #3966
I guess, there are two things here:

1. maybe we shouldn't show anything if you hover on `42` or `"hello"`
2. if you hover on `num` we should show `42` in a tooltip

[2017-09-17 21:30] #4041 closed

[2017-09-17 21:30] jasonLaster commented on #4041
yep

[2017-09-18 02:59] paradisaeidae opened #4059 "Debugger script search not working when content type = 'image/svg+xml'."
Have an svg file served up with script tag <script id="scriptID" type="text/javascript">
Javascript is part of tag.

Attempt to use search function of debugger.
No search appears to happen.
No results visible.

Expected: Find the search string. Javascript or svg descriptor, tag or content.

[2017-09-18 03:02] jasonLaster commented on #4059
Thanks for the report @paradisaeidae. Are you referring to `cmd+f`, `cmd+p`, or `cmd+shift+f`, or `cmd+shift+o`?

[2017-09-18 04:02] paradisaeidae commented on #4059
My apologies.
Operator ignorance.
The tooltip had not appeared for me until recently.
I see the search can be quite functional!

Thankyou!

[2017-09-18 04:02] #4059 closed

[2017-09-18 13:42] jasonLaster opened #4061 "[SourceTree] alt click should expand/collapse all the nodes"
It's a common pattern that <alt> clicking on a node in a tree will expand it and all of its descendant nodes. Conversely, if it's open, it will close the node and all of its descendent nodes.

Examples:
* mac finder: alt click will expand a folder and it's children and children's folders
* chrome: element tree and object tree work this way too

[2017-09-18 13:44] jasonLaster opened #4062 "[Editor] <alt>+<cmd>+click should jump to the mapped location"
We currently have a context menu option for jumping to the mapped location, it would be cool if we could do the same thing when the user clicks to make it really fast.

This would help in a lot of cases where you want to understand the mappings.

[2017-09-18 13:45] jasonLaster opened #4063 "[Editor] <alt>click on an empty gutter should continue to here"
When the user is paused on a line, alt clicking on a a later gutter line should invoke "continue to here". This would make it really fast to jump!

[2017-09-18 13:45] jasonLaster commented on #4063
@nyrosmith is on it

[2017-09-18 13:52] julienw opened #4064 "Make it possible to inspect a function's return value [old-debugger-parity]"
When stepping in some code, the "step out" button allows to wait at the end of the current function, so that we can inspect the final state of the function's variables before actually stepping out. This is useful.

However we can't inspect the return value itself. This would be a very useful addition.

Note: this was possible in the old debugger so we should have the data already:
![capture d ecra

[2017-09-18 14:01] tromey commented on #4064
I think this is a dup of #3390

[2017-09-18 14:02] julienw opened #4065 "[SourcesTree] Display anonymous eval-ed code in the source tree"
Currently we don't display anonymous eval-ed code in the source tree. We display it only when it's named through sourcemap annotations (either full sourcemaps or just `sourceURL`) [as explained on MDN](https://developer.mozilla.org/en-US/docs/Tools/Debugger/How_to/Debug_eval_sources).

It would be useful to display also anonymous code, for the following reasons:
* Make it obvious that it's execute

[2017-09-18 14:08] julienw commented on #4064
Likely yes, but we need to make it clear this is missing from previous frontend, and so is a regression and needs to be fixed quicker.

[2017-09-18 14:10] julienw commented on #4065
testcase:
[code]

Note this doesn't work in Chrome either.

[2017-09-18 14:14] yzen opened #4067 "[Accessibility] Source Tree should have meaningful semantics."
Source list tree should have tree-like semantics in order to be meaningful for screen reader users. Each row/node in the tree should be semantically a tree item with a correct depth level set.

- [ ] Expanded/collapsed state of the tree item should also be implemented using [ARIA][ar]
- [ ] Icons that represent file/folder/domain should have a text alternative. They seem to carry some semantically

[2017-09-18 14:22] yzen opened #4068 "[Accessibility] Source Tree should have a more efficient keyboard navigation."
Places that need improvement:

- [ ] Keyboard focus should be kept on the tree container. This way if the user presses tab/shif+tab the focus moves to a next/previos widget outside the list. This helps with skipping sources if the user is not interested in stepping inside the tree.
- [ ] There's right now a keyboard trap when the user tabs to the last tree item. There is no way to tab forward or b

[2017-09-18 14:34] yzen opened #4069 ""⌘ P to search" needs to be accessible."
At the moment "⌘ P to search" area is not accessible to screen readers. It is however clickable to users that use the mouse. This interaction should also be possible using just the keyboard and for that:
* "⌘ P to search" should be focus-able with the keyboard
* Should have styling when it is hovered and focused
* Should be activate-able with the keyboard by pressing Enter/Space when it is in focu

[2017-09-18 15:02] yzen opened #4070 "[Accessibility] Search sources widget needs to be accessible."
Here is a list of accessibility improvements for the search sources interface (note: autocomplete accessibility should be worked on in #4071 ):

#### Search Input
- [x] Magnifying glass icon should have an ARIA role of "presentation" as it doesn't carry any meaningful semantics.
- [x] input element should have a type of "search".
- [x] input element should have keyboard focus styling.
- [ ] Result

[2017-09-18 15:03] yzen opened #4071 "[Accessibility] Search sources autocomplete functionality needs to be accessible"
Some background can be found [here]. Keyboard accessibility is pretty great, missing is the semantics:

- [ ] aria-autocomplete="list" must be used in the search [input field][if]
- [ ] aria-controls should be used in the search input to point to the result-list
- [ ] aria-expanded should be used appropriately when the results are shown/hidden
- [ ] result-list should be an aria-live="polite" so s

[2017-09-18 15:20] tromey commented on #4029
Going to close this here in favor of https://bugzilla.mozilla.org/show_bug.cgi?id=833747
I'm tending to think this is a bug somewhere other than the debugger.

[2017-09-18 15:20] #4029 closed

[2017-09-18 15:30] ochameau commented on #3736
From this you could see that `SourcesTree.componentWillReceiveProps` is slow.
Mostly because of immutable.js. It see a 3x win if I replace it with a naive manual check.

See this patch (sorry, it is against the webpack bundle):
https://bugzilla.mozilla.org/page.cgi?id=splinter.html&bug=1399242&attachment=8909337

Also, we call a url module helper too many times. We shoud avoid calling it especiall

[2017-09-18 15:55] sarahlim commented on #4021
Ok, just got around to looking at this! To clarify, how much of the outline in the original screenshot has been implemented (or is it a mock)? Since I'm only seeing the usual 1d list of functions.

I've got the parsing working and I can start playing around with designs now.

[2017-09-18 16:19] jasonLaster commented on #4021
We just have the 1d version. PR the parser work, that's just as important as the UI :P

[2017-09-18 16:34] #4025 closed

[2017-09-18 16:38] tohmjudson commented on #3634
I would like to give this a shot, if it is a good first step in getting to know the project

[2017-09-18 16:39] jasonLaster commented on #3634
@tohmjudson sure, which one would you like to work on?

[2017-09-18 16:42] tohmjudson commented on #3634
I think I can start with the first and go from there, if that works for you

[2017-09-18 16:43] jasonLaster commented on #3634
sounds good!

[2017-09-18 16:58] yzen opened #4073 "[Accessibility] "Collapse panes" buttons should be accessible"
At the moment the buttons are not accessible to keyboard or screen reader users:

- [ ] Buttons should be reachable with the keyboard (e.g. should be focusable)
- [ ] Buttons should have hover/focus styling
- [ ] Buttons should actually be <BUTTON>s or at least have the ARIA button roles.
- [ ] Buttons should be actionable with the keyboard - Enter/Space should collapse/expand panes.

### Screensh

[2017-09-18 17:10] darkwing opened #4074 "Source Tab block is off 1px"
There appears to be a 1px line between the source tabs and the editor:

<img width="1020" alt="tablines" src="https://user-images.githubusercontent.com/46655/30554506-5fff376a-9c6a-11e7-9d6d-899369678007.png">

Hopefully it's just a height issues that needs adjustment

[2017-09-18 17:18] yzen opened #4075 "[Accessibility] Editor Tabs and Source Tabs should be accessible"
There are several improvements that can be done for the source tabs to make them awesome for accessibility:

- [ ] Most Importantly both tab widgets (source and editor tabs) should be the same shared component component that would be styled/configured differently for a particular location.
- [ ] Reachable by keyboard: tabs should be accessible with the keyboard, right now there's not way to focus

[2017-09-18 17:25] yzen opened #4076 "[Accessibility] There should be a way to get out of the CodeMirror section with the keyboard."
Right now if keyboard focus lands inside the code mirror section, there is no way to get out of it which in turn creates a keyboard trap.

Perhaps a good approach is to be able to press ESC that would shift focus on the code mirror container so the consequent tabs/shift+tabs will result in navigation to the next/previous sections outside of the code mirror section.

Also it would be nice to not au

[2017-09-18 17:28] darkwing commented on #4074
Looks like there's a pixel off at the bottom of the tool as well:

<img width="487" alt="borderbottom" src="https://user-images.githubusercontent.com/46655/30555289-d07767ae-9c6c-11e7-9cdf-eeee6793033c.png">

[2017-09-18 17:49] yzen opened #4078 "[Accessibility] command bar buttons accessibility."
Checklist:

- [x]  aria-label and title for each button are redundant. Just title will suffice.
- [x]  Enabled state should be accompanied but "aria-pressed" attribute (pause on exceptions for example) as there's no way for screen reader users to know when it's activated.
- [ ]  Improve focus styling. Right now dotted outline does not line up well with icons.

### Screenshot

![Screen Shot 2017-09

[2017-09-18 17:56] jasonLaster commented on #4076
this is an interesting problem. The pattern with devtools is that escape should open the console. Infact, i think most people would consider it a bug if we don't do that. Unfortunately, that takes moves focus pretty far out of the current context.

[2017-09-18 19:17] yzen opened #4080 "[Accessibility] accordion accessibility"
This issue tracks the work to make the accordion accessible. A PR can do one or several items in the checklist:

- [x] Visually (CSS focus styling) there is no way to focus on the accordion headers and reload button
- [x] Need to be able to navigate to headers with keyboard
- [ ] Need to be able to collapse expand headers with keyboard
- [x] Headers/Panels should at least have list/listitem semant

[2017-09-18 19:19] yzen opened #4081 "[Accessibility] trees inside accordion sections should be accessible."
This is similar and should be consistent with #4067 and #4068. In fact this looks like the same component being reused. If so, it should be fixed in one place so it is accessible (semantically and with the keyboard) everywhere.

### Screenshot

![Screen Shot 2017-09-18 at 8.12.18 PM.png](https://shipusercontent.com/bfbca7328cf6b180bef7f594b4b15d97/Screen%20Shot%202017-09-18%20at%208.12.18%20PM.png

[2017-09-18 21:38] cjb5790 commented on #4074
I'll take a look at this.

[2017-09-18 22:50] #4031 closed

[2017-09-18 22:51] jasonLaster commented on #4074
@cjb5790 can we find another issue for you, it was just completed. Sorry for not updating the issue to `in-progress`

[2017-09-18 22:51] #4074 closed

[2017-09-18 22:57] cjb5790 commented on #4074
@jasonLaster no problem! I'll take a look at the other open issues.

[2017-09-18 23:38] jasonLaster commented on #4080
#### Style the focus state:

This is a patch for styling the focus state. I'm not sure what style we should apply.

[code]

#### Need to be able to navigate to headers with keyboard

Do we need to do something to make the header focusable?

#### Need to be able to collapse expand headers with keyboard

[code]

[2017-09-18 23:44] jasonLaster commented on #4067
The tree comes from [here]

[here]: https://github.com/devtools-html/devtools-core/blob/master/packages/devtools-components/src/tree.js#L1

You can see a bunch of examples by running `npm storybook` or `npm test`.

[2017-09-18 23:49] jasonLaster commented on #4078
#### Improve focus styling. Right now dotted outline does not line up well with icons.

[code]

 #### aria-label and title for each button are redundant. Just title will suffice.

[code]

[2017-09-18 23:51] jasonLaster commented on #4075
@garbee looked at our tabs before and found them difficult to make accessible given the HTML structure. Does it make sense to try and refactor the HTML or do some JS controls around where tab sound take you?

[2017-09-19 00:00] jasonLaster commented on #4073
### Buttons should actually be buttons or at least have the ARIA button roles.

[code]

 #### listen for spacebar

[code]

#### Qs

should we do anything else if it is a button to be focusable? Is there an easy way to test this?

What is a good default style for this kind of button w/ an svg

[2017-09-19 00:01] jasonLaster commented on #4069
we're removing the link.

[2017-09-19 00:02] #4069 closed

[2017-09-19 00:55] darkwing opened #4083 "[Expressions] Key Warning"
STR:

1.  Add a watch expression
2.  Refresh the page
3.  Check to console:

[code]

[2017-09-19 01:22] darkwing opened #4085 "Prevent Unnecessary Left Pane Re-renders"
There are a few functionality in the left Source / Outline pane that trigger renders but it would be nicer if they wouldn't.

1.  *Swapping between Source and Outline tabs* - The tree re-renders when switching back to Sources and it's fairly noticeable, especially when you see the scrollbar at the bottom.

2.  When I open a few tree items in the source list, then use the "collapse pane" button, th

[2017-09-19 02:54] yzen commented on #4067
Looks like the tree component mentioned above is up to date enough and implements many accessibility improvements from mozilla-central's devtools.
If local tree component could be updated to the one in devtools-core it would pretty much resolve this bug.
One serious blocked for just doing that, however, is an issue I just filed https://github.com/devtools-html/devtools-core/issues/695. Ideally it

[2017-09-19 02:56] yzen commented on #4068
The same solution as #4067 should do the trick. Updating to the latest devtools-core tree component should fix all keyboard issues.

[2017-09-19 03:30] yzen commented on #4070
### Magnifying glass icon should have an ARIA role of "presentation" as it doesn't carry any meaningful semantics.
This is an example of how to add an appropriate role to an element. In this case role "presentation" (https://www.w3.org/TR/wai-aria/roles#presentation) to an icon.
[code]

[2017-09-19 03:31] yzen commented on #4070
### input element should have a type of "search".
[code]

[2017-09-19 03:47] yzen commented on #4073
### A's
Nothing else needs to be done. Button will be in tab order, in fact, no need for special key press handling stuff. <BUTTON> will trigger "click" event when Enter/Space are pressed for free.

I think in for these sort of buttons, switching the drawing color to "focused" one (e.g. blue) would be best. Outline in this case could be avoided. For example, Firefox devtools toolbox tab that is se

[2017-09-19 12:45] jasonLaster commented on #4068
Great, I or @nchevobbe will do the update soon.

[2017-09-19 12:46] jasonLaster commented on #4067
Great, I or @nchevobbe will do the update soon.

[2017-09-19 13:06] yurydelendik opened #4087 "[Breakpoint] UI fails when breakpoint is not found."
STR:
1. Open Firefox (Nightly) at about:blank
2. Open Debugger
3. Open https://mdn.github.io/webassembly-examples/js-api-examples/
4. Find wasm source and set breakpoint at "call $import0" line
5. Close Debugger/Devtools
6. Refresh the page
7. Open Debugger

Actual result:

No debugger UI
<img width="982" alt="screen shot 2017-09-19 at 8 05 13 am" src="https://user-images.githubusercontent.com/152

[2017-09-19 13:08] jasonLaster commented on #4087
@yurydelendik  is this true for non-wasm sources too, right?

[2017-09-19 13:09] yurydelendik commented on #4087
yes, I think it's true for non-wasm, but it maybe harder to model a test case, e.g. it is a script that became smaller.

[2017-09-19 13:11] jasonLaster commented on #4087
i see, thanks.

[2017-09-19 13:32] #3936 closed

[2017-09-19 13:32] #3899 closed

[2017-09-19 13:32] #3597 closed

[2017-09-19 13:47] yzen commented on #4081
The same solution as #4067 should do the trick. Updating to the latest devtools-core tree component should fix all keyboard and semantics issues, granted https://github.com/devtools-html/devtools-core/issues/695 is fixed first..

[2017-09-19 13:57] yzen commented on #4071
### aria-autocomplete="list" must be used in the search input field
[code]

[2017-09-19 14:00] jasonLaster opened #4088 "[Shortcuts] Support tier 3 OSs"
CCing from [bugzilla] Landry Breuil (:gaston)

Opening the debugger in devtools on OpenBSD triggers lots of vomit:

[code]

Of course, no match for Tier3 platforms in this... :

[code]
Please, think of the kittens and take into account the BSDs or other non-Tier1 platforms (solaris ?)

[bugzilla]:https://bugzilla.mozilla.org/show_bug.cgi?id=1400197#c1

[2017-09-19 14:27] #4063 closed

[2017-09-19 14:29] yzen commented on #4071
### Ideally, for each result item the labeling should be as follows: aria-labelledby should be pointing to ".title" child and aria-describedby should be pointing to ".subttitle". This will require assigning ID's to each one of them. This will help with the unnecessary verbosity of each result item where the screen reader would not have to utter a complete path for each one of them.

[code]

[2017-09-19 14:34] #3399 closed

[2017-09-19 14:35] #3651 closed

[2017-09-19 14:48] jasonLaster commented on #4064
thanks @julienw. I'll close this and add the other issue to our milestone.

If you have other STRs, please share.

[2017-09-19 15:00] jasonLaster commented on #3991
Looks like this is coming from `resetLineNumberFormat`, which was added for wasm

![Screen Shot 2017-09-19 at 10.57.47 AM.png](https://shipusercontent.com/1de2605b4fcebc313490ba415942d51a/Screen%20Shot%202017-09-19%20at%2010.57.47%20AM.png)

[2017-09-19 15:24] jasonLaster commented on #4055
Here is a gist for how i would do it:

[code]

[2017-09-19 15:46] nyrosmith commented on #4055
Wouldn't it be easier to not persisted then to localstorage? Would avoid lots of if statements

[2017-09-19 17:34] jasonLaster commented on #4055
yep, that's what the guard expressions do

[2017-09-19 21:01] tromey commented on #3975
I think this is fixed by https://github.com/devtools-html/devtools-core/pull/698.  I find it a bit difficult to be sure, but at least more sources do show up.

[2017-09-19 21:13] #3260 closed

[2017-09-19 21:38] #3645 closed

[2017-09-19 22:04] jasonLaster opened #4096 "[mochi] show performance metrics for mochitests"
we can log performance metrics w/ the keen API:
![Screen Shot 2017-09-19 at 11.52.46 AM.png](https://shipusercontent.com/4f14958d2a28679bbf46236f3b12f8bb/Screen%20Shot%202017-09-19%20at%2011.52.46%20AM.png)

[code]

[2017-09-20 01:36] darkwing opened #4098 "[Preview] "watch" error: "TypeError: cyclic object value""
STR:

1.  Open the Todo app, create a breakpoint at router.js, line 16
2.  Refresh the source page, let the breakpoint hit
3.  Hover over the object name `app` on line 20
4.  Watch the info popup display
5.  Click the "Watch" keyword in the footer

Error appears:  "TypeError: cyclic object value"

[2017-09-20 01:44] darkwing commented on #4088
Should we default `getKeyFor OS` to `Linux` if the key doesn't hit?  Seems reasonable.

[2017-09-20 07:00] nchevobbe opened #4100 "[Console] Clicking frame from console does not highlight line"
Steps to reproduce:
1. Go to https://mdn.github.io/webassembly-examples/js-api-examples/fail.html
2. Open the console (Cmd/Ctrl + K)
3. Click on the exception location

![sep-20-2017 08-56-21](https://user-images.githubusercontent.com/578107/30630591-99909dfc-9de1-11e7-8cf6-685deca0e9b6.gif)

Expected results:
I see the line I wanted to navigate to highlighted

Actual results:
There is no highligh

[2017-09-20 11:32] Garbee commented on #4081
This is indeed a duplicate of both the previously mentioned issues. IMO best to close this out to focus on the issues with direction resolution actions instead of using the open space for a filler issue.

[2017-09-20 11:41] Garbee commented on #4076
Also, escape is problematic if say a tooltip is open. As escape should close the tooltips in the editor without removing focus. Escaping within CM is not a clear-cut thing as to what expected results should be.

<kbd><kbd>Shift</kbd>+</kbd>Tab</kbd></kbd> currently has no context in CodeMirror. So we could hijack this as our escape hatch. But, I'd much prefer we try to collaborate with this with t

[2017-09-20 11:47] Garbee commented on #4078
So this is more for the "Pause on Exceptions" multi-state button. In the JS on activation/mod if any of it is "on" we'd have the `aria-pressed` attribute set. When it is turned off, remove the attribute. The rest of the buttons are completely transactional, so the attribute on those isn't needed as I understand things.

I completely agree. Styling needs to be improved in a few places for accessibi

[2017-09-20 11:57] Garbee commented on #4075
Styling would be handled the same as buttons in most cases. As that is essentially what tabs are at the end of it all.

The specific problem in carrying this out with tabs though, is the close trigger. Those should be nested within the tab node, and buttons can't be nested in buttons. That's not nice. One solution to this though is borrowing from the linked tutorial. Have the list items, with anch

[2017-09-20 12:08] Garbee commented on #4073
Literally, just making these nodes `button` elements and fixing the main styling to be right resolves all of these issues. The styling of focus state can happen once button styling is figured out.

[2017-09-20 14:09] jasonLaster opened #4104 "[Breakpoints] we should resume if we pause at an old breakpoint"
With AST BPs and original BPs, it's possible that we've paused at a breakpoint before we've had a chance to move it to a new location. See GIF. In that case, we should check to see if the breakpoint is missing... or in an old location...

![](https://files.slack.com/files-pri/T3V7H1198-F762ZAB9A/debugger_pinned_bp.gif)

#### Missing

[code]

#### has moved

[code]

[2017-09-20 14:10] jasonLaster commented on #4098
is this the same thing? https://github.com/devtools-html/devtools-core/issues/681

[2017-09-20 14:42] tromey commented on #3816
I see:
![image](https://user-images.githubusercontent.com/1557670/30650218-93cb3d70-9ddf-11e7-8b0b-edf55a522e9f.png)
First step is maybe to figure out why the error message is so bad.

[2017-09-20 14:46] nchevobbe commented on #4098
Not sure if it is related to https://github.com/devtools-html/devtools-core/issues/681 (it was related to the grip structure).
I can have a look to the issue, see if it's Reps related

[2017-09-20 14:46] jasonLaster commented on #4098
yeah, i think this is reps

[2017-09-20 15:55] tromey commented on #3816
`new URL` is throwing and giving the bad message, but only because we're giving it an empty string.

[2017-09-20 16:03] tromey commented on #3816
Ok, found that, and the links in the stack trace seem to work.  But, the original error location is weird:

![image](https://user-images.githubusercontent.com/1557670/30654367-e0b1a998-9dea-11e7-931e-4d2929c42b55.png)

What is up with that.

[2017-09-20 16:06] tromey commented on #3816
That's `main.js line 4081 > eval:46:13` for those of us who didn't memorize the ascii table in hex.

[2017-09-20 17:04] jasonLaster opened #4106 "[Expressions] switch to a safe client-evaluation strategy"
The current debugger naively evaluates each expression, this means that the debugger can run into issues if there is an exception or syntax error. Lets look at three expressions:

* `this` works
* `foo.bar` if PoE is enabled it will pause because foo is undefined
* `foo)(` if PoE is enabled it will pause because of a syntax error:

The old debugger evaluates expressions in batch safely. Lets take

[2017-09-20 19:16] jasonLaster commented on #4106
we can create a batch expressions wrapper like this:

[code]

[2017-09-20 20:30] borian commented on #4022
Hey,
first contributer here.
I've had a go at this issue.

The mentioned `highlightLineRange` seems to do something different.
`selectSource` seems to be used to do the highlight effect.
![peek 2017-09-20 22-05](https://user-images.githubusercontent.com/1525694/30665218-8e10edc8-9e50-11e7-97da-1f1180f7eec7.gif)

The [`selectSource`](https://github.com/devtools-html/debugger.html/blob/f048741f3c194

[2017-09-21 03:57] jasonLaster opened #4109 "[Stepping] Improve Stepping UX"
We've discussed several ideas for stepping in the past:

1. only show stepping buttons and paused panels when we're paused & when we're stepping.
2. move pausing buttons (Pause on Exception and Next Statement) to the breakpoints panel

There are a couple of advantages:

1. the active state is less noisy
2. the pause state is more obvious
3. we have more space for additional pausing actions. Think

[2017-09-21 04:08] jasonLaster opened #4110 "[PrimaryPane] Move tabs to the header"
I think it would be nice to move the tabs to the header. Also, seeing them there, makes me think the editor style tabs would feel more natural in that context, but it's tough to say.

### Screenshots

<img src='https://shipusercontent.com/de75ef8ec82825aa61c1d0b811734d4a/Screen%20Shot%202017-09-21%20at%2012.07.10%20AM.png' title='Screen Shot 2017-09-21 at 12.07.10 AM.png' width=571>
<img src='http

[2017-09-21 12:24] jasonLaster opened #4111 "[Editor] is occasionally blank"
I occassionally see a `this.state.editor` is not defined issue when opening the debugger the first time.

[2017-09-21 12:57] jasonLaster commented on #3695
i'm doing this elsewhere

[2017-09-21 12:57] #3695 closed

[2017-09-21 13:08] jasonLaster commented on #4022
Hey, great research.

Lets highlight the whole function

How about we create a new method `getFunctionLocation` that returns the start and end location. `findFunctionText` can use it too :)

Sorry for missing this comment yesterday, feel free to ping us in slack. We're much more responsive there!

[2017-09-21 13:21] jasonLaster opened #4112 "[wasm] mochitest is intermittent"
I've seen the wasm test fail a couple times recently. We should investigate

[code]

[2017-09-21 13:38] yurydelendik opened #4113 "[Stepping] skips statements in a loop inside of original file"
STR:
1. Open [sequence_print][sp]
2. Set breakpoint at line 4 (`buffer.push(current);`) of the "sequence_print.js" file
3. Reload the page
4. Click "Step in" button

Actual:
Debugger skipped loop

Expected:
Debugger stayed on the line 4 for seven more times.

[sp]: http://firefox-dev.tools/debugger-examples/examples/sequence-print/sequence_print.html

[2017-09-21 13:39] jasonLaster commented on #4113
Here is the source map [visualization][v]. It looks fine. Could this be an issue w/ column stepping?

[v]: https://sokra.github.io/source-map-visualization/#base64,ZnVuY3Rpb24gc2VxdWVuY2VQcmludChuLHIpe2Zvcih2YXIgZT1bXSx1PW47dTw9cjt1KyspZS5wdXNoKHUpO3JldHVybiBlLmpvaW4oIiwiKX0KLy8jIHNvdXJjZU1hcHBpbmdVUkw9c2VxdWVuY2VfcHJpbnQubWluLmpzLm1hcAo=,eyJ2ZXJzaW9uIjozLCJzb3VyY2VzIjpbInNlcXVlbmNlX3ByaW50LmpzIl0

[2017-09-21 14:16] #4088 closed

[2017-09-21 16:29] tromey commented on #3816
I think I'm going to leave this one with just the source-map fix, the weird mangling of the location is something else.

[2017-09-21 17:42] jasonLaster commented on #4096
closed because it's now in the mochi repo

[2017-09-21 17:42] #4096 closed

[2017-09-21 17:42] #3660 closed

[2017-09-21 18:01] #2496 closed

[2017-09-21 18:34] jasonLaster opened #4117 "[ConditionalPanel] Use CodeMirror"
It would be really nice to have a snazzy editor in the conditional panel. We could re-use something like this for watch expressions too.

Here's the [branch](https://github.com/jasonLaster/debugger.html/tree/conditional-editor)

![](http://g.recordit.co/u720kh3aDz.gif)

[2017-09-21 18:54] jasonLaster commented on #3598
This was fixed when we fixed #4106

[2017-09-21 21:01] jasonLaster commented on #4075
#### should be keyboard navigable

* left and right arrow should change the focused tab
* space or enter should select a source
* tab/shift tab should jump to the command bar or source tree

We'll listen for arrows and space bar events and set the `ariaActiveDescendent` state

[code]

[2017-09-22 00:47] jasonLaster opened #4121 "[SourceTree] Set root directory"
One of my biggest pet-pieves while debugging is that the source tree shows thousands of files, but in reality, I only care about one directory.

It would be really cool if the user could right click on a directory, and select "Set Root Directory".

Notes:

* We would highlight the root node in the UI
* Right click would have a contextmenu option to "reset the directory"
* We could persist the sett

[2017-09-22 00:57] jasonLaster commented on #4021
This is a beautiful UI:

![](https://files.slack.com/files-pri/T3V7H1198-F76CM36NL/screen_shot_2017-09-21_at_6.53.15_pm.png)

[2017-09-22 01:29] jasonLaster opened #4122 "[Accessibility] Show a shortcuts modal"
It would be great from an accessibility perspective if we documented our shortcuts and mouse tricks:

* alt-click to continue to a location
* cmd*b to toggle a bp

Notes:

* we could have a button in the bottom right to launch the modal
* we could use this modal pattern for other things in the future
* we could share this modal w/ other tools so that other tools can have shortcut modals too :)

##

[2017-09-22 04:11] zacck commented on #3972
@jasonLaster  I can try get this one working

[2017-09-22 04:12] jasonLaster commented on #3972
sure!

[2017-09-22 13:18] jasonLaster commented on #3954
closing as we'll be fixing this as part of #4117

[2017-09-22 13:18] #3954 closed

[2017-09-22 13:39] #3771 closed

[2017-09-22 14:17] jasonLaster commented on #4032
@james-stewart is on it

[2017-09-22 14:25] jasonLaster commented on #3819
@anzumana is on it

[2017-09-22 16:03] #4111 closed

[2017-09-22 18:37] #3904 closed

[2017-09-22 18:39] jasonLaster commented on #4117
@jacobjzhang is working on it

[2017-09-22 19:45] jasonLaster commented on #4110
Daniel is working on it

[2017-09-22 19:46] #3831 closed

[2017-09-22 20:02] jasonLaster commented on #3892
Here is a GIST

[code]

[2017-09-22 20:03] jasonLaster commented on #3892
James is on it

[2017-09-22 20:17] jasonLaster commented on #3903
Daniel looked into it and saw this was fixed

[2017-09-22 20:17] #3903 closed

[2017-09-22 20:25] jasonLaster commented on #4062
[code]

[code]

[2017-09-22 23:08] #4049 closed

[2017-09-22 23:10] jasonLaster commented on #3901
@iamstratos we try and use CSS files

[2017-09-22 23:11] #3997 closed

[2017-09-22 23:11] jasonLaster commented on #3997
fixed!

[2017-09-22 23:16] jasonLaster commented on #3986
yay! we did it :)

[2017-09-22 23:16] #3986 closed

[2017-09-22 23:16] jasonLaster commented on #1108
going to close this as we have done the big items!

[2017-09-22 23:16] #1108 closed

[2017-09-22 23:28] #3162 closed

[2017-09-22 23:30] jasonLaster commented on #3862
fixed by #4116

[2017-09-22 23:32] jasonLaster commented on #4019
We should never see the second context menu. This is a regression (I believe we introduced when we upgraded codemirror).

[2017-09-23 02:26] #4083 closed

[2017-09-23 02:42] jasonLaster opened #4136 "[Preview] Show React Components"
We currently show react components with all of the properties. This makes it pretty hard to see what's truly important. We should design a *special* preview popup for react components:

1. Recognize it's a react component
2. Highlight state / props
3. Show the component class name (displayName)
4. Show the other properties pelow

### current

<img src='https://shipusercontent.com/929728a9e94a27ed3

[2017-09-23 02:49] #2782 closed

[2017-09-23 03:02] jasonLaster commented on #3631
closing as we're upgrading the tree component which changes this logic

[2017-09-23 03:02] #3631 closed

[2017-09-23 03:02] #3862 closed

[2017-09-23 03:12] jasonLaster commented on #4047
Here is a good sketch:

[code]

we'll want to add this test to `getEmptyLines.js`  and change the test file to ``getEmptyLines.spec.js`

[code]

[2017-09-23 08:43] hughugsy commented on #3975
So, this is fixed by devtools-html/devtools-core#698 ? :)

[2017-09-23 13:16] jasonLaster commented on #3975
lets see :)

[2017-09-23 13:41] jasonLaster opened #4137 "[Tree] hide CSS files"
When CSS,PNG,SVG files are shown in the debugger they're actually JS files that webpack did something on. The way you can tell, is the source has a CSS extension, but its contentType is `text/javascript`.

We should not add these sources to the tree because they're useless and take up space :)

### Patch

#### Util

[code]

#### Tests

[code]

### Screenshots

<img src='https://shipusercontent.com

[2017-09-23 14:03] jasonLaster opened #4138 "[SourcesTree] show the webpack title"
We are now showing the webpack icon, which is amazing. Now that it's in, I think it would be sweet to replace the protocol `webpack://` with the project name: `Webpack`.

![](https://user-images.githubusercontent.com/9325039/30764143-471089c8-9faf-11e7-968e-cfa3e6329ae5.png)

[2017-09-23 14:48] darkwing opened #4140 "Duplicate Scope Item"
Should the same object be displayed twice?
<img width="1137" alt="duplicatescope" src="https://user-images.githubusercontent.com/46655/30774197-5ad73f0c-a044-11e7-8b27-eab9d76ed30e.png">

[2017-09-23 14:49] jasonLaster commented on #4140
no, that's pretty scary...

[2017-09-23 15:36] jasonLaster commented on #4136
Here's a good sketch for a V1:

when it sees a react component, it will only render props + state

[code]

[2017-09-23 16:22] jasonLaster opened #4141 "[Outline] Include icons from DevIcons"
It would be sweet to use a consistent set of icons as Atom. This is a two step process:

1. setup a font-loader in webpack for base64 encoding fonts
2. pull in octicons

Here are some links

* https://github.com/atom/atom/blob/master/static/variables/octicon-utf-codes.less
* https://github.com/atom/atom/blob/master/static/octicons-2.1.2.woff
* http://fizzed.com/oss/font-mfizz
* https://vorillaz.gi

[2017-09-23 19:59] jasonLaster commented on #3705
Thanks @SebastianZ, I looked at this w/ gareth and we think the problem is in our HTML parsing [`parse-script-tags`][pst].

Here is a [test](https://gist.github.com/jasonLaster/ed43541e4f59fd6366f15bde2061b054) that we can use to find the crazy edge cases w/ <script> tags. This test has a script w/ json as well as external JS as well.

[pst]:https://github.com/ryanjduffy/parse-script-tags

[2017-09-23 20:18] jasonLaster commented on #3705
Actually, upon closer examination, it looks like parse-script-tags worked:

[code]

[2017-09-24 14:31] #4110 closed

[2017-09-24 14:37] jasonLaster opened #4151 "[Tabs] Show Framework logos"
It would be really cool if we could show a framework logo in the source tabs. This would help us differentiate between the Expressions component, actions, and reducer.

To figureout if a file is a component, actions, or reducer we need to check the AST.

Component: imports react and uses createClass or the Component class
Action: has a function with an inner that has an object with dispatch
Reduce

[2017-09-24 14:54] jasonLaster commented on #4151
Here's a [patch][p] to help get started

[p]:https://gist.github.com/jasonLaster/9045e18ce2a74369187e9bb33eee4610

[2017-09-24 21:29] #4073 closed

[2017-09-25 13:40] yzen commented on #4080
### Need to be able to navigate to headers with keyboard
Header elements should be tabbable (have tabindex="0" attribute). This way, within the accordion, tabbing will jump between headers, optional controls inside headers (checkboxes, etc) and tree elements within the accordion list item (they will be keyboard accessible when the tree component is updated).

[2017-09-25 13:42] yzen commented on #4080
By container I mean the element that has a ```.tree``` class (e.g. element containing the tree component). This will be solved with tree component update.

[2017-09-25 13:49] yzen commented on #4080
With some list specific styling taken care of (removed) the following changes will make accordion more semantically reach:

[code]

Note <H2> is used here only because I assumed it's the logical nested header level, it might actually be something else.

[2017-09-25 14:02] jasonLaster commented on #3988
I looked into the perf profile this weekend and found two issues, codemirror and the source tree. Here are three profiles:

1. [no debugger](https://perfht.ml/2xAckz9)
2. [debugger open w/o the editor](https://perfht.ml/2xA3VLT)
3. [debugger open](https://perfht.ml/2xAtRqG)

### CodeMirror is the big offender

The first 30 seconds is spent responding to two significant events: `newSource` and `loa

[2017-09-25 14:44] jasonLaster commented on #4047
I was thinking about these rules again and I think we want to add support for disabling these lines: (2, 3, 5, 6, 8, 10)

Here are the rules for disabling:

1. object key/value pairs where the value does not make a call
2. inert syntax like `}` and `});` on lines 5 and 10.
3. comments and whitespace (8, 6).

[code]

We can define inert syntax as a line with characters like `{}()`, that is not at t

[2017-09-25 15:43] jasonLaster commented on #3988
Here is @ochameau's patch:

From this you could see that `SourcesTree.componentWillReceiveProps` is slow.
Mostly because of immutable.js. It see a 3x win if I replace it with a naive manual check.

See this patch (sorry, it is against the webpack bundle):
https://bugzilla.mozilla.org/page.cgi?id=splinter.html&bug=1399242&attachment=8909337

Also, we call a url module helper too many times. We shou

[2017-09-25 16:12] digitarald commented on #3988
Just a FYI for debugging perf, if you wrap the code that calls into codemirror with `performance.mark` and `performance.measure` it would show them in the marker view.

[2017-09-25 18:00] violasong commented on #4122
This looks great! I think I prefer the UI with the single modal - while the sidebar makes it look nicer, I suspect shortcut-hunting is easier when it's all laid out.

I also recommend using the main body color and larger/darker icons - I only changed the first row but hopefully this is clear enough :).

<img width="852" alt="image" src="https://user-images.githubusercontent.com/55994/30822975-9ab5

[2017-09-25 18:39] jasonLaster opened #4158 "Add Telemetry probes"
We should add some baseline telemetry probes

* source selected (react component, minified, original file)
* add a bp on a react component, minified, original file

Links:
* [shared/telemetry](http://searchfox.org/mozilla-central/source/devtools/client/shared/telemetry.js)
* [toolbox](http://searchfox.org/mozilla-central/source/devtools/client/framework/toolbox.js#675)
* [docs](https://firefox-sou

[2017-09-25 22:32] jasonLaster commented on #4151
James is working on it

[2017-09-25 22:32] #4137 closed

[2017-09-25 22:33] #4138 closed

[2017-09-25 22:40] jasonLaster commented on #4019
This was a regression caused by a global toolbox contextmenu that used a capture. It'll be fixed soon

[2017-09-25 22:47] ochameau commented on #3988
\o/ I'm so glad to see you use the profiler! Hopefully you will start a new trend in the team :-)

I completely missed the impact of codemirror in the profile, good catch.
It looks like showMessage method is called a lot of times `showMessage(Loading…)` when you reload and have a source already selected. I think there is also unexpected number of `newSource` events coming from the actors. But the

[2017-09-26 04:42] digitarald commented on #4109
Just to throw this in as hypothesis that we could test with some user research or an experiment: The stepping controls to the side of the code might throw some people off, as they navigate execution flow navigate the source but the controls are in the sidepanel.

VSCode's solution that overlays the stepping controls seems like a good alternative and also avoids the empty button space that needs to

[2017-09-26 08:40] mikhoul commented on #475
@jasonLaster   Could you tell me which solution I have if I want to have "_**Auto Prettify Minified Sources**_" in Firefox 56 and higher ?    I don't see this option that I had in the older FF version.

Regards :octocat:

[2017-09-26 09:28] Anzumana opened #4167 "[Breakoints] Remote Debugging Firefox Session Active Breakpoint is not getting highlighted"
Sample Project that were the issue is occurring:
[code]

![screen shot 2017-09-26 at 11 14 00](https://user-images.githubusercontent.com/2629041/30852997-bd65fb66-a2ad-11e7-9cff-6b6fb3f04bf8.png)

I am running the debugger in chrome based on the master branch ( yarn start )

The behaviour i am seeing is that i don't know what part of the code the debugger has stopped on. As it is not being highlig

[2017-09-26 09:44] nyrosmith commented on #4167
Not at my machine right now. @Anzumana  does switching to the light theme make a difference?

[2017-09-26 10:43] codehag commented on #3975
this is fixed by devtools-html/devtools-core#698 -- i left comments on the PR

[2017-09-26 13:42] yurydelendik opened #4168 "[SourceTree] 30000 files in the tree"
STR:
1. Open and debug http://firefox-dev.tools/debugger-examples/examples/f30k/index.html
2. Browse source tree

Actual result:

Browser hangs

Expected result:

Able to open and browse source tree with 30000 files.

[2017-09-26 13:48] Anzumana commented on #4167
sec let me check

[2017-09-26 13:52] Anzumana commented on #4167
![screen shot 2017-09-26 at 11 14 00](https://user-images.githubusercontent.com/2629041/30863997-b6250de0-a2d2-11e7-99bb-05c0c1313568.png)
sadly same behavior.

[2017-09-26 13:55] nyrosmith commented on #4167
@Anzumana thx for checking. I'll try to find the cause

[2017-09-26 14:45] #4019 closed

[2017-09-26 14:47] #3451 closed

[2017-09-26 14:48] #3972 closed

[2017-09-26 14:53] #3949 closed

[2017-09-26 14:58] #2859 closed

[2017-09-26 14:59] #3678 closed

[2017-09-26 18:24] jasonLaster commented on #3816
@tromey what's the status here?

[2017-09-26 19:26] Loirooriol commented on #3598
The underlying problem is not fixed. Just a small change at step 5:

1. Go to http://www.example.org/
2. Open the debugger
3. Make sure it is set to "Ignore exceptions"
4. Add a new watched expression: "foo.bar" (without quotes)
5. Set the debugger to "Pause on all exceptions"
6. The debugger pauses: "ReferenceError: foo is not defined"
7. Remove the watched expression
8. Click ▷ (Resume)

[2017-09-26 20:43] jasonLaster opened #4171 "[PrettyPrint] auto-pretty-print minified sources"
The old debugger would automatically pretty print minified sources. This was a nice feature, which removed an extra "pretty print" action.

[2017-09-26 20:43] jasonLaster commented on #475
Hi, we don't currently offer auto pretty-print. I just created #4171 to track the feature.

[2017-09-26 20:44] jasonLaster commented on #4109
we've discussed moving the stepping buttons before

[2017-09-26 20:45] jasonLaster commented on #4109
For me, it's an incremental thing:

1. move pause buttons, which are rare
2. hide step buttons so they're only visible when paused
3. improve the paused UI holistically

[2017-09-26 23:01] jasonLaster opened #4173 "[breakpoints] Refactor addBreakpoint"
We currently have two params `condition` and `hidden`, which are optional.
When you want to create a hidden breakpoint you have to pass null in as the condition.

We should switch to using an options object, which will be simpler

[code]

[2017-09-27 01:34] jasonLaster opened #4177 "GIT fetch is borked"
Fetching from origin will currently throw an error

[code]

### Error

[code]

* I can create new repo based on local master at [foobar](https://github.com/jasonLaster/foobar) and it works
* the github desktop app works w/ origin
* we can merge PRs and they're added to master
* i tried pushing another branch onto origin/master but it was still broken

[2017-09-27 04:13] nyrosmith commented on #4167
Hi @Anzumana I just checked on my machine and it works. If you look at your screenshots in the "Scopes" panel the debugger tells you that it hasn't paused.
It looks to me you navigated to your demo repo before you attached/started the debugger. So your app already started and the code you set your breakpoints already ran.
Switch to the debuggee and refresh the page and everything should be fine.

[2017-09-27 04:52] AnshulMalik commented on #4085
Hey @darkwing I don't think the tree actually re-renders.

And also the second point, The opened items stays open on "collapse pane" for me.

Can you please recheck?

[2017-09-27 09:33] codehag commented on #4177
I tried reproducing this and haven't been able to. is this still an issue?

[2017-09-27 10:43] bomsy commented on #4177
Yeah ... looks like its fixed!

[2017-09-27 10:48] nyrosmith commented on #4177
I had this problem in the morning. Need to check when I'm back on my PC

[2017-09-27 14:18] tromey commented on #3816
The devtools-source-map fix was https://github.com/devtools-html/devtools-core/pull/700

I'm not ready to do a new release of that package, though, because I have a number of changes I want to bundle together.

[2017-09-27 14:40] nyrosmith commented on #4177
Just checked. Now it works for me again

[2017-09-27 14:50] #4177 closed

[2017-09-27 14:56] jasonLaster commented on #3666
Hey @bomsy can you add some more context here?

[2017-09-27 14:58] jasonLaster commented on #3671
closing because it's here:

https://github.com/devtools-html/devtools-core/issues/170

[2017-09-27 14:58] #3671 closed

[2017-09-27 15:01] jasonLaster commented on #3583
we can't reproduce it

[2017-09-27 15:02] codehag commented on #4171
This could be done via an action on select source?

[2017-09-27 15:06] #3707 closed

[2017-09-27 15:12] #3766 closed

[2017-09-27 15:12] #3746 closed

[2017-09-27 15:12] jasonLaster commented on #3746
this is a dupe

[2017-09-27 15:12] jasonLaster commented on #3755
@bomsy taking your head off it because it's been a month

[2017-09-27 15:17] codehag opened #4181 "[CommandBar] Toolbar buttons are not visible while using High Contrast #1 and High Contrast Black themes"
![](https://bugzilla.mozilla.org/attachment.cgi?id=8905832)
[Affected versions]:
Firefox 57.0a1 (BuildId:20170908220306)
Firefox 56.0b9 (BuildId:20170903140023)

[Affected platforms]:
Windows 7 64bit.

[Steps to reproduce]:
1. Launch Firefox.
2. Change Windows display to High Contrast #1 or High Contrast Black.
3. Access the https://devtools-html.github.io/debugger-examples/examples/todomvc/ webpa

[2017-09-27 15:18] jasonLaster commented on #3583
Here's an STR:

1. go to https://www.piskelapp.com/
2. navigate to `piskel-animated-preview.js`
3. add a breakpoint on line 39 in `startAnimationTimer`

[2017-09-27 15:18] codehag commented on #4181
Linked Bugzilla issue: https://bugzilla.mozilla.org/show_bug.cgi?id=1398064

[2017-09-27 15:23] jasonLaster commented on #4171
The way i see it working is, when we load the source text we can check for
a: min.js,
b: a line w/ > 1000 chars

and if either is true we can fire the `togglePrettyPrint` action

[2017-09-27 15:23] codehag opened #4182 "All Lines are treated as empty lines when paused"
Steps to reproduce:
<img width="1051" alt="screen shot 2017-09-27 at 5 21 52 pm" src="https://user-images.githubusercontent.com/26968615/30922164-9c5deefa-a3a8-11e7-872c-c31dfb368b80.png">

1. Launch Firefox.
2. Access the https://devtools-html.github.io/debugger-examples/examples/todomvc/ webpage.
3. Open the debugger.
4. Open the todo-view.js file.
5. Add a breakpoint at line 34.
6. Add an todo

[2017-09-27 15:23] jasonLaster commented on #3532
closing because once we do #4009 it will work.

[2017-09-27 15:25] jasonLaster commented on #3789
@darkwing can you add more context here?

[2017-09-27 15:26] codehag opened #4183 "[Preview] scrolling clears the popup"
Associated Bugzilla Issue: https://bugzilla.mozilla.org/show_bug.cgi?id=1397697

[Steps to reproduce]:
1. Launch Firefox.
2. Access the https://devtools-html.github.io/debugger-examples/examples/todomvc/ webpage.
3. Open the debugger.
4. Open the todo-view.js file.
5. Add a breakpoint at line 34.
6. Add an todo item in the UI.
7. Hover over "this" from line 34.
8. Expand "$el and el".
9. Scroll wh

[2017-09-27 15:26] codehag commented on #4183
Depends on: https://github.com/devtools-html/debugger.html/issues/4182

[2017-09-27 15:29] jasonLaster commented on #3390
@julienw talks about it here too #4064

--

When stepping in some code, the "step out" button allows to wait at the end of the current function, so that we can inspect the final state of the function's variables before actually stepping out. This is useful.

However we can't inspect the return value itself. This would be a very useful addition.

Note: this was possible in the old debugger so we sh

[2017-09-27 15:30] jasonLaster commented on #3966
Tohm is working on small strings

[2017-09-27 15:38] jasonLaster commented on #3928
dupe of #4183

[2017-09-27 15:38] #3928 closed

[2017-09-27 15:41] codehag opened #4185 "Source Tree and Outline show have empty messages aligned"
We currently show empty messages for both source tree and outline components, but they are not aligned and have slightly different styles. They should have the same style ( i would suggest using the styles from source tree)

Good beginner bug! I am happy to mentor; If i am not available @nyrosmith is around too, he has some experience with these two components

<img width="252" alt="screen shot 20

[2017-09-27 15:46] bomsy commented on #4171
There is an `isMinified` function which the old debugger uses as heuristics  to decide, we could use that ..
https://searchfox.org/mozilla-central/source/devtools/client/debugger/utils.js#74

[2017-09-27 15:47] jasonLaster commented on #4171
lets steal it:

[code]

[2017-09-27 16:18] jasonLaster commented on #3601
Hey @Fischer-L I'm so sorry i missed this. In general, you should ping us in slack if you haven't heard from us.

I think this issue is a bit too complicated for a new comer... lets find another issue

[2017-09-27 16:29] Fischer-L commented on #3583
Saw the issue. Would like to take this bug.

[2017-09-27 16:30] Fischer-L commented on #3601
ok, thanks

[2017-09-27 16:30] umedsondoniyor commented on #4185
I would like to solve this issue @codehag

[2017-09-27 16:35] codehag commented on #4185
@umedsondoniyor all yours!

[2017-09-27 16:36] nyrosmith commented on #3601
I am grabbing it

[2017-09-27 16:36] jasonLaster commented on #3583
@Fischer-L it's yours!

[2017-09-27 16:40] #4055 closed

[2017-09-27 16:47] clarkbw commented on #4177
Glad its working again, not yet sure what happened.

[2017-09-27 16:49] #4064 closed

[2017-09-27 17:14] #4173 closed

[2017-09-27 18:14] jasonLaster commented on #4177
haha - yeah, i'd like to see if there was something that happened on the GH side

[2017-09-27 18:22] #4085 closed

[2017-09-27 18:23] #3975 closed

[2017-09-27 18:23] jasonLaster commented on #4047
Daniel is on it

[2017-09-27 18:24] #4062 closed

[2017-09-27 18:26] #3974 closed

[2017-09-27 18:36] digitarald opened #4189 "Search on large code base hangs for 500ms when skipping to the next word"
Recorded when debugging https://pudding.cool/2017/03/hamilton/index.html and searching for `.arc`

Perf shows codemirror being the issue, just like #3988 : https://perfht.ml/2wWWuLc

![image](https://user-images.githubusercontent.com/8599/30930956-255f6408-a378-11e7-9439-39e98cbd45d5.png)

[2017-09-27 18:44] jasonLaster commented on #4189
@anshul is looking at it

[2017-09-27 18:45] darkwing opened #4190 "Sources root missing padding"
Somewhere along the line we lost that padding that should be to the left of the root element in the sources tab:

<img width="252" alt="wheredapadgo" src="https://user-images.githubusercontent.com/46655/30931370-1d66bfa0-a38a-11e7-97bb-b1fea6a07fde.png">

[2017-09-27 18:45] digitarald commented on #4189
Another profile for just opening a file, causing 1s hang: https://perfht.ml/2wWIEsr

[2017-09-27 20:04] jselmani commented on #3725
I'm a student at Seneca College learning open source, and I was hoping to work on this bug for my course as a good start.  If no one else is currently working on it, I'd like to give it a try.  Look forward to hearing back!

PS. In case you're wondering, I'm one of Dave Humphrey's students 👍

[2017-09-27 20:04] jasonLaster commented on #3725
Hey @jselmani it's yours!

[2017-09-27 20:05] jasonLaster commented on #3725
stop by our slack w/ questions, but the name of the game here is to move the directories and get `yarn test` passing. Our integration tests too i suppose, but we can check CI for that.

[2017-09-27 20:46] bomsy commented on #4190
@diessica excellentl!

[2017-09-27 20:48] diessica commented on #3846
Is anyone on it? I'd like to take this.

[2017-09-27 20:51] jselmani commented on #3725
I will certainly join the slack channel and move forward from there.  Thanks for getting back to me so quickly @jasonLaster.

[2017-09-27 20:51] bomsy commented on #3846
@Ronsho are you still on this?

[2017-09-27 21:07] diessica commented on #3523
Let's get this closed! I'll work on the last item.

[2017-09-27 21:24] jasonLaster commented on #3523
Thanks @diessica i think this is actually done :)

take a look at firefox nightly. The launchpad colors are off at the moment due to the variables not being synced

[2017-09-27 21:24] jasonLaster commented on #3846
@diessica it's yours

[2017-09-27 22:51] digitarald opened #4192 "Issues from debugging session on Hamilton Data Vis"
Debugging https://pudding.cool/2017/03/hamilton/index.html hits a few issues. Goal is to find existing issues or file new ones with all the listed problems.

- [x] Super slow Debugger switching
- [x] Empty tab
- [x] No source map (or pretty print)

![Recording](http://g.recordit.co/uaLAUvm6JN.gif)

### Super slow Debugger switching

Debugger takes a looong time open … counting "One, two, three, fo

[2017-09-27 23:51] jasonLaster commented on #4112
[code]

[2017-09-27 23:59] violasong commented on #3523
Oh yeah :), I think this is done except possibly "symbol popup has the same background" - I forget what that was referring to.

[2017-09-28 00:07] #3523 closed

[2017-09-28 00:08] jasonLaster commented on #3523
cmd+shift+o for function search.

![Screen Shot 2017-09-27 at 8.08.10 PM.png](https://shipusercontent.com/b4d2c9a854131e7652a0c0e9882424d5/Screen%20Shot%202017-09-27%20at%208.08.10%20PM.png)

I'd like to circle back when we look at editor UX

[2017-09-28 00:10] jasonLaster commented on #3178
![Screen Shot 2017-09-27 at 8.10.37 PM.png](https://shipusercontent.com/f6c10d9f44203f1e2f6c8c24d3ec53c9/Screen%20Shot%202017-09-27%20at%208.10.37%20PM.png)
![Screen Shot 2017-09-27 at 8.10.26 PM.png](https://shipusercontent.com/f50ae61ebd1f6e3a86b95b15bb71da57/Screen%20Shot%202017-09-27%20at%208.10.26%20PM.png)

[2017-09-28 07:21] diessica commented on #3523
@jasonLaster I don't get it. Still need help on this?

[2017-09-28 07:22] diessica commented on #3978
It looks like an quick refactor. Still need help on this?

[2017-09-28 08:20] Anzumana commented on #4167
in both screenshots the ui shows that its actually paused.  I did what you suggested before many time before posting the issue. So that does not help sadly.

[2017-09-28 08:29] Anzumana commented on #4167
this is a screen of what it should look like from firefox developer edition with the build in debugger.

![screen shot 2017-09-28 at 10 25 31](https://user-images.githubusercontent.com/2629041/30956450-aad9f106-a437-11e7-9071-5f2fd5fa468f.png)

[2017-09-28 08:56] nyrosmith commented on #4167
I reopen this until we know what's exactly happening.
@Anzumana and I will do a remote session to tackle this down

[2017-09-28 10:50] codehag commented on #3736
@ochameau thanks! I will translate this into a pr against the git repo

[2017-09-28 12:25] dnguneratne commented on #3634
I'd like to get started on the second one.

[2017-09-28 14:25] Fischer-L commented on #3583
For the "?" found in https://github.com/devtools-html/debugger.html/issues/3583#issuecomment-332556608, it turns out that that is what exactly the source map provides. Log the returned sources for search by `searchResult` in SourceSearch.js [1], could get the source item of "piskel-animated-preview.js?20170502"[2]. In fact, that filename is given by the website on purpose (seems that is timestamp)

[2017-09-28 15:22] yurydelendik opened #4200 "[Breakpoints] don't trigger on page restart"
STR:

1. Open [example][e] and start debugging
2. Set breakpoints at fetch-brk.html line 6
3. Refresh the page
4. Press 'resume' when needed

Expected result:
Debugger stops at breakpoints

Actual result:
Only stops at debugger statements

[e]:https://yurydelendik.github.io/old-man-sandbox/fetch-brk.html

[2017-09-28 15:46] jasonLaster opened #4201 "[Mapping] map watch expressions"
It would be nice to map watch expressions when we're paused.

Here is a sketch that re-purposes what we do when we [preview][p]

[p]: https://github.com/devtools-html/debugger.html/blob/master/src/actions/ast.js#L180
[code]

[2017-09-28 16:22] Anzumana commented on #4167
<img width="903" alt="screen shot 2017-09-28 at 18 21 13" src="https://user-images.githubusercontent.com/2629041/30978114-eb669e62-a479-11e7-96f5-9580ba5882b5.png">
[code]

[2017-09-28 17:02] gabrielluong commented on #4185
I think it should actually be styled like the Outline panel for consistency with the rest of the developer tools. We currently follow how the Accordion style messages when there is no content in them. We should simply do the same for these sidebar components in the debugger because that is also how we style empty sidebar panels in the Inspector.

[2017-09-28 17:52] jasonLaster commented on #3583
Thanks @Fischer-L. Lets see how the Tree strips away the `?....` and apply that to Tabs, search results, and the call stack.

My guess is that it's in here:

https://github.com/abhinav-koppula/debugger.html/blob/issue-4043/src/utils/sources-tree/getURL.js#L27-L31

we'll likely want to re-use the same helper function in all the places...

[2017-09-28 17:54] jasonLaster commented on #3978
@diessica that'd be great

[2017-09-28 17:54] jasonLaster commented on #3523
nope, we're good here.

[2017-09-28 19:59] #4043 closed

[2017-09-28 22:00] digitarald opened #4203 "Show full URL in source tab title"
Reported by bjv via https://discourse.mozilla.org/t/full-file-paths-on-hover-in-debugger/19664

**STR:** Open a file and hover the tab.

**ER:** Show the full URL

**AR:** Tab title currently repeats the tab title, including `…`.

<img width="455" alt="image" src="https://user-images.githubusercontent.com/8599/30992209-92329f74-a45d-11e7-83a4-60bd24a3d8dd.png">

(Marking as bug as the current titl

[2017-09-28 22:55] steffiau commented on #3634
Hi @tohmjudson , would you be completing all the linters? If its alright I'd like to give it a try too

[2017-09-28 23:12] tohmjudson commented on #3634
The first 4 are done and in the package, but if you would like to add the gender checking, go for it!

[2017-09-28 23:14] steffiau commented on #3634
Awesome, I'll work on it this weekend!

[2017-09-28 23:20] jasonLaster commented on #4203
here's where the bug is

[code]

[2017-09-29 04:04] jasonLaster opened #4208 "Reenable new debugger search mochitests on windows"
Follow up to Bug 1391719

We are skipping 4 tests on windows as part of release 0.12 of the debugger.

It seems very likely that the failures are due to a focus issue on Windows. We attempt to press the "search" shortcut but nothing happens. We should try to force the focus on the debugger panel before triggering the shortcut.

See a screenshot of a test failure at https://public-artifacts.taskclu

[2017-09-29 04:10] jasonLaster opened #4209 "[Breakpoints] Page source isn't available in breakpoint triggered in refresh with a file URI"
STR:

1. go to this [site](https://bug1381571.bmoattachments.org/attachment.cgi?id=8887150)
2. Open Devtools > Debugger
3. Place a breakpoint on the alert()
4. Refresh the page

Observed Result:

The breakpoint is hit, but the source cannot be viewed or found in the sources list. I can't view what breakpoint has been hit, I can only hit continue until the page is loaded.

Expected Result:

The bre

[2017-09-29 07:54] nyrosmith commented on #4203
I am on it!

[2017-09-29 10:07] codehag opened #4210 "goto line functionality"
a user has requested goto line functionality similar to the old debugger

something like adding `:100` in the search field to go to line 100

this should be easy to implement using the selectLocation functionality using the current source.

### GIST

[code]

[2017-09-29 13:33] jasonLaster commented on #4210
Agreed, lets find a good UI for this. Chrome uses `ctrl+g` which is the standard shortcut. They also use their modal, which is a good pattern here. I think they had an alert box until recently :)

<img src='https://shipusercontent.com/b39405c0a8f5e50717844c634f1f0fe6/Screen%20Shot%202017-09-29%20at%209.32.22%20AM.png' title='Screen Shot 2017-09-29 at 9.32.22 AM.png' width=978>

[2017-09-29 13:57] jasonLaster commented on #4189
Here is another example: [profile](https://perfht.ml/2yw0hjS)

STR:
- Go to netflix.com
- Open devtools debugger
- Find script codex.nflxext.com -> 2.0.0/truthbundle -> akira -> common/bootstrap.js
- Ctrl+F to search source code
- Type 's' 't'

Expected: Able to find strings in source
Actual: After first letter, the browser hangs until a slow script dialog pops up.

I see a lot of time in JS, but

[2017-09-29 14:47] #3150 closed

[2017-09-29 14:48] jasonLaster opened #4211 "[Breakpoints] create a mochitest for AST breakpoints"
I'll share some notes on how to do a mochitest w/ a small server so the source can change

[2017-09-29 14:54] eqrion commented on #4209
Also from [bugzilla](https://bugzilla.mozilla.org/show_bug.cgi?id=1381571#c2), this seems to only happen when using a `file:///` URI.

So to reproduce it, you have to view the page locally through `file:///`.

[2017-09-29 15:54] #4106 closed

[2017-09-29 15:55] bomsy opened #4212 "Batch expressions wrapper"
we can create a batch expressions wrapper like this:

[code]

[2017-09-29 16:26] jasonLaster opened #4213 "[Shortcuts] modal polish"
#### Todos

- [ ] we should add a shortcut for launching it via `cmd + /` i think
- [ ] we should move K+ to the right and soften the color (whatever the accordion headers are)
- [ ] the section headers in the mocks looked pretty nice. Lets do some small typography cleanup.

[code]

[2017-09-29 19:16] jasonLaster commented on #4168
[code]

[2017-09-29 21:42] violasong opened #4217 "[Editor] Update the look of matching brackets highlight for Photon"
To match Photon, it would be great to replace the old green outline of matching brackets to this blue background/underline styling instead:

<img width="437" alt="image" src="https://user-images.githubusercontent.com/55994/31037084-1151a338-a524-11e7-933b-7b4db2649635.png">

This is a CM change and changes should be done in light-theme.css and dark-theme.css.

[2017-09-29 22:15] yurydelendik commented on #4168
I measured performance of source tree with 3,000 files (10x less of the target), and following pain points are:

* addTree operation ~470ms
* tree sort ~160ms
* tree batch component update ~5900ms

I was able to reduce time to 30%, by:

1. Removing SVG {icon} (improvement)-> tree batch component update ~2100ms
2. Not parsing debuggee domain all the time -> tree sort ~5ms
3. Having an name index fo

[2017-09-29 23:07] dholbert commented on #4168
If the debugger is putting zillions of copies of the same SVG content into the DOM for this use-case,  it's possible you'd get a benefit from replacing this duplicated SVG content with an `<img> (or` an element with "background-image") which points at some single local SVG helper file (or a resource:// URI or somesuch). That way, we'd have a single copy of the SVG document/content, and a single ra

[2017-09-29 23:20] dholbert commented on #4168
Yeah, looks like the "document" icon here is: the following (whitespace tweaked for readability):
[code]

This seems to come from https://github.com/devtools-html/debugger.html/blob/0ab605e797178aac92e9fd5480b63844ca4be15b/assets/images/file.svg -- which is already represented as a standalone file in the repository here.  But it seems debugger.html is extracting its SVG DOM and directly appending

[2017-09-29 23:32] jasonLaster commented on #4171
/claim

[2017-09-29 23:40] Loirooriol opened #4220 "Watch expressions are easily hijackable"
1. Load http://example.com/
2. Open the web console
3. Enter `eval = () => 0`
4. Open the debugger
5. Add a new watch expression: `1`

Result: `0`
Expected: `1`

[2017-09-29 23:40] jasonLaster commented on #4171
/claim

[2017-09-29 23:58] wldcordeiro opened #4221 "Clear up react test warnings"
When you run the test suite we get lots of warnings because of some deprecations and stuff over in React. We should update the appropriate packages and import paths.

[code]

[2017-09-29 23:59] jasonLaster commented on #4221
/claim

[2017-09-30 00:08] bomsy commented on #4220
Oohhh ...Thanks for the report!

[2017-09-30 10:14] nicofrand commented on #4210
I'd like that (`:` triggering line mode, etc.) ! IMO `#` should trigger the function mode though, like before.

[2017-09-30 13:10] jasonLaster commented on #4220
Nice find @Loirooriol, this is a bug with the debugger server. You can see the same issue w/ the old debugger as well.

[2017-09-30 13:43] Loirooriol commented on #4220
Oh, I thought the culprit was #4107 because it wraps the expression in an `eval`.

[2017-09-30 14:08] Loirooriol opened #4223 "Watch expressions are vulnerable to injection"
After #4107, creating a `null.foo` watch expression no longer pauses the debugger when in "Pause on uncaught exceptions" mode.

However, try `` ` + null.foo + ` ``. It pauses.

Or enter `}catch(e){}; 123; try{` and the result will be `123` instead of a syntax error.

[2017-09-30 14:54] jasonLaster commented on #4223
Hey @Loirooriol! Thanks for filing these watch expressions bugs.

Can you join our [slack](https://devtools-html-slack.herokuapp.com) so we can discuss

[2017-09-30 15:11] jasonLaster commented on #4220
yep, good point... we do the same [thing][t] w/ the old debugger client as well.

[t]:http://searchfox.org/mozilla-central/source/devtools/client/debugger/debugger-controller.js#1184-1193

[2017-09-30 15:14] jasonLaster commented on #4220
so... this fixes it:

[code]

[2017-09-30 18:48] pradeepgangwar commented on #4221
I would like to work on this. Please help me how should i proceed.

[2017-09-30 20:59] wldcordeiro commented on #3178
/claim

[2017-09-30 20:59] wldcordeiro commented on #3178
I totally want to get into this after the redux stuff lands. 😄

[2017-09-30 23:02] steffiau commented on #3634
Hi, wonder if I can get some help or pointers?
I've yarn linked debugger and devtools-linter together. Should I install 'retext-equality' in debugger.html or devtools-linter? I haven't used yarn link before so I'm not sure what the next steps are

[2017-10-01 03:54] tohmjudson commented on #3634
Sure! I was in the same place last week.

1. 'retext-equality' should be installed into the devtools-linter project
2. After that install completes, cd into the debugger.html folder, and run `yarn link devtools-linters` to make sure the devtools-linter is linked and then
3. run `yarn lint-md` If all is good, this will run through all of the debugger files, look for errors, and print to the console

[2017-10-01 04:36] digitarald commented on #4168
Thanks a lot for the investigation, @dholbert (and confirming my hunch of `background-image` 🕺   ) !

I wonder why that isn't the default for SVG icon use, like here on Github. Regardless for devtools it seems to be the best solution though.

[2017-10-01 18:37] steffiau commented on #3634
Thanks @tohmjudson ! Unfortunately I'm still stuck on an error, I've done the above and ran yarn lint-md:
[code]

Not sure if this is the problem but when I try running remark on the terminal, it says
`-bash: remark: command not found`
Do I need to add remark to my path? Tried looking on github and stackoverflow but it hasn't been much help.

[2017-10-01 19:15] ohana54 commented on #4203
I'm on it

[2017-10-01 20:10] ohana54 commented on #2804
I'll take `Popover`

[2017-10-02 03:57] jasonLaster commented on #4221
@pradeepgangwar thanks. Try running the debugger locally and see if you can reproduce the errors

[2017-10-02 03:59] jasonLaster commented on #3634
hmm, this seems to be an issue w/ yarn link or running in the linteres directory

[2017-10-02 03:59] jasonLaster commented on #3634
try making the change in debugger.html/node_modules/devtools-linters...

[2017-10-02 03:59] jasonLaster commented on #3634
if you get it working there, you can copy it over

[2017-10-02 03:59] jasonLaster commented on #4203
Thanks @ohana54

[2017-10-02 04:01] jasonLaster commented on #3583
@Fischer-L that's a good point, in practice I've found that it is helpful to shorten the URL in horizontally limited areas and provide the context in other ways, like on hover w/ the tab.

In this case, I think it would be nice to strip it out because for the most part, the important detail is the filename. We can then work on providing the information in other ways

[2017-10-02 04:43] jasonLaster commented on #4221
![Screen Shot 2017-10-02 at 12.18.07 AM.png](https://shipusercontent.com/c2ebcae71e7fe2652bea804018da212a/Screen%20Shot%202017-10-02%20at%2012.18.07%20AM.png)

I think a good way to reproduce is to run `yarn test`

[2017-10-02 04:46] pradeepgangwar commented on #4221
I also got same set of errors on running test suite by `yarn test-all`. So how should i proceed further to correct this.
![debugger-err](https://user-images.githubusercontent.com/21259802/31064527-a9741118-a75a-11e7-973b-99c251c60a6d.png)

[2017-10-02 13:01] codehag commented on #4210
Yes, i was thinking this would be nice too

[2017-10-02 13:11] codehag commented on #4213
K+ is not clear in my opinion. perhaps we should write it out, or use `?` for help or something like this?

[2017-10-02 13:12] nchevobbe commented on #4018
If this uses the Tree component, https://github.com/devtools-html/devtools-core/commit/739e193ec48df0ca5d876deb14cd894775ae2f4d#diff-ea6020634144f5e2ba8dae590d5bb115 added that (not published on npm yet though)

[2017-10-02 13:12] codehag commented on #4212
Looks interesting! what is the use case here? I might have missed some of the discussion :)

[2017-10-02 13:42] jasonLaster commented on #4221
@pradeepgangwar i'm not sure. i'd look up the errors in google and try to track down the code that causes them

[2017-10-02 14:03] jasonLaster opened #4232 "[Stepping] step over yield expressions"
We currently support stepping over `await` expressions. We should do the same thing for `yield` expressions. [here][h]

[h]: https://astexplorer.net/#/gist/6e82de985482df2701e84e37c65a9128/6e9fb16ba6cf9bcf44fafc20ed28b5df03adf013

[2017-10-02 14:45] jasonLaster commented on #4232
Here is a quick sketch of how we can extend our await stepping to also support yields.

[code]

[code]

[code]

[2017-10-02 14:45] jasonLaster commented on #4213
Yeah, now that you say it I think `?` is a more universal button for shortcuts

[2017-10-02 14:49] jasonLaster commented on #4213
Here is the design for shortcuts. I think the only thing style wise is the headers

![](https://user-images.githubusercontent.com/55994/30822975-9ab5ff7c-a1df-11e7-80ee-7c486667a416.png)

[2017-10-02 15:02] codehag commented on #4183
This needs to be confirmed again. Because I just tested it and it is no longer happening for me. But if it is an issue, possibly the issue is here:

[code]

[2017-10-02 15:03] #4183 closed

[2017-10-02 15:05] wldcordeiro commented on #4221
Looking further into this I believe it may be an issue in Enzyme itself. I'm digging further in and reporting it in their repo. Marking not-available for now till I get a bit more info.

[2017-10-02 15:08] jasonLaster commented on #3728
I just looked into it and I think the problem that we can solve is that it is not clear that we are pretty printing. I think the best thing to do is to optimistically create the pretty printed source w/ the loading field set to true.

This way, we can immediately show the pretty printed source and when the text comes in we can show it.

[2017-10-02 15:27] nyrosmith opened #4233 "[breakpoints] refactor the breakpoint domain"
I think there are some things missnamed inside the breakpoint domain which can lead to confusion.
Personally I had a really hard time finding out what the source code really is doing.

Some examples:
`ToggleBreakpoint` : it doesn't toggle anything but adds / removes breakpoints
`pendingBreakpoint` could be named "persisted breakpoint" to be more concrete.

I also think that an action which adds a

[2017-10-02 15:34] jasonLaster opened #4234 "[PrettyPrint] should map call stack frames"
When the user pretty prints a file when the debugger is paused, we would like the new pretty printed file to show the pause lines.

The way we do this, is by calling `mapFrames` when the user pretty prints a file. This will map the call stacks with the new pretty printed file.

Here is a [gist][g], where we create a new `mapFrames` action that we can call to map the call stack based on the selecte

[2017-10-02 15:47] peterschussheim commented on #4171
@jasonLaster can I take this one?

[2017-10-02 16:38] jasonLaster opened #4236 "[PERF] optimize debug lines in the editor"
It looks like we're spending a lot of time in `setDebugLine` and `clearDebugLine`.

![](https://slack-imgs.com/?c=1&url=http%3A%2F%2Fg.recordit.co%2FbTIQXMmX6T.gif)

The way I'd debug this is to open [sensorWeb][s] w/ the launchpad and add `console.log` and `console.time` calls in those two functions and see where we're spending the time.

[s]:http://aws-sensorweb-static-site.s3-website-us-west-2.

[2017-10-02 16:39] jasonLaster commented on #4040
I added this issue to the enhancements board because we won't be able to work on it this quarter. We can re-evaluate when we look at Q1

https://github.com/devtools-html/debugger.html/projects/5

[2017-10-02 16:39] #4040 closed

[2017-10-02 16:48] codehag opened #4237 "Reminder: bump Sourcemap"
this is a reminder to bump sourcemap since we closed the greenkeeper pr

[2017-10-02 16:48] codehag opened #4238 "Fix greenkeeper"
Our greenkeeper isn't working as well as expected and we should fix it

[2017-10-02 16:50] jasonLaster commented on #4238
We're getting this error:

![Screen Shot 2017-10-02 at 12.49.52 PM.png](https://shipusercontent.com/ce647a904c6e41c8293797f78b487846/Screen%20Shot%202017-10-02%20at%2012.49.52%20PM.png)

It comes from [here][h]. I just created a new GH_TOKEN to see if that'll help

[h]:https://github.com/greenkeeperio/greenkeeper-lockfile/blob/master/upload.js#L53

[2017-10-02 17:06] nyrosmith commented on #3735
Now `yarn test` works on my windows PC so I close this

[2017-10-02 17:06] #3735 closed

[2017-10-02 19:10] digitarald opened #4241 "Warn when showing original files that have been source mapped"
Follow up from #4192, I did not notice the *Webpack* domain. If users open a file that has was source-mapped into separate files; the debugger could give a hint to the user; with a link to the folder or the files that got extracted.

[2017-10-02 19:16] digitarald opened #4242 "[Editor] Show a link to a generated file"
Follow up from #4192 , I did not see the webpacked files and assumed that source mapping failed.

The inconsistent behavior is that webpacked source are show in their own `Webpack` domain while rollupjs shows source mapped files correctly in the current domain (tested on [rollupjs.org](http://rollupjs.org/)).

The second path seems more obvious, especially as the extra domain can get lost within 3

[2017-10-02 19:32] jasonLaster commented on #4238
I think this was fixed here https://github.com/devtools-html/debugger.html/pull/4222/files

[2017-10-02 19:33] #4238 closed

[2017-10-02 19:33] #4237 closed

[2017-10-02 19:33] jasonLaster commented on #4237
this was updated

[2017-10-02 22:50] jasonLaster commented on #4171
sure, it's yours

[2017-10-02 22:53] jasonLaster commented on #4212
if we can run the expressions in one batch, it will speed up the time it takes to evaluate. I'm not sure if this is a priority

[2017-10-02 22:54] #4223 closed

[2017-10-02 23:03] jasonLaster opened #4243 "Fix Content and Worker toolboxes"
[code]

[2017-10-03 01:18] darkwing opened #4246 "Error: Warning: validateDOMNesting(...): <div> cannot appear as a descendant of <p>. See WelcomeBox > p > ... > div."
Steps to repeat:

1.  Start up the debugger
2.  Load the TodoMVC example

<img width="1092" alt="warning" src="https://user-images.githubusercontent.com/46655/31106132-d1c53f30-a7ae-11e7-8550-61e6dc5467fa.png">

[2017-10-03 02:14] ahuth commented on #4221
Picked up and resolved many of the warnings in #4248.

There are a few more for `PropTypes` and `createClass` that will take some more work to resolve.

[2017-10-03 02:42] tohmjudson commented on #3634
@steffiau OK, so I think I am on to what is going on... it seems to be the file routing:
1. in devtools-linters/natural-language/preset.js change the following line from:
 `path.join(__dirname, "../../../assets/", "dictionary.txt"),"utf8")`
to
  `path.join(__dirname, "dictionary.txt"),"utf8")`

2.  add `require("retext-equality"),` after `require("retext-emoji"),`
3.  `yarn link` in devtools-linte

[2017-10-03 02:43] jasonLaster commented on #3634
thanks @tohmjudson!

[2017-10-03 07:43] hughugsy commented on #4236
Hey, can I work on this?

[2017-10-03 10:23] #4182 closed

[2017-10-03 10:57] bomsy commented on #4182
@nyrosmith @codehag is this fixed?

[2017-10-03 11:31] nyrosmith commented on #4182
@bomsy yes. I tried it myself and @codehag also confirmed it on slack

[2017-10-03 11:37] bomsy commented on #4182
Cool .. nice! thanks!

[2017-10-03 12:00] bomsy opened #4253 "[Source Tree] Need left padding"
![image](https://user-images.githubusercontent.com/792924/31124046-985fc88c-a83a-11e7-8021-e5920e6f9a16.png)

[2017-10-03 12:29] jasonLaster commented on #4236
@hughugsy sure.

This *fixes* it, but we should still try and keep the marked text. Perhaps the problem was the setState which would do an endless loop...

[code]

[2017-10-03 12:32] #4112 closed

[2017-10-03 12:33] #4211 closed

[2017-10-03 13:47] nyrosmith commented on #3112
/claim

[2017-10-03 13:56] nyrosmith commented on #3112
/claim

[2017-10-03 17:48] svitlana-galianova commented on #4210
Hi everyone! I am looking for my first bug and I am interested to contribute and explore React. I am wondering if this is a good idea to start on this one or would you recommend me some other bug to start with?

[2017-10-03 17:54] jasonLaster opened #4259 "[Sources] style the debuggee domain"
It would be awesome if we could highlight the debuggee domain.

![](https://files.slack.com/files-tmb/T3V7H1198-F7DK9D8R4-7f39db2f6b/screen_shot_2017-10-03_at_11.39.22_am_480.png)

[code]

[2017-10-03 18:08] jselmani commented on #3725
@jasonLaster can we please close this now that it's finished?

[2017-10-03 18:09] #3725 closed

[2017-10-03 18:09] jasonLaster commented on #3725
yep!

[2017-10-03 18:34] svitlana-galianova commented on #4259
/claim

[2017-10-03 18:47] mateusortiz commented on #4253
I can work on this. 😄

[2017-10-03 18:48] jasonLaster commented on #4253
@mateusortiz it's yours

[2017-10-03 18:53] mateusortiz commented on #4253
👍  thanks @jasonLaster

[2017-10-03 19:09] #4220 closed

[2017-10-03 19:22] nyrosmith opened #4261 "[Breakpoints] sort breakpoints by line number"
Currently the Breakpoint component displays the breakpoints in the same order as they get added.
This is not optimal and breakpoints should get ordered by line number

### screenshot

![unbenannt](https://user-images.githubusercontent.com/2511026/31144394-ebdef046-a880-11e7-828c-a1c40ce96fde.png)

[2017-10-03 19:44] jasonLaster opened #4262 "[Breakpoints] clicking the label should not toggle the bp"
We recently made some changes to the breakpoints panel [here][h]. At the time, we thought we should make the filename a label so that it would be easier to toggle, but we forgot that the primary purpose of the filename is to link to the location of the bp.

![http://g.recordit.co/6gGbbS07dG.gif]

[h]:https://github.com/devtools-html/debugger.html/issues/4057

[2017-10-03 21:45] jasonLaster commented on #3683
This PR is a good start, but it's possible things have changed in 54 and 55.

[flow-upgrade][fu] could help

[fu]: https://github.com/facebook/flow/tree/master/packages/flow-upgrade

[2017-10-03 22:00] jasonLaster commented on #4210
@svitlana-galianova we're doing a meetup tonight, i think some people might start it then

[2017-10-03 22:15] darkwing commented on #4246
Closing as I fixed it here:  https://github.com/devtools-html/debugger.html/pull/4247

[2017-10-03 22:15] #4246 closed

[2017-10-03 22:15] darkwing commented on #4253
This is a duplicate of https://github.com/devtools-html/debugger.html/issues/4190 but we have two contributors working on them so keeping this open

[2017-10-03 23:05] satiewaltz commented on #2804
I'll take object inspector!

[2017-10-03 23:21] wldcordeiro commented on #4221
@ahuth the `PropType` ones will be silenced soon since we're going full with Flow. As for `createClass` I assume it maybe coming from `devtools-core` as searching for `createClass` in the debugger only has a handful of results in docs.

[2017-10-03 23:21] #4221 closed

[2017-10-03 23:29] jasonLaster commented on #2804
@satiewaltz its yours

[2017-10-03 23:52] maniator opened #4267 "selectors.js should not use Object.assign as it goes against es6 paradigms"
Removing Object.assign will allow for ease of use with IDEs and it is not completely needed.

[2017-10-04 00:03] maniator commented on #3172
/claim

[2017-10-04 00:06] maniator commented on #3172
I can continue on with the proposal in my PR if everyone agrees, it should be easy to knock-out a lot of the `: any` from the code with this change.

[2017-10-04 00:07] maniator commented on #3156
Related to #3172

[2017-10-04 00:10] stratigos opened #4270 "DevToolsUtils is missing specs"
At the React FF Debugger contribution event, we noticed the DevToolsUtils.js was missing specs.

There should be some tests for these functions :)

[2017-10-04 00:32] sw-yx commented on #4236
Hi, we tried debugging this today at ReactNYC:

We initially thought the issue was about clicking and unclicking the debug gutter line, but Jason clarified in person that the problem is actually the time it takes to arrive in the editor context relevant to a breakpoint. We were not able to replicate the long delay in a reasonable-sized react app but clarifying the issue here for future people tack

[2017-10-04 01:24] steffiau commented on #3634
That was it, I got it running! Thanks @tohmjudson @jasonLaster !
I'll get a pull request up asap. :)

[2017-10-04 08:29] #4213 closed

[2017-10-04 09:28] Anzumana opened #4280 "Custom Colors ?"
https://discourse.mozilla.org/t/devtools-visual-refresh-coming-to-nightly/19093/28
As part of the redesign would it be easy to set up our colors in a way that the user could customize them as they would wan't to ?

[2017-10-04 09:41] Anzumana commented on #4167
As suggested in the community call i
updated yarn to 0.28.4 and node to v8.6.0 issue persists :/
@jasonLaster
@codehag
@nyrosmith
Any steps i can take to tackle this issue further?

[2017-10-04 09:44] Anzumana commented on #3819
should be able to work on it tomorrow :)

[2017-10-04 09:46] Anzumana commented on #3819
/remind me to deploy on Oct 10

[2017-10-04 09:47] Anzumana commented on #3819
/remind me about this issue Tomorrow

[2017-10-04 09:47] Anzumana commented on #3819
/remind me about this issue Tomorrow

[2017-10-04 12:05] codehag commented on #3988
@jasonLaster what is the status on this?

[2017-10-04 12:22] codehag commented on #3982
do we have more specific scenarios here? this looks like it should be split into smaller tickets

[2017-10-04 12:27] #4262 closed

[2017-10-04 12:39] codehag commented on #4242
if i got this right, we should merge webpack scripts in with the main domain?

[2017-10-04 13:22] tromey commented on #4242
FWIW this happens because webpack generally puts all the source text into the source map, and then it uses `webpack://` URLs there.  So it's an explicit decision by webpack.

If you want to just display the webpack URLs somewhere associated with the corresponding generated source, then that's up to the debugger display (I don't know anything about that).  But if you want to change the displayed UR

[2017-10-04 13:57] jasonLaster commented on #3988
@codehag lets see what our perf is like after the source tree work lands.

[2017-10-04 14:00] ochameau commented on #3988
Are you able to push to try a given debugger PR? (to have talos/DAMP test)
(if yes, the try syntax to execute DAMP is this one `try: -b o -p linux64 -u none -t g2-e10s --rebuild-talos 6`)

[2017-10-04 14:03] #3634 closed

[2017-10-04 15:15] #4270 closed

[2017-10-04 15:38] bomsy commented on #4280
Hey, thanks for the issue.
Closing this for now, as its not part of the immediate focus.
We will get back to it later.

Thanks

[2017-10-04 15:38] #4280 closed

[2017-10-04 15:54] codehag opened #4282 "[PrettyPrint] breaks on JS inlined inside an HTML doc"
Copied from https://bugzilla.mozilla.org/show_bug.cgi?id=1384675

[TypeError: lastToken is undefined pretty-print-worker.js:535:1]

The STR is roughly:
- Load gmail in Firefox nightly.
- Bring up the devtools, network tab.
- Find/wait for a POST to "/mail/u/0", select it.
- Select the Stack trace sub-tab on the right.
- The top line is maybe still named "Rq...".  Click on it.
- End up on the Debug

[2017-10-04 17:00] KES777 commented on #3346
[for reference](https://bugzilla.mozilla.org/show_bug.cgi?id=1391989)

[2017-10-04 20:19] jasonLaster commented on #3992
We have this now w/ `?react_perf=true` and `timing: true`. I'll work on making these on by default in the launchpad.

[2017-10-04 20:21] jasonLaster opened #4284 "Optimize stepping speed"
- [x] debug line #4236
- [x] use background image instead of inline svg
- [ ] Only show the local scope by default in the scopes pane #4300
- [ ] experiment w/ RIC and RAF

Here's a [gist][g] with a lot of this stuff

[g]:https://gist.github.com/fa9523576d8044613dbe2f5232a08ff0

[2017-10-04 20:31] jasonLaster commented on #4284
/claim

[2017-10-04 21:06] pradeepgangwar commented on #3846
@jasonLaster Can i try resolving this issue, if @diessica is busy with something else.

[2017-10-04 22:51] jasonLaster opened #4287 "[Preview] show react component display name"
It would be sweet if we could show the component display name in the preview:

This sketch outlines a strategy for fetching other props when we see that we're looking at a component object.

[code]

[2017-10-05 01:06] James300 opened #4288 "Shortcuts Modal doesn't display in vertical mode"
Using the shortcut button `K+` doesn't open the modal in vertical mode.

[2017-10-05 01:41] darkwing opened #4291 "Shortcuts Screen Overflows at Narrow Width"
<img width="414" alt="mobilehelpscreen" src="https://user-images.githubusercontent.com/46655/31207517-49e5366e-a944-11e7-9a0a-375427caf505.png">

[2017-10-05 01:49] darkwing opened #4292 "Add hover background color for bottom pretty print and blockbox icons"
I noticed that "K+" item for keyboard shortcuts has a hover background of a darker gray.

The pretty print and blackbox icons do not have a background color.

Every top row and secondary column item has a hover color and thus I believe the PP and blackbox icons should also have a hover background color.

[2017-10-05 03:03] #4267 closed

[2017-10-05 03:35] #4136 closed

[2017-10-05 03:38] MFry commented on #4291
/claim

[2017-10-05 03:40] jasonLaster commented on #4242
Thanks @tromey. I'm a bit concerned about changing the URLs too much in the source tree.

one thing chrome does is show a message in the footer when the source is original. We could also give a message in the bottom for generated with a link to the root original directory aka webpack.

![screen shot 2017-10-04 at 4 51 23 pm](https://user-images.githubusercontent.com/254562/31210085-54acff0a-a95d-1

[2017-10-05 04:10] jasonLaster commented on #3846
@pradeepgangwar go for it

[2017-10-05 04:12] jasonLaster commented on #3846
here are some nottes

https://github.com/devtools-html/debugger.html/blob/master/src/utils/editor/source-documents.js#L41

it could literally do document.querySelector(‘tab-foo’).style.marginLeft = whatever the gutter is…

we could also update this:

https://github.com/devtools-html/devtools-core/blob/master/packages/devtools-source-editor/src/utils.js#L47-L50

[2017-10-05 08:33] Anzumana commented on #4167
i just checked i have the same behaviour with our todo backbone default example

[2017-10-05 08:46] nyrosmith commented on #4167
@Anzumana  Can you paste the output of `npm ls -g --depth=0`
Maybe you have installed something global that interferes with the repo.

[2017-10-05 10:47] Anzumana commented on #3819
were able to fix my issue with the debugger serve with yarn.
gonna work on this one tomorrow then.

[2017-10-05 13:12] jasonLaster commented on #4167
@nyrosmith @Anzumana can we close?

[2017-10-05 13:17] ohana54 commented on #2980
Added Preact: #4296

[2017-10-05 14:01] jasonLaster opened #4297 "Optimize initial pause "
We're currently optimizing stepping speed in #4284, but the initial pause is a special case that should also be investigated.

My theory is that we will do additional work on the first pause like parsing large scripts.

STR:
1. go to [perf-html][p] locally
2. add a breakpoint in TabBar.js#34
3. click "Timeline" or one of the other tabs

Observe that it takes awhile to pause

[p]:http://localhost:4

[2017-10-05 14:44] bomsy commented on #4253
Hey @mateusortiz Found where the issue was

Here's a good diff to help
[code]

[2017-10-05 15:43] #4232 closed

[2017-10-05 15:45] nyrosmith commented on #4167
Yep. I'll close it

[2017-10-05 15:45] #4167 closed

[2017-10-05 17:10] #4261 closed

[2017-10-05 17:46] jasonLaster opened #4299 "Update component bound syntax"
We've been worried about how we bind functions in our components for some time. See this issue #3172. We recently adopted the new class properties syntax as a way to address this in #4266.

We should now update the other components with this pattern:

- [x] CallSite.js
- [x] SearchBar.js
- [x] Frames/Group.js
- [x] Accordion.js
- [x] ManagedTree.js
- [x] Modal.js
- [x] SymbolModal.js

#### before

[2017-10-05 17:47] jasonLaster commented on #3172
closing as we have an approach now

[2017-10-05 17:47] #3172 closed

[2017-10-05 17:51] jasonLaster opened #4300 "[Scopes] Only show the local scope by default in the scopes pane"
We used to only expand the local scope when we paused. We now expand all the scopes. The problem is that means we slow down the stepping speed quite a bit to do a lot of renders. We also, show way more data than we need to the user!

[code]

![Screen Shot 2017-10-03 at 2.38.18 PM.png](https://shipusercontent.com/36ca2b17ccb601603aa1150a6ed636e3/Screen%20Shot%202017-10-03%20at%202.38.18%20PM.png)

[2017-10-05 18:35] ohana54 commented on #4299
I'm on it

[2017-10-05 21:19] jasonLaster commented on #4242
here is a [gist][g] for doing the summary, which would be pretty cool.

[g]: https://gist.github.com/jasonLaster/2850b469c3cf819245750313115930e0

[2017-10-05 21:20] #3901 closed

[2017-10-05 21:21] #4032 closed

[2017-10-05 21:21] #3999 closed

[2017-10-05 21:22] jasonLaster commented on #3983
dupe of #3728

[2017-10-05 21:22] #3983 closed

[2017-10-05 21:22] #4203 closed

[2017-10-05 21:23] #3966 closed

[2017-10-05 21:24] jasonLaster commented on #4021
@sarahlim we opened a PR for this kind of thing yesterday :)

[2017-10-05 21:25] jasonLaster commented on #4022
ping @borian :)

[2017-10-05 21:25] #3887 closed

[2017-10-05 23:26] satiewaltz commented on #2804
@jasonLaster
Just thought I about this: I've been checking out the conversion to flow types issue in this project. Some components listed in that issue use the `Context` API for the `shortcuts component. I've done some research into it - and it seems like a runtime type library is required to convert from `contextTypes` to flow types: https://github.com/codemix/flow-runtime. I think its something

[2017-10-05 23:27] jasonLaster commented on #2804
Thanks @satiewaltz, I'd be open to using `flow-runtime` as well. Thanks for the update. Also, it's okay not to type context :) we use it very sparingly.

[2017-10-05 23:33] yurydelendik opened #4306 "failed test: /mochitest/browser_dbg-pretty-print-console.js"
Run `yarn mochi` or `yarn mochi browser_dbg-pretty-print-console.js` on the current master (on Mac OSX).

Actual:
[code]

Expected:
No errors

[2017-10-05 23:52] yurydelendik commented on #4306
Updating to the firefox via `./bin/prepare-mochitests-dev` fixed the issue.

[2017-10-05 23:52] #4306 closed

[2017-10-06 03:03] jasonLaster opened #4307 "[Mapping] refactor the expressions logic"
We recently added support for mapping minified expressions. This PR #4207 has started an interesting refactor that consolidates some of the logic.

Issues:

- [ ] ensureParserText is a code smell
- [ ] getMappedExpressionFromFrame

[2017-10-06 03:04] jasonLaster commented on #4307
@codehag left this comment:

I see two issues here:

ensureParserText is potentially.. doing a lot of things, and it is being used a lot. if a loadSource is in flight (for example, someone forgets an await somewhere), we may be retriggering it here, with no way of cancelling the original and as a result -- doubling the work.

second issue: "ensure" doesn't tell us that it is going to load the sour

[2017-10-06 03:08] jasonLaster opened #4308 "[Mochitests] fix returnvalues test"
Back in February we accidentally removed the returnsvalues.js test. I started trying to bring it back to life in #4188, but it got complicated.

[2017-10-06 07:48] codehag commented on #4299
Thanks @ohana54 !

[2017-10-06 07:48] #4299 closed

[2017-10-06 07:49] #4253 closed

[2017-10-06 15:10] nyrosmith commented on #4233
/claim

[2017-10-06 15:11] nyrosmith commented on #4233
I talked to @jasonLaster and I'll start with that because it's a great opportunity to get a better understanding of the code base

[2017-10-06 17:32] jfo commented on #4210
/claim

at @jasonLaster 's suggestion I'm taking a look at this one, got a bit of a diff going, I'll update soon! Will likely have questions :)

[2017-10-06 19:03] pradeepgangwar commented on #3846
@jasonLaster If I understand bug correctly, then it is talking of difference between line column and tab.
But I ran the debugger today and found that it was not like that. I think either this bug has been resolved or i have misunderstood it.

![screenshot-2017-10-6 debugger](https://user-images.githubusercontent.com/21259802/31294049-17c1f2b2-aaf7-11e7-9d7d-ed956b5f57c0.png)

[2017-10-06 19:05] jasonLaster commented on #3846
try looking at files w/ more than 100 lines of code

[2017-10-06 19:09] pradeepgangwar commented on #3846
Yes, I got it there is some issue with it.

[2017-10-06 19:56] jogibear9988 opened #4311 "Debugging polymer sites (html imports)"
I ve issues in debugging Polymer Apps, because they are using html includes, wich are Not natively supported in FF. It is hard to find the javascript code for a included html.
Also when a exception in the javascript of a imported html occures, you could not jump to the source file wich is shown in the console (ff will not find it!)

Is it possible to add better html imports support in debugger?

[2017-10-06 20:44] jasonLaster opened #4312 "Photon UI follow up"
We recently did a photon visual ui overhaul, here are some follow up items. Feel free to claim one

#### Tasks

- [x] Remove tabs "+" button
- [ ] Re-think the tabs show more dropdown :question:
- [ ] Re-think collapse buttons :question:
- [x] Update Watch expressions input :smiley:
- [x] Update the look of matching brackets highlight for Photon #4217

#### Screenshots

![Screen Shot 2017-10-06 at

[2017-10-06 22:10] jasonLaster commented on #4109
Here's a revised dropdown that is a bit simpler. We'll still want to think through select states:

1. do we highlight the button if a state is selected
2. do we show an item in the breakpoint list once it's selected

![Screen Shot 2017-10-06 at 6.09.10 PM.png](https://shipusercontent.com/5a9c9063450f1ad321a7d6c18fb3c796/Screen%20Shot%202017-10-06%20at%206.09.10%20PM.png)

[2017-10-06 23:53] digitarald opened #4318 "Highlight line is barely visible when switching from Console"
Clicking on an error from Console, the highlight on the target line is barely visible as it fades out in the blink of an eye (300-400ms).

Ideas beyond just delaying and slowing the animation:

- Only start the fadeout only after the debugger fully loaded
- Only start the fade when the mouse moved significantly.

[2017-10-07 05:21] digitarald opened #4319 "[Scopes] Right-Click/Copy on properties in tooltip and scopes"
Console has Copy on properties, Debugger shows a similar object representation but doesn't have any interactions.

My user story here is that I tried to file a useful issue for a broken UI, copying the state of the property that caused the issue. I knew Console has copy in right-click, but Debugger didn't have it. The page I was debugging was https://gregglind.github.io/x-shield-inflight-dashboard

[2017-10-07 05:55] digitarald opened #4320 "[Scopes] Block variable differs from error/console variable"
STR:
- Break on exception on during the load of https://gregglind.github.io/x-shield-inflight-dashboard/
- See the exception `TypeError: e.approval_request is null`

ER: Scope shows `e`, Console holds `e` for debugging

AR: `r` in Scopes, `e` in Console

![image](https://user-images.githubusercontent.com/8599/31305253-303a98a6-aaea-11e7-8a54-2de351dc9295.png)

[2017-10-07 21:35] Loirooriol opened #4324 "`this` gets global object instead of thisValue"
1. Open browser console
2. Open browser toolbox's debugger
3. Search `/server/actors/object.js` file (resource://devtools/server/actors/object.js)
4. Add a breakpoint just inside `ObjectActor.prototype.grip` (e.g. [line 76](https://dxr.mozilla.org/mozilla-central/rev/2d7b8b5dd174bd9db5894c6cb770e05f83e95ee3/devtools/server/actors/object.js#76))
5. In the browser console, enter `[]`
6. The debugger

[2017-10-08 12:52] darkwing opened #4325 "Source tree item vs. tab context menu: "Copy source URI" vs. "Copy link address""
The context menu items use different language for getting the full URI for a source:

* Right-clicking a source in the tree shows "Copy source URI"
* Right-clicking a tab in the tab listing shows "Copy link address"

For now, we should just make the two context menu items use the same label.

In the future, we should share context menu items between the tab context menu and source context menu.

[2017-10-08 12:54] amelzer commented on #2804
I'll do Breakpoints in Secondary Panes

[2017-10-08 13:02] darkwing opened #4326 "[Breakpoints] show line text"
This is just a quick idea but ....

If you look at the breakpoint listing, it doesn't say much.  It shows you the file name and the line but, unless you're currently at that breakpoint, you don't really know what code is there.

What if we did something like this:

<img width="298" alt="breakpointdetail" src="https://user-images.githubusercontent.com/46655/31317022-f2873e72-abfe-11e7-8a64-2dd025a4

[2017-10-08 13:11] amelzer commented on #2804
Secondary Panes / Breakpoints looks done and seems only be missing the checkmark in this ticket.
Secondary Panes / Why Paused looks also done
Shared / Button / Close looks also done

I'll take Secondary Panes / CommandBar

[2017-10-08 14:23] lukaszsobek commented on #4325
I'd take this one for a light start.

[2017-10-08 15:06] jasonLaster commented on #4326
Thanks for filing @darkwing, i see this as part of the larger Breakpoints pane UX work we can do this quarter. I definitely agree we should show users the line the breakpoint is on.

In the past we've talked about grouping breakpoints by file as well. This might be a good time to bring this conversation back.

<img src='https://shipusercontent.com/dbf673127a6bb6ba8b58fb578a1f533f/Screen%20Shot%202

[2017-10-08 15:14] jasonLaster commented on #4326
here is a gist to help get the ball rolling:

[code]

[2017-10-08 15:20] jasonLaster commented on #4325
@lukaszsobek next time you can `/claim` it :)

[2017-10-08 15:21] jasonLaster commented on #4325
I prefer `Copy source URI` because link is not clear...

[2017-10-08 16:33] lukaszsobek commented on #4325
What about the access key? If I move both over to `Copy source URI` the old `Copy link address` entry can be removed completely.

[2017-10-08 16:52] jasonLaster commented on #4325
sure!

[2017-10-08 17:05] satiewaltz commented on #2804
@amelzer  Note: `CommandBar`'s `contextTypes` can only be switched out if a runtime type library is used like `flow-runtime` as noted earlier from when I was looking at it. Fortunately, only several components have `contextTypes` defined in them: it's all places that inherits context from the shortcuts component.

Maybe that component can be marked done unless there's an alternative way to convert

[2017-10-08 20:42] maniator commented on #4299
:+1:

[2017-10-09 13:35] amelzer commented on #2804
@satiewaltz Yes, I got that, that's why it is in this done-ish list :)

[2017-10-09 22:31] jasonLaster opened #4333 "[SourceTree] link modules & files"
It would be great if we could link module imports in the debugger and the underlying file system:

Use case 1: user clicks on an import and navigates to the file in the debugger
Use case 1: user right clicks on a file and selects "view file in editor"

There are lots of other use cases as well:

1. hot reloading
2. live editing in the debugger

[2017-10-09 22:56] tohmjudson commented on #4070
I am going to get started on this one :)

[2017-10-09 23:20] tahmidefaz commented on #4071
Hello, @RobertHosking, @sanginovs, @davisv007 and I will be working on it. @emmet0r will be helping us out as well.
/claim

[2017-10-09 23:27] tahmidefaz commented on #4071
\claim

Hello, @RobertHosking, @sanginovs, @davisv007 and I will be working on it. @emmet0r will be helping us out as well.

[2017-10-09 23:29] tahmidefaz commented on #4071
/claim

Hello, @RobertHosking, @sanginovs, @davisv007 and I will be working on it. @emmet0r will be helping us out as well.

[2017-10-09 23:44] asharron commented on #4070
Hello, I will be working to fix this issue along with @belld19233, @emmet0r, @josezindia, and @Jessonsotoventura

[2017-10-10 00:45] asharron commented on #4070
/claim

Hello, I will be working to fix this issue along with @belld19233, @emmet0r, @josezindia, and @Jessonsotoventura

[2017-10-10 10:45] juliandescottes opened #4334 "Breakpoints should not toggle when clicking on the label"
![debugger_breakpoint_label_toggle](https://user-images.githubusercontent.com/1141550/31382599-8694fc0c-adb8-11e7-8e58-defe3c4c929b.gif)

STRs:
- add a few breakpoints in a source
- click on the label of a breakpoint
ER: Editor should move to the breakpoint location, and breakpoint state should not toggle.
AR: Editor moves but the breakpoint state changes

Breakpoint state should only change when

[2017-10-10 11:21] bomsy commented on #4334
Heya! @juliandescottes Where are you seeing this?

Looks like it has been fixed in master, but might not be released yet... cos i see it in nightly

![](http://g.recordit.co/6ILxntDhkA.gif)

[2017-10-10 11:45] nyrosmith commented on #4334
@juliandescottes @bomsy I think that was fixed with https://github.com/devtools-html/debugger.html/pull/4269

[2017-10-10 11:53] bomsy commented on #4334
oh cool ...nice! thanks.
Will close this!

[2017-10-10 11:53] #4334 closed

[2017-10-10 13:03] jasonLaster commented on #4071
Welcome @tahmidefaz, @RobertHosking, @sanginovs, @davisv007!

[2017-10-10 13:06] jasonLaster commented on #4070
Welcome @asharron, @belld19233, @emmet0r, @josezindia, and @Jessonsotoventura!

[2017-10-10 14:04] jasonLaster commented on #4141
and here are the SVGs: https://github.com/vorillaz/devicons/tree/master/!SVG

[2017-10-10 14:18] jasonLaster commented on #4141
here are octicon icons: https://github.com/primer/octicons

[2017-10-10 14:19] jasonLaster commented on #4141
![Screen Shot 2017-10-10 at 10.12.12 AM.png](https://shipusercontent.com/8a4017ab19a653453c8dac52ff2fe486/Screen%20Shot%202017-10-10%20at%2010.12.12%20AM.png)

and here's where the octicons font lives: `/Applications/Atom.app/Contents/Resources/app/static`

i still think if we figureout which svg is used, we can use that...

[2017-10-10 14:19] staabm opened #4336 "Show Imagesize in preview popover"
the inspector shows a preview of a image and its resolution on mouse over.
would be great this popover would also indicate the filesize of the image (as file size matters, you know ;-))

In case you give me a hint into the correct direction I will try to fix it on my own.

FF58 Nightly screen (10/10/2017)

![grafik](https://user-images.githubusercontent.com/120441/31391385-a6a20b7a-add6-11e7-85be-

[2017-10-10 14:21] jasonLaster commented on #4336
Hi @staabm, that's a great suggestion. I think you want to file this issue in bugzilla w/ this inspector though:

https://bugzilla.mozilla.org/enter_bug.cgi

[2017-10-10 14:21] #4336 closed

[2017-10-10 17:09] WaltersJesse commented on #4076
/claim

[2017-10-10 17:18] pradeepgangwar commented on #4185
/claim

[2017-10-10 17:56] #4185 closed

[2017-10-10 18:11] lukaszsobek commented on #3980
/claim

[2017-10-10 19:24] jasonLaster commented on #4117
This commit shows how we can support keyboard shortcuts like enter/escape

https://github.com/devtools-html/debugger.html/commit/2485f7cd0fae45ad92bab342905fe3d81e6e105c

[2017-10-10 20:12] jasonLaster commented on #4070
/claim

[2017-10-10 20:28] CJSt commented on #4075
/claim

Our team will work on this as part of an assignment for CSC426.

[2017-10-10 20:34] lukaszsobek commented on #2925
/claim since i'm already at it.

[2017-10-10 20:49] tohmjudson commented on #3576
/claim
I'm on it!

[2017-10-10 21:00] #4291 closed

[2017-10-10 21:28] digitarald opened #4342 "Debugger can't show sourcemapped sources for preact todomvc"
STR: Open Debugger and see Sources for `src/app/` on https://preact-todomvc.surge.sh/

AR:
[code]

ER: Works in Chrome

[2017-10-10 21:56] jasonLaster commented on #4342
![](http://g.recordit.co/HqFgwQ3phz.gif)

[2017-10-10 22:29] Loirooriol commented on #4300
The render would probably be much faster if at each step you didn't remove all the scopes first and then redraw them all. So annoying.

[2017-10-10 22:47] belld19233 commented on #4217
/claim
testing

[2017-10-10 22:47] belld19233 commented on #4217
/unclaim

[2017-10-10 23:30] #4061 closed

[2017-10-11 01:38] MFry commented on #4312
@jasonLaster I can't tell from the photos the "+" you are talking about.  Could I get more info and I will work on it.

[2017-10-11 02:27] jasonLaster commented on #4312
The new tab "+"

<img src='https://shipusercontent.com/14f9584645cf237bdc2c3bef48f54dc1/Screen%20Shot%202017-10-10%20at%2010.26.35%20PM.png' title='Screen Shot 2017-10-10 at 10.26.35 PM.png' width=725>

[2017-10-11 04:12] digitarald opened #4343 "Prefer native Array::find over lodash find"
Follow up from https://github.com/devtools-html/debugger.html/pull/4286#pullrequestreview-68462264

Taken with the usual grain of salt, [here](https://jsperf.com/array-find-loop-native-lodash) a jsperf showing the the JS team probably does some awesome things with native `Array::find`.

[2017-10-11 04:13] digitarald commented on #4343
/claim

[2017-10-11 04:28] digitarald commented on #4342
WFM now. When I had the issue, Console showed that it could not find the files referenced in the source maps.

[2017-10-11 04:28] #4342 closed

[2017-10-11 04:34] digitarald commented on #4343
Tests fail locally on my windows machine when I push; but they even fail on `master`. Something to follow up on in a separate issue.

![image](https://user-images.githubusercontent.com/8599/31422472-b97099ac-ae02-11e7-8256-3f277333b764.png)

[2017-10-11 08:15] StoyanDimitrov opened #4345 "[L10N] Hard-coded accesskeys"
This is the list of the hard-coded accesskeys I see in the Firefox UI.

[EditorMenu.js#L82](https://github.com/devtools-html/debugger.html/blob/cfe847a2b5dc14ebc1bae54c154e5a9320fc274d/src/components/Editor/EditorMenu.js#L82)

[EditorMenu.js#L89](https://github.com/devtools-html/debugger.html/blob/cfe847a2b5dc14ebc1bae54c154e5a9320fc274d/src/components/Editor/EditorMenu.js#L89)

[GutterMenu.js#L68

[2017-10-11 08:38] #4343 closed

[2017-10-11 08:44] codehag opened #4346 "threadClient._parent.listWorkers is not a function"
Steps to Reproduce:

1) open the browser toolbox and select the debugger

expected:: debugger to appear
Actual: no debugger

-- in the console there is the following error:

[code]

[2017-10-11 09:30] codehag opened #4348 "Tests failing after `yarn nom`"
Steps to reproduce:

`yarn nom; yarn test`

expected: tests pass
actual:

[code]

[2017-10-11 09:39] staabm commented on #4336
oh my, I added a bug there a few months ago.

https://bugzilla.mozilla.org/show_bug.cgi?id=1369054

couldnt even remember it mysefl ;)

[2017-10-11 10:30] juliandescottes opened #4349 "Debugger broken in Browser Content Toolbox"
See https://bugzilla.mozilla.org/show_bug.cgi?id=1405140

I have an integration test ready for this in https://bugzilla.mozilla.org/show_bug.cgi?id=1407426 but I first need a working debugger bundle to get it to land (the test also needs a fix in m-c to work...).

[2017-10-11 12:51] juliandescottes commented on #4349
The stack trace when using the bundle is:

console.error:
  Message: TypeError: Parameter 'url' must be a string, not undefined
  Stack:
    Url.prototype.parse@resource://devtools/shared/base-loader.js -> resource://devtools/client/debugger/new/debugger.js:21007:11
urlParse@resource://devtools/shared/base-loader.js -> resource://devtools/client/debugger/new/debugger.js:21001:3
getDomain@resource:

[2017-10-11 15:04] jasonLaster opened #4350 "Switch to CSS SVGs"
We would like to switch from using react-based inline SVGs to CSS-based SVGs. The primary advantage is performance. SVGs created by React are slow to render. CSS drawn SVGs have a significant perf benefit.

Todolist:

- [x] convert source tree arrows #4351
- [ ] convert Object Inspector arrows *(will be done in devtools-core)*
- [x] convert source tree domain / file / folder
- [ ] convert close bu

[2017-10-11 15:48] jasonLaster commented on #4350
### Gist for Pretty Print / Blackbox

[code]

[2017-10-11 15:52] jasonLaster commented on #4350
### Gist for close button

[code]

[2017-10-11 16:03] jselmani commented on #4350
/claim

[2017-10-11 17:50] sarahlim commented on #4141
/claim

[2017-10-11 17:52] jasonLaster commented on #4141
The goal here is to re-use atom's function and class icons:

<img src='https://shipusercontent.com/5538bde5840778578eafe03d5f71ad92/Screen%20Shot%202017-10-11%20at%201.51.34%20PM.png' title='Screen Shot 2017-10-11 at 1.51.34 PM.png' width=910>

[2017-10-11 20:33] jasonLaster opened #4353 "Update Labels"
Github is promoting two new labels: "Help Wanted" and "Good First Bug". Given the SEO value and recognizability, i think we should adopt them.

I propose we drop the `difficulty` labels in favor of "Good First Bug". Easy bugs are GFB, and the others medium/difficult should be killed. They just scare ppl.

`Available` bugs are our `Help Wanted` I think we can do a 1.1 swap here. If they're availabl

[2017-10-11 22:43] darkwing commented on #4326
@jasonLaster YES!  This would be amazing!  👍

[2017-10-12 01:49] aagandhi1 commented on #4190
I'm a student at Seneca college learning open source, and I was hoping to work on this bug for my course.  If no one else is currently working on it, I'd like to give it a try.

[2017-10-12 01:53] darkwing opened #4355 "Odd Tabs Overlap / Text / CSS Issue"
I don't recall STR but I found this oddity:

<img width="736" alt="csswtf" src="https://user-images.githubusercontent.com/46655/31475359-04b82c9a-aec6-11e7-8c9f-3c6c045d874b.png">

<img width="981" alt="source" src="https://user-images.githubusercontent.com/46655/31475381-2c26914a-aec6-11e7-89e9-59f6c162a34a.png">

[2017-10-12 03:03] jasonLaster commented on #4190
@aagandhi1 go for it.

/claim

[2017-10-12 03:06] aagandhi1 commented on #4190
Thanks

[2017-10-12 03:54] aagandhi1 commented on #4190
/claim

[2017-10-12 12:24] Triscy commented on #4181
/claim

Claiming this for Fire Ferrets, CS 490.

[2017-10-12 14:54] cvetanovskaa commented on #4078
/claim Working on this issue with @michaelm396 @jacobT & @coledu

[2017-10-12 15:58] #4346 closed

[2017-10-12 16:48] lukaszsobek commented on #4345
Just went through the whole src folder, the ones you mentioned seem to be the only ones still hard-coded.

[2017-10-12 18:07] miketaylr commented on #1686
This isn't working for me, what feels like 90% of the time:

http://recordit.co/fGux1xdx4R

When it does work, clicking on methods in the Call Stack panel takes me to the minified source again, which... isn't fun. Unfortunately I can't seem to get a screencast of that, because it's just failing.

[2017-10-12 18:13] miketaylr commented on #1686
Here's a screencast of clicking through the call stack when the breakpoint does stick (on a simpler page: https://miketaylr.com/code/input-type-attr.html) not doing anything useful:

http://recordit.co/q7CrccRfcH

[2017-10-12 18:14] miketaylr commented on #1686
@jasonLaster If you want to reproduce from the first screencast, STR are at https://github.com/webcompat/web-bugs/issues/12325#issuecomment-336168501. the second is in my previous comment -- happy to file a new bug for that if you prefer.

[2017-10-12 19:19] jordanch commented on #4326
/claim

[2017-10-12 19:48] jasonLaster commented on #4326
Thanks @jordanch, just clarifying. This issue is just for showing the line. Please ask us questions in slack if something comes up!

[2017-10-12 20:03] jasonLaster commented on #1686
Thanks @miketaylr can you add an STR here too

[2017-10-12 20:13] jasonLaster commented on #3705
Hmm... this is looking fixed to me. I think we might have fixed this w/ the CLRF work here https://github.com/ryanjduffy/parse-script-tags/pull/4

[2017-10-12 20:14] #3705 closed

[2017-10-12 21:05] jordanch commented on #4326
Yes, indeed. Thanks @jasonLaster

[2017-10-12 21:43] #4325 closed

[2017-10-12 21:46] jasonLaster opened #4362 "[Preview] Tooltip is mis-aligned"
It is likely that we broke the position of the triangle in `Editor/Preview/Popup` recently. [Here][h] is where it is calculated.

![Screen Shot 2017-10-12 at 5.45.06 PM.png](https://shipusercontent.com/2d0ee1049f6f9d7ef2d64d602863277f/Screen%20Shot%202017-10-12%20at%205.45.06%20PM.png)

[h]: https://github.com/devtools-html/debugger.html/blob/master/src/components/shared/Popover.js#L80-L92

[2017-10-12 22:53] jasonLaster opened #4366 "[Breakpoints] Webpack inline source maps do not work"
When I'm using

[code]

it doesn't work. But switching to:

[code]

and the breakpoints are working normally.

[video](https://devtools-html.slack.com/files/U7H3CJFR7/F7JFAQUKY/v.mp4)

[2017-10-13 02:16] CrisOrellana commented on #4080
Working on bug " Need to be able to collapse expand headers with keyboard"
.claim on that specific bug. Did not want to "/claim" for the whole thing. CS 490
WNE

[2017-10-13 03:50] jasonLaster commented on #4080
/claim

Hey @CrisOrellana, I'll claim it so it's yours, but you can start with the easy stuff and we'll go from there. Small PRs are always better.

[2017-10-13 05:39] nyrosmith commented on #4348
@codehag Not every dep in our package.json is pinned to an exact version.
Deleting yarn.lock and running install afterwards may result in installed versions of dependencies that may have breaking changes.
Unfortunately not every author respects SemVer and sometimes a fix for a lib can result in a breaking change if the consumer has already implemented a workaround or relies on that behavior.

I se

[2017-10-13 13:13] lukaszsobek commented on #4345
/claim

[2017-10-13 13:22] jahed commented on #4366
Worth mentioning that this works fine in Chrome's dev tools.

I've tried reproducing this using a smaller code base with the same Webpack build and the following properties:

- inline-source-map
- Class components
- Functional components
- Dynamic imports
- Object destruction

All of which work normally. Might just have to strip my project bit by bit until the problem disappears to find the cause.

[2017-10-13 13:28] jasonLaster commented on #4121
aight, now we solve the tree: this test can be run with `jest --watch src/utils/sources-tree/tests/addToTree.spec.js`

[code]

[2017-10-13 13:38] jasonLaster commented on #4348
we should probably just do a `yarn nom`, fix the tests, and `commit the new lock and tests`

[2017-10-13 14:30] lukaszsobek commented on #4362
/claim

[2017-10-13 15:02] jasonLaster commented on #4348
not seeing this now

[2017-10-13 15:02] #4348 closed

[2017-10-13 15:03] jasonLaster commented on #4366
yeah... i'd look at source map root and babel too

[2017-10-13 15:38] jasonLaster opened #4369 "[Previews] some lines are incorrectly marked as out of scope"
STR:

1. go to [todomvc-react](http://todomvc.com/examples/react/#/active)
2. add a bp in TodoModel.js#46
3. add a bp
4. click toggle all
5. hover on "this"

ER: see something
AR: you don't :)

NOTE a breakpoint below works

![Screen Shot 2017-10-13 at 11.34.07 AM.png](https://shipusercontent.com/d1a9f8da1c9a7382da3c34a8ec12574c/Screen%20Shot%202017-10-13%20at%2011.34.07%20AM.png)

#### GIST

[cod

[2017-10-13 17:07] #4362 closed

[2017-10-13 17:08] #4349 closed

[2017-10-13 18:17] #4190 closed

[2017-10-13 18:18] jasonLaster commented on #4259
Hey @svitlana-galianova how's it going?

[2017-10-13 18:21] jasonLaster commented on #4212
I'm going to close this as it's a nice to have, but not important at the moment.

It'll be in #enhancements

[2017-10-13 18:21] #4212 closed

[2017-10-13 18:22] jasonLaster commented on #4065
moving to the enhancements board as we won't be getting to it this quarter

[2017-10-13 18:22] #4065 closed

[2017-10-13 18:23] #3789 closed

[2017-10-13 18:23] jasonLaster commented on #3789
i think we did the main ones

[2017-10-13 18:23] jasonLaster commented on #3698
this can happen when we upgrade Reps

[2017-10-13 18:23] #3698 closed

[2017-10-13 18:24] jasonLaster commented on #4122
:fire:

[2017-10-13 18:24] #4122 closed

[2017-10-13 18:26] jasonLaster commented on #3884
closing as we haven't reproduced

[2017-10-13 18:26] #3884 closed

[2017-10-13 18:27] aagandhi1 commented on #4292
I'm a student at Seneca college learning open source, and I was hoping to work on this bug for my course.  If no one else is currently working on it, I'd like to give it a try.

[2017-10-13 18:27] jasonLaster commented on #3464
closing as I haven't seen this again or been able to reproduce it

[2017-10-13 18:27] #3464 closed

[2017-10-13 18:35] aagandhi1 commented on #4292
/claim

[2017-10-13 20:10] yurydelendik opened #7612 "Deprecate getGeneratedLocation, expose getGeneratedLocations"
The `generatedPositionFor` of the SourceMapConsumer returns one found position in the generated code. However there might be cases when multiple such locations can be used. There is [allGeneratedPositionsFor](https://github.com/mozilla/source-map#sourcemapconsumerprototypeallgeneratedpositionsfororiginalposition) we can use to return all found positions for the original source. Notice, per spec, t

[2017-10-14 00:17] svitlana-galianova commented on #4259
Hello @jasonLaster I am setting up a testing environment. Had some fun figuring how to make debugger run and make Firefox listen to the right port

[2017-10-14 02:32] jasonLaster opened #4373 "[SourceTree] JSX files are missing"
STR:

1. navigate to [react todomvc](http://todomvc.com/examples/react/#/active)
2. expand the sources tree

Notice, JSX files are missing.

### firefox
<img src='https://shipusercontent.com/a0d1892ece38fa3b518cbee0424e8cdd/Screen%20Shot%202017-10-13%20at%2010.32.14%20PM.png' title='Screen Shot 2017-10-13 at 10.32.14 PM.png' width=429>

### chrome
<img src='https://shipusercontent.com/262a6c0167c7

[2017-10-14 02:36] jasonLaster opened #4374 "[Sources] Source Tree contents does not change"
The Source Tree uses `item.contents = source` to store the source record. Unfortunately, the record is immmuatble and therefore does not update when the source updates, for instance is pretty printed or blackboxed.

We should update this because the API is currently misleading

[2017-10-14 19:04] shtr0m commented on #4288
/claim

[2017-10-14 21:11] gabrielluong commented on #4292
This should just be adding "devtools-button" as the class. This class can be found in common.css

[2017-10-15 04:43] magicp-github opened #4376 "debugger.css has different line feed code"
**Steps to Reproduce:**
Open debugger.css using any editors (e.g. EmEditor)
_location: resource://devtools/client/debugger/new/debugger.css
omni.ja: chrome/devtools/modules/devtools/client/debugger/new/debugger.css_

**Actual Results:**
debugger.css has a different line feed code. (line: 2976 to 2987 using CR+LF)
![debugger_css](https://user-images.githubusercontent.com/13914314/31581710-62040994-

[2017-10-15 11:00] jogibear9988 opened #4377 "Breakpoints / jump to error in beautified source"
It would be great if you can support setting (and hitting) breakpoints in source when it is beautified. Chrome for example supports this.

Also when I click an error you jump to the minimized file. Maybe it is possible to make a additional jump to the line in the beautified file.

[2017-10-15 15:37] jasonLaster commented on #4292
@gabrielluong we don't use `devtools-button` class yet, perhaps we should make a separate issue to switch to using it as this could likely a bigger change.

[2017-10-15 19:11] lukaszsobek commented on #4374
Is it a matter of changing `const` lo `let` on line 241 of SourcesTree.js?

[2017-10-16 09:59] #4345 closed

[2017-10-16 10:12] codehag commented on #4374
since the record is immutable, the state saved on like 241 becomes stale, so changing it to let or const will not make a difference. The contents are set in addToTree, I suspect that what we need is a getter function rather than storing the state when the file is initially loaded. what do you think @jasonLaster?

maybe something like this:

[code]

[2017-10-16 13:11] jasonLaster commented on #4374
@codehag that could work. I was thinking we could also just keep the source path and url in contents and get the source at render time... the advantage of this approach is then our tree becomes agnostic to what is stored in it... it doesn't have to be a source just an object w/ path and ID.

but i'm good w/ anything here

[2017-10-16 13:11] #4374 closed

[2017-10-16 14:56] jasonLaster commented on #1143
xx

[2017-10-16 15:31] belld19233 commented on #4070
/claim

[2017-10-16 15:33] belld19233 commented on #4070
/claim

[2017-10-16 15:42] belld19233 commented on #4070
/claim

[2017-10-16 15:45] belld19233 commented on #4070
/claim

[2017-10-16 15:48] belld19233 commented on #4070
/claim

[2017-10-16 16:34] lukaszsobek commented on #1143
i

[2017-10-16 16:36] lukaszsobek commented on #1143
b

[2017-10-16 16:38] lukaszsobek commented on #1143
n

[2017-10-16 16:42] lukaszsobek commented on #1143
f

[2017-10-16 16:50] digitarald commented on #4353
We should definitely hook into GH's services whenever possible. I wonder if they will provide aliases at some point, but as labels are freely editable we are not loosing information and the risk of changing is low.

As a follow up or on this, should we generally convert the label scheme to `Camel Case Text` (like `Code Health` ;) )?

[2017-10-16 16:53] lukaszsobek commented on #1143
j

[2017-10-16 16:53] lukaszsobek commented on #1143
a

[2017-10-16 16:54] lukaszsobek commented on #1143
f

[2017-10-16 16:55] lukaszsobek commented on #1143
s

[2017-10-16 16:55] lukaszsobek commented on #1143
s

[2017-10-16 16:56] lukaszsobek commented on #1143
l

[2017-10-16 16:58] lukaszsobek commented on #1143
k

[2017-10-16 16:59] lukaszsobek commented on #1143
j

[2017-10-16 17:08] lukaszsobek commented on #1143
j

[2017-10-16 17:08] lukaszsobek commented on #1143
j

[2017-10-16 17:09] lukaszsobek commented on #1143
jj

[2017-10-16 17:09] lukaszsobek commented on #1143
K

[2017-10-16 17:10] lukaszsobek commented on #1143
i

[2017-10-16 17:13] lukaszsobek commented on #1143
k

[2017-10-16 17:13] lukaszsobek commented on #1143
k

[2017-10-16 17:14] lukaszsobek commented on #1143
k

[2017-10-16 17:14] lukaszsobek commented on #1143
k

[2017-10-16 17:23] belld19233 commented on #4070
/claim

[2017-10-16 17:26] belld19233 commented on #4070
/claim

[2017-10-16 17:28] belld19233 commented on #4070
/claim

[2017-10-16 17:29] belld19233 commented on #4070
/claim

[2017-10-16 17:34] belld19233 opened #4384 "Debugging Probot!!!! :))))"
Ignore this bug. Instead of making comments on bugs in progress, I will do so here in order to debug the issue of Probot not detecting some /claim comments.

Also, this will test our Probot's ability to assign users to a bug.

[2017-10-16 17:55] belld19233 commented on #4384
/claim

[2017-10-16 17:56] belld19233 commented on #4384
Bug doesn't ignore /claim, it just doesn't do claim(context)

[2017-10-16 17:57] belld19233 commented on #4384
/claim

[2017-10-16 18:06] belld19233 commented on #4384
/c\unclaim

[2017-10-16 18:06] belld19233 commented on #4384
/unclaim

[2017-10-16 18:08] belld19233 commented on #4384
/unclaim

[2017-10-16 18:11] belld19233 commented on #4384
/unclaim

[2017-10-16 18:14] belld19233 commented on #4384
/unclaim

[2017-10-16 18:20] belld19233 commented on #4384
/unclaim

[2017-10-16 18:22] lukaszsobek commented on #1143
k

[2017-10-16 18:24] belld19233 commented on #4384
/unclaim

[2017-10-16 18:25] belld19233 commented on #4384
/unclaim

[2017-10-16 18:25] belld19233 commented on #4384
/unclaim

[2017-10-16 18:36] lukaszsobek commented on #4384
/unclaim

[2017-10-16 18:39] belld19233 commented on #4384
/unclaim

[2017-10-16 18:40] belld19233 commented on #4384
/unclaim

[2017-10-16 18:41] belld19233 commented on #4384
/unclaim

[2017-10-16 18:43] belld19233 commented on #4384
/claim

[2017-10-16 18:44] belld19233 commented on #4384
/claim

[2017-10-16 18:44] belld19233 commented on #4384
/unclaim

[2017-10-16 18:45] belld19233 commented on #4384
/unclaim

[2017-10-16 19:05] lukaszsobek commented on #1143
l

[2017-10-16 19:07] lukaszsobek commented on #1143
k

[2017-10-16 19:13] lukaszsobek commented on #1143
k

[2017-10-16 19:14] lukaszsobek commented on #1143
k

[2017-10-16 19:14] belld19233 commented on #4384
/unclaim

[2017-10-16 19:16] lukaszsobek commented on #1143
l

[2017-10-16 19:17] lukaszsobek commented on #1143
l

[2017-10-16 19:18] belld19233 commented on #4384
/unclaim

[2017-10-16 19:18] lukaszsobek commented on #1143
l

[2017-10-16 19:19] belld19233 commented on #4384
/claim

[2017-10-16 19:19] belld19233 commented on #4384
/unclaim

[2017-10-16 19:26] lukaszsobek commented on #1143
j

[2017-10-16 19:26] lukaszsobek commented on #1143
k

[2017-10-16 19:27] lukaszsobek commented on #1143
k

[2017-10-16 19:31] lukaszsobek commented on #1143
j

[2017-10-16 19:32] lukaszsobek commented on #1143
j

[2017-10-16 19:33] belld19233 commented on #4384
/claim

[2017-10-16 19:33] belld19233 commented on #4384
/unclaim

[2017-10-16 19:36] belld19233 commented on #4384
/claim

[2017-10-16 19:36] belld19233 commented on #4384
/unclaim

[2017-10-16 19:38] belld19233 commented on #4384
/claim

[2017-10-16 19:38] belld19233 commented on #4384
/unclaim

[2017-10-16 19:39] belld19233 commented on #4384
/claim

[2017-10-16 19:39] belld19233 commented on #4384
/unclaim

[2017-10-16 19:40] belld19233 commented on #4384
/claim

[2017-10-16 19:40] belld19233 commented on #4384
/unclaim

[2017-10-16 19:40] belld19233 commented on #4384
/claim

[2017-10-16 19:41] belld19233 commented on #4384
/unclaim

[2017-10-16 19:44] lukaszsobek commented on #1143
k

[2017-10-16 19:44] lukaszsobek commented on #1143
l

[2017-10-16 19:45] belld19233 commented on #4384
/claim

[2017-10-16 19:45] belld19233 commented on #4384
/unclaim

[2017-10-16 19:45] belld19233 commented on #4384
/claim

[2017-10-16 19:46] belld19233 commented on #4384
/unclaim

[2017-10-16 19:47] #4288 closed

[2017-10-16 19:48] belld19233 commented on #4384
/claim

[2017-10-16 19:48] belld19233 commented on #4384
/unclaim

[2017-10-16 19:50] belld19233 commented on #4384
/unclaim

[2017-10-16 19:50] belld19233 commented on #4384
/unclaim

[2017-10-16 19:50] belld19233 commented on #4384
/claim

[2017-10-16 19:51] belld19233 commented on #4384
/unclaim

[2017-10-16 20:02] jasonLaster commented on #4384
x

[2017-10-16 20:04] jasonLaster commented on #4384
sdf

[2017-10-16 20:04] jasonLaster commented on #4384
sdf

[2017-10-16 20:07] jasonLaster commented on #4384
sdf

[2017-10-16 20:09] jasonLaster commented on #4384
sdf

[2017-10-16 20:09] jasonLaster commented on #4384
sdfd

[2017-10-16 20:10] jasonLaster commented on #4384
:/

[2017-10-16 20:10] jasonLaster commented on #4384
sdf

[2017-10-16 21:11] #4236 closed

[2017-10-16 21:14] hughugsy commented on #4140
/claim

[2017-10-16 21:14] jasonLaster commented on #3755
removing from our milestone as Sam, from ucosp can work on it

[2017-10-16 21:37] amitzur commented on #4353
Feels like this can be automated with GitHub's API.
Also, notice it's "good first issue", not bug.

I agree that no newcomer is interested in the difference between difficulty medium and hard. If it also doesn't interest the veterans I'd remove it.

well, according to https://help.github.com/articles/about-labels/ they use only lowercase in labels.

[2017-10-16 22:02] amitzur commented on #4168
is this the same work as #4350 ?

[2017-10-16 22:14] digitarald opened #4387 "Investigate slow editor variable tooltip"
Recording of me trying to focus on the variable in the 2nd of the 3 lines:

https://www.dropbox.com/s/43ceuu5y5gxzsz5/2017-10-06%2016.47.35.mov?dl=0

I assume there is a slight hang when the tooltip is generated which doesn't take into account the latest position or when the mouse exists the hovered variable.

[2017-10-16 22:33] digitarald commented on #4387
A profile of the hanging (reproduced on this issue page, resulting in a [crash](https://crash-stats.mozilla.com/report/index/06ab93ff-033f-45b6-8535-0bf170171016) 😈, not the debuggers fault  ), showing massive GC issues and time spend in `findBestMatch`

Brainstorming a bit on a better heuristic:

- Show yellow highlight ASAP (could a light version even use CSS?)
- Debounce the tooltip by 100ms (t

[2017-10-16 22:36] yurydelendik commented on #4168
Yes, #4350 will help with this issue a lot.

[2017-10-16 23:00] yurydelendik opened #4389 "Breakpoint is ignored"
STR:
1. Open https://yurydelendik.github.io/old-man-sandbox/sorted-es6/test.html
2. In debugger, Find webpack:///sorted.js source and set breakpoints at lines 5 and 9
3. Refresh the page (at step 1)
4. Observe the pause location

Actual result:
- Stopped at line 9

Expected result:
-Stopped at line 5

[2017-10-16 23:01] digitarald commented on #4353
Good catch (I also prefer find them more readable).

I am torn on how to manage well specified issues for the more advanced community vs marking things available for "beginners". We don't have too many bugs that are `available` and `medium/hard`; and the ones that are are not really well specified. `/claim` seems to solve these cases, to track assigning & progress. So maybe `good first bug` is all

[2017-10-16 23:13] asharron commented on #4070
/claim

[2017-10-16 23:19] belld19233 commented on #4384
/unclaim

[2017-10-16 23:20] belld19233 commented on #4384
/claim

[2017-10-16 23:20] belld19233 commented on #4384
/unclaim

[2017-10-16 23:29] belld19233 commented on #4384
/unclaim

[2017-10-16 23:30] belld19233 commented on #4384
/unclaim

[2017-10-16 23:30] belld19233 commented on #4384
/claim

[2017-10-16 23:30] belld19233 commented on #4384
/claim

[2017-10-16 23:31] belld19233 commented on #4384
/unclaim

[2017-10-16 23:31] belld19233 commented on #4384
/unclaim

[2017-10-16 23:31] belld19233 commented on #4384
/claim

[2017-10-16 23:32] belld19233 commented on #4384
/unclaim

[2017-10-16 23:32] belld19233 commented on #4384
/unclaim

[2017-10-16 23:33] belld19233 commented on #4384
/unclaim

[2017-10-16 23:33] belld19233 commented on #4384
/unclaim

[2017-10-16 23:37] belld19233 commented on #4384
/unclaim

[2017-10-17 00:02] belld19233 commented on #4384
/claim

[2017-10-17 00:06] belld19233 commented on #4384
/unclaim

[2017-10-17 00:07] belld19233 commented on #4384
/claim

[2017-10-17 00:07] belld19233 commented on #4384
/unclaim

[2017-10-17 00:08] belld19233 commented on #4384
/claim

[2017-10-17 00:08] belld19233 commented on #4384
/unclaim

[2017-10-17 00:09] belld19233 commented on #4384
/claim

[2017-10-17 00:09] belld19233 commented on #4384
/unclaim

[2017-10-17 00:24] belld19233 commented on #4384
/unclaim

[2017-10-17 00:30] darkwing opened #4390 "Make launchpad styles consistent w/ the panel"
We have two issues that i know about, there might be more:

- [x] the editor should be monospaced. THis is caused by `--monospace-font-family` not being set because `:root.html [platform="mac"]` doesn't match.
- [x] chrome font sizes are 13px because `font: message-box` does not set, which defaults to font-size 11. If you're curious, message-box is part of the [spec][s] :)

[s]:https://developer.m

[2017-10-17 00:35] jasonLaster commented on #4390
that would be nice!

[2017-10-17 00:47] darkwing opened #4392 "Pause Button Enabled by Default when No Breakpoints Set"
The pause button defaults to enabled upon debugger load despite no breakpoints set or

<img width="249" alt="pausedefaultenabled" src="https://user-images.githubusercontent.com/46655/31641495-a36cac7a-b2aa-11e7-8752-00555d83746f.png">

I'm thinking this button should start out disabled.

[2017-10-17 00:57] darkwing opened #4393 "[Editor] Navigating to a new source should scroll the editor to the top"
STR:

1.  Open a source in the editor and scroll down.
2.  Open another source

In my instance, I scrolled to line 70, and when I opened another source, the editor scroll was at line 70.

When opening a new source, we should scroll the editor to the top.

[2017-10-17 01:00] jasonLaster commented on #4393
I'm guessing this is a recent regression that was triggered by our Editor lifecyle PR:

I thought this [test][t] exercised that.

[t]: https://github.com/devtools-html/debugger.html/blob/master/src/test/mochitest/browser_dbg-editor-highlight.js#L6

[2017-10-17 01:02] jasonLaster commented on #4392
We're moving this button and watch expressions to a dropdown where it will be clearer

[2017-10-17 01:02] #4392 closed

[2017-10-17 01:20] darkwing opened #4394 ""Copy Function" Context Menu Item Seems Broken"
Right-clicking inside a function does not enable the "Copy Function" context menu.
<img width="353" alt="context" src="https://user-images.githubusercontent.com/46655/31642233-7b1b9b14-b2af-11e7-86d1-1878af65d140.png">
Something may be off.