[2017-01-15 23:25] #1086 closed

[2017-01-16 10:30] liorpr commented on #1613
I can help, but not sure how to approach this, where's the website repo? what are the changes need to be made?

[2017-01-16 11:28] nt1m opened #1723 "Use thinner reload icon"
Suggested icon:
[code]

[2017-01-16 11:33] nt1m commented on #1693
It would be cool if this could be done more often, so Nightly users are able to get the changes and report bugs more quickly. This would make debugger-html better in terms of stability since a lot of our Nightly users are great bug filers :)

[2017-01-16 12:00] irfanhudda commented on #1613
@liorpr At this time [https://devtools-html.github.io/debugger.html/](https://devtools-html.github.io/debugger.html/) is generated by github using this projects' `README.md`.

The problem with this approach is that links (for other articles in `docs/` folder) are not generated properly. They point to raw markdown files.

For now, it would be good to have them point to actual html pages. Jekyll app

[2017-01-16 16:27] clarkbw commented on #1723
Is this for Watch Expressions?

[2017-01-16 16:37] clarkbw commented on #1704
Nope. 😄

[2017-01-16 19:30] nt1m commented on #1723
@clarkbw Yeah, the icon is currently a bit thicker, which is inconsistent.

[2017-01-16 20:16] andreicristianpetcu commented on #1085
@jasonLaster I read a lot about Enzyme, Jest and testing React+Redux stuff. I think I can write some tests on my next contribution. I still have Mochitest on my reading list.

[2017-01-16 20:21] andreicristianpetcu opened #1726 "[Dark Theme] Sources and editor have scrollbars sometimes on Gnome Shell"
Sometimes the sources section and the editor section have white scrollbars. Please see the screenshot.

![scrollbars](https://cloud.githubusercontent.com/assets/922368/21997844/5deadc2e-dc29-11e6-9c32-2365f84e1c19.png)

I reporduced it on Fedora 25 with Gnome Shell 3.22.2. I don't know if it happens on other operating systems or on other desktop environments.

[2017-01-16 20:48] wldcordeiro commented on #1726
@andreicristianpetcu If you are on Firefox the scrollbars aren't styleable.

[2017-01-16 21:11] andreicristianpetcu commented on #1726
Is there an upstream bug for this? If not then I will report one.

[2017-01-16 21:12] andreicristianpetcu commented on #1726
Yes..... I am in Firefox.

[2017-01-16 21:56] jasonLaster commented on #1672
Thanks everyone. Wellington let's get your fix in soon

[2017-01-16 21:56] andreicristianpetcu commented on #1726
Found the bug :( https://bugzilla.mozilla.org/show_bug.cgi?id=77790

[2017-01-16 23:58] jasonLaster commented on #1726
yeah - so firefox does not support changing the scrollbar unless it's in the firefox devtools panel :/

Chrome does support it though

[2017-01-16 23:59] jasonLaster commented on #1085
@andreicristianpetcu nice. yeah, mochitest is our  mozilla test framework. The way we use it, its pretty basic.

We currently have node unit tests and we're working on getting the mochitests to run in a regular pae

[2017-01-17 00:00] jasonLaster commented on #1723
@nt1m you should file a PR fix :)

[2017-01-17 00:01] jasonLaster commented on #1714
Hmm, @wldcordeiro i think this is actually #1705. I'm going to close preemptively. Let me know if you can confirm its a new bug.

[2017-01-17 00:01] #1714 closed

[2017-01-17 13:42] amitzur commented on #1492
Hey, this is still up for grabs. Is it cool to take it?

[2017-01-17 13:44] binarybaba commented on #1492
I didn't grab it. Go for it! :D

On Tue, Jan 17, 2017, 19:12 Amit Zur <notifications@github.com> wrote:

[2017-01-17 13:50] amitzur commented on #1492
Thank you!

[2017-01-17 13:55] jasonLaster commented on #1492
sure @amitzur, this is a fun one!

[2017-01-17 14:02] #1689 closed

[2017-01-17 14:03] #1537 closed

[2017-01-17 15:03] jasonLaster opened #1728 "Conditional debugger statement isn't indented"
When I set a conditional debugger statement in some minified code exactly where the place of the code is the box for the conditional statement starts at column 0 rather than where the statement has been place.

This means when I open the box and type in my condition I can't read what I am typing without scrolling back horizontally.

Tested in nightly 53.0a1 and 52.0a2.

CC @jonathanKingston

[2017-01-17 18:19] #1709 closed

[2017-01-17 18:52] assafdd opened #1733 "Search results path gets truncated after 50 char"
When using the the search bar to look for files the autocomplete results subtitles are truncated after 50 chars.
its seems unnecessary since the css handles long paths pretty nice, and theres a lot of white space.

[2017-01-17 18:55] assafdd commented on #1733
<img width="1212" alt="truncated_path" src="https://cloud.githubusercontent.com/assets/1753718/22035086/4f3d87d4-dcf7-11e6-8327-263472fc4f54.png">

[2017-01-17 20:45] jasonLaster commented on #1603
patch:

[code]

[2017-01-17 21:09] jasonLaster commented on #1603
@Dalimil is looking at this

[2017-01-17 21:28] arthur801031 commented on #1598
Hi @jasonLaster

I'll take a stab at this :)

[2017-01-17 22:28] #1611 closed

[2017-01-17 22:29] #1733 closed

[2017-01-17 22:29] jasonLaster commented on #1726
eagle eyes :)

[2017-01-17 22:29] #1726 closed

[2017-01-17 22:30] #1723 closed

[2017-01-17 23:00] bomsy commented on #1560
Closing this ... still interested though why we get back only one reason type from chrome.

[2017-01-17 23:00] #1560 closed

[2017-01-18 05:03] viswanathamsantosh commented on #1339
I don't have a talk link but a simple presentation< https://slides.com/isantoshv/devtools/fullscreen#/ > i used for my talk last week.
I spent most of the time demo'ing super cool things we can do with devtools instead of a presentation as my goal was to motivate the participants to use Firefox devtools instead of the rest.

[2017-01-18 05:08] viswanathamsantosh commented on #1339
I found a presentation made by a fellow speaker. it is more of a presentation we can use for a talk. Here goes the link < http://mte90.github.io/Talk-DevTools/ >

[2017-01-18 07:04] andreicristianpetcu commented on #1624
I'll work on this if it's free

[2017-01-18 07:10] andreicristianpetcu commented on #1726
Apparently there is a way to customize Firefox scrollbars. https://gromo.github.io/jquery.scrollbar/demo/basic.html

[2017-01-18 14:18] Dalimil commented on #1603
Hmmm... I'm not sure about the property list - `Object.keys(window)` gives me window's enumerable properties so I get `alert, scrollBy, ...` but not things like `String, Array, ...`

I guess I can use `Object.getOwnPropertyNames(window)` instead

[2017-01-18 15:52] jasonLaster commented on #1378
Thanks @amitzur for fixing it in https://github.com/devtools-html/devtools-core/pull/94

[2017-01-18 15:52] #1378 closed

[2017-01-18 16:29] #1603 closed

[2017-01-18 16:30] #1299 closed

[2017-01-18 16:30] #1717 closed

[2017-01-18 16:30] jasonLaster commented on #1624
@andreicristianpetcu it's yours

[2017-01-18 16:32] clarkbw commented on #1299
Thanks Reps!

[2017-01-18 16:49] clarkbw commented on #1661
If we get a 404 on a source map file we should clear the `sourceMapURL` field which should allow for pretty printing again.

[2017-01-18 16:53] #1640 closed

[2017-01-18 17:01] jasonLaster opened #1741 "pretty-print-worker.js has many lines with unreachable code"
Steps to reproduce:

The file "devtools/client/debugger/new/pretty-print-worker.js" has many lines with unreachable code.

It is in format:
[code]

the code in else block is not reachable. See attached screenshot for the line numbers.

![](https://bug1325978.bmoattachments.org/attachment.cgi?id=8822078)

[2017-01-18 17:07] jasonLaster opened #1742 "Source code destroyed in the debugger when setTimeOut('XXX()') is executed"
mozTest.png

User Agent: Mozilla/5.0 (Windows NT 6.3; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/55.0.2883.87 Safari/537.36

Steps to reproduce:

1. Open this page:
[code]
2. Press F12 and open mozTest.js in the debugger panel

Actual results:

There is no source code of mozTest.js, instead it displays just:
[code]
It displays the text executed inside setTimeout()
The text is destroyed e

[2017-01-18 17:29] jasonLaster opened #1743 "[debuggee] Show a pause indicator"
We currently show a pause reason in the debugger [1] , but we're not showing anything in the debuggee

We should have a popup and a mask.
https://bugzilla.mozilla.org/show_bug.cgi?id=1318824

[1] Pause Reason
![screen shot 2017-01-18 at 12 27 55 pm](https://cloud.githubusercontent.com/assets/254562/22075358/c1132580-dd79-11e6-8078-a42f3522a79d.png)

[2017-01-18 17:34] jasonLaster opened #1744 "Debugger sources emptied on download"
#### STR:
1. open https://www.mozilla.org/en-US/firefox/all/
2. activate devtools and debugger tab
3. download firefox of your choosing
4. witness all js sources in debugger gone

This makes it impossible to debug js on pages where download occurs as part of a triggered function for example. I'm not aware of other ways to get sources back than to refresh the page. But this looses all previous cont

[2017-01-18 17:47] clarkbw commented on #1744
Also, this bug exists with the old debugger as well as the new.  Just tried it out on release Firefox.

[2017-01-18 19:23] jasonLaster opened #1747 "Research adopting JSX"
We would like to layout the case for adding JSX to the debugger and other react tools in DevTools.

Lets use this issue to discuss the trade/offs, style preferences, and adoption plans.

Here's a great [PR](https://github.com/devtools-html/debugger.html/pull/1712) where @Garbee showed the benefits of refactoring the breakpoints component

[2017-01-18 19:23] jasonLaster commented on #1665
@Garbee mind sharing some screens from #1712 so that we can see what the UX was like?

[2017-01-18 19:24] clarkbw commented on #840
I believe #1707 has fixed this issue.  Can't reproduce it anymore.

[2017-01-18 19:24] #840 closed

[2017-01-18 19:32] clarkbw commented on #1747
I'll add that I want this change.  We already have a webpack build step so the possible negative has already been taken on.  JSX makes the components easier to read and AFAIK was designed so that designers could more easily adapt components without needing to code.

[2017-01-18 19:43] wldcordeiro commented on #1747
@clarkbw echoing your argument for JSX I think the biggest thing is familiarity for new contributors. Most React projects seem to use JSX so adopting it would make the barrier for entry a little lower. Also it seems like people are more conscious of the HTML element types they use when they're using JSX over the dom helpers and we end up with a lot more semantic HTML.

[2017-01-18 19:47] #1710 closed

[2017-01-18 20:00] jasonLaster opened #1749 "[Editor] Don't show "jump to original location" if there isn't an original location"
We're currently always showing a **jump** message even when it doesn't make sense.

We can be smart and only show it if there's a place to jump to. We can do this by adding a check here:

[code]

### screenshot

![screen shot 2017-01-18 at 2 59 11 pm](https://cloud.githubusercontent.com/assets/254562/22080777/c56dbd42-dd8e-11e6-9fb0-cd2a84075223.png)

[2017-01-18 21:16] jasonLaster commented on #1726
Hmm, i din't think that did anything for me in firefox :/

[2017-01-18 23:43] jasonLaster opened #1750 "[L10N] localization doesn't work in the panel"
https://bugzilla.mozilla.org/show_bug.cgi?id=1320188

[2017-01-18 23:59] clarkbw opened #1751 "avoid right / left references in L10N string identifiers"
[bug 1321255](https://bugzilla.mozilla.org/show_bug.cgi?id=1321255) avoid using right / left references in the string identifiers

Instead of this
[code]

Use this:
[code]

[2017-01-19 00:01] clarkbw commented on #1751
We should also update the docs to reflect this requirement so we can avoid it next time.

[2017-01-19 00:13] clarkbw opened #1752 "cmd+f should open file search if there are no open files"
[bug 1319431](https://bugzilla.mozilla.org/show_bug.cgi?id=1319431)

Steps to reproduce:

1. Open example.com in a new tab
2. Open the new debugger in the devtools toolbox
3. Hit ctrl-f
( find in page content search appears instead of debugger search )

The old debugger used to capture the cmd+f shortcut and redirect it to the search.  We should enable that again.

Additionally I've noticed that C

[2017-01-19 03:32] jasonLaster opened #1754 "[flow] errors with client-adapter"
I ran `yarn run flow`, I got this error message:
<img width="868" alt="screen shot 2017-01-19 at 10 13 34 am" src="https://cloud.githubusercontent.com/assets/4562118/22092134/6eb8e262-de36-11e6-8526-c4b2425ea8fd.png">
(jasonLaster told me to CC you on this issue)

I've tried these solutions, but none of them worked.
1. https://flowtype.org/docs/troubleshooting.html
2. https://github.com/facebook/f

[2017-01-19 03:33] jasonLaster commented on #1754
I just looked into it and it looks associated with this line in the `flowconfig` `.*firefox/.*`

hopefully, this is the fix:

[code]

[2017-01-19 03:36] jasonLaster commented on #1752
hmm, I think `cmd+O` makes sense.

I'm not sure about `cmd-f`, in atom it opens file search which is a no-op :P

[2017-01-19 04:08] clarkbw commented on #1752
Yeah, I agree.  We show exactly what key command is required in the UI.

[2017-01-19 04:14] clarkbw opened #1756 "The cmd+O keyboard shortcut should also act as the cmd+P shortcut"
_Coming out of #1752_

Chrome has the alias `cmd+O` (Open) for the `cmd+P` source search.  Likely a common mistake for many programmers is to try using the common keyboard shortcut for open file.

Likely you need to start here:
https://github.com/devtools-html/debugger.html/blob/master/src/components/SourceSearch.js#L67

[code]

Don't forget to use the [L10N](https://github.com/devtools-html/debug

[2017-01-19 04:17] clarkbw commented on #1752
The only other thing to think about is that Ben asks that we at least always capture the cmd+f shortcut so that focus doesn't bump to the default content option.

[2017-01-19 04:31] clarkbw commented on #1742
Able to reproduce this.  Feels like some kind of debug server error.  When you increase the timeout this works as expected, but anything `100` or below means you get lots of `ADD_SOURCE` events which seem to screw things up.

[2017-01-19 04:39] clarkbw commented on #1751
Here's what you need to get started:

Take a look at the [localization](https://github.com/devtools-html/debugger.html/blob/master/docs/local-development.md#internationalization) docs.

Change the label here: https://github.com/clarkbw/debugger.html/blob/master/src/components/SourceTabs.js#L116 to use something like `closeTabsToTheEnd` and update all the references to the old `closeTabsToTheRight`

[2017-01-19 04:41] clarkbw commented on #1705
@jbhoosreddy are you taking on this one?

[2017-01-19 04:42] #1754 closed

[2017-01-19 04:47] clarkbw commented on #1701
#1642 fixed this

[2017-01-19 04:47] #1701 closed

[2017-01-19 04:50] clarkbw commented on #1695
Most of this was fixed by  #1697

[2017-01-19 04:50] #1695 closed

[2017-01-19 05:06] clarkbw commented on #1670
Looks like this wasn't wired up correctly.  I did some tracing down to the chrome commands.  I'm not sure why it errors out yet, but we only pass two options when 3 are available. `"none", "uncaught", "all"`
https://github.com/devtools-html/devtools-core/blob/9ba99c5b6f60209ff20cf64cec415f14ccb6178a/packages/devtools-client-adapters/src/chrome/commands.js#L29

Likely needs a fresh look.

[2017-01-19 05:08] clarkbw commented on #1661
Also I wonder if we should use the bottom bar to indicate a "Source Mapped Version" so people can see that there is a source map and click that to jump to it.  I know we have this in a context menu for jumping to lines but I think it would be good to surface the general jump option.

[2017-01-19 05:29] clarkbw commented on #1661
Did some more digging.

I believe if you wanted to tackle this you would need to start here:
https://github.com/clarkbw/debugger.html/blob/master/src/utils/source-map-worker.js#L119-L121

[code]

Now the fetch error will be passed back to the caller.

Then handle the passed error somewhere like here:
https://github.com/clarkbw/debugger.html/blob/master/src/actions/sources.js#L75-L79
[code]

[2017-01-19 06:32] jbhoosreddy commented on #1705
@clarkbw oh yeah. I am.

[2017-01-19 08:56] jnachtigall commented on #1752
This very similar to https://github.com/devtools-html/debugger.html/issues/1376#issuecomment-266974238 (which was closed - I think due to a misunderstanding and it's gone under the radar - but, anyway, it's still a valid bug in Nightly 53.0a1 (2017-01-18). Just tested now)

[2017-01-19 16:04] clarkbw commented on #1752
It sounds reasonable to me to capture `cmd+f` and do a no-op to at least prevent the default from happening.   I can re-work this issue to reflect that.

[2017-01-19 16:36] clarkbw opened #1758 "utils/defer is not covered by flow"
I just noticed this in the [utils/defer](https://github.com/devtools-html/debugger.html/blob/master/src/utils/defer.js#L1) module that it uses `/* flow */` instead of `/* @flow */` and when I changed it Flow didn't complete successfully.

[2017-01-19 16:39] jbhoosreddy commented on #1747
I can only talk from personal experience as I don't know too much about the lay of the land. But our way of using React was definitely tricky to pin point because there was little documentation. It might have taken me an even longer time to get things done without my mentors.

Since the official React docs follows JSX and ES6/ES7 JS, following that coding standard should make it much more easy for

[2017-01-19 16:44] clarkbw opened #1759 "Improve Flow docs"
We need to update the Flow docs so it is more obvious how people can get started, make changes, test their changes, and know that Flow is working correctly.

[2017-01-19 16:46] clarkbw commented on #1758
Here's how I'd get started, this doesn't run yet but is close.

[code]

[2017-01-19 16:54] clarkbw commented on #1759
Intro gif http://recordit.co/QYAyms9n3C

[2017-01-19 16:54] clarkbw commented on #1759
Cheat Sheet: http://www.saltycrane.com/blog/2016/06/flow-type-cheat-sheet/

[2017-01-19 17:45] clarkbw commented on #1759
#1760 has some new docs incuded

[2017-01-19 17:55] sole opened #1761 "yarn run firefox, when it can't find firefox"
I get this error:

[code]

And then that's it.

My Firefox(es) binaries are not in the default Mac OS app location (`/Applications`) but in my `~/Applications`. I guess this is an issue related to selenium webdriver? I can investigate this, but I figured it would be worth to at least log the issue just in case someone else is encountering this too.

This is right after installing the project, I'm

[2017-01-19 17:59] sole opened #1762 "[docs] Issue reporters cannot add labels to issues unless they have admin privileges"
Right now the [contributing docs](https://github.com/devtools-html/debugger.html/blob/master/CONTRIBUTING.md#reporting-bugs-bug) ask issue reporters to label issues when filing them, but you cannot do that unless you have additional privileges.

(I am a member of the `devtools-html` organisation and even I cannot add labels)

[2017-01-19 18:04] jasonLaster opened #1763 "Add licenses"
We should add licenses for:
* fuzzaldrin-plus
* lodash
...

[2017-01-19 18:39] clarkbw commented on #1763
We could check in a generated license disclaimer via `yarn licenses generate-disclaimer` and perhaps have a check in our CI that running that command isn't different than the file already checked in.

[2017-01-19 18:40] clarkbw commented on #1762
Good catch!  Can you update the docs to remove that?

We should probably add something about the triage process as well.

[2017-01-19 19:02] jbhoosreddy commented on #1642
fixed in #1687

[2017-01-19 19:02] #1642 closed

[2017-01-19 20:42] bomsy commented on #1747
One plus from my little experience with JSX, in its own way helps get a quick picture of what the dom structure might look like for some one new to it
 Might be kinda easier i guess to some familiar to basic markup
[code]

vs

[code]

[2017-01-19 20:53] wldcordeiro commented on #1747
@bomsy agreed with that, it definitely makes for a more familiar experience for designers and new contributors. I support the idea of transitioning to JSX. A tracking issue that has adding the babel transform, and then a list of components would be a nice start and encourage contributions.

[2017-01-19 21:44] Garbee commented on #1747
FTR the primary things I found converting to keep in mind is this problem...

When we make functions to return a subset of markup, it still needs to be named with JSX. This is done by just [modifying the object property](https://github.com/Garbee/debugger.html/blob/garbee/breakpoints/src/components/CommandBar.js#L72) once the function is initialized.

The only part of the tools we use that has an

[2017-01-19 22:47] jasonLaster opened #1767 "asm.js"
asm was disabled in the old debugger [here](https://dxr.mozilla.org/mozilla-central/source/devtools/client/debugger/debugger-controller.js#278).

[reconfigureThread](https://dxr.mozilla.org/mozilla-central/source/devtools/client/debugger/debugger-controller.js#405,409)

We should figure out what we want to do in the new debugger

[2017-01-19 22:51] yurydelendik commented on #1767
Small test case:

[code]

[2017-01-19 23:06] jasonLaster commented on #1767
Here's a small patch that should work:

[code]

[2017-01-19 23:46] jasonLaster commented on #1767
We quickly looked into this patch and saw that there was an issue with debugging asm.js sources.

The solution is to:
1. show a warning message when the user tries to add a breakpoint
2. reconfigure the thread when the debuggee is navigating (refreshing) the tab

[code]

We'll also need to add some [tests](https://gist.github.com/jasonLaster/83912063c4a23d440d80739d5cb5583b)

[2017-01-19 23:54] jasonLaster commented on #1767
adding this video of wasm debugging. It's not related to the issue, but it's cool :)

https://www.youtube.com/watch?v=R1WtBkMeGds

[2017-01-20 04:52] jbhoosreddy commented on #1763
I think it's a really good idea to do this. I noticed this here facebook/react#8803 (#8789) similar. Maybe we could come up with a similar solution. As part of the bundle creation process.

[2017-01-20 10:24] sole commented on #1762
I will! (I can't assign myself to take the bug though :-D)

[2017-01-20 13:10] Garbee commented on #1761
Looks like we may just need to update the Selenium we use. The [current master](https://github.com/SeleniumHQ/selenium/blob/313e0911ccf584bcd965ff5f71f0ad17459ff2cb/dotnet/src/WebDriver/Firefox/Internal/Executable.cs#L178) has a fix in place for this. However the commit this is from goes back [four years](https://github.com/SeleniumHQ/selenium/blame/master/dotnet/src/webdriver/Firefox/Internal/Exe

[2017-01-20 13:35] Garbee commented on #1665
The initial view with a few breakpoints provides:

1. A trigger button with good text to pause on the next execution.
2. A collapse area that contains the exception pausing state radios to switch between them.
3. The list of breakpoints with the toggle all and a new remove all button at the top of the list.
    * Note: The UX for removing all needs to be worked on. Currently it is hacked up with a

[2017-01-20 13:58] Garbee opened #1768 "Improving touch support and keyboard navigation"
Currently the tools have useful functions hidden behind hover events (close/remove buttons in particular) and this does two things that hurt users:

1. Developers with touch devices have a harder time interacting with the tools. Whether this is just because they feel like it in a moment or because touch is more accessible to them then using a mouse.
2. It makes certain functions far more difficult

[2017-01-20 14:13] Garbee commented on #1694
Also with this, disabled *conditional* breakpoints should be a lighter yellow.

I'll try to find the existing variables for these and if we don't have "breakpoint-specific" ones then I'll create those for easy re-use anywhere we may need them in the future for breakpoint-related actions.

[2017-01-20 14:33] jasonLaster commented on #1768
Thanks @Garbee.

I'm really glad that you're bringing up accessibility as I'd like for us to have some clear goals and then we can measure our progress and prevent regressions.

** touch accessibility** personally, I'd like to do well here but acknowledge that it might be hard to be 100%.
* we use context menus to hide a lot of extra functionality that we should audit as well
* *hover* i believe w

[2017-01-20 15:17] sole commented on #1761
@jasonLaster said in IRC that it might be an issue in selenium https://github.com/devtools-html/devtools-core/issues/101

I've no experience with Selenium so I can't really say...

I suggested that another option is to maybe provide a way for the user to specify the path to the Firefox binary when running `yarn run firefox`. This should enable testing with different versions.

Jason also suggested

[2017-01-20 15:20] Garbee opened #1772 "[keyboard] should be easier to tab to commands"
Using the keyboard to navigate currently stops at the editor space. There doesn't seem to be a way to tab from the file manager over to the secondary panel to reach breakpoints and the command bar actions.

Ref image:

![seconday-panel-inaccessible](https://cloud.githubusercontent.com/assets/868301/22154302/f5a09924-def8-11e6-8c09-84efce68dc9e.png)

### Recommendation

This is a tricky situation.

[2017-01-20 15:24] Garbee commented on #1761
Try just symlinking it to `/Applications` instead of outright moving it. That should do the trick for you without incurring problems anywhere else.

Warning: I am not a MacOS user, this is just a guess based on my Linux experience and how similar the underlying systems are.

[2017-01-20 15:37] Garbee opened #1773 "[CommandBar] Make buttons tabbable"
The CommandBar uses [spans](https://github.com/devtools-html/debugger.html/blob/7273d1c19d5a85bf4407c888db845a4ecc6bb69a/src/components/CommandBar.js#L67) to create the buttons. These are not naturally tabbable therefore inaccessible by keyboards.

### Recommendation

Refactor these to be `button` elements since they are actions to be carried out. If that isn't desirable, then a minimal `tabindex=

[2017-01-20 15:59] #1762 closed

[2017-01-20 16:20] jasonLaster commented on #1763
at the moment, we're updating the licenses in [M-C](https://bug1331654.bmoattachments.org/attachment.cgi?id=8828842). This process is not too cumbersome.

@clarkbw I like that idea as we could basically build the debugger's `licenses.html` page and check to make sure it's okay

[2017-01-20 16:52] clarkbw opened #1774 "Create license disclaimer and check in CI that it doesn't change"
Coming out of #1763

Here's what needs to be done.

- [ ] Create a new file using the `yarn licenses generate-disclaimer` command ( like so: `yarn licenses generate-disclaimer > LICENSES` )
- [ ] Add the `LICENSES` file to the repository ( `git add LICENSES` )
- [ ] In the [CircleCI config](https://github.com/devtools-html/debugger.html/blob/master/circle.yml#L31) add a check that the files are th

[2017-01-20 17:01] clarkbw commented on #1694
Just to note that we also have #1540 about looking into a better color scheme for the conditional breakpoint.

[2017-01-20 21:02] jasonLaster commented on #1340
Closing this as we recently added types to the SearchBar and learned a lot.

We can re-open new component flow issues later

[2017-01-20 21:02] #1340 closed

[2017-01-20 21:02] #1759 closed

[2017-01-20 21:03] jasonLaster commented on #1759
We can always improve docs, but atleast we have a baseline

[2017-01-20 23:10] clarkbw commented on #1743
I believe this might require server side changes.

We currently have something in the inspector that pops up to indicate that the page is currently paused.  This only appears if you're paused and you try to use the inspector.

Here's the code:
https://dxr.mozilla.org/mozilla-central/source/devtools/client/inspector/inspector.js#238

Screenshot:
<img width="425" alt="screen shot 2017-01-20 at 3 06

[2017-01-20 23:26] jasonLaster commented on #1743
Thanks for the detailed write-up.

Let's talk to Ryan and see what he thinks the complexity is based on rdm.

On Fri, Jan 20, 2017 at 6:10 PM Bryan Clark <notifications@github.com>
wrote:

[2017-01-22 02:57] #1598 closed

[2017-01-22 02:57] jasonLaster commented on #1598
Thanks @arthur801031 for grabbing one of the hard ones!

[2017-01-22 03:41] jasonLaster opened #1779 "[accessibility] Improve Keyboard Navigation"
We would like the debugger to be keyboard navigable.

Descriptions
* proper focus states
* proper <kbd>tab</kbd>, <kbd>arrow</kbd> key navigation
* proper <kbd>space</kbd>, <kbd>enter</kbd>, <kbd>escape</kbd>

Benefits:
* Help accessibility
* Help power users

Todo List:
- [ ] Can't use keyboard to navigate to secondary panel #1772
- [ ] Source Tab keyboard navigation #1801
- [x] CommandBar action

[2017-01-22 03:42] arthur801031 commented on #1758
I'll take a stab at this :)

Are `Resolve` and `Reject` = `any` type, like this [any](https://flowtype.org/docs/builtins.html#any)?

[2017-01-22 06:39] clarkbw commented on #1743
Also, this [envision](https://projects.invisionapp.com/share/AY8OEG3C6#/screens/117937554_Debugger) has designs for such a pause indicator. It doesn't have the reason but I think we could update it to include that.

[2017-01-22 06:41] clarkbw commented on #1355
Our [README](https://github.com/devtools-html/debugger.html#getting-setup) now has this in the getting setup section.

[2017-01-22 06:41] #1355 closed

[2017-01-22 07:05] clarkbw opened #1782 "Cleanup console messages for yarn start"
Here's what we currently print out when you run the debugger from `yarn start`.

[code]

[code]

The first 2 lines are not actually useful, if we need them perhaps we could at least combine them into one shorter message.  Those message come from [here](https://github.com/devtools-html/devtools-core/blob/master/packages/devtools-launchpad/bin/firefox-proxy#L9-L10) and so we will need to create a PR

[2017-01-22 07:37] clarkbw commented on #1375
I still believe this has to do with ImmutableJS and the `fromJS` method.

But I'm not able to reproduce this with the debugger anymore.  I am seeing it still on DeveloperEdition and in Nightly but not with the current master on GitHub.

[2017-01-22 14:10] jasonLaster commented on #1782
Haha - this is great.

- perhaps add a header like: next steps
- definitely chalk
- can the entire doc be in core's development server?

[2017-01-22 14:38] jasonLaster opened #1783 "[L10N] Revert key renames"
We should revert this commit so that the L10N keys are different and get picked up for translation.

https://github.com/devtools-html/debugger.html/commit/97fbfb934b5ef2ba95dd57e0c8914b4789a3c292

[2017-01-22 14:58] jasonLaster opened #1784 "[L10N] use %S instead of %s"
we should change `%s` to `%S`

[code]

But I would really use %S in the future (they're all but interchangeable in Firefox). Also for consistency, %S is used just a few lines later in sourceTabs.newTabButtonTooltip

[2017-01-22 15:09] flodolo commented on #1783
That's only part of the reverted strings. Also search tooltips were changed
https://hg.mozilla.org/mozilla-central/diff/2301f25d1595/devtools/client/locales/en-US/debugger.properties#l1.241

[2017-01-22 15:38] jasonLaster opened #1785 "[Flow] type utility files"
Lets add types to our utils:

Here are some [docs](https://github.com/devtools-html/debugger.html/blob/master/docs/local-development.md#flow) on using flow:

Files:
- [x] DevToolsUtils.js
- [x] assert.js
- [x] client.js
- [x] create-store.js
- [x] defer.js
- [x] fromJS.js
- [x] log.js
- [x] makeRecord.js
- [x] path.js
- [x] pause.js
- [x] prefs.js
- [x] pretty-print-worker.js
- [x] pretty-print.js

[2017-01-22 15:45] jasonLaster commented on #1783
Thanks @flodolo!

[2017-01-22 15:50] jasonLaster commented on #1783
@flodolo looks like this was the offending PR: https://github.com/devtools-html/debugger.html/commit/fb228318a76d274e3c83cb52926a2f266f1d9439

[2017-01-22 16:07] #1758 closed

[2017-01-22 16:12] #1693 closed

[2017-01-22 16:12] #1589 closed

[2017-01-22 16:13] #1585 closed

[2017-01-22 16:13] #1506 closed

[2017-01-22 16:14] jasonLaster commented on #1412
Closing this as we're turning this on. We can track these things separately

[2017-01-22 16:14] #1412 closed

[2017-01-22 16:20] jasonLaster opened #1789 "[Editor] conditionally hide watch expressions label"
We currently disable the "Add watch expressions" label when no text is selected. I think it might be nicer to not show the item at all.

The advantage of this is that we don't present the user with an option she can't do.

I'm not sure if hiding or disabling items is preferred, but i see us hiding more labels than we're disabling at the moment.

CC @clarkbw

patch:

[code]

[2017-01-22 23:22] clarkbw commented on #1782
If anyone wants to play with console messages and chaulk, here's a nice one.

[2017-01-23 10:35] juliandescottes opened #1794 "Test failures with the new docker image"
After updating the docker image the following tests are failing on CI

[code]

cc @jasonLaster

[2017-01-23 13:07] SebastianZ commented on #1293
Issue #1574 is now obviously used to reimplement this feature.

Sebastian

[2017-01-23 13:19] SebastianZ commented on #1574
For what it's worth, here's a screenshot of how this feature looked in the old UI:

![Variable value infotip](https://cloud.githubusercontent.com/assets/958943/22205208/022b7220-e176-11e6-86f0-6b3c7dbf46a3.png)

And people are already [starting to wonder](http://stackoverflow.com/q/40800183/432681) where this feature is gone.

Because this is a regression in regard of the old UI and a feature that

[2017-01-23 13:47] cy6erGn0m commented on #1439
@clarkbw still no source files with 52.0a2 (2017-01-23)

[2017-01-23 13:51] cy6erGn0m commented on #1439
![screenshot_20170123_164821](https://cloud.githubusercontent.com/assets/762598/22206370/177db17c-e18c-11e6-930e-720d48cce481.png)

![screenshot_20170123_164855](https://cloud.githubusercontent.com/assets/762598/22206376/1b6c7958-e18c-11e6-8f21-8c0b95ed1482.png)

[2017-01-23 13:51] clarkbw commented on #1439
Can you provide a test case for this?

[2017-01-23 13:55] SebastianZ commented on #828
There's a related [use case for this on Stack Overflow](http://stackoverflow.com/q/41801175/432681).

Sebastian

[2017-01-23 14:50] clarkbw commented on #828
I wanted to write down my thoughts about a UX to handle this.  By adding debugger statements into the breakpoint list we create this intersection of items that aren't actually compatible.  Debugger statements would only appear in the list as they are encountered when paused, so unlike breakpoints they will disappear on refresh.  We could probably hide the complexity of the enable / disable with de

[2017-01-23 16:01] jasonLaster opened #1798 "[RTL] "⌘+P to search" label"
Currently, the way we treat RTL text is creating issues for our source search label.

Here's a screenshot of the problem

![](https://cloud.githubusercontent.com/assets/254562/22183409/bc03fca8-e08b-11e6-8830-0d5b2b85a455.png)

I think @juliandescottes had a good idea of wrapping `⌘+P` in a span with the attribute of dir="ltr" so that it is always placed correctly.

---

**flodolo**
Uhm, can you c

[2017-01-23 16:31] irfanhudda commented on #1789
We might also want to avoid showing empty context menu like this
![empty_context](https://cloud.githubusercontent.com/assets/1755089/22212616/6337bd9e-e1b7-11e6-9142-c465e7037447.gif)

[2017-01-23 18:04] Garbee opened #1801 "[accessibility] Source Tabs should be keyboard navigable"
The source tabs for open files are generic `divs` with no helpers for accessibility. This makes them un-tabbable and pretty difficult to know what is active using a screen reader.

### Solution

My recommended solution is that we use radio inputs. The label would be the tab name, but a `0 x 0` radio input would facilitate tabbing between available tabs as well as the screen readers ability to stat

[2017-01-23 18:31] clarkbw commented on #1801
I feel like I need to research this more, I don't understand the accessible needs or best practices very well.  I just started reading this: http://simplyaccessible.com/article/danger-aria-tabs/ I'm not sure if that's useful for you as you investigate solutions.

[2017-01-23 19:03] Garbee commented on #1801
This absolutely needs research and some user testing before rolling out. It isn't something we should change so rapidly.

That article is explaining essentially why you may not want to use the `aria` roles for a tab setup. My proposed solution is to avoid needing that at all, by just using radio inputs with good labels. That way the UA does the heavy lifting for us. For example, we wouldn't be han

[2017-01-23 19:10] Garbee commented on #1779
[Source Tabs](https://github.com/devtools-html/debugger.html/issues/1801) are also a potential problem with the current setup.

[2017-01-23 19:22] assafdd opened #1802 "Break point snippets are truncated after 30 chars"
Would be much nicer using CSS text-overflow: ellipsis.
<img width="1436" alt="breakpoint_sinppet_truncated" src="https://cloud.githubusercontent.com/assets/1753718/22219078/0ba5c2ba-e1b2-11e6-823b-21231c8b89aa.png">

[2017-01-23 19:29] Garbee commented on #1798
If someone who uses a native RTL language could clone #1803 to see if that fixes the problem as described. That simply forces RTL mode on the existing span. We apparently want it to continue displaying like that anyways, it is just the command that is off.

If it is that we in fact need the command at the end, then the solution isn't that exactly. But I should be able to modify the patch to get th

[2017-01-23 19:30] jasonLaster commented on #1802
@assafdd completely agreed. The problem is that I don't understand CSS ellipsis :)

[2017-01-23 19:31] assafdd commented on #1802
@jasonLaster  PR on the way :)

[2017-01-23 19:36] clarkbw commented on #1802
@assafdd can you also make sure to add some padding on the right hand side?  Just so the ellipsis doesn't hit the edge.  The same padding that exists on the left hand side should probably be good.  🥂

[2017-01-23 19:40] assafdd commented on #1802
@clarkbw will do

[2017-01-23 20:25] jasonLaster commented on #1502
We just landed https://github.com/devtools-html/debugger.html/pull/1666

maybe we can borrow the same approach https://github.com/liorpr/debugger.html/blob/3fc1900cec4fccd6234b0459b0d3a6d26f7dfc9e/src/components/SecondaryPanes/CommandBar.js#L66-L77

[2017-01-23 20:53] jasonLaster opened #1806 "The "new tab" button should toggle search"
Currently, clicking the new tab button opens the search bar, but clicking it again doesn't do anything. We should change it so that it toggles the search bar.

We should also double check to see if clicking the seearch label in the sources pane toggles the search bar aswell.

[code]

[2017-01-23 20:54] jasonLaster opened #1807 "[source search] The source search close button is too dark"
The close button on the right is much darker than the tab buttons above it. I beleive the tab buttons like "new tab" are styled with `color-comment`, which is what we should use here.

We should check to see how the close button looks in other places. We might want to only style this button

[2017-01-23 22:59] #1798 closed

[2017-01-23 22:59] #1802 closed

[2017-01-23 22:59] #1794 closed

[2017-01-23 22:59] #1783 closed

[2017-01-23 22:59] #1784 closed

[2017-01-23 23:40] jasonLaster commented on #1618
Here's a good patch

[code]

[2017-01-23 23:44] #1749 closed

[2017-01-23 23:48] jasonLaster commented on #1439
ping @cy6erGn0m

[2017-01-23 23:55] clarkbw commented on #1375
Lets check again after the next bundle lands.  Likely an issue with reps.

[2017-01-24 00:05] jasonLaster opened #1808 "[Tabs] Vertically align tabs and new tab button"
@irfanhudda made some really nice improvements in https://github.com/devtools-html/debugger.html/pull/1745 for the toggle button and new tab button.

We should see if we can get the tabs to vertically align with the new tab button now as well. I think this means that we should move the tab text up a bit...

Also, it might be a good opportunity to use flexbox with the tabs a bit more.

<img width="

[2017-01-24 00:21] jasonLaster opened #1809 "[Commandbar] ctrl-f5 should do a full refresh page"
**Steps to reproduce:**

* File, Open, pick local file to debug
* F12
* make change to source
* F5
* changes didn't come through, so ctrl-f5
* changes didn't come through, so hit enter in address bar. this worked. so does clicking refresh button.

**Expected results:**
ctrl-F5 or F5 should have refreshed. stale cache? I think there is a setting somewhere in F12 for this to disable cache, but both

[2017-01-24 00:34] clarkbw opened #1810 "Context menu has a vertical line on Windows"
[bug 1322180](https://bugzilla.mozilla.org/show_bug.cgi?id=1322180) provides a [screenshot](https://bugzilla.mozilla.org/attachment.cgi?id=8816932) of a windows context menu gone wrong.

[2017-01-24 01:00] jasonLaster commented on #1772
Thanks for finding this @Garbee!

* Could you share screenshots from Etsy + Github
* Could you share some quick mocks of what this would look like?

[2017-01-24 01:38] clarkbw opened #1811 "Flow coverage uploading to CodeCov"
In #1639 I added flow coverage reporting from CircleCI to codecove.io.  However Flow Coverage reports don't yet work with @codecov.  We need https://github.com/facebook/flow/pull/3231 to land first so we have the right information and then we'll need Codecov to support that.  This issue is for tracking that work.

[2017-01-24 03:05] ckwjdals90 commented on #1782
I'll take this!

[2017-01-24 03:06] paulocamboim commented on #1807
I'll take this one

[2017-01-24 03:06] atom888 commented on #1807
I'll take this one!

[2017-01-24 03:10] garrettgsb commented on #1751
Stand back guys, I got this.

[2017-01-24 03:13] soheilhm opened #1813 "git push to personal repo failes"
`yarn install` and `yarn start Firefox` works well but when setting the `git origin` to personal repo, `git push` fails as per screenshot below.

![screen shot 2017-01-23 at 7 07 53 pm](https://cloud.githubusercontent.com/assets/17885979/22232619/657633a0-e19f-11e6-87c4-38618a50297c.png)

[2017-01-24 03:15] adymitruk commented on #1782
check slack.. It's MINE! ;)

[2017-01-24 03:17] ckwjdals90 commented on #1782
yeah just leave a message here first next time.

[2017-01-24 03:19] Kelly-James commented on #1806
Me and @ckwjdals90 got this one!

[2017-01-24 03:36] ogryzek commented on #1785
I'm starting on the `editor.js`

[2017-01-24 03:41] leimd commented on #1785
working on promise.js

[2017-01-24 04:01] steffiau opened #1814 "git push causes error during verify "SyntaxError: Block-scoped declarations (let, const, function, class) not yet supported outside strict mode""
Tried pushing my commits, when husky is verifying my code, the below syntax error shows up.

[code]

[2017-01-24 04:03] soheilhm commented on #1808
I am working on this

[2017-01-24 04:10] jbhoosreddy commented on #1814
from what I can tell by looking at your error log, you might need to upgrade your node engine to a newer version. I use v7.3.0 and I don't see any error on my end.

I recommend installing using nvm, if possible.

`husky` is preventing you from pushing your commits to origin because the unit tests are failing. `node src/test/node-unit-tests.js --dots`

you can bypass it by doing something like `git

[2017-01-24 04:13] clarkbw commented on #1813
Seeing this in #1814

[2017-01-24 04:13] jbhoosreddy commented on #1813
closing this issue for now.

[2017-01-24 04:13] #1813 closed

[2017-01-24 04:15] clarkbw commented on #1807
@atom888 all yours!

[2017-01-24 04:15] clarkbw commented on #1782
@adymitruk yours!

[2017-01-24 04:17] skhanker commented on #1785
i'll take log.js

[2017-01-24 04:18] adymitruk commented on #1782
ok. I used it to demonstrate the fork-PR cycle and some dev stuff. The PR is [here](https://github.com/devtools-html/devtools-core/pull/120)

[2017-01-24 04:26] madebymak commented on #1292
Could not find the styles.css file containing: theme-light or objectLink-eventLog using grep in the root dir of the repository.Did a search and the only file called style.css was at /work/debugger/debugger.html/docs/reference/assets/styles.css . Has this issue been solved already?

[2017-01-24 04:26] steffiau commented on #1814
Thanks @jbhoosreddy
My node is on v6.9.4. Which should satisfy the requirement "node": ">=6.9.0". Should the above syntax error still appear?

[2017-01-24 04:45] jbhoosreddy commented on #1814
So without all the information, it might be a little hard to debug but looking at your error log, this line gives me concern.

`npm ERR! argv "/Users/Owner/.nvm/versions/node/v4.4.5/bin/node" "/Users/Owner/.nvm/versions/node/v4.4.5/bin/npm" "run" "prepush"`

could you tell us the output of `node -v` and `npm -v`? Also `nvm ls`? Maybe your default version is not set to v6.9.4?

[2017-01-24 04:50] jasonLaster commented on #1292
Thanks @madebymak. I think it is now `debugger.css`. in `assets/build`.

You can generate it with `yarn run publish-assets`

[2017-01-24 04:50] jasonLaster commented on #1782
Thanks @adymitruk

[2017-01-24 05:23] jasonLaster commented on #1502
@liorpr are you on this?

[2017-01-24 05:27] #1503 closed

[2017-01-24 05:27] jasonLaster commented on #1492
Hmm, i couldn't reproduce this.

[2017-01-24 05:27] #1492 closed

[2017-01-24 05:28] jasonLaster commented on #1488
I think this is solid :)

[2017-01-24 05:28] #1488 closed

[2017-01-24 05:29] #1085 closed

[2017-01-24 05:50] arthur801031 commented on #1806
I'll take a stab at this :)

[2017-01-24 06:08] mattzeunert commented on #1789
I'm taking a look at fixing this one.

[2017-01-24 06:24] steffiau commented on #1814
`node -v v6.9.4`
`npm -v 3.10.10`
`nvm ls` gives `nvm: command not found`.
Maybe my nvm wasn't properly installed?

[2017-01-24 06:45] liorpr commented on #1502
@jasonLaster yes!

[2017-01-24 14:22] jasonLaster commented on #1814
Hmm, @steffiau I tried `v6.9.4` and it worked. Hmm, try making a small test script with `let` or `const`

[2017-01-24 15:18] #1807 closed

[2017-01-24 15:47] clarkbw commented on #1814
I think this has something to do with it.

You can see in this line of the error:

[code]

That the system is referencing nvm with an outdated node and npm, which is what I believe is causing the issue.  For some reason running this command, perhaps husky, is picking up the old version of node.

@steffiau if you're using [homebrew](http://brew.sh/) you might want to check that nvm is installed by

[2017-01-24 16:19] clarkbw commented on #1814
Ok, it looks like this is [husky](https://github.com/typicode/husky) doing this.  I found that in the husky source they look for `nvm` and use it if they can find it, you can see that here: https://github.com/typicode/husky/blob/master/src/index.js#L59-L63 So if you have that `.nvm` directory husky seems to prefer it.

[2017-01-24 16:37] jasonLaster commented on #1814
@clarkbw that's crazy that you found this :)

[2017-01-24 17:25] clarkbw opened #1825 "yarn run firefox didn't set the remote debug ports correctly on Windows"
Several Windows 10 users last night had problems getting Firefox started in a debuggable state.  We should review the command line options required for Windows.  I have the feeling something isn't being passed correctly because as soon as I used the GCLI and typed `listen` the Firefox that ran was working as expected.

[2017-01-24 17:45] clarkbw opened #1826 "add Slack to the README"
We have a new Slack channel and we need to tell people about it.  Our [README](https://github.com/devtools-html/debugger.html/blob/master/README.md#discussion) has a discussion section that needs updating.

Lets include a link to sign up: https://devtools-html-slack.herokuapp.com/

It might be nice to also include a badge with the other badges ![](https://devtools-html-slack.herokuapp.com/badge.sv

[2017-01-24 17:59] jasonLaster commented on #1825
@clarkbw refiled in core - https://github.com/devtools-html/devtools-core/issues/121

[2017-01-24 17:59] #1825 closed

[2017-01-24 18:11] clarkbw commented on #1814
I had a hunch!

[2017-01-24 18:55] jasonLaster opened #1827 "Search for Function Definition"
Checklist

- [ ] Add search filter button to search bar UI #1845
- [x] add `functionsInSource` to parser worker #1846

[2017-01-24 19:05] clarkbw commented on #1574
Lets start with an MVP of hover on:

* Variable
* Function

## Variable

Hover over a variable to inspect.  Popup should display:
* ObjectInspector for variable value
* Action to Reveal variable in Scopes
* Action to Add to Watch Expressions

## Function

Hover over a function to inspect.  Popup should display:
* Action to jump to function definition
* Action to find occurrences of function (in cu

[2017-01-24 19:33] jbhoosreddy commented on #1814
@clarkbw crazy hunch!

[2017-01-24 19:37] #1789 closed

[2017-01-24 20:16] liorpr commented on #1502
got kinda stuck, when the pane collapses the split box actually just re-renders without the first pane(let's say I'm collapsing the first one) and the other one is just there, taking as much width as it needs with flex: 1. Tried to render the first pane with width: 0 and transition the width but it's so slow.

@jasonLaster

[2017-01-24 20:45] clarkbw opened #1828 "add nvm to our development requirements"
Our project requires a [specific minimum version of node](https://github.com/devtools-html/devtools-core/blob/f0a17da28f2415fbd1526d71847100cc5d286a90/packages/devtools-launchpad/bin/development-server.js#L98) to run. If we are going to ask people to have a specific version of node we should probably recommend that they use [nvm](https://github.com/creationix/nvm) to help manage their node version

[2017-01-24 20:52] clarkbw commented on #1814
Ok, I'm going to close this out because I believe #1828 will fix the issue.

[2017-01-24 20:52] #1814 closed

[2017-01-24 21:16] clarkbw opened #1829 "seeing SecurityError when trying to run debugger.html in Firefox"
Running within Firefox 50 and 51 I'm seeing a `SecurityError` that pops up.  It seems to think its coming from the `_initializeRoot`, the first line here in this code.

[code]

Here's the error I'm seeing.

[code]

[2017-01-24 21:17] clarkbw commented on #1829
Not seeing this in Chrome or Firefox Nightly

[2017-01-24 21:21] jasonLaster commented on #1502
haha - screw it. this sounds too hard lol. I think react fiber will help.

[2017-01-24 22:09] clarkbw commented on #1756
@steffiau is doing this one in #1815

[2017-01-24 22:21] clarkbw opened #1830 "turn on hot reloading by default for development environment"
Customizing the `config/local.json` is an advanced category of involvement.  I think we should turn on `hotReloading` by default for development so people don't have to mess with the default config to get a good working environment.

[2017-01-25 00:03] jasonLaster commented on #1830
Hold onto your hat. @bomsy, @jbhoosreddy and I worked on the Settings page during the call:
https://github.com/devtools-html/devtools-core/issues/37

[2017-01-25 00:05] jasonLaster commented on #1829
https://github.com/devtools-html/devtools-core/issues/123

[2017-01-25 00:05] #1829 closed

[2017-01-25 00:33] AlannaHarlton commented on #1826
Hi Bryan I'm walking through this one with my tutor right now.

[2017-01-25 02:29] jasonLaster opened #1832 "[Editor] Selecting text jumps"
We have this weird bug where if you select text in a large document half way down the document, the doc can jump around quite a bit. my theory is codemirror is doing something with the tokens that causes the jumping...

@bomsy, @Zacqary, @jbhoosreddy  could be a weird search bug...

![](http://g.recordit.co/DuMIfkKrB1.gif)

[2017-01-25 05:54] #1756 closed

[2017-01-25 10:09] liorpr commented on #1374
@jasonLaster can you elaborate on this or maybe add a photo? not sure what to add here.

[2017-01-25 11:19] liorpr opened #1834 "[Editor] fix the pane toggle button direction"
The pane toggle button(.toggle-button-end) direction is wrong on vertical mode. This happens because the first css rule is more specific than the last one

<img width="488" alt="screen shot 2017-01-25 at 1 20 00 pm" src="https://cloud.githubusercontent.com/assets/6891569/22288748/f5ec872e-e300-11e6-9c84-66a35e9469ac.png">

[2017-01-25 11:21] liorpr commented on #1834
submitting my fix, imo we can choose between explicitly state !improtant or just use something like

`html:not([dir="rtl"]).toggle-button-end.vertical svg,
html[dir="rtl"] .toggle-button-start svg {
  transform: rotate(-90deg);
}
`

[2017-01-25 13:53] jasonLaster opened #1836 "[Editor] polish selection / highlight colors"
We currently have lots of UI states for the editor selections and highlights. Here's a general list:

* user selects text (focused on the editor)
* user selects text (clicks on some other debugger UI)
* user does a search and we highlight the current match
* user does a search and we highlight all of the other matches

Current Problems:
* when the user clicks away the selection becomes yellow
* th

[2017-01-25 14:14] jasonLaster commented on #1400
Next steps:
* remove right border
* add nice background color
* add right padding

[2017-01-25 14:25] jasonLaster opened #1837 "[SourceFooter] Polish Pretty Print button"
The pretty print button is currently pretty small. Also the CSS is pretty bad.

Goals:
* set the footer to a consistent height with the top bar  (30px i think)
* align the pretty print button with flex (align-items center i think)
* make the pretty print button the same height as the command bar items

UI:
![screen shot 2017-01-25 at 9 23 42 am](https://cloud.githubusercontent.com/assets/254562/22

[2017-01-25 15:19] irfanhudda opened #1838 "Use autoprefixer for vendor specific properties"
We should use [`autoprefixer`](https://github.com/postcss/autoprefixer) for generating vendor specific properties, pseudo elements.

There are many advantages to using `autoprefixer` like having less code to maintain and avoid duplication of css rules.

And it looks like we already have `autoprefixer` in our setup (according to `yarn.lock` file).

Any advice from people who have used `autoprefixer

[2017-01-25 16:14] Garbee commented on #1837
It already is. The problem is the SVG creator we have rendering an `i` with the SVG element inside of that. It offsets the styling. We need to do more direct targeting of the SVG/i here to get it to look right. Ideally though, this shouldn't be necessary as the SVG node should return a plain SVG element non-wrapped. That way any styling outside is easy to touch it without knowing exactly what the

[2017-01-25 16:23] jasonLaster opened #1840 "[EditorHover] Show a popup in CodeMirror"
We want to show an inline codemirror popup for variables when you hover on an expression. This step however is just adding an inline popup that looks nice.

Lets just open an empty popup if you shift click.

It should have similar code to [conditional panes][cbp]

Here's a patch to help get it started:

[code]

![screen shot 2017-02-02 at 5 48 40 pm](https://cloud.githubusercontent.com/assets/2545

[2017-01-25 16:23] jasonLaster opened #1841 "[EditorHover] Add a JS parser in a worker"

[2017-01-25 16:23] jasonLaster opened #1842 "[EditorHover] Add a simple getExpressionsInScope function"
We recently landed the babel parser and it's now time to do a simple MVP function to put it to use.

What I imagine is we write a simple traversal function that finds some valid expressions that are "in scope"

We can do this by:
a) finding the node that corresponds with a scope
b) scanning it's child nodes for the simplest expression, an identifier.

For example, if we pause in `sum`, we should b

[2017-01-25 16:23] jasonLaster opened #1843 "[EditorPreview] Preview values in the popup"
Here is a list of things we should do to improv editor hover

- [x] show the popup on hover #2156
- [x] highlight the selected expression/token #2157
- [x] use a header #2158
- [x] have a caret in the top left of the popup #2159
- [x] support dark theme #2160
- [x] jump to definition #2161
- [x] additional types of expressions
  - [x] preview member expressions #2219
  - [x] preview variables from

[2017-01-25 16:25] jasonLaster opened #1844 "[WebTestRunner] run mochitests with the web runner"

[2017-01-25 16:27] jasonLaster opened #1845 "[EditorSearch] Add function search UI"
Function Search UI:

- [x] polish autocomplete summary
- [ ] add compact result list #2047
- [ ] add function search bottom bar button

----
We're working on a function search POC in #1995. When that lands, we'd like to add a proper UI for the feature.

I'd like to get some feedback on this UI I sketched. The main pieces are:

1. function search button is in the bottom left and is a label
2. searc

[2017-01-25 16:27] jasonLaster opened #1846 "[EditorSearch] add `findFunctionsInSource` to parser worker"
This issue is blocked by #1841

[2017-01-25 17:47] jasonLaster commented on #1838
I'm in favor of this. It simplifies our css quite a bit.

yarn pulls in a lot of things, you can check the file and see who pulls it in...

@clarkbw what do you think?

[2017-01-25 17:51] Garbee commented on #1838
`stylelint` and `cssnano` require it.

<details>
<summary>yarn why autoprefixer</summary>

[code]

</details>

[2017-01-25 18:06] clarkbw commented on #1838
👍 There is a plugin for PostCSS https://github.com/postcss/autoprefixer and it might be nice to have a version that strips everything but the moz extensions for the panel builds.

[2017-01-25 18:13] Garbee commented on #1838
We can swap configs on the moz builds pretty easily by just overriding it in the script that compiles the build.

[2017-01-25 18:55] jbhoosreddy opened #1848 "Source List doesn't refresh properly"
### STR:
0. Set up debugger and debuggee.
1.a. Go to cnn.com.
1.b. Observe sources in the source list.
2.a. Go to foxnews.com
2.b Observe sources in the source list.

### ER:
cnn.com sources should be removed once the debuggee is on foxnews.com.

### AR:
scripts from both wesites persist. and since both websites pull in a lot of scripts, it becomes very noisy.

### Associated Gif example
http://g.

[2017-01-25 19:32] jasonLaster opened #1849 "[Accessibility] Opening the console can require multiple <escape> presses"
When CodeMirror is in focus, it requires two escape presses to open the console.

1. `escape` -> stop focusing on codemirror
2. `escape` -> open console

@npsecoding I think is related to https://github.com/devtools-html/debugger.html/commit/71360324aed48f8978ef00520596b7f40c46fb72

![](http://g.recordit.co/IfHRYIhVNK.gif)

[2017-01-25 19:44] jasonLaster commented on #1848
I think the gif is too long lol

[2017-01-25 19:45] jasonLaster commented on #1838
@clarkbw my guess is that we'll add all the prefixes, which is okay too...

[2017-01-25 19:52] clarkbw commented on #1838
Only for the Firefox build. I know we get bugs filed about this often.  The `-webkit` CSS prefix creates error logs in the browser console so if we could remove the unneeded prefixes we wouldn't see those bugs filed anymore.

Otherwise I think we'd always want the prefixes for a target set of browsers we want to work with.

[2017-01-25 20:06] clarkbw commented on #1826
All yours @AlannaHarlton!

[2017-01-25 20:10] wldcordeiro commented on #1834
@liorpr I'm for avoiding `!important` at pretty much all costs. I feel like that property is a code smell. But thanks for reporting the issue.

[2017-01-25 21:06] SezginEge opened #1852 "getting-setup.md has broken link"
Hi,

I was reading ["getting setup"](https://github.com/devtools-html/debugger.html/blob/master/docs/getting-setup.md#starting-chrome) file. On "Starting Chrome" section, the link given for the script file redirects 404 page.

Broken link: https://github.com/devtools-html/debugger.html/blob/master/bin/chrome-driver

[2017-01-25 21:24] #1292 closed

[2017-01-25 21:29] clarkbw commented on #1852
@SezginEge nice catch!  That file moved here: https://github.com/devtools-html/devtools-core/blob/master/packages/devtools-launchpad/bin/chrome-driver.js

Want to make the update?

[2017-01-25 21:57] bomsy commented on #1836
i'll take this!

[2017-01-25 21:57] SezginEge commented on #1852
@clarkbw 👍

[2017-01-25 22:28] clarkbw opened #1856 "convert post-merge to js / node script"
`bash` scripts don't work reliably on Windows.  If we converted the [post-merge](https://github.com/devtools-html/debugger.html/blob/master/bin/post-merge) script to be a JavaScript / node script Windows users wouldn't see a large error print out after merging in the latest changes.

[2017-01-25 22:41] clarkbw commented on #1852
All yours @SezginEge!

[2017-01-25 22:42] #1852 closed

[2017-01-25 23:20] jasonLaster commented on #1838
got it. This might be nice in an devtools-core bug where we strip out the bad prefixes when we publish.

[2017-01-26 00:56] jasonLaster commented on #1333
Landing these changes in MC!

[2017-01-26 00:56] #1333 closed

[2017-01-26 00:57] #1287 closed

[2017-01-26 00:58] jasonLaster commented on #1339
Ping @clarkbw it'd be great to add your content on workshops and we can add some talk material too

[2017-01-26 00:58] #1383 closed

[2017-01-26 00:58] #1495 closed

[2017-01-26 00:59] #1502 closed

[2017-01-26 01:00] jasonLaster commented on #1502
As a record, the issue is that splitbox is a no-op when the pane is closed. This makes it really hard to animate. Fiber will help :)

[2017-01-26 01:03] #1806 closed

[2017-01-26 01:03] #1751 closed

[2017-01-26 01:03] jasonLaster commented on #1664
ping @jbhoosreddy

[2017-01-26 01:04] jasonLaster commented on #1624
Hey @andreicristianpetcu do you think you'll have a chance to work on this soon?

[2017-01-26 01:04] jasonLaster commented on #1617
@bomsy we *might* get this for free. try investigating a bit...

[2017-01-26 01:04] jasonLaster commented on #1298
@bomsy i'm taking you off this as it's old and really hard :)

[2017-01-26 01:05] #1773 closed

[2017-01-26 01:05] arthur801031 commented on #1848
I will take a stab at this :)

[2017-01-26 01:05] jbhoosreddy commented on #1664
pong @jasonLaster. Seriously though, I think my windows local repo has
issues. Setting things up again, should be done shortly.
On Wed, Jan 25, 2017 at 5:03 PM Jason Laster <notifications@github.com>
wrote:

[2017-01-26 01:05] #1761 closed

[2017-01-26 01:05] jasonLaster commented on #1761
closing as it's filed in core, where it can be fixed

[2017-01-26 04:16] npsecoding commented on #1849
Hey Jason.

This is the expected behavior for accessibility purposes, to give user's a way to navigate out of the code editor using the keyboard. The first escape focuses on the editor container and the second escape results in the default action of opening the console. If you press escape on any other point of the debugger the console should be brought up immediately.

[2017-01-26 10:28] bomsy commented on #1298
cool!

[2017-01-26 10:54] clarkbw commented on #1333
Nice!

[2017-01-26 11:05] Garbee commented on #1849
Yah. `esc` pulls you out of the editor but keeps the tab placement where it is at. So you can tab to the next area in the content flow if desired from that point. The second `esc` is perfectly fine in this scenario. Quirky to the majority that don't navigate with a keyboard, but expected for those that do.

[2017-01-26 11:37] juliandescottes commented on #1849
I think that's one of the things I noticed when we upgraded the bundle in mc.

My main concerns about this were:
- after pressing escape once, the focus is on the editor container, which we can see with the dotted outline. Pressing TAB puts the focus back in the editor, so there's no way to actually get past the editor using keyboard navigation. Pressing shift+TAB does focus the previous element i

[2017-01-26 11:43] Garbee commented on #1849
Hmm, didn't catch the focus going back into the editor. We should probably detect `esc` on the editor, and when done shift focus to the next focusable node? Need to do some research here to figure out the best way forward.

Chrome's tools can't really be checked against for a11y concerns as they don't support much keyboard navigation in their sources panel (and possibly other areas as well.)

+1 t

[2017-01-26 12:03] liorpr commented on #1613
Are there any mock ups/designs/something for this?

[2017-01-26 13:06] andreicristianpetcu commented on #1624
Sorry @jasonLaster but I don't think so soon. I will try in the future not to ask for tasks unless I am 100% sure I am going to have time for them :( Some things I have to do poped up and ate all my spare time.

[2017-01-26 17:58] jasonLaster commented on #1613
haha - i think we just want it to be functional right now

[2017-01-26 18:09] bomsy commented on #1617
will do!

[2017-01-26 19:51] yurydelendik commented on #1767
(Setting a breakpoint on asm.js that was AOT compiler causes https://bugzilla.mozilla.org/show_bug.cgi?id=1333219 )

[2017-01-26 19:59] yurydelendik opened #1865 "mochitest reload() function does not reset sources state"
While working on #1864, I noticed that after reload() `waitForSources` does no wait for new sources to reload (it's using old sources status). Even after #1863, problem is not going away. I had to insert a debugger statement (or `waitForTime(1000)` works too).

Looks like test at browser_dbg-navigation.js (near [`yield reload(dbg, "long.js");`](https://github.com/devtools-html/debugger.html/blob/m

[2017-01-26 21:50] SezginEge commented on #962
If nobody is working on this, I can tackle it.

[2017-01-26 22:43] jasonLaster commented on #962
@SezginEge I think this is a great one. was just thinking about it earlier today!

[2017-01-26 22:43] jasonLaster commented on #1865
thanks!

[2017-01-26 23:14] jasonLaster opened #1867 "[VerticalLayout] toggle button is in the top right"
We recently made some changes to the toggle buttons and accidentally pulled the right one to the top of the welcome pane in vertical mode:

It should actually be in the bottom right.

@liorpr, @irfanhudda mind looking into this?

![](http://g.recordit.co/Uzwe4t3eoo.gif)

[2017-01-27 05:02] irfanhudda commented on #1867
I'll take a look at this

[2017-01-27 10:15] Garbee opened #1869 "Make CSS more maintainable"
The CSS as we are doing things now has three primary problems for long-term maintenance.

1. The bidirectional postcss filter is wreaking havoc on our specificity. Which means we need to have a hawk eye on changes or UX problems can easily slip in.
2. We can end up repeating some things often. Which, if ever rewritten means a lot of little line changes to keep up with.
3. Selectors are all over th

[2017-01-27 12:09] irfanhudda commented on #1869
+1 for more maintainable CSS. Now that we are refactoring react components, we should also refactor CSS.

It might be good to also have CSS that is react component specific.(i.e. doesn't affect whole html page) It would help refactoring and maintaining in future.

[2017-01-27 12:40] Garbee commented on #1869
This is what BEM does for us. It helps enforce isolated pieces. Currently, only the text direction stuff needs to be handled from the `html` scope check. However, that is not 100% accurate (as the mode *could* change internally.) Which is where the `dir` [psuedo-class](https://developer.mozilla.org/en-US/docs/Web/CSS/:dir) is very handy. However, only support in Firefox currently so that is a hard

[2017-01-27 13:50] irfanhudda commented on #1869
I'm not very familiar with BEM. But from what I read it might help solve our problem.

If we use sass we should keep selector nesting to minimum. After nesting 2 to 3 times, it becomes hard to follow.

[2017-01-27 14:23] Garbee commented on #1869
Yup, nesting can be handled through stylelint rules. The reason the commandbar had 4th level nesting is I just didn't care to trim it out for a demo. :wink: Also if we look at some of the places where the styles get too deeply nested and such, it shows we have a thing to abstract into another component to handle something.

[2017-01-27 16:03] jasonLaster commented on #1867
@irfanhudda what do you mean?

CC @gasolin

[2017-01-27 16:45] #1834 closed

[2017-01-27 16:46] #1705 closed

[2017-01-27 16:46] jasonLaster commented on #1705
Thanks @jbhoosreddy this was a great fix!

[2017-01-27 16:52] jasonLaster commented on #1810
@garbee, @jbhoosreddy mind trying this on a windows computer?

[2017-01-27 16:57] jasonLaster commented on #1694
This is a really interesting point. I've thought about it for the past week.

Ultimately, I don't think we should move forward with it for a couple reasons.

1. When I played with it, the border is a very strong visual that adds clutter to the UI.
2. Helen always said that we should use color only when it tells a clear story. In this case, I am not sure that it communicates that it is a *regular*

[2017-01-27 16:57] #1694 closed

[2017-01-27 16:58] jasonLaster commented on #1752
closing this and opening a small actionable issue

[2017-01-27 16:58] #1752 closed

[2017-01-27 17:01] jasonLaster commented on #1752
actually, i can't reproduce on nightly, so not re-opening.

[2017-01-27 17:16] jasonLaster commented on #1672
@wldcordeiro fixed this bug in https://github.com/devtools-html/debugger.html/pull/1644

The issue is that both the editor and the search bar listen for cmd-g and try to do find the next element.

We want to fix this by moving the search state and handling to the editor.

A good next step would be to take that refactoring logic out of #1644 and make a new PR with just that.

[2017-01-27 17:16] Garbee commented on #1694
The best reason not to.

[2017-01-27 17:18] jasonLaster commented on #1220
I'm closing this as it's no longer actionable. We should try an ping james and get some of his initial work here.

[2017-01-27 18:17] clarkbw commented on #1220
@jlongster do you have a branch you can share?

[2017-01-27 18:24] #1867 closed

[2017-01-27 18:38] clarkbw commented on #1826
Thanks @AlannaHarlton!

[2017-01-27 18:38] #1826 closed

[2017-01-27 18:41] jasonLaster commented on #1728
Thanks @jonathanKingston

I can see how this could be frustrating.

At the moment we've setup the conditional pane to be one giant input, which makes this somewhat hard to fix.

Perhaps, one concrete fix would be to make the input the width of the editor so that it is always in view.

Would that work?

[2017-01-27 18:45] #1586 closed

[2017-01-27 18:52] jasonLaster commented on #1743
Here's where the inspector show's the message:
https://dxr.mozilla.org/mozilla-central/source/devtools/client/inspector/inspector.js#235-258

[2017-01-27 18:56] clarkbw commented on #1743
Maybe @bwinton could help us with this?

[2017-01-27 19:02] Garbee commented on #1743
The overlay is primarily useful in Chrome's case since you can have an un-docked debugger and lose track of it. Which if you can't click on your page and the debugger is hidden... is an issue. It also helps with just that though, knowing you can't click/hover on things since that could cause the expectation of JS to run, which it can't. Just some background context on why it happens there.

I do l

[2017-01-27 19:39] jryans commented on #1743
Hmm, do you truly want the bar in the content itself, or as part of the browser UI above the web content?

Is this meant to happen just for Firefox or for all debuggees? (It seems hard to do for all debuggees, since you'd be injecting code into debuggee when paused, so it wouldn't be functional presumably.)

[2017-01-27 20:01] jonathanKingston commented on #1743
The in content resume button was what I was expecting when I filed the bug
however something visible in the browser chrome outside of the devtools
pane is all I need.

The issue was mostly that I had the debugger disconnected and it wasn't
clear the page was paused.

Above web content like the play flash extensions bar would be great.
Spoofing clicks isn't an issue either as it's not a security fe

[2017-01-27 20:05] jonathanKingston commented on #1728
So the input would line wrap? That seems perfectly fine to me however line
numbering might be an issue instead perhaps?

On Fri, 27 Jan 2017, 18:41 Jason Laster, <notifications@github.com> wrote:

[2017-01-27 20:27] clarkbw commented on #1743
This was designed to sit above the content as browser UI.

It is also necessary to be available without needing the developer tools open.  In the case of remote debugging Firefox will be paused / unresponsive because you've triggered a breakpoint but you have no idea unless you are looking at the debugger client.  Where currently we have a notification bar but it only appears when you open the Ins

[2017-01-27 20:30] bwinton commented on #1743
Maybe.  What sort of help were you looking for?

[2017-01-27 20:35] clarkbw commented on #1743
Here's an example of what Chrome looks like when it is paused:

![screen shot 2017-01-27 at 12 34 15 pm](https://cloud.githubusercontent.com/assets/2134/22386665/03596138-e48d-11e6-984c-9605645bbcf0.png)

[2017-01-27 20:44] jryans commented on #1743
Okay, it sounds like we're only concerned about the case of debugging Firefox for this.

@clarkbw pointed out the [`Page.configureOverlay` message][1] that Chrome uses for this (pretty poorly named and described, but anyway).

Seems reasonable for Firefox to take a similar approach then, and have an actor offer control of an overlay, which inserts itself above / around the content as needed.

[1]:

[2017-01-27 20:46] jnachtigall commented on #1752
Interesting. I also just retested on Nightly 54 (Linux) and it's working now. I guess the recent search improvements fixed this too :thumbs-up:

[2017-01-27 23:32] jasonLaster commented on #1728
hmm, i'm not thinking of wrapping

jus that the conditional pane input is fixed to the editor so the first character is visible regardless of horizontal scroll. Tough to describe :)

[2017-01-28 00:19] jasonLaster opened #1872 "Increase Collaboration"
We currently have a fantastic [community](https://github.com/devtools-html/debugger.html/graphs/contributors) of close to 100 people who have contributed code to the Debugger. I'd like to see if we can leverage that community to bring in the next hundred contributors.

I have three strategies for doing this, but I'd love to hear other ideas as well:

1. Mentoring
2. Pairing
3. Experts

**Mentoring

[2017-01-28 00:23] jbhoosreddy commented on #1872
I think it is a great idea. 💃

[2017-01-29 14:23] Garbee opened #1877 "Tab overflow and hide secondary panel actions overlap new tab with small width"
Two last buttons in the tab area overlap the new tab button when you shrink down the UX enough. Eventually, overlapping the new tab button before it is hidden completely by the secondary panel.

To reproduce simply slide the secondary panel inwards until they start to overlap.

![overlapping actions](https://cloud.githubusercontent.com/assets/868301/22404705/8dc7c4a4-e604-11e6-90b2-5ecb301b1285.pn

[2017-01-29 20:17] #1872 closed

[2017-01-30 12:34] SezginEge opened #1880 "post-merge script failing"
Hello,

I am getting error on post-merge script. Here there is a npm-debug.log file.

OS: Windows_NT 10.0.14393
Node: v6.9.4
Yarn: v0.19.1

[code]

[2017-01-30 12:46] Garbee commented on #1880
In the process of getting this updated shortly: https://github.com/devtools-html/debugger.html/pull/1859

[2017-01-30 15:39] jasonLaster opened #1882 "[CommandBar] Fix height when paused in chrome"
When the debugger is paused the height of the command bar is too short in chrome (firefox is fine).

**not paused**
![screen shot 2017-01-30 at 10 38 22 am](https://cloud.githubusercontent.com/assets/254562/22429372/5de95e6c-e6d8-11e6-8058-0b31497c3d42.png)

**paused**
![screen shot 2017-01-30 at 10 36 32 am](https://cloud.githubusercontent.com/assets/254562/22429373/5deb7864-e6d8-11e6-8944-d50fcb

[2017-01-30 15:40] jasonLaster commented on #1882
@irfanhudda interested in looking at this?

[2017-01-30 15:40] jasonLaster commented on #1877
@Garbee was thinking that flexbox could really help solve these absolutely positioned buttons

[2017-01-30 15:41] Garbee commented on #1882
This is not reproducing on Linux for me. So the rendering seems OS-specific.

[2017-01-30 15:43] jasonLaster commented on #1882
@Garbee great find:

![screen shot 2017-01-30 at 10 42 36 am](https://cloud.githubusercontent.com/assets/254562/22429512/dbe1c7e6-e6d8-11e6-8349-bb4c5faa89d9.png)

[2017-01-30 15:43] arthur801031 opened #1883 "[chrome] willNavigate and navigated are not called when the debuggee navigates"
### Issue
When the debuggee is in Chrome, `willNavigate()` and `navigated()` in https://github.com/devtools-html/debugger.html/blob/master/src/actions/navigation.js will not execute when a user clicks on the back/forward button.

### Expected Result (The debuggee is in Firefox)
![ufk3lhy0w4](https://cloud.githubusercontent.com/assets/4562118/22429223/d8b5a922-e744-11e6-992e-313d621b0aaa.gif)
(GIF

[2017-01-30 16:02] jasonLaster opened #1884 "Convert to es modules"
### We are switching to es6 modules for several reasons:
* flow uses es6 modules
* it's more expressive
* we want to use es6 classes

[cjs-to-es6](https://github.com/nolanlawson/cjs-to-es6) is a great tool for converting a module

### Steps to convert a module
* `cjs-to-es6 src/components/SecondaryPanes/index.js`
* update import sites to use `default`

### gotchas

#### nested destructuring. watch

[2017-01-30 16:03] Garbee commented on #1882
If it's Chrome-only then I think I know what the problem is relating to. I'll peek at it (since I am the one that caused this) once I've figured out something for this postmerge script problem.

[2017-01-30 16:05] irfanhudda commented on #1882
@Garbee Not sure if this helps but I could not reproduce this in chromium(debian).

[2017-01-30 16:06] Garbee commented on #1882
That helps. As it means it isn't *Chrome* related but *Chrome on Mac OS*. Which means I can't test that myself.

Someone with a Mac specifically will need to triage this. I should be able to backtrace a minimal report from whatever the fixing patch is for the Blink team to look at to fix their engine.

[2017-01-30 16:16] Garbee commented on #1884
FYI `CommandBar` is currently *not* updated to ES6 module syntax. Currently it is checked off, which seems incorrect.

[2017-01-30 16:37] irfanhudda commented on #1867
@jasonLaster I filed an issue here gasolin/postcss-bidirection#6

[2017-01-30 17:06] irfanhudda commented on #1400
I'll take a look at this

[2017-01-30 18:23] clarkbw commented on #1882
I'm seeing this on Mac.  If I change `display: flex` for the command bar to `display: block` then the problem goes away.

[2017-01-30 20:03] jasonLaster opened #1890 "Convert to es6 classes"
Here's a [gist](https://gist.github.com/jasonLaster/d95a10362fe1e6b687aabba2df26b72e) with some notes.

I'm not sure if we want to switch to the decorator, but the explicit map functions are nice

## Components

- [x] App
- [x] Sources
- [x] SourcesTree
- [x] SourceSearch
- [x] WelcomeBox
- [x] Editor
  - [x] Breakpoint
  - [x] Footer
  - [x] HitMarker
  - [x] Editor *
  - [x] SearchBar*
  - [x] T

[2017-01-30 20:14] #1880 closed

[2017-01-30 21:12] #1856 closed

[2017-01-31 02:48] greenkeeper[bot] opened #1892 "An in-range update of firefox-profile is breaking the build 🚨"
## Version **0.4.8** of [firefox-profile](https://github.com/saadtazi/firefox-profile-js) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/devtools-html/debugger.html/compare/greenkeeper%2Ffirefox-profile-0.4.8">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      firefox-profile
    </td>

[2017-01-31 13:40] Garbee commented on #1882
I have this reproducing now. It depends on the *height* of the viewport due to the SecondaryPanel being a `flex` container as well. Working on getting the right solution in place now.

[2017-01-31 14:36] jasonLaster opened #1894 "[Flow] add types to components"
We'd like to support flow types in our components. This issue will track our progress and will be a good place to raise issues as they arise.

Here are some [flow] docs. The best thing to do is to open one PR per module converted to flow.

- [ ] components
  - [x] App.js
  - [ ] Editor
    - [x] Breakpoint.js
    - [x] ConditionalPanel.js
    - [x] Footer.js
    - [x] HitMarker.js
    - [x] Search

[2017-01-31 15:59] Garbee commented on #1882
This is fixed now.

[2017-01-31 16:10] MikeRatcliffe commented on #1747
When we start using JSX we should set "react/jsx-uses-vars": 0 in eslintrc.js.

I have spoken with a bunch of React devs that would contribute if we used JSX... we should just do it.

[2017-01-31 16:15] Garbee commented on #1747
FYI a thread has been started on the [group mailing list](https://groups.google.com/forum/#!topic/mozilla.dev.developer-tools/Jswhej8xDuw) about the JSX conversion since it affects the whole DevTools project and not just the debugger for consistency.

[2017-02-01 05:30] jnachtigall commented on #1311
afaics this should be fixed now by https://bugzilla.mozilla.org/show_bug.cgi?id=1265807

[2017-02-01 12:58] jasonLaster commented on #1311
Nice eagle eyes
On Wed, Feb 1, 2017 at 12:30 AM jnachtigall <notifications@github.com>
wrote:

[2017-02-01 16:55] #1400 closed

[2017-02-01 16:55] jasonLaster commented on #1400
Thanks @irfanhudda

[2017-02-01 18:01] #1882 closed

[2017-02-01 22:37] yurydelendik commented on #1767
Moving to https://bugzilla.mozilla.org/show_bug.cgi?id=1335901. This bug can be closed.

[2017-02-01 23:30] #1767 closed

[2017-02-02 02:49] arthur801031 commented on #1696
`conda install python=2.7.9` fixed that error. For a more detailed explanation, please visit https://github.com/conda/conda/issues/1367.

[2017-02-02 02:50] #1696 closed

[2017-02-02 03:27] arthur801031 commented on #1663
I've resolved the issue with mochitests setup. I'll try to take another crack at this 😂

[2017-02-02 03:47] jasonLaster commented on #1663
Very cool
On Wed, Feb 1, 2017 at 10:27 PM I-Chun (Arthur) Liu <
notifications@github.com> wrote:

[2017-02-02 05:26] clarkbw commented on #958
added https://github.com/devtools-html/debugger.html/projects/11#card-1576974 to handle this

[2017-02-02 05:26] #958 closed

[2017-02-02 05:28] clarkbw commented on #1742
Created https://github.com/devtools-html/debugger.html/projects/11#card-1576978 to track this

[2017-02-02 05:28] #1742 closed

[2017-02-02 05:28] clarkbw commented on #1810
I can't see this on my Windows machine 😕

[2017-02-02 13:37] greenkeeper[bot] opened #1905 "An in-range update of stylelint is breaking the build 🚨"
## Version **7.8.0** of [stylelint](https://github.com/stylelint/stylelint) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/devtools-html/debugger.html/compare/greenkeeper%2Fstylelint-7.8.0">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      stylelint
    </td>
  </tr>
  <tr>
    <th ali

[2017-02-02 14:54] jlongster commented on #1220
I do not, I've already deleted my mozilla-central repo. All I had done was investigate different ways to do the lazy loading of sources by hacking around in in the sources backend. Basically you need to move the store for sources and sourcemaps up to the toolbox since all tools need to work with them. You might be able to load all the sources when the toolbox opens, and then fetch/parse sourcemaps

[2017-02-02 15:39] jasonLaster commented on #1613
lets add proselint

https://github.com/webpack/webpack.js.org/blob/master/.proselintrc

and other things from webpack.js.org

[2017-02-02 16:37] #1650 closed

[2017-02-02 16:43] clarkbw commented on #1220
Thanks!

[2017-02-02 18:10] jasonLaster commented on #1905
looks promising
https://github.com/github/pages-gem

[2017-02-02 22:30] #1490 closed

[2017-02-02 22:38] jasonLaster opened #1909 "[CallStack] cleanup selected secondarytext"
Currently the secondary text is an ugly grey when it is selected. Lets choose a different color when the frame is selected.

We should also check to make sure that it looks good in other [themes] as well:

![](http://g.recordit.co/WN3nTJB9Uh.gif)

[themes]:https://github.com/devtools-html/debugger.html/blob/master/docs/local-development.md#themes

[2017-02-02 22:42] yurydelendik commented on #1375
Smaller test case by using only ImmutableJS

[code]

[2017-02-02 22:45] #1848 closed

[2017-02-02 22:46] #916 closed

[2017-02-02 23:28] wh0 commented on #1742
why is the card not linked to this issue? now I can't follow it.

[2017-02-02 23:36] yurydelendik commented on #1375
So we create grip (see e.g. https://dxr.mozilla.org/mozilla-central/source/devtools/server/actors/object.js#1224) that will have the following structure:

[code]

Which will be feed to the `fromJSON` and immutable-js (with help of https://github.com/facebook/immutable-js/blob/master/src/utils/isArrayLike.js) will decide that it is an Array and will use ArraySeq producing the same iloop as shown ab

[2017-02-03 00:00] clarkbw commented on #1742
I'm not sure I understand.  The card linked above does link to this issue.  When work begins on this we'll reopen this issue or open a new one and link to it from here.  So if you want to follow this issue you will see the progress as it happens here.

[2017-02-03 00:09] yurydelendik commented on #1377
Looks like https://devtools-html.github.io/debugger-examples/examples/large-files.html is broken new. Can somebody provide a test case that reproduces the problem with STR?

[2017-02-03 00:09] clarkbw commented on #1375
Should we just do some transform on sparse arrays? `Object.keys(ar).map(k => ar[k])`

[2017-02-03 00:12] yurydelendik commented on #1375
It's not really an array. It's just an object with numeric `length` property. The items of array does not matter in this case, it's just ArraySeq running loop for 66261281 undefined's.

[2017-02-03 00:51] mayank-gupta commented on #1247
The file names [here](https://github.com/devtools-html/debugger.html/blob/master/docs/debugging-the-debugger.md#make-breakpoints-dance-dancers)  are outdated.

[2017-02-03 00:59] flexjames commented on #1785
create-store.js has flow implemented.

[2017-02-03 01:01] mayank-gupta commented on #1785
utils.js is done

[2017-02-03 01:01] mayank-gupta commented on #1785
sources-tree.js is done

[2017-02-03 01:03] yurydelendik commented on #1375
The hack bellow somewhat fixes the loop problem.

[code]

[2017-02-03 01:51] magicp-github opened #1912 "Remove CSS transition in Breakpoint for performance issue when disabling/enabling many breakpoints"
**Steps to Reproduce**
1. Start Nightly
2. Navigate to "https://www.mozilla.org/en-US/contribute/"
3. Open debugger (Ctrl+Shift+S)
4. Select source www.mozilla.org > media/js > common-bundle.****.js
5. Add some breakpoints (e.g. 5 breakpoints on line 4, 7, 10, 13, 16)
6. Switching Disable breakpoints and Enable breakpoints...

**Actual Results**
Switching disable/enable breakpoints is too slow.

*

[2017-02-03 16:04] yurydelendik opened #1918 "Command Bar should be fixed to the top"
We currently scroll the entire secondary pane. We should try and *fix* the command bar to the top, so that it is always visible. [see gif]

@garbee suggested that we could make the command bar sticky.

[code]

![](http://g.recordit.co/SSspwofVJF.gif)

---

STR:
1. Open and start debugging a web page with debugger statement (e.g. https://devtools-html.github.io/debugger-examples/examples/localstora

[2017-02-03 16:24] jasonLaster opened #1919 "[WebTestRunner] All the tests"
Now that we have a working Test Runner on `localhost:8000/integration` we should port the remaining tests and see if we can make some improvements:

### Steps for converting a test

1. create a new `integrations/test/<file>.js`
2. add it to `tests/runner.js`
3. export it in `tests/tests.js` and import it in the original `mochitest/<file>.js`
4. refactor the test:
  * make it async, change yields t

[2017-02-03 16:38] clarkbw commented on #1747
I've opened a PR in the **new** RFCs project for JSX https://github.com/devtools-html/rfcs/pull/5

[2017-02-03 16:57] wldcordeiro commented on #1637
Closing since feature landed behind a pref.

[2017-02-03 16:57] #1637 closed

[2017-02-03 17:01] wldcordeiro commented on #1832
This is fixed I believe.

[2017-02-03 18:00] clarkbw commented on #962
hey @SezginEge how's this going?

[2017-02-03 18:12] jasonLaster commented on #1909
[code]

[2017-02-03 18:35] #1892 closed

[2017-02-03 18:35] #1905 closed

[2017-02-03 18:35] #1832 closed

[2017-02-03 18:38] jasonLaster commented on #1836
closing as this is very vague

[2017-02-03 18:38] #1836 closed

[2017-02-03 19:02] jasonLaster commented on #1613
@irfanhudda you did an amazing job here!

[2017-02-03 19:02] #1613 closed

[2017-02-03 19:05] jasonLaster opened #1921 "[Docs] Customize theme"
We are currently using `Cayman` as the GH Page Theme, which has great defaults but lacks a distinct look and feel.

It would be awesome to fork Cayman and add our own branding. A good place to start would be on the homepage and on a docs page.

### Homepage

- [ ] Better Header block
- [ ] Better value summary
- [ ] Secondary content

### Docs

- [ ] A better navbar
- [ ] A better table of content

[2017-02-03 19:07] jasonLaster opened #1922 "[docs] links to local development"
It looks like the links to local development from contributing are currently broken.

https://devtools-html.github.io/debugger.html/CONTRIBUTING.html#local-development-computer

https://devtools-html.github.io/debugger.html/docs/local-development.html#internationalization

[2017-02-03 20:41] clarkbw opened #1924 "remove reference docs and create local API docs"
In https://github.com/gregtatum/quads/pull/3 I tried a new system of documentation that we might use for [perf.html](https://github.com/devtools-html/perf.html).

Instead of having our [reference docs](https://devtools-html.github.io/debugger.html/docs/reference/) in a separate location we integrate the docs into local README files. This keeps the docs relevant to the directory which should make t

[2017-02-03 20:49] Garbee commented on #1918
So, what exactly does this look like scrolled? Do we have the contents of each accordion with a set height and make them scrollable? Or just scroll the pane itself but keeping the commandbar and why paused pieces fixed to the top?

If it is about fixing those two pieces, then the fix is trivial by just applying `position:sticky` here. If we want to individually scroll each accordion's content with

[2017-02-03 20:50] wldcordeiro commented on #1918
I think the command bar isn't remaining fixed like it used to be @Garbee

[2017-02-03 21:03] Garbee commented on #1918
Discussing this in slack just now it looks like we only need to keep the CommandBar itself stickied and not the `WhyPaused` bit or anything else.

[2017-02-03 22:03] Garbee opened #1925 "[Windows]  source-map unit tests fail"
`@princiya` brought this to my attention in Slack... She was getting timeout errors on the tests for sourcemaps in the *CLI* on Windows but not in the web mocha runner. So I tested both on my Linux system, all clear in CLI but Mocha on the web view fails on `should add a breakpoint with the same error.

It looks like any given test could end up flaky based on the timeout depending on what the hard

[2017-02-03 23:28] #1909 closed

[2017-02-03 23:36] jasonLaster commented on #1837
@princiya is on it

[2017-02-03 23:37] wldcordeiro commented on #1837
![screenshot_20170203_163631](https://cloud.githubusercontent.com/assets/580982/22612603/f5b7f47a-ea2e-11e6-8a69-cfab72af5a7a.png)

Fixing the coverage button to be vertically aligned with pretty print would also be great here.

[2017-02-04 00:00] #1837 closed

[2017-02-04 00:00] jasonLaster commented on #1837
@wldcordeiro we can do code coverage when we land the backend and polish

[2017-02-04 01:16] arthur801031 commented on #1618
I'll take a stab at this 🙂

[2017-02-04 02:46] jasonLaster opened #1928 "[EditorSearch] add an integration test"
It would be great to lock down the editor search spec and test in an integration test.

### Spec:
* cmd+f opens search bar
* cmd+f opens search bar with selected text
* cmd+g jumps forward
* cmd+shift+g jumps backward
* cmd+f, search, navigate to another source => cmd+g should search...

### Helpers

we need to add helpers for
* `assertSelection`
* `pressKey` with some more selectors

[code]

[2017-02-04 03:14] wldcordeiro opened #1930 "[EditorSearch] Polish Search"
Checklist:

- [x] Clearing the query to an empty string causes a search of empty text.
- [x] the search index starts at 1 and always increments by 1 #1967
- [x] deleting the query does not clear the last match
- [x] white space queries breaks the editor
- [x] queries increment the searches #2046
- [x] can't delete the last letter of the query
- [x] clicking in the document does not update the sear

[2017-02-04 04:44] #1624 closed

[2017-02-04 05:10] bomsy commented on #1661
Just for clarification, from the comments above and testing i see 2 scenarios
1. When the source map file is found. How do we redirect the user to it?
Do we want to have a link to its source map (pretty printed) file ?

2. When we get a 404 on a source map file. we fix with the solution above. correct!

[2017-02-04 07:23] princiya commented on #1808
I am working on this issue.

[2017-02-04 10:53] princiya commented on #1808
Not able to figure out, where the highlighted css (bottom right) is generated from. Any inputs please?
![css](https://cloud.githubusercontent.com/assets/8022693/22617910/1ce70aee-ead0-11e6-95a4-97740f929f88.png)
@irfanhudda @jasonLaster @clarkbw @wldcordeiro

[2017-02-04 11:17] princiya opened #1932 "ESLint errors and warnings"
There are total **54 problems (51 errors, 3 warnings)**  in the `master` branch.

Running `yarn run lint-fix` fixes most of them, and we are left with **10 problems (7 errors, 3 warnings)**.

![errors](https://cloud.githubusercontent.com/assets/8022693/22618054/adc924c2-ead3-11e6-930c-b054af4ced39.png)

[2017-02-04 13:30] SezginEge commented on #962
@clarkbw I could not work on it yet :/ I will try to send a pr today.

[2017-02-04 14:00] irfanhudda commented on #1808
@princiya That CSS is probably generated from [https://github.com/devtools-html/debugger.html/blob/master/src/components/Editor/Tabs.css#L50](https://github.com/devtools-html/debugger.html/blob/master/src/components/Editor/Tabs.css#L50)

Also take a look at [https://devtools-html.github.io/debugger.html/docs/local-development.html#rtl](https://devtools-html.github.io/debugger.html/docs/local-devel

[2017-02-04 14:16] #1610 closed

[2017-02-04 14:16] #1609 closed

[2017-02-04 14:17] #1511 closed

[2017-02-04 14:17] jasonLaster commented on #1511
This is tracked elsewhere

[2017-02-04 14:27] irfanhudda opened #1933 "`yarn run lint` does not work as expected"
Like @princiya pointed out in #1932 we have some linting errors in javascript files. I ran `stylint` command and we have errors for that too.

My guess is that we'll need to update these two lines in `package.json`
[code]

I think we need to use something like `stylelint src/components/**/*.css` for CSS.

On my machine running `./node_modules/.bin/stylelint src/components/**/*.css` gives errors. S

[2017-02-04 14:32] nt1m commented on #1747
I'm against because:
* it introduces an extra build step
* It doesn't give a real readability advantage over createFactory() (proof is that a lot of people on the mailing list didn't have a strong preference)
* tool support for JSX isn't great
* requires rewriting a lot of the existing code

If I recall correctly, @jlongster was against as well.

[2017-02-04 14:35] jasonLaster commented on #1747
@nt1m could you repost these comments in  https://github.com/devtools-html/rfcs/pull/5 so we can discuss it there

[2017-02-04 14:36] jasonLaster commented on #962
Thanks @SezginEge. This issue might be vague, so feel free to ask questions in channel if you have questions about styling

[2017-02-04 14:39] jasonLaster commented on #1925
Lets try and isolate the problem a bit. My guess is that it is likely tests that use a worker like the `sourcemap` test.

Perhaps we should try running the unit tests 100 times and see if we can find any patterns?

[2017-02-04 14:47] #1869 closed

[2017-02-04 14:47] jasonLaster commented on #1869
I'm going to close this issue for the time being as we're already introducing a lot of change in the Debugger.

We're developing an RFC process for discussing project level changes. This will be a good candidate at the right time.

I'm also adding this issue as a note in our [tidy up] project board.

[tidy up]: https://github.com/devtools-html/debugger.html/projects/4

[2017-02-04 15:10] #1311 closed

[2017-02-04 15:37] irfanhudda commented on #1922
The version of `jekyll-relative-links` used by `pages-gem` does not support links with fragments e.g. `[test](somefile.md#fragment)`. This should start working when `pages-gem` updates `jekyll-relative-links` version in its dependencies.

[2017-02-04 16:16] clarkbw commented on #1747
Maybe we close this for now, I think we have the collective opinion of the team here. The debugger can try JSX if it wants and should participate in the rfc discussion.

[2017-02-04 16:49] jasonLaster commented on #1728
Hmm, i did a bit of investigating and I think this might be difficult to do at this time.

Here's some of my thinking:

My goal would be to position the input box of the conditional breakpoint pane on top of the editor so it is always the width of the editor and positioned next to the gutter. basically position it absolute to the editor laterally and next to its line vertically. This is hard to do

[2017-02-04 16:49] #1728 closed

[2017-02-04 16:52] jasonLaster commented on #1672
Thanks @wldcordeiro for fixing this annoying sucker

![](http://g.recordit.co/QuyDsrGYhz.gif)

[2017-02-04 16:55] jasonLaster opened #1935 "[Flow] Get good coverage across the board (V2)"
We recently succeeded in reaching out MVP goal of having coverage in every part of the component. For this new goal, we want to have good coverage across the board:

- [ ] add flow coverage to utility files #1785
- [x] add flow to components #1894 (we don't need to type all components)
- [ ] actions 80%
- [ ] reducers 80%
- [ ]  flow types for `react-dom` functions

[2017-02-04 16:55] jasonLaster commented on #1811
closing as it's tracked globally and it's blocked in *flow*

[2017-02-04 16:55] #1811 closed

[2017-02-04 16:58] jasonLaster commented on #1849
Thanks guys. It sounds like:

a) we'd like maintain native keyboard actions i.e. <escape> moves the focus out of the editor
b) we'd like a better focus state for the editor
c) we *are* deviating from previous behavior where we used to treat escape as a global shortcut to open the console.

I'm going to close this issue because it seems like we're not going to change the behavior. Feel free to foll

[2017-02-04 16:58] #1849 closed

[2017-02-04 17:01] #1772 closed

[2017-02-04 17:01] jasonLaster commented on #1772
I'm closing this and moving it to the [enhancements] board.
It's also discoverable on the tracking issue.

[enhancements]: https://github.com/devtools-html/debugger.html/projects/5

[2017-02-04 17:04] jasonLaster commented on #1801
I'm moving this to the [enhancements] board. Also added this to #1779.

I'd like to get to this soon as it's similar to the command bar, but I'm not sure if we have the capacity at the moment.

Also, when we do this we should build the tabs component out of the debugger and pull it in. Or find a good library we can use.

[enhancements]: https://github.com/devtools-html/debugger.html/projects/5

[2017-02-04 17:04] #1801 closed

[2017-02-04 17:06] jasonLaster commented on #1828
Hmm, I think I switched philosophically from having very detailed dependency instructions to more broad instructions with helpful links.

i.e.
* instead of saying here's how to install `yarn` we point to the yarn instructions
* instead of saying how to install and use nvm, we say our requirement is `node 7` and we recommend using `nvm` to do it.

[2017-02-04 17:06] #1828 closed

[2017-02-04 17:07] #1782 closed

[2017-02-04 17:07] jasonLaster commented on #1763
added

[2017-02-04 17:07] #1763 closed

[2017-02-04 17:07] jasonLaster commented on #1665
This was an awesome discussion about our directon. I'm closing this now and we can open small more focused issues around pause on exceptions and other UI elements.

[2017-02-04 17:07] #1665 closed

[2017-02-04 17:09] jasonLaster commented on #1619
I'm moving this to [enhancements] with a server label so that we can prioritize this when we plan for Q2.

[enhancements]: https://github.com/devtools-html/debugger.html/projects/5

[2017-02-04 17:09] #1619 closed

[2017-02-04 17:12] jasonLaster commented on #1741
this is coming from webpack built code which will be cleaned up when we tree-shake with webpack 2.

[2017-02-04 17:12] #1741 closed

[2017-02-04 17:13] jasonLaster commented on #1654
The next step is to add this example to our [examples] repo and reproduce it.

[examples]: https://devtools-html.github.io/debugger-examples/

[2017-02-04 17:14] jasonLaster commented on #1540
@clarkbw I'm happy closing this and re-evaluating holistically when we tackle pausing [breakpoints]

[breakpoints]: https://docs.google.com/document/d/19l45AbZUeSj-Jf6pgM5_vyg4ghQLE3sNR2i979BA_X8/edit?usp=drive_web

[2017-02-04 17:14] #1540 closed

[2017-02-04 17:21] jasonLaster commented on #1617
Hmm I looked into this and found some encouraging results:

#### Situations:
* selecting frames - works
* stepping - doesn't work

#### selecting frames
![](http://g.recordit.co/whuYKpJUI0.gif)

#### stepping
![](http://g.recordit.co/lwU6aBqJyv.gif)

[2017-02-04 21:03] clarkbw commented on #1540
Nah, I looked into this yesterday and I think a more wholistic approach would be better anyway

[2017-02-04 22:26] #1747 closed

[2017-02-04 22:27] #1932 closed

[2017-02-04 22:28] jasonLaster commented on #1810
i'll close and we can re-open if we get other complaints

[2017-02-04 22:28] #1810 closed

[2017-02-05 20:06] #1352 closed

[2017-02-05 23:59] magicp-github opened #1940 "Improve color contrast in tree-node"
Existing color contrast of tree-node (e.g. arrow, domain svg...) is difficult to see in the light and dark theme. It should be improved.

![improve-color-contrast-in-node-tree](https://cloud.githubusercontent.com/assets/13914314/22631161/585974ce-ec4a-11e6-8da8-3acb22626d2b.png)

[2017-02-06 00:21] magicp-github opened #1941 "Fix text wrap in dropdown li"
**Steps to Reproduce**
1. Go to "https://www.mozilla.org/en-US/contribute/"
2. Select some sources until dropdown is visible
3. Open dropdown

**Actual Results**
File name is wrapped.

**Expected Results**
File name is not wrapped.

![fix-text-wrap-in-dropdown-li](https://cloud.githubusercontent.com/assets/13914314/22631300/4d80ae20-ec4d-11e6-8501-f9413fd6ad4a.png)

[2017-02-06 00:54] magicp-github opened #1942 "Fix label position in menuitem"
**Steps to Reproduce**
1. Go to any sites (e.g. "about:home")
2. Select any sources
3. Right click on tab
4. Check context menu items

**Actual Results**
Label position begin on the far left.

**Expected Results**
Label position begin after menu-iconic-left.

![fix-label-position-in-menuitem](https://cloud.githubusercontent.com/assets/13914314/22631516/32634c24-ec52-11e6-9e11-7cc6b7da0145.png)

[2017-02-06 03:12] clarkbw commented on #1942
This must be on windows. This is similar to another windows issue about a line through the items. I think we have an issue with the shim that's handling the context menu for windows.

[2017-02-06 14:12] jasonLaster opened #1944 "[lint] Add markdown linting"
Babel uses [remark] for markdown linting, which is a huge win. It can check for spacing, links, and other consistency issues with our MD files. My favorite piece is that [validate-links][rmv] will check our links to see if they work.

[branch]

[branch]: https://github.com/devtools-html/debugger.html/compare/remark
[remark]: https://github.com/wooorm/remark-lint
[rmv]: https://github.com/wooorm/re

[2017-02-06 14:33] jasonLaster opened #1945 "[Editor] Add a conditional breakpoint pane close button"
When we open the conditional breakpoint pane we should show a close button on the far right.

This is similar to the editor search bar and source search bar, which both have a close button.

Here's a patch to help you get started
[code]

### Screenshot

![conditional breakpoints](https://cloud.githubusercontent.com/assets/254562/22650913/159c6dbc-ec4f-11e6-8048-21874611809a.png)

[2017-02-06 14:38] jasonLaster opened #1946 "[Editor] Add Conditional Breakpoint Panel guillemet"
It would be nice to show a [guillemet] in the gutter next to the input to make it clear that you can type there

The important thing is that we style it too. If we need to use an SVG, we can do that too

[code]

### Screenshot

![](https://cloud.githubusercontent.com/assets/254562/19328920/170c493a-90a4-11e6-907b-4a393e5ccd36.png)

[guillemet]: http://www.fileformat.info/info/unicode/char/bb/index

[2017-02-06 15:43] jasonLaster opened #1948 "[Editor] Pause Line color"
We currently show pause lines as green, which is slightly un-intuitive as green is associated with going.

It might me nice to try yellow or blue, which are also informational colors

![](https://cloud.githubusercontent.com/assets/2134/22579643/a184f3ce-e986-11e6-82e2-b896077aec4a.png)

[2017-02-06 16:25] bomsy commented on #1883
Closing this as new issue created for this fix!
[#168](https://github.com/devtools-html/devtools-core/issues/168)

[2017-02-06 16:25] #1883 closed

[2017-02-07 03:10] arthur801031 commented on #1618
Hi @clarkbw and @jasonLaster !

I've got two questions:
1. To address the problem of not seeing the exception in `Scopes`, I tried `ObjectInspector `, but `ObjectInspector ` seems to be local to [Expressions.js](https://github.com/devtools-html/debugger.html/blob/master/src/components/SecondaryPanes/Expressions.js) and [Scopes.js ](https://github.com/devtools-html/debugger.html/blob/master/src/com

[2017-02-07 05:27] clarkbw commented on #1944
👍

[2017-02-07 13:00] nchevobbe opened #1952 "Right-clicking when the context-menu is displayed should hide the context-menu"
STR :
1. Right click where there should be a debugger context-menu (e.g. a file tab )
2. Right click again

Expected result: The application context menu should be hidden
Actual result: The native context menu is displayed, in addition with the application one (see ⬇ )

![peek 07-02-2017 13-58](https://cloud.githubusercontent.com/assets/578107/22692126/d0818f06-ed3d-11e6-964c-5d289948707f.gif)

[2017-02-07 13:14] jonathanKingston commented on #1728
@jasonLaster that would work, sorry I was confusing this with the other bug I had opened on when the expression fires it doesn't scroll to the correct position horizontally also.

[2017-02-07 13:48] jasonLaster commented on #1728
Ahh. That's also interesting. Thanks.
On Tue, Feb 7, 2017 at 8:14 AM Jonathan Kingston <notifications@github.com>
wrote:

[2017-02-07 15:15] captainbrosset commented on #1743
This is very similar to what our DevTools Highlighter actors do.
We could create a PausedDebuggerHighlighter of some sort, that displays the toolbar at the top of the browser window, and a semi-opaque overlay. It would be very easy for the debugger front-end to instantiate it and toggle it when needed. I can help with that if we think this is the right approach.

[2017-02-07 16:13] clarkbw commented on #1743
That would be great!

[2017-02-07 21:13] clarkbw commented on #1744
Closing, there is a note in the backlog here: https://github.com/devtools-html/debugger.html/projects/11#card-1467612

[2017-02-07 21:13] #1744 closed

[2017-02-07 22:05] wldcordeiro commented on #1952
I noticed this as well. I'm going to see if I can fix this up @nchevobbe.

To follow expectations for users the right click will close the currently open context menu (and prevent the default to avoid what you see in your gif)

[2017-02-08 05:57] clarkbw commented on #1944
FYI, I've added remark to the [RFCs](https://github.com/devtools-html/rfcs/) repository here: https://github.com/devtools-html/rfcs/pull/10 and I think its going to work out well.

[2017-02-08 07:31] rrandom opened #1957 "[Docs] Some errors in docs"
1. Link to `flow.md` in `local-development.md#flow` is broken.
2. Link to `issues.md` in `CONTRIBUTING.md#issues` is broken.
3. Seems there is missing a space in the `lerna.md` between `Lerna` and `to`

[2017-02-08 12:14] bomsy commented on #1830
I think we should get hot-reloading and other config settings into the settings page.
Is that ok?

[2017-02-08 13:43] #1957 closed

[2017-02-08 14:20] #1830 closed

[2017-02-08 14:20] jasonLaster commented on #1830
@bomsy that sounds like a good idea. I'm hesitant to do it by default because it's also could have edge cases.

[2017-02-08 14:21] #1672 closed

[2017-02-08 14:22] jasonLaster commented on #1617
@bomsy dropping the in progress label because it's gone stale. feel free to pickup again though

[2017-02-08 14:23] jasonLaster commented on #1339
Yay! Really glad we added this :)

[2017-02-08 14:23] #1339 closed

[2017-02-08 16:21] #1841 closed

[2017-02-08 19:25] #1941 closed

[2017-02-08 19:25] jasonLaster commented on #1941
We chose to use an elipsis, which indicates the value was truncated. We can re-evaluate this later when we look at other dropdowns and search results.

[2017-02-08 20:03] jasonLaster opened #1963 "[Scopes] toggling an element"
Clicking a label in the scopes pane should toggle the scope or properties

Here's a diff to get you started

[code]

### Screenshot
![](http://g.recordit.co/3YLgFrVNP6.gif)

[2017-02-08 20:08] jasonLaster commented on #374
Here's how chrome and firefox handle it:

|chrome|firefox|
|--|--|
|![][chrome]|![][firefox]|

[chrome]:https://cloud.githubusercontent.com/assets/254562/22755253/631b4866-ee10-11e6-9a67-8fb27ca2df07.png
[firefox]:https://cloud.githubusercontent.com/assets/254562/22755254/631bd830-ee10-11e6-8e26-2a3b1ce9c75f.png

[2017-02-08 20:27] jasonLaster commented on #1948
Here are two quick screens that I made for showing the pause line:

I'm personally in favor of light blue although we use blue as it's consistent with chrome and we use blue in other places in a similar fashion.

### yellow
![screen shot 2017-02-08 at 3 25 38 pm](https://cloud.githubusercontent.com/assets/254562/22755842/e7b419e8-ee12-11e6-8c64-7192de50eff8.png)

### blue
![screen shot 2017-02-08

[2017-02-08 20:32] jasonLaster opened #1964 "[Editor] highlighting line on reload"
We currently highlight the previously selected location when we start the debugger. I find that to be somewhat distracting as it's no longer that helpful.

It would be nice to open the previously selected source, but not flash the line.

As a bit of back story, this happens because we store the previously selected location as a `pendinglocation` in prefs. We can use this to open the source, withou

[2017-02-08 21:12] clarkbw commented on #1964
I agree this is distracting.  I never understood what it was for until just now when I read this.  I don't think my selected location is actually that useful assuming you open me to the same file and same location I don't think you need to highlight the exact line.

[2017-02-08 21:41] jasonLaster opened #1967 "[EditorSearch] Fix search results count"
The search count always starts at 1 and increments from there. It should reflect where you are and add or subtract one as you iterate.

[2017-02-08 22:02] clarkbw opened #1968 "filter for internal add-on specific code"
When I run the debugger in Firefox I often see add-on code listed in the sources view.  It might be nice to be able to filter this code out of the list.

So far I've only ever seen these:

-   `moz-extension://`
-   `resource://`

![screen shot 2017-02-08 at 1 53 00 pm](https://cloud.githubusercontent.com/assets/2134/22759073/02222534-ee06-11e6-9cc9-d5e36e5e1d3a.png)

If I were to hazard a guess a

[2017-02-09 00:05] clarkbw opened #1970 "watch expressions variables don't expand"
When trying to expand a variable in the watch expressions list it seems to expand inline and then from there I'm not sure.  I was expecting it to work exactly like the scopes list.

http://recordit.co/EWErz5MCQF

![screen shot 2017-02-08 at 4 05 48 pm](https://cloud.githubusercontent.com/assets/2134/22763253/7dacd6d8-ee18-11e6-96e8-00f46ad31d0f.png)

[2017-02-09 03:28] arthur801031 commented on #1970
I'll take a stab at this :)

[2017-02-09 04:53] mattzeunert commented on #1842
I'll try and implement this.

[2017-02-09 05:16] clarkbw opened #1972 "[CallStack] asynchronous stack traces"
__Migrating from [bug 1142571](https://bugzilla.mozilla.org/show_bug.cgi?id=1142571)__

We want to show async stack traces in the debugger.  There is a pref required for Firefox to turn on async stacks, `javascript.options.asyncstack`, this is done because there is a performance penalty associated with this option turned on.  To mitigate this we could offer the option in the stacks column for `Asy

[2017-02-09 05:45] wldcordeiro commented on #1967
I'll see about this one.

[2017-02-09 15:09] #1963 closed

[2017-02-09 16:17] irfanhudda commented on #1944
We can add more rules to `.remarkrc`. My suggestion is using this
[code]

Running `yarn run lint-md` after this gives 13 warning.

[2017-02-09 17:24] darkwing commented on #1948
I love both, but the to me, the yellow is a better signal of "pause"; i.e. a yellow light, caution sign, etc.

[2017-02-09 20:35] arthur801031 commented on #1930
I'll try to take a stab at "Clearing the query to an empty string causes a search of empty text.".

[2017-02-09 22:08] jryans commented on #1220
I'll planning to look into this.

[2017-02-10 00:54] magicp-github opened #1982 "[panel] new-breakpoint is gone when switching devtools-tab"
**Steps to reproduce**
1. Go to any sites (e.g. about:home)
2. Select any sources (e.g. chrome://browser/content/contentSearchUI.js)
3. Add new breakpoint (e.g. on line 9)
4. Switch devtools tab to "Style Editor"
5. Go back to "Debugger" tab
6. Confirm breakpoint mark on line number

**Actual Results**
.new-breakpoint is gone when switching devtools-tab. After that, it will be appeared if click so

[2017-02-10 01:14] arthur801031 commented on #1930
Hi @wldcordeiro!

I can't reproduce this bug: "Clearing the query to an empty string causes a search of empty text". Please let me know how to reproduce it. Thank you! 😀
![2c31hesfrz](https://cloud.githubusercontent.com/assets/4562118/22810033/294e56de-ef71-11e6-8d97-543dd306c74a.gif)

[2017-02-10 01:20] arthur801031 commented on #1785
I'll take pretty-print.js.

[2017-02-10 06:28] irfanhudda commented on #1922
@jasonLaster This can be closed now. Links on [https://devtools-html.github.io/debugger.html/CONTRIBUTING.html#local-development-computer](https://devtools-html.github.io/debugger.html/CONTRIBUTING.html#local-development-computer) page are now working.

[2017-02-10 06:29] magicp-github opened #1984 "Add breakpoint in closed source tab accidentally"
**Steps to reproduce**
1. Go to "about:home"
2. Select source "chrome://browser/content/contentSearchUI.js"
3. Click Pretty Print button -> formatted source tab "{ } contentSearchUI.js" will be opened.
4. Close formatted source tab "{ } contentSearchUI.js"
5. Add breakpoint on line 7 in "contentSearchUI.js" tab
6. breakpoint is added in "contentSearchUI.js:formatted: 6"

**Actual Results**
breakpo

[2017-02-10 07:10] #1922 closed

[2017-02-10 09:42] magicp-github opened #1986 "togglePanes collapse/expands opposite pane in the Dev Edition in RTL locales"
**Steps to reproduce**
1. Start Dev Edition in Arabic
2. Open Debugger
3. Click togglePanes

**Actual Results**
togglePanes collapse/expands opposite pane.

**Expected Results**
togglePanes collapse/expands pane on the same side, even if in RTL locales.

![togglepanes-collapse-expands-oposite-pane-in-dev-edition-in-rtl-locales](https://cloud.githubusercontent.com/assets/13914314/22821925/8d56f204-

[2017-02-10 14:18] jasonLaster commented on #1618
Thanks for investigating @arthur801031.

I think it makes sense to close this issue for the time being:

1) I prefer pausing before an uncaught exception as it gives you an opportunity to explore the local scope

2) while we can do more to highlight the exception that will be thrown, I don't think we'd get a lot of value from a more descriptive message and there are a lot of edge cases.

I'm in fa

[2017-02-10 14:18] #1618 closed

[2017-02-10 15:55] jasonLaster commented on #1375
@juliandescottes and I are looking into this:

We're going to try to do two things:
1) not hydrate immutable objects
2) bucket our properties - here's a branch for the [bucketing]( https://github.com/jasonLaster/debugger.html/tree/large)

[2017-02-10 16:43] clarkbw commented on #1972
@tromey you did the console work, do you think you could look at this debugger side of things?

[2017-02-10 17:21] clarkbw commented on #1743
@captainbrosset I filed [bug 1338582](https://bugzilla.mozilla.org/show_bug.cgi?id=1338582) to track the server work required to make this happen.  Do you think you could take that bug on?

[2017-02-10 18:22] clarkbw commented on #1984
I'm able to reproduce this in Nightly.  Now we just need to be able to reproduce it in development mode.

[2017-02-10 19:09] tromey commented on #1972
I looked into it a bit today.  I want to do it, but I don't have time to implement it right now.

I think the basic issue is that the debugger server doesn't return async parent frames.  Looking into it a bit deeper, I see that `js/src/vm/Debugger.cpp` makes a frame iterator and uses that to implement `Debugger.getNewestFrame()` and `Debugger.Frame.older`.  However, this code instead has to notice

[2017-02-10 19:59] clarkbw commented on #1972
Thanks for the investigation!

[2017-02-10 20:53] tromey opened #1989 "[Breakpoints] can't set breakpoint in prettified source"
I tried the test case in [bug 1327713](https://bugzilla.mozilla.org/show_bug.cgi?id=1327713).  After prettifying the source, when I try to set a breakpoint, the breakpoint briefly appears, and then disappears.

I don't see an stack trace in the console, but enabling pause-on-exception shows an exception coming from `addBreakpoint` saying: "query object's 'line' property is neither undefined nor an

[2017-02-10 21:17] jasonLaster commented on #1989
**STR 1:**
1. Open attached "testcase 1"
2. Open debugger, prettify script containing word "click"
3. Set breaking on "click" event, click on the page
4. Keep clicking "Step in" button until line "console.log(123);" is executed

**AR:**
 When debugger steps into a function, then, if the first token in that function is "function",
 debugger jumps to line 1. That line becomes highlighted with green;

[2017-02-10 22:08] jasonLaster opened #1991 "[Scopes] properties are sorted alphabetically"
When we show large arrays, the properties are sorted alphabetically instead of numerically:

this results in a list like `1, 11,12, 2, 22, ...`

A good way to test this is to go to the *arrays* example https://devtools-html.github.io/debugger-examples/examples/arrays.html

This is probably where the bug is

[code]

### Screenshot

![screen shot 2017-02-10 at 5 05 38 pm](https://cloud.githubusercon

[2017-02-10 22:10] jasonLaster commented on #1984
Thanks for filing the bug. This is actually intended behavior because we will store breakpoints in the original location (a.k.a pretty location).

* We can do something nice here and jump you to the original location where we store the breakpoint if it would help.

[2017-02-10 22:12] jasonLaster commented on #1982
Thanks for filing @magicp-github

[2017-02-10 22:13] jasonLaster commented on #1972
Thanks @tromey.

[2017-02-10 22:17] clarkbw commented on #1984
Oh, I was actually looking at the wrong bug.  I thought this was #1982

[2017-02-11 00:03] jasonLaster commented on #1930
Thanks @arthur801031. I couldn't find that either. But it did help me find two others :)

- [ ] deleting the query does not clear the last match
- [ ] white space queries breaks the editor

![](http://g.recordit.co/TNaR3tONHH.gif)

[2017-02-11 00:06] jasonLaster opened #1992 "[Editor Search] should <cmd>+g update the query?"
`<cmd>+g` behavior honestly confuses me... I think the base case is that you do a search and then later use cmd+g to iterate...

What should we do if you have done a search and then select new text... Should we update the query?

We currently don't, which is probably correct.

![](http://g.recordit.co/wqnHa05REp.gif)

[2017-02-11 00:09] jasonLaster commented on #1992
Answering my own question. Based on atom's implementation, `<cmd>+g` does not update the query :)

cool

[2017-02-11 00:09] #1992 closed

[2017-02-11 00:14] jasonLaster opened #1993 "[EditorSearch] cmd+f jumps files"
If you do a search in one file, and then select another file, it's possible that you'll start jumping between the two:

STR:
1. select `todo-view`
2. search app
3. select `app-view`
4. hit enter, repeatedly

ER: iterate through app-view `app` references
AR: alternate between`app-view` and `todo-view`

Here is a good **patch** to get you started:

[code]

### Screenshot

![](http://g.recordit.co/h5

[2017-02-11 04:14] rrandom commented on #1984
Should the the tab auto switch to the prettied tab `{ } contentSearchUI.js` when add breakpoint on `contentSearchUI.js`?

[2017-02-11 08:25] magicp-github commented on #1986
This bug reproduce in Dev. Edition. It works fine in Nightly.

[2017-02-11 09:03] magicp-github commented on #1984
It is complicated behavior for me. Because in step 4, if click on line 1, new breakpoint will be added in original tab. I think that If it is intended behavior, both of original and prettied tab should not be displayed at the same time.

[2017-02-11 12:26] magicp-github opened #1997 "Eliminate overlap with the remove breakpoint button and floating scrollbar"
**Steps to reproduce**
1. Open Debugger on Mac
2. Add some breakpoints until overflowing secondary pane
3. Mouse hover on the remove breakpoint button

**Actual Results**
Overlap with the remove breakpoint button and floating scrollbar.

**Expected Results**
Users can click the remove breakpoint button, even if floating scrollbar is displayed.
.close-btn should have more padding-inline-end on Mac.

[2017-02-11 14:13] jasonLaster opened #1998 "[mochitests] fix browser_dbg-breaking-from-console"
The test is currently skipped because we need to port the logic to expect the debugger to wait on sources loading at bootstrap.

[2017-02-11 15:06] jasonLaster commented on #1986
Closing this as it works fine locally:

@wldcordeiro, @Garbee do you remember when we fixed this?

![](http://g.recordit.co/0z15SUQtOc.gif)

[2017-02-11 15:06] #1986 closed

[2017-02-11 17:02] jasonLaster opened #2000 "[EditorSearch] move search modifiers to bottom bar"
@wldcordeiro did a great job of adding search modifiers. It was NOT easy :)

Now we've got to polish the UI so that we can land them.

I did some quick sketches that I'd love some feedback on and help implementing. The sketches have spots for function search and variable search, but we don't need to add those now.

![modifier-ui](https://cloud.githubusercontent.com/assets/254562/22855651/d6e28e2e-

[2017-02-11 17:14] jasonLaster commented on #1842
Just landed #1988, which gives a node path, which references a scope. We can use this to get all of the binding variables in the scope and their reference paths:

I'm actually adding a babel path that [demonstrates](https://github.com/babel/babel/pull/5296/files#diff-56f320a6a89e1ca4a32a0cbb2da293a1R79) this behavior.

[2017-02-11 17:17] jasonLaster commented on #1845
Including Helen's mock which has a label in the input, which could be helpful

![](https://cloud.githubusercontent.com/assets/254562/21696191/e4a17e30-d35a-11e6-8675-4bb7ff191ca7.png)

[2017-02-11 20:54] wldcordeiro commented on #1845
I like Helen's mock, it makes the function search stuff's design match the search modifiers in the editor searchbar more closely.

[2017-02-11 20:56] wldcordeiro commented on #1986
@jasonLaster I think it was fixed with the vertical layout work and some follow-up LTR/RTL work.

[2017-02-11 22:10] jasonLaster commented on #1845
Yea. I like that the magnifying glass titles the secondary bar.

[2017-02-13 01:27] arthur801031 commented on #1785
I'll take source-documents.js.

[2017-02-13 02:35] jasonLaster commented on #1785
I'll grab wait-service and history

[2017-02-13 11:15] nchevobbe opened #2004 "TabBar drop down button (>>) is not displayed when resizing the sidebar"
STR:
1. Open 2 tabs
2. Resize the right sidebar until one of the tab is hidden

Expected result:
The tab is hidden and the drop down button (>>) is displayed

Actual result:
The tab is hidden, but the drop down button isn't displayed

GIF :
![peek 13-02-2017 12-11](https://cloud.githubusercontent.com/assets/578107/22881187/be65409a-f1e5-11e6-836c-d262a94edc83.gif)

I guess we don't check if we sho

[2017-02-13 14:23] irfanhudda commented on #1991
I'd like to work on this.

[2017-02-13 14:25] jasonLaster commented on #1991
Go for it!

[2017-02-13 14:27] jasonLaster commented on #2004
Hmm. Good catch. We do have an on resize check so it should work. I think @princiya is looking at this with her flex changes. It's most likely how we calculate hidden tabs

[2017-02-13 16:24] ThomasCrevoisier commented on #1993
@jasonLaster Hey ! It's been a while since I looked at the debugger but I get the motivation back to work on it :)
Can I take a look at it this week or is there anyone already working on this issue ?

[2017-02-13 19:26] jasonLaster commented on #1993
@ThomasCrevoisier welcome back! It's yours.

[2017-02-13 19:29] jasonLaster opened #2007 "Function Search"
This is a tracking issue for source function search. It's a really cool feature where we'd love to get some help! If you're interested in helping, ask in the issue and you can take one of the items.

### Checklist

- [x] find functions in search util #1846
- [x] function search UI POC #1995
- [x] function search UI (for real) #1845
- [x] move to the SearchBar component #2066
- [x] support scrollin

[2017-02-13 20:42] bomsy commented on #1617
picking this back up! some nice ideas to try out!

[2017-02-13 20:49] jasonLaster opened #2009 "[ScopesView] Object Mutations"
I noticed this weekend that we stopped showing updates to variables in the scopes pane.

I tracked it down to an optimization added in the client adapter a month or two ago that adding caching to the object grips. The solution is to remove the caching there and add it to our action, `getProperties` which is aware that the debugger has resumed/paused etc...

[2017-02-13 20:58] tromey opened #2012 "object inspector doesn't distinguish ordinary entries from "special" ones"
The debugger will sometimes insert special entries into a scope in the object inspector, like "<exception>" or "<return>".  In the old debugger these were visually different from ordinary entries; but in the new debugger the two appear exactly the same.

[2017-02-13 21:07] #1944 closed

[2017-02-13 21:50] ThomasCrevoisier commented on #1993
@jasonLaster Pretty weird bug indeed 🤔

I don't know if it's related but the bug doesn't occur when the highlight in the tree view doesn't need to update.
When the tree is completely expanded, if navigate to another tab I loose the focus on the search bar.

I didn't quite get how everything is wired yet, maybe others have a more clearer idea of what's going on :)

[2017-02-13 22:10] jasonLaster commented on #2012
@tromey mind providing an STR and perhaps a screenshot of what it looks like nwo

[2017-02-13 22:33] jasonLaster opened #2014 "[Frames] select frame on enter"
We recently improved the selection state of the Call Stack. The next step to make the component accessible is to support selecting the frame on when enter is pressed.

### GIF

The GIF here shows that you need to click on the frame to select it

![](http://g.recordit.co/HTg2ouQ7Vn.gif)

### Patch

I might have gotten carried away with `isEnter`. Up to you whether it's helpful :)

[code]

[2017-02-13 22:40] #1991 closed

[2017-02-13 23:50] princiya opened #2015 "Hidden tabs not shown when clicked from the tree-node"
### Bug

![hidden-tab-not-shown](https://cloud.githubusercontent.com/assets/8022693/22908534/5a676b6c-f24f-11e6-82f6-d80363fcc749.gif)

STR:

Suppose a tab is hidden, if you try to access the same file from the left side-bar (tree-node), the tab doesn't up.

[2017-02-14 02:29] greenkeeper[bot] opened #2016 "An in-range update of babel-traverse is breaking the build 🚨"
## Version **6.23.1** of [babel-traverse](https://www.npmjs.com/package/babel-traverse) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/devtools-html/debugger.html/compare/greenkeeper%2Fbabel-traverse-6.23.1">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      babel-traverse
    </td>
  <

[2017-02-14 09:34] sole commented on #1761
Confirming that symlinking it with

[code]

allows me to launch Firefox via Launchpad

[2017-02-14 10:43] wldcordeiro commented on #2015
I wonder what the expected behavior is here. In Atom and Sublime does opening something from the file tree while having enough files open to trigger an overflow menu put them in the overflow or as left/right-most tab?

[2017-02-14 12:16] amitzur commented on #1840
I did something, I'll share an animated gif later today. But wanted to ask:
Was there a reason not to bring in conditional breakpoints into local state of the Editor component? Or even into the store?
Right now it's imperative, which does feel a bit hacky. Trying to mimic this in a popover resulted also a bit hacky, and I wanted to have state on the editor that contains data related to popover.

I

[2017-02-14 18:01] darkwing commented on #1948
Tweeted out from the Chrome Twitter account today:

![c4labclvyaehglm](https://cloud.githubusercontent.com/assets/46655/22942002/4cd1ff72-f2ad-11e6-9908-877b6bcb92b1.png)

I really like yellow.

[2017-02-14 18:17] jasonLaster commented on #1840
I believe we use the property `cbPanel` over state for two reasons:
1. we want the state to be JSON serializable
2. we don’t want to trigger a re-render

neither of these reasons are to significant. but there are some places where we avoid state in the Debugger and we don’t have too many strong patterns

[2017-02-14 18:17] #1846 closed

[2017-02-14 18:19] jasonLaster opened #2021 "[Scopes] Bucket large arrays and object keys"
Chrome will bucket keys into groups of 100 keys to avoid showing all of the keys at once.

This helps the user scan the list, it also helps on the performance side as we don't need to do the work upfront

#### Screenshot

![screen shot 2017-02-14 at 1 20 13 pm](https://cloud.githubusercontent.com/assets/254562/22942663/6c670f5c-f2b8-11e6-8c98-54e64d8e4fcc.png)

[2017-02-14 18:19] jasonLaster commented on #1375
This is fixed by not hydrating null items in a sparse array. We will also want to add bucketing so that we don't render all of the keys in large objects, but we can handle that in another issue

[2017-02-14 18:23] clarkbw commented on #2015
I think the chrome devtools tab behaviour could be pretty good here. They swap out the last tab with the selected tab. Try it for yourself by side docking chrome devtools and squishing the tabs, then choose a hidden tab.

[2017-02-14 18:47] wldcordeiro commented on #2015
@clarkbw last tab here being the right most visible tab? Or the current active one?

[2017-02-14 19:27] princiya commented on #1877
@jasonLaster is this issue fixed with the new flex header layout?

[2017-02-14 19:33] jasonLaster commented on #1877
Yes!

[2017-02-14 19:33] #1877 closed

[2017-02-14 19:35] #962 closed

[2017-02-14 19:35] #1808 closed

[2017-02-14 19:41] jasonLaster commented on #2015
yeah, i'd be happy with either first or last tab. Also, noticing that atom doesn't even bother with the dropdown, which is kind of nice

[2017-02-14 19:42] #2016 closed

[2017-02-14 20:00] jasonLaster opened #2024 "[DOCS] remove permalink from the readme"
We currently show the jekyll info in the readme. We should see if there is a way to hide this if it's possible.

<img width="1266" alt="screen shot 2017-02-14 at 2 57 45 pm" src="https://cloud.githubusercontent.com/assets/254562/22946717/33ff7dc6-f2c6-11e6-842d-3fa2b1ffad0f.png">

[2017-02-14 20:36] clarkbw commented on #2015
I think it's the end tab in RTL parlance 🙂

[2017-02-15 08:40] arthur801031 commented on #1930
Hi @jasonLaster

For "deleting the query does not clear the last match" bug, the Chrome debugger also has this behavior, but it changes the highlight color for the last character that was cleared. Maybe we should change the yellow to something else?

![zdmwbp0w6h](https://cloud.githubusercontent.com/assets/4562118/22966296/84bcd0a2-f39c-11e6-93fb-630f7217e5e0.gif)

[2017-02-15 10:05] ThomasCrevoisier commented on #2024
@jasonLaster I'm not sure if we can hide those data without adding some file processing.
Don't know Jekyll a lot, but could we include other markdown files ?

We could have something like :
[code]

And in `site.md` we would have :
[code]

[2017-02-15 12:51] joewalker opened #2027 "Splitter measures mouse position when devtools is docked to the right"
STR:

* Open the new debugger
* Dock devtools to the right of the page
* Re-position either splitter

Expected: It moves normally

Actual: You need to move the mouse cursor a long way to the left of the screen to make the splitter move. Presumably the math is done based on the browser window left edge rather than the devtools window left edge. When docked to the bottom, they're the same.

[2017-02-15 15:50] zspitzer opened #2029 "Show upload size in Network Panel"
Steps to reproduce the problem:
1. open the devtools network panel
2. upload a file using html file upload

What is the expected behavior?
The size of the upload to be visible for the individual network request

[2017-02-15 16:08] irfanhudda commented on #2024
The reason we have front matter here is to specify the title.

We can remove front matter if move badges below the title.

[2017-02-15 16:10] jasonLaster commented on #2024
Oh neat. Let's move the badges down :)
On Wed, Feb 15, 2017 at 8:08 AM Irfan Hudda <notifications@github.com>
wrote:

[2017-02-15 16:47] irfanhudda commented on #2024
@jasonLaster I'll create a pull request then.

[2017-02-15 18:02] roieu commented on #2014
Taking my shot with this one at #goodnessSquad event

[2017-02-15 18:12] OrRosenblatt commented on #1884
Hi, I"m starting to work on this.

[2017-02-15 18:13] jasonLaster commented on #1884
Great. Share the modules you're refactoring
On Wed, Feb 15, 2017 at 10:12 AM Or Rosenblatt <notifications@github.com>
wrote:

[2017-02-15 18:21] tomrav commented on #1890
Starting to take a look at this.
<3 #goodnessSquad

[2017-02-15 18:27] OrRosenblatt commented on #1884
I finished refactor constants.js and the files in actions folder.

[2017-02-15 18:27] sashakru commented on #1884
Will start with `reducers`

[2017-02-15 18:29] barakd commented on #1884
started working on utils #goodnessSquad

[2017-02-15 19:50] hedvaze opened #2032 "Refresh watch expressions"
Display reference error instead of value
<img width="406" alt="screen shot 2017-02-15 at 21 48 19" src="https://cloud.githubusercontent.com/assets/18256531/22992494/86536a08-f3c8-11e6-81f9-0fbbc359cf27.png">

Open at #goodnessSquad event

[2017-02-15 22:57] clarkbw commented on #2029
Thanks. This issue needs to be filed with the network panel. We only track the debugger in this GitHub repo.

[2017-02-15 22:57] #2029 closed

[2017-02-16 01:09] arthur801031 commented on #1894
I'll take `SecondaryPanes/Breakpoints.js`.

[2017-02-16 09:05] zspitzer commented on #2029
Where is the network panel, bugzilla or somewhere else on github?

[2017-02-16 09:13] juliandescottes commented on #2029
@zspitzer you can log bugs for the netmonitor on bugzilla : https://bugzilla.mozilla.org/enter_bug.cgi?product=Firefox&component=Developer%20Tools%3A%20Netmonitor

[2017-02-16 09:17] zspitzer commented on #2029
found an existing bug https://bugzilla.mozilla.org/show_bug.cgi?id=1160254

[2017-02-16 17:38] clarkbw commented on #1375
Looks like this issue is fixed.

[2017-02-16 17:38] #1375 closed

[2017-02-17 00:37] clarkbw opened #2036 "yarn run links"
I often need to know if I have any linked packages in my node_modules directory.  It would be amazing if there was a script like `yarn run link` that would list out the linked packages I have such that i could copy that list into the `yarn unlink ...` command.

[2017-02-17 00:57] wldcordeiro commented on #2027
Thanks for the report @joewalker! I'm not sure if this bug is still present or not in the latest code. What version of Firefox are you on? @jasonLaster if I'm not mistaken the splitbox is in devtools-core and m-c so maybe copying this issue to devtools-core if we verify it's still a problem.

[2017-02-17 06:17] #2009 closed

[2017-02-17 06:44] wldcordeiro opened #2041 "Tab Bar Regressions"
It seems like we had some regressions with the tab bar. Currently our close button is appearing on the left hand side of the button when it used to appear on the right in `ltr` mode. In `rtl` mode it's even worse right now.

## Close button wrong location

![screenshot_20170216_232152](https://cloud.githubusercontent.com/assets/580982/23055196/bf47b1f0-f4a1-11e6-934c-b9db031f2396.png)

## `rtl` cr

[2017-02-17 07:06] arthur801031 commented on #1993
Hi @ThomasCrevoisier  @jasonLaster

I did some investigation. It seems when the target files in `Sources` are revealed and you switch between tabs and you hit enter, the focus would not be on the search bar.

Here is a GIF that shows the target files are **NOT** revealed in `Sources` and the search behavior is correct:
![normal](https://cloud.githubusercontent.com/assets/4562118/23055564/8052425a-

[2017-02-17 07:11] wldcordeiro opened #2042 "Command Bar RTL Issues"
Seems like our styles aren't working quite right for the command bar in RTL mode.

![screenshot_20170216_233512](https://cloud.githubusercontent.com/assets/580982/23055883/8dd0506a-f4a5-11e6-80b1-f49721a71d09.png)

[2017-02-17 11:33] joewalker commented on #2027
I'm currently running Nightly - 54.0a1 (2017-02-16).

[2017-02-17 13:27] jasonLaster commented on #2027
Thanks @joewalker. I see this as well. We'll look into it soon

[2017-02-17 14:09] jasonLaster commented on #374
@janodvarko What's your timeline?

[2017-02-17 16:59] sashakru commented on #1884
After switching to es modules I encountered with:

[code]

I'm not familiar with `Flow` and not pretty sure what I need to define, any suggestions?

[2017-02-17 17:14] clarkbw commented on #1884
Hi @sashakru give this a try:

[code]

And if that doesn't work you can just go ahead with this instead:

[code]

[2017-02-17 20:08] jryans commented on #1220
I'll use this issue to track the various tasks to complete this work:

- [ ] Copy source map utils out from `debugger.html` to a new package in `devtools-core`
- [ ] Update `debugger.html` to use this new package
- [ ] Land new source map package in m-c
- [ ] Update `debugger.html` to receive source map service from toolbox in Firefox

James had mentioned making things lazy as well to improve pref

[2017-02-17 20:49] clarkbw opened #2044 "Update CircleCI yarn"
We updated devtools-core here https://github.com/devtools-html/devtools-core/pull/194 and could probably do the same here.

[2017-02-17 21:38] jasonLaster opened #2046 "[EditorSearch] search increments as you type"
This is hard to describe, but i'll give it a go...

I'm noticing that as you type the query each character causes a new search from the end of the match.

if the text is: `this this this this` then a query `this` would find the 4th `this` in the document as  `t` matches the first this, `th` matches the second this, ...

The GIF describes this well

![](http://g.recordit.co/Sa8L77Z3Ay.gif)

[2017-02-17 22:28] clarkbw commented on #1845
Here's a list of things left to fix here:

- [ ] make the autocomplete CSS more generic instead of file search specific with function search CSS trying to turn off borders it doesn't want.
- [ ] fix the bug where you can arrow into an item that doesn't exist, this seems to be an issue with the `selectedIndex` though I haven't investigated yet
- [ ] somehow handle when the results are larger than t

[2017-02-18 01:10] arthur801031 commented on #1894
I'll take the following:
- SecondaryPanes/Scopes.js

[2017-02-18 23:38] jasonLaster commented on #2046
I have a simple fix locally that I'll share when I have cell service :)

[2017-02-19 10:21] greenkeeper[bot] opened #2050 "An in-range update of stylelint is breaking the build 🚨"
## Version **7.9.0** of [stylelint](https://github.com/stylelint/stylelint) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/devtools-html/debugger.html/compare/greenkeeper%2Fstylelint-7.9.0">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      stylelint
    </td>
  </tr>
  <tr>
    <th ali

[2017-02-19 14:30] irfanhudda opened #2051 "Hot reloading does not work"
Running `yarn start` with `"hotReloading": true` gives error

[code]

After setting `"hotReloading": false` it gives no errors.

[2017-02-19 21:21] wldcordeiro commented on #2051
Googling said error points to our version of `react-hot-loader` being too old.

https://github.com/devtools-html/devtools-core/blob/master/packages/devtools-launchpad/package.json#L78

I think we need to use the latest 3.0.0 beta to get hot loading working with React 15+

Also since the work would be done in launchpad, reopening issue on devtools-core may be better @irfanhudda

[2017-02-20 03:32] #2051 closed

[2017-02-20 03:33] wldcordeiro commented on #2051
Opened https://github.com/devtools-html/devtools-core/issues/195

[2017-02-20 05:49] irfanhudda commented on #2051
@wldcordeiro Thanks for opening that issue.

[2017-02-20 07:10] janodvarko commented on #374
I'll try to find some time this week.
Honza

[2017-02-20 16:47] greenkeeper[bot] opened #2052 "An in-range update of eslint is breaking the build 🚨"
## Version **3.16.0** of [eslint](https://github.com/eslint/eslint) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/devtools-html/debugger.html/compare/greenkeeper%2Feslint-3.16.0">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      eslint
    </td>
  </tr>
  <tr>
    <th align=left>

[2017-02-20 17:33] ochameau commented on #1082
I don't know what depends on recent nodejs version but it is frustrating to depend on something not shipped in current ubuntu release:
[code]
This page doesn't help. I have nodejs 6.6.0 on Ubuntu 16.04.1.

[2017-02-20 17:49] clarkbw commented on #1082
This is a requirement coming from devtools-launchpad [package.json](https://github.com/devtools-html/devtools-core/blob/master/packages/devtools-launchpad/package.json#L27) and the [development-server](https://github.com/devtools-html/devtools-core/blob/master/packages/devtools-launchpad/bin/development-server.js#L171) but I'm not sure why.

Can you file an [issue](https://github.com/devtools-html

[2017-02-20 17:54] ochameau commented on #1082
Opened https://github.com/devtools-html/devtools-core/issues/196

[2017-02-20 21:40] roieu opened #2053 "Tree should support blur events"
Tree of elements, like Sources tree in the debugger, should be able to support a blur event to ensure we keep a selected node highlighted but ignoring any arrow navigation (mute onKeyDown/Press/Up events).
This relates to another issue, to support arrow navigation in the scope panel, which is currently impossible because Sources tree takes over any arrow keys navigation.

[2017-02-20 22:33] clarkbw commented on #1845
I think I just saw this in action and believe it has to do with multiple definitions.  If you have the multiple Backbone models in a file you could have several `initialize` functions.  It seems we aren't showing the different versions but still allow you to arrow through them and navigate to them.

[2017-02-21 00:52] jasonLaster commented on #1845
Oh nice. We should make the key name + line number
On Mon, Feb 20, 2017 at 5:33 PM Bryan Clark <notifications@github.com>
wrote:

[2017-02-21 04:16] #2024 closed

[2017-02-21 16:18] #2050 closed

[2017-02-21 16:18] #2052 closed

[2017-02-21 16:18] #1842 closed

[2017-02-21 16:18] #1845 closed

[2017-02-21 17:35] irfanhudda opened #2056 "Breakpoints pane close button is not correctly aligned"
### Screenshot
![breakpoint](https://cloud.githubusercontent.com/assets/1755089/23176584/a4a265fc-f889-11e6-9917-d4e3e66a9cd1.gif)

Close button should be aligned to the right side but is currently on left side.

[2017-02-21 17:45] jasonLaster commented on #2056
@wldcordeiro this is probably similar https://github.com/devtools-html/debugger.html/pull/2043

[2017-02-21 19:11] clarkbw opened #2059 "yarn test fails locally"
When I run `yarn test` locally it fails consistently.  I get the following errors:

[code]

Can those tests be fixed or disabled?

I'm doing all pushes with `--no-verify` now because these tests don't pass.  I'm not sure how to fix them.  Thanks!

[2017-02-21 19:26] bomsy commented on #2059
I hit this issue too. The sample js source text used in test has syntax errors. I'll push my fix for the tests.

[2017-02-21 20:30] #2044 closed

[2017-02-21 21:48] clarkbw commented on #2059
This should be fixed now!

[2017-02-21 21:48] #2059 closed

[2017-02-22 00:30] #2046 closed

[2017-02-22 00:33] jasonLaster opened #2065 "[EditorSearch] clicking in the document does not update the search index"
The editor search currently keeps track of where the search index as you increment with enter and shift enter.

When you select somewhere in the document, the search match correctly jumps to the next match. Unfortunately, the index is not updated so it is as if you did not click there

[2017-02-22 00:48] jasonLaster commented on #1827
this is a duplicate of #2007

[2017-02-22 00:48] #1827 closed

[2017-02-22 00:49] #1967 closed

[2017-02-22 00:52] jasonLaster opened #2066 "[FunctionSearch] move to SearchBar component"
The UI is currently rendered in [`Editor/index.js`](https://github.com/devtools-html/debugger.html/blob/master/src/components/Editor/index.js#L537)

We should move this to the `Editor/SearchBar` so that it'll be easier to build the search bar bottom bar that toggles function search.

We could also create a new `FunctionSearch` that is used in the SearchBar

https://gist.github.com/jasonLaster/5c56

[2017-02-22 01:20] arthur801031 commented on #1894
I'll take the following:
- `shared/Autocomplete.js`
- `shared/Button.js`
- `shared/Close.js`
- `shared/PaneToggle.js`
- `shared/Dropdown.js`

[2017-02-22 11:32] bomsy commented on #1670
looking into this..

[2017-02-22 11:34] bomsy commented on #1670
I think this is an issue for devtools-core

[2017-02-22 11:40] bomsy commented on #1670
https://github.com/devtools-html/devtools-core/issues/201

[2017-02-22 15:48] clarkbw commented on #1670
We can probably close this then, right?

[2017-02-22 16:11] #2042 closed

[2017-02-22 16:46] tromey commented on #2012
I couldn't get github to linkify this test URL, but here you go: data:text/html;base64,PHNjcmlwdD4KICBmdW5jdGlvbiBmKCkgewogICAgICBsZXQgeCA9IHsiPHJldHVybj4iOiA1fTsKICAgICAgcmV0dXJuIHg7CiAgfQo8L3NjcmlwdD4KPGJvZHkgb25jbGljaz0iZigpIj5DbGljayBtZTwvYm9keT4K

Open this page, then open the debugger.  Set a breakpoint on the return from `f`.  Then click the text.  When the debugger stops at the breakpoint,

[2017-02-22 17:03] irfanhudda commented on #2056
Fixed now

[2017-02-22 17:03] #2056 closed

[2017-02-22 17:40] jasonLaster commented on #2012
Here's the html for the record:

[code]

haha - this is such an edge case :)

[2017-02-22 17:45] #1670 closed

[2017-02-22 17:45] jasonLaster commented on #1670
sure

[2017-02-22 18:03] clarkbw commented on #1398
The [large file example](https://devtools-html.github.io/debugger-examples/examples/large-files.html) is broken and I can't reproduce this anymore.

[2017-02-22 18:04] julienw commented on #2027
Indeed :)

https://github.com/devtools-html/devtools-core/blob/master/packages/devtools-modules/client/shared/components/splitter/SplitBox.js#L103-L106

I'm trying to fix this.

[2017-02-22 18:05] clarkbw commented on #1562
The bug referenced has been closed.

[2017-02-22 18:05] #1562 closed

[2017-02-22 18:53] #2036 closed

[2017-02-22 19:06] jasonLaster opened #2075 "[SourceTabs] Sources Dropdown hidden in RTL"
We show a tabs dropdown when there are too many source tabs to show. When the debugger is in RTL mode, the dropdown button is on the left and the dropdown is cropped by the left sidebar when it's opened.

We should have the dropdown open to the right of the button in RTL, which would keep it from being cropped.

#### patch

[code]

#### Screenshot

![screen shot 2017-02-24 at 6 58 18 pm](https://c

[2017-02-22 19:48] #1663 closed

[2017-02-22 19:48] clarkbw commented on #1663
fixed in #1904

[2017-02-22 19:54] clarkbw commented on #1664
I'm not able to reproduce this on my windows machine.  I have Firefox 53.0a2 and I'm stepping over and in with the function keys without an issue.

Maybe there's some kind of focus issue here?

[2017-02-22 20:20] #1617 closed

[2017-02-22 20:22] wldcordeiro opened #2076 "Source Search in Vertical needs update to UX"
This may be a little hard to do exactly but we'd want to have the search UI take up the whole view from below the tab bar down.

### current ui

![screenshot_20170222_131843](https://cloud.githubusercontent.com/assets/580982/23230539/a5e9be56-f901-11e6-9ccc-50ad7cf9440a.png)

[2017-02-22 21:21] jasonLaster opened #2077 "[docs] write integration test documentation"
document:

1. running the tests
2. the helpers
3. debugging the tests

[2017-02-22 21:35] jasonLaster opened #2078 "[EditorSearch] Add search bottom bar"
This tracks the work needed to add a search bottom bar:

- [x] search modifiers on the bottom right
- [x] function search toggle button bottom left

Notes:
* helen's design called for the search button being a toggle for the bar, but i'm not sure if that is clear enough
* when this is added, we'll want to disable modifiers when doing a function search, but that's also out of scope

### Screenshot

[2017-02-22 21:44] jnachtigall commented on #1664
@clarkbw I am also not able to reproduce with current FDE anymore. So I'm closing, please reopen if this was inappropriate :)

[2017-02-22 21:44] #1664 closed

[2017-02-22 21:49] wldcordeiro opened #2080 "New tab button and tab positioning in vertical mode needs tweaking"
In our vertical layout our tab bar positions the new button and tabs are too far away from the edge of the UI.

![screenshot_20170222_144800](https://cloud.githubusercontent.com/assets/580982/23234062/19e65f60-f90e-11e6-96a7-296350e152a9.png)
![screenshot_20170222_144823](https://cloud.githubusercontent.com/assets/580982/23234063/1a0344ae-f90e-11e6-8b58-d09db0983d79.png)

[2017-02-22 21:52] soapdog commented on #1946
I am working on this one! 😸

[2017-02-22 21:54] jasonLaster opened #2081 "[Editor] alignLine misreads the start location"
I've noticed that while searching the editor can occassionally be a bit jumpy. The reason for this is that the editor thinks that the new search result is not visible and centers the result in the middle of the editor.

This is a bug in how we calculate the start and last visible line of the document: [here](https://github.com/devtools-html/debugger.html/blob/master/src/utils/editor/source-editor.

[2017-02-22 22:04] jasonLaster opened #2082 "[Sources] selection highlight should be full width"
The sources highlight is no longer 100% width of the source sidebar pane

#### patch

[code]

#### Screenshot

![Screen Shot 2017-02-22 at 5.02.08 PM.png](https://shipusercontent.com/8621c2281bb283614599105d96b57e86/Screen%20Shot%202017-02-22%20at%205.02.08%20PM.png)

[2017-02-22 22:26] jasonLaster opened #2083 "[Call Stack] The frame location is greyed out on hover"
We recently changed how we handle hover and focus states in the call stack. One of the unintended consequences is that the frame source location color is now white on grey which looks bad. We should remove that style, so that it doesn't change on focus or hover.

Look [here](https://github.com/devtools-html/debugger.html/blob/master/src/components/SecondaryPanes/Frames.css#L49-L54) for the fix.

!

[2017-02-22 22:39] greenkeeper[bot] opened #2084 "An in-range update of eslint is breaking the build 🚨"
## Version **3.16.1** of [eslint](https://github.com/eslint/eslint) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/devtools-html/debugger.html/compare/greenkeeper%2Feslint-3.16.1">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      eslint
    </td>
  </tr>
  <tr>
    <th align=left>

[2017-02-22 22:46] wldcordeiro opened #2085 "[Sources] Directories should expand/collapse on click"
A nice usability fix would be for the directories to expand collapse on clicking the label as well as clicking the "expander" arrow

[2017-02-23 00:06] wldcordeiro commented on #1946
I'm going to leave this issue open since we discussed moving the guillemet to the gutter itself. Thanks for the work @soapdog

[2017-02-23 00:16] #1933 closed

[2017-02-23 01:00] arthur801031 commented on #2085
I'll take a stab at this.

[2017-02-23 02:56] rrandom commented on #2082
I will take this.

[2017-02-23 02:57] jasonLaster commented on #2082
Thanks!
On Wed, Feb 22, 2017 at 9:56 PM Rrrandom <notifications@github.com> wrote:

[2017-02-23 11:07] jnachtigall opened #2093 "Persist Call Stack accordion opened/closed state"
With Nightly 54.0a1 (2017-02-22) (64-bit).

STR:
1. Have a few breakpoints
2. F8 through them to look at the Scope variables
3. Close "Call Stack" accordion

![call_stack_not_persisted](https://cloud.githubusercontent.com/assets/3307404/23256502/04d5b1fe-f9c0-11e6-94e8-84fb2c359dad.gif)

ER:
Keep Call Stack closed

AR:
Wheneven a breakpoint is hit again, then the Call Stack automatically reopens.

[2017-02-23 12:44] clarkbw commented on #2093
I think this was fixed in #1545 but hasn't landed in nightly yet?

[2017-02-23 13:12] greenkeeper[bot] opened #2094 "An in-range update of babylon is breaking the build 🚨"
## Version **6.16.0** of [babylon](https://github.com/babel/babylon) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/devtools-html/debugger.html/compare/greenkeeper%2Fbabylon-6.16.0">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      babylon
    </td>
  </tr>
  <tr>
    <th align=left>

[2017-02-23 15:35] tromey opened #2097 "stepping buttons don't have tooltips"
The various step buttons (step in, step over, etc) do not have tooltips.  I think they should.

[2017-02-23 16:19] clarkbw opened #2100 "debugger hangs when opened on debugger development page"
When using a Nightly Firefox and opening the debugger against the development debugger http://localhost:8000/ it hangs for several seconds while AFAIK the `webpack` directory is loaded.

To do this yourself here's what you need to do:
* Install the add-on from https://perf-html.io/ into Nightly
* Open the Nightly Debugger when on the debugger page http://localhost:8000/ or a sub page
* Firefox sho

[2017-02-23 16:31] #2097 closed

[2017-02-23 16:33] jasonLaster opened #2101 "[docs] upgrade to remark-cli 3.0.0"
Remark recently upgraded to 3.0.0 and we're getting some API errors.

Should be a relatively easy upgrade path.

[2017-02-23 16:39] jasonLaster opened #2102 "[panel] Reveal in Tree is not working in the panel "
I've noticed while using the new debugger in firefox, that reveal did not work. It does seem to work locally.

[2017-02-23 16:42] #2065 closed

[2017-02-23 16:44] jasonLaster opened #2103 "[EditorSearch] cmd+f without a selection should refocus the search bar"

[2017-02-23 16:44] jasonLaster opened #2104 "[EditorSearch] escape should always close the search bar"

[2017-02-23 16:46] jasonLaster opened #2105 "[EditorSearch] breaks with "whole word" modifier and query's of 3 or less characters"

[2017-02-23 16:47] jasonLaster opened #2106 "[FunctionSearch] support scrolling the list of results"
If you open function search and search a file that has lots of results, you'll notice it doesn't scroll.

The problem is in Autocmplete, but i think we can re-write it to be better

### getting started

1. enable functionSearch
2. open a source and press cmd+shift+o

[2017-02-23 16:49] jasonLaster opened #2107 "[WatchExpressions] Polish"
**Checklist**:
- [x] Double check refresh watch expressions
- [x] vertically align "Add Watch Expression" #2123
- [x]  error when adding an expression #2112

[2017-02-23 16:51] #1970 closed

[2017-02-23 16:52] #2085 closed

[2017-02-23 16:54] #2041 closed

[2017-02-23 16:58] jasonLaster commented on #2106
We currently scroll the list in a [manual] fashion. We'd like to use [scrollIntView]

[scrollIntoView]: https://developer.mozilla.org/en-US/docs/Web/API/Element/scrollIntoView
[manual]: https://github.com/devtools-html/debugger.html/blob/master/src/components/shared/Autocomplete.js#L51-L66

[2017-02-23 17:01] clarkbw commented on #2107
The text is not vertically aligned.

![screen shot 2017-02-23 at 9 01 07 am](https://cloud.githubusercontent.com/assets/2134/23269814/a5ac69c0-f9a6-11e6-9b5a-9f33c892e935.png)

[2017-02-23 20:28] nchevobbe commented on #2104
I will have a look at this

[2017-02-23 20:43] clarkbw opened #2112 "Error adding item to WatchExpressions"
I'm getting this error when adding an item to the watch expressions:

[code]

[2017-02-23 20:44] jasonLaster opened #2113 "[test] add integration test for watch expressions"
We should write a test for adding/editing/deleting watch expressions.

[2017-02-23 20:44] clarkbw commented on #2112
Found as part of #2107

[2017-02-23 21:40] nchevobbe commented on #2104
Hey @jasonLaster , do you have a STR describing how hitting escape would *not* close the search bar ? It seems to work well for me in any case :/

[2017-02-23 21:44] jcreighton commented on #2083
I think this would be great for my first contribution. Please assign me 😄

[2017-02-23 21:45] clarkbw commented on #2083
@jcreighton its all yours!

[2017-02-23 21:47] clarkbw commented on #2083
(github doesn't allow us to assign anyone not in the org to an issue, but its labeled `in progress` so it is yours)

[2017-02-23 21:53] clarkbw opened #2115 "cannot set breakpoint on generated file"
Use the debugger on this example page:
https://devtools-html.github.io/debugger-examples/examples/my-app/build/

* Open the [main.8d37a034.js](https://devtools-html.github.io/debugger-examples/examples/my-app/build/static/js/main.8d37a034.js) file.
* Try to set a breakpoint on any line (other than 6)

I see this error in the console:
[code]

I'm not sure if this is just an error or something else.

[2017-02-23 21:56] CodeMacabre commented on #2066
@wldcordeiro I'm interested in taking this one on, although I may need a bit of help along the way.

[2017-02-23 21:59] wldcordeiro commented on #2066
@CodeMacabre I can work with you on this one. 😄 There's some prep work I'll be doing in https://github.com/devtools-html/debugger.html/issues/2078 first to give it a new home.

[2017-02-23 22:02] clarkbw commented on #1912
Which transition did you remove?

[2017-02-23 22:03] CodeMacabre commented on #2066
@wldcordeiro Sounds good. I'm happy to help with #2078 too / instead to help this get underway.

[2017-02-23 22:05] clarkbw commented on #1912
I'm seeing this run slowly but its not clear to me yet that the transition is to blame.

[2017-02-23 22:08] tromey opened #2116 "[linux] cannot run integration tests"
The integration tests fail for me.  I see this in the webconsole:

[code]

This patch fixes that problem:

[code]

... which I'd be happy to send as a PR, except that the tests still don't work.  Now I get:

[code]

from some nameless module in the the webpack bundle:

[code]

[2017-02-23 22:16] jcreighton commented on #2083
@clarkbw 👍  Thank you!

[2017-02-23 22:17] jasonLaster commented on #2104
yep - you have to click away from the search bar

[2017-02-23 22:51] jasonLaster opened #2117 "Yarn start shows a warning about mocha"
`yarn start` shows this warning which we should suppress because it can be confusing

thanks @codemacabre for reporting

![image](https://cloud.githubusercontent.com/assets/254562/23282775/d1e2e542-f9f0-11e6-9559-ba8fc7fdb7d6.png)

[2017-02-23 23:43] #2000 closed

[2017-02-24 00:29] clarkbw commented on #1918
I was able to make this by adding this:

[code]

The tricky part are these:
* using `margin-top: 30px` is a little fragile, but no way to solve that without using variables
* you need a high z-index because a lot of the panels are running over the fixed position otherwise.

Might be better to look into an alternate layout approach.

[2017-02-24 00:29] clarkbw commented on #2032
Once #2118 lands we can look into this further.

[2017-02-24 01:14] bomsy commented on #2032
I've been looking into this, can't seem to replicate.

[2017-02-24 01:25] bomsy commented on #2032
Actually it looks #2118 fixes this as well.

[2017-02-24 01:43] arthur801031 commented on #1894
I'll take the following:
- `shared/ObjectInspector.js`
- `shared/Rep.js`
- `shared/Svg.js`
- `shared/Menu.js`
- `Editor/index.js`

[2017-02-24 01:55] Garbee commented on #1918
Oh did I not PR this already? ... oops.

Position sticky avoids the top margin since it is inline until scrolling happens. The fix should be this:

[code]

At least for [browsers that support sticky](http://caniuse.com/#feat=css-sticky). IE/Edge will just have it not sticking to the top. Which seems like a fine graceful degredation in those engines.

[2017-02-24 01:58] arthur801031 commented on #2106
I'll take a stab at this.

[2017-02-24 02:06] zystvan commented on #2107
@wldcordeiro I'll try to align the "Add Watch Expression" text vertically.

[2017-02-24 02:26] jasonLaster commented on #374
took another look at this after looking at object-inspector a bit

[code]

   I also wrote some tests that we can use. I found writing tests with real data here really helped:

[code]

[2017-02-24 03:54] jasonLaster commented on #1918
@Garbee pr it up

[2017-02-24 05:18] #2032 closed

[2017-02-24 05:18] #2112 closed

[2017-02-24 05:22] clarkbw commented on #1918
DO IT! 🎯

[2017-02-24 05:25] clarkbw commented on #2027
setting this to in progress for @julienw

[2017-02-24 05:26] clarkbw commented on #1634
both items left are currently in progress

[2017-02-24 05:30] clarkbw opened #2123 "veritcally align watch expressions placeholder"
Coming from #2107

![screen shot 2017-02-23 at 9 01 07 am](https://cloud.githubusercontent.com/assets/2134/23269814/a5ac69c0-f9a6-11e6-9b5a-9f33c892e935.png)

@zystvan is taking this one on!

[2017-02-24 05:32] clarkbw opened #2124 "[FunctionSearch] move function declarations out of editor state and to the util"
Breaking this out of #2007

[2017-02-24 05:33] clarkbw opened #2125 "[FunctionSearch] remove search handler on componentUnMount"
Breaking this out of #2007

[2017-02-24 05:34] clarkbw opened #2126 "[EditorSearch] move search state to UI reducer"
Breaking this out of  #1930

[2017-02-24 07:13] nchevobbe commented on #2104
So the only problem I see is when I make the search input lose its focus by clicking in the editor. If I click on anywhere but the editor, the search bar loses focus, but pressing escape works as expected.
Back to the editor issue. The problem is that we have a `keydown` listener on it
[code]
The `onKeyDown` function comes from `src/utils/editor/index.js`, and looks like :
[code]

[2017-02-24 07:46] juliandescottes opened #2127 "Source tab becomes buggy/empty when switching to vertical layout"
STRs:
- open the debugger
- have at least one source displayed
- resize the window to switch to vertical mode
- close the source
- try to reopen the same source

![debugger_source_tab_bug](https://cloud.githubusercontent.com/assets/1141550/23294772/645d2352-fa6d-11e6-95b3-47c2450cb78f.gif)

(sorry about the artifacts while resizing :( )

I get the following stack trace in the console:
[code]

[2017-02-24 10:52] wldcordeiro commented on #2078
The button was added. There is additional work being done to move the function search UI itself into the search bar now and additional refactoring to simplify our two distinct search types project and document.

[2017-02-24 10:52] #2078 closed

[2017-02-24 10:54] wldcordeiro commented on #2123
Self-assigning so I know to track it for mentoring.

[2017-02-24 10:57] wldcordeiro commented on #2126
I'll be working on this, I'm doing a lot with search so to summarize the "waves"

1. [x] Add search bottom bar to house search modifiers and function search
2. [ ] Move function search into search bar
3. [ ] Refactor autocomplete and search bar to reuse components and clean up UI/UX
4. [ ] Move state of editor search including modifiers and function searching into redux.

[2017-02-24 11:58] Garbee commented on #1918
Incoming once I test it again real fast just to verify it still works with the more recent work that's gone on...

[2017-02-24 12:10] Garbee commented on #1918
#2128 is up to address this. So sorry I didn't do that last week when I wrote the fix originally... I thought I had.

[2017-02-24 13:41] #2077 closed

[2017-02-24 13:43] bomsy commented on #2113
i'll look at add this..

[2017-02-24 14:18] juliandescottes commented on #2127
Investigated a bit and the issue seems linked to the fact that the codemirror instance is being destroyed and recreated when the layout is switched.

When it is recreated in components/Editor::componentDidMount, a code mirror document is created on the fly reusing this.props.sourceText. However this document is not tracked by the source-documents.js "store". So at this point, code mirror points to

[2017-02-24 14:38] jasonLaster commented on #2104
hmm, i've been worried about the *many* uses of escape for some time.

Perhaps we have one top level escape handler that can do:

1. refocus on codewrapper
2. close search bars...

[2017-02-24 14:42] jasonLaster commented on #2124
@wldcordeiro marking this as yours as it's close to your work. it's mostly just blocked...

[2017-02-24 15:18] irfanhudda commented on #2075
This was working with `postcss-bidirection` `2.0.3`.

[2017-02-24 15:45] tromey opened #2130 "many invalid css warnings from mochitest"
When I run mochitests I see many warnings like:

[code]

[2017-02-24 15:47] jasonLaster opened #2131 "[panel] dark theme colors are off"
The panel dark theme has some small regressions:

+ background in the sidebar is too dark
+ color is too dark

![](https://bug1338567.bmoattachments.org/attachment.cgi?id=8840672)

[2017-02-24 15:48] tromey commented on #2130
Moving to devtools-core

[2017-02-24 15:48] #2130 closed

[2017-02-24 16:13] jasonLaster opened #2132 "[panel] source search occassionally fails"
I noticed while testing today that source search occasionally fails in the panel.

### GIF

![](http://g.recordit.co/jDZnnA5oDE.gif)

[2017-02-24 16:13] clarkbw commented on #1918
🔫

[2017-02-24 16:13] #1918 closed

[2017-02-24 16:15] jasonLaster commented on #2124
If it's a shortcut, it's OK to call the string `.key`, but the localization comment should make it clear it's a shortcut.

If it's an accesskey, it should be called `correspondinglabel.accesskey`

::: devtools/client/locales/en-US/debugger.properties
@@ +19,5 @@

[2017-02-24 16:57] darkwing commented on #2132
Could you describe the issue?  I somehow still don't see or understand the issue.

[2017-02-24 17:18] tromey opened #2134 "do not show <return> = undefined"
PR #2133 changed the <return> behavior to display falsy values; per https://bugzilla.mozilla.org/show_bug.cgi?id=1326837.  However we agreed to change it back to not display "undefined" as a return value.

[2017-02-24 17:30] jasonLaster opened #2135 "[docs] add reference docs for the integration test utils"
Our integration tests have a LOT of helper methods. It'd be great if we used documentation.js to slurp them into one markdown file we could point to. We could also add better docs there too.

perhaps flow type these helpers as well... who knows

[2017-02-24 17:43] princiya commented on #1918
10 days back I had grabbed this issue, but I started working on this just today ;), my bad!!! Just when I was about to create a PR, it said I couldn't merge and the fix was already there :D Anyways, it was the same to same fix :)

[2017-02-24 17:44] jasonLaster commented on #1918
Haha. Glad it was similar. Sorry for the confusion
On Fri, Feb 24, 2017 at 12:43 PM Princiya Marina <notifications@github.com>
wrote:

[2017-02-24 17:52] princiya commented on #1918
No problem, only surprised with the coincidence ;)

[2017-02-24 20:03] #2131 closed

[2017-02-24 20:17] jasonLaster commented on #2093
likely

[2017-02-24 21:01] clarkbw commented on #2093
Landing in Nightly is happening here: https://bugzilla.mozilla.org/show_bug.cgi?id=1338567

[2017-02-24 22:55] jasonLaster opened #2141 "[tabs] icons are too small"
@juliandescottes  mentioned in bugzilla that the tab icons look a bit small. I'm not sure if I see it, but i'm very accustomed to them at this point :)

![](https://bug1338567.bmoattachments.org/attachment.cgi?id=8840675)

[2017-02-24 22:59] wldcordeiro commented on #2066
This has been moved, but there's still work to do to make the UI/UX nicer. Starting that now in another PR.

[2017-02-24 22:59] #2066 closed

[2017-02-24 23:30] #1840 closed

[2017-02-24 23:50] #2093 closed

[2017-02-24 23:51] #2094 closed

[2017-02-24 23:51] #2084 closed

[2017-02-24 23:52] jasonLaster commented on #2053
Hi @roieu. I believe what you're saying is that when the source tree is blurred, it should be clear which source is selected. Is that correct?

[2017-02-24 23:52] #2021 closed

[2017-02-24 23:53] #2125 closed

[2017-02-24 23:53] jasonLaster opened #2143 "[Scopes] Improve object bucketing"
I noticed today that the window object keys are bucketed, which might not be the behavior we want.

I think we might want to only bucket numerical keys, but that could be weird too...

[2017-02-25 00:24] clarkbw opened #2144 "[Scopes] Improve object bucketing"
It might be nice if the bucketing strategy for the ObjectInspector could prioritize certain properties to not be bucketed such that instead of a list of all buckets we could pull out certain elements.

For example with the Window object we could pull the non-default properties out to the top instead of leaving them inside the buckets where you have to look for them.
![screen shot 2017-02-24 at 4 2

[2017-02-25 01:42] jasonLaster commented on #2144
Hmm, that's nice. Our window would look something like this

[code]

[2017-02-25 01:58] zystvan commented on #2075
I'll take this issue. @wldcordeiro

[2017-02-25 02:08] clarkbw commented on #2144
Exactly!

[2017-02-25 19:25] roieu commented on #2053
@jasonLaster that is correct.
It also means that when the tree is not in focus it should stop respond to keyboard events.
Then we'll be able to have arrow keys navigation in Call Stack frame, which now no matter which
frame is in focus, the keyboard events are intercepted by the source tree control.
I am playing around with the tree in devtools-core to handle blur events (I am new to this project

[2017-02-25 20:28] jasonLaster commented on #2053
Great. Checkout how we do focus events in the call stack and blur in the
watch expression input
On Sat, Feb 25, 2017 at 2:25 PM Roie Uziel <notifications@github.com> wrote:

[2017-02-25 23:40] jasonLaster opened #2148 "[panel] pause on exceptions button is blue on load"
![screen shot 2017-02-25 at 6 40 19 pm](https://cloud.githubusercontent.com/assets/254562/23335752/e7a0bb80-fb89-11e6-99b6-0a3b802b1468.png)

[2017-02-26 08:45] juliandescottes opened #2149 "[panel] dark theme colors"
Follow up to #2131

![image](https://cloud.githubusercontent.com/assets/1141550/23338323/1237155a-fc08-11e6-998b-fff56c74fb0f.png)

We still have two issues visible in this screenshot,
- [ ] the source tree icons are almost invisible
- [ ] the source tab close icon is black (for the second source tab, not the selected one)

[2017-02-26 08:46] #2123 closed

[2017-02-26 08:46] wldcordeiro commented on #2123
Thanks @zystvan for the work! Looks great and makes our secondary panes more consistent.

[2017-02-26 09:50] juliandescottes commented on #2141
The icons that bother me here are the expand/collapse and plus icons.

The size is maybe not the issue, but they are not aligned with the icons in the sidebar on the right, feels inconsistent.

I also think we are missing some padding/margin for the expand/collapse icons. They is no breathing space between them and the borders of  the tab panel.

[2017-02-26 11:37] wldcordeiro opened #2151 "[EditorSearch][FunctionSearch] Combine UI and refactor search components"
To give us a better UI/UX for function searching refactoring `Autocomplete`, `SearchBar` and `SourceSearch` for reuse is a major win.

[2017-02-26 19:11] jasonLaster opened #2154 "[EditorSearch] doSearch is slow"
There are some performance issues with search at the moment

1. getSearchState is called all the time
1. getSearchState creates the search matches inneficiently

[2017-02-26 19:11] #2151 closed

[2017-02-26 19:12] #2100 closed

[2017-02-26 19:12] jasonLaster commented on #2106
@arthur801031 taking your name off it because you've got two other issues

[2017-02-26 19:13] jasonLaster commented on #2083
Hey @jcreighton when do you think you'll be able to work on it?

[2017-02-26 19:13] jasonLaster commented on #2082
Hey @irfanhudda what's your timeline here?

[2017-02-26 19:14] jasonLaster commented on #1993
@ThomasCrevoisier i'm taking your name off it because it's been some time. Feel free to reclaim it if you can jump on this soon

[2017-02-26 19:17] #2075 closed

[2017-02-26 20:25] jasonLaster commented on #1843
We're landing a V1 pretty soon that is limited. Here is a list of things we should do to improve it:

1. show the popup on hover
2. highlight the selected expression/token
3. show the token/expression as a header instead of a top level root
4. have a caret in the top left of the popup
5. support dark theme

[2017-02-26 20:43] jcreighton commented on #2083
@jasonLaster Worked on it last night, just opened a PR

[2017-02-26 21:06] jasonLaster opened #2156 "[EditorPreview] show the popup on hover"

[2017-02-26 21:06] jasonLaster opened #2157 "[EditorPreview] highlight the selected expression/token"

[2017-02-26 21:07] jasonLaster opened #2158 "[EditorPreview] move the top root to a header"

[2017-02-26 21:07] jasonLaster opened #2159 "[EditorPreview] have a caret in the top left of the popup"
It would be nice to add a small caret on top of our preview popup.

[code]

![Screen Shot 2017-02-27 at 6.47.17 PM.png](https://shipusercontent.com/fde61148b29c6cdece84fe898a0f9a3a/Screen%20Shot%202017-02-27%20at%206.47.17%20PM.png)

[2017-02-26 21:07] jasonLaster opened #2160 "[EditorHover] support dark theme"

[2017-02-26 21:07] jasonLaster opened #2161 "[EditorPreview] jump to definition"

[2017-02-26 21:36] jasonLaster opened #2163 "cleanup icons in dark theme"
- icons in the source tree (almost the same color as the background color)
- close icon in a source tab (black)
- sidebar toggle button is grey, but could be the color of the "new tab" button

#### toggle
![screen shot 2017-02-26 at 4 39 29 pm](https://cloud.githubusercontent.com/assets/254562/23343974/3c9b641a-fc42-11e6-80b2-79e31ed40fd6.png)

#### hovered on inactive tabs
![screen shot 2017-02-2

[2017-02-26 21:53] jasonLaster commented on #2132
hmm, i can't reproduce. it was pretty sad when it failed earlier.

This is probably stale as @wldcordeiro did some work on the result list recently

[2017-02-26 21:53] #2132 closed

[2017-02-26 22:00] ThomasCrevoisier commented on #1993
@jasonLaster Yes of course. I'm stuck and don't really know what causes the bug...

[2017-02-26 22:01] jasonLaster commented on #1993
@ThomasCrevoisier  pinged you on slack. happy to unstick you

[2017-02-26 22:08] jasonLaster opened #2164 "The SearchBar selectedSource propType should not be required"
We should not make the `selectedSource` propType required.

We should make this change and then fix the flow warnings

[code]

[2017-02-26 22:09] juliandescottes commented on #2149
Closing as dupe for #2163

[2017-02-26 22:09] #2149 closed

[2017-02-26 22:09] jasonLaster commented on #1574
closing this in favor of a more modern tracking issue

[2017-02-26 22:10] juliandescottes commented on #2127
now fixed

[2017-02-26 22:10] #2127 closed

[2017-02-26 22:10] jasonLaster commented on #1298
closing and we can open new focused issues later

[2017-02-26 22:10] #1298 closed

[2017-02-26 22:11] #2101 closed

[2017-02-26 22:15] jasonLaster commented on #2149
oops sorry, i missed this

[2017-02-26 22:15] #2083 closed

[2017-02-26 22:16] jasonLaster commented on #2141
This is a hard problem. @princiya and @Garbee worked on vertically aligning the text and buttons. i suppose we can line up command bar buttons too.

agreed

[2017-02-26 22:27] najamkhn commented on #2148
Seems like it persists its last state. There seems to be three states that it cycles around i.e,
* `pause-exceptions enabled`
* `pause-exceptions uncaught enabled`
* `pause-exceptions all enabled`

I tried it with all of them and it seems to just persist the values above. Shouldn't it be the case?

[2017-02-26 22:29] jasonLaster commented on #2148
sorry, that wasn't clear. This is an issue that only happens when the debugger is in the firefox panel.

I'm working on a fix now, but forgot to mark it in-progress

[2017-02-26 22:33] juliandescottes commented on #2149
np, your has better screenshots :)

[2017-02-26 23:03] jasonLaster commented on #1982
I believe this is due to a larger issue, which is that we don't persist breakpoints across debugging sessions.

I'll look into doing this in a separate issue and we can see if it fixes it.

[2017-02-26 23:04] jasonLaster opened #2167 "[Breakpoints] persist across sessions"
We should persist breakpoints across debugging sessions. This means i can close the debugger, re-open it, and the breakpoints are still there.

[2017-02-26 23:17] najamkhn commented on #2105
I'll take a look at it. :)

[2017-02-26 23:36] #2106 closed

[2017-02-27 00:08] wldcordeiro opened #2169 "[FunctionSearch] Set a max height on the result list"
Currently the result list will grow to take up the whole editor, make it so it only grows to a certain height and adds a scrollbar.

[2017-02-27 00:10] wldcordeiro opened #2171 "[EditorSearch/FunctionSearch] Ensure only one type of search occurs"
Currently if you toggle function searching the normal editor searching still occurs as well. We should update the behavior to do one at a time.

[2017-02-27 00:14] #2076 closed

[2017-02-27 00:15] wldcordeiro commented on #2076
Since we ended up closing the PR associated with this being expected I'm closing the issue. We can revisit if it's still a problem.

[2017-02-27 00:21] wldcordeiro opened #2172 "[Editor/Function Search] Update result summary for search type"
The result summary is currently only tied to the editor search, let's update this so it shows a summary for when we have function search toggled as well.

This is sort of related to #2171

![screenshot_20170226_171954](https://cloud.githubusercontent.com/assets/580982/23345232/fa9a843c-fc47-11e6-987c-14432821da2f.png)

[2017-02-27 00:24] wldcordeiro commented on #2105
@najamkhn Thanks! I'll be tracking this as well so feel free to ask any questions. 😄

[2017-02-27 00:26] wldcordeiro opened #2173 "Ctrl/Cmd+F doesn't toggle the searchbar off"
Pressing this keyboard shortcut should toggle the searchbar off as well.

[2017-02-27 00:43] #2169 closed

[2017-02-27 01:51] jcreighton commented on #2163
@jasonLaster I see the close button in your screenshot but I'm not seeing those. The close buttons are hidden due to `visibility: hidden;`. Was that on purpose?

[2017-02-27 02:26] jasonLaster commented on #2163
Yep. Only visible on hover :)

[2017-02-27 02:58] jcreighton commented on #2163
I'm not seeing it at all -- even on hover:
![close_buttons](https://cloud.githubusercontent.com/assets/5232812/23347143/061d1092-fc6e-11e6-8398-2e860e0e027e.gif)

[2017-02-27 02:59] jasonLaster commented on #2163
Then that's a bug :)
On Sun, Feb 26, 2017 at 9:58 PM Jenn <notifications@github.com> wrote:

[2017-02-27 03:07] jcreighton commented on #2163
@jasonLaster Argh, figured it out. I had to install packages. The CSS wasn't being compiled correctly otherwise. Thanks for being so responsive!

[2017-02-27 05:05] irfanhudda commented on #2082
@jasonLaster I can file a PR for this by today.

@rrandom Do you mind if I take this?

[2017-02-27 09:34] ThomasCrevoisier commented on #1993
It seems that I can't reproduce it since I pulled `master`

[2017-02-27 14:13] lasfin commented on #2014
Am I right what we should hover on component and press Enter to select?

[2017-02-27 14:20] rrandom commented on #2082
@irfanhudda Ok, take it

[2017-02-27 14:20] jasonLaster commented on #2082
sorry @rrandom. I got confused :)

[2017-02-27 14:21] jasonLaster commented on #2014
@lasfin i think so, the idea is that we should handle the `<enter>` keypress and select the frame. the code snippet above is a good description.

[2017-02-27 14:23] jasonLaster commented on #1993
closing as it looks fixed on master.

@arthur801031 mind trying to reproduce it?

[2017-02-27 14:23] #1993 closed

[2017-02-27 14:23] rrandom commented on #2082
@jasonLaster  Never mind :)

[2017-02-27 14:34] #2113 closed

[2017-02-27 14:49] irfanhudda commented on #2082
@rrandom Thanks.

[2017-02-27 14:53] #2082 closed

[2017-02-27 14:58] tromey opened #2177 "object-inspector.js:isDefault mixes host and target properties"
Right now object-inspector.js:isDefault is defined as:

[code]

However, this is testing properties of the debugger host, whereas it ought to check properties of the debuggee.

[2017-02-27 15:03] aklt commented on #1945
I'm having a look at this ;-)

[2017-02-27 15:16] jasonLaster commented on #2173
We actually don't want it to. We want it to set the input value. Try it in atom or sublime :)

[2017-02-27 15:16] #2173 closed

[2017-02-27 15:18] ryanjduffy commented on #1945
I had started on this as well yesterday but @aklt showed better form by actually commenting here! I'll share what I have to possibly accelerate things a bit. I took things a bit further and altered the UX such that:

* Using the 'x' saves and closes the panel
* Pressing "Escape" closes without saving
* Pressing "Enter" always saves. If there is no content, it converts to a "regular" breakpoint

Op

[2017-02-27 15:30] jasonLaster commented on #1946
Here's a diff to show where to start on adding the guillemet to the marker

[code]

[2017-02-27 15:47] jasonLaster opened #2178 "[dark theme] polish UI"
- [ ] source search jumps
- [ ] secondary colors tend to be grey
- [ ] toggle buttons are grey
- [ ] sidebar pane headers should be the same dark grey as tabs

![](http://g.recordit.co/oihuGAtPu0.gif)

[2017-02-27 16:31] tromey opened #2180 "[Stepping] scopes/call-stack flashing while stepping"
When stepping, the scopes and call-stack panes flash.  I think this is fairly distracting.  In the attached screen capture you can see the green "paused" panel disappear, and the "call stack" and "scopes" panes close; then they re-populate when the step finishes.

I think it would be less distracting if the panes remained in place while stepping.  Perhaps the green pane could change colors and tex

[2017-02-27 16:32] tromey commented on #2180
Darn it, that did not upload correctly.  Will try again.

[2017-02-27 16:32] tromey commented on #2180
![debug-flash](https://cloud.githubusercontent.com/assets/1557670/23369771/b5aa6f80-fccf-11e6-8455-4f31b2b1a4b2.gif)

[2017-02-27 16:37] jasonLaster commented on #2180
@tromey flashing is a tough problem we’ve punted on. but I bet we can do something like… not clear the state for half a second and wait to see if we pause again... The tough thing is that darn `resume` event

[2017-02-27 17:48] aklt commented on #1945
Ah, seems you beat me to it.  I'll take a look at your commits.

[2017-02-27 18:35] #1945 closed

[2017-02-27 18:46] #2163 closed

[2017-02-27 18:59] aklt commented on #1946
I'll have a go at this one

[2017-02-27 20:09] wldcordeiro commented on #1993
I guess this was fixed accidentally? 🤷‍♂️

[2017-02-27 20:41] miketaylr opened #2185 " Clicking on links in debugger for eval code open a 404"
If you end up inside a stacktrace that had some eval code, the debugger links don't do anything useful.

STR:

1) open https://miketaylr.com/bzla/eval-script.html
2) open debugger
3) expand `TypeError` stacktrace
4) click on `<anonymous> https://miketaylr.com/bzla/eval-script.html%20line%205%20%3E%20eval:2:1`

Expected: I see the source code
Actual: I end up at "view-source:https://miketaylr.com/b

[2017-02-27 22:03] tromey commented on #2180
I looked at this a bit today.  Changing the pause reducer and WhyPaused helps; but the Scope pane still flashes, so more work would be required there.

The bigger point here is that this change should depend on the resumption reason: maybe it's ok to keep the panes as-is for a step in/out/over, but a plain resume should probably collapse everything.

Flashing changes in the scope pane (say, when a

[2017-02-27 23:30] #2164 closed

[2017-02-27 23:37] #374 closed

[2017-02-28 00:44] #2156 closed

[2017-02-28 01:38] emceeaich opened #2193 "When viewing a request's query string, multiple parameters with the same name are ignored except for the last occurance"
Steps to reproduce:

* Go to https://emceeaich.github.io/triage-report/
* Hit F12 or right-click to inspect element
* Go to Network tab to inspect one of the XHR tagged requests
* Note that the request includes `&product=Core&product=Firefox&product=Firefox for Android&product=Firefox for iOS&product=Toolkit` in the query string
* Click on `Params` tab
* Observe there's only one `component` parame

[2017-02-28 01:41] wldcordeiro commented on #2193
Huh, thanks for the report. But this is the debugger project, I believe you would want to report on [bugzilla](https://bugzilla.mozilla.org/).

[2017-02-28 01:44] emceeaich commented on #2193
Sorry for the confusion, will refile in the right place. Do we have a spot on the mozilla wiki where we point out where to file which bug where?

[2017-02-28 01:48] emceeaich commented on #2193
Closing, filed bug against Firefox: Developer Tools: Netmonitor as https://bugzilla.mozilla.org/show_bug.cgi?id=1343122

[2017-02-28 01:48] #2193 closed

[2017-02-28 02:47] arthur801031 commented on #2167
I'll take a stab at this

[2017-02-28 03:19] #2171 closed

[2017-02-28 05:04] arthur801031 commented on #1993
@jasonLaster

I couldn't reproduce it. It's fixed :)

[2017-02-28 06:01] wldcordeiro opened #2195 "[EditorSearch/FunctionSearch] Disable search modifiers when function search is enabled"
When function search is enabled the search modifiers should be disabled.

1. Clicking doesn't do anything
2. Grey them out?

[2017-02-28 06:03] wldcordeiro opened #2196 "[SearchModifiers] Fix Search Buttons Not Showing Icons in Chrome"
In Chrome for whatever reason the button SVGs aren't showing up like they should.

## Chrome
![screenshot_20170227_230344](https://cloud.githubusercontent.com/assets/580982/23393567/0142f1d0-fd41-11e6-9622-d6d88ae4d135.png)

## Firefox
![screenshot_20170227_230410](https://cloud.githubusercontent.com/assets/580982/23393588/17083e30-fd41-11e6-9d71-5968b1293d70.png)

[2017-02-28 07:51] wldcordeiro commented on #2154
@jasonLaster seemed to address this so I'm closing for now. If we find that there's still slowness we can reopen or whatever.

[2017-02-28 08:42] nchevobbe opened #2199 "Search show a flashing "NaN of 1""
While entering random search string, I briefly saw a `NaN of 1` in the search bar
![peek 28-02-2017 08-56](https://cloud.githubusercontent.com/assets/578107/23397755/22f6f3f4-fd9a-11e6-8e89-1b39e88229eb.gif)

[2017-02-28 09:13] ThomasCrevoisier commented on #2173
@jasonLaster @wldcordeiro If the selection is empty, should we keep the actual value in the search bar ? The actual behavior is that the search bar is empty after pressing Cmd+F again.

[2017-02-28 15:41] #2196 closed

[2017-02-28 15:42] #2199 closed

[2017-02-28 15:42] #2172 closed

[2017-02-28 15:42] #2105 closed

[2017-02-28 15:44] jasonLaster opened #2203 "[FunctionSearch] Polish the “search for" UI"
Some small UI touches:

1. softer colors
2. cursor should be a pointer on hover
3. perhaps a hover color for the function button
4. disable highlighting text
5. remove h1
6. add l10n

![Screen Shot 2017-02-28 at 10.50.52 AM.png](https://shipusercontent.com/76d2d9421b217e8cf7434c7d39330666/Screen%20Shot%202017-02-28%20at%2010.50.52%20AM.png)

[2017-02-28 15:44] jasonLaster opened #2204 "[FunctionSearch] Chrome search bar jumps"
In chrome the search bar jumps as you type, this is a problem caused by poor flex support, but we should be able to work around it by setting a height at all times in chrome.

I think if we assume the result list is always 150px or something like that then we can make the search bar always some height and it'll be fine. Of course, we only want to do this in chrome because we like the firefox behav

[2017-02-28 15:44] jasonLaster opened #2205 "[FunctionSearch] Polish the search line positioning"
We currently line up the line numbers so that they are all positioned at the 95% point. The problem is when line numbers are too long relative to the space.

We should do one of two things:

1. find a way to always have all the line spans be the "right" size, like a table.
2. position the line values to the right and make sure they don't cause the line to wrap. If we do this, i'd drop the colon.

[2017-02-28 15:44] jasonLaster opened #2206 "[FunctionSearch] Fix sad face"
We're showing a sad face when there are results

![Screen Shot 2017-02-28 at 10.48.06 AM.png](https://shipusercontent.com/72c8a7358f0b2e68455d5ee860601ad3/Screen%20Shot%202017-02-28%20at%2010.48.06%20AM.png)

[2017-02-28 16:21] jasonLaster opened #2208 "[FunctionSearch] Polish toggling searches"
I'm seeing some funny behavior with toggling searches

Checklist:

- [ ] cmd+f should always show the "search in file..."
- [ ] cmd+shif+o should always show "search functions"
- [ ] close btn and escape should always close and clear queries...
- [ ] the "function" button should jump between function/text search

[2017-02-28 16:46] #2206 closed

[2017-02-28 17:49] wldcordeiro opened #2213 "[FunctionSearch] Searching for functions doesn't work on pretty-printed source"
When you pretty print a source the function search stops working and always returns 0 results.

Also noticed that if you pretty print a source, refresh and open it again, it'll still be pretty printed but we no longer track that it is (no icon in tab bar) and function search now works.

[2017-02-28 17:55] #2203 closed

[2017-02-28 18:12] jasonLaster opened #2214 "[FunctionSearch] Polish Results List"
Checklist:

- [x] add padding to the left of the function name
- [x] add a border bottom to the results list

![Uploading Screen Shot 2017-02-28 at 1.10.38 PM.png…]()

[2017-02-28 18:15] jasonLaster opened #2215 "[FunctionSearch] Update results when the source changes"
We should update the search results when the source changes

[2017-02-28 18:35] #2208 closed

[2017-02-28 18:49] #2204 closed

[2017-02-28 19:36] jasonLaster opened #2218 "[mochitests] Refactor `returnvalues` test"
We should refactor the returnvalues test as a some smaller unit tests so that the tests can be more focused and run more reliably. Currently the tests are timing out on linux machines

https://treeherder.mozilla.org/#/jobs?repo=try&revision=3918fd199ef545c4e3099c950a6da13df4b6f355&selectedJob=80489078

[2017-02-28 19:41] #2161 closed

[2017-02-28 20:41] #2157 closed

[2017-02-28 20:56] jasonLaster opened #2219 "[EditorPreview] Preview Member Expressions"
It'd be nice to be able to hover on `b` of `obj.a.b` and preview the expression `obj.a.b`.

once we have the expression, we need to be able to be able to call `client.evaluate(expression, frameId)` and show the response in the popup.

https://astexplorer.net/#/gist/a3801b36d67b0d11b18898649e23eb04/e352a873fdf5b1736daf77dca9e56d70d564efa4

[2017-02-28 20:58] jasonLaster opened #2220 "[EditorPreview] Preview variables from outer scopes"
It would be nice to be able to hover on variables that come from outer scopes and show them in the preview.

We can do this by getting the scope chain out of pauseData and getting all of the binding variables.

[2017-02-28 21:02] jasonLaster opened #2221 "[FunctionSearch] find es6 shorthand functions"
We should search objects for es6 shorthand functions. Here is a test that will probably fail

[code]

[2017-02-28 21:05] bomsy commented on #2219
i'll poke at this

[2017-02-28 22:38] #2158 closed

[2017-02-28 23:23] #2134 closed

[2017-03-01 01:03] #2205 closed

[2017-03-01 01:03] #2214 closed

[2017-03-01 01:13] jasonLaster commented on #2102
can't reproduce, so closing for the time being

[2017-03-01 01:13] #2102 closed

[2017-03-01 02:19] amitzur commented on #2160
I can take this tomorrow if you'd like

[2017-03-01 03:08] #2148 closed

[2017-03-01 03:14] jasonLaster opened #2226 "[EditorPreview] debounce opening and closing it"
It would be nice to debounce opening the popup and closing it so that it is not so sudden.

#### patch

[code]

[2017-03-01 03:15] jasonLaster opened #2227 "[EditorPreview] small styling tweaks"
- [x] add padding to the popover
- [x] adjust font sizes of elements
- [x] don't show scroll bars when not necessary
- [x] perhaps show a header for objects

...

[2017-03-01 03:22] jasonLaster commented on #1377
Working on the debugger and sensor web is fast enough after some speed ups that i think we can close this and open a new issue with a better STR

https://devtools-html.github.io/debugger-examples/

[2017-03-01 03:31] jasonLaster opened #2228 "[EditorSearch] polish overlays "
Lets double check to make sure that search overlays are properly cleared as you open and close the different searches.

[2017-03-01 03:40] jasonLaster commented on #2160
I believe Jen is on it
On Tue, Feb 28, 2017 at 9:19 PM Amit Zur <notifications@github.com> wrote:

[2017-03-01 04:45] wldcordeiro opened #2230 "[FunctionSearch] Searching Sourcemapped files doesn't work"
If you open a file loaded in from a source map the function search doesn't work on it.

[2017-03-01 08:13] juliandescottes commented on #2141
The "dropdown-button" icon also looks a bit too small and not aligned with the others.

<img width="248" alt="image" src="https://cloud.githubusercontent.com/assets/1141550/23451154/09a40e08-fe5f-11e6-9218-dac2df426e27.png">

[2017-03-01 08:31] juliandescottes opened #2231 "React DevTools causes sources to be empty on debugger-examples"
When the page has no sources, the current source tree is empty:

<img width="1002" alt="image" src="https://cloud.githubusercontent.com/assets/1141550/23451730/8321854c-fe61-11e6-8a8d-5ee6a73b116d.png">

It would be nice if we could have a message stating that there are no sources. When I saw this UI, I thought there was a bug in the debugger which prevented from listing sources!

The old firefox

[2017-03-01 09:05] juliandescottes opened #2232 "Fix missing CSS variables not found in variables.css"
The following CSS variables are not defined anywhere:
- `--theme-faded-tab-color`
- `--theme-toolbar-background-alt`

They are used in some CSS files but are missing from both the variables.css defined in devtools-core and in the one found in mozilla-central.

They were initially introduced in https://github.com/devtools-html/debugger.html/commit/9c498c2c83e7562909132883e12578a9b45fc295

We can ei

[2017-03-01 09:12] wldcordeiro commented on #2141
Agreed. I also think the collapse buttons could have a little bit more breathing room from the border.

[2017-03-01 09:13] wldcordeiro commented on #2231
Hmm how are there now sources at all? Like shouldn't we have at minimum the index file? Even if it has no scripts in it. I swear that's the behavior Chrome and the old debugger have.

[2017-03-01 09:20] juliandescottes commented on #2232
Actually --theme-toolbar-background-alt is present in devtools-core version of variables.css, but missing in mozilla-central.

[2017-03-01 09:38] juliandescottes commented on #2231
I agree it's weird, I didn't look into more details. The test url is https://devtools-html.github.io/debugger-examples/

[2017-03-01 09:58] juliandescottes commented on #2231
So it looks like a regression.

I don't have the issue when using the current Nightly, but I do when trying out the new bundle currently attached to https://bugzilla.mozilla.org/show_bug.cgi?id=1338567

I also have the issue when testing the project from Github. So probably introduced in the last month or so.

[2017-03-01 10:15] jasonLaster opened #2233 "[Tabs] persist source mapped selected tab"
We broke "persisting selected tab" when we add the performance gain for loading source mapped files.

This should be easy to add back by checking for pendingSourceLocation

#### Here's a diff for adding support:

we first need to extract `checkSelectedSource` from where the code is used in `newSource` and then add it to `loadSourceMap`

[code]

[2017-03-01 10:23] jasonLaster commented on #2231
Agreed.

One style point, it would be nice to update the other "Not Paused" styles to be the softer color like this one

[no-sources.pdf](https://shipusercontent.com/60b45d6af7069341d7bfe464c49a9e97/no-sources.pdf)

[2017-03-01 10:25] jasonLaster commented on #2232
Lets replace this `--theme-faded-tab-color` variable with something available. and sync `--theme-toolbar-background-alt` when we do the next bundle

[2017-03-01 10:31] jasonLaster opened #2235 "[WatchExpressions] close button is missing on hover"

[2017-03-01 10:36] jnachtigall commented on #1377
I'm still having this with today's Nightly:
![hanging](https://cloud.githubusercontent.com/assets/3307404/23456281/19deeed2-fe73-11e6-8f86-f4af4a105938.png)
TBH, I think this is more of a CodeMirror bug than something that is actionable for Debugger.html.

Anyway, I'll email a locally saved file to @jasonLaster

[2017-03-01 11:00] jasonLaster commented on #1377
@jnachtigall sorry, unfortunately nightly isn't up to date yet.
waiting on this merge: https://bugzilla.mozilla.org/show_bug.cgi?id=1338567

[2017-03-01 12:06] juliandescottes commented on #2231
I investigated a bit more and this is actually a very weird bug.

But it's not a regression of the new bundle, the difference comes from the addons I have installed in Nightly.

![debugger_react_devtools_bug](https://cloud.githubusercontent.com/assets/1141550/23459223/b1c70ab6-fe7f-11e6-8a95-40d3f87efd77.gif)

It looks like having installed the "React devtools" addon on the debuggee allows the deb

[2017-03-01 12:15] #2230 closed

[2017-03-01 12:15] #2215 closed