[2016-04-04 15:07] jasonLaster opened #3 "Change project name to debugger.html"
Lets change the current name "debugger-experiment" to "debugger.html" in all the places it appears

- repo/project name
- readme
- directories/code

[2016-04-06 15:56] jlongster commented on #3
Yeah, good point. I'll update the rest of the files, just renamed the project

[2016-04-06 15:56] #3 closed

[2016-04-07 18:48] jlongster opened #9 "2-space CSS"
My editor is set to 4-space but we want to conform to the current devtools style which is 2 space

[2016-04-07 18:48] jlongster opened #10 "Integrate devtools eslint file"

[2016-04-08 14:23] jlongster opened #13 "Use a server"
Might as well get a basic server going so avoid file:// issues. A simple express server that serves the static assets works, unless there's something else?

[2016-04-08 15:36] #9 closed

[2016-04-08 16:25] jasonLaster opened #15 "Investigate immutable.js"
We are currently using seemless-immutable, but there are benefits to using immutable.js.

Lets weight the pros/cons and make a decision now so that we don't have a bigger refactor later.

[2016-04-08 16:28] jasonLaster opened #16 "Investigate reselect"
We currently have simple state query functions in queries.js. Lets investigate, [reselect](https://github.com/reactjs/reselect), which should help us clean up the way we access the state.

[2016-04-08 19:20] clarkbw opened #17 "Add / Remove Breakpoints"
**User Stories**

As a web developer I want to be able to add a breakpoint at a certain line of my code such that I can create points in my application where the debugger will pause.

As a web developer I want to be able to remove breakpoints at certain lines of my code such that I can avoid pausing in areas I no longer need to inspect.

As a web developer I want to be able to see a&nbsp;global&nb

[2016-04-08 19:21] clarkbw opened #18 "Selectable Sources"
User Stories

- [x] Show source code in CodeMirror
    Use the CodeMirror code to display source code selected from the list

- [x] Indicate which file is currently selected
    When a file is selected it should have some indication in the list that it is the file currently being displayed.

[2016-04-08 19:21] clarkbw opened #19 "xpshell tests"

[2016-04-08 19:21] clarkbw opened #20 "static linters"
- [x] CSS linter
    Run on all pull requests

- [x] JS Linter
    Run on all pull requests

- [x] Setup Travis CI for linting

[2016-04-08 20:53] clarkbw commented on #20
#24 is handling this issue

[2016-04-08 20:55] clarkbw commented on #18
First part was done in #4 and #5

[2016-04-10 23:39] jasonLaster opened #31 "Discuss adding lodash"
I'd like to discuss the merits of adding [lodash](https://lodash.com) for debugger.html.

reasons to do it:
+ readability - lodash's utility functions like (groupBy and isEmpty) could dry up the code considerably ([1](https://github.com/jlongster/debugger.html/blob/master/js/reducers/sources.js#L28-L31), [2](https://github.com/jlongster/debugger.html/blob/master/js/components/TabList.js#L10-L12))

[2016-04-11 17:24] jasonLaster commented on #20
Need to remove the 'use-static' rule change.

[2016-04-11 17:42] jlongster commented on #31
I'd rather not because we'd have to pull all of it in when we merge to devtools. If we want to look into this we should bring it up with the whole team. While we are operating as a separate project technically, as you know we're still heavily tied to whatever gecko-dev/devtools provides.

The other reason is that the utility will be reduced a lot when we switch to immutable.js, which I'm very conv

[2016-04-11 17:43] jlongster commented on #13
Fixed in #25

[2016-04-11 17:43] #13 closed

[2016-04-11 18:31] clarkbw commented on #17
#30 fixed the information shown

[2016-04-11 18:40] #10 closed

[2016-04-11 20:59] jasonLaster commented on #31
Thanks, that makes a lot of sense. I agree, that this decision would be a team decision. Also, after reviewing today, I think we can clean up our code with a couple small utility functions. See my recent PR for a couple examples of `groupBy` and `values`.

Lastly, looking forward to seeing how Immutable.js and re-select helps us. That seems more inline with our redux state architecture.

[2016-04-11 20:59] #31 closed

[2016-04-11 21:33] clarkbw commented on #18
#37 is handling the second part.

[2016-04-12 14:08] jasonLaster opened #42 "Figure out how to test actions"
- [x] how to access client
- [x] mock client functions
- [x] basic assertions on the shape of the store

[2016-04-12 17:51] jlongster commented on #15
Done in https://github.com/jlongster/debugger.html/pull/43

[2016-04-12 17:51] #15 closed

[2016-04-12 17:53] jlongster commented on #19
This was done in https://github.com/jlongster/debugger.html/commit/2c6301861b4af22002b6953e765a5dce637ff3ee. This task was not about actually writing tests but setting up the environment so that we can actually run them. This is done. I've successfully run a test that imports our files.

The next step is to figure out how to write tests, see #42. Most likely we will write a small protocol stub tha

[2016-04-12 17:53] #19 closed

[2016-04-12 17:54] jlongster commented on #20
This was finished in https://github.com/jlongster/debugger.html/commit/45c68a84d2f0cdce5da76be4a53ad7b84b57a809 right?

[2016-04-12 19:14] clarkbw opened #44 "Respond to Pause / Resume events"
**User Stories**

As a web developer, when my code hits a break point I would like to see an indication of which breakpoint was triggered and in which files such that I can inspect the code at that location.

- [x] Highlight the line in the editor

- [x] Toggle the pause / resume button
    Se the pause / resume button to the appropriate state of the debugger.

- [ ] Indicate in breakpoint list

[2016-04-12 19:27] clarkbw opened #45 "Step buttons"
**User Stories**

As a web developer whose code has paused in the debugger I need to be able to step into the next statement&nbsp;on the line that is currently paused such that I go deeper into the stack.

As a web developer whose code has paused in the debugger I need to be able to step out of the current scope I'm paused in such that when I discover I'm in the wrong place I can pop back up the s

[2016-04-12 19:28] clarkbw opened #46 "Pause / Resume button"
**User Stories**

As a web developer I want to be able to resume the debugger which has paused at a breakpoint such that I can continue watching the code run.

As a web developer I want to be able to pause the debugger such that I can trigger an action and immediately see what code is run first.

- [x] Pause / Resume button
    A pause / resume&nbsp;button that toggles the debugger between the two

[2016-04-12 19:32] clarkbw opened #47 "Update Editor style"
- [x] Update font styles
    The current font choice is small and could be improved by using a better monospaced option.

- [x] Update breakpoint styles
    The breakpoint style could be improved and the line number needs to be visible

    [https://github.com/jlongster/debugger.html/pull/85](https://github.com/jlongster/debugger.html/pull/85)

[2016-04-12 19:40] clarkbw commented on #17
#47 is going to handle the last piece here.  The rest is finished.

[2016-04-12 19:40] #17 closed

[2016-04-12 19:42] clarkbw opened #48 "CSS Pane / Splitter Component needs to be improved"
The Pane / Splitter Component needs to be made more robust in terms of CSS to prevent things like over expansion from child content.

- [ ] Prevent child content from expanding the pane size

[2016-04-12 19:44] clarkbw opened #49 "Investigate connecting to Chrome"
Investigate a demo of debugger.html connecting to Chrome over the Chrome remote debug protocol (RDP). &nbsp;This investigation should also include&nbsp;best target platforms for delivering the Chrome debugger which may be Chrome itself or alternate platforms such as Electron.

[2016-04-12 19:48] clarkbw opened #50 "Investigate Travis CI for running tests"
We want Travis to run tests against every PR however currently it is only running lint tests.

In order to run our unit tests we need the xpcshell binary available on Travis.

There are several ways to possibly accomplish this:

- Download an xpcshell binary (that matches platform) from somewhere and use this to run test
- Build Firefox from source to create the xpcshell binary to run the tests
-

[2016-04-12 19:49] clarkbw opened #51 "Write up a CONTRIBUTING.md doc"
Set clear expectations and guidelines for contributing.

- [ ] Github Quick Replies
    Explaining how we are moving fast etc.

- [ ] Link to Contributing doc from the README

[2016-04-12 19:51] clarkbw opened #52 "Toggling breakpoints in global list"
**User Stories**

As a web developer I need to be able to toggle breakpoints in other areas of code that aren't visible in the debugger editor such that I can avoid hitting breakpoints I'm not currently interested in.

- [x] Add checkbox to each breakpoint in the global list
    Checked status of checkbox should be wired up to the enabled / disabled status of the breakpoint.

[2016-04-12 20:10] jasonLaster opened #53 "Sources Style Pass"
The Sources Pane is now selectable and grouped by domain.

![](http://g.recordit.co/96EsWgjRod.gif)

It'd be great to do a quick style pass on typography and layout. Hopefully we will be able to add nesting/collapsing with a tree view soon, and do a second pass.

![screen shot 2016-04-12 at 4 08 25 pm](https://cloud.githubusercontent.com/assets/254562/14473985/c0f6013c-00c8-11e6-8fa7-a71d3f0f321d.

[2016-04-12 20:13] jasonLaster commented on #47
It'd also be nice to have the syntax highlighting be consistent.

[2016-04-12 21:05] clarkbw commented on #18
Done!

[2016-04-12 21:05] #18 closed

[2016-04-12 21:06] clarkbw commented on #20
@jasonLaster this is done, right?

[2016-04-13 05:27] clarkbw commented on #50
Ok, here's what I've found.

From a URL like this:
https://archive.mozilla.org/pub/firefox/nightly/latest-mozilla-central/

You could download an SDK build like this:
https://archive.mozilla.org/pub/firefox/nightly/latest-mozilla-central/firefox-48.0a1.en-US.linux-i686.sdk.tar.bz2

In that build you'd find xpcshell under `sdk/bin/xpcshell`.  I don't know if it is exactly what we're looking for but

[2016-04-13 13:52] jasonLaster commented on #50
Awesome @clarkbw.

[2016-04-13 14:06] jasonLaster opened #55 "Add a dev/prod flag"
The flag will help with asserts, logging, and other tools that should only run in dev.

[2016-04-13 16:56] jlongster commented on #50
@clarkbw neat! that might work. we would need to point the runner to that whole "obj dir" so it can find all the dynamic libraries it needs, but I assume they are all there because regular Firefox needs them too.

The last bit would be how to get the `head.js` file from the source, which is what we use the "src dir" option for, but if that's really the last piece we can just copy that in and commi

[2016-04-13 17:46] clarkbw commented on #50
Ah, that is making sense.  I don't know how to run the `xpcshell` command so I'm just getting this error.  But I think we're on the right track here.

[code]

[2016-04-13 17:46] jlongster commented on #55
We could put this in `environment.json`, and on startup we set `AppConstants.DEBUG_JS_MODULES`  to that value. That flag will turn on all the stuff inside ff-devtools-libs like asserts.

[2016-04-14 14:13] jasonLaster opened #57 "Investigate running tests in node"
We are currently working on running our unit tests with xpcshell because it would be easier to integrate when we merge the experiment back.

We've made a lot of progress in this effort. We've made it possible to run xpcshell-unit-test from any directory. We've also added additional shams to ff-devtools-libs for running async tests in an xpcshell environment.

In the process, it's becoming clear th

[2016-04-14 14:43] jlongster commented on #57
Yeah, I was thinking this too. Yesterday when we were working on tests it was clear that even with all my work to smooth it over, there are still serious issues. My test harness is really simple and we'll probably have to keep investing in it. And it's doubtful we'll be able to hook it up to travis; if we do, it will be a lot of work.

Mocha on try has been done before. The Hello team has done it.

[2016-04-14 18:30] jasonLaster opened #58 "Add Karma test harness"
Karma will let us run our tests in different environments (firefox, chrome, node, ...)

[2016-04-15 13:37] jlongster commented on #20
Marking this as done. We've been using linters for a while.

[2016-04-15 13:37] #20 closed

[2016-04-15 13:38] jlongster commented on #16
@jasonLaster As far as I know we can close this issue, right? If we need it later we can convert queries to it without much work. For now it sounds like we're going to keep doing what we already have.

[2016-04-15 16:04] jasonLaster commented on #57
I'm going to add a couple sub-tasks here because it's a lot of work, but I want to capture the additional steps so they're not missed:

- [ ] web runner (i want to debug our debugger tests in the debugger ofcourse)
- [ ] karma runner (lets start running our tests in multiple platforms) #58
- [ ] watcher (run tests as we work) *stretch*
- [ ] coverage (it might be nice to get some coverage stats on

[2016-04-15 17:39] jasonLaster commented on #57
Currently, we're using webpack to build for node, which is unecessary because we're using commonjs. This should be fixed soon.

[2016-04-15 18:01] jlongster opened #63 "Fix editor scrolling in Chrome"
For some reason it doesn't scroll right now. Works fine in Firefox. It's probably a simple CSS fix (`overflow: auto` somewhere).

[2016-04-15 19:30] jasonLaster commented on #57
Just spent tried to remove webpack and it's definitely possible, but it's not trivial.
Basically, there are two things that you need to do to run our tests:
1. transform code to es6 and stage-0
2. alias ff-devtools-libs to devtools

To transpile, you need to use babel presets as well as babel-register. babel-register, is babel's hook into require and import to be able to transpile on the file

To

[2016-04-15 21:02] jasonLaster commented on #63
this might address some of the firefox, chrome inconsistencies
http://stackoverflow.com/questions/33636796/webkit-not-filling-the-100-height-of-a-flex-parent

[2016-04-15 23:18] jasonLaster opened #67 "Chrome DevTools crashes"
So, this is a little ironic, and mostly sad, but when I'm debugging debugger.html in Chrome, chome devtools is very unreliable. I'd like to get to the bottom of this, I'm not sure if it's a websocket thing, webpack source map thing, or what, but it makes it very difficult to make progress.

[2016-04-15 23:20] jasonLaster opened #68 "Refreshing debugger loses breakpoint state"
#### Steps:
1. select a source
2. add breakpoints
3. refresh
4. select the same source

#### What happens:
The breakpoints are neither shown in the editor or breakpoint list

[2016-04-15 23:21] jasonLaster opened #69 "Selecting a source does not update the breakpoint markers"
When you add breakpoints in source a, go to source b, and navigate back to source a, the breakpoint markers are not shown.

This is a relatively easy fix, but it probably requires us to re-think the way we're writing the Editor component, to better take advantage of the redux store.

[2016-04-15 23:22] jasonLaster commented on #45
#66 will address this

[2016-04-15 23:23] jasonLaster commented on #42
I believe we figured this out when we paired on wednesday

[2016-04-15 23:23] #42 closed

[2016-04-17 21:03] jasonLaster commented on #16
That's true.

[2016-04-17 21:03] #16 closed

[2016-04-18 13:10] jasonLaster commented on #48
@jlongster did your splitter work last friday fix this?

[2016-04-18 13:11] jasonLaster opened #71 "Editor style pass"
We should update the editor styles so that they are the same as the firefox editor.

Here is a link to the official [stylesheet](https://dxr.mozilla.org/mozilla-central/source/devtools/client/sourceeditor/codemirror/mozilla.css)

[2016-04-18 14:06] jasonLaster commented on #71
closing as this is a dupe of #47

[2016-04-18 14:06] #71 closed

[2016-04-18 14:11] jasonLaster commented on #46
Started looking into this [patch](https://gist.github.com/jasonLaster/7220a6fea9adfe697b54f02aa29f6418). Adding a pause button that breaks on next execution is easy.

What we need to figureout before we start is how we are going to maintain paused state:
1. willPause
2. paused => location of pause, why...

[2016-04-18 14:20] jasonLaster commented on #67
[chrome devtools](http://recordit.co/7kfHddzTUl) crash.

Steps to reproduce:
1. add a breakpoint in [thunk-middleware](https://github.com/jlongster/debugger.html/blob/master/js/util/thunk-middleware.js#L15)
2. select a source, which is an async action that invokes an async action
3. step into the second async action call. Chrome DevTools will crash accessing the threadClient property in the functi

[2016-04-18 14:22] jlongster commented on #67
... have you tried Firefox? Use our devtools :)

[2016-04-18 14:24] jlongster commented on #48
Yes, it definitely should have. The panes should be much more stable now since 1f39e0fd27f245ce4cb699243c1636fcd322c873

[2016-04-18 14:24] #48 closed

[2016-04-18 14:26] jasonLaster commented on #67
@jlongster Firefox devtools work beautifully here.

Here's a *fix*
https://gist.github.com/1f18b7fb5882cb0635596dd3651cb862

I bet it's a bug on how devtools handles stepping with these object accessors. Will file a crbug

[2016-04-18 14:39] jlongster commented on #67
I'd really rather not make our code uglier to cater to Chrome's devtools. :)

[2016-04-18 15:30] jasonLaster commented on #68
from meeting: this is the desired behavior, when the debugger detaches it removes breakpoints. just like the FF debugger closing.

[2016-04-18 15:30] #68 closed

[2016-04-18 15:45] clarkbw commented on #45
Done!

[2016-04-18 15:45] #45 closed

[2016-04-18 15:47] clarkbw commented on #50
Closing this out now that #60 has landed and we're going away from xpcshell.

[2016-04-18 15:47] #50 closed

[2016-04-18 17:26] jasonLaster commented on #58
done!

[2016-04-18 17:26] #58 closed

[2016-04-18 17:28] jasonLaster opened #73 "Node test script should avoid bundling"
The node test script currently bundles and transpiles the source for node. It should be possible to avoid bundling the source and instead use babel-register.

This will have a performance win. It will also be easier to debug.

https://github.com/jlongster/debugger.html/issues/57#issuecomment-210608020

[2016-04-18 17:30] jasonLaster opened #74 "Test scripts should find all js test files"
Currently the node + browser test scripts only file test files in a test folder. The script should be able to recursively search for test folders and then add tests files.

[2016-04-18 17:31] jasonLaster commented on #57
Closing this issue because we now have the node test script working. Added two smaller issues for enhancements.

[2016-04-18 17:31] #57 closed

[2016-04-18 17:33] jasonLaster opened #75 "Debug Button enhancements"
we just added the buttons, but there are some enhancements that would be nice to land:

- [x] The buttons should appear on the top of the sidebar (not below breakpoints)
- [x] the handlers should invoke redux actions that talk to the threadClient
- [x] the buttons use real icons :wink:

[2016-04-20 21:55] clarkbw opened #79 "Consider keeping deps up-to-date with greenkeeper.io"
Greenkeeper is popular with other major open source projects.  I've used greenkeeper my own projects and find it really useful.  It takes the work out of tracking package dependencies by auto-monitoring them and bringing them to our attention as needed.

https://greenkeeper.io/#how-it-works

@jlongster is the admin so he will have to enable this if we want it.

Here's an example of what it will do

[2016-04-21 15:07] jasonLaster commented on #67
This was addressed with a babel plugin for function params

[2016-04-21 15:07] #67 closed

[2016-04-21 15:10] jasonLaster commented on #46
I believe this one is done

[2016-04-21 15:12] jasonLaster commented on #63
Actually, not fixed yet

[2016-04-21 15:12] jasonLaster commented on #44
We're getting close.

Scrolling on a pause event works in firefox, but not in chrome because the editor height is screwy in chrome. (being addressed in #63)

[2016-04-21 15:42] clarkbw commented on #47
Is @helenvholmes going to take this on?

[2016-04-21 17:51] jlongster commented on #47
I was going to fix the breakpoint styles in by breakpoint patch, but I'm still rebasing it. I'm not sure about matching the current syntax highlighting; that might we something we should push off to a later sprint.

[2016-04-21 18:54] jasonLaster commented on #63
This comment offered a solution/hack around a codemirror parent / grandparent https://github.com/codemirror/CodeMirror/issues/3679#issuecomment-171533964

[2016-04-21 21:41] clarkbw commented on #47
Ok, lets bump this out for now.

[2016-04-21 22:11] jasonLaster commented on #79
Thanks for bringing this up @clarkbw. I'd like to try greenkeeper and see if it helps us.

I've been bitten in the past by stale dependencies and at the very least, this could give us a signal of how we're doing. Also, it's definitely helpful to pay down the dependency debt incrementally before it builds up.

[2016-04-21 22:12] jasonLaster commented on #75
:heavy_check_mark:

[2016-04-21 22:12] #75 closed

[2016-04-21 22:13] jasonLaster opened #86 "Align Action Buttons to Pixel Grid"
Spoke with Helen today, and will do a quick pass on some of our SVG icons

~~- [ ] make the width / height consistent~~
~~- [ ] set fill states (disabled, hover, active)~~
~~- [ ] convert stroke widths to paths for pixel snapping~~

[@helenvholmes Edits]:
- [x] pause
- [x] play
- [x] step into
- [x] step out
- [x] step over
- [x] remove all breakpoints
- [x] blackbox source
- [x] pretty print

[2016-04-21 22:13] jasonLaster commented on #69
Fixed

[2016-04-21 22:13] #69 closed

[2016-04-21 22:14] jasonLaster commented on #63
Fixed! Yessssss

[2016-04-21 22:14] #63 closed

[2016-04-21 22:14] #46 closed

[2016-04-22 12:11] jasonLaster commented on #47
There's a PR for it

Helen is updating gecko DevTools colors now and will be able to do this after that.

[2016-04-22 14:35] clarkbw commented on #47
Ok, #85 is handling the break point styles.
I've put the syntax highlighting into a separate card in the Aha backlog

[2016-04-22 18:24] clarkbw commented on #49
I don't think we're going to get to this into Sprint 3, might want to leave it for the next sprint.

[2016-04-25 14:05] jasonLaster commented on #49
agreed.

[2016-04-25 14:19] jasonLaster opened #90 "Convert browser test script to a server"
Currently, the browser test workflow is two steps:

1) run `npm run browser-test`
2) refresh browser tab with the tests.

If we create a browser test server, similar to debugger server, then the browser test build will be built on the fly and returned.

[2016-04-25 15:04] #47 closed

[2016-04-25 19:52] jasonLaster opened #93 "Move build directory into public"
It'd be nice to move the build directory into the `public`. The rationale is that then all debugger assets are under public.

- [ ] move build directory
- [ ] update webpack config
- [ ] update server.js
- [ ] update test runners

[2016-04-25 20:58] jlongster commented on #52
This will be fixed in https://github.com/jlongster/debugger.html/pull/94

[2016-04-26 13:19] jasonLaster opened #96 "Fixup debug buttons when not paused"
There are two problems with the debug buttons when the debugger is not paused:

1) The resume button is shown instead of the pause button
2) The step in, step over, step up buttons are active and not disabled

[2016-04-26 20:30] #90 closed

[2016-04-26 20:33] clarkbw opened #99 "Investigate Call Stacks"
**User Story**

As a user who has paused the debugger I would like a display of the current frames in the call stack such that I can see the chain of events that brought me to the current code as well as jump from this frame to another to view the source code.

- [x] Selecting a frame opens the source location

- [x] List of all frames in the stack
    Below the break points and above the scope

[2016-04-26 20:34] clarkbw opened #100 "Investigate Pretty Print Source"
**User Story**

As a developer who is using minified source code I want to be able to convert the code into a pretty print version such that I can more easily read and understand the code.

**Notes**

Firefox replaces the current source code with the pretty printed version so an improved interaction like how Chrome creates a new source filed `x.js:formatted` isn't in scope just yet.

**UX needs**

[2016-04-26 20:34] clarkbw opened #101 "Investigate Conditional Breakpoints"
**User Story**

As a developer who is debugging their code I need a breakpoint that only triggers under certain scenarios such that when a certain expression is true my breakpoint will pause execution.

**Notes**

Chrome Implementation:&nbsp; [https://developer.chrome.com/devtools/docs/javascript-debugging/conditional-breakpoint-region.jpg](https://developer.chrome.com/devtools/docs/javascript-deb

[2016-04-26 20:34] clarkbw opened #102 "Simple variable scope list"
**User Story**

As a web developer who is stepping through their code I want to see the available variables and current scopes involved in the page such that I can inspect the values of my variables and be aware if any of them are hoisted out of my expected scope.

- [x] List of scopes
    On the right hand side, under the breakpoint list.

- [x] List of variables within scopes
    Variables are l

[2016-04-26 20:34] clarkbw opened #103 "Investigate Tree View Component"
Investigate and review the various Tree View components available as modules compared to the internal Firefox Tree View module available. &nbsp;This module will be the basis for the Source Code Tree View.

[2016-04-26 20:34] clarkbw opened #104 "Investigate Source Tree View"
**User Story**

As a developer I would like the various JS source files organized by domain and folder such that I can easily navigate the hierarchy to find the files I'm looking for.

- [ ] Tree Node for each non-empty directory

[2016-04-26 20:38] #52 closed

[2016-04-26 20:39] #74 closed

[2016-04-27 14:39] jlongster commented on #79
I just enabled it. We'll see how it goes. I worry that it will be too much distraction this early. I wish there was just a simple CLI program that I could run to manually see which things are out-of-date. Many packages don't have security risks and don't really need to be updated frequently.

[2016-04-27 14:39] #79 closed

[2016-04-27 15:17] jasonLaster opened #108 "Fix Storybook"
We broke Storybook yesterday when we added actions to the breakpoint component. Not a big deal, storybook is **not** on the critical path.

Root cause:

Storybook's webpack config has a babel loader that does not exclude ff-devtools-libs and is causing an issue with Task.async.

Fix:

I'm going to look into a simple upstream fix that will let us write the webpack config that storybook uses.

[2016-04-27 15:20] jasonLaster commented on #93
done

[2016-04-27 15:20] #93 closed

[2016-04-27 16:25] jlongster commented on #99
I will work on this

[2016-04-27 18:50] jasonLaster opened #111 "Add Logging and Assertions in dev mode"
There are three things here:

- [ ] logging
- [ ] assertions
- [x] development mode

Logging: we could use DevToolsUtils and `wantLogging`
Assertions: we could use DevToolsUtils assert and `testing`

development mode - it might be nice to set this in environment.json

[2016-04-28 14:14] jasonLaster commented on #111
There should be an environment.json flag for turning on network logging DevToolsUtils.wantLogging or something like that. The goal is to see messages like `attach` `detatch`, ...

[2016-04-28 15:28] jasonLaster opened #113 "Refreshing the debugger fails to detatch"
Steps:
1. set a breakpoint in the debugger
2. do something in the page to trigger the breakpoint
3. refresh the debugger

What happens:
The debugger does not detatch.

What should happen:
Debugger should call detatch on unload or something to that effect.

[2016-04-28 19:55] jasonLaster commented on #44
done

[2016-04-28 19:55] #44 closed

[2016-04-29 18:14] jasonLaster opened #117 "Move Source attributes into selectors"
Currently attributes `filename` and `pathname` are set in the reducer in `_updateText`. They should be moved to selectors `getFilenameFromSource` and `getPathnameFromSource`.

[2016-04-29 19:41] jasonLaster opened #119 "Update Circle CI firefox version"
It's currently running Firefox 42...

It looks like we can improve that easily though
https://discuss.circleci.com/t/installing-the-latest-version-of-firefox-in-circleci/1347

[2016-04-29 19:48] TatumCreative commented on #103
For my reference, existing Firefox Tree View components:
fitzgen's: https://github.com/mozilla/gecko-dev/blob/master/devtools/client/shared/components/tree.js
honza's: https://github.com/mozilla/gecko-dev/tree/master/devtools/client/shared/components/tree

[2016-05-01 20:15] jasonLaster opened #122 "Investigate Integration Tests"

[2016-05-02 14:58] clarkbw commented on #102
#118 handled this, there's a bit more work that could be done to style it but we've satisfied the simple implementation for now.

[2016-05-02 15:04] clarkbw commented on #99
#121 has some of this work

[2016-05-02 15:11] jasonLaster commented on #101
I'll have some time later today to start working on this

[2016-05-02 15:17] jasonLaster commented on #122
I have a couple of ideas for running end to end tests with a debuggee and debugger.

[2016-05-02 15:19] jasonLaster opened #126 "Nested Accordions"
Because of how the CSS is setup when the parent pane is open, it's children will be as well.

I'm not sure if this is something we should prioritize. Also, I'm not sure if the accordion ui makes sense for scopes.

![nested accordions](https://cloud.githubusercontent.com/assets/254562/14958219/a4c30a34-1057-11e6-9dca-6b7e4a35b458.png)

[2016-05-02 16:03] jasonLaster commented on #102
Lets call it done and add more polish tickets. @clarkbw, would you have time to play with it and create some polish tickets for this week or next sprint.

[2016-05-02 16:15] jlongster opened #127 "Add hot reloading"
We're at the point where hot reloading would be super useful, because you can develop with a bunch of state already built up. I know storybooks are another way to do this, but we should be able to hot reload the main app as well. I'm working on hooking it up.

[2016-05-02 16:16] clarkbw commented on #102
Definitely!  I'll take a look at it later today and file some tickets.

[2016-05-02 16:16] #102 closed

[2016-05-02 17:54] jasonLaster commented on #96
Fixed

[2016-05-02 17:54] #96 closed

[2016-05-02 17:59] jlongster commented on #127
The hot reloading story of React today is a little shaky. A new version of react-hot-loader is being worked on but it's not stable enough yet. We could use the old version, but it doesn't support functional components.

It also involves more boilerplate setup code. I'd love to get this working, but it just doesn't seem stable enough yet. My code got it working, but components seemed to lose local

[2016-05-02 19:51] jasonLaster commented on #111
#128 is a step forward for development configs, which will be a useful place for flagging logging / assertions

[2016-05-02 19:52] jasonLaster commented on #108
Building `ff-devtools-libs` fixed this

[2016-05-02 19:52] #108 closed

[2016-05-02 19:52] jasonLaster commented on #73
Using mocha with babel compiler fixed this

[2016-05-02 19:52] #73 closed

[2016-05-02 22:05] gabrielluong opened #129 "Disable APZ for source editors"
The current version of APZ (async pan zoom) can cause tearing effects in the source editor where the line numbers float around disconnected from the code.

See https://bugzilla.mozilla.org/attachment.cgi?id=8722367

[2016-05-02 22:29] jasonLaster opened #131 "Cross out optimized away scope properties"
Properties that are optimized away should be crossed out.

![screen shot 2016-05-02 at 6 30 37 pm](https://cloud.githubusercontent.com/assets/254562/14970024/c0bfcb32-1093-11e6-91c4-f13c020729b7.png)

[2016-05-02 22:30] jasonLaster opened #132 "Investigate showing scope property values"
We're currently ignoring property values in the scope pane.

We should investigate what would go into showing them:

- tree view
- Reps component
...

[2016-05-02 22:32] jasonLaster opened #133 "Show Breakpoint "Snippets""
We're currently ignoring showing breakpoint snippets. We should try and show them with the same logic used in the current debugger.

![screen shot 2016-05-02 at 6 33 29 pm](https://cloud.githubusercontent.com/assets/254562/14970061/19517d7c-1094-11e6-8ed5-7b060bc4a585.png)

[2016-05-02 22:36] jasonLaster opened #134 "Update Editor Syntax Highlighting"
The current debugger's syntax highlighting is dark and depressing. We should update it to use Firefox's new colors.

![syntax highlighting](https://cloud.githubusercontent.com/assets/254562/14970135/b3d7d12a-1094-11e6-9730-cd84c7b20c67.png)

[2016-05-03 16:17] clarkbw opened #136 "Style source files in the Sources list"
The images for source files and domains seems like it isn't lined up vertically with the text.
Likely a `vertical-align: middle` is what we need.
![screen shot 2016-05-03 at 9 14 50 am](https://cloud.githubusercontent.com/assets/2134/14990035/991fdc30-110f-11e6-81e6-49d5b5ff5d75.png)

Also, source files are sometimes bumped to the next line. We'll likely want to do a text-overflow elippsis

<img w

[2016-05-03 17:53] jasonLaster commented on #55
this is being handled elsewehere

[2016-05-03 17:53] #55 closed

[2016-05-03 18:49] #99 closed

[2016-05-03 19:21] jlongster commented on #126
I think when we get the tree view we'll use a tree view instead. Each scope will be a top-level entry.

[2016-05-03 19:25] jlongster commented on #53
This has been fixed, and we are looking into a tree view next

[2016-05-03 19:25] #53 closed

[2016-05-03 19:26] jlongster commented on #86
I vote we close this bug and break it up into something more specific to which icons. I know she's going to give up new pause/step icons soon, but it's not clear which icons this issue is talking about.

[2016-05-03 19:29] #119 closed

[2016-05-04 00:58] #129 closed

[2016-05-04 03:18] markerikson commented on #104
Please.  This is one of the core reasons why I currently use Chrome DevTools as my primary debugging environment.  (Also the fact that the FF DevTools don't seem to have a single "Breakpoints" pane like Firebug used to, but rather breakpoints are hidden by what file they're in.)

[2016-05-04 03:21] markerikson commented on #104
Also: there's several React-based treeviews out there.  I spent a chunk of time cataloging them for my own project at work, and have a bunch of them bookmarked at https://pinboard.in/search/u:acemarke?query=widget%2Btree .  However, I actually wound up writing my own.  The current implementation is specific to my app, but if there was interest I might be able to extract a more generic version and

[2016-05-04 03:23] markerikson commented on #104
Hmm.  Actually, my comments maybe shoulda gone on #103.

[2016-05-04 03:23] clarkbw commented on #104
Yes, we should have linked those two together previously.

[2016-05-04 03:24] clarkbw commented on #104
Also, thanks for you comments @markerikson

We have a unified break point list now, take a look at a recent screenshot:
![screen shot 2016-05-03 at 20 21 10](https://cloud.githubusercontent.com/assets/2134/15004505/bf8011a8-116c-11e6-9adf-b2df451134bd.png)

[2016-05-04 03:28] clarkbw commented on #103
@TatumCreative make sure to take a look at the comments by @markerikson in https://github.com/jlongster/debugger.html/issues/104#issuecomment-216732509

[2016-05-04 04:21] clarkbw commented on #133
The previous text logic is here: https://dxr.mozilla.org/mozilla-central/source/devtools/client/debugger/content/actions/breakpoints.js#69 but needs to be adapted.

[2016-05-04 14:31] clarkbw commented on #126
Just to note that #132 is related to this for showing the scope property values.
And #103 is the higher level tree view component investigation

[2016-05-04 14:47] jasonLaster commented on #126
sgtm

[2016-05-04 14:54] jasonLaster commented on #122
Currently working on a webdriver for the debuggee. The goal is to be able to progromatically open firefox and issue commands like, click this element, evaluate this code, etc.

There are two pieces to this:
1. webdriver configuration
2. Firefox Profile

##### Webdriver

At this point i'm leaning towards `webdriver.io`, which has great docs, seemingly strong community, and also an active gitter cha

[2016-05-04 15:46] jasonLaster opened #140 "Update Configuration"
- [ ] investigate `nconf`, which has better support for default configs and environmental variables
- [ ] move configs to the top level directory, which will make it easier to add things like `server port`, etc...
- [ ] support a logging mode, which will turnon DevTools.wantLogging or something like that.

[2016-05-06 16:46] jasonLaster opened #145 "Editor scrolling relies on scrollBy"
Chrome scrollling was temporarily broken due to not supporting `scrollBy`.

This commit fixed it, https://github.com/jlongster/debugger.html/commit/9164c084f64a3e12f126b6a608772e801a2e784e, but opens the question of whether we want to use an API that only works in firefox.

Moreover, when i tested the editor scrolling with the trackpad in `jquery.js` i could not find a slow down, which the @gabrie

[2016-05-06 19:25] jasonLaster opened #146 "Right sidebar components rely on accordian css for styling"
The frame and breakpoints pane rely on additional accordion markup for styling.

This is  a problem because the components will look bad if they are anywhere else.

This storybook example shows the markup needed to render a call stack
https://github.com/jlongster/debugger.html/blob/master/public/js/components/stories/Frames.js#L38-L39

Current Bad Version:
[code]

When we've fixed the css, we shou

[2016-05-06 20:57] #113 closed

[2016-05-06 21:04] jlongster commented on #145
Yeah, this is worth looking at again. I've noticed the gutter problem before, but we may be prematurely fixing it. By the time we launch the debugger it may be fixed. Anyway, I'm fine keeping the code in editor.js there, but for now maybe we should disable the 1-line in the editor component that calls it.

[2016-05-07 15:48] jasonLaster opened #150 "Fix: Warning: Using Maps as children"
We've had this warning for the past couple weeks. Should be easy to find the component that's using a map.

[code]

[2016-05-07 16:05] jasonLaster commented on #122
I'm working on adding CI support and ironing out some of the kinks in selenium:
https://github.com/jasonLaster/debugger.html/tree/cypress2

CI support:
- [ ] cypress run headlessly in an older version of electron, which does not support es6. Cypress will upgrade electron when one feature lands (hopefully soon). In the mean time, I'm adding a babel bundle endpoint so that the tests run headlessly.

[2016-05-08 12:51] jasonLaster commented on #122
Sorry if that last comment was too implementation specific. I wrote it yesterday because I didn't want to lose the context if I'm away for a week.

I forgot the most important point - the integration tests are running successfully on circle and heedlessly in the terminal. When I get back I'll polish and PR.

[2016-05-09 05:15] gabrielluong commented on #145
The behaviour we added in 9164c08 is really only relevant for firefox because of APZ. We should really only have a check if the browser is firefox when adding scrollBy.

[2016-05-09 14:59] jasonLaster commented on #145
Sounds good @gabrielluong.

We could probably add an `isFirefox` function in `configs/feature.js`

[code]

[2016-05-10 21:18] jlongster commented on #103
Let's merge this with #104. We've done the investigation, now we just need to tie it back to the sources view.

@TatumCreative I'll ping you tomorrow because I should have a basic sources tree working with Nick's tree view then. We should compare notes.

[2016-05-10 21:18] #103 closed

[2016-05-10 21:19] jlongster commented on #104
Been working on this most of today. I should have something based on Nick's tree pretty soon, and Greg has implemented a basic tree with Honza's. I'll coordinate with him to get this resolved.

<img width="291" alt="screen shot 2016-05-10 at 5 16 56 pm" src="https://cloud.githubusercontent.com/assets/17031/15162883/5c2f41de-16d3-11e6-8ea7-b33d01f87369.png">

[2016-05-11 15:22] jasonLaster commented on #104
Yay!

[2016-05-11 15:49] clarkbw opened #153 "Demo of a build in Firefox"
&nbsp;The focus of this issue is only to create a demo worthy bundle of debugger.html that works within Firefox for the London work week. &nbsp;There are several issues related to releasing the debugger.html project in Firefox most of which this issue is not focused on.

- [ ] Pausing / Resuming

- [ ] Step over, in, out

- [ ] Breakpoints (creating / removing)

- [ ] Breakpoint listing (toggling)

[2016-05-11 16:02] clarkbw opened #154 "More generic application state"
With multiple platform targets as a primary goal we need to review how our debugger handles application state which has likely become very Firefox specific. &nbsp;We should focus this refactor of our current application state on the planned platform targets.

This covers applications state such as:

- Breakpoints
- Pause
- Resume
- Source Text
- Tab List

Planned platform targets:

- Firefox (&nbs

[2016-05-11 16:06] clarkbw opened #155 "Investigate connecting to Node"
Investigate a demo of debugger.html connecting to Node.js over the Node remote debug protocol. &nbsp;This investigation should also include running&nbsp;within the Electron framework to provide a viewer and target for shipping.

Similar projects:

- [https://github.com/Jam3/devtool](https://github.com/Jam3/devtool)

[2016-05-11 19:38] TatumCreative commented on #104
I have the code in a [branch](https://github.com/TatumCreative/debugger.html/tree/tree-view-honza) with honza's component over here: https://github.com/TatumCreative/debugger.html/commit/12e5762437159584cbd9367889002f7a4ca3b8df

[2016-05-11 23:04] clarkbw commented on #49
Here's what I've learned so far experimenting with running inside Chrome.

## Chrome Extension

Chrome allows for most of the pieces we need but ultimately prevents us from running as a real debugger within a devtools panel.

Chrome allows for extensions to access the Chrome RDP via an API: https://developer.chrome.com/extensions/debugger and it also allows for us to create our own panels https://

[2016-05-12 03:12] jlongster commented on #104
Greg and I talked and while both trees could be sufficient, the one the memory tool uses is much simpler and lower-level and easier to leverage. That also means it is much simpler to use in our separate project (just copy the 1 file). While it needs some love to be more user-friendly, once I figured out how to use the low-level API it was easy to wrap a SourcesTree around it.

I'll be working with

[2016-05-12 04:29] jasonLaster commented on #49
Thanks Bryan for investigating.

[2016-05-12 05:05] jasonLaster opened #156 "Create a standalone application"
It would be nice to demo the debugger as a standalone electron app. This would be very easy to do if we publish debugger.html as an npm package.

- [ ] create a debugger.html npm package
- [ ] add a `bin` script for starting the dev-server or add a publish script for bundling.
- [ ] version debugger.html `0.0.1`
- [ ] use the debugger.html index

[2016-05-13 15:44] jlongster commented on #155
Jason, although this is assigned to me, feel free to explore this area too. I got node connecting last December and I have some ideas about it, but you'll be working on Chrome which is similar work, so feel free to work on this too. Let's talk next week about it.

[2016-05-13 16:07] jasonLaster opened #158 "Add File Search modal"
Add a file search modal that opens on cmd+p, and finds files with fuzzy search.

<img width="520" alt="screen shot 2016-05-13 at 9 01 24 am" src="https://cloud.githubusercontent.com/assets/254562/15253866/f7580ca6-18e8-11e6-8679-90413d3fc09a.png">

- [ ] use a modal (it might make sense to borrow one from the community)
- [ ] use a fuzzy search algorithm [1]
- [ ] on select jump to file
- [ ] up /

[2016-05-13 16:08] jasonLaster commented on #158
@gabrielluong will take a stab at this

[2016-05-13 17:29] jlongster commented on #156
Are you planning on doing this in this sprint? This isn't technically part of this sprint, and I think it's more important to start working on making the app state more generic so we can connect to chrome/node (#154).

[2016-05-13 17:31] jlongster commented on #136
Closing this as we have a tree view now and I think the styling is good enough for a demo, and there are more important things to do. I'm going to file some bugs for the tree view behavior that a beginner could do if they want.

[2016-05-13 17:31] #136 closed

[2016-05-13 17:33] jlongster opened #160 "Collapse folders with a single child in the sources tree view"
Right now the tree view creates a new level for every single folder. However, if a folder only contains a single child, we should collapse it so

[code]

becomes

[code]

[2016-05-13 17:34] jlongster commented on #160
This can all be done in the `addToTree` function here: https://github.com/jlongster/debugger.html/blob/master/public/js/util/sources-tree.js#L62 If that function gets any more complex, we should probably split it up some.

Note that this is complex because we incrementally create the tree. It should collapse it at first, but if another source comes in (like `foo/file.js`) it will have to "uncollap

[2016-05-13 17:34] clarkbw commented on #154
Might also be useful to take a look at http://remotedebug.org/ / https://github.com/RemoteDebug for existing information already gathered on a more generic debug state.

[2016-05-13 17:36] jlongster commented on #158
Nice! This would be great to have early on.

[2016-05-13 18:47] jasonLaster commented on #156
That's a good point. I'll probably sandbox it at an hour as an experiment.

[2016-05-13 19:02] jlongster commented on #156
Cool, that's totally fine, just wanted to get it in aha if you were going to work on it!

[2016-05-13 20:24] clarkbw commented on #104
#157 landed so I believe this is done.  There is lots of polish work left, like #160 is one of our original requirements but I think we can go without that for now.

[2016-05-13 20:55] #150 closed

[2016-05-13 20:57] jlongster commented on #153
I created a new tool and threw the js and css bundles in there, and it partially works! I did have to rework our `main.js` entry point to allow this toolbox to install the RDP connection that it already has, but that wasn't too bad. I'll create a PR for that next week.

There are also some weird issues about the old debugger catching events (like paused, etc).

But it *looks* pretty good!

<img wi

[2016-05-14 00:53] #104 closed

[2016-05-14 03:58] jasonLaster commented on #153
I'd say so. Looks really nice in its natural home.

[2016-05-16 15:01] jasonLaster opened #162 "Update docs"
The docs should have steps for running the tests, linting, ...

[2016-05-16 15:01] jasonLaster commented on #162
Lets also include a screenshot of what the debugger with local tabs looks like

![screen shot 2016-05-16 at 11 02 03 am](https://cloud.githubusercontent.com/assets/254562/15293339/8522dd36-1b55-11e6-9b92-a22ea1da6a83.png)

[2016-05-16 15:43] jasonLaster commented on #153
It would be nice to have a pref that shows the new html version over the old version.

[2016-05-16 15:46] jasonLaster commented on #162
I'll PR this commit https://github.com/jlongster/debugger.html/commit/0f272d97e439a51578306be296f79a85694a1024 after the integration tests land, as it's dependent on that work.

[2016-05-16 15:49] jlongster commented on #162
Yeah, I've been thinking about this too, good work. Please don't use Chrome in the screenshot!

[2016-05-16 16:15] jasonLaster opened #163 "Remove development.local warning"
Currently there is a warning:

![](https://irccloud.mozilla.com/file/dBafCneU/)

because there's a require for a file that does not exist:
https://github.com/jlongster/debugger.html/blob/master/public/js/configs/feature.js#L9-L13

We should first check if the file exists and then require the file instead of the try/catch

[2016-05-16 17:22] jasonLaster commented on #162
![screen shot 2016-05-16 at 1 24 29 pm](https://cloud.githubusercontent.com/assets/254562/15297643/34575ca6-1b69-11e6-9703-8ba0a029d4f9.png)

[2016-05-16 19:18] jasonLaster opened #166 "Add Redux Devtools"
It'd be helpful to have a development tool for seeing the redux action history. This will help newbies see what is happening and hopefully help us replay actions as well.

[2016-05-16 19:19] jasonLaster commented on #166
There's a chrome extension. we can also have a docked app logger (in development mode)

[2016-05-16 19:21] TatumCreative commented on #166
Here are the blockers for the Redux DevTools Extension in Firefox:

https://github.com/zalmoxisus/redux-devtools-extension/issues/9

[2016-05-16 19:57] jlongster opened #168 "Scopes/Variables viewer"
We're doing pretty good this sprint, so I'm going to spend a little time seeing what it looks like to apply the tree to the scopes pane. A lot of other people need this and we need to figure out the story with the tree component (across other tools). Won't spend too much time on it, but I think I can replace the accordion with the tree view without too much work.

[2016-05-16 20:22] jlongster commented on #166
There are various "monitors" and some of them are really slow. I'd like one that just does rich console.logging, but the overlay is nice too. It would be nice if we could customize which devtools to use in the config or something.

[2016-05-16 20:43] TatumCreative commented on #163
There's no `fs` module here for checking the existence of files. I'm not sure there is an easy fix for this. The only thing I can figure out is creating a separate npm run script for local development options using environment variables.

[2016-05-16 21:52] jasonLaster commented on #163
@TatumCreative What do you mean by `npm run script`?

We might need to do something with webpack or the development server.

[2016-05-16 21:55] jasonLaster opened #170 "Lint for `displayName`"
react components should have a displayName. Our eslint rules should show a warning for that, but they currently don't.

[2016-05-16 21:57] jasonLaster opened #171 "Consider removing todomvc nodemodule dependency"
Currently, we depend on todomvc module for integration tests. We also have a node_modules test-server endpoint for resolving these resources.

We should decide if
a) we want to lock todomvc's dependency
b) replace it with static files
c) remove todomvc tests entirely

[2016-05-17 17:37] jasonLaster opened #172 "Investigate typing app state"
[code]

[2016-05-17 21:53] jlongster commented on #168
I'm pretty confident that this is going to come together nicely. We're in a good place now with an existing client to fetch the properties, a tree view to view them, and the reps components to format values. Got this far today, will probably spend another half day or so on it and then work on the Firefox bundle again.

<img width="266" alt="screen shot 2016-05-17 at 5 52 06 pm" src="https://cloud.

[2016-05-18 03:27] jasonLaster commented on #168
nice!

[2016-05-18 16:15] jasonLaster opened #174 "Polish Source Tree"
- [ ] icons
- [ ] selected file UI
- [ ] layout (height, ...)

[2016-05-18 16:16] jasonLaster commented on #162
done

[2016-05-18 16:16] #162 closed

[2016-05-18 16:17] jasonLaster commented on #126
we'll use the tree

[2016-05-18 16:17] #126 closed

[2016-05-18 16:18] jasonLaster commented on #122
landed

[2016-05-18 16:18] #122 closed

[2016-05-18 16:18] jasonLaster commented on #133
done

[2016-05-18 16:18] #133 closed

[2016-05-18 16:19] jasonLaster commented on #49
after investigating there will be a couple breakdown tasks

- [ ] show chrome tabs
- [ ] setup chrome front api
- [ ] connect to tab

[2016-05-18 16:24] jlongster commented on #174
This is a little vague. I'm assuming by "selected file UI" you mean the bug where the full text isn't highlighted if it's wider then the container? Can we explain that here in detail? And I'm not sure it's worth having the 3rd item "layout". That's pretty subjective and we'll do whatever Helen designs. I think it's fine for now.

Also, fwiw I'd rather focus on the feature in https://github.com/jlo

[2016-05-18 16:25] jlongster commented on #171
I vote that we just add the static files. It just seems less subject to change.

[2016-05-18 17:28] TatumCreative commented on #174
Sounds good to me, I'll work on #160 first.

[2016-05-18 20:43] jasonLaster commented on #171
I'd vote for pinning the node_module version. It's basically the same thing, but not committed. I don't care that much though.

[2016-05-18 22:19] jlongster commented on #171
I wouldn't be surprised if we want to change the page at some point to make it easier to write a specific test. I guess I don't care that much right now, but I predict that we will want to do it in the future :)

[2016-05-19 00:50] jasonLaster commented on #171
That makes sense. I'll probably feel differently when we have other test files too.

[2016-05-19 14:38] jasonLaster opened #175 "Integration Tests should use a different websocket port"
Integration tests currently use the same websocket and tcp port to communicate with firefox. This can be a problem when you're developing locally and have firefox open and running your local tests.

The solution involves:
- [ ] running a separate firefox proxy with a different tcp / ws port
- [ ] adding the WS port configuration to development.json and perhaps a new testing.json config
- [ ] openi

[2016-05-19 15:45] jasonLaster opened #176 "Remove chrome client eval"
Chrome's client dynamically builds a bootstrap script, which it eval's on startup.

We should pre-build the bootstrap script and require it in the module.

[2016-05-19 22:51] jasonLaster opened #181 "Cypress CI intermittent issue"
Cypress CI, appears to have an intermittent where occasionally it fails to expand the source tree and select the "todo-view" file.

[code]

[2016-05-20 13:02] #176 closed

[2016-05-20 14:38] jasonLaster commented on #49
here's one more commit for adding scriptParsed: https://github.com/jlongster/debugger.html/commit/7f9b2fa964de60318b3e46129ef4d12c099f9a60

[2016-05-20 17:00] jasonLaster opened #184 "Tree.js does not scroll on focus for chrome"
Tree.js assumes it is in firefox and has a `scrollTo` function. In chrome, dom elements do not have that function so there is an error.

[code]

[code]

[2016-05-20 23:38] jasonLaster commented on #156
did an initial prototype.

<img width="793" alt="screen shot 2016-05-20 at 7 39 44 pm" src="https://cloud.githubusercontent.com/assets/254562/15444767/5df80a54-1ec2-11e6-9beb-99b43f82edfb.png">

Turned out to be pretty simple

[2016-05-20 23:47] jasonLaster commented on #156
The Electron App lives here:
https://github.com/jasonLaster/debugger.html.app

It uses a new Debugger.html npm package
https://www.npmjs.com/package/debugger.html

It works by spinning up local server that serves the bundle.js and styles.js.

It's currently missing the svgs

[2016-05-23 14:20] jasonLaster opened #187 "Chrome tabs are not shown when firefox is not connected"

[2016-05-23 14:33] helenvholmes opened #188 "Spacing on top bar kind of tight"
I'd like to increase the spacing on the top bar—this will give us bigger tap spaces on the debugger buttons and give our tabs more space.

[2016-05-23 14:51] helenvholmes opened #190 "Sidebar contrast poor"
The sidebar background is really faint, ~~and has a hardcoded width that won't let it handle numbers larger than three spaces.~~ (EDIT: never mind, looks like Codemirror handles this! :+1:)

[2016-05-23 15:02] helenvholmes opened #191 "Editor chopped off at the bottom"
I'm noticing that the bottom of the editor gets lopped off:

<img width="1279" alt="image 2016-05-23 at 10 51 13 am" src="https://cloud.githubusercontent.com/assets/1720093/15475049/d2490948-20d5-11e6-9e5d-bb4705682aab.png">

[2016-05-23 18:27] helenvholmes opened #193 "Slow loading on very large files"
@jlongster mentioned that this might be related to websockets and that it might be solved with a TCP mode for certain situations.

The current Firefox debugger is optimized for very large files, such as the [12mb file in bgrins' debugger demo](http://bgrins.github.io/devtools-demos/debugger/scripts.html).

There seems to be some lag in the debugger.html to load the source into the editor (the jump

[2016-05-24 13:06] TatumCreative commented on #163
@jasonLaster I'm referring to https://github.com/jlongster/debugger.html/blob/master/package.json#L4-L14 for an npm run script.

[2016-05-24 13:57] jlongster opened #194 "CodeMirror line numbers are not aligned"
<img width="396" alt="screen shot 2016-05-24 at 9 56 52 am" src="https://cloud.githubusercontent.com/assets/17031/15506519/f5e2eca0-2195-11e6-9611-07618efab1fc.png">

[2016-05-24 14:04] #156 closed

[2016-05-24 14:25] helenvholmes opened #195 "SVGs need license headers"
[code]

[2016-05-24 14:46] clarkbw commented on #190
I think this was closed by #190

[2016-05-24 14:46] #190 closed

[2016-05-24 14:46] clarkbw commented on #188
I believe this was closed by #188

[2016-05-24 14:46] #188 closed

[2016-05-24 15:28] helenvholmes commented on #195
I have this string aliased using Sublime Text to a snippet. You can grab that snippet [here](https://gist.github.com/helenvholmes/fdce21d5e8ce62d29dac).

[2016-05-24 15:50] helenvholmes opened #196 "Items in tree should have icons that match their type"
<img width="425" alt="screen shot 2016-05-24 at 11 50 02 am" src="https://cloud.githubusercontent.com/assets/1720093/15510515/ac71e624-21a5-11e6-94ca-6f6d3ef3d64f.png">

Domains have a little globe, folders have a folder, and workers and files have icons I'm workin' on.

[2016-05-24 18:00] helenvholmes commented on #194
Seems to only be happening on James' computer that we know of, not mine or @jasonLaster's. 😖

[2016-05-24 19:02] #196 closed

[2016-05-24 19:06] helenvholmes commented on #86
<img width="793" alt="screen shot 2016-05-24 at 3 03 26 pm" src="https://cloud.githubusercontent.com/assets/1720093/15516511/0a86ef46-21c1-11e6-946b-9a2bc453c67e.png">

Since some of the icon work was captured in #196, I'm voting we repurpose this to handle cleaning up the Debugger action icons which are looking a little wonky.

[2016-05-24 19:52] helenvholmes commented on #174
I'm going to close this based on #197 + #86.

[2016-05-24 19:52] #174 closed

[2016-05-25 18:22] jasonLaster commented on #163
@TatumCreative I'd like to have the options bunded, but this should be possible. with webpack

[2016-05-25 19:39] jlongster opened #202 "enforce types on all app state and protocol data"
We're at a point where data is moving around from and to many different places. A common source of errors are simple type errors: objects are not of the right shape and stuff like that. It would be nice to think about how we can better enforce structure of the data.

This is related to #172, but after thinking about it, the app state is rarely the source of problems. This is because the app state

[2016-05-25 20:58] jlongster commented on #202
Liking this so far, with tcomb we're able to type the entire protocol data:

[code]

The only problem I hit is that immutable's default `fromJS` doesn't convert these objects anymore, but writing our own `fromJS` is super easy. A bonus: I might be able to automatically generate immutable `[records](https://facebook.github.io/immutable-js/docs/#/Record)` from these as well so we can just access the

[2016-05-25 21:44] jasonLaster commented on #202
This looks nice.

I like typing the action boundaries.

Was just going to ask if these compose nicely, and then I saw the Location example again.

Keep going

[2016-05-25 22:46] jasonLaster opened #203 "Changing files should clear the editor active line"
Steps:
+ Pause
+ Select a different file

Notice the green active line is still there

[2016-05-25 22:47] jasonLaster opened #204 "Selecting a call stack frame should highlight the file in the source tree"
Steps:
+ Pause
+ select a frame in the call stack in a different file

Notice the source tree still has the other file selected

---

We probably dont have the ability to expand to a file in the tree...

[2016-05-25 22:54] jasonLaster opened #205 "Call Stack should show "Not Paused""
When the app is not paused it should have the label "Not Paused"

[2016-05-25 22:57] jasonLaster opened #206 "Source Tree icons should be extracted to images directory"
When we used ISvg, there was a noticable lag so we inlined the svgs in the tree. Lets move these components to the images directory or components/images

[2016-05-25 23:02] jasonLaster commented on #181
We've had four issues this past week:

1) incorrect project ID - this is fixed. I accidentally changed the key when looking into the header issue.
2) Header - this is fixed. It was a short lived regression when cypress went from 0.15.x to 0.16
3) no tabs - this is fixed. There's an infrequent race condition between loading todomvc in firefox and loading the debugger. I fixed it by adding a one sec

[2016-05-25 23:21] jasonLaster opened #207 "Add additional pause options"
We should add
+ "toggle breakpoints" which enable/disables breakpoints.
+ Pause on Exceptions

Added a "questions" label so that we can discuss:
+ where the actions should live
+ which icons to use

My preference is to place the actions in the top right next to the other pause actions (step, resume).

I don't have strong preferences on icons. I'd assume we carry over firefox's enable.disable icon,

[2016-05-25 23:24] jasonLaster opened #208 "Add center landing section"
Currently, when the debugger opens the Editor is shown with "...".

![screen shot 2016-05-31 at 3 47 33 pm](https://cloud.githubusercontent.com/assets/254562/15688164/afdd00c2-2746-11e6-8a7d-d8a6ce2b56c8.png)

The designs show a landing section that prompts users to search for a file.

![screen shot 2016-05-31 at 3 48 01 pm](https://cloud.githubusercontent.com/assets/254562/15688161/a9afb1c2-2746-

[2016-05-26 12:33] jasonLaster commented on #203
I believe the issue is how the paused `debug-line` is set. The `Editor.componentWillReceiveProps` function currently has a `setDebugLine` and `clearDebugLine` that expects line to be set in selectedSourceOpts and not come from the pause location. If we add the debug line in `selectSource` when we pause that should fix the problem. Also, we will have removed the editor depenendency on pause info wh

[2016-05-26 12:44] jasonLaster opened #209 "consolidate selectedSource and selectedSourceOpts"
Currently we store the selected source in its own field and other options like line and column separately.

This creates some inconsistencies, which we could clean up by keeping the source id and other options in selected source and accessing the source from the store when we need it.

This will also make selectedSource more similar to other types like location which only store the source id.

Thi

[2016-05-26 12:59] jasonLaster opened #210 "Integration tests should test chrome as well"
We've recently added support for chrome debugging, which should also be tested with our integration tests so that we don't have regressions there.

[2016-05-26 13:03] jasonLaster opened #211 "Chrome debug line is off"
It looks like when chrome pauses, the debug line is off by a couple lines.

[2016-05-26 13:05] jasonLaster opened #212 "Add component unit tests"
It would be nice to be able to write unit tests against our components.

Tests would render components with fixture data, like storybook, and have assertions on the shape of the component and handler functions.

We did some of this investigation work on tuesday:

things to consider:
+ jsdom environment
+ shallow render

[2016-05-26 13:23] jlongster commented on #209
I'm not sure about this. `selectedSource` sounds like it's the source object (that should have id and other properties). The `selectedSourceOpts` is basically editor state, so maybe we should just rename it.

[2016-05-26 13:34] jasonLaster commented on #209
Yeah, I was thinking about this as well.

We might want to rename `selectedSource` to `selection` or `selected`

The pain point came last night when i was pairing with another person and he got tripped up on `selectedSourceOpts` and `selectedSource` and it seemed like this could be simplified.

[2016-05-26 13:36] jlongster commented on #209
It would help your argument if you explained what he was trying to do and what he was confused by. I think you're right, but hearing more about that would be good.

[2016-05-26 13:37] jlongster commented on #209
Because the downside is that the selected source is used very frequently, especially in tests, so it's nice that's it's a first-class part of the app state. I look for it when debugging and logging the app state, etc.

[2016-05-26 13:45] jasonLaster commented on #49
done.

[2016-05-26 13:45] #49 closed

[2016-05-26 13:46] jasonLaster commented on #100
I don't think we will get to this pre-london, so closing for now. Feel free to open when you're ready to work on it.

[2016-05-26 13:47] #100 closed

[2016-05-26 13:48] jasonLaster commented on #86
@helenvholmes are those debugger icons done and ready to be added? Or do you still need to clean them up before they are added?

[2016-05-26 13:48] jasonLaster commented on #101
We are not going to get to this pre-london, so closing for the time being. Lets re-open when we're ready to tackle.

[2016-05-26 13:49] jasonLaster commented on #111
I'll take a look at this next week.

[2016-05-26 13:50] jasonLaster commented on #127
@jlongster do you think we can do this pre-london?

I think it's a nice polish piece for our infrastructure.

[2016-05-26 13:50] jasonLaster commented on #134
@helenvholmes are the color / themes updated in the current debugger and ready to be applied?

[2016-05-26 13:51] jasonLaster commented on #131
This will be handled by james' scope properties work

[2016-05-26 13:51] #131 closed

[2016-05-26 13:52] jasonLaster commented on #140
This is an old bug and the concerns have shifted slightly. I'm closing because it's no longer accurate. I still think we should improve configs, but this is not quite right any more.

[2016-05-26 13:52] #140 closed

[2016-05-26 13:53] jasonLaster commented on #154
I believe we said this is done and the investigate node bug would be our next item.

[2016-05-26 13:53] #154 closed

[2016-05-26 13:53] jasonLaster commented on #158
@helenvholmes mind adding some of your designs here. Specifically the file search design

[2016-05-26 18:11] jlongster commented on #202
So, yeah this is working out really well so far. I love tcomb's API. I agree: we'll most likely end up with a `types` folder that lays out all of our types.

After working with this, I realized that we really do want to apply the types in many places. For example, we have a `Location` type, and we should apply that in the protocol, the app state, and React components (prop types). But this is hard

[2016-05-26 18:50] jlongster commented on #202
Another *big* benefit that we get from typing all the state is that we will rarely use `fromJS` anymore. The types know how to "hydrate" themselves, meaning that can take an ordinary JS object and recursively convert it to the appropriate types automatically. If we pull off integrating immutable.js with tcomb (which my experiment validates), we'll get automatic conversion from JS->immutable where

[2016-05-26 18:59] jlongster commented on #172
Let's merge this into #202

[2016-05-26 18:59] #172 closed

[2016-05-26 20:20] TatumCreative opened #214 "sources with file:// urls not working"
Not sure what the issue is, but the debugger doesn't through an error, and remains blank with no sources loaded in.

[2016-05-26 20:35] helenvholmes commented on #158
Here were the designs we worked on on Tuesday:

<img width="851" alt="screen shot 2016-05-26 at 4 35 23 pm" src="https://cloud.githubusercontent.com/assets/1720093/15589218/e22e3f90-235f-11e6-917d-b91af710dbb4.png">

[2016-05-26 20:36] helenvholmes commented on #134
Yep, the syntax highlighting in gecko-dev/fx-team should be good to go here.

[2016-05-26 20:37] helenvholmes commented on #86
I unfortunately didn't have tie to work on them yesterday/today—they still need some polish before I add them.

The relevant file is [here](https://www.dropbox.com/s/e1uarq0esre4qjj/Icon-Generator.sketch?dl=0).

[2016-05-26 23:58] jasonLaster commented on #214
Mind sharing a test file?

[2016-05-27 00:23] jlongster commented on #214
I noticed this before at one point, it's probably out URL parsing. Should be easy to reproduce.

[2016-05-27 02:40] TatumCreative commented on #214
@jasonLaster http://gregtatum.com/tmp/sources.zip

[2016-05-27 16:07] jlongster commented on #204
FWIW Chrome does not do this. If we are mimicking "tab" functionality, showing a source just opens a new tab but by default does not touch the tree. It's similar to other editors as well that don't automatically move around the tree. We should have an option for "open in tree" though.

I'm fine if we want to do this now, though, until we actually have tabs.

[2016-05-27 16:08] jlongster commented on #203
I like this changes a lot. I am going to work on this. I think the cause for Chrome's debug line being off is related to this.

[2016-05-27 16:26] jasonLaster commented on #204
Oh interesting. I'll close the issuer and later we can open a new issue for "reveal in tree" or something like that

[2016-05-27 16:26] #204 closed

[2016-05-27 20:37] #211 closed

[2016-05-31 16:24] #187 closed

[2016-05-31 18:48] #203 closed

[2016-05-31 19:34] helenvholmes commented on #86
@jlongster: we'd talked about possibly changing pretty print, correct? Did you have other thoughts on what that could be?

[2016-05-31 19:43] jasonLaster commented on #209
I believe this was fixed recently

[2016-05-31 19:43] #209 closed

[2016-05-31 19:54] jlongster opened #221 "Sliding breakpoints do not work anymore"
We broke sliding breakpoints when changing the location structure to use `sourceId`. They just disappear. Additionally, how we do the snippet for breakpoints will not work if a breakpoint slides. I am currenty fixing this.

[2016-05-31 21:23] jlongster commented on #86
@helenvholmes not that I remember? The only ones I wanted to change was step in and out. They should be the same as our current debugger (the general shape at least). The pretty-print one is fine with me!

[2016-05-31 22:49] jasonLaster commented on #86
I like pretty print too

[2016-06-01 12:14] helenvholmes commented on #86
Ah, awesome—I have those changed in the branch I'm working on then, rad. Disable (remove?) breakpoints + blackboxing look fine too then?

[2016-06-01 12:55] jasonLaster commented on #86
Yay! @helenvholmes looks good.

[2016-06-01 14:36] jlongster commented on #221
Fixed in https://github.com/jlongster/debugger.html/commit/c12595084ccab3c33f39a532e74d809bf7159d3c

[2016-06-01 14:36] #221 closed

[2016-06-01 18:46] #86 closed

[2016-06-01 21:46] #160 closed

[2016-06-02 13:47] jasonLaster opened #226 "Fixtures are stale"
The fixture data we are using is out of date. This is not a surprise as we have added features and changed the reducers quite a bit.

The stale fixtures are breaking storybook and will also break component unit tests that we write.

I'll try and write a small script for updating the fixtures so that we can automate this going forward.

[2016-06-02 13:49] jasonLaster commented on #210
I did the first part of this, which was getting the integration tests to run with chrome.

I'll do the second part soon, which will be getting the integration tests to run on CI with chrome.

[2016-06-02 13:55] helenvholmes commented on #51
@clarkbw, do you think this will get completed by the demo? (I suspect people will want to contribute after seeing the demo, it'd be great to have a contributing doc by then.)

[2016-06-02 14:06] helenvholmes opened #227 "Top bar's gonna look too big when it's in Firefox"
Basically, rolling back changes in #188

[2016-06-02 14:07] helenvholmes opened #228 "Add in sub-settings menu and tighten spacing between debugger action buttons"

[2016-06-02 14:08] helenvholmes opened #229 "Move pretty print button into editor, bottom right"
Needs a white background and editor needs a few extra lines appended to the bottom so it doesn't obscure the code at the bottom.

[2016-06-02 14:08] helenvholmes opened #230 "Fix step out button"
Lines need to be at the bottom

[2016-06-02 14:09] helenvholmes opened #231 "Pause button too tall and too widely spaced"

[2016-06-02 14:10] helenvholmes commented on #195
hey @jasonLaster, any reason this isn't a good Beginner Bug?

[2016-06-02 14:35] helenvholmes opened #233 "Followup to #230: check that icon is pixelsnapped"
- [ ] step out
- [ ] pause
- [ ] play

[2016-06-02 14:37] helenvholmes commented on #191
I'm no longer able to replicate this. Is anyone else seeing this issue?

[2016-06-02 14:38] #230 closed

[2016-06-02 15:17] jlongster commented on #191
I haven't been able to repro either.

[2016-06-02 15:18] helenvholmes commented on #191
My original screenshot wasn't very clear anyway—I'll close this, we'll reopen if someone's able to replicate.

[2016-06-02 15:18] #191 closed

[2016-06-02 17:27] clarkbw commented on #168
I believe this was done in #178

[2016-06-02 17:27] #168 closed

[2016-06-02 17:29] clarkbw commented on #226
Looks like this work is taking place in #234

[2016-06-02 20:11] jasonLaster commented on #195
Nope, re-adding it.

[2016-06-02 20:14] jasonLaster commented on #229
Mentioning this because it wasnt obvious to me. The pretty print button is currently in the top right of the sidebar.

We should add a footer element below the codemirror editor, that can hold the pretty print button. The footer will be similar to how source tabs are shown as well.

[2016-06-02 20:15] jasonLaster commented on #228
nice. was thinking that too

[2016-06-03 12:04] helenvholmes commented on #229
I had actually imagined this a little differently:

Instead of a footer, I was imagining the pretty print button to hover over the editor in the bottom right hand corner. This will definitely obscure some code at any one time, but not a lot. In order to ensure that people can always see all of the code, I want us to add a few extra lines to the editor so that one can scroll past ones' code and see

[2016-06-03 13:27] jlongster commented on #229
I like the idea of not having a whole footer (for now at least, since there's nothing else we'll put in there), and we should diverge from Chrome where we can. I don't care about copying general good UI patterns, but it's going to be easy to just look like we're copying them completely.

[2016-06-03 13:49] helenvholmes commented on #229
For reference, looks like Chrome uses their footer to give the user info about their cursor position:

![screen shot 2016-06-03 at 9 47 20 am](https://cloud.githubusercontent.com/assets/1720093/15780533/2ebaef1e-2970-11e6-9903-31591a7bdf0c.png)

I don't think our current designs have this anywhere—might be worth thinking about how/if we should include this info.

[2016-06-03 16:23] jlongster commented on #214
This will be fixed with node integration, which requires file:// support. https://github.com/jlongster/debugger.html/pull/236

[2016-06-03 16:25] jlongster commented on #194
This was fixed in https://github.com/jlongster/debugger.html/pull/225. The gutters weren't using the monospaced font, and I was getting a different variable-width font that wasn't aligned. Forcing it to the same font as the line fixed it.

[2016-06-03 16:25] #194 closed

[2016-06-03 16:25] jlongster commented on #205
This is fixed (can't remember which comment)

[2016-06-03 16:25] #205 closed

[2016-06-03 16:35] jlongster commented on #193
I think the majority of the slow-down is the logging in the proxy server. It logs all messages to and from the debugger server, so it logs the entire 12mb source to the terminal as it comes across. Disabling logging seems to significantly improve performance (though there are probably still things we can do).

[2016-06-04 02:28] jlongster opened #239 "add docs about node"
Latest node allows you pass a flag in to start the debugging server. We should document how to get a debugger up and running with a node app.

[2016-06-04 14:30] jasonLaster opened #240 "Storybook fails to install"
https://pastebin.mozilla.org/8874928

[2016-06-05 15:36] jasonLaster commented on #229
Ahh, I didn't realize that.

I like the idea of pretty print floating in the bottom right.

I can see us using the right side of the editor down the road, but I don't think that should stop us now.

We might also want to reconsider if we want more current source actions like pretty print, but I think we're okay.

I am not too worried about cursor info in most cases, the one case I can think of is

[2016-06-05 15:42] jasonLaster commented on #229
One thought, it would be nice to support "go to line". Maybe we could reuse the file search top bar.

[2016-06-06 00:55] helenvholmes commented on #231
This should be fixed with PR #241.

[2016-06-06 01:07] #231 closed

[2016-06-06 14:32] #227 closed

[2016-06-06 14:52] #228 closed

[2016-06-06 16:22] jasonLaster commented on #193
Nice point.

[2016-06-06 18:45] helenvholmes commented on #233
Closed via #241.

[2016-06-06 18:45] #233 closed

[2016-06-07 13:35] jasonLaster opened #244 "Fix Debugger Double Scrollbar"
I believe the tweaks to the header caused a second scrollbar to come in.

@helenvholmes have you seen this?

![screen shot 2016-06-07 at 9 36 19 am](https://cloud.githubusercontent.com/assets/254562/15859373/ea905d6c-2c92-11e6-949c-976dcdf4ade0.png)

[2016-06-07 13:38] helenvholmes commented on #244
I've seen the second scrollbar, yes—unsure why the changes in the header are causing the second scrollbar, though 🤔

[2016-06-07 13:40] jlongster commented on #244
It happens because the editor's height is calculated unfortunately by hardcoding the height of the header, so if you change the height of the header but not the `calc` used in the editor the editor is too tall.

@jasonLaster you're using a pretty outdated version though, I made a bunch of tiny fixes yesterday. Can you merge from master and try again?

[2016-06-07 14:01] jasonLaster commented on #244
I don't see it anymore :)

[2016-06-07 14:01] #244 closed

[2016-06-07 14:02] #207 closed

[2016-06-07 14:36] #214 closed

[2016-06-07 14:37] jlongster commented on #132
A basic version of this works, and is good enough for now, so closing this. We should file a new bug eventually when we want to make it better.

[2016-06-07 14:37] #132 closed

[2016-06-07 14:37] jlongster commented on #117
These have been removed.

[2016-06-07 14:37] #117 closed

[2016-06-07 14:39] jlongster commented on #153
I have a pretty solid demo working, see the screenshot in this PR: https://github.com/jlongster/debugger.html/pull/238#issuecomment-223671827

[2016-06-07 14:39] #153 closed

[2016-06-07 14:39] jlongster commented on #155
This is done in https://github.com/jlongster/debugger.html/pull/236

[2016-06-07 14:39] #155 closed

[2016-06-07 14:57] jasonLaster opened #245 "Editor breakpoints are missing when the debuggee is refreshed"
Steps:
1. add breakpoints
2. refresh debuggee

The breakpoints show up in the list, but are not shown in the editor

[2016-06-07 14:58] jasonLaster opened #246 "Top Level breakpoints cause an error when pausing"
When a top level breakpoint is paused, the pause action is called before the new sources action. This happens because new sources is delayed by 10ms.

When that happens, select source fails because the sources store is empty

[2016-06-07 14:59] jasonLaster opened #247 "Toggling Breakpoints fails"
Enabling a breakpoint in the breakpoint list throws an error.

[2016-06-07 15:06] jlongster commented on #247
I can't repro. This uses to happen, are you sure you're using the latest version? Please test it with all the latest fixes :) Or maybe it's happening in a certain context, which we need more info about.

[2016-06-07 19:55] jlongster opened #249 "Get project built when using files from Firefox repo"
We should start working on being in harmony with Firefox. As a first step, let's just make it so that we can point `ff-devtools-libs` to Firefox and webpack will successfully build the project. This does **not** mean it will run, but at least all the modules are found and bundled in.

I didn't know where to start with this so I made a google doc: https://docs.google.com/document/d/1qLi2mp8aS-Pcn7w

[2016-06-08 20:11] jasonLaster opened #252 "Move the chrome client api into lib"
Currently the chrome api code is inside of client/chrome. We should move that into lib.

Also, it is worth investigating one of the 3rd party libraries that do similar things

[2016-06-08 20:23] jasonLaster commented on #226
Yup. It's basically done

[2016-06-08 20:23] #226 closed

[2016-06-10 16:44] jlongster commented on #249
Merged in ff-devtools-libs in https://github.com/jlongster/debugger.html/commit/37896b89f2d960f1cb52b1e11fd00e9952f08732

[2016-06-10 16:45] jlongster commented on #247
Closing as I can't repro and I think you were using older code.

[2016-06-10 16:45] #247 closed

[2016-06-10 21:14] jasonLaster commented on #247
Thanks. Meant to close. The integration tests now test this as well.

[2016-06-15 13:23] jasonLaster commented on #252
Fixed by #256, but was reverted because it broke node.

[2016-06-15 13:23] jasonLaster opened #258 "Fix Karma"
Moving ff-devtools-libs broke karma

https://circleci.com/gh/jasonLaster/debugger.html/496

Should be an easy webpack fix

[2016-06-16 10:24] helenvholmes opened #261 "How can we make the debugger more obvious that it's paused, where it's paused?"
A meta discussion to capture some ideas for how we might help ground the user inside the debugger, where users are often concentrating on doing steps in a UI to trigger actions in a different one—inevitably creating need for some strong visual indicators as to where things are moving and changing in that second UI.

I have two ideas for how we might ground users when they switch attention back to

[2016-06-16 11:02] helenvholmes opened #262 "Add "Sources" label above source tree"
Specifically, this one:
<img width="328" alt="screen shot 2016-06-16 at 11 41 32 am" src="https://cloud.githubusercontent.com/assets/1720093/16114086/53e8e42a-33b7-11e6-85a6-d8631e60d0fc.png">

James and I have gone back and forth a _bunch_ on this area. I liked having space above that area for [purely visual reasons](http://cl.ly/0a1n2h2N402P), but without a clear direction for functionality perh

[2016-06-16 13:33] helenvholmes opened #263 "How can we improve information hierarchy in the right sidebar?"
Sorry for the huge gif, but I think it illustrates pretty well what I think the guiding principles for the right sidebar in the debugger:

![2016-06-16 14_02_13](https://cloud.githubusercontent.com/assets/1720093/16117642/01b2f434-33cb-11e6-8334-084a36a74faa.gif)

I'll work on this and attach some designs to discuss.

[2016-06-16 14:30] jlongster commented on #263
Sounds good!

[2016-06-17 01:32] jasonLaster commented on #262
I'm in favor of removing it.

[2016-06-17 01:35] jasonLaster commented on #261
I like both.

We've discussed a flash in the past and agreed it would help.

Im not a big fan of green. Is it just me? It doesn't seem consistent with our colors.

Could we also add a gutter marker like a triangle on the right?

[2016-06-17 01:35] jasonLaster commented on #261
Meta but keep the design issues coming @helenvholmes!

[2016-06-17 07:47] helenvholmes commented on #261
<img width="755" alt="screen shot 2016-06-17 at 8 39 51 am" src="https://cloud.githubusercontent.com/assets/1720093/16143815/1b662f1c-3467-11e6-8cfd-c9f8c39a90eb.png">

Current design, just to be able to talk about them

[2016-06-17 12:12] helenvholmes commented on #262
@jlongster, any opinions? If you're in favor as well let's switch this to removing the area until further notice.

[2016-06-21 16:31] jasonLaster commented on #258
fixed karma this morning. there were several edge cases
https://github.com/jlongster/debugger.html/commit/939e9e6cbbd8217b198ac2e0384aedbc47b836ab

[2016-06-21 16:34] jasonLaster commented on #212
Closing as we have unit tests and we just need to do the enhancements

[2016-06-21 16:34] #212 closed

[2016-06-21 16:35] jasonLaster commented on #210
Closing as this is old and running on CI is a nice to have

[2016-06-21 16:35] #210 closed

[2016-06-21 16:35] jasonLaster commented on #181
This has been fixed

[2016-06-21 16:35] #181 closed

[2016-06-21 16:35] jasonLaster commented on #163
Removed development.local

[2016-06-21 16:35] #163 closed

[2016-06-21 16:41] jasonLaster commented on #240
We have had two reports of this, but none recently. Will keep it open a little bit longer.

[2016-06-21 16:42] #258 closed

[2016-06-21 16:42] jasonLaster commented on #252
Merged

[2016-06-21 16:42] #252 closed

[2016-06-21 16:42] jasonLaster commented on #171
was removed

[2016-06-21 16:42] #171 closed

[2016-06-21 16:43] jasonLaster commented on #51
Added!

[2016-06-21 16:43] #51 closed

[2016-06-21 16:43] jasonLaster opened #265 "Use Reps to format an object value"

[2016-06-21 16:43] jasonLaster commented on #111
DevToolsUtils.assert fails for karma

[2016-06-23 19:09] jasonLaster commented on #265
done

[2016-06-23 19:09] #265 closed

[2016-06-23 19:23] jasonLaster opened #271 "Karma is flakey"
I'm not sure why karma is flakey.

It might be a chrome version thing. It might be a timing issue as well. it's very hard to get data on the test failure.

[2016-06-23 19:24] jlongster commented on #261
I'm not in love with the green either. We need something to stand out, so that's probably why it's a different color.

I like the idea of flashing, but we also need to remember the use case of someone stepping through code quickly. I think the current design works well for that: it's quick and simple. Any flashing/scrolling would be jarring it stepping through code intentionally. And there's no cl

[2016-06-23 19:25] jlongster commented on #262
Yeah we can remove it! I did that once and it looked a little weird, but maybe that's just because I'm used to it.

[2016-06-23 19:56] helenvholmes commented on #262
I think we're all used to it, but it's empty space that we're not using at the moment.

Let's remove it until further notice 😪

[2016-06-23 20:57] #271 closed

[2016-06-23 21:36] jasonLaster commented on #261
Yea, I agree that highlighting the pause line is the main thing. Would a badge on the right help?

[2016-06-24 10:19] gcanti commented on #202
@jlongster I noticed that you are using `t.struct`. If you don't plan to attach methods to those `struct`s, you may want to replace `struct`s with `interface`s:

[code]

the main benefit being that `interface`s don't build new instances (e.g. `Location` in production mode will be an identity function https://github.com/gcanti/tcomb/blob/master/lib/interface.js#L49) so they should be more performan

[2016-06-24 14:28] jasonLaster commented on #202
Thanks @gcanti

[2016-06-25 14:14] clarkbw commented on #261
I would separate out the initial pause and the paused / stepping through code as two different stories.

For the initial pause story I think we want to tell people the what, where, why story.  That might mean that we flash (though I think the inspector flash is a little too contrasty) the break point in the break point list and then the line in the code mirror page.  To me that would mean, "this b

[2016-06-28 10:15] clarkbw opened #273 "Instructions on how to get Chrome working"
I ran into this the other day. I'm not sure if we have instructions available but I couldn't find them.  We should make sure it's at least in the readme.

[2016-06-28 17:27] linclark opened #274 "getSource is undefined when pausing on top-level breakpoints"
STR:
1. set a break point at the top level
2. refresh the debugee page

The following error will show up:

[code]

[2016-06-29 04:38] amitzur commented on #158
Good thing I went over the list of issues, since this was the first enhancement issue I was about to file.
It's really the first thing you need when starting to debug since there are so many files in an average project.

I'm wondering - what's the reason to replace the editor rather than open a modal?

[2016-06-29 04:45] amitzur commented on #262
I just opened the debugger for the first time, and when I saw this space I immediately tried to focus on it for filtering files :)
So filter is oh so natural there, however that might have happened because I was looking for this functionality, and couldn't find it elsewhere. Plus, the space exists so it made sense for me to look for functionality there. If it didn't exist, maybe I wouldn't look fo

[2016-06-29 04:52] amitzur opened #276 "Left panel scrolls as you move up/down the file tree"
I guess this is intentional, but IMO it's really annoying to have the panel scroll when you work with the keyboard arrows to navigate the file panel.

[2016-06-29 14:30] ilancohen commented on #262
Can I just fix this (or other beginner bugs) and do a pull request? Is there somewhere where I can see who's working on each issue?
(Sorry for the beginner questions.)

[2016-06-29 15:10] jasonLaster commented on #262
Hi @ilsncohen. Go for it!

[2016-06-29 16:03] jasonLaster commented on #276
What do you recommend? Not sure if I follow.

[2016-06-29 16:05] helenvholmes commented on #158
As users can't interact with the editor and the modal at the same time, a modal is in essence interrupting the editor entirely—replacing it entirely for this interaction doesn't seem particularly foreign.

[2016-06-29 16:07] helenvholmes commented on #262
@ilancohen, I'll assign you to the bug.

[2016-06-29 16:09] jasonLaster commented on #158
@helenvholmes ^

This is as fairly large issue, but couldn't be split up nicely if you're interested in taking a stab. E.g. Fuzzy search can come later.

I think replacing the editor was suggested as it's cleaner. I'd be open to trying a modal.

Three use cases are searching files, functions, text. Full project search might make sense either way. I like how many projects show results in the editor

[2016-06-29 16:09] jasonLaster commented on #158
* could be broken up. (Stupid mobile input)

[2016-06-29 16:13] helenvholmes commented on #158
I agree, replacing the editor is cleaner.

Since we've gone back and forth on these designs in-person, let's move forward with these and not implement a modal unless it proves necessary in the future.

[2016-06-29 21:38] jlongster commented on #276
I think I know what he means. I've seen the scrolling behavior get a little wonky before, but I'm not sure if that's what he saw. Can you tell us which browser you are using and more info? In Firefox, the tree does try to implement scrolling behavior.

[2016-06-30 03:36] amitzur opened #284 "Node version 6 is required"
as of PR #280 destructuring is required. I was with node v4 so had to either run with --harmony_destructuring flag or upgrade to v6.2.2
Of course I did the latter, but maybe the readme should have a prerequisite section? I preferred bringing it up in an issue rather than a pull request

[2016-06-30 03:45] jlongster commented on #284
Oh, thanks for pointing this out. I was wondering how `babel-register` was working before because it's at the top of the main file, but babel is only registers for subsequent requires. Basically: it doesn't compile the current file it's in, and it looks like some destructuring was added there.

For now, I'll remove that destructuring. What I've done in other apps is have a `run.js` file that does

[2016-06-30 03:47] amitzur commented on #276
I'm referring to the scroll starting when the selected file is still around the middle, rather than it being the last. See this video to better understand: https://youtu.be/kgodmlaNgtc

I would expect it to just reach the last file and if I press down arrow, then it scrolls with me. Very standard, I think

[2016-06-30 03:52] amitzur commented on #284
Got it. I didn't know about babel-register. Thanks.
At least this got me to 6.2.2 finally :)

[2016-06-30 03:54] jlongster commented on #284
This is actually the reason cypress was failing on CI because CircleCI uses node 5. Sorry for breaking this!

[2016-06-30 04:00] #284 closed

[2016-06-30 11:04] jasonLaster opened #286 "Move configs to the server"
Yesterday you mentioned that the server should read the config values and pass them down to the client as a set of feature flags. This lines up with what I was planning on doing, so i thought i'd quickly sketch it out.

https://gist.github.com/jasonLaster/be137dd316bcabf0de55acd55c1bdaec

The benefit is that the client can be dumb and just read the feature flags. We should try to line this up with

[2016-06-30 14:21] jlongster commented on #286
@jasonLaster Looks **great**! That's exactly what I was thinking, but I didn't feel like going through all that quite yet. Once we do that, we can use `fs` methods in the config and be smarter about checking if config files exist.

The query params are not config flags to me. They are just runtime options, and all 3 codepaths can be used in the same session. That's why I'd prefer to keep that code

[2016-06-30 15:15] helenvholmes commented on #262
Just renamed this bug for the third time. Some explanation if you don't want to read everything already in the bug:

The area above the source tree was originally a filter, which seemed redundant. We weren't sure if we wanted it or not.

<img width="631" alt="screen shot 2016-06-30 at 11 10 37 am" src="https://cloud.githubusercontent.com/assets/1720093/16493401/553f0384-3eb3-11e6-87c5-37d9a4840d60

[2016-06-30 19:29] ilancohen commented on #262
@helenvholmes - I'll put that header (back) in.

[2016-06-30 20:24] helenvholmes commented on #262
@ilancohen Thank you very much! Sorry for the long backstory—really appreciate you doing the work.

[2016-06-30 20:37] ilancohen commented on #262
@helenvholmes no, I'm happy to get the backstory! I just got into this project through Jason, and it's bnice to understand where things are coming from/going to.

[2016-06-30 20:59] jasonLaster commented on #284
Thanks @amitzur.

Nice catch.

[2016-06-30 21:02] jasonLaster commented on #276
Haha yea that is strange.

We're using another tree library, so this fix might have to land in gecko. I don't want to discourage you, but just give you a heads up. Either way, it'd be nice to see where the behavior is coming from.

[2016-06-30 22:23] wldcordeiro commented on #208
I'll take this. 👍 Got some questions, could I contact one of you on irc today for a bit @jasonLaster or @jlongster? Pretty straightforward though.

[2016-07-01 00:52] jlongster commented on #208
Feel free to ping me tomorrow!

[2016-07-01 15:33] jlongster commented on #276
We've already made local modifications to the tree. Before landing, we'll need to reconcile them with mozilla-central. I plan on diffing the files and figuring them out. I'd avoid making big changes to tree.js, but small tweaks are OK.

[2016-07-05 15:00] jasonLaster opened #291 "Think through how a breakpoint is shown in the breakpoint list"
@amitzur started an interesting discussion in #289 on what we show in breakpoings.
Also, @clarkbw has thought about different breakpoint states in #287.

Lets discuss how we want to show a breakpoint in the breakpoint list:

Some things to consider

Content:
- File name
- Line number
- File line
- Condition

State:
- active
- disabled
- current paused on that line

[2016-07-05 16:23] jlongster commented on #273
Just added this to the readme.

[2016-07-05 16:23] #273 closed

[2016-07-05 16:25] jlongster commented on #202
@gcanti Interesting, thanks! I will look into that. I'll be working on this today.

[2016-07-05 16:58] jasonLaster commented on #229
I started this work here: https://github.com/jlongster/debugger.html/compare/master...jasonLaster:editor-btns?expand=1

Happy to let someone pick it up and see it through.

I noticed while playing with it that overlaying the buttons as a bottom bar looked awkward while scrolling through a file. It was not clear how much opacity to add or how wide the bar should be.

It might be easier to move the

[2016-07-05 17:06] jasonLaster opened #294 "Right sidebar no longer scrolls"
The right sidebar no longer scrolls. This is clear when the call stack and scopes are expanded.

@jlongster any insights?

[2016-07-05 17:15] jlongster commented on #294
That's my fault. I forced the scopes to never wrap and broke the scrolling in that work. I'll fix it asap. I thought it was still scrolling but some of my last-minute changes must have broken it.

[2016-07-05 17:25] #294 closed

[2016-07-06 13:04] jasonLaster commented on #294
no worries - thanks

[2016-07-06 15:01] gcanti commented on #202
@jlongster for any doubt or clarification, feel free to contact me or write here, I'll be to be glad to be of some help

[2016-07-06 16:38] jlongster commented on #202
I'll have something soon and would love to have you look over it. Thanks!

[2016-07-06 19:34] jlongster commented on #202
@gcanti This is where I ended up: https://github.com/jlongster/tcomb-immutable-experiment

Unfortunately, I need to make sure that immutable.js' API always returns typed objects. This actually wasn't as hard as I thought, but there are holes. For example, `mergeIn` does not work with maps where it automatically created nested maps.

It was a successful experiment though, and I'm going to play with

[2016-07-07 13:18] jasonLaster commented on #229
I pushed this work with the pretty print work yesterday. The current version needs some polish, but I think it's good enough to close this issue and open new ones later

[2016-07-07 13:18] #229 closed

[2016-07-07 13:20] jasonLaster opened #303 "Show Source Maps file in Editor"
Source mapped code is much more easily understood by developers, showing these versions in the file editor allows developers to read the code and possibly set breakpoints on it.

Source mapped code will show up as a separate tab to the original source code and will indicate to the user that it is "formatted" such that they can know the difference between the original and source mapped version of t

[2016-07-07 13:20] jasonLaster opened #304 "Show Source Map Files in Tree"
The source tree view lists all the source files made available to the developer.  Alongside the original files will be options for the "Source Mapped Version" which is the more readable version of the file.

[2016-07-07 13:22] jasonLaster opened #305 "Load Source Map file locally"
Currently the source map files are loaded server side with priveledged APIs.

I think we should do something similar to what chrome does.

Locally: use the development server to make the cross origin request
Toolbox: use a priviledged API to make the request.

[2016-07-07 13:23] jasonLaster opened #306 "Create sources with the SourceMapConsumer"
We should be able to re-use the source map consumer locally in a web worker to create original source map files.

[2016-07-07 13:26] jasonLaster opened #307 "SourceMaps in the client"
This is a tracking Issue for the source map work.

Planned Tickets (sprint 1):
- [x] #305 - Load source map files locally
- [x] #306 - Create Sources with the source map consumer
- [x] #304 - Show source map files in the tree
- [x] #303 - Show source map files in the editor

Planned Tickets (sprint 2):
- [x] set breakpoints
- [x] #336 show paused state
- [x] #328 show root path domains

Planned Ti

[2016-07-07 13:32] #127 closed

[2016-07-07 13:34] jasonLaster commented on #111
Once we decide what we want from DevToolsUtils we should be unblocked

[2016-07-07 13:36] jasonLaster commented on #246
#274 is a duplicate

[2016-07-07 13:36] #274 closed

[2016-07-07 17:24] jasonLaster commented on #286
The configs are now managed server side and injected with webpack. This will make it easy to use nconf or another solution.

[2016-07-07 21:36] clarkbw commented on #291
Also probably worth thinking about any actions that are available from the breakpoint list.  Should the entire line toggle the breakpoint on / off?  Or should some part of the element navigate the editor to the breakpoint?  Or maybe some hybrid of those options?

[2016-07-07 21:38] clarkbw commented on #276
Interesting, I think the more standard behaviour is actually a less desirable UX.  I agree 100% that I don't like how the scrolling looks jumpy on every navigate, it would be better if it made a larger scroll once for every couple moves.  However I think the "standard scroll", where you reach the end of the viewport and then it scrolls the next item, is worse UX because it prevents you from being

[2016-07-08 20:36] clarkbw commented on #240
Going to close this out, the pastebin expired and I don't know that we have any more reports.

[2016-07-08 20:36] #240 closed

[2016-07-08 21:48] jlongster opened #308 "Use Flow to manage types"
This might be a little controversial, but after doing a lot of research in #202 about enforcing runtime types in several places of the system, I've come to the conclusion that it's just too messy to mix together immutable, tcomb, and react proptypes. It's certainly doable, but there is a lot of processing going on to integrate types everywhere. I published my work on applying tcomb types to immuta

[2016-07-08 21:49] jlongster commented on #308
Most people's concerns with Flow is that it doesn't work on Windows, but the have tests running on windows (see the badge in the [readme](https://github.com/facebook/flow/blob/master/README.md)) and are going to announce official Windows support very soon.

[2016-07-10 07:13] amitzur commented on #276
That's a compelling argument and an interesting discussion. My thoughts -
1) I wouldn't downsize the importance of what users are accustomed to when estimating UX.
2) I don't think inventing the wheel is the right thing to do in this case.
3) In our case I don't think navigating the tree should even be the mainstream way to browse between sources. That should be done with a file opener like in iss

[2016-07-12 18:01] #286 closed

[2016-07-12 18:11] jasonLaster opened #312 "Add sourceMapUrl to source actor"

[2016-07-12 18:14] jasonLaster commented on #158
#310 Adds a V1 version

[2016-07-12 18:24] jasonLaster opened #313 "Add a script for updating m-c files"
Some of the reps files have been updated since we've landed them. We should write a script that pulls in files we depend on.

[2016-07-12 18:29] jasonLaster commented on #175
This is a significant time investment. It probably is not worth pursuing now.

[2016-07-12 18:29] #175 closed

[2016-07-12 18:40] jlongster commented on #249
We already have several changes that allow us to run files directly from m-c. These files live in public/js/lib/devtools. There are still some important files in devtools-sham, which are the hacked up versions. client/main.js is an important one.

We've discovered that we don't really need that many files from m-c. The protocol client is the only thing we really need. We can easily use other utili

[2016-07-12 19:56] clarkbw opened #316 "Investigate translation of strings"
Aha Card: https://mozilla.aha.io/features/DEBUGX-57

Look into how we would go about handling translations for the strings in the code.

Worth noting that the remote-newtab team was using `react-intl`
https://github.com/mozilla/remote-newtab/search?utf8=%E2%9C%93&q=react-intl
https://github.com/yahoo/react-intl

[2016-07-12 20:14] clarkbw opened #317 "Land JS bundle in Firefox"
Prototype the initial workflow

Goal is to encounter some of the inevitable issues before we are the default debugger and learn what need to get done right before the switch.

No need to implement a feature flag preference just yet, we can require manually rewiring the old debugger off to see the new one in action.

[2016-07-12 20:28] clarkbw opened #318 "Possible character encoding issues with Chrome RDP"
Chrome seems to be returning the decoded string for the URL.  This may be creating the next problem where Chrome cannot create the web socket connection because the URL is `undefined`.  Firefox loads the debugger page just fine.

[code]

Here's a test website: http://xn--80ahjdhy.xn--p1ai/

Screenshot of the difference at the tabs page:
![screen shot 2016-07-12 at 1 21 45 pm](https://cloud.githubu

[2016-07-12 20:36] clarkbw opened #319 "show prototype"
In the Variables View display the object prototype for expandable inspection.

[2016-07-12 20:38] clarkbw opened #320 "show return, exception, this"
In the variables view show the return, exceptions, and "this".

[2016-07-12 21:02] jasonLaster commented on #318
Nice find @clarkbw

[2016-07-12 21:07] jasonLaster commented on #316
We discussed in channel having a `translate` function which in development is a no-op, but in the toolbox uses `l10n`.

We can test this technique when we have a bundle.

[2016-07-12 21:07] #316 closed

[2016-07-12 22:08] jasonLaster commented on #312
https://bugzilla.mozilla.org/show_bug.cgi?id=1286390

[2016-07-12 22:17] #193 closed

[2016-07-12 22:25] #313 closed

[2016-07-12 22:27] clarkbw commented on #312
Here's what needs to get done:
- [x] Bug filed
- [x] Needs Patch
- [x] Need Patch Reviewed
- [ ] Try Build
- [ ] Check into m-c
- [ ] Request uplift to Beta

[2016-07-12 23:34] clarkbw commented on #170
We already have a rule in the [.eslintrc](https://github.com/jlongster/debugger.html/blob/master/.eslintrc#L51) file

We need someone to investigate if the rule is still accurate and / or why it isn't showing a warning.

Once fixed you can either file a new issue for any errors that appear or fix those errors in a separate commit.

[2016-07-12 23:56] clarkbw commented on #239
Yep, I'd say we need some instructions on getting Node installed / updated to a recent version like 6.3.0 that includes the `inspect` option.

Something like:
[code]

If upgrading node is an issue possibly include using `nvm` (node version manager)
[code]

Then instructions for running node with inspect turned on:
[code]

[2016-07-13 01:45] helenvholmes commented on #261
I think Bryan's put it well that there are two stories here.

Is it possible to separate out initial pause and subsequent pauses? If such, we might design differently for each use case.

[2016-07-13 05:43] clarkbw commented on #308
As we discussed, flow could present a problem for new contributors.  However we believe that flow is actually fairly easy to read and understand as the typing only creates greater clarity.  Writing in flow is not much more difficult than standard JavaScript and given the benefits of a type checking system (which we desire) where flow seems the best suited we have decided to move forward with this

[2016-07-13 13:33] jasonLaster commented on #239
This looks good. Maybe add a step about selecting the node process from the tabs page.

[2016-07-13 13:41] jlongster commented on #308
Long-term, we should definitely be in sync with other tools and either all or none using flow. I agree that's important. For the next month or so, I would consider our Flow usage experimental and learn enough to be able to decide whether to try and convince the team to use it or not. It's worth noting that it would be very easy to remove Flow: the remove all type annotations (and there aren't very

[2016-07-13 14:53] jasonLaster commented on #261
I believe we could do it. I'd like to see what you design in each scenario

[2016-07-13 16:13] jasonLaster commented on #312
https://treeherder.mozilla.org/#/jobs?repo=try&revision=b4f145898118

[2016-07-13 22:21] #111 closed

[2016-07-13 22:21] #158 closed

[2016-07-13 22:21] #208 closed

[2016-07-13 22:21] #305 closed

[2016-07-14 14:49] #306 closed

[2016-07-14 14:55] jasonLaster opened #328 "Source Maps - domains are not set"
domain should be `webpack` but is empty.

Also - the domain should be url decoded  so %20 is a space. See second domain

![screen shot 2016-07-14 at 10 56 57 am](https://cloud.githubusercontent.com/assets/254562/16844084/b3f55460-49b1-11e6-9170-827028833f96.png)

[2016-07-14 14:55] jasonLaster opened #329 "Source Maps - add map to the store"
[discussion](https://github.com/jlongster/debugger.html/pull/326#discussion_r70810903)

[2016-07-14 15:24] clarkbw opened #331 "LICENSE file"
Our project should include the license file, even though most files have (or should have) license headers embedded; a license file makes it clearer.

Here is the URL we are supposed to use, which is mostly markdown format already.
https://www.mozilla.org/media/MPL/2.0/index.txt

When adding a license file to any project it is recommended that we document the permission of previous contributors to

[2016-07-14 15:44] #304 closed

[2016-07-14 15:56] clarkbw commented on #308
This work is being tracked in #325

[2016-07-14 16:33] #202 closed

[2016-07-14 16:45] matt-oconnell commented on #331
I give my permission to license under the MPL 2 any contributions I have made to the debugger.html code base.

[2016-07-14 17:36] clarkbw commented on #134
The original bug for those changes is here: https://bugzilla.mozilla.org/show_bug.cgi?id=1246313

Other useful resources:

* [theme variable colours](https://dxr.mozilla.org/mozilla-central/source/devtools/client/themes/variables.css)
* [light theme CSS](https://dxr.mozilla.org/mozilla-central/source/devtools/client/themes/light-theme.css)
* [search devtools theme directory for codemirror CSS sele

[2016-07-14 18:07] jlongster commented on #202
See #308 for a continuation of this issue. We've decided to give Flow and try, and while we haven't converted everything over yet, we will do so in increments. tcomb still exists in the tree but we will remove it soon. I think we have a good story for typing everything, including the app state.

[2016-07-14 18:08] jlongster commented on #308
#325 has been merged. Flow is integrated into our workflow and we can introduce types where we want.

[2016-07-14 18:08] #308 closed

[2016-07-14 18:12] #303 closed

[2016-07-14 18:16] jlongster opened #334 "file search loses source contents"
If I have a source open, press cmd+P to bring up the search bar, and press cmd+P again to hide it, all the source contents are gone.

[2016-07-14 18:17] jasonLaster opened #335 "Source Maps - breakpoints"
Breakpoints should be transparent of mapped source. As in,

+ when you see a breakpoint in the pane it should point to the original source.
+ When you add a breakpoint in the original source, it should add it to the generated source ...

- [ ] Add Breakpoint
- [ ] Remove Breakpoint
- [ ] select breakpoint

[2016-07-14 18:34] clarkbw commented on #334
ah ha! I couldn't figure out how to hide it!

[2016-07-14 18:36] clarkbw commented on #166
There is a work in progress here #333

[2016-07-14 18:45] jasonLaster opened #336 "Source Maps - Call Stack"
+ Call frames should reference the original location.
+ Selecting a source should show the original source

[2016-07-14 19:02] jasonLaster commented on #334
haha - there are clearly some UX things here. We should open some small tickets for file search UX.

[2016-07-14 19:03] jasonLaster opened #337 "File Search - arrow key navigation"
Arrow Keys should navigate file search (up/down/enter)

![screen shot 2016-07-14 at 3 03 58 pm](https://cloud.githubusercontent.com/assets/254562/16852005/1811cfce-49d4-11e6-8f2e-ea917f28bc10.png)

[2016-07-14 19:06] jasonLaster opened #338 "File Search - UI tweaks"
Here are a couple file search tweaks that come to mind. @helenvholmes, @clarkbw, @jlongster any others i'm missing?

- [x] the magnifying glass should be aligned on firefox (it is in chrome) (fixed)
- [x] the magnifying glass should only be blue when focused
- [x] the input bar should have placeholder copy for searching
- [x] file search should be open by default (with copy below mentioning cmd+p

[2016-07-14 19:16] jlongster commented on #338
Don't have many thoughts on this, but the magnifying glass is aligned for me in Firefox...

[2016-07-14 19:27] clarkbw commented on #337
Might be nice to display this somewhere so people know / learn.  🔽 arrow down 🔼 arrow up ↩️ and enter to select

[2016-07-14 19:35] jasonLaster commented on #337
yeah, although this might be something people would just expect... not sure how far accessibility has come in setting expectations :)

[2016-07-14 19:37] jasonLaster commented on #338
oh strange

[2016-07-14 19:39] jasonLaster opened #339 "Move selectors to the reducer modules"
The reducers should export the relevant selectors.

The rationale is that the selectors know the shape of the store.

https://github.com/jlongster/debugger.html/commit/ccb58b91c31f83cd8a6ae12c873a30e93a36047f#commitcomment-18251196

[2016-07-14 19:41] #145 closed

[2016-07-14 20:10] clarkbw commented on #338
Same here.  Otherwise looks like a good list.

[2016-07-14 21:06] jlongster commented on #339
https://egghead.io/lessons/javascript-redux-colocating-selectors-with-reducers?course=building-react-applications-with-idiomatic-redux

The only slight annoyance is that we don't use ES6 modules so it's a little harder to export the reducer as the "default" import, but we'll just need to tweak what was pass into `combineReducers`. I played with doing this already (because it was easier to make Flo

[2016-07-14 22:07] clarkbw commented on #320
Work is being done in #341

[2016-07-15 02:56] nojvek opened #345 "Add console with intellisense."
Will there be support for console with intellisense ?

[2016-07-15 13:24] jlongster commented on #345
Yes, that is a separate project that a few others are working on (not as a separate repo like we are yet). This repo is focused on the debugger itself; the integration will happen at the toolbox level. We aren't sure what that looks like if people want to embed this debugger in other places, but we'll figure that out down the road.

[2016-07-15 13:48] nojvek commented on #345
Oh I see. So the console is not available on GitHub right?

On Friday, July 15, 2016, James Long <notifications@github.com> wrote:

[2016-07-15 13:57] #195 closed

[2016-07-15 13:58] jlongster commented on #345
Technically it is, but only as part of the Firefox codebase. Firefox is mirrored at https://github.com/mozilla/gecko-dev/, and parts of the console are being rewritten in a fork: https://github.com/devtools-html/gecko-dev. But it isn't fully using github like we are yet.

[2016-07-15 13:59] jlongster commented on #345
Closing as the console isn't in the scope of this project. We'll file a new issue about integrating a console in a later sprint.

[2016-07-15 13:59] #345 closed

[2016-07-15 14:03] #320 closed

[2016-07-15 14:07] jasonLaster commented on #339
that's true.

I'd be happy to codemod our modules to [es6](https://github.com/nolanlawson/cjs-to-es6). I've been thinking about default exports for some time.

[2016-07-15 14:09] jasonLaster opened #347 "Chrome - show scopes pane"
We should add the scopes pane in chrome so that chrome remains at parity.

[2016-07-15 14:46] #319 closed

[2016-07-15 14:58] jlongster commented on #249
Jason and I decided that this won't get done until next sprint, since there's only a few days left.

[2016-07-15 15:24] clarkbw opened #349 "Improve project for contributors"
This is my tracking issue related to a number of changes I believe we need to make to improve the project for new contributors.  Many thanks to @kentcdodds for his [first timers only](https://medium.com/@kentcdodds/first-timers-only-78281ea47455#.mdhjl55ik) post which heavily inspired a lot of this.

## README

We need to cleanup the readme doc so that its a high level overview of the project and

[2016-07-15 15:26] kentcdodds commented on #349
I can't begin to state how awesome this is. Thanks for doing this! ❤️

[2016-07-15 15:34] jlongster commented on #170
fixed in https://github.com/jlongster/debugger.html/commit/93a7cde13783359917d752d7e4913f5034b5437a

[2016-07-15 15:34] #170 closed

[2016-07-15 15:40] linclark commented on #347
This is something that we have marked as a need-to-have for the console too.

Do you have thoughts on how to display values for the RemoteObjects that are coming in? The Rep system is hardcoded to expect a grip structure, but can be extended to include Reps to handle Chrome RemoteObject structures.

[2016-07-15 15:44] jlongster commented on #349
This is awesome! A lot of good stuff that we can do. To bring another viewpoint though, I have two things:

It sounds like you want the readme to be a contributor's doc basically. I'm not sure I agree with that. A readme should be a succinct description about how to get the project running for a variety of people, including advanced people. It is a very basic part of the workflow to start Chrome o

[2016-07-15 15:50] jlongster commented on #347
@linclark I haven't looked at how Rep's handles grips, but theoretically it doesn't do too much. It just uses the "preview" object that a grip has, which is an object that has a few key/vals from the object already. So we could either move that logic into the `ObjectInspector`, or make a new Rep that handles whatever Chrome has, and hopefully all that does it traverses the structure to get the "pr

[2016-07-15 16:12] clarkbw commented on #349
No, that's not the intent for the readme; I agree with what you're saying.  And we already have a contributing doc to use for getting people started with longer docs.  I want the readme to have the get up and running docs and actually the Chrome section was a bad example to use because that probably does belong in the readme.

I'll file a separate PR for the readme so we can work through this but

[2016-07-15 16:26] jlongster commented on #349
Yes, definitely agree that it's a balance :) I think I was mainly thinking about things like screencasts, which are time-consuming to create and very hard to update (you basically need to make a new one each time). But having docs is definitely good, even for things that might change next week.

The readme could be a ton better about explaining what this is, yeah. As long as it's super clear how t

[2016-07-15 17:26] jasonLaster commented on #349
Thanks @clarkbw for bringing this up

I'm in favor of keeping the readme a "high level overview of the project".

Information like running the debugger, debugging a target (firefox, node, chrome), ... testing is best described in specific documents. I started this with integration tests and I'd like to add unit testing as well. IMO, the readme should be a cheat-code on the most needed information

[2016-07-15 17:34] jasonLaster commented on #349
I think that could be a great idea. gitter does a good job of notifying you when somebody pings in channel. With something like that, it could help first comers / lurkers stay involved. Gitter was instrumental for Backbone Marionette, we were the first org to adopt gitter (gitter is built on Marionette so we had an in) and our community grew to 3k+ quickly and has been a huge win for the community

[2016-07-15 18:16] jasonLaster opened #350 "Change util directory to utils"
The directories are pluralized (actions, tests, etc)

The two exceptions are lib and util. Is there a reason for this? If not, I'd prefer if they were pluralized. (i don't feel strongly though)

I did a quick m-c check and found mostly *utils*
+ gecko/devtools/shared/gcli/source/lib/gcli/util
+ gecko/devtools/client/responsive.html/utils
+ gecko/devtools/client/webconsole/new-console-output/utils

[2016-07-15 18:19] jasonLaster opened #351 "Add a public/js/feature.js"
Feature checking will be something we do in the debugger and debugger related utilities (development-server).

It seems bad to require feature.js in the debugger context when it is outside of public/js.

Given that, i'd suggest we add a feature.js file inside public/js that references config/feature.js and re-exports many of the fields... Down the line, there might also be some differentiation bet

[2016-07-15 18:38] jlongster commented on #350
"lib" is a very common term (many projects have src/lib/dist/etc dirs) so I agree that we shouldn't change that. I'm fine switching to "utils" though. Eventually we will consolidate them somehow anyway when we don't have the devtools/devtools-sham stuff going on.

[2016-07-15 18:44] jlongster commented on #351
This makes sense to me. I see feature flags and config as very different things anyway. Usually the feature flags exist only client-side to disable or enable features, and config is used heavily by the server just for parameterization (client can use it too). Basically, feature flags are just booleans for the client-side, and could be specified separately than config.

It's also common to turn on/

[2016-07-15 21:20] clarkbw commented on #349
README and CONTRIBUTING update coming in #352

[2016-07-16 16:40] #146 closed

[2016-07-16 18:12] svenvNL opened #354 "File Search not working"
I am running Windows 7. The problem occurs in Chrome 51.0.2704.103, Firefox latest stable (can't find version number) and Firefox Developer edition
I can't open file search. pressing ctrl + p opens the browsers print screen.

With the following Firefox add-on I changed the print keybinding: https://addons.mozilla.org/nl/firefox/addon/s3menu-wizard/
The add-on is promoted on this page: https://supp

[2016-07-17 04:28] jasonLaster commented on #354
Hey @svenvNL, this should be possible to debug by looking at [App.js](https://github.com/jlongster/debugger.html/blob/master/public/js/components/App.js#L36). The keydown handler is set there and you can easily add a breakpoint in `toggleSourcesSearch`. It might help to change the handler to open file search on another keystroke like just "p" and see if that resolves the issue. Happy to help debug

[2016-07-18 17:21] #329 closed

[2016-07-18 17:24] jasonLaster commented on #312
waiting to uplift to beta

[2016-07-18 18:28] clarkbw commented on #312
might want to check in on aurora again as it looks like beta isn't in the cards

[2016-07-18 20:38] clarkbw commented on #239
I'll take this, I'm going to land the first version of #352 soon which should cover these details.

[2016-07-19 01:56] jasonLaster opened #357 "Dark Theme / Firebug Theme"
It would be great to support Dark and Light themes when we launch the new debugger. Here is a screenshot of the current debugger's dark theme.

![screen shot 2016-07-18 at 9 53 25 pm](https://cloud.githubusercontent.com/assets/254562/16936051/f2469eb2-4d31-11e6-9fe6-0dc20995910a.png)

### How to get started

+ The debugger's color's are set with these [variables](https://github.com/jlongster/debug

[2016-07-19 06:01] amitzur commented on #349
I agree, and what was a major hurdle for me to get into this project is cypress installation.

[2016-07-19 06:22] amitzur commented on #337
Want to spark a small design discussion here:

1. Autocomplete needs to know what it's showing. I guess that should go as part of its local state. Should that be an array of the origin indices from props.items ? Or a list of the actual shown item objects? Also, not sure if this needs to be an immutable data structure (what's the benefit?). Maybe a Seq like props.items

2. component state also hold

[2016-07-19 06:22] amitzur commented on #337
btw I mean to take this, not just discuss :)

[2016-07-19 13:21] svenvNL commented on #354
in app,js, I changed

[code]

to

[code]

This worked fine for me and made file search work as intended.

[2016-07-19 13:33] jasonLaster commented on #354
Thanks @svenvNL what browser are you using? I could see this being a timing thing that might be out of our control.

[2016-07-19 13:38] svenvNL commented on #354
I am running Chrome Canary 54.0.2799.0. The same happens in Firefox and Chrome stable.

[2016-07-19 13:40] jasonLaster commented on #337
Thanks @amitzur. It's yours.

agreed

I'm not sure, at this time, I'm okay re-calculating the search results on enter.

[code]

The trade off with re-computing search results is speed, but at the moment we're just doing a string.includes call on the sources, which should not be expensive.

I wouldn't worry about immutable objects here if you do want to store results state :)

[2016-07-19 13:43] jasonLaster commented on #349
Thanks @amitzur we have these docs, but they're new and probably hard to find
https://github.com/jlongster/debugger.html/blob/master/docs/integration-tests.md

not sure if the install steps are clear enough either

[2016-07-19 13:57] svenvNL commented on #354
I just looked up mdn (wich I should have done much earlier). The metakey on Windows is the WIN key, https://developer.mozilla.org/en-US/docs/Web/API/MouseEvent/metaKey. Normally, when the ⌘ key is used on a Mac, the ctrl key is used on Windows. Pressing WIN + P opens a native windows dialog to duplicate my screen to a projector.

Changing from e.metaKey to e.ctrlKey makes it work on Windows.
the c

[2016-07-19 13:58] jasonLaster commented on #354
Ahh, @svenvNL I was just about to type that this is likely a mac/windows thing. Thanks for investigating. We probably want to find a shortcut library that handles this, but that's a great fix.

[2016-07-19 13:59] jasonLaster commented on #354
@svenvNL have you stopped by our irc room?
https://github.com/jlongster/debugger.html/blob/master/README.md#getting-involved

Would be easy to debug in there :)

[2016-07-19 14:01] jasonLaster opened #360 "Investigate a key shortcut library like mousetrap"
We're running into issues with keyboard shortcuts that could be fixed with a mature library like [mousetrap](https://github.com/ccampbell/mousetrap).

[file search does not work](https://github.com/jlongster/debugger.html/issues/354#issuecomment-233634994)

[2016-07-19 14:02] jasonLaster commented on #239
Thanks @clarkbw

[2016-07-19 14:04] svenvNL commented on #354
Send the quick and temp fix as a PR, #361

[2016-07-19 14:04] #166 closed

[2016-07-19 14:05] #312 closed

[2016-07-19 14:24] jasonLaster commented on #184
Here's a patch
https://gist.github.com/eee5181639eae616388d6a9e223f63d4

[2016-07-19 15:13] jaideepcoder commented on #357
@jasonLaster I was late to request for the other issue that you suggested. But this looks really interesting. Plus, delving into the CSS should allow me to easily delve into the app. Can I take this issue?

[2016-07-19 15:25] jasonLaster commented on #357
@jbhoosreddy thanks. We'll find some more tickets for you soon as well

[2016-07-19 16:23] bgrins commented on #360
Not sure what issues you are running into exactly, but maybe the key-shortcuts module will work: https://dxr.mozilla.org/mozilla-central/source/devtools/client/shared/key-shortcuts.js#28. Looks like it has a fairly similar API.

[2016-07-19 16:44] jasonLaster commented on #338
Lets also replace the CSS values with (variables
)[https://github.com/jlongster/debugger.html/blob/master/public/js/lib/variables.css#L38]

[2016-07-19 17:12] jlongster commented on #339
Since I want to write more reducer tests I'm going to look into this.

[2016-07-19 19:09] #354 closed

[2016-07-19 19:11] jasonLaster commented on #347
I'm closing this for now as it's something that we are *not* going to handle for the next two sprints. We will get back to this after then though

[2016-07-19 19:11] #347 closed

[2016-07-20 01:50] jasonLaster commented on #350
Here's an example for changing util to utils
https://gist.github.com/7f62e6dc854c5ac0ec7088c85a172b17

There are several other files in the util directory that will need to be mapped as well

[2016-07-20 01:52] jasonLaster commented on #351
Here's a sketch of what it will look like
https://gist.github.com/4f7a079d075c9d619b59f541c36b109b

there are lots of files that use feature.js that need to have their require's remapped

[2016-07-20 02:10] jbhoosreddy commented on #351
Thanks for this. I'll look at it now.

[2016-07-20 02:10] jbhoosreddy commented on #350
This will be very helpful. Thanks!

[2016-07-20 15:42] jasonLaster commented on #345
Here's a POC branch for showing how the console could be loaded in debugger.html

https://github.com/jasonlaster/debugger.html/tree/console

it still needs some libraries to be d-privileged

[2016-07-20 16:58] clarkbw opened #368 "Pretty Print Source"
Pretty print allows  a developer to view a formatted version of the file.  For any files that are minified or poorly formatted this option creates a readable version and because it creates new lines it allows for breakpoints to be added where they weren't easily added before.

- [ ] button to turn on pretty print, likely located in the bottom bar
- [ ] possibly need a progress bar (may need to fil

[2016-07-20 17:13] jasonLaster commented on #357
@jbhoosreddy pushed the themes work. We now need to go in and update the CSS so that the two themes look good

[2016-07-20 17:13] #357 closed

[2016-07-20 17:15] jasonLaster opened #370 "Polish Dark and Firebug themes"
We now support three themes (dark, firebug, light). As a result we need to convert all of our styling to css variables so that the themes always look good.

For example, the [autocomplete](https://github.com/jlongster/debugger.html/blob/master/public/js/components/Autocomplete.css#L14) stylesheet uses raw values like `#dde1e4`, which should be `var(--theme-gray)`. All values can be found in [varia

[2016-07-20 17:42] clarkbw opened #371 "Blackboxing Source"
Blackboxing Source indicates that a library or resource is to be ignored by the developer tools.  This is done because developers want to focus on the code they write, not the libraries that they have included.  Often libraries can emit warnings or exceptions which get in the way of a developers workflow in the console and when stepping through a breakpoint paused execution.

Black boxed code shou

[2016-07-20 17:46] #335 closed

[2016-07-20 17:46] #350 closed

[2016-07-20 17:51] amitzur commented on #337
makes sense. BTW, the keyUp on the input will take care of ArrowUp and ArrowDown, but the Escape I feel should go where the cmd+p shortcut goes, which is an event listener on the window defined in App.js

[2016-07-20 17:53] clarkbw opened #372 "Pause on exception"
Pause on exception allows for developers to automatically pause the debugger whenever an exception occurs in their code.  This tool is especially helpful when a new exception appears however having this always on tends to be annoying as often there are intermittent exceptions while coding and pausing can be interrupting.  Often there are also exceptions within libraries, however this should probab

[2016-07-20 18:01] nojvek commented on #345
I love the title: "Experimental something something"

I'll play around with debugger.html and see if we can make it work inside a
non-firefox browser.

Thanks for the update.

On Wed, Jul 20, 2016 at 8:42 AM, Jason Laster <notifications@github.com>
wrote:

[2016-07-20 19:23] clarkbw opened #374 "[Scopes] populate promises"
Promises have special properties we want to display in the variables view for inspection.

*(this is one of the cooler bugs imo)*

#### Old Debugger
Here is where the [old debugger](https://dxr.mozilla.org/mozilla-central/source/devtools/client/shared/widgets/VariablesView.jsm#3638-3645) got the properties.

Here's what the code looked like:
[code]

#### Sketch

[code]

#### Demo code
I made this

[2016-07-20 20:30] jasonLaster commented on #345
@nojvek we run the debugger.html as a standalone web page. https://github.com/jlongster/debugger.html#getting-started

I develop in chrome :) It should be very easy to embed the debugger in another environment. Let me know if you run into anything, I'd be happy to pair on integrating it. Also, embedding the debugger in other envirornments (atom, nuclide, vs code, ...) is a primary motivation for o

[2016-07-20 20:30] jasonLaster commented on #337
agreed

[2016-07-20 22:22] jasonLaster commented on #331
@amitzur mind approving this?

[2016-07-20 22:39] clarkbw opened #377 "Handle failed network connection to debug [chrome]"
With connections to Firefox there is some timeout logic that gracefully handles the case where the connection fails to find debuggable tabs.   In that case we then display the following message.  I'll be updating this message in a future PR.

![screen shot 2016-07-20 at 3 34 32 pm](https://cloud.githubusercontent.com/assets/2134/17005545/bfa4b0f2-4e8f-11e6-9636-898fd47ab619.png)

However when you

[2016-07-20 22:44] clarkbw opened #378 "Add debuggable target instructions to the default page"
Currently when you have no debuggable targets available (Chrome or Firefox) we display this message to help you get setup with Node.

![screen shot 2016-07-20 at 3 34 32 pm](https://cloud.githubusercontent.com/assets/2134/17005660/4a2882f8-4e90-11e6-956a-8cae422b82d7.png)

In #352 we're changing the README and the way the process works for getting started such that it will be necessary to have ins

[2016-07-20 23:50] amitzur commented on #331
I give my permission to license under the MPL 2 any contributions I have made to the debugger.html code base.

[2016-07-21 02:17] jbhoosreddy commented on #368
I can start looking into this one tonight.

[2016-07-21 03:23] #351 closed

[2016-07-21 03:24] jasonLaster commented on #328
@jbhoosreddy want to take a look at this?

[2016-07-21 03:49] jbhoosreddy commented on #328
@jasonLaster. Yes. I'd like to.

[2016-07-21 07:26] ilancohen commented on #331
I give my permission to license under the MPL 2 any contributions I have made to the debugger.html code base.

[2016-07-21 13:13] jasonLaster commented on #377
yup - this is probably in `networkRequest` and in the [development-server](https://github.com/jlongster/debugger.html/blob/master/bin/development-server.js#L25-L37) `httpGet` function.

[2016-07-21 13:59] helenvholmes commented on #368
I think we're just doing a small icon in the bottom-right—the designs I have for this are attached.

<img width="1081" alt="screen shot 2016-07-21 at 7 58 06 am" src="https://cloud.githubusercontent.com/assets/1720093/17025405/ec3aac96-4f18-11e6-9fe5-f7e5bee4c494.png">

The svg you'll need is here: https://cl.ly/3M16252U2t1s

[2016-07-21 16:18] jasonLaster commented on #134
This might be addressed in part by the theming work as well #370

[2016-07-21 16:45] jlongster commented on #134
It's more likely to be solved when we figure out how to just re-use Firefox's version of codemirror. Personally I don't care if the theme doesn't match in a local tab, but if we care about that, we could solve it in #370

[2016-07-21 19:30] jasonLaster commented on #372
Here's a patch to get started with
https://gist.github.com/ad9aa95dd24dd428df2cf35efabd496d

[2016-07-21 19:40] darkwing opened #383 "Pretty Print: Uncaught TypeError: Cannot read property 'split' of undefined"
Comes from:  codemirror.js:8551

Seeing this every time I try to PrettyPrint a JavaScript file

[2016-07-21 19:50] jasonLaster opened #384 "Source Maps - pausing immediately"
currently we assume that we'll pause after the source map has loaded. That won't always be the case, if there is a debugger statement on the top level

[2016-07-21 19:50] jasonLaster commented on #383
Thanks @darkwing. Ignore that for now, I think we'll have to move pretty printing to the client, so this will change pretty significantly

[2016-07-21 20:04] jbhoosreddy commented on #368
After discussing with @jasonLaster, I'm going to drop this one for now.

[2016-07-21 20:19] jbhoosreddy commented on #372
@jasonLaster I can take this one. 😃

[2016-07-21 20:54] jasonLaster opened #387 "Cannot resolve module 'promise'"
npm install causes this error

[code]

[2016-07-21 21:32] jasonLaster opened #389 "dev-server httpGet crash"
when `httpGet` fails to find a resource it crashes the development server. It should return an HTTP 404 not found response

This is probably easy to test with a curl

[code]

[code]

[2016-07-21 21:34] jasonLaster opened #390 "firefox sourceMapUrls are not available"
problem some sources have an internal sourcemap, which is not available

Steps to reproduce:
1. open firefox nightly
2. go to localhost:8000/todomvc

[code]

[2016-07-21 21:44] #387 closed

[2016-07-21 22:07] clarkbw commented on #239
I didn't include the node install instructions because it seemed superfluous
[CONTRIBUTING#nodejs](./CONTRIBUTING.md#nodejs)

[2016-07-21 22:07] #239 closed

[2016-07-21 22:34] clarkbw commented on #262
@ilancohen looking at #135 and 62213c95c7320c4ea33f09faada5874e75c8228c where the original filter was added I think you can copy out this CSS:

[code]

And add in the extra dom element needed before the SourceTree here: https://github.com/jlongster/debugger.html/blob/master/public/js/components/Sources.js#L25

Just update the tests and you'll be done.

[2016-07-22 03:27] #336 closed

[2016-07-22 03:33] jasonLaster opened #395 "Fuzzy file search"
There are several good fuzzy file search libraries we can use

VS Code has an issue that discusses some of them
https://github.com/Microsoft/vscode/issues/55

We should borrow one and run with it.

It's both matching and ranking

[2016-07-22 04:17] jbhoosreddy commented on #395
I can take look at this one next.

[2016-07-22 13:02] jasonLaster opened #396 "Editor - Code Search"
![screen shot 2016-07-22 at 8 59 38 am](https://cloud.githubusercontent.com/assets/254562/17057791/7ed8df60-4fea-11e6-8c84-04d337f27447.png)

Editor Search:
- [ ] show a search pane
- [ ] show search results
- [ ] go to next / previous

Implementations:
+ [current debugger](https://dxr.mozilla.org/mozilla-central/source/devtools/client/sourceeditor/debugger.js#11-91)
+ [code mirror](https://codemi

[2016-07-22 13:38] jasonLaster opened #397 "Inline SVG"
When we started, we added SVGs to public/images and included them with ISvg. The problem with this approach is that it would a network request each time the SVG was used, which was slow and had a flash. Since then, we've moved in the direction of including SVGs directly, this does not require the extra request. We have one file now `icon.js` that has many React components.

The goal is to have a r

[2016-07-22 16:25] clarkbw opened #398 "readme screenshot"
thinking of using this for the readme screenshot

![debugger](https://cloud.githubusercontent.com/assets/2134/17063739/9d4b0fba-4fed-11e6-9651-9ea4bc32b6c7.png)

thoughts? @jlongster  @jasonLaster

I want something that shows off
* sources tree view
* editor
* editor tabs
* breakpoint list
* scopes
* call stack (however this call stack was actually too big to include and pushed everything down)
*

[2016-07-22 17:11] jasonLaster opened #402 "CI task to check README links"
Projects like [awesome bot](https://github.com/dkhamsing/awesome_bot) will check readme links so we don't submit bad links. This is the biggest problem I see with github docs.

[2016-07-22 17:13] jasonLaster commented on #398
Looks good. It might be interesting to show it without the browser chrome too at some point. The advantage of the chrome is that you see it's a local dev environment, but I wonder if that's central to the marketing. People who want to embed it might prefer just seeing the debugger.

[2016-07-22 17:18] jasonLaster opened #403 "Watch Expressions"
Implement Watch Expressions in the right sidebar:

Tasks:

- [x] add / remove watch expressions
- [x] edit an expression
- [x] show an expression value on pause or on edit

Thoughts:

* expressions stored in redux (maybe pause store, that's when they're evaluated)
* input is a formatted input (we don't need syntax highlighting now)
* value is a Rep (look at variable view for how to use them)
* eva

[2016-07-22 17:20] jbhoosreddy commented on #403
I'll work on this one now.

[2016-07-22 17:21] clarkbw commented on #398
I was thinking that as well.  That either it might be nice to show it in other browsers or just remove the browser chrome all together.

[2016-07-22 17:32] jasonLaster commented on #334
@jbhoosreddy interested in grabbing this?

[2016-07-22 17:32] clarkbw commented on #398
Here's the full height, no chrome version

![debugger](https://cloud.githubusercontent.com/assets/2134/17065593/8906ffb4-4ff7-11e6-89c1-aaa13f8e8664.png)

[2016-07-22 17:33] jasonLaster commented on #378
@jbhoosreddy - this could be a good one too

[2016-07-22 17:37] jasonLaster commented on #397
@jbhoosreddy this is somewhat of a chore issue, but would be really nice to lock down.

[2016-07-22 17:41] jasonLaster commented on #398
I think I like the initial aspect ratio. And could go either way on the chrome

[2016-07-22 17:48] #184 closed

[2016-07-22 17:50] jlongster commented on #328
This was fixed in #393

[2016-07-22 17:50] #328 closed

[2016-07-22 18:27] jasonLaster opened #405 "Source Maps - Integration Tests"
In addition to having unit tests that mock out different aspects (e.g. client) we should have at least one integration test that covers the most common cases.

[2016-07-22 19:51] clarkbw commented on #378
This wasn't exactly the right thing to do but this is what I aimed for:

* Always show Firefox + Chrome sections
 * Include quick instructions for starting each
  * Include links to further instructions in the docs
* Update the node section to be similar

Here's the quick mockup I made by commenting out lots of code:

![screen shot 2016-07-22 at 12 47 45 pm](https://cloud.githubusercontent.com/ass

[2016-07-22 20:18] jlongster commented on #245
This bug is for the server. The server does not maintain breakpoints across debugging sessions, and we cannot approximate that from the client because if we try to re-set them on refresh there are breakpoints that will definitely be missed because the code has already executed.

[2016-07-22 20:33] jlongster commented on #378
Personally I think those commands could be overwhelming here (if the user did something wrong that's unrelated, that's not a great first thing to show). I'd rather keep the form of a statement like "You may be looking too..." and "connect to firefox" is a link that display the command to run Firefox or something (and could also link to the docs).

[2016-07-22 20:34] jlongster commented on #398
I like the first screenshot a lot better as well. And I like the chrome, it makes for a prettier screenshot.

[2016-07-22 20:52] #372 closed

[2016-07-22 21:00] jasonLaster commented on #368
Broke this into four pieces

- [ ] pretty print the source
- [ ] show the pretty print source
- [ ] add / remove breakpoints from the pretty source (probably get it for free)
- [ ] handle cases where the ugly source is source mapped

there's a PR for 1 now, the rest will be done next week. 1 was the hard one.

[2016-07-22 21:18] clarkbw commented on #378
Agreed, I didn't like the commands approach, you can see it becomes messy and then we have multiple places where these commands live.

[2016-07-23 01:03] jbhoosreddy commented on #378
One thing we could do is have a GitHub style "Copy to clipboard" button which copies the appropriate command to clipboard and can be executed by the users directly.

[2016-07-23 03:13] clarkbw commented on #378
I like it!  Could keep it short and offer both OS options while still linking to the docs for more information.

[2016-07-25 13:13] jasonLaster opened #412 "Toolbox Favicon"
It'd be fun if we had a toolbox favicon. To be clear, this is not a user thing, but just a nice polish touch for developers who are working in local dev mode.

----

### 11/29 update

We had a favicon, which was broken when we moved the index.html to the toolbox. Lets fix it!

[2016-07-25 13:15] jasonLaster opened #413 "Source Maps - children with the same key"
I'm getting this error when using source maps. It should be a fairly easy key fix.

[code]

[2016-07-25 14:32] jasonLaster opened #414 "Standardize SVG components"
Now that we're using an svg loader, we can standardize the way we use SVGS

- The `icons` file might not be necessary
- Other places that use inline svgs can be simplified a lot as well

[2016-07-25 14:56] jlongster commented on #390
The debugger server uses that URL for sourcemaps it generates, which only happens when pretty-printing. If we never use pretty-printing on the server, you shouldn't ever see that. You may have auto-pretty-print minified sources on, so it's automatically pretty-printing them. For now, we could just make sure that pref is off.

[2016-07-25 15:47] jasonLaster commented on #390
oh yeah - that's absolutely true. Just saw the url

`http://localhost:8000/todomvc/bower_components/backbone.localStorage/backbone.localStorage`

[2016-07-25 18:27] jasonLaster commented on #402
I started working on using [broken-links](https://github.com/jasonlaster/broken-links) to check for links. There are several improvements that should happen before this can be a CI job, but it's definitely possible.

[2016-07-25 18:31] jasonLaster opened #416 "Source Maps - move source-map utility to a worker"
We should move the utility to a worker asap, so that we can have experience with async calls and handle performance issues that will come up.

[2016-07-25 18:35] clarkbw opened #417 "responsive design for sidebar layout"
We want the debugger to work well when there is limited horizontal space, like is the case for when the toolbox is mounted to the side instead of bottom.

I did a quick hack to examine this.  The way our base structure is created with the splitters seems to make a responsive design difficult.  The approach I was thinking of was giving the splitter references only to the box we wanted it to affect

[2016-07-25 19:10] jlongster commented on #417
Honza is already working on the next version of the split box that will handle this. The split box should ideally handle this for us, otherwise it's not the most friendly API. I'd ask Honza how far along he is. If anything, we can do something like this but I'd prefer to evolve split box.

[2016-07-25 19:23] jlongster commented on #317
Work being done in https://bugzilla.mozilla.org/show_bug.cgi?id=1288511

[2016-07-25 19:55] clarkbw commented on #417
I think updating the split box to be better is the best route.  I'll touch base with @janodvarko on his progress so far.

Other next steps are working with @helenvholmes on a design for the debugger in this view.

[2016-07-26 13:21] helenvholmes commented on #396
<img width="1150" alt="screen shot 2016-07-25 at 5 10 31 pm" src="https://cloud.githubusercontent.com/assets/1720093/17138709/8c7ebb26-530f-11e6-94b9-0849a5cc04dc.png">

![search and filter](https://cloud.githubusercontent.com/assets/1720093/17138738/ab5f5f50-530f-11e6-800f-64a26d6d1c49.png)

(Relevant designs)

Chrome used to do something similar to what I had designed for "search across files",

[2016-07-26 13:23] helenvholmes commented on #372
@clarkbw: hey, I know this has since been closed, but on designs needed from me: were you referring to the icon for pause on exceptions, or designs for the paused state in the debugger? (attaching those below):

![screen shot 2016-07-26 at 9 22 08 am](https://cloud.githubusercontent.com/assets/1720093/17139466/962207d4-5312-11e6-9739-ce386d6b07d2.png)

[2016-07-26 14:42] clarkbw commented on #372
I think we were handling this in another issue.

This was first and foremost about the icon and then anything related to the toggle state behavior / interactions.

[2016-07-26 15:11] clarkbw commented on #331
Checking in with @jay3686, @ToucheSir, and @marfarma

[2016-07-26 15:13] ToucheSir commented on #331
I give my permission to license under the MPL 2 any contributions I have made to the debugger.html code base.

[2016-07-26 15:16] clarkbw commented on #206
@jbhoosreddy I believe this issue is done, right?

[2016-07-26 15:22] jbhoosreddy commented on #206
yes. It is done.

[2016-07-26 15:23] helenvholmes commented on #372
@clarkbw Should I open a new bug with that info?

[2016-07-26 15:30] jasonLaster commented on #372
Yeah, definitely

[2016-07-26 16:18] jasonLaster commented on #368
Found a couple of tweaks that will need to be made after this lands:

- [ ] formatted source should not be in the tree
- [ ] pretty print button should be "selected" in pretty source
- [ ] selecting the pretty print button should take you to the other source ugly -> pretty, pretty -> ugly

[2016-07-26 17:42] jasonLaster opened #419 "Pretty Print - Pretty printing an original source"
Case:
+ a bundle file "a.js" has been source mapped, creating original files "b.js", "c.js"
+ user pretty prints "b.js" creating "d.js"

One likely use case, is the user has created a bundle with a minified version of jquery.

Problem:
+ do we support adding breakpoints in "b.js" and "d.js"? If we do we have two source map hops to "a.js", which is difficult.

Solution:
+ I propose we disable addin

[2016-07-26 17:43] jasonLaster opened #420 "Pretty Print - Pretty printing a generated source"
Case:
+ a bundle file "a.js" has been source mapped, creating original files "b.js", "c.js"
+ user pretty prints "a.js" creating "d.js"

Use Case
* the user wants to see the bundle file prettified so that he can see what crazy babel transpiling is going on and debug that directly.

Problem:
+ do we support breakpoints in "d.js" (pretty bundle) and "b.js" and "c.js"? This might be difficult because

[2016-07-26 17:44] jasonLaster opened #421 "Pretty Print UX"
Found a couple of tweaks that will need to be made after the PR lands:

- [ ] formatted source should not be in the tree
- [ ] pretty print button should be "selected" in pretty source
- [ ] selecting the pretty print button should take you to the other source ugly -> pretty, pretty -> ugly

[2016-07-26 17:59] #397 closed

[2016-07-26 19:11] jasonLaster opened #423 "Disable All breakpoints"
We should support disabling all of the breakpoints. The button is already in there, it's the crossed out badge:

![screen shot 2016-07-26 at 3 07 51 pm](https://cloud.githubusercontent.com/assets/254562/17151712/978b9998-5342-11e6-829a-66a5b6fdc0ed.png)

I'm not sure how to do this yet:
+ In chrome there is a method `setBreakpointsActive`
+ In firefox, we might disable all of the breakpoints
+ The

[2016-07-26 20:11] #413 closed

[2016-07-26 20:12] #390 closed

[2016-07-26 22:10] #206 closed

[2016-07-27 13:02] helenvholmes opened #425 "Pause on Exceptions Icon"
We need one! Currently using the step-into icon, I believe.

[2016-07-27 14:22] jasonLaster opened #426 "Collapse/Expand sidebar UI"
We should have a button next to the sidebars for collapsing them. Clicking them should start a slidey animation of course.

NOTE: don't worry about getting the right icon. It could be anything, we can fix that later :)

![screen shot 2016-07-27 at 11 35 34 am](https://cloud.githubusercontent.com/assets/254562/17181437/237ebe0c-53ee-11e6-9205-e4aca9474040.png)

[2016-07-27 15:20] jasonLaster opened #429 "Taskcluster"
Created an issue to track our work w/ task cluster

- [ ] run unit tests
- [ ] run integration tests

Also, noticed positron is using it: https://github.com/mozilla/positron/pull/103/files

[2016-07-27 15:24] jasonLaster opened #430 "breakpoint pause icon is rotated 90 degrees"
The icon is paused 90 degrees. This is likely because the accordion triangle is rotated 90 degrees.

Kinda awesome bug if you ask me

<img width="299" alt="screen shot 2016-07-27 at 11 24 12 am" src="https://cloud.githubusercontent.com/assets/254562/17181019/896616b8-53ec-11e6-8ff9-18f89a33aaf3.png">

[2016-07-27 16:59] jasonLaster commented on #368
There are several small pieces that still remain. But the happy case has landed and the other work is in small issues, so closing this issue

[2016-07-27 16:59] #368 closed

[2016-07-28 21:59] jasonLaster opened #435 "Expand the Source Tree"
When we debounced the source tree, the source tree stopped expanding by default

When I logged the tree renders, I noticed that the expanded flag alternated between being true or false. This was surprising as I would have thought that it should be dependent on whether the item has children.

[code]

[2016-07-29 05:01] jasonLaster opened #437 "Feature Flag blackbox"
Currently, the blackbox icon is shown in the bottom right of the editor. We should add a feature flag, so that is off by default.

[2016-07-29 05:03] jasonLaster opened #438 "Polish Source Editor Actions"
Currently the editor actions float in the bottom right. @helenvholmes and I discussed this and it would be cleaner to move the actions below or above the editor.

+ the action row could also include editor search, which could expand on click
+ scrolling with the semi-transparent icons is an awkward experience now.

[2016-07-29 05:05] jasonLaster opened #439 "Right Sidebar element wrapping"
When the right sidebar is narrow, there are weird wrapping that should be fixed with an overflow hidden. Chrome has the right behavior here, which is effectively to allow the user to shrink the UI, without attempting to be responsive at a certain point. The UI won't be usable, but that is okay as the user could always expand the sidebar later.

[2016-07-29 05:05] jasonLaster opened #440 "Fix storybook"
Storybook currently is broken, with an svg issue. Should be an easy fix, likely a webpack change

[2016-07-29 05:08] #416 closed

[2016-07-29 05:10] jasonLaster commented on #403
@jbhoosreddy we can mark this as done when we have a rough implementation where you can add expressions that are evaluated on pause.

+ Object Inspector
+ Edit
+ Delete

can all come later. This is a big feature and aught to be broken up into smaller pieces

[2016-07-29 05:35] jbhoosreddy commented on #403
@jasonLaster thanks. It works to that extent, so I'm going to make a PR tonight. I was actually looking into the httpGet issue now.

[2016-07-29 15:41] #395 closed

[2016-07-29 15:42] jasonLaster commented on #383
fixed now that we're Pretty Printing in the client

[2016-07-29 15:42] #383 closed

[2016-07-29 15:44] jasonLaster commented on #276
Is this still an issue?

[2016-07-29 15:44] jasonLaster commented on #412
@helenvholmes want to have fun with this?

[2016-07-29 16:02] jasonLaster opened #441 "Fix Karma"
I disabled karma after source mapping workers.

It should be possible to use karma's dsl to also build the workers. We're doing the same thing with `mocha-server` so it's definitely possible.

[2016-07-29 18:12] helenvholmes commented on #425
Fixed with #443.

[2016-07-29 18:12] #425 closed

[2016-07-29 19:19] jasonLaster commented on #246
Fixed by #428

[2016-07-29 19:19] #246 closed

[2016-07-29 21:16] jasonLaster opened #445 "Add a breakpoint in an html file"
It should be possible to add a breakpoint in an html file.

Here's an example where I'm trying to add a breakpoint in the `increment` example's index.html

![screen shot 2016-07-29 at 5 16 39 pm](https://cloud.githubusercontent.com/assets/254562/17263649/140f7268-55b0-11e6-95d9-4839978e958e.png)

[2016-07-29 23:48] jlongster opened #446 "Improve config"
Jason and I talked and we're going to introduce a new `TARGET` env variable which specifies the desired environment. The main thing this will be used for is specifying that we are building for the Firefox panel, which changes a lot of stuff. So building it would be `TARGET=firefox-panel webpack`. I'm also going to look into using `nconf` or another system like that for the backend, and move our si

[2016-07-29 23:56] jlongster commented on #446
So introducing `TARGET` was pretty easy: #447. I think this solves the config issues for the firefox panel, so I probably won't refactor the config system any more until later this week (if we want to look at nconf). I really want to get the bundle landed on Monday.

[2016-08-01 14:31] jlongster commented on #445
This should already work. It works for me:

<img width="954" alt="screen shot 2016-08-01 at 10 30 38 am" src="https://cloud.githubusercontent.com/assets/17031/17297285/0f104a88-57d3-11e6-9ca6-3df0f7993252.png">

[2016-08-01 15:46] jasonLaster commented on #445
hmm, it's strange that in my case you only see the script pulled out of the HTML

[2016-08-01 16:10] jasonLaster commented on #403
@jbhoosreddy did a great job in https://github.com/jlongster/debugger.html/pull/434. The first pass has the ability to add and edit watch expresions.

We'll do a second pass soon:
+ look at comments in #434
+ add remove expressions
+ format with the Object Inspector

[2016-08-01 16:11] jasonLaster commented on #245
Fixed.

[2016-08-01 16:11] #245 closed

[2016-08-01 16:21] linclark opened #450 "Move object inspector to standalone module"
As we've talked about before, the console would benefit greatly from reusing the object inspector. I believe @jlongster planned to and/or did make this possible architecturally by separating the object inspector out from the sources tree.

In order for the console to reuse it, we'll need to make it possible to import it. I'm thinking it makes sense for it to be a separate repo `devtools-html/objec

[2016-08-01 16:25] jasonLaster commented on #384
#444

[2016-08-01 16:25] #384 closed

[2016-08-01 17:05] jlongster commented on #450
Shouldn't be too hard. As you said, I've been planning on it. I think the main thing it depends on is reps. So this will force us to figure out how to manage shared dependencies generally. Oh, it also depends on the tree... this is all good stuff to figure out, but it might take some time. I'm focusing on landing the debugger behind a pref right now, but I will look at this soon.

[2016-08-01 17:48] clarkbw commented on #445
I'm seeing the @jlongster screenshot and not seeing the webpack: version. I have `"sourceMaps" : true` on in my config...

[2016-08-01 18:34] jlongster opened #451 "Replace `utils/path.js` with a proper path library"
We hacked together `path.js` as a temporary module, but we should use a library that provides real joining and other operations on URLs. I just added a few methods to resolve source map URLs, and it's getting hacky. Someone should find a nice (small) library for operating on URLs (basename, dirname, join, etc).

[2016-08-01 20:29] jasonLaster opened #454 "Surface the debugger examples"
One of the most common questions I get, is how do I debug an app with source maps, or a minified source. We should answer these questions with documentation.

Here are a couple of ideas:
- add an `examples` index file that lists the different projects and what they are helpful for debugging. e.g. _increment_ is good for source maps. _todomvc_ has a minfied source (localstorage.js)
- mention the ex

[2016-08-01 20:41] jlongster commented on #454
These are just static files, so we could just host them somewhere like on the gh-pages of this repo. Then we wouldn't have to bother with an express server and could link directly to them from the readme or something. I'd like to keep the development server simple. (and we avoid more failure points, like starting the example server happens to clash with something else already listening on that por

[2016-08-01 21:17] clarkbw commented on #454
I like this.

But we should try to maintain a way to serve them locally like we do now, that has saved me on flights.  Maybe a separate examples repo would make this easier.

With a gh-pages branch we could direct people to https://devtools-html.github.io/debugger.html/

[2016-08-01 21:28] jasonLaster commented on #440
Fixed with this commit https://github.com/devtools-html/debugger.html/commit/0cc26fcf9917f1789ae1f27c8d5a74f4948c1ba8

[2016-08-01 21:28] #440 closed

[2016-08-02 00:46] hallvors commented on #451
Here's Node's Path documentation: https://nodejs.org/api/path.html
https://github.com/nodejs/node/blob/master/lib/path.js

Not sure if that's reusable. I haven't found anything else so far.

[2016-08-02 01:26] hallvors opened #458 "Document how to connect to Firefox on Android"

[2016-08-02 01:31] hallvors opened #459 "Reloading debuggee with breakpoint hangs"
1. Go to http://localhost:8000/increment example in debuggee browser
2. In debugger, open *increment / (index)* and set breakpoint on ``_value = 0`` line
3. Reload debuggee page

Bug: never finishes loading. In the debugger, the UI doesn't show it stopped at a breakpoint either.

[2016-08-02 01:44] hallvors opened #461 "Can set breakpoints on non-JS lines"
1. Go to http://localhost:8000/increment example in debuggee browser
2. In debugger, open *increment / (index)* and set breakpoint on the line with the HTML *title* tag

Bug: the debugger should know what lines it makes sense to set breakpoints on :)

[2016-08-02 01:49] hallvors commented on #445
I've once (semi-randomly) seen the debugger in a state where the *(index)* entry didn't appear in the UI, but I have never seen the state @jasonLaster reports here..

[2016-08-02 13:37] jlongster commented on #461
It's impossible to deterministically know which lines you can and can't set breakpoints on. Scripts (functions) may have already been GCed so it doesn't look like there's anything there, but you definitely should be able to set a breakpoint there and refresh the page and hit it in the next session.

This is a really tricky problem and it's best to just let the breakpoint be set even if it's never

[2016-08-02 13:42] jlongster commented on #454
Ok, I'm fine keeping them in here but it'd be nice to just have a separate command like `npm run examples` or something. If you all really want it to be automatically served that's fine too.

[2016-08-02 13:54] hallvors commented on #461
hm.. if there was an inline event handler in the HTML, would setting a breakpoint actually work? 8-)

You are saying the source code rendering view has absolutely no idea what code is JS, what is HTML and what is CSS? It's unexpected behaviour but if you say it's by design just close this as invalid.

[2016-08-02 14:02] jasonLaster commented on #454
Hmm, the gh-pages could be nice.

I would prefer to leave it as part of the dev-server. The advantage is that it's one less step to explain to beginners and one less process to start up. The dev server crashes now in one place, which will be fixed shortly.

[2016-08-02 14:03] #458 closed

[2016-08-02 14:26] jlongster commented on #454
We should point most people to gh-pages though. The only reason you'd need to manually start a server is if you were offline like @clarkbw said and really want that. For the most part people can just use the hosted examples. bgrins has an examples repo that he uses on his personal github and that's worked really well.

Imagine when the debugger lands and people just want to see how to debug source

[2016-08-02 16:12] jasonLaster commented on #454
@jlongster makes sense.

[2016-08-02 16:17] jasonLaster opened #464 "Storybook - Editor with sources is only shown when it's initially selected"
The Storybook story "Editor with selected source and breakpoints" is only shown when it's initially selected.

If you select it in the list you see a blank editor. I'm curious to get to the bottom of this as it seems like an interesting React-Redux question.

[2016-08-02 16:18] #360 closed

[2016-08-02 20:38] jasonLaster opened #466 "Source Tree should reset when debuggee is navigated"
Here's a screenshot of the debugger showing sources for todomvc and increment after i navigated from one page to the other. This has been a known issue.

![screen shot 2016-08-02 at 4 37 54 pm](https://cloud.githubusercontent.com/assets/254562/17344227/61775c2e-58cf-11e6-95e7-7ddaa01e18f1.png)

[2016-08-02 20:55] clarkbw opened #467 "improve isEnabled and getValue config functions"
There are two functions `isEnabled` and `getValue`. Currently they're only different because `isEnabled` forces a truthy check. I'd like to change that so, isEnabled is for feature flags and getValue is for config values

This would have the added benefit of changing `isEnabled("features.pokemon-go")`  to `isEnabled("pokemon-go")`

via https://github.com/devtools-html/debugger.html/pull/457#discus

[2016-08-03 14:11] jasonLaster opened #469 "Source Maps - load source map files in the toolbox"
we'll need a way to fetch source maps from the toolbox. We currently use the dev-server in the local development mode.

[2016-08-03 14:11] jasonLaster commented on #307
Closing this issue as it's largely done and opening an issue for https://github.com/devtools-html/debugger.html/issues/469

[2016-08-03 14:12] #307 closed

[2016-08-03 14:13] #439 closed

[2016-08-03 17:40] clarkbw commented on #389
I didn't solve this but took a look at possible solutions that might be useful when you're working on this @jbhoosreddy https://github.com/clarkbw/debugger.html/tree/http-dev-server-crash

[2016-08-03 17:57] clarkbw commented on #378
Fixed in #471

[2016-08-03 17:57] #378 closed

[2016-08-03 19:34] jasonLaster commented on #466
Just did a little digging and found a couple of things:

on page navigate:
+ Firefox properly clears the sources
+ Chrome does not clear the sources
+ Firefox does not clear the breakpoints

[2016-08-03 21:09] clarkbw opened #474 "Ignore caught exceptions"
Currently we have a settings menu for this action and we don't want to continue using the settings menu for hiding this option.

Chrome uses the Pause on Exceptions button to trigger a secondary menu for this action.  I believe we should be looking into something similar to this system.  I'd rather have a combo button interaction but that's up for design.

Here are the levels of pause:
* First act

[2016-08-03 21:12] clarkbw opened #475 "Create settings menu for automatic actions"
The two settings relate to the functions we have for manually working with sources.

* Auto Prettify Minified Sources
* Auto Black Box Minified Sources

Personally I feel like these options should either be located in the source tree or the editor area where the effect takes place.  The settings menu we use is generally located an so these options are likely unused.

Here is the original settings

[2016-08-03 21:37] jbhoosreddy commented on #389
@clarkbw thanks for this. I'll look into it!

[2016-08-03 21:56] jasonLaster commented on #445
I think I got to the bottom of this:

Steps to reproduce:
+ enable sourceMaps
+ go to localhost:8000/increment in chrome

There are two issues for me:
+ the source is only the script portion
+ i can't add a breakpoint

These issues are related. It turns out that chrome has a separate endpoint for getting a non script resource:

[code]

I believe that if I fetch the source this way, that i'd see th

[2016-08-03 22:04] jbhoosreddy opened #476 "Add tooltip to icons"
Adding tooltips to the icons should help people out who are not familiar with what the buttons do.

<img width="136" alt="screen shot 2016-08-03 at 3 11 39 pm" src="https://cloud.githubusercontent.com/assets/2481105/17383555/656e751c-598b-11e6-834f-f85bcb4c7b44.png">

[2016-08-04 13:21] jasonLaster commented on #476
Great find

[2016-08-04 14:02] jasonLaster opened #478 "Formatted original source id's with a slash"
Currently they're JSON stringified, which is unecessary

[2016-08-04 14:23] jasonLaster opened #479 "Hide Breakpoints from a different page"
Steps to reproduce:
1. go to a page, add breakpoints
2. go to another page, add breakpoints

you'll see breakpoints from the original page as well. We should hide those as they are not relevant.

Notes:
+ this can likely be implemented with a selector, which can filter the breakpoints list by checking to see if the breakpoint source is still in the store.

Here's how chrome handles navigation beha

[2016-08-04 14:33] jasonLaster opened #480 "Source Maps - source fails to load after navigation"
Steps to reproduce:
+ go to page with source maps
+ refresh page
+ select original source

The issue, is that the source map consumers and nodes are not being cleared during page navigations, so the old consumers are still around.

[2016-08-04 15:44] #480 closed

[2016-08-04 15:46] jasonLaster opened #482 "Switch source map tests to firefox"
We can test source maps with firefox if we test against nightly. We should try doing that as it will give us a better idea of whether the debugger is likely to work in the firefox panel.

NOTE:
+ we'll likely need to start using marionette as the selenium backend

[code]

[2016-08-04 16:11] jasonLaster commented on #466
Fixed by #473

[2016-08-04 16:11] #466 closed

[2016-08-04 16:12] jasonLaster commented on #437
Fixed by #477

[2016-08-04 16:12] #437 closed

[2016-08-04 18:03] #405 closed

[2016-08-04 19:04] jasonLaster commented on #435
Hey, mind taking a look at this @jlongster?

[2016-08-04 19:19] jlongster commented on #435
Yep, I should be able to get to it today. Mostly waiting on try for a bunch of bugzilla stuff at this point.

[2016-08-04 19:19] jasonLaster commented on #482
I did a little work to install and start firefox nightly:

https://github.com/devtools-html/debugger.html/compare/master...jasonLaster:test-firefox-latest

This script successfully downloads the latest build, but fails to untar it.

I also tried running the driver with the latest firefox and confirmed that we will need to use marionette to drive the latest firefox. We have two options here, the fi

[2016-08-04 19:48] jasonLaster opened #486 "Source Maps - pausing on breakpoints"
It looks like breakpoints in an original source no longer works for firefox. It does work for chrome though.

Steps to reproduce:
- go to increment in firefox
- add a breakpoint on increment.js line 3
- click the increment button

Note:
- adding a breakpoint in (index) on line 12 does work.

Also, attempting to remove the breakpoint throws this error:
[code]

[2016-08-04 20:08] jlongster commented on #482
Thanks for looking into this! Definitely something to look into more soon.

[2016-08-04 20:40] jlongster commented on #435
The problem is the fact that we create a new tree every single time because of the "collapsing" process. There is a TODO in there already about this. This is problematic because the identity of the tree items change whenever a new source is added, thus everything loses it's "expanded" flag because it's keyed off of the item instance.

This is not the fault of debouncing the source tree at all, it

[2016-08-04 22:16] jasonLaster commented on #334
This looks like a fix
https://gist.github.com/jasonLaster/2c9f9d5048c144ea5031d09efd9b9bb1

[2016-08-05 13:42] jasonLaster opened #492 "Source Maps - investigate failing tests"
It looks like the source map tests are failing too regularly

Here's a good example run
https://circleci.com/gh/jasonLaster/debugger.html/726

It looks like there's an interesting pattern here where the first and second failures are similar across runs, not sure if it's a coincidence.

**first run**
[code]

**second run**
[code]

[2016-08-05 13:59] jasonLaster opened #493 "Toolbox - Create separate library"
We've discussed extracting the toolbox from debugger.html from the beginning. There are a couple benefits:

1. focus debugger.html
2. let other tools (e.g. console) connect to javascript targets (chrome, firefox, node)

**toolbox:**
+ **client**
   + list tabs
   + connect to tab
   + commands and events
   + tools would define their own init handler
   + chrome-devtools-client library, which give

[2016-08-05 14:10] jasonLaster opened #494 "Client - log commands and events"
It can be very useful to see the client protocol over the course of a session and diagnose what is going wrong.

Hopefully we can have a system that is capable of
+ console logging events + commands
+ storing events + commands in a log store that can be written to disk or viewed holistically

[2016-08-05 14:35] jasonLaster commented on #421
@jbhoosreddy i think this might be a fun one for you. There's some interesting bits in here that need to be sorted out before pretty printing can land.

[2016-08-05 14:36] jasonLaster commented on #421
Also, i noticed recently that selecting "pretty print" a second time causes an error, so there's a  bug in there too.

[2016-08-05 15:31] #414 closed

[2016-08-06 13:36] jasonLaster commented on #492
I believe these failures were fixed by  these two commits [1](https://github.com/devtools-html/debugger.html/tree/b3ce17ca6cc928a79c0ec6bb9bbb860fd70141c1), [2](https://github.com/devtools-html/debugger.html/tree/81b92e1c8b06f03e4b9c408d050c34146167a34b).

[2016-08-06 13:36] #492 closed

[2016-08-06 13:37] jasonLaster commented on #486
This will be fixed by #489.

[2016-08-06 14:51] jasonLaster opened #501 "(discussion) Action logs"
(discussion) We currently have the ability to console.log actions. It would also be nice to be able save the actions to a file during CI.

There are two options that I see:
+ add the actions to a global registry `window.actionLog` and export it during the `saveFixture` command
+ post the actions to a dev-server endpoint as that writes them to a log file

This came up yesterday when I was digging i

[2016-08-06 14:55] jasonLaster opened #502 "reset connection when the debugger refreshes"
I believe one of the reasons we were seeing intermittents with chrome this week was that the test would reload the debugger and not properly reset the connection.

The situation I would see was:
- reload debugger
- select a source
- add a breakpoint
- do an action in the debuggee to trigger a pause
- debugger wouldn't pause

The problem was fixed by not reloading the debugger: https://github.com/d

[2016-08-08 02:30] jbhoosreddy commented on #389
@jasonLaster could you give me feedback on this?

[2016-08-08 13:05] jasonLaster commented on #389
Oh sorry, I didn't realize that you had done this work. Mind opening a PR for it?

I think it's fine, but it's hard to say because i'm not too familiar with express' api's

[2016-08-08 15:58] clarkbw opened #513 "Link to expected JS comment format in CONTRIBUTING"
We should give people a heads up about the expected comment formatting as seen in https://github.com/devtools-html/debugger.html/pull/491#discussion-diff-73884118

[2016-08-08 16:00] jlongster commented on #513
We can just link here: https://wiki.mozilla.org/DevTools/CodingStandards

Although I don't think that is explicitly called out in there, we can add it.

[2016-08-08 16:17] #334 closed

[2016-08-08 16:59] clarkbw commented on #513
- [ ] Add comment formatting to Wiki Page
- [ ] Link to JS code formatting in the [CONTRIBUTING](./CONTRIBUTING.md) doc

[2016-08-08 17:00] jlongster commented on #501
In my opinion the CI should allow this. It's not uncommon to use this workflow on try: enable more verbose logging and download the log file and see what's going on. Why not just download the log file from CI?

[2016-08-08 18:15] jasonLaster commented on #501
At the moment, we're not saving console logs to a log file, you're right that we should probably just generalize it to that.

[2016-08-08 18:20] jasonLaster opened #516 "Add debugger keyboard shortcuts"
Now that we've landed debugger command tooltips, we should go in and add some global keyboard shortcuts:

https://github.com/devtools-html/debugger.html/pull/500

shortcuts:
+ resume - F8
+ Step Over - F10
+ Step In - F11
+ Step Out - F12

[2016-08-08 18:39] jlongster commented on #501
Cool, then we don't have to write code! :) We could still drive logging from prefs if you wanted, and in fact that's related to your client logging PR. I'd be fine with a pref, but I'd prefer that pref to just flip the Firefox pref to log protocol data. With these prefs we could control the amount of logging when pushing to CI.

[2016-08-08 18:58] #486 closed

[2016-08-08 19:17] jasonLaster opened #517 "Fix Keyboard Shortcuts with the firefox panel"
We noticed while loading the bundle that the keyboard shortcuts library uses Services, which includes Prefs, which uses localstorage, which breaks.

We should fix this soon so that we can bundle the debugger of of HEAD

[2016-08-08 20:21] jasonLaster commented on #494
Closing as this conversation occurred in #496. If we want to log the protocol in firefox we have the mechanism to do that.

If we want to log/record the client in the future, we can revisit.

[2016-08-08 20:21] #494 closed

[2016-08-08 20:26] jasonLaster commented on #474
Hey @clarkbw, @helenvholmes mind weighing in with some designs / sketches of how you see this working:

The engineering side should be easy: [protocol method](https://github.com/devtools-html/debugger.html/blob/master/public/js/lib/devtools-sham/shared/client/main.js#L1863-L1867) [client command](https://github.com/devtools-html/debugger.html/blob/master/public/js/clients/firefox/commands.js#L97-L

[2016-08-08 20:27] jasonLaster commented on #337
Thanks @amitzur!

[2016-08-08 20:27] #337 closed

[2016-08-08 20:31] jasonLaster commented on #338
@amitzur, interested in working on this list?

I think they should all be fairly actionable except for the item "file search" button one. @helenvholmes, do you have an idea of where you think we should surface a file search button if it's not open?

[2016-08-08 20:32] #476 closed

[2016-08-08 20:32] jasonLaster commented on #317
@jlongster is this pass done?

[2016-08-08 20:40] clarkbw opened #519 "resource:// urls in source tree"
Not sure how we want to handle these for now.  We could hide them or maybe leaving them in the list but perhaps it could be at least sorted to the bottom.  The add-on code running in the page is a valid use case for some set of people bu feels less important than the page itself.

![screen shot 2016-08-08 at 1 35 37 pm](https://cloud.githubusercontent.com/assets/2134/17495334/92f9ff34-5d6d-11e6-96

[2016-08-08 20:52] jlongster commented on #519
Addon debugging is a very important use case (almost mentioned this in my email) and I think they'll always show up as resource:// URLs, so we need to be careful of hardcoding any rules for them specifically. What does our old debugger to for these scripts?

[2016-08-08 20:53] jlongster commented on #519
Also, did you do anything to see those webpack URLs? Sourcemapping should be turned off so you shouldn't be seeing those...

[2016-08-08 20:56] jlongster commented on #317
Yep!

[2016-08-08 20:56] #317 closed

[2016-08-08 20:57] jlongster commented on #435
This is fixed in #510

[2016-08-08 20:57] #435 closed

[2016-08-08 21:13] jasonLaster commented on #134
I started working on theming for a bit and got pretty far. Here's a [branch](https://github.com/devtools-html/debugger.html/compare/master...jasonLaster:theming?expand=1).

+ Include dark and light theme css files
+ remove overriding / legacy styles
+ update codemirror to support mozilla themes

The toolbox has a lot of logic to support loading the correct stylesheet:
+ https://dxr.mozilla.org/moz

[2016-08-08 21:22] jasonLaster opened #520 "Investigate CodeMirror module"
We need to figure out how we'll be supporting codemirror and other features in the new debugger. The big question is, how do we share editor functionality with other tools so that users have a consistent experience.

**Options**:
1. we modify `sourceditor.js` so that we can re-use it directly in `Editor.js`
2. we develop a new modular editor that other tools can use going forward. [comment](https:

[2016-08-08 21:27] jasonLaster commented on #519
@jlongster I believe source mapping is on by default on the server at the moment. My patch on friday that disables it probably didn't land yet.

[2016-08-08 22:47] clarkbw commented on #519
Ok, lets keep them as is for now.

[2016-08-08 22:47] #519 closed

[2016-08-08 22:50] clarkbw commented on #389
@jbhoosreddy did you open a PR for e2ea8e30151888ae72917603a169289df807c66e?

[2016-08-08 22:55] jbhoosreddy commented on #389
@clarkbw I guess not. But I did one now.

[2016-08-08 23:01] clarkbw commented on #389
#523 👯

[2016-08-08 23:09] clarkbw opened #524 "[Source Tree] highlight selected tab"
When you have multiple source tabs open in the editor I assumed switching between them would update the source tree view on the left.  I'm not sure some opposite approach of a tightly coupled source view that jumps around is the answer, but likely the selected state should change so it isn't confusing when I want to go back to a file that appears to already be selected.

See screenshot where one t

[2016-08-09 00:22] #430 closed

[2016-08-09 00:26] jasonLaster commented on #524
Thanks for filling this, Jane's and I talked about this in June.

I think you're right that is a question of updating the selected item. I'd like to double check Chrome's and sublimes UX. I don't think any of them open the tree.

[2016-08-09 03:55] clarkbw commented on #249
I feel like most of this is already done

[2016-08-09 04:00] clarkbw commented on #474
Here's what Chrome does.  Not recommending this, just for reference.
![pause on caught exceptions](https://cloud.githubusercontent.com/assets/2134/17504160/2add01ba-5dab-11e6-8d63-1ac52707138a.gif)

[2016-08-09 13:54] helenvholmes commented on #474
Anyone mind giving me the low-down on the difference between exceptions and caught exceptions? (I think James did at some point... yikes, sorry!)

If we wanted to do some sort of combo button, not understanding what the two do, we could have it cycle through three states on click:

![screen shot 2016-08-09 at 9 53 41 am](https://cloud.githubusercontent.com/assets/1720093/17518764/2e25c76e-5e17-11e

[2016-08-09 13:57] jlongster commented on #474
@helenvholmes There are two types of breaking on exceptions:

1. Pause on any exception whatsoever, even if it's wrapped in a try/catch block and is handled
2. Only pause on exceptions that aren't caught, and bubble up to the top and are thrown

Does that make sense?

[2016-08-09 14:00] jasonLaster commented on #474
Damnit, @jlongster beat me to it. Here's what I had, might help:

Here are two programs: the first catches an exception, the second does not:

[code]

[code]

The benefit of pausing on uncaught exceptions is that they are unexpected uhohs. The benefit of pausing on caught exceptions is sometimes, that's just where you want to stop and it's useful. I think it's most useful to pause on uncaught exce

[2016-08-09 14:06] jlongster commented on #249
Yes, I meant to update this yesterday. I think we can close it for now. Compatibility with m-c will be a long-standing effort and we'll keep working on it in new bugs.

[2016-08-09 14:06] #249 closed

[2016-08-09 14:42] jasonLaster commented on #517
jryans is working on a patch that will support localstorage in the panel. If this lands then keyboard-shortcuts will be supported. Don't ask why localstorage is related to keyboard shortcuts 😛

[2016-08-09 14:51] clarkbw commented on #517
Can you drop a link to that work?  🚧

[2016-08-09 14:52] jasonLaster opened #525 "Breakpoints - adding lots of breakpoints causes errors"
If you open a source and start thrashing on the gutter (adding/removing) lots of breakpoints, you'll quickly see three errors:

+ ` {from: "server1.conn147.child1/34", error: "wrongState", message: "Cannot set breakpoint while debuggee is running."}`
+ `error: "wrongState", message: "Stack frames are only available while the debuggee is paused.", from: "server1.conn147.child1/26"}`
+ `TypeError: C

[2016-08-09 14:56] jasonLaster commented on #459
I believe i fixed this last week. If i remember correctly, the bug was related to source maps not updating: https://github.com/devtools-html/debugger.html/commit/b9d515a8ef44d3727bdee5e886068fd5ce8a0d16.

Either way, i believe this is the case you were describing.

![screen shot 2016-08-09 at 10 56 29 am](https://cloud.githubusercontent.com/assets/254562/17521010/bb6fcb8a-5e1f-11e6-90ef-2065414cd6

[2016-08-09 14:59] jasonLaster opened #526 "Refreshing Debuggee should not clear the selected source"
When the debuggee is refreshed, the debugger should show the selected source when it the source is available.

This is how chrome behaves and it's offputting to see the source tabs, but not selected source text.

[2016-08-09 15:12] jasonLaster commented on #517
not sure if it's being tracked.

[2016-08-09 16:36] helenvholmes commented on #474
From the above, it sounds like the most useful option someone would want to click is:

Do we want to surface "pause on uncaught exceptions" _and_ "pause on caught exceptions", with toggling both meaning "pause on all exceptions"? Do we all agree that "pause on uncaught exceptions" should be the first choice we surface, as it's more useful to see your unhandled errors than your handled errors?

[2016-08-09 17:07] jlongster commented on #474
There actually isn't a "pause on caught exception only" option. It's more an option to the "pause on exception" behavior: do you ignore caught exceptions or not. Uncaught exceptions will always be paused on.

I think having 1 icon with 3 states is worth trying, and clicking it toggles through the states. Not sure if that's too hard to explain to the user though.

[2016-08-09 17:45] helenvholmes commented on #474
![screen shot 2016-08-09 at 1 44 47 pm](https://cloud.githubusercontent.com/assets/1720093/17526961/75cfd3b4-5e37-11e6-9f4b-e574d7f1d348.png)

I'm continuing with a potentially nonsense icon, but something like this, perhaps?

[2016-08-09 18:07] #459 closed

[2016-08-09 18:13] clarkbw commented on #420
Initial work could be to disable for now

[2016-08-09 18:42] #389 closed

[2016-08-09 18:43] helenvholmes commented on #474
![screen shot 2016-08-09 at 2 37 14 pm](https://cloud.githubusercontent.com/assets/1720093/17528807/c7397352-5e3e-11e6-8f36-a94e1227e942.png)

I'm starting to wonder where this Chrome-stop-sign-analogy came from. I guess because errors stop you? But then why the pause sign?

We could potentially do warnings/errors... hm:

![screen shot 2016-08-09 at 2 42 52 pm](https://cloud.githubusercontent.com/

[2016-08-09 19:12] jlongster commented on #474
I think it's because you "pause" or "stop" on the error... I guess? I'm not sure if warning works well because I don't really see it as a warning... but I don't know what the right icon is. If this is too confusing maybe there is a different way. Feel free to experiment with an icon with just 2 states and then some other way to turn on "pause on caught exceptions as well)".

[2016-08-09 19:42] #467 closed

[2016-08-09 20:04] jasonLaster commented on #474
Maybe a color change is enough, "uncaught" red, "caught" blue...

[2016-08-10 04:49] clarkbw commented on #331
Last two to go, @jay3686 and @marfarma

[2016-08-10 15:30] janodvarko commented on #417
@clarkbw, @jlongster : here is what I have so far, see live demo: http://janodvarko.cz/devtools/splitter.html/

It's built on top of the split-box from debugger.html + flex-box support. I don't have horizontal splitters yet, but vertical alignment works well I think.

Are there any other specific requirements?

Honza

[2016-08-10 19:23] jasonLaster commented on #417
thanks @janodvarko. The vertical splitter looks great, I believe we want the same requirements for the horizontal splitter.

[2016-08-10 20:07] jay3686 commented on #331
I give my permission to license under the MPL 2 any contributions I have made to the debugger.html code base.

[2016-08-10 21:49] jasonLaster opened #532 "Pretty Print - pretty printing a paused source"
When you pretty print a source that is currently paused in, the green debug line should also be visible in the pretty source.

![](http://g.recordit.co/wJZxVZRoBb.gif)

[2016-08-10 21:57] marfarma commented on #331
I give my permission to license under the MPL 2 any contributions I have made to the debugger.html code base.

[2016-08-10 21:59] clarkbw commented on #331
Thank you everyone!  This is awesome.

[2016-08-10 21:59] #331 closed

[2016-08-11 06:35] jbhoosreddy opened #533 "Cmd+P keyboard shortcut for Windows"
Currently, the keyboard shortcut to toggle file search is (Cmd+P) which works perfectly on OSX. But I suspect, it will not work Windows as it does not have the Cmd key.
We need to add additional listener for the corresponding Windows key shortcut (Ctrl+P) to toggle file search.
We should also modify the welcome screen copy to reflect that change for Windows users.
<img width="288" alt="screen shot

[2016-08-11 13:22] jlongster commented on #533
I thought this was solved by the key shortcuts library?

[2016-08-11 13:45] jasonLaster commented on #533
I think it is. I agree we should update the copy to say ctrl on Windows
though.
On Thu, Aug 11, 2016 at 9:22 AM James Long <notifications@github.com> wrote:

[2016-08-11 18:04] clarkbw commented on #261
I'm going to break this out into two different issues.

[2016-08-11 18:04] #261 closed

[2016-08-11 18:04] clarkbw opened #534 "improve the design of the initial pause state of the debugger"
Coming out of the discussion in #261 I believe this is the higher priority story to tell.

When the debugger pauses initially we need to grab the users attention to explain the story of what, where, and why.
- What happened?
  - The page paused.
- Where
  - In the Editor, the line
- Why
  - ?

[2016-08-11 18:37] clarkbw commented on #262
This seems to have stalled out, I'm going to pick this up for now.

[2016-08-11 18:47] clarkbw commented on #276
I'm going to close this out for now, certainly good questions raised and something we can look into further later.  However keeping this issue open and stale isn't providing much value.  Lets reopen / reference this later as we look into possible solutions.

[2016-08-11 18:47] #276 closed

[2016-08-11 18:49] clarkbw commented on #263
@helenvholmes can you break this down into a single component you want to approach first?  like the scopes list? or breakpoints?

Or is this more of a general design approach?  (just trying to make this more actionable)

[2016-08-11 19:02] clarkbw commented on #291
Was just talking with people about this last night, wondering if we could try grouping by file.

Currently we preserve the order of adding breakpoints, which has value.  However we could maintain that order but within file groupings.

<img width="301" alt="screen shot 2016-08-11 at 12 00 47 pm" src="https://cloud.githubusercontent.com/assets/2134/17601086/44eed24c-5fbb-11e6-878b-64b16c8476d3.png">

[2016-08-11 19:29] #262 closed

[2016-08-11 20:03] jasonLaster commented on #349
@clarkbw this issue has been open for some time,
+ do you have time to complete some of the low hanging fruit?
+ discuss any of the open questions
+ file some smaller more actionable issues

I personally like the idea of
* linking to the *make a pull request* egghead series
* agreeing to the Contribution Covenant and including it in the project
* reviewing the docs for key concepts, testing, getti

[2016-08-11 20:05] jasonLaster commented on #438
@helenvholmes and I discussed this two weeks ago and we're going either move the actions below the editor (footer) or move them to the top below the tabs (above the editor).

Helen, do you have time to think about the editor actions row?

[2016-08-11 20:06] jasonLaster commented on #446
@jlongster do you think we'll have time to look into this in this sprint or the next sprint?

I think this might be something we want to punt on for now.

I'm much happier now that we have a ci.json config as well.

[2016-08-11 20:08] jasonLaster commented on #461
@jlongster feel free to open this if there is something actionable here.

[2016-08-11 20:08] #461 closed

[2016-08-11 20:08] jasonLaster commented on #451
@jlongster do you think we'll be able to take this on this sprint or next?

[2016-08-11 20:08] jasonLaster commented on #450
@jlongster do you think we'll be able to take this on this sprint or next?

[2016-08-11 20:17] clarkbw commented on #318
I'm not seeing this error anymore, the  websocket connection works, so I think we can close this even though the display is still incorrect.

Here's what I found about the issue.

Chrome is returning an [IDN](https://en.wikipedia.org/wiki/Internationalized_domain_name) in [Punycode](https://en.wikipedia.org/wiki/Punycode) though I'm not sure why because they display it correctly in their URL bar.

[2016-08-11 20:17] #318 closed

[2016-08-11 20:22] jasonLaster opened #537 "Add a simple mochitest"
We should add a bs basic mochitests do that we know if the debugger works in the panel

[2016-08-11 20:38] clarkbw commented on #349
added this in #538

[2016-08-11 20:51] clarkbw commented on #423
Just to throw my opinion in here, I feel that moving the button into the breakpoint container could make it more contextual than where it exists now.  I believe the reason it is up with the other buttons is for ease of access when you're stepping and want to disable break points to run to the end.

Here's where I'd place it instead:
<img width="307" alt="screen shot 2016-08-11 at 1 47 57 pm" src="

[2016-08-11 20:52] jlongster commented on #461
I think it actually might, yes. They shouldn't be much different than inline scripts, but there may be bugs with introducing them through attributes.

Yea, the source code rendering has no idea what code is what in mixed mode. It might be possible to us (the client) to support mixed mode and be smart about it but that's a very big feature and I'm not sure if it's worth the pay-off, given that most

[2016-08-11 22:10] #398 closed

[2016-08-11 22:11] jasonLaster commented on #402
It's nice, but shouldn't be on the issue queue. I'll try to do it at somepoint

[2016-08-11 22:11] #402 closed

[2016-08-11 22:11] jasonLaster commented on #403
@jbhoosreddy You've done a great job here. I'm going to close this master ticket and we can always open smaller ones to tweak the UX. I know you have some ideas here.

[2016-08-11 22:11] #403 closed

[2016-08-11 22:12] jasonLaster commented on #412
Also nice, but not important in the issue queue

[2016-08-11 22:13] jasonLaster commented on #423
I think this is a nice tweak.
If we agree on the design, I'd support doing it next sprint.

[2016-08-11 22:13] jasonLaster commented on #426
This is a small enhancement that I think we can get to next sprint.

[2016-08-11 22:15] #501 closed

[2016-08-11 22:15] jasonLaster commented on #501
Finished in #530

[2016-08-12 18:23] jasonLaster commented on #134
This is resolved by #527

[2016-08-12 18:24] #134 closed

[2016-08-12 18:24] jasonLaster commented on #370
Pulling it out of the sprint as we're not going to be able to get to it in time.

[2016-08-12 18:25] jasonLaster opened #543 "Testing - add a simple mochitest"
+ Enables the `new-debugger-frontend` pref
+ go to an example page
+ adds a breakpoint
+ pauses

[2016-08-12 18:29] jbhoosreddy commented on #426
@jasonLaster thanks! I'll work on it in the next sprint!

[2016-08-12 18:45] jlongster commented on #543
How is this different from #537?

I also filed https://bugzilla.mozilla.org/show_bug.cgi?id=1294686 because things related to m-c should be in bugzilla to integrate with everything else. This issue if fine too, but will probably require some m-c patches as well.

[2016-08-12 18:49] #537 closed

[2016-08-12 18:49] jasonLaster commented on #543
haha - it's not. oops

[2016-08-15 17:01] jasonLaster commented on #421
@jbhoosreddy happy to take a stab at this today or tomorrow

[2016-08-15 17:16] jbhoosreddy commented on #421
@jasonLaster. Please go for it. It'll take me some time before I'm able to
contribute again. I'll keep monitoring the changes. Thanks.
On Mon, Aug 15, 2016 at 10:01 AM Jason Laster <notifications@github.com>
wrote:

[2016-08-15 22:16] clarkbw commented on #525
@jasonLaster should we drop this for the next sprint?

[2016-08-15 22:50] jasonLaster commented on #525
Not sure yet, looking into a related bug for disable all breakpoints.

Im looking into an easy fix, where we disable the breakpoint in the gutter
if it's loading and disable all breakpoints if a breakpoint is loading.
On Mon, Aug 15, 2016 at 6:16 PM Bryan Clark <notifications@github.com>
wrote:

[2016-08-16 15:01] jasonLaster opened #547 "Toggle Breakpoints - preserve breakpoint "disabled" state"
One feature that chrome has that is nice is that they preserve the breakpoint disabled state when toggling all breakpoints.

The usecase here is that while you're debugging you've enabled/disabled some breakpoints for a workflow, then you toggle disable breakpoints so you can get to the right spot, then you enable it again.

![screen shot 2016-08-16 at 11 01 39 am](https://cloud.githubusercontent.

[2016-08-16 15:03] jasonLaster opened #548 "Breakpoints - disable state"
It would be nice if gutter markers were visible for disabled breakpoints. It is disconcerting to see the breakpoint in the list, but not in the editor.

[2016-08-16 17:32] #474 closed

[2016-08-16 18:16] #517 closed

[2016-08-16 18:26] #423 closed

[2016-08-16 18:37] clarkbw commented on #475
- [ ] Open new issue for removing settings menu

[2016-08-16 18:37] #475 closed

[2016-08-16 18:39] clarkbw commented on #339
Do this as we work on each

[2016-08-16 18:39] #339 closed

[2016-08-16 18:40] clarkbw commented on #441
Work in Progress #535

[2016-08-16 18:42] clarkbw commented on #419
For now we just disable the button in this case

[2016-08-16 18:47] clarkbw commented on #426
@helenvholmes has designs for sidebars across the toolboxes

[2016-08-16 18:48] clarkbw commented on #417
bug: https://bugzilla.mozilla.org/show_bug.cgi?id=1260552

[2016-08-16 18:51] clarkbw commented on #370
related bug: https://bugzilla.mozilla.org/show_bug.cgi?id=1295321

[2016-08-17 13:15] clarkbw commented on #513
Updated the [Comments](https://wiki.mozilla.org/DevTools/CodingStandards#Comments) section of the Coding Standards wiki page.

[2016-08-17 13:45] #513 closed

[2016-08-17 14:25] jasonLaster commented on #475
Looks like the settings menu is already removed.

[2016-08-17 15:27] jasonLaster commented on #548
@johnkpaul this might be a nice bug

[2016-08-17 18:00] jasonLaster opened #555 "Investigate waitUntil"
We've discussed solutions to sequencing async actions in the past.

Some examples are:
- view source in debugger - which might call `selectSource` before the debugger has started or the source has been detected
- removing a breakpoint before it has loaded

There are a couple of solutions
- `waitUntil`
- sagas / epics
- observables

[2016-08-17 18:01] #525 closed

[2016-08-17 18:02] #420 closed

[2016-08-18 18:08] #421 closed

[2016-08-18 22:09] jlongster commented on #429
Spent a lot of time on this today. I'm sort of getting the hang of it, but I don't feel close. Hopefully tomorrow I'll make some headway, but I wish we could get someone else to do this work... I was able to meet with someone from taskcluster today and it helped a lot but this still feels like a time sink since taskcluster is such a big project.

I'll work more with the taskcluster team tomorrow a

[2016-08-18 22:34] #516 closed

[2016-08-18 22:34] jasonLaster commented on #520
Is this done?

[2016-08-18 23:50] jlongster commented on #429
Actually, I just realized something. I was about to write a taskcluster task that downloads the artifact build of Firefox and just runs tests like you would locally, and it would be based of a standard ubuntu image. At that point, there's no reason we can't just use CircleCI for that. I was thinking that taskcluster might have pre-built images that would make it easy to run mochitests, but if you

[2016-08-18 23:53] jasonLaster commented on #429
That's a great idea.

Thanks for doing this work. Looking forward to the braindump.

If I understand correctly, circle for GitHub CI, tadkcluster for MC patches?
On Thu, Aug 18, 2016 at 7:50 PM James Long <notifications@github.com> wrote:

[2016-08-19 02:50] jlongster commented on #520
Not quite; this bug needs to be resolved on m-c first: https://bugzilla.mozilla.org/show_bug.cgi?id=1295213