[2016-08-19 14:38] jasonLaster commented on #441
Replaced karma with a simple script for running the unit tests with the firefox driver

[2016-08-19 14:38] #441 closed

[2016-08-19 22:31] jmeas opened #563 "Storybook doesn't work with fresh install"
**Type:** Bug, perhaps?

**Affected component:** Storybook

**Steps to reproduce:**

1. Clone a fresh copy of the debugger
2. Run `npm install`
3. Run `npm start` (just for kicks. You can also leave this step out if you want)
4. Run `npm run storybook`
5. Load up the URL for storybook in the browser: `http://localhost:9001/`
6. Observe that the storybook loads, but that there are no components

<d

[2016-08-19 23:12] jasonLaster commented on #563
@jmeas try doing a webpack build.

[2016-08-19 23:15] jmeas commented on #563
Is that done by running the command `webpack`, @jasonLaster ? If so, I tried that by running `npm run prepublish` (which [is aliased to webpack](https://github.com/devtools-html/debugger.html/blob/53501477b9dab79c5ae9dca2ffdf75f257604117/package.json#L28))

[2016-08-19 23:15] jasonLaster commented on #563
Oh, yeah that's probably the same thing

[2016-08-19 23:16] jmeas commented on #563
If you've got time tonight/this weekend we could ScreenHero?

[2016-08-19 23:17] jasonLaster commented on #563
Hmm, in away from my computer so it's tough for me to pinpoint it. I think you're on the right track.

[2016-08-19 23:53] jasonLaster commented on #563
Ah @jmeas just looked quickly, I believe our webpack config needs to be updated. It only builds styles.css when it's not in development. Should be an easy fix to allow that all the time so there's always a styles.css

[2016-08-20 00:28] jlongster commented on #563
Don't have any context at all, but we don't want to build a styles.css in development, as it breaks hot reloading. It's it's storybook specific... yeah that's fine.

[2016-08-20 00:36] jmeas commented on #563
Makes sense. I (temporarily) got around this by running:

`NODE_ENV=production npm run prepublish`

The CSS looks a little bare, but I'm not sure if that's because it's not being run in the context of the greater app. For instance, there's no syntax highlighting, and I can't see breakpoints in that associated story. Does that sound right?

Here's a screenshot:

![image](https://cloud.githubusercon

[2016-08-20 00:39] jasonLaster commented on #563
Oh nice. By the way, the issue came from the stores being loaded in the storybook config file.

That does look right :/

We recently changed our theme management and it now retired on a root div with the theme-light class.

I'm out, so just guessing...

[2016-08-20 00:42] jmeas commented on #563
Ah okay, that makes sense. Thanks for the help with figuring this out!

[2016-08-20 04:25] clarkbw commented on #349
Contributor Covenant is handled in #565

[2016-08-20 04:25] clarkbw commented on #349
Make a Pull Request in #564

[2016-08-20 04:31] clarkbw commented on #349
Here's what I have left to do:

- [ ] document in contributing how anything "up for grabs" should have a difficulty rating
- [ ] document how anything assigned indicates an intent to implement

As far as the other items I think we're going to wait.

I'm not yet comfortable joining the contributor convent, we're too young.  If there was a wait to snooze a github issue for 6 months from now that is

[2016-08-20 05:03] jbhoosreddy commented on #349
This is the first time I learned about the contributor covenant. It was an
insightful read. Definitely something to watch out for!
On Fri, Aug 19, 2016 at 9:31 PM Bryan Clark <notifications@github.com>
wrote:

[2016-08-22 13:32] jasonLaster commented on #349
@clarkbw you're making great progress here!

One thing I thought of while reading the PR PR was how a lot of new contributors would be anxious about getting started. Even though our doc explains the steps, it might still *seem* like a lot. One fix would be a quick five minute video that goes through all of the steps of clone, install, start a browser, start the server. I know making videos can be

[2016-08-22 13:39] jasonLaster commented on #563
Fixed https://github.com/devtools-html/debugger.html/commit/9a01c43deeeade0ffe0ee2c363f13556520d9692

[2016-08-22 13:39] #563 closed

[2016-08-22 13:57] clarkbw commented on #349
Great idea! I'll give it a try this week.
On Mon, Aug 22, 2016 at 6:32 AM Jason Laster <notifications@github.com>
wrote:

[2016-08-22 16:02] jasonLaster opened #568 "Console breaks when evaluating code in the new debugger"
The console currently crashes when evaluating code with the new debugger on.

The reason for this is that it relies on the old Debugger to determine which frame to evaluate code on.

[2016-08-22 17:03] jbhoosreddy opened #569 "Add husky to the project"
Husky is useful for improving the quality of code pushed by contributors. It reduces a lot of noise. And prevent a lot of silly mistakes (which I also tend to make...). Seeing the recent work done here, with the perspective of contributors, I would recommend adding husky to the project also.

https://github.com/typicode/husky

[2016-08-22 17:37] jlongster commented on #569
My only concern is that it forces you to go through the whole test suite even when pushing out documentation updates, etc. Given that we really should go through the CI 100% of the time anyway (because we have to be sure that it works in the CI environment, even if it works locally), I'd like to develop a culture where you always open a PR and wait for the CI, and run it locally if you just want t

[2016-08-22 17:42] jbhoosreddy commented on #569
In that case, husky might not be the best solution for this use case.

[2016-08-22 17:42] jasonLaster commented on #569
I'm also inclined to rely on CI. My issue here is that CI is an async process and I would not want to slow down the contributor workflow to catch a case that could be handled by CI

[2016-08-22 17:43] jasonLaster commented on #569
Thanks for the suggestion. I'm interested in the project because git hooks are useful, but often poorly understood

[2016-08-22 18:00] jlongster commented on #569
It is a neat idea, maybe could at least run the linter on push? That would catch stupid stuff but should be very quick.

[2016-08-22 18:14] jasonLaster opened #570 "Testing - pretty printing"
It would be nice to have unit tests that exercise pretty printing creating a source as well as loading the source text.

[2016-08-22 19:18] jbhoosreddy commented on #569
A hook for linting was what I had in mind. Quick to resolve and easy to fix. We get quicker feedback also instead of waiting for CI results. I'll try it out and see how it could fit in this context.

[2016-08-22 19:22] jlongster commented on #569
You can run `npm run lint` if you don't want to wait on CI :) But I get your point.

[2016-08-22 19:25] jbhoosreddy commented on #569
@jlongster: \me 😁

[2016-08-22 22:04] jasonLaster commented on #569
closing for now, we might want to come back to this later.

[2016-08-23 15:25] clarkbw commented on #569
Jumping into this late, but I can see the appeal of running `npm run lint` before a commit.  It is pretty quick and could save some time.  Lets come back to this later.

[2016-08-23 18:09] jasonLaster opened #575 "Land shortcut fix on m-c"
https://bugzilla.mozilla.org/show_bug.cgi?id=1296380

[2016-08-23 20:41] #532 closed

[2016-08-23 20:43] #478 closed

[2016-08-24 01:17] eoger commented on #569
We did this on fxa-auth-server and fxa-content-server and we couldn't be happier.
It's also pretty simple to [set up](https://github.com/mozilla/fxa-auth-server/pull/1270/files).
Personally it saved me from a lot of shameful force-pushs and it could help newer contributors to make better PRs.

[2016-08-24 06:17] clarkbw commented on #374
@jlongster when you get a chance, can you explain this one in more detail?

I'm unclear what our current debugger is doing other than providing the default parameter names for the promise argument functions such that it shows `resolve(value)` and `reject(reason)`.

[2016-08-24 18:43] jasonLaster commented on #568
I added a patch here: https://bugzilla.mozilla.org/show_bug.cgi?id=1295753

try is down so waiting to run the tests

[2016-08-24 20:20] jbhoosreddy commented on #568
Is there a place where I can check if I try gets back up? @jasonLaster
On Wed, Aug 24, 2016 at 11:43 AM Jason Laster <notifications@github.com>
wrote:

[2016-08-24 20:55] jasonLaster commented on #568
i don't know, that's a good question

[2016-08-24 21:12] JasonWeathersby opened #579 "Scopes pane doesnt update"
When selecting different frames the scopes pane does not update with the proper variables. I was able to fix this by changing the pause reducer action type SECLECT_FRAME

[code]

Not sure this is the best way to handle this though.

[2016-08-24 23:19] jbhoosreddy commented on #568
I talked to my friend in platform-ops and it seems we can view the status
here.

https://api.pub.build.mozilla.org/treestatus/
On Wed, Aug 24, 2016 at 1:55 PM Jason Laster <notifications@github.com>
wrote:

[2016-08-25 02:56] clarkbw commented on #568
Trees are open again!

[2016-08-25 04:47] clarkbw commented on #579
This is awesome!

![2016-08-24 21_47_20](https://cloud.githubusercontent.com/assets/2134/17957170/5ab8151e-6a44-11e6-8b44-053ec7a03f09.gif)

I think you could just do this (1 line change):

[code]

But we need @jasonLaster or @jlongster to take a look

[2016-08-25 13:54] #548 closed

[2016-08-25 13:56] jasonLaster commented on #568
I mentioned in standup that there are two issues with the console. That's actually not the case, the second issue, which was with the right sidebar object inspector was there before.

This issue has two PRs, one github facing, the other m-c..

[2016-08-25 15:29] JasonWeathersby commented on #579
Thanks Jason. l originally got it to work by passing in the selected frame to the scopes component but that required a bit more code and adding more data to the scopes component did not make sense to me.

[2016-08-25 17:24] wldcordeiro commented on #570
@jasonLaster could you elaborate? I'm interested in helping out with debugger.html but this is a bit vague. 😛

[2016-08-25 17:36] wldcordeiro commented on #533
Not windows but on Linux (Kubuntu 16.04) the shortcut isn't working so the copy needs updating and maybe the shortcut itself. I'm down to look into this. 👍

[2016-08-25 17:55] wldcordeiro commented on #533
So this line uses `Cmd+P`
https://github.com/devtools-html/debugger.html/blob/master/public/js/components/App.js#L56

however in the `key-shortcuts.js`
https://github.com/devtools-html/debugger.html/blob/master/public/js/lib/devtools-sham/client/shared/key-shortcuts.js#L114 there's a `CommandOrControl`/`CmdOrCtrl` that should be used (also should we even have the if block for `Cmd` alone?) So the

[2016-08-25 18:26] wldcordeiro commented on #446
@jlongster Is the env var `TARGET` wise? Seems like one other things might use as well Maybe something like `FXDEV_TARGET` just to not collide?

[2016-08-25 18:27] wldcordeiro commented on #370
If someone can mentor me on what is where, I'm down to do this. 👍

[2016-08-25 19:03] jasonLaster commented on #370
Hey @wldcordeiro would be happy to help!

[2016-08-25 19:10] jasonLaster commented on #533
I think the best you can do now is to check to see if it's a mac:

[code]

Thanks for the help! Let me know if you have any questions, if you want to say hello stop by our [irc](https://github.com/devtools-html/debugger.html#discussion) room to say hello.

[2016-08-25 19:11] jbhoosreddy commented on #533
@jasonLaster I was just typing the same thing. 👍

[2016-08-25 19:21] #349 closed

[2016-08-25 19:24] clarkbw opened #582 "create introduction screencast"
via https://github.com/devtools-html/debugger.html/issues/349#issuecomment-241413316

[2016-08-25 20:27] jasonLaster opened #583 "Persist tabs across debuggee refreshes"
We should persist tabs across debuggee and debugger close/opens. This means that you always keep your debugger's editor tabs open.

Here's a preliminary [patch](https://gist.github.com/22ec423591d7d8c9ced683385f4f05fe) that i think is pretty close.

You can get setup by doing:

[code]

This is a somewhat advanced issue because it touches our reducers and how sources load. Should be fun if you're u

[2016-08-25 20:29] jasonLaster commented on #396
@jlongster now that we've integrated codemirror. Does it make sense to close this for now and keep what we have? I assume after we launch we can revisit it?

[2016-08-25 20:29] #338 closed

[2016-08-25 20:34] jasonLaster opened #584 "File Search - close ui"
It would be nice to have a button in the top right for exiting file search

![screen shot 2016-08-25 at 4 32 18 pm](https://cloud.githubusercontent.com/assets/254562/17984891/4d06b13a-6ae1-11e6-8679-9a4ebbf58cc2.png)

Here's a sketch of what the change could look like:
[code]

[2016-08-25 21:00] jlongster commented on #396
I'd like to at least look at the native codemirror behavior and see if it's just a matter of making sure we hook up the code search addon. If it's any more complex, yeah, we can close this and open more specific issues and focus on searching later.

[2016-08-25 21:25] #579 closed

[2016-08-25 22:33] clarkbw commented on #417
Wanted to include a screenshot of the Chrome layout for reference.

![screen shot 2016-07-25 at 10 39 49 am](https://cloud.githubusercontent.com/assets/2134/17988140/2a3f9e26-6ad9-11e6-96de-b2d8f4174e03.png)

[2016-08-25 23:46] wldcordeiro commented on #584
I could do this. @jasonLaster

Like an `x` in the far right of the search bar?

Regarding that patch? Is that just a concept/idea for how you could do it?

[2016-08-25 23:48] jasonLaster commented on #584
Concept. Wrote it quickly

I was thinking top right of the pane.

X in the input in my mind would clear the search... Could be persuaded
though
On Thu, Aug 25, 2016 at 7:46 PM Wellington Cordeiro <
notifications@github.com> wrote:

[2016-08-25 23:55] wldcordeiro opened #588 "Suggestion: Add Editorconfig file"
Something that would be a nice developer convenience would be a simple [EditorConfig](http://editorconfig.org/) file. With how many different standards there are to spacing and stuff, it's nice to be able to leave your editor defaults as is and let the project dictate.

I could PR one but I figured I'd make an issue first.

[2016-08-25 23:57] wldcordeiro commented on #584
Could the div wrapping the two be given padding around the input and place the x just outside the input?

[2016-08-26 02:15] jasonLaster commented on #588
Go for it. Would be nice to see, I think it's often helpful. Also can't hurt

[2016-08-26 04:35] wldcordeiro commented on #533
#586 brought this in.

[2016-08-26 04:37] wldcordeiro commented on #524
Atom and I think Sublime just put a highlight over the lowest expanded part of the tree from what I can tell.

[2016-08-26 05:14] jbhoosreddy opened #590 "UX modifications to watch expressions"
The preliminary work in watch expressions was done in #403. This issue ticket is to work on fine-tuning watch expressions, and then maybe enabling it by default.

@helenvholmes do you have any suggestions on the UX. If not, I'll go ahead and work on implementing the current Firefox UX.

[2016-08-26 15:05] jasonLaster opened #593 "Scopes - show <this> for all of the call stack frames"
We're currently only showing the <this> property for the first frame in the call stack, but we should show it for all frames.

![](http://g.recordit.co/JgTF9qT3he.gif)

The issue is likely [here](https://github.com/devtools-html/debugger.html/blob/master/public/js/components/Scopes.js#L102-L105) where we check to see if we're showing the *innermost* scope, when in reality we want to show `<this>`

[2016-08-26 15:06] jasonLaster opened #594 "Scopes - replace Object formatting with Object text"
We currently format object properties in the scope pane, but it would be nice to just show the text "Object". This is an improvement because formatting the object in the scope pane clutters the pane and does not provide a lot of value when the user can easily expand it on click.

The improvement will likely go [here](https://github.com/devtools-html/debugger.html/blob/master/public/js/components/O

[2016-08-26 15:11] wldcordeiro commented on #594
✋

[2016-08-26 15:30] jasonLaster commented on #590
removing it from the milestone as i don't think it should be considered critical for us hitting our sprint.

[2016-08-26 15:30] #526 closed

[2016-08-26 15:35] jasonLaster commented on #594
go for it

[2016-08-26 15:41] wldcordeiro commented on #594
@jasonLaster I noticed that this is the line that does the rendering, but I'm wondering how to inspect the `objectValue` because I can't log it in a way that is useful.

https://github.com/devtools-html/debugger.html/blob/master/public/js/components/ObjectInspector.js#L154

It seems like a pretty straightforward change but I thought I'd need make sure I don't break the view for other item types.

[2016-08-26 15:45] jlongster commented on #594
Reps already supports this with a "short" mode, so I would investigate that before doing anything else. I don't have the info off-hand to help right now, but we shouldn't need to this manually.

[2016-08-26 15:51] linclark commented on #594
I think you actually want `tiny` mode for this. You can see an example in the [tests](https://dxr.mozilla.org/mozilla-central/source/devtools/client/shared/components/test/mochitest/test_reps_object.html#83).

[2016-08-26 17:12] jbhoosreddy opened #596 "Update contributing doc"
In CONTRIBUTING.md, in the directions for setting up Chrome, the port number should be changed to 7999 from 8000, I believe.

[2016-08-26 18:10] clarkbw commented on #596
Oh right, thanks!  Good catch!

[2016-08-26 18:12] clarkbw opened #600 "update chrome canary command in docs"
The Chrome Canary command is incorrect, it should read: 'Google\ Chrome\ Canary`, where right now it is missing the `\ Canary`.

https://github.com/devtools-html/debugger.html/blob/master/docs/remotely-debuggable-browsers.md#chrome-canary

[2016-08-26 19:30] #596 closed

[2016-08-26 20:19] jasonLaster commented on #533
Thanks @wldcordeiro!

[2016-08-26 20:19] #533 closed

[2016-08-26 20:24] jasonLaster commented on #438
Moving out of the sprint as it's a polish item that's not tied to getting the debugger to run inside of firefox.

[2016-08-26 20:26] jasonLaster commented on #575
done

[2016-08-26 20:26] #575 closed

[2016-08-26 20:46] wldcordeiro commented on #370
@jasonLaster adjust the font sizes? Are the current values not using the theme vars? This is for the right and left sidebar?

[2016-08-26 22:49] clarkbw commented on #590
Here are my thoughts on the Watch Expressions interface.

### base feature

We need an obvious way to add a variable name to the watch expressions list, this should include some kind of auto-complete to help people out with variables we know about.  This feature is for people who know what watch expressions are, how to use them, and use them frequently when solving code issues (likely not that man

[2016-08-27 08:54] ThomasCrvsr commented on #593
@jasonLaster Mind if I investigate ? I'm looking to make a first contribution but don't really know where to start ^^

[2016-08-27 12:39] jasonLaster commented on #593
Sure. I mention the file above that's the issue.

Let me know if you have any issues running the project locally

[2016-08-28 11:12] ThomasCrvsr commented on #593
@jasonLaster Are scopes only available for Firefox target ?
I finally make the remote-debugging work on Firefox, so I can concentrate on the behavior :)

However, I tried to reproduce what you've done : I can't even see `<this>` for `App.TodoView`.

<img width="1138" alt="screen shot 2016-08-28 at 13 01 21" src="https://cloud.githubusercontent.com/assets/4603973/18033300/d7e6a2c4-6d20-11e6-9059-39

[2016-08-28 14:33] jasonLaster commented on #593
Ohh my guess is that you need to pull.  #592 fixed this so that it is available.

@thomascrvsr if that doesn't help let me know. I'd be happy to do a quick screenhero session and reproduce it with you.

This is a property of frame.

[2016-08-28 14:45] ThomasCrvsr commented on #593
Okay thanks, I'll take a look at this tonight or tomorrow morning and keep
you informed !

Le dim. 28 août 2016 16:33, Jason Laster <notifications@github.com> a
écrit :

[2016-08-28 17:56] jasonLaster opened #604 "Breakpoints - include source name in the description"
It would be nice to include the breakpoint source name in the description so that it is clear where the breakpoint is set. This design is similar to how we show source locations in the call stack. It is also similar to how chrome shows it.

This would need to be styled so that the typography is right before we ship it. The patch below is a first pass though so anyone should feel free to pick it up

[2016-08-28 18:02] jasonLaster opened #605 "Right Sidebar - the header should be fixed"
The right sidebar header currently scrolls out of view. It should be fixed on the top so that the commands are always available.

We can probably do more to improve the scrolling behavior of the accordion, like making the accordion item headers sticky, so the top most item header is always visible, but that is probably out of scope for now.

![screen shot 2016-08-28 at 2 01 23 pm](https://cloud.gi

[2016-08-28 18:12] jasonLaster opened #606 "Breakpoints - remove breakpoint button"
Let's add a remove button appear to the right of a breakpoint on hover. Having this button will make it easier for users to remove breakpoints without having to click the gutter marker.

![delete-breakpoint](https://cloud.githubusercontent.com/assets/1720093/18672205/2b0c7856-7f15-11e6-93ab-6a534ec45e55.png)

This [patch](https://gist.github.com/jasonLaster/71a2683becf26bc52247385c20a022e4) outlin

[2016-08-28 18:14] jasonLaster opened #607 "Scopes - fail to expand `addOptions` property"
#### Steps to reproduce

* open todomvc
* go to backbone.js and add a breakpoint in get on line 291
* create a todo
* expand scope `anonymous` and property `addOptions`

You'll see this error `no such actor` in the console.

![screen shot 2016-08-28 at 2 05 25 pm](https://cloud.githubusercontent.com/assets/254562/18035745/8489961e-6d29-11e6-8c25-dac40a953c6d.png)

![screen shot 2016-08-28 at 2 05

[2016-08-28 18:16] jasonLaster opened #608 "Breakpoints - select breakpoint doesn't navigate in paused source"
#### Steps to reproduce
* add a couple breakpoints in a source
* pause on one of the breakpoints
* select another breakpoint in the list in that source
* you won't be navigated to that source

This is probably due to the highlight line being there for the pause location

[2016-08-28 18:23] jasonLaster opened #609 "Breakpoints - selecting a breakpoint should flash the line"
When you select a breakpoint in the breakpoint list that is near to the current editor location nothing happens because the breakpoint location is already in view. This makes it seem like a bug. What we should do is show a flash indicator on that line that draws the user to the breakpoint line she just selected.

This is a good issue for a community member as it is UI related. The most important c

[2016-08-28 18:39] wldcordeiro commented on #605
I'll take a look at this.

[2016-08-29 02:16] jasonLaster opened #610 "Breakpoint - styling"
the breakpoint marker is not centered:

![screen shot 2016-08-28 at 10 17 32 pm](https://cloud.githubusercontent.com/assets/254562/18039037/03416872-6d6d-11e6-8f3f-9f3ddbe2a23c.png)

[2016-08-29 02:25] jasonLaster commented on #607
hmm, i'm not reproducing this anymore

[2016-08-29 02:41] jasonLaster commented on #607
strange, i'm seeing it again. I wonder if it's something like `optimizedOut` where it's not available on the server sometimes...

[2016-08-29 02:43] jasonLaster commented on #570
haha - sorry, I'd like to write a test somewhat like this one
https://github.com/devtools-html/debugger.html/blob/master/public/js/actions/tests/sources.js#L166-L184

for pretty printing. The nice thing is everything is client side, so we can test pretty printing without relying on the debugger connection.

[2016-08-29 11:44] ThomasCrvsr commented on #593
@jasonLaster : I made a draft of the fix. Basically, in `getScopes()`, when we encounter the scope with the same actor of the scope of the selected frame I add `this` variable to `vars`.

Is this the right direction to take ?

[2016-08-29 12:53] jlongster commented on #610
This is not an issue with Firefox. Jason, it'd be great if you used Firefox for the next couple weeks while we try to polish it for Firefox. Closing as we really need to focus on Firefox right now. If I'm wrong and it somehow is Firefox you can re-open.

<img width="266" alt="screen shot 2016-08-29 at 8 51 57 am" src="https://cloud.githubusercontent.com/assets/17031/18052025/04ee8fa2-6dc6-11e6-91c

[2016-08-29 12:57] jlongster opened #612 "Convert cypress tests to mochitest"
Jason, it'd be great you focused on mochitests for the next few days. Now that mochitests run fine in #576, we can definitely use them for tests. I don't think we should be writing any more cypress tests right now and should just be using mochitests for the time being. We should flesh out the mochitest setup you started with the simple mochitests and start writing more complicated ones (just conve

[2016-08-29 13:40] jasonLaster commented on #612
Completely agree. I'm going to work on
* adding unit tests
* adding integration tests that are missing (likely in cypress as it's really easy to add)
* adding mochitests so that we can begin converting those over

I don't want to spend the week switching to mochitest entirely as I'd rather focus on getting the right tests in to improve our coverage holistically.

Last friday, I started working on

[2016-08-29 14:37] wldcordeiro commented on #610
@jlongster is this when you embed the debugger or when you run a tab? I'm on Firefox (gecko-dev) and have the breakpoint styling look a little off.
![screenshot_20160829_083632](https://cloud.githubusercontent.com/assets/580982/18055089/da57037a-6dc3-11e6-9add-89b95d8cd28b.png)

[2016-08-29 14:46] clarkbw commented on #604
Worth looking at #291 as well for some previous design discussion

[2016-08-29 14:46] wldcordeiro commented on #607
@jasonLaster I was trying to recreate and hadn't been able to. Expanding `addOptions` worked for me with no error in console (not sure if you were using the devtools console or browser toolbox but neither had an error.)

[2016-08-29 16:05] clarkbw opened #614 "[failing test] should download a sourcemap and create sources"
On the `master` branch use `npm run mocha-server`.  Noted this from discussion https://github.com/devtools-html/debugger.html/pull/611#issuecomment-243152669

I'm seeing two intermittent errors

1 for a timeout:

2 for an error

Looks to be the `actions/tests/sources.js` around 170:
https://github.com/devtools-html/debugger.html/blob/master/public/js/actions/tests/sources.js#L170

In the logs I'm

[2016-08-29 17:00] #600 closed

[2016-08-29 17:01] jasonLaster commented on #610
That makes sense.

I'll re-open and label it as chrome so we can come back to the chrome issues when we have time. It will be nice to do a quick pass at that point.

[2016-08-29 17:03] jasonLaster commented on #614
@clarkbw funny that you should report this :)

I'm looking into it as well. I'd like to fix this for a couple of reasons.

1. it'd be great to run our unit tests locally this way.
2. it's nice to run our unit tests in firefox on CI.

[2016-08-29 19:41] wldcordeiro commented on #584
Working on styling the button now. Is there preference on units and layout? I started using flexbox, but want to make sure I'm writing things that fit in.

[2016-08-29 19:46] #593 closed

[2016-08-29 19:51] jasonLaster opened #618 "M-C - Add Rep mode proptypes"
#597 updated the Rep prop types to add a `mode`.

[2016-08-29 19:52] jasonLaster commented on #584
@wldcordeiro flexbox is perfect. We use that in several places

[2016-08-29 21:00] wldcordeiro commented on #606
Seems similar to the search close button issue so I'll take this one on. 👍

[2016-08-29 23:23] #605 closed

[2016-08-29 23:57] wldcordeiro commented on #594
Should be closeable.

[2016-08-29 23:58] wldcordeiro commented on #584
Should be closeable.

[2016-08-30 00:10] #594 closed

[2016-08-30 02:22] wldcordeiro commented on #291
Totally support @clarkbw's file grouping suggestion. It would be a very nice addition. Handling file grouping gets interesting with repeat files. Do we just expand their name to include the next level of the dir? If there's a `foo.js` in `bar/` and `bur/`  do we list them as `../bar/foo.js` and `../bur/foo.js`?

[2016-08-30 02:23] wldcordeiro commented on #604
I'll grab this.

[2016-08-30 02:31] wldcordeiro commented on #426
I like the idea of taking on this task. 😄 I had an idea, rather than an icon in the right panel, how about changing the `Draggable` component? I'm thinking something like Illustrator/Lightroom so increase the width of the Draggable, put an arrow icon there and make a double click toggle the collapse. I'm willing to implement it however but figured a suggestion never hurts.

[2016-08-30 03:14] jlongster commented on #612
Mochitests already have a good workflow; we've been using them for years... I'd rather not spend time trying to reinvent mochitest right now. You can debug them by just passing `--jsdebugger`. We really need to just convert cypress tests to mochitests :) At this rate we are not going to be able to land the debugger, I fear.

[2016-08-30 03:48] #584 closed

[2016-08-30 03:51] jasonLaster commented on #291
Hmm, I like grouping but would prefer that we punt until after we launch and can discuss the different cases.

[2016-08-30 06:15] ThomasCrvsr commented on #610
I can take a look at this if you want :)

[2016-08-30 06:57] ThomasCrvsr commented on #610
A temporary fix might be to increase the `height` of the breakpoint svg [here](https://github.com/devtools-html/debugger.html/blob/master/public/js/components/Editor.css#L28)

[2016-08-30 08:50] ThomasCrvsr commented on #547
@jasonLaster Do you mind if I try to do the implementation ? :)

[2016-08-30 11:21] jasonLaster commented on #547
@thomasCrvsr sure. Note it's marked hard so might have some traps. But should be good, will touch both chrome and Firefox

[2016-08-30 13:02] wldcordeiro commented on #609
I'll grab this issue.

[2016-08-30 13:10] wldcordeiro commented on #451
Someone has published the `Node` `path` lib to npm, but they haven't updated in some time (looks like the lib from 0.12.7 from the last commit) and some limited searching isn't giving me a ton of results either.

[2016-08-30 13:13] jasonLaster commented on #451
Interesting. I wonder if the node library would work in the browser? Does
it have any dependencies?
On Tue, Aug 30, 2016 at 9:12 AM Wellington Cordeiro <
notifications@github.com> wrote:

[2016-08-30 13:16] wldcordeiro commented on #451
@jasonLaster looks like it depends on `process` and `util` https://github.com/jinder/path/blob/master/package.json#L21

[2016-08-30 13:18] jbhoosreddy commented on #451
maybe something like [path-browserify](https://www.npmjs.com/package/path-browserify) is useful.

[2016-08-30 13:19] wldcordeiro commented on #451
Dependency tree of the path package I posted
- path
  - util
    - inherits
  - process

[2016-08-30 13:20] wldcordeiro commented on #451
@jbhoosreddy looks like that is relatively similar to what I posted only further out of date.

[2016-08-30 13:26] jbhoosreddy commented on #451
@wldcordeiro I posted it as a suggestion because it doesn't have any dependencies (except tape for tests) and seems to have methods which are talked about in the issue like (basename, dirname, join, etc.). I see it's not actively maintained, but I imagine we could make modifications as per our requirements if needed.

[2016-08-30 14:01] jbhoosreddy commented on #451
Reading the code for all the libraries mentioned here and those I found on the internet, I think the way to do this would be to keep the existing `utils/path.js` which maps to particular methods in the node `path` library. We can further use `Services` to identify which operating system we are working on and separate exports for win32 and posix explicitly.
It seems they use `process` to do things

[2016-08-30 14:04] jbhoosreddy commented on #451
I can take this issue, if no one has. I'm interested to see if I get somewhere with this approach (in a usable way). 😅

[2016-08-30 14:07] wldcordeiro commented on #451
All your @jbhoosreddy looks like you've got something in mind. 😄

[2016-08-30 14:48] jasonLaster commented on #451
Thanks @jbhoosreddy - i like your approach. One thing to add though. If you have something pretty good, it might be nice to release your own NPM library :)

You can always copy over the Services OS methods to the library and inline them.

[2016-08-30 15:13] helenvholmes opened #622 "Add search keycommand info above Sources"
I think that the area above Sources might just continue to evolve, but for the moment I believe it would be a good spot to educate users about "Cmd + P to search".

Mac:
<img width="831" alt="screen shot 2016-08-30 at 11 08 55 am" src="https://cloud.githubusercontent.com/assets/1720093/18094744/80a512a6-6ea2-11e6-9350-2467b84d8151.png">

Windows/Linux:
<img width="960" alt="screen shot 2016-08-30

[2016-08-30 15:15] wldcordeiro commented on #622
Just adding the label there? I'll grab that real quick.

[2016-08-30 15:55] jasonLaster opened #625 "M-C Update client/shared/main.js connect"
#577 updated how client/shared/main handled connecting.

https://github.com/clarkbw/debugger.html/blob/6128173e432233b709a321d49fa966debcf7d21d/public/js/lib/devtools-sham/shared/client/main.js

Lets apply those changes in m-c as well.

[2016-08-30 16:04] bzbarsky opened #626 "Hovering over a function-valued variable should give a link to the function definition"
Consider this testcase:

[code]

Load it in Firefox, breakpoint on line 4 (the addEventListener call), reload.  While stopped at the breakpoint hover over the second argument to addEventListener.

I see a popup that shows various information about the function (properties, scope, etc).  What it doesn't have is a nice clickable link to the function definition.  Chrome's developer tools do have such

[2016-08-30 16:11] bgrins commented on #626
Screenshot of popup in chrome with source link:

<img width="525" alt="variable popup" src="https://cloud.githubusercontent.com/assets/95570/18097151/9dbd7b6e-6e91-11e6-9515-2aa261a17772.png">

[2016-08-30 16:12] helenvholmes commented on #426
@clarkbw I have sidebar designs for sidebars with additional tabs, but I think they're going to be different from the debugger, which instead is one tab, with an accordion.

Sidebar with panels: https://invis.io/F68A5KHKY#/179720580_Sidebar_Tabs

Sidebar with one panel, accordion (ignore old icon cruft): https://cl.ly/3Y1j3G3F0s1r

@clarkbw: Do we want to split up the Debugger to have panels for s

[2016-08-30 16:14] bgrins commented on #626
The variable popup in the XUL UI wraps the variables view widget.  Guessing the variable popup in this UI will wrap the Object Inspector.

Would need to decide if this source link should be part of the header of a popup, or if it should be part of the Object Inspector.  IOW, should the link be included when the variable is shown in other places where the Object Inspector will be used, like the con

[2016-08-30 16:25] jasonLaster commented on #426
@helenvholmes I think the panel suggestion is a good one. I'd like to suggest that we schedule some time in October to kickoff some larger UX projects for the debugger. I'm worried that we don't have the bandwidth to do this work properly beforehand.

[2016-08-30 16:59] jasonLaster opened #627 "right sidebar has a scroll bar"
The right sidebar recently got a scrollbar. I believe it's related to this fix #605

Should be fairly easy to fix

<img width="345" alt="screen shot 2016-08-30 at 1 00 36 pm" src="https://cloud.githubusercontent.com/assets/254562/18098762/8b81568a-6eb1-11e6-9402-c82c273da5c1.png">

[2016-08-30 18:50] clarkbw commented on #622
👏  I think you just need to follow the example for the search input.

The [renderWelcomeBox()](https://github.com/devtools-html/debugger.html/blob/master/public/js/components/App.js#L106-L112) function has it.

[2016-08-30 20:41] jasonLaster commented on #612
I've been working on setting up a `head.js` that can drive our debuggee today and wanted to report back some of the work as a progress update:

Here is a small test that selects a source and some breakpoints

[code]

and here are the commands it uses

[code]

Once we have the helpers setup we can easily use them in a mochitest.

[2016-08-30 21:16] jlongster commented on #612
@jasonLaster A good start! I'd prefer to use the `addBreakpoint` action directly, and explicitly pass in the source. It common to set it on the selected source, but many tests also set multiple breakpoints on various sources. It's nicer to have a single API instead of a succinct one. I'd rather be more explicit: just use the actions directly! `actions.addBreakpoint(...)` You don't need `getTextFor

[2016-08-31 09:43] ThomasCrvsr commented on #547
@jasonLaster I'm working on the implementation of `toggleAllBreakpoints()` for Firefox.
We should get the App state in order to toggle each breakpoint individually : https://gist.github.com/jasonLaster/12d18102361653f2a8842e357b8bdcbc#file-foo-diff-L107

A proposal would be to pass the app state to `toggleAllBreakpoints()` as a second param, which will be passed to `setBreakpoint()` or `removeBrea

[2016-08-31 13:27] jlongster commented on #626
This isn't in the scope of what I call the "object inspector" though. I think this will be special functionality in the debugger, with it listening to events in the editor. The console doesn't use the editor, etc, so it will have to hook it up differently if it wants it. We could share the functionality that extracts all this info though. This will be in the next phase; right now we're focusing on

[2016-08-31 14:14] #610 closed

[2016-08-31 14:30] jlongster commented on #451
We haven't seen anything that properly handles URLs, so let's just use what we've got. We can always bank on forward slash being the separate across platform because it's a URL, which makes it very simple.

[2016-08-31 14:30] #451 closed

[2016-08-31 14:52] clarkbw commented on #626
Test case: http://s.codepen.io/clarkbw/debug/PGYXoN (breakpoint line 24 of PGYXoN)

[2016-08-31 16:02] clarkbw commented on #429
Closing this for now.  We can open this up again later when we want to circle back to using taskcluster again.

[2016-08-31 16:02] #429 closed

[2016-08-31 19:02] #479 closed

[2016-08-31 19:22] #419 closed

[2016-08-31 20:33] clarkbw opened #633 "document (and automate) release process"
I started hacking on some tools for this and there are a number of tools already out there but its probably best if I describe what I think we want since it is unlikely I'll be the one creating the releases in the future.

Overall I want people to be able to identify the debugger bundle in Firefox with the release in GitHub such that they can determine if a bug or feature has already been fixed or

[2016-08-31 20:46] clarkbw opened #634 "All the mochitests!"
This is a tracking issue for all the different sections of mochitests which cover the current debugger and need to be converted to cover this debugger.
- [ ] bfcache #635
- [x] Edge cases... #639
- [x] Pretty printing #645
- [x] Sourcemaps  #647
- [x] Source listing #648
- [x] Navigating #643
- [x] Split console #649
- [x] Breaking #636
- [x] Auto-select preferred source #646
- [x] Editor #640
- [

[2016-08-31 20:48] clarkbw opened #635 "Back and Forward buttons don't update source list"
Part of the  All the mochitests! #634 issue
- [browser_dbg_bfcache.js](https://dxr.mozilla.org/mozilla-central/source/devtools/client/debugger/test/mochitest/browser_dbg_bfcache.js)

Failing Test:

[code]

[2016-08-31 20:57] clarkbw opened #636 "breaking [mochitests]"
Sub task of the All the mochitests! #634 issue

DXR search for many of the files:
[dxr.mozilla.org: path:devtools/client/debugger/test/mochitest/ file:dbg_break-](https://dxr.mozilla.org/mozilla-central/search?q=path%3Adevtools%2Fclient%2Fdebugger%2Ftest%2Fmochitest%2F+file%3A*dbg_break*&redirect=true)

All the files that matter to this issue:

browser_dbg_break-in-anon.js
browser_dbg_break-on-nex

[2016-08-31 20:59] clarkbw opened #637 "breakpoint sliding [mochitests]"
Sub task of the All the mochitests! #634 issue

browser_dbg_breakpoints-actual-location.js
browser_dbg_breakpoints-actual-location2.js

[DXR search](https://dxr.mozilla.org/mozilla-central/search?q=path%3Adevtools%2Fclient%2Fdebugger%2Ftest%2Fmochitest%2F+file%3A*dbg_breakpoints-actual*&redirect=false)

[2016-08-31 21:01] clarkbw opened #638 "browser toolbox [mochitests]"
Sub task of the All the mochitests! #634 issue

browser_dbg_chrome-create.js
browser_dbg_chrome-debugging.js

[DXR Search](https://dxr.mozilla.org/mozilla-central/search?q=path%3Adevtools%2Fclient%2Fdebugger%2Ftest%2Fmochitest%2F+file%3A*dbg_chrome*&redirect=true)

[2016-08-31 21:03] clarkbw opened #639 "edge cases [mochitests]"
Sub task of the All the mochitests! #634 issue

browser_dbg_clean-exit-window.js
browser_dbg_clean-exit.js
[browser_dbg_closure-inspection.js](https://dxr.mozilla.org/mozilla-central/source/devtools/client/debugger/test/mochitest/browser_dbg_closure-inspection.js)

[DXR dbg_clean Search](https://dxr.mozilla.org/mozilla-central/search?q=path%3Adevtools%2Fclient%2Fdebugger%2Ftest%2Fmochitest%2F+file

[2016-08-31 21:04] clarkbw opened #640 "editor [mochitests]"
Sub task of the All the mochitests! #634 issue

browser_dbg_editor-contextmenu.js
browser_dbg_editor-mode.js

[DXR Search](https://dxr.mozilla.org/mozilla-central/search?q=path%3Adevtools%2Fclient%2Fdebugger%2Ftest%2Fmochitest%2F+file%3A*dbg_editor*&redirect=true)

[2016-08-31 21:06] clarkbw opened #641 "iframes [mochitests]"
Sub task of the All the mochitests! #634 issue

[browser_dbg_iframes.js](https://dxr.mozilla.org/mozilla-central/source/devtools/client/debugger/test/mochitest/browser_dbg_iframes.js)

[2016-08-31 21:06] clarkbw opened #642 "keyboard shortcuts [mochitests]"
Sub task of the All the mochitests! #634 issue

[browser_dbg_interrupts.js](https://dxr.mozilla.org/mozilla-central/source/devtools/client/debugger/test/mochitest/browser_dbg_interrupts.js)

[2016-08-31 21:08] clarkbw opened #643 "navigating [mochitests]"
Sub task of the All the mochitests! #634 issue

browser_dbg_location-changes-01-simple.js
browser_dbg_location-changes-02-blank.js
browser_dbg_location-changes-03-new.js
browser_dbg_location-changes-04-breakpoint.js
[browser_dbg_navigation.js](https://dxr.mozilla.org/mozilla-central/source/devtools/client/debugger/test/mochitest/browser_dbg_navigation.js)

[DXR location-changes search](https://dxr

[2016-08-31 21:10] clarkbw opened #644 "pause on exceptions [mochitests]"
Sub task of the All the mochitests! #634 issue

browser_dbg_pause-exceptions-01.js
browser_dbg_pause-exceptions-02.js
browser_dbg_pause-no-step.js
browser_dbg_pause-resume.js
browser_dbg_pause-warning.js
[browser_dbg_paused-keybindings.js](https://dxr.mozilla.org/mozilla-central/source/devtools/client/debugger/test/mochitest/browser_dbg_paused-keybindings.js)

[DXR pause- search](https://dxr.mozil

[2016-08-31 21:12] clarkbw opened #645 "pretty printing [mochitests]"
Sub task of the All the mochitests! #634 issue

browser_dbg_pretty-print-01.js
browser_dbg_pretty-print-02.js
browser_dbg_pretty-print-03.js
browser_dbg_pretty-print-04.js
browser_dbg_pretty-print-05.js
browser_dbg_pretty-print-06.js
browser_dbg_pretty-print-07.js
browser_dbg_pretty-print-08.js
browser_dbg_pretty-print-09.js
browser_dbg_pretty-print-10.js
browser_dbg_pretty-print-11.js
browser_dbg

[2016-08-31 21:13] clarkbw opened #646 "auto-select preferred source [mochitests]"
Sub task of the All the mochitests! #634 issue

browser_dbg_reload-preferred-script-02.js
browser_dbg_reload-preferred-script-03.js
browser_dbg_reload-same-script.js

[DXR search](https://dxr.mozilla.org/mozilla-central/search?q=path%3Adevtools%2Fclient%2Fdebugger%2Ftest%2Fmochitest%2F+file%3A*dbg_reload-*&redirect=true)

[2016-08-31 21:14] clarkbw opened #647 "source maps [mochitests]"
Sub task of the All the mochitests! #634 issue

browser_dbg_source-maps-01.js
browser_dbg_source-maps-02.js
browser_dbg_source-maps-03.js
browser_dbg_source-maps-04.js

[DXR search](https://dxr.mozilla.org/mozilla-central/search?q=path%3Adevtools%2Fclient%2Fdebugger%2Ftest%2Fmochitest%2F+file%3A*dbg_source-maps*&redirect=true)

[2016-08-31 21:16] clarkbw opened #648 "source listing [mochitests]"
Sub task of the All the mochitests! #634 issue

browser_dbg_sources-contextmenu-01.js
browser_dbg_sources-contextmenu-02.js
browser_dbg_sources-eval-01.js
browser_dbg_sources-eval-02.js
browser_dbg_sources-iframe-reload.js
browser_dbg_sources-keybindings.js
browser_dbg_sources-labels.js
browser_dbg_sources-large.js
browser_dbg_sources-sorting.js
browser_dbg_sources-webext-contentscript.js

[DXR se

[2016-08-31 21:17] clarkbw opened #649 "split console [mochitests]"
Sub task of the All the mochitests! #634 issue

browser_dbg_split-console-keypress.js
browser_dbg_split-console-paused-reload.js

[DXR search](https://dxr.mozilla.org/mozilla-central/search?q=path%3Adevtools%2Fclient%2Fdebugger%2Ftest%2Fmochitest%2F+file%3A*dbg_split-console*&redirect=true)

[2016-08-31 21:19] jlongster commented on #634
Thanks for filing this! How come some have separate issues and others not?

Once we have a flow going (probably tomorrow, landing some stuff on m-c right now) let's ping some of the contributors and see if they'll help too.

[2016-08-31 21:19] clarkbw opened #650 "call frames [mochitests]"
Sub task of the All the mochitests! #634 issue

browser_dbg_stack-01.js
browser_dbg_stack-02.js
browser_dbg_stack-03.js
browser_dbg_stack-04.js
browser_dbg_stack-05.js
browser_dbg_stack-06.js
browser_dbg_stack-07.js

[DXR search](https://dxr.mozilla.org/mozilla-central/search?q=path%3Adevtools%2Fclient%2Fdebugger%2Ftest%2Fmochitest%2F+file%3A*dbg_stack-%5B0-9%5D*&redirect=false)

[2016-08-31 21:20] clarkbw commented on #634
I think I was just mid-workflow.

This issue would be a good place to add docs, feel free to edit the top comment.

[2016-09-01 14:21] jasonLaster commented on #547
@ThomasCrvsr i'm not sure exactly what you're asking here?

One thing you might have missed in the description is that we do not update the breakpoints *disable* state when we toggle all of the breakpoints. The reason for that is that it's nice to "turn off" all the breakpoints and then when you turn them on again, you still have some disabled some enabled based on your workflow.

In general we do

[2016-09-01 14:24] helenvholmes commented on #423
I like @clarkbw's suggestion, looks good to me.

[2016-09-01 14:38] helenvholmes commented on #412
My recommendation would be the panel icon: https://cl.ly/0R3W3g1d2A0a

[2016-09-01 14:45] ThomasCrvsr commented on #547
@jasonLaster Sorry, I wasn't clear ^^' I was referring to `public/js/clients/firefox/commands.js` in your gist. You call `getState()` in the function `setBreakpoint()` in the line I shared in my previous comment.

[2016-09-01 14:46] jasonLaster commented on #547
ohhhhh, that's not great :). let me look

[2016-09-01 16:01] #568 closed

[2016-09-01 16:47] jasonLaster opened #652 "File Search - fails when hitting enter right away"
I've noticed a couple times, because i do this a lot, that typing and then hitting enter fails.

I think the default behavior should be that the first item is selected as that's usually what you want.

[2016-09-01 16:48] jasonLaster opened #653 "Tabs - selected state"
The selected state for tabs is currently different than what was mocked. We should clean this up before we launch.

[2016-09-01 16:49] jasonLaster commented on #604
@helenvholmes mind doing a quick visual pass on this. It can be pretty similar to chrome

[2016-09-02 15:21] jlongster commented on #634
I've landed the ability to run mochitests, and documented the general workflow here: https://github.com/devtools-html/debugger.html/blob/master/docs/mochitests.md

I'm working on some of the breakpoint tests right now. If someone else, maybe @jasonLaster, wants to start playing with this, it's ready. Just read the docs. We still need to flesh out the story for various things, like how to click the

[2016-09-02 15:23] jasonLaster commented on #634
Take a look at how cypress clicks the gutter. There's a helper for
scrolling to the line.
On Fri, Sep 2, 2016 at 11:21 AM James Long <notifications@github.com> wrote:

[2016-09-02 15:26] jlongster commented on #634
My issue is something else; I think it's easiest if we use small test sources for the gutter tests that don't even need scrolling. The UI doesn't seem to be completely updated after `EventUtils.synthesizeMouseAtCenter` returns; I'm not sure if it's CodeMirror's fault or not, it could be doing something asynchronous.

[2016-09-02 16:23] clarkbw opened #655 "prepare-mochitests-dev"
I was going through the [mochitests docs](https://github.com/devtools-html/debugger.html/blob/master/docs/mochitests.md) and step one seems to fail for me.  Will keep looking into it further but wanted to post this here in case @jlongster had ideas.

[code]

[2016-09-02 16:49] clarkbw commented on #655
Embarrassing  😲 ☕
I didn't have mercurial installed.  Will create a PR that checks for it in the download command.  I'm guessing there will be others who don't have `hg` installed either. 😄

[2016-09-02 16:55] jlongster commented on #655
Good call! Yeah, those scripts can be improved. I can add some more sanity checks to them.

[2016-09-02 17:57] clarkbw opened #658 "add note to mochitest docs about mercurial and autoconf"
With #655 soon fixed I think we should add notes to the [mochitests docs](https://github.com/devtools-html/debugger.html/blob/master/docs/mochitests.md) describing the need to install `mercurial` and `autoconf213`.  The first install is no big deal, the second one might lose some people, but we should at least give them a heads up.

Perhaps we should run a check in the build `make-firefox-bundle`

[2016-09-02 20:53] #653 closed

[2016-09-02 21:02] jlongster commented on #655
Done in #656

[2016-09-02 21:02] #655 closed

[2016-09-02 21:03] jlongster commented on #658
Why do you need autoconf213? I mean, I know you need it, but it should already be installed if you have the Xcode developer tools installed right? I didn't have to install it specifically, but I guess I could have done that a long time ago.

Definitely should document this though. You had Xcode installed but it wasn't on your machine?

[2016-09-02 21:05] jlongster opened #661 "Idea: connect selected tab to editor by removing border"
I think this makes it very clear what the current tab is:

<img width="571" alt="screen shot 2016-09-02 at 5 01 08 pm" src="https://cloud.githubusercontent.com/assets/17031/18218242/56f1fe6c-712f-11e6-9413-9b4cd961c4e9.png">

What do you think, @helenvholmes ? I love the recent updates to it, just thought this might be another small tweak.

[2016-09-02 21:07] jlongster opened #662 "Should the center pane header also be visible?"
Currently the header in the middle section goes away if you don't have any tabs open. I feel like it should always stay visible and the welcome screen should exist below it. That way it's always consistent.

Don't feel strongly about it though, if we don't want to do it now we can close this issue and punt for later.

[2016-09-02 21:50] clarkbw commented on #662
I agree it should always be visible and then we could use it to hold the collapse buttons for the sidebars.

[2016-09-02 21:57] clarkbw commented on #622
@wldcordeiro are you picking this up?

I was just thinking it might be nice to make the label or perhaps the header area in general clickable so someone could bring up the search field by clicking.  However we'll need to wait on #623 to see the outcome of where the buttons land.

[2016-09-04 08:05] jbhoosreddy commented on #634
I may be wrong but I ran into the same problem writing another test. Brian suggested I use `node.click` instead and it worked.

[2016-09-04 17:27] jbhoosreddy commented on #642
I'm just trying this one out to see if I get somewhere with this.

[2016-09-04 19:12] wldcordeiro commented on #662
I think always visible makes sense and as @clarkbw mentioned we can house the collapse buttons there, I'll be updating #623 this week to do so (weekend has been busy with family birthdays and weddings of friends eating all my time.)

[2016-09-05 20:56] jbhoosreddy commented on #634
@jlongster I may be wrong but shouldn't it be `dbg.win.document.querySelectorAll("#foo")` instead of `dbg.win.querySelectorAll("#foo")`?

[2016-09-06 00:18] jlongster commented on #634
Yep, you are correct! I will update it tomorrow :)

[2016-09-06 13:19] jlongster commented on #640
I'll take this one, already writing editor mochitests.

[2016-09-06 14:04] helenvholmes commented on #662
Added the header pane back in PR #663, seems like a solid idea (particularly because of the collapse/expand buttons).

Should we discuss entry states a bit? Originally the empty state was about education. Now that we're moving the key command label into the top of sources in #622, should the empty, no-files-open state be the Cmd+P state, instead of two separate states?

Empty state:
https://cl.ly/

[2016-09-06 14:05] helenvholmes commented on #661
Hahaha, three thumbs up, I think that means we should do it 👍🏽

(James, did you want to submit the PR for it, since you've already done the work?)

[2016-09-06 15:08] jlongster commented on #640
This will be mostly covered by #660. I added a test for modes which is the only thing we need to copy from this slice of tests. There are still other things we need to test from the editor, but we can close this issue when that PR is merged.

[2016-09-06 15:08] jasonLaster commented on #661
oh nice

[2016-09-06 15:15] jasonLaster commented on #662
Hmm, I'm hesitant to do too much work on the center pane at the moment as we haven't flushed out the search / discovery story yet.

We'd like to have project text and symbol search added soon.

I also think we could use this space in an interesting / different way after we have done some exploration into user flows in Q4. My hope is that we can provide more of a birds eye view or jumping off point

[2016-09-06 15:18] jlongster commented on #661
Yeah, I can try to do it this week. I didn't actually do implement it, I just fiddled with the HTML/CSS in devtools to hack it up... But it shouldn't be too hard :)

[2016-09-06 15:19] jlongster commented on #661
It's a big deal if we don't get to it this week. It's more important to get testing and bugfixes in before the merge.

[2016-09-06 15:54] helenvholmes commented on #661
https://cl.ly/0R0b102a3X2X << one thing to check is what happens in this situation. (Might look odd, I'm not certain.)

[2016-09-06 17:24] helenvholmes opened #665 "Rollout Plan"
Catch-all issue for discussing how we should release the new debugger. This is just for the UI, not marketing.

[2016-09-06 17:26] jlongster commented on #647
I spent a couple hours with souremaps today, and I don't think we can realistically land with sourcemaps by the end of this weeks. It doesn't work reliably enough and it takes some work to get it working with the native panel's network request. I bet we can turn it on soon, but I'd say let's focus on other stuff for now.

In that light, let's close this issue. When we finalize sourcemaps, that PR

[2016-09-06 17:29] helenvholmes commented on #622
Following current patterns, they'd be here-ish: https://cl.ly/0E0s1F1O2A3r

[2016-09-06 17:32] #662 closed

[2016-09-06 17:41] jasonLaster opened #667 "Source Maps - pause location is not mapped"
It looks like the pause location is no longer mapped correctly with source maps

http://recordit.co/RYYuYIYqqc#

[2016-09-06 17:46] jasonLaster commented on #647
I think this makes sense, it's better to focus on a smaller subset. I'm re-opening the issue though and moving to the next sprint as we'll want to pick it up again soon.

[2016-09-07 07:43] captainbrosset opened #669 "The splitter's drag area is too narrow"
By drag area, I mean the area where the cursor turns to ew-resize and you can drag the splitter to resize the sidebar.
From my testing, it looks like it's only 1px wide (maybe 2?), which is way too narrow to reliably drag the splitter.
Especially on my desktop computer with a mouse, it gets hard to precisely get the splitter, maybe with a touchpad it's easier, not sure.
I think the line between th

[2016-09-07 07:51] captainbrosset opened #670 "Font-families and font-sizes differ from the rest of Firefox devtools"
Here's a screenshot comparing the old debugger (as it is now in dev edition), and the new one embedded into Firefox Devtools:

![capture](https://cloud.githubusercontent.com/assets/1152698/18304006/2f271200-74e0-11e6-87de-4378146f4273.PNG)

1) the sidebar panel
Both the font size and family look different between the old and new debugger UIs.
Maybe we want to stick to this new look when the new de

[2016-09-07 07:57] captainbrosset opened #671 "The sidebars can be made so big that the a second horizontal scrollbar appears"
STR:
- grab the left splitter,
- drag it to the right,
- continue dragging until a second scrollbar appears.

Or:
- grab the right splitter,
- drag it to the left,
- continue dragging until a second scrollbar appears.

See the screenshots below:
![capture1](https://cloud.githubusercontent.com/assets/1152698/18304181/3afd4f30-74e1-11e6-98e2-85a2b6499f6a.PNG)
![capture](https://cloud.githubuserconte

[2016-09-07 08:01] captainbrosset opened #672 "Scroll position in different tabs isn't preserved"
STR:
- open 2 JS files in the debugger UI,
- notice that you now have 2 tabs at the top,
- in one of them, scroll down to the bottom,
- click on the other tab,
- click back to the first tab,
- notice that it's no longer scrolled down.

I think this comes down to the fact that they really aren't separated tabs, but just a way to navigate between files recently opened. Maybe it wouldn't be too hard

[2016-09-07 08:05] captainbrosset opened #673 "Prettify Source button hides scrollbar buttons"
![capture](https://cloud.githubusercontent.com/assets/1152698/18304393/7618f118-74e2-11e6-940e-1ba0d2fb62b0.PNG)

Note that I'm on windows 10 with the light theme, so I don't have floating (OSX-like) scrollbars. Instead I have big ugly scrollbars with arrows at both ends.

The Prettify Source button is at the bottom right of the source editor, so it hides 2 of these arrows, and I can't click on th

[2016-09-07 08:09] captainbrosset opened #674 "Scroll position of the next tab opened depends on the first"
STR:
- make sure you just opened the debugger and there are no files opened yet in it,
- open one file (a new tab should appear),
- scroll down to the bottom,
- now open a second file (a new tab should appear too),
- notice how this second file is scrolled down to the bottom.

![tabs](https://cloud.githubusercontent.com/assets/1152698/18304534/265bb48e-74e3-11e6-9d99-e43a7585919b.gif)

[2016-09-07 08:14] captainbrosset opened #675 "Clicking on a breakpoint in the Breakpoints sidebar panel should take me there"
STR:
- add a breakpoint somewhere,
- open another file or stay in the same file but scroll down so you don't see the breakpoint anymore,
- in the sidebar, inside the Breakpoints expandable section, click on the breakpoint entry (not the checkbox, the label next to it).

I would expect this action to take me back to the breakpoint position so I can easily find it again.

[2016-09-07 08:28] captainbrosset opened #676 "Sidebar resizing performance"
I'm noticing a really low framerate when moving the splitters around. Especially when moving the left one (where the source tree is displayed).
If I do the same thing on the current debugger in Firefox, or in Chromedevtools, it's really smooth, the splitter just follows the mouse as you'd expect.
With the new debugger however, the splitter lags behind and the UI only refreshes at intervals, which

[2016-09-07 12:56] ThomasCrevoisier commented on #547
@jasonLaster I face to another problem. If we set a breakpoint, remove it and set it again we don't have the same actor.
It become problematic when implementing the "toggleAll" feature for Firefox as we should update the state app to have consistency for actors.
What we could do is making the `toggleAllBreakpoints()` function to return every breakpoints and use it in the appropriate reducer to upd

[2016-09-07 13:02] jasonLaster commented on #676
Nice find. Lets investigate quickly to see if the fix is likely in the splitter component or how we're using it.

[2016-09-07 13:07] jasonLaster commented on #675
Hmm, I believe the happy case works alright - clicking a breakpoint navigates to the correct source line, but there is an edge case here:

+ navigating within a source is broken. @jlongster do you think this could be related to the sourceeditor work you did lately with codemirror? My guess is that it would be a regression with alignline

![](http://g.recordit.co/Gz1I3m8yjU.gif)

[2016-09-07 13:09] jasonLaster commented on #674
Great find.

We're re-using the same document and resetting the text, so it makes sense that we would run into this problem. In the short-term we should scroll to the top in `Editor.setText`. In the long term we should implement one document per source tab, so that we can quickly toggle between sources and maintain scroll position.

[2016-09-07 13:10] jasonLaster commented on #673
This will be address soon in #438

[2016-09-07 13:10] #673 closed

[2016-09-07 13:12] ThomasCrevoisier commented on #547
The long term solution would be the server side implementation like Chrome (the server-side is not present in this codebase right ?), but I could try the first implementation for the moment :)

[2016-09-07 13:14] jasonLaster commented on #672
This would be a good candidate for an enhancement in the next sprint.

I implemented the feature in the last debugger with codemirror documents and it is pretty straightforward, but there are edge cases with clearing state on navigation and keeping state outside of the redux app state that make it a little complicated.

[2016-09-07 13:15] jasonLaster commented on #671
haha - we should probably have some sensible max-widths.

nice find

[2016-09-07 13:16] jasonLaster commented on #547
Sounds good @ThomasCrevoisier.

[2016-09-07 13:19] jasonLaster commented on #669
We discussed this feature here #426 #623 earlier and agree.

This will probably be its own enhancement that we should schedule for next sprint.

[2016-09-07 13:22] jlongster commented on #676
We're going to bring in Honze's revamped SplitBox which has received more love so we should just focus on that component. It's fine if it's like this for next week or two.

[2016-09-07 13:25] jlongster commented on #669
Definitely agree with this one. Seems like the collapsible sidebars work fixes it.

[2016-09-07 13:34] jlongster commented on #670
For what it's worth, I put a lot of work to make sure that it's loading exactly the same CSS. In the panel, it's still inheriting some additional CSS that we don't have in the local tab. But it should be identical, and any problems are our CSS explicitly overriding it which we should remove. Thanks for filing!

[2016-09-07 13:35] jlongster commented on #675
Possibly, I'm not sure. I didn't change `alignLine` at all, but that code has moved around so something is going on. I can take it and try to look soon.

[2016-09-07 14:54] jasonLaster opened #678 "Local Test Runner"
We're currently writing many integration tests with mochitests, which has several benefits:
* Debugger runs inside the panel
* Redux oriented tests (drive the debugger with actions)
* Tests will run on Try as well as Circle
* Familiar to the team

It would be good to explore a local test runner, which would use mocha and drive the debugger in an iframe
* We would not change how the tests are writt

[2016-09-07 16:06] jlongster commented on #676
Just tested this and the ride sidebar resizes fine, it's only the left sidebar. I'm guessing that there's an extraneous render and it might even be the editor, which would definitely be slow. Should be pretty easy to fix.

[2016-09-07 16:25] #650 closed

[2016-09-07 18:16] jasonLaster opened #680 "Tweak pause on exceptions"
It's not obvious when you toggle between the different pause on exception states.

We should so something, maybe a different color.

Maybe a disabled state when we're not pausing on exceptions.

[2016-09-07 18:39] jasonLaster opened #682 "test seeing the pause warning"
I'm pulling this test out of #644 as it's fairly different.

The test navigates to the inspector and checks to see if the pause warning is there.

[browser_dbg_pause-warning.js](https://dxr.mozilla.org/mozilla-central/source/devtools/client/debugger/test/mochitest/browser_dbg_pause-warning.js)

[2016-09-07 19:24] jlongster opened #685 "Add ability to turn on/off sourcemaps in the UI"
We need to work on how to manage settings for the debugger. The most crucial setting is sourcemaps: it's very common to turn off sourcemaps when they are just not working (could be the sourcemap's fault, not our implementation). Adding a way to toggle them would be great. Maybe we don't even need to make a whole settings panel, but turning on/off sourcemaps could be first-class as a button somewhe

[2016-09-07 19:57] clarkbw commented on #685
Maybe for now, we could add a toolbar that matches the editor to the bottom of the sources panel with the option to turn off source maps.

__yellow for emphasis__

![screen shot 2016-09-07 at 12 55 54](https://cloud.githubusercontent.com/assets/2134/18326419/7f9ec1fa-74fa-11e6-8f18-db4eb716642a.png)

But this is for @helenvholmes to figure out.

[2016-09-07 20:06] jlongster commented on #685
That's a neat idea. I like the idea of embracing the fact the sourcemaps are easily faulty and making it easy for the user to flip them on/off. It's worth trying something like that and see what user think about it.

[2016-09-07 20:23] helenvholmes commented on #685
I actually think it might fit better here, since there's a) already a bar b) that sources sidebar normall is half that height and has a lot of things in it:

<img width="727" alt="screen shot 2016-09-07 at 4 20 23 pm" src="https://cloud.githubusercontent.com/assets/1720093/18327118/02c907ea-7517-11e6-9ed5-4b84061f364d.png">

I should stress I think this is more of a temporary fix, though. As featu

[2016-09-07 20:27] jlongster commented on #685
It might be worth going ahead and bringing back back that three-dot menu with a single item under it, not sure. That's still a pretty accessible place to toggle them.

[2016-09-07 20:38] juliandescottes opened #686 "Breakpoints disappear right away if source file uses \r\n line breaks"
STRs:

- open the debugger on https://dl.dropboxusercontent.com/u/17803671/devtools/debugger-test/index.html
- set a breakpoint anywhere in the page

AR: Breakpoint briefly appears, but disappears right away.
ER: Breakpoint should remain visible

This issue comes from the fact that this source file uses `\r\n` line breaks.
You can compare with https://dl.dropboxusercontent.com/u/17803671/devtools/

[2016-09-07 20:51] jlongster commented on #686
Thanks!! I think the ideal solution would be to avoid comparing the text. There should be a solution that doesn't require that, because it will be slow on large texts. We'll look into it.

[2016-09-07 21:06] juliandescottes opened #687 "When paused, adding a new breakpoint should not update the scroll"
Small UX nit :)

STRs:
- (needs a source big enough to have a scrollbar)
- pause on a breakpoint
- scroll somewhere else in the source
- click to add another breakpoint

AR: The scroll is updated to show the paused line, potentially hiding the line where I just added the breakpoint.
ER: Scroll should not be updated.

![debugger-scroll-reset-when-paused](https://cloud.githubusercontent.com/assets/1

[2016-09-07 21:07] jlongster commented on #687
Definitely a good bug. The scrolling needs to be reworked. Thanks!

[2016-09-07 21:08] jasonLaster commented on #685
I think the submenu is probably the best place to add some quick settings:

I see the source footer as a place for a single source's actions: pretty print, black box, maybe search...

I think the sources sidebar could work for source maps, but i agree that it could get busy

[2016-09-07 22:38] jlongster commented on #370
This bug should probably be moved to next sprint. Right now we're just making sure that the basic dark/firebug themes even work. They were totally broken before but I just spent a few hours getting them basically working. How does moving this out (as a polish bug) sound?

[2016-09-08 00:56] jasonLaster commented on #370
sounds good to me

[2016-09-08 14:52] clarkbw commented on #685
If we want more than a temporary fix I'd suggest we focus on the intent of usage.  If we don't feel that a user should need to toggle this during a session but we want the option available just in case I think we want this hidden, like in a submenu.  If we feel a user should need to toggle this regularly we might want to make the option more visible in the UI, like in a toolbar.

[2016-09-08 14:55] #604 closed

[2016-09-08 14:56] jlongster opened #692 "Make sure dark theme isn't completely borked"
This is already done, spent a few hours yesterday on it. After landing [bug 1301207](https://bugzilla.mozilla.org/show_bug.cgi?id=1301207) and updating the debugger, the dark/firebug themes shouldn't be totally borked. Definitely still tweaked to be made though.

[2016-09-08 14:58] jlongster commented on #637
All of those tests are already covered in https://github.com/devtools-html/debugger.html/blob/master/public/js/test/mochitest/browser_dbg-editor-gutter.js

[2016-09-08 14:58] #637 closed

[2016-09-08 15:24] jasonLaster opened #694 "[mochitests] breakpoint buttons"
This is a subset of #636 for #634.

browser_dbg_breakpoints-button-01.js
browser_dbg_breakpoints-button-02.js

[2016-09-08 16:18] jasonLaster opened #696 "Copyright + License sources"
Our test files currently have this disclaimer.

[code]

Our bundled files do **not** have this disclaimer.

[code]

Question: Do we still need these disclaimers?
- If yes - we should add the comment to the bundles
- If no - we should remove the comment from the tests

[2016-09-08 16:42] helenvholmes commented on #685
I second what @clarkbw says; I brought this up to @jlongster yesterday as well. Without knowing use cases/the way people are toggling and using source maps, I don't know where they best belong. I hesitate to put them somewhere when we ultimately might move them.

James made sourcemaps and turning them on and off was an action people do with some regularity, which surprised me. (I thought they were

[2016-09-08 16:59] jlongster commented on #685
Having key commands for the settings in the menu sounds like a cool idea, if there are keys available.

I'm not exactly sure how frequent it is, maybe others don't use it like I do. But sourcemaps have enough problems that we should make it easy to turn off, but I'm fine with a submenu. Might be good to get feedback from others on this.

[2016-09-08 17:06] jasonLaster commented on #685
I think this is tough to estimate because the old debugger would force you to choose. The new debugger, which is like chrome's allows you to see both the bundle and the original sources.

Assume I want to view line 1234 in the bundle, that is still possible with source maps on. Another example is adding breakpoints. It is still possible to add a breakpoint to line 1234 in the bundle with source ma

[2016-09-08 17:16] jlongster commented on #685
That's true, we will make it easier to use even when sourcemapping goes wrong. We need to figure out all these workflows. I suspect we'll still want the ability to globally turn it off, because we'll always prioritize sourcemapped code, i.e. if stepping into a function we'll pull up the sourcemapped version first. Sometimes you just want to step through the generated code. Also, this affects other

[2016-09-08 19:38] jasonLaster commented on #685
I hadn't made that leap either, but that makes a lot of sense

[2016-09-08 20:28] clarkbw commented on #685
This makes a lot of sense to me now that we're talking about the sources view separation and this as a toolbox level feature.  We should coordinate with the console on this when we come back around to source mapping.  I suspect they might want an option inline to at least toggle views given that they don't currently have an easy way to show both values like the debugger does.  Perhaps that could j

[2016-09-09 00:17] jasonLaster opened #700 "[design] Tweak Right sidebar vertical rhythm"
Each section has it's own line height typography choices. It would be nice if we had a more developed system for how this is handled.

* I happen to think that our call stack has a lot of whitespace, but I could be persuaded if we were consistent.
* We might want to have list item borders to make the lists easier to scan. I'm not sure

![screen shot 2016-09-08 at 8 18 14 pm](https://cloud.githubus

[2016-09-09 14:13] #638 closed

[2016-09-09 19:04] #641 closed

[2016-09-09 19:04] #644 closed

[2016-09-09 19:04] #694 closed

[2016-09-09 19:04] #543 closed

[2016-09-09 19:52] joewalker opened #705 "Codemirror can get blank space below"
Something is below my codemirror instance...

<img width="241" alt="screen shot 2016-09-09 at 20 42 36" src="https://cloud.githubusercontent.com/assets/76258/18400508/26fb61cc-76ce-11e6-9ac6-5fd8c5869b82.png">

It looks like the codemirror instance is having `height:300px` set by codemirror.css. Not sure why.

[2016-09-09 22:09] jlongster commented on #705
Any steps to reproduce? I can't repro.

[2016-09-09 22:17] jlongster opened #707 "Bring back the ability to specify selected source position"
We previously had `selectedSourceOpts` state which held location info that the editor should highlight. When changed, CodeMirror would update the cursor to the line/col specified in the opts. It doesn't necessary represent the "current" line/col because we didn't update it when the cursor moved, but it gave us a way to move the user to a line.

I removed it in https://github.com/devtools-html/debu

[2016-09-11 09:26] joewalker commented on #705
I was switching between tabs when it happened. I can't get it to _not_ happen now. Tried restating the browser even.

[2016-09-12 15:35] jlongster commented on #520
This is done.

[2016-09-12 15:35] #520 closed

[2016-09-12 15:35] jlongster commented on #469
We're pushing sourcemaps out to the next sprint.

[2016-09-12 15:36] jlongster commented on #692
This is completed. It will work when an update is pushed to m-c.

[2016-09-12 15:36] #692 closed

[2016-09-13 14:25] #652 closed

[2016-09-13 16:47] jbhoosreddy opened #715 "Fix/investigate Step in/Step out key shortcuts on Linux"
As seen on CI, the step In/step out key shortcut, specifically F11 key does not trigger properly on Linux. (#642) The old debugger used a different mechanism from the key shortcuts library in the new debugger. But in both cases, the F11 key doesn't seem to do much. Which is weird. I suspect that key might be reserved by the system?

In any case, I will investigate it.

[2016-09-13 17:57] jasonLaster commented on #291
closing this for now as we recently cleaned up the breakpoint styles and this is a bit stale.

There are some good ideas here like file grouping that we can revisit later

[2016-09-13 17:57] #291 closed

[2016-09-13 18:00] jasonLaster opened #716 "Editor - add code search"
The sourceditor has code search functionality that we should be able to use when in the panel. This ticket should be about making this work. We can add code search locally and maybe re-think some of the UI at a later point

[2016-09-13 18:00] jasonLaster commented on #396
Closing this issue as it's gone stale. Opened https://github.com/devtools-html/debugger.html/issues/716 to tackle code search in the panel.

[2016-09-13 18:00] #396 closed

[2016-09-13 18:03] jasonLaster opened #717 "[Console] keyshortcuts like stepIn should work when the console is focused"
STR:
- pause
- open the console
- focus on the terminal
- hit F10 (step over)

nothing happens

The old keyboard shortcuts are in the toolbar view - https://dxr.mozilla.org/mozilla-central/source/devtools/client/debugger/views/toolbar-view.js#55-60

new shortcuts are in the RightSidebar https://github.com/devtools-html/debugger.html/blob/master/public/js/components/RightSidebar.js#L91-L95

It's li

[2016-09-13 18:12] jlongster commented on #608
Will be fixed by #713

[2016-09-13 18:13] jlongster commented on #570
There's another issue open so closing this (see #645)

[2016-09-13 18:13] #570 closed

[2016-09-13 18:16] jlongster commented on #634
This is tracking ticket, so removing from a sprint

[2016-09-13 18:22] jlongster commented on #705
I can repro this now. Not sure why I didn't see it before, but we'll fix this immediately.

[2016-09-13 18:25] jlongster commented on #675
This should be fixed once #713 lands

[2016-09-13 18:28] jlongster commented on #608
I'm pretty sure this is a dupe of #675

[2016-09-13 18:28] #608 closed

[2016-09-13 18:30] jlongster commented on #707
This is also a dupe of #675

[2016-09-13 18:30] #707 closed

[2016-09-13 18:31] #627 closed

[2016-09-13 18:41] #618 closed

[2016-09-13 21:35] karlcow opened #719 "code window is only 21 lines high"
When showing a specific script the window is only 21 lines high.
See the screenshot
![capture d ecran 2016-09-14 a 06 33 03](https://cloud.githubusercontent.com/assets/505230/18492274/58758118-7a45-11e6-96a1-8dcca5b74996.png)

[2016-09-14 01:42] jasonLaster commented on #719
Thanks. We're working on fixing that

[2016-09-14 01:57] jlongster commented on #719
Yeah, a fix should be out by Thursday, thanks!

[2016-09-14 06:09] SebastianZ opened #722 "Use tabs for the side panels instead of accordion view"
The debugger frontend uses an accordion view for its side panels, which got obviously inspired by the Chrome DevTools.

Though this requires the user to scroll up and down to get the required information or set breakpoints, which causes a bad UX.

Better would be to put them into tabs like in the existing Firefox DevTools debugger frontend, so users can switch between them by a click.

Sebastian

[2016-09-14 06:44] tonio commented on #670
![screenshot from 2016-09-14 08-41-31](https://cloud.githubusercontent.com/assets/21686/18502388/24cfb060-7a57-11e6-9a6b-8e28cbcdc985.png)

On linux, I got really big font size differences (see attached screenshot). Don’t know if it’s related, but line number are badly aligned with their corresponding lines…

[2016-09-14 08:10] clarkbw commented on #719
I believe this is the same issue as #705

[2016-09-14 12:17] bvaughn commented on #104
Chiming in kind of late here, but if you ever decide to pick the virtualization thread back up, @jlongster, I'd love to jump in and help. Feel free to ping me here (or on Twitter).

[2016-09-14 13:36] jlongster commented on #722
Tabs don't work because there are too many sections to show. We were previously very constrained and could only have 2 tabs before the tab headers got too small. We will likely have around 6+ panels so tabs just don't work. There's not enough room.

I'm definitely interested in experimenting with different ways to display that information, but we were intentional about using an accordion. Sorry if

[2016-09-14 13:36] #722 closed

[2016-09-14 13:39] jlongster commented on #719
It is, good call. Duping.

[2016-09-14 13:39] #719 closed

[2016-09-14 14:10] daviddahl opened #725 "npm run firefox crashes"
`npm run firefox` runs a new copy of firefox 48.0.1 for a bit but then crashes. I am able to connect to the running instance from debugger.html at first

see:
http://pastebin.com/anQcuU4V

[2016-09-14 15:37] jasonLaster commented on #725
Thanks, I think this is because we need to use `marionette` after 47.

[2016-09-14 15:45] jasonLaster commented on #722
@SebastianZ would it help if we pinned the accordion headers so that they could not scroll out of view.

![screen shot 2016-09-14 at 11 47 10 am](https://cloud.githubusercontent.com/assets/254562/18519113/a9bca062-7a70-11e6-99b6-c94fda379db7.png)

[2016-09-14 16:48] jasonLaster opened #726 "Document debugger test commands / assertions"
We currently have an [api](https://github.com/devtools-html/debugger.html/blob/master/docs/mochitests.md#api) in our mochitests doc that is already out of date.

It would be nice to use document.js to document the debugger command / assertion functions.

[2016-09-14 16:54] jasonLaster opened #727 "testing - make it easier to navigate"
There are two ways that we navigate in the tests `initDebugger` and `navigate`.

[code]

[code]

They both require the html file you want to navigate to and a list of the sources. We include the list of sources because we don't know when the debugger is done starting until that point.

This makes it frustrating anytime a test wants to navigate because it requires a lot of copy pasting and could ch

[2016-09-14 17:30] jbhoosreddy commented on #727
I like the first idea but I'm a bit vary of the second one (source count). It doesn't seem intuitive, especially for new people. Personally I'm fine with being explicit about the additional sources I am looking for in the debugger.

Sent from my iPhone

[2016-09-14 17:35] jlongster commented on #727
You don't need to list all of the sources in the example - only the ones that you are interested in. If we added a source to an example you don't need to change any of the tests. If you do, it's because you are wanting to change how that test actually works, so you're rewriting the test or adding a lot to it anyway.

Doing this gives you control over what happens (only wait for 1 source because th

[2016-09-14 17:43] jlongster commented on #727
Another navigation is `reload`, and for example here I just wait for a single source to be available: https://github.com/devtools-html/debugger.html/blob/highlight-line/public/js/test/mochitest/browser_dbg-editor-select.js#L76. I always only list the exact sources that I'm about to use, and it's only 1-3 sources. We can keep discussing it for sure though.

[2016-09-14 17:49] jlongster commented on #727
(One last note...) If you are navigating frequently in a single test (usually tests just have a single `initDebugger` at the top) you can keep the array of sources you are interested in at the top and just do `navigate(dbg, url, ...sources)`. But I think it's rare for tests to be doing this, and most tests just have a single `initDebugger`.

[2016-09-14 17:57] jasonLaster commented on #727
good point. I suppose back/forward are as well.

agreed, that's why it would be  in the dictionary

I think it's likely that if we do this we'll find racey tests where they work most of the time, but occasionally fail. I like the rule of thumb that *most* tests should assume the debugger is navigated and then do the test. If we are explicitly testing a partial loading state we can write that test

[2016-09-14 18:00] jlongster commented on #727
Actually, I might know of the real solution (yeah, I just keep talking to myself here, sorry...).

There's a problem where other tools try to link to a source in the debugger, but the source might not exist. This happens in weird cases where a URL gets printed somewhere to a source that isn't in the page we're debugging or something. In this case, the toolbox should open up a `view-source:` URL as

[2016-09-14 18:03] jlongster commented on #727
If you're not waiting for a source that you expect to be there, you'll find it failing very quickly and often. I would blame the author for writing a racy test ;) because you are using state that you didn't wait for.

I think you're feeling the pain of this more with the navigation tests, but most other ones only need to wait on sources once at the top of the test, that's all. For the navigation o

[2016-09-14 19:48] jasonLaster opened #732 "Debugger initPage should block on getSources"
initPage is the main function that starts the debugger. It currently fires off a getSources request and carries on. This has some benefits (namely the debugger starts right away). However, the big drawback is that the debugger internally is not sure if the initial set of sources has loaded. We can prevent this by waiting on getsources to complete.

[code]

[2016-09-14 20:07] jlongster commented on #670
@wldcordeiro you are on linux, right? Can you reproduce the above screenshot?

[2016-09-14 20:08] jlongster commented on #705
This will be fixed by https://bugzilla.mozilla.org/show_bug.cgi?id=1302833

[2016-09-14 20:09] jlongster commented on #675
Fixed by #713

[2016-09-14 20:09] #675 closed

[2016-09-14 20:16] jasonLaster commented on #732
https://github.com/devtools-html/debugger.html/pull/733

[2016-09-14 20:16] jasonLaster commented on #727
Will be resolved here https://github.com/devtools-html/debugger.html/pull/733

[2016-09-14 20:16] #727 closed

[2016-09-14 21:02] Dalimil commented on #412
Is it OK to convert it to an .ico file first? Because SVG favicons seem to be only supported in Firefox at the moment ( http://caniuse.com/#feat=link-icon-svg )

[2016-09-14 21:04] SebastianZ commented on #722
So far there are just 3 panels on the right side, *Breakpoints*, *Call Stack* and *Scope* (previously only two, *Variables* and *Events*).
If you intend to add more panels for the different breakpoint types, then I suggest to do it like Firebug did. I.e. add an accordion for the different breakpoint types within the *Breakpoints* panel:

![Firebug's *Breakpoints* panel](https://cloud.githubusercon

[2016-09-14 21:20] jasonLaster commented on #412
Yeah. Definitely
On Wed, Sep 14, 2016 at 5:02 PM Dalimil Hajek <notifications@github.com>
wrote:

[2016-09-14 21:24] jasonLaster opened #734 "[documentation] Include docs on how to debug ios safari"
@clarkbw has a great gist on connecting to ios safari https://gist.github.com/clarkbw/782e9a7c558d83eb95dae005bf203362

We should include this in our docs

[2016-09-15 00:15] clarkbw commented on #722
If you can link those suggestions I'd love to look through them.  🙇

[2016-09-15 00:22] jlongster commented on #722
I wasn't thinking of breakpoints types; there will be whole new areas like watch expressions and threads. While we don't take advantage of it now, I think we have the potential to be better at showing you more information at once. For example, if we only shows the top few call frames, you could see your watch expression, frames, and scopes all at a single glance instead of having to click between

[2016-09-15 01:27] jbhoosreddy commented on #715
Resolved in #718.

[2016-09-15 01:27] #715 closed

[2016-09-15 01:31] jbhoosreddy commented on #642
Resolved in #691 and #718.

[2016-09-15 01:31] #642 closed

[2016-09-15 04:42] jbhoosreddy commented on #726
That doc is a single source of reference for me when it comes to tests. I end up going back to it so many times, and I'm sure many other contributors would find it useful.

[2016-09-15 04:42] jbhoosreddy commented on #726
Do you think it will be possible for me to investigate this one, unless someone else is already planning on doing it?

[2016-09-15 05:59] SebastianZ commented on #722
Oops. Had the page open but forgot to add the link. Here it is:
https://github.com/firebug/firebug/issues/2923

In my thinking threads would have their own tab, watch expressions would go under *Scopes*.

With the limited amount of space within the sidebar this is very tricky to do and the UI may get really crowded like it's the case in the Chrome DevTools when you're stopped at a breakpoint.

I s

[2016-09-15 07:21] clarkbw opened #740 "mochitest-runner fails to run"
I'm seeing the circle ci tests fail claiming it is missing the tag `latest`.  @jlongster do you know what's going on?

[code]

[2016-09-15 07:27] clarkbw commented on #740
I saw that in this run: https://circleci.com/gh/devtools-html/debugger.html/888

Trying additional runs to see if I can reproduce it.

[2016-09-15 07:43] #734 closed

[2016-09-15 08:16] apollo13 opened #742 "npm install fails due to non-existant dependencies?"
[code]

`npm start` subsequently throws:
[code]

[2016-09-15 09:23] zspitzer opened #743 "Sort folders first in tree nodes"
Currently the folders and files are just sorted alphabetically in the source list, can folders be sorted first?

[2016-09-15 10:37] iciuperca opened #745 "typo in CONTRIBUTING.md"
There's probably a typo in the following, Ex: Dec 2016 is in the future.

`devtools.html is the larger umbrella initiative that encompasses the debugger.html and several other devtools projects. The devtools.html project claims its origin from a demo for a Mozilla (Dec 2016) work week in Orlando`

[2016-09-15 11:28] juliandescottes commented on #717
The split console and the debugger live in separate iframes. If you use the key-shortcut API, you would need to set the shortcuts on a parent window that contains both the debugger and the console.

In the old debugger, we are using a toolbox API (useKeysWithSplitConsole) to forward some debugger shortcuts to the toolbox window when the splitconsole is focused:
- https://dxr.mozilla.org/mozilla-ce

[2016-09-15 13:27] jlongster commented on #743
Yes, this is a good idea. I thought it was supposed to work like that, but there must have been a regression at some point. Thanks!

[2016-09-15 13:29] jlongster commented on #742
It looks like the storybook install steps have changes. Thanks for filing, we will fix.

[2016-09-15 13:32] jlongster commented on #726
@jbhoosreddy go ahead! Just need to look at all the helper functions in `head.js` and make sure they exist in the API list.

[2016-09-15 15:05] jasonLaster commented on #742
We've seen this issue before as well

https://github.com/devtools-html/debugger.html/issues/240

looks like their new install steps are:
[code]

[2016-09-15 15:08] jasonLaster commented on #745
Haha nice catch @iciuperca.

[2016-09-15 15:43] jlongster commented on #740
I don't, I have not seen that and I just did a run this morning. It may be docker's servers. Let me know if you can reproduce it.

[2016-09-15 16:17] jlongster commented on #640
I think we have some good editor mochitests that cover the tests listed in the original comment, so I'm closing this.

[2016-09-15 16:17] #640 closed

[2016-09-15 16:18] jlongster commented on #705
That bug has been pushed and will land on m-c today.

[2016-09-15 16:18] #705 closed

[2016-09-15 17:41] jlongster commented on #740
I just did a push and it worked fine; even rebuilt it to run tests again and it worked. Closing this issue as it was probably CircleCI or docker's servers at fault. If this comes up again, please reopen.

[2016-09-15 17:41] #740 closed

[2016-09-15 22:09] #646 closed

[2016-09-16 00:15] jbhoosreddy commented on #745
I fixed this in #738.

[2016-09-16 00:24] wldcordeiro commented on #745
I liked the implication of time travel though. 😢

[2016-09-16 00:25] jasonLaster commented on #745
Yes. We want to work on time travel debugging soon.
On Thu, Sep 15, 2016 at 8:24 PM Wellington Cordeiro <
notifications@github.com> wrote:

[2016-09-16 00:25] clarkbw commented on #745
All good debuggers support time travel 😜

[2016-09-16 00:26] jbhoosreddy commented on #745
The tricky bit is traveling backwards. 😉

[2016-09-16 00:26] jasonLaster commented on #745
I believe you're making that comment from the future circa 2017.
On Thu, Sep 15, 2016 at 8:25 PM Bryan Clark <notifications@github.com>
wrote:

[2016-09-16 08:37] jkesseler opened #751 "Make the hardcoded development web server port number 8000 configurable"
The port number in of the server is hardcoded in [`bin/development-server.js`](https://github.com/devtools-html/debugger.html/blob/c8292de68970552049bc9b2cfb4db1ec806e64e3/bin/development-server.js#L86). This will clash if the project you are trying to debug also runs on port 8000.

[2016-09-16 13:17] jasonLaster commented on #751
That's a good point @jkesseler It should be a parameter [here](https://github.com/devtools-html/debugger.html/blob/master/config/development.json) and then you could override it in `local.json`.

[2016-09-16 13:46] jasonLaster commented on #717
Thanks @juliandescottes. I think the `useKeysWithShortcut` makes sense, we want to be able to handle these shortcuts in the debugger and will need a way to proxy them over.

[2016-09-16 15:17] clarkbw commented on #743
This does look a bit difficult.  Here's what I found when I looked into this on my flight.

This function in the `sources-tree.js` file is what does the sorting and it currently only sorts by name, comparing the files and directories against either other.
https://github.com/devtools-html/debugger.html/blob/f67515acb9493fe1363068b305d0daa5391d659d/public/js/utils/sources-tree.js#L107-L111

It didn'

[2016-09-16 16:08] #643 closed

[2016-09-16 16:08] #649 closed

[2016-09-16 16:08] #438 closed

[2016-09-16 16:08] #686 closed

[2016-09-16 16:08] #687 closed

[2016-09-16 16:34] wldcordeiro commented on #670
@jlongster didn't see this till now but I just built moz-dev today and it looked like this. So no reproduction here.

![screenshot_20160916_103416](https://cloud.githubusercontent.com/assets/580982/18593554/270f6b10-7bf9-11e6-94ac-f15a916f035a.png)

[2016-09-16 16:39] wldcordeiro commented on #670
floating window as well

![screenshot_20160916_103841](https://cloud.githubusercontent.com/assets/580982/18593691/dc37053e-7bf9-11e6-9a42-33454cfa3376.png)

[2016-09-16 17:27] clarkbw commented on #685
Are we still doing this?  I feel like the consensus was that we didn't need it anymore; except possibly as a toolbox level setting.  Even then I'm unsure if its necessary.

[2016-09-16 17:38] clarkbw commented on #588
This was done a while back

[2016-09-16 17:38] #588 closed

[2016-09-16 18:00] jbhoosreddy commented on #751
fixed in #753

[2016-09-16 18:00] #751 closed

[2016-09-16 18:44] jasonLaster commented on #685
@helenvholmes? do you feel like the settings can handle this?

[2016-09-16 19:30] clarkbw commented on #745
#738 was merged

[2016-09-16 19:30] #745 closed

[2016-09-16 19:54] clarkbw commented on #658
Trying this again now and I don't need `autoconf213`, which is what I suspected previously; I believe that I needed it because it previously failed to write the mozconfig file and then tried to build Firefox from source.  Which would not have been 😎

It did, however, fail this time because I don't have the `hg purge` extension enabled.  I think that extension is turned on when you run the mozilla

[2016-09-16 20:02] clarkbw commented on #569
Ok, I want to come back to this.  @jbhoosreddy was right and each time I see a lint failure in the CI I'm filled with sadness. 😭 😢

Lets give this a try, just the lint step.  Who wants to take this on?

[code]

[2016-09-16 20:03] clarkbw opened #756 "remove cypress from docs"
With #679 merged we need to follow up and remove cypress from the docs as well.

[2016-09-16 20:06] jlongster commented on #658
Ah, yeah sounds good. I suppose you could guard against that, or even not do it. The purge was just helpful to remove anything leftover, but it's probably not needed.

[2016-09-16 20:43] clarkbw commented on #658
Ugh never mind. Tried again from a clean start and I do need `autoconf2131`.  I guess I had re-linked my old autoconf which was causing the problem.  I'll add it to the docs after all and make a note about `hg purge`.  If its just a nice extra then I think we can leave it.

[code]

[2016-09-16 21:00] clarkbw commented on #756
I'm working on this.

Here are all the cypress references:
https://github.com/devtools-html/debugger.html/search?utf8=%E2%9C%93&q=cypress

[2016-09-17 05:57] jbhoosreddy commented on #569
I made a tiny PR which adds it, in case we actually want to use it.

[2016-09-17 07:54] #658 closed

[2016-09-17 07:54] #756 closed

[2016-09-17 11:21] iskitz opened #761 "npm install fails"
After freshly cloning this devtools-html/debugger.html repo, running the `npm install` command mentioned in [Getting Started](https://github.com/devtools-html/debugger.html#getting-started) throws this error
[code]
[npm-debug.log](https://github.com/devtools-html/debugger.html/files/478110/npm-debug.log.txt)

[2016-09-17 18:50] #669 closed

[2016-09-17 22:02] clarkbw commented on #761
What version of node are you using?  Can you run `node --version`?

I don't think we specify a version required but probably should.

[2016-09-18 00:30] iskitz commented on #761
Looks like 0.10.33 from the [npm-debug.log](https://github.com/devtools-html/debugger.html/files/478110/npm-debug.log.txt) file's output

Can't verify at the moment but pretty sure I checked and saw that before filing this issue.

[2016-09-18 03:55] jbhoosreddy commented on #743
Taking this for now if no one else has. I'll see if I can make any progress on this.

[2016-09-18 13:18] jasonLaster commented on #761
@iskitz I believe the minimum version is 5. We use some es6 in node.

[2016-09-18 13:19] jasonLaster commented on #743
Thanks. Should be a nice win

[2016-09-18 13:59] iskitz commented on #761
Thanks @jasonLaster good to know.

Can debugger.html be updated to make that requirement clear? Maybe both at runtime during `npm install` and upfront in the repo's [README](https://github.com/devtools-html/debugger.html/blob/master/README.md) + [CONTRIBUTING](https://github.com/devtools-html/debugger.html/blob/master/CONTRIBUTING.md#getting-started) docs?

[2016-09-18 14:11] jasonLaster commented on #761
Yeah. I think that's a great idea. Thanks for making an issue.

This would be a nice contributor ticket.
On Sun, Sep 18, 2016 at 9:59 AM Mike Lee <notifications@github.com> wrote:

[2016-09-19 00:46] voltrevo opened #762 "Nothing really works for me"
I was able to debug node, but not inspect variables and there doesn't seem to be a repl.

Launching firefox with `npm run firefox` seems to work, but before I can start doing anything I get:
`Error: Timed out waiting for the WebDriver server at http://127.0.0.1:58674/hub`

Debugger.html does not attach/respond in any way to firefox launched with this command from the getting started guide:
`/Appli

[2016-09-19 03:29] wldcordeiro commented on #762
@voltrevo you need to go to `localhost:8000` to use the debugger currently. As far as issue titles go this probably wins in the vagueness department.

[2016-09-19 08:54] gasolin commented on #716
I think it just due to the broken code of migration sourceeditor from iframe to embedded element. Once it is fixed (probably handled in bug 1292592), debugger will get the `find/findNext/findPrev` function for free

[2016-09-19 09:37] Kelotixy opened #763 "Error while entered 'npm start'"
Here is screenshot - https://gyazo.com/d2e0db8926cbee6b5e05f95ab3888a7b

[2016-09-19 13:08] jasonLaster commented on #716
Thanks @gasolin. We wrote a small sourceeditor [shim](https://github.com/devtools-html/debugger.html/blob/master/public/js/utils/source-editor.js) to act as a substitute while the sourceditor is depriveledged. In the panel, the debugger uses the real sourceditor.

[2016-09-19 13:10] jasonLaster commented on #762
Thanks for the report @voltrevo, we should definitely make our progress more clear.

We support debugging *node* in the sense of seeing sources, adding breakpoints, pausing, etc. But we have not yet added support for seeing variables or the console. I'll file an issue to update the docs.

[2016-09-19 13:13] jasonLaster opened #764 "Node: documentation should state the progress"
We support debugging node in the sense of seeing sources, adding breakpoints, pausing, etc. But we have not yet added support for seeing variables or the console.

The docs should make this clear.

[2016-09-19 13:15] #762 closed

[2016-09-19 13:51] jasonLaster commented on #426
Quick update:

* Here is the current [h-split-box](https://dxr.mozilla.org/mozilla-central/source/devtools/client/shared/components/h-split-box.js)
* the v-split-box is coming soon. couple test failures
* there's a toggle button in the tree [button](https://dxr.mozilla.org/mozilla-central/source/devtools/client/shared/components/sidebar-toggle.js)
* here's where the inspector pane toggle logic is

[2016-09-19 14:30] wldcordeiro commented on #426
@jasonLaster how does this apply to debugger.html? Do we port those into `js/lib/devtools` for development?

[2016-09-19 14:39] jasonLaster commented on #426
talked offline.

* split-box goes in lib devtools unless we need to modify it
* other functions we can evaluate on a case-by-case basis

[2016-09-19 18:02] jlongster commented on #763
Does this happen when you just run `webpack`? If you are on windows (which seems like it), you might need to do `node .\node_modules\.bin\webpack`.

I can't think of anything off the top of my head. I'm pretty sure other people on windows have been able to run it.

[2016-09-19 18:20] wldcordeiro commented on #763
@jlongster could be problems with their `NODE_PATH`? http://stackoverflow.com/a/9588052

[2016-09-19 19:21] jlongster commented on #636
I think we have enough tests to cover most of these cases. There are still ones we don't cover but the point of these bugs was to make sure we weren't missing anything crucial. Closing this because I've looked through these tests and all the ones we don't have are pretty straight-forward and mostly related to features we don't have.

[2016-09-19 19:21] #636 closed

[2016-09-19 21:19] jasonLaster commented on #609
@wldcordeiro mind if @jacobjzhang grabs this?

[2016-09-19 21:28] wldcordeiro commented on #609
Sure? I had put it aside while working on the sidebar collapsing but now that I got that done/we're reworking that I have time for this. But if @jacobjzhang wants it they can take it.

[2016-09-19 22:48] jasonLaster opened #772 "Prepare Mochitest dev does not apply updates"
when mercurial is out of date it fetches the latest commits, but does not apply them.

My guess is that we need to do

[code]

[2016-09-20 03:08] wldcordeiro commented on #764
@jasonLaster I'm updating the contributing docs for this now, but I noticed this line which is in conflict with your recent node version requirement?

Should we update the minimum to `6.3.0`? Or change the docs to match the version you check for?

[2016-09-20 03:10] wldcordeiro commented on #761
@jasonLaster with your PR (#768) this issue has been covered?

[2016-09-20 03:28] wldcordeiro commented on #661
I got this one. ✋

[2016-09-20 03:38] wldcordeiro opened #776 "Idea: Show tips in center pane rather than just the file finder note"
In Atom, when you have an empty editor it'll show different tips. This might be a nice thing to have, like showing other keyboard shortcuts and tricks.

[2016-09-20 03:43] wldcordeiro commented on #524
Updating from research, Sublime only highlights the file not the tree so collapsing the containing folder won't apply the highlight to the folder. Both however will highlight the selected tab rather than last clicked.

## Sublime

![screenshot_20160919_214229](https://cloud.githubusercontent.com/assets/580982/18656850/0baaf590-7eb2-11e6-94f3-54abedc53477.png)

## Atom

![screenshot_20160919_214212

[2016-09-20 03:57] jasonLaster commented on #764
Thanks.

Actually it's different. 6 is needed if you want to debug it with the
debugger. 5 is needed for running the debugger.
On Mon, Sep 19, 2016 at 11:08 PM Wellington Cordeiro <
notifications@github.com> wrote:

[2016-09-20 03:57] jasonLaster commented on #761
Yep
On Mon, Sep 19, 2016 at 11:10 PM Wellington Cordeiro <
notifications@github.com> wrote:

[2016-09-20 04:09] jasonLaster commented on #609
Actually, @jacobjzhang @wldcordeiro I tagged the wrong issue. I intended to tag #606.

@jlongster actually fixed this earlier last week.

[2016-09-20 04:09] #609 closed

[2016-09-20 04:13] jasonLaster commented on #606
@helenvholmes, @clarkbw, @jlongster do you think this UI makes sense? Chrome has the remove breakpoint action in a contextmenu.

@jlongster we simplified the markup for the breakpoint, which makes it tougher to implement right-side actions. Does this still make sense considering that?

[2016-09-20 06:13] fflorent opened #777 "What happened to all the search options of the old debugger?"
Hi,

First, the landing of this project in Firefox is very cool and promising.
While I was giving it a try, I was wondering how to search in all files (the `!` option in the old debugger), and unfortunately couldn't find it.

If there isn't any of these options, could we consider reintroduce them?

Because even if (IMHO) the search options weren't intuitive, they offered a lot of things. The searc

[2016-09-20 06:57] wldcordeiro commented on #777
In file search hasn't landed yet. There was a PR to put the groundwork in but it was reverted to get some more attention. Keep an eye on the project, and more improvements/missing features will land.

[2016-09-20 11:50] jasonLaster commented on #777
Thanks @fflorent. Unfortunately we had to launch with a limited feature set, but we're working on catching up quickly.

I'm working on in file search and imagine all file search will be done soon. @helenvholmes has designs for a nice sublime like project search.

[2016-09-20 11:50] #777 closed

[2016-09-20 11:51] jasonLaster commented on #524
Go for it.

[2016-09-20 11:52] #732 closed

[2016-09-20 11:55] #612 closed

[2016-09-20 11:55] #569 closed

[2016-09-20 12:46] helenvholmes commented on #606
This would remove it completely from the list, separate from toggling its checkbox, correct?

The interaction makes sense to me. [Here's the link](https://dxr.mozilla.org/mozilla-central/source/devtools/client/themes/images/close.svg) to the 'x' icon I imagine we'd be using.

[2016-09-20 12:47] jasonLaster commented on #606
@helenvholmes yup. sometimes you just want it gone. Which to be fair, you can do when you click the gutter, but it would be nice to be able to delete it from the list.

[2016-09-20 13:07] Kelotixy commented on #763
When I write `node .\node_modules\.bin\webpack`, - error - https://gyazo.com/c460631678bf9ae894819f328610eba7
Can you give me ready project with coplied files? Because webpack can't compile them.

[2016-09-20 13:09] helenvholmes commented on #426
Hey everyone! I see this is assigned to me. I no longer feel I understand what this issue is for, even going over the backscroll :(

What is the desired outcome to be able to close this issue?

[2016-09-20 13:21] jlongster commented on #606
I think it makes sense, and I think it's a good reason to avoid the breakpoint icon because it would be weird to have two icons there but only one of them actually clickable. Now that we don't have the breakpoint icon, we could put an X there.

To clean up the UI a little, maybe it would only appear on hover? That's a pretty common interaction so that it's not so cluttered but you can still do it

[2016-09-20 13:23] jasonLaster commented on #606
good point.

That's what I was thinking as well.

[2016-09-20 13:23] wldcordeiro commented on #606
+1+ that @jlongster the hover icon seems to make sense.

[2016-09-20 13:31] jlongster commented on #763
That's very confusing because that is not what I have in `node_modules/.bin/webpack`. This is mine: https://gist.github.com/jlongster/f5fb0614a810eed719b470ba7c15fdbc

It looks like it's trying to run linux commands on windows, but for me webpack is all written in JS.

What version of node are you using? It's hard to debug this, and I think other people on windows have had no trouble.

I don't thi

[2016-09-20 13:51] jlongster commented on #772
Yikes, you're right. That's terrible. I'll fix it now.

[2016-09-20 14:04] jasonLaster opened #780 "File Search - UI Polish"
Here are some things that seem off:

- [x] The mask opacity - I think a white background would be clearer. If not, then we should put the autocomplete in a white modal.
- [x] close button - seems to be too big and not styled
- [x] search results - the borders seem too big
- [ ] hover - no hover behavior for the search result
- [x] input / list - the input is small relative to the list which seems

[2016-09-20 14:08] wldcordeiro commented on #780
Also moving the search bar down to under the tab-bar seems like another good change.

[2016-09-20 14:10] helenvholmes commented on #780
@wldcordeiro agreed. Thanks for the list, Jason!

[2016-09-20 14:32] jasonLaster opened #781 "Documentation - Highlight logging"
It would be nice to include logging next to "Hot Reloading" in the writing code section.

Also, the hot reloading link does not jump to the section.

[2016-09-20 14:45] #772 closed

[2016-09-20 17:54] #725 closed

[2016-09-20 17:54] jasonLaster commented on #725
@jacobjzhang, @daviddahl just pushed a fix. It would be great if you could pull and see if this fixes it.

[2016-09-20 19:25] jasonLaster commented on #670
Looks like this issue is coming from this App.css html,body rule: https://github.com/devtools-html/debugger.html/commit/cf66f84da35299433da039ad66efcdc64424690e#diff-b0ea81e204f18a27b1f04a9cfb44581eL11

I'm inclined to disable the font-family as we want to be using system fonts.

With it on:
![screen shot 2016-09-20 at 3 25 31 pm](https://cloud.githubusercontent.com/assets/254562/18685488/3e3d7c14

[2016-09-20 19:27] #661 closed

[2016-09-20 19:31] #763 closed

[2016-09-20 21:57] #761 closed

[2016-09-20 22:48] clarkbw commented on #726
#750

[2016-09-20 23:00] clarkbw commented on #742
I can't reproduce this on new installs.  It looks like this issue https://github.com/kadirahq/react-storybook/issues/15 which is usually about using an npm mirror.

[2016-09-20 23:02] jasonLaster commented on #742
Hmm, let me switch the storybook step out. Having a seamless install, getting started experience is important for the contributor [funnel](https://qph.ec.quoracdn.net/main-qimg-75afe1307fc3d04c84b6b19853fcbf2b?convert_to_webp=true).

[2016-09-20 23:10] clarkbw commented on #634
Taking this, my job to make sure these are all done.

[2016-09-20 23:43] jasonLaster commented on #671
Looked into this briefly. It would be nice if step 1 was to update `h-split-box` so that we're consistent with m-c

[2016-09-20 23:45] clarkbw commented on #482
@jasonLaster is this still in progress?

[2016-09-21 00:09] wldcordeiro commented on #671
@jasonLaster I could look into that. Pull down `h-split-box` and diff it with `SplitBox`. I'd like to find out if it's possible to have a single `SplitBox` that does horizontal and vertical rather than two with an awkward name.

[2016-09-21 06:44] apollo13 commented on #742
@clarkbw I was not using any mirror (I think, I am relatively new to npm ;))

[2016-09-21 13:27] jasonLaster opened #791 "Tabs - polish close button"
It would be nice to adopt sublime's tab close ux

- show close label on tab hover
- show close button on close hover

![](http://g.recordit.co/U5vN9U5I4D.gif)

[2016-09-21 13:33] jasonLaster opened #792 "Code Search - UI Tweaks"
[Current designs](https://invis.io/AY8OEG3C6#/117937554_Debugger)

This issue covers small visual tweaks to the search input. It might also involve moving the input to the top of the editor.

I took a look at a couple editors and drew up a list of features we may want to implement:

* *label* - left magnifying glass or placeholder "find" text
* *clear* - clear button on the right
* *cancel* - butt

[2016-09-21 15:17] clarkbw commented on #742
@apollo13 thanks for reporting this!  @jasonLaster is working on a fix in #789 hopefully this will be resolved soon.

[2016-09-21 16:08] jasonLaster commented on #742
@apollo13 no worries. actually the mirror comes in from the npm side. NPM uses a mirror when the the dep is `@org/something`, which makes it flakey.

[2016-09-21 16:09] jasonLaster opened #793 "docs - mochitest requirements"
we should still mention mercurial as a requirement
https://github.com/devtools-html/debugger.html/commit/463ae613ce26f65e39bae93d3e97bda1836914c7#diff-eb5b31b929fde934804675e923191746L11

[2016-09-21 17:39] AndrewPomorski commented on #791
Hello, I could help with that

[2016-09-21 18:00] #622 closed

[2016-09-21 18:35] #793 closed

[2016-09-21 18:58] zspitzer opened #797 "Show a source file snippet tooltip when browsing a combined file"
When browsing a combined source file with a source map, it would be handy to have a quick hover insight into the underlying original sources without having to double click and drill into the underlying files

[2016-09-21 19:54] jasonLaster commented on #797
@zspitzer nice idea.

[2016-09-21 20:07] #670 closed

[2016-09-21 20:07] helenvholmes commented on #792
[Debugger search designs](https://invis.io/AY8OEG3C6#/117937554_Debugger)

Still need: a good way to handle closing, and after chatting with Jason I think we both want to move the "1 of 7 results" string so it's not moving as people are typing.

[2016-09-21 20:09] jasonLaster opened #800 "Code Search - outline all matches"
We currently only highlight the selected search result. We want to highlight the selected search result and draw an outline around the other results, somewhat like atom and sublime.

![screen shot 2016-09-21 at 4 11 23 pm](https://cloud.githubusercontent.com/assets/254562/18727219/b4d70758-8015-11e6-9fa0-a32012d3bd7d.png)

[2016-09-21 20:09] jasonLaster commented on #791
@AndrewPomorski would you like to grab this issue? https://github.com/devtools-html/debugger.html/issues/800

[2016-09-21 20:44] wldcordeiro commented on #791
@jasonLaster for the close button is there a prefered background or something similar to the gif? Right now the button just always shows as the x

[2016-09-21 20:55] jasonLaster commented on #791
@helenvholmes ^

@wldcordeiro I'd suggest the hover for the accordion header.

[2016-09-21 23:42] AndrewPomorski commented on #800
I can tackle it :)

[2016-09-22 00:17] jasonLaster commented on #780
Here are the most up to date screenshots. Would someone from the community like to take a stab at this?

@helenvholmes Just noticed that the designs don't have a close button, which is important for going back to the selected source.

![screen shot 2016-09-21 at 8 18 02 pm](https://cloud.githubusercontent.com/assets/254562/18733364/454dad06-8038-11e6-9b26-d834eb6587d6.png)

[2016-09-22 00:18] jasonLaster commented on #780
Cleared the milestone as this can be done by a community member.

[2016-09-22 00:50] akashmohapatra commented on #780
@jasonLaster I can take it up

[2016-09-22 01:35] jasonLaster commented on #780
Thanks @akashmohapatra. Feel free to ask lots of questions. Also, have you been able to [get started](https://github.com/devtools-html/debugger.html/blob/master/CONTRIBUTING.md)

[2016-09-22 02:36] jasonLaster commented on #792
Here's the latest design for the "in file" search.

Changes:
* moves search to above the editor
* show a summary of the responses (this will likely move)
* show an error message when nothing is found

We'll also likely add a close button before the designs are finalized.

Would someone like to take a stab at updating the UI?

![screen shot 2016-09-21 at 10 37 47 pm](https://cloud.githubusercontent

[2016-09-22 02:36] akashmohapatra commented on #780
Yes, have the setup in place. Will ask as I go along :)

[2016-09-22 04:19] wldcordeiro commented on #792
✋ I'll grab this one since someone hopped on file search 😄

[2016-09-22 04:25] wldcordeiro commented on #776
@jasonLaster @jlongster is there a doc or something that lists the different keyboard shortcuts available? I'd like to come up with a list of tips to cycle.

[2016-09-22 08:35] captainbrosset opened #803 "Ignore exceptions button tooltip is incorrect and icon doesn't change state to indicate its status"
STR:
- Open any page, like data:text/html,test
- In my case I tested this in Firefox devtools in the console
- Try to execute a non-existing function in the console like `foo()`

The debugger panel gets selected and pauses on this line.
But:

- If I hover over the ignore exceptions button, its tooltip says: "Pause on uncaught exceptions". Since it already paused, I would expect it to say the oppos

[2016-09-22 09:43] captainbrosset opened #804 "Auto-open the first scope when paused?"
Whenever I'm paused at a breakpoint, the first thing I want to see is the variables currently defined in my scope, and their values. However, the scope section in the right sidebar is closed by default, and even if I open it, then I have a list of scopes that I have to expand too.

I think we should, at least, auto-expand the local scope by default when the debugger hits a breakpoint.

[2016-09-22 12:13] jasonLaster commented on #804
@caprainbrosset I agree.

[2016-09-22 12:59] jasonLaster commented on #803
Thanks for the feedback @captainbrosset.

This is somewhat addressed by #680. Unfortunately, I don't think it's intuitive what the language in the tooltip should be. Is it the current state, or is it what you will get if you click on it. Most of the time, it's the latter, but in this case the icon is not discriptive because all three states are the same :/

[2016-09-22 13:15] helenvholmes commented on #780
@jasonLaster: updated screenshots:

![screen shot 2016-09-22 at 9 14 27 am](https://cloud.githubusercontent.com/assets/1720093/18749471/00a7cdb8-80a5-11e6-9931-8ce52ba9389f.png)

Issue #791 has good suggestions for closing UX that I think we should use on these close buttons as well!

[2016-09-22 13:17] jasonLaster commented on #780
Thanks @helenvholmes. We can likely pull the close button out into it's own component so we can share it.

[2016-09-22 13:26] helenvholmes commented on #792
Note: James and I chatted this morning about the reference to the tabs being lost being problematic, so these desks will be changing under your feet, @wldcordeiro :(

Take this use case:

- searching for string "letters"
- you have three tabs open
- you want to search in the three tabs you have open, not across all files, for this string
- no easy way currently to swap between tabs—the tabs are go

[2016-09-22 13:27] helenvholmes commented on #780
A note that these designs might be changing:

Take this use case:

- searching for string "letters"
- you have three tabs open
- you want to search in the three tabs you have open, not across all files, for this string
- no easy way currently to swap between tabs—the tabs are gone!

In Sublime, you can alt+cmd and then use the directional keys to switch between files. We probably want to preserve

[2016-09-22 13:32] helenvholmes commented on #792
Updates on designs thus far (link in comment 2 will have the most up-to-date designs):

- Now has a close button
- Close button UX is address in issue #791
- Regarding the "1 of 7 results" string: It doesn't look fabulous over on the right hand side, but since I'm still figuring out how to maintain our tabs based on James' feedback I'm going to keep playing with this.

[2016-09-22 13:43] wldcordeiro commented on #792
@helenvholmes I hadn't started on it yet so no worries. 👍

[2016-09-22 19:52] #726 closed

[2016-09-22 20:06] #672 closed

[2016-09-22 20:06] #674 closed

[2016-09-22 20:06] #716 closed

[2016-09-22 20:32] jasonLaster opened #806 "Revamp Landing Page"
I'd like to take a stab at revamping the [old landing page](https://cloud.githubusercontent.com/assets/254562/18764292/b406445a-80de-11e6-8256-b84702bb25e1.png).

There are a couple goals:
* **Help new contributors initial experience**
  * The firefox cli command and about:config step can be confusing
  * The "first time" firefox page walks them through the steps.
* **Help Devs**
  * Remembering h

[2016-09-22 20:56] SezginEge commented on #680
Is there anyone working on this? If not, I can tackle it 👍

[2016-09-22 21:02] jasonLaster commented on #680
Hi @SezginEge, thanks. We would love the help. At this point, i'm not sure if we have a clear direction for how we want to handle it.

I would love to get your ideas here as it is a challenging problem.

[2016-09-22 21:42] SezginEge commented on #680
I think, we should use toggle button with different color variants. This is more visually descriptive single state button or contextual menu.

I also added some images about how different modern browsers implemented this button.

On firefox developer edition, you can toggle different states only with contextual menu and this is not visually descriptive.

![debugger-options](https://cloud.githubuse

[2016-09-22 21:47] jasonLaster commented on #680
Thanks for the research @SezginEge, this is great!

I think Chrome's is what we're looking for:
* tooltip - (first mention current state, then mention the next state)
* colors - both chrome and edge have consistent colors (blue for caught) (purple uncaught)

our colors are here [variables.css](https://github.com/devtools-html/debugger.html/blob/master/public/js/lib/themes/variables.css).

Would yo

[2016-09-22 21:49] jasonLaster commented on #680
@SezginEge nearly forgot to point you in the right direction - here's the exception [function](https://github.com/devtools-html/debugger.html/blob/master/public/js/components/RightSidebar.js#L143-L165). If you have any questions [getting started](https://github.com/devtools-html/debugger.html/blob/master/CONTRIBUTING.md), please stop by our IRC room. That's what we're here for.

[2016-09-22 21:55] SezginEge commented on #680
Thanks @jasonLaster! You can assign this issue to me. I will send pr as soon as possible.

[2016-09-22 22:28] wldcordeiro commented on #680
@SezginEge heh, I wish issue assignment to contributors was a thing but I think they'd need to create a user group and invite you to it. 😆

[2016-09-23 05:21] wldcordeiro commented on #781
@jasonLaster I was doing this but noticed I'm not really sure what the `client` option logs as I didn't see any additional output. Also could you explain what is in the `firefoxProxy` logging? From a glance it looks like a verbose output in the webpack console.

[2016-09-23 07:09] SezginEge commented on #680
@wldcordeiro Yes, you are right. I forgot that. 😖

[2016-09-23 09:01] gasolin commented on #800
As #716 mentioned, You can refer the gecko patch which use keyshort cut to catch Codemirror related shortcuts https://reviewboard.mozilla.org/r/80700/diff/2#index_header

[2016-09-23 13:17] #764 closed

[2016-09-23 13:19] jlongster commented on #806
Sounds good. One thing to keep in mind is that we want to pull the fake toolbox out into a separate project so the console and other tools can use it when developing locally. This could get too debugger specific (the console won't be able to target other servers yet). I think if we keep the designs simple enough it'll be easier to adapt across projects, and we also don't want to take on a project

[2016-09-23 13:20] jlongster commented on #806
Also, you don't need to go to `about:config`. Users just need to open the devtools and turn on "Enable browser chrome and addon debugging toolboxes" and "Enable remote debugging" in the Advanced Settings. That's a lot easier than `about:config`.

[2016-09-23 13:21] jlongster commented on #806
I'm a little hesitant to make it this complex. We'd basically be re-creating `about:debugging` at this point which is a pretty complex project. We're 2 people working on a full debugger and I'd rather spend our time on more important features.

[2016-09-23 15:35] jasonLaster commented on #806
Thanks for the feedback:

* I believe the can be pulled into an `RDP Client` project
* I'm hesitant to call it a toolbox as that implies the tool navigation aspect as well as the client connection. *overloaded words sigh*

* thanks for mentioning, I had not considered the overlap.
  * This will be important to consider if we consider connecting to service workers, i'm not sure if there's an RDP me

[2016-09-23 15:40] wldcordeiro commented on #806
I always thought this should be surfaced in Firefox proper, the prompt should have "don't ask me again checkbox"

[2016-09-23 15:41] clarkbw commented on #764
We should have something like this sentence in the docs as well.  The question has come up a couple of times.

[2016-09-23 15:43] wldcordeiro commented on #764
@clarkbw I'll open another little patch that clarifies this.

[2016-09-23 15:44] jlongster commented on #806
Yead, there's a bug to turn it off if when using `localhost`, which solves the issue. If you're talking about automatically starting with `npm run firefox` directly accessing the prefs makes sense, but for people who just want to make an existing running version of Firefox work opening the tools and clicking 2 checkboxes is pretty easy.

(didn't feel the need to respond to all your points, they ar

[2016-09-23 15:45] wldcordeiro opened #810 "Add contributor user groups"
It would be really nice if there was a contributor user group that we could be invited to that had permissions to be assigned issues, and maybe assign labels as well (or maybe multiple groups as "levels" with varying increasing permissions.) Offering to help on a issue is nice but then you have to manually remember the issue you were "assigned" rather than using Github's built-in filter by assignm

[2016-09-23 23:38] wldcordeiro commented on #791
Can be closed

[2016-09-24 13:57] #791 closed

[2016-09-24 14:06] clarkbw commented on #810
Really great idea, sorry I haven't done this before.  I needed to read up on how its done and now I think understand what we need to do.

As far as I can see there are only 3 sets of permissions.  Admin, Write, and Read.  Admin allows inviting people to teams, Write allows all write permissions to the repo (push, labels, issues, etc), and Read is used for private repos.  The Write permission seems

[2016-09-24 15:47] wldcordeiro commented on #810
I could have sworn the permissions were more granular. It had been a while since I looked at them on a repo.

[2016-09-24 15:58] clarkbw commented on #810
This is the recommended system for issues only access https://help.github.com/articles/issues-only-access-permissions/

[2016-09-24 18:40] wldcordeiro commented on #810
Seems like a complicated way of doing it. Hopefully Github adds more granularity at some point.

[2016-09-25 23:49] jbhoosreddy opened #817 "Adding a bot to the project"
Okay so, feel free to close this issue if it's not a good idea for this place but.

In @facebookincubator, they use a bot to ensure new contributors signed the CLA. It may also do other things. I saw this here: facebookincubator/create-react-app#754.

I saw some nice other examples but I didn't look too deep into it. But if this is something other people find interesting, I'd like to investigate i

[2016-09-25 23:53] wldcordeiro commented on #817
@jbhoosreddy I'd like it if we took this bot http://homu.io/ it's used by Rust/Servo if I recall and it's awesome! 😄

[2016-09-26 13:37] thesabbir opened #819 "Open dev server url in browser after npm start"
When webpack build finishes successfully for the first time. Dev server should open url in default/preferred browser. I can help with a PR.

[2016-09-26 13:49] wldcordeiro commented on #819
There is more to configure than just opening the page, so that may complicate some things. Also I would want this to be behind a preference in the local config.

[2016-09-26 16:57] jlongster commented on #819
I prefer not opening it automatically, it's more annoying than it's worth. I may stop the webpack build and restart it, but I already have the tab open, so it'll just open another one. It may open it in the wrong browser, etc etc.

Thanks for the idea. I think we can greatly improve the output of the dev server, as right now it's a wall of text and it also outputs the examples url which is really

[2016-09-26 16:57] #819 closed

[2016-09-26 17:24] wldcordeiro commented on #819
@jlongster I'm still holding out for `webpack-dashboard` 😄 Might take a stab at getting it working.

[2016-09-26 17:46] jlongster commented on #819
@wldcordeiro That would be really cool, definitely in favor of that.

[2016-09-26 19:51] jbhoosreddy commented on #819
@wldcordeiro that's so cool. I just learned about it now but seems amazing.

[2016-09-26 20:23] wldcordeiro commented on #819
@jbhoosreddy I started experimenting with implementing it for us but we have a more complicated setup so it will take a bit more effort.

[2016-09-26 20:31] jlongster commented on #680
Closed by #816

[2016-09-26 20:31] #680 closed

[2016-09-26 20:31] jlongster commented on #803
Closed by #816

[2016-09-26 20:31] #803 closed

[2016-09-26 21:34] SezginEge commented on #700
I have few opinions about that.

- Call stack looks huge and it takes up too much space. We may use same line-height and font-size as breakpoint items.
- List item borders could be great for differentiating items. 👍
- We can add hover effect for each section

If nobody on working on this, I can tackle it.

[2016-09-26 21:37] wldcordeiro commented on #700
Indeed, the padding there should be the same as the others.

I'd prefer zebra-striping for differentiating items.

Maybe? With the zebra striping it might not be needed? I'd have to see.

[2016-09-26 21:45] wldcordeiro commented on #700
I guess zebra striping is already present but very faint.

[2016-09-26 21:52] wldcordeiro commented on #700
Made the following changes and I think it's a huge improvement.

Changed this line https://github.com/devtools-html/debugger.html/blob/master/public/js/components/Frames.css#L10

[code]

and this line https://github.com/devtools-html/debugger.html/blob/master/public/js/components/Frames.css#L16

[code]

The results are much nicer already.

![screenshot_20160926_154939](https://cloud.githubusercont

[2016-09-26 21:59] wldcordeiro commented on #700
@SezginEge sorry about kind of stealing it from under you, I wanted to see how things would look and it was such a small change. I have a branch with the two changes applied I can open a PR from.

[2016-09-27 01:10] wldcordeiro opened #823 "Default SplitBox widths need adjusting"
Currently the two sidebars seem to take up more space than they used to. We likely need to adjust the min/max values in App.js as the editor should be about 66% of the full debugger at start.

![screenshot_20160926_190939](https://cloud.githubusercontent.com/assets/580982/18856945/ca16ce22-841c-11e6-889b-38d964300051.png)

[2016-09-27 01:46] clarkbw commented on #810
We can go ahead with this system for now.  I need to do more research into groups like Node who have a process for bringing contributors into teams but there's no need to block on that just yet.

[2016-09-27 01:47] wldcordeiro commented on #810
Are you referring to the additional repo method you linked or the debugger/debugger-core groups you mentioned?

[2016-09-27 02:31] clarkbw commented on #810
Sorry, I'm talking about the current method.

I believe we are interested in trying a separate issues repo for RFCs at some time but not quite yet.

[2016-09-27 03:26] wldcordeiro opened #825 "Fix SplitBox splitter width"
@captainbrosset had originally fixed this here https://github.com/devtools-html/debugger.html/pull/759 but when @jasonLaster pulled down the m-c changes we got reverted back to the `1px` wide bar that's hard to click.

[2016-09-27 03:35] #825 closed

[2016-09-27 03:36] wldcordeiro commented on #825
I restarted the dev server and refreshed and things were working as expected again. Closing.

[2016-09-27 07:01] SezginEge commented on #700
Np. Good work @wldcordeiro 👍

[2016-09-27 07:04] SezginEge commented on #804
@jasonLaster If nobody working on this, I can help with that. 👍

[2016-09-27 11:11] jharrowmortelliti opened #827 "npm install fails due to TypeError"
npm install:
[code]

Then npm start fails due to the same error.

[2016-09-27 12:57] wldcordeiro commented on #827
What version Node.js are you using?

[2016-09-27 13:50] wldcordeiro commented on #827
Bizarre, it seems to be a dependency failing or something. Searching online leads me mostly to results with `npm` being the problem. Did you run just a bare `npm install`? Or did you do it as `npm install -g`?

[2016-09-27 14:27] wldcordeiro commented on #804
@SezginEge go ahead, note that this hasn't been labeled with a difficulty yet (I don't have the best gauge for this task) so feel free to ask questions as needed.

[2016-09-27 14:28] #606 closed

[2016-09-27 14:40] jlongster commented on #804
This is actually pretty complicated because the accordion API doesn't have a way to "open" it except for clicking the header. You can specify if the pane should be open by default [here](https://github.com/jlongster/debugger.html/blob/master/public/js/components/RightSidebar.js#L192), but that's only for the initial rendering.

If you want to learn React, this will be good. You need to implement a

[2016-09-27 14:44] jlongster commented on #827
What version of `npm` are you using? I've seen the most issues with older npm versions.

This is due to the `geckodriver` dependency it seems.

[2016-09-27 14:52] SebastianZ opened #828 "Handle 'debugger' statements like breakpoints"
As mentioned in [comment 8 of Bugzilla bug 1300934](https://bugzilla.mozilla.org/show_bug.cgi?id=1300934#c8) `debugger` statements should be treated like normal breakpoints, i.e. they should be shown within the _Breakpoints_ panel and within the breakpoint column inside the source view.

Besides other advantages, this provides a consistent UI and allows to disable them individually.

Sebastian

PS

[2016-09-27 15:03] wldcordeiro commented on #828
I agree this would be a great feature to add, thanks for the suggestion.

This isn't that project and their issues aren't this project's issues.

[2016-09-27 15:07] jlongster commented on #828
Yeah, we should do something like this. Not sure what the UX is like yet. debugger statements are weird because everything is different about them: how to remove/disable/etc. When you remove a breakpoint, it does not come back on refresh, but a debugger statement would.

Anyway, yes, we want to figure this out but there's lots of UX and technical issues to figure out. We will need to add something

[2016-09-27 15:10] jlongster commented on #817
We've definitely thought about adding bots when we need something automated, but so far we haven't needed to automate anything quite yet. Things we should automate at some point: filing an issue if the bundle.js file in m-c is changed, opening a PR to update m-c deps every week, etc.

Any specific workflow you want automated?

[2016-09-27 15:10] jlongster commented on #810
I think this is done.

[2016-09-27 15:10] #810 closed

[2016-09-27 15:16] wldcordeiro commented on #817
I don't think a PR bot like homu/bors would be useful till the project grew in size in some really significant way. But I would like the automation of m-c issues and upstream PRs.

[2016-09-27 15:32] jlongster opened #829 "Move sourcemap parsing back into a worker"
We will probably hit this bottleneck sooner than I thought. asm.js and wasm scripts might have *huge* sourcemaps, so we should make sure we don't block the UI on it.

[2016-09-27 15:34] jlongster opened #830 "Fix pretty-printing after sourcemap refactor"
#807 changed a lot and pretty-printing doesn't fully work yet. Need to fix it up and we will enable it (as well as sourcemaps) on by default.

[2016-09-27 15:43] SebastianZ commented on #828
I know. Note that I am a former Firebug developer. I just mentioned it, because it contains some more useful information.

Because the code can't be changed by the debugger, debugger statement breakpoints wouldn't have an option to remove them.

Yes, for sure, UX will be hard to get right.

Sebastian

[2016-09-27 15:45] jlongster opened #831 "Generate a consistent display title for a given eval source"
We used to assign eval sources a URL of `SOURCE1`, which used an incrementing id. The problem is that it's not a valid URL, and it makes it harder to differentiate eval sources. It should be easy to check if `source.url` is null in many places to change behavior.

However, we do need a consistent way to display eval sources, namely a good "title". Wherever a location is displayed, like the source

[2016-09-27 15:51] wldcordeiro commented on #828
Thanks for the clarification @SebastianZ I think UX wise we'll definitely want to make it clear that a breakpoint set by a debugger statement is one and non-removable.

![screenshot_20160927_094937](https://cloud.githubusercontent.com/assets/580982/18881205/b93533ac-8497-11e6-9683-d6270ef40aa3.png)

Like having a `[debugger statement]` text added to the left of the breakpoint detail or something e

[2016-09-27 16:23] jlongster opened #832 "Use native prefs in the Firefox panel"
So far we have yet to hook up to the native prefs when in the panel. Even if we think it's not as important as before, I think we're going to want a pref to enable/disable sourcemaps, and it should definitely persist across sessions.

We may decide it's not a blocker. Regardless, we should do it soon.

[2016-09-27 16:26] wldcordeiro commented on #827
Output makes it look like `3.10.8`

[2016-09-27 16:30] clarkbw commented on #828
I did a little work on this previously in #422

[2016-09-27 16:42] clarkbw commented on #817
@jbhoosreddy MOAR BOTS! I'm all about automation.  If there's something you think a bot could help us with I'd love to take a look.

We don't require a CLA, but I like the idea of a "Welcome, I see its your first time here" kind of bot.

I also really like the facebook mention bot, we're not really big enough to require it.  However I think its interesting to ping the people who most recently work

[2016-09-27 16:42] clarkbw commented on #810
Yes, done.  I just need to follow up with some docs in a PR.

[2016-09-27 16:46] wldcordeiro commented on #817
If we added code coverage reporting I'd like a bot like coveralls, that'd be a nice one.

[2016-09-27 16:46] jbhoosreddy commented on #817
I think all these are great ideas. We're definitely not at a level to require a bot which would handle complex interactions with users. Also, it's a great idea to have bots automate m-c issues (in the future).

I was thinking of initially adding a **very** simple bot which might not do too much. But as the project requirements grew at some point, we could add functionality to handle more functiona

[2016-09-27 16:48] jbhoosreddy commented on #817
@clarkbw maybe a bot which would see new users filing issues and respond with a comment pointing them to docs if they were interested in fixing it?

[2016-09-27 17:42] #823 closed

[2016-09-27 17:44] jlongster commented on #667
Fixed by #807

[2016-09-27 17:44] #667 closed

[2016-09-27 17:46] #781 closed

[2016-09-27 17:46] jlongster commented on #647
We can't write mochitests for sourcemaps until we turn them on. I have written a mochitest for sourcemaps (which isn't running because in testing sourcemaps are disabled), but we will write more when we enable them, which I'm hoping is later this week.

I think it's OK to move this to the next sprint, as the above tests do handle a few cases we need to make sure to test.

[2016-09-27 17:48] jlongster commented on #671
This was fixed by #805

[2016-09-27 17:48] #671 closed

[2016-09-27 17:54] jlongster commented on #469
This works now from #807

<img width="781" alt="screen shot 2016-09-27 at 1 53 42 pm" src="https://cloud.githubusercontent.com/assets/17031/18885504/f217e5bc-84b9-11e6-9522-63b9925f7c65.png">

[2016-09-27 17:54] #469 closed

[2016-09-27 18:21] jlongster commented on #832
We'll add a "Debugger" section to the preferences panel to add a "Toggle Sourcemaps" option.

[2016-09-27 18:23] bgrins commented on #832
There's a shim that can be used for require("Services") that will give the same prefs API: https://dxr.mozilla.org/mozilla-central/source/devtools/client/shared/shim/Services.js

[2016-09-27 18:25] bgrins commented on #832
Note you will probably want to set `Services._defaultPrefsEnabled` to false so that it doesn't try to read the m-c pref files: https://dxr.mozilla.org/mozilla-central/source/devtools/client/shared/shim/Services.js#425

[2016-09-27 18:45] clarkbw commented on #832
Yep, something like this:

<img width="919" alt="screen shot 2016-09-27 at 11 45 06 am" src="https://cloud.githubusercontent.com/assets/2134/18887163/e3f874d6-84a7-11e6-90c9-a850d2781b3b.png">

[2016-09-27 20:04] SezginEge commented on #804
Thanks @wldcordeiro! I am appreciate your help.

Thanks for starting point @jlongster. I am starting working on this. 👍

[2016-09-27 22:21] jlongster opened #834 "Update debugger in nightly"
It's been too long since we've landed a debugger update. We should aim for Thursday. I'll take account of all the changes from the last update, paste them here, and do an audit. I'm unsure about sourcemaps, but I think if I'm able to make it respect the pref we're probably OK. At least that way people can turn it off. Code search is another big feature, so I need to check that out. I'm not sure th

[2016-09-27 22:23] jharrowmortelliti commented on #827
I am on archlinux.  Originally I did npm install.  I just tried npm install -g though, which seemed to work.
But then I run npm start and I get the same error.
[jake@localhost debugger.html]$ npm start

[code]

[2016-09-28 14:09] jlongster commented on #827
Unfortunately, this seems like a platform-specific bug in a dependency. Looks like it's coming from https://github.com/isaacs/node-graceful-fs.

I found the issue: https://github.com/isaacs/node-graceful-fs/issues/89

I have no idea which module is requiring this though :( I suppose you could try `npm install graceful-fs@4.1.8` and see if it'll upgrade it just for you. We're about to upgrade some

[2016-09-28 15:38] clarkbw opened #839 "Update dependencies"
In #835 greenkeeper tried to update all dependencies but we only want a subset of what was requested.  We have a [list of packages we want ignored](https://github.com/devtools-html/debugger.html/blob/master/package.json#L117-L124) but for some reason the first pull request doesn't abide by that list.

Can someone take a quick look through the changes for the packages that need updates.

* react-im

[2016-09-28 15:39] clarkbw commented on #839
Already done in #838! 😄

[2016-09-28 15:39] #839 closed

[2016-09-28 18:32] jlongster commented on #817
@jbhoosreddy I have a bot idea for you: make it watch files that we've copied from mozilla-central and when it sees changes automatically open a new PR with the new files copied over. That might be quite complex, not sure, but boy would that be helpful.

[2016-09-28 20:23] wldcordeiro commented on #827
Since this was an issue with `node-graceful-fs` and they've since release a fix, closing.

[2016-09-28 20:23] #827 closed

[2016-09-28 21:13] bgrins opened #840 "UI janks when a big scope is expanded"
STR:
1. Open `data:text/html,<script>debugger</script>`
2. Once it pauses, expand the `Window` scope
3. Click on the gutter to toggle a breakpoint at line 1

This leads for me to a pretty janky UI where the breakpoint doesn't get added or removed immediately

Also, in step 2 it takes quite a while to populate the scope and causes a brief hang

[2016-09-28 21:43] bgrins opened #841 "Shouldn't be able to select text in the tool 'chrome'"
If I do ctrl+a, or select the 'no breakpoints' / 'sources' / 'Want to find a file? (Cmd + P)' text in the UI it shouldn't select anything to match the rest of the browser chrome

[2016-09-28 23:50] jharrowmortelliti commented on #827
still not working though

[2016-09-28 23:56] wldcordeiro commented on #827
@jharrowmortelliti it isn't something we can do anything about though, the failure is in another package I'd take a look at the issue at `node-graceful-fs`'s repo and report there if the fix still isn't working.

[2016-09-29 05:13] jbhoosreddy commented on #817
this sounds like a fun (non-blocker) project! I'd love to do it!
I believe only files to track are the ones in public/js/lib/devtools @jlongster?

I'm actually making nice progress on this. If I come up with a good solution, we can look into review and deployment.

[2016-09-29 14:16] jlongster commented on #817
@jbhoosreddy That's so cool! Yep, all the ones in `public/js/lib/devtools`. You can look at `bin/import-deps.js` which is how we manually do it right now. #790 is already open for a latest update and needs some fixes, but we'll get it in soon.

[2016-09-29 14:41] jakehm opened #842 "'npm run firefox' throwing error on archlinux"
Running on archlinux.  'npm start' is working.

[code]

[2016-09-29 17:05] jlongster opened #844 "Code search already exists in the Firefox panel"
I don't know how we missed this, but the CodeMirror we use in the Firefox panel already has code search:

<img width="554" alt="de8a0e88-f7f8-4b99-9af3-f5cfd082316e" src="https://cloud.githubusercontent.com/assets/17031/18964022/2768407c-8645-11e6-9f23-fce3b18517a7.png">

Just press cmd+f to bring it up, and cmd+g and shift+cmd+g already work. It looks like the main problem is that the editor need

[2016-09-29 17:06] jlongster commented on #844
Brian and I talked this week about experimenting with moving our CodeMirror with all its set up to npm as a way to try to share modules better. This is a good reason to: we could pull down the same thing that the Firefox panel is using and get this locally too.

[2016-09-29 17:07] jlongster commented on #841
There are places we disable user selection, but I didn't think we wanted to disable it globally. I suppose I'm fine with it, hadn't really thought it through. Thanks!

[2016-09-29 17:09] jlongster commented on #840
It's common for the `window` scope to take a while to populate - it needs to send a ton of data across the RDP. But the rest of the UI should not be dependent on that, so it shouldn't be janky... thanks for filing.

[2016-09-29 17:11] jlongster commented on #842
We've seen a few people report issues from linux (I think specifically arch). I'm not sure what the problem is; I'm not very familiar with WebDriver. In the short term, it's not very hard to manually configure Firefox and tell it to listen on a debug port: https://github.com/devtools-html/debugger.html/blob/master/docs/remotely-debuggable-browsers.md#firefox

[2016-09-29 17:57] jlongster commented on #844
Well, I put this too simply. We're going to want to customize it to the debugger, so I don't know if there's a way to build on top of this current behavior or not. If not, I think it's still important to consider the builtin UX and copy it so it's at least the same feeling across tools.

[2016-09-29 22:21] clarkbw commented on #841
This looks like a pretty easily scoped project if anyone else wants to take it on.

I would take a look at where we are using strings and find a way to disable it in specific component classes, globally could be the answer but this feels like it should probably be on a component level so as not to mess with other things where selection should work.

Here's the CSS you'll need to make this happen.

[2016-09-29 22:47] wldcordeiro commented on #841
Could we enumerate some of the areas where we don't want selection? That would make this an easier task for a new contributor.

[2016-09-29 23:16] upsuper opened #848 "Remove -moz-use-text-color from debugger"
Gecko is removing `-moz-use-text-color` for color properties, as the standard `currentcolor` now serves the same behavior. The Gecko bug for removing that is [bug 1306214](https://bugzilla.mozilla.org/show_bug.cgi?id=1306214).

[2016-09-30 17:03] joewalker commented on #715
Do you think this fix has reached m-c yet? I just had a report that F11 was broken.

[2016-09-30 17:05] wldcordeiro commented on #841
* [ ] command bar
* [ ] source tabs
* [ ] sources header
* [ ] sources tree?
* [ ] right sidebar?

@jlongster @clarkbw feel free to add to the list.

[2016-09-30 17:07] wldcordeiro commented on #848
I only see this used in one place and that's a devtools-sham file here https://github.com/devtools-html/debugger.html/blob/master/public/js/lib/devtools-sham/sham/css-property-db.js

[2016-09-30 17:11] wldcordeiro commented on #676
The last time this was tested was prior to Honza's SplitBox being brought in, let's reevaluate now that it's in?

[2016-09-30 18:30] clarkbw commented on #848
That's a sham library and appears to be auto-generated... 🐹

[2016-09-30 21:18] jlongster commented on #848
Yeah, we probably should just update it from m-c after that bug lands. I'm not sure how much Xidorn cares that we actually remove every ref, but probably just letting us know. It's pretty harmless to keep it here too.

Let's just sync some of those files next week and we'll get the updates from m-c.

[2016-10-01 11:54] nt1m opened #852 "Add dir="" to the firefox panel HTML file"
The `<html>` tag should have dir="" so Firefox can automatically set dir="rtl" when needed (see https://bugzilla.mozilla.org/show_bug.cgi?id=1305007 ).

[2016-10-01 12:39] nt1m opened #853 "Suggestions for tab UX"
Suggestion 1: New tab page
It would be nice to make the search popup (Cmd+P), the equivalent of a new tab page. When you think of it, this makes sense, because a new tab page is supposed to be the starting point for that tab. Additionally, the new tab page could be the tab that's selected by default.
![debugger-new-tab](https://cloud.githubusercontent.com/assets/1795135/19014084/3720768c-87db-11e6

[2016-10-01 12:40] nt1m commented on #853
@helenvholmes @clarkbw @jlongster @jasonLaster Thoughts?

[2016-10-01 16:42] wldcordeiro commented on #853
@nt1m I find the tree much more useful than just the tabs. In editors like Sublime Text and Atom the tree is indispensable. I do how ever like the idea of an open files section with quick actions like you've suggested. Atom has something like that and it's quite nice as a separate section to the tree and top tabs.

[2016-10-01 16:54] wldcordeiro commented on #853
https://github.com/devtools-html/debugger.html/issues/780

There are plans in place for some UX improvements there. I do like the idea of making a new tab button that also brings up the file search dialog though as some people are much more mouse oriented than others.

[2016-10-01 17:33] wldcordeiro commented on #853
Marking as not actionable because there's discussion still going on about these various things across other issues too. Still think there's lots of good ideas here though. 😄

[2016-10-02 13:44] SezginEge opened #855 "Can not connect to any debuggable target and getting networkRequest is not function error"
When i try to connect any debuggable target, connection refuses and can not see any remote tabs. Also i am getting `networkRequest is not a function` error.

Operating System:
- Windows 10

Steps to reproduce:

- Open any command line tool
- Run `npm start`
- Open new tab or new window on command line tool and go chrome or firefox directory.
- Start chrome or firefox with remote debugging turned o

[2016-10-02 14:13] magicp-github opened #856 "Resize cursor and splitter position are shifted when the bookmarks sidebar is opened and dragging splitter"
Regression range:
https://hg.mozilla.org/integration/fx-team/pushloghtml?fromchange=500496dfefccc73d1f87ff912563a8ee1afe8e91&tochange=cdbfde37e79590e4c188ba854ab0b1612402e338

[2016-10-02 16:03] wldcordeiro commented on #855
Could you post more of the log? Are there any specific packages in the logs like express throwing the error or something? I'm thinking it is possible that Windows firewall might be blocking Node.js or something but I'd like to see some further logs because Google isn't returning much for the error message alone.

[2016-10-02 17:22] SezginEge commented on #855
I am getting `networkRequest is not a function` error on this line: https://github.com/devtools-html/debugger.html/blob/master/public/js/clients/chrome.js#L46

I checked firewall settings for nodejs and everything looks okay. :+1:

These are console log screenshots from chrome and firefox:

![chrome-err](https://cloud.githubusercontent.com/assets/6282991/19022299/f22e2836-88dd-11e6-992e-df232caefb

[2016-10-02 18:59] wldcordeiro commented on #855
Hmm it appears `networkRequest` wraps the `fetch` API which is behind a pref in some versions of Firefox/Chrome. @jlongster seems you last touched the implementation too so I'll leave this to you for further investigation.

https://developer.mozilla.org/en-US/docs/Web/API/Fetch_API/Using_Fetch#Browser_compatibility

[2016-10-02 19:07] wldcordeiro commented on #856
Since the SplitBox comes from m-c could it be a fix applied upstream @jlongster @jasonLaster? Or maybe our usage of it is wrong.

[2016-10-02 20:22] wldcordeiro commented on #855
Hmm, seems like the require call for `networkRequest` is using the destructured import

`const { networkRequest } = require("../utils/networkRequest");`

However, the file it points to exports the whole function as it's `module.exports` so it would seem that the change needed would be `const networkRequest = require("../utils/networkRequest");` that however has another error of its own.

[2016-10-02 20:31] wldcordeiro commented on #855
@SezginEge try that modification here https://github.com/devtools-html/debugger.html/blob/master/public/js/clients/chrome.js#L7 and see if the error persists. I have a branch ready for a PR if that's the case.

[2016-10-03 07:21] SezginEge commented on #855
Fixed :+1: Thank you for help.

[2016-10-03 10:23] jasonLaster commented on #855
Thanks @SezginEge and @wldcordeiro for getting to the bottom of this.

[2016-10-03 10:23] #855 closed

[2016-10-03 12:39] jasonLaster commented on #841
@clarkbw do you think we could just use the `user-select` property? https://developer.mozilla.org/en-US/docs/Web/CSS/user-select

[2016-10-03 13:46] jasonLaster opened #858 "Splitter - right sidebar width shrinks when the window height increases"
![](http://g.recordit.co/2dVm0Uc8dH.gif)

[2016-10-03 13:56] wldcordeiro commented on #858
The unit used was `vh` shouldn't we be using the `vw` unit on the SplitBox's width? https://github.com/devtools-html/debugger.html/blob/master/public/js/components/App.js#L138 That may be the cause of this @jasonLaster

[2016-10-03 14:27] jlongster commented on #853
I agree that we don't need to put the actions there. As a regular debugger user, it just doesn't help. Eventually we'll have a context menu so you right-click the files and probably do thing like that in the rare case, but it's not worth having dedicated UI right there.

The source tree is a *huge* usability improvement, there's no question in my mind about that. I suspect you may not use the debu

[2016-10-03 17:15] jasonLaster opened #862 "Scopes - showing an element"
It looks like we need to populate the element properties like what we do with other special properties as well:

#### Screens
**new debugger**
![screen shot 2016-10-03 at 1 17 11 pm](https://cloud.githubusercontent.com/assets/254562/19046460/7d028726-896b-11e6-811a-e1806afdd911.png)

**old debugger**
![screen shot 2016-10-03 at 1 15 15 pm](https://cloud.githubusercontent.com/assets/254562/19046407

[2016-10-03 17:16] clarkbw commented on #853
I'm not sure about the new tab page part, but I do agree that having a create a button / icon to call up the search could be good for people who don't use the debugger enough to know the key combo.  We did put the key combo suggestion in the sources view, but I do think many people won't find that as much as a search button.

[2016-10-03 17:18] wldcordeiro commented on #853
@clarkbw plus there's the segment of users that even with keyboard shortcuts available, prefer to use their mouse. I'll open an issue for adding the plus button/show search button and I can probably knock that out today if we're all in agreement that it's a nice addition. @jlongster @jasonLaster

[2016-10-03 17:19] clarkbw commented on #841
@jasonLaster yes, I believe that's all we need to do.  I think the list @wldcordeiro has looks good.  Mostly labels and other text needs this and a global setting could prevent people from copying certain object attributes / values we might want to allow.

[2016-10-03 17:21] clarkbw commented on #853
We should get @helenvholmes to think this over as there are some larger cross-tool design aspects to this that we need to think about.

[2016-10-03 17:22] #852 closed

[2016-10-03 17:24] clarkbw commented on #377
@jasonLaster I believe this issue has gone stale with recent work and the new landing page. amirite?

[2016-10-03 17:24] wldcordeiro commented on #853
@clarkbw sounds good. 👍 Add a comment to #338 detailing the suggestion since that seems to be the home for that.

[2016-10-03 17:28] clarkbw commented on #743
@jbhoosreddy how's it going?  Anything questions?

[2016-10-03 17:30] clarkbw commented on #780
@akashmohapatra how's it going?  Any questions so far?

[2016-10-03 17:32] wldcordeiro commented on #780
@clarkbw was this actually actionable? @helenvholmes last comment made it seem like this and #792 needed some additional fleshing out.

[2016-10-03 17:34] clarkbw commented on #800
@AndrewPomorski how's it going?  Any questions?

[2016-10-03 17:35] wldcordeiro commented on #524
Bumping with status update, had been distracted with some other issues that had come up. Been working on this today and should have a PR in today or tomorrow.

[2016-10-03 17:49] jasonLaster commented on #377
Should be done actually
On Mon, Oct 3, 2016 at 1:24 PM Bryan Clark <notifications@github.com> wrote:

[2016-10-03 17:51] clarkbw commented on #377
Closing

[2016-10-03 17:51] #377 closed

[2016-10-03 19:11] SezginEge opened #863 "Scopes always unavailable"
Operating System: Windows 10
Nodejs Version: v6.5.0
Npm: v3.10.8

I can not see any item on scope whenever i set breakpoint. :confused: If i set breakpoint on the same line on chrome, i can see local, global and closure scope.

![scope](https://cloud.githubusercontent.com/assets/6282991/19049975/40d17e7a-89b5-11e6-899e-5e1cda9b3349.PNG)

I did not get any error or something else. Do you have any i

[2016-10-03 19:20] jasonLaster commented on #863
Hi @SezginEge, we haven't implemented scopes for chrome yet.

We have a small [note](https://github.com/devtools-html/debugger.html/blob/master/CONTRIBUTING.md#chrome) here, but it is easy to miss.

[2016-10-03 19:20] #863 closed

[2016-10-03 19:31] SezginEge commented on #863
@jasonLaster Thank you! :+1:

[2016-10-03 20:40] jasonLaster commented on #583
ping @jbhoosreddy are you still interested in taking a stab at this?

@jlongster I forgot if we've settled on a good approach for this

[2016-10-03 20:40] jasonLaster commented on #582
ping @clarkbw are you interested in taking a stab at this soon?

[2016-10-03 20:41] jasonLaster commented on #534
@jlongster I know you made some progress on this issue a couple of weeks ago. Where does this stand now?

[2016-10-04 02:46] karlcow opened #864 "Files list (left panel) can't be scrolled with a long list of files."
STR:
1. With a clean profile of Firefox Nightly 52.0a1 (2016-10-03) (64-bit)
2. Enter a URL with a lot of JS, for example https://www.nitori-net.jp/store/ja/ec/7514915
3. Open debugger panel
4. Put your cursor above the left side aka [Sources] (with two fingers try to scroll up and down).

Expected: List of files is scrolling
Actual: files list is fixed, files out of sight can't be reached (except

[2016-10-04 02:58] wldcordeiro commented on #864
@karlcow thanks for this issue, I've found the cause of this and will be putting a PR in with a fix. Nightly will likely remain broken however for a week or so to wait for some other changes.

[2016-10-04 10:04] juliandescottes commented on #852
As I said in https://bugzilla.mozilla.org/show_bug.cgi?id=1307250#c3 , the new debugger does not seem ready to support RTL in its current state.

![image](https://cloud.githubusercontent.com/assets/1141550/19070242/98ed3b2e-8a2a-11e6-9236-8b8430cbb2c2.png)

[2016-10-04 11:29] magicp-github opened #866 ""Ctrl+P" does not work at "about:home" with error "TypeError: str is null" in Console"
**STR:**
1. Start Nightly (Build 20161003030438)
2. Go to about:home
3. Open DevTools > Debugger
4. Open Searchbox (Ctrl+P)

In step 4, dubugger does not response and the following errors occur in Console.  But in other sites, it works well.

`"TypeError: str is null: endTruncateStr@resource://devtools/client/debugger/new/bundle.js:20766:1
getSourcePath@resource://devtools/client/debugger/new/bund

[2016-10-04 13:00] jasonLaster commented on #866
Thanks @magicp-github for the report.

Also, I'm glad you found our github issue tracker. One concern that we had about developing in github was that it would be harder for community members to file issues.

[2016-10-04 13:29] jasonLaster commented on #866
Just looked into it, and found that the issue is with the source:
`{ id: "server1.conn1.child1/31", url: "about:home", isPrettyPrinted: false, sourceMapURL: null }`

we call `endTruncateStr(null, 50);` here https://github.com/devtools-html/debugger.html/blob/master/public/js/components/App.js#L36

[2016-10-04 13:55] jasonLaster commented on #852
Hey @SezginEge, would you be interested in polishing our RTL mode? I'm asking because I noticed you're in Turkey and might have more insights here:

- code is displayed in RTL (should keep LTR)
- source tree is not properly indented
- arrows are in the wrong direction
- icons are overlapping

[2016-10-04 13:56] jasonLaster opened #867 "Polish RTL mode"
We recently added basic RTL support with an html *dir* tag, but the UI is still pretty busted in this state.

Here's what it looks like:

![](https://cloud.githubusercontent.com/assets/1141550/19070242/98ed3b2e-8a2a-11e6-9236-8b8430cbb2c2.png)

It would be great if someone wanted to help us clean up the UI in this mode. Here are some actionable fixes:

- code is displayed in RTL (should keep LTR)

[2016-10-04 14:07] jasonLaster opened #868 "Landing Page - handle connected states"
It would be nice if we better handled a couple of landing page states:
- _disconnected_ - show a message that communicates the browser is not connected and helps the user connect.
- _connected_ - show a connected indicator in the left sidebar so it's clear a browser is connected
- _connecting_ - we used to flash a not connected message while the connection was being established, we can avoid doing

[2016-10-04 14:09] jasonLaster opened #869 "Search - disable editor cmd-f shortcut"
The firefox panel editor currently shows the default code search UI for cmd-f. We should disable it like we do in the old debugger [here](https://dxr.mozilla.org/mozilla-central/source/devtools/client/debugger/debugger-view.js#286-290).

----

Note, we had previously discussed pulling in the codemirror.bundle and building on top of this UX for the new debugger, but after investigating it looks lik

[2016-10-04 14:38] jasonLaster commented on #844
Closing in favor of #870

[2016-10-04 14:38] #844 closed

[2016-10-04 15:00] clarkbw opened #871 "improve breakpoint highlight"
#698 updated the breakpoint list but the highlight color needs to be improved.  Right now it looks like a unfocused selection kind of highlight instead of an active indicator.  Need help from @helenvholmes here.

![screen shot 2016-10-04 at 7 55 38 am](https://cloud.githubusercontent.com/assets/2134/19079465/91229bb8-8a08-11e6-9641-9db5f17bf28c.png)

[2016-10-04 15:09] clarkbw commented on #867
RTL mode can be accessed for Firefox via CSS, see the [old debugger.css](https://dxr.mozilla.org/mozilla-central/source/devtools/client/themes/debugger.css#203)

It uses the following:
[code]

[2016-10-04 15:13] clarkbw opened #873 "paused indicator line in editor isn't respecting editor state"
![pause line issue](https://cloud.githubusercontent.com/assets/2134/19079970/571716e0-8a0a-11e6-9bb9-783484085abb.gif)

When I paused in the editor and then looked at other sources the pause line remained.  Further, when you continue or step the original pause line remains and a new one is drawn. 😞

[2016-10-04 15:16] clarkbw commented on #582
Yeah, I've been meaning to get back to this.  Thanks for the reminder!

[2016-10-04 15:22] magicp-github commented on #852
And also...
- Tab close button position is reversed
- magnifying-glass and the close button are wrong place in search-container

[2016-10-04 15:32] jasonLaster commented on #840
Here is a [timeline](https://chromedevtools.github.io/timeline-viewer/?loadTimelineFromURL=https://gist.githubusercontent.com/jasonLaster/ba5f06bc2a6e0abd1e34888dd9f791c1/raw/21061cbfca8bacd3b1d75514a85bafb0255beaaa/-) view for expanding the scope.

I didn't experience much jank clicking on the gutter. Did you try adding a breakpoint before or after expanding the scope?

[2016-10-04 15:33] jasonLaster opened #875 "The breakpoint gutter does not line up with the editor line"
Here's a good screenshot that illustrates where the gutter is slightly shorter than the line.

![screen shot 2016-10-04 at 11 33 32 am](https://cloud.githubusercontent.com/assets/254562/19080806/46041184-8a26-11e6-8a40-b4b7f2a1e1f1.png)

[2016-10-04 15:34] jlongster commented on #866
That would just show `null` in the results though. You want to gracefully handle errors when parsing the url, because it might not be a valid URL. Just fallback to the raw URL if it doesn't parse.

[2016-10-04 15:38] jlongster commented on #534
I don't think I worked on anything related to this. We've talked about having an overlay on the page when the debugger is paused which we should do. Makes it clear that it's paused. For the debugger UI itself I think it's fine the way it is.

[2016-10-04 15:44] jlongster commented on #583
Can't remember exactly either. The difficulty is a tab is currently tied to a sourceId, but we don't have the new source's sourceId's when the NAVIGATION action is resetting the state. Need to give tabs the ability to just be tied to a URL as well, and if it has just a URL it resolves it first when clicked.

[2016-10-04 15:44] jlongster commented on #583
There are UX issues too: what happens if that source doesn't exist anymore, etc

[2016-10-04 18:14] #834 closed

[2016-10-04 19:11] nt1m commented on #867
@clarkbw, actually, since the new debugger uses HTML, you have to use :dir instead of :-moz-locale-dir

[2016-10-04 19:30] clarkbw commented on #867
oh right!  de-XUL my brain!

[2016-10-04 21:12] monicau commented on #875
Hi Jason, I don't see any "first-timers-only" issues open at the moment. Can I grab this one?

[2016-10-04 21:16] wldcordeiro commented on #875
@monicau Feel free to jump on this, the `difficulty: easy` tag generally means it is safe for first-timers as well. Feel free to ask any questions.

[2016-10-04 21:43] jlongster commented on #875
Can't repro. When filing bugs, please state which browser and version you are using.

<img width="606" alt="screen shot 2016-10-04 at 5 43 11 pm" src="https://cloud.githubusercontent.com/assets/17031/19093688/1adcde26-8a5a-11e6-9ef2-77d10d163eab.png">

[2016-10-04 21:58] jasonLaster commented on #875
Thanks @monicau.

Sorry @jlongster, I saw this in Chrome.

[2016-10-04 22:29] clarkbw opened #877 "adjust the docs to suggest 'up for grabs' instead of 'first timers only'"
As pointed out by @wldcordeiro in https://github.com/devtools-html/debugger.html/issues/875#issuecomment-251516229 perhaps we should move from the `first-timers-only` label to the combination of `up for grabs`and `difficulty easy`.   So far I don't believe we've assigned any issues to `first-timers-only` so it might not be working for us; we can always bring it back again later if it makes sense.

[2016-10-04 23:14] jasonLaster opened #880 "Persist pause on exceptions state"
The pause on exceptions button helps users pause the debugger when an exception in thrown in their app. The button has three states for a) not pausing on exceptions, b) pausing on all exceptions, c) pausing on caught exceptions.

We should have a user preference so that the button state is persisted when the debugger is refreshed. This pref will let users:
1. say they want to pause on exceptions
2

[2016-10-05 00:00] jasonLaster opened #881 "Landing Page - Add a Settings Panel"
It would be nice to have a settings panel for setting Debugger preferences and config values. There are a couple of cool wins:
- global prefs like `devtools.debugger.source-maps-enabled` can be set
- it'll be easier for developers to get setup.
- it'll be easier to surface experimental features and logging preferences

It's very similar to Atom and NPM.

Here is a branch [settings-panel](https://g

[2016-10-05 00:09] jasonLaster commented on #877
Thanks @clarkbw. I've been thinking about this as well. I personally feel like "up for grabs" is more friendly and contributors can grab what they're excited about.

[2016-10-05 09:40] andreicristianpetcu commented on #800
I like the current Firefox DevTools search. It is more like filter than search. Besides highlighting the current matches, it filters out lines not matching and with the Up/Down arrows you jump between matches.

[2016-10-05 12:47] jasonLaster opened #883 "Reps - The event rep is bolded"
We should unbold the event rep in the scopes pane. This is likely a change to the M-C Event Rep, so this issue is mostly investigating what the patch would be and then talking with @linclark or @honza about an appropriate fix.

![](https://cloud.githubusercontent.com/assets/1720093/19089768/bc03f89a-8a49-11e6-95b4-fe3c640cd8de.png)

[2016-10-05 13:04] jasonLaster opened #884 "Reps - window should be formatted differently"
We currently format the Window object with the debuggee URL. This is not that helpful.

**Two rules:**

1. if a variable references the window the value should be `Window`
2. if the scope is window, the label should be `Window` or `Global`. I like global because it is what is most commonly used.

![screen shot 2016-10-05 at 9 01 47 am](https://cloud.githubusercontent.com/assets/254562/19114067/62c

[2016-10-05 13:39] jasonLaster commented on #883
This is fixed in the new Reps, which will be updated here: #790

[2016-10-05 13:39] #883 closed

[2016-10-05 14:43] jasonLaster commented on #867
Hey @amitzur would you be interested in taking a stab at this?

[2016-10-05 15:50] #869 closed

[2016-10-05 17:44] amitzur commented on #867
I would gladly, however how important is this? Don't most if not all devs debugging JS use the english version? Or at least RTL devs?
This is mainly targeted for the debugger being embedded in devtools, right?
In addition, I took a screenshot of hebrew firefox's devtools. The strings are also in hebrew. Do you think we should work on that as well?
<img width="1280" alt="screen shot 2016-10-05 at 2

[2016-10-05 18:04] jasonLaster commented on #867
Hi @amitzur, thanks for the hebrew screen :)

We've gone back and forth on how important internationalization is because many devs work in english. The conclusion we've landed on is that it *is* nice to support basic rtl and translated strings. We will be looking into adding translations soon :)

Would love your help  on adding basic RTL.

[2016-10-05 18:07] amitzur commented on #867
I got it then :)

[2016-10-05 18:27] monicau commented on #875
I modified the CSS to fix the gutter height, I also realigned the breakpoint svg arrow which also wasn't the same height as the line number highlighting.  When doing the unit tests, there were some warnings.  Is it something on my end?
![debuggerunittestresult](https://cloud.githubusercontent.com/assets/2848472/19125905/cd06108e-8b06-11e6-9f25-0abbfd972648.jpg)

[2016-10-05 18:32] wldcordeiro commented on #875
@monicau Those aren't caused by you, they're appearing currently in master. 👍

[2016-10-05 18:47] monicau commented on #875
Thanks, that makes sense!  I created a pull request.

[2016-10-05 19:21] jasonLaster opened #886 "Testing - fix unit test warnings"
We should clean up the unit test output, which can be confusing.

![](https://cloud.githubusercontent.com/assets/2848472/19125905/cd06108e-8b06-11e6-9f25-0abbfd972648.jpg)

[2016-10-05 19:21] jasonLaster commented on #875
Thanks @monicau. I just created an issue for cleaning this up :)

https://github.com/devtools-html/debugger.html/issues/886

[2016-10-06 01:18] jasonLaster opened #887 "`npm run firefox` is not starting firefox with --start-debugger-server"
When we upgraded selenium + geckodriver, we stopped passing _--start-debugger-server_ into the firefox command.

I created this issue with `geckodriver` to follow up earlier today and will look into it tomorrow https://github.com/mozilla/geckodriver/issues/260. The solution should be a fairly simple api change.

[2016-10-06 01:29] jasonLaster commented on #877
Going through the labels I noticed that "Bug" and "Regression" are very similar and Bug is used more often. I propose we migrate Regression over to Bug. @jlongster, @clarkbw thoughts?

[2016-10-06 01:34] jasonLaster commented on #446
We talked in #879 about revisiting the config system now that we're including Prefs. I propose we start the conversation here, but if the work is very different we close this ticket and open a new one.

[2016-10-06 01:36] jasonLaster commented on #371
I'm closing this issue as we're not planning on working on it in the next couple of sprints. We can re-open it or reference it when we do as the overview is helpful.

[2016-10-06 01:36] #371 closed

[2016-10-06 01:40] jasonLaster commented on #625
Adding this to the sprint as it's very small and we should prioritize staying in sync with m-c.

[2016-10-06 01:42] #806 closed

[2016-10-06 01:47] jasonLaster commented on #417
This is now actionable now that we have Honza's new splitter.

@helenvholmes I'm re-assigning you so that we can have designs to go off of. I think Chrome's design is a safe default as we want things to be familiar to chrome devs. With that said, we should do the work to have an opinion on the portrait layout. We might want to talk about this in Toronto as we'll be in one place as well.

[2016-10-06 02:33] jbhoosreddy commented on #743
I don't think I found out a nice way to resolve this. So I'm dropping this if someone wants to pick it up again.

[2016-10-06 04:49] clarkbw commented on #877
Sounds good to me.

[2016-10-06 12:25] #858 closed

[2016-10-06 12:25] jasonLaster commented on #858
Finished in #859

[2016-10-06 12:55] gregtatum commented on #743
I'll take a look.

[2016-10-06 12:56] jasonLaster commented on #877
updated

On Thu, Oct 6, 2016 at 12:49 AM Bryan Clark <notifications@github.com>
wrote:

[2016-10-06 13:39] nt1m opened #890 "Backport SVGs from MC"
They use standard dimensions, are pixel-snapped, and they are optimized.
devtools/client/themes/images/search.svg
devtools/client/themes/images/debugger-*.svg
devtools/client/themes/images/filetypes/globe.svg

[2016-10-06 13:44] jasonLaster commented on #446
https://github.com/devtools-html/debugger.html/pull/879#discussion_r82065993

[2016-10-06 14:31] jasonLaster commented on #890
Thanks @nt1m

[2016-10-06 15:18] jasonLaster opened #891 "Editor - the footer overlays the editor"
The footer is overlaying the bottom of the footer. The fix is likely to position the footer relative to the editor.

Note, i think that I positioned it absolutely initially because the footer was sometimes hidden...

![screen shot 2016-10-06 at 11 19 51 am](https://cloud.githubusercontent.com/assets/254562/19158397/86f7c30c-8bb6-11e6-87f9-09284f4eb842.png)

[2016-10-06 15:20] wldcordeiro commented on #891
Footer overlays footer eh? 😆 I'd like to take a look at the layout of the center pane and get an idea of what the main arrangement is and take a stab at refactoring it to be flexbox based. 😄

[2016-10-06 15:31] jasonLaster commented on #891
@wldcordeiro that would be great. You're the grid + jss guy, so it makes sense.

I remember last time the issue was:
* codemirror has some flexbox bugs and does not expand if it's a child... (maybe)
* chrome is different than firefox... so this is one of those issues where it's important to check both browsers

fixes:
* Flexbox: 0 for the bar + footer could be good
* also position relative with a

[2016-10-06 16:05] jasonLaster commented on #864
Fixed in #865

[2016-10-06 16:05] #864 closed

[2016-10-06 16:06] jlongster commented on #873
This was introduced when we started using CodeMirror's documents because they keep track of line classes and our current logic for clearing them doesn't properly clear them on the previous document.

I saw this as well a little while ago and could have sworn I had a fix... but I don't know what happened. Sorry, I'll take this and make sure it gets fixed.

[2016-10-06 16:50] jasonLaster commented on #700
Handled in #876

[2016-10-06 16:50] #700 closed

[2016-10-06 18:01] wldcordeiro commented on #841
I'm getting this done right now. PR should be open shortly.

[2016-10-06 20:04] jasonLaster opened #894 "Call Frames Grouping"
It would be interesting to explore grouping call stack frames. This [doc](https://docs.google.com/drawings/d/14G43bJ69WdE22nmWj5GrpZczXCPVQVaefotfTTlt_Jg/edit) outlines some of the thoughts.

![screen shot 2016-10-06 at 4 07 10 pm](https://cloud.githubusercontent.com/assets/254562/19168556/9d12176e-8bde-11e6-89c6-ddeea466a07c.png)

[2016-10-06 21:19] #743 closed

[2016-10-06 21:22] #841 closed

[2016-10-07 15:48] jasonLaster opened #899 "De-Sham client/shared/main"
We should be able to copy client/shared/main.js

We should also apply our one local change:

----
#577 updated how client/shared/main handled connecting.

https://github.com/clarkbw/debugger.html/blob/6128173e432233b709a321d49fa966debcf7d21d/public/js/lib/devtools-sham/shared/client/main.js

Lets apply those changes in m-c as well.

[2016-10-07 15:48] #625 closed

[2016-10-07 15:48] jasonLaster commented on #625
closing in favor of #899

[2016-10-07 19:01] jlongster commented on #829
Done in #851

[2016-10-07 19:01] #829 closed

[2016-10-08 18:18] wldcordeiro commented on #877
I had added "Regression" as it is a specific class of bug, but if it isn't used much we don't have much use for it. I just tend to think of the two differently when labeling issues, bug is the general case and includes new bugs, regressions and more. Regression was meant for when we specifically undid something that was working before. Just figured I'd explain the rationale behind its addition. St

[2016-10-09 19:21] Zacqary opened #906 "`npm run firefox` does not set debugger server"
Running `npm run firefox` launches the browser, but the debugger at `localhost:8000` doesn't seem to know it exists. The command errors out, so I think that might be the reason.

[code]

[2016-10-09 20:09] Zacqary commented on #906
Update: it's working now. I use Firefox Dev Edition for my normal browsing, and the version of vanilla Firefox that I had installed was still at version 41. Updating that seems to have fixed it.

[2016-10-09 20:11] Zacqary commented on #906
Actually, no, false alarm. Firefox opens the TodoMVC example the way that the debugging version of Chrome does, but it's still not available on `localhost:8000` after I restart the debugger server.

[2016-10-09 20:29] wldcordeiro commented on #906
The listen port likely isn't getting configured automatically. Try `shift+f2` and type `listen 6080` and see if it works

[2016-10-10 02:07] Zacqary commented on #906
`shift+f2` doesn't seem to be doing anything, but I am getting this from the debug server log:
[code]

[2016-10-10 02:35] wldcordeiro commented on #906
Odd shift+f2 is the devtools cli. Maybe you can open it from the tool button?

[2016-10-10 02:43] wldcordeiro commented on #906
@Zacqary should look like this at the bottom of the browser (I typed in the command.)
![screenshot_20161009_204316](https://cloud.githubusercontent.com/assets/580982/19225883/0eaf2644-8e61-11e6-8e16-3c4234951c63.png)

[2016-10-10 02:54] wldcordeiro commented on #906
@jasonLaster or @jlongster could you get some additional input here? I don't use this way of running Firefox because I only have m-c and run it as my daily driver 😄

[2016-10-10 03:04] wldcordeiro commented on #780
I'm going to take this and apply some of the fixes listed here. They might not be exactly what we want but they're improvements.

[2016-10-10 03:05] wldcordeiro commented on #792
Since @jasonLaster made a PR that was merged for these changes, I'm going to close the issue. We can reopen if there is more work to be done.

[2016-10-10 03:05] #792 closed

[2016-10-10 03:09] Zacqary commented on #906
Oh. `shift+f2` in the browser, not the terminal. Duh.

`listen 6080` does the trick! Still not sure why it's not automatically doing that on launch, though.

[2016-10-10 03:09] wldcordeiro commented on #426
@jasonLaster since we brought in the `SplitBox` from m-c and I had done this before, could I take another stab at it? Not sure what we decided as far as whether this is actionable or not. I'd really like to get collapsible sidebars in. 👍

[2016-10-10 03:10] jasonLaster commented on #906
Sure. I believe there is an open issue fire Firefox driver leaving out
start debugger server.

At the moment you need to use the CLI option or shift f2.
On Sun, Oct 9, 2016 at 10:54 PM Wellington Cordeiro <
notifications@github.com> wrote:

[2016-10-10 03:12] jasonLaster commented on #426
Hi Wellington, sure. We can likely use the toggle function in m-c. The
inspector does this, so we can likely do something similar.
On Sun, Oct 9, 2016 at 11:09 PM Wellington Cordeiro <
notifications@github.com> wrote:

[2016-10-10 03:12] jasonLaster commented on #780
Thanks! Sounds good
On Sun, Oct 9, 2016 at 11:04 PM Wellington Cordeiro <
notifications@github.com> wrote:

[2016-10-10 03:27] wldcordeiro commented on #426
@jasonLaster I'll take a look at how they're doing that. I want to avoid modifying splitbox if needs be. 👍

[2016-10-10 13:07] jasonLaster commented on #426
The inspector link from above broke, here's a [new](https://dxr.mozilla.org/mozilla-central/source/devtools/client/inspector/inspector.js#1380-1411) one. The [togglePane](https://dxr.mozilla.org/mozilla-central/source/devtools/client/shared/widgets/view-helpers.js#243) animation looks pretty good as well.

We'll likely want to use splitbox state to keep the width/height instead of setting dom attr

[2016-10-10 13:28] jasonLaster commented on #871
Re-opening this issue to discuss a couple tweaks to @Zacqary's improvement.

1. Invert the text

![](https://d17oy1vhnax1f7.cloudfront.net/items/093Y280x3x2U1g0K2X1v/Screen%20Shot%202016-10-10%20at%209.22.32%20AM.hicB.png)

2. De-emphasize the paused-on-line indicator

This is a quick sketch where there is a slight indicator that highlights the breakpoint in a less dramatic fashion.
![](https://d1

[2016-10-10 15:53] Zacqary commented on #871
I think I like the less dramatic callout. The call stack probably needs the loudness of a full background color more than the breakpoint list does.

Can probably implement that one with a `::before` element; I doubt just using a `border` or `outline` would get it to line up the way it does in the sketch.

[2016-10-10 16:04] wldcordeiro commented on #871
`:before` pseudo element would be preferred in my opinion. Probably easier to do line-up.

[2016-10-10 18:10] wldcordeiro commented on #871
Closing once again. Merged with @jasonLaster's great design suggestion. 😄 Thanks @Zacqary for the PRs and working through the process.

[2016-10-10 18:10] #871 closed

[2016-10-10 19:33] wldcordeiro commented on #524
A slightly more complicated change than I had anticipated as there are several levels of components interacting here. I'm relabeling to signal this and in the event I burn out on the issue I'll remove my assignment and others will know. 😄

[2016-10-10 19:48] jryans opened #914 "`TypeError: shortcuts is undefined` during Talos test"
In a Gecko checkout, run the DevTools DAMP Talos test, using something like:

[code]

During the test run, you should get the following error from the new debugger panel:

[code]

I saw this error several times for different components each time, once for `RightSidebar` and once for `SourceFooter`.

[2016-10-11 03:20] jbhoosreddy opened #916 "Watch Expressions"
Tracking ticket for watch expression

Tasks:
- [x] Polish UI #1599
  - [x] Prevent duplicate expressions
  - [x] Fix editing expressions
  - [x] Re-evaluate on resume
  - [x] cursor on input should be "text"
  - [x] close button is off
  - [x] expressions should not expand by default
  - [x] re-evaluate when a frame is selected
  - [x] can't remove last expression
- [x] UI wonkiness #1610
- [x] ed

[2016-10-11 12:25] jasonLaster commented on #916
@jbhoosreddy two things:
- i've noticed that the values might not be computing on the pause action.
- the global value is currently the URL of the page, but that is changing here #884, which i think will be a nice stylistic improvement.

[2016-10-11 17:18] SezginEge commented on #804
Guys, for personal reasons, I could not interest too much this issue 😞 Sorry for that. I do not want to keep you waiting more.

If there are anyone who wants to work on this, it may take.

[2016-10-12 13:31] jasonLaster commented on #101
Re-opening to track the work on this feature.

[2016-10-12 13:54] wldcordeiro commented on #101
Whoa, I literally had a conversation with my coworker yesterday about some of the ideas we had for the debugger and he mentioned exactly this! Nice work on the PR so far @jasonLaster

[2016-10-12 14:56] jasonLaster opened #923 "Investigate introducing PostCSS"
It would be nice to know if we could easily introduce PostCSS into our webpack pipeline. There are several potential benefits of PostCSS plugins, but one of the most important would be polyfilling features that are only partially supported like [margin-inline-start](https://github.com/gasolin/postcss-bidirection).

This came up in @amitzur's RTL pr #903.

Including @gasolin as he's in our Taiwan o

[2016-10-12 15:10] magicp-github commented on #856
This bug still reproduce in latest Nightly Build ID (20161012030211)

[2016-10-12 15:44] jasonLaster commented on #856
@magicp-github should be fixed when we update the debugger on nightly soon. Sorry, there's some lag between a patch landing on github and being shown in nightly

[2016-10-12 17:03] jasonLaster commented on #101
I added some initial conditional breakpoint design mockups [here](https://invis.io/UM8XCLNK5#/196300930_Conditional_Breakpoint_Pane_Exploration)

Notes:
* I tried to model this after the watch expressions work where there's an left prompt for adding input
* I assumed we'd be able to add a line widget which is 1.5 x a line height. This might be impossible and we'll have to adjust.
* I used a mono s

[2016-10-12 18:17] helenvholmes commented on #101
I think the search bar probably needs a close, as does this—I know automatically I would want to close it.

My recommendation would be to extend the message into the gutter, and left-pad the guillemet until the editor begins. (That's what I would try, anyway.)

Looks really good! I like the styling decisions you've made 🎉

[2016-10-12 21:50] jasonLaster commented on #101
Yeah, that makes a lot of sense. I think I have creator's bias, of course it works this way.

Here are some new screens. I'm not sure if you're thinking of the guillemet being in the gutter or just outside.

![screen shot 2016-10-12 at 5 50 17 pm](https://cloud.githubusercontent.com/assets/254562/19328919/17079408-90a4-11e6-9de3-f78f4bb1d742.png)
![screen shot 2016-10-12 at 5 50 08 pm](https://clo

[2016-10-12 22:22] helenvholmes commented on #101
I would have originally said guillemet in the editor, but I really like the second option, where it lines up with the line numbers! Let's go with that, it looks great 👌🏽

[2016-10-13 02:30] jasonLaster commented on #101
great! Thanks @helenvholmes, do you know where i can find an official guillemet svg? alternatively I could make one, but i'm not sure about the pixel snapping business

[2016-10-13 03:18] wldcordeiro opened #928 "Rework hidden tab system"
Currently there's a bug in how we're detecting our hidden tabs, we try to do so by checking the `top` offset of our tab elements but this is buggy and causes weird rendering in both master and my WIP layout branch.

I'm opening this issue because I intend to this separate from my layout changes, but in the event I take too long, get frustrated, or whatever the issue is here.

Rework the hidden tab

[2016-10-13 12:07] jasonLaster opened #929 "Add close button to search bar"
The search bar is currently missing a close button, which would help people close the UI if they are more visual.

In terms of engineering:
- we have a [closeButton](https://github.com/devtools-html/debugger.html/blob/master/public/js/components/CloseButton.js) component here
- and the searchBar is defined [here](https://github.com/devtools-html/debugger.html/blob/master/public/js/components/Edito

[2016-10-13 13:27] helenvholmes commented on #101
I'd recommend using the [unicode](http://www.fileformat.info/info/unicode/char/bb/index.htm) for it, actually: »

That way it will look correct next to whatever typeface you're using to the right of it.

[2016-10-13 13:28] jasonLaster commented on #101
good call. Thanks

[2016-10-13 19:09] jasonLaster commented on #493
Finished in #905

[2016-10-13 19:09] #493 closed

[2016-10-13 19:12] jasonLaster opened #932 "[Toolbox] Run the Inspector"
This ticket tracks the work improving the toolbox so that it can be used with the inspector.

Ideal User Steps:
- install toolbox locally
- start the inspector

Next Steps:
- Improve the toolbox/index.js exported APIs
- Improve the toolbox development-server to host other assets (stylesheets, images) and maybe a different route for the inspector

[2016-10-13 19:44] clarkbw commented on #914
Seeing this in another bug https://bugzilla.mozilla.org/show_bug.cgi?id=1309464

[2016-10-13 21:17] jasonLaster opened #933 "M-C update window rep"
https://github.com/devtools-html/debugger.html/pull/912

[2016-10-13 21:27] jlongster commented on #914
@jasonLaster Which PR was it where you changed shortcuts to be passed down through context? Has that landed? I wonder if the debugger update will fix this. I feel like we saw this before you made that switch.

[2016-10-13 21:28] jasonLaster commented on #914
Hmm I think it was the search bar. Git blame App context would know :)
On Thu, Oct 13, 2016 at 5:27 PM James Long <notifications@github.com> wrote:

[2016-10-13 21:30] jryans commented on #914
I am fairly sure the bundle I used with this error was passing shortcuts through context... At least there was lots of `this.context.shortcuts` etc.

[2016-10-14 15:18] clarkbw commented on #685
This issue is a bit confusing, I believe we landed on doing something like this

<img width="919" alt="screen shot 2016-09-27 at 11 45 06 am" src="https://cloud.githubusercontent.com/assets/2134/19392676/abcda2ec-91e6-11e6-82eb-daef5aa64d28.png">

Which requires some small design work and a bugzilla bug opened.

[2016-10-14 15:49] jlongster commented on #830
This has been fixed in https://github.com/devtools-html/debugger.html/pull/927

[2016-10-14 15:49] #830 closed

[2016-10-14 15:50] jlongster commented on #873
Fixed in https://github.com/devtools-html/debugger.html/pull/900

[2016-10-14 15:50] #873 closed

[2016-10-14 22:04] jlongster commented on #685
Yep, Jason has a bug in bugzilla to do that but I can't find it right now.

[2016-10-15 13:25] magicp-github opened #934 "Don't conflict both of class theme-dark and theme-light in new Debugger"
In theme-dark,  class theme-light is available.
Don't conflict both of class theme-dark and theme-light in a new Debugger.

![do-not-conflict-both-of-class-theme-dark-and theme-light-in-new-debugger](https://cloud.githubusercontent.com/assets/13914314/19410367/67f4547c-9325-11e6-82b6-f2df52d02fb4.png)

[2016-10-15 21:30] nesk opened #936 "npm install fails"
`npm install` fails since the `devtools-*` packages have been [added to the dependencies](https://github.com/devtools-html/debugger.html/commit/4a0e823f8ea6ea493f6516dd7ba55e3e4412f946#diff-b9cfc7f2cdf78a7f4b91a753d10865a2R55).

[code]

[2016-10-16 00:56] jasonLaster commented on #936
Thanks for the report @nesk.

The issue is likely a question of whether lerna is installed correctly.

Could you check:
1. Is your branch up to date?
2. If lerna is installed

[2016-10-16 16:46] nesk commented on #936
My branch is up to date. I just tried by wiping the project off and ran these commands:

[code]

And I get the same error, I event tried running `lerna bootstrap` before running `npm install` bu it still doesn't work.

[2016-10-16 16:58] jasonLaster commented on #936
Thanks. We're actually using a forked version jasonlaster/lerna.

I noticed yesterday that there's another issue with the toolbox's webpack.config. On line 55, I believe, it should require the debuggers webpack config ../../../webpack.config

[2016-10-16 17:16] Pomax commented on #936
note that the error mentions that https://www.npmjs.com/package/devtools-network-request does not exist, which is true - nothing was published to npm with that name (yet?)

[2016-10-16 17:30] wldcordeiro commented on #936
@Pomax that isn't directly related. Since we use lerna it resolves these inner packages. and "installs" them, I think the idea is to publish to npm when we get to a more stable state and there isn't as much interdependency.

[2016-10-16 17:31] wldcordeiro commented on #936
@jasonLaster that line seems to use a function to resolve the configs https://github.com/devtools-html/debugger.html/blob/master/packages/devtools-local-toolbox/webpack.config.js#L54

[2016-10-16 17:32] jasonLaster commented on #936
Yes. It needs to resolve to the debuggers config. Could you PR that fix?
On Sun, Oct 16, 2016 at 1:31 PM Wellington Cordeiro <
notifications@github.com> wrote:

[2016-10-16 17:58] wldcordeiro commented on #936
@jasonLaster yeah I can, it seems like that function actually resolves to the debugger's `local.json` should it instead resolve to the webpack config?

[2016-10-16 18:01] Pomax commented on #936
@wldcordeiro in that case one important question is "which version of node/npm is being used" node4 still uses npm2 which installs packages in a nested hierarchy, whereas node6 with npm3 installs everything in a flat directory structure as much as possible, which can impact projects in surprising ways (might not be related, but it might be, in which case lerna might need to check which version npm

[2016-10-16 18:05] wldcordeiro commented on #936
@Pomax I wouldn't know for certain, on Lerna's repo and webpage they don't mention an npm 3 requirement, ideally that would be something they mentioned though.

[2016-10-16 18:11] Pomax commented on #936
Yeah, it doesn't look like https://github.com/lerna/lerna/blob/master/package.json has an `engines` section to make it clear what it relies on. I've filed https://github.com/lerna/lerna/issues/378 for them to consider adding one.

[2016-10-16 18:12] wldcordeiro commented on #936
Thanks @Pomax I'm still trying to reconcile my branches and get it working with the new mono-repo workflow myself so I'll update this issue and submit a PR when I can get it figured out if @jasonLaster doesn't beat me to it. 😄

[2016-10-16 20:09] wldcordeiro commented on #936
Researching stuff has lead me to believe `npm preinstall` doesn't work properly with `npm` v3.x as nuking node_modules and trying `npm install` always fails with the 404s listed in the issue. So to alleviate things here we will need to document that installing the dependencies for the debugger should just be done by running `./bin/preinstall` (which we could rename to `./bin/install` or something)

[2016-10-18 16:03] #875 closed

[2016-10-18 16:03] #884 closed

[2016-10-18 16:03] #547 closed

[2016-10-18 18:10] jasonLaster opened #940 "Toggle Breakpoint - should not jump to the line"
Currently, toggling a breakpoint in the list jumps to that line. We should change this so that toggling a breakpoint does not jump in the editor.

![](http://g.recordit.co/6lgN8UcH2G.gif)

[2016-10-18 18:13] jasonLaster opened #941 "Toggle Breakpoint - disabling a breakpoint fails"
Toggling all the breakpoints currently causes other breakpoint actions like removing a breakpoint to fail.

Steps to Reproduce:
* add a couple breakpoints
* toggle all breakpoints
* toggle all breakpoints
* toggle a breakpoint or remove a breakpoint

 I believe this happens because those actions are using the wrong breakpoint actor.

![](http://g.recordit.co/iGfBeeDMDV.gif)

[2016-10-18 18:14] jasonLaster commented on #941
@ThomasCrevoisier do you have some time to look into this? If not, I'd be happy to pick this up

[2016-10-18 18:53] jasonLaster opened #942 "Toolbox - fix flow mapping"
Our flow config no longer points to the correct spots.

[flowconfig](https://github.com/devtools-html/debugger.html/blob/master/.flowconfig#L7-L9)

[code]

^ @clarkbw you might have some ideas here

[2016-10-18 19:12] clarkbw commented on #942
I haven't looked extensively yet, but everything probably moved to the packages directory.

[code]

[2016-10-18 20:39] jasonLaster commented on #936
@nesk @Pomax mind giving this another try. I believe it should be fixed :)

Closing this issue preemptively, feel free to re-open it.

[2016-10-18 20:39] #936 closed

[2016-10-19 02:24] clarkbw commented on #942
I'm unsure as to why I'm not getting flow errors. But here's the change that we likely need.

This is the clever version:

[code]

Or the more straightforward version, which I think is probably better as I'm not sure if the colliding mapper will work in the above solution.

[code]

[2016-10-19 03:09] clarkbw commented on #942
Tried a couple variations, I believe that because the local packages resolve correctly now without webpack tricks there isn't a need for the `module.name_mapper` anymore.  We can probably remove the options section if this is correct.

[2016-10-19 03:27] #867 closed

[2016-10-19 03:32] jasonLaster opened #948 "RTL Follow up"
We've landed RTL in #903 and will want to do some follow up tweaks:

These tweaks all come from @amitzur's initial PR. Feel free to break this up and submit PRs piecemeal.

Also, the best way to get started is to change the _index.html_ `<html>` to `<html dir="html">`

---

1. ObjectInspector.css : `.arrow.expanded` rule needed attention due to specificity issue. I didn't like the solution (see TO

[2016-10-19 15:36] #942 closed

[2016-10-19 17:36] nt1m commented on #101
@jasonLaster: it would be nice if the breakpoint icon could turn orange like in the old debugger for conditional breakpoints

[2016-10-19 19:00] helenvholmes commented on #665
Going to close out this issue, as it's gone stale.

[2016-10-19 19:00] #665 closed

[2016-10-19 19:11] helenvholmes opened #949 "Turn Off Pretty Print Button if Source Already Has Sourcemap"
## Steps to reproduce an example:
1. Open `debugger.html/public/js/test/mochitest/examples/doc-sourcemaps.html` in `debugger.html` directory
2. Select `bundle.js`
3. Hit prettyprint button

This will create a new formatted bundle.js, even though it already has a sourcemap. The old sourcemap gets destroyed. Breakpoints in the new sourcemap get real weird.

How do we want to handle this use case? My

[2016-10-19 19:17] helenvholmes commented on #263
I'm going to close out this issue—we tackled some of what this bug was looking to improve in #876, and additional improvements probably merit their own, more specific issues.

[2016-10-19 19:17] #263 closed

[2016-10-19 19:39] jasonLaster commented on #949
Thanks @helenvholmes. I believe the consensus is that we should be hiding the pretty print button for bundle files (sources that have an associated source map). Thanks for the really clear issue.