[2016-10-19 19:42] jasonLaster commented on #482
This is no longer relevant.

[2016-10-19 19:42] #482 closed

[2016-10-19 19:45] jasonLaster commented on #678
Closing this issue because it is not tied to our immediate goals. I think a local runner would be a nice workflow improvement and it would be helpful for writing integration tests for the standalone application, but I don't see us having the time to work on this in the near future.

[2016-10-19 19:45] #678 closed

[2016-10-19 19:47] jasonLaster commented on #742
Closing this as storybook is no longer a dependency

[2016-10-19 19:47] #742 closed

[2016-10-19 19:52] jasonLaster commented on #842
Closing this issue as it's likely stale. We've made some improvements to the driver (upgrading to selenium 3). The primary issue now is https://github.com/devtools-html/debugger.html/issues/906, where the driver no longer sets the debugger server

[2016-10-19 19:56] jasonLaster opened #951 "Tabs - New tab button"
It would be great to have a new tab button that opens the file search UI.

The relevant files are:

1) [SourcesTab](https://github.com/devtools-html/debugger.html/blob/master/public/js/components/SourceTabs.js). We likely can add the plus button in the render method
2) [App.js](https://github.com/devtools-html/debugger.html/blob/master/public/js/components/App.js#L76-L79) - handles showing file se

[2016-10-19 19:57] jasonLaster commented on #853
Closing as we now have a more specific issue to work off of.

[2016-10-19 19:57] #853 closed

[2016-10-19 20:01] jasonLaster commented on #450
We have some more options now that the packages work is done. With that said, I don't know if this is a Q4 priority so we might want to close it for the time being.

[2016-10-19 20:01] #450 closed

[2016-10-19 20:13] jasonLaster opened #952 "Use native L10N"
We would like to be able to use the native L10N support when devtools is in the panel and default to a no-op when devtools is running locally. This is similar to the SourceEditor, NetworkRequest, Prefs, ...

[2016-10-19 20:24] clarkbw commented on #685
@jasonLaster what's the bug number for this work?

[2016-10-19 20:40] clarkbw commented on #877
I believe this is all done thanks to @wldcordeiro

[2016-10-19 20:40] #877 closed

[2016-10-19 20:42] helenvholmes commented on #951
I think what @nt1m's designed is really natural—this is exactly what I would have designed since it's the pattern browsers have set up for spinning up new tabs.

To answer @clarkbw's concerns: We don't currently have anywhere else where we've set up UX patterns for this particular use case anywhere in the tools, so what we do here sets up the precent. This is the pattern set up by te browser itsel

[2016-10-19 21:08] helenvholmes commented on #780
[The Invision link's](https://invis.io/AY8OEG3C6#/117937554_Debugger) been updated with some new interactions so that we have a way to close search, which was kind of important 😶. @wldcordeiro, if you want to chat about those interactions more separately please just let me know!

A question for the thread: I've made an assumption in the doc that it might be cool when you switch tabs to re-run the

[2016-10-19 21:56] jasonLaster commented on #780
Thanks @helenvholmes!

I think this makes a ton of sene

[2016-10-19 22:21] jacobjzhang opened #954 "getConfig() not returning anything for tests"
This is probably related to https://github.com/devtools-html/debugger.html/pull/946, where we had issues with registerConfig.

It appears that there are multiple places in the codebase where getConfig() is used to generate a file path and erroneously returns undefined. Please see screenshot.

I'm unsure if the fix requires a deeper dive into getConfig() or whether simply redoing this link in node-

[2016-10-19 23:14] jasonLaster commented on #954
Thanks. My guess is this is connected with fresh git clones.

[2016-10-20 02:00] helenvholmes commented on #780
If we find that this causes search to be slow (say, you switch to a huge bundle and it lags)—I have an interaction idea in my back pocket we can use. I'll comp it up in the doc tomorrow, but it shouldn't slow down this issue otherwise.

[2016-10-20 04:02] clarkbw commented on #951
@helenvholmes what would you like to do when the tabs overflow? Always keep space for the + icon at the right of the last tab?

I think the overflow icon is broken currently but we should take that into account.

[2016-10-20 04:10] clarkbw commented on #780
I've created a module to contain the source search in #953 so heads up if you've already started this work.  The rebase could be tricky.

[2016-10-20 04:22] clarkbw commented on #886
I believe this is fixed, I'm not seeing this kind of output

[2016-10-20 05:46] wldcordeiro commented on #780
@clarkbw I hadn't, but I actually was going to do the same! So I'd like to see your PR land and then do these UX changes. I'm going to talk to @helenvholmes tomorrow to get some additional info based on the newest design comp stuff and then start work once your changes land. 😄

[2016-10-20 05:47] wldcordeiro commented on #886
@clarkbw what version of Node.js are you on? I think the 6.x line is where these warnings appear.

[2016-10-20 08:28] ThomasCrevoisier commented on #941
@jasonLaster Unfortunately, I won't have the time to look into this this week :/
Have you got specific error messages ? Is this targetting Firefox debug ?

Normally we update the actor when we re-enable breakpoints : https://github.com/devtools-html/debugger.html/pull/926/files#diff-db5189725270fa6c573d869b7a7911acR125

[2016-10-20 12:49] clarkbw commented on #886
I believe I am using 6.x...

[2016-10-20 13:16] clarkbw opened #958 "sourceURL for script tags"
When a script tag specifies a `sourceURL` we don't seem to support it.

For example:

[code]

In Chrome the file appears as `pen.js` however it doesn't appear as a source mapped source in the source tree so you can't actually get back to it if you close it.

<img width="808" alt="screen shot 2016-10-20 at 9 14 14 am" src="https://cloud.githubusercontent.com/assets/2134/19564145/84445fbc-96b0-11e6-

[2016-10-20 15:40] helenvholmes opened #960 "User preferences for open/closed accordions should persist across toolbox opens/closes"
Our current debugger doesn't remember certain prefs that the old Firefox debugger did. Take this use case:
1. User opens the debugger
2. User expands the Call Stack
3. User closes the debugger
4. User opens the debugger a second time
5. The Call Stack is closed, despite it having been open on step 3.

On step 5, I think we want to persist that the user wants Call Stack opened, not closed.

Here's

[2016-10-20 15:58] helenvholmes opened #961 "Ellipsis to show more rows on short debuggers, Call Stack"
Call Stacks quickly get vertically huge. It would be nice on short instances of the debugger to have the option to load more rows on already open Call Stacks.

![collapse rows](https://cloud.githubusercontent.com/assets/1720093/19567637/73bdb6aa-96bc-11e6-932b-f1c1120ad63a.png)

[2016-10-20 16:02] helenvholmes opened #962 "Selected States"
I think we're like to split up the idea of a "selected state" and a "focused state". Currently we use a blue background with white text for both of these states:

<img width="375" alt="screen shot 2016-10-20 at 12 01 23 pm" src="https://cloud.githubusercontent.com/assets/1720093/19567745/eedda750-96bc-11e6-9307-765bcbad9c09.png">

Instead of this, I think we want to use that blue background if a r

[2016-10-20 16:07] jlongster opened #963 "Colors for pause on exceptions is not distinct"
On my screen, it's very hard to tell the difference between the 2 pause on exceptions states that are blue and purple. I think the colors need to be more distinct.

[2016-10-20 16:12] jasonLaster commented on #961
Thanks @helenvholmes!

Here's some details for the spec:
* Copy: "Expand Rows", "Collapse Rows"
* Number of frames: 10

[2016-10-20 16:13] jasonLaster commented on #961
Hey @monicau, @jacobjzhang interested in snagging this?

[2016-10-20 16:14] jacobjzhang commented on #961
@jasonLaster I'll take it!

[2016-10-20 16:55] jacobjzhang commented on #961
To confirm, we collapse after 10 frames? And show frames in intervals of 10?

[2016-10-20 17:01] jasonLaster commented on #961
collapse after 10, and then show all

[2016-10-20 18:05] jasonLaster commented on #862
This is handled in this bugzilla bug

Display DOMNodes in a more user friendly way (i.e. not HTMLBodyElement but <body>) <https://bugzilla.mozilla.org/show_bug.cgi?id=1307938>

[2016-10-20 19:10] Pomax opened #965 "add an "Engines" section to the package.json"
Especially with an eye on security and maintenance, it's a good idea to add an `engines` section to the package.json so that the project can indicate which version(s) of Node it wants to run on. Especially now that the LTS version is Node v6.9, older 6.x versions are technically a security concern and should be ruled out through the `engines` section.

[2016-10-20 19:21] jasonLaster opened #966 "Code Search - re-search when a new source is selected"
The code search component should do a new search when the selected source changes.

Steps to reproduce:
1. select a source
2. cmd+f to search (type something)
3. select a new source

(we should do a new search, when the source is selected).

![](http://g.recordit.co/35JnlDduKg.gif)

here's a sketch of what the code could look like

[code]

[2016-10-20 19:31] jasonLaster opened #967 "Code Search - Show "no results" label and sad face"
Currently, we just turn the text orange when no results are found, but we should do a couple other things as well:

1. show a "no results" summary
2. replace the search button with a sad face (i'm very excited about this)

Here's the sad face: https://cl.ly/2a3r0b2r0B3g

Here's the code to change:

[code]

[2016-10-20 19:37] jasonLaster commented on #940
@Zacqary any interest in taking a look? This seems like something you might find interesting :)

[2016-10-20 19:46] jasonLaster opened #968 "Code Search - debounce searches"
We should debounce the code search while the user is typing. This is a minor UX tweak that other editors like atom do that really helps the UI feel smooth and not very jumpy.

![](http://g.recordit.co/Jti0vuu5nX.gif)

Here's a sketch of what the code could look like:

[code]

[2016-10-20 20:10] jasonLaster opened #969 "Style Conditional Breakpoints Panel"
We recently landed conditional breakpoints here #922, but they need to be styled and tweaked. This issue is just about making them pretty, which I have some designs for below.

The guillemet can be unicode: [»](http://www.fileformat.info/info/unicode/char/bb/index.htm)

Here's what it currently looks like

![](http://g.recordit.co/LbZV3IVNOz.gif)
### Default text

![](https://cloud.githubuserconte

[2016-10-20 20:14] jasonLaster opened #970 "[Conditional Breakpoints] Clicking on the gutter"
- clicking on the breakpoint while the panel is open should close the panel and remove the breakpoint.
- clicking on the breakpoint when the panel is closed should open the panel and focus.
- cmd clicking on the breakpoint should focus on the panel input. We should not create lots of new panels :)

Fail gif
![](http://g.recordit.co/cb3XFA1ZW9.gif)

[2016-10-20 20:21] jasonLaster opened #971 "Sources Search - polish keyboard interaction"
We have two weird keyboard interactions with the sources search UI.
1. tabbing
2. entering

Tabbing - we should not let tabbing focus on other elements. When the user tabs, we should close the search box

Entering -
1. when there is no text. close the search box
2. when there is a selection, but no match. close the search box, when the search box is re-opened show the text.

[code]

[2016-10-20 21:28] jasonLaster commented on #965
Thanks. I agree that it's a good idea. We also have a min node check in development server for 5. Would you like to add an engineer's check for five and up?

[2016-10-21 16:32] Manishearth opened #975 "Remove all references to marker-offset"
It's a property from an old draft spec that nobody implements (Firefox only parses it, doesn't do anything with it). Being removed in https://bugzilla.mozilla.org/show_bug.cgi?id=1311959

[2016-10-21 22:35] Zacqary commented on #940
Looks like every time a checkbox is toggled, `renderBreakpoint` gets called a bunch of times. So far I've determined that the scrolling jump happens after the second `renderBreakpoint` call. Not sure what's different about that specifically, still looking into it.

It might just be React getting confused about scroll position. Or is there any other code that would be affecting the `.CodeMirror`'s

[2016-10-21 22:37] jasonLaster commented on #940
Hmm, I know we have a selected location prop. Also the editor updates the scroll positions.

[2016-10-21 22:41] Zacqary commented on #940
Yep, unchecking the box sends a `selectedLocation` prop of:

[code]

Although adding new breakpoints afterwards don't change the `line` and it doesn't jump to scroll. Unless it only updates the position when that prop changes.

[2016-10-21 22:52] Zacqary commented on #940
Aha, here's the bug: https://github.com/devtools-html/debugger.html/blob/master/public/js/components/Breakpoints.js#L90

[code]

The `onClick` handler to select the breakpoint is getting triggered when you click on the checkbox, because the checkbox is part of the same div.

[2016-10-22 19:41] jacobjzhang commented on #970
@jasonLaster I'll take this one

[2016-10-22 19:42] jacobjzhang commented on #969
@jasonLaster I'll take this one as well

[2016-10-23 00:43] akhillb commented on #966
I would like to try this one. One small question though. If I select a new tab, do you think it would be better to open the tab with search bar open or closed?

[2016-10-23 02:16] #967 closed

[2016-10-23 02:17] #940 closed

[2016-10-24 13:55] jasonLaster commented on #862
closing this as it's being handled in M-C

[2016-10-24 13:55] #862 closed

[2016-10-24 17:36] #928 closed

[2016-10-24 17:37] #891 closed

[2016-10-24 21:23] jasonLaster opened #983 "Improve flow coverage"
Our current flow coverage is _60_. There is a lot of room for improvement with our utils, actions, and reducers.

Here is our [coverage report](https://jasonlaster.github.io/debugger-flow-report).

The easiest place to add support is with our utils. There is a lot of low hanging fruit with our actions and reducers. There are also some really interesting redux + flow questions with how we support o

[2016-10-25 07:04] gabrielhpugliese opened #986 "Is it possible to debug Safari (not iOS) on OSX?"
I couldn't find any guide to it even on Google search. Is it possible to use this with Safari Desktop v9/10?

[2016-10-25 13:58] jasonLaster opened #987 "React 15 - The Sources tree is slow"
The Sources Tree is no longer debounced in 0.15. This is likely because isMounted is [discouraged](https://facebook.github.io/react/blog/2015/12/16/ismounted-antipattern.html). We use it  [here](https://github.com/devtools-html/debugger.html/blob/master/public/js/components/SourcesTree.js#L27-L33)

[2016-10-25 14:07] jasonLaster commented on #986
Thanks @gabrielhpugliese for asking. Here is our doc on [debuggable browsers](https://github.com/devtools-html/debugger.html/blob/master/docs/remotely-debuggable-browsers.md#safari). It is vague on Safari.

@clarkbw any thoughts?

I found a CLI handle `/Applications/Safari.app/Contents/MacOS/Safari` but couldn't do much with it...

[2016-10-25 14:12] jasonLaster commented on #101
Closing this as there are now:
* conditional breakpoints are in behind a flag
* there are some smaller implementation issues for conditional breakpoints #970 #969

[2016-10-25 14:12] #101 closed

[2016-10-25 14:29] jasonLaster opened #988 "Polish Dark Theme"
I just did a quick walk through of the dark theme and found a couple of UI color issues. I'm not sure how we want to fix this as there's a one-to-one mapping between light and dark values...

**Issues:**
1. [x] right sidebar command buttons colors are off (step in, step over especially) - #995
2. [x] breakpoints - grey breakpoint line, grey remove button. - #1010
3. [x] call stack - grey file name

[2016-10-25 14:29] jasonLaster commented on #370
Closing this issue and re-opening a new more relevant issue #988.

[2016-10-25 14:29] #370 closed

[2016-10-25 17:01] clarkbw commented on #986
https://twitter.com/auchenberg/status/790958943677714432

[2016-10-25 18:25] jasonLaster commented on #966
Thanks

Good question.

The rule of thumb is to be consistent with atom and sublime.

If the search bar is open, id keep it open

On Sat, Oct 22, 2016 at 8:43 PM Akhil Lb <notifications@github.com> wrote:

[2016-10-25 18:59] clarkbw commented on #986
@gabrielhpugliese looks like, not really.  If you find a system that works please open a PR adding it to the docs.  Thanks!

[2016-10-25 18:59] #986 closed

[2016-10-25 19:01] clarkbw commented on #975
Looks like we have a reference in the sham libraries here: https://github.com/devtools-html/debugger.html/blob/466c8c315cdaf97f98b5b8a4bac83989f424bf6e/packages/devtools-sham-modules/sham/css-property-db.js#L753-L756

[2016-10-25 19:49] jasonLaster opened #992 "panel - the scrollbar is hard to drag"
In the panel, the styled scrollbar is difficult to drag

The way to drag it is to scroll and then drag the scrollbar with the mouse.

![](http://g.recordit.co/TpmmPcjEcS.gif)

[2016-10-25 20:08] wldcordeiro opened #994 "Dark Theme - polish tab colors"
The tab colors are bad on dark theme. Need to be improved.

![screenshot_20161025_140802](https://cloud.githubusercontent.com/assets/580982/19702368/756e169e-9abc-11e6-995b-7385acb50cfb.png)

**How do you change themes locally?** You can edit the theme locally [here](https://github.com/devtools-html/debugger.html/blob/master/docs/local-development.md#themes)

**How do we fix these?** Add CSS overr

[2016-10-25 20:08] jasonLaster commented on #780
done! we can tweak in other small issues

[2016-10-25 20:08] #780 closed

[2016-10-25 20:10] wldcordeiro opened #995 "Dark Theme - Command Bar Polish"
The icons in the command bar aren't colored properly for the dark theme.

![screenshot_20161025_141002](https://cloud.githubusercontent.com/assets/580982/19702406/bd75a330-9abc-11e6-82ae-563c4d1fbfef.png)

**How do you change themes locally?** You can edit the theme locally [here](https://github.com/devtools-html/debugger.html/blob/master/docs/local-development.md#themes)

**How do we fix these?**

[2016-10-25 20:11] jasonLaster opened #996 "Themes - include firebug theme"
Now that we have a local workflow for seeing themes we should include the firebug themes so that we can quickly view / edit the firebug styles.

[2016-10-25 20:12] wldcordeiro opened #997 "Dark Theme - Source Footer Icon Color Polish"
The icon colors for pretty print are off.

![screenshot_20161025_141200](https://cloud.githubusercontent.com/assets/580982/19702462/0331a810-9abd-11e6-9de9-b2152f4b6b0f.png)

**How do you change themes locally?** You can edit the theme locally [here](https://github.com/devtools-html/debugger.html/blob/master/docs/local-development.md#themes)

**How do we fix these?** Add CSS overrides in the diffe

[2016-10-25 20:13] wldcordeiro commented on #996
😆 As ugly as I think that theme is I agree, we should include and support it. 👍

[2016-10-25 20:19] clarkbw commented on #685
The bugzilla bug for this has already landed and the rest of the work is being tracked in #879

[2016-10-25 20:27] clarkbw commented on #832
This is being done in #685

[2016-10-25 20:27] #832 closed

[2016-10-25 20:28] wldcordeiro commented on #524
Jumping back on this, more free time available to focus on the task.

[2016-10-25 20:30] clarkbw commented on #607
@jasonLaster investigate scope of issue and then drop from P1 and Milestone accordingly.

[2016-10-25 20:31] jasonLaster commented on #607
can't repro

[2016-10-25 20:31] #607 closed

[2016-10-25 20:34] clarkbw commented on #446
Closing this for now, we can reopen this later.

[2016-10-25 20:34] #446 closed

[2016-10-25 20:53] wldcordeiro opened #999 "Dark Theme - Accordion Header Color Tweaks"
Hovering over an accordion header produces a white background.

![screenshot_20161025_145322](https://cloud.githubusercontent.com/assets/580982/19703889/cb013ec8-9ac2-11e6-8be3-18bb549546ba.png)

**How do you change themes locally?** You can edit the theme locally [here](https://github.com/devtools-html/debugger.html/blob/master/docs/local-development.md#themes)

**How do we fix these?** Add CSS o

[2016-10-25 22:12] wldcordeiro commented on #988
The color values here aren't up to date but I was told this is a good resource to look through for theme colors https://developer.mozilla.org/en-US/docs/Tools/DevToolsColors

[2016-10-25 22:37] wldcordeiro commented on #951
Taking this since @helenvholmes seems to have put it up for grabs. 😄

[2016-10-25 22:46] jasonLaster commented on #988
Hey @monicau any interest in a second OSS issue :)

[2016-10-25 23:03] jasonLaster opened #1003 "Conditional Breakpoints - should be set via context menu"
Currently conditional breakpoints are set via <cmd> click, but we would like to have a context menu option when you right click on a gutter breakpoint.

We can easily do this with the Menu api
- [menu](https://dxr.mozilla.org/mozilla-central/source/devtools/client/framework/menu.js)
- [inspector](https://dxr.mozilla.org/mozilla-central/source/devtools/client/inspector/inspector.js#988-1106)

[2016-10-25 23:13] #961 closed

[2016-10-25 23:19] jasonLaster opened #1004 "[Flow] - type the pause actions + reducer"
We currently type the sources and breakpoints reducers. It would be great to give the same treatment to pausing.

Here's an initial [patch](https://gist.github.com/jasonLaster/48a09ff185f13ec7fa0da30298a8603e). Run this command on a new branch to get started:

[code]

**how do i run flow?** `flow`

**how do i see a module's coverage?**  `flow coverage --color public/js/utils/source-map-worker.js`

[2016-10-25 23:24] jasonLaster opened #1005 "[Flow] Type the Source Map Worker"
The [source map worker](https://github.com/devtools-html/debugger.html/blob/master/public/js/utils/source-map-worker.js) handles some of the most complicated logic in the debugger. It would really help to type the module for clarity and refactoring confidence.

Here is the module's [report card](http://jasonlaster.github.io/debugger-flow-report/sourcefiles/public/js/utils/source-map-worker.js.html

[2016-10-25 23:43] #996 closed

[2016-10-26 03:52] wldcordeiro opened #1008 "Dark Theme - Dropdown style tweaks"
The background is currently hard coded to `white` and which makes it look off in dark theme.

Relevant file - https://github.com/devtools-html/debugger.html/blob/master/public/js/components/Dropdown.css

![screenshot_20161025_215150](https://cloud.githubusercontent.com/assets/580982/19712686/4106d382-9afd-11e6-81e2-9704fbbda512.png)

[2016-10-26 03:54] monicau commented on #988
Hey, sure, count me in!  I see that this is made up of multiple other issues. Do I create a new branch for each of the issues and do separate pull requests?

[2016-10-26 04:36] wldcordeiro commented on #988
@monicau take one of the issues from the list, make a branch for it and a PR for it. This is a tracking issue for all the smaller ones. 😄

[2016-10-26 04:45] wldcordeiro commented on #983
If you'd like to work on flow typing something, comment on the associated issue saying that you will get it and we'll add a 'in-progress' label.

[2016-10-26 05:37] wldcordeiro opened #1010 "Dark Theme - Breakpoint Tweaks"
The breakpoint line coloring and remove button need color tweaking

![screenshot_20161025_234148](https://cloud.githubusercontent.com/assets/580982/19714594/b5e2e9b6-9b0c-11e6-866e-aae57dab1765.png)
![screenshot_20161025_234214](https://cloud.githubusercontent.com/assets/580982/19714595/b5f9be20-9b0c-11e6-95b5-2335c8d70d8f.png)

[2016-10-26 05:38] wldcordeiro opened #1011 "Dark Theme - Call stack Tweaks"
The call stack file name color needs to be tweaked

![screenshot_20161025_234400](https://cloud.githubusercontent.com/assets/580982/19714625/ed7649d6-9b0c-11e6-935a-c02912721343.png)

[2016-10-26 05:39] wldcordeiro opened #1012 "Dark Theme - Breakpoint Line in Editor Tweaks"
The greens used look odd in dark theme and need to be tweaked

![screenshot_20161025_234437](https://cloud.githubusercontent.com/assets/580982/19714638/0a8af58a-9b0d-11e6-94be-f8cb11431adf.png)
![screenshot_20161025_234449](https://cloud.githubusercontent.com/assets/580982/19714639/0a9b2270-9b0d-11e6-98ab-99883dd0393d.png)

[2016-10-26 07:12] gabrielhpugliese commented on #986
Thanks for the info!

[2016-10-26 15:00] helenvholmes commented on #951
I think once the tabs overflow we should make room for the tab overflow icon, and the "+" icon should disappear. Just added info for you, @wldcordeiro!

[2016-10-26 15:02] wldcordeiro commented on #951
@helenvholmes I had it so the new tab button is always present even with the overflow menu. That seems like more expected behavior to me as in browsers like Chrome/Firefox the new tab button is always present (though they reduce tab sizes to just icons and scroll the tab bar).

![screenshot_20161026_090148](https://cloud.githubusercontent.com/assets/580982/19731532/f3c1ca7e-9b5a-11e6-8861-d69ca98c

[2016-10-26 15:15] helenvholmes commented on #951
Is our overflow menu those three dots?

[2016-10-26 15:16] jasonLaster commented on #951
@helenvholmes yep, but that could certainly be improved.

[2016-10-26 15:29] helenvholmes commented on #951
I have this spec for overflow panels, if it's helpful: [spec](https://invis.io/F68A5KHKY#/179720580_Sidebar_Tabs)

I think the main thing is that we're using guillemets (») for side panels—the rest is probably what you'd expect, hopefully 🙂

[2016-10-26 15:34] wldcordeiro commented on #951
I like the guillemet for the tab overflow @helenvholmes especially because that's just a fun word to say 🙂 Would that make sense in a different PR? I can change it in the new tab one too.

[2016-10-26 15:41] jasonLaster commented on #988
Great! Up to you. One PR for many issues is fine.

On Tue, Oct 25, 2016 at 11:54 PM Monica Ung <notifications@github.com>
wrote:

[2016-10-26 15:55] clarkbw commented on #685
@jasonLaster is this issue finished now?  #879 was merged in

[2016-10-26 15:57] #1012 closed

[2016-10-26 16:04] helenvholmes commented on #951
@wldcordeiro However you'd like to handle it! Making sure overflow is working is important enough I'd like to see it solidly in, know that we can throw up changing the icon in an up-for-grabs easy bug.

[2016-10-26 16:14] wldcordeiro commented on #951
@helenvholmes I believe @jasonLaster fixed overflow so it's working, only thing left is the icon.

[2016-10-26 16:17] jasonLaster commented on #685
Yup

[2016-10-26 16:17] #685 closed

[2016-10-26 16:21] helenvholmes commented on #1010
Hey @wldcordeiro, I don't understand the remove button part of this issue—is that not the native checkbox element?

[2016-10-26 16:22] wldcordeiro commented on #1010
I copied this from @jasonLaster's description so I'm not sure either. It might be the `x` for the close button is blending into the background

[2016-10-26 16:24] helenvholmes commented on #1010
@wldcordeiro ohhhhh, okay, good show i'll make sure to make that change too

[2016-10-26 16:28] jasonLaster opened #1015 "Source Tabs - Change the Hidden Dropdown buttun"
We should update the "hidden sources" dropdown button to be consistent with other tools.

The new button will be a guillemet, which is just unicode: »

#### Current UI

![screen shot 2016-10-26 at 12 29 24 pm](https://cloud.githubusercontent.com/assets/254562/19734911/751c64d2-9b77-11e6-891a-013ec597b248.png)

#### New button designs (guillmet)

![screen shot 2016-10-26 at 12 27 51 pm](https://clo

[2016-10-26 16:28] jasonLaster commented on #951
Just created a button issue https://github.com/devtools-html/debugger.html/issues/1015 to simplify this PR.

[2016-10-26 17:00] helenvholmes commented on #1015
You can use the guillemet for this—"»".

[2016-10-26 18:41] #1010 closed

[2016-10-26 19:34] jlongster commented on #987
The above description is wrong; that was just a theory, but it turned out to be something else. This is being handled in #1016

[2016-10-26 19:34] #987 closed

[2016-10-27 04:09] sankha93 commented on #1005
I am working on this.

[2016-10-27 04:09] AbhiGulati commented on #1015
I would like to work on this.

[2016-10-27 05:39] wldcordeiro commented on #1015
Thanks for this @AbhiGulati 👍

[2016-10-27 05:39] #1015 closed

[2016-10-27 05:41] wldcordeiro commented on #1005
Thanks @sankha93 feel free to ask any questions here if you get stuck.

[2016-10-27 09:47] bomsy commented on #968
i'll like to fix this!

[2016-10-27 12:19] jasonLaster commented on #968
Thanks!

[2016-10-27 14:02] helenvholmes opened #1027 "(dark theme) Debug page's colors"
The colors on the debug page are making it hard to read the type in the left sidebar.

<img width="1138" alt="screen shot 2016-10-27 at 9 42 58 am" src="https://cloud.githubusercontent.com/assets/1720093/19770173/4e9a65a6-9c2c-11e6-9b51-d69d6b488b28.png">

[2016-10-27 14:06] jlongster commented on #992
That's very strange, it must be something with your mouse. I can't repro; it acts exactly the same as all the other scrollbars. I don't show the scrollbars by default, but if you scroll a little then you can grab it and drag. This is the same behavior as all other scrollbars in OSX for me.

[2016-10-27 14:07] jlongster commented on #941
This should be fixed right?

[2016-10-27 15:45] jasonLaster commented on #941
yup

[2016-10-27 15:45] #941 closed

[2016-10-27 15:56] #1008 closed

[2016-10-27 15:59] ajstrand commented on #999
@wldcordeiro I wouldn't mind tackling this issue. I probably wouldn't be tackle it until this weekend however.

[2016-10-27 16:10] lmosele commented on #1027
Hey @helenvholmes, I'd love to take this on to get my feet wet, it'd be my first ever OS contribution. I'm a UX designer too but any existing design specs to keep in mind?

[2016-10-27 16:16] wldcordeiro commented on #999
@ajstrand thanks! That won't be a problem at all.

[2016-10-27 16:19] helenvholmes commented on #1027
Hey @lmosele,

Hi! Thanks for taking the time!

So existing spec, but we do have a set of existing colors in ```packages/devtools-local-toolbox/public/js/lib/themes/variables.css``` under ```:root.theme-dark``` that are the jumping off point for this issue.

Are you all set up with the project? Do you want/need extra guidance to get started?

[2016-10-27 16:34] jasonLaster commented on #1027
Thanks @lmosele - here's some more info on making theme changes: https://github.com/devtools-html/debugger.html/issues/988

[2016-10-27 18:01] jasonLaster opened #1029 "Center Pane - add a minimum width"
It would be nice to have a minimum width in the center pane, which is more usable.

It's possible to make the center pane really narrow now and that causes issues with:
1. seeing the source
2. searching for sources
3. the hidden tabs dropdown

Feel free to use your best judgement as to what is a good min-width.

![](http://g.recordit.co/JwJsQdKpqd.gif)

[2016-10-27 19:26] jasonLaster opened #1030 "L10N - load debugger.properties"
We currently load our translation strings from `public/js/strings.json`. This works well, but it does mean we need to maintain two sets of strings in github and m-c.

It would be better if we could load strings from `debugger.properties` and when we publish copy the debugger.properties file to m-c.

This [patch](https://gist.github.com/jasonLaster/416d43026dc6620d9e567cfd68426b7d). Is close to wor

[2016-10-27 20:12] helenvholmes commented on #999
Whoops, didn't see that @ajstrand had requested it!

[2016-10-27 20:14] helenvholmes commented on #1011
I actually think this issue is naturally dependent on #962, so I'm going to tackle that first.

[2016-10-27 20:28] #995 closed

[2016-10-27 20:33] jasonLaster opened #1034 "[flow] Add types for utilities"
There are several util files that types would really help. I think if we can type these files, our overall score would go up a lot.
- http://jasonlaster.github.io/debugger-flow-report/sourcefiles/public/js/utils/assert.js.html
- http://jasonlaster.github.io/debugger-flow-report/sourcefiles/public/js/utils/defer.js.html
- http://jasonlaster.github.io/debugger-flow-report/sourcefiles/public/js/utils

[2016-10-27 21:38] jasonLaster commented on #966
ping @akhillb do you still think you'll be able to get to this?

[2016-10-27 21:39] jasonLaster opened #1036 "Mochitest - Test searching"
We should have integration tests for the file and source search:

**File Search**
- test a query with one result
- test a query with many results (enter, shift enter)
- test a query with no results

**Source Search**
- test a query with no results
- test a query with many results (arrow keys, enter)
- clicking the new tab button

[2016-10-27 21:42] jasonLaster opened #1037 "Mochitest - test pause buttons"
We should have integration tests for the pause on exceptions button and wait button.

**wait**
- we should test pausing on next execution (we might have a test for this)

**pause on exceptions**
- all three states (our current tests invoke the action, but we should click the button as there is _some_ logic there)

[2016-10-27 21:44] jasonLaster opened #1038 "Source Search tweaks"
@wldcordeiro you mentioned a couple of tweaks that were out of scope for the source search PR.

@helenvholmes you also mentioned a couple of small tweaks to @wldcordeiro's update.

Lets track this work here. Feel free to update this vague description.

[Invision link](https://projects.invisionapp.com/share/AY8OEG3C6#/screens/117937554_Debugger)

[2016-10-27 21:49] jasonLaster opened #1039 "Source Search - hide pretty sources"
We should filter the pretty sources from the list of sources shown in the sources search UI.

![screen shot 2016-10-27 at 5 48 22 pm](https://cloud.githubusercontent.com/assets/254562/19786700/40ace1ee-9c6d-11e6-870b-c6c3e6900833.png)

Here's a sketch of what the patch could look like:

[code]

[2016-10-27 21:52] jasonLaster opened #1040 "File Search - support cmd g"
The file search bar currently iterates through search results with <enter> and shift+<enter>. The old debugger also supported <cmd>+g and shift+<cmd>+g. To iterate through the results.

![](http://g.recordit.co/JwJsQdKpqd.gif)

Here's a sketch of what the patch could look like

[code]

[2016-10-27 21:57] jasonLaster opened #1041 "File Search - blinking orange cursor"
When the file search bar opens, the cursor is orange. After you've typed, it's no longer orange. We should fix this so that when it opens it is the normal grey :)

Not really sure what CSS magic we need to use because it will be orange when the search results are empty :)

![](http://g.recordit.co/ensezSkeZl.gif)

[2016-10-27 23:25] ryandoherty commented on #1041
Got a browser/OS/revision handy? I've tested this with 2b7d50fcf197d680c0f842c658e62043784b19f7 on Firefox 49.0.2 and Chrome 54.0.2840.71 on OSX 10.11.6 and can't reproduce. Thanks!

[2016-10-28 00:18] jasonLaster commented on #1041
Weird. Thanks!
On Thu, Oct 27, 2016 at 7:25 PM Ryan Doherty <notifications@github.com>
wrote:

[2016-10-28 00:49] AbhiGulati commented on #1034
I would like to work on this.

[2016-10-28 03:35] ryandoherty opened #1042 "CONTRIBUTING.md references missing files"
In https://github.com/devtools-html/debugger.html/blob/master/CONTRIBUTING.md#configuration, the link goes to https://github.com/devtools-html/debugger.html/blob/master/config/development.json, which 404's. The contributing docs also reference https://github.com/devtools-html/debugger.html/blob/master/config/README.md, which 404's.

Was the config directory removed for a reason? I can dig through

[2016-10-28 03:36] ryandoherty commented on #1042
Also, I'd mark this issue with the 'bug' label, but it appears I somehow am unable to. Sorry!

[2016-10-28 03:46] wldcordeiro commented on #1042
I think the first file you linked to should be this instead.

https://github.com/devtools-html/debugger.html/blob/master/packages/devtools-config/configs/development.json

The second should be this

https://github.com/devtools-html/debugger.html/blob/master/packages/devtools-config/README.md

This was just a result of our shift to a mono-repo not getting updated. If you'd like to submit a PR with

[2016-10-28 03:48] ryandoherty commented on #1042
Awesome, thanks for the help! I can submit a PR soon(ish).

[2016-10-28 12:55] jacobjzhang commented on #1036
@jasonLaster I can take this one

[2016-10-28 15:03] jasonLaster commented on #1042
Thanks!

[2016-10-28 15:22] jacobjzhang commented on #1040
I'll grab this one

[2016-10-28 16:16] jacobjzhang commented on #1039
@jasonLaster I'll grab this one

[2016-10-28 16:27] galtalmor opened #1043 "Fresh NPM install not working on windows"
Hi,
I'm using latest node and npm versions (node 6.9.1 and npm 3.10.9) on windows 10.
Tried to run 'npm install' according to readme, always getting the following:

[code]

Trying to run `./bin/preinstall` file from a linux shell (git bash/mingw) results in the following (with or without administrator privileges):

[code]

Any suggestions?

[2016-10-28 17:02] wldcordeiro commented on #1040
@jacobjzhang rather than `searchNext/Prev` you could likely make a single function that takes a direction argument. 😄

[2016-10-28 17:14] jasonLaster commented on #1043
Hmm try yarn install. Also the preinstall script just wraps lerna so feel free to try to do it yourself. Lerna is windows friendly so should be fine.

Also please share what you learn!

[2016-10-28 20:36] #647 closed

[2016-10-28 20:40] #1042 closed

[2016-10-29 00:49] galtalmor commented on #1043
So `yarn install` didn't work as well, here's the result:
[code]
And when I try to run lerna from the command line using `./node_modules/lerna/bin/lerna.js bootstrap` I get the same error as above:
[code]

[2016-10-29 02:00] wldcordeiro commented on #1043
Try `npm install --ignore-scripts` and then `lerna bootstrap` the pre install script doesn't work with Windows.

[2016-10-29 08:48] SoonDead commented on #828
I would like to be able to disable debugger statements while having my own breakpoints.

It's a pain if you debug code you don't own and the code author decided to protect the code with debugger statements. Give me a break (pun intended).

[2016-10-29 11:55] galtalmor commented on #1043
`npm install --ignore-scripts` seems to work fine, but `lerna bootstrap` still returns same error message.

[2016-10-29 15:52] jasonLaster commented on #1043
Hmm. Build-bootstrap in crdp shouldn't matter. Perhaps try removing or adding that.

Are you free to screen hero next week? Would be happy to pair on this

[2016-10-29 17:10] briantully commented on #761
Has this been merged into master or did it get overwritten? I am experiencing this same issue with a fresh install of master and I don't see any check for node version in package.json version 0.0.6 so it seems #768 may have been overwritten or dropped?

[2016-10-29 17:17] jasonLaster commented on #761
Hmm.

We have a check in the development server.

Look for checkNode

If you're still seeing an issue please share what you're seeing and I'm
sure we can fix it
On Sat, Oct 29, 2016 at 1:10 PM Brian Tully <notifications@github.com>
wrote:

[2016-10-29 18:24] shlomif opened #1050 ""npm test" after a successful "npm install" fails with node v7.0.0 from nvm on Mageia Linux x86-64 v6"
Hi all.

"npm test" after a successful "npm install" fails with node v7.0.0 from nvm on Mageia Linux x86-64 v6. I am getting this output:

[code]

Please let me know how I can further help.

[2016-10-29 19:31] jasonLaster commented on #1050
Thanks. Nice find! Also kudos for using 7

Looks like the devtools-config/feature module can't find the feature-flag module.

Feel free to play with path.x methods

Also install node 6 with nvm

[2016-10-29 19:57] shlomif commented on #1050
@jasonLaster : OK, thanks for the update - I'm going to try with v6.9.1.

[2016-10-29 20:12] shlomif commented on #1050
Just a small update that I'm getting a very similar problem with node v6.9.1:

[code]

I have not played with the path.x methods yet (whatever those are).

[2016-10-29 20:32] jasonLaster commented on #1050
Hmm. Interesting, it works for me on 6.9. Was thinking of path.resolve. Happy to pair on Monday if your free

[2016-10-29 21:09] shlomif commented on #1050
@jasonLaster : I see. I can try it on a VirtualBox VM as well. What do you mean by "pair"? Do you mean "pair program"?

[2016-10-29 21:10] jasonLaster commented on #1050
Yea. I can do a google hangout Monday if you're free. My email is
Jason.laster.11@gmail.com
On Sat, Oct 29, 2016 at 5:09 PM Shlomi Fish <notifications@github.com>
wrote:

[2016-10-29 21:14] shlomif commented on #1050
@jasonLaster : OK, I might do it.

[2016-10-30 10:16] shlomif commented on #1050
Hi!

sorry for the late report, but I am getting a very similar report on a relatively up-to-date Debian Sid/Unstable VBox VM with nvm's node v6.9.1 after doing only "npm install" and "npm test". See:

[code]

[2016-10-31 01:21] ajstrand commented on #999
@wldcordeiro I've been trying to get the project up and running on my machine, but I've been having issues when trying to do `npm run firefox`.

This is the error that I get
[code]
I can navigate to `localhost:7999` and see the various examples, but that doesn't help me with this predicament.

I ran `npm install`, so that shouldn't be an issue here.

I will note that I"m running `npm run firefox`

[2016-10-31 01:26] jasonLaster commented on #999
Sorry. NPM run Firefox isn't working now. Use the long command to start Firefox

[2016-10-31 01:35] jasonLaster commented on #999
@ajstrand here's the command i run: /Applications/FirefoxNightly.app/Contents/MacOS/firefox-bin --start-debugger-server 6080 -P dev

[2016-10-31 01:46] ajstrand commented on #999
I got it working, thanks guys! I ended changing some of the settings in `about:config` .  Now I can actually start on fixing this.

[2016-10-31 03:44] jasonLaster commented on #999
Haha. Great. Hmm, our contributing docs touch on some of this but maybe you
can take a look and offer a suggestion. Also, of course I'll remove the
reference to npm run Firefox until et fix it
On Sun, Oct 30, 2016 at 9:46 PM ajstrand <notifications@github.com> wrote:

[2016-10-31 03:46] AbhiGulati commented on #1034
I am still working on this. As far as I can tell, @jacobjzhang's PR doesn't add annotations for defer.js and log.js. I should have a PR ready by tomorrow.

[2016-10-31 03:48] jasonLaster commented on #1034
Thanks. I'll try and create some more flew issues. Running npm run flow-coverage shows lots of areas for improvement

[2016-10-31 10:10] jacobjzhang commented on #1034
@AbhiGulati apologies, didn't see you had called this.

[2016-10-31 14:38] jasonLaster commented on #970
Thanks for the help! I'm closing this and opening a small issue for focusing the input on open

[2016-10-31 14:38] #970 closed

[2016-10-31 14:39] jasonLaster commented on #952
I believe we still need to merge m-c https://bugzilla.mozilla.org/show_bug.cgi?id=1313196, but it's done on github

[2016-10-31 14:39] #952 closed

[2016-10-31 15:20] akhillb commented on #966
@jasonLaster yep i think i will be able to do this.

[2016-10-31 17:26] wldcordeiro commented on #1043
I think `lerna bootstrap --ignore-scripts` may work? The docs aren't super clear but it sounds like that it should respect the ignore argument.

[2016-10-31 17:27] #1041 closed

[2016-10-31 17:29] clarkbw opened #1056 "expand rows appears when there are no more rows"
For a short call stack the Expand rows option shouldn't exist, however it seems to be there when it isn't needed.

![expand rows](https://cloud.githubusercontent.com/assets/2134/19864291/d4c94608-9f54-11e6-9806-8e8b4e91d638.gif)

[2016-10-31 17:34] DevilstarII commented on #1043
Error: ENOENT: no such file or directory, stat 'c:\...\debugger.html\packages\chrome-remote-debugging-protocol\build-bootstrap.js'

Looks like build-boostrap.js can be found in debugger.html\packages\chrome-remote-debugging-protocol\bin\build-bootstrap.js

Just copied it to the wanted folder and everything worked.

[2016-10-31 17:36] wldcordeiro commented on #1043
@DevilstarII what command did you try running? I'm not sure moving the file is the best fix, rather updating the code that is looking in the wrong place is likely a better solution.

[2016-10-31 17:41] DevilstarII commented on #1043
Now i wonder where i can find the console input field in debugger.html

[2016-10-31 17:44] helenvholmes commented on #997
Closed via #1032.

[2016-10-31 17:44] #997 closed

[2016-10-31 17:45] wldcordeiro commented on #1038
Things I noted in the invision doc that weren't added but could be relatively easy additions.

* result count message https://projects.invisionapp.com/share/AY8OEG3C6#/screens/117937554/comments/74310978

Not so easy addition, still awesome to have.

* additional search types, UX surrounding it https://projects.invisionapp.com/share/AY8OEG3C6#/screens/117937554/comments/74311014

[2016-10-31 17:46] wldcordeiro commented on #1043
@DevilstarII I'm confused what your question is, the debugger isn't the console and if you're loading it up in a browser tab you still use the devtools console. However you didn't answer the question I asked which is what command did you run to see the output you had? `npm install`? `lerna bootstrap`?

[2016-10-31 17:48] DevilstarII commented on #1043
@wldcordeiro Yeah, i completely agree it would be better. I just used it as a temporary workaround for testing on windows.

I ran ./bin/preinstall

[2016-10-31 17:54] wldcordeiro commented on #1043
@DevilstarII try changing this line https://github.com/devtools-html/debugger.html/blob/933c2ec34c537ca17ad3b08fa86d8c6cb5c49021/packages/chrome-remote-debugging-protocol/package.json#L7

to `"chrome-remote-debugging-protocol": "bin/build-bootstrap.js"` and delete the file you copied to see if it works. I think it's just looking in the wrong place because it's locally installed https://docs.npmjs.

[2016-10-31 18:13] DevilstarII commented on #1043
Changing the line helped on the fresh cloned debugger.html

It still produces a WARN message when i run `npm install --ignore-scripts` or `./bin/preinstall`
`npm WARN notsup SKIPPING OPTIONAL DEPENDENCY: Unsupported platform for fsevents@
1.0.14: wanted {"os":"darwin","arch":"any"} (current: {"os":"win32","arch":"ia32
"})`
but dev-server starts successfully.

[2016-10-31 18:24] wldcordeiro commented on #1043
@DevilstarII awesome! If you'd like to make your first contribution to the project as a PR with that change it'd be most appreciated. The warning you're seeing is nothing to worry about though. It's just an optional dependency that only works with OS X, I get that in Linux too.

[2016-10-31 18:36] DevilstarII commented on #1043
@wldcordeiro Sure. Will do it as soon as i get home.

[2016-10-31 21:30] galtalmor commented on #1043
@wldcordeiro That fixed it for me too.
So the instructions for a fresh install on windows should be updated to
[code]
On the `npm install` I still get these warnings, but I suppose that doesn't really matter in any way
[code]
I'll let @DevilstarII to make the PR.
Thanks everyone.

[2016-11-01 00:41] ajstrand commented on #999
@wldcordeiro or @jasonLaster I've come up with a fix for this issue and committed it to my fork, but `npm run lint` fails for me.

And the strange thing is the error references js files, but I didn't touch those at all.

Here's the error message
[code]

Have you had reports of anyone else having this issue?
I have the editorconfig and eslint plugins installed in Atom, so I'm surprised that these f

[2016-11-01 04:07] jasonLaster commented on #999
Yup. One other report. I'll look tomorrow

[2016-11-01 13:44] jasonLaster opened #1066 "[Flow] Improve Pause Action Coverage"
We've had some great help adding types to source maps utils. It would be really helpful to begin taking a look at our Action's types.

The pause action currently does not have any flow types and could use the most help.

I took a look at the [debugger flow report](http://localhost:8003/debugger-flow-report/) and noticed an interesting difference between the [pause](http://localhost:8003/debugger-f

[2016-11-01 14:13] jasonLaster opened #1067 "The panel uses the old search bar"
cmd+f in the panel brings up the old search bar. This is likely due to the fact that the key binding is still there.

[2016-11-01 15:20] bomsy commented on #800
is anyone still working on this? would love to take it if its free.

[2016-11-01 15:20] jasonLaster commented on #800
@bomsy it's yours!

[2016-11-01 15:21] #994 closed

[2016-11-01 15:54] #1043 closed

[2016-11-01 16:21] jasonLaster commented on #1043
Thanks @galtalmor @DevilstarII!

[2016-11-01 16:23] jasonLaster commented on #1038
Hmm, this is super confusing, but I'm only thinking about "source search" which is where you search for sources. This is not really in scope there.

[2016-11-01 16:36] jasonLaster opened #1068 "[Source Search] Show results summary"
It would be great if the source search showed a summary of files found as you typed.

Here's a [patch](https://gist.github.com/jasonLaster/ce8f6b404eb28cece4b209753084c6d8) to get started. Feel free to apply to a local branch:

[code]

Design:
![screen shot 2016-11-01 at 12 27 40 pm](https://cloud.githubusercontent.com/assets/254562/19897515/ad8dc520-a02e-11e6-98b8-50bf715c514f.png)

Current Behav

[2016-11-01 17:04] imvetri opened #1069 "ECONNREFUSED 127.0.0.1:6080"
I could not try debugger.html because of below error on

**> "npm start"**

Please consider this as a low priority issue.

I wanted to give Debugger.html and I followed steps mentioned in the README and above is the error I got.

[2016-11-01 17:12] wldcordeiro commented on #1069
Odd, looks like you may have something else using that port?

[2016-11-01 17:15] wldcordeiro commented on #1038
@jasonLaster From the looks of the invision document it'd be modifiers to search that actually then search all the sources for specific things.

Stuff like

* search function definitions
* find in file
* line number
* filter variables

Definitely not a tweak though, more like full features/enhancements of their own. 😆

[2016-11-01 17:17] imvetri commented on #1069
I tried killing all the process using 8000. and there were no process that was using 6080.

Which port should I try killing ?

Also, I am able to see some content at http://localhost:7999/

[2016-11-01 17:20] imvetri commented on #1069
One more information. I get below message only when I Open http://localhost:8000/ Whilst opening http://localhost:7999/ doesnt throw any error and it gives me some page.

WS connection closed, disconnected from TCP

[2016-11-01 17:36] wldcordeiro commented on #1069
@imvetri try opening the Firefox Developer Toolbar (Shift+F2) and typing `listen 6080`

[2016-11-01 17:49] imvetri commented on #1069
Okay. I'll try that and update the thread.

On a curious note, am I not following the steps mentioned in readme?

[2016-11-01 18:09] wldcordeiro commented on #1069
@imvetri sometimes the steps in the readme don't work for specific cases, I know that for me I often have to enable the port listening because of the Firefox configuration I run.

[2016-11-01 18:25] clarkbw commented on #645
done in #1035

[2016-11-01 18:25] #645 closed

[2016-11-01 18:29] #954 closed

[2016-11-01 18:29] jasonLaster commented on #954
should be resolved

[2016-11-01 18:35] #951 closed

[2016-11-01 18:36] jasonLaster commented on #968
Ping @bomsy still planning on tackling this?

[2016-11-01 18:39] jasonLaster commented on #831
I believe this is fixed

![screen shot 2016-11-01 at 2 41 42 pm](https://cloud.githubusercontent.com/assets/254562/19902386/f2d51efa-a040-11e6-9836-7d0ede7c50dc.png)

[2016-11-01 18:39] #831 closed

[2016-11-01 18:41] jasonLaster opened #1070 "[Source Search] show selected source"
When source search is open, selecting a source in the tree or tabs does not show the source.

![](http://g.recordit.co/fqOD4avWCN.gif)

[2016-11-01 18:49] wldcordeiro commented on #968
@jasonLaster looks like you merged @bomsy's fix?

[2016-11-01 18:50] wldcordeiro commented on #1070
So basically clicking a tab or tree item should close the search?

[2016-11-01 18:50] jasonLaster commented on #968
oops.

[2016-11-01 18:50] #968 closed

[2016-11-01 19:11] jasonLaster commented on #1070
yep

[2016-11-01 19:50] wldcordeiro commented on #1070
So I'm still struggling with getting the system up and running as I like so I can't make a patch for a contributer, however here are some details to get someone going.

The interesting bits of the tabs and sources tree are

https://github.com/devtools-html/debugger.html/blob/master/public/js/components/SourceTabs.js#L140
https://github.com/devtools-html/debugger.html/blob/master/public/js/componen

[2016-11-01 20:25] #1011 closed

[2016-11-01 20:38] jasonLaster opened #1071 "[Source Search] handle narrow width"
The center pane can potentially be narrow (200px or less) and in those cases we should truncate or appropriately wrap the search results.

![screen shot 2016-11-01 at 4 40 16 pm](https://cloud.githubusercontent.com/assets/254562/19906554/9028cd4a-a051-11e6-8533-85517a4c4582.png)

[2016-11-01 20:49] helenvholmes commented on #988
Going to close this issue out—looks like all the current dark theme issues either have PRs open for them or have been resolved.

[2016-11-01 20:49] #988 closed

[2016-11-01 20:50] #999 closed

[2016-11-01 20:50] helenvholmes commented on #999
Closed via #1057.

[2016-11-01 20:51] jasonLaster commented on #999
Hi @ajstrand I'm sorry you're running into issues with npm lint.

I'd like to help if I can, but I'm not able to reproduce the linting issues. Feel free to stop by our IRC room in #devtools (look at the readme for instructions). or ping me at jason.laster.11@gmail.com and I can 'hangout and help fix it.

[2016-11-01 21:02] jasonLaster commented on #1027
Hey @lmosele @helenvholmes just opened a nice PR for the landing page. We'd love to have your help on some of the other [up for grabs](https://github.com/devtools-html/debugger.html/issues?q=is%3Aissue+is%3Aopen+label%3A%22up+for+grabs%22) issues if you have some time.

[2016-11-01 21:28] jasonLaster commented on #1040
Hey @jacobjzhang I found this [code](https://dxr.mozilla.org/mozilla-central/source/devtools/client/sourceeditor/editor.js#1271-1286) which looks pretty relevant...

The gist of it is that we use L10N to set the key shortcuts for search next and search previous, this way in other languages it can be something else...

[2016-11-01 21:53] lmosele commented on #1027
@jasonLaster @helenvholmes  Thank you so much for the prompt answers! I may drop in the IRC at some point. Do we have a node version we should be running on? Looks like > v6 was throwing errors for me but I dropped down to 4.4 and it worked.

I'll be checking out the other up for grabs issues since I didn't have the time to set up earlier. Thanks!

[2016-11-02 01:16] ajstrand commented on #999
@jasonLaster I managed to fix the issue. Some the indentation had gotten messed up in a few of the files and so I just had to go correct the affected files. I'll putting up my PR shortly.

[2016-11-02 03:42] #1027 closed

[2016-11-02 11:57] jacobjzhang commented on #1040
@jasonLaster Perhaps we should pair on using the L10N code, I'll push up my basic implementation for now.

[2016-11-02 13:30] #1034 closed

[2016-11-02 13:30] #1039 closed

[2016-11-02 13:43] imvetri commented on #1069
I think I didn't follow the steps as instructed. After some hard tries following worked for me.

1.  npm install
2. firefox -> about:config -> [make firefox debuggable](https://github.com/devtools-html/debugger.html/blob/master/docs/remotely-debuggable-browsers.md#firefox) -> **restart**
3. npm start
4. firefox ->debug console -> listen 6080
5. hit http://localhost:8000/
6. a page with "about:conf

[2016-11-02 13:47] imvetri commented on #1069
Update: I couldn't see any page on click of "Firefox Debugger" in both firefox(v48) and firefox nightly.

[2016-11-02 14:01] imvetri commented on #1071
I think this is fixed. I tried to reproduce this by following.

1. open debugger
2. hit cmd+p and search for text

Following is how the search result comes.

<img width="588" alt="debugger html_search_files" src="https://cloud.githubusercontent.com/assets/6542274/19931488/b6a37ba0-a132-11e6-90b6-dd9ba96c6eae.png">

@jasonLaster , Could you please confirm are we talking about the same screen?

[2016-11-02 14:19] jasonLaster commented on #1040
Yeah - no worries about that. It's easy enough to do the basic version and then land l10n

[2016-11-02 14:51] jasonLaster opened #1078 "[File Search] Localize shortcuts"
We should use L10N to localize cmd+f, cmd+g for file search.

[2016-11-02 14:52] jasonLaster opened #1079 "[bundle] check for changes in m-c"
We should make sure we check for changes in m-c in all the files we copy over.

We are now copying properties, which are not checked.

[2016-11-02 14:56] jasonLaster commented on #1071
@imvetri this looks like a question of word-wrap or word-break with `/` and `-` in the path.

Try debugging `localhost:7999/todomvc` and doing seaching `t`

![](http://g.recordit.co/i3cYCqW2Oo.gif)

Thanks for the help!

[2016-11-02 16:07] #969 closed

[2016-11-02 16:21] #1070 closed

[2016-11-02 17:58] gregtatum opened #1081 "Debugger disables keyboard interaction in devtools toolbox on about:blank"
STR:

* Navigate to a page with no script sources, e.g. about:blank
* Open up devtools in Firefox.
* Click on inspector
* Hit shift tab in the toolbar a few times to focus on the toolbar
* Hit the right keyboard arrow, focus the debugger then hit spacebar.
* Hit tab again
* No elements will gain focus through the keyboard

Expected Results:

* Full keyboard access should be maintained.

This is no

[2016-11-02 18:19] jameswomack opened #1082 "Exception when trying to start the app"
Hey there! Super compelling project.

After following the instructions in the README, I was still not able to start the app. Error:
[code]

[2016-11-02 18:23] jameswomack commented on #1082
OS X Sierra, Node 6.3.1, NPM 3.10.9, debugger.html 0.0.6

However, when I ran preinstall manually and then ran install a second time, it worked.

[2016-11-02 19:10] jasonLaster commented on #1082
Thanks! We've seen some similar reports with `npm i`. This is definitely something we want to figure out soon.

[2016-11-02 19:11] jasonLaster commented on #1081
@gregtatum what happens with the page has sources. The no sources use case seems like an edge case.

[2016-11-02 19:26] jasonLaster opened #1084 "Frame Focus State"
We recently made frames focusable which added an outline. I think it would be a little cleaner if we were to style it without the blue border and maybe something else.

@helenvholmes thoughts?

![screen shot 2016-11-02 at 11 27 19 am](https://cloud.githubusercontent.com/assets/254562/19944090/a4e9e0d8-a110-11e6-99ee-b5aef265fd76.png)

[2016-11-02 19:27] jasonLaster opened #1085 "[Dark Theme] secondary text"
The secondary text is an awkward gray that looks off to me.

Here is how you change a [theme color](https://github.com/devtools-html/debugger.html/blob/master/docs/local-development.md#themes)

Here is the secondary text for frames, we could also find other secondary text in breakpoints...

[code]

![screen shot 2016-11-02 at 3 28 11 pm](https://cloud.githubusercontent.com/assets/254562/19944140/e

[2016-11-02 19:29] jasonLaster opened #1086 "[Dark theme] Pause on Exceptions button"
The button's colors seem slightly off. Also the button seems too thick when active. Thoughts @helenvholmes?

![](http://g.recordit.co/bGHTuBHDo4.gif)

[2016-11-02 19:32] jasonLaster opened #1087 ""Not Paused" should not be selectable"
We should make "Not Paused" not selectable. We did this with other elements [here](https://github.com/devtools-html/debugger.html/blob/master/public/js/components/RightSidebar.css#L8-L11)

![](http://g.recordit.co/toqnUIngjG.gif)

[2016-11-02 19:45] jasonLaster commented on #1082
For what it's worth, I just tried a fresh clone + install with node 6.3.1 and couldn't reproduce. I'll take a look later. Others (@shlomif) have seen this w/ linux, so it's real.

[2016-11-02 19:47] gregtatum commented on #1081
@jasonLaster The tabbing functionality works if there are sources. This might be a XUL bug I've encountered before that looks like this:

STR:
* element.focus()
* element.style.visibility = "hidden"
* Keyboard shortcuts break

The fix is something like focusing on another element at a certain point, possibly combined with window.focus(). I can't really remember the precise fix. Ugh.

Either that o

[2016-11-02 21:39] nsardo commented on #1082
If it helps, I've run into something similiar:
( Macbook Pro (Early 2011)
2.2 Ghz intel Core i7
16GB Ram

I started with a 6.x version of node, got the same error as below, upgraded to node 7.  Same error.

`MacBook-Pro:debugger.html $ npm start

Listening for WS on *:9000
Will proxy to TCP on *:6080 on first WS connection
Protocol messages can be logged by enabling logging.firefoxProtocol in your

[2016-11-02 21:51] nsardo commented on #1082
Interestingly, I followed @jameswomack ( thanks, @jameswomack !!) example, and ran:

$ ./bin/preinstall
$  npm install
$  npm start

All errors gone, and it starts properly!

`MacBook-Pro:debugger.html-master $ npm start

Listening for WS on *:9000
Will proxy to TCP on *:6080 on first WS connection
Protocol messages can be logged by enabling logging.firefoxProtocol in your local.json config
Hot Re

[2016-11-02 21:52] jasonLaster commented on #1082
Neat @nsardo. Out of curiosity, does `npm run test` work for you?

[2016-11-02 21:54] nsardo commented on #1082
@jasonLaster As I said, I followed the @jameswomack prescription to get a running instance.  I just stopped it and ran `npm run test` the output below:

`MacBook-Pro:debugger.html-master nsardo$ npm run test

  breakpoints
    ✓ should add a breakpoint

  sources
    ✓ should add sources to state
    ✓ should select a source
    ✓ should automatically select a pending source
    ✓ should open a ta

[2016-11-02 21:55] jasonLaster commented on #1082
@nsardo that looks pretty good to me :)

[2016-11-02 21:56] jasonLaster commented on #1082
@nsardo, mind doing a fresh `git clone` and then running `yarn install`. I wonder if that would work as well

[2016-11-02 21:57] nsardo commented on #1082
@jasonLaster   Me too!
The only problem is `npm install` does not work as desired.  `./bin/preinstall` must be run first.  Might want to add that to the OS X notes.  =)

Sure, I'll give it a shot.

[2016-11-02 22:13] nsardo commented on #1082
@jasonLaster Sorry for the delay, I had some permission issues to massage before `brew postinstall node` would work-- no doubt because I use the official node.js package to install node, rather than brew.

`yarn install` did the trick.  You might want to add this also to the OS X install notes.

[2016-11-02 22:14] jasonLaster commented on #1082
Thanks. It sounds like we've got two good approaches. yarn or just running the `preinstall` script, which could be renamed...

[2016-11-02 22:14] nsardo commented on #1082
@jasonLaster Yes Sir, both work!  =)

[2016-11-02 23:00] ajstrand commented on #1087
@jasonLaster I have a PR ready for this issue

[2016-11-02 23:01] jasonLaster commented on #1087
@ajstrand great, just merged the lint work, so hopefully it's unblocked

[2016-11-03 13:27] helenvholmes commented on #1084
I talked about this with @jlongster a few days ago—I think we want to do the following:

1. Have a selected, but unfocused state. This will be some version of gray.
2. Have a selected and focused state. This will be our white-on-blue styling. (Sans native focus.)

I'd opened #962 to address this, but I think there's some work that needs to be done restructuring the tree view that I felt ill-equipp

[2016-11-03 13:28] jasonLaster commented on #1084
Got it. Thanke
On Thu, Nov 3, 2016 at 9:27 AM Helen V. Holmes <notifications@github.com>
wrote:

[2016-11-03 13:28] #1084 closed

[2016-11-03 14:15] #1087 closed

[2016-11-03 18:02] bomsy opened #1092 "Source search throws error when a special character is searched"
If user tries to search by entering some special characters eg * , (, \ nothing happens.

### STR
1) Open the debugger
2) Open a source code file with a comment line like `/* bla foo */`
3) `Ctrl + F` to open the source search
4) Type `*` or `\*`

### Current:
Noting is selected or highlighted

### Expected
Should select or highlight one .

#### Also Note
Also if debbuger is open it throws errors

[2016-11-03 18:06] DerpMcDerp commented on #828
I came here from bugzilla bug 1300934 because there is an annoying media player website which does something akin to:

[code]

To make people who use the inspector tools suffer and I was looking if firefox had an easy way to disable the debugger statement globally.

The ability to put "debugger;" statements in the breakpoint list is a good idea but it would be even better if there was a way to mak

[2016-11-03 18:34] jasonLaster commented on #962
Here's the work we did:

[code]

[2016-11-03 19:01] clarkbw commented on #1092
I'm seeing this in the console:

[code]

[2016-11-03 19:02] clarkbw commented on #1092
I'm guessing it's here: https://github.com/devtools-html/debugger.html/blob/master/public/js/components/EditorSearchBar.js#L12

Because you end up running code like this: `new RegExp("*", "g");` which errors out.

[2016-11-03 19:05] clarkbw commented on #1092
Looks like a possible solution could be to escape the input, for example this works: `new RegExp("\\*", "g");`

See this stackoverflow: http://stackoverflow.com/questions/3446170/escape-string-for-use-in-javascript-regex

[2016-11-03 19:33] Zacqary commented on #1068
What's the difference between "Files named" and "instances of" here?

Also, what should the summary do in cases like these, where there are definitely matches but certainly no files actually named these things:
![screen shot 2016-11-03 at 3 31 03 pm](https://cloud.githubusercontent.com/assets/1445834/19982016/af6b8e6a-a1da-11e6-9942-f6d6147417f5.png)
![screen shot 2016-11-03 at 3 31 49 pm](https:/

[2016-11-03 19:41] bomsy commented on #1092
Yeah ... the special characters are not escaped

[2016-11-03 20:08] Zacqary commented on #1092
Just ran into this myself trying to search for parentheses. Fortunately Lodash has a regex escape function built in and that's already a dependency, so here's a PR. ^^

[2016-11-03 21:04] #1056 closed

[2016-11-03 21:55] bomsy commented on #1092
This is fixed!

[2016-11-03 21:55] #1092 closed

[2016-11-03 22:19] bomsy commented on #804
i want to pick this up.

[2016-11-03 22:20] jasonLaster commented on #804
Great. It's yours. There's likely a change to managed tree needed, but if
you can do codemirror craziness this should be doable :)
On Thu, Nov 3, 2016 at 6:19 PM Hubert Boma Manilla <notifications@github.com>
wrote:

[2016-11-04 00:17] jasonLaster commented on #1085
@wldcordeiro @helenvholmes I deleted the dark theme label as we no longer have that many issues

[2016-11-04 00:17] jasonLaster commented on #1003
done

[2016-11-04 00:17] #1003 closed

[2016-11-04 00:27] jasonLaster opened #1096 "[Conditional Breakpoints] focus on open"
The conditional breakpoint input should be focused when it's open.

This is slightly complicated because the panel is shown when the Editor re-renders. Here's my guess for where it should go:

[code]

![](http://g.recordit.co/03KgZtBr9s.gif)

[2016-11-04 00:29] jasonLaster opened #1097 "[Conditional Breakpoints] clicking the marker should close the panel"
Clicking on the marker when the panel is open should close the panel. Currently it breaks the panel :)

It breaks it because it attempts to removes a bp that doesn't exist.

![](http://g.recordit.co/VixObV7L2A.gif)

[2016-11-04 01:10] jasonLaster opened #1098 "[Source Tree] Improve directory heirarchy"
Chrome does a couple things that are nice:

1. The top level webpack directory has a "." root directory for the toolbox's public/js (it's the primary source map root)

2. There's a webpack directory that's the right sibling of the "debugger.html" for the bootstrap directory. We include "bootstrap 5993..." in the directory path instead of correctly showing that as a file.

### Chromes

chromes [tre

[2016-11-04 01:15] jasonLaster opened #1099 "[Source Tree] Only show one level"
We currently show a 2/3 levels and it can feel overwhelming. We should just show one level, which would be a significant improvement.

Ideally, we'd only show the first root's children, but that is blocked on #804 which will figure out how to show the first root of a managed tree.

### potential patch

it might be this easy:

[code]

### what we currently show
![screen shot 2016-11-03 at 9 07 20 p

[2016-11-04 13:25] jasonLaster opened #1101 "[File Search] whitespace queries"
We recently added a really great codemirror improvement for highlighting search queries. While
playing with it I noticed that we highlight empty and whitespace queries. I can see how this is *good* behavior for an editor where selecting and changing whitespace makes sense, but in our case I think it might be a bit disruptive as you're only really searching for a place to add a breakpoint or get so

[2016-11-04 14:10] jasonLaster opened #1102 "[Context Menus] Improve styles"
Context Menus are cool. In the panel, the debugger has special permissions to create it's own native context menus. In the web context, it's impossible to do this, so we create the context menu DOM and then add some [polyfills](https://github.com/devtools-html/debugger.html/blob/master/public/js/utils/menu.js) and [styling](https://github.com/devtools-html/debugger.html/blob/master/public/js/compo

[2016-11-04 14:28] jasonLaster opened #1104 "[Source Tabs] Add additional close items"
We recently added the source tabs context menu, which has two close items "close tab" and "close all". It'd be great to add the additional common close items for "close other tabs" and "close tabs to the right". I attached a screenshot below for where this is done.

Here's a patch to get started [patch](https://gist.github.com/jasonLaster/54c329896793a6b7f34fdfa121d6fcfb)

![screen shot 2016-11-04

[2016-11-04 15:34] jasonLaster opened #1105 "[console] source link does not open the correct location"
Clicking on a console error link does not open in the right spot. We've tested this in other places, so i think it might be an edge case with how we link to and HTML file... perhaps.

STR:
1. open fiddle https://jsfiddle.net/sheppy/f0xwxupk/
2. go to console and select the first line in the error
3. view the selected location in the debugger

Thanks @a2sheppy for pointing it out

![](http://g.reco

[2016-11-04 15:36] jlongster commented on #1105
This works in nightly for me. Are you sure you're testing the latest version?

[2016-11-04 15:40] a2sheppy commented on #1105
I'm using Nightly from Oct. 29 and this happens for me.

[2016-11-04 15:44] jasonLaster opened #1107 "[Conditional Breakpoints] dark theme line selection"
This might not be a bug, but I find the line selection a little bit odd when it wraps the conditional breakpoint pane in the dark theme.

I'm tempted to just not include the selected background in the dark theme. @helenvholmes thoughts?

### dark theme

![screen shot 2016-11-04 at 10 04 11 am](https://cloud.githubusercontent.com/assets/254562/20011954/c4888934-a283-11e6-9f6b-e3b334863137.png)

###

[2016-11-04 15:45] jasonLaster commented on #1105
it looks like there is a bug in bug 1313197 that broke linking completely :/ but this should not have resulted in the error you saw, because it shouldn't have opened up a source at all. So I don't know. I'll fix this bug (basically, it calls `selectSourceByURL` instead of `selectSourceURL`) and we'll see if we can repro later

[2016-11-04 16:06] jasonLaster opened #1108 "[ProjectSearch] tracking issue"
We'd like to re-add the ability to search across the project.

Links
* Here's the search [invision](https://projects.invisionapp.com/share/AY8OEG3C6#/screens/117937554_Debugger)
* Here's a link to [chrome's rdp method](https://chromium.googlesource.com/v8/v8/+/master/src/inspector/js_protocol.json#580)

Steps:
- [x] add a UI for showing project search #3090
- [x] Add a component for toggling proje

[2016-11-04 16:10] #1099 closed

[2016-11-04 16:13] jasonLaster opened #1109 "[Context Menu] Add seperators"
Our context menu polyfill does not currently support separators, but it would be pretty easy to add support for it.

#### patch

here's a quick hack i put together. It looks like the only thing *you* really need to do is add some decent CSS, which i didn't really try to do because it was a hack.

[code]

### screenshot
![screen shot 2016-11-04 at 12 15 02 pm](https://cloud.githubusercontent.com/as

[2016-11-04 16:21] jasonLaster opened #1110 "[Source Tabs] should show "(index)" title"
This is a fun bug where we're not showing html *index* files appropriately in the tabs. This bug will require looking at how we treat sources internally, which should be fun for the right person :)

STR:
1. go to localhost:7999/increment in firefox
2. select the (index) source in the tree
3. observe that the title is missing in the tab

### patch
[code]

### screenshot
![screen shot 2016-11-04 at

[2016-11-04 16:25] bomsy commented on #1101
I think that makes sense, in this context.

Interestingly,
- Atom doesn't match below 3 whitespaces , user has to use the  regexp `\s+`  instead.
- Chrome devtools matches on whitespaces.

Just throwing out there, should we match only if the whitespace length is above a certain number .. (e.g 2 or 3). That way we are sure the user is explicitly searching for spaces?

[2016-11-04 16:27] jasonLaster opened #1111 "[file search] style outline matches"
We recently landed support for outlining all of the search results. We should do a quick style pass to clean it up, although it is already pretty good.

Here's the designs from [invision](https://projects.invisionapp.com/share/AY8OEG3C6#/screens/117937554_Debugger) for search

The two takeaways for me are:
1. the outline should be light and stay out of the way
2. the selected match should be yello

[2016-11-04 16:29] jasonLaster commented on #1101
hmm, i’d be okay matching 3 or more… At that point I assume that’s what you
chose to do :)

I’d also be fine not matching at all. Feel free to make a call and we can
discuss more in the PR.

On Fri, Nov 4, 2016 at 12:25 PM Hubert Boma Manilla <
notifications@github.com> wrote:

[2016-11-04 16:32] Zacqary commented on #1101
:+1: on requiring 2 spaces to search. Although I'm not sure why Atom does 3, maybe there's a good rationale for that?

[2016-11-04 18:27] jasonLaster opened #1112 "[Breakpoints] <cmd>+b should toggle breakpoints"
In the old debugger `<cmd>+b` was a nifty keyboard shortcut for toggling a breakpoint on a line. `<cmd>+shift+b` not surprisingly opened the conditional bp panel.

We should support this in the new debugger.

Here's a patch to get started:
[code]

![](http://g.recordit.co/AyVpHVIaIE.gif)

[2016-11-05 03:20] clarkbw commented on #464
I'm going to close this out as I don't think we're going to get to it.

[2016-11-05 03:20] #464 closed

[2016-11-05 14:30] #866 closed

[2016-11-05 15:36] viswanathamsantosh opened #1115 "issue with Local Setup"
[npm-debug.txt](https://github.com/devtools-html/debugger.html/files/573309/npm-debug.txt)

was trying to setup the project locally on Ubuntu 15.10 on VMware running on windows 10 operating system.npm install gives the following error.
![debugger](https://cloud.githubusercontent.com/assets/3799600/20031318/b88df2b8-a332-11e6-84e5-232cf3c34604.png)
It says fsevents is not compatible with my OS. I t

[2016-11-05 19:29] jasonLaster commented on #1115
@wldcordeiro @shlomif @DevilstarII have you seen something like this before?

[2016-11-05 20:03] jasonLaster commented on #848
We can close this PR as it will be fixed when we remove the shams and update from m-c

[2016-11-05 20:03] #848 closed

[2016-11-05 20:07] jasonLaster opened #1119 "[RTL] Update call stack component"
@amitzur did some awesome work [here](https://github.com/devtools-html/debugger.html/pull/903) to make the debugger support right to left formatting.

We should continue making improvements to some of the other components. Lets start by focusing on the call stack, which should be relatively straight forward.

**How do i get started:**
* The best way to get started is to change the index.html `<htm

[2016-11-05 20:09] #1067 closed

[2016-11-05 20:10] jasonLaster commented on #1036
We didn't add file search tests, but we can do that later

[2016-11-05 20:10] #1036 closed

[2016-11-05 20:10] #1029 closed

[2016-11-05 20:10] #1005 closed

[2016-11-05 20:11] jasonLaster commented on #975
closing this as we'll update it when we remove the shams

[2016-11-05 20:11] #975 closed

[2016-11-05 20:11] jasonLaster commented on #949
This works now

[2016-11-05 20:11] #949 closed

[2016-11-05 20:16] jasonLaster opened #1120 "[Scopes] Expanding the tree throws "maximum call stack reached""
Expanding the scope tree for HTML Element prototypes and function prototypes eventually causes the tree class to reach a maximum call stack...

![](http://g.recordit.co/tzzHYODzm9.gif)

Error

[code]

[2016-11-05 20:20] jasonLaster commented on #887
I spoke with @automatedtester yesterday and he confirmed this was an existing issue with selenium 3 and the fix landed a couple of days ago. We could build manually to confirm this and perhaps use that...

[2016-11-05 20:29] jasonLaster commented on #828
I did a little research here and noticed that if you add a conditional breakpoint - false on a debugger statement, then the debugger does not pause.

I agree wih @DerpMcDerp, the main problem we're trying to solve is preventing debugger bottlenecks, basically anytime it keeps pausing and is annoying.

Given that, I think a good solution would be to provide the user with an easy way to disable debu

[2016-11-05 20:33] #1101 closed

[2016-11-05 20:34] jasonLaster commented on #894
We're not going to be able to get to this for sober time

[2016-11-05 20:34] #894 closed

[2016-11-05 20:38] jasonLaster commented on #886
Cleaned up awhile  ago

[2016-11-05 20:38] #886 closed

[2016-11-05 20:39] jasonLaster commented on #817
Closing this as it became more of a tracking MC changes issue which we worked on outside of this issues

We're all in favor of bot overlords

[2016-11-05 20:39] #817 closed

[2016-11-05 20:41] jasonLaster commented on #633
I'll do a lot of this soon in order to avoid overriding changes in m-c.

Thanks for all of the details. Great issue!

[2016-11-05 20:59] Zacqary opened #1122 "Add Flow support for L10N"
For https://github.com/devtools-html/debugger.html/pull/1121, I had to add this line to the top of `Frames.js`:
[code]

Without that, flow would complain like this:
[code]

There are a lot of reasons why I'm against adding stuff as globals and insist that every variable used in a file that's not part of the standard library be imported/required, but I think the fact that it conflicts with Flow is

[2016-11-05 22:51] kareniel commented on #971
I can take care of this tonight. :)

[2016-11-05 23:22] jasonLaster commented on #1122
Hmm.

[2016-11-05 23:26] jasonLaster commented on #1122
Sorry, clicked the wrong button.

Unfortunately, L10N, will probably have to be a global because of how it works on m-c. Here's the [panel](https://dxr.mozilla.org/mozilla-central/source/devtools/client/debugger/new/panel.js#10). Feel free to grep for L10N in the devtools dir, it's everywhere.

I bet we can teach flow to understand L10N... We do something similar for eslint.
Here's a [link](https:

[2016-11-05 23:29] Zacqary commented on #1122
Would it work to just have a module that does `export window.L10N as default ` and then remove L10N from eslint's acceptable globals?

[2016-11-05 23:31] jasonLaster commented on #1122
Perhaps. I wouldn't be opposed to that, but it would be different from how
other tools do it.

On Sat, Nov 5, 2016 at 7:30 PM Zacqary Adam Xeper <notifications@github.com>
wrote:

[2016-11-05 23:43] jasonLaster commented on #1122
After thinking about it a bit more, we probably should be consistent and stick with the global. Sorry for being ambivalent

[2016-11-06 00:25] bomsy commented on #1104
fixing this!

[2016-11-06 04:47] kareniel commented on #906
I managed to get the driver to set preferences correctly, (confirmed by `about:config`) but I still need to use `listen` with GCLI.

So I thought I would automate that part with selenium with key presses ( 😃  ) but turns out the functions we need for that aren't implement yet in gecko_driver.

[code]

[Here's a link](https://hg.mozilla.org/mozilla-central/file/tip/devtools/shared/gcli/commands/lis

[2016-11-06 04:52] jasonLaster commented on #906
Thanks. This is close to my heart. I'd love a fix for this.

I think the challenge is to call gecko driver with the right -b params one
of which is debugger-server. Right now that's not happening :)

This used to work for selenium 2 with non marionette gecko bindings, but
alas that started crashing with Firefox 48...

I could easily be missing something here

Mind explaining what you found a bit m

[2016-11-06 04:53] jasonLaster commented on #906
By the way, it's totally in our control to change m-c if we have a good
fix.
On Sun, Nov 6, 2016 at 12:52 AM Jason Laster <jason.laster.11@gmail.com>
wrote:

[2016-11-06 05:32] kareniel commented on #906
*gasp* I actually have a fix for this now. 😮
Do you want me to explain or make a pull request?

[2016-11-06 10:44] shlomif commented on #1115
@jasonLaster : I don't think I saw something like this.

[2016-11-06 14:36] kareniel commented on #906
I dove deep into the issues on Selenium + their js docs & the issues on gecko-driver and found out that the Profile object never gets handed to gecko_driver. I'm not exactly sure why but I think it's because this way of setting options will be deprecated in favor of using Capabilities.

[2016-11-06 14:56] jasonLaster commented on #906
I'll try it out soon.

You succeeded where I failed several times. I've probably spent 10+ hours
debugging selenium internals trying to figure out how to pass the binary
args.

I think you're right about the future being in capabilities. That makes a
ton of sense

It's hard to overstate how helpful this is. It's great to be able to do

npm i;
npm run firefox;
npm start

On Sun, Nov 6, 2016 at 9:36

[2016-11-06 16:14] #906 closed

[2016-11-06 16:41] jasonLaster commented on #1066
this is a dupe of #1004

[2016-11-06 16:41] #1066 closed

[2016-11-06 17:00] jasonLaster commented on #590
I'm going to close this now as I think the first step is feature parity, and then we can focus on long term feature improvements.

[2016-11-06 17:00] #590 closed

[2016-11-06 19:00] charltonaustin opened #1125 "Update documentation to reflect issues with NPM install"
After npm install there is an issue with running the application.
[code]

Running ```$PROJECT_HOME/bin/preinstall``` fixes the issue.

[2016-11-06 19:06] charltonaustin commented on #1104
How's that coming?

[2016-11-06 19:12] charltonaustin commented on #1110
I'd like to work on this.

[2016-11-06 19:19] gavlu commented on #1109
Working on this.

[2016-11-06 19:38] samuelfullerthomas commented on #929
Working on this!

[2016-11-06 19:40] afeld opened #1127 "consolidate getting started documentation"
The instructions for getting started seem to exist a few places:

* https://github.com/devtools-html/debugger.html#getting-started
* https://github.com/devtools-html/debugger.html/blob/master/CONTRIBUTING.md
* https://github.com/devtools-html/debugger.html/blob/master/docs/local-development.md
* https://docs.google.com/document/d/1D1RYP4ImTtY2_STOTZ92Ozb-b4c-gr4MvGcR8E4yjdM/edit#

Would be great t

[2016-11-06 19:45] Zacqary opened #1128 "Fix font sizes and default sidebar sizes for low-resolution screens"
This is what the devtools look like when your window takes up half of the screen on a 13-inch MacBook Pro set to the "Default" screen resolution:
<img width="792" alt="screen shot 2016-11-06 at 2 40 00 pm" src="https://cloud.githubusercontent.com/assets/1445834/20040959/2d105c96-a42f-11e6-85fd-db601fbf91fc.png">

A lot of people turn their screen resolutions up, but quite a few people don't. It al

[2016-11-06 20:45] thejones commented on #1119
Working with @noeladd we found that the breakpoint text does not format correctly when running RTL mode.

```{} || var app = app ``` instead of ```var app = app || {}```

<img width="828" alt="screen shot 2016-11-06 at 3 40 15 pm" src="https://cloud.githubusercontent.com/assets/682850/20041498/ea1aa41a-a437-11e6-825a-937cfb9afe05.png">

[2016-11-06 21:28] jyavenard commented on #590
It's kind of an essential feature missing... At this stage, with no easy way to check a variable content, the current JS debugger found in Nightly is rather unusable...

[2016-11-06 21:32] jacobjzhang opened #1137 "networkRequest.js trying to fetch JSON list error"
Upon running 'npm start', the debugger console shows this error. I'm sure that I'm not utilizing that port for any other purpose, as the only other window open was http://localhost:7999/todomvc/ in Firefox for the backbone app.

Screenshot attached.
<img width="1389" alt="screen shot 2016-11-06 at 4 29 11 pm" src="https://cloud.githubusercontent.com/assets/6591285/20041906/91456ddc-a43e-11e6-9a7b-

[2016-11-06 23:57] jasonLaster commented on #590
Hi @jyavenard! I'm not sure what you mean by "check a variable content". I would think the console and scopes help with this. With that said, we're working on getting to parity with watch expressions over here https://github.com/devtools-html/debugger.html/issues/916

[2016-11-06 23:59] #1096 closed

[2016-11-07 00:03] jyavenard commented on #590
In a debug build (though it's not much better with opt build), "scopes" will take over 1 minute to open on my 8 cores mac pro. During the time scopes populate, the entire browser is unresponsive (as all happens on the main thread)
Using the console is also less than ideal everytime you want to check the value of a variable.
Hovering the mouse over the variable doesn't work (like it does in chrome)

[2016-11-07 00:05] jasonLaster commented on #590
Hmm, that's a really good point. I hadn't considered the `debug build` issue.

We have "hover" and "watch expressions" on the roadmap, but it sounds like in your case it might be helpful to disable the new debugger in the pref `devtools.debugger.new-frontend`

[2016-11-07 00:07] jasonLaster opened #1139 "[Source Tabs] Hide batch close items when there's one tab"
There are a couple of items in the source tab context menu related to closing multiple tabs. We should only show those items when there are multiple tabs open!

[2016-11-07 00:08] jasonLaster commented on #1137
Great issue. i'd noticed that as well. this is the debugger trying to connect to chrome. We should do something to suppress this or make it more clear.

[2016-11-07 00:41] jasonLaster commented on #1139
Also, don't show "close to the right" if you're selecting the right most one :)

[2016-11-07 00:44] #1068 closed

[2016-11-07 00:44] #1104 closed

[2016-11-07 00:44] #1109 closed

[2016-11-07 00:44] #1110 closed

[2016-11-07 00:47] jasonLaster commented on #1125
thanks, unfortunately it's not clear where the module.js error is being thrown

[2016-11-07 04:38] bomsy commented on #1139
I'm getting this fixed!

[2016-11-07 12:01] DevilstarII commented on #1115
@jasonLaster @viswanathamsantosh

Well, it's an optional dependency and non-macOS users face this problem as far as i understand. But according to wldcordeiro's [comment](https://github.com/devtools-html/debugger.html/issues/1043#issuecomment-257377595), this shouldn't be an issue to start dev-server.

[2016-11-07 15:51] #971 closed

[2016-11-07 15:59] jasonLaster opened #1141 "[Source Search] cleanup the summary field"
@roberttod recently added a great summary field for source searches e.g "2 instances of app found".

There are a couple of minor tweaks needed to be consistent with the [designs](https://projects.invisionapp.com/share/AY8OEG3C6#/screens/117937554_Debugger).

1. some top left padding so the text is not flush
2. it should be hidden when there are no matches

[code]

![](http://g.recordit.co/9zrYSy4H

[2016-11-07 16:08] jasonLaster opened #1142 "[L10N] support pluralization"
There are strings, which we would like to pluralize in the debugger.

A good place to start is to pluralize the soruce.search results summary.

here are some relevant links

* https://dxr.mozilla.org/mozilla-central/source/toolkit/locales/en-US/chrome/global/intl.properties
* http://searchfox.org/mozilla-central/source/devtools/shared/plural-form.js
* http://searchfox.org/mozilla-central/source/de

[2016-11-07 16:35] jasonLaster opened #1143 "[L10N] Fix hardcoded strings"
We should replace these hard-coded strings with L10N strings. Here are the [docs](https://github.com/devtools-html/debugger.html/blob/master/docs/local-development.md#internationalization) for L10N.

* There are hard-coded strings: "Loading..." when clicking a file, "No Breakpoints" in the sidebar.
* Several tooltips in the sidebar show %S, and there are hard-coded strings ("Disable breakpoints").

[2016-11-07 16:40] clarkbw commented on #1139
This is fixed now, right?

[2016-11-07 18:01] bomsy commented on #1139
yes it is!

[2016-11-08 05:53] #1139 closed

[2016-11-08 12:44] Garbee commented on #1115
It doesn't look to me as if this is an fsevents problem at all. It looks like something else is failing in the build causing a file to not get made. Then as a chmod on them is attempted, that fails due to them not existing.

`development-server.js` in the `devtools-local-toolbox/bin` directory when installed seems to be missing. I think the problem lies in that packages install process and not fse

[2016-11-08 14:03] jasonLaster commented on #1115
Nice hawk eyes @Garbee!

We've actually seen this bug with the local-toolbox before. Version 0.0.6 added `bin` to the list of files [here](https://github.com/devtools-html/debugger.html/blob/master/packages/devtools-local-toolbox/package.json#L49-L52)

@viswanathamsantosh was this a fresh git clone of the project three days ago? Can you confirm the toolbox version [here](https://github.com/devtool

[2016-11-08 14:56] #1141 closed

[2016-11-08 15:58] jagtalon commented on #1071
I got this!

[2016-11-08 18:00] #1120 closed

[2016-11-08 18:05] jasonLaster commented on #1071
Thanks!
On Tue, Nov 8, 2016 at 10:58 AM Jag Talon <notifications@github.com> wrote:

[2016-11-08 19:04] montogeek commented on #983
I am working on this :)

[2016-11-08 19:31] montogeek commented on #1004
Colorized diff https://gist.github.com/jasonLaster/48a09ff185f13ec7fa0da30298a8603e

[2016-11-08 19:49] jasonLaster commented on #800
This is done! Great job @bomsy!

[2016-11-08 19:49] #800 closed

[2016-11-08 19:52] jasonLaster commented on #1102
Hey @gavlu, how's this going?

[2016-11-08 19:52] jasonLaster commented on #1105
@jlongster I believe this is done?

[2016-11-08 19:53] #1097 closed

[2016-11-08 19:53] jasonLaster commented on #1097
#1113

[2016-11-08 19:54] jasonLaster commented on #1085
ping @helenvholmes do you have time to tackle this?

[2016-11-08 19:56] gavlu commented on #1102
Hey, going to finish up and submit a PR later today.

[2016-11-08 19:59] jasonLaster commented on #1038
Closing this as we've addressed the source search tweaks.

[2016-11-08 19:59] #1038 closed

[2016-11-08 20:01] jasonLaster opened #1149 "[Source Search] Show files matched"
The designs for source search include a "files matched" summary in the search bar. The files matched summary is only for exact matches for sources, for example "bundle" as opposed to partial matches "bundle-app.js".

I personally don't feel like we need to do this as it adds noise to the UI. Perhaps if we wanted to add a toggle button for doing exact matches we could add that to the UI. With that

[2016-11-08 20:02] jasonLaster commented on #1040
Thanks @jacobjzhang

[2016-11-08 20:02] #1040 closed

[2016-11-08 20:02] jasonLaster commented on #992
Closing now, we re-open this if others see it.

[2016-11-08 20:02] #992 closed

[2016-11-08 20:03] jasonLaster commented on #966
@akhillb do you think you can get to this?

[2016-11-08 20:04] jasonLaster commented on #1037
this is tested

[2016-11-08 20:04] #1037 closed

[2016-11-08 20:11] jasonLaster commented on #963
@helenvholmes mind taking a look at this wth as it's related to themes?

[2016-11-08 20:11] jasonLaster commented on #929
Thanks!

[2016-11-08 20:11] #929 closed

[2016-11-08 20:12] jasonLaster commented on #923
Hey @amitzur have you been able to make progress on this?

[2016-11-08 20:12] jasonLaster commented on #899
@jlongster this might be a good time to break down some of this work

[2016-11-08 20:13] jasonLaster commented on #890
Hey @helenvholmes does this issue make sense?

[2016-11-08 20:13] jasonLaster commented on #887
@kareniel did a great job tackling this!

[2016-11-08 20:13] #887 closed

[2016-11-08 20:24] jasonLaster commented on #840
@jlongster how do you feel about closing this? We've discussed it before and I'm not sure there's anything we can do at this point

[2016-11-08 20:25] jasonLaster commented on #776
closing this as it's not something we'll likely get to in the near future. It's a cool idea though!

[2016-11-08 20:25] #776 closed

[2016-11-08 20:29] jasonLaster commented on #639
closing this and adding a new "clean-exit" issue as these small edge cases might be nice. The closure issue does not seem useful as we have Reps

[2016-11-08 20:29] #639 closed

[2016-11-08 20:30] jasonLaster opened #1150 "Test closing the debuggee"
There are two legacy tests for closing the debuggee and associated windows while paused

- [ ] browser_dbg_clean-exit-window.js
- [ ] browser_dbg_clean-exit.js

We would also like to test persisting:

- [x] tabs
- [ ] selected source
- [ ] watch expressions
- [x] breakpoints

[2016-11-08 20:31] jasonLaster commented on #635
This is not something we can do on the client. We should plan to do a fix in the server.

[2016-11-08 20:35] jasonLaster commented on #582
I'll take this!

[2016-11-08 20:59] jasonLaster commented on #583
This issue is ready to be `up for grabs`.

@bomsy, @kareniel, @jagtalon are you interested?

[2016-11-08 21:00] bomsy opened #1151 "Improvement on the action to close multiple tabs"
At the moment we have an action to close a single tab, which is called N times to close N tabs. An improvement would be to create an action which knows how to close multiple times which we call once.

[2016-11-08 21:00] jasonLaster commented on #454
closing this for now. It's in the project cleanup project as a note

[2016-11-08 21:00] #454 closed

[2016-11-08 21:01] bomsy commented on #1151
https://github.com/devtools-html/debugger.html/pull/1134#issuecomment-258708053

[2016-11-08 21:02] jagtalon commented on #583
@jasonLaster would like to tackle it!

[2016-11-08 21:05] jasonLaster commented on #555
closing as we can likely investigate when we have another need

[2016-11-08 21:05] #555 closed

[2016-11-08 21:06] jasonLaster commented on #417
This might be nice to budget for 53

[2016-11-08 21:08] kareniel commented on #583
@jagtalon dang, you fast :smile:

[2016-11-08 21:14] jagtalon commented on #583
@kareniel haha I just happened to open my email at that time

[2016-11-08 21:25] jasonLaster commented on #1151
Thanks for filing @bomsy

[2016-11-08 21:32] jasonLaster commented on #804
@bomsy are you still interested in tackling this? I know you have a lot on your plate

[2016-11-08 21:32] jasonLaster commented on #804
I did a quick pass on this and I think we can tackle this issue like this:

who knows if it will work in practice :)

[code]

[2016-11-08 22:01] bomsy commented on #804
Cool ... i'm still interested. just wanted to quickly get issue #1151 out.

[2016-11-08 22:09] jasonLaster opened #1153 "Change directory structure"
Currently, the debugger's source lives in `public/js/**` we would like to move these files to a new directory `src`.

Here's a more verbose description of the files that will move:
* `public/js/**/*` => `src`
* `public/build` => `assets/build`
* `public/images` => `assets/images`
* `public/debugger.properties` => `assets/locales/debugger.properties`
* `packages/devtools-local-toolbox/public/js` =>

[2016-11-08 22:16] amitzur commented on #923
I did just now, but not successful yet.
There's an issue with postcss-bidirection not working properly. It throws the error below (also reproduced with postcss-cli).
I managed to make postcss to work with just autoprefixer as a POC. Take a look at this commit 763c4fec33885ae9bc441f604eb0a1f9cfb1bdd3 to see my changes. I intentionally targeted only Sources.css until I get it to work.
Any clue?

[co

[2016-11-08 23:47] bomsy commented on #1151
@jasonLaster I'm updating the reducers so we dispatch a "CLOSE_TABS". Is that direction ok?

[2016-11-08 23:48] jasonLaster commented on #1151
@bomsy yup, that makes sense!

[2016-11-08 23:50] jasonLaster commented on #583
🔫  🔫

[2016-11-08 23:51] jasonLaster commented on #983
thanks for the ping @montogeek. Just moved it to `in progress`. excited to see how you got to `%77`

[2016-11-09 00:08] jasonLaster commented on #923
Hmm @amitzur, i'm not sure. TComb is a little weird as we use int in our project for types, but i assume this is `tcomb-postcss` erroring.

This looks like this [value](https://github.com/devtools-html/debugger.html/blob/master/public/js/components/Sources.css#L2) is not supported.

Try removing line two and continuing.

@garbee have you seen this before with postcss?

[2016-11-09 00:40] amitzur commented on #923
nah, it's something else. I was suspecting version incompatibility.
I'm currently debugging it with this script which I run with browserify:
[code]
What I found so far is that it's walking on css rules and seems to be walking again on the rules that were dynamically created (the html[dir="rtl"] ones). Still investigating...

[2016-11-09 01:08] amitzur commented on #923
Ok, investigation is stuck. I cannot find the reason it fails, and I have checked version combinations of postcss 4 and 5.0.10.
Seems like postcss is calling the plugin's callback also on declaration (padding-left:10px) instead of only on rules. So tcomb throws an arg type error.
I have no idea how to make it work and what's the error :/

[2016-11-09 01:14] jasonLaster commented on #923
CC'ing @gasolin. He's the creator of `postcss-bidirection` and works on the team.

[2016-11-09 15:24] #1071 closed

[2016-11-09 15:24] #1102 closed

[2016-11-09 15:25] jasonLaster commented on #966
@akhillb I'm going to move this back to "up for grabs" feel free to re-claim it if you've got some time.

[2016-11-09 15:37] jasonLaster opened #1156 "[Toolbox] Open the console with the local toolbox"
This issue tracks the work for re-using the toolbox with the console.

I'm doing this work [here](https://github.com/jasonlaster/console.html) and in this [branch](https://github.com/devtools-html/debugger.html/compare/master...jasonLaster:console-html).

There are several sub-tasks:

- [x] use webpack to bundle the code
- [x] use the dev-server to serve the bundle and styles
- [x] use the toolbox

[2016-11-09 17:09] #648 closed

[2016-11-09 17:39] viswanathamsantosh commented on #1115
Thank you so much guys! You are wonderful. I updated my local master branch and ran 'npm install'. It just gave me a warning unlike before which was throwing errors. My local is up now. Thank you. :)

[2016-11-09 17:44] jasonLaster commented on #1115
Thats great!

Happy to hear. Take a look at our up for grabs!
On Wed, Nov 9, 2016 at 12:40 PM Santosh Viswanatham <
notifications@github.com> wrote:

[2016-11-09 19:00] #1082 closed

[2016-11-09 19:00] jasonLaster commented on #1082
We're going to switch to yarn install soon

[2016-11-09 19:01] jasonLaster commented on #1115
What team are you on?

[2016-11-09 19:01] #1115 closed

[2016-11-09 19:02] viswanathamsantosh commented on #1115
![debugger2](https://cloud.githubusercontent.com/assets/3799600/20150573/7782a296-a66b-11e6-87b8-28c4c4d90df7.png)
Oops sorry! got this error on 'npm start Firefox'. Any thoughts?
[npm-debug.txt](https://github.com/devtools-html/debugger.html/files/581595/npm-debug.txt)

[2016-11-09 19:03] jasonLaster commented on #1115
Ah. No worries. We're still working on npm run Firefox. Use the long form
command in the docs :)
On Wed, Nov 9, 2016 at 2:02 PM Santosh Viswanatham <notifications@github.com>
wrote:

[2016-11-09 19:05] viswanathamsantosh commented on #1115
I am a volunteer from the Campus Program team under Participation team, planning to create an activity for Students in campuses to participate in contributing to Firefox dev tools(and may be debugger.html?) so thought to explore this myself first. :D

[2016-11-09 19:52] jasonLaster commented on #1115
Oh wow neat!

I'd be happy to setup a hangout and help brainstorm contributions to both!

But yeah, take a stab at an up for grab so you get the hang of it.
On Wed, Nov 9, 2016 at 2:05 PM Santosh Viswanatham <notifications@github.com>
wrote:

[2016-11-10 06:58] magicp-github opened #1160 "Fix blank filename in source-tab"
**Steps to Reproduce:**
1. Start Nightly
2. Go to Mercurial "https://hg.mozilla.org/mozilla-central/"
3. Open Debugger (Ctrl+Shift+S)
4. Select a source file "(index)"
5. Check .filename in the current source tab

**Actual Results:**
.filename is blank
![fix-blank-filename-in-source-tab](https://cloud.githubusercontent.com/assets/13914314/20167286/ec689654-a75d-11e6-9b03-4cb60ba7bcc1.png)

**Expec

[2016-11-10 07:25] magicp-github opened #1161 "Fix blurred pause icon in 100% DPI"
**Steps to Reproduce:**
1. Start Nightly in 100% DPI
2. Open Debugger (Ctrl+Shift+S)
3. Check the pause icon

**Actual Results:**
![fix-blurred-pause-icon](https://cloud.githubusercontent.com/assets/13914314/20167812/654457d6-a761-11e6-98fb-843ba40f86b1.png)

**Expected Results:**
Thin line style icon is not blurred.

[2016-11-10 07:56] magicp-github opened #1162 "Don't overflow searchinput and no-result-msg"
**Steps to Reproduce:**
1. Start Nightly
2. Go to any sites (e.g. https://www.mozilla.org/en-US/contribute/)
3. Open Debugger (Ctrl+Shift+S)
4. Open searchinput (Ctrl+P)
5. Type search words (e.g. "zzzzz" ) until overlap/overflow

**Actual Results:**
searchinput and no-result-msg overlap/overflow, then layout is broken.
![do-not-overflow-and-overlap-searchinput-and-no-result-msg](https://cloud.git

[2016-11-10 13:40] jasonLaster commented on #1160
This is a dupe of #1110

nice find though!

[2016-11-10 13:40] #1160 closed

[2016-11-10 13:44] jasonLaster commented on #1162
Thanks for finding this

[2016-11-10 13:45] jasonLaster commented on #1161
@helenvholmes mind looking into this?

[2016-11-10 13:53] jasonLaster commented on #1156
Hey @juliandescottes, making progress

![](http://g.recordit.co/YMO6vrkkBX.gif)

[2016-11-10 17:05] nt1m commented on #1161
@jasonLaster @helenvholmes You can use the SVGs from M-C which don't have the issue.

[2016-11-10 17:53] magicp-github commented on #1161
New Debugger is using inline SVGs. So it's not same situation.

[2016-11-11 02:39] #1143 closed

[2016-11-11 03:08] kareniel commented on #880
I'm gonna start looking at this tonight.

[2016-11-11 04:31] jlongster opened #1166 "Re-land #1157 "Fix hardcoded strings""
Had to revert #1157, so need to make a new PR. This issue can be closed if a new PR comes through, but filing just in case.

[2016-11-11 04:32] jlongster opened #1167 "Re-enable browser_dbg-searching.js mochitest"
I had to disable this mochitest because it wasn't working on try. See https://treeherder.mozilla.org/#/jobs?repo=try&revision=f81a032de8b732963fa93589cff9b7830b43098e

[2016-11-11 04:48] kareniel opened #1168 "npm run firefox doesn't set firefoxOptions on webdriver instance"
selenium-webdriver was recently updated from 3.0.0 beta-x to 3.0.1 on npm. Upgrading to the latest version breaks the script behind `npm run firefox` so that the firefoxOptions don't get set on the webdriver instance.

I'm investigating.

(if you run into this, you can run `npm install selenium-webdriver@3.0.0-beta-3` to get `npm run firefox` to work)

You can find the 3.0.0-beta-3 -> 3.0.1 tags c

[2016-11-11 07:10] jasonLaster commented on #1166
Sorry. Thought the bundle was a patch on m-c. Is be happy to re-open this when the time is right :)

[2016-11-11 16:04] clarkbw commented on #614
I believe this issue has gone stale, `npm run mocha-server` no longer seems to run any tests.

[2016-11-11 16:07] clarkbw commented on #676
I'm not able to reproduce this anymore

[2016-11-11 16:09] clarkbw commented on #534
Closing this out for now, we'll open this up again as a user story later.

[2016-11-11 16:09] #534 closed

[2016-11-11 16:10] clarkbw commented on #914
@jlongster are you seeing this in the latest bundle?

[2016-11-11 23:20] shlomif opened #1172 "Right click + Add Breakpoint does not do anything nor does it dismiss the popup context menu"
Right click + Add Breakpoint does not do anything nor does it dismiss the popup context menu in the firefox 49.0.2 binary from mozilla.org on Mageia Linux x86-64 v6 when running on a KDE Plasma 5 desktop. This is with commit ab94d5b5bf0db831cfb34316383b3aa3f0025138 on the master branch. I'll try to investigate further. "npm run test-all" appears to pass.

[2016-11-12 00:24] shlomif commented on #1172
ok, I am now getting this:

[code]

I noticed that with this patch (sorry for the bad formatting):

[code]

The Twilly alert never happens. It's strange that .forEach() is not there.

[2016-11-12 05:34] jasonLaster commented on #1168
Thanks. I noticed this as well, but wasnt 100% sure. Thanks for investigating

[2016-11-12 07:52] magicp-github commented on #856
Hello @jasonLaster,
This bug still reproduce in latest Nightly build (20161111030203). Any update?

[2016-11-12 12:13] shlomif commented on #1172
I've now checked it in chromium-browser, and the symptoms of this bug do not happen there - "Add Breakpoint" does what it should and dismissed the popup and I'm getting two "Twilly" alerts.

[2016-11-12 13:24] shlomif commented on #1172
Just for the record, .forEach() on an array reference works as expected in the firefox web console:

[code]

[2016-11-12 14:06] shlomif commented on #1172
As discussed on #devtools on irc.mozilla.org, it turns out that Firefox 49.x and below do not support the `.forEach()` method for NodeList - see https://developer.mozilla.org/en-US/docs/Web/API/NodeList . firefox 50 and above and the current chromium-browser should be ok. Now the question is - whether we want to support "older" browsers or not.

[2016-11-12 19:31] bomsy commented on #804
done! working on this now!

[2016-11-12 21:00] magicp-github opened #1173 "Don't set string [object object] after opening search box"
**Steps to Reproduce:**
1. Start latest Nightly
2. Open Debugger (Ctrl+Shift+S)
3. Click [+] button > Search box is opened
4. Close search box
5. Click [+] button again

**Actual Results:**
String "[object object]" is set at search box.

![do-not-set-string- object object -after-opening-searchinput](https://cloud.githubusercontent.com/assets/13914314/20240834/08a6a9aa-a966-11e6-91bf-f6f50bd53daa.p

[2016-11-12 22:54] jasonLaster commented on #804
:thumbsup:

[2016-11-13 03:53] jasonLaster commented on #856
I'll look into this on monday

[2016-11-13 07:31] wldcordeiro commented on #1153
I'll grab this. Got my new setup working too 👍

[2016-11-13 15:48] jasonLaster commented on #1153
Brave! Welcome back :)

[2016-11-13 17:07] jasonLaster opened #1176 "[File Search] Improve Cmd+G"
We missed two cmd+g features when we did the initial implementation

- [x] should open the search box if there is no search query
- [x] should iterate through search results when the search box is not opened

---

Here's a sketch of a solution.
* I changed how `traverseResultsPrev` was bound so that it could be unbound on dismount
* You'll need to add `editorSearch` in your [local config](https://

[2016-11-13 17:09] jasonLaster opened #1177 "[File Search] Cmd+F should open the search bar with the editor selection"
When the editor has a text selection, `<cmd>+f` should open the editor search bar with the user selection.

Feel free to play with other editors, chrome and our old firefox debugger had this behavior.

Here's a sketch of a possible solution. I did a quick search of the [codemirror](https://codemirror.net/doc/manual.html) docs for getting the user selected text. This could easily be wrong. For inst

[2016-11-13 18:14] Garbee opened #1178 "Customizable Keyboard Shortcuts"
One of the big requests for a while now for DevTools has been [customizable keyboard shortcuts](https://bugs.chromium.org/p/chromium/issues/detail?id=174309) so developers can change how they get around the system quickly.

Since this project is starting from scratch, it would be very beneficial if we could come up with a good way to allow this from the start. This enhancement would give developer

[2016-11-13 18:50] kareniel commented on #1168
Turns out the latest version selenium-webdriver has a fix that sets the moz:firefoxOptions capability behind the scenes when it's given configuration options for the FirefoxDriver. ;)

[2016-11-13 19:07] jasonLaster commented on #1168
Great. So just to confirm, can we update our package.json and lockfile and
be good.

Mind opening a PR?
On Sun, Nov 13, 2016 at 1:50 PM Jonathan Dupre <notifications@github.com>
wrote:

[2016-11-13 19:32] kareniel commented on #1173
I'm taking a look at this right now. I should have a fix by the end of the day :)

[2016-11-13 22:41] Garbee opened #1183 "Align prettify button to the left"
We could move the prettify source button to the left to align with Chrome's layout. This would provide at least a little more consistency between our layouts which is useful to developers. Minor detail, but pleasant when our users don't need to search for functionality.

![selection_002](https://cloud.githubusercontent.com/assets/868301/20249499/51b1152e-a9c8-11e6-8dec-1a1e1a97c20f.png)

[2016-11-14 00:09] jasonLaster commented on #1183
Yup. I like that it's below the gutter as well.

For historical reasons. It was in the right I think because in the first design it floated above the editor.

Helen what do you think?

[2016-11-14 04:31] clarkbw commented on #1177
@jasonLaster approximate difficulty?

[2016-11-14 04:33] jasonLaster commented on #1177
Medium

I'll sketch it tomorrow
On Sun, Nov 13, 2016 at 11:31 PM Bryan Clark <notifications@github.com>
wrote:

[2016-11-14 14:06] jasonLaster opened #1188 "[Editor] Extract utility methods"
The Editor component has several utility functions who's job it is to query or update the state of the codemirror document.

    setText, setMode, editorHeight, highlightLine,
    showSourceText, resizeBreakpointGutter,
    clearDebugLine, setDebugLine

Currently some of the utilities are in [utils/editor.js](https://github.com/devtools-html/debugger.html/blob/master/public/js/utils/editor.js) and

[2016-11-14 14:12] jasonLaster commented on #1176
I looked into this issue this morning and found that it could be potentially a decent amount of code churn.

Why?

Currently the `EditorSearchBar` handles `<cmd>+G`. When the search bar is not shown it is dismounted and will not handle iterating through the results.

[2016-11-14 15:32] helenvholmes commented on #1183
Sounds good to me!

[2016-11-14 16:07] jasonLaster commented on #1183
Here's a patch to get started:

We do some funky things with the command bar and [RTL](https://github.com/jasonLaster/debugger.html/blob/60bf5585453a44a398cad056a936e529c4327f1d/docs/local-development.md#internationalization) positioning.

[code]

[2016-11-14 16:09] #1168 closed

[2016-11-14 16:26] jasonLaster opened #1192 "[Storybook] rm storybook"
We haven't been using storybook for some time and a lot of the work has fallen out of date. This might be controversial, but I recommend that we remove Storybook for the time being and then we can evaluate re-adding storybook in some cases that now make sense.

For instance:
* we have several components that do not use much state (autocomplete, search box)
* we have some components that could use

[2016-11-14 16:51] clarkbw commented on #1192
I agree, I was going to write up this same issue.

[2016-11-14 17:15] Garbee commented on #1183
Why are we floating instead of just using Flexbox?

[2016-11-14 17:20] jasonLaster commented on #1183
Good call. Flexbox would be better!
On Mon, Nov 14, 2016 at 12:15 PM Jonathan Garbee <notifications@github.com>
wrote:

[2016-11-14 17:35] Garbee commented on #1183
I'll take a look at this once I have the stylelint fixes in place then.

[2016-11-14 17:41] jasonLaster opened #1194 "[File Search] The new search bar can overlay the old search bar"
There's a strange situation you can get in when the editor search bar is enabled in the panel, where you close the new search bar, but the old one is still there.

[2016-11-14 17:42] jasonLaster commented on #1183
Sounds good
On Mon, Nov 14, 2016 at 12:35 PM Jonathan Garbee <notifications@github.com>
wrote:

[2016-11-14 17:56] Garbee opened #1195 "Document directory structure for contributors"
The lerna and sub-package setup can be pretty wonky for people that aren't used to it. A good way to help make things simpler for people in the future (especially as people are looking at tooling issues) is a quick document on the directory structure. Just a quick glance at what should be in what folders with a quick description.

A quick tree (depth 2 and ignoring node_modules) yields:

[code]

I

[2016-11-14 18:47] wldcordeiro commented on #1192
I support this. If we're going to keep it around we should keep it up to date, otherwise it's just extra baggage to confuse people.

[2016-11-14 18:48] wldcordeiro commented on #1195
The structure is about to change quite a lot based on #1184 but I do support having some documentation of what the structure is like and what lives where.

[2016-11-15 15:13] jasonLaster commented on #1195
This is a great idea.

I often find that one of the first things I do in a new project is grok the structure.

Here's the new structure
[code]

Couple points:

* the packages directory will likely move to it's own repo in a month. There's nothing there that is *debugger* specific and as other tools go to github they will be shared.
* I'll be pushing a toolbox improvement to make it usable for the

[2016-11-15 17:37] montogeek commented on #1069
I am hitting this issue in OSX Sierra, nothing is running in any of the ports used by the debugger..

Log:
[code]

[2016-11-15 18:35] jasonLaster commented on #1173
This was done in #1185

[2016-11-15 18:35] #1173 closed

[2016-11-15 18:36] jasonLaster commented on #1153
This was done in #1184

[2016-11-15 18:36] #1153 closed

[2016-11-15 18:41] jasonLaster commented on #1050
@shlomif mind doing a fresh git clone, yarn install? I'd like to see if [this](https://github.com/devtools-html/debugger.html/blob/master/CONTRIBUTING.md#linux-or-macos) works for you.

[2016-11-15 18:41] jasonLaster commented on #965
Will be addressed in #1156

[2016-11-15 18:43] jasonLaster commented on #932
This is being addressed by #1181

[2016-11-15 18:43] #932 closed

[2016-11-15 18:46] jasonLaster commented on #881
I'm closing this as it's not a priority for local development at the moment.

If it's useful for the standalone debugger, the priority could change.

[2016-11-15 18:46] #881 closed

[2016-11-15 18:47] jasonLaster commented on #868
This is not a priority at the moment. If we feel like it is causing beginners problems, we can re-prioritize it though

[2016-11-15 18:47] #868 closed

[2016-11-15 18:48] jasonLaster commented on #842
This is not an issue with linux, it's an issue with the examples server not being started, which was just fixed in #1201

[2016-11-15 18:48] #842 closed

[2016-11-15 18:49] jasonLaster commented on #804
@bomsy let me know if you have any questions here. This one could be tricky :)

[2016-11-15 18:49] jasonLaster commented on #797
Moved this to an `enhancement` note!

Thanks again for posting

[2016-11-15 18:49] #797 closed

[2016-11-15 18:50] jasonLaster commented on #676
closing, we can open it again if we see it.

[2016-11-15 18:50] #676 closed

[2016-11-15 18:52] jasonLaster commented on #614
Hmm, i agree that this test has gone stale as we haven't had time to work on it.

I ran `npm run mocha-server` recently and found it really helpful to run other tests.

There *are* lots of failing UI unit tests too, which we haven't kept up to date. My theory is when this test failed, instead of turning it off in the web context we turned off the web unit tests, which is much worse :) because now

[2016-11-15 18:52] #614 closed

[2016-11-15 18:53] jasonLaster commented on #634
closing this issue as now we have a couple small mochitests, but i think we the main work is done. @jlongster @clarkbw re-open it if you see it differently

[2016-11-15 18:53] #634 closed

[2016-11-15 18:53] jasonLaster commented on #583
@jagtalon how's it going? Let me know if you have any questions, this is a *tricky* one.

[2016-11-15 18:55] clarkbw commented on #634
We still didn't get the bfcache one done but I don't see good reason to keep this tracking issue open anymore.

[2016-11-15 18:56] jasonLaster commented on #634
yeah, bfcache is tracked elsewhere and it seems out of scope as it's more than just writing a test

[2016-11-15 20:23] jasonLaster commented on #1195
I removed the up for grabs label as one of us should write it :)

[2016-11-15 21:38] jagtalon commented on #583
Hey, Jason! Sorry for the delay I got bogged down this week by stuff.
Will work on it this week!

Thank you!

On Tue, Nov 15, 2016, at 01:53 PM, Jason Laster wrote:

Links:

  1. https://github.com/jagtalon
  2. https://github.com/devtools-html/debugger.html/issues/583#issuecomment-260731696
  3. https://github.com/notifications/unsubscribe-auth/AAFAMaYYN9qNtGOw-epbLRtygTBL3kG9ks5q-f-xgaJpZM4JteBv

[2016-11-15 21:42] jasonLaster commented on #1069
don't worry about that. that's the dev-server trying to connect with chrome.

I have a PR that cleans that up so it's more clear.

[2016-11-15 21:43] jasonLaster commented on #583
no worries, take your time :)

[2016-11-15 21:57] montogeek commented on #1069
@jasonLaster Thanks!
I understood the process wrong, @jlongster helped me!

[2016-11-15 22:19] jasonLaster opened #1203 "[Toolbox] Share toolbox (part 2)"
The toolbox can now be shared with other tools, but there are a couple pieces that are a little awkward. This issue resolves those pieces:

1. the devtools-local-toolbox has the dev-environment, which is exposed separately
2. the devtools-local-toolbox has the client-adapters, which it uses but is functionally different from.
3. devtools-config just exports feature.js. Should it be its own package

[2016-11-15 22:46] bomsy commented on #804
@jasonLaster Yeah a bit tricky , it is :). I've been able to figure most of it out,  one quick confirmation i need is which selectors can i use to check if the debugger is pause on a breakpoint.
I'm looking at these
https://github.com/devtools-html/debugger.html/blob/master/src/reducers/pause.js#L115
and
https://github.com/devtools-html/debugger.html/blob/master/src/reducers/breakpoints.js#L152.
C

[2016-11-15 23:11] jasonLaster commented on #804
ooh, hmm

if you want to see if it is paused and why, then `getPause` and then `why` or reason is your answer

if you want to know if it is paused at a breakpoint, then

we do that here:
https://github.com/devtools-html/debugger.html/blob/master/src/components/Breakpoints.js#L17-L29

my guess is you want the former :)

[2016-11-16 01:16] #1151 closed

[2016-11-16 01:16] #1177 closed

[2016-11-16 01:19] jasonLaster opened #1205 "[cleanup] Remove feature flags"
We have several [feature flags](https://github.com/devtools-html/debugger.html/blob/master/configs/development.json#L12-L14) that are now *on* and could be removed.

     Tabs, SourceMaps, Pretty Print

These can now be safely removed from the codebase.

[docs](https://github.com/devtools-html/debugger.html/blob/master/docs/local-development.md#configs)

here's a sketch of what it will look like:

[2016-11-16 01:37] jasonLaster opened #1208 "[Editor] Add "disable breakpoint" to editor context menu item"
Chrome's debugger lets users disable a breakpoint from the editor context menu, we should have that as well

**Code Sketch**

[code]

### Firefox
![screen shot 2016-11-15 at 8 36 56 pm](https://cloud.githubusercontent.com/assets/254562/20331354/cf00ecc4-ab72-11e6-86d1-f70ba82384f6.png)

### Chrome
![screen shot 2016-11-15 at 8 36 33 pm](https://cloud.githubusercontent.com/assets/254562/20331355/cf

[2016-11-16 06:41] wldcordeiro commented on #1176
I've got this. Something I thought of though, after adding [this](https://github.com/devtools-html/debugger.html/pull/1204), would we want this same behavior here? Pressing Ctrl+G/Ctrl+Shift+G with a selection puts that in the search bar?

[2016-11-16 12:09] shlomif commented on #1050
@jasonLaster : hi! I am getting this:

[code]

here is the yarn-error.log:

[yarn-error.log.txt](https://github.com/devtools-html/debugger.html/files/594543/yarn-error.log.txt)

this is with /usr/bin/node being v6.9.1 on Mageia v6 x86-64.

[2016-11-16 13:56] jasonLaster opened #1216 "[Yarn] Yarn install throws an error"
We've seen two errors with `yarn install` when Yarn is at version 0.17.

* Using `0.16.1 fixes the issues.
* Even though there's an error, the install might still be successful (lets confirm this)

Error 1: npm-workerjs

[code]

Error 2: roadrunner.json
[issue](https://github.com/yarnpkg/yarn/issues/1724)

[code]

[2016-11-16 16:30] jlongster opened #1220 "Move source maps to the toolbox"
The toolbox needs to actually own sourcemaps so that other tools can access them. This is unfortunately going to make things more complicated, but it's necessary. The most complicated part for us is that sourcemaps will have to live in mozilla-central and we'll have to treat it like a devtools library that we copy over and use locally.

When the toolbox is split off from this project, sourcemaps w

[2016-11-16 17:19] jasonLaster opened #1226 "[pretty print] Can't pretty print non-js sources"
We currently show the pretty print button when you're viewing an HTML file. When the user clicks the button nothing happens, but we throw an error stating you can only pretty print JS. By the way, tackling this bug means you get to see how we represent sources in the debugger!

We should not show the button for other file types

**How to reproduce**

debug `http://localhost:7999/iframe.html` in fi

[2016-11-16 19:01] jasonLaster commented on #1050
Thanks @shlomif we have an issue for that https://github.com/devtools-html/debugger.html/issues/1216.

Out of curiosity, did `npm start` still work?

[2016-11-16 19:08] shlomif commented on #1050
@jasonLaster : `npm start` still works but `npm i` was very noisy with many WARNings .

[2016-11-16 19:46] jasonLaster commented on #1203
I'm going to close this for now.

I think that this work might have been pre-mature. The major issue was accessing the toolbox dev environment, which works with `require("devtools-local-toolbox/index")`

[2016-11-16 19:46] #1203 closed

[2016-11-16 19:47] jasonLaster commented on #1178
I moved this to our enhancements project https://github.com/devtools-html/debugger.html/projects/5

And I'm closing it now because we'll be able to revisit this when we work on enhancements in Q1.

[2016-11-16 19:47] #1178 closed

[2016-11-16 19:49] jbhoosreddy commented on #1178
One note, I'd like to leave here is that there should be some way to prevent conflicting from other Firefox or system shortcuts, because that just messes everything. I've been affected by that before.

[2016-11-16 19:50] jasonLaster opened #1227 "[Docs] Update Enhancement suggestions"
Our docs currently suggest that people file an issue with the enhancements label.

Is that still what we prefer now that we have a project? I think it is, but it is a little weird.

The reason I think it is good this way is that we will still have an issue that tracks the discussion, which can't happen in a note. It's a little awkward that the issue is closed, but that might be the best we can do.

[2016-11-16 19:54] jasonLaster commented on #1178
good point.

As a side-note, i hope the conversation doesn't stop because the issue is closed! It's closed because open issues should be actionable within two sprints (4 weeks).

[2016-11-16 20:35] magicp-github opened #1228 "Cannot identify menuitem for "Add Breakpoint" and "Remove Breakpoint" as using same id "node-menu-breakpoint""
Cannot identify the following menuitems...

 #node-menu-breakpoint as "Add Breakpoint"
 #node-menu-breakpoint as "Remove Breakpoint"

#node-menu-conditional-breakpoint as "Add Conditional Breakpoint"
#node-menu-conditional-breakpoint as "Edit Breakpoint"

**Expected Results:**
Define different Id or different class.

[2016-11-16 21:08] clarkbw commented on #1228
Looks like we need to alter the id used here: https://github.com/devtools-html/debugger.html/blob/master/src/components/Editor.js#L225-L261

[2016-11-16 21:51] clarkbw commented on #1227
That makes sense to me.  👍

[2016-11-16 22:37] jasonLaster opened #1230 "[App] Build a standalone Node Debugger"
This is a tracking ticket for a Node prototype.

![screen shot 2016-11-16 at 5 48 40 pm](https://cloud.githubusercontent.com/assets/254562/20369316/4c63087e-ac26-11e6-9392-3398cbd12d8a.png)

**Goals:**

* It will handle the terminal use case where you run `jsdebug foo.js` and want to see a debugger!
* The standalone debugger is just an application shell. It will load the debugger bundle like the l

[2016-11-17 04:04] jasonLaster commented on #1050
Thanks @shlomif

[2016-11-17 04:05] jasonLaster commented on #1228
Thanks @magicp-github.

I'm curious what use case did you run into here?

[2016-11-17 05:42] magicp-github commented on #1228
Hello @jasonLaster,
Firstly, I confused this debugging of new debugger in foreign language Firefox (e.g. Arabic). I am checking any elements by Id or class, because I cannot read Arabic.
Secondly, I could not add context menu icons correctly. Context menu icons helps me in foreign language.

[2016-11-17 15:28] jasonLaster opened #1234 "[File Search] Remove outlines"
We should remove the search outlines when the search bar is closed.

#### Sketch:

[code]

#### Gif
![](http://g.recordit.co/kLewlSTlZj.gif)

[2016-11-17 15:29] jasonLaster commented on #1176
💥

[2016-11-17 15:29] #1176 closed

[2016-11-17 15:31] jasonLaster opened #1235 "[Yarn] yarn installs can be flakey"
This [PR](https://github.com/devtools-html/debugger.html/pull/1232) had a Yarn install error. When I rebuilt CI it went away.

[bad run](https://circleci.com/gh/devtools-html/debugger.html/1776)
[good run](https://circleci.com/gh/devtools-html/debugger.html/1778)

It looks like somehow an npm request returned an error and Yarn tried to parse it...

[code]

[2016-11-17 16:05] jasonLaster opened #1236 "flakiness with pretty_print + sources."
I'm seeing this [error](https://gist.github.com/jasonLaster/6f0d38f39cf7f10980238d194655a75b) fairly consistently when running the mochitests locally.

To narrow the search space i simplified my `browser.ini` to jus these two tests

[code]

[2016-11-17 17:05] bomsy commented on #804
thanks!
PR coming!

[2016-11-17 17:31] jasonLaster commented on #804
Awesome! Excited for this one.
On Thu, Nov 17, 2016 at 12:05 PM Hubert Boma Manilla <
notifications@github.com> wrote:

[2016-11-17 17:35] jasonLaster commented on #1050
@juliandescottes helped me hunt this down! This issue:

[code]

is caused by the debugger's node_modules not properly linking the packages like `devtools-config`. This can be fixed by nuking the node_modules and re-running npm or yarn install.

[code]

[2016-11-17 17:36] #1050 closed

[2016-11-17 17:37] jasonLaster commented on #1216
@juliandescottes here is the `roadrunner` bug. I'm surprised that you were seeing it with `0.16.1`. Lets see if we can come up with a fix soon. Happy to help later.

[2016-11-17 19:30] jasonLaster opened #1239 "[Toolbox] Run devtools suite on CI"
We recently found an issue where a patch to the debugger broke the console. Unfortunately, there was not a console test, but if there had been we would have caught it at the time of merging the bundle.

It would be nice to be able to run the full devtools mochitest suite on CI as well so that we could get some more information at the time of merging.

There are two issues I see here
1. the tests m

[2016-11-17 22:10] shlomif commented on #1208
Hi! I'm working on it.

[2016-11-17 22:32] #1004 closed

[2016-11-17 22:47] clarkbw commented on #1208
🎉 @shlomif don't hesitate to ask questions if you get stuck!

[2016-11-17 23:03] jasonLaster commented on #1208
@shlomif nice job discovering the "Enable" Case, missed it the first time!

[2016-11-17 23:06] jasonLaster commented on #1239
The run failed after **1 hour 14 minutes** lol.

https://circleci.com/gh/jasonLaster/debugger.html/1507

I'm not sure what that says about our suite except that we'd need to do some splitting... and likely add retries.

Closing as this is not really needed at the moment.

[2016-11-17 23:06] #1239 closed

[2016-11-18 03:35] arthur801031 commented on #1234
@jasonLaster  May I work on this? I'm a first time contributor to debugger.html.

[2016-11-18 05:05] wldcordeiro commented on #1234
@arthur801031 go for it. It's always great to get new contributors.

[2016-11-18 05:40] clarkbw commented on #1234
Its yours @arthur801031 be sure to reach out when you have any questions! 🎉

[2016-11-18 07:36] arthur801031 commented on #1234
@wldcordeiro  @clarkbw
I don't know what's the shortcut key for bringing up the file search bar.

I tried "cmd+f", and it gave me a normal search bar:
<img width="1227" alt="screen shot 2016-11-18 at 3 32 30 pm" src="https://cloud.githubusercontent.com/assets/4562118/20422276/5a1778ae-ada4-11e6-8d56-a97949b83a32.png">

I also tried "cmd+p", and it gave me this:
<img width="1223" alt="screen shot 2

[2016-11-18 14:04] juliandescottes opened #1245 "[devtools-local-toolbox] some dev-dependencies should be direct dependencies"
The following dependencies:
- `check-node-version`
- `express`
- `mustache`

are currently listed as dev-dependencies and should be moved to direct dependencies (in https://github.com/devtools-html/debugger.html/blob/master/packages/devtools-local-toolbox/package.json)

[2016-11-18 17:21] jasonLaster opened #1247 "Improve the getting started experience"
I spoke with @viswanathamsantosh, @bacharakis, and Lucy Harris earlier and we discussed some of the ways we could improve the getting started process:

Some concrete next steps were:
1. have a dedicated getting started doc that was as focused as possible
2. have an activity for understanding how the debugger works "debugging the debugger"

Here is a [branch](https://github.com/devtools-html/debugg

[2016-11-18 17:26] jasonLaster commented on #1247
Here are my highlevel thoughts on the activity:

1. setup and free form hack
2. style a theme based on an image
3. have the debugger do something cool when adding a breakpoint
4. have the debugger do something cool when pausing

I don't know what 3 and 4 should be :)

Obviously, open to lots of ideas here! Everyone submit cool things

@helenvholmes I think you'd be especially good at this!!!

[2016-11-18 17:31] jasonLaster opened #1248 "Getting setup on windows"
Hey, @viswanathamsantosh mind sharing some of the issues you were seeing getting setup with windows 10.

I imagine some of the potential issues could be with:
* node
* npm
* yarn
* lerna (symlinks)

Potentially hyperterm could help

CCing - @clarkbw @auchenberg @Garbee so they can help if there are concrete issues

[2016-11-18 17:37] jasonLaster commented on #1247
Here are some thoughts that informed the getting started doc

- focus on the happy path (mac, debugging Firefox). We can have secondary material
- have common questions
- provide screenshots
- provide more space for beginners. Team members can scan it.

[2016-11-18 18:02] jasonLaster commented on #1234
Great question @arthur801031. You need to run the [debugger locally](https://github.com/devtools-html/debugger.html/blob/master/CONTRIBUTING.md) and then you can do cmd+f.

You also need to enable editorSearch [configs](https://github.com/devtools-html/debugger.html/blob/master/docs/local-development.md#configs)

[2016-11-18 18:08] Garbee commented on #1247
I am going to work on an outline for the initial document today. That way we have something to discuss.

I'll reference the existing stuff with some salt. Then analyze my own understanding of what people should know. Cross-compare and trim out some fat and we should have a good basic outline to work from.

[2016-11-18 18:37] viswanathamsantosh commented on #1248
![yarn1](https://cloud.githubusercontent.com/assets/3799600/20441831/1ba828fa-adec-11e6-9408-2d770f1ecee0.JPG)
Running
Node 5.6
Npm  4.0.1
Yarn 0.16.1
but got this error!

[2016-11-18 18:56] Garbee commented on #1248
The preinstall script is bash-only right now. So only UNIX systems can handle it. We need to investigate writing that script within node itself so we can make it platform-independent. This goes for all of the non-js bins we have.

[2016-11-18 19:05] jlongster opened #1250 "[Scopes] Show optimized out variables"
Pulled in from https://bugzilla.mozilla.org/show_bug.cgi?id=1318164.

Right now we explicitly filter out optimized out variables in the object inspector. We should show them but have a message that they are optimized out instead. I'll probably work on this soon because I haven't fixed any small things recently, and it shouldn't be too hard.

[2016-11-18 20:03] jasonLaster opened #1251 "[toolbox] Sanitize debugger.html dependencies"
I spent the day sanitizing the console.html [dependencies](https://github.com/jasonLaster/console.html/blob/master/package.json#L11-L16), so that now the console can just depend on the toolbox. We should do the same thing for the debugger so that the debugger's dependencies are just for debugger needs.

I learned a **lot** along the way. Here's a summary

* the toolbox should not have many *devDep

[2016-11-18 20:33] clarkbw opened #1252 "sourcemapped breakpoints sliding up by one"
I've been thinking I'm crazy but because this happens no matter where in the code I try to set a breakpoint I feel like this might actually be a systematic error with how we handle lines in the editor and pass that back to set a breakpoint.

I can't make this happen in the `increment` test page.  But if I run the debugger on something and then run the debugger on our debugger I can reproduce this

[2016-11-18 20:51] jasonLaster commented on #1248
@viswanathamsantosh try dropping the preinstall

[code]

and then manually running

[code]

[2016-11-18 21:35] jasonLaster commented on #1252
Hmm, strange. This could likely be a bug in our webpack setup perhaps...

I'm going to change the issue title until we can generalize it

[2016-11-18 21:55] #1125 closed

[2016-11-18 23:02] nt1m opened #1253 "Make it work better in side-host"
If you pin the toolbox to the side, the experience isn't very usable

[2016-11-19 00:38] magicp-github opened #1254 "The dropdown button does not display by resizing center pane"
**Steps to Reproduce:**
1. Start Nightly
2. Go to any sites (e.g. about:home)
3. Open DevTools > Debugger (Ctrl+Shift+S)
4. Open more than two sources, but source tab is not overflowed
5. Narrow center pane until source tab is overflowed

**Actual Results:**
The dropdown button does not display by resizing center pane.

**Expected Results:**
- The dropdown button is displayed if source tab is over

[2016-11-19 01:13] jasonLaster opened #1255 "[CI] Add Docker status check"
Our integration tests have been monotonically increasing in [run time](https://circleci.com/build-insights/gh/devtools-html/debugger.html/master). Our median run time is now 15 minutes.

The lowest hanging fruit would be to improve the docker setup time. The time comes from two steps

1) load from the docker VM cache (3 minutes)
2) download an update from the docker registry (6 minutes)

The updat

[2016-11-19 01:27] jasonLaster commented on #1255
One thought, while i'm thinking about it.

At this point, we don't update the docker image that often. We could change the script pretty easily so the docker pull only happens when the cache is empty...

Here's how we clear the [cache](https://cloud.githubusercontent.com/assets/254562/20451908/38fbf28e-adcd-11e6-9032-bd07e9a79bd5.png)

Here's a sketch of that idea

[code]

[2016-11-19 03:14] jasonLaster commented on #1253
I'm going to close this issue as we have https://github.com/devtools-html/debugger.html/issues/417

We will prioritize this though

[2016-11-19 03:14] #1253 closed

[2016-11-19 03:15] #1205 closed

[2016-11-19 03:16] jasonLaster commented on #1127
This is smilar #1233

[2016-11-19 03:17] jasonLaster commented on #965
Thanks for filing.

Done!

[2016-11-19 03:17] #965 closed

[2016-11-19 03:18] jasonLaster commented on #524
Hey @wldcordeiro, just saw you claimed this awhile back. Still interested in taking a stab?

[2016-11-19 03:45] jasonLaster commented on #1255
I took another look with `ssh-build` and found two things:

1. if i tag the image id, the image is 752.8mb.

11.25 GB seems really large, which makes me think that perhaps it saves each of the previous versions? If we could bring the size down to 4.3 GB, which is what my `obj-frontend` is then we'd be in a better spot. Also, i [scanned](https://cloud.githubusercontent.com/assets/254562/20452798/2f

[2016-11-19 13:05] jasonLaster commented on #374
Hey @Zacqary I feel like you would enjoy this one :P

[2016-11-19 13:06] jasonLaster commented on #804
Hey @bomsy how's it going?

[2016-11-19 13:23] jasonLaster commented on #583
Hey @jagtalon I took another stab at the solution this morning. It's actually pretty similar to the first approach, but probably more up to date as the code has changed a bit

https://gist.github.com/dc054cf627109a9d1921dfe0bec2961a

as a reference, you can take a look at how we persist breakpoints and the selected source as well.

[2016-11-19 13:24] jasonLaster commented on #1112
Hey, @montogeek I think you might like this one. It's a small UX improvement, with a cool editor integration for the line.

[2016-11-19 13:25] jasonLaster commented on #1234
@bomsy do you have an idea a good idea for how this might be done?

[2016-11-19 13:27] jasonLaster commented on #1111
@monicau I think you might enjoy this one :)
It involves styling the editor, which as you know is pretty cool.

[2016-11-19 13:32] jasonLaster commented on #1107
This is actually slightly more interesting because the style is applied in the panel for the light theme as well.

It would be nice to have a plan for what we want:
a) if we like the line selection we should add the style to our local css
b) if we don't like the line selection we should be able to remove it in the panel.

@helenvholmes assigning you to it so that you can evaluate :)

[2016-11-19 14:20] Garbee commented on #1248
Setting things up on a new system, the preinstall script is also failing on Linux machines. I had to do a manual `npm i jasonlaster/lerna` before `yarn install` would work.

[2016-11-19 14:21] jasonLaster commented on #1248
Hmm. What was the error?
On Sat, Nov 19, 2016 at 9:20 AM Jonathan Garbee <notifications@github.com>
wrote:

[2016-11-19 14:59] Garbee commented on #1248
Line 8 of `preinstall` was causing the failure. I'll look into trying to make this script a thing of the past by building it into the package install flow in `package.json`. I don't see why it is necessary right off. By removing this we'll also get built-in Windows support to makes things easier there.

[2016-11-19 15:14] jasonLaster commented on #1248
@Garbee perhaps we do `postinstall: "lerna bootstrap"`

[2016-11-19 15:18] Garbee commented on #1248
Yup, looking into this now that the flexbox footer PR is updated.

[2016-11-19 15:27] Garbee commented on #1248
PR #1264 is open for addressing that problem. Moving bootstrap to postinstall is exactly what was needed.

[2016-11-19 16:46] bomsy commented on #804
heya, stuck at a point. The scope section opens but the children of the first node on the scope do not load. i'll push my PR as a WIP and we can work on it from there.

[2016-11-19 16:49] jasonLaster commented on #804
Sounds good. Yea. I think we can figure it out, but yea I can see the
challenge
On Sat, Nov 19, 2016 at 11:46 AM Hubert Boma Manilla <
notifications@github.com> wrote:

[2016-11-19 18:43] jagtalon commented on #583
Thank you! Working on it this weekend! Really sorry for the delay on
this.

On Sat, Nov 19, 2016, at 08:23 AM, Jason Laster wrote:

Links:

  1. https://github.com/jagtalon
  2. https://github.com/devtools-html/debugger.html/issues/583#issuecomment-261713600
  3. https://github.com/notifications/unsubscribe-auth/AAFAMSMkK_zdM16KYtFIcba0PU_wdN0Pks5q_vg6gaJpZM4JteBv

[2016-11-19 19:10] jasonLaster commented on #417
closing this issue and making a more actionable issue

[2016-11-19 19:10] #417 closed

[2016-11-19 19:25] jasonLaster opened #1266 "Add vertical layout"
It would be great to support a vertical layout when the debugger is less than 700px wide.

This is actually pretty easy to support given our React components and SplitBox, which supports horizontal and vertical mode. And it would be a really nice win for the community!

**Work breakdown:**
- [x] Extract Command Bar from Right Sidebar https://github.com/devtools-html/debugger.html/pull/1267
- [ ] R

[2016-11-19 23:07] clarkbw commented on #1255
Also worth considering the "latest" tag isn't our friend. See articles like this http://container-solutions.com/docker-latest-confusion/

[2016-11-20 02:24] bomsy commented on #804
@jasonLaster i think i've found a solution! Will cleanup an push a PR tommorow!

[2016-11-20 19:54] jasonLaster opened #1269 "Make our buttons more accessible"
PR #1217 made the source prettify button more accessible in two ways:
1.  converted the span to a button
2. added an aria label

**We should convert our other buttons to this format:**
- [ ] command bar buttons
- [ ] source tab "+" and dropdown button
- [ ] watch expression header buttons
- [ ] perhaps the source tree arrows and accordion arrows
- [ ] editor breakpoints (? maybe)

**aria-label**

[2016-11-20 19:55] jasonLaster commented on #1248
Closing this for now as i think it's addressed

@viswanathamsantosh please ping if you see other issues

[2016-11-20 19:56] jasonLaster commented on #1188
closing as this is not actionable

[2016-11-20 19:56] #1188 closed

[2016-11-20 19:58] jasonLaster commented on #1172
ahh - that makes sense.

I don't think we want to support Firefox 49. Thanks for reporting though

[2016-11-20 19:58] #1172 closed

[2016-11-20 19:58] jasonLaster commented on #1166
merged

[2016-11-20 19:58] #1166 closed

[2016-11-20 19:59] jasonLaster commented on #1156
This is now working well with [console.html](https://github.com/jasonlaster/console.html)

[2016-11-20 19:59] #1156 closed

[2016-11-20 22:12] Garbee commented on #1183
Fixed by merging #1217.

[2016-11-20 22:12] #1183 closed

[2016-11-20 22:20] Zacqary commented on #374
So far I'm starting by trying to replicate the behavior of the old code but I'm running into an issue. I figured, just to get some results on the screen, I'd try this ugly hack involving mutating the preview:
[code]

The expected result, I'm thinking, is:
[code]
but that's not happening. It's still just:
[code]

Just to make sure I wasn't missing something, I also tried making sure the changes I w

[2016-11-20 23:40] IagoLast commented on #1111
Maybe I'm missing something but when I try to reproduce this the browser's default search bar is shown instead the debugger one.

(When I hit `cmd+p`the debugger search bar is shown but the results dialog is different since this searches on every file)

Could it be some incompatible version of something ?

Debugger.html: 0.0.8
OSX: 10.11.5 (15F34)
NODE: 7.1.0
FFOX-DEV: 51.0a2 (2016-11-14) (64-bit)

[2016-11-21 00:23] andreicristianpetcu commented on #1111
Same here. I was thinking that I was doing something wrong and it did not appear :)

[2016-11-21 00:27] jasonLaster commented on #1111
Hi @IagoLast, @andreicristianpetcu

Sorry it wasn't clear

You'll need to go through the [getting started](https://github.com/devtools-html/debugger.html/blob/master/CONTRIBUTING.md#getting-started) setup and enable `editorSearch` in the [local config](https://github.com/devtools-html/debugger.html/blob/master/docs/local-development.md#configs).

[2016-11-21 02:04] monicau commented on #1111
Hey @jasonLaster thanks for flagging me down. I was able to reproduce this issue. I'll take this if no one is working on it at the moment. Let me know :)

[2016-11-21 02:07] arthur801031 commented on #1234
@jasonLaster @clarkbw @wldcordeiro  I've added the code to remove outlines. Please check. Thank you very much! :)

[2016-11-21 02:22] arthur801031 commented on #966
@jasonLaster May I work on this? Thank you!

[2016-11-21 02:30] jasonLaster commented on #966
Go for it! Let me know if you have questions.
On Sun, Nov 20, 2016 at 9:22 PM I-Chun (Arthur) Liu <
notifications@github.com> wrote:

[2016-11-21 02:32] jasonLaster commented on #1111
Sure!
On Sun, Nov 20, 2016 at 9:04 PM Monica Ung <notifications@github.com> wrote:

[2016-11-21 02:34] jasonLaster commented on #374
Hmm. Really interesting. I haven't looked at this either. I'd be happy to
check it out tomorrow morning though
On Sun, Nov 20, 2016 at 5:20 PM Zacqary Adam Xeper <notifications@github.com>
wrote:

[2016-11-21 03:34] arthur801031 commented on #966
@jasonLaster

I have looked at the attributes in `this.props.editor.codeMirror`, `this.props`, and `this.props.editor`, but I still couldn't find `selectedSource`. How do I get this value? Thank you!

[2016-11-21 04:04] monicau commented on #1111
Here's the modified light theme.
![debugger-file-search](https://cloud.githubusercontent.com/assets/2848472/20470087/3c9b2070-af73-11e6-83bc-552f4ccad8d0.png)
For the dark-theme, yellow highlighting also looks good but I can't seem to change the colour of the text itself to make it more readable.
![debugger-file-search-dark](https://cloud.githubusercontent.com/assets/2848472/20470134/9969dc56-af73

[2016-11-21 11:16] jasonLaster commented on #966
@arthur801031, oh you might need to pass it in :)

Sorry, that was a quick code sketch and i missed that detail

[code]

[2016-11-21 11:56] jasonLaster opened #1273 "The debugger should infer source contentTypes"
There are a couple of spots where the Debugger frontend assumes there's a content type, but we don't have the field

Here's where the DevTools server infers [contentType](https://github.com/mozilla/gecko-dev/blob/master/devtools/server/actors/utils/TabSources.js#L307-L349). We could either:

1) add contentType to the source actor payload
2) add similar inference [here](https://gist.github.com/fc8f

[2016-11-21 12:01] #1226 closed

[2016-11-21 12:11] jasonLaster commented on #374
Thanks @Zacqary, I just looked into it for a bit and I think we might want to format Promises with the Reps module, which you've already looked at before :)

@janodvarko is there a ticket for using Reps to format promises? It looks like `GripMap` and `GripArray` might be similar, but I couldn't find where they're used.

[2016-11-21 12:22] nchevobbe commented on #374
@jasonLaster Hi Jason. The Promise Rep (PromiseRep from reps/promise.js ) already landed some times ago (see https://bugzilla.mozilla.org/show_bug.cgi?id=1310608 ). It looks like you don't have it in debugger.html yet though, merging from mozilla-central should be good.

[2016-11-21 14:21] jagtalon commented on #583
@jasonLaster ok I might not be able to get to this this week. :( All you, @bomsy @kareniel!

[2016-11-21 14:36] jasonLaster commented on #583
no worries, i'll drop the in progress label

[2016-11-21 15:14] shlomif commented on #1172
On Sun, 20 Nov 2016 11:58:06 -0800
Jason Laster <notifications@github.com> wrote:

Got you! Fair enough - I'll use later firefoxen.

[2016-11-21 15:32] Zacqary commented on #374
Had a private conversation with @jasonlaster about some things that are bugging me about the data model that I was playing with in `getScopes` and we figured I should copy it here:

I think the most frustrating thing was the fact that there's this preview prop which is solely for generating the properties displayed in the non-tiny preview (which is for, I assume, when we display a rep in the conso

[2016-11-21 17:34] jasonLaster commented on #1248
Talked to @viswanathamsantosh offline and he mentioned issues with

[code]

@Garbee

[2016-11-21 17:36] Garbee commented on #1248
Perhaps `--start-debugging-server` ?

[2016-11-21 17:38] jasonLaster commented on #1248
Also @auchenberg, @clarkbw  thoughts?

Our docs recommend
https://github.com/devtools-html/debugger.html/blob/master/CONTRIBUTING.md#open-the-debugger

[code]

and our driver [has](https://github.com/devtools-html/debugger.html/blame/master/bin/firefox-driver.js#L22-L28)

[2016-11-21 17:48] viswanathamsantosh commented on #1248
`--start-debugging-server` worked perfectly for me now! Thank you jason. :D

[2016-11-21 17:49] jasonLaster commented on #1248
oh great. perhaps we need to update the driver then to use two dashes. Mind making a PR for that so you can run

[code]

We can discuss the tradeoffs in the PR

[2016-11-21 19:14] nchevobbe commented on #374
Hi @Zacqary !

They are. The difference you see between `ownPropertiesLength` and `Object.keys(ownProperties)` is indeed for performance reasons.
I think the preview holds the first 10 items/properties of the object, and `ownPropertiesLength` has the actual number of properties/items on the object, so we can output the 10 first items and a ", N more..." to indicate there's more to see.

Like Jason

[2016-11-21 21:01] jasonLaster commented on #374
ping @Zacqary. Mind if I take this bug back so that I can pull in the latest greatest Reps?

[2016-11-21 21:01] #1162 closed

[2016-11-21 21:02] Zacqary commented on #374
Sure, go right ahead

On Nov 21, 2016 4:01 PM, "Jason Laster" <notifications@github.com> wrote:

[2016-11-21 21:21] jasonLaster commented on #1266
@kdzwinel let me know if you have any questions. This PR can easily grow in scope!

[2016-11-21 23:44] bomsy commented on #804
Can we close this?

[2016-11-21 23:45] clarkbw commented on #1248
Strange, I thought we tested the single dash but now that I look at my windows box I can see it definitely needs the double dash.

Thanks for finding this!

[2016-11-21 23:51] jasonLaster commented on #1111
hmm - super strange.

@monicau Mind opening a WIP PR and I'll take a look. Sorry that i missed this earlier

[2016-11-21 23:51] jasonLaster commented on #804
Yep, I'll open a follow up issue for the panes being open.

I missed that until your PR started the work.

[2016-11-21 23:51] #804 closed

[2016-11-21 23:54] jasonLaster opened #1280 "Open Panes when the debugger pauses"
We would like to make sure the Call Stack and Scope pane are open when the debugger pauses.

The logic goes like this:
- if the panes are open keep them open
- if they are closed open them

#804 started this push by making sure the local scope was open.
This work is blocked by #1277, which will make it much easier to open the panes.

#### Patch

* I started working on this patch, but realized that

[2016-11-22 00:00] wldcordeiro commented on #524
@jasonLaster sorry, had lapsed on this. Working on it now. Should get a PR in soon.

[2016-11-22 00:04] jasonLaster commented on #524
No worries man. Ping me if you have questions. It's a tricky one
On Mon, Nov 21, 2016 at 7:00 PM Wellington Cordeiro <
notifications@github.com> wrote:

[2016-11-22 00:24] IagoLast commented on #1111
@monicau same here, seems like only `.cm-selecting` is being applied.

[2016-11-22 01:18] jasonLaster commented on #1111
I'll take a look Wednesday, if you guys run out of leads.

I'm afraid I'd, likely just be digging with the inspector as well.

[2016-11-22 03:00] monicau commented on #1111
Alright I created a WIP pull request!

[2016-11-22 06:28] arthur801031 commented on #966
@jasonLaster I've added the code re-search when a new source is selected. Please check. Thank you very much! :)

[2016-11-22 06:45] arthur801031 commented on #1112
@jasonLaster May I work on this? Thank you! :)

[2016-11-22 13:17] bomsy commented on #960
@jasonLaster it looks like this will be dependent on changes from #1277

[2016-11-22 13:17] jasonLaster commented on #960
Thanks
On Tue, Nov 22, 2016 at 8:17 AM Hubert Boma Manilla <
notifications@github.com> wrote:

[2016-11-22 14:14] bomsy commented on #880
i'll get on this!

[2016-11-22 14:47] jasonLaster opened #1284 "Circle CI can be flakey"
This ticket logs some of the flakey issues in CI so that we can track them and prioritize.

##### Issues:
- [x] out of memory
- [ ] update docker failed
- [ ] mochitest timeout
- [ ] yarn install can be flakey

##### Out of memory
https://github.com/devtools-html/debugger.html/pull/1265

##### Update docker failed
[circle 1856](https://circleci.com/gh/devtools-html/debugger.html/1856)

[circle 191

[2016-11-22 15:17] montogeek commented on #1112
@jasonLaster I like it! But a bit busy these days, sorry!

[2016-11-22 16:28] jasonLaster commented on #1112
@arthur801031 it's yours

[2016-11-22 17:20] magicp-github opened #1287 "Fix :hover background-color of breakpoint class in dark-theme"
**Steps to Reproduce:**
1. Start Nightly
2. Go to any sites (e.g. about:home)
3. Open Debugger with the dark-theme
4. Open any sources
5. Add some breakpoints
6. Hover on breakpoint list

**Actual Results:**
:hover background-color is not different from non-hover one.

![fix-hover-background-color-of-breakpoint-class-in-dark-theme](https://cloud.githubusercontent.com/assets/13914314/20533977/d7941

[2016-11-22 19:25] jasonLaster commented on #1287
Thanks @magicp-github

[2016-11-22 20:23] #1228 closed

[2016-11-22 21:51] clarkbw commented on #502
I keep wondering if this is going to be as simple as something like this:

[code]

[2016-11-22 21:53] jasonLaster commented on #502
@clarkbw yeah! that looks like it... if there's a close function. or likely conn.Runtime.close()

So many of these issues are quick once you get in there!

[2016-11-22 22:19] clarkbw opened #1290 "add "Reveal in Sources" item to the tab context menu"
This is a feature I use and like in Chrome.  I started down the path toward making this happen and then realized this might be harder than it originally looked as I don't see an easy way to pass the tab id back over to the sources tree.

Also, at a higher level I wonder if when you search for a file we should match opening the file with expanding the tree.  I think in a number of cases that intera

[2016-11-23 02:23] arthur801031 commented on #1112
@jasonLaster  I've added the code for this issue. Please check. Thank you very much! :)

[2016-11-23 02:46] arthur801031 commented on #1269
@jasonLaster May I work on this? Thank you! :)

[2016-11-23 04:07] jasonLaster commented on #1112
Looks good. Will review tomorrow!

[2016-11-23 04:26] jasonLaster commented on #1269
Sure!

@garbee can help assist with questions here
On Tue, Nov 22, 2016 at 9:46 PM I-Chun (Arthur) Liu <
notifications@github.com> wrote:

[2016-11-23 09:44] magicp-github opened #1292 "Cleanup duplicate styles in debugger.css"
The following styles are duplicated in styles.css .

[devtools/client/debugger/new/styles.css]

:root.theme-light,
:root .theme-light {...

* {...

html,
body {...

#mount {...

.search-container {...

.search-container .autocomplete {...

.welcomebox {...

.objectBox-object {...

.objectBox-string,
.objectBox-text,
.objectLink-textNode,
.objectBox-table {...

.objectBox-null,
.objectBox-undefined

[2016-11-23 09:52] jnachtigall opened #1293 "Show a variables view inspection popup on mouse hover"
Since upgrading to FDE 52 I am missing the ability to hover over a variable and have its properties in a popup. I know there's already `Scopes` pane at right bottom but this is some way and clicks away and just takes longer.

In case you want to implement this, it would be great if the popup would be transient :) Same way Chrome Debugger or most IDEs do it: https://bugzilla.mozilla.org/show_bug.cg

[2016-11-23 16:32] clarkbw commented on #1293
Thanks for filing this!  We plan on getting this feature added back to the debugger and I agree that a transient popup would be the right thing.  The only gotcha there is to make sure the move movement wasn't toward the popup itself.

This was the old variables view code: https://dxr.mozilla.org/mozilla-central/source/devtools/client/debugger/views/variable-bubble-view.js

[2016-11-23 19:05] magicp-github opened #1296 "TypeError: bpClient is null bundle.js:20705:4 when disabling breakpoint"
**Steps to Reproduce:**
1. Start Nightly (or Dev Edition)
2. Go to about:home
3. Open Debugger (Ctrl+Shift+S)
4. Open a source about:home > (index)
5. Add new breakpoint on line 17
6. Click "Disable Breakpoints" button or check-off the breakpoint in breakpoint list

**Expected Results:**
"Disable Breakpoints" does not work. And also the following error is displayed in console.
![bpclient-is-null](

[2016-11-23 19:55] shlomif commented on #1287
I'll try to tackle it.

[2016-11-23 20:03] jasonLaster commented on #1293
Thanks @jnachtigall. I'm closing this as it's a dupe of #626.

[2016-11-23 20:03] #1293 closed

[2016-11-23 20:03] jasonLaster commented on #626
Here's the old code

https://dxr.mozilla.org/mozilla-central/source/devtools/client/debugger/views/variable-bubble-view.js

[2016-11-23 20:49] shlomif opened #1297 "Several wrong/misleading paths for "configs/local.json" in the documentation"
When searching this page - https://github.com/devtools-html/debugger.html/blob/master/docs/local-development.md - for "local.json" one can see several partial or wrong paths instead of "configs/local.json". Please correct it. (Per the discussion on irc.mozilla ).

[2016-11-23 21:11] jasonLaster opened #1298 "Format chrome variables"
We are currently making lots of progress on running the Node standalone debugger #1230
. The major shortcoming is the ability to show closure scopes and variables.

This issue is for tracking the work needed to show a chrome variable

I created this [gist](https://gist.github.com/jasonLaster/e97be202b28f15175918fbb3eb3717a2) to get the ball rolling.

* loads the local variables into memor
* it com

[2016-11-23 21:15] bomsy commented on #1298
Nice one! i'll start hacking at this to see what we can come up with.

[2016-11-23 21:24] shlomif commented on #1287
this seems to be OK in commit bc99a6ca3b4f9443fda8a27d5f92371cabfd6281 without any changes. See my screencast at http://www.shlomifish.org/Files/files/video/debugger-dot-html--issue-1287.ogv .

[2016-11-23 22:06] jsnajdr opened #1299 "MouseEvent properties are not displayed"
Execute this in console:
[code]
Then click in the window. The debugger will pause. Inspect the `e` variable.

Expected: As the `e` is a `MouseEvent`, it should have properties like `button`, `clientX`, `pageX` etc.
Actual: Only the object prototype is displayed.

Other 'native' object probably have the same issue. Is it a missing functionality in reps?

[2016-11-23 23:02] clarkbw commented on #1287
@shlomif which commit? I think that was a copy / pasta

[2016-11-23 23:11] clarkbw commented on #1296
Odd that lines other than 17 don't behave this way...

I tracked this down to here: https://github.com/devtools-html/debugger.html/blob/master/packages/devtools-local-toolbox/src/clients/firefox/commands.js#L80-L84

It seems the `remove()` function is failing for some reason.

[2016-11-23 23:34] clarkbw commented on #983
This issue is done, though our flow coverage could improve lets open other individual issues for that.

[2016-11-23 23:34] #983 closed

[2016-11-23 23:35] jasonLaster commented on #983
Agreed!
On Wed, Nov 23, 2016 at 6:34 PM Bryan Clark <notifications@github.com>
wrote:

[2016-11-24 00:10] magicp-github commented on #1296
Oops. mistyped below;;

Actual Results:

Expected Results:

[2016-11-24 00:11] magicp-github commented on #1296
Oops. mistyped below;;

[2016-11-24 00:55] clarkbw opened #1301 "tcomb listed twice in the package.json"
Noticed this earlier.  Not a pressing issue, but wanted to file something.

https://github.com/devtools-html/debugger.html/blob/master/package.json#L111-L112

[2016-11-24 02:32] arthur801031 opened #1303 "Cannot resolve module 'chrome-remote-debugging-protocol'"
**Steps to Reproduce:**
I was several commits behind the master branch, so I fetched the latest changes from master:
`git remote add upstream https://github.com/devtools-html/debugger.html.git`
`git fetch upstream`
`git merge upstream/master`

**Expected Results:**
The debugger page should load when run `yarn start`

**Actural Results:**
When I ran `yarn start`, I got the following error message a

[2016-11-24 03:08] bomsy commented on #1303
Did you do a `yarn update` to update package dependencies?

[2016-11-24 03:10] arthur801031 commented on #1303
I just realized that chrome-remote-debugging-protocol has been moved removed (#1263), so I downloaded chrome-remote-debugging-protocol from https://github.com/jasonLaster/chrome-remote-debugging-protocol and put that folder inside the packages folder, and it worked!

[2016-11-24 03:15] arthur801031 commented on #1303
@bomsy

`yarn upgrade` works! Thank you so much! :)

[2016-11-24 03:19] #1303 closed

[2016-11-24 04:15] jasonLaster commented on #1303
Thanks @bomsy.

Arthur, I meant to tell you because I ran into the same thing on your branch and just nuked the node modules sir and reinstalled.

Yarn upgrade is the better solution though :)

[2016-11-24 05:27] jasonLaster commented on #1301
going to close this as we'll clean up the debugger's deps in #1251

[2016-11-24 05:27] #1301 closed

[2016-11-24 09:54] jnachtigall opened #1305 "Active tab's title header should not be separated by line"
There shouldn't be a line below the title (file name) of the active tab

![2016-11-24 10_29_48-yahoo suche websuche suchmaschine - nightly](https://cloud.githubusercontent.com/assets/3307404/20593304/1f7c010a-b232-11e6-885a-704304b2ea19.png)

If you look at Sublime the active tab is always not visually "disconnected" from its content:
![2016-11-24 10_36_28-tab 1 - sublime text 2 unregistered](http

[2016-11-24 10:17] shlomif commented on #1287
@clarkbw  :

[code]

on the master branch. Running the debugger there with the dark theme yields a different hover background on breakpoints, which seems to indicate this issue was already remedied.

[2016-11-24 11:35] bomsy commented on #880
@jasonLaster what 's the best way init prefs outside the scope of an app refresh?
[code]
causes a `Services.js:294 Uncaught Error: could not find pref branch devtools.debugger.pause-on-exceptions` error.

[2016-11-24 13:02] jasonLaster commented on #880
The pref call above sets the default.

Mind adding a comment if none exists?
On Thu, Nov 24, 2016 at 6:35 AM Hubert Boma Manilla <
notifications@github.com> wrote:

[2016-11-24 13:03] jasonLaster commented on #1287
Hmm. This might be something that is unique to the Firefox panel. We should
check nightly.
On Thu, Nov 24, 2016 at 5:17 AM Shlomi Fish <notifications@github.com>
wrote:

[2016-11-24 13:57] bomsy commented on #880
do you mean this call ? `pref("debugger.pause-on-exceptions", true);`?

[2016-11-24 13:58] jasonLaster commented on #880
Yea. I think so :)
On Thu, Nov 24, 2016 at 8:58 AM Hubert Boma Manilla <
notifications@github.com> wrote:

[2016-11-24 14:05] bomsy commented on #880
So on refresh of the page , that always get called .. thereby resetting the value of the prefs to the default.

[2016-11-24 14:07] jasonLaster commented on #880
Nope. It should set a default in local storage and on refresh use the
default or user set value.

Basically, it should work. If not, it's s bug... sorry on my phone so tough
to confirm.
On Thu, Nov 24, 2016 at 9:05 AM Hubert Boma Manilla <
notifications@github.com> wrote:

[2016-11-24 14:09] bomsy commented on #880
Ok. thanks. that's good know. i'll  have a look.  I just wanted to make sure i understood what should be happening... Sorry for disturbing ur Thanksgiving! :)

[2016-11-24 14:21] jasonLaster opened #1306 "Remove SVGs in MC"
We currently copy over our SVGs into `devtools/client/debugger/new/images`. We don't use them though because they're also inlined in our bundle.js.

[2016-11-24 14:24] jasonLaster opened #1307 "Add documentation for prefs"
We should document prefs in [local-development](https://github.com/devtools-html/debugger.html/blob/master/docs/local-development.md).

Things to include:

- [ ] overview: prefs are stored in local storage locally and the profile in the pane
- [ ] reading/setting prefs from prefs helper
- [ ] setting a default pref value with `pref`

[2016-11-24 14:26] jasonLaster commented on #1305
Thanks @jnachtigall for reporting. This looks like a regression on our end.

We had implemented it here: https://github.com/devtools-html/debugger.html/pull/774

@wldcordeiro interested in investigating?

[2016-11-24 14:38] jasonLaster commented on #1299
@nchevobbe is this covered?

By the way, we're pulling in the latest Reps early next week.

[2016-11-24 15:05] nchevobbe commented on #1299
it should be handled by the reps just fine.
if I take Jarda function and add logging to it, I get the following in today's Nightly :
![capture du 2016-11-24 15-55-24](https://cloud.githubusercontent.com/assets/578107/20602638/7f9200e0-b25e-11e6-9032-ef04ef81aade.png)

So the rep does handle it like it should in the console.
In the debugger, it does show the correct type, but not much else.
The thi

[2016-11-24 16:50] clarkbw commented on #1252
Here's another simpler test case: http://wbamberg.github.io/example-websites/source-mapping/index.html

[2016-11-24 16:51] jasonLaster commented on #1252
Thanks! Let's fix the issue title
On Thu, Nov 24, 2016 at 11:50 AM Bryan Clark <notifications@github.com>
wrote:

[2016-11-24 16:55] magicp-github commented on #1287
My guess is that "--theme-search-overlays-semitransparent" variable is not available in dark-theme.

![theme-dark-variables](https://cloud.githubusercontent.com/assets/13914314/20606071/f6a9d1d2-b2b1-11e6-982f-b116e4e3404e.png)

[2016-11-24 18:51] jasonLaster opened #1310 "Adopt chrome-remote-interface"
We are currently using [chrome remote debugging protocol](https://github.com/jasonLaster/chrome-remote-debugging-protocol), but we'd like to switch to [chrome remote interface](https://github.com/cyrus-and/chrome-remote-interface).

**reasons**
* it's used by vscode, lighthouse, many others
* it has full HTTP support for version, new, list, ... etc
* it has protocol detection support across target

[2016-11-25 01:54] nt1m opened #1311 "[Editor] can't select the scrollbar"
Note: this was originally reported from bugzilla (not from me)
From: https://bugzilla.mozilla.org/show_bug.cgi?id=1319743

Steps to reproduce:

1. Firefox Developer Edition
2. Open Developer Tools (CTRL + SHIFT + I)
3. Debugger tab (CTRL + SHIFT + S)
4. Minify an file and Prettify it's Source in order to have big space to scroll
5. Try to grab the scroll bar with the mouse pointer

Actual results:

[2016-11-25 03:29] auchenberg commented on #1310
Do you plan on using the CDP directly from the front-end or have a server-side layer in between to enable CORS, etc?

[2016-11-25 03:32] jasonLaster commented on #1310
We plan on using it in the front end with a simple HTTP proxy for cors.

[2016-11-25 03:56] jasonLaster commented on #1311
Thanks @nt1m for sharing. I noticed something last month that was similar in the panel, but not locally. Happy to investigate.

[2016-11-25 04:58] jasonLaster commented on #828
closing as we'll be able to discuss this as one of many enhancements

feel free to add to the discussion even though it's closed

[2016-11-25 04:58] #828 closed

[2016-11-25 05:02] #1192 closed

[2016-11-25 13:10] cyrus-and commented on #1310
@jasonLaster

So, let's *defrag* the discussion about this feature and use this thread as a common point. For completeness, here are the previous threads:
- devtools-html/debugger.html#1279
- cyrus-and/chrome-remote-interface#63

Despite what I said, that CRI is meant to run in a Node.js context and so on, I'm interested to fully understand your requirements and to help you in this adoption, if po

[2016-11-25 15:54] jasonLaster commented on #1310
haha - yeah we're down from three threads to one.

Yeah, webpack could do the trick

1. webpack handles browserifying `http`, `https`, and `event-emitter` out of the box
2. I mapped `ws` to the browser global `WebSocket` in my config
3. if we moved `fetchObject` to its own module, then it would be fairly easy to swap that module out at build time.

I'll take a look early next week. That *does* sou

[2016-11-25 15:58] cyrus-and commented on #1310
But does it actually work? I'm trying the same but the API is different (constructor, `.on()`, etc.), it would need a wrapper I think.

[2016-11-25 16:36] jasonLaster commented on #1310
Oy. Perhaps I just didn't run into it yet :)

On Fri, Nov 25, 2016 at 10:58 AM Andrea Cardaci <notifications@github.com>
wrote:

[2016-11-26 18:51] bjorn3 opened #1313 "Allow editing variables"

[2016-11-26 22:53] cyrus-and commented on #1310
I come up with a possible solution in a [new branch][1]; [here][2] is the documentation.

Now `chrome-remote-interface` should run mostly out-of-the box into a browser context: the user must provide a global `criRequest` function in order to implement a custom HTTP fetcher.

Let me know what you think.

[1]: https://github.com/cyrus-and/chrome-remote-interface/tree/webpack
[2]: https://github.com/

[2016-11-27 00:18] jasonLaster commented on #1310
This looks good! I like `externalRequest`

My one concern is in requiring CRI in the webpack bundle.

I'd like to be able to `require("chrome-remote-interface")` and have it work. I'm not sure what the best way is to set this up, so l'll explore some options and get back to you.

Thanks for putting the time in to help so far!

[2016-11-27 00:37] cyrus-and commented on #1310
So I guess you'll have to include that config into yours, I'm pretty newbie when it comes to webpack though. But at least we should have all the ingredients now.

[2016-11-27 00:38] jasonLaster commented on #1310
yeah, definitely. perhaps the first step is to expose the webpack in the list of package.json files

then we might be good...

[2016-11-27 00:46] cyrus-and commented on #1310
You should be able to manually simulate it, I'd happily add it the next time I npm-publish, if it turns out that's enough. Let me know...

[2016-11-27 15:57] jasonLaster opened #1315 "[Editor] fix matched colors"
We currently change the color of the text matched when we search. If you look at other editors you'll noticed that they just rely on the search outline and overlay for the affect. And that is less jarring and more semantically correct.

The issue is that when we match the token for the search result we give the element a class name `cm-selecting` instead of what it would naturally have, which coul

[2016-11-27 16:35] jasonLaster opened #1317 "Add Sidebar toggle buttons"
It'd be great to add sidebar toggle buttons for a couple of reasons:
1. They really help when the debugger is small
2. We're going to land Vertical Mode soon #1314 and toggling source is HUGE there

**Some product requirements:**
1. clicking the toggle button toggles the adjacent sidebar (open/closed)
2. opening the sidebar opens the sidebar to the previous stored width (it's a nice to have)

**Pa

[2016-11-27 16:38] jasonLaster commented on #426
closed in favor of a more actionable issue #1317

[2016-11-27 16:38] #426 closed

[2016-11-27 16:40] jasonLaster commented on #1313
Thanks for filing the issue @bjorn3.

I just added it to our Enhancements board https://github.com/devtools-html/debugger.html/projects/5

Out of curiosity,
* when would you use this in the old debugger
* how often did you use this feature in the old debugger?

[2016-11-27 16:40] #1313 closed

[2016-11-27 16:42] #1112 closed

[2016-11-27 16:46] SebastianZ commented on #828
Where will this discussion take place?

Sebastian

[2016-11-27 16:50] jasonLaster commented on #828
Good question:

Here are the other [enhancements](https://github.com/devtools-html/debugger.html/projects/5).

The conversation can continue here and perhaps subsequent feature issues.

Sorry that this process is not that clear, I think we might adopt an RFC style repo process at some point so we can have open issues to discuss and plan. and perhaps roadmap issues as well where we can openly prior

[2016-11-27 17:46] Zacqary commented on #1315
Okay first of all, how do I open the Search in File box? ⌘+P lets me search for a filename, not within the current file

[2016-11-27 17:53] jasonLaster commented on #1315
Ahh good question, we're currently disabling editor search.

So you'll need to go to `configs/local.json` and add `editorSearch` to the list of features. You can compare this with `configs/development.json`. After that you can do Cmd+f :)

[2016-11-27 18:16] Zacqary commented on #1315
So am I missing something or is the fix actually this easy?
[code]

[2016-11-27 18:17] jasonLaster commented on #1315
haha - it might be that easy... what does opaque do?

[2016-11-27 18:24] Zacqary commented on #1315
From the [CodeMirror Docs](https://codemirror.net/doc/manual.html):

    Enable a highlighting overlay. This is a stateless mini-mode that can be used to add extra highlighting.

        Defaults to off, but can be given to allow the overlay styling, when not null, to override the styling of the base mode entirely, instead of the two being applied together.

Setting it to `false` retains the `cm-p

[2016-11-27 18:25] jasonLaster commented on #1315
oh sweet, i like it! PR it up

[2016-11-27 18:29] Zacqary commented on #1315
As for fixing the dark mode style, that's going to be more difficult to track down.

When I highlight this:
![screen shot 2016-11-27 at 1 26 30 pm](https://cloud.githubusercontent.com/assets/1445834/20650793/21ac1206-b4a5-11e6-9fbd-571eed258e71.png)
it has the classes `cm-property cm-overlay cm-selecting`.

Then I highlight the next thing, and look at it again:
![screen shot 2016-11-27 at 1 27 11

[2016-11-27 18:47] Zacqary opened #1319 "[Source Search] Performance is too slow for fast typing"
Here's a recording of what happens when I try to search for `render` at my normal typing speed:
![render](https://cloud.githubusercontent.com/assets/1445834/20650903/c812205c-b4a7-11e6-969b-51e36f6d55c2.gif)

It only picks up half the letters that I type because the callbacks triggered by each keypress are blocking the DOM.

The only workaround is to type really, really slowly.

[2016-11-27 19:29] wldcordeiro commented on #1317
I'll grab this since I had a prior patch. 😄

[2016-11-27 20:04] jasonLaster opened #1321 "Cleanup editor re-search work"
@arthur801031, mind looking into this warning which I believe was introduced in the *re-search when editor changes* PR?

[code]

[2016-11-27 20:09] jasonLaster commented on #1315
👍  guess this wasn't so hard

[2016-11-27 20:11] jasonLaster commented on #1319
@Zacqary hmm, i think we also have a debounce here which is probably the problem

https://github.com/devtools-html/debugger.html/blame/master/src/components/EditorSearchBar.js#L176-L191

This should definitely be fixed!

[2016-11-28 00:28] arthur801031 commented on #1321
@jasonLaster  No problem, I will take a look at this today :)

[2016-11-28 02:03] #1245 closed

[2016-11-28 02:35] jasonLaster opened #1324 "[Toolbox] Move internal tools to the devtools-local-toobox"
We currently have many of our internal tools in the debugger project. These should move to the toolbox so that they can more easily be shared.

**Notes**
* These tools are really only helpful when there's a second tool in Github, but it's good to plan ahead.
* This also simplifies the debugger project and that's a very good thing.

**Tools**
* m-c bundler
* m-c importer
* mochitest runner
* unit t

[2016-11-28 02:41] jasonLaster commented on #1251
Quick update: Now that we're using lerna as a post-install, it's very easy to start deleting dependencies from the debugger!

[2016-11-28 03:20] #1234 closed

[2016-11-28 03:20] #1208 closed

[2016-11-28 03:21] jasonLaster commented on #1122
This is now supported

[2016-11-28 03:21] #1122 closed

[2016-11-28 03:21] #966 closed

[2016-11-28 07:26] arthur801031 commented on #1319
@jasonLaster May I take a look at this? Thank you!

[2016-11-28 08:00] arthur801031 commented on #1319
@jasonLaster  I have fixed the issue. Please check. Thank you! :)

[2016-11-28 11:03] bomsy commented on #1319
@Zacqary @jasonLaster We do the debounce so we don't have to search for every character typed. We did this to match the workflow of the other editors e.g atom. If the search is a heavy operation do we want to do it on every `keypress`?

[2016-11-28 11:52] bomsy commented on #1315
Interesting note!
Setting `opaque: false` causes the outlines for searched phrase to be split based on tokens. `opaque: true ` brings them together.
See https://github.com/devtools-html/debugger.html/pull/1318#issuecomment-263252063

[2016-11-28 13:08] jasonLaster commented on #1254
Here's a patch

[code]

[2016-11-28 13:23] jasonLaster commented on #1315
Hmm, will look into this later, but a quick check of Chrome's debugger and it looks like they have a solution with codemirror. Might be worth doing a quick check of what they do https://github.com/ChromeDevTools/devtools-frontend

![screen shot 2016-11-28 at 7 45 18 am](https://cloud.githubusercontent.com/assets/254562/20669743/cef33112-b543-11e6-857d-13de1eb7ce80.png)

[2016-11-28 13:27] jasonLaster commented on #1319
Hmm, @bomsy @arthur801031 is there a way to update the input as you type and *just* debounce the search function? This way we won't lose characters, but we won't be as distracting.

[2016-11-28 13:39] Zacqary commented on #1319
Don't have the code in front of me right now to check, but is the search box using a `value` instead of a `defaultValue`? If we're denouncing the search function that means the `value` of the field isn't necessarily going to match the search string currently stored in state at all times, so we shouldn't be having React override the `value` on every render.

That would create an issue with x-ing ou

[2016-11-28 13:42] jasonLaster commented on #1290
CC @arthur801031  might be fun

[code]

[2016-11-28 14:05] jasonLaster commented on #1319
👍

[2016-11-28 14:13] arthur801031 commented on #1290
@jasonLaster I will take a look at this tomorrow! :)

[2016-11-28 14:39] bomsy commented on #1315
i had a quick peek .. This looks like the useful section in Chrome debugger code.
https://github.com/ChromeDevTools/devtools-frontend/blob/d8b14aea25a93cb6bbceb6aaaf45765c107d1fd9/front_end/source_frame/SourcesTextEditor.js#L727

[2016-11-28 14:47] bomsy commented on #1315
Off the top of my head,  i think we can fix with a smarter token function.

[2016-11-28 15:34] cyrus-and commented on #1310
@jasonLaster FYI I'm using a wrapper now (cyrus-and/chrome-remote-interface@b046e46155508778f19f1cbccabeb38f411815aa), should not impact your work though as you're not using my `webpack.config.js`.

[2016-11-28 15:39] jasonLaster commented on #1310
thanks for the heads up.

that's an improvement over this: https://github.com/devtools-html/debugger.html/pull/1320/files#diff-e90849efb3b26f4c34edad35df5d77efR66

going to come back to this soon and sort out the WS things.

I'd like to use your webpack.config, but i'm not sure how to compose them...

[2016-11-28 15:54] jasonLaster opened #1329 "[Editor Search Bar] Improve selection highlight"
Our current search selection has two issus:

1. It highlights each token separately [gif](https://cloud.githubusercontent.com/assets/792924/20667007/0479fbc0-b55f-11e6-826f-262315a101f8.gif)
2. the highlighted text needs to be white [screen](https://cloud.githubusercontent.com/assets/2848472/20470134/9969dc56-af73-11e6-880b-36987b13002c.png)

Both of these issues can be solved by improving how we

[2016-11-28 15:54] jasonLaster commented on #1329
CC @Zacqary, @bomsy interested?

[2016-11-28 18:33] bjorn3 commented on #1319
I experience slowness with just scrolling a 175676 byte file.

[2016-11-28 18:51] jasonLaster opened #1333 "Update m-c files"
Here's a running list of M-C Files that should be changed soon. Bundling this so that we can do this at once.

+ [highlight colors](https://github.com/devtools-html/debugger.html/pull/1282)
+ [remove svgs](https://github.com/devtools-html/debugger.html/issues/1306)
+ [update window rep](https://github.com/devtools-html/debugger.html/issues/933) https://github.com/devtools-html/debugger.html/pull/9

[2016-11-28 18:52] jasonLaster commented on #1306
closing in favor of #1333

[2016-11-28 18:52] #1306 closed

[2016-11-28 18:52] jasonLaster commented on #933
closing in favor of #1333

[2016-11-28 18:52] #933 closed

[2016-11-28 23:12] #1307 closed

[2016-11-28 23:12] #1269 closed

[2016-11-28 23:13] jasonLaster commented on #1250
#1330

[2016-11-28 23:13] #1250 closed

[2016-11-28 23:16] #1315 closed

[2016-11-28 23:16] jasonLaster commented on #1315
fixed here https://github.com/devtools-html/debugger.html/pull/1318

[2016-11-29 00:17] jasonLaster opened #1336 "[Source Tabs] context menu copy source url + view source"
Users should be able to right click on a source tab and either copy the source url to their clipboard or open the source in a new tab. Screenshots below

#### Patch 1: adding the context menu items

[code]

#### patch 2: connecting the items to panel functions

* this will require adding some modules to m-c
* it's sufficient for this PR to just add the shim modules and we can add the devtools-modu

[2016-11-29 00:23] jasonLaster opened #1337 "[Source Tree] show first root"
One nice thing that chrome does is only expand the first source tree root. This is nice because, they do some work to make sure it is *often* the most helpful and it helps focus the user on where to take an action.

#### Steps to reproduce

1. debug google.com

#### Patch

This patch should be everything we need.

[code]

#### Chrome
![screen shot 2016-11-28 at 7 20 23 pm](https://cloud.githubuser

[2016-11-29 00:26] jasonLaster opened #1338 "[Source Tree] Don't show empty root"
We shouldn't show an empty source tree domain.

#### Steps to reproduce

1. debug https://www.google.com/?gws_rd=ssl

#### Patch

here are some hints on where to start digging

[code]

### Screenshot
![screen shot 2016-11-28 at 7 18 42 pm](https://cloud.githubusercontent.com/assets/254562/20691620/25265eb8-b5a0-11e6-8a00-5d03ed785dd0.png)

[2016-11-29 00:28] #1297 closed

[2016-11-29 00:30] jasonLaster commented on #960
@bomsy we dropped the accordion refactor you're no longer blocked.

[2016-11-29 00:53] bomsy commented on #1329
i can take this!

[2016-11-29 00:55] bomsy commented on #960
Nice!

[2016-11-29 01:11] jasonLaster opened #1339 "[Docs] Contributing in the Community"
The new getting started [docs](https://github.com/devtools-html/debugger.html/pull/1334) drive people at the end to make a contribution.

One of the possible contribution is to give a [talk](https://github.com/devtools-html/debugger.html/pull/1334/files#diff-09ad6502077560aa1d440e471440ab75R97). I think we can expand on that idea and add a *community* section to our [How can I contribute?](https:/

[2016-11-29 01:15] jasonLaster opened #1340 "[Flow] Type the Editor component"
We recently added flow types to the [frames]() component and it really helped the code clarity. Also, I'm much more confident accepting PRs knowing that flow has my back.

It would be great to have similar flow checks for other components.

Here's a [patch](https://gist.github.com/jasonLaster/95dd7b5d79545d4e016f4c36ae36f931) for the Editor that i starterd.

[code]
Steps:
- [ ] add the `// flow` c

[2016-11-29 01:17] montogeek commented on #1340
Me 👯

[2016-11-29 01:19] jasonLaster commented on #1111
Thanks @monicau!

[2016-11-29 01:19] #1111 closed

[2016-11-29 02:13] jasonLaster opened #1341 "yarn run firefox fails"
This is a tracking issue for problems that come up with `yarn run firefox`. If you see anything, please let us know and we'll try to keep this issue up to date.

We'll re-open this issue if there's something wrong.

- [x] [does not set debugger server](https://github.com/devtools-html/debugger.html/issues/906)
- [x] [is not starting firefox with --start-debugger-server](https://github.com/devtools

[2016-11-29 05:04] #1251 closed

[2016-11-29 05:05] jasonLaster commented on #1235
we haven't seen this in awhile, so closing for now. lets re-open if they appear

[2016-11-29 05:05] #1235 closed

[2016-11-29 05:06] jasonLaster commented on #1230
Closing this as we have a working node app...

Going forward the app issues are tracked in that repo https://github.com/jasonlaster/debugger.app

[2016-11-29 05:06] #1230 closed

[2016-11-29 05:07] jasonLaster commented on #1216
closing as Yarn is not being flakey on CI and others aren't reporting this. We can re-open if they do.

#1235

[2016-11-29 05:07] #1216 closed

[2016-11-29 05:09] jasonLaster commented on #1137
This patch is likely the fix

[code]

[2016-11-29 05:10] jasonLaster commented on #1128
@helenvholmes @clarkbw @jlongster  curious to see what you think?

[2016-11-29 05:12] jasonLaster commented on #696
closing as this is not a priority

[2016-11-29 05:12] #696 closed

[2016-11-29 09:46] shlomif commented on #1297
Thanks for fixing it!

[2016-11-29 09:59] jnachtigall opened #1344 "Clicking "Open in Debugger" in inspector's ev popup opens empty debugger"
STR:

1. Hover over a "ev" bubble to open event popup in Inspector
2. Click on the "Open in Debugger" link on the left

AR:
Opens bare/empty/uninitialized debugger with nothing open

ER:
Should open with right file open and jumped to the right function

I think this is something to track to reach feature parity with the old debugger. Do not know if this is rather a problem with the Inspector than

[2016-11-29 14:37] jlongster commented on #1128
I don't understand the font sizing issues, are you saying they should be even smaller? The fonts are locked in as they are though because they match the devtools defaults and changing them requires you to convince the rest of the team to change our default font size (and we aren't going to have a different one only locally).

The real solution is media queries, as you mentioned, and I think there

[2016-11-29 15:11] jasonLaster commented on #1128
ahh - I think this is two things:

1. narrow widths, which vertical layout will help with
2. zoom'd in screens which are likely out of scope

[2016-11-29 15:11] #1128 closed

[2016-11-29 15:15] jasonLaster commented on #1127
@afeld just landed #1334 which should help in this department!

[2016-11-29 15:15] #1127 closed

[2016-11-29 15:19] jasonLaster commented on #1247
@Garbee, @viswanathamsantosh, @clarkbw just landed #1334, #1331, and #1323 which should really help with the docs

Here are some links

https://github.com/devtools-html/debugger.html/blob/master/CONTRIBUTING.md
https://github.com/devtools-html/debugger.html/blob/master/docs/getting-setup.md
https://github.com/devtools-html/debugger.html/blob/master/docs/local-development.md
https://github.com/devt

[2016-11-29 15:26] #1247 closed

[2016-11-29 15:30] jasonLaster commented on #1247
@monicau, @jacobjzhang, @akhillb, @svenvNL, @SezginEge, @gavlu, @samuelfullerthomas, @Dalimil we just re-wrote our getting started docs. Do you have any suggestions on how to make them more beginner friendly?

@JasonWeathersby any constructive criticism?

[https://github.com/devtools-html/debugger.html/blob/master](/CONTRIBUTING.md)
[https://github.com/devtools-html/debugger.html/blob/master](/doc

[2016-11-29 15:34] jasonLaster commented on #1338
@kareniel you might find this one interesting?

[2016-11-29 15:34] jasonLaster commented on #1137
@jacobjzhang interested?

[2016-11-29 16:19] clarkbw commented on #1339
I can get this started on this with some help from the Vancouver tech podcast team

[2016-11-29 17:21] wldcordeiro commented on #1128
@Zacqary I think the vertical layout will help a lot with this.

[2016-11-29 17:24] Dalimil commented on #1247
'Getting Started' link in /CONTRIBUTING.md is dead... I guess it should link to getting-setup.md instead...?

[2016-11-29 17:42] jasonLaster opened #1347 "[Watch Expressions] polish header buttons"
The watch expressions header buttons could use a little love

* the buttons header is a button, it should be a div
* the buttons have placeholder SVGs, which should be replaced

### Patch

* Getting started with watch expressions requires enabling the [feature](https://github.com/devtools-html/debugger.html/blob/master/docs/local-development.md#configs) `watchExpressions`
* This should be enough t

[2016-11-29 17:56] jasonLaster commented on #1280
Attaching a conversation between James and I on this topic:

[code]

[2016-11-29 18:14] clarkbw commented on #1247
Oh, I think that's supposed to be https://github.com/devtools-html/debugger.html/blob/master/docs/getting-setup.md

[2016-11-29 18:50] jasonLaster opened #1350 "[Watch Expressions] Improve Preview"
We currently show the entire object value when you're paused. We'd like to just show a tiny preview, with the ability to expand the value like you can do in the scope pane.

#### Patch

* I first tried just changing the rep mode to tiny and learned it wouldn't expand
* then I found the place in the scope pane where we build the ObjectInspector and left some notes there

[code]

#### What we do now

[2016-11-29 19:59] ogryzek commented on #1339
We have a meetup scheduled for [January 23rd](https://www.meetup.com/VancouverTechMeetup/events/235789664/). Will add more details as we decide on the venue & sponsors.

Planning on going through the resources linked above this week. Looks great so far!

[2016-11-29 20:09] garrettgsb commented on #1339
Right on-- I'll support Drew with organizing the meetup, and when I have some free time, I'll have a look at the Getting Started guide and give some thoughts on how the session could look.

[2016-11-29 21:33] jasonLaster opened #1352 "[Source Tree] misses a filename"
https://github.com/devtools-html/debugger.html/issues/1098 listed some inconsistencies between chrome's source tree and firefox's.

One thing I found was that is that if the file name has a space and or is missing an extension, our algorithm thinks its a directory.

**Steps to reproduce:**
* go to localhost:8000
* in another tab go to localhost:8000 and debug the first tab (basically start incepti

[2016-11-29 21:42] jasonLaster opened #1353 "[Source Tree] use a "." for the root dir"
#1098 listed some inconsistencies between chrome's source tree and firefox's.

The biggest difference is that chrome can add a "." root directory, if there are other absolute top level directories.

For example, assume there are two paths:
* webpack://utils.js
* webpack:///users/jlaster/file.js

Then we'll create these directories
[code]

#### Here is chrome's top level directories for the *webpac

[2016-11-29 21:43] jasonLaster commented on #1098
closing this as it was too vague

[2016-11-29 21:43] #1098 closed

[2016-11-29 21:53] jasonLaster commented on #1353
@amitzur is on it

[2016-11-29 22:16] #1252 closed

[2016-11-29 22:46] Dalimil commented on #412
Did someone break the favicon path after swapping /index.html and /packages/devtools-local-toolbox/index.html ?

[2016-11-29 22:47] jasonLaster commented on #412
yep - thanks for filing @Dalimil. Want to PR a fix?

[2016-11-29 22:53] amitzur commented on #1353
In an initial look into the structure of source maps, I gathered that the "." is something that webpack places, probably to reflect structure in the consuming dev tools.
i.e. in bundle.js.map of this project the sources entries look like this:
`webpack:///./public/js/main.js`

Having `webpack:///` as the prefix (they could have placed it in the sourceRoot) creates the separate entry (with the clou

[2016-11-29 22:55] jasonLaster commented on #1353
it might help to look at

[code]

*might work*
[code]

to see how we store the URLs

[2016-11-29 23:01] jasonLaster commented on #1353
Here's a list of [source urls](https://gist.github.com/jasonLaster/3e6d9944c2ea3a82f575352fd82263c6)

and a script to get it
[code]

[2016-11-29 23:04] jasonLaster commented on #1353
and ugh that list is way too massive so i created a simplified case:

[code]

[2016-11-30 00:17] Dalimil commented on #412
I thought I would just be able to change line 92 (`app.use(express.static("assets/build"));`) of `/packages/devtools-local-toolbox/bin/development-server.js` but I'm unable to reach the favicon.png filepath for some reason.

[2016-11-30 00:19] jasonLaster opened #1355 "[Toolbox] document running targets"
From @kdzwinel

[2016-11-30 00:19] jasonLaster opened #1356 "[Toolbox] Format lint run"
From @kdzwinel

[2016-11-30 00:21] jasonLaster commented on #1355
Takeaways:

1. we should make it really clear how to run targets from the landing page
2. we could add a terminal instruction
3. we could point people to a section of the getting started doc for runnign targets

[2016-11-30 00:22] jasonLaster commented on #1356
Ideas:
- fail if any of the lints fail
- make a snazzy node script that makes it clear what will run and afterwards what the results were

[2016-11-30 00:33] jasonLaster commented on #412
@Dalimil good thought.

my bet is that it would be easier if we move the favicon to a directory in the toolbox...

not too much context here though, so your guess is as good as mine

[2016-11-30 03:40] #1338 closed

[2016-11-30 06:45] andreicristianpetcu commented on #412
@jasonLaster Can I get the next "easy" task? I see tasks are getting assigned imediatly after creation :)

[2016-11-30 07:36] arthur801031 commented on #1290
Hi @jasonLaster @clarkbw

I'm not sure where to pass a reference of the sources tree to `SourceTabs.js`. I've looked at `SourcesTree.js`, `sources-tree.js`, `tree.js`, `ManagedTree.js`, and `Sources.js`, and I'm still confused... Please help. Thank you!

[2016-11-30 13:47] #1266 closed

[2016-11-30 14:21] jasonLaster commented on #1353
Hmm, @amitzur perhaps chrome's devtools source map interprets the URLs differently

![screen shot 2016-11-30 at 9 20 52 am](https://cloud.githubusercontent.com/assets/254562/20755836/61200132-b6de-11e6-8488-28b81b598284.png)

[2016-11-30 15:11] jasonLaster commented on #1347
@andreicristianpetcu interested in claiming this one? It's marked as medium, but is not too bad :)

[2016-11-30 16:01] jasonLaster opened #1357 "[Vertical Layout] support firefox"
We recently landed vertical layout in https://github.com/devtools-html/debugger.html/pull/1314. It uses, `window.matchMedia` which does not fire `onchange` when the window resizes in firefox.

### Chrome
![vertical layout](https://cloud.githubusercontent.com/assets/254562/20759880/510af6f4-b6ec-11e6-8bea-e26872761173.gif)

### Firefox
![](http://g.recordit.co/VzwKiLlEHU.gif)

[2016-11-30 16:11] jasonLaster opened #1358 "[Vertical Layout] Source Tree"
We recently landed vertical layout, which gives App.js the ability to monitor the page width and flip to a vertical mode when the page is less than 700px.

Currently the source tree is the full height of the debugger. We would like the source tree to be a sibling of the editor as it is in chrome.

### Patch

Here's a [patch](https://gist.github.com/jasonLaster/579f1b93694431d4763de60697882627) to

[2016-11-30 16:26] jasonLaster opened #1359 "[Vertical Layout] Scope Pane"
We recently landed vertical layout, which gives App.js the ability to monitor the page width and flip to a vertical mode when the page is less than 700px.

Currently the scope pane is below the Frames section in the accordion. We would like to move it to the right so that it gets more real estate.

### Patch

Here's a [patch](https://gist.github.com/jasonLaster/f60bee14b54ab9661dee11634573ef74) to

[2016-11-30 16:44] jasonLaster opened #1361 "[Toolbox] Hot Reloading breaks SingleModulePlugin"
We recently introduced [SingleModulePlugin](https://github.com/devtools-html/debugger.html/pull/1351) to help with issues where two modules would require the same module, but get different closure scopes: e.g.

- toolbox / main would get a different clientType
- networkRequest did not get the config when it was set in source-map-worker

This broke hotReloading because SMP relies on a string compar

[2016-11-30 19:52] jasonLaster commented on #1290
Hey @arthur801031 that's a genuinely difficult problem :)

I recommend doing this to get `revealSource` working and we can brainstorm a good approach on thursday.

Generally, I'm not sure what the best way for one react component to talk to another is if not through redux. @jlongster any suggestions?

[code]

[2016-11-30 20:17] jlongster commented on #1290
You're not really supposed to. The closest you should get is passing props down that happen to affect the state.

You should somewhere maintain state that is a list of sources that should be opened in the source tree, and then pass it down into the tree as items that it should make sure are expanded. This is transient state: a later rendering of a different list will not force the other sources to

[2016-11-30 20:42] jasonLaster opened #1364 "[Prefs] the prefs shim is not working with local storage"
I'm seeing some issues with the prefs shim locally. I'll take a look in a bit.

STR:
1. create a new pref `foo` with the prefs helper (see below)
2. in the console do `prefs.foo = false`
3. refresh
4. in the console `prefs.foo`

you expect to see false, but get true and if you screenshot localstorage you get

![screen shot 2016-11-30 at 3 11 19 pm](https://cloud.githubusercontent.com/assets/254562

[2016-11-30 20:48] jasonLaster commented on #1290
Thanks, one point here is that having the state in `redux` means that if the source tree is re-rendered it will expand to that source.

We can always clear that value later too.

[2016-11-30 21:18] jasonLaster commented on #880
This is blocked by #1364

[2016-11-30 21:18] jasonLaster commented on #960
This is blocked by #1364

[2016-11-30 21:19] jasonLaster commented on #1319
@bjorn3 I believe that's a different issue, but also important.

[2016-11-30 21:19] jasonLaster commented on #1319
#1327 landed

[2016-11-30 21:19] #1319 closed

[2016-11-30 21:19] #1321 closed

[2016-11-30 21:20] jasonLaster commented on #1352
@amitzur is working on this

[2016-11-30 21:23] jasonLaster commented on #1340
Hey @montogeek have you had a chance to take a stab at this?

If so, let me know if you're blocked or have any questions. happy to assist

[2016-11-30 21:25] montogeek commented on #1340
@jasonLaster I am so sorry, this week I am busy. I can start working on it this weekend