[2016-11-30 21:26] jasonLaster commented on #1340
no worries. not time sensitive :)

[2016-11-30 21:28] jlongster commented on #1290
That's a good point. This is a problem generally with transient state. We'll have to think of a way to solve it. Sometimes there is a better way to structure things but I can't think of a way off the top of my head.

It's OK to use refs sometimes in the parent, but reaching across the entire tree like this is just wrong. It breaks encapsulation of the component. There is a lot out there on transie

[2016-11-30 21:32] jlongster commented on #1353
I like ours better, what's the issue exactly? The only thing mentioned is that it's different from Chrome, why is that a bad thing?

And yes, this is definitely because of how sourcemap URLs are resolved. This is part of the `source-map` library and definitely can't change because it would be backwards incompatible and that library is basically frozen (unless there are major problems with a featur

[2016-11-30 21:39] andreicristianpetcu commented on #1347
I'll try it out @jasonLaster. I will look at it next week if it's not an urgent issue.

[2016-11-30 21:41] jlongster commented on #1353
Probably worth looking into still, I *think* it's because we give the `source-map` library a sourcemap and it gives us back URLs, and it resolves things to solve a of use cases. Check the input sourcemap and the output original URLs.

[2016-11-30 21:42] jasonLaster commented on #1353
Good idea. If there's nothing we can do there, we can close this.

I prefer having a "." directory as it nice to have ".", "~", "webpack" as sibling dirs.

In reality, the better fix would be to have directories that line closer with what is on disk, which is the direction the chrome team is headed in.

[2016-11-30 21:45] wldcordeiro commented on #412
As far as I can tell this work was already done.

[2016-11-30 21:47] jlongster commented on #1353
I guess I don't understand where `.` is coming from: if the URL in the sourcemap is `webpack:///actions/index.js` (which you pasted above) it makes sense that it would map `/actions/index.js` to a top-level `actions` folder with `index.js` inside of it.

Sourcemaps are completely made up, so it's up to whatever is generating the sourcemaps to do that. I don't see how we could do anything else when

[2016-11-30 21:49] jasonLaster commented on #412
perhaps - @Dalimil mind PRing that fix?

[2016-12-01 00:01] Dalimil commented on #412
@wldcordeiro It was but then the project structure changed and the favicon path stopped being valid and it disappeared again...

[2016-12-01 02:20] #1357 closed

[2016-12-01 11:44] jnachtigall opened #1367 "[Windows] F10 opens Menu instead of "Stepping Over""
If you press F10 under Windows 7 and 10, then the Firefox Menu opens. In order to step over an instruction I have to use the mouse instead of the F10 shortcut.

This was also an issue in the old debugger, see https://bugzilla.mozilla.org/show_bug.cgi?id=923971 (uh, I just see that yesterday someone asked to reopen it)

[2016-12-01 14:33] jasonLaster commented on #1367
Thanks for sharing.

@jnachtigall would you like to try and submit a fix?

I think the patch would look something like this?

I don't have a windows computer, so it is tough for me to asses.

Here's our [getting started](https://github.com/devtools-html/debugger.html/blob/master/docs/getting-setup.md) guide, it should be ~ 5 mins.

[code]

[2016-12-01 14:46] #412 closed

[2016-12-01 15:03] amitzur commented on #1353
I think there's some confusion here, which I intend to resolve by resorting to the increment example.
I'm going to show 3 ways to create the source maps, and include what chrome and debugger.html do for each.
The bottom line IMO is, whatever the source maps generated should be reflected in the sources pane. Seems like `source-map` does its job, as @jlongster mentioned, but the client should constr

[2016-12-01 20:49] sankha93 commented on #1358
I would like to take a stab at this over the weekend.

[2016-12-01 22:43] Dalimil commented on #1337
So first, the `devtools-sham-modules` tree component with `autoExpand(roots[0], 0);` will throw an undefined error for an empty `roots` array so that had to be fixed.
Then I was trying to implement a source tree ordering that would be similar to the one used in Chrome - they keep the root domain on top and then only alphabetically sort the rest. (see the attached screenshot - `www.mozilla.org` nee

[2016-12-02 13:39] jasonLaster opened #1374 "[Sources Tree] the host domain should be first"
We should show the debuggee host domain first in the tree.

Notes:
* we will likely need the tab url in the redux store

Patch for debuggee url

[code]

CC @darkwing, @Dalimil

@Dalimil interested in grabbing this and applying your work from before?

[2016-12-04 10:41] bjorn3 opened #1375 "Debugger crashes on sparse local storage"
When I tried debugging some javascript with firefox developer edition debugger.html constantly crashed at the same point in my code. I got a popup saying debugger.html was running too long. If I tried to use the browser I couldn't use the menu button or any other button of for example noscript. When I finally tried to close firefox I got display error in the browser window and had to kill it.
Scre

[2016-12-04 10:47] bjorn3 commented on #1375
I guess its because debugger.html can't handle sparse arrays.

[code]

[2016-12-04 20:55] jasonLaster commented on #1375
Uhoh. We'll definitely look into that.

Hmm. Could you try creating a test case?

Also is it possible for me to go to your page?

[2016-12-05 09:07] jnachtigall opened #1376 "Ctrl+P followed by Ctrl+F opens native Firefox search"
Steps to reproduce:
1. Ctrl+P to open a certain file
2. Ctrl+F to open for a certain string in this file

Actual results:
Native Firefox search bar is opened

Expected results:
The debugger.html search (labelled with the placeholder "Search for:") should open.

If I click in the debugger file tab then the correct search bar is opened. So maybe it is just an issue of setting the focus to the filed

[2016-12-05 11:27] jnachtigall opened #1377 "[PERF] Lots of "Not responding" / Spinning wheels with large js file"
I know this isn't the most useful bug report, but I am getting lots of "Not responding" issues on Windows 10. That is, the Firefox window regularly hangs for about 5-10secs. Happens:
- When I simply Ctrl+F in a JS File which is 2MB
- When I have breakpoints in this file and reload

My system isn't "weak" either:
* Intel(R) Core(TM) i5-3570 CPU @ 3.40GHz, 3401 MHz, 4 Kern(e), 4 logische(r) Prozesso

[2016-12-05 12:07] jnachtigall opened #1378 "Splitter not resizable when Debugger is docked to side of browser window"
I cannot resize (drag'n'release with the mouse) these splitters if the debugger is on the right side:

![2016-12-05 13_02_53-yahoo suche websuche suchmaschine - nightly](https://cloud.githubusercontent.com/assets/3307404/20884382/4358edce-baeb-11e6-94f5-8dd2992a5f18.png)

The middle tab area is a bit to small to work with ;) Interestingly only happens if I am on full window, not if I the windows i

[2016-12-05 18:34] bjorn3 commented on #1375
Minimal reproduction:
[code]
Needs two low numbers and then a high number.

[2016-12-05 18:48] jasonLaster commented on #1375
Thanks.

At first I thought you used your phone number as the key.

I'll look into it later today.
On Mon, Dec 5, 2016 at 8:34 AM bjorn3 <notifications@github.com> wrote:

[2016-12-05 18:50] bjorn3 commented on #1375
Its a database key.

[2016-12-05 19:00] jasonLaster commented on #1375
Makes more sense
On Mon, Dec 5, 2016 at 8:50 AM bjorn3 <notifications@github.com> wrote:

[2016-12-05 20:00] bjorn3 commented on #1375
Screencast debugging debugger.html while debugging the snippet above: https://vid.me/OoQd.

Note: mouse position seems to be off quite a bit.

[2016-12-06 00:04] nickolay commented on #626
I am confused as to whether debugger.html has _any_ kind of tooltip when hovering any kind of variable variable.  The initial description here implies that it does (and requests an enhancement for the function-valued variables), while #1293 (marked as a duplicate of this issue) implies that it doesn't... Can anyone clarify?

[2016-12-06 00:08] jasonLaster commented on #626
Sorry it's not clear.

We're missing the tooltip, but that'd be a great next step.

[2016-12-06 02:35] bzbarsky commented on #626
My initial bug report was about the Firefox devtools as they existed at the point when I filed the bug.  I was told to file it in this repo.  Those devtools did have a tooltip, but it was missing some information I wanted.  The change to debugger.html then removed even the info that we _used_ to have.  :(

[2016-12-06 02:35] bzbarsky commented on #626
And I think marking https://github.com/devtools-html/debugger.html/issues/1293 as a duplicate of this one wasn't correct; if this issue is resolved as written we'll have the link to the function definition, but not the info https://github.com/devtools-html/debugger.html/issues/1293 is asking for!

[2016-12-06 02:52] jasonLaster commented on #626
Sorry for the regression :/.

The debugger was a total rewrite. I'll clean up the issue description soon as we have a much better product doc in the works.

In reality, were not great about talking about upcoming work. We should get a lot better on that front!

We're planning on having a link to the definition and a formatted variable.

We also want some goodies like add to watch expression. What

[2016-12-06 07:09] wldcordeiro commented on #1378
I believe this is addressed by our recent vertical layout PRs. However I don't think that has been pushed upstream to nightly yet or dev edition.

[2016-12-06 07:16] bzbarsky commented on #626
The extra info that used to be there was some information about scope chain, as I said.  It doesn't have to be in the popup, if it's accessible some other way.

[2016-12-06 07:33] nickolay opened #1382 "webpack's SingleModuleInstancePlugin added in #1351 kills loading performance on Firefox"
With debugger.html @ 6540a907068f67b5adb7d14c4b9f52662016733f and current Firefox Nightly simply loading the UI (http://localhost:8000/) takes a few seconds on my machine.

Profiling reveals that most time is spent (surprisingly!) in `__webpack_require__`'s "Self Cost". Digging deeper shows that there are multiple JIT failures on this line: https://github.com/smikhalevski/single-module-instance-we

[2016-12-06 08:32] jnachtigall commented on #1378
@wldcordeiro Thanks for info. Is there a way to see which version is deployed in Nightly or Dev edition? Something like `<some-global-debugger-object>.VERSION` (`VERSION` being a time snapshot or similar)

Also, since I use Dev edition for work and face with many issues with the new debugger, an uplift outside of the 6 weeks train schedule would be very much appreciated.

[2016-12-06 08:33] wldcordeiro commented on #1378
@jnachtigall We don't currently export a version number, but that is a great idea. I'll file an issue for it.

[2016-12-06 08:34] jnachtigall commented on #1376
Ctrl+F works for me when focus is set (Windows 10 and Ubuntu). But AFAIK shortcuts are OS dependent, @bjorn3, which OS do you use?

[2016-12-06 11:33] viswanathamsantosh commented on #1339
I will have a meeting scheduled in January end with my community Reps to discuss more about this! we have been into different camps and initiatives like Rust, WebVR etc. and introducing this as an activity will give us more insights from the community.

[2016-12-06 11:54] bjorn3 commented on #1376
@jnachtigall macOS

[2016-12-06 12:11] viswanathamsantosh commented on #1339
Going through the documents:
*I really loved the restructuring of documents. they seem to be very clear
*# create a new terminal tab and # close firefox if it's already running : this comment will definitely solve the one mega problem for a newbie in getting started. two of the people i introduced this project got struck up here and this comment will help them now.
*Including images instead of usi

[2016-12-06 12:27] viswanathamsantosh commented on #1339
When it comes to a talk, there are two possibilities of talks.
*one: a talk to contributors asking them to join our project and contribute. I believe we have enough resources in giving a talk and helping them to get involved.
*two: a talk to increase the User base. A talk giving them an overview of debugger.html, in what scenario is it useful? who is it for? a guide to debugging a webapp using thi

[2016-12-06 17:16] jasonLaster commented on #1382
Thanks for sharing @nickolay! And thank you for the perf analysis as well.

SMP seems pretty inefficient on the surface. I apologize, I've tested the perf on chrome, but this regression is unacceptable and we will fix it.

By the way, it might get worse before it gets better :)

https://github.com/devtools-html/debugger.html/pull/1372

I think what we might need to do, is find a way to tree shake

[2016-12-06 17:18] jasonLaster commented on #1378
@jnachtigall is this what you're running into: https://github.com/devtools-html/debugger.html/issues/856?

[2016-12-06 17:23] jasonLaster commented on #1339
I didn't want to affect the readability... but i could be off here and maybe i crop them vertically too...

Yeah, I like the talk format where the subject is how the debugger works and the call to action is contribute.

:) I think this is a major bug in our documentation! The debugger.html project *is* the devtools debugger. I'll update the docs to make this more clear. I'll also add docs on how y

[2016-12-06 17:26] jasonLaster opened #1383 "[docs] discuss in panel developement"
These docs discuss [mochitests](https://github.com/devtools-html/debugger.html/blob/master/docs/mochitests.md). We can re-purpose them and the tool to help contributors get started doing in panel development.

https://github.com/devtools-html/debugger.html/issues/1339#issuecomment-265137980

[2016-12-06 17:34] jasonLaster commented on #1376
Nice find!

We recently opened a PR for stopping propagation on function shortcuts like F8. https://github.com/devtools-html/debugger.html/pull/1373/files

Here's what I see. Is that what you get?

![](http://g.recordit.co/bAQn58GlPw.gif)

I think the right UX would be to just suppress the handler and do nothing. We don't really have a file to search...

[2016-12-06 17:39] jasonLaster commented on #1377
@jnachtigall that is *quite* bad.

* I'll add a quick 5mb file example so that it is easy for others to test this
* Would it be possible for you to reach out me at jlaster at mozilla <dot> com? It'd be nice to get some more information here

@clarkbw, @Garbee, @viswanathamsantosh mind investigating as well?

[2016-12-06 18:02] jasonLaster commented on #1382
Just took a look and you're absolutely right. It looks like there is tremendous GC pressure with all of the new strings created.

<img width="1259" alt="screen shot 2016-12-06 at 1 01 19 pm" src="https://cloud.githubusercontent.com/assets/254562/20937263/34fbaa5e-bbb4-11e6-86ea-9973d0d46220.png">

@juliandescottes looks like we should start caching those sanitized module strings!

[2016-12-06 18:18] jnachtigall commented on #1376
@jasonLaster Yes, the native searchtool opens instead of the debugger's in-file search. Whereas for @bjorn3 it seems like the debugger's in-file search is not available at all on macOS

[2016-12-06 18:22] jnachtigall commented on #1378
I looked at #856 already before opening this bug and it's hard to tell because there's no screenshot and only a few words in the report there. I'd say it's something different.

But you can simply side-dock the devtools in Nightly and try to use resize the splitters of the debugger - it's not working at all. So should be very easy to reproduce.

[2016-12-06 18:27] jnachtigall commented on #1377
@jasonLaster I'll look into this tomorrow. And in case I cannot reproduce with your 5mb.js file then I'll try to send you a minimal working example by mail.

[2016-12-06 18:29] jasonLaster commented on #1378
Yeah, the right sidebar splitter has its issues for sure

![](http://g.recordit.co/22uDFijXxg.gif)

This is something we knew and decided it wasnt a release blocker even though it is frustrating.

We now have vertical mode and will fix the splitter in this case and the zoomed in case soon.

[2016-12-06 18:45] jnachtigall commented on #1378
Albeit the UX issues you seem to be able to resize at least. In my case (monitor resolution 1920x1080) I cannot resize at all. So the image above in 1378#issue-193480486 is static, that's no dragging of the splitters possible at (not sure if this was clear).

[2016-12-06 18:47] jasonLaster commented on #1378
Strange. Yea, right docked is not ready for prime time
On Tue, Dec 6, 2016 at 8:45 AM jnachtigall <notifications@github.com> wrote:

[2016-12-06 20:30] jasonLaster commented on #1382
Just added a cache and saw requires went down from 6 seconds to 1 second.

https://github.com/jasonLaster/single-module-instance-webpack-plugin

<img width="1433" alt="screen shot 2016-12-06 at 3 16 43 pm" src="https://cloud.githubusercontent.com/assets/254562/20942307/e0ac37ba-bbc8-11e6-9693-77b747f08bf7.png">

[2016-12-07 03:18] darkwing commented on #1305
This appears to be fixed and ticket should be closed.

[2016-12-07 04:29] darkwing opened #1387 "Use Special Style for "(index)""
If you load a site like ESPN, it's hard to find "(index") in the left sidebar.  Since it's the "main" resource being loaded, it would be good to call more attention to it.

A few ideas:
- A light yellow background on the "(index)" row
- Always show the hostname for "(index)" at the top of the left side list

[2016-12-07 04:50] darkwing opened #1388 "Tab Tooltip URL need to remove ":formatted""
Formatted JavaScript adds ":formatted" to the tab title, which is cool, but the generated URL that serves as a tab title attribute will lead to 404s:

<img width="957" alt="formatted-url-404" src="https://cloud.githubusercontent.com/assets/46655/20955104/8d7bd868-bbe4-11e6-8408-dab32282306a.png">

[2016-12-07 06:34] #1305 closed

[2016-12-07 09:07] arthur801031 commented on #1290
Hi @jasonLaster @jlongster

I just finished adding:
1. Storing a list of items that should be expanded in redux.
2. A functionality in `ManagedTree` that takes an array of items and add those to the `expanded` local state, which would expand those folders.

Problem:
I’m trying to call the function that I mentioned in 2. in `SourcesTree.js render`, but I haven’t been able to make this work. `Source

[2016-12-07 09:14] jnachtigall opened #1394 "Remove vertical separator (line) between code and line numbers"
I still think that the line between the line numbers and the code does not look nice, especially if the first tab is active (because the vertical line hits loosely into the tab title). See
![687474703a2f2f672e7265636f726469742e636f2f427235756c73443174342e676966](https://cloud.githubusercontent.com/assets/3307404/20961533/b7a0a908-bc65-11e6-993d-d12f69c207c3.gif)

Looks better in Sublime:
![e728c3c

[2016-12-07 09:17] jnachtigall commented on #1305
Thanks, I still think though that is valid from above:

Created #1394 for it for further discussion...

[2016-12-07 09:49] jnachtigall opened #1396 "Export a version number to see what debugger version comes with Firefox"
@wldcordeiro I took the liberty to add this ;)

As of https://github.com/devtools-html/debugger.html/issues/1378#issuecomment-265091011 it would be great if there was a way to see which version is deployed in Nightly or Dev edition. Something like `<some-global-debugger-object>.VERSION` (VERSION being a time snapshot or git hash, though I would prefer a human readable date/time).

I was thinking a

[2016-12-07 09:59] wldcordeiro commented on #1396
@jnachtigall Thanks! Heh, missed it. I think it'd be nice to make `VERSION` equal to a format like `x.y.z-git-hash` this way it shows our planned version numbers that will be published to npm/Firefox and then in development you'll have a hash to check against.

[2016-12-07 13:05] jnachtigall opened #1398 ""TypeError: tab is undefined" when reloading debugger tab"
I'm getting this TypeError from time to time when reloading the browser tab where the debugger is running in:
![2016-12-07 13_59_51-program manager](https://cloud.githubusercontent.com/assets/3307404/20968637/9893ddf8-bc85-11e6-8f6c-6b13fc052a47.png)

 when doing a Browser Reload on this file:
[code]

No idea why. At least the TypeError should be somehow caught and the debugger fail more gracefull

[2016-12-07 17:08] viswanathamsantosh commented on #1377
Strange! I cannot see the 5mb.js file in the source panel. However i was able to find the jquery.js file. Regarding the browser not responding, I always face this issue when i open a tab to debug irrespective of the size of js file.

System configuration is Intel(R) Core i5-4200U CPU @ 1.6Ghz 2.30 GHz with 6:00GB RAM.

[2016-12-07 17:16] viswanathamsantosh opened #1399 "Overlapping of footer message with the tab details on the middle pane"
![debugger_issue1](https://cloud.githubusercontent.com/assets/3799600/20978395/c38a7af0-bcce-11e6-8e09-a35496e7056e.JPG)

'First time connecting to Firefox?' message is overlapping with the tabs shown on the page.

[2016-12-07 17:23] jasonLaster commented on #1399
😢

thanks for filing.

[2016-12-07 17:27] jasonLaster commented on #1398
this is definitely the case when debugging chrome. I thought we had locked this down w/ firefox.

thanks for sharing

[2016-12-07 17:34] jasonLaster commented on #1396
Nice idea!

It's kinda funny that we don't have an obvious debugger global object to namespace it in.

Also, yea using the SHA makes sense.
I don't think we want to semver the debugger yet...

[2016-12-07 17:37] jasonLaster commented on #1396
Here's a patch for how I would do it:

[code]

[2016-12-07 17:46] jasonLaster opened #1400 "[Editor] polish the editor gutter style"
@jnachtigall mentioned this in #1305 and #1394

A couple of points:
* should the gutter have a different background color
* should there be a right border
  * sublime has a really cool effect where they subtly add a drop shadow when you scroll right

##### Ours

![](https://cloud.githubusercontent.com/assets/3307404/20593769/e2639060-b233-11e6-9ff7-ae4bfd460ad6.png)

<img width="761" alt="screen s

[2016-12-07 17:48] jasonLaster commented on #1394
oops, sorry created a dupe here #1400

[2016-12-07 17:48] #1394 closed

[2016-12-07 17:52] jasonLaster commented on #1290
Hmm, this *does* sound difficult :)

* I just merged the reveal tree PR.
* I don't think you need the list of items in redux. It can be state in the sources tree component.
Perhaps set the state in componentDidUpdate

[code]

[2016-12-07 17:56] jasonLaster commented on #1388
Yes, it will!

That's a great point. Thanks for connecting it to the use case of copy pasting it into the url bar. I would have totally replied, differently had you not mentioned that :)

It's nice to distinguish between pretty and ugly code but not at the expense of hurting the user.

P.S. way to keep punk themes and mootools yui alive!

[2016-12-07 18:03] jasonLaster commented on #1388
Here's a quick patch to get started

[code]

@darkwing interested in grabbing this one? We've refined the [getting started](https://github.com/devtools-html/debugger.html) process since July. And, I remember, tab titles are your baby :)

[2016-12-07 18:11] jasonLaster commented on #1387
I think that it being on the top will help a lot. I'm in favor of something that distinguishes it, but a yellow background sounds jarring. perhaps italicized, or slightly grayer font, or different color?

Yup, #1374

[2016-12-07 18:23] darkwing commented on #1387
Closing as #1374 should address the issue.

[2016-12-07 18:23] #1387 closed

[2016-12-07 18:47] jnachtigall commented on #1377
@viswanathamsantosh Me neither. I had this reported in https://github.com/devtools-html/debugger.html/pull/1384#issuecomment-265435911 (Sorry, should have shared before) @jasonLaster maybe open a separate bug for the large file not being visible in the source panel?

[2016-12-07 20:14] andreicristianpetcu commented on #1347
@jasonLaster  n00b question: am I doing something wrong or is there some issue with the build? It used to work last week.

[code]

I have Fedora 24 with node v6.9.2 installed locally with ndenv.

[2016-12-07 20:15] jasonLaster commented on #1347
Oh boy. I probably broke a fresh install last night.

Will help soon
On Wed, Dec 7, 2016 at 10:14 AM Andrei Petcu <notifications@github.com>
wrote:

[2016-12-08 07:33] gasolin commented on #923
Sorry I did not catch this message on time, I will take a look on this now

[2016-12-08 07:40] amitzur commented on #923
Happily, thanks.
I gave it a bit more thought and I want to say maybe the better solution is not to generate a single stylesheet which has both LTR and RTL rules, but rather generate 2 stylesheets and use them conditionally on the desired direction.

That will prevent css bloat, which as we add more features and style might become a real problem.

[2016-12-08 07:43] jasonLaster commented on #923
@amitzur good point, although doesn't sound MVPy :)

we can always add that in later

[2016-12-08 07:44] jasonLaster commented on #923
Hmm, we might want to do conditional statements for margin-inline-start and other firefox features

http://www.quirksmode.org/css/condcom.html

[2016-12-08 08:47] arthur801031 commented on #1290
Hi @jasonLaster

I got it working! But I'm failing a test in`src/utils/tests/sources-tree.js`. I'm trying to debug the code in this test file. Could you help me out with node testing/debugging in Thursday's office hours if I haven't resolved the issue before then?

Thank you!!

[2016-12-08 08:49] jasonLaster commented on #1290
Hmm, I'm traveling this week so i wont be at office hours. Happy to pull it down locally tomorrow and try though

[2016-12-08 10:49] Garbee commented on #923
I do not like this solution for RTL styles. These are modifications against given components and having them as an additional sheet entirely could lead to rule wonkyness to get the specificity right where it otherwise wouldn't be needed. Everything for a given component should be isolated to itself. The RTL styling shouldn't be too much overhead if we do things well enough. Further, as far as the

[2016-12-08 11:33] gasolin commented on #923
The reason is `postcss` changed its node/container api therefore it didn't expose `node.each` method to plugins, which lead to `tcomp` type check fail.

Current `postcss-bidirectional` implementation needs `node.each` method to traverse declarations in each node, modify it and then append the cloned node with reversed syntax after current node.

I can rewrite the logic to produce the same result.

[2016-12-08 11:43] gasolin commented on #923
generate 2 separate  stylesheets are not a common practice and rtl styles does not have much performance overhead so I don't recommend it.

[2016-12-08 11:50] gasolin commented on #923
I think the less-risky way for `debuggrer.html` might be to keep using firefox supported syntaxes at this moment, and only include `postcss-bidirectional` for cross browser build

[2016-12-08 14:16] jnachtigall opened #1404 "ESC does not open the split console if focus is in debugger editor"
Similar to #1367, but since it's not a debugger but global devtool's shortcut (and also less important) I'm adding as a new ticket:

The ESC key (which toggles the split console) also does not work in the new debugger. Works in all other tabs like network or inspector, only in the new debugger pressing ESC does nothing. Windows 10, Firefox 52.

@clarkbw Mind looking into this as well?

[2016-12-08 14:20] jnachtigall opened #1405 "[UX] Allow the user to drag'n'drop tabs to rearrange their order"
Currently tabs are visible in the order their files where opened. Would be nice if tabs could be re-ordered manually by drag'n'dropping with the mouse.

[2016-12-08 18:02] jasonLaster commented on #1405
That's a nice idea. We now have a draggable library that could help.

The big blocker is identifying the UX we want. If someone could writeup what other editors do that would help.

[2016-12-08 18:59] jnachtigall commented on #1405
I think the UI is pretty much the same everywhere:

1. Your left-click (and hold) on the tab header
2. While holding you move the mouse somewhere else on the "tab panel"
3.a) Drop on the tab panel: Whereever you drop (release left mouse), the tab will be put into that place effectively rearranging the order
3.b) Dropping anywhere else or pressing ESC in between: Nothing happens

I've never seen it

[2016-12-08 20:00] Dalimil commented on #1374
The `action` object doesn't seem to contain the URL - there is no `action.value`...

[2016-12-08 22:31] andreicristianpetcu commented on #1347
`yarn install && yarn start` works now :) `yarn run firefox` fails with some gekodriver error. Will check tomorrow.

[2016-12-09 01:42] clarkbw commented on #1375
When I tried to hunt this down it looked like it broke here: https://github.com/devtools-html/debugger.html/blob/master/src/reducers/pause.js#L45 the `fromJS(pauseInfo)` call was spinning. Not sure if other people are seeing that as well.

[2016-12-09 01:44] jasonLaster commented on #1375
Thanks. That looks correct.

I'll try that
On Thu, Dec 8, 2016 at 3:42 PM Bryan Clark <notifications@github.com> wrote:

[2016-12-09 01:54] jasonLaster commented on #1375
@clarkbw @bjorn3 just added a test case here https://github.com/devtools-html/debugger.html/pull/1407. Is this right? I'm not seeing it on a mac...

[2016-12-09 01:59] clarkbw commented on #1404
Yeah, this works on the Mac so perhaps something with Windows broke.

I'm traveling right now and won't be back at my Windows box until later next week.  So if someone else could look into it sooner that would be nice.

[2016-12-09 02:02] clarkbw commented on #1396
If we start tagging releases you can use `git describe --abbrev=0` to get the latest tag description that can point to the version.  I went through some of this in #633

[2016-12-09 02:09] jasonLaster opened #1408 "[Editor] Syntax highlighting is absent for sources without an extension"
STR:
1. open a tab in firefox
2. debug tab with remote debugger
3. debug debugger (inception)
4. go to webpack://webpack/bootstrap 2342432234

<img width="979" alt="screen shot 2016-12-08 at 9 06 59 pm" src="https://cloud.githubusercontent.com/assets/254562/21035056/557b354c-bd8a-11e6-8bae-beffb37858bc.png">

[2016-12-09 03:05] arthur801031 commented on #1336
@jasonLaster  I will take a look at it :)

[2016-12-09 06:00] jasonLaster commented on #1404
Hmm, we have this test which should catch this:

https://github.com/devtools-html/debugger.html/blob/master/src/test/mochitest/browser_dbg-console.js#L29-L33

I believe the toolbox handles showing the console splitbox, so perhaps @juliandescottes or @gregtatum would have some insights.

[2016-12-09 06:13] jasonLaster commented on #1336
Great!

Two things:
1. Lets try and land this incrementally - as in lets restrict to first pass to just *patch 1* which ignores the panel.
2. I found this article on using the clipboard - https://hacks.mozilla.org/2015/09/flash-free-clipboard-for-the-web/. It should just work for you in the click handler!

[2016-12-09 06:16] jnachtigall commented on #1404
Just tested: Works in Ubuntu, too.

[2016-12-09 06:17] jasonLaster commented on #1404
Thanks. Strange that we've got these windows events issues
On Thu, Dec 8, 2016 at 8:16 PM jnachtigall <notifications@github.com> wrote:

[2016-12-09 06:28] juliandescottes commented on #1404
@jnachtigall  on Windows 10 with FF52 dev-edition I have the following behavior:
* if the focus is in the debugger editor, ESC does not open the split console
* if the focus is anywhere else in the debugger, ESC opens the split console

However I have the same behavior on OSX. Is ESC doing nothing even if you have the focus outside of the editor?

[2016-12-09 06:49] arthur801031 commented on #1336
Hi @jasonLaster

I got patch 1 working, but for the clipboard function, I'm using the `copyString` function from https://dxr.mozilla.org/mozilla-central/source/devtools/shared/platform/content/clipboard.js, which you provided in your post under the **privileges** section.

I will make a PR right now. Thank you! :)

[2016-12-09 06:50] jasonLaster commented on #1336
Cool. Yea. Let's see it!

Was wanting this feature today!
On Thu, Dec 8, 2016 at 8:49 PM I-Chun (Arthur) Liu <notifications@github.com>
wrote:

[2016-12-09 06:56] arthur801031 commented on #1336
@jasonLaster

Please check. Thank you!

[2016-12-09 08:04] gasolin commented on #923
I've rewrote `postcss-bidirectional` to fix above stated API missing issue for postcss. All test passed https://github.com/gasolin/postcss-bidirection/blob/master/test.js

@amitzur  maybe you want to check if your patch just works now?

[2016-12-09 08:26] jasonLaster commented on #923
Yea, let's file the PR and we can discuss tomorrow with honza and the team

[2016-12-09 08:37] jnachtigall commented on #1404
@juliandescottes It's exactly as you describe. On Ubuntu and Windows. Thanks for nailing it done.

The first time I noticed this, I was debugging at a breakpoint on Windows (at work) which obviously focuses in the debugger editor. Later on when quickly retesting with Ubuntu (at home) I did not care to set a breakpoint or look into where I set the focus.

[2016-12-09 08:55] jasonLaster commented on #1404
So, here are the two handlers I know off the top of my head:

* the search bar seems to not stop bubbling
* autocomplete was *fixed* earlier :)
* the best way to test this is to add an event handler to **window** and see if you can get this to be called...

[code]

[2016-12-09 09:26] jnachtigall opened #1411 "Better handle inline JS (embedded in html): Open at correct position, show in Source Tree"
STR:
1. Open http://openlayers.org/en/v3.19.1/examples/vector-labels.html
2. Open (Ctrl+P) the file vector-labels.html

AR:
Opens the file at line 1 of the html. And I'm lost ;) I need to manually scroll and search for the javascript which is somewhere in there

ER:
Open at first line of included js inside a `<script>` tag.

In case there are several inline js scripts a further enhancement would b

[2016-12-09 09:30] jasonLaster opened #1412 "Editor Search Bar"
Lets turn this on!

Requirements:
- [x] cmd+f selected text, then enter, cmd+g, ... #1568
- [x] The new search bar can overlay the old search bar https://github.com/devtools-html/debugger.html/issues/1194

Nice To have:
- [x] Improve selection highlight #1329
- [ ] add tests (likely unit tests)
- [x] Localize shortcuts #1078
- [ ] Search Modifiers #1637

[2016-12-09 09:31] jnachtigall commented on #1411
To be fair, Chrome Devtools do not handle this use case either :-)
(But I personally have it quite often when looking at smaller source code examples like above; or very often embedding data structures from a CMS doing so with inline using JS/JSON is very common). At right now it's rather cumbersome to look at these embedded snippets using the debugger...

[2016-12-09 09:37] jasonLaster commented on #1411
@jlongster and I have discussed this in the past.

One option is for us to better improve `sourceURL`, which we want to do here https://github.com/devtools-html/debugger.html/issues/958

Another option is to name these sources and have them appear in the tree as you suggest. I forgot what the technical challenges are here, but I'm sure there are several in the debugger server.

@jnachtigall this i

[2016-12-09 09:37] #1411 closed

[2016-12-09 10:33] gasolin commented on #923
The new `postcss-bidirectional` support `postcss-debugger`, just follow https://github.com/gasolin/postcss-bidirection#debugging to install postcss-debug and put modified `Source.css` into the folder to check result page.

![Imgur](http://i.imgur.com/XR2b7Lu.png)

I modified `.sources-header` style to

[code]

And the result looks good to me

[2016-12-09 14:31] jnachtigall commented on #1377
I only have the Performance problems on large files. I cannot reproduce in the exteme form I had when I originally posted this bug ( @viswanathamsantosh maybe can?) , but here's a here's Call Tree screenshot for when having a concatenated 2MB js:

STR:
1. Set breakpoint at end of the js file which make the editor jump to this position when opening
2. Reload
2. Start Performance Recording in Browse

[2016-12-09 16:46] juliandescottes commented on #1404
Investigated a bit, the issue comes from the fact that the escape key is used as a Shortcut for the "singleSelection" command. As soon as a key has any handler defined, code mirror will e.preventDefault() on the keydown event, which prevents the keypress event from being triggered, which is used by the toolbox to toggle the split console.

This is only useful when multiple selections are used, so

[2016-12-09 17:10] jasonLaster commented on #1404
That sounds good.

We could also re-trigger the event. I wonder why this works for the old
debugger? Sane editor....
On Fri, Dec 9, 2016 at 6:46 AM Julian Descottes <notifications@github.com>
wrote:

[2016-12-09 17:34] jasonLaster commented on #1361
Fixed!

[2016-12-09 17:34] #1361 closed

[2016-12-09 17:39] juliandescottes commented on #1404
@ I wonder why this works for the old debugger?

The old debugger is already setting the Escape key shortcut to false in http://searchfox.org/mozilla-central/source/devtools/client/debugger/debugger-view.js#250

I don't think they go the extra mile and try to restore the behaviour as I suggested though.

[2016-12-09 17:52] jasonLaster commented on #1353
Thanks for the writeup amit.

This was very helpful.

Closing the issue as I think we agree that there isn't anything actionable.

[2016-12-09 17:52] #1353 closed

[2016-12-09 20:38] gasolin commented on #923
above issue fixed, its now good to use https://pageshot.net/8bSY3LKvXn2AoaDD/file

[2016-12-10 13:11] joakin commented on #1396
Going to have a stab at this.

[2016-12-10 13:53] jnachtigall opened #1418 "New tab is opened at left side: Should open at right side"
**STR:**
1. Open a file with Ctrl+P (so to just have at least one tab open already)
1. Open another file with Ctrl+P

**AR:**
New file opens at *leftmost* (left of already open tab)

**ER:**
Should open to the *rightmost* of already open tabs. The newtab `+` icon is also at the right side...

All tab-based applications I can think of do open new tabs to the right of the already opened tabs: Firefo

[2016-12-10 15:50] amitzur commented on #923
Regarding the solution of 2 separate stylesheets:

Oh, I didn't intend to have a main css file and then overlay it with direction-specific rules. That *would* make the rules specificity hard to understand and maintain.
What I meant was to generate 2 sheets that contain the entire css, 1 for each direction. I understand that this inflicts knowing what file to serve, but that can be handled in the s

[2016-12-10 18:49] jasonLaster commented on #1396
Hey @clarkbw, @joakin, @jnachtigall

Joaquin, implemented `debuggerVersion` in #1417.

I'm reconsidering the value of having a debugger version though. The thinking is, if the user reports a bug with the debugger and provides the firefox version number, we could figure out what the debugger sha is.

What do you guys think?

[2016-12-10 19:37] jasonLaster commented on #1358
Hey @sankha93 have you had a chance to look at this?
Are you blocked by anything that I can help with?

[2016-12-10 19:38] jasonLaster commented on #1352
Hey @amitzur have you had a chance to look at this?
Are you blocked by anything that I can help with?

[2016-12-10 19:40] jasonLaster commented on #1347
Hey @andreicristianpetcu hmm, perhaps you can do the [manual start](https://github.com/devtools-html/debugger.html/blob/master/docs/getting-setup.md#starting-firefox)

I thought we had fedora working, but hard to say.

[2016-12-10 19:40] jasonLaster commented on #1341
@andreicristianpetcu mind sharing your issues with fedora 24:  https://github.com/devtools-html/debugger.html/issues/1347#issuecomment-265875731

[2016-12-10 19:41] jasonLaster commented on #1340
ping @montogeek still have time to pick this up?

[2016-12-10 19:43] jnachtigall commented on #1396
I originally came up with the version number idea, because:
I saw a bug in Dev Edition and Nightly which looked pretty obvious to me, but I did not know if it's worthwhile to report. If the version in Firefox (date) would have been much older than the one in HEAD I would not have cared to report as usually the bug has already been reported and fixed by someone else. I think there's some value to u

[2016-12-10 19:46] #1399 closed

[2016-12-10 19:52] jasonLaster commented on #1396
Yeah, you hit the nail on the head: *I would not know how to map from firefox version to sha*.

I believe we will be able to address this with:
1. more frequent releases
2. tagging each release and adding it [here](https://github.com/devtools-html/debugger.html/releases)

Yeah, that's another good point. I'm inclined to cross that bridge when we get there because we'll be deploying very differentl

[2016-12-10 20:01] amitzur commented on #1352
Actually I meant to surface it before. I think the crux of the matter is how isDir is decided.
Unless I got something wrong, when going over the path, if current part is the last part, it should not be a directory unless it's the actual html file of the frame. Is there a way to detect that? Maybe by accessing the location of the associated frame/window?
Assuming anything on file name (e.g. has a "

[2016-12-10 20:05] #1337 closed

[2016-12-10 20:05] jasonLaster commented on #1337
This was done in #1371

[2016-12-10 20:09] jasonLaster commented on #1352
great point.

perhaps we can check to see if the source's contentType is html. That way, we'll know if we're looking for this case

[2016-12-10 20:10] jasonLaster commented on #1387
@darkwing one other point here is that chrome has some really useful coloring for the icons that help.

<img width="253" alt="screen shot 2016-12-10 at 3 10 14 pm" src="https://cloud.githubusercontent.com/assets/254562/21075862/cabc14fa-beea-11e6-84ce-64845191b1f2.png">

[2016-12-10 21:42] andreicristianpetcu commented on #1347
it used to work... yes...

[2016-12-10 23:30] bomsy commented on #1408
This has to do with our heuristics for which mode to use.
atm it defaults to "text" .
This looks like the relevant code section
https://github.com/devtools-html/debugger.html/blob/master/src/components/Editor.js#L242-L256

[2016-12-10 23:45] jasonLaster commented on #1408
Good point. I suppose we try and get the contentType on the server from the extension:

https://dxr.mozilla.org/mozilla-central/source/devtools/server/actors/utils/TabSources.js#292-343

I wonder what chrome does.
Also what we should do...

@jlongster thoughts?

[2016-12-10 23:55] bomsy commented on #1408
Just another thought. Can we safely default our mode to `javascript` rather than `text`?
Are there any scenarios for defaulting to `text`?

it seems like that is done here as well.
https://dxr.mozilla.org/mozilla-central/source/devtools/server/actors/utils/TabSources.js#345-349

[2016-12-11 00:16] bomsy commented on #1408
This will be cool to do, i'll also see what chrome does.

[2016-12-11 00:41] jasonLaster commented on #1408
@bomsy did a little bit more digging:

1. in this case we're getting the source from source map worker, so we're not talking to the server
2. we can't safely assume it is JS because it could be typescript or closurescript
3. chrome devtools handles this well... reverse engineering the on file item click was pretty helpful

[2016-12-11 15:09] shlomif commented on #1418
I'm going to try to tackle this issue.

[2016-12-11 15:49] jasonLaster commented on #1418
Thanks.

This is a little difficult for a couple reasons.

1. Adding to the right means knowing if we need to hide a tab

2. Sublime and other editors add a new tab to the right of the selected tab

[2016-12-11 15:50] jasonLaster commented on #1382
Updated SMP

[2016-12-11 15:50] #1382 closed

[2016-12-11 15:59] shlomif commented on #1418
OK, I was able to reproduce this issue. I'll try to fix it now.

[2016-12-11 18:18] andreicristianpetcu opened #1422 "yarn run firefox fails in Fedora 24"
`yarn run firefox` used to run a few weeks ago in Fedora 24 but now it fails.
Here is the stack trace

[code]

It also fails with ndenv's nodejs.
[code]

[2016-12-11 18:18] andreicristianpetcu commented on #1341
Since this is a tracking bug, I created a separate issue @jasonLaster https://github.com/devtools-html/debugger.html/issues/1422

[2016-12-11 18:23] andreicristianpetcu commented on #1422
Two small mentiones:
 - I use Firefox Nightly;
 - [It works manually](https://github.com/devtools-html/debugger.html/blob/master/docs/getting-setup.md#starting-firefox);

[2016-12-11 19:06] shlomif commented on #1418
Hi all!

The commit at https://github.com/shlomif/debugger.html/tree/issue1418-tabs-should-open-on-right fixes the symptoms of the problem while adding a new previously-failing-now-succeeding test and passing all existing tests.

Note that for now I have not followed all of @jasonLaster 's guidelines.

[2016-12-11 19:16] shlomif opened #1423 "Broken links for "Tests" at the CONTRIBUTING.md document"
At https://github.com/devtools-html/debugger.html/blob/master/CONTRIBUTING.md#tests the "Tests"/"unit tests"/etc. links are broken. Preferably, they should point to some useful information, but at the very least they should not be broken and say "To be filled in.".

[2016-12-11 22:21] jasonLaster commented on #1418
PR it so that we can comment.

For the record, following my guidelines is optional. Often not the best
strategy :)
On Sun, Dec 11, 2016 at 2:06 PM Shlomi Fish <notifications@github.com>
wrote:

[2016-12-11 22:23] jasonLaster commented on #1422
Strange, this looks like a gecko driver bug.

The create session is the tell for me

Perhaps file there as well

[2016-12-12 08:14] jnachtigall commented on #1418
That's a point. But I think there's a suble difference: Sublime has no newtab `+` button at the very right. I think, if the newtab button is at the very right (like in the Firefox browser or Chrome browser) then it's consequent to also open at the very right.

[2016-12-12 08:22] jnachtigall opened #1424 "[UX] Missing tooltips for newtab, close tab and delete breakpoint"
Currently, there are new tooltips for newtab and close tab. I'd suppose:
- for new tab `+` button: `Open a new tab (Ctrl+P)`
- for close tab: `Close tab`
- for delete a breakpoint (same icon icon like for close tab): `Delete breakpoint` (or maybe `Remove breakpoint`?)

This wording is similar to Firefox browser.

Tooltips are helpful hints for new users, but also great for advanced users if they s

[2016-12-12 09:18] shlomif commented on #1418
@jasonLaster : pull-req sent - https://github.com/devtools-html/debugger.html/pull/1425

[2016-12-12 10:18] jnachtigall opened #1426 "[UX] Show fullpath of file in tooltip when hovering Ctrl-P'ed files"
STR:
I have very similar filename's in my project:
![2016-12-12 11_07_34-bundesministerium fur familie senioren frauen und jugend - gleichstellungsatla](https://cloud.githubusercontent.com/assets/3307404/21095478/d31ff068-c05b-11e6-964b-5a94be4aec95.png)

Real world project ;) Very hard to tell which of the two `production.js` files is the one I am looking for. So I hovered over the file.

AR:
Mou

[2016-12-12 10:35] jnachtigall commented on #1426
Just looked at the old debugger, which shows the full URL path on mouseover (in the source tree). Like this would be good.

[2016-12-12 10:43] jnachtigall opened #1427 "Add button to hightlight (hover) or select (click) DOM nodes"
The old debugger had way to hightlight/select DOM nodes. Really missing it:

Old debugger:
![2016-12-12 11_32_10-program manager](https://cloud.githubusercontent.com/assets/3307404/21096255/7834c4f4-c05f-11e6-943a-8d68204f1987.png)

debugger.html:
![2016-12-12 11_23_31-html-element](https://cloud.githubusercontent.com/assets/3307404/21096258/7bd14574-c05f-11e6-8720-54017fac5ef1.png)

[2016-12-12 10:48] jnachtigall commented on #1427
oh, just discovered https://developer.mozilla.org/en-US/docs/Tools/Debugger/How_to/Highlight_and_inspect_DOM_nodes which describes this feature and has a note that this is not yet available. Maybe the note should add a link to a bug report one can follow (in case there is one, could not find any)

[2016-12-12 14:33] jasonLaster commented on #1418
@jnachtigall I think that's a good point.

Perhaps:
* *Cmd+P*  *new tab button* open tabs to the right
* selecting a source in the tree open a tab to the right of the selected tab

CC @helenvholmes, @jlongster, @clarkbw what do you think?

[2016-12-12 15:31] clarkbw commented on #1418
I'd keep it simple and always open to the right like in the PR, of course making sure it is also visible.  I think that's why the current behavior (to the left) is what it is.

These tab management issues would be good side projects but I would prioritize other things right now.

[2016-12-12 15:56] jasonLaster commented on #1426
@jnachtigall great find!

* we should use CSS to truncate based on the width of the pane. You have lots of space, why are we cutting it off at 50
* I think we should show a tooltip, it's a little extra noise but could help in this case.
* I actually got the tooltip in chrome devtools source modal. So, I hear your pain :)

[code]

![screen shot 2016-12-12 at 10 55 09 am](https://cloud.githubusercon

[2016-12-12 16:03] clarkbw commented on #1423
Good find!  I believe that was supposed to link here: https://github.com/devtools-html/debugger.html/blob/master/docs/local-development.md#testing

[2016-12-12 16:13] jasonLaster commented on #1347
@andreicristianpetcu just saw your commit :) Was about to say that the `yarn run firefox` command should not block you :)

[2016-12-12 16:14] jasonLaster commented on #1422
@tromey do you run fedora 24? Would you mind [trying](https://github.com/devtools-html/debugger.html/blob/master/docs/getting-setup.md#step-3-open-firefox) this?

[2016-12-12 16:57] jasonLaster opened #1430 "[CommandBar] support additional stepping shortcuts"
@gregtatum mentioned [here](https://bugzilla.mozilla.org/show_bug.cgi?id=1319398#c6) that there are shortcut keys for stepping.

[code]

[2016-12-12 19:15] jasonLaster commented on #1352
Hey @amitzur I just looked into this and unfortunately a `source` does not have its contentType, but a `sourceText` does.

For example, if you update the todomvc example to have an inline script with a debugger statement, you'll see `(index)` in the tree. The source however does not have a contentType, but when you select the source and load the source text you see the type.

Based on this, I thin

[2016-12-12 19:28] jasonLaster commented on #1352
Spoke with @jlongster and he had a good observation that we could take a more generic approach

[code]

[2016-12-12 20:03] andreicristianpetcu commented on #1347
![watch_expressions](https://cloud.githubusercontent.com/assets/922368/21114739/0053ea22-c0a6-11e6-8d2c-38b252e6ab24.png)

[2016-12-12 20:12] andreicristianpetcu commented on #1347
@jasonLaster please check if the hover color is ok. It seems like the refresh button gets grayed out but the + button does not. What should be for both?

PS: this is the first time I write ReactJS code, the first time I use CSS Flexbox and the first time I submit a pull request to a Mozilla project :D

[2016-12-12 22:16] jlongster commented on #1418
Cmd+P doesn't bring up a new tab, so I don't know how this impacts that.

Opening always to the right though makes sense.

[2016-12-13 04:10] jasonLaster commented on #1317
Hey @wldcordeiro have you had a chance to look at this? happy to move it back to up for grabs

[2016-12-13 04:12] jasonLaster commented on #524
Hey @wldcordeiro do you have a branch you can share?

By the way, i think we could use something like this this: https://github.com/devtools-html/debugger.html/pull/1403/files#diff-050facbbe0316544048b8fe886ad454dR337

[2016-12-13 04:59] wldcordeiro commented on #1317
@jasonLaster working on this now. 😄 Have had some life stuff but I'll be pushing a PR soon.

[2016-12-13 07:22] wldcordeiro commented on #524
@jasonLaster I don't. 😞 I had a local one on my old laptop but no longer.

[2016-12-13 09:01] jnachtigall commented on #1424
Rethinking this: Actually it does not really open a new tab as @jlongster correctly pointed out in [this comment](https://github.com/devtools-html/debugger.html/issues/1418#issuecomment-266570569) . So I guess the tooltip should rather be `Search for files (Ctrl+P)` so it's in line with the other wording around Ctrl+P stuff

[2016-12-13 20:16] andreicristianpetcu commented on #1350
Do you think I can pick this one up @jasonLaster ? Since I worked on [Watch Expressions] in the previous task.

[2016-12-13 20:29] jasonLaster commented on #1350
@andreicristianpetcu sounds great

[2016-12-13 23:06] jasonLaster commented on #1298
Thanks for talking this through today @bomsy.

Here's the [branch](https://github.com/devtools-html/debugger.html/compare/master...jasonLaster:chrome-vars) that we worked on.

The key here was:
* we fetched the local variables and associated it with the scope they were from. This will likely need to be parentId or some other field similar to what we do with firefox loaded objects
* we saved the lo

[2016-12-13 23:08] jasonLaster commented on #1423
This is fixed here https://github.com/devtools-html/debugger.html/pull/1379

[2016-12-13 23:08] #1423 closed

[2016-12-13 23:10] jasonLaster commented on #1405
moved this issue to our enhancements project as i don't see someone being able to jump on this soon.

If someone would like to work on it, mention it in the issue and we can re-open it.

[2016-12-13 23:10] #1405 closed

[2016-12-13 23:11] jasonLaster commented on #1418
How's it going @shlomif? Let me know if you're blocked, happy to answer any questions

[2016-12-13 23:11] jasonLaster commented on #1404
This was fixed in #1415

[2016-12-13 23:11] #1404 closed

[2016-12-13 23:15] jasonLaster commented on #1376
I'm closing this because locally the new editor search bar will always handle cmd+f

![](http://g.recordit.co/74nkcFStkr.gif)

[2016-12-13 23:15] #1376 closed

[2016-12-13 23:18] jasonLaster commented on #1396
closing this for now as I don't think it's actionable. We'll be working on updating our release process over the next month and so hopefully things will be smoother.

Lets continue talking here though about the value of having a local version in the debugger app like `window.debuggerVersion = "<sha>"

[2016-12-13 23:18] #1396 closed

[2016-12-13 23:20] jasonLaster commented on #1336
Closing this issue as we've done the **copy source url** feature. I'll open a new more focused issue for viewing source later. It's less important though and there's plenty of other work to go around.

[2016-12-13 23:20] #1336 closed

[2016-12-13 23:22] jasonLaster commented on #1324
Closing this issue as we'll be able to move the scripts over incrementally

[2016-12-13 23:22] #1324 closed

[2016-12-13 23:24] jasonLaster commented on #1273
talked about this offline and we're not going to do this as the server is optimized now without infering content types

[2016-12-13 23:24] #1273 closed

[2016-12-13 23:26] jasonLaster commented on #1195
FYI: I'll be moving the packages directory out soon.

Also, the bin script is going to get smaller soon as scripts move to the local toolbox

Also, we're now adding more README.mds to directories like docs.

With all of that said, I've talked myself into closing this ticket.

@Garbee et al, feel free to re-open with specific proposals though

[2016-12-13 23:26] #1195 closed

[2016-12-14 00:56] bomsy commented on #1298
@jasonLaster thanks! it was great, learnt alot.

[2016-12-14 04:52] clarkbw commented on #524
no worries 😄

[2016-12-14 05:04] clarkbw commented on #717
[bug 1297113](https://bugzilla.mozilla.org/show_bug.cgi?id=1297113) landed, is this still an issue @jasonLaster @juliandescottes ?

[2016-12-14 06:10] clarkbw commented on #958
I wanted to figure this out, but I can't make it past the basics of mochitest. Like "How do I pause the test so I can debug the test?"  grrr...

This is my basic test:

[code]

[2016-12-14 08:33] jnachtigall commented on #1376
@jasonLaster I do not understand this and rereading the whole thread I think there is a misunderstanding about the STR:

What I (user) wants to do is going to a certain string/method within a certain file. Quite common workflow

So I
1. First Ctl-P to open this particular file => File opens
2. Immediately after this I do Ctrl-F to search whithin this opened file => Opens Firefox native search inst

[2016-12-14 09:01] juliandescottes commented on #717
@clarkbw I think this is still needed.

The new debugger frontend needs to use `toolbox::useKeyWithSplitConsole` in order to forward some key shortcuts to the split console.

[2016-12-14 13:35] cy6erGn0m opened #1439 "Sources from source map doesn't appear"
In FF52 Developer Edition (build 52.0a2 (2016-12-13)) source files from source map doesn't appear anymore. It was working before the changes in the sources list of debug tab.

[2016-12-14 14:17] shlomif commented on #1418
@jasonLaster : sorry, I have not done any more work on this issue beyond my pull-req - I've been busy with non-debugger.html-related stuff. I'd be OK if someone else try to tackles the remaining issues,

[2016-12-14 14:18] jasonLaster commented on #1418
sounds good, I'll close the PR and we can re-open the issue

[2016-12-14 18:23] jasonLaster commented on #958
Cool. Lets see what we can do here,

perhaps we want to start by creating an example like https://github.com/devtools-html/debugger.html/pull/1407

Then we can see what is going on in the server such that it is ignored

[2016-12-14 18:39] jlongster commented on #958
@clarkbw Why a patch instead of pasting a JS code block where it will be properly syntax highlighted? I've seen this a lot recently and not sure why 🙃

I remember discovering this before, but I can't find an existing issue about it. It might have been a problem on the server-side which is why we didn't fix it.

[2016-12-14 19:44] clarkbw commented on #958
good point, will update

[2016-12-15 04:02] arthur801031 commented on #1418
Hi @jasonLaster

I will take a look at this tomorrow. :)

[2016-12-15 05:59] jasonLaster commented on #1310
landed!

[2016-12-15 05:59] #1310 closed

[2016-12-15 06:00] jasonLaster commented on #923
landed!

[2016-12-15 06:00] #923 closed

[2016-12-15 06:03] jasonLaster commented on #633
closing as we'll do this work in the toolbox and on m-c.

[2016-12-15 06:03] #633 closed

[2016-12-15 16:06] liorpr commented on #1280
when the pause ends, should they close?

[2016-12-15 17:14] petrgazarov commented on #1359
Hey, I'm new to the repo, but this seems pretty straight-forward. Mind if I give it a shot?

[2016-12-15 17:25] jasonLaster commented on #1359
Hey @petrgazarov go for it!

[2016-12-15 19:33] #1426 closed

[2016-12-16 03:15] arthur801031 opened #1450 "Error: Cannot find module 'devtools-local-toolbox/index'"
I just switched to the master branch and ran `git fetch upstream` and `git rebase upstream/master`. When I ran `yarn start`, I got the following error:
[code]

I tried `yarn upgrade` and `yarn install`, but they didn't work. Please help. Thank you!

[2016-12-16 03:22] wldcordeiro commented on #1450
I just ran into this as well you need to `rm -rf packages/` as for whatever reason the rebase doesn't remove those folders. It might also help to `rm -rf node_modules/`

[2016-12-16 03:27] arthur801031 commented on #1450
@wldcordeiro Thank you so much! It worked! I ran
[code]

[2016-12-16 03:27] #1450 closed

[2016-12-16 12:56] jnachtigall opened #1452 "[Scopes panel] Sort global (Window) variables alphabetically"
Use case: I wanted to look up some values of a `MyApp.whatever.someVar` variable. This was not possible because the Global vars are not sorted but seem to be listed in some random form:

![2016-12-16 13_49_07-posteingang - jens nachtigall init de - outlook](https://cloud.githubusercontent.com/assets/3307404/21263409/de5fcf96-c396-11e6-9956-abe8f69bad7d.png)

See the really small scrollbar meaning

[2016-12-16 13:12] juliandescottes commented on #1364
@jasonLaster can this be closed now that #1428 was merged?

[2016-12-16 13:31] jasonLaster commented on #1364
Yep.
On Fri, Dec 16, 2016 at 8:12 AM Julian Descottes <notifications@github.com>
wrote:

[2016-12-16 16:49] jasonLaster opened #1453 "Uplift a couple fixes"
Bugs:
- [ ] source map issue which selects the previous line (can't set a breakpoint) https://github.com/devtools-html/debugger.html/pull/1349
- [ ] the memory leak issue with the source tree (causes crashes w/ live reload) https://github.com/devtools-html/debugger.html/pull/1369

Steps:
1. land fixes in nightly now
2. uplift the bundle

[2016-12-16 17:47] darkwing commented on #1388
Just seeing this -- yep, will look at this later today!

[2016-12-16 18:20] jasonLaster commented on #1367
Fixed in #1455

[2016-12-16 18:20] #1367 closed

[2016-12-16 18:21] jasonLaster commented on #1388
haha - cool. This will also help with prettifying the tab!

[2016-12-16 20:40] jasonLaster opened #1460 "Polish Debugger UI rough edges"
I talked with @darkwing earlier today and we found some rough edges that can be polished

- [x] variable view highlight row should be the full width [1]
- [ ] clicking "Cmd+P to search" can open the source search input. Generally it is awkward that the search search input is in the center, but the prompt is in the left pane
- [x] the source search placeholder should be "Search Sources..." not "Sea

[2016-12-16 20:54] clarkbw commented on #1460
I think this text might read a little long, we're low on space here and this is supposed to be secondary to the larger "search for files" that lives in the editor space.

[2016-12-16 20:56] clarkbw commented on #1460
Perhaps shorten it to: '⌘+P search files'

[2016-12-16 21:40] #1388 closed

[2016-12-16 21:47] clarkbw commented on #1452
Figured this out!

The expand takes place here:
https://github.com/devtools-html/debugger.html/blob/master/src/components/ObjectInspector.js#L86-L107

You can add a `sort()` function like I did here:

[code]

The question becomes what kind of sort?

`.sort((a, b) => a.localeCompare(b))` ignores case

![screen shot 2016-12-16 at 1 43 21 pm](https://cloud.githubusercontent.com/assets/2134/21279630/0

[2016-12-16 21:48] clarkbw commented on #1452
We should probably look at what we previously did and what chrome does here.  @jasonLaster any ideas?

[2016-12-16 22:09] clarkbw commented on #1452
Looks like everyone uses the `sort()` method.

[2016-12-16 22:47] jasonLaster opened #1465 "[Greenkeeper] bump lockfile"
Here's a workaround for setting up travis ci as a lockfile bumper

https://gist.github.com/maxrimue/16e272c4e0b8a8ac9dd5570e180e08c0

[2016-12-16 23:26] jasonLaster commented on #1460
@clarkbw actually I was referring to the center pane being vague, but i can see the label being vague as well.

![screen shot 2016-12-16 at 6 25 24 pm](https://cloud.githubusercontent.com/assets/254562/21281719/0dad31dc-c3bd-11e6-9a2c-9ed0ff160e9a.png)

How does that look? I'm a minimalist, so I'd be okay with the label being "⌘+P" too with a tooltip, "search files"

[2016-12-16 23:55] wldcordeiro commented on #1460
I still kind of like surfacing more than just the search command in center pane. Atom does this rather nicely with tips and other shortcuts. I had opened an issue #776  to do this, it's not a hard change though we could come up with a list of tips/tricks to display.

[2016-12-17 00:16] jasonLaster opened #1467 "[Source Search] autocomplete has duplicate result keys"
So cnet has some duplicate search result keys, URLs are probably different but the way we key the result is not great. very edge case

STR:
- debug to cnet.com
- Cmd+P
- type t

You will see errors that there were many results with the key `$/cbsdfp5832910442/moatad=1js` this looks like a case of a bad result key, which should come from:

[code]

![](http://g.recordit.co/0LiBGexrXL.gif)

[2016-12-17 00:18] jasonLaster commented on #1460
Yup, @wldcordeiro i think you're right it just requires coming up with compelling tips. Add them to #776 and we'll re-open :)

[2016-12-17 05:39] clarkbw commented on #1467
Not sure if this will always be unique, I was thinking host + value but it seems to work based on the CNN case.  Using `id + value` appears to give me a unique id for the Wheel of Fortune test (RSTLNE).  IDs look like: `"server1.conn4.child4/41"` and values look like: `"/esf.js"` so combined they are `"server1.conn4.child4/41/esf.js"`.

[code]

[2016-12-17 05:56] clarkbw commented on #1248
Most of the issues here are fixed up.  And as of #1309  `npm run firefox` works on Windows.  I'm going to close this for now and we can open up a new issue to investigate further issues.   Thanks a lot everyone!

[2016-12-17 05:56] #1248 closed

[2016-12-17 06:03] clarkbw commented on #1439
We're going to land some fixes in #1453, it would be great if you could test out on Nightly when it lands.  And then we can uplift those fixes into Developer Edition.  Thanks 🎉

[2016-12-17 13:11] jnachtigall commented on #1452
A "simple" sort is fine, but I think we could do better :) Normally, a user is looking into the global scope for some custom `MyApp` property and not so much for all these standard methods/properties. So I think it would be better to somehow (visually) groups these differently, e.g.:

[code]

or even having a section for common lib properties in between:
[code]

Maybe this could be added to the fu

[2016-12-17 13:35] jasonLaster commented on #1452
Yup, I like the idea of calling out non-default window properties too.

Will open in a new issue

[2016-12-17 13:35] #1452 closed

[2016-12-17 13:41] jasonLaster opened #1470 "[Scopes Pane] call out non-default global properties"
@jnachtigall mentioned [here](https://github.com/devtools-html/debugger.html/issues/1452#issuecomment-267762029) that it would be nice to separate out non-default global properties.

We have a couple options:
* group them
* or style them differently

Chrome currently formats them differently with a slight color change
I personally prefer grouping them, so that it's a little bit more discoverable.

[2016-12-17 22:54] clarkbw commented on #1470
Yeah, I'd like to see a grouping.

I think as a baseline you could probably easily group the non-default Window props up to the top.
![scopes-grouped](https://cloud.githubusercontent.com/assets/2134/21290251/294a8498-c468-11e6-9a5d-bd6551cc1fa4.png)

To further the feature you could try separating out known  library props but I think that would be an entirely different project in scope.

[2016-12-18 05:54] clarkbw commented on #1105
This looks like it is working for me.  At least I can't repro in Nightly right now.

[2016-12-18 13:12] greenkeeper[bot] opened #1473 "An in-range update of stylelint is breaking the build 🚨"
## Version **7.7.0** of [stylelint](https://github.com/stylelint/stylelint) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/devtools-html/debugger.html/compare/greenkeeper%2Fstylelint-7.7.0">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      stylelint
    </td>
  </tr>
  <tr>
    <th ali

[2016-12-18 13:58] arthur801031 commented on #1418
Hi @jasonLaster ,

I'm not sure if there is a better way to retrieve a list of hidden tabs in `src/reducers/sources.js`. I'm thinking if using redux to store `hiddenSourceTabs` at https://github.com/devtools-html/debugger.html/blob/master/src/components/SourceTabs.js#L187 is a good idea. If we do this, we would retrieve this list at https://github.com/devtools-html/debugger.html/blob/master/src/re

[2016-12-18 14:35] arthur801031 commented on #1418
Hi @jasonLaster

I'm not sure if I have this correct, but it seems we cannot know which tabs will be hidden in  `src/reducers/sources.js`. So I'm wondering if it's a good idea to use redux to store the new tab at https://github.com/devtools-html/debugger.html/blob/master/src/reducers/sources.js#L166. When we're determining which tabs should be hidden at https://github.com/devtools-html/debugger.ht

[2016-12-18 15:42] jasonLaster commented on #1418
Hmm, another challenge is variable width tabs.

So, if you always put the new tab to the left of the last visible tab there's a chance that the new tab is really wide and won't fit.

What I'm thinking is measure the width of the tabs element and then figure out where the new tab should go.

We can always pass the index of the tab location to the reducer.

One challenge is measuring the width of th

[2016-12-18 19:27] clarkbw commented on #1299
Yeah, looks like we need to start using the constants file or `Symbol("TINY")` instead of what we are using in the ObjectInspector.

Though this doesn't solve the expansion, it does show those props in the TINY view.

[2016-12-18 21:01] nchevobbe commented on #1299
I don't think that the constant file has been copied here yet, since `mode: "tiny" ` is still working.
Yet, using the tiny mode would display the same thing as we already have (i.e. `MouseEvent`)
If you'd want to have at least some properties displayed, you could either use the constants.SHORT mode, or omitting it (which defaults to short mode), like we do in the DomPanel. This would show the firs

[2016-12-18 22:41] clarkbw commented on #1473
This looks like a flow error. Maybe we need to ignore that directory in the flow configure?

[2016-12-18 23:55] clarkbw commented on #1299
Oh right.  When I change the mode I can see the values we want.

<img width="295" alt="screen shot 2016-12-18 at 3 54 21 pm" src="https://cloud.githubusercontent.com/assets/2134/21297756/53fa4840-c53a-11e6-81ab-f95cb6a523ce.png">

But they still don't appear in the scope view when we request properties because that isn't handled by the Reps, like you said before.  I get it now.

[2016-12-19 04:05] arthur801031 commented on #1418
Hi @jasonLaster

How do we make a fake tab in `src/reducers/sources.js`? I tried constructing a list of dom div of tabs
[code]

I'm not sure what to call to determine the width from those dom elements.

[2016-12-19 04:11] jasonLaster commented on #1418
Hmm. Yea, I wouldn't create a fake tab in the reducer. Perhaps the
component in a div offscreen.

But in reality, this is a relatively low priority bug :/

On Sun, Dec 18, 2016 at 11:05 PM I-Chun (Arthur) Liu <
notifications@github.com> wrote:

[2016-12-19 05:53] clarkbw commented on #1299
Ok, looked into this a bunch more.  I tracked it down to the ObjectInspector.

Right here:
https://github.com/devtools-html/debugger.html/blob/master/src/components/ObjectInspector.js#L90-L92

[code]

We only take the objects which have `value` properties.  And the `clientX` etc are all getters so they are skipped by the filter.  The getters need to be handled such that they are no longer filtered

[2016-12-19 06:43] clarkbw commented on #1470
Dug in a little deeper.

Chrome seems to use the `enumerable` property for deciding to fade out the item.  This creates a number of hit or miss properties.  But probably works better than nothing.  Given its not a great system I don't think grouping would work out well here.

You can get some nice separation like this:

<img width="298" alt="screen shot 2016-12-18 at 10 40 30 pm" src="https://clou

[2016-12-19 06:48] clarkbw commented on #1470
Here's what it would take to do that (in ObjectInspector)

[code]

[code]

[2016-12-19 15:40] darkwing opened #1476 "Odd/Incorrect Tab Name"
I was using ESPN as my testing site and, when opening `moatad.js` from the source tree, the tab opened as `...atSW=5B9372C1-A35B-46C7-A504-F1E86B86FEE3&zMoatOF=`.  The actual URL is: `http://js.moatads.com/espndfp832188684382/moatad.js#moatClientLevel1=29724777&moatClientLevel2=467209497&moatClientLevel3=221884737&moatClientLevel4=107681394537&moatClientSlicer1=104318097&moatClientSlicer2=10433561

[2016-12-19 16:45] jasonLaster commented on #1476
haha that's pretty funny, i was using `cnet` as my testing site, and also found  `moatad.js` and the tab value as well!!!

This is definitely an issue.

I recommend doing

[code]

and taking a look at what that source URL really is

[2016-12-19 20:32] clarkbw commented on #1460
#1477 added the pretty print icon

[2016-12-19 20:33] clarkbw commented on #582
I believe this was done in #1379

[2016-12-19 20:33] #582 closed

[2016-12-19 20:46] #1254 closed

[2016-12-19 21:02] jasonLaster commented on #1347
#1347

[2016-12-19 21:02] #1347 closed

[2016-12-19 21:02] jasonLaster commented on #1350
Hey @andreicristianpetcu have you been able to make progress on this?

If so, are you blocked by anything or have questions?

[2016-12-19 21:09] jasonLaster commented on #1352
@amitzur moving this out of in progress.

Feel free to re-claim if interested.

[2016-12-19 21:15] jasonLaster commented on #1329
Hey @bomsy have you had a chance to look at this?

[2016-12-19 21:15] jasonLaster commented on #960
hmm, @bomsy this should no longer be blocked by prefs.

[2016-12-19 21:17] jasonLaster commented on #1280
done in #1471.

[2016-12-19 21:17] #1280 closed

[2016-12-19 21:17] jasonLaster commented on #1290
done in #1403

[2016-12-19 21:17] #1290 closed

[2016-12-19 21:18] jasonLaster commented on #880
Prefs should be working again.

[2016-12-19 21:22] jasonLaster commented on #524
@wldcordeiro cleaned up this issue.

@arthur801031 finished working on "reveal source" which should give you some nice APIs for focusing on the selected source. https://github.com/devtools-html/debugger.html/pull/1403

Are you interested in taking a stab at this with the new APIs?

[2016-12-19 21:22] jasonLaster commented on #1317
🎆

[2016-12-19 21:22] #1317 closed

[2016-12-19 21:23] jasonLaster commented on #1418
closing this issue as it is probably harder than it's worth.

[2016-12-19 21:23] #1418 closed

[2016-12-19 21:46] #1473 closed

[2016-12-19 21:47] jasonLaster commented on #1430
Done in #1469

[2016-12-19 21:47] #1430 closed

[2016-12-19 21:50] jasonLaster commented on #1427
@juliandescottes were you looking at this?

[2016-12-19 21:55] jasonLaster commented on #1255
we are no longer saving unchanged images. step 2 is to cut down the image size, but that can be done later when i take over james' docker image

[2016-12-19 21:55] #1255 closed

[2016-12-19 21:56] jasonLaster commented on #1149
closing this as i don't think that we need to show "x files named "y"".

It's a small UI detail that is largely unnecessary in this context

[2016-12-19 21:56] #1149 closed

[2016-12-19 21:59] jasonLaster commented on #1142
added to devtools-core

[2016-12-19 21:59] #1142 closed

[2016-12-19 22:00] jasonLaster opened #1485 "[LaunchPad] networkRequest.js trying to fetch JSON list error"
Copy of https://github.com/devtools-html/debugger.html/issues/1137.

The Landing Page tries to connect to node and does not catch the network error if node is not running.

---

Upon running 'npm start', the debugger console shows this error. I'm sure that I'm not utilizing that port for any other purpose, as the only other window open was http://localhost:7999/todomvc/ in Firefox for the backbone

[2016-12-19 22:00] jasonLaster commented on #1137
moved to devtools-core https://github.com/devtools-html/debugger.html/issues/1485

[2016-12-19 22:00] #1137 closed

[2016-12-19 22:01] jasonLaster commented on #1105
I believe this is supported. We can always re-open

[2016-12-19 22:01] #1105 closed

[2016-12-19 22:02] jasonLaster opened #1486 "[LaunchPad] L10N should load properties file"
copy of  https://github.com/devtools-html/debugger.html/issues/1030

---

We currently load our translation strings from public/js/strings.json. This works well, but it does mean we need to maintain two sets of strings in github and m-c.

It would be better if we could load strings from debugger.properties and when we publish copy the debugger.properties file to m-c.

This [patch](https://gist.git

[2016-12-19 22:02] #1030 closed

[2016-12-19 22:04] jasonLaster commented on #948
this is no no longer relevant post postcss landing. We can make a new RTL follow up later

[2016-12-19 22:04] #948 closed

[2016-12-19 22:06] jasonLaster commented on #914
closing this as we haven't heard about it in awhile. We can always re-open

[2016-12-19 22:06] #914 closed

[2016-12-19 22:08] jasonLaster commented on #890
closing this as it's stale.

our command buttons are pixel snapped, search is different, ...
I believe the globe is okay

[2016-12-19 22:08] #890 closed

[2016-12-19 22:10] jasonLaster commented on #1485
oops, meant to add this to devtools-core :)

[2016-12-19 22:10] #1485 closed

[2016-12-19 22:11] jasonLaster commented on #1486
oops, meant to add this to devtools-core

[2016-12-19 22:11] #1486 closed

[2016-12-19 22:21] jasonLaster opened #1487 "[Reveal Source] showing an already revealed source"
There's a small edge case with reveal source

Steps to reproduce:
1. reveal source
2. select a different source
3. re-reveal source

Notice, it doesn't re-focus the previously revealed source

![](http://g.recordit.co/GAQj9c4Qm5.gif)

[2016-12-19 22:26] jasonLaster opened #1488 "Vertical Layout"
Vertical Layout helps users use the debugger in narrow widths

Requirements
- [x] show scope pane on the right #1359
- [x] show source tree on the left #1358
- [x] add collapse buttons
- [x] support media widths
- [x] use an accordion for scopes + watch expressions #1677

Nice To Haves
- [x] show the bottom collapse buttons in vertical mode #1537

### Current UI

![](https://cloud.githubuserconten

[2016-12-19 22:30] jasonLaster opened #1489 "[Editor] New Tab button positioning"
We recently added the collapse buttons in the editor header, which threw off the new tab button positioning.

There are two issues that i see:

1. left positioning when a tab is there
2. right positioning when it gets narrow

Here's some [code](https://gist.github.com/jasonLaster/54ee561754869579914d2e94a89a6588) to help you get started.

#### UI

![](http://g.recordit.co/rByG5JtyPt.gif)

[2016-12-19 22:53] jasonLaster opened #1490 "[Copy Source URL] add command to Editor and Source Tree context menus"
We recently added [copy source url](https://github.com/devtools-html/debugger.html/pull/1409) to the source tabs. We should do the same with right clicking in the editor, source tree and call frame.

#### patch

Here's a [patch](https://gist.github.com/jasonLaster/a980280dbfc0c1810e95759a2f0bbbc6) with some code to get you started.

[code]

[clipboard.js](https://gist.github.com/jasonLaster/904a7f

[2016-12-19 23:18] jasonLaster opened #1491 "[Watch Expressions] Cleanup input UI"
The watch expressions input style should be tweaked:

Tasks
- [ ] clicking the "+" button opens and focuses the input
- [ ] clicking away (unfocusing) the input closes it
- [ ] the input should be styled for light and dark themes

[code]

### screenshots

![screen shot 2016-12-19 at 6 19 20 pm](https://cloud.githubusercontent.com/assets/254562/21332624/ba01777a-c617-11e6-859c-c75be4d7a64f.png)
![s

[2016-12-19 23:55] clarkbw commented on #1427
I saw this the other night so here's some reference points.

This is where a `DOMNode` is detected.  Our location might be [somewhere here](https://github.com/devtools-html/debugger.html/blob/master/src/components/ObjectInspector.js#L142-L172)

https://dxr.mozilla.org/mozilla-central/source/devtools/client/shared/widgets/VariablesView.jsm#2483

[code]

And starting from here on down is where the a

[2016-12-20 00:26] clarkbw opened #1492 "avoid auto-expand of the Window scope"
The new #1270 is really nice but I'm finding the `Window` scope is being expanded by default and that tends to really slow things down.  For other scopes this is a great feature but I want the larger ones to wait until I open them.

[2016-12-20 04:34] jasonLaster opened #1494 "[Reveal Source] update copy"
We currently use the copy "show source" which is a little vague.

Other editors debuggers have other copy:
* atom: "Reveal in Tree View"
* chrome: "Reveal in Navigator"

I like the verb reveal, and would prefer something simple like `Reveal in Tree'. Thoughts?

![](http://g.recordit.co/4KNGgbur1Y.gif)

[2016-12-20 04:36] jasonLaster opened #1495 "Reveal Source"
Tasks:
- [ ] update copy enhancement #1494
- [x] showing an already revealed source enhancement #1475
- [x] Fix "revealing and focusing the non selected source"  #1493

[2016-12-20 04:37] jasonLaster commented on #1492
That's a good find!

Ahh, i see. Does this happen if you pause in the global scope?

[2016-12-20 06:16] #1487 closed

[2016-12-20 06:16] jasonLaster commented on #1487
closing it as it's probably more work than it's worth

[2016-12-20 06:21] arthur801031 commented on #1476
@jasonLaster

I will take a look at this tomorrow :)

[2016-12-20 12:10] andreicristianpetcu commented on #1350
Sorry @jasonLaster but I did not have time. I was kind of busy lately. Nothing blocks me except that. I will ping you if I have any trouble.
If it is urgent and you want to give it to somebody else not problem then. I contribute when I can how much I can and I hope I do not slow down the project :)

[2016-12-20 15:28] liorpr commented on #1491
I guess the right way to handle the "clicking away (unfocusing) the input closes it" is to add a click event listener on the whole debugger when the RightSidebar component mounts, and toggle the expressionInputVisibility flag.

@jasonLaster  what do you think?

[2016-12-20 15:29] jasonLaster commented on #1491
There should be an input unfocus event... I'm away from my computer though
:)
On Tue, Dec 20, 2016 at 10:28 AM Lior Praiss <notifications@github.com>
wrote:

[2016-12-20 16:43] clarkbw opened #1500 "update yarn.lock file fixes"
Follow up to the #1468 PR I'm going to fix this in #1499

- [x] `cd: debugger.html` failed.
- [x] `git push` failed
- [x] ssh key can only read, not write

[2016-12-20 18:30] bomsy commented on #960
on this now!

[2016-12-20 18:51] jasonLaster commented on #1491
@liorpr are you on this?

[2016-12-20 19:26] darkwing opened #1501 "`d` key not working in source search box in Chrome"
This is the weirdest thing, and I'm probably crazy, but if I try to type "index" in the sources search box in Chrome, the "d" never shows up.  I tried in Firefox and the "d" key works, but Chrome is bricking the "d" key for some reason.

[2016-12-20 19:26] jasonLaster commented on #1340
@jacobjzhang are you interested in grabbing this

[2016-12-20 19:41] jasonLaster opened #1502 "[Collapse Buttons] Animate toggling"
We should animate the expanding and collapsing sidebars when the buttons is clicked.

[2016-12-20 19:41] clarkbw opened #1503 "[CommandBar] flash pressed state of command buttons"
Especially with keyboard shortcuts we need to make it more obvious which button in the `CommandBar` was activated.  Some kind of flash animation on the button?

[2016-12-20 20:06] jasonLaster commented on #1501
Yeah, this happened to me too and I thought it was me.

You keep filing the issues that confuse me.

[2016-12-20 21:02] darkwing opened #1505 "Consider Showing "Conditional" breakpoint icon"
It might be nice to show an icon or signifier in the top right column for conditional breakpoints, if only to show that they aren't always the same.

<img width="1262" alt="conditional" src="https://cloud.githubusercontent.com/assets/46655/21367762/fb2c4c18-c6c4-11e6-8c52-0eacc2be9720.png">

[2016-12-20 22:25] jasonLaster opened #1506 "[RTL] Update the breakpoints component"
It would be great if the the breakpoints component were more RTL friendly

Here are a couple things that I noticed:
* the green border should be on the right
* the left padding should be on the right so that items line up well

Getting started
* here are some [rtl](https://github.com/devtools-html/debugger.html/blob/master/docs/local-development.md#rtl) docs.
* we use postcss bi-direction for some

[2016-12-20 22:29] jasonLaster opened #1507 "[RTL] Improve search bars"
This issue tracks cleaning up the file search and source search bar components in RTL mode.

Getting started
* here are some [rtl](https://github.com/devtools-html/debugger.html/blob/master/docs/local-development.md#rtl) docs.
* we use postcss bi-direction for some magic CSS RTL clauses

#### Source Search
![](http://g.recordit.co/ZY9SfeMTvL.gif)

#### File Search
![](http://g.recordit.co/osqkiSrJ

[2016-12-20 23:44] darkwing commented on #1494
"Reveal in Tree" sounds excellent to me.

[2016-12-21 00:43] jasonLaster opened #1510 "[Editor] Multiple Highlight Lines"
It's possible to add breakpoints in different sources, such that clicking on

Steps to Reproduce:
* 1. go to todomvc
* 2. add breakpoints in app-view and todo-view
* 3. click on the breakpoints in the list alternating between todo-view and app-view breakpoints

#### Patch

[code]

We also have some tests

[code]

![](http://g.recordit.co/xXYPSm2c6O.gif)

[2016-12-21 00:44] jasonLaster commented on #1510
@Zacqary interested in this gnarly bug?

[2016-12-21 01:33] jasonLaster opened #1511 "Web Test Runner"
We currently run our integration tests with [Mochitest](https://github.com/devtools-html/debugger.html/blob/master/docs/mochitests.md). It has several benefits:

1. The tests are run end-to-end in Firefox and the devtools panel
2. The tests are driven with redux actions. See this [test](https://github.com/devtools-html/debugger.html/blob/master/src/test/mochitest/browser_dbg-breaking.js#L12-L16) f

[2016-12-21 01:35] jasonLaster commented on #1500
is this done? :)

[2016-12-21 02:47] arthur801031 commented on #524
I will take a stab at this :)

[2016-12-21 03:22] zspitzer opened #1513 "Working with Source mapped files"
There doesn't seem to be a way to jump to a line & column number in a file?

Minified files are often stripped of all new lines, could the source be word wrapped?

Clicking the line number currently sets a breakpoint in the source file,
in Chrome Dev Tools clicking the line number jumps to the source file which is more useful.

It would be nice to be able to right click or double click on section

[2016-12-21 04:35] #1500 closed

[2016-12-21 05:35] jasonLaster commented on #1513
Hey @zspitzer!

Funny you ask, we just landed this https://github.com/devtools-html/debugger.html/pull/1474

I think this should address it. Clicking the gutter is an interesting idea. What we have is a little awkward now ...

[2016-12-21 18:29] clarkbw commented on #1296
I'm not able to reproduce this on Nightly anymore. The disable breakpoint works just fine on line 17 now.  Please reopen this if we're able to reproduce again.

[2016-12-21 18:29] #1296 closed

[2016-12-21 18:41] clarkbw commented on #1161
Just checked again and this is still an issue.

[2016-12-21 18:52] #1364 closed

[2016-12-21 19:08] jasonLaster commented on #1344
CC @juliandescottes are you working on this?

[2016-12-21 19:41] clarkbw commented on #1470
Putting up a PR for this initial change.  We can talk about doing further work but this moves us in a good direction for now.

[2016-12-21 19:45] jasonLaster opened #1521 "[Watch Expressions] review refreshing an expression"

[2016-12-21 19:50] jasonLaster opened #1522 "[Watch Expressions] clean up list view"
We should clean up the UI for the list view

* replace the blue hover with what we use for call stack
* make sure the cursor on hover is consistent with call stack
* make sure we don't show selections
* other polish here to be consistent with the call stack :)

![](http://g.recordit.co/Nqzyx3K2un.gif)

[2016-12-21 19:51] jasonLaster opened #1523 "[Watch Expressions] cleanup close button"
* We should only show the close button on hover
* We don't want the button to wrap down with long values (we might need to use flexbox for the expression)

[2016-12-21 19:51] jasonLaster opened #1524 "[Watch Expressions] Adjust header buttons height so that the header is normal height"
We should cleanup the font height of the buttons so that they no longer push the header up

![screen shot 2016-12-21 at 4 12 50 pm](https://cloud.githubusercontent.com/assets/254562/21406214/601481f8-c798-11e6-9d96-9d82a03b3de8.png)

[2016-12-21 19:51] jasonLaster opened #1525 "[Watch Expressions] evaluate expression when not paused"
Currently the debugger evaluates watch expressions only when paused.

It would be nice if we also evaluated expression when the debugger is not paused. for example:

* `this` => `Window`
* `2 + 2` => `4`

[2016-12-21 19:51] jasonLaster opened #1526 "[Watch Expressions] edit expression when paused"
I've found that while editing occassionally the debugger resumes:

I believe this is due to one of two things:
1. an error re-evaluating an expression or
2. this terrible bug where the `d` key triggers the resume handler because chrome confuses `keyD` with `F8` https://github.com/devtools-html/debugger.html/issues/1501

[2016-12-21 20:24] jasonLaster commented on #1501
I looked quickly into this and it turns out that for some reason F8 maps to the `keyD` keydown event in chrome, but not firefox...

[code]

[2016-12-21 20:44] clarkbw commented on #1501
I assume our library for shortcuts has been tested in Firefox but actually has little or no testing in Chrome.  Overtime this might be a reason to look at something else like [mousetrap](https://craig.is/killing/mice) which has much broader test coverage.

[2016-12-21 20:59] jasonLaster commented on #1352
@Garbee is on it

[2016-12-21 21:07] jasonLaster commented on #1352
Here's a re-write of the issue overview based on what we know now:

### Steps to Reproduce

1. Open localhost:8000
2. Open a new tab and select "localhost:8000: Debugger" (basically start inception)

#### Actual Result
Observe that in the "webpack://" domain we show a directory `webpack/bootstrap 5aa234` and file `(index)`

#### Expected Result
We would like to see a directory `webpack` and file `

[2016-12-21 21:10] jasonLaster commented on #1526
I was not able to reproduce this

[2016-12-21 21:10] #1526 closed

[2016-12-21 21:22] jasonLaster commented on #1350
No worries, if it's okay I think I'm going to take this one over. I have some ideas about how i want to do some refactoring beforehand :)

We've got lots of other "bugs" and "up for grabs"

[2016-12-21 22:44] andreicristianpetcu commented on #1350
@jasonLaster Sure.... Pick it up if you wish. I'll just ping you when I have some time. I have some side projects that I need to finish before I dedicate more time to debugger.html.

[2016-12-22 02:44] #1467 closed

[2016-12-22 02:52] wldcordeiro commented on #1350
I'll take this.

[2016-12-22 02:58] #1513 closed

[2016-12-22 02:59] #1119 closed

[2016-12-22 03:00] jasonLaster commented on #1408
removed the "in-progress" label as this bug seems like it's not as important as other bugs

[2016-12-22 03:00] zspitzer commented on #1513
hang on, what about wrapping?

[2016-12-22 03:05] zspitzer commented on #797
now that #1474 has landed, a hover tooltip with the source file and line number would be possible?

[2016-12-22 03:55] jasonLaster commented on #1350
@wldcordeiro nah - i want this one :)

[2016-12-22 04:02] #1476 closed

[2016-12-22 06:07] clarkbw commented on #1505
Not sure if I found the right long term solution but I think its subtle yet still indicates the difference.

[2016-12-22 13:20] nt1m commented on #1161
I think it's safe to copy over the SVG code from m-c and inline it here.
The assets in m-c went through my review where I nitpicked about the blurry pause icon, I'm guessing debugger-html has the wrong version ?

Here's a pixel snapped version:
https://firefoxux.github.io/firefox-svg-icons/viewer/#pause

[2016-12-22 13:36] jnachtigall opened #1531 "Toggle "Disable Breakpoints" tooltip to "Enable Breakpoints""
Nitpicking:  If all breakpoints are disabled, then the user can enable all again with the Breakpoints toggle. I think not only the tooltip icon should toggle but also it's tooltip depending on whether you enable or disable it.

![2016-12-22 14_30_28-firefox debugger - firefox developer edition](https://cloud.githubusercontent.com/assets/3307404/21427235/a62480c4-c853-11e6-91bf-53d5eea1e202.png)

O

[2016-12-22 15:42] jasonLaster commented on #1161
Thanks @nt1m I never knew about firefoxux, which is an awesome name by the way!

I just made this issue up for grabs, because I believe the task is to simply replace the pause svg we have on file with this new one and perhaps adjust the CSS so that it lines up.

Thanks again!

[2016-12-22 17:32] jasonLaster commented on #626
👍  Thanks @jnachtigall for finding this! I'll be sure to investigate soon, unless you want to hack on a prototype

CC @juliandescottes is the hover popup/tooltip guy

[2016-12-22 20:38] jnachtigall commented on #626
@jasonLaster Appreciated, but sorry, no time, unfortunately (kids, job, life - in random order ;-) Filing a bug report is much easier (and something I can do "in between") than actually fixing it. Kudos to you and your team, thus.

[2016-12-22 20:43] nt1m opened #1535 "MVP of Blackbox sources"
We're planning on implementing blackboxing in Q1.

Currently this ticket hasn't been broken down.

[2016-12-22 20:46] nt1m opened #1536 "Make debugger UI take less vertical space"
Vertical space is very valuable especially when the debugger is inside the toolbox. It'd be nice if the heights were consistent with other tools inside the toolbox as well (I think we use 24px for toolbars).

[2016-12-22 22:54] jasonLaster commented on #626
Understood :) thanks for the input so far!

You're one of our main part time PMs :P

And happy holidays
On Thu, Dec 22, 2016 at 3:38 PM jnachtigall <notifications@github.com>
wrote:

[2016-12-23 03:42] wldcordeiro opened #1537 "[Vertical Layout] Show the correct collapse buttons"
In the vertical layout the collapsible "panes" are different from the horizontal. Render the proper ones for the layout.

[2016-12-23 03:49] clarkbw commented on #1536
I'm not sure if this was intentional or not.  Will need to investigate.

[2016-12-23 03:51] clarkbw commented on #1535
The old system was under a feature flag previously #437 but this work is scheduled for Q1.

[2016-12-23 04:16] wldcordeiro commented on #1536
I could have sworn there was an effort for the vertical rhythm not too long ago and we followed guidelines @helenvholmes shared with us, but I agree that we should be consistent between tools.

[2016-12-23 04:24] wldcordeiro commented on #1358
I'll be taking this.

[2016-12-23 11:09] nt1m commented on #1536
@clarkbw,@wldcordeiro I think the current height (24px) was decided before Helen's arrival (I remember it was discussed with Brian and Darrin). Our toolbars used a lot of vertical space before then, and 24px seemed like a reasonable height.

Either way, if there are new guidelines, all tools should follow them, not just debugger-html

[2016-12-23 15:54] tromey commented on #1422
First I got:

[code]

Doesn't seem to be fatal.

Other than this it all worked for me.  I had to uninstall the Fedora `node` and instead install the `nodejs` package from the nodesource repository.

[2016-12-23 16:30] Zacqary commented on #1510
If I'm understanding correctly, the expected behavior is:

- When you click on a breakpoint in the Breakpoints sidebar, only that breakpoint's line should be highlighted
- When you switch tabs to a new source, all of its breakpoints' lines should be highlighted

And the actual behavior is:

- When you click on a breakpoint in the Breakpoints sidebar that's in a different source, it will switch the

[2016-12-23 16:35] Zacqary commented on #1510
Oh actually it looks like in the GIF it's not even highlighting *all* of them when you switch the tab, just one or two.

So what's the expected behavior on tab-switch then? Is it supposed to be highlighting any breakpoints when you switch the tab or not?

[2016-12-23 16:44] jasonLaster commented on #1510
Hmm. The expected behavior is that clicking a breakpoint navigates you to
where it's defined and highlights the line. Somehow several lines have the
highlight class
On Fri, Dec 23, 2016 at 11:35 AM Zacqary Adam Xeper <
notifications@github.com> wrote:

[2016-12-24 14:42] greenkeeper[bot] opened #1539 "An in-range update of lodash is breaking the build 🚨"
## Version **4.17.3** of [lodash](https://github.com/lodash/lodash) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/devtools-html/debugger.html/compare/greenkeeper%2Flodash-4.17.3">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      lodash
    </td>
  </tr>
  <tr>
    <th align=left>

[2016-12-25 01:58] jacobjzhang commented on #1340
@jasonLaster I can grab this

[2016-12-25 16:02] jasonLaster opened #1540 "Polish some UI colors"
We recently merged a couple of UI elements with *questionable* colors.

- [x] pause reason #1646
  * we went with an html color
  * should have a good dark theme color
- [ ] conditional breakpoint left border
  * color is probably off too dark / orange
  * it should be transparent and darker on hover like pause breakpoints [here] [1](https://github.com/clarkbw/debugger.html/blob/cond-breakpoint-in

[2016-12-25 17:52] jacobjzhang commented on #1340
@jasonLaster The vast majority of the typing for Editor.js is going to be around CodeMirror. What are your thoughts on integrating https://github.com/DefinitelyTyped/DefinitelyTyped/tree/master/codemirror types into the project? I'm not sure what the level of effort here would be.

[2016-12-25 19:29] jasonLaster commented on #1340
That makes sense. Or we can steal those types that are relevant
On Sun, Dec 25, 2016 at 12:52 PM Jacob J. Zhang <notifications@github.com>
wrote:

[2016-12-25 19:35] jasonLaster commented on #1340
Flow-typed is the main project for community flow types.

I don't see codemirror there so we might need to use anys.

Honestly that's fine, were not shooting for 100% coverage. This is the
first pass so we'd take decent coverage
On Sun, Dec 25, 2016 at 2:29 PM Jason Laster <jason.laster.11@gmail.com>
wrote:

[2016-12-25 19:48] jacobjzhang commented on #1490
@jasonLaster I think this could be interesting. May I?

[2016-12-25 21:53] jacobjzhang commented on #1490
@jasonLaster Hey dumb question, where do I find how to get the source URL for frames and the source tree? I see getSelectedSource in Editor.js but am assuming getSelectedFrame is more useful-- do we need to write a function to keep the URL structures the same?

[2016-12-25 22:16] jasonLaster commented on #1490
Good question. We should have the frame location and get the source for
each frame.

This is your second time looking at the call stack
On Sun, Dec 25, 2016 at 4:53 PM Jacob J. Zhang <notifications@github.com>
wrote:

[2016-12-25 22:32] jasonLaster commented on #1490
@jacobjzhang looks like frames already have a source

https://github.com/devtools-html/debugger.html/blob/master/src/components/Frames.js#L119-L122

[2016-12-26 03:18] arthur801031 commented on #1523
@jasonLaster

I will take a stab at this :)

[2016-12-26 03:19] jasonLaster commented on #1523
Thanks!
On Sun, Dec 25, 2016 at 10:18 PM I-Chun (Arthur) Liu <
notifications@github.com> wrote:

[2016-12-26 11:16] juliandescottes commented on #1344
Looks like this is fixed on Nightly. We have been fixing a lot of issues on the event bubble recently, I'll try to find the bugzilla reference.

[2016-12-26 11:22] juliandescottes commented on #1344
I think this was fixed by [Bug 1315639](https://bugzilla.mozilla.org/show_bug.cgi?id=1315639) according to [comment 4](https://bugzilla.mozilla.org/show_bug.cgi?id=1315639#c4)

Closing.

[2016-12-26 11:22] #1344 closed

[2016-12-26 14:27] andreicristianpetcu commented on #1422
@tromey It still does not work for me. I fetched the latest sources from debugger.html, I have nodejs package installed and not node. I also get the warning you are mentioning while running yarn install.

[2016-12-26 14:40] #880 closed

[2016-12-26 14:45] jasonLaster commented on #1422
@andreicristianpetcu I know this is a big ask, but mind re-installing node v7 from nodesource?

[2016-12-26 21:07] binarybaba commented on #1489
Hey jason, newbie here.. new to yarn too but when I run yarn run chrome, it kind of assumes that I'm on a mac and gives an error. FF works fine. Does that mean I'll have to use only ff while debugging? I'm on ubuntu.

Hmm, could not find the path /Applications/Google Chrome.app/Contents/MacOS/Google Chrome.
Try looking for chrome with ls /Applications
chrome exited with code -2
Done in 0.92s.

[2016-12-26 21:35] jasonLaster commented on #1489
Ahh. Thanks for the question and in fact this seems like an opportunity for
a PR?

The script runs the chrome bin, which is inside of your chrome app. On Macs
that's in /applications but it sounds like for Ubuntu that's somewhere
else. It'd be awesome if the script knew to check on Ubuntu on another
likely location.
On Mon, Dec 26, 2016 at 4:07 PM Amin Mohamed Ajani <notifications@github.com>
wrot

[2016-12-26 21:40] binarybaba commented on #1489
tbh I'm just trying to get my head around oss contributions and I sort of picked this one for my first stab. I'm fine working on ff. I've opened 8000 on chrome. Just set up the dev env and it's too late in the night. I'll try looking at it tomorrow first thing in the morning see if I can fix this and submit a PR. :D

[2016-12-26 21:42] jasonLaster commented on #1489
Thanks. You found a great issue for a first bug. Thanks for the help
On Mon, Dec 26, 2016 at 4:40 PM Amin Mohamed Ajani <notifications@github.com>
wrote:

[2016-12-27 02:27] #1524 closed

[2016-12-27 05:43] arthur801031 commented on #583
@jasonLaster

I will take a stab at this :)

[2016-12-27 14:16] joshunger opened #1549 "search is finding urls in sources panel even when collapsed"
search is finding urls in sources panel even when collapsed.  Is search supposed to search the sources list?

1. Visit http://google.com
2. http://localhost:8000/ and debug google.com.
3. CMD + F and enter "api"
4. Notice the odd highlight to the left

![image](https://cloud.githubusercontent.com/assets/2301847/21501330/2a1c132a-cc04-11e6-8b7c-22b4cdb32c6d.png)

[2016-12-27 14:35] joshunger opened #1550 "search can't find text below the fold"
search can't find text below the fold

1. Visit http://todomvc.com/examples/vanillajs/
2. Debug.
3. CMD + P controller.js
4. Search for `currentPage`

EXPECTING: 4 results at the bottom of the file.
ACTUAL: Phrase not found.

5. Scroll down to the bottom of the page.
6. Search for `currentPage`
7. Results are correct

![image](https://cloud.githubusercontent.com/assets/2301847/21501652/ddde1dd4-cc

[2016-12-27 18:18] clarkbw commented on #1550
I think this is a "CodeMirror" thing with the built in search. Try turning on 'editorSearch' in your local confit.  See: https://github.com/devtools-html/debugger.html/blob/master/docs/feature-flags.md

Let me know if that helps!

[2016-12-27 21:32] gabrielluong commented on #1536
I believe we should be trending towards having more space (vertical space and bigger fonts) - since this helps with legibility as our font is already really tiny. I would hate to see the debugger.html adapt to the old standard when it should be the other way around where all the other tools should be adapting to the new standard.

[2016-12-27 21:41] jacobjzhang commented on #881
@jasonLaster this is cool, let me do it please :-)

[2016-12-27 22:02] clarkbw commented on #1536
Yep, I agree. There really isn't enough space with 24px.

[2016-12-27 22:15] #1489 closed

[2016-12-28 00:01] nt1m commented on #1536
@gabrielluong @clarkbw
For debugger.html, I would agree 24px is not enough vertical space (considering the crowded tabbar), but for the other tools, considering the low amount of content in the toolbars, 30px would be a waste, and the content would fit fine in 24px.

Here's how the toolbox used to look like if you're curious: https://people-mozilla.org/~shorlander/files/devTools-toolbox-i02/devToo

[2016-12-28 00:03] nt1m commented on #1536
@gabrielluong Also, about the font-size, it really depends on the platform you're on: Windows uses 12px, OSX uses 11px, Linux uses something huge.

[2016-12-28 00:22] gabrielluong commented on #1536
@nt1m @clarkbw @jasonLaster  Honestly, the toolbox you have shown me looks fine to me. I am sure there will be situations where you are correct such as if i had a MBA 11", but what if you had a 27" monitor instead. I know full well of the fight for consistency among our tool, but I can just as well point out as many inconsistencies we already currently have such as the filter bar in the new consol

[2016-12-28 01:45] arthur801031 opened #1555 "Where can I find the debuggee's url?"
I'm trying to find which method to call to get the debuggee's url. For example, if I'm debugging cnn.com, which method do I call to get "cnn.com".

[2016-12-28 02:55] #1555 closed

[2016-12-28 04:26] nt1m commented on #1536
@gabrielluong The toolbars do take quite some vertical space (percentage-wise). I don't know about people monitors, but I refer to the default toolbox height which is 250px.

Unfortunately, having those inconsistencies build up makes the unpolished devtools we have today.
I understand the inconsistencies will go over time, but there are absolutely no bugs filed, no official specs about those detai

[2016-12-28 05:43] clarkbw commented on #1536
That's an interesting rule, I'm not sure where it is derived from.

I'm worried less about the inconsistency in height of toolbars (which should be fixed with shared CSS as you point out) as the inconsistent experiences of search and other actions which should be shared widgets as well.

[2016-12-28 05:43] clarkbw commented on #1536
@nt1m I think we should track this, perhaps somewhere else.  But its good that you filed this, I wasn't aware of it before now.

[2016-12-28 05:48] #524 closed

[2016-12-28 11:37] bomsy commented on #1298
From my inital investigations, As seen [here](https://github.com/ChromeDevTools/devtools-frontend/blob/master/front_end/components/RemoteObjectPreviewFormatter.js#L7) Chrome debugger frontend makes use an experimental [`preview`](https://chromedevtools.github.io/debugger-protocol-viewer/tot/Runtime/#type-ObjectPreview) property object which exists on the [`RemoteObject`](https://chromedevtools.git

[2016-12-28 15:30] jasonLaster opened #1558 "[Breakpoints] Move toggle button"
@Dalimil's great work in #1546 got me to re-think how we want to treat toggling breakpoints.

Previously, the button was entirely user-set i.e. I click it to disable all bps, i click it again to re-enable all bps. This was a broken metaphor because you could also enable and disable bps individually. His PR, made it act like a group checkbox which accurately reflects the BPs aggregate state.

Given

[2016-12-28 16:07] joshunger opened #1559 "Add flag for Firefox nightly to firefox-driver or similar"
It would helpful to add a flag to start Firefox nightly to firefox-driver.

Here is my hack right now -
[code]

[2016-12-28 16:36] joshunger opened #1560 "[Chrome] Show pause reason"
The pause reason is not shown when pausing in chrome or node.

<img width="505" alt="screen shot 2016-12-28 at 12 12 35 pm" src="https://cloud.githubusercontent.com/assets/254562/21527138/fa0353d0-ccf6-11e6-8139-79c236a4b038.png">

[2016-12-28 16:45] joshunger commented on #1550
@clarkbw that fixed it!

[2016-12-28 16:59] jasonLaster commented on #1550
Great. We'll get the new search bar out soon

[2016-12-28 16:59] #1550 closed

[2016-12-28 17:05] #1531 closed

[2016-12-28 17:08] jasonLaster commented on #1549
hmm, I think we should suppress search on the window so that this is never available.

This is a little bit difficult because we bind cmd+f in EditorSearchBar which might only be bound once we've shown a source

[2016-12-28 17:11] jasonLaster commented on #1560
Nice find @joshunger. I think this is mostly a question of adding a firefox feature, and not adding it to V8 yet.

We should have saved the *reason* in the pause data, but it is likely that we missed something or the reason is different

https://github.com/juliandescottes/devtools-core/blob/storybook/packages/devtools-client-adapters/src/chrome/events.js#L51-L54

[code]

[2016-12-28 17:15] jasonLaster commented on #1559
That's a great call.

Here's a quick patch for what it could look like:

[code]

[2016-12-28 17:17] jasonLaster commented on #1536
we do share css https://github.com/devtools-html/devtools-core/blob/master/packages/devtools-launchpad/src/lib/themes

[2016-12-28 17:18] jasonLaster commented on #1536
closing as this is not actionable.

this is a useful discussion, so lets keep talking

[2016-12-28 17:18] #1536 closed

[2016-12-28 17:21] #1358 closed

[2016-12-28 17:21] #1523 closed

[2016-12-28 17:30] jasonLaster commented on #1422
closing this now as this is likely a node issue. Lets re-open it if something new comes in

[2016-12-28 17:32] darkwing opened #1561 "Update formatted code to put empty arrays and objects on one line:"
This is a super nit, and may be out of our control to some level, but having empty braces and brackets on multiple lines stretches the formatted code too much:

<img width="267" alt="emptybrackets" src="https://cloud.githubusercontent.com/assets/46655/21527478/35886bf8-ccf1-11e6-92b7-7f716dd1318f.png">

If we could put them on one line, that would be awesome.

[2016-12-28 17:36] jasonLaster opened #1562 "[Editor] highlighting a long line while scrolling is slow"
original issue: https://bugzilla.mozilla.org/show_bug.cgi?id=1319743

Scrolling with the mouse for highlighting script in the new Debugger frontend is jerky and very not smooth, with increase of CPU use.

James, could you check this regression in the new Debugger, it's really painful for the user to highlight long script with the mouse.

[2016-12-28 17:38] jasonLaster commented on #1311
renamed the issue to split out two duplicate issues. here's the new one #1562

[2016-12-28 17:54] joshunger commented on #1559
@jasonLaster on second thought, do you loose your history every time you `yarn run firefox`?  I was seeing weird behavior.

[2016-12-28 18:33] jasonLaster commented on #1559
Yep. That's mostly intentional though w the profile.

We can have an option to pass a profile in I suppose. At some point you
just call the FF bin command yourself :)
On Wed, Dec 28, 2016 at 12:54 PM Josh Unger <notifications@github.com>
wrote:

[2016-12-28 18:36] joshunger commented on #1559
Yeah so if I'm just calling FF bin directly maybe this isn't necessary

[2016-12-28 18:36] jasonLaster commented on #1559
Yeh. This is mostly to help new comers :)
On Wed, Dec 28, 2016 at 1:36 PM Josh Unger <notifications@github.com> wrote:

[2016-12-28 18:48] darkwing opened #1564 "[Sidebars] Collapsed Issues"
I see a few issues with collapsed panes at the moment:

1.  They still have the directional CSS cursor (signaling dragability) when hovering over the border
2.  You can still click the headings to expand and contract the breakpoint headings, as well as double click sources to open on the left side.

I propose:

1.  The cursor be set to default so people don't think they can drag the panes
2.  We s

[2016-12-28 18:53] jasonLaster commented on #1561
Oh nice - the bug comes from @fitzgen's https://github.com/mozilla/pretty-fast lib. I'll repost

[2016-12-28 18:55] #1561 closed

[2016-12-28 19:03] jasonLaster commented on #1564
Nice find!

The splitbox is a shared component and now lives in [devtools-core](https://github.com/devtools-html/devtools-core). It's still fairly easy to make the change and see it locally.

here's a patch that will help get started
[code]

[2016-12-28 19:47] clarkbw commented on #1559
James and I talked about creating a temp profile on first run that could be reused. I think it's a good idea.

[2016-12-28 20:10] andreicristianpetcu commented on #1422
I installed latest node with ndenv. I have v7.3.0 and it still failed. It's ok to close it.

[2016-12-28 20:33] greenkeeper[bot] opened #1566 "An in-range update of firefox-profile is breaking the build 🚨"
## Version **0.4.6** of [firefox-profile](https://github.com/saadtazi/firefox-profile-js) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/devtools-html/debugger.html/compare/greenkeeper%2Ffirefox-profile-0.4.6">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      firefox-profile
    </td>

[2016-12-28 21:39] #1161 closed

[2016-12-28 21:42] jasonLaster commented on #1422
hmm, @andreicristianpetcu weird. mind trying this for node 7.x- https://github.com/nodesource/distributions#installation-instructions

Also, perhaps try getting node 7.0. maybe 7.3 is broken :/

[2016-12-28 21:51] jasonLaster opened #1568 "[Editor Search Bar] Cmd+F selected text"
There's a small issue with cmd+f with selected text:

First turn on `editorSearch`, then:

STR:
1. open a source
2. select text
3. cmd+f
4. hit enter

you expect to go to the next result, instead the selected text is replaced with the previous query

You expect, cmd+f to set the query, instead it looks like it's just setting the input value.

[code]

![](http://g.recordit.co/DWlVBeuNGz.gif)

[2016-12-28 21:53] jasonLaster commented on #1491
@liorpr mind if i snag this? I'm still not thrilled with the UX

[2016-12-28 21:55] jasonLaster commented on #1501
Yeah - that could definitely work

Here's our [library](https://github.com/devtools-html/devtools-core/blob/master/packages/devtools-sham-modules/client/shared/key-shortcuts.js#L19
) for shortcuts and here's where the F8 mapping comes in...

Lots of browny points to the person who figures this out :)

[2016-12-28 22:08] liorpr commented on #1491
@jasonLaster oh sorry! totally missed it! hmm I guess I don't mind, would be happy to take it after you make up your mind about it :)

[2016-12-28 22:15] jasonLaster commented on #1298
Hey @bomsy here's what i've got so far by the way

https://github.com/devtools-html/debugger.html/compare/master...jasonLaster:chrome-vars?expand=1

[2016-12-28 22:49] jasonLaster commented on #1378
Lol. Touch it with JS
On Wed, Dec 28, 2016 at 5:15 PM Greg Tatum <notifications@github.com> wrote:

[2016-12-29 12:51] nt1m commented on #1536
@jasonLaster There are lots of things that differ, we use inline SVGs (something I'd like to avoid) for debugger-html, we don't re-use any classes (devtools-button, devtools-*input, ...) in debugger-html, ...

[2016-12-29 15:26] gabrielluong commented on #1536
On the contrary, I would argue that there are many compelling reasons to be embracing inline SVGs. One simple example is the frustration we are dealing with SVGs in responsive.html. I do not believe the current CSS architecture in DevTools is serving us well and we do need to change how we should be doing things, but this is a bigger team discussion.

[2016-12-29 16:10] nt1m commented on #1536
@gabrielluong Using inline SVGs goes against the semantics. Let's say we want a button with an icon, the logical way to go is to use a <button> with a background-image , not to use a <span> and some random svg markup inside it (which is what debugger-html does FYI).

Also, it turns out we can use filter: url(chrome://global/skin/filters.svg#fill) to make the fill property apply (which is something

[2016-12-29 17:14] gabrielluong commented on #1536
The modern way you will typically see it is <button><svg></button>.

[2016-12-29 18:16] nt1m commented on #1536
@gabrielluong Looks like my comment didn't render properly, corrected it now.

Irony aside, I think it's better to use correct semantics, for accessibilty and other reasons

[2016-12-29 18:36] darkwing opened #1571 "Tab Border off 1px to code container"
<img width="251" alt="borders-off" src="https://cloud.githubusercontent.com/assets/46655/21550968/78ddc542-cdc3-11e6-8faf-58a9a5b8bb50.png">

[2016-12-29 18:44] gabrielluong commented on #1536
@nt1m See my previous comment for the proper semantics. Again, inline svg really is not disadvantaged by anything you have mention - there are proper ARIA tags available for SVGs. I would prefer to comment on inline SVG in a more relevant bug if you still hold strong opinions here, but I would suggest taking a step back to explore practical SVG usage.

[2016-12-29 22:38] #1571 closed

[2016-12-30 03:19] #1078 closed

[2016-12-30 03:22] jasonLaster opened #1573 "Persist UI across refreshes"
This is a tracking ticket for the several features around persisting UI for debugger or debuggee refreshes:

Features:
- [ ] persist tabs #583
- [ ] persist sidebar collapse
- [x] persist selected source
- [x] persist pause on exceptions
- [x] persist frames, scopes

[2016-12-30 16:51] jasonLaster commented on #1549
Actually, this is fixed with the new editor search bar

[2016-12-30 16:51] #1549 closed

[2016-12-30 16:53] jasonLaster commented on #1505
Yup. I think it's good enough for now :)

[2016-12-30 16:53] #1505 closed

[2016-12-30 16:55] jasonLaster commented on #1427
Ahh, @juliandescottes I believe you were looking at the inverse, linking from the inspector to the debugger.

[2016-12-30 17:00] jasonLaster commented on #1424
Here's a patch to get started

[code]

[2016-12-30 17:01] jasonLaster commented on #856
This is a dupe of #1378

[2016-12-30 17:01] #856 closed

[2016-12-30 17:02] jasonLaster commented on #635
changed the label to server

[2016-12-30 17:03] jasonLaster opened #1574 "Hover on a variable"
Checklist
- [x] Show a popup in CodeMirror #1840
- [x] Add a JS parser in a worker #1841
- [x] Add an `expressionAtLocation` function for getting the expression to eval #1842
- [x] Preview values in the popup #1843

[2016-12-30 17:03] jasonLaster commented on #626
closing this as the work will be tracked in #1574

[2016-12-30 17:03] #626 closed

[2016-12-30 17:10] #1470 closed

[2016-12-30 17:12] jasonLaster commented on #1356
here's a patch to get started:

[code]

[2016-12-30 19:07] bzbarsky commented on #626
@jasonLaster How will the work be tracked there if the information about what work needs to happen isn't present there?  ;)

[2016-12-30 19:08] jasonLaster commented on #626
It will look like other tracking issues soon :)
On Fri, Dec 30, 2016 at 2:07 PM Boris Zbarsky <notifications@github.com>
wrote:

[2016-12-30 20:00] bzbarsky commented on #626
<shrug>.  I'm giving up on spending time on this, but I don't see how you will keep track of the specific feature requested here without having an issue about that feature, and in that case why that shouldn't be this issue.  The most likely outcome is that it will just get forgotten.

[2016-12-31 14:27] joshunger commented on #1559
@jasonLaster @clarkbw what about a quick start script instead?  It was a bit confusing to run `yarn run firefox` the first time and not have my profile.

[2016-12-31 16:01] joshunger opened #1577 "First time connecting links point to a non-existent id in CONTRIBUTING.md"
First time connecting links point to a non-existent id in CONTRIBUTING.md.  What are they supposed to point to?
![image](https://cloud.githubusercontent.com/assets/2301847/21578286/b7018b68-cf37-11e6-864a-98501a8ecade.png)

[2016-12-31 16:25] greenkeeper[bot] opened #1578 "An in-range update of stylelint is breaking the build 🚨"
## Version **7.7.1** of [stylelint](https://github.com/stylelint/stylelint) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/devtools-html/debugger.html/compare/greenkeeper%2Fstylelint-7.7.1">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      stylelint
    </td>
  </tr>
  <tr>
    <th ali

[2016-12-31 18:45] jasonLaster commented on #1559
Hmm, what do you mean?

[2016-12-31 19:07] joshunger commented on #1559
This was my first experience -

1. Follow instructions.
2. `yarn run firefox`
3. Hit http://www.github.com
4. 😕 about why I wasn't logged in

What about a script (or scripts) that does the following -

1. finds your profile directory and prefs.js.
2. updates the prefs.js with the necessary preferences ... `devtools.debugger.remote-enabled` etc. of course while Firefox is closed
3. launches nightly

[2016-12-31 19:12] jasonLaster commented on #1559
Hmm, I think we want to route Devs to a hosted version of the debugger
examples first.

Debugging logged in pages is more advanced which we can make clear with
shift f2 and the manual step.

Perhaps we can provide a helpful console message to route Devs to the docs
On Sat, Dec 31, 2016 at 2:07 PM Josh Unger <notifications@github.com> wrote:

[2016-12-31 19:35] clarkbw commented on #1577
That issue is being tracked here: https://github.com/devtools-html/devtools-core/issues/47

[2017-01-01 00:09] #1577 closed

[2017-01-01 07:39] liorpr commented on #1507
@jasonLaster hmm should it remain open?

[2017-01-01 13:55] jasonLaster commented on #1507
Nope!

[2017-01-01 13:55] #1507 closed

[2017-01-01 19:49] Dalimil commented on #1558
I'm working on this... but the component state is a bit complicated to maintain because 'indeterminate' can only be sent via JavaScript and 'checked=true' seems to override 'indeterminate=true'. It would need to be an uncontrolled input that is initialized after it mounts...

[2017-01-01 21:29] jbhoosreddy commented on #1525
Hey @jasonLaster, initially watch expressions was evaluated as soon as it was inputted by the user but I changed it at the time to evaluate on pause. It should be an simple fix to revert it back and an easy bug to get myself back into the project. Could I take a stab at it?

[2017-01-01 21:30] jasonLaster commented on #1525
Grab it!

Watch expressions would be fun to work together on
On Sun, Jan 1, 2017 at 4:29 PM Jaideep Bhoosreddy <notifications@github.com>
wrote:

[2017-01-02 05:00] #1359 closed

[2017-01-02 05:02] jasonLaster commented on #1488
@wldcordeiro and @kdzwinel landed all of the major features. Lets review the UI and file some small polish bugs before we release this.

[2017-01-02 05:22] petrgazarov commented on #1359
Hm, I had a fork that had 80% of progress made on this. 😕

No blame, but perhaps next time some communication would be helpful, about either switching to a different issue or moving faster on this one.

[2017-01-02 06:03] wldcordeiro commented on #1359
@petrgazarov Apologies. I had meant to ping the appropriate people when I did this work. If you're looking for issues to work on feel free to ping me or @jasonLaster and we can direct you to some open ones. Again, apologies for the lack of communication.

[2017-01-02 11:17] bomsy commented on #1329
looking at this now!

[2017-01-02 17:11] jasonLaster opened #1585 "Type the Debugger (V1)"
This issue tracks our work toward adding flow types to the Debugger. We can call this issue *done* when we've added types to the major parts of the debugger and have good patterns in place

- [x] Add types to Editor #1340
- [x] Add types to the client https://github.com/devtools-html/devtools-core/pull/49
- [x] Import types from the client #1598
- [x] Add types to reducers + actions #1179
- [x] Ad

[2017-01-02 18:28] jasonLaster opened #1586 "Persist UI across navigation / refreshes"
We would like UI state to be persisted across navigation / refreshes

**Debugger Refreshes Features**
- [x] you don't see previous tabs when navigating back to a URL #1705
- [x] Persist tabs #1547
- [x] Persist selected source (blocked by #1547)
- [x] Persist start and end panel expand state #1597
- [x] Persist sidebar pane collapse  #1587
- [x] Persist pause on exception state #1534
- [x] Persist

[2017-01-02 18:40] jasonLaster opened #1587 "Persist sidebar pane collapse state"
It would nice to be able to persist sidebar pane collapse across debugger refreshes.

The benefit is that users who are working on a feature with the debugger in the right sidebar and don't want to see the source tree don't have to collapse the left sidebar all the time.

This is similar to this [PR](https://github.com/devtools-html/debugger.html/pull/1534/files).

[code]

Here's a link for workin

[2017-01-02 18:43] jasonLaster opened #1588 "[SourceTabs] Add additional source tab shortcuts"
I've been thinking recently that it might be nice to add additional editor shortcuts for tabs:

* `Cmd+w` - close tab
* `Cmd-shift-{` | `Cmd-shift-}` - prev | next selected tab

The obvious drawback is that these are used by the browser as well, but I think it's okay given the precedent for overriding `cmd-f` (search) and other shortcuts.

[2017-01-02 18:45] jasonLaster commented on #1573
closing as it's a dupe of https://github.com/devtools-html/debugger.html/issues/1586

[2017-01-02 18:45] #1573 closed

[2017-01-02 18:56] jasonLaster opened #1589 "Organize Components Directory"
We now have 20+ components, so it might be nice to organize them into logical directories:

**Some directories that come to mind are:**

* EditorPane
* shared
* SecondaryPanes

**Editor Pane**
* Editor
* EditorBreakpoint
* EditorSearchBar
* SecondaryPanes
...

**Shared**
* PaneToggleButton
* ObjectInspector
* Rep
* Dropdown
* Autocomplete
* CloseButton

**SecondaryPanes**
* EventListeners
* Comman

[2017-01-02 19:23] bomsy commented on #1586
@jasonLaster Does https://github.com/devtools-html/debugger.html/issues/960 fit in here as well?

[2017-01-02 21:56] jasonLaster commented on #1586
@bomsy oops, i linked to the wrong issue for #960. #1471 was about auto-expanding :)

[2017-01-02 22:36] jbhoosreddy opened #1594 "Watch Expressions: Final expression doesn't remove"
STR:
1. Add multiple expressions
2. Remove all expressions by clicking the "x" button

ER: All expressions should be removed

AR: Last expression does not remove

Should be an easy bug to solve.

[2017-01-02 22:50] #1525 closed

[2017-01-02 23:03] jasonLaster commented on #1521
looks good

[2017-01-02 23:03] #1521 closed

[2017-01-02 23:25] jbhoosreddy opened #1596 "Add watch expressions by context menu in editor"
Add ability to add watch expressions by selecting the expression in the source editor.

[2017-01-02 23:54] wldcordeiro commented on #1587
I'll grab this issue.

[2017-01-03 01:21] wldcordeiro commented on #1587
@jasonLaster I have this working in a branch but I can't get my test passing because the value from the prefs is undefined in the tests.

[2017-01-03 03:27] clarkbw commented on #1588
I worry the tab related ones would interfere with workflows.  The find (text) feels less like it could be part of a developer workflow on a web page so I'm not worried about that, or taking over printing `cmd+P`.

[2017-01-03 04:05] jasonLaster opened #1598 "Import client types"
@clarkbw and @ppold added beautiful types https://github.com/devtools-html/devtools-core/pull/49 here.

Lets import these types and replace types in `src/types`

I think this patch is what we're trying to do: [patch](https://gist.github.com/jasonLaster/10f5c31be71b9d50ffbe471aca06fa13)

[2017-01-03 16:08] #1350 closed

[2017-01-03 16:35] #1568 closed

[2017-01-03 16:38] #1491 closed

[2017-01-03 16:41] jasonLaster opened #1599 "[Watch Expressions] Polish UI"
- [x] Prevent duplicate expressions
  - [x] Fix editing expressions
  - [x] Re-evaluate on resume
  - [x] cursor on input should be "text"
  - [x] close button is off
  - [x] expressions should not expand by default
  - [ ] "Not Available" shouldn't be in quotes
  - [x] re-evaluate when a frame is selected
  - [x] can't remove last expression

[2017-01-03 19:17] jasonLaster opened #1601 "Update Reps"
We should update our reps.

Tasks:
* Pull in devtools-reps project

Check to see if Promises work #374.

[2017-01-03 19:26] clarkbw commented on #682
https://dxr.mozilla.org/mozilla-central/source/devtools/client/debugger/test/mochitest/browser_dbg_pause-warning.js

[2017-01-03 19:36] #963 closed

[2017-01-03 19:53] jasonLaster commented on #1340
@jacobjzhang mind sharing the branch you were working on

[2017-01-03 20:03] clarkbw commented on #958
This is likely an issue with the server so adding that tag as well.  This might be a good project for someone who wants to learn more about the debug server while also fixing an issue on the client side of things.

[2017-01-03 20:31] shlomif commented on #1594
Hi! I'd like to try to tackle this bug.

[2017-01-03 20:36] jacobjzhang commented on #1340
@jasonLaster forgot to commit before switching branches so I lost my changes. Fortunately because of the scoping issues we talked about, didn't get much farther than your initial patch.

[2017-01-03 21:45] jasonLaster commented on #1594
sorry @shlomif, I just did this as part of a larger fix.

[2017-01-03 21:45] jasonLaster commented on #1594
closing as we'll do this in the larger polish UI issue

[2017-01-03 21:45] #1594 closed

[2017-01-03 22:12] jasonLaster opened #1602 "Fix Location reps properties"
We should update how Location properties are shown in the object inspector. Currently properties like `hostname` are hidden because they come down as getters.

#### Patch

[code]

#### Screenshots

Here's what we have:

![screen shot 2017-01-03 at 5 11 35 pm](https://cloud.githubusercontent.com/assets/254562/21625033/bae26a16-d1d7-11e6-9b1d-6cf164f55a24.png)

Here's what chrome has:

![screen shot

[2017-01-03 22:13] jasonLaster opened #1603 "Update non-enumerable styling"
We're currently using non-enumerable for styling default properties which has the wrong implications:

I think we likely should go with another approach where we gather a hard-coded list of properties for different objects like:`window`, `window.location`

[2017-01-03 22:17] jasonLaster opened #1604 "[WhyPaused] Style the UI"
There are a couple things that are currently off with the UI:

* the height is should be consistent with headers
* there should be a bottom bar
* the color is arbitrary, we should choose standard colors that look good in dark mode
* we should check to see that it looks good in vertical mode
* we should make sure it looks good while scrolling

[code]

* scrolling

![](http://g.recordit.co/3hBYHzO5A

[2017-01-03 23:04] jbhoosreddy opened #1607 "Context menu disabled attribute doesn't work"
This might be easier to explain with a gif.
When you set menu item attribute `disabled: true` the expected result should be that the menu item is greyed out and clicking on it does not do any action.
However, setting attribute disabled to true does not make any change. This might be a bug we would want to handle separately.

![](http://g.recordit.co/wqLDjIS6kp.gif)

[2017-01-03 23:14] jasonLaster commented on #1607
Here's a patch for getting started

[code]

[2017-01-03 23:32] jbhoosreddy opened #1609 "editing watch expressions does not work"
When editing a watch expression, after editing and pressing enter, the expression text disappears and the input field stays there.

![](http://g.recordit.co/YTwHz47qc1.gif)

[2017-01-03 23:37] jbhoosreddy commented on #1596
@jasonLaster I made some of the changes as per the review. The context menu disable behavior would be a separate issue. Let me know if you think other changes should be made.

[2017-01-03 23:41] jasonLaster opened #1610 "[Watch Expressions] UI Wonkiness"
I'm seeing some edge-cases with the UI around

* the input bar
* scroll bar with large reps
* close button floating over reps

It would be nice to get some thoughts on how we can / should clean this up...

![](http://g.recordit.co/gZKaqV3m4t.gif)

[2017-01-04 01:03] clarkbw opened #1611 "[WhyPaused] handle breakpointConditionThrown"
We don't currently handle the `breakpointConditionThrown` type and I believe it would be easiest to handle this in the [WhyPaused](https://github.com/devtools-html/debugger.html/blob/master/src/components/WhyPaused.js) component.

Here's how you can reproduce this situation:
* Open [Optimized Away](https://devtools-html.github.io/debugger-examples/examples/optimized-away.html) for debugging
* _**i

[2017-01-04 03:39] #502 closed

[2017-01-04 03:40] jasonLaster commented on #502
@clarkbw it's neat that merging https://github.com/devtools-html/devtools-core/pull/54 closed this issue. Github's NLP has gotten good!

[2017-01-04 04:45] jasonLaster opened #1613 "Improve GH Pages"
I added a theme for the debugger.html to see what it would be like and it's pretty cool:

https://devtools-html.github.io/debugger.html/videos.html

Having a nice website experience helps us in a couple ways:
* It is a better first impression
* It makes the content more readable

**Tasks**
- [x] the parser is missing some things
- [x] we currently index on the docs repo, but I think we should move

[2017-01-04 04:48] jasonLaster commented on #1522
#1599

[2017-01-04 04:48] #1522 closed

[2017-01-04 10:03] jnachtigall opened #1614 "Prettify Source bar takes up precious vertical space"
There's a whole bar just for the Prettify Source icon taking up lot's of vertical space. Since it just has one button I would propose to remove this bar completely (which would allow to read about 3 LOC more). The Prettify Source button which is a file/tab concerned action could be moved to its "concern": The tab.

![2017-01-04 10_54_58-](https://cloud.githubusercontent.com/assets/3307404/21638743

[2017-01-04 10:12] jnachtigall commented on #1614
Ah, after clicking the "Prettify Source" the bar vanishes. I wonder why it's there in the first place since my JS is "pretty" already.

Anyway: A whole bar for just one action seems wasteful. Also the button is really hard to discover being at right bottom which is almost the farthest away for the user's eye and mouse.

[2017-01-04 15:57] jasonLaster opened #1616 "Default Prefs should be defined in the project."
Currently, the default debugger prefs are inside of the global [preferences.js](https://dxr.mozilla.org/mozilla-central/source/devtools/client/preferences/devtools.js#94-116) file.

This creates a problem when we want to add a new pref because we *first* need to add the default pref there in M-C. In practice this can block a PR by a couple of days for a small UI pref like `scopes-pane-visible`.

T

[2017-01-04 16:10] jasonLaster commented on #1311
@tromey found:

[code]

[2017-01-04 16:35] #1599 closed

[2017-01-04 16:39] tromey opened #1617 "persist scopes state while stepping"
I set a breakpoint and the debugger stopped there.  I opened a scope in the Scopes pane to see the local variables.  Then I did a step over.  The debugger collapsed the scope.  I think it would be nicer if the scope stayed open.  As it is now, if I want to see what is happening, I have to switch back and forth between the step-over button and the scope button; and if the information I want is buri

[2017-01-04 16:47] jasonLaster commented on #1422
closing, but lets keep talking here if you find something.

[2017-01-04 16:47] #1422 closed

[2017-01-04 16:47] #1341 closed

[2017-01-04 16:48] jasonLaster commented on #1284
closing as it's not actionable at the moment, we can keep tracking issues here though.

[2017-01-04 16:48] #1284 closed

[2017-01-04 16:48] jasonLaster commented on #1236
closing as we're not seeing this anymore

[2017-01-04 16:48] #1236 closed

[2017-01-04 16:48] clarkbw commented on #1614
We've moved the button from the right to the left, that hasn't landed in Firefox yet.

![screen shot 2017-01-04 at 08 47 58](https://cloud.githubusercontent.com/assets/2134/21650650/825a70c0-d25a-11e6-9d62-dfed3c1f49b6.png)

[2017-01-04 16:50] tromey opened #1618 "pause on uncaught exception not initially showing the exception"
I have a simple program that throws an exception:

[code]

I enable "pause on uncaught exception" in the debugger.
Then I enter `calltrw2()` in the console.

This stops at the `throw` -- good!

Now I go to the Scopes pane and open the "trw" scope.
I don't see anything about the exception here.  First I have to "step over", then re-open the "trw" scope, in order to see the exception.  This seems st

[2017-01-04 16:51] clarkbw commented on #1614
I'm closing this for now since we've tried a bunch of variations before that didn't work out.  If we have a new location we feel is better we can try that and we should also dig up all the old PRs and issues to review.  Feel free to keep using this issue for discussion even though its closed.

[2017-01-04 16:51] #1614 closed

[2017-01-04 16:53] tromey opened #1619 "pause on uncaught exception -vs- continue"
I have a simple program that throws an exception:

[code]

I enable "pause on uncaught exception" in the debugger.
Then I enter `calltrw2()` in the console.

This stops at the `throw` -- good!

Now I click the "continue" button.  This causes the debugger to stop in `calltrw2`.

I did not expect this.  Instead, I think it would be better for continuing to carry on -- I clicked it because I am no lo

[2017-01-04 16:55] tromey opened #1620 "pause on exceptions icon is too subtle"
I find the differences between the 3 states of the "pause on exceptions" button a bit too subtle.  I can't readily distinguish them and I end up having to wait for the tooltip in order to see the current setting.

[2017-01-04 16:58] jasonLaster opened #1621 "Clicking "Cmd+P to search" label should open the source search UI"
Here's a patch to get started

[code]

![screen shot 2017-01-04 at 11 56 24 am](https://cloud.githubusercontent.com/assets/254562/21651003/ecba1212-d274-11e6-8ff3-cf4faa8bf966.png)

[2017-01-04 17:06] jasonLaster opened #1622 "[DarkMode] fix text selection"
The dark mode text selection makes it hard to read the code.

Here are some notes on how to work with our [themes](https://github.com/devtools-html/debugger.html/blob/master/docs/local-development.md#themes)

#### Here's where the text selection background is likely defined

I feel like we should find another color that is much closer to the background so it doesn't make the source text look bad.

[2017-01-04 17:12] jasonLaster commented on #1617
This is similar for maintaining expanded state for watch expression objects

CC @bomsy

[2017-01-04 17:14] #1558 closed

[2017-01-04 18:16] jnachtigall commented on #1614
@clarkbw Since Prettify is a file/tab concerned action I'd move it to the tab header. Just left of the close button ("close" actually is also a single file/tab concerned action).

Plus: Ideally, I think that it should also be a toggle instead of a one-off button: This would show the status of the file ("Prettify" being "on" meaning that the file is different than the original) and one could also s

[2017-01-04 18:25] andreicristianpetcu commented on #1422
To be honest, I have a good workaround and I do not have much interest in troubleshooting this. If it bugs other people then it might be important but for now it is not.

[2017-01-04 18:54] clarkbw commented on #1620
I really don't like this button either, I never know what state its in or what state is next. 👎

[2017-01-04 18:58] clarkbw commented on #1613
Yeah, especially if we linked to the various docs from the README this would make sense to me.

[2017-01-04 19:44] irfanhudda commented on #1621
I would like to work on this

[2017-01-04 21:19] jasonLaster commented on #1453
https://bugzilla.mozilla.org/show_bug.cgi?id=1328679

[2017-01-04 21:22] clarkbw opened #1624 "move access keys into L10N"
The access keys for context menus need to correspond to the label that is being presented in the menu item.  However since the labels are translated, if a translation uses a different phrase the key may need to be changed to match the new phrase and there is no way for a translator to do that right now.

See [L10N](https://github.com/devtools-html/debugger.html/blob/master/docs/local-development.m

[2017-01-04 22:40] jasonLaster commented on #1624
Here's a patch to help you get started:

[code]

[2017-01-04 22:42] jasonLaster commented on #1614
@jnachtigall i'm concerned about tab header as it's a fairly in frequent action.

Hmm, perhaps we add it as a context menu item. We could offer it in both the source tree item and source tab.

one argument for the footer is that we'll likely use that space for more things going forward.
* black boxing
* perhaps cursor location
* really cool things yet discovered...

[2017-01-04 22:45] jasonLaster opened #1626 "[Pretty Print] Add context menu action"
It would be nice if users had the option to pretty print a source from the context menu.

We can do this in both a source tree context menu and source tab

[code]

NOTE: @jacobjzhang is working on a source tree CM in https://github.com/devtools-html/debugger.html/pull/1554.

[2017-01-04 22:45] #1621 closed

[2017-01-04 23:11] jasonLaster commented on #1086
@binarybaba @nt1m think you could help here? Sorry I think you two are my SVG people :)

[2017-01-05 02:24] #1607 closed

[2017-01-05 02:25] jasonLaster commented on #1564
I believe @Garbee is on this

[2017-01-05 04:53] nt1m commented on #1086
@jasonLaster I remember @gabrielluong and I had a conversation about this feature when it was implemented in the old debugger. The first implementation used red for pause on all, yellow for uncaught. We both agreed the tri-state button was confusing, and that it would be better to have some kind of dropdown menu for this purpose.

Something like:
<> ▾  (<> is the icon)
-------------------
Pause on

[2017-01-05 06:15] andreicristianpetcu commented on #1622
@jasonLaster I use the dark theme. Can I pick this one up?

[2017-01-05 06:56] binarybaba commented on #1086
I blame the timezone for being late to the party.

[2017-01-05 07:04] #1626 closed

[2017-01-05 13:31] jasonLaster commented on #1622
Go for it
On Thu, Jan 5, 2017 at 1:15 AM Andrei Petcu <notifications@github.com>
wrote:

[2017-01-05 13:49] irfanhudda commented on #1622
@jasonLaster Correct me if I'm wrong, but I believe that this require changes to [https://github.com/devtools-html/devtools-core/blob/master/packages/devtools-launchpad/src/lib/themes/dark-theme.css#L210](https://github.com/devtools-html/devtools-core/blob/master/packages/devtools-launchpad/src/lib/themes/dark-theme.css#L210) file.

[2017-01-05 14:41] jasonLaster commented on #1622
@irfanhudda thanks, that looks like the spot. It's easy to work on devtools-modules and see the change in the debugger. https://github.com/devtools-html/devtools-core#installing-locally

^ @andreicristianpetcu

[2017-01-05 15:48] darkwing opened #1630 ""Pretty Print Source" Context Click Errors on Already-Prettified Tab"
1.  Click the "{}" on a source file to get the pretty tab
2. Right-click pretty tab, click "Pretty Print Source"

You'll get the following error:

[code]

[2017-01-05 16:17] #1329 closed

[2017-01-05 16:20] bomsy commented on #1560
i'm interested in this!

[2017-01-05 16:26] nchevobbe opened #1633 "Highlight ocurences of the highlighted word (a-la Sublime)"
This is something I really like in Sublime, it gives you a fast insight of where your variable, for example, is used.

![screenshot at janv 05 17-17-26](https://cloud.githubusercontent.com/assets/578107/21688122/f20c850e-d36b-11e6-944d-5433ed0e5d16.png)

This would be triggered when a word is double-clicked in the editor, at first.
Maybe later we could have a shortcut to highlight the current text

[2017-01-05 17:02] jasonLaster opened #1634 "Format native objects"
We have found that there are several native objects that we're not formatting well:

- [x] Fix Location reps properties #1602
- [x] Update non-enumerable styling #1603
- [x] Format mouseEvents #1299
- [x] Show large arrays, objects #2026
- [x] format promises #374
- [x] DOMElements and DOMEvents
- [x] MessageEvents #2849

We should test these: https://developer.mozilla.org/en-US/docs/Web/Events

[2017-01-05 17:05] jasonLaster opened #1635 "Code Coverage"
It would be great to release a code coverage prototype for user research testing.

- [x] frontend https://github.com/devtools-html/debugger.html/pull/1410
- [ ] land the server prototype https://bugzilla.mozilla.org/show_bug.cgi?id=1322663
- [ ] land the client patch for the protocol https://github.com/devtools-html/devtools-core/pull/20

![](https://camo.githubusercontent.com/fd726484ad73bf685c49

[2017-01-05 17:28] krishnagopinath commented on #1604
I'd like to work on this issue, @jasonLater, if it's not already taken by someone else :)

This would be my first ever contribution to OS ever,  so I'm pretty sure I'd make a lot of whoopsies.

[2017-01-05 17:44] jbhoosreddy commented on #1633
@jasonLaster if this is actionable I'd like to take a stab at this.

[2017-01-05 17:46] jasonLaster commented on #1633
Yea - i think so... follow @bomsy's work with the source-search utils. should be a fun ride :) similar to your selections api, but with Editor dom events on mouse up or something :P

[2017-01-05 18:17] #1630 closed

[2017-01-05 18:19] jasonLaster commented on #1604
Hi @krishnagopinath. It's yours, feel free to reach out with any questions

[2017-01-05 18:21] jasonLaster commented on #1609
Here's a good place to look:

[code]

[2017-01-05 18:31] jasonLaster commented on #1588
Good point. Closing for now

[2017-01-05 18:31] #1588 closed

[2017-01-05 18:31] #1566 closed

[2017-01-05 18:31] #1578 closed

[2017-01-05 18:32] jasonLaster commented on #1559
closing this as the drivers moved to devtools core.

[2017-01-05 18:32] #1559 closed

[2017-01-05 18:32] #1539 closed

[2017-01-05 18:39] jasonLaster commented on #1503
Here's a quick patch that might help someone get started.

It's kinda cool that we can get this effect actually 😉

[code]

[2017-01-05 18:40] jasonLaster commented on #1502
@binarybaba i think this might help if you're interested in picking it up again:
https://github.com/devtools-html/debugger.html/issues/1503#issuecomment-270721409

[2017-01-05 18:42] jasonLaster commented on #1465
closing as we have this working I think

[2017-01-05 18:42] #1465 closed

[2017-01-05 18:42] jasonLaster commented on #1460
closing as the other issues are broken out.

[2017-01-05 18:42] #1460 closed

[2017-01-05 18:43] jasonLaster commented on #1427
moving this to the enhancements board https://github.com/devtools-html/debugger.html/projects/5

Thanks!

[2017-01-05 18:43] #1427 closed

[2017-01-05 18:44] jasonLaster commented on #1408
moving this to the bug triage board as a note because it's low priority and i don't see us getting to it anytime soon.

[2017-01-05 18:44] #1408 closed

[2017-01-05 18:49] jasonLaster commented on #1227
closing this for now as we're tracking enhancements decently well and I don't mind closing issues now and moving them to enhancements. seems to be fine...

let me know if you have thoughts though.

[2017-01-05 18:49] #1227 closed

[2017-01-05 18:49] #1107 closed

[2017-01-05 18:50] jasonLaster commented on #1107
it's not that bad :)

[2017-01-05 18:50] jasonLaster commented on #1079
closing as we'll improve this process on the m-c side

[2017-01-05 18:50] #1079 closed

[2017-01-05 18:51] jasonLaster commented on #635
closing and moving to the bugs board as a note. We can always re-open when we're ready to tackle it.

[2017-01-05 18:51] #635 closed

[2017-01-05 19:11] wldcordeiro commented on #1502
@jasonLaster the buttons themselves are animated. It's the `SplitBox` itself that isn't https://github.com/devtools-html/debugger.html/blob/master/src/components/PaneToggleButton.css#L6

[2017-01-05 19:12] binarybaba commented on #1502
I'm scared of react but I'll definitely try it tomorrow.. Will see if I can wrap my head around it and tomorrow update you guys!

[2017-01-05 19:55] andreicristianpetcu commented on #1622
@jasonLaster [ping](https://github.com/devtools-html/devtools-core/pull/63) :)

[2017-01-05 20:19] wldcordeiro commented on #1412
I'm adding some features to the list. Don't know if we want them in nice to have or requirements @jasonLaster

[2017-01-05 20:22] wldcordeiro opened #1636 "[Editor Search Bar] Case Insensitive Search"
It would be nice to have a toggleable search button for case insensitive search much like Sublime Text and other editors.

Screenshot for inspiration
![screenshot_20170105_132202](https://cloud.githubusercontent.com/assets/580982/21696150/f61f8c80-d349-11e6-83e3-760bbedf72b3.png)

[2017-01-05 20:26] jasonLaster commented on #1636
@wldcordeiro is on this

[2017-01-05 20:30] wldcordeiro opened #1637 "[Editor Search Bar] Add smart filters"
Filters:
* regexes
* whole word match
* case insensitive

Screenshot for inspiration
![screenshot_20170105_132202](https://cloud.githubusercontent.com/assets/580982/21696352/ef69ea06-d34a-11e6-86ca-0766993aa452.png)

![](https://cloud.githubusercontent.com/assets/254562/21696191/e4a17e30-d35a-11e6-8675-4bb7ff191ca7.png)

[2017-01-05 20:32] wldcordeiro opened #1638 "[Editor Search Bar] Whole Word Match"
Adding a toggleable whole word match search like Sublime Text etc.

Inspiration Screenshot
![screenshot_20170105_132202](https://cloud.githubusercontent.com/assets/580982/21696464/6cec0130-d34b-11e6-8b56-dacf3f052323.png)

[2017-01-05 20:35] jasonLaster commented on #1636
Here's a screenshot:

![](https://cloud.githubusercontent.com/assets/254562/21696191/e4a17e30-d35a-11e6-8675-4bb7ff191ca7.png)

[2017-01-05 21:11] clarkbw commented on #1560
Here's where you can see Chrome's implementation: https://github.com/ChromeDevTools/devtools-frontend/blob/master/front_end/sources/DebuggerPausedMessage.js#L34-L71

And you'll just need to grab the strings they use (aka `DK.DebuggerModel.BreakReason.DOM`) from here: https://github.com/ChromeDevTools/devtools-frontend/blob/4b57ce79c205a38d78d7d9af6e724e7c24683eb7/front_end/sdk/DebuggerModel.js#L86

[2017-01-05 22:33] clarkbw commented on #1311
Possibly some CSS is causing the scrollbar to appear when its not actually visible.  On the Mac you need to start scrolling to see the scrollbar as normal behavior.

[2017-01-05 22:35] clarkbw commented on #1167
Need to investigate how reliably this is failing on try

[2017-01-05 22:40] #1622 closed

[2017-01-05 22:45] #1638 closed

[2017-01-05 22:45] #1636 closed

[2017-01-05 23:25] #960 closed

[2017-01-06 01:38] krishnagopinath commented on #1604
So, I've got a couple of suggestions for this (thanks to the chat I had with @jasonLaster ), other than reducing the font size, and the height, and adding borders :

* The red dot - Here's a little preview as to how it'll look.. of course, this looks rough and ugly but once I've done some CSS work on it, it'll look much better! (Look for the red dot next to the "Paused on breakpoint" message

![wh

[2017-01-06 03:20] clarkbw commented on #1604
I'd leave out the red dot.  Our goal isn't to _draw attention_ to this space as much as it is to give the user information if they are unsure why the debugger is paused.

I like matching the breakpoint color, that makes sense to me, perhaps even dropping the opacity on that color by a bit so it fades out more than the actual breakpoint.

And cleaning up the padding etc is def a good thing.

With t

[2017-01-06 14:07] irfanhudda commented on #1424
Can I start working on this?

[2017-01-06 14:52] jasonLaster commented on #1613
I changed GH Pages directory to be master

[2017-01-06 14:52] jasonLaster commented on #1613
If somebody has **GH Pages** or **Jekyll** experience and would be able to help us improve this, it would be really appreciated.

[2017-01-06 15:08] jasonLaster commented on #1604
@nchevobbe thoughts here?

[2017-01-06 16:09] jasonLaster opened #1640 "Fix React.render and React.findDOMNode warnings"
We've been getting these ReactDOM.render warnings for awhile, but haven't had time to trace it down. It would be really appreciated if someone could find where we're doing this.

The best way to approach this would probably be to grep for `findDomNode` and `render` and see if you can find it that way.

The other way would be to put breakpoints in these functions

![screen shot 2017-01-06 at 11 07

[2017-01-06 16:16] nchevobbe commented on #1604
Tweaked things a little :)

![peek 06-01-2017 17-05](https://cloud.githubusercontent.com/assets/578107/21724151/8142d846-d433-11e6-9f89-39ec5e883c50.gif)

Like @krishnagopinath  I think it makes sense to have a similar hue to the one we're using for the paused-line background.
I have maybe an issue with using green to indicate something is paused, because in my mind green would mean "running" (lik

[2017-01-06 16:32] #1616 closed

[2017-01-06 16:57] krishnagopinath commented on #1604
Looks great, @nchevobbe ! :)

Here's how it looks in dark mode.

![image](https://cloud.githubusercontent.com/assets/4935809/21725590/0b22ef56-d407-11e6-9a74-70ac419f5cbc.png)

Shall we move on with this?

[2017-01-06 17:07] jasonLaster commented on #1604
Thanks @nchevobbe, looks great!

Go @krishnagopinath!! 🏃

[2017-01-06 17:09] thomcc commented on #1408
Came here to open a bug about TypeScript not having any syntax highlighting.

Just want to say that using JavaScript seems like a much better default than text to me -- ClojureScript might not highlight well in some cases, but most things would highlight pretty well. At least assuming you can tell that it's for a script and not e.g. a stylesheet?

[2017-01-06 17:11] jasonLaster commented on #1408
hmm... if we're using source maps the source *should* have an extension and we can do the right thing.

The main use case is bad source maps!

[2017-01-06 17:23] thomcc opened #1642 "TypeScript files lack syntax highlighing"
I have a typescript project, in the debugger, none of the TypeScript sources (`*.ts` files) are highlighted. This is unfortunate.

I suspect even just using JS for the default would work for the vast majority compiled to JS source files. I also suspect that a few (CoffeeScript, TypeScript, etc) are common enough that special casing them would reasonable (unless it would require shipping tons of ad

[2017-01-06 18:59] clarkbw commented on #1640
Here's a quick video on how to break on these errors and find the root cause...
![use-callstack](https://cloud.githubusercontent.com/assets/2134/21728620/110f0310-d3fc-11e6-970c-7ffcff5adfcf.gif)

* Click location in the console
* Break on that error
* Use the call stack to go up the stack until you find code that looks like the problem

[2017-01-06 19:19] clarkbw commented on #1613
Could be looking a lot better! 😼 https://devtools-html.github.io/debugger.html/

[2017-01-07 08:52] andreicristianpetcu opened #1645 "Please keep the old search as you type functionalitty of the old debugger"
Hi,

I would like to suggest an enhancement for the new debugger. The old debugger in Firefox shows you a preview of the results as you type. Sometimes I don't know exactly what I am looking for and it really helps to see the results as I type. Also it shows only the lines that match my pattern, showing me more relevant info and less irrelevant non-matching lines.

Since a GIF is worth 10000 words

[2017-01-07 15:49] krishnagopinath commented on #1611
I'd like to take a look at this, if its not yet taken up by anyone, @clarkbw @jasonLaster

[2017-01-07 16:38] jasonLaster commented on #1611
Go for it!

[2017-01-07 16:59] krishnagopinath opened #1647 "The [SecondaryPanes] component doesn't fully collapse when collapse pane is clicked"
Here's a gif to explain this. Notice that there are two scrollbars when the right pane is collapsed, which makes it look confusing and weird..

![left-bar-bug](https://cloud.githubusercontent.com/assets/4935809/21743451/844bb402-d4d0-11e6-8580-ee63ccf28826.gif)

[2017-01-07 17:09] clarkbw commented on #1611
👍

[2017-01-09 01:46] clarkbw commented on #1642
This is likely about supporting [CodeMirror TypeScript mode](https://codemirror.net/mode/javascript/typescript.html) which is just a one off of [CodeMirror JS mode](https://codemirror.net/mode/javascript/index.html).  I'm not sure if we get the right MIME typing to be able to differentiate TypeScript or not.

[2017-01-09 01:54] clarkbw commented on #1618
I think we could handle this pretty similar to #1611

When paused on an exception you get some information back that could be displayed.  Either highlighted in the scope (as it used to be) but I also think the WhyPaused component could be displaying this information as well.

Here's some of the data coming back from this page: https://devtools-html.github.io/debugger-examples/examples/exceptions.h

[2017-01-09 10:45] liorpr commented on #1640
started to look into this, here's what I got so far:

1. the deprecation mechanism works per function for the whole app, so it's not about where its happening, but why(tried to remove the mentioned render call and got this warning from somewhere else)
2. don't know why but it seems like the app does not require the correct react-dom package, but the react one, that's why the render method is consi

[2017-01-09 14:40] jasonLaster commented on #1618
@clarkbw I'm not sure what you're suggesting :)

[2017-01-09 14:43] jasonLaster commented on #1642
Lets create a debugger example [here](https://devtools-html.github.io/debugger-examples/)

We can set the mode here:

[code]

[2017-01-09 14:44] jasonLaster commented on #1564
@Garbee are you on this?

I believe we decided to use an `if` statement in the render to just not show the splitbox content.

[2017-01-09 14:44] jasonLaster commented on #1647
Thanks @krishnagopinath we're handling that here https://github.com/devtools-html/debugger.html/issues/1564

[2017-01-09 14:44] #1647 closed

[2017-01-09 14:46] jasonLaster commented on #1645
Thanks for the great writeup. We'll work on it here:

https://github.com/devtools-html/debugger.html/issues/1108

[2017-01-09 14:46] #1645 closed

[2017-01-09 14:48] jasonLaster commented on #1613
@clarkbw looking better:
https://devtools-html.github.io/debugger.html/

all the links are broken tho 😈

[2017-01-09 14:49] jasonLaster commented on #1537
I think we decided to use an `if` in the splitbox render to remove the content

[2017-01-09 15:11] jasonLaster opened #1648 "Hide "toggle breakpoints" checkbox when there aren't any breakpoints"
We recently moved the toggle breakpoints to a checkbox in the breakpoints pane:

https://twitter.com/jasonlaster11/status/816314230999838720

It would be nice if we hid the checkbox when there weren't any breakpoints:

[code]

[2017-01-09 15:12] jasonLaster commented on #1609
@andreicristianpetcu it's yours

[2017-01-09 15:13] jasonLaster commented on #1610
@amitzur are you interested in doing some of this cleanup? I trust your eye for UI detail!

[2017-01-09 15:14] jasonLaster commented on #1492
@binarybaba interested in this one?

[2017-01-09 15:20] jasonLaster commented on #1540
@clarkbw we have the pause reason done. Conditional BPs should be pretty straight forward

[2017-01-09 15:23] jasonLaster commented on #1510
@Zacqary are you you still interested in this?

@joshunger, @AbhiGulati, @sankha93 would you enjoy taking a look at this super weird bug?

[2017-01-09 15:30] jasonLaster commented on #1494
@irfanhudda, @krishnagopinath easy one

[2017-01-09 15:31] jasonLaster commented on #1400
@amitzur this is another style one that could be nice

[2017-01-09 15:33] jasonLaster opened #1649 "[Watch Expressions] Add watch expressions pane in vertical mode"
We should show watch expressions in vertical mode

[2017-01-09 15:34] jasonLaster opened #1650 "[Watch Expressions] Refactor some pieces"
- [x] Extract expressions actions and reducer
- [ ] remove expression id (because they're unique!)

[2017-01-09 15:46] Zacqary commented on #1510
I'm interested but it's been difficult to find time to contribute lately.
Don't let me hold things up if someone else wants to take it.

On Jan 9, 2017 12:23 PM, "Jason Laster" <notifications@github.com> wrote:

[2017-01-09 15:49] jasonLaster commented on #1510
no worries. happy to play it by ear.

[2017-01-09 16:13] joshunger commented on #1510
@jasonLaster I might be interested but busy at the moment... hard to find time

[2017-01-09 16:30] sole opened #1651 "If the old debugger front-end is enabled (in about:config), clicking on source-map links to code doesn't bring you to the debugger"
Scenario:

- running Nightly, I had manually enabled the old debugger front-end using about:config
- access http://bgrins.github.io/devtools-demos/debugger/sourcemaps/
- click anywhere to log 'hi'
- The source that console.logs 'hi' is generated with a sourcemap
- if I click on the bundle.js:66:4 line, instead of bringing me to the debugger on that line it brings me to the full source (via view-so

[2017-01-09 17:17] krishnagopinath commented on #1611
@clarkbw, @jasonLaster, I'm not sure as to what is expected as a completion to this, as the patch seems to have done almost everything about it..

better UX, styling? or something else?

One thing I could think of is, if `breakpointConditionThrown`  is triggered, the debugger could offer to show up an edit action on the conditional breakpoint, thereby, pointing (/spoon-feeding) the user to that po

[2017-01-09 17:32] nchevobbe opened #1652 "Add title/favicon configuration"
We just merged https://github.com/devtools-html/devtools-core/commit/3dab3a336ad825096cb59fe69fd843f6cffcb797 in devtools-core which make the launchpad tools-independant. Wich means that when we will bump the devtools-core version here, we'll lose the "Firefox Debugger" title, as well as the favicon.
So when we upgrade devtools-core version here, we should make sure to add those in the configurati

[2017-01-09 17:41] Garbee commented on #1564
Leave it as `Up for grabs` since if someone wants to jump in and do this before I get around to finishing it then I'm cool. Doing a major refactor in another project for a good chunk of today. Working on this in my spare time.

Now that I have the linking working right this should be much easier to work on. I'll try to have a working patch this evening after more of this refactor is done.

[2017-01-09 17:49] irfanhudda opened #1653 "Adjustable font size in editor pane"
The current font size of editor appears too small on my screen.
![screenshot-1](https://cloud.githubusercontent.com/assets/1755089/21776677/a2873a3e-d6c1-11e6-93e7-2508fe448f44.png)

It would be best if we had adjustable font size for editor pane. We could have some options in context menu of editor.

Any suggestions?

[2017-01-09 17:52] jasonLaster commented on #1611
@krishnagopinath often the patches are pretty close. No worries :)

Or, just open the panel... this doesn't seem to necessary though :) Unfortunately, we're not great at triggering UI things from other components

[2017-01-09 17:54] jasonLaster commented on #1651
thanks for filing this. I'd be curious to see what @clarkbw says, but my instinct is to close this as the old debugger is deprecated and we hope to be at parity by the end of Q1.

[2017-01-09 17:57] belen-albeza commented on #1651
Confirming it also happens with DevEdition.

What is also happening to me is that source maps are not listed along the original JS files, but at a different path.

It might be related to this other bug in bugzilla: https://bugzilla.mozilla.org/buglist.cgi?quicksearch=TypeScript&list_id=13384940

[2017-01-09 18:02] #1453 closed

[2017-01-09 18:08] belen-albeza commented on #1651
This is happening to me with the default config of Firefox Nightly and Dev Edition –unless the "old front-end" is enabled by default.

I'm attaching an example. It might also be related to this bug in bugzilla: https://bugzilla.mozilla.org/show_bug.cgi?id=1294036

[sourcemaps-bug.zip](https://github.com/devtools-html/debugger.html/files/694288/sourcemaps-bug.zip)

[2017-01-09 18:12] jasonLaster commented on #1653
Thanks for filing.

There are a couple of challenges with lining up the breakpoint gutter and debug line, but it would be nice to have a normal and maybe comfortable size. 15px or so...

[2017-01-09 18:26] belen-albeza opened #1654 "Source maps generated by Browserify not working"
Source maps generated by Browserify + Exorcist don't seem to be working on Nightly.

Try the following example: [sourcemaps-bug.zip](https://github.com/devtools-html/debugger.html/files/694321/sourcemaps-bug.zip)

Note that source maps appear under the "no domain", separated from the generated bundle:

![screen shot 2017-01-09 at 19 19 16](https://cloud.githubusercontent.com/assets/63681/21777888/

[2017-01-09 18:30] irfanhudda commented on #1494
@jasonLaster Is this just renaming context menu item?

[2017-01-09 18:39] wldcordeiro commented on #1640
@liorpr could it be because of us doing this in a lot of our components?

[code]

Shouldn't `dom` come from the `react-dom` lib and not `react`?

[2017-01-09 18:40] jasonLaster commented on #1640
nice idea @wldcordeiro we should definitely fix these!

[2017-01-09 18:40] jasonLaster commented on #1494
yup

[2017-01-09 18:41] jasonLaster commented on #1654
thanks @belen-albeza

[2017-01-09 18:57] binarybaba commented on #1492
I'll try :)

[2017-01-09 19:01] irfanhudda commented on #1494
I'll take this then.

[2017-01-09 19:09] jbhoosreddy commented on #1596
fixed in #1600

[2017-01-09 19:10] #1596 closed

[2017-01-09 19:29] jbhoosreddy commented on #1642
This looks interesting. How about I take a look at this one next @jasonLaster?

[2017-01-09 19:43] #1494 closed

[2017-01-09 20:12] liorpr commented on #1640
yeah that's definitely shouldn't be there, but even when I break on EditorBreakpoint.js(like in the image above) it happens, and it requires("react-dom")

[2017-01-09 20:43] liorpr commented on #1503
started to implement this, but got kinda stuck. the buttons are re-rendered so fast(due to the change of the app state and thus the component's props after the action is triggered) that you can't even see the animation.
I'd like to hear your thoughts :)
@jasonLaster @clarkbw

[2017-01-09 20:43] andreicristianpetcu commented on #1609
I made a commit. It seems to work. I will test more in the following days to see if I missed something. The Expressions seem to have no unit tests. I will try to make a new test similar to the [other ones](https://github.com/devtools-html/debugger.html/tree/45a276cb6864cf826ddb2c94d933ecef3c9f3272/src/components/tests) but I will cover just this functionality.

[2017-01-09 21:16] jbhoosreddy commented on #1503
I don't completely understand the problem you're mentioning. But if the problem is caused by component rendering too fast, maybe you could look into shouldComponentUpdate method in react component lifecycle. You can use this to control when the component is re rendered by react. Maybe that helps!

Sent from my iPhone

[2017-01-09 21:38] Garbee commented on #1564
PR is up: https://github.com/devtools-html/devtools-core/pull/75

[2017-01-09 21:40] #1564 closed

[2017-01-09 21:53] Garbee commented on #1564
That should do it with an updated build @darkwing. Thank you so much for the great report!

[2017-01-09 21:59] Garbee commented on #1564
Oh, FTR here as well in case anyone comes across this later...

We chose to simply *not render* the side panels when collapsed. This saves us from having to deal with any of this extra class stuff and adding in more CSS rules. It also avoids any potential pitfalls of keyboard navigation going into that area as well by accident if we don't account for that in the scripting. Plus side bonus, it give

[2017-01-10 00:39] andreicristianpetcu commented on #1609
Hmmm. It seems adding a test is a little more complicated. The current component tests [don't seem like they are run at the moment](https://github.com/devtools-html/debugger.html/blob/45a276cb6864cf826ddb2c94d933ecef3c9f3272/src/test/node-unit-tests.js#L61-L64) and they pass if I [run them but don't seem to check anything](https://github.com/devtools-html/debugger.html/blob/45a276cb6864cf826ddb2c9

[2017-01-10 00:44] wldcordeiro commented on #1564
I think we need a dep bump on the launchpad and then the issue will be fixed up. Also there will be a follow-up bit of work to add the bottom panel collapse in vertical mode (I can handle this @Garbee)

[2017-01-10 01:24] clarkbw commented on #1618
Sorry if that wasn't clear.

Given an exception I think you could create a message below the reason by passing the preview directly to the ObjectInspector, so something like this `ObjectInspector(pauseInfo.get(["why"]).get("exception").get("preview"))`

Given something like this seen over the protocol:

[code]

[2017-01-10 01:56] clarkbw commented on #1503
Yeah, you could look over the [shouldcomponentupdate](https://facebook.github.io/react/docs/react-component.html#shouldcomponentupdate) docs.  Its also possible that CommandBar should be a `React.PureComponent` instead since its not doing anything complicated.  These are all interesting areas of React performance that I'm only just getting into so I don't want to steer you in the wrong direction.

[2017-01-10 02:05] clarkbw commented on #1651
Yeah, we tried to avoid regressing the old debugger but we won't be prioritizing fixes for it so we'll have to live with this for a little while.

[2017-01-10 02:05] #1651 closed

[2017-01-10 02:06] clarkbw commented on #1439
https://bugzilla.mozilla.org/show_bug.cgi?id=1328679 has landed.

@cy6erGn0m can you test this with the [latest Nightly](http://nightly.mozilla.org/)?

[2017-01-10 02:09] clarkbw commented on #1653
Lets first look into why the font sizes are so different from the rest of the editor.  The other text is a much more readable size.

[2017-01-10 02:25] clarkbw commented on #1613
Hmm, not sure how we have links that work in HTML and the README at the same time.  In HTML you want to link to [https://github.com/devtools-html/debugger.html/blob/master/docs/debugging-the-debugger](https://github.com/devtools-html/debugger.html/blob/master/docs/debugging-the-debugger.md) but in Markdown you need to link to [https://github.com/devtools-html/debugger.html/blob/master/docs/debuggi

[2017-01-10 02:26] clarkbw commented on #1654
I wonder if this is related to #1439

[2017-01-10 04:12] clarkbw commented on #1640
I don't think [ReactDOM](https://facebook.github.io/react/docs/react-dom.html) provides a `DOM` object.  I believe that is supposed to come from React itself, though it is somewhat undocumented, you'll find it in their [examples](https://github.com/facebook/react/blob/master/examples/basic/index.html#L36)

[2017-01-10 04:47] irfanhudda commented on #1640
I agree with this. There is some documentation [here](https://facebook.github.io/react/docs/react-api.html#createelement).

[2017-01-10 06:06] clarkbw commented on #1640
My next guess is that webpack is possibly doing something strange given the https://github.com/devtools-html/debugger.html/issues/1640#issuecomment-271255082 from @liorpr

[2017-01-10 06:07] clarkbw opened #1661 "[PrettyPrint] option not available for some .min files"
[bug 1320342](https://bugzilla.mozilla.org/show_bug.cgi?id=1320342) provides these steps to reproduce.

* Go to https://www.brain.fm
* Open `jquery.min.js`
* 🤕 No option to pretty print the file is available

[2017-01-10 10:17] Garbee commented on #1564
If you want, go for it. I actually just realized I can't even get vertical mode to trigger. Which is kinda weird... Looks like something was broken recently regarding that.

[2017-01-10 14:33] jasonLaster commented on #1564
@Garbee nope - just need to turn it on

https://github.com/devtools-html/debugger.html/blob/f9482d9ad5d3b1fb034261d72be2c03c8dea6d6c/docs/local-development.md#updating-the-config-locally

[2017-01-10 14:43] jnachtigall opened #1663 "Highlight line longer after jumping to file from Console"
STR:
1. Click on a line in the console
2. Jumps to Debugger

AR:
3. The line is highlighted for maybe one second, then immediately vanishes. Usually in such a situation you do not know 'where' you are, so you need to orientate first and find/search where to look at - until the highlight is gone. I had this "Where is this line?" situatuion a few times now ;)

![capture_2](https://cloud.githubuserco

[2017-01-10 15:41] irfanhudda commented on #1613
We could use [https://devtools-html.github.io/](https://devtools-html.github.io/) which will require a separate repository to host website, docs and other related things. It could also have documentation for other packages in `devtools-core` and of `devtools-reps` in single repository. But I'm not sure how feasible this would be.

[2017-01-10 15:45] jasonLaster commented on #1663
hmm, that makes sense. so basically a long highlight which we can do with a `selectLocation param`

[2017-01-10 15:49] jnachtigall opened #1664 "[Windows] F10 also opens Firefox Menu, F11 does Full-Window"
#1367 fixed part of it. But on Windows Firefox opens does trigger the Debugger actions but also the native Firefox actions:

* F10 should only progress the debugger, not also open the Firefox menu
* F11 should only step-in, not also go into full-page mode

53.0a1 (2017-01-10) (64-bit) Windows 10.

[2017-01-10 15:52] #1604 closed

[2017-01-10 16:28] krishnagopinath commented on #1611
This is how it looks now. Somehow this doesn't sit well with me. The centering seems weird after an extra line is added to the message.

Doing anything more to this could be feature-creepy, IMO.

![image](https://cloud.githubusercontent.com/assets/4935809/21814559/ac0cab64-d727-11e6-90ed-085b9ef64f79.png)

Thoughts?

[2017-01-10 16:34] jasonLaster commented on #1611
I agree @krishnagopinath.

@clarkbw and I had a similar conversation about the line wrapping.

We'll be having a community call call at 3pm EST today https://github.com/devtools-html/debugger.html/#discussion. It would be great if you could stop by.

@Garbee is working on some command bar UI work that could help us here quite a bit.

[2017-01-10 17:27] jasonLaster opened #1665 "Command Bar redesign"
I'm adding this issue to track a discussion that @Garbee and I had this morning.

It would be nice to think through how we present the pause actions / message in the command bar.

**Goals:**
* make the ux more clear
* easier for new comers
* improve accessibility

**Insights:**
* we can move the *other* breakpoints "pause on next execution" "pause on exceptions" to the breakpoints pane. Infact VS

[2017-01-10 17:42] irfanhudda commented on #1653
@clarkbw I'm on Debian 8, Chromium(without extensions). Here editor font defaults to `monospace` which could probably be the cause for this.

[2017-01-10 17:42] #1653 closed

[2017-01-10 18:48] krishnagopinath commented on #1665
I like how the "Paused at a Breakpoint" section is placed. Looks clean, doesn't waste real estate and just does one thing - conveys the message loud and clear :)

This gives way for using other color tones for the text, like when there's an error, etc.

[2017-01-10 19:34] jasonLaster commented on #1665
Yea, it's worth noting that if we're paused at a breakpoint, then the breakpoint also gets styled.

👍

[2017-01-10 19:53] Garbee opened #1670 "[Chrome] Breakpoint Exception Toggle's fail for Chrome tabs"
When switching through the various exception break modes (Uncaught-only, all-exceptions, or none) Chrome tabs will fail on any given trigger. FF tabs still work, so this has something to do with the RDP for Chrome.

<details>
<summary>Error from console</summary>

[code]

Emanating from: `executeSoon @ promise.js:50`

</details>

<details>
<summary>Steps to reproduce</summary>

1. Open debugger an

[2017-01-10 19:55] #1601 closed

[2017-01-10 20:33] #1587 closed

[2017-01-10 20:39] #1652 closed

[2017-01-10 20:44] joshunger commented on #1510
Note this bug on the backbone example - http://todomvc.com/examples/backbone/

[2017-01-10 21:00] jasonLaster opened #1671 "[Editor] update selection UI"
I find the styling of the outlined element a bit strange, it looks like it cuts-off a bit of them

![capture du 2017-01-10 08-41-07](https://cloud.githubusercontent.com/assets/578107/21797641/95e01cfc-d710-11e6-8738-58e6efc831cf.png)

And a bit weird on the selection too (looks like a double border) :
![capture du 2017-01-10 08-42-39](https://cloud.githubusercontent.com/assets/578107/21797679/cf5a

[2017-01-10 21:03] jasonLaster opened #1672 "[Editor] Selection iteration misses even items"
So I don't know why this is, but when you iterate over the selections, it misses one of them!

Steps to reproduce:
1. go to todo-view.js in backbone
2. select this.model
3. press cmd-g

expect the second item to be selected
actual: the third item is selected

![](http://g.recordit.co/DaRSx8MuPa.gif)

CC @bomsy @jbhoosreddy

[2017-01-10 21:04] jasonLaster commented on #1613
Good call @irfanhudda I'm sure at some point we'll want that to describe the larger project!

[2017-01-10 21:05] jbhoosreddy commented on #1672
Didn't see it before but I can look into this.

[2017-01-10 21:07] jbhoosreddy commented on #1671
Could I grab this one? I've already looked into it

[2017-01-10 21:11] jasonLaster commented on #1671
sure1

[2017-01-10 21:28] jasonLaster commented on #1299
cool, so it looks like we're pulling properties  with the new reps

![](http://g.recordit.co/CUiqsMR3NA.gif)

[2017-01-10 21:40] jasonLaster commented on #374
The rep looks better. Now we just need the fields

![screen shot 2017-01-10 at 4 39 44 pm](https://cloud.githubusercontent.com/assets/254562/21825877/77cc0c1a-d753-11e6-9fc9-7b3892d3520c.png)

[2017-01-10 21:49] jasonLaster commented on #1620
You're right :/

We'll be looking into an improvement to the UI in #1665 and other issues.

[2017-01-10 21:49] #1620 closed

[2017-01-10 22:05] wldcordeiro commented on #1672
I thought I was insane and broke it when implementing the search modifiers! This is an odd bug. 😆

[2017-01-10 22:09] jbhoosreddy commented on #1671
So, the padding issues aside, I was dealing with the selection color. Since different tokens can have different text colors, having a fit-all selection color doesn't seem to work as well as I hoped. I'm trying to keep in mind what Nicholas mentioned about color contrasts.
I went back to sublime to see how they handle it. It seems it's a "light" muted color which might also have transparency. But I

[2017-01-10 22:17] jbhoosreddy commented on #1672
@wldcordeiro a little early to tell but, it could well be that I broke it.
That being said, I do like working on weird bugs like these, but it's only worth it if you're able to figure it out. 😂

[2017-01-10 23:29] jasonLaster opened #1677 "[Vertical Mode] use accordion"
we should show the scopes and watch expressions panes in an accordion

[2017-01-11 01:11] clarkbw commented on #1665
👍

Only thing I'd like to iterate on is the button that brings up the "Pause On" dialog.  The plus button doesn't convey enough information.  Perhaps just creating a button with the text "Pause On..."?

[2017-01-11 01:33] clarkbw commented on #1611
Agreed.  I don't think the centering is going to work well with messages like this and we'll need to change the UI or go back to the original left aligned.

Perhaps the messages sit below the top level green area, they could use a regular white background.  Need to think more about it.

[2017-01-11 02:59] clarkbw commented on #1661
I just tracked this down to here: https://github.com/devtools-html/debugger.html/blob/master/src/utils/editor.js#L8

In the example above the `jquery.min.js` file includes a source map and therefore shows a `jquery.js` (pretty version) in the same directory.  The `shouldShowPrettyPrint` uses the presence of a source map to indicate that pretty print isn't available.

@jasonLaster it looks like thi

[2017-01-11 07:06] clarkbw commented on #1378
Being tracked in bugzilla in [bug 1322062](https://bugzilla.mozilla.org/show_bug.cgi?id=1322062)

[2017-01-11 08:29] greenkeeper[bot] opened #1679 "An in-range update of svg-inline-react is breaking the build 🚨"
## Version **1.0.3** of [svg-inline-react](https://github.com/sairion/svg-inline-react) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/devtools-html/debugger.html/compare/greenkeeper%2Fsvg-inline-react-1.0.3">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      svg-inline-react
    </td>

[2017-01-11 11:19] MattCain commented on #1640
Webpack is definitely doing something strange, `require("react-dom");` is returning react rather than react-dom.

[2017-01-11 11:36] liorpr commented on #1640
can someone please explain what this means? couldn't find the devtools/client/shared......

<img width="610" alt="screen shot 2017-01-11 at 1 34 42 pm" src="https://cloud.githubusercontent.com/assets/6891569/21847154/fda29d36-d802-11e6-8022-075e7f297d5f.png">

[2017-01-11 15:46] jasonLaster commented on #1640
@liorpr this is coming from when we make a build for firefox. not relevant here.

@MattCain Have you looked in the`node_modules/react-dom` it could be that they reference react...

[2017-01-11 16:28] #1679 closed

[2017-01-11 18:08] liorpr commented on #1640
@jasonLaster checked the react-dom package, it references to react.DOM but that's ok because the react team switched to an actually separate package only in 15.x. it looks like a webpack related problem

[2017-01-11 19:31] nt1m commented on #1665
@jasonLaster I'd prefer making "Pause on next execution" a label of the toolbar button that brings up the dialog, it saves some space, and makes sense in this context.

Something like:
[code]

[2017-01-11 19:54] Garbee commented on #1665
In my initial design these exception triggers are all radios in the main breakpoint list. The idea being dropdowns/dialogs/etc. all obscure the functionality away. Some developers may not realize this functionality exists except by accident if it is tucked away behind a dropdown/dialog/multi-trigger button.

I'll share the look I am going for tomorrow when I have a bit more of the functionality mo

[2017-01-11 19:56] jasonLaster commented on #1665
Thanks @nt1m. That's a nice idea - i'll draw it up.

Thanks @Garbee. Don't put too much time into wiring it all up, i'm not sure if we'll be ready to act on this now with the release coming up soon.

[2017-01-11 20:00] jbhoosreddy commented on #1672
@jasonLaster I tried to replicate the bug following the STR provided, including the latest master branch. It doesn't seem to happen on my end. Could you reconfirm? If so, maybe we could pair for a quick session to track it down.

[2017-01-11 20:13] #1510 closed

[2017-01-11 21:01] jryans opened #1686 "[Breakpoints] lost in formatted / prettified source tabs after reloading"
STR:

1. Format some minified source file
2. Add a breakpoint
3. Reload the page being debugged

ER:

The breakpoint should be persisted and be possible to hit on reload.

AR:

The formatted source is lost and the breakpoint goes away.

[2017-01-11 21:11] amitzur commented on #1610
Yes, thanks for bringing me back in. Can we discuss in tomorrow's office
hours? I didn't update in a while and suddenly got changes like the
packages folder disappearing and such. I cleaned everything up and got it
to work now

On Jan 9, 2017 5:13 PM, "Jason Laster" <notifications@github.com> wrote:

[2017-01-11 22:05] #1671 closed

[2017-01-11 22:06] #1633 closed

[2017-01-11 22:29] jbhoosreddy commented on #1642
okay. some initial questions on how to proceed. @jasonLaster @clarkbw

1. my local installation has the latest version of codemirror@5.22.0 but it is missing the code to support typescript. [javascript/typescript](https://github.com/codemirror/CodeMirror/blob/master/mode/javascript/typescript.html)
Any suggestions on dealing with it in a nice way?
2. I am looking at a small set of languages which

[2017-01-11 22:39] jasonLaster commented on #1686
@jryans mind giving a URL where we see this?

I mention that because [this](http://recordit.co/RAKyZIXvhI) works with [todomvc](https://devtools-html.github.io/debugger-examples/examples/todomvc/)

[2017-01-11 22:42] jasonLaster commented on #1672
Hmm, I still see it. But I think i've got a good lead, it misses every other one so there's probably two increments in there. like it does matches (0, 2, 4)

[2017-01-11 22:46] jasonLaster commented on #1642
Nice. Elm.

Best thing to do is to add examples to the debugger examples project as
well.

We can bump codemirror if it helps.
On Wed, Jan 11, 2017 at 5:29 PM Jaideep Bhoosreddy <notifications@github.com>
wrote:

[2017-01-11 22:49] jryans commented on #1686
@jasonLaster Well... I can't seem to reproduce now... Maybe I was just choosing a bad line...?

Sorry! Will reopen if there's more to say.

[2017-01-11 23:00] jbhoosreddy commented on #1672
okay. as weird as it sounds, I am not seeing this bug on my end (curious as to why it would be like that). I think I'll drop it and work on something else. It might be a little counter intuitive to spend time to break it in the first place.. 😆. someone else can take over more easily, I think.

[2017-01-11 23:22] Garbee commented on #1665
The wiring is easy and the bulk is done now. The only two things I have left to move is the pause on next execution and adding back the toggle all. Then adding a remove all button. All very easy and non time consuming. At that point I make the UX clearer to start showing off for further discussion. Should be ready in time for tomorrow's community call.

[2017-01-11 23:24] Garbee commented on #1665
Oh, and "Pause on next execution" for the top label if we do have a dialog is a bad label. It in no way reflects the other two options underneath about exceptions, or that the actual toggle is a dialog and not that action. That is a dark UX pattern and should be avoided.

[2017-01-12 00:13] jasonLaster commented on #1672
Cool. I'll look tomorrow
On Wed, Jan 11, 2017 at 6:00 PM Jaideep Bhoosreddy <notifications@github.com>
wrote:

[2017-01-12 03:53] arthur801031 commented on #1663
I'll take a stab at this :)

[2017-01-12 06:33] clarkbw commented on #1506
I don't think anyone is currently working on this. Setting back to `up for grabs`

[2017-01-12 07:16] clarkbw commented on #1589
I'm thinking of going forward with the `shared` directory for now.  I think that will reduce things further and we can see if we want to move more of the items after.

I don't have a good feeling for the Panes organization right now so I'd like to punt on that.

So here's what it will look like:

* Components
  * Editor
    * Breakpoint
    * ConditionPanel
    * HitMarker
    * SearchBar
  * shar

[2017-01-12 07:20] krishnagopinath commented on #1611
We could discuss this on the comm call tomorrow (I'm assuming there's one, the link says so), if time permits and is deemed important. @clarkbw @jasonLaster

[2017-01-12 07:38] clarkbw commented on #1589
Not sure about having both the `shared` and `utils` directory.  Might move to all `shared`.

Also not sure what to do about the `reps.css` file, if I can move that to `shared/Reps.css` assuming I update the `App.js` usage.

[2017-01-12 07:52] #1648 closed

[2017-01-12 07:56] jbhoosreddy commented on #1649
I believe #1684 also fixed this. Feel free to re-open if I'm wrong.

[2017-01-12 07:56] #1649 closed

[2017-01-12 08:29] jbhoosreddy commented on #1677
I believe #1684 fixed this too.

[2017-01-12 08:29] #1677 closed

[2017-01-12 08:36] #1356 closed

[2017-01-12 08:39] wldcordeiro opened #1689 "ChromeScopes - handle empty scope better."
Currently we return an empty dom save for the string "hi", let's make this a better message or nothing at all.

https://github.com/devtools-html/debugger.html/blob/master/src/components/ChromeScopes.js#L23

[2017-01-12 08:41] nt1m commented on #1665
@Garbee I'm afraid having radio buttons will take up too much vertical space, especially in the devtools toolbox where the default tool height is (250 - 24)px. While it helps for the discoverability, I'd really want to avoid the sidebar turning into a giant form.

[2017-01-12 12:32] Dalimil commented on #1501
Here to collect brownie points...
https://github.com/devtools-html/devtools-core/pull/79

There is nothing specific about F8, but like any other functional key it has a digit in its mapped string name: `DOM_VK_F8`, and then I saw this azerty keyboard fix: `(shortcut.key.match(/[0-9]/) && event.keyCode == shortcut.key.charCodeAt(0));` and yeah, keycode of letter `d` matches the first letter of `DOM

[2017-01-12 13:36] jasonLaster commented on #1589
Sounds good. Shared is better than utils I think.

[2017-01-12 14:43] #1501 closed

[2017-01-12 14:53] jasonLaster commented on #1501
🍺  Thanks @Dalimil!

[2017-01-12 15:23] jasonLaster commented on #1665
Here are two more designs based on @Garbee's list and @janodvarko's command bar idea.

![design - honza](https://cloud.githubusercontent.com/assets/254562/21895534/1b942496-d8b1-11e6-9d58-904953805fd8.jpg)

![breakpoints - garbee](https://cloud.githubusercontent.com/assets/254562/21895533/1b87b7ba-d8b1-11e6-9798-daaa4f1ed092.jpg)

[2017-01-12 16:24] #1194 closed

[2017-01-12 16:26] jasonLaster commented on #1610
Sounds good!

I did some clean up here already, which I think will help a lot, but it definitely needs a little bit more love

[2017-01-12 16:33] Garbee commented on #1665
Here is a gif of what I have running right now:

![test](https://cloud.githubusercontent.com/assets/868301/21898124/c9ba71b2-d8b9-11e6-9b70-19c0b806d4e4.gif)

1. Exception radios are underneath a collapse pane. The summary of which updates to detail in text what mode it is in.
2. CommandBar only renders when paused at the top of the secondary panel.
3. Pause on next execution is a button to trigge

[2017-01-12 17:22] andreicristianpetcu commented on #1085
I'll work on this

[2017-01-12 18:29] irfanhudda commented on #1506
I would like to work on this

[2017-01-12 18:40] jasonLaster commented on #1506
Thanks @irfanhudda

[2017-01-12 18:41] jasonLaster commented on #1617
@bomsy any updates?

[2017-01-12 18:41] jasonLaster commented on #1560
@bomsy any updates?

[2017-01-12 18:41] #1424 closed

[2017-01-12 18:43] jasonLaster commented on #1339
@clarkbw interested in writing this up

@wldcordeiro lets get some talk links here:
@amitzur mind re-sharing your talk
lets also include my
* you-gotta-love-the-frontend,
* james' react talk
* @viswanathamsantosh do you have a talk link?

[2017-01-12 20:21] Garbee commented on #1665
One thing we just discussed to try is moving the "Why paused" message into the right of the command bar as well. Flex display the bar, move the reason to the end of the flex flow. Then the message can be left-aligned within that and overflow onto other lines just fine while staying legible. That would also save a little bit more screen real estate instead of having the message with so much extra p

[2017-01-12 21:06] jasonLaster opened #1693 "Publish a new version to MC"
Here are the rough steps:

1. publish a new version to NPM. publishing, copies the files to a dist directory for npm.
2. check for changes in m-c
3. bump NPM version in MC and copy files to the correct locations.

Context:
* the *devtools* directory in MC will have a package.json, with the current versions

[2017-01-12 21:10] bomsy commented on #1560
yeah coming! :)

[2017-01-12 21:21] jasonLaster opened #1694 "[Breakpoints] breakpoints should have a blue left border"
We currently show a left border for active and conditional breakpoints. It might be nice to show a left border for regular and disabled breakpoints.

* breakpoints would have a left blue border
* disabled breakpoints would have a light blue border

@Garbee mentioned this in chat

[2017-01-12 21:25] Garbee commented on #1694
Ok, if this is something we want to do then I'll handle it with the breakpoint UX update I'm already working on.

[2017-01-12 23:56] jasonLaster commented on #1085
Grab it. Nah

[2017-01-13 03:05] clarkbw opened #1695 "Break SourceTabs into smaller components"
I'm seeing, what I believe is, a lot of unnecessary paints in the SourceTabs component.  The first, probably easy item is the PanelToggleButton which seems to be re-rendering event when there are no changes to the panel states.

Here's a quick video of stepping through the redux states with paint flashing turned on.

![](http://g.recordit.co/DdUf2mt2UF.gif)

[2017-01-13 06:24] arthur801031 opened #1696 "Problems installing mochitests"
I've encountered two problems while following this [guide]( https://github.com/devtools-html/debugger.html/blob/master/docs/mochitests.md). Please help. Thank you!! :)

1. When I ran `brew install autoconf213 && brew unlink autoconf`, I got this error message:
[code]

2. When I ran `./bin/prepare-mochitests-dev`, I got this error message:
[code]

[2017-01-13 07:22] clarkbw commented on #1696
I think I saw that `autoconf@213` was recently removed from homebrew

[2017-01-13 07:28] clarkbw commented on #1696
Try: `brew install autoconf@2.13`

[2017-01-13 15:35] jasonLaster commented on #1696
updated the docs: https://github.com/devtools-html/debugger.html/blob/master/docs/mochitests.md

[2017-01-13 15:36] bomsy commented on #1617
Hey ... yeah been thinking about what the best way to store the state of a particular path. Coming up with something

[2017-01-13 15:42] jasonLaster commented on #1617
sounds good - definitely an interesting problem!

On Fri, Jan 13, 2017 at 10:36 AM Hubert Boma Manilla <
notifications@github.com> wrote:

[2017-01-13 15:46] jasonLaster commented on #1642
@thomcc making some progress in #1687

[2017-01-13 16:00] jasonLaster opened #1701 "Syntax Highlight all the things"
The debugger already supports transpiled code with source maps, but we don't syntax highlight appropriately, which makes the files appear broken.

We should strive to support the common use cases:

- [x] typescript
- [x] elm
- [x] coffee script
- [x] jsx
- [x] flow
- [ ] ...

##### Flow

* @thejameskyle mentioned that we could probably use typescripts codemirror mode for flow. We could also identi

[2017-01-14 04:01] arthur801031 commented on #1696
Thanks @clarkbw  @jasonLaster `brew install autoconf@2.13` works, but I'm getting this error:
[code]

[2017-01-14 04:34] jasonLaster opened #1704 "UI Polish"
Three small things

- [x] we're missing the bottom border for the command bar. not sure when it went away
- [x] when the sidebars (left and right) are closed you see a horizontal scrollbar
- [x] this might be a bit contentious, but I don't think the "Sources" header buys us anything. It seems a bit like wasted space :)

Command Bar:

![screen shot 2017-01-13 at 11 32 14 pm](https://cloud.githubuse

[2017-01-14 04:39] jasonLaster opened #1705 "[SourceTabs] you don't see previous tabs when navigating back to a URL"
Steps to reproduce:
1. go to cnn.com, select some tabs
2. go to foxnews.com, select some tabs
3. go back to cnn.com

you expect to see your cnn tabs, but you don't see any. This is because we don't show any tabs unless the selected tab is available. We should fix this logic so that it's possible to show the tabs without a selected tab.

[code]

[2017-01-14 04:47] jbhoosreddy commented on #1705
Could I grab this one next @jasonLaster?

[2017-01-14 04:48] jasonLaster commented on #1613
This looks helpful
https://github.com/github/markup/issues/900

[2017-01-14 05:29] arthur801031 commented on #1663
Feel free to claim this. I couldn't get the mochitests setup to work :(

[2017-01-14 05:49] arthur801031 commented on #1704
@jasonLaster  I'll take a stab at this :)

Is `App.js` tab's bottom border the bottom border for the command bar?

[2017-01-14 09:08] clarkbw commented on #1704
I'd argue to keep it.  It maintains a nice, consistent bar across the top.  And allows us to always show the key shortcut for search.  I know it gains us some vertical space but I think I would need to be convinced that we are lacking vertical space in that tree view.

I could be persuaded that we could do something better than just say "Sources" as that seems fairly useless.  I imagined an "ifram

[2017-01-14 09:09] clarkbw commented on #1663
hmm, we need to fix that.  Sorry @arthur801031 I hope you didn't waste too much time. 😠

[2017-01-14 14:01] jasonLaster commented on #1704
Oh yea. I like the Rob bar with the label. I'm just thinking that we don't
need the word sources. The label and context helps.
On Sat, Jan 14, 2017 at 4:08 AM Bryan Clark <notifications@github.com>
wrote:

[2017-01-14 14:01] jasonLaster commented on #1705
Go for it.

[2017-01-14 17:05] jasonLaster commented on #1589
I think this is on the right track.

We probably want one more refactor for secondary panes and then we're good.

[2017-01-14 17:07] #583 closed

[2017-01-14 17:51] bomsy opened #1709 "Load debugger examples on chrome"
When doing `yarn run firefox` it automatically loads the the debugger examples page.
We should do the same for `yarn run chrome`.

This isssue is dependent on
[#86](https://github.com/devtools-html/devtools-core/issues/86) getting fixed in devtools-core.

[2017-01-14 19:24] jasonLaster commented on #1709
how's this different from https://github.com/devtools-html/devtools-core/issues/86 :)

[2017-01-14 19:28] jasonLaster commented on #1613
Hmm, #1706 didn't quite do it.

Here's a way to set up gh pages locally which could help
https://help.github.com/articles/setting-up-your-github-pages-site-locally-with-jekyll/

With this said, I'm okay waiting on this for now as it's a low priority compared to the developer workflow imo

[2017-01-14 19:31] bomsy commented on #1709
We will need to do this in the `package.json` to use the changes from devtools-core

[code]

[2017-01-14 21:31] jasonLaster opened #1710 "[Pause on Exceptions] Does not persist setting"
We recently added "persisting" to the pause on exceptions button, which means that when you set close and re-open the debugger the setting will be in the same state. Unfortunately, we're not actually applying the setting when the debugger is opened so the button is the right color, but it does not work.

[2017-01-14 23:14] Garbee commented on #1665
PR #1712 is open with the actual code to look at. So anyone can pull that down and play around. This certainly needs a lot of discussion since the UX changes are quite major. As a side I also tested with JSX for the components I modified heavily. This is very easy to rollback if we don't want to go down that path though.

[2017-01-14 23:21] jasonLaster commented on #1537
Here's a patch for what i started

https://gist.github.com/jasonLaster/849cac961391452b5bd8ba6fafbf8271

[2017-01-15 01:17] wldcordeiro commented on #1537
I'll grab this. I had done the other work and am familiar with the changes needed. 😄

[2017-01-15 08:55] wldcordeiro opened #1714 "[Performance] Slow to load saved tabs"
I've noticed quite a long load time when you refresh, possible optimizations here.

[2017-01-15 17:07] liorpr commented on #1672
It happens because the traverseResults method is called twice(and registered twice). Once in the Editor component, and once in the SearchBar component. I'm on it!

[2017-01-15 17:47] wldcordeiro commented on #1672
I can incorporate the fixed into my search modifier PR as I had already moved most of the state up into the Editor there.

[2017-01-15 18:31] jasonLaster commented on #1672
Oh nice. Did you find the problem?
On Sun, Jan 15, 2017 at 12:47 PM Wellington Cordeiro <
notifications@github.com> wrote:

[2017-01-15 19:18] wldcordeiro commented on #1672
@jasonLaster not really, but with @liorpr's suggestion having mostly been done in my PR I think it'd just make it easier with merge conflicts to have it incorporated.

[2017-01-15 21:59] #1704 closed

[2017-01-15 22:17] jasonLaster commented on #1704
@clarkbw if you think we should keep the Sources header, I can bring it back

[2017-01-15 22:19] jasonLaster opened #1717 "[Sidebar] there's a scrollbar when collapsed"
when the sidebars (left and right) are closed you see a horizontal scrollbar.

![](http://g.recordit.co/itqNx33T2K.gif)