[2018-09-07 07:21] juliandescottes opened #6947 "[Pretty Print] Pretty print feature suggestions from Bug 1488654"
From https://bugzilla.mozilla.org/show_bug.cgi?id=1488654
Forwarding from bugzilla, feel free to split more.

- [ ] add feature to always pretty print
- [ ] add feature to hide original file if pretty printed version exists

cc @birtles

[2018-09-07 07:50] juliandescottes opened #6948 "UX issues from Bug 1488654"
From https://bugzilla.mozilla.org/show_bug.cgi?id=1488654
Forwarding from bugzilla, feel free to split more.

- [x] show indicator when pretty printing is in progress
  This can take a long time on big files, we could add some user feedback
- [ ] highlight is too subtle
  When we jump to the debugger, the line only flashes for a brief moment
- [x] always reveal in tree
  Synchronize the tree with

[2018-09-07 12:19] yurydelendik opened #6949 "Stepping can take you from original to generated code when next step has no original mapping"
STR:

* Open https://yurydelendik.github.io/old-man-sandbox/fibwjs/fib2.html
* In debugger, all source tabs are closed and breakpoints removed (if not, close/remove and refresh)
* Open "fib2.c" source
* Add breakpoint at line 3
* Refresh the debuggee page
* <ins>Hit step over several times</ins>

Actual result: debugger paused at and showed the generated source ("fib2.js")

Expected result: debugg

[2018-09-07 12:38] jasonLaster commented on #6946
Thanks, I believe this is a duplicate, but i'm not sure where.

CC @digitarald, @darkwing curious what you think we should do

[2018-09-07 13:35] Eccenux opened #6950 "Add a worker list and unregister for PWA (and other workers)"
Adding an easy way to clear workers would help a lot in testing PWA. I know unregisterging is available from the workers pages but it only works when the list is short. Searching throught it and checking which one applies to the page you are developing is time consuming.

So. This is a code that lets you unregister all instances of a Service worker for current site/page.
[code]

The list and optio

[2018-09-07 16:37] digitarald opened #6951 "Webpack path in tabs doesn't make sense"
STR:
- Open Debugger on https://belen-albeza.github.io/webcomponents-examples/wc-vue.html
- Open some XUser files

AR: `…////…` paths in tabs
ER: Something meaningful or nothing as it is in the root.

<img width="270" alt="image" src="https://user-images.githubusercontent.com/8599/45231637-78157e80-b281-11e8-8a85-130e44dc840e.png">

[2018-09-07 16:41] digitarald opened #6952 "Duplicated webpack files for vue"
STR:
- Debugger on https://belen-albeza.github.io/webcomponents-examples/wc-vue.html, open webpack folder

AR:
1. Too many files 😱
2. Only one is _mapped_ (surprising, as they are in _Webpack_ where I expect all files to be mapped)

<img width="161" alt="image" src="https://user-images.githubusercontent.com/8599/45231771-0a1d8700-b282-11e8-90fc-e7ff97781063.png">

Chrome does it better:

![image](

[2018-09-07 16:42] digitarald commented on #6951
@darkwing Jason told me to ping you 👋🏻 as this might be known or intentional

[2018-09-07 16:53] darkwing commented on #6952
Weird that all of their contents are also different.  Here's a more accurate accounting of Chrome:

<img width="303" alt="chromeversionn" src="https://user-images.githubusercontent.com/46655/45232039-b5830780-b293-11e8-9d39-8e496a4989ae.png">

The main problem, I guess, is that we aren't showing the querystring so they all look alike.

[2018-09-07 16:55] darkwing commented on #6951
Closing as duplicate of 6790

[2018-09-07 20:40] WenInCode commented on #6864
I'm going to start looking into this one after work :)
/claim

[2018-09-07 20:40] WenInCode commented on #6864
/claim

[2018-09-07 20:56] Narrator commented on #6733
/claim

[2018-09-08 04:08] #6928 closed

[2018-09-08 17:03] samuelfullerthomas opened #6953 "File expand / collapse broken in ProjectSearch view"
Hey All:

Collapsing and expanding of files seems to be broken in search. I've got a PR to fix it though! Just thought I'd file an issue to follow procedure?

Steps to reproduce:
1. In the `ProjectSearch` view, search for a term that is in at least one file
2. In the results view of `ProjectSearch`, try to expand or collapse a files results

Gif:
![broken-collapsing](https://user-images.githubuser

[2018-09-10 12:40] staabm opened #6956 ""open custom element" into the debugger does not allow code formatting"
when opening a website which includes a custom element, clicking the "custom.." button in the inspector panel opens the corresponding source in the debugger panel.

this source is a javscript file which in production environments is often minified.

ER
the "Eye" button to format the minified source should be available

AR
No button appears

STR
- open https://github.com/ while beeing logged in
- i

[2018-09-11 12:58] janodvarko opened #6958 "[wasm] Breakpoint gutter is broken for .wasm files"
1) Load http://janodvarko.cz/test/wasm/basic1/
2) Press Load Module & Execute Exported Function button
3) Go to the debugger and select test.wasm file
4) Create a breakpoint at e.g. line ` get_local $var0`
5) The gutter line offset gets cropped -> BUG

See the screenshot:
![image](https://user-images.githubusercontent.com/37785/45361667-20557b00-b5d3-11e8-9a4d-b6e6ca99a6b3.png)

[2018-09-11 13:22] janodvarko opened #6959 "[wasm] Callstack frame coming from WASM doesn't use function name"
STR:

1) Load http://janodvarko.cz/test/wasm/basic1/
2) Press `Load Module & Execute Exported Function` button
3) Go to the debugger and select test.wasm file
4) Create a breakpoint at offset 26 (`get_local $var0`)
5) Press `Execute Exported Function` button
6) The breakpoint should hit
7) Check out the Call stack side-panel. I shows `(wasmcall)` instead of `addTwo` (the function name) -> BUG

![i

[2018-09-11 19:28] digitarald commented on #4896
Is this still an issue after #6774? The STR page seems down and I tried reproducing by pausing in other heavy apps.

[2018-09-11 19:35] fvsch commented on #6948
Highlight colors discussion is [devtools-html/ux#14](https://github.com/devtools-html/ux/issues/14)

[2018-09-11 19:49] jasonLaster commented on #4896
I think it is okay now. we've fixed a bunch of the underlying issues

[2018-09-11 19:49] jasonLaster commented on #4896
either way, we can always open a new more specific bug

[2018-09-11 19:49] #4896 closed

[2018-09-11 19:54] violasong commented on #6948
Oh haha, markdown fail. Thanks!

[2018-09-11 21:07] jasonLaster opened #6963 "[shortcuts] pause on f8"
the debugger documents that F8 should trigger "break on next statement", yet the client doesn't actually have that command.

https://github.com/devtools-html/debugger.html/blob/master/src/components/SecondaryPanes/CommandBar.js#L30-L31

https://github.com/devtools-html/debugger.html/blob/master/src/components/SecondaryPanes/CommandBar.js#L34-L51

[2018-09-12 04:53] jbhoosreddy commented on #3673
I should have a PR for the Panel by tomorrow

[2018-09-12 05:33] greenkeeper[bot] opened #6964 "An in-range update of babel7 is breaking the build 🚨"
## Version **7.0.1** of the **babel7** packages was just published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="https://github.com/devtools-html/debugger.html/compare/master...devtools-html:greenkeeper%2Fmonorepo.babel7-7.0.1">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Monorepo release group
    </th>
    <td>
      <a target=_blan

[2018-09-12 06:38] johnfound opened #6965 "Debugger can't set breakpoint."
Firefox 62.0 (64-bit) on Manjaro Linux.

When trying to set breakpoint in the debugger, it appears for a moment in the breakpoints pane and blue marker appears on the line number of the code, then both instantly disappears. This behavior is consistent for all type of JS code - enclosed in <script> tags of loaded from separate .js file.

[2018-09-12 06:44] johnfound opened #6966 "Debugger does not refresh the source code on change."
Firefox 62.0 (64-bit) on Manjaro Linux.

When I change the source code on the server and refresh the browser, the code on the page actually changes, but the code in the debugger is never reloaded. Closing the file in the debugger and selecting it again from the source tree does nothing.

The only workaround is to open the same url in new tab. The source code in the new tab is loaded properly. Once

[2018-09-12 07:07] johnfound commented on #6966
After creating new profile, the debugger works properly. But how to fix the problem in my default profile?

[2018-09-12 14:42] jasonLaster commented on #6966
@johnfound that is disappointing. Could you provide some more context so that we can look into it.

For instance, can you reproduce it by cloning this example -- http://dbg.glitch.me/

[2018-09-12 23:22] greenkeeper opened #6969 "An in-range update of lodash is breaking the build 🚨"
## The dependency [lodash](https://github.com/lodash/lodash) was updated from `4.17.10` to `4.17.11`.

🚨 [View failing branch](https://github.com/devtools-html/debugger.html/compare/master...devtools-html:greenkeeper%2Flodash-4.17.11).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

lodash is a direct dependency of this pr

[2018-09-13 04:07] johnfound commented on #6966
@jasonLaster  I didn't understood from your post what I have to do? What context? What to do on the above web site?

[2018-09-13 05:58] #6932 closed

[2018-09-13 06:59] AnshulMalik commented on #4731
It is still not merged?

[2018-09-13 16:00] jasonLaster commented on #4731
nope, but that is because auto pretty print needs some work :)

[2018-09-13 18:54] kenjiO commented on #6963
/claim

[2018-09-13 19:02] dimitardanailov commented on #6889
@darkwing

Could you help me. I'd like to resolve this issue.
I did a research but I'm "bouncing" few hours how to resolve this problem.

[2018-09-13 20:12] yzen opened #6978 "Update command bar shortcuts icon mask-size for the new Photon style icon in mc."
Mask-size needs to be set to "contain" for the shortcuts icon for the new photon style "help" icon.

[2018-09-13 20:16] jasonLaster commented on #6966
@johnfound -- http://dbg.glitch.me/ is a site we use to make new examples. feel free to make another example that we can use :)

[2018-09-14 00:43] birtles commented on #6948
I was actually thinking of something like Notepad++ where the current line (i.e. line where the cursor is) is highlighted. If you select multiple lines, the line where the selection's "focus" is, is highlighted.

[2018-09-14 06:38] AnshulMalik commented on #6094
Current issue with full search is that we first request a source text from server and then search in it on the client side.
So when there are a lot of files, a lot of time goes in this source text transfer, from server to client and from client to web worker.

Can we move this search operation on server side?
If we do, we will receive few lines per source from server and if user chooses to go to f

[2018-09-14 10:28] marcogallo566 commented on #6893
/claim

[2018-09-14 10:32] marcogallo566 commented on #6440
/unclaim

[2018-09-14 10:46] fvsch commented on #6948
VS Code has something like that too. Depending on the theme it can look like a background color or an outline.

<img width="949" alt="screen shot" src="https://user-images.githubusercontent.com/243601/45545980-2ee2a300-b81c-11e8-99f5-99fd6080c0ac.png">

[2018-09-14 11:47] #6843 closed

[2018-09-14 13:51] bomsy commented on #6569
Closing as this seems to have been fixed, by https://github.com/devtools-html/debugger.html/commit/bf8c5a57b51040ea1822fca920f17f254c410bec

[2018-09-14 13:51] #6569 closed

[2018-09-14 14:26] bomsy commented on #6959
Investigate this a little bit ... looks like might need some server work.

[2018-09-14 14:31] bomsy commented on #6744
sorry just seeing this ping! will take a quick look.

[2018-09-14 14:33] bomsy commented on #6958
This seem to have regressed..

[2018-09-14 18:07] #6978 closed

[2018-09-14 22:08] kenjiO commented on #6963
@jasonLaster  F8 is already bound to the resume command.  Is the desired behavior to also have it bound to the breakOnNext command?  So when you press F8 it executes either resume or breakOnNext based on if it is paused or running at the time?

[2018-09-15 00:27] violasong commented on #6948
I just realized Style Editor also has a highlighted cursor line in a stronger shade than the Inspector hover color - I'd recommend trying these both out to see what feels more correct.

[2018-09-15 06:00] johnfound commented on #6966
On a "broken" FF profile the debugger does not work on every JS code. On a new created FF profile the debugger is working on every JS code. How this can be reproduced by creating example???

[2018-09-16 13:41] jasonLaster commented on #6963
Yes. I think so

On Fri, Sep 14, 2018, 6:08 PM Kenji Okamoto <notifications@github.com>
wrote:

[2018-09-16 23:06] joshuaaguilar20 commented on #4234
Also wondering?

[2018-09-17 12:29] fvsch opened #6986 "Missing license header in assets/images/disable-pausing.svg"
For consistency's sake and as a follow-up to https://github.com/devtools-html/debugger.html/issues/4869 each SVG image should have a MPL license header.

Header format:
https://www.mozilla.org/en-US/MPL/headers/

Missing one in:
`assets/images/disable-pausing.svg`

[2018-09-17 13:05] jasonLaster commented on #4234
@AnshulMalik can you check?

The test is to

1. pause
2. pretty print a file

 see the call stack change...

[2018-09-17 14:11] AnshulMalik commented on #4234
It works for me :)

[2018-09-17 14:36] #4234 closed

[2018-09-17 14:56] bomsy commented on #6959
/claim

[2018-09-17 14:57] jasonLaster commented on #6094
@AnshulMalik server-side approach would be great.

We should also limit the number of results shown. so pagination with scolling would be cool. Like show 100 results, then when you scroll down show a link for more or automatically render more...

[2018-09-17 15:46] #3673 closed

[2018-09-17 15:59] brunoscopelliti commented on #6833
/claim

A top 3 silly bug? What a great opportunity! :P

[2018-09-17 17:48] jasonLaster commented on #6685
It looks like we:

1. pause in the generated location 19 (we should pause at line 9 in the original file)
2. the breakpoint shifted down to line 17... not sure why

<img width="750" alt="screen shot 2018-09-17 at 1 47 09 pm" src="https://user-images.githubusercontent.com/254562/45640294-3dc98f80-ba80-11e8-8e39-6b59d29972c6.png">

<img width="750" alt="screen shot 2018-09-17 at 1 47 16 pm" src="htt

[2018-09-17 21:01] jasonLaster commented on #6694
Here is a good example:

https://codesandbox.io/s/k92mv0jxqv

[2018-09-18 12:36] jasonLaster opened #6989 "[Scopes] support disabling original languages"
I think it would be helpful to be able to enable/disable original languages in the devtools settings pane. This is similar to being able to toggle source map support.

1. some people might not like it
2. the feature might not work for a build tool

[2018-09-18 13:29] janodvarko commented on #6949
Thanks for the report Yury! I can reproduce the problem using provided STR.

I am also seeing other issues reproducible with this test case:

1) When the generated source is displayed (fib2.js) after stepping - open the context menu on the current line and pick "jump to original location".  Nothing happens. The generated source is still displayed.

2) When creating a breakpoint on line 3 in (fib2.

[2018-09-18 13:36] janodvarko commented on #6965
@johnfound: I can't reproduce this issue. It seems to be working for me just fine.

My STR:
1) Load http://janodvarko.cz/firebug/tests/601/Issue601.htm
2) Open Issue601.htm in the Debugger
3) Create a breakpoint on line 35 - the breakpoint is there (in the gutter as well as the right panel)

Does this work for you?
Can you provide a test case that shows the problem?

Honza

[2018-09-18 13:42] janodvarko commented on #6953
I can confirm that this has been fixed.
Thanks for the patch!
Honza

[2018-09-18 13:42] #6953 closed

[2018-09-18 14:02] unsign3d commented on #6141
/claim

[2018-09-18 20:20] kenjiO opened #6993 "Confusing tooltips on step buttons"
It's hard for me to understand the tooltips showing the keyboard shortcuts for the step buttons.  I think it would be better to use parenthesses and add an 'or' between the two shortcuts. ie: `(⌘\ or F8)`

The tooltips for the toolbox panels use `cmd` instead of `⌘` and also use '+' for multikey shortcuts.  Do you want to do this here as well?

![](http://g.recordit.co/R7OyZBMhzw.gif)

[2018-09-18 21:32] darkwing commented on #6734
I found steps to repeat:

1.  Go to https://davidwalsh.name
2.  Pretty-print `main.js`
3.  Add breakpoints to lines 2, 7, 9
4.  Refresh
5.  Notice:  main.js' pretty-printed page  tab pauses at line 45.  Weird.  Also, no sources highlighted with green in the right breakpoints pane
6.  Click on "main.js", the generated file
7.  All breakpoints in the right pane are highlighted

[2018-09-18 21:36] #6694 closed

[2018-09-18 23:03] kenjiO commented on #6896
/claim

[2018-09-19 07:23] greenkeeper[bot] opened #6994 "An in-range update of eslint-plugin-flowtype is breaking the build 🚨"
## The devDependency [eslint-plugin-flowtype](https://github.com/gajus/eslint-plugin-flowtype) was updated from `2.50.0` to `2.50.1`.

🚨 [View failing branch](https://github.com/devtools-html/debugger.html/compare/master...devtools-html:greenkeeper%2Feslint-plugin-flowtype-2.50.1).

This version is **covered** by your **current version range** and after updating it in your project **the build fail

[2018-09-19 11:43] janodvarko commented on #6569
Thanks for the update, works for me now.
Honza

[2018-09-19 12:49] greenkeeper[bot] opened #6995 "An in-range update of pretty-quick is breaking the build 🚨"
## The devDependency [pretty-quick](https://github.com/azz/pretty-quick) was updated from `1.6.0` to `1.7.0`.

🚨 [View failing branch](https://github.com/devtools-html/debugger.html/compare/master...devtools-html:greenkeeper%2Fpretty-quick-1.7.0).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

pretty-quick is a devDepende

[2018-09-19 12:51] jasonLaster commented on #6569
Thats great @bomsy. The flow work was one of the best things we've done

[2018-09-19 15:26] WenInCode commented on #6864
I just wanted to give an update on where I am at with this. I didn't get a chance to do much work on it last week, but I've been a bit more active this week.

As @jasonLaster pointed out the issue is that when the tree is updated we return the state with `focusedItem` set to `null`. However, if we were to remove that setting altogether, and leave `focusedItem` as it were before updating the tree i

[2018-09-19 20:21] digitarald commented on #6921
Same happened again trying to break in icloud's notes app:

STR:
- Breakpoint on `Log` line in `Database.js` (use file search), line 106, function `performQuery`.
  <img width="684" alt="image" src="https://user-images.githubusercontent.com/8599/45778924-ab0b2b00-bc0e-11e8-9088-47ce1224a7aa.png">
- Refresh

ER: Pause in `Database.js`
AR: Pauses in `Log.js`'s `setDelegate` method

<img width="1291"

[2018-09-19 20:42] digitarald commented on #4373
@jasonLaster @loganfsmyth just confirming if this codepen hits the same issue:

Viewed inline with codepen: https://codepen.io/digitarald/pen/QVzJRW
<img width="765" alt="image" src="https://user-images.githubusercontent.com/8599/45779881-1fdf6480-bc11-11e8-8ce5-422cf811f548.png">

In Firefox clicking `pen.js` sources in Console error leads to a view source tab `view-source:http://pen.js/`, 404-in

[2018-09-19 23:02] jasonLaster commented on #6864
@WenInCode i think you've got a good idea of what's going on.

CC @AnshulMalik curious what you think. Please go deeper than I did and give some suggestions on how you'd approach this :)

[2018-09-19 23:14] bomsy commented on #6958
/claim

[2018-09-20 02:33] WenInCode commented on #6864
I was incorrect about this wrt new pages. If the new `debuggeeUrl`is not the same as the current one, we create a new tree altogether, which returns the `focusedItem` as `null`. I'm curious if we can get away with changing the equality check and skipping searching through the tree altogether. Going to play around with it.

[2018-09-20 02:45] AnshulMalik commented on #6864
Hey @WenInCode you are knocking at the right door. :)

The issue is I think in https://github.com/devtools-html/debugger.html/blob/master/src/utils/sources-tree/collapseTree.js#L14. So when new sources arrive, we take the previous `uncollapsed` tree and create a new `collapsed` one. In the process we are not using the existing nodes, rather we create new ones. That's why the `===` check on focused

[2018-09-20 13:13] greenkeeper[bot] opened #6999 "An in-range update of lint-staged is breaking the build 🚨"
## The devDependency [lint-staged](https://github.com/okonet/lint-staged) was updated from `7.2.2` to `7.3.0`.

🚨 [View failing branch](https://github.com/devtools-html/debugger.html/compare/master...devtools-html:greenkeeper%2Flint-staged-7.3.0).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

lint-staged is a devDependen

[2018-09-20 18:12] WenInCode commented on #6864
@AnshulMalik Thanks for the information 😄. I have some good progress on the 2nd option. I'm hoping to have a PR up soon.

[2018-09-21 07:37] marcogallo566 commented on #6893
@nchevobbe This is a little preview (it works only with grips, I'll finish my work soon):
![dpwqvbhfo2](https://user-images.githubusercontent.com/36955296/45866239-67383300-bd80-11e8-8833-0bb6d441f7fe.gif)

Is it how you thought it?
I prefer without the brackets, it's more clean.

[2018-09-21 08:02] nchevobbe commented on #6893
looks good to me :)
We then need to make sure to not lose the type of the expanded node. For a simple object, that's fine.
But for arrays, windows, nodes, … we still need to display something IMO.

[2018-09-21 08:10] greenkeeper[bot] opened #7000 "An in-range update of eslint-plugin-jest is breaking the build 🚨"
## The devDependency [eslint-plugin-jest](https://github.com/jest-community/eslint-plugin-jest) was updated from `21.22.0` to `21.22.1`.

🚨 [View failing branch](https://github.com/devtools-html/debugger.html/compare/master...devtools-html:greenkeeper%2Feslint-plugin-jest-21.22.1).

This version is **covered** by your **current version range** and after updating it in your project **the build fail

[2018-09-21 11:35] samuelfullerthomas commented on #6913
@darkwing this issue has been resolved

[2018-09-21 12:31] #6951 closed

[2018-09-21 12:33] #6940 closed

[2018-09-21 12:35] darkwing commented on #6930
That's possible; another possibility is that when we merge a PR from greenkeeper to update a dependency, it does *not* update `yarn.lock` as well, and so a subsequent `yarn install` could change the local `yarn.lock` file.

[2018-09-21 12:39] #6926 closed

[2018-09-21 12:46] darkwing commented on #6958
This has always been a bit off, unfortunately.  Hopefully not too difficult to fix though!

[2018-09-21 12:48] darkwing commented on #6952
One idea could be to only show the query string if there's another source with the same URL (minus the query string).  Maybe even on the same level?

[2018-09-21 13:11] #6994 closed

[2018-09-21 13:11] #6995 closed

[2018-09-21 13:11] #6999 closed

[2018-09-21 13:11] #7000 closed

[2018-09-21 16:30] #6986 closed

[2018-09-21 16:44] darkwing commented on #6790
I think with this we should either remove the leading slashes *or* put the "/../" back.  We might need to feel this one out first.

[2018-09-21 17:33] audreyfang commented on #6651
/claim

[2018-09-21 18:16] #6963 closed

[2018-09-21 19:03] darkwing commented on #6803
@fvsch Can I ask which app or method you used to get these heights?  Photoshop with line tool?

[2018-09-21 19:07] jasonLaster commented on #6952
That makes sense.

[2018-09-21 19:40] theubermanishere commented on #6803
/claim

[2018-09-21 22:32] digitarald opened #7007 "Logged errors are not source mapped"
Reporting for the Spoke team

STR

1. $ curl -L -o spoke.zip https://github.com/MozillaReality/Spoke/archive/e24728d97506f335788fcdd90f19cbf3ce9d8864.zip
2. $ unzip -d spoke spoke.zip
3. $ cd spoke/Spoke-e24728d97506f335788fcdd90f19cbf3ce9d8864/
4. $ npm ci
5. $ npm run dev:http
6. Wait for "Compiled successfully"
7. Open http://localhost:9090/ in Nightly
8. Copy this url: https://poly.google.com/

[2018-09-21 22:33] digitarald commented on #7007
@nchevobbe is the first issue already part of the callstack work and captured in existing bugs?

@loganfsmyth is there something in Spoke that makes Firefox not use the source maps as expected?

[2018-09-21 23:42] loganfsmyth commented on #7007
The issue with `step` there is that it is a utility function and doesn't really have a useful location in `Editor.js`, so it's not obvious what should show up. If you click `step` in Chrome, it takes you to an nonsensical location:
<img width="984" alt="screen shot 2018-09-21 at 4 41 34 pm" src="https://user-images.githubusercontent.com/132260/45910355-3de9c800-bdbd-11e8-9d91-4496c4eb04bc.png">

C

[2018-09-22 09:54] fvsch commented on #6803
@darkwing It’s a screenshot in macOS at 2x resolution. The pink line and squares are drawn with Sketch.

[2018-09-22 14:27] Doomwyte opened #7009 "Running yarn copy fails due to missing files"
Running `yarn copy && ./firefox/mach build && yarn mochid` for the first time on my machine (macOS) and I get this error:

[code]

[2018-09-22 14:49] Doomwyte commented on #6733
/claim

[2018-09-22 16:30] Doomwyte commented on #5102
/claim

[2018-09-22 16:31] Doomwyte commented on #6722
/claim

[2018-09-22 17:37] #6330 closed

[2018-09-22 19:58] audreyfang opened #7013 "[SearchBar] Modifers need two clicks to activate when input bar is highlighted"
**Steps to Reproduce**

* Ctrl-F to open Find in File search.
* Click on a modifier. Input goes out of focus, but modifier does not highlight.
* Click on modifier again. Modifier highlights.

![search-click](https://user-images.githubusercontent.com/14957948/45921255-21fb2a80-be80-11e8-9d25-19b606dffaff.gif)

[2018-09-22 21:41] #6900 closed

[2018-09-23 07:33] danny6514 commented on #6889
/claim

[2018-09-23 08:34] danny6514 commented on #6792
The grouping infact needs to be improved, currently it is doing a pretty basic `/react/i` match. I was thinking what we could change this to...can we always assume the files will be under node_modules? (Libraries such as Express and Pug do) Or should be match based on filename? Like `/react[^\/]*\.js/i`?

[2018-09-23 08:34] danny6514 commented on #6792
/claim

[2018-09-23 08:37] danny6514 commented on #6889
/claim

[2018-09-23 12:36] unsign3d commented on #6141
/unclaim
sorry guys :/

[2018-09-23 14:33] audreyfang commented on #7013
/claim

[2018-09-23 15:02] Doomwyte opened #7016 "File tabs disappear when readjusting window size"
Repro steps:
1. Have multiple files open (I have 5 files open originally)
2. Adjust the window size of the center panel
Observe that `apstag.js` and `showad.js` disappear from view when the window is too small. They are not present in the drop-down either.

![sep-23-2018 10-57-57](https://user-images.githubusercontent.com/16697942/45929460-224b0280-bf20-11e8-871d-cfd5de19b9c0.gif)

[2018-09-23 15:14] Doomwyte commented on #7016
/claim

[2018-09-23 15:34] darkwing opened #7017 "Find in Files Border/Spacing"
The "find in files" input has an extra 1px of spacing to the right and I think the transparent border when not selected is making the search box look a bit "detached".

<img width="603" alt="findinfiles-space" src="https://user-images.githubusercontent.com/46655/45929796-3260e300-bf1c-11e8-978c-5c5601730328.png">

[2018-09-23 15:35] darkwing commented on #7017
@audreyfang You might like this one.

[2018-09-23 15:35] audreyfang commented on #7017
/claim

[2018-09-23 15:56] audreyfang commented on #6651
/claim

[2018-09-23 16:30] #6803 closed

[2018-09-23 18:47] ZhangYue-vhyt commented on #5515
/claim

[2018-09-23 20:56] twhite96 commented on #5120
/claim
I'll get to work on this tonight. I am an Outreachy candidate. This seems like a good first issue.

[2018-09-24 02:49] twhite96 opened #7020 "[Yarn/Debugger localhost:7999 ECONNREFUSED]"
When I tried to run the debugger the first time, the web socket kept disconnecting as referenced in #1069. I fixed in the `development.json` file by adding setting websockets to `true`.  However the examples on port 7999 have a:

[code]

I have quit all Chrome and FIrefox instances. Trying to use DevTools CLI to listen on port 6080 will not work as the combination of `shift+f2` won't work: I'm on

[2018-09-24 03:07] twhite96 commented on #6993
I got this one. /claim

[2018-09-24 03:11] twhite96 commented on #6993
I think putting parens around multi-key options is a great idea. It is always a bit confusing when an app or some part of a UI doesn't distinguish how to accomplish keyboard shortcuts. This improves usability. Going to work on this tomorrow.

[2018-09-24 03:35] twhite96 commented on #6993
Looks like this is fixed. Seems the desired behavior is working in Firefox Developer Build.

![](https://cl.ly/a0ca2732c00f/Screen%252520Recording%2525202018-09-23%252520at%25252011.33%252520PM.gif)

@jasonLaster maybe this is fixed? I don't want to unclaim this if there is something I can do.

[2018-09-24 05:15] nchevobbe commented on #6993
Hello @twhite96 , so here the issue is on the stepping / pausing buttons:

<img width="159" alt="image" src="https://user-images.githubusercontent.com/578107/45938270-b96b9500-bfc8-11e8-9041-5d163d3f526d.png">

There are 3 things that differs from tooltip in other places (like on the panel tabs) :

<img width="383" alt="image" src="https://user-images.githubusercontent.com/578107/45938249-64c81a00

[2018-09-24 05:19] twhite96 commented on #6993
Okay. Misunderstood the issue. I was trying to find the component/css file where the tooltips are but couldn't. I'll have to read through the codebase a couple times to see where things are.

[2018-09-24 06:07] nchevobbe commented on #6993
So the stepping buttons are created here https://github.com/devtools-html/debugger.html/blob/ffaf7049156cb17b3dfccfdbf02835661515619c/src/components/SecondaryPanes/CommandBar.js#L140-L162

and the Pause one https://github.com/devtools-html/debugger.html/blob/ffaf7049156cb17b3dfccfdbf02835661515619c/src/components/SecondaryPanes/CommandBar.js#L169-L203

You can see that they all use the `debugButto

[2018-09-24 13:49] jasonLaster commented on #7020
CC @darkwing

[2018-09-24 13:49] jasonLaster commented on #5120
Oh great @twhite96. Welcome!

[2018-09-24 18:18] darkwing commented on #5102
Hello @Doomwyte!  At present we store tabs in both the redux store and prefs (localStorage).  @jasonLaster had the awesome idea to store the two a bit differently so that tabs without URLs can still be stored in redux but *not* in localStorage.  Check out this diff:

https://gist.github.com/jasonLaster/e64acadbb15d11dd1901179aba85af80

The advantage to making this change is that (1) we don't want

[2018-09-24 21:43] kenjiO commented on #7009
It looks like it can't find the file './firefox/devtools/client/jar.mn'.  Did you run `./bin/prepare-mochitests-dev` or `./bin/download-firefox-artifact` or use some other method to clone the https://hg.mozilla.org/mozilla-central/ repo into the `./firefox` directory yet?

[2018-09-25 04:30] twhite96 commented on #6993
Yep! Thanks @nchevobbe.

[2018-09-25 12:53] AnshulMalik commented on #6938
So, it's the [memorize](https://github.com/devtools-html/debugger.html/blob/master/src/selectors/visibleBreakpoints.js#L21-L47) function which is causing this behavior, it memorizes the location and doesn't update it when the source changes.

[2018-09-25 13:15] jasonLaster commented on #6938
yes! want to pair on this?

[2018-09-25 13:36] jasonLaster commented on #7009
We should add this check to ./bin/copy so there is a warning

[2018-09-25 13:40] jasonLaster opened #7026 "[sources] only show mapped when there is a conflict"
STR:

1. go to https://firefox-dev.tools/debugger-examples/examples/increment/
2. view sources tree

We should only show mapped if there is both an original and generated source with the same name for example: https://w6q8w3lz47.codesandbox.io/

<img width="631" alt="image" src="https://user-images.githubusercontent.com/254562/46017990-ad95d680-c08d-11e8-9690-d1851bd9cd8f.png">

[2018-09-25 13:49] darkwing commented on #7026
@ZhangYue-vhyt This would be perfect for you!

[2018-09-25 14:49] jasonLaster opened #7028 "[Breakpoints] Column Breakpoints"
### Feature

Column breakpoints lets users set breakpoints inside of a line. We added this feature behind a flag, which can be flipped in the launchpad with `dbg.features.columnBreakpoints` or in firefox at about:config `devtools.debugger.features.column-breakpoints`

### Tasks
- [ ] holding down option should only show possible bps for the function you're hovering over
- [x] member expressions sh

[2018-09-25 14:54] darkwing commented on #7026
I love this idea.  I think we should implement a similar functionality for when there are two sources for the exact same file but separated by query string:

[code]

[2018-09-25 16:15] jaredkerim opened #7029 "Resizeable column widths in the network tab"
Firefox version: 63.0b8 (64-bit)
OS: OSX High Sierra 10.13.5 (17F77)

I can't click and drag to resize the columns in the network tab, which is annoying because I can't see the truncated content in each tab, like full paths.

![screenshot 2018-09-25 12 12 13](https://user-images.githubusercontent.com/119884/46027611-46dbe180-c0bc-11e8-893e-28c126e0032c.png)

[2018-09-25 16:33] jasonLaster commented on #7029
Thanks for the feedback. this issue tracker is just for the debugger

please file the bug here http://bugzilla.mozilla.org/

CC @janodvarko

[2018-09-25 18:45] #5947 closed

[2018-09-25 20:40] yogmel commented on #4649
/claim
Hi! Can I try to work on this issue?
Thanks!

[2018-09-25 22:35] jasonLaster commented on #4649
Sure!

On Tue, Sep 25, 2018, 4:40 PM claim[bot] <notifications@github.com> wrote:

[2018-09-25 22:35] Doomwyte opened #7034 "Change tab interface to have blue borders"
The tab styling between the Debugger tool and the Inspector and Network tools are different. Perhaps change the tab interface for the Debugger tool to be consistent with the blue border style that the  Inspector and Network tools have?

This is suggested from a discussion from #7006

--------------------------------------------------------------------------------------------------------
Debugger:

[2018-09-25 22:37] Doomwyte commented on #7034
/claim

[2018-09-26 00:06] violasong opened #7035 "[Search] Bit of polish for new Find in File UI"
To follow up on the great work by @audreyfang in #7010:

This part which I hadn't considered in my mockup looks a bit busy.
<img width="174" alt="image" src="https://user-images.githubusercontent.com/55994/46049644-58d17a80-c0e4-11e8-87a0-62aa72f9ed86.png">

I assume we do want to show both the navigational buttons and the modifiers at the same time when in this state, in case the user wants to ch

[2018-09-26 03:16] twhite96 opened #7036 "Pulled latest changes, Webpack is failing to compile."
Thanks for filing an issue!

I fixed a JSX Closing tag issue and now there are a whole host of other webpack errors, so much so that I can't start the debugger. Anyone else seeing this? I am going to create a branch and show you my changes. I am also going to paste these errors here.

Error 1: Which is fixed:

[code]

The rest:

[code]

I am not sure if there is something wonky locally, but I just

[2018-09-26 03:29] twhite96 commented on #7020
Any progress on this? I can't really run anything to help with this because I can't load the examples. It takes me to the DevTools url and when I check that tab in the debugger, there are no files available. When I put in the example port, the connection is refused.

[2018-09-26 03:32] twhite96 commented on #7020
I am going to change the example port to see if that helps.

[2018-09-26 04:16] yogmel commented on #4649
Awesome!
I'll wait until Friday for an answer from Victoria to start working on this issue. After that I'll bring up some ideas we can all comment on :)

[2018-09-26 04:18] yogmel commented on #6554
Hi people!
Can I work on this issue? I'll read through the documents, but if you have any good starting point (.js file to look at or tip) that would be great!
Thanks!

[2018-09-26 11:56] janodvarko commented on #7029
@jaredkerim Hi, bug for resizeable columns in the Network panel is reported here:
https://bugzilla.mozilla.org/show_bug.cgi?id=1463423

Honza

[2018-09-26 11:56] #7029 closed

[2018-09-26 13:20] jasonLaster commented on #7034
copying @violasong's comment

Thanks all for looking at this - I love the idea of changing both the file tabs and the sources/outline tabs to the Inspector-style simpler blue border tabs.

Debugger's file tabs are more similar to the Firefox main tabs in having highly variable, often truncated lengthy text, so it is possible we'll need to do a slight modification on these to give it enough separat

[2018-09-26 13:31] #6546 closed

[2018-09-26 18:50] greenkeeper[bot] opened #7041 "An in-range update of react-transition-group is breaking the build 🚨"
## The dependency [react-transition-group](https://github.com/reactjs/react-transition-group) was updated from `2.4.0` to `2.5.0`.

🚨 [View failing branch](https://github.com/devtools-html/debugger.html/compare/master...devtools-html:greenkeeper%2Freact-transition-group-2.5.0).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**

[2018-09-26 19:09] yogmel commented on #6554
Hi @jasonLaster , thanks for the advice!
I have been working on it today and the bug probably lives in the Breakpoint.js file.

I've compared both the web app and the build codes and this line is different from each other:
- Firefox build:68
[code]

- Launchpad:54
[code]

I'll keep on investigating and if I find something I'll let you know!

[2018-09-26 19:12] jasonLaster commented on #6554
@yogmel that difference is due to the fact that we compile it with babel before it lands. it shouldnt make a big difference.

[2018-09-26 21:07] violasong commented on #4649
Hi @yogmel! Would be great to have you work on this, and no worries at all about tagging me :)

The 'Learn more' part can just be a blue link. (The 'open in new' icon is only necessary for linking to non-Mozilla sites.) You can pattern this off of the a11y panel's learn more link.

One thing to keep in mind is I think we added a third shortcut for "see all shortcuts."

Would be nice to see how it

[2018-09-26 21:30] #6938 closed

[2018-09-26 22:44] greenkeeper[bot] opened #7045 "An in-range update of eslint-plugin-prettier is breaking the build 🚨"
## The devDependency [eslint-plugin-prettier](https://github.com/prettier/eslint-plugin-prettier) was updated from `2.6.2` to `2.7.0`.

🚨 [View failing branch](https://github.com/devtools-html/debugger.html/compare/master...devtools-html:greenkeeper%2Feslint-plugin-prettier-2.7.0).

This version is **covered** by your **current version range** and after updating it in your project **the build fail

[2018-09-27 00:56] bomsy commented on #6958
Fixed! via https://github.com/devtools-html/debugger.html/commit/6b651a1305768314ebed70ba2785ac17f3da02ee

[2018-09-27 00:56] #6958 closed

[2018-09-27 02:47] AnshulMalik opened #7046 "Change the time of community meeting in readme"
The meeting time is now moved to one hour earlier, we should update the readme,

`3pm` -> `2pm`

[2018-09-27 05:16] karlcow opened #7048 "[feature] Being able to step out of a loop when there are breakpoints."
Let's see a pseudo code example but this is happening to me often when diagnosing :)

[code]

There are **two** breakpoints in this code. One before `foo.each()` and one in a function nested in the loop. The code stops at the first breakpoint I continue the step by step and I enter the `each` loop.
After a couple of next step, I realize that the `foo` array is like a giant list. So I want to "step

[2018-09-27 06:43] nchevobbe commented on #7048
Made a glitch for the example: https://leaf-flare.glitch.me/

[code]

I was thinking "continue to here" on the `DONE` console.log would work, but no, it stills pauses at the breakpoint in `mult`.

[2018-09-27 07:04] th7nder commented on #7046
/claim

[2018-09-27 08:44] #7046 closed

[2018-09-27 10:06] greenkeeper[bot] opened #7051 "An in-range update of eslint-plugin-flowtype is breaking the build 🚨"
## The devDependency [eslint-plugin-flowtype](https://github.com/gajus/eslint-plugin-flowtype) was updated from `2.50.1` to `2.50.2`.

🚨 [View failing branch](https://github.com/devtools-html/debugger.html/compare/master...devtools-html:greenkeeper%2Feslint-plugin-flowtype-2.50.2).

This version is **covered** by your **current version range** and after updating it in your project **the build fail

[2018-09-27 12:29] greenkeeper[bot] opened #7052 "An in-range update of stylelint is breaking the build 🚨"
## The devDependency [stylelint](https://github.com/stylelint/stylelint) was updated from `9.5.0` to `9.6.0`.

🚨 [View failing branch](https://github.com/devtools-html/debugger.html/compare/master...devtools-html:greenkeeper%2Fstylelint-9.6.0).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

stylelint is a devDependency of

[2018-09-27 13:10] jasonLaster commented on #7048
I think giving "continue to here" special powers would be neat. It would be possible to disable all but one breakpoint on the server-side.

I like the idea of a new-type of step out that is a guaranteed exit, but i'm not sure how to tell that story in the UI.

Actually one way to do it, which might be interesting is with jump locations. Typically, jump locations are nearby function calls that you

[2018-09-27 13:11] #7052 closed

[2018-09-27 13:11] #7051 closed

[2018-09-27 13:40] #7026 closed

[2018-09-27 14:02] erickstm87 commented on #6802
Hmm ok so I tried that and even tried to clean the yarn cache but I'm still running into this error.

[2018-09-27 14:05] erickstm87 commented on #6802
![image](https://user-images.githubusercontent.com/7424828/46151416-f84d5500-c22b-11e8-82df-ad2d5e9075bf.png)

Also I'm on High Sierra 10.13.6

[2018-09-27 14:12] bomsy commented on #6580
@janodvarko sorry just seeing this, will clean up and PR today or tommorw

[2018-09-27 14:17] jasonLaster opened #7054 "[Outline] should have a search box"
It would be really nice if our outline pane let you filter the results.

- this would be similar in practice to Quick Open and likely use the same fuzz-aldrin filter
- this is similar to how atom has an outline view with a filter input

<img width="1161" alt="screen shot 2018-09-27 at 10 15 51 am" src="https://user-images.githubusercontent.com/254562/46152161-6dc22100-c23e-11e8-8377-d5a5906aa7e1.p

[2018-09-27 14:20] jasonLaster commented on #6802
what version of selenium webdriver do you have?

[2018-09-27 14:35] erickstm87 commented on #6802
Stupid question. I can't find out a quick way to check on OSX cli. Do you have any good reference I could use to check that?

[2018-09-27 15:35] greenkeeper[bot] opened #7056 "An in-range update of eslint-plugin-babel is breaking the build 🚨"
## The devDependency [eslint-plugin-babel](https://github.com/babel/eslint-plugin-babel) was updated from `5.2.0` to `5.2.1`.

🚨 [View failing branch](https://github.com/devtools-html/debugger.html/compare/master...devtools-html:greenkeeper%2Feslint-plugin-babel-5.2.1).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

eslin

[2018-09-27 15:44] erickstm87 commented on #6802
![image](https://user-images.githubusercontent.com/7424828/46157860-e2df2780-c239-11e8-9641-cf6ea7109cce.png)

[2018-09-27 15:50] darkwing commented on #7028
How Chrome does it:

<img width="825" alt="columnbps" src="https://user-images.githubusercontent.com/46655/46158287-2a1de600-c243-11e8-96ec-e7e4b251e26c.png">

How it works now:

![columnbp](https://user-images.githubusercontent.com/46655/46158301-3013c700-c243-11e8-9a28-cf5f1041a77d.gif)

[2018-09-27 16:57] kenjiO commented on #7054
/claim

[2018-09-27 20:15] #7056 closed

[2018-09-27 21:58] adancarrasco commented on #7035
/claim

[2018-09-28 00:37] twhite96 commented on #7020
Changing the port doesn't work. Followed the debugger directions on the DevTools website. Still having an issue.

[2018-09-28 00:52] twhite96 commented on #7020
Looks like there is an issue with selenium web driver:

[code]

I can't seem to run Firefox with `yarn run firefox` and the connection refused error still exists. I'll continue to investigate.

[2018-09-28 01:04] audreyfang commented on #6651
For the Find in Project mock ups, there's a "Match directory/file pattern" bar. Is that currently a feature of the debugger? If yes, how do I bring that option up? I don't see it when I do a Ctrl-Shift-F.

@violasong To confirm a few things about the new Find in Project bar:
- If a user has Find in File open, and then tries to open Find in Project, should the Find in File bar close or stay on scre

[2018-09-28 13:40] jasonLaster commented on #6651
@audreyfang it isn't! It would be great to have though

[2018-09-28 13:43] jasonLaster commented on #7035
Welcome back @adancarrasco

[2018-09-28 14:09] janodvarko opened #7067 "Highlight and inspect DOM nodes"
One of the features in the old debugger UI was highlighting and inspecting DOM nodes.

See this MDN page:
https://developer.mozilla.org/en-US/docs/Tools/Debugger_(Before_Firefox_52)/How_to/Highlight_and_inspect_DOM_nodes

If you hover over a DOM node in the Variables pane, it will be highlighted in the page. Also, a target icon will appear next to the variable. If you click on this target, the Ins

[2018-09-28 23:31] #6896 closed

[2018-09-29 18:53] greenkeeper[bot] opened #7073 "An in-range update of eslint-plugin-jest is breaking the build 🚨"
## The devDependency [eslint-plugin-jest](https://github.com/jest-community/eslint-plugin-jest) was updated from `21.22.1` to `21.23.0`.

🚨 [View failing branch](https://github.com/devtools-html/debugger.html/compare/master...devtools-html:greenkeeper%2Feslint-plugin-jest-21.23.0).

This version is **covered** by your **current version range** and after updating it in your project **the build fail

[2018-09-29 18:59] greenkeeper[bot] opened #7074 "An in-range update of jest-junit is breaking the build 🚨"
## The devDependency [jest-junit](https://github.com/jest-community/jest-junit) was updated from `5.1.0` to `5.2.0`.

🚨 [View failing branch](https://github.com/devtools-html/debugger.html/compare/master...devtools-html:greenkeeper%2Fjest-junit-5.2.0).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

jest-junit is a devDepe

[2018-10-01 17:33] greenkeeper[bot] opened #7077 "An in-range update of husky is breaking the build 🚨"
## The devDependency [husky](https://github.com/typicode/husky) was updated from `1.0.1` to `1.1.0`.

🚨 [View failing branch](https://github.com/devtools-html/debugger.html/compare/master...devtools-html:greenkeeper%2Fhusky-1.1.0).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

husky is a devDependency of this project. It

[2018-10-01 17:53] rohanprasad commented on #4104
/claim

[2018-10-01 19:17] jasonLaster commented on #4104
sure. ping me on slack if you want to jump on a call.

the best thing to do, i think is to find a way to fake it in the paused action and then play with it

[2018-10-02 03:11] nipuna777 commented on #6121
In Chrome, we can scroll and view the entire attribute. In firefox console, that doesn't seem to be possible.

By 'cropped' do you mean that the attribute should be cut off at a set limit? Or should we add elipsis at the end of screen?

Is this a good first issue to be picked up? If so, I'd like to take a crack at it.

[2018-10-02 12:40] jasonLaster opened #7085 "Upgrade greenkeeper"
Greenkeeper's job is to update our dependencies so that we are always prompted when something changes. At the moment, we have a forked version which attempts to make a new commit with the yarn.lock, but it fails at the moment.

We should try to:
a) get back on current [greenkeeper](https://greenkeeper.io/) which is better or
b) switch to [renovate](https://renovatebot.com/)

---
👍  If you'd like t

[2018-10-02 13:46] erickstm87 commented on #6802
![image](https://user-images.githubusercontent.com/7424828/46352508-33c69580-c617-11e8-9b4d-d7975d87d5cb.png)

[2018-10-02 20:46] jasonLaster commented on #6802
yep - i'm seeing some issues too...

[2018-10-02 20:47] jasonLaster commented on #6802
yep - i'm seeing some issues too...

I'm now doing this `/Applications/Firefox\ Nightly.app/Contents/MacOS/firefox --start-debugger-server 6080 -P dev2`

[2018-10-02 21:04] erickstm87 commented on #6802
jasonlaster what's your selenium-webdriver version? I could try another one out too

[2018-10-02 21:11] jasonLaster commented on #6802
`3.3.0`

[2018-10-02 21:12] kenjiO commented on #6802
I tried selenium-webdriver version 3.6 and it didn't crash but I couldn't get the debugger to work.

If you try using the command Jason gave you also need to go to the `about:config`  url and set these.
devtools.chrome.enabled  **true**
devtools.debugger.remote-enabled **true**
devtools.debugger.prompt-connection **false**

[2018-10-02 21:16] #3269 closed

[2018-10-02 21:18] #6588 closed

[2018-10-02 21:57] erickstm87 commented on #6802
Alright so I've tried version 3.3.0, 3.6, and 4.0.0 of selenium-webdriver. All of those versions crashed. I switched out those three values in the `about:config` that kenjiO mentioned and that seems to have done it. I'll update again if that changes. Thanks kenjiO!

[2018-10-02 22:46] jasonLaster commented on #6802
Thanks @erickstm87 for testing.

[2018-10-03 18:48] grdinic-ua commented on #3736
Darn: On a page that works fine in Chrome dev tools, same issue here -- only now in 62 the debugger has become *completely* unresponsive, as in the page hangs *indefinitely* as soon as the Developer tools are opened. By hang I mean literally nothing works on the page, buttons, links, etc.

Did some testing and narrowed it down to have embedded YouTube and Vimeo videos on the page as being the caus

[2018-10-03 19:57] loganfsmyth commented on #3736
@grdinic-ua If you can reproduce the issue on Firefox Nightly too, probably best to file a new issue with a page to reproduce or more info so we can reproduce on our own.

[2018-10-03 20:19] #5598 closed

[2018-10-04 03:50] WenInCode commented on #6348
@jasonLaster I was just browsing through the issues and I think this can be closed now since the pr was merged

[2018-10-04 11:16] #6348 closed

[2018-10-07 12:18] greenkeeper[bot] opened #7093 "An in-range update of redux-saga is breaking the build 🚨"
## The dependency [redux-saga](https://github.com/redux-saga/redux-saga) was updated from `0.16.0` to `0.16.1`.

🚨 [View failing branch](https://github.com/devtools-html/debugger.html/compare/master...devtools-html:greenkeeper%2Fredux-saga-0.16.1).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

redux-saga is a direct depe

[2018-10-08 19:25] jnachtigall commented on #7067
This is a dupe of #1427 which has a good comment on how this could be implemented:
https://github.com/devtools-html/debugger.html/issues/1427#issuecomment-305148382

[2018-10-08 20:50] Lathaguna commented on #6744
/claim

Hello @darkwing ,

I am an Outreachy applicant. I would like to attempt resolving this issue. Let me please claim the issue as I see contributors doing it on the other issues.

Thanks.

[2018-10-10 05:05] darkwing commented on #6734
I yolo'd with this a little bit (thus the `console.log` calls):
 https://gist.github.com/darkwing/370807f88b5938d80b1e8204218cc3a3

The big change is using `makeLocationId` but it's sort of weird in that my steps to reproduce (https://github.com/devtools-html/debugger.html/issues/6734#issuecomment-422563408) still don't match, but if I put breakpoints on the pretty file's lines 30, 31, 32, 33, etc

[2018-10-10 08:45] greenkeeper[bot] opened #7098 "An in-range update of copy-webpack-plugin is breaking the build 🚨"
## The devDependency [copy-webpack-plugin](https://github.com/webpack-contrib/copy-webpack-plugin) was updated from `4.5.2` to `4.5.3`.

🚨 [View failing branch](https://github.com/devtools-html/debugger.html/compare/master...devtools-html:greenkeeper%2Fcopy-webpack-plugin-4.5.3).

This version is **covered** by your **current version range** and after updating it in your project **the build failed

[2018-10-10 12:06] janodvarko opened #7099 "Quality Sprint (65)"
This is a follow up issue for #6399

### Performance

- [x]  Storing too much data into devtools.debugger.tabs pref #6546 🏃
- [x]  Full Project Search is really slow #6094
- [ ]  [Stepping]"step-over" (F10) takes a lot of time #6313
- [x]  Delay when opening debugger on reddit #6828
- [x]  Debugger in background causes hangs #4896
- [ ]  CPU churn when switching back to tab with debugger open #601

[2018-10-10 12:35] emanueltimlopez commented on #7085
/claim

[2018-10-10 12:36] emanueltimlopez commented on #7085
/unclaim

[2018-10-10 14:03] #6792 closed

[2018-10-10 23:03] WenInCode commented on #7009
@jasonLaster do you mean display the warning if the firefox directory is missing or empty? Or would you check for something in particular?

[2018-10-10 23:39] brianpeiris commented on #7007
Spoke dev here. I don't care so much about the `step` functions, but I'd expect Firefox to do as well as Chrome for the `updateComponentProperty` function and the two "(anonymous)" functions that do actually have correctly mapped line numbers.

[2018-10-11 13:10] darkwing commented on #7009
I think the best solution here is:

1.  console out a warning saying that the file is missing and that they may need to run `./prepare-mochitest-dev`
2.  Update documentation if necessary.

[2018-10-11 14:29] WenInCode commented on #7009
/claim

[2018-10-11 17:00] TheKK commented on #6577
Hi, is this issue suitable for someone new to this project?
If so I'd like to take this one and give it a try :)

[2018-10-11 17:08] darkwing commented on #6577
@TheKK I'd choose something that isn't `reps` related :)

[2018-10-11 17:14] TheKK commented on #6577
Got it, I'll find the other one.
Thanks!

[2018-10-12 00:55] loganfsmyth commented on #5782
There may be other cases I'm missing, but there is two primary issues here. One is easy to fix, but the other is harder.

Essentially, the issue is that JS has _5_ newline tokens (`\r\n`, `\r`, `\n`, `\u2028`, and `\u2028`), but at least a few places in the codebase assume that it is all `\n`.

* https://github.com/devtools-html/debugger.html/blob/ecc967e59b97ba95a25191abf308470ee6345d46/src/utils

[2018-10-12 01:50] loganfsmyth commented on #6949
The core question here is, what should we do when you step, and the location you step to has no mappings? This primarily happens in 2 ways:

* The tool injected code that doesn't conceptually map anywhere (https://github.com/devtools-html/debugger.html/issues/7007#issuecomment-423697796).
* The tool generating the map did a poor job, so lots of code that _could_ map to something, doesn't (as is th

[2018-10-12 03:37] asule90 opened #7103 "[enhancement][network][XHR] Ability to set cause as xhr when edit & resend"
Using Firefox 62.0.3 (64-bit) windows.

im requesting some enhancement on firefox devtool network tab.
![image](https://user-images.githubusercontent.com/10544636/46846522-25902a80-ce0a-11e8-8fb6-7261ac8c944a.png)

when i filtered network request to XHR, then i choose to "edit & resend" to one of them.
the new request edit was not showing in XHR cause, but 'unknown' . so i need to clear the filter

[2018-10-12 03:51] asule90 opened #7104 "[enhancement][network] Ability to collapse all response json"
Using Firefox 62.0.3 (64-bit) windows.

im requesting some enhancement on firefox devtool network tab.
can you add an ability to "collapse all" on response json object. as im getting json object response that long enough to fold manually.

![image](https://user-images.githubusercontent.com/10544636/46847023-7e60c280-ce0c-11e8-9817-14f51faa6d74.png)

thank you :)

[2018-10-12 07:09] nchevobbe commented on #6121
Yeah, there should be an ellipsis at some point, and the attribute value should be put in the `title` of the span so the user can get access to the whole value if they want to.

@nipuna777 You can pick it up for sure

[2018-10-12 11:36] TheKK commented on #1427
Hi, is this still an issue? I'd like to take this one :)

[2018-10-12 12:02] jnachtigall commented on #1427
Thanks :) It's still an issue. Probably best to follow up on the comment by nicolas above and follow the getting started section https://github.com/devtools-html/debugger.html#table-of-contents

Pinging @jasonLaster fyi and @nchevobbe for possible mentorship

[2018-10-12 13:56] #5102 closed

[2018-10-12 15:45] loganfsmyth commented on #6949
Ranges on the generated output file can have an explicit end, or else they automatically stop at the end of the generated line.

[2018-10-12 16:17] yurydelendik commented on #6949
FWIW chrome has no such issue, so I wonder if there is a problem how source maps behave in relation of original/generated source line break handing in the browsers

[2018-10-12 17:46] TheKK commented on #1427
/claim

[2018-10-12 23:19] greenkeeper[bot] opened #7108 "An in-range update of pretty-quick is breaking the build 🚨"
## The devDependency [pretty-quick](https://github.com/azz/pretty-quick) was updated from `1.7.0` to `1.8.0`.

🚨 [View failing branch](https://github.com/devtools-html/debugger.html/compare/master...devtools-html:greenkeeper%2Fpretty-quick-1.8.0).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

pretty-quick is a devDepende

[2018-10-13 02:02] nipuna777 commented on #6121
/claim

[2018-10-13 04:17] AnshulMalik commented on #7085
We need to set these environment variables in circles
- GK_LOCK_COMMIT_NAME

- GK_LOCK_COMMIT_EMAIL

[2018-10-13 21:56] darkwing commented on #6747
This could be a bit tough; you may want to look at the "help wanted" and "good first issue" labels 👍

[2018-10-15 05:15] Kanikashrivastav commented on #5120
/claim

[2018-10-15 05:16] Kanikashrivastav commented on #6733
/claim

[2018-10-15 10:57] aditya81070 commented on #6744
@Lathaguna Are you still working on this issue?

[2018-10-15 10:57] aditya81070 commented on #6744
/claim

[2018-10-15 10:58] aditya81070 commented on #6744
/unclaim

[2018-10-15 13:46] #7017 closed

[2018-10-15 18:19] #7054 closed

[2018-10-15 18:31] #6864 closed

[2018-10-15 23:42] RiyaRiya commented on #6446
/claim

[2018-10-16 17:12] finalfantasia commented on #6578
Firefox Developer Edition 64.0b1 (64-bit) was released today and there's still no trace of syntax highlighting for ClojureScript despite the fact that the related Bugzilla tickets were all closed two months ago. May anybody (@jasonLaster @darkwing) please shed some light on what's going on? I'm more than happy to submit pull requests, if necessary.

Thanks.

[2018-10-16 21:46] WenInCode commented on #5782
I think I'll take a shot at this one. Haven't worked in this area yet, so I'll likely have some questions for you all once I get started 😄

[2018-10-16 21:46] WenInCode commented on #5782
/claim

[2018-10-17 01:03] #7009 closed

[2018-10-17 16:02] yogmel commented on #6554
Hi all,

I'm so sorry for the delay.
I realized that Breakpoint.js was fine and the problem was happening in the **codemirror.bundle.js**.
There is a custom .js file that is inserted there, that is **editor.js**.

On line 429 I found a very well-commented code:
![image](https://user-images.githubusercontent.com/3901809/47099700-3b3b9080-d20c-11e8-8772-d04616790356.png)
I have commented 430 - 433 l

[2018-10-18 05:59] karlcow opened #7113 "bogus sourcemap leads to being unable to prettify the file"
Original file

![capture d ecran 2018-10-18 a 14 54 24](https://user-images.githubusercontent.com/505230/47133952-ecfac000-d2e5-11e8-973d-8f34f4a0ae0d.png)

Formatted file. It failed with the message:

![capture d ecran 2018-10-18 a 14 56 32](https://user-images.githubusercontent.com/505230/47133977-06037100-d2e6-11e8-9b1f-fda955df1767.png)

which is not extremely practical in this case :)

![capt

[2018-10-18 06:05] karlcow commented on #7113
This seems to depends on

[code]

StickyFill is defined in the same JS.

[2018-10-18 10:10] AnshulMalik commented on #7113
@karlcow When I try to reproduce this, I don't see the buttons for format the file, how did you make it format?

[2018-10-18 15:30] karlcow commented on #7113
@AnshulMalik when the `{}` is not visible, you can often ctrl+click on the tab title and there is a contextual menu with pretty print.

[2018-10-19 01:19] akashs09 commented on #5120
/claim

src/actions

[2018-10-19 03:28] violasong commented on #4649
Hi @yogmel! I like the bolded name with the Learn more link. I think the highlight icon could be improved by being less strong (the same color as the Accessibility panel's intro icon should work).

I realized the Debugger is usually about half as tall as these screenshots, so this could be going too vertical. Maybe we could try something like this (with an idea for way less text in the Playground

[2018-10-20 21:57] dangdennis opened #7120 "Enable resizable column headers in the Network tab"
Is it within the realm of product direction to have the column headers within the Network tab and alike be resizable on the x-axis?

I like to quickly review the file names and assets.
<img width="515" alt="screen shot 2018-10-20 at 2 54 45 pm" src="https://user-images.githubusercontent.com/22418429/47260866-47c42100-d478-11e8-823e-3ed3117936e2.png">

Example: `File` tab's left and right edge can

[2018-10-22 15:31] nchevobbe opened #7130 "Use the `renderStacktrace` prop to render the stacktrace in Error reps"
In [Bug 1390768](https://bugzilla.mozilla.org/show_bug.cgi?id=1390768), we want to use debugger's `Frames` component to render stacktraces in the console.
We also want to be able to use the same component that we will create there for Errors as well.
This means that in the `Error` rep, if a `renderStacktrace` prop is passed, it should be used to render the stacktrace.
if it is not passed, then we

[2018-10-22 15:34] nchevobbe opened #7131 "Allow to not truncate the name of the function in Frame component"
At the moment, the function name is truncated (to 25 I think ?).
We should not truncate it using JS, but with CSS in order to be suited for all sizes.

[2018-10-22 15:37] nchevobbe opened #7132 "Do not rely on a global `L10N` properties in components"
In many components, we are using L10N as it's defined as a global in the debugger panel.
But since we plan to re-use some of the debugger components in other panels, we should switch to an explicit usage of L10N, by providing it as a prop.

[2018-10-22 15:44] nchevobbe opened #7133 "Allow to have a custom `title` in the Frame component"
Since we plan to use the Frames component in the console, we need to have almost the same feature as the one we have in the current console stacktrace.
One of them is the tooltip we currently have when hovering a location:
<img width="720" alt="image" src="https://user-images.githubusercontent.com/578107/47302334-8cd78700-d621-11e8-950f-031aa8a58a6a.png">

(note the `View source in debugger - ${FU

[2018-10-22 16:16] loganfsmyth commented on #6949
For the record, since I had to double-check myself, this is bailing out on https://github.com/mozilla/source-map/blob/7356bcbc56565beac748f8bddcf3bc3151f2c798/lib/source-map-consumer.js#L496. SpiderMonkey has stepped to the next line, but then when it searches, the only mapping it finds is on the previous line, so it skips it.

Looking at `source-map` this seems to be been a purposeful change intr

[2018-10-22 17:32] digitarald opened #7134 "6 hang from CodeMirror when hitting breakpoint during loading"
STR:
- Open https://perfht.ml/2SaZyPD
- Hit Pause in the debugger during loading (hits an extension script for me)

AR: 6s beachball.

Profile: https://perfht.ml/2SaZyPD
<img width="927" alt="image" src="https://user-images.githubusercontent.com/8599/47308085-7e6b7a00-d5e5-11e8-98b6-36e6936c96ea.png">
Time is spent in Codemirror `.column`.

Can not reproduce on DevEdition. `column` doesn't even sh

[2018-10-22 17:42] digitarald opened #7135 "Add DAMP tests for hitting a breakpoint during loading"
#7134 might be a regression that hints that we have not instrumented this well to hold the line on our performance wins. Loading and hitting breakpoints is a key interaction and the tools should not get in the way or even beachball on high-end user machines.

Could we add pausing on breakpoint in a complex code base to DAMP?

[2018-10-22 17:57] loganfsmyth commented on #6873
This is because of this logic: https://searchfox.org/mozilla-central/rev/fcfb479e6ff63aea017d063faa17877ff750b4e5/devtools/server/actors/source.js#949. In the generated code, original line 48 -> 53 are all on the same line, and once the location propagates to the server, all it has is the generated line number, so it ends up creating breakpoints inside of the `.map` callback too.

The fix most con

[2018-10-22 18:35] loganfsmyth commented on #7134
Did you link the wrong repro URL, or is this reproducible on its own profile page?

Looks like the `z` function in this context is https://github.com/codemirror/CodeMirror/blob/ed8dfeb5e2ed25b5dd1f1eccc7b757ca6dbd118d/src/util/misc.js#L16 called from https://github.com/codemirror/CodeMirror/blob/ed8dfeb5e2ed25b5dd1f1eccc7b757ca6dbd118d/src/util/StringStream.js#L48 Nothing obviously bad about them.

[2018-10-22 19:43] loganfsmyth commented on #6685
It looks like the example site has changed since this was filed, so it doesn't reproduce anymore. The generated code is formatted differently.

[2018-10-22 19:47] loganfsmyth commented on #4104
@rohanprasad Is this something you're still looking into?

[2018-10-22 20:19] digitarald opened #7136 "Allow to show more sidebar information on small viewport heights"
On my HD screen the call stacks take a up most of the vertical space:

<img width="312" alt="image" src="https://user-images.githubusercontent.com/8599/47316518-2ab85b00-d5fc-11e8-86ba-ca544242e5db.png">

Detailed shot of call stacks show that it does take a lot of estate for the button and paused state; which both could be compressed a bit more:

<img width="304" alt="image" src="https://user-ima

[2018-10-22 20:57] WenInCode commented on #5782
I haven't really started on this, but I have some time tonight that I am dedicating to this. I am having difficulties reproducing the issue though. http://www.ximalaya.com/14647138/album/6527131/ no longer seems to use `almond.js`.

I figured that probably wasn't a blocker, since you can still grab `almond.js` from `wget http://s1.xmcdn.com/js/almond.js?v=20180319144900`. So I threw together a sim

[2018-10-22 21:32] loganfsmyth commented on #5782
Here's an example: https://scandalous-spoon.glitch.me/

You can see for instance that if you click on Line 7, and refresh it doesn't really break where you expect, and not all the logs have executed. Also as the comments (and the line markers on the console messages say), the line numbers on the log statements are not what the editor shows. You can also see the parser worker logging `Unterminated

[2018-10-22 21:33] loganfsmyth commented on #6923
I've filed https://bugzilla.mozilla.org/show_bug.cgi?id=1500632 with patch.

[2018-10-22 21:47] digitarald commented on #6457
Reproduced on recent Nightly with fresh profile, happened 2 times in this session:

![screenflow](https://user-images.githubusercontent.com/8599/47321301-4118e380-d609-11e8-9173-22cfd11d434f.gif)

Profile recorded while loading was stuck: https://perfht.ml/2S9wmsv

[2018-10-22 21:54] digitarald opened #7138 "Source maps are not offered when the generated source is open"
STR:
- Open https://perf-html.io/noop/ with Debugger open and Pause on Uncaught Exception on
- Open generated file (`something.bundle.js`) for the file it pauses in, close original file.
- Refresh

ER: Pause in original file
AR: Pauses in generated file without any hint to jump to original file

![screenflow](https://user-images.githubusercontent.com/8599/47321674-5f331380-d60a-11e8-99df-216750251

[2018-10-22 21:57] WenInCode commented on #5782
Awesome, thanks for that @loganfsmyth

[2018-10-22 22:18] loganfsmyth commented on #7138
I'm not sure I agree with this. If I've explicitly opened the generated file, I don't think I'd expect to get pushed back into the original file on refresh.

That said, it would be _great_ to have an easy way to jump to the original file associated with the current location in the generated code.

[2018-10-22 22:44] digitarald commented on #7138
True, my ER and title mismatch. Mostly the concern here is that the original file is not offered anywhere in the call stack.

[2018-10-22 22:56] digitarald commented on #7134
Looks like its pausing in LastPass. When I blackbox the lastpass script, it doesn't pause.

I uploaded the file `moz-extension://b89232ee-72dc-d946-81bc-256ca88530f7/onloadwff.js` gist as [reference](https://gist.github.com/digitarald/40e098d1edba82a0f8f51628113df725).

Here comes the kicker: codemirror-based syntax highlithing for gist.github.com shows the same hang, also 6s, when trying to previ

[2018-10-22 22:57] loganfsmyth commented on #7138
Gotcha. Could we have a button in the bottom in the same place as the jump-to-generated button on original files, but going the other direction? Currently the right-hand panes are tied to whether you are viewing a generated or original file in the editor, so having a button to change the editor back to viewing the original file would also switch the scope and stack trace panes back, if memory serv

[2018-10-23 03:30] greenkeeper opened #7139 "An in-range update of jest-localstorage-mock is breaking the build 🚨"
## The devDependency [jest-localstorage-mock](https://github.com/clarkbw/jest-localstorage-mock) was updated from `2.2.0` to `2.3.0`.

🚨 [View failing branch](https://github.com/devtools-html/debugger.html/compare/master...devtools-html:greenkeeper%2Fjest-localstorage-mock-2.3.0).

This version is **covered** by your **current version range** and after updating it in your project **the build faile

[2018-10-23 06:14] nchevobbe commented on #7130
/claim

[2018-10-23 06:30] rohanprasad commented on #4104
@loganfsmyth sorry, I am unable to find time to look into this issue. Unclaiming for now.

[2018-10-23 06:30] rohanprasad commented on #4104
/unclaim

[2018-10-23 08:36] greenkeeper[bot] opened #7141 "An in-range update of remark-lint-list-item-indent is breaking the build 🚨"
## The devDependency [remark-lint-list-item-indent]() was updated from `1.0.2` to `1.0.3`.

🚨 [View failing branch](https://github.com/devtools-html/debugger.html/compare/master...devtools-html:greenkeeper%2Fremark-lint-list-item-indent-1.0.3).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

remark-lint-list-item-indent is

[2018-10-23 08:38] greenkeeper[bot] opened #7142 "An in-range update of remark-lint is breaking the build 🚨"
## The devDependency [remark-lint]() was updated from `6.0.2` to `6.0.3`.

🚨 [View failing branch](https://github.com/devtools-html/debugger.html/compare/master...devtools-html:greenkeeper%2Fremark-lint-6.0.3).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

remark-lint is a devDependency of this project. It **might not br

[2018-10-23 10:49] Kanikashrivastav commented on #5120
@AnshulMalik i think this issue should not be closed , the latest PR added `Fixes #5120` due to that this issue is closed after merging that PR

[2018-10-23 13:58] AnshulMalik commented on #5120
Ohh, my bad, the keywords :P

[2018-10-23 15:44] gerdneuman commented on #6685
@loganfsmyth Source code slightly changed, but are mainly the same:

![image](https://user-images.githubusercontent.com/12525563/47372802-d213bb80-d6ea-11e8-9bcc-27d4ef2d28f0.png)

But the AR are different now but still not what I would expect:

Debugger does not stop at line 8 of mapped source file now, but stops on the unmapped index.js file:

![image](https://user-images.githubusercontent.com/1

[2018-10-23 19:27] darkwing opened #7145 "[XHRBreakpoints] Odd Focus Upon Debugger Open"
At present, when the debugger first opens in panel, the XHR breakpoint input is momentarily focused We should prevent that focus unless explicitly clicked.  I remember a similar issue with the watch expressions input at one point.

[2018-10-23 19:28] loganfsmyth commented on #6685
Alright perfect.

The issue here appears to be caused by the fact that the url of the mapped file is the same as the URL of the generated file, which means that when the page reloads and hits https://github.com/devtools-html/debugger.html/blob/9309042df4ecd99c8859b190d8fc8287e18851ad/src/actions/sources/newSources.js#L113, the generated file loads first and causes the selection to change to the ge

[2018-10-24 02:32] jacobjzhang commented on #4104
/claim

[2018-10-24 02:59] jacobjzhang commented on #4104
Is this still a relevant issue? I can't seem to reproduce it. In the GIF from a year ago, was that a handspun page or one of the existing examples?

[2018-10-24 03:46] kriskristin opened #7149 "Use --error-color for --string-color"
In Bug [1494789](https://bugzilla.mozilla.org/show_bug.cgi?id=1494789#c17) we updated the color for strings inside errors in the console. Part of that touched reps.css and we need to land this change here to be in sync with changes made in bugzilla.

[2018-10-24 03:47] kriskristin commented on #7149
/claim

[2018-10-24 04:31] jacobjzhang commented on #4104
Disregard, was able to replicate it. I did some digging, haven't done much except copy @jasonLaster's example from a year ago and [tweak it in this PR](https://github.com/devtools-html/debugger.html/pull/7150/files)

It seems to just work? I'm not sure of all the scenarios we're trying to cover, but I'm sure there's more. Perhaps one of the mozilla folks can enlighten?

[2018-10-24 11:19] janodvarko commented on #7120
This repo is dedicated to Debugger, so I am closing this report since it belongs to Network monitor component.

Any further reports related to the Network monitor panel should be done here:
https://bugzilla.mozilla.org/enter_bug.cgi?product=DevTools&component=Netmonitor

Good new is that there is already a bug report for resizeable columns and we are planning to work on it in Q1/2019

https://bugz

[2018-10-24 11:19] #7120 closed

[2018-10-24 13:03] jacobjzhang commented on #6790
This looks interesting-- is it up for grabs?

[2018-10-24 13:15] jacobjzhang commented on #7016
@Doomwyte have you been able to resolve this issue?

[2018-10-24 13:39] darkwing commented on #6790
Sure 👍

[2018-10-24 15:41] greenkeeper[bot] opened #7154 "An in-range update of eslint-plugin-jest is breaking the build 🚨"
## The devDependency [eslint-plugin-jest](https://github.com/jest-community/eslint-plugin-jest) was updated from `21.26.0` to `21.26.1`.

🚨 [View failing branch](https://github.com/devtools-html/debugger.html/compare/master...devtools-html:greenkeeper%2Feslint-plugin-jest-21.26.1).

This version is **covered** by your **current version range** and after updating it in your project **the build fail

[2018-10-24 17:40] kenjiO opened #7155 "[XHR Breakpoints] Accordian panel expands at incorrect times"
STR
In the secondary panel collapse the accordian item for XHR breakpoints.  Then add a breakpoint or add a watch expression.

ER
The XHR accordian item stays collapsed

AR
The XHR accordian item expands

![](http://g.recordit.co/o4FCwF2cqu.gif)

[2018-10-24 17:44] loganfsmyth commented on #7155
Doesn't sound like a duplicate exactly, but at least related to #7145.

[2018-10-24 19:10] loganfsmyth commented on #5782
I realize one other question in all of this is, I have no idea if the line numbers in sourcemaps for instance are actually supposed to align with this value, or purely be based on the line numbers based on CRLF/LF line endings.

[2018-10-24 19:59] loganfsmyth commented on #5782
I posted on ESDiscuss since I'm curious: https://mail.mozilla.org/pipermail/es-discuss/2018-October/051854.html

[2018-10-24 20:09] loganfsmyth commented on #5782
@WenInCode Realistically, it might be worth waiting to do much on this for now.

[2018-10-24 20:21] WenInCode commented on #5782
@loganfsmyth ok, most of what I had done up until now was the easy part and adding some tests around it. I am okay holding off on it. Should I unclaim it until its fate is certain?

[2018-10-24 20:33] loganfsmyth commented on #5782
I'm not sure what the normal procedure is for `claim` for this type of thing, so no strong feelings either way. Sorry to change course mid-way. Once I'd realized the line numbers had a broader impact on sourcemaps and things, it opened up a lot more questions.

[2018-10-24 20:34] #7133 closed

[2018-10-24 20:52] Doomwyte commented on #7016
@jacobjzhang Nope not yet :P

[2018-10-24 22:14] loganfsmyth commented on #6923
This has landed on central.

[2018-10-24 22:14] #6923 closed

[2018-10-24 22:19] digitarald commented on #7138
I guess the button would be based on the current position? Do we have that mapping data already?

[2018-10-25 00:51] #5515 closed

[2018-10-25 01:04] darkwing opened #7159 "Extend Source Querystring Logic to Tabs and Sidebar"
In https://github.com/devtools-html/debugger.html/pull/7087 @ZhangYue-vhyt implemented functionality to show the querystring of a source if there is a sibling source with the same filename within the SourcesTree component.  For example:

- script.js?v=1
- script.js?v=2

That functionality is great for the SourcesTree component but tabs and the right sidebar (breakpoints pane, for example) could us

[2018-10-25 01:09] darkwing opened #7160 "[SourcesTree] Sort SourcesTree when Querystring present"
@ZhangYue-vhyt implemented showing querystrings for items in the sources tree (https://github.com/devtools-html/debugger.html/pull/7087) when there are sources with sibling filenames of the same name.

At present the SourcesTree only sorts by filename and not by querystring, so we'll need to update the logic in the tree to reliably sort by file + querystring value.

[2018-10-25 01:32] ZhangYue-vhyt commented on #7160
/claim

[2018-10-25 10:44] greenkeeper[bot] opened #7165 "An in-range update of jest2 is breaking the build 🚨"
## There have been updates to the *jest2* monorepo:

 + - The `devDependency` [jest-environment-jsdom](https://github.com/facebook/jest) was updated from `23.3.0` to `23.4.0`.

🚨 [View failing branch](https://github.com/devtools-html/debugger.html/compare/master...devtools-html:greenkeeper%2Fmonorepo.jest2-24.0.0-alpha.2).

This version is **covered** by your **current version range** and after up

[2018-10-25 11:11] icl7126 commented on #5218
I'm seeing this issue several times a week and to solve it I have to close all Firefox instances - I'm add-on developer so I use `web-ext` tool to open another Firefox instance. And to fix this I have to close also my main Firefox.

[code]

**Is there anything I can do to help you diagnose or fix this?**

[2018-10-25 12:54] AnshulMalik opened #7166 "Column Breakpoints gets Added to next line"
So when we add a column breakpoints from a prettified source, it is most likely that it will not add the breakpoint where we want it to.
I did some digging and found that prettyFast is generating correct source map, but the `source-map` package has a function `generatedPositionFor` that we use to calculate the generated line and column.
It turns out that this function returns the start of the mapp

[2018-10-25 13:13] #4443 closed

[2018-10-25 13:39] #7130 closed

[2018-10-25 13:49] darkwing commented on #7085
I've added these environment vars; let's hope things work properly.

[2018-10-25 20:11] #7131 closed

[2018-10-25 20:36] navgurukul-shivani18 commented on #6747
I really want to solve this issue, had been trying to lead on where the issue is coming from the code. I tried alot, but, couldn't find a way to solve it. I thought I should be independent by now

[2018-10-25 20:51] #7013 closed

[2018-10-26 05:17] navgurukul-shivani18 commented on #6747
@AnshulMalik Can you please help me finding any good bug to work on? Please!

[2018-10-26 13:57] jsomedon commented on #7020
I am seeing exact same error about `ECONNREFUSED 127.0.0.1:6080` and `WebDriverError: connection refused` upon running after initial setup.

[2018-10-26 20:53] akashs09 commented on #6948
/claim
- max-width of editor tabs
-  highlight is too subtle

[2018-10-27 03:57] WenInCode commented on #7159
@darkwing any chance this is available

[2018-10-28 12:54] greenkeeper[bot] opened #7178 "An in-range update of stylelint is breaking the build 🚨"
## The devDependency [stylelint](https://github.com/stylelint/stylelint) was updated from `9.6.0` to `9.7.0`.

🚨 [View failing branch](https://github.com/devtools-html/debugger.html/compare/master...devtools-html:greenkeeper%2Fstylelint-9.7.0).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

stylelint is a devDependency of

[2018-10-28 22:03] kenjiO commented on #7020
@jsomedon: For the Webdriver error see the comments in #6802 for a work around to avoid this crash.

[2018-10-29 14:14] #6802 closed

[2018-10-29 14:15] jasonLaster commented on #7020
Just landed #7182, which should fix it.

[2018-10-29 14:15] #7020 closed

[2018-10-29 16:42] jasonLaster opened #7184 "[breakpoints] text overflows when you hover on it"
When the line number is 3 or 4 digits, the close button is narrow enough to change the overflow of the breakpoint text.

![](http://g.recordit.co/I835qGxgnJ.gif)

[2018-10-29 17:13] kenjiO commented on #7136
/claim

[2018-10-29 17:33] kenjiO commented on #7093
@jasonLaster, I don't see redux-saga being used in this project.  It looks like it was considered in #3372 but it didn't get used.  Can this dependency be removed?

[2018-10-29 17:40] jasonLaster commented on #7093
yeah - lets remove it

[2018-10-29 17:49] jasonLaster commented on #7159
@WenInCode go for it

[2018-10-29 17:54] WenInCode commented on #7159
/claim

[2018-10-29 19:41] darkwing opened #7185 "Fix intermittent for browser_dbg-sources-querystring.js"
Our new `browser_dbg-sources-querystring` test intermittently fails by timing out.  The timeout happens on the `waitForSources` line.  We need to find the source of this problem, fix it, and re-enable the test.

[2018-10-29 20:00] #7145 closed

[2018-10-29 20:00] #7155 closed

[2018-10-29 21:16] jasonLaster commented on #5519
1. sometimes we're scrolled to line  1
2. resume will pause again
3. the call stack is off

[2018-10-29 21:24] jasonLaster opened #7189 "[Editor] show the line and column in the footer"
It would be pretty helpful to show the current cursor line and column offset in the footer of the editor.

[2018-10-29 21:36] digitarald commented on #6921
Another perf-html story:

STR
- Adding breakpoint in `Root.js`, `render` function
- Reload

First breaks in `index.js`, showing `Pausing on breakpoints`:

<img width="864" alt="image" src="https://user-images.githubusercontent.com/8599/47681255-366cca00-db86-11e8-8b50-6d85a7563971.png">

First Resume hits another `create-store.js`, again `Pausing on breakpoints`

<img width="872" alt="image" src="

[2018-10-29 21:37] jasonLaster opened #7190 "[sourcemap] save file and map"
One of the challenging aspects of debugging sourcemaps today is that it can

a) be hard to downlaod the generated file and sourcemap.
b) be hard to visualize the map because source map visualizer has a cap on the size of the visualization

we can address part a by having an editor context menu item for, which saves the generated file and source map to a file

Here is a gist for creating a generic

[2018-10-29 21:48] digitarald opened #7191 "Slow stepping is made worse by noisy UI"
STR:
- Set a breakpoint in `https://perf-html.io/` (like `webpack:///src/components/app/Root.js`, line 161)
- Refresh to pause
- Step forward

The panels update in ripples. The async nature that loads data in stages makes the UI unusable until its finished loading as it moves around.

Profile with screenshots: http://bit.ly/2AzBIGP

Stepping at 25% speed:
![screenflow](https://user-images.githubus

[2018-10-29 22:16] darkwing opened #7192 "[XHR Breakpoints] "Pause on any URL" Not Persisting Upon Refresh in Panel"
When we check the "Pause on any URL" checkbox in the XHR breakpoint panel, the checkbox unchecks itself upon a refresh or navigation.  We need this setting to persist just as Pause on Exceptions does.

[2018-10-29 22:24] gregtatum opened #7193 "Refreshing while stepping bugs"
I was finding the debugger to be unreliable when I was breaking on something, refreshing, and stepping. I tried to find some errors, but they seem to be race conditions, which are hard to be exact on how to reproduce. So instead I entered into a bit more of a chaos mode with this STR:

* Use Nightly
* Load perf.html from the command line (probably any large sourcemapped project)
* Open up the debu

[2018-10-29 22:48] darkwing opened #7194 "[XHRBreakpoints] Input box disappears when checkbox clicked/unclicked"
The input box for XHR breakpoints should always display if there are no XHR breakpoints, just as the Watch Expressions input does.

There's something odd happening where the value of the checkbox effects whether the input displays.

[2018-10-29 23:03] darkwing commented on #7194
After a bit of experimenting, the reason the XHR breakpoint input doesn't display when there are no breakpoints listed is because there's a "hidden" (for lack of better term) breakpoint for the "Pause on any URL" checkbox, which looks like:

[code]

or:

[code]

In the short term we could filter this list on `path` before doing a `xhrBreakpoints.size` check in `renderBreakpoints`; in the longer te

[2018-10-30 01:41] karlcow commented on #7113
This makes it very hard to debug for example this site
https://readymag.com/

Try it with Chrome devtools, then try to access the sources with Firefox devtools

<img width="1186" alt="capture d ecran 2018-10-30 a 10 40 29" src="https://user-images.githubusercontent.com/505230/47690141-3fb27100-dc30-11e8-8916-7e2b547981b9.png">
<img width="1421" alt="capture d ecran 2018-10-30 a 10 40 50" src="http

[2018-10-30 03:28] akashs09 commented on #7184
/claim

[2018-10-30 07:42] nchevobbe opened #7199 "Expressions' <CloseButton> should pass a tooltip prop"
The `Expressions` component renders the watch expression panel:

<img width="591" alt="image" src="https://user-images.githubusercontent.com/578107/47702917-b47caf80-dc1e-11e8-9892-5ee07a9fa568.png">

You can see there that you can add expressions, and then remove them when you don't need them anymore, with the close button.

But the button itself does not have a title, which means that when you h

[2018-10-30 07:52] jacted commented on #7199
/claim

[2018-10-30 12:50] mozfreddyb opened #7201 "remove sanitizeInputs in /src/utils/expressions.js (it's not sanitizing anything)"
as a follow-up from my conversation with @codehag.
1) look at https://github.com/devtools-html/debugger.html/blob/e7f212ee3916d97c799549b6b89cb43fbc1ce34f/src/utils/expressions.js#L11
2) it doesn't sanitize anything :open_mouth:  :boom:

[2018-10-30 12:50] #7093 closed

[2018-10-30 13:09] AnshulMalik commented on #7194
Yeah, that's a hack :P sorry

[2018-10-30 13:19] AnshulMalik commented on #7192
It works fine(persists) for me.

[2018-10-30 13:28] jasonLaster opened #7202 "[breakpoints] remove immutable wrapper"
When we started we used immutable to wrap our data so that we had guarantees that the data would only be updated in a reducer and that we could rely on the data being immutable, which made component updates cheap.

This summer we refactored sources away from immutable because immutable is hard to type check with flow, the api is harder to use, it is slower, and we have gotten good enough with `...

[2018-10-30 16:43] juliandescottes commented on #6948
If you feel like the current max-width is good compromise, feel free to ignore the last point.

The issue is highlighted in the screenshot, it is pretty easy to only have one visible tab and everything in the overflow menu. To address if we could:
- reduce the max width
- adapt the max width to the available space

@birtles @violasong  any other idea?

[2018-10-30 17:33] kenjiO commented on #7202
/claim
I'll take a shot at this

[2018-10-30 19:17] jasonLaster opened #7205 "[releases] v91 had a performance regression"
[v91] had a couple of performance regressions that we should address. The regression has been bisected in this [sheet]. It looks like this [commit] introduced the regression

[v91]: https://bugzilla.mozilla.org/show_bug.cgi?id=1495547
[sheet]: https://docs.google.com/spreadsheets/d/1yEkT0lk2UVI7tsfZpNH2yo8ajZQsLs6gyW9gGOoaTDk/edit#gid=0
[commit]: https://github.com/devtools-html/debugger.html/comm

[2018-10-31 09:53] nchevobbe opened #7208 "Remove stack trace related action out of FrameMenu"
When the debugger is paused, we show the `Call stack` panel.
On this panel we have a list of all the frames of the stack.
On each frame, the user can right-click to get a context menu offering frame related actions:

<img width="301" alt="image" src="https://user-images.githubusercontent.com/578107/47779178-c763b280-dcf8-11e8-8fe3-147767709726.png">

Except some actions are not really strictly-rel

[2018-10-31 10:19] nchevobbe opened #7209 "In the Call stack panel, Groups should have a title"
In https://github.com/devtools-html/debugger.html/blob/6daa22e0253ab6e30f8d250784e59ae6cbf4327e/src/components/SecondaryPanes/Frames/Group.js#L128-L133

we should have a `title` attribute which would contain the following: `Show all ${frame.library} frames` / `Collapse ${frame.library} frames`.

In order to do that, 2 new strings should be added in `debugger.properties`, (e.g. `callStack.group.exp

[2018-10-31 13:04] jasonLaster opened #7211 "[preview] Value preview behaves weirdly when hovering over literals"
Added a user story with a proper STR.
The issue seems to appear only on primitives declared after the location where the debugger is paused at. If we follow the STR, and then add those steps:

5. Hit the resume button, now we should be paused at line 3

[code]

6. Hover over "testa" on line 2

=> The popup is displayed with "testa"

7. Hover over "testb" on line 4

=> The popup is displayed with "

[2018-10-31 13:06] jasonLaster opened #7212 "[blackbox] unable to blackbox original sources"
User Agent: Mozilla/5.0 (Macintosh; Intel Mac OS X 10.13; rv:62.0) Gecko/20100101 Firefox/62.0
Build ID: 20180830143136

Steps to reproduce:

1. Create webpack site with multiple js sources
2. Include the bundle in an html page, ensure the js is executed
3. Run the site using webpack dev server.
4. Open devtools, debugger tab
5. Expand Webpack view, and path to target source file
6. Click the 'eye

[2018-10-31 15:15] darkwing commented on #7185
The root cause, which appears to be server, can be found here:

https://bugzilla.mozilla.org/show_bug.cgi?id=1503422

[2018-10-31 16:05] #7199 closed

[2018-10-31 16:29] loganfsmyth commented on #5519
I've filed https://bugzilla.mozilla.org/show_bug.cgi?id=1503436 with a patch for the issue of pausing at the wrong location.

I'll take a peak now to see what is causing the scroll jumping.

[2018-10-31 17:42] #7034 closed

[2018-11-01 00:44] Loirooriol opened #7217 "Can't find files with query strings"
1. Load a page containing
[code]
2. Open the debugger
3. Use Ctrl+P to find sources
4. Enter `test.js?foo`

Expected: you get a result
Actual: no result

![bug1](https://user-images.githubusercontent.com/7477678/47826104-e5bbc380-dd75-11e8-80ca-7ace7e2e702e.png)

You need to write `test.js` in order to find the results, but then you get two identical entries and you don't know which is which.

![b

[2018-11-01 18:38] darkwing opened #7220 "[XHR Breakpoints] Focus on and border input box during edit"
Presently the XHR breakpoint add input box doesn't highlight or focus upon clicking the "+" icon, and for the sake of usability, we should implement that.

The Watch Expressions pane does this very well and I'd love if we could implement what's there.

[2018-11-01 19:29] jasonLaster opened #7222 "Top level await should support destructuring assignments"
We should gracefully support this kind of syntax.

input:
[code]

output:
[code]

[2018-11-02 14:48] jasonLaster commented on #7217
CC @WenInCode

[2018-11-02 16:22] Loirooriol opened #7223 "Stop converting spread syntax into Object.assign"
https://github.com/devtools-html/debugger.html/blob/e7f212ee3916d97c799549b6b89cb43fbc1ce34f/packages/devtools-reps/src/reps/grip.js#L169

[code]

uses spread syntax because of https://github.com/devtools-html/devtools-core/issues/986

However, somehow this is transformed into https://searchfox.org/mozilla-central/rev/50ba1dd30cf013bddce1ae756f1b3c95b26f0628/devtools/client/shared/components/reps/

[2018-11-02 19:55] loganfsmyth commented on #5782
@WenInCode I think at this point it's not worth trying to hack up CodeMirror to get it to render these as newlines, but if you have tweaks for the other things I mentioned, we might as well land those changes. What specifically have you put together so far?

[2018-11-02 20:44] WenInCode commented on #7217
👀 Oh yes. I'll take a look at this when I do some work on #7206 this weekend

[2018-11-02 23:03] jasonLaster commented on #7223
Thanks @Loirooriol I'll fix this next week.

[2018-11-03 22:11] Doomwyte opened #7225 "Unify implementation for Source/Outline tabs and file tabs"
<img width="864" alt="screen shot 2018-11-03 at 3 02 15 pm" src="https://user-images.githubusercontent.com/16697942/47957794-18cea480-df7a-11e8-8bf3-aed18ffcd6fe.png">

Sort of a continuation of issue #7034 .

We want the Source/Outline tabs to have the same design as the file tabs. Currently, the way the Source/Outline tabs are implemented is different from the way the file tabs are implemented.

[2018-11-03 22:11] Doomwyte commented on #7225
/claim

[2018-11-05 04:53] zhuowei opened #7227 "Documentation: Getting Started guide shouldn't mention the removed GCLI"
The Getting Started page mentions the Firefox GCLI:

https://github.com/devtools-html/debugger.html/blob/master/docs/getting-setup.md#firefox-gcli

which was removed in [Firefox 62](https://developer.mozilla.org/en-US/docs/Tools/GCLI).

This section of the documentation should be removed or rewritten to use whatever the GCLI replacement is.

[2018-11-05 05:05] WenInCode commented on #7217
I think I'll just pull this into the work I'm doing now.
/claim

[2018-11-05 05:06] WenInCode commented on #7217
/claim

[2018-11-05 14:59] #5658 closed

[2018-11-05 15:05] jasonLaster opened #7230 "[svg] Replace Accordion inline svg with css"
inline SVGs are easy, but slow and would benefit from being converted to css

[code]

---
<img width="1382" alt="screen shot 2018-11-05 at 9 59 06 am" src="https://user-images.githubusercontent.com/254562/48005533-ad074b80-e0e1-11e8-88fd-24396b3bccac.png">

[2018-11-05 16:51] #6570 closed

[2018-11-06 00:59] akashs09 commented on #7184
I am thinking of something like changing the max-width to a smaller value for the label element under the breakpoint class. Since it is a calc() property and upon resizing when you hover over it will recalculate the max-width value lowering it from 100% to 95% it does not affect the width (~0 px added) but still similar to the box model layout of 100%.

Supposed Change:
`max-width: calc(95% - var(

[2018-11-06 03:18] rebornix commented on #5782
@AnshulMalik thanks for testing against VSCode, we didn't recognize `u2028/29` as Line Terminator in the underling text buffer (so Monaco doesn't support this as well) but we render `u2028` as `0xfffd`. It would be simple to support them in VSCode or Monaco as the text buffer only talks about offset but not the unicode behind it (except CRLF). I would expect that the debugging in VSCode fails in t

[2018-11-06 14:01] codehag opened #7239 "rename TabTarget to Target"
As part of the fission work, we have migrated TabTarget to being named just "Target" -- it would be great if the debugger had the same naming scheme

Files affected:
https://github.com/devtools-html/debugger.html/search?q=tabtarget&unscoped_q=tabtarget

Original issue:
https://bugzilla.mozilla.org/show_bug.cgi?id=1503628

[2018-11-06 15:03] ericawright opened #7240 "Debugger controls are invisible"
![screen shot 2018-11-06 at 9 57 09 am](https://user-images.githubusercontent.com/10803178/48072532-bb6d6a00-e1aa-11e8-9b4a-971a67b30930.png)

This is on Firefox Nightly 65.0. Dark and light themes.

Open debugger panel, look in the upper right corner above watch expressions, there should be controls visible. When hovering over the places the controls should be, the button gets a hover effect and

[2018-11-06 15:04] jasonLaster commented on #7239
@codehag these changes look like they will either land in devtools-core/launchpad or could land in m-c and be backported.

[2018-11-06 15:05] jasonLaster commented on #7240
yep - this is sadly coming from a platform `mask` css platform change. hoping they have a fix soon...

[2018-11-06 15:29] #7220 closed

[2018-11-06 17:42] digitarald commented on #6921
@jasonLaster @loganfsmyth if we agree that this is a P1, what are the next step to identify the root cause?

[2018-11-06 19:41] #7028 closed

[2018-11-06 19:42] darkwing opened #7241 "[Tracking] Column Breakpoints"
Supersedes #7028.

[Server-side Meta Bug](https://bugzilla.mozilla.org/show_bug.cgi?id=1528417).

Column breakpoints are currently flagged as `devtools.debugger.features.column-breakpoints`.  Once we turn them on, there are a number of tasks remaining:

## MVP
- [x] Update the marker logic to only display if the column breakpoint location is within the viewport.
- [x] Performance: Switching betwee

[2018-11-06 19:46] akashs09 commented on #7230
/claim

[2018-11-06 23:13] #7136 closed

[2018-11-07 15:18] jasonLaster commented on #6921
This looks fixed by https://bugzilla.mozilla.org/show_bug.cgi?id=1503436

![](http://g.recordit.co/Si7WlvaCcy.gif)

[2018-11-07 15:47] darkwing commented on #6921
@jasonLaster I believe it got backed out.

[2018-11-07 15:48] gregtatum opened #7245 "Hovering over a number gives the wrong value"
I'm not sure how to provide steps to reproduce, but I found an odd bit of behavior. Hovering over the number `1` gave me the value of `areaLeftOfLastDrawnPixel`.

<img width="456" alt="image" src="https://user-images.githubusercontent.com/1588648/48142242-07cfad00-e272-11e8-8a32-7fa1764c3d56.png">

[2018-11-07 16:15] loganfsmyth commented on #7245
Probably the same core issue as https://github.com/devtools-html/debugger.html/issues/7211?

[2018-11-07 18:46] loganfsmyth opened #7248 "Avoid rendering column breakpoints that would not map properly to the generated source"
One issue we want to address with column breakpoints is hiding them in cases where they won't render in a meaningful way. This happens currently in sourcemapped content that only has line-granularity mappings. This also arises for pretty-printed files, though we will ideally fix that eventually.

The core of the issue is that if you look at an original file, it may have many useful column location

[2018-11-07 18:48] jasonLaster commented on #7248
I think we should assume callSites already has generated columns, so it could be even simpler

[code]

[2018-11-07 18:51] loganfsmyth commented on #7248
Agreed that precomputing the generated location would be ideal. I think we'd want to check uniqueness of line/column pairs though, and that `length` check needs to compare with `callSites.length`.

[2018-11-07 21:16] jasonLaster commented on #7245
oh weird, we do our best to get the best expression to evaluate. It looks like we think the best expression to show is the assignment... definitely a bug

[2018-11-08 06:47] Doomwyte commented on #7016
Still working on this issue, but one thing I notice is that resizing the size of the browser window doesn't have this issue. This issue only happens when I resize the center panel window.

Also, if I have an active tab that gets thrown into the dropdown, when resizing the browser window another tab gets chosen as the active tab. When resizing the center panel window, there is no new tab chosen as

[2018-11-08 14:01] gregtatum commented on #6921
Looks landed, I will report back if this happens to me again.

[2018-11-08 14:21] pd4d10 opened #7250 "[Question] How to merge upstream changes from mozilla-central repo?"
Hi,

I'm wondering how do you merge upstream changes of [mozilla-central](https://hg.mozilla.org/mozilla-central/).

Sometimes both `debugger.html` and `mozilla-central/devtools/client/debugger` have some commits already, there should be a mechanism(`git rebase` or something else) to bring these commits together.

I don't find any documentation about this. Could you explain it? Thanks!

---

Becau

[2018-11-08 14:45] jasonLaster commented on #7250
Oh great. Here are our docs on [releases](https://github.com/devtools-html/debugger.html/blob/master/docs/bundling.md#what-is-a-release)

We do releaess 2/3 times a week where we cherry pick commits onto our release branch and run the `copy` tool to update m-c and make a new release commit in mc.

I'd be happy to do a call and discuss

[2018-11-08 14:45] #7250 closed

[2018-11-08 14:53] pd4d10 commented on #7250
Thanks! It's great. This documentation is exactly what I want.

[2018-11-08 16:23] nchevobbe commented on #6155
We could make use of React context, like we did recently for the Frame component.

[2018-11-08 16:29] nchevobbe commented on #6140
I may work on that this quarter.
In order to do that, we'll use `ObjectClient`'s `getPropertyValue`, which means that we have to have a reference to the parent grip in the Accessor rep.
Then, we need the ObjectInspector to handle the state of those evaluated getter, because we need to re-render nodes that were evaluated.
We want to let the user re-evaluate, so we also need to indicate when the las

[2018-11-08 23:30] digitarald opened #7252 "Plus button on XHR Breakpoints panel does not focus input"
STR:
- Click `+` on XHR Breakpoints panel

AR: Nothing happens (works on _Watch expressions_)

[2018-11-08 23:32] darkwing commented on #7252
This will be in the next release:  https://github.com/devtools-html/debugger.html/pull/7235

[2018-11-08 23:32] #7252 closed

[2018-11-08 23:38] loganfsmyth commented on #7192
@AnshulMalik Could we revisit this? Even the URL list doesn't seem to persist for me properly when I refresh the page.

[2018-11-09 09:13] greenkeeper[bot] opened #7254 "An in-range update of eslint-plugin-mozilla is breaking the build 🚨"
## The devDependency [eslint-plugin-mozilla]() was updated from `0.16.1` to `0.16.2`.

🚨 [View failing branch](https://github.com/devtools-html/debugger.html/compare/master...devtools-html:greenkeeper%2Feslint-plugin-mozilla-0.16.2).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

eslint-plugin-mozilla is a devDependency o

[2018-11-09 17:10] jasonLaster commented on #6921
great!

[2018-11-09 17:10] #6921 closed

[2018-11-09 18:15] digitarald commented on #4100
@darkwing keeping the highlight too subtle and short is still an issue and affects *all* source/location navigation. One idea would be a bolder highlight (yellow) and a longer (3x longer?) lingering subtle highlight.

[2018-11-09 18:18] jasonLaster commented on #7104
@asule90 could you file the enhancements bug in the network panel component https://bugzilla.mozilla.org/?

[2018-11-09 18:18] #7104 closed

[2018-11-09 18:19] jasonLaster commented on #7103
@asule90 could you file the enhancements bug in the network panel component https://bugzilla.mozilla.org/?

[2018-11-09 18:19] #7103 closed

[2018-11-09 22:12] #7202 closed

[2018-11-11 04:17] kiwicopple commented on #6140
Nice one, thanks a bunch @nchevobbe . This is the only thing keeping me from switching away from chrome

[2018-11-12 01:24] karlcow opened #7260 "Breakpoint doesn't survive any attempts at reloading the page."
Steps to reproduce:
1. with Firefox RDM + Firefox Android UA.
2. Open devtools.
3. Go to https://www.2gud.com/
4. Notice in the console "TypeError: e.jsBundles is undefined; can't access its "checkout" property[Learn More]"
5. Open the script and format the code.
6. Set a breakpoint on  `var t = l.default.get();` for example in https://img1a.flixcart.com/www/linchpin/emerald/app.60f138.bundle.js

[2018-11-12 01:44] Doomwyte commented on #7016
I think the issue is that `updateHiddenTabs()` in `Tabs.js` doesn't get called when the centre panel is resized. I notice it gets called when the browser window is resized with the following code below in `Tabs.js`, which allows the hidden tabs to be adjusted correctly.

[code]

[2018-11-12 06:32] digitarald commented on #7099
@jasonLaster @janodvarko could we carry over https://github.com/devtools-html/debugger.html/issues/4100 this this meta. It was in the 64 sprint and got checked off without being fixed.

[2018-11-12 08:09] nchevobbe commented on #7132
Fixed in #7207

[2018-11-12 08:09] #7132 closed

[2018-11-12 09:36] nchevobbe commented on #4100
Something like the following works a bit better:

[code]

But there are still cases where the highlighter does not show up when clicking from the console (I guess a race condition somewhere, as the code I looked into should handle that).

Also, when did we switched to gray background ? It feels a bit odd to me, when tools we're used to (searchfox, github, …) show a yellow background.

One last thi

[2018-11-12 16:04] #7205 closed

[2018-11-13 15:30] dwt opened #7267 "Allow pretty printing CSS"
Hi there,

I noticed that there seems to be no option to pretty print CSS in the firefox debugger - sorry if this is the wrong place to request this.

How to reproduce:
1. Open any page with minified css
2. Look at it in the firefox debugger and try to find anything
3. Fail because it just endlessly scrolls to the right and there is no way to sensibly navigate.
4. Search around and find nobody els

[2018-11-13 16:35] jasonLaster opened #7268 "[breakpoints] disable others no longer works"
STR:

1. add a bunch of breakpoints
2. in the breakpoint panel right click a breakpoint and select disable others

This fixes it
https://gist.github.com/4f26899b282ebc2e735aebc060d41525

But, we should also add a jest or mochitest test

[2018-11-13 17:46] kenjiO commented on #7268
/claim

[2018-11-13 18:07] #7159 closed

[2018-11-14 09:22] jainsneha23 commented on #6733
/claim

[2018-11-14 13:53] jasonLaster commented on #7267
hmm, i don't think we show css in the debugger. Do you mean the style editor?

You can file a bug there  -- https://bugzilla.mozilla.org/enter_bug.cgi?product=DevTools&component=Style%20Editor

[2018-11-14 13:53] #7267 closed

[2018-11-14 13:59] jasonLaster commented on #7260
<img width="1190" alt="screen shot 2018-11-14 at 8 59 19 am" src="https://user-images.githubusercontent.com/254562/48487240-a072a980-e7eb-11e8-9020-b3c56b502663.png">

[2018-11-14 16:11] ZhangYue-vhyt commented on #6524
/claim

[2018-11-14 19:03] kenjiO opened #7272 "[breakpoints] "remove condition", "enable" & "disable" context menu items not working"
STR
  Set a breakpoint and add a condition to it.
  In the breakpoints list, right click on the breakpoint and select "remove condition"

ER
  breakpoint condition is removed

AR
  breakpoint condition is not removed

[2018-11-14 20:15] P0lip opened #7274 "[Parser] mapOriginalExpression does not handle destructuring assignments well"
When working on #7222 I found out that destructuring assignments are not handled properly by `mapOriginalExpression` function.

I created the following test case for `mapOriginalExpression` function and it does not pass.

[code]

This is the actual output I received:

[code]
It's obviously incorrect (it's not even a valid syntax).

Expected state:

Mapping is done correctly, i.e.
`({ a: _mod.foo }

[2018-11-14 22:03] karlcow commented on #7260
@jasonLaster the Firefox Android UA is not this ;)

Here the right string.
[code]

<img width="845" alt="capture d ecran 2018-11-15 a 07 01 19" src="https://user-images.githubusercontent.com/505230/48515523-47b31780-e8a4-11e8-93de-5fe6842c54b2.png">

[2018-11-14 23:46] kenjiO commented on #7272
The "enable" and "disable" context menu items also have the same problem

[2018-11-15 00:29] emanueltimlopez commented on #7189
/claim i can work in the "visual" part, and maybe with the functionality, if a had help. :)

[2018-11-15 05:41] jainsneha23 commented on #6733
Seems like the original requirement of the issue is fixed and merged. What else is pending to be done here? @darkwing
Else can we close this issue please?

[2018-11-15 06:17] jainsneha23 commented on #7192
@loganfsmyth You are right. Both url list and "Pause on any URL" checkbox resets on refresh.

/claim

[2018-11-15 06:47] jainsneha23 commented on #7192
/claim

[2018-11-15 10:47] jainsneha23 commented on #7190
/claim

[2018-11-15 13:59] #7222 closed

[2018-11-15 14:20] #7268 closed

[2018-11-15 14:29] jasonLaster commented on #7274
I always forget about this :) `({ a } = { a: 4 })`

do we want something like `({ a } = await { a: 4 })`

[2018-11-15 14:32] jasonLaster commented on #7274
oops didn't mean to close it 😉

[2018-11-15 14:33] greenkeeper[bot] opened #7278 "An in-range update of remark-cli is breaking the build 🚨"
## The devDependency [remark-cli]() was updated from `6.0.0` to `6.0.1`.

🚨 [View failing branch](https://github.com/devtools-html/debugger.html/compare/master...devtools-html:greenkeeper%2Fremark-cli-6.0.1).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

remark-cli is a devDependency of this project. It **might not break

[2018-11-15 15:18] greenkeeper[bot] opened #7279 "An in-range update of eslint-plugin-babel is breaking the build 🚨"
## The devDependency [eslint-plugin-babel](https://github.com/babel/eslint-plugin-babel) was updated from `5.2.1` to `5.3.0`.

🚨 [View failing branch](https://github.com/devtools-html/debugger.html/compare/master...devtools-html:greenkeeper%2Feslint-plugin-babel-5.3.0).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

eslin

[2018-11-15 16:33] #7192 closed

[2018-11-16 00:19] darkwing opened #7283 ":formatted displaying in Tabs and Breakpoints Sidebar again"
Just spotted this:

<img width="869" alt="prettyformatted" src="https://user-images.githubusercontent.com/46655/48589851-ecfcd880-e902-11e8-81cc-f6cf02cdff5d.png">

I think this may be a result of @WenInCode's work with querystrings.  We should also add a unit test to check for this, as it's regressed a few times now.

[2018-11-16 02:07] WenInCode commented on #7283
👀

[2018-11-16 02:07] WenInCode commented on #7283
/claim

[2018-11-16 09:31] nchevobbe opened #7287 "Context menu Source actions should be available from the SourcePanel and Source Tab"
Someone was asking on IRC how one could blackbox a script, so I tried myself by:
- doing a right click on the sources panel, on the script I wanted to blackbox: -> no luck
- opening the source, right click on the source tab -> no luck
- right click *in* the source content -> jackpot

So this is pretty confusing to me that we have to open a source and specifically right-click in the content.
We sho

[2018-11-16 09:32] nchevobbe commented on #7287
I checked and Chrome does the same thing, but I still find this is bad behavior and we can aim for better than them :)

[2018-11-16 13:35] nchevobbe opened #7288 "Display getters and setters in separate nodes"
Since we want to have a way to evaluate getters (#6140), it brings some question about the UI, and what to do with evaluated getters (how to show getter/setter nodes, replace them if they were expanded, …)
The simplest way would be to show independent nodes for those, so given the following object:
[code]

It would render the following:
- when collapsed: `Object { y: Getter & Setter}` (same thing

[2018-11-16 14:49] jasonLaster opened #7289 "[breakpoins] breakpoints do not appear in gutter on open"
I don't have a great STR, just that sometimes i open devtools and don't see breakpoints in the editor...

[2018-11-16 15:03] #7209 closed

[2018-11-16 20:09] loganfsmyth opened #7293 "Stepping out into an HTML 'onclick' attribute shows the HTML file with an unexpected highlight"
STR:
* Open https://firefox-dev.tools/debugger-examples/examples/babel/
* Open the debugger
* Click the `nestedProperty` button and the debugger should pause
* Click step out

ER:
Highlight the line in the HTML where the `onclick` attribute is

AR:
Highlights the second line for some reason:
<img width="481" alt="screen shot 2018-11-16 at 12 08 19 pm" src="https://user-images.githubusercontent.com

[2018-11-16 20:33] jasonLaster opened #7294 "[outline] the outline view should select the current paused function"
It would be really cool if the outline view were a bit more responsive.

There are two things we can do:

1. have a soft grey highlight when you click in a function in the editor
2. have a blue background "selected state" when you're paused in a function in the editor

I think this would really help make the outline view more useful as a way of seeing where you are...

[2018-11-16 20:44] jasonLaster opened #7295 "[PrettyPrint] you should see the pretty icon"
Here's a nice bug that *will* only became possible next week

- once we allow you to disable sourcemaps, it will be possible to pretty print files that have a sourcemap
- once you do that, you can pretty print a react file and then you'll want to see the pretty icon...
-but instead you see the react icon

STR:

1. go to https://4zj3qr7lx4.codesandbox.io/
2. open devtools, go to settings and disabl

[2018-11-16 22:13] #7272 closed

[2018-11-17 00:30] #7248 closed

[2018-11-17 10:36] P0lip commented on #7274
As stated, I didn't spend much time investigating the issue, but it seems like `mapOriginalExpression` 'rewrites' every Identifier that could be mapped. While this approach is usually correct, it does not work properly in case of destructuring.

I suppose the issue is caused by the following [traversal](https://github.com/devtools-html/debugger.html/blob/e189bec6c5bba435d4a71495f3d1715ed8cc548c/sr

[2018-11-17 19:14] ZhangYue-vhyt commented on #7160
/unclaim

[2018-11-17 19:17] ZhangYue-vhyt commented on #6952
/claim

[2018-11-17 19:54] ZhangYue-vhyt commented on #5975
My test is below:

Chrome:
![image](https://user-images.githubusercontent.com/9450184/48665176-0a06e800-ea78-11e8-94ff-4e3f6e1e512c.png)

Firefox:
![image](https://user-images.githubusercontent.com/9450184/48665182-23a82f80-ea78-11e8-9795-fc26d3789e4b.png)

It displays but not separated.

[2018-11-17 20:17] ZhangYue-vhyt commented on #6956
/claim

[2018-11-17 20:18] ZhangYue-vhyt commented on #6956
Right-click the tab, "Pretty print source" is displayed and works well. I guess this is a UI only issue.

[2018-11-17 23:19] blikblum commented on #5975
Just tested now with a updated Firefox Dev Edition, v64b10

There's no jsbin.com node, only static.jsbin.com:

![image](https://user-images.githubusercontent.com/3047126/48666719-5a993800-eaae-11e8-89d5-fb1fff4465f2.png)

[2018-11-17 23:39] ZhangYue-vhyt commented on #5975
There is `jsbin.com` node in my picture. I did the test with the latest debugger cloned from Github. I also typed Ctrl+k in Firefox, it is not there. So I guess even the latest Firefox Dev Edition doesn't have the latest debugger.

[2018-11-17 23:51] ZhangYue-vhyt commented on #6524
`debuggeeHost` is passed to `_getURL(source: Source, defaultDomain: string)` as `defaultDomain`. It is used as a part of the return value.

https://github.com/devtools-html/debugger.html/blob/bcd43e5944249b54c569006e72a414e7605d3874/src/utils/sources-tree/getURL.js#L96

[2018-11-18 17:32] jasonLaster commented on #6952
Wow. Looks pretty good.

@digitarald. Mind double checking

[2018-11-19 03:14] alessandrod opened #7301 "Debugger panel hangs for minutes if loading one or more source maps times out"
Steps to reproduce:

1) Go on airbnb.com
2) Open the debugger

<img width="1422" alt="screen shot 2018-11-19 at 13 40 38" src="https://user-images.githubusercontent.com/62002/48684223-d4dbd080-ec04-11e8-8f8b-dd4dec7ef028.png">

The problem is that loading source maps for most of Airbnb's bundles timeouts, as the files seem to be served only inside their network.

If you wait long enough for all th

[2018-11-19 03:14] alessandrod commented on #7301
/claim

[2018-11-19 09:43] #7288 closed

[2018-11-19 10:08] sennahLessert opened #7306 "Step In Button Shortcuts differs in Linux, Windows"
Hi

The step in button shortcut differs in linux and windows.
`const KEYS = {
  WINNT: {
    resume: "F8",
    stepOver: "F10",
    stepIn: "F11",
    stepOut: "Shift+F11"
  },
  Linux: {
    resume: "F8",
    stepOver: "F10",
    stepIn: "Ctrl+F11",
    stepOut: "Ctrl+Shift+F11"
  }
};`

To make usage easier use the same shortcut on each OS _IF_ it is possible.
So change step -in And step out Sho

[2018-11-19 13:30] nchevobbe opened #7307 "Crash when hitting Enter in Outline filter input"
**Steps to reproduce**
1. Go to `data:text/html,<meta charset=utf8><script>function b(){}</script>`
1. Open the debugger
1. In the sources panel, select the only source available
1. Open the Outline panel
1. In the filter input, hit <kbd>Enter</kbd>

**Expected results**

if there's only 1 item in the list, (for this example, it is the case with `b`), we should jump to the function definition.

**

[2018-11-19 19:21] digitarald opened #7309 "Hover on minified large code causes 5s delay"
STR: Opened debugger on Gmail and hit Pause.

https://perfht.ml/2A4FNkE

![image](https://user-images.githubusercontent.com/8599/48729544-afdb6380-ebec-11e8-8d47-5fb1a6a2053f.png)

Lots of GC caused by `locationKey`

![image](https://user-images.githubusercontent.com/8599/48729657-fe88fd80-ebec-11e8-837c-96f451e07c09.png)

`findBestMatchExpression` might suffer from cross-compartment wrapper

![im

[2018-11-19 21:02] ZhangYue-vhyt commented on #6956
/unclaim

[2018-11-19 21:49] yurydelendik opened #7312 "[WebAssembly] Assume Debugger.allowWasmBinarySource is always `true`"
Continuation of https://bugzilla.mozilla.org/show_bug.cgi?id=1492301:

If there is a configuration of allowWasmBinarySource, we need to remove that. The allowWasmBinarySource=false logic can be removed as well

[2018-11-19 22:32] #7307 closed

[2018-11-20 11:38] greenkeeper[bot] opened #7313 "An in-range update of eslint-plugin-mozilla is breaking the build 🚨"
## The devDependency [eslint-plugin-mozilla]() was updated from `0.16.2` to `0.16.3`.

🚨 [View failing branch](https://github.com/devtools-html/debugger.html/compare/master...devtools-html:greenkeeper%2Feslint-plugin-mozilla-0.16.3).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

eslint-plugin-mozilla is a devDependency o

[2018-11-20 16:37] jasonLaster commented on #7309
getCallSites should use reselect
https://github.com/devtools-html/debugger.html/blob/master/src/components/SecondaryPanes/Breakpoints/Breakpoint.js#L9-L10

[2018-11-20 18:32] #7016 closed

[2018-11-20 19:47] #7211 closed

[2018-11-20 22:32] Doomwyte commented on #7287
/claim

[2018-11-20 23:26] #6554 closed, assigned to yogmel

[2018-11-21 00:03] emmairwin opened #7319 "Code of Conduct Changes"
As per recommendations for inclusive project design,  that CODE_OF_CONDUCT.md be easily find-able, propose moving from .github to root.

Also because reporting method will be out of date with a new update of the Community Participation Guidelines, and to benefit from full text and updates  -  propose using this [Mozilla standard for Code of Conduct Template](https://github.com/mozilla/repo-templat

[2018-11-21 12:20] janodvarko commented on #6685
Is this fixed? I can't reproduce the new case described here:
https://github.com/devtools-html/debugger.html/issues/6685#issuecomment-432301947

For me the page breaks correctly in (mapped) file.

Honza

[2018-11-21 12:32] janodvarko commented on #3778
@digitarald: are the STR from comment #0 still valid? I don't see `init.js` when loading `bbc.com/news`

Honza

[2018-11-21 13:19] janodvarko commented on #3532
I have another test case:

STR:
1) Load http://softwareishard.com/tests/debugger/issue3532/
2) Open index.js file and pretty print it
3) Create BP on line 2
4) Click the `Click Me!` button on the page
5) BP doesn't hit => BUG

Interesting is that the test case does work online (given the URL above), but doesn't work when running locally on my web server with this URL:
http://10.0.3.111:8080/www/so

[2018-11-21 14:10] jasonLaster commented on #5519
Yes.

We can file a separate issue for the scrolling issue

[2018-11-21 14:10] #5519 closed

[2018-11-21 14:12] jasonLaster commented on #6685
It works well for me too

[2018-11-21 14:12] #6685 closed

[2018-11-21 14:13] jasonLaster commented on #3532
strange, it works for me too. It also works with reloading as well...

[2018-11-21 14:13] digitarald commented on #3778
@janodvarko updated the example with FB

[2018-11-21 14:22] jasonLaster commented on #5519
i can't reproduce the scrolling issue either!

[2018-11-21 18:30] loganfsmyth opened #7323 "Pretty-printing a file should move to the right line based on the position in the minified code"
Currently, if you come to the debugger from another pane, and _then_ pretty-print the file, you don't get take to the expected location. This may be related to work needed for https://bugzilla.mozilla.org/show_bug.cgi?id=1394998 but I'm filing it here to track the high-level user expectation for now.

Realistically, we should make sure this works nicely in primary workflows too. If you scroll down

[2018-11-21 19:22] violasong opened #7325 "Sad face from unmatched search UI is overly sad, and red text is too bright"
<img width="350" alt="image" src="https://user-images.githubusercontent.com/55994/48861796-58b6c980-ed79-11e8-969e-0ee035b3a753.png">

**Sad face:** I don't see an unmatched search as an error or something worthy of this much sadness. It could be a positive result (e.g. when making sure some old code no longer exists). However, I can see why the color change and icon change are helpful as a quick,

[2018-11-21 20:53] emmairwin opened #7327 "Add localization as a way to contribute"
I could add a PR to the contributing file, but assume  it's a bigger discussion of 'what, how and where'.  In our D&I research, someone suggested they would like to contribute to localization of the 'Getting Started' content.

cc /   @nmicht  who is a member of our cohort, and is already planning a PR to 'Getting Started' for English version.

[2018-11-21 21:10] emmairwin opened #7328 "Slack Welcomebot for Newcomers"
(inclusion tag)

In our D&I contributor research, experiences of some 'underrepresented in open source' newcomers to the Debugger channel were that they weren't always comfortable asking for a first-task, or help getting started.

Those who did ask, were warmly greeted, but for those who need a bit more encouragement - the recommendation is to add a Welcome bot to the Slack channel with some first

[2018-11-21 23:45] greenkeeper[bot] opened #7329 "An in-range update of wasmparser is breaking the build 🚨"
## The dependency [wasmparser](https://github.com/wasdk/wasmparser) was updated from `0.6.1` to `0.6.2`.

🚨 [View failing branch](https://github.com/devtools-html/debugger.html/compare/master...devtools-html:greenkeeper%2Fwasmparser-0.6.2).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

wasmparser is a direct dependency o

[2018-11-22 10:13] mcroud opened #7332 "Implement new column breakpoints UI"
The latest mockup of column breakpoint UI was approved on 21st Nov.
The UI can now be implemented.

**Image as reference:**
![column breakpoints 7_2x](https://user-images.githubusercontent.com/42435754/48896218-fd4f0f00-ee3e-11e8-81ef-da5f424d46b7.png)

[Mockup](https://mozilla.invisionapp.com/share/9KOC5HST4DP#/332638924_Column_Breakpoints_7) (Invision)

Past decisions have been captured in the [

[2018-11-24 12:09] greenkeeper[bot] opened #7337 "An in-range update of npm-run-all is breaking the build 🚨"
## The devDependency [npm-run-all](https://github.com/mysticatea/npm-run-all) was updated from `4.1.3` to `4.1.4`.

🚨 [View failing branch](https://github.com/devtools-html/debugger.html/compare/master...devtools-html:greenkeeper%2Fnpm-run-all-4.1.4).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

npm-run-all is a devDepe

[2018-11-25 03:02] ZhangYue-vhyt commented on #7295
Hi, Jason

Is it possible to pretty print files that have a sourcemap now? I did the following test with an updated branch.

The "pretty print" button doesn't show when I select Footer.js. If I pretty print it by the tab menu, an uncaught exception is popped, and `isPretty(source)` returns `false`. But yes, I see the react icon.

![image](https://i.imgur.com/rV0Uber.gif)

[2018-11-25 20:52] Archaeopteryx opened #7340 "[l10n] Modifier keys shown in shortcuts in menu should be localizable"
The modifier keys are shown for the shortcuts in the line context menu (right click a line number to get the menu to add a breakpoint or a conditional breakpoint).

German localizes shortcuts: "Ctrl" is "Strg", "Shift" is "Umschalt".

At the moment "CtrlB" and "CtrlShiftB" are shown with both Firefox 64.0b12 and 65.0a1 latest Nightly on Windows 8.1

[2018-11-26 10:36] princiya commented on #7328
Hi @emmairwin is this available? I can pick this one.

Also, in the `cc` list above, please delete `@psequeira`.

[2018-11-26 13:37] jasonLaster commented on #7306
CC @digitarald @janodvarko could you look into whether we should change these?

[2018-11-26 20:03] loganfsmyth commented on #7323
This looks like it is a duplicate of #3778.

[2018-11-26 20:03] #7323 closed

[2018-11-26 21:51] jasonLaster commented on #7328
Great idea!

[2018-11-26 23:37] cangreja533 commented on #7328
Great idea.
Hi, I'm from Colombia, one of the biggest difficulties is the language barrier, we do not all have good knowledge in English.

[2018-11-27 12:58] AnshulMalik commented on #7332
/claim

[2018-11-27 13:07] AnshulMalik commented on #7230
Any updates on this @akashs09 ?

[2018-11-27 13:42] acnair commented on #7227
Hi, I am new to FOSS is this a good first issue so that I can take it up and from here can i start contributing to Mozilla?

[2018-11-27 13:43] nchevobbe opened #7344 "Debugger pauses on thrown exception in blackboxed source"
Someone on IRC ran into an issue where:
- they had a webextension script blackboxed
- the `Pause on exception` checkbox turned on

An exception thrown by the blackboxed webextension script was pausing the debugger, which can be a bit annoying (even more for a webextension, because it's likely to not be *your* code)

[2018-11-27 13:56] nicofrand commented on #7344
If that can be of any help: I noticed it when using Firefox 64.0b11 (64 bits) with the LastPass extension.
I am indeed interested by exceptions in my code, not the web extensions.

[2018-11-27 15:17] nchevobbe opened #7346 "Create an ObjectInspectorItem component"
This should contain all node-related code, and will make the ObjectInspector code easier to read.

[2018-11-27 17:03] AnshulMalik commented on #7227
It's a good start @acnair

[2018-11-27 22:45] digitarald opened #7358 "Codepen frame index.html fails to load with network error"
STR:
- Open https://codepen.io/nachtigall/pen/odrdYN
- Navigate to index file on `s.codepen.io`

AR:
File fails loading with error shown in file:

[code]

[2018-11-27 23:36] emmairwin commented on #7328
@cangreja533 I wonder if there are bots that can personalize to language?

[2018-11-27 23:50] emmairwin opened #7353 "Merge all 'Getting Started' content into one file."
We keep running into a loop of documents that invite contributors to 'get started' and have observed the a set of files provide similar instruction OR loop between each other.   Also to consider localization of 'getting started' steps in future, this would be a dependency .

### Files with 'getting started'  content, or first-steps content:

* README
  * [Quick Setup](https://github.com/devtools-h

[2018-11-27 23:52] emmairwin commented on #7327
This would be dependent on #7353
@AnshulMalik talked a bit about how this *might* work (challenge that we keeping localized content up to date requires intention.   Doing some research to see how other projects handle this type of request.

[2018-11-28 01:15] jasonLaster commented on #7353
Thanks!

So, we don't promote the jekyll version. It is literally the same thing, maybe we just don't promote it or we find another way to describe it...

[2018-11-28 01:17] jasonLaster commented on #7327
it would be nice to have a `getting-started-locale.md` If we have a couple we can ping folks after a doc change lands to update it.

Also, github has the ability to add people as watchers of files so people could sign up to watch for changes to docs.

[2018-11-28 13:57] #7346 closed

[2018-11-28 18:11] jasonLaster opened #7360 "[breakpoints] update the skip pausing button copy"
Currently hovering on the button shows this copy "Skip all pausing". That is kind of a lie because in reality you'll just skip pausing due to breakpoints. Chrome's copy is "Deactivate breakpoints". I think that is a better option.

<img width="372" alt="image" src="https://user-images.githubusercontent.com/254562/49172523-4f94a200-f30f-11e8-9078-e7a545217dba.png">

[2018-11-28 18:14] darkwing opened #7361 "Exception reason stretches sidebar length"
<img width="325" alt="pauseexceptionwidth" src="https://user-images.githubusercontent.com/46655/49172543-ff194680-f306-11e8-9176-d8311dfbbcf2.png">

The red message should wrap.

[2018-11-28 21:14] AnshulMalik commented on #7361
STR:
1. Open https://davidwalsh.name/
2. Shrink debugger's right sidebar
3. In right sidebar, check `Pause on Exceptions`
4. In right sidebar, check `Pause on caught Exceptions`

Now you'll see the exception, if not, try to refresh.

[2018-11-28 21:45] jasonLaster commented on #7289
So this STR is really only for firefox running in the toolbox

STR:

1. add a breakpoint in source-documents.js#59
2. close the tab
3. close devtools
4. reload
5. open devtools
6. reload

[2018-11-28 22:05] #7217 closed

[2018-11-29 09:35] melirofman commented on #7360
Hi! Can I pick this one up?

[2018-11-29 11:19] ahopkins commented on #6140
Am I naive in thinking that this would be an easy addition? It would be SO valuable if it were accomplished. :pray:

[2018-11-29 11:40] inoyakaigor commented on #6140
@wesharehoodies @ahopkins I waiting for this feature too and if you look at referenced issues just above you see that @nchevobbe is working on it. I hope in near future we will get it.

To my regret this functionality will have a little bit visual noise: `<get a()>` and` <set a()>` instead of just `get a()` and `set a()`.

[2018-11-29 12:04] jasonLaster commented on #7360
Sure!

[2018-11-29 13:11] nchevobbe opened #7369 "ObjectInspector "store" isn't handled properly"
Since https://github.com/devtools-html/debugger.html/commit/eed51191ceaa85f90f4881c9ff04b0375f5169f1#diff-a52d809c971862e9fb04ea8dff213281 the `ObjectInspector` does not manage its own store, but provides a reducer for other store to consume.

Given how this is done, this means that some app stores (Console, Debugger), hold the state of **multiple** `ObjectInspector` instances in their store.

Thi

[2018-11-29 18:38] #7189 closed

[2018-11-29 21:16] emmairwin commented on #7327
@jasonLaster that's really interesting to learn about the codeowner/pings.

Also just for inspiration this project does a great job:  https://vuejs.org/v2/guide/installation.html

[2018-11-30 02:30] darkwing opened #7379 "SyntaxError: "with" in strict mode (2:0)"
I just spotted this when I refreshed the launchpad:

<img width="1282" alt="strictmodeerror" src="https://user-images.githubusercontent.com/46655/49264840-8523b300-f415-11e8-9c81-2e08f944e867.png">
<img width="1217" alt="strictmodecode" src="https://user-images.githubusercontent.com/46655/49264843-86ed7680-f415-11e8-9845-0cfe48eede52.png">

[2018-11-30 03:27] #6969 closed, assigned to nobody

[2018-11-30 03:27] #7139 closed, assigned to nobody

[2018-11-30 03:56] darkwing opened #7382 "Functions with `$` character misrepresented in Outline View"
I was on my site and looking at the following resource:

https://www.google-analytics.com/analytics.js

I switched to outline view and saw that the list looked out of order:

<img width="1424" alt="blingbling" src="https://user-images.githubusercontent.com/46655/49267722-6deac280-f421-11e8-8583-ec363ece729d.png">

It turns out our `simplifyDisplayName` function is stripping the `$` from function n

[2018-11-30 09:07] nchevobbe opened #7383 "Getter/Setter nodes of Window should go under <default properties> when applicable"
**Steps to reproduce**
1. Evaluate `window`
2. Expand the node

**Expected results**

Every default properties is under a `<default properties>` node.

**Actual results**

The getter and setter nodes are directly under `window`, cluttering the OI

[2018-11-30 13:36] nchevobbe commented on #7382
affects console trace as well:

[code]

outputs:
[code]

So `$a` becomes `a`.

It would be nice to fix this before the merge day

[2018-11-30 16:53] #7382 closed

[2018-11-30 17:43] jasonLaster opened #7389 "Fix perf regressions from 104 & 105"
https://firefox-dev.tools/performance-dashboard/tools/debugger.html?days=14&filterstddev=true&ignoreFlags=true

I think 104 made the first bump (edited)
this push https://hg.mozilla.org/mozilla-central/pushloghtml?fromchange=a12d80e08655c13245add6f6dacc91f8a6d9cf89&tochange=4b9f8acdf5f780ed38490f40a74bb33cac3f264d landed 104 -> +5%

then it got backed out in https://hg.mozilla.org/mozilla-central/

[2018-11-30 19:17] Akryum commented on #6140
Yay! :heart_eyes_cat:

[2018-11-30 21:07] P0lip commented on #7274
/claim

[2018-11-30 21:29] edwardwall commented on #7201
/claim

[2018-12-01 14:55] Loirooriol opened #7395 "Allow to reevaluate getters"
Consider `({get a() {return Math.random()}})`

I can only run the getter once. I would like to be able to run it again in order to see the updated value.

[2018-12-01 15:01] Loirooriol opened #7396 "Add a way to evaluate setter properties"
#6140 added a way to evaluate getters, but not setters.

I think setters should have an "invoke setter" button which shows some kind of input box when clicked. Then I should be able to enter some code there, which will be evaluated and the result will be passed to the setter.

[2018-12-01 15:14] Loirooriol opened #7397 "Consider evaluating getters in the root object"
It's usual to define getters in a function prototype so that they will be inherited by the instances. Usually it makes no sense to call the getter in the prototype itself.

For example, consider:

[code]

You can inspect the `<prototype>` and run the `double` getter but you will only get `NaN` because the prototype has no `num` property.

I think it would be more useful to evaluate the getter in t

[2018-12-01 19:11] MarkKrutik opened #7398 "When running Yarn test, a couple of tests fail"
Thanks for filing an issue!

If you're reporting a bug, please share a clear description of the problem and the steps needed to reproduce the problem.  It's also helpful to include a gif, screenshot, and minimal test case.

* you can find us in slack: https://devtools-html-slack.herokuapp.com/
* our tips on formatting issues: https://github.com/devtools-html/debugger.html/blob/master/docs/issues.m

[2018-12-03 05:16] notjaril opened #7407 "TCP connection error on setup"
Error repeatedly thrown immediately after setup using default config:

[code]
Doesn't seem to affect debugger functions, though it can be misleading to beginners to the project. The error seems to stem from the default setting `webSocketConnection: false` in configs/development.json.

The error is thrown from devtools-launchpad/bin/firefox-proxy, which is called when `webSocketConnection: false`.

[2018-12-03 20:41] ShaguftaMethwani commented on #1069
Sorry for commenting 2 years late, but I have this issue and apparently the shortcut doesnt exist anymore, shift+f2. Any idea how can i access the debug console?

[2018-12-03 22:18] snehansh commented on #6802
I have encountered this error. How to fix it, I was not able to follow this thread to find out how to resolve.
I have taken a new checkout and was expecting the selenium-driver and gecko driver to be installed with the correct versions when I do yarn install.

[2018-12-04 15:51] reCursedd commented on #7407
Was facing this issue. How to go about resolving this issue?

[2018-12-04 16:16] pradeepgangwar commented on #7223
/claim

[2018-12-04 16:39] AnshulMalik commented on #7407
I think we should change it's default value to `true` since launchpad I think is used with just firefox where port 6080 is not open.

[2018-12-04 17:17] kenjiO opened #7414 "[breakpoints] remove XHRBreakpoints immutable wrapper"
Remove immutable.js code from the XHRBreakpoints in the breakpoints reducer.

[2018-12-04 17:19] kenjiO commented on #7414
/claim
@jasonLaster When I worked on #7202 I didn't do the XHRBreakpoints.  Do you still want to do those?

[2018-12-04 17:57] acnair commented on #7227
hey, @AnshulMalik could you check it?

[2018-12-04 18:39] #7227 closed

[2018-12-04 19:02] nchevobbe commented on #7397
I agree that we should see the `double` property in the root, I'll try to find why we don't

[2018-12-04 21:55] Loirooriol commented on #7397
It doesn't appear in the root because it's not an own property and it's not a safe getter.

[2018-12-05 01:15] #7398 closed

[2018-12-05 01:48] #7245 closed

[2018-12-05 01:50] darkwing commented on #7225
I disagree with the "unification" here; while the Sources pane could act as its own tab, the Outline tab cannot -- it needs some relationship to a given tab and thus both must be highlighted.

[2018-12-05 01:50] #7225 closed

[2018-12-05 01:56] #6930 closed

[2018-12-05 01:59] #6952 closed

[2018-12-05 02:07] darkwing commented on #6790
Closing because it represents the actual URL.

[2018-12-05 02:07] #6790 closed

[2018-12-05 02:33] #6777 closed

[2018-12-05 12:37] jasonLaster commented on #6777
🍷

[2018-12-05 13:03] acnair commented on #7360
@jasonLaster Hi I see that @melirofman is already working on it! But just curious where do we make the changes or where is this issue as in more precise area?

[2018-12-05 13:35] AnshulMalik commented on #7230
Hey @akashs09 if you don't mind, @acnair can grab this one.

[2018-12-05 13:55] AnshulMalik commented on #7085
We have renovate now :)

[2018-12-05 13:55] #7085 closed

[2018-12-05 15:03] violasong opened #7425 "Search field polish"
**Find in File:**

Pretty print/blackbox buttons, modifier buttons, and x button should have the same background hover highlight as other buttons in devtools.

(Same for all other buttons in Debugger, but most of them at least have a subtle highlight. Especially in need of an update are pretty print/blackbox (overlaps at the top) and any buttons in dark mode (too subtle))

**Quick Open:**

In dark

[2018-12-05 15:10] violasong opened #7426 "Outline View dark mode color polish"
These two instances of blue should be replaced by the deeper blue color used in the other search focus outlines, tab highlight, etc.
<img width="310" alt="image" src="https://user-images.githubusercontent.com/55994/49522519-d7c9f880-f875-11e8-81cf-7018d8affa26.png">

[2018-12-05 15:12] acnair commented on #7230
@AnshulMalik thank you! I will look into it ASAP!

[2018-12-05 15:54] #7361 closed

[2018-12-05 17:06] notjaril commented on #7426
I can claim this :)

[2018-12-05 17:51] #7283 closed

[2018-12-05 18:00] AnshulMalik commented on #7426
Sure @notjaril It's all yours :)

[2018-12-05 20:21] notjaril commented on #7426
@violasong Just wanted to clarify. You mentioned the focus outlines and tab highlight as the "deeper blue color", but it seems both of those are different colors in the first place.

Collected the current colors being used for reference:

Element | CSS Var | Light Theme | Dark Theme |
| --- | --- | --- | --- |
Outline Filter |--theme-highlight-blue | #0074e8 | #0a84ff |
Sort By Name Button | --the

[2018-12-05 21:04] violasong commented on #7426
Thanks for this investigation - by search focus outline, I meant the 1px wide border around the input field (which is #0084FF like the tab highlight). So yes, it would be great if you could change --theme-highlight-blue to --tab-line-selected-color. (I think the other color will be too dark here.)

[2018-12-05 21:05] violasong commented on #7426
Oh wait, I take that back - theme-highlight-blue is being used everywhere as the main syntax highlighting color in dark mode, so it shouldn't be changed from its light-colored blue. You probably need some other variable for these to change them to #0a84ff (It's also called Blue 50 in the code)

[2018-12-05 21:08] violasong commented on #7426
Ah, and sorry to make this more complicated, but I realized the Sort by Name icon should indeed be that darker clolor (#204e8a) so that it matches the toggle buttons in network/console.

[2018-12-06 11:13] pradeepgangwar commented on #7223
@jasonLaster @Loirooriol I don't think this needs changes in this repo. Please let me know if i am missing something.

[2018-12-06 18:53] AnshulMalik opened #7433 "Add renovate section in package.json"
Renovate has been trying hard to pin dependencies for a while now.
We can ask it to not make any attempts for pinning dependencies, by doing:

📌 Important: Renovate will wait until you have merged this Pin PR before creating any upgrade PRs for the affected packages. Add the preset :preserveSemverRanges your config if you instead don't wish to pin dependencies.

Add this preset `preserveSemverRang

[2018-12-06 19:03] kenjiO opened #7434 "Unresponsive script message when opening sources"
STR  (on Mac OS)

1. delete `firefox/obj-x86_64-apple-darwin16.7.0/tmp/profile-default` to create a new profile on startup
2. mach run
3. select "Firefox Privacy Notice Tab"
4. Open Debugger
5. Expand Sources
6. Click on various sources

After clicking on a few sources I start to get the beach ball cursor and then get the **Warning: Unresponsive Script** popup

<img width="445" alt="screen shot 20

[2018-12-06 19:06] nchevobbe commented on #7434
I had a few of those in the last days too

[2018-12-06 21:28] magsout opened #7435 "Breakpoint is changing after reloading"
When diagnosing the webcompat issue https://github.com/webcompat/web-bugs/issues/22279
this issue happens

STR:
0. With Firefox 65.0a1 (2018-12-05) (64-bit)
1. Go to https://shop.lego.com/fr-FR/
2. Open Console.
3. Click on TypeError: e is null; can't access its "functional" property
4. click on braces to pretiffy the code
5. Go back to console
6. Click again on Typerror to get to the source at th

[2018-12-06 21:43] magsout commented on #7435
screencast of the issue
https://imgur.com/a/xuSozgJ

[2018-12-07 02:51] Loirooriol commented on #7223
@pradeepgangwar This didn't happen when the code was in devtools-core. I guess babel is misconfigured here and breaks the code.

[2018-12-07 04:13] WenInCode commented on #6094
I started to take a peak at this.

From the [debugger ux review doc](https://docs.google.com/document/d/1BhrOmy8kLOMOcJ5UgY7zlWuxnb3t6LfYbbVWULpcr54)

Big performance issue - should show first e.g. 10 results for each file, with more button

I did a quick spike into limiting matches per file, it definitely sped big searches up a lot. I searched for "e" on gmail before and it would time out, but af

[2018-12-07 04:13] WenInCode commented on #6094
/claim

[2018-12-07 11:44] pradeepgangwar commented on #7433
/claim

[2018-12-07 14:03] #7433 closed

[2018-12-07 17:11] violasong commented on #7426
Yes, this looks great! Thank you @notjaril!

[2018-12-07 17:14] armenzg opened #7445 "Cannot follow link to failing code"
[Edit] I've removed some info from the bottom of this issue and added some screenshots.

I have a private React app where I cannot get to the the code that's failing (see [1])
I can give you access to clone it.
I have to apologize as I should have filed this issue ages ago as I find it to happen quite often.

STR:
* Checkout code
* yarn && yarn start
* Load http://localhost:5000/?ldapEmail=someone

[2018-12-07 19:30] darkwing commented on #6956
@loganfsmyth Can you weigh in on this?  I tried the STR and I agree with Kenji (we don't show the pretty button when a source map is present)...shouldn't this source be pretty because a map is present?

[2018-12-07 19:34] darkwing commented on #7325
@violasong Where can I find the warning icon?  Do we use it anywhere else?

[2018-12-07 19:37] staabm commented on #6956
I agree that when the source would be properly formatted, I wouldnt miss the button :-)

[2018-12-09 01:36] acnair commented on #7360
@kenjiO thanks for the update but what I can't figure out is where to use the ```L10N.getStr()``` .

[2018-12-09 19:49] darkwing commented on #3282
Since XUL is going away, and this didn't work in the previous debugger, can we close this?

[2018-12-09 22:54] darkwing commented on #5974
@jasonLaster Did you fix this?

[2018-12-09 22:56] #5844 closed

[2018-12-09 22:56] #5638 closed

[2018-12-09 23:07] darkwing commented on #6213
Tested this and don't see the issue.

[2018-12-09 23:07] #6213 closed

[2018-12-09 23:10] #6437 closed

[2018-12-09 23:12] darkwing opened #7464 ""Invalid Expression" text and style should go away when blurred"
When we blur from the expressions element, we should clear its state so that the error styling and message does not persist.

<img width="1276" alt="invalidexpression" src="https://user-images.githubusercontent.com/46655/49704195-91f29480-fbd5-11e8-83a6-d26eb4f4e72d.png">

[2018-12-09 23:18] darkwing commented on #6295
@janodvarko Can you reproduce this?

[2018-12-09 23:35] darkwing commented on #6744
@violasong @mcroud  Could we use Firefox's green background highlight in the debugger instead of trying to search matches?  It would make life so much easier.  Also, what green color is this?

[2018-12-09 23:37] darkwing commented on #6733
Your work was amazing @jainsneha23!  Thank you so much!

I'm going to look into improving the logic this week, so let's keep it open for now.  Thank you!

[2018-12-09 23:54] darkwing commented on #6711
I feel like a re-ordering feature may be a bit much but the idea of a "pinned" tab makes sense to me.  I can see a scenario where someone would want 2-3 given tabs always displaying first.

[2018-12-09 23:55] notjaril opened #7465 "Module scope objects not displayed properly when paused in debugger"
## Expected behavior:

When paused in a breakpoint within a .js file with `type="module"`, it should correctly display the module's scope block on the right sidebar.

## Actual behavior:

Instead, only `<this> : undefined` is displayed in that block.

## Screenshots:

#### text/javascript
`<script type="text/javascript" src="main.js"></script>`

<img width="619" alt="screen shot 2018-12-09 at 3 18

[2018-12-10 01:33] darkwing commented on #7134
I'm willing to bet this hang is due to our adding a billion column breakpoint markers.  We've since (1) pref'd off column breakpoints and (2) only present column breakpoints for items in viewport.  I'm betting this no longer occurs.

[2018-12-10 02:37] Loirooriol commented on #6108
@darkwing It's devtools-html/devtools-core#989

[2018-12-10 02:56] darkwing opened #7473 "Tab Context Menu Doesn't Take Into Account Pretty URLs"
The "Close Other Tabs" and "Close Tabs to the Right" items don't take into account that the URLs are the same *but the other tab(s) is pretty printed*:

<img width="442" alt="tabbz" src="https://user-images.githubusercontent.com/46655/49708336-df322e80-fbf4-11e8-84e5-8b555564b468.png">

Obviously those items should be enabled since there's more than one tab.

[2018-12-10 03:00] darkwing opened #7474 "Breakpoint Headings Should Have Context Menu"
It would be nice to have a context menu here to:

- "Disable breakpoints" - just in this source
- "Enable breakpoints" - just in this source
- "Remove breakpoints" - just in this source

[2018-12-10 08:58] #7295 closed

[2018-12-10 09:58] fvsch commented on #6744
As a side note, I'm not sure how the Debugger's CSS is built, but there is a bit of duplication. The search highlight styles are defined (identically) in 2 different style sheets.

<img width="458" alt="screenshot" src="https://user-images.githubusercontent.com/243601/49724777-67065000-fc6a-11e8-9631-10bc68d887fe.png">

[2018-12-10 11:16] AnshulMalik commented on #7464
I think we should try to add the text currently in state on blur, since some people use tabs instead of enter.
And I just looked it on chrome, chrome also tries to add whatever use typed as watch expression.

[2018-12-10 13:45] nchevobbe commented on #6121
Sure!
So here's the place where the attributes are created: https://github.com/devtools-html/debugger.html/blob/09be11c85725bbd0d2deeacf22a824c0b27d5e32/packages/devtools-reps/src/reps/element-node.js#L145-L147
We already call the `StringRep`, but without any `cropLimit`  (https://github.com/devtools-html/debugger.html/blob/09be11c85725bbd0d2deeacf22a824c0b27d5e32/packages/devtools-reps/src/reps/s

[2018-12-10 15:00] #7426 closed

[2018-12-10 15:33] armenzg commented on #7445
@darkwing I believe this new information should help.

I have created a public repo with a smaller testcase.
In this case I have more messages [1] in the console, however, you can still see a case where the link is not usable (TypeError: can't convert undefined to object [index.js line 44 > eval:22:47](http://localhost:5000/assets/index.js%20line%2044%20%3E%20eval) --> view-source:http://localhost

[2018-12-10 15:51] nchevobbe commented on #7445
I'll have a look tomorrow, as it looks like it can be a console issue.

Le lun. 10 déc. 2018 à 16:33, Armen Zambrano <notifications@github.com> a
écrit :

[2018-12-10 15:51] nipuna777 commented on #6121
/unclaim

Unclaming this now because I've not made much progress and @darkwing is interested in taking it on.
Sorry if I held this task up.

[2018-12-10 15:51] nipuna777 commented on #6121
/unclaim

[2018-12-10 16:39] ganes1410 commented on #7201
Hey @edwardwall. Are you currently working on this ?

[2018-12-10 17:23] darkwing opened #7477 "PrettyPrint: uncaught exception: Error: Line numbers must be >= 1"
STR:

1.  Open any JS tab
2.  Click pretty print button
3.  (Everything works)
4.  Close pretty tab
5.  Click pretty print button again
6.  No pretty tab opens, see error:  `uncaught exception: Error: Line numbers must be >= 1`

[2018-12-10 18:34] darkwing commented on #7435
Thank you for filing this @magsout!  We're looking to improve breakpoint quality and this is very helpful!

[2018-12-10 18:43] darkwing commented on #7425
What color is that?

[2018-12-10 18:50] darkwing commented on #7358
I couldn't reproduce this.

[2018-12-10 18:54] darkwing commented on #7309
We're using `visibleColumnBreakpoints` so this complete.

[2018-12-10 18:54] #7309 closed

[2018-12-10 19:49] jasonLaster commented on #7435
@magsout is this simlar - https://github.com/devtools-html/debugger.html/pull/7342

[2018-12-10 19:49] jasonLaster commented on #7201
@ganes1410 feel free to run with it

[2018-12-10 19:50] codingnninja commented on #7184
/claim

[2018-12-10 19:52] #6733 closed

[2018-12-10 19:53] jasonLaster commented on #6711
I feel like both of these features can be added to the icebox. Neither feels like an immediate goal for the team, but we would be happy to review PRs.

[2018-12-10 19:53] #6711 closed

[2018-12-10 19:54] jasonLaster commented on #5974
yep

[2018-12-10 19:54] #5974 closed

[2018-12-10 19:57] jasonLaster commented on #7223
I think this was done in m-c. Thanks

[2018-12-10 20:00] #6789 closed

[2018-12-10 20:09] #6703 closed

[2018-12-10 20:12] #6552 closed

[2018-12-10 20:20] darkwing commented on #6549
@janodvarko Could you try this again on your Win 10 machine?

[2018-12-10 20:24] #6448 closed, assigned to nobody

[2018-12-10 20:33] darkwing commented on #6257
Could not reproduce.

[2018-12-10 20:33] #6257 closed

[2018-12-10 20:33] #6290 closed

[2018-12-10 23:37] kenjiO commented on #7360
@acnair In the case of this issue the L10N.getStr function is called [here](https://github.com/devtools-html/debugger.html/blob/04ee6a4b2d805ba5ba53eb48f167897182366099/src/components/SecondaryPanes/CommandBar.js#L273)

[2018-12-11 00:04] edwardwall commented on #7201
/unclaim

[2018-12-11 00:49] kenjiO commented on #6711
OK.  I was putting this off because there were a lot of other PRs dealing with tabs that I didn't want to interefere with.  If you ever want to implement this feature let me know.

[2018-12-11 04:30] ganes1410 commented on #7201
/claim

[2018-12-11 06:32] rjairath commented on #7425
Hi,
I would like to work on this issue

[2018-12-11 07:49] magsout commented on #7435
@jasonLaster oh yes it would seem. Sorry to open a new issue.

[2018-12-11 07:49] #7435 closed

[2018-12-11 08:46] nchevobbe commented on #6121
The patch looks good to me, and it does work well.
Regarding the `title, it is added to the DOM, but I can't have a tooltip to be displayed, that's weird.

[2018-12-11 08:59] jainsneha23 commented on #7190
@jasonLaster  I am able to download the generated file. But on the sourcemap part, what is the exact requirement? to save the source-map file as it is? If yes, the devtools-source-map doesn't export the source map text as is. So, I will  need to create a PR there , to first export sourcemap text, and then use it here.

[2018-12-11 09:37] jainsneha23 commented on #7477
/claim

[2018-12-11 09:52] nchevobbe commented on #7445
so, simpler STR:

1. Go to `data:text/html,<meta charset=utf8><script>eval('console.log("hello")')</script>`
2. Open the console
3. Click on the location for the "hello" message

-> the following page opens `view-source:data:text/html,<meta charset=utf8<script>eval('console.log("hello")')</script> line 1 > eval`, instead of the debugger.

So here, the original issue is probably because of hot relo

[2018-12-11 10:42] jnachtigall opened #7483 "Mouse scrolling in "Go to file" jumps back to top"
STR:
1. CTRL+P and enter a search that will show up enough results to have scrollbar, maybe just a single letter like `a`
2. Use mouse to scroll **down**

AR:
Scrollbar always jump back to top automatically (I guess back to the first selected item)

ER:
Mouse scrolling should work and if I scroll down this position should be kept. FWIW the keyboard arrows keys UP / DOWN work

Here's what it behave

[2018-12-11 10:52] jnachtigall commented on #7483
In fact the QuickOpenModal always jumps to selected (highlighted) item. If you navigate with UP / DOWN keys to a file in the middle of the modal and then use the mouse scrolling then it also always jumps back to highlighted / selected item.

Using Windows.

[2018-12-11 14:10] janodvarko commented on #6549
I can't see the `scripts.js` file in the Sources panel anymore. There are: app.js, runtime.js and vendors.js
When selecting these files (under `assets/js`) I can properly see their content.

Honza

[2018-12-11 15:02] nchevobbe commented on #7395
the idea would be to display a "refresh" button before or after the result of the getter invoke.
We could even have a timestamp on this button which could look like: "Refresh evaluation - Last evaluation at 12:09:23".

[2018-12-11 15:25] darkwing commented on #7425
Sounds good @rjairath !  I can't wait to see what you come up with!

[2018-12-11 15:42] miketaylr opened #7485 "Unresponsive script in pausePoints.js when trying to debug pretty printed site"
<img width="426" alt="screen shot 2018-12-11 at 9 23 00 am" src="https://user-images.githubusercontent.com/67283/49811206-bca53000-fd30-11e8-95a0-8e14655bf640.png">

This reproduces for me in DevEdition 65b2 and Nightly 66 on OSX.

STR:

1. Navigate to https://docs.arnoldrenderer.com/display/A5AFMUG/Arnold+for+Maya+User+Guide
2. Open DevTools
3. Click on the image of the 3d model space guy
4. Clic

[2018-12-11 15:43] miketaylr commented on #7485
(https://bugzilla.mozilla.org/show_bug.cgi?id=1512132 is what lead to this particular site)

[2018-12-11 15:56] jasonLaster commented on #7485
@miketaylr we broke this last week... working on a fix now

[2018-12-11 17:51] kenjiO commented on #7485
Is this also what is happening in #7434?

[2018-12-11 18:02] jasonLaster commented on #7434
yep. closing this as it is a dupe of #7485

[2018-12-11 18:02] #7434 closed

[2018-12-11 18:04] emmairwin commented on #7328
We are tracking this issue here: https://github.com/maintainercohort/cohort-repo/issues/12

And have a test instance of Slack setup here https://join.slack.com/t/opensourcemaintainer/shared_invite/enQtNTAwNTg1Njk2NzIxLTFkYzZhNWU1NDA0YjI4YmZkZjJiODVjOTdmM2E0M2RkYmMzOWFlMDJiMjM4YjA1OTliYWM2MWNhZjIyODY0ODg

Currently with greetbot.

[2018-12-11 19:44] #6700 closed

[2018-12-11 23:44] violasong commented on #7425
Oh haha, great question - I realized it's currently pretty inconsistent across DevTools. I just really noticed it in Debugger because the pretty print has that overlapping problem, and the stepper icons have a non-photon blue-ish hover.

I think we should change all button hover backgrounds to match the more contrasted gray color of the top-level tab highlight. We can do that for Debugger in this

[2018-12-11 23:53] violasong commented on #7425
Overall DevTools bug: https://bugzilla.mozilla.org/show_bug.cgi?id=1513414

[2018-12-12 01:10] notjaril commented on #7464
I've modified #7467 to the original spec laid out by @darkwing.

As for adding the text in state on blur, similar to how Chrome handles it, I'm not sure it's ideal. I'm hesitant to infer that the user meant to add the current input just because onBlur was triggered.

If there were enough people using Tab instead of Enter it could make sense to have them behave the same, but I wouldn't infer that f

[2018-12-12 03:46] Loirooriol commented on #7223
@jasonLaster This is still broken, please reopen.

[2018-12-12 06:58] nchevobbe commented on #7223
i'm looking into this

[2018-12-12 10:37] gerdneuman opened #7490 "[QuickOpenModal] Bold font of highlighted <mark>'s are blurry on Windows"
Similar as https://github.com/devtools-html/debugger.html/issues/5584#issuecomment-389837621

On Windows the bold font when `Ctrl+P` are "blurry", just look at the letter `a` in bold `react` (you might need to middle-click on the images to have them open full width on a new tab):

![image](https://user-images.githubusercontent.com/12525563/49863559-d2822600-fe00-11e8-8547-df7321f4b01a.png)

Compar

[2018-12-12 10:46] gerdneuman opened #7491 "Shortcut `Ctrl /` not working on German keyboard"
On a German keyboard the shortcut `Ctrl + /` is not working.

I guess because the `/` is `Shift + 7` on a German keyboard layout. Pressing `Ctrl + Shift + 7` does nothing.

See https://en.wikipedia.org/wiki/German_keyboard_layout#General_information Notice, that `/` is on top of `7` and needs `Shift`

[2018-12-12 10:59] gerdneuman opened #7492 "Shortcut labels should have `+` and without space in between Keys"
At least on Windows and Linux all Firefox shortcuts have the notation of `+` between keys to be pressed at the same time. Also true for most other application on these platforms. I do not know about Mac though.

1. Almost correct: Only inconsistency here is that there should be no `space` in between the `+`.

![image](https://user-images.githubusercontent.com/12525563/49864954-ee3afb80-fe03-11e8-9

[2018-12-12 12:48] rjairath commented on #7425
/claim

[2018-12-12 14:07] #7223 closed

[2018-12-12 14:53] nchevobbe commented on #7395
Yes, it should be something like:

[code]

user clicks on `>>`
[code]

with a `title` on the `🔄` to indicate "evaluated at 12:42 - click to evaluate again" (or something similar)

[2018-12-12 14:55] darkwing opened #7493 "[Tracking] Breakpoints"
This will track bug fixes and improvements to our breakpoint handling.

- [x] breakpoints do not appear in gutter on open (https://github.com/devtools-html/debugger.html/issues/7289)
- [ ] Breakpoint doesn't survive any attempts at reloading the page (https://github.com/devtools-html/debugger.html/issues/7260)
- [ ] Column Breakpoints gets Added to next line (https://github.com/devtools-html/debug

[2018-12-12 15:18] fvsch commented on #7490
First thing that comes to mind is that box-shadow should probably be black in the dark theme, and not some shade of medium gray.

But on the current topic: I'm not sure we can do much better without bumping the font-size. And we're already at 12px, which is our "big" font size, used for tabs and panel headers, so I'm reluctant to go for a bigger font-size. Not sure if Chrome is getting better resu

[2018-12-12 17:54] darkwing opened #7494 "Restyle Tabs"
Idea from @jainsneha23:

[2018-12-13 01:40] violasong commented on #7325
We're using it console, and it's also here https://design.firefox.com/icons/viewer/#warning

Although I think my favorite solution would be https://design.firefox.com/icons/viewer/#info plus the console dark red error text color

[2018-12-13 01:42] #6580 closed

[2018-12-13 03:56] darkwing opened #7497 "Restructure Context Menus"
We have some really awesome context menus that make using the DevTools debugger easier and more effective.  Each context menu was custom created at the time of need which was great when they were implemented but, a few years in, I think we can take a step back and broaden both their code structure and visual structure.

We should create context menu "sections", which would include:

- Breakpoint (

[2018-12-13 05:39] jainsneha23 commented on #7494
Something like this?

<img width="453" alt="screenshot 2018-12-13 at 11 08 08 am" src="https://user-images.githubusercontent.com/8366397/49917993-7209ec00-fec7-11e8-8a6d-792e473d49d5.png">

[2018-12-13 06:35] #7397 closed

[2018-12-13 06:37] #6121 closed

[2018-12-13 08:19] Art-Vanderlay commented on #7492
Hello, I'm a newbie here. Can I work on this issue?

[2018-12-13 08:21] fvsch commented on #7494
Playing around in the Browser Toolbox, this is what I get:

<img width="1213" alt="screenshot" src="https://user-images.githubusercontent.com/243601/49924846-8cd46480-feb7-11e8-9f53-53c79843347f.png">

1. Align style with the toolbox tabs
2. Add a `devtools-separator` between the "show/hide sidebar" button and the tabs (forgot to add one on the right too). This separator can be made to align clean

[2018-12-13 08:34] nchevobbe commented on #7492
Hello @Art-Vanderlay , thanks for offering help!
You can have a look in this function https://github.com/devtools-html/debugger.html/blob/c2c32a820018fad6310d3af9d30b4a257d8b9efb/src/utils/text.js#L29-L40
The shortcut are defined like this one: https://github.com/devtools-html/debugger.html/blob/7d20a5f91e96a7f00a7d74073875842f0dd495e6/assets/panel/debugger.properties#L191

So `CmdOrCtrl+P`, then

[2018-12-13 08:35] nchevobbe commented on #7492
You can use `/claim` on a comment, and the bug will be assigned to you

[2018-12-13 09:14] Art-Vanderlay commented on #7492
Thanks a lot. I'll get started very soon. /claim

[2018-12-13 09:17] gerdneuman commented on #7490
Here's what the fonts tab says (Windows 10):

![image](https://user-images.githubusercontent.com/12525563/49927247-c27c4c00-febd-11e8-854a-df0b21a98089.png)

Yeah, though personally I find changing the background color a bit "too much". VSCode and Chrome (also) seem to use brigther font colors. Highlighted is blue (VSCode) or white whereas the unhighlighted text is a bit more greyish.

[2018-12-13 09:29] gerdneuman opened #7498 "StartPage shortcuts and their description font proportions are reversed on Windows vs Linux"
(Sorry, for nitpicking but I always notice such very small inconsistency with half an eye, which makes the product look less polished than it could be)

On Linux the font of the shortcut is bigger than its description. Compare letter `P` (of `Ctrl P`) with letter `G` (of `Go to file`) on first line:

![image](https://user-images.githubusercontent.com/12525563/49928609-cb225180-fec0-11e8-8ffd-38fcd

[2018-12-13 10:20] sennahLessert commented on #7306
any progress on that issue?

[2018-12-13 10:48] fvsch commented on #7498
Yes, this situation could be improved somewhat.

Though we are never going to have the exact same look here because we use system fonts. That means different fonts on each platform, and on Linux there are dozens of possible results depending on the distribution, distribution version, packages installed, etc.

Anyway, I would advise:

1. Using the `var(--monospace-font-family)` variable for the sho

[2018-12-13 10:50] fvsch commented on #7498
Just noticed that on your Linux screenshot, `font-family: Courier` results in a variable-width, serif font being picked. This is why one should _always_ specify the generic font family, e.g. `font-family: Courier, monospace;`. :)

[2018-12-13 11:03] fvsch commented on #7498
Would be nice to make the text a bit more contrasted. E.g. using `color: var(--theme-body-color)`
 for the keyboard shortcut. And we can probably use Flexbox to visually center content.

![screen shot](https://user-images.githubusercontent.com/243601/49934416-97e6bf00-fece-11e8-9a17-e261626bb280.png)

[2018-12-13 15:06] fvsch commented on #7494
We should also remove this code which was probably made for the old toolbar style (30px height instead of 28px and tabs aligned to the bottom rather than centered):

[code]

[2018-12-13 16:49] darkwing commented on #7325
Could we go with a yellow?  Red seems harsh, like there's an error

[2018-12-13 16:50] nchevobbe commented on #7325
Whatever we decide here, let's also have a follow up for the reverse search on the console. We used red to match the debugger when there's no result, so we should keep it in sync :)

[2018-12-13 19:28] darkwing opened #7501 "Breakpoints slide to a different line"
STR:

1.  Open the following source:  https://firefox-dev.tools/debugger-examples/examples/todomvc/js/models/todo.js
2.  Click on line 4

You'll see the gutter breakpoint and 2 column breakpoints display very briefly, then see them disappear, while a breakpoint is added to line 11.

Our pause points look as follows for line 4:

<img width="685" alt="genlo" src="https://user-images.githubuserconten

[2018-12-13 20:32] jasonLaster opened #7502 "[Scopes] are not updating"
I'm noticing a pretty disconcerting bug. It is possible to pause and see an out of date or different version of a variable in the scopes pane.

Also clicking on the out of date item in the scope pane does not toggle it.

<img width="841" alt="screen shot 2018-12-13 at 3 28 22 pm" src="https://user-images.githubusercontent.com/254562/49965779-29b0f500-feec-11e8-9248-28812db82432.png">

[2018-12-13 20:36] kenjiO opened #7503 "Remove object-rest-spread package"
As of #7489, `@babel/plugin-proposal-object-rest-spread` is no longer used so it can be taken out of package.json and the yarn lockfile.  This could be a good first issue.

[2018-12-13 23:11] baronKilljoy commented on #7325
I am new but would like to give this a try, assuming a final decision is made on icon and color.

[2018-12-13 23:31] violasong commented on #7325
Ah, I was still thinking red was fine because its what is used for Firefox in-page search, but I know what you mean about the error part. Even yellow/warning is a little wrong.

What if it looked like this? The other searches could follow suit, so instead of "0 results" way to the right of the input in find in file, it would be pretty front and center.

<img width="619" alt="image" src="https://us

[2018-12-13 23:50] rivalDevYP commented on #7325
I was thinking Orange? Specifically this: `color: #FF850B;`

Let me know...

[2018-12-13 23:57] violasong commented on #7325
(Oh and the text could say 0 results instead of not found of course)

We're trying to choose a more neutral design for this so that it doesn't look like an error/warning - so I think just a prominent Gray50 message could do it

[2018-12-14 01:02] violasong commented on #6948
Re: max-width of editor tabs - hard to say how this should work without playing around with it in code but I guess Firefox's tab behavior would be my inspiration :)

[2018-12-14 03:35] darkwing opened #7505 "Collapsing Secondary Pane Creates Horizontal Scrollbar for Entire Debugger"
Toggling the secondary pane's collapse button shows a scrollbar at the bottom of the entire debugger panel which is ugly:

<img width="1380" alt="gross" src="https://user-images.githubusercontent.com/46655/49981613-4f56f200-ff1e-11e8-86c9-ea4921722691.png">

The cause is that the `.splitter` element is `display: flex: 0 0 1px;`.  If we add `display: none;` if that panel is closed, the scrollbar go

[2018-12-14 03:48] #7414 closed

[2018-12-14 06:50] gerdneuman commented on #7492
@Art-Vanderlay Results and Code look good to me, though code would be easier to review if it was a Pull Request, since the changes would then be highlighted. I guess you can go ahead and add a Pull Request (in case of problems one of the maintainer will review it there).

Last not least: Thanks :+1:

[2018-12-14 10:54] hallvors commented on #461
[code]
Is this something to worry about?
<sub>[View in Slack](https://wja.slack.com/archives/C0NKEM6QP/p1544783128412900)</sub>

[2018-12-14 13:32] jasonLaster commented on #7502
@nchevobbe created a nice test case here http://fixed-ghost.glitch.me/

and narrowed the regression to this push https://hg.mozilla.org/integration/autoland/pushloghtml?fromchange=faaec607a74f01e81bc5a6b54d0c4141ad5cf8f5&tochange=8ff4dac9916d9bd908611963de3ec8883befea5f

[2018-12-14 13:37] jasonLaster commented on #7491
CC @codehag could you provide some more context?

[2018-12-14 13:40] codehag commented on #7491
We chatted offline -- unfortunately I won't be much help here since I don't use a german keyboard. It looks like it might be a bug with our keybindings, as the german keybinding has three keys involved. Thaaats just a guess though... I haven't looked into how we do our key bindings in a while

[2018-12-14 13:43] jasonLaster commented on #7491
Here is our logic for stepping shortcuts
https://github.com/devtools-html/debugger.html/blob/master/src/components/SecondaryPanes/CommandBar.js#L34-L53

and keyboard shortcuts

https://github.com/devtools-html/devtools-core/blob/master/packages/devtools-modules/src/key-shortcuts.js#L152

Would you be open to getting the project setup locally and debugging it a bit?
https://github.com/devtools-html

[2018-12-14 14:13] varghesethomase commented on #7505
/claim

[2018-12-14 14:55] varghesethomase commented on #7505
![ezgif com-video-to-gif](https://user-images.githubusercontent.com/5429756/50009852-4ca8db00-ffb8-11e8-90d5-3e8133076f27.gif)

@darkwing I managed to fix this issue as you suggested by adding a display none. But I am relying on the `endPanelCollapsed` prop value to add the style display "none" or "block" to the splitter. But as you can see from the gif, the prop changes abruptly. Could you please

[2018-12-14 15:21] jasonLaster commented on #7502
[code]

[2018-12-14 15:32] darkwing commented on #7505
I believe what happens when you click the "end panel collapse" button is:

1. Right column DIV animates width from {x} to 0
2. Right column DIV is removed from DOM.

I think we might be able to make this easy, actually:

[code]

If the last element in its parent is the .splitter, simply remove it, because it can't be seen or dragged anyway.  Have a try at that :)

[2018-12-14 16:00] darkwing commented on #7325
@violasong I love this `not found` screenshot!  Yes!

[2018-12-14 16:06] varghesethomase commented on #7505
Thank you @darkwing. I have raised a PR for the same. https://github.com/devtools-html/debugger.html/pull/7513/files

[2018-12-14 20:59] jasonLaster commented on #7502
So, two things:

1. the reason why Jason O's change broke the behavior is that we now have the same frame every time we re-enter a function after an await is complete. This is why the frame's scope is the same, which is a good thing.

1. this _fixes_ the problem in that we no longer have the environment in memory when we pause the second time. The reason this is not ideal is that expanded paths is

[2018-12-15 01:42] rivalDevYP commented on #7325
So something like a `#7f7f7f` ?

[2018-12-15 01:44] rivalDevYP commented on #7325
I don't know... late night compilation errors in college certainly comes close...

[2018-12-15 03:01] yzen opened #7516 "Consider usign eslint-plugin-jsx-a11y."
Given that JSX syntax is used for a number of the components, this plugin is helpful with flagging low hanging fruit a11y issues. Initially it could warn on errors (ill provide special eslintrc config for that) but eventually with issues triaged/addressed it could be used to flag a11y issues as errors.

[2018-12-15 10:37] nchevobbe commented on #7502
Let's have this fix in mc with a mochitest to make sure we don't regress
this.
Then I'd rather not have debugger actions specific on object inspector, but
provide an action to do that

Le ven. 14 déc. 2018 à 21:59, Jason Laster <notifications@github.com> a
écrit :

[2018-12-15 16:45] darkwing commented on #7501
This is also the cause of https://github.com/devtools-html/debugger.html/pull/7392's test failures.

The `browser_dbg-breakpoints-actions.js` test passes when the `column-breakpoints` feature is pref'd off: `{ line 1, column: undefined }`

The `browser_dbg-breakpoints-actions.js` test fails when the `column-breakpoints` feature is pref'd on: `{ line 1, column: 0 }`

I think the disconnect between

[2018-12-15 17:14] darkwing commented on #7501
Another thing I found interesting; the responses from `addBreakpointPromise`'s `client.setBreakpoint` calls:

## Column breakpoints turned on (fail case):

[code]

## Column breakpoints turned off (pass case)

[code]

It seems weird that in both the `undefined` and `0` cases that the breakpoint ID is the same.

[2018-12-15 17:19] #7505 closed

[2018-12-15 20:54] SeanPrashad commented on #7312
Hey @yurydelendik - I was wondering if there would be anyone available to mentor on this issue? [@kartik-budhiraja](https://github.com/kartik-budhiraja) and I wanted to pair up to help fix this!

[2018-12-15 21:04] jasonLaster commented on #7312
Feel free to stop by our slack wasm channel

[2018-12-16 11:32] ganes1410 commented on #7201
@jasonLaster I have a doubt.Should i remove the function `sanitize input` from the codebase or should i different regex for sanitzing the input ?

[2018-12-16 14:04] fvsch opened #7520 "src-less images (<img class="foo">) show up with a border in Gecko"
We've looked at this problem in a few issues or PRs I believe, but I don't think we've addressed the core issue properly.

## Context

Two things happened recently:

1. Debugger moved to use `<img class="foo">` for a bunch of icons (see e.g. #5658).
2. Gecko started rendering "broken images" placeholders in Firefox 65.

"Broken image" placeholders have two visual features:

- a border, something a

[2018-12-16 14:15] fvsch commented on #7520
Previous screenshots were on Linux, but this is cross-platform. Here is macOS:

<img width="942" alt="screenshot" src="https://user-images.githubusercontent.com/243601/50054733-4bf17f80-0145-11e9-88fa-7dcd00829cd2.png">

[2018-12-16 21:58] emmairwin commented on #7328
Proposal added here:  https://github.com/maintainercohort/cohort-repo/issues/12

Anyone can propose they help with that,  I am just moving it forward to demonstrate process.

[2018-12-16 22:07] emmairwin opened #7522 "Proposal for new Community Team Page"
Looking for feedback on this [draft](https://docs.google.com/document/d/10LDyRl4wYkZE-zEJd91e9u6TfOLRH--n46-8krx3IgM/edit#) for a new Community Leadership page. Purpose is to update to [Inclusive Leadership principles.](https://github.com/chaoss/wg-diversity-inclusion/blob/master/focus_areas/leadership/assets/leadership-principles.md).

1. Role Descriptions (what Community Team Does)
2. Better int

[2018-12-17 10:01] mozfreddyb commented on #7201
When I discussed this with @codehag, she suggested the function just to be removed. But that's likely not my call :-)

The line was last touched by https://github.com/devtools-html/debugger.html/pull/4790

[2018-12-17 13:49] jasonLaster commented on #7201
We've got some unit tests that check for the correct behavior, so it should be safe to remove and validate that the tests still pass.

[2018-12-17 18:14] arshadkazmi42 commented on #7201
I can work on this if it's still available.
/claim

I just have one question, what type of sanitization needed for this?

[2018-12-17 18:18] fvsch commented on #7520
Some icons do look okay, because we're using the icon as a CSS mask and the icon doesn't paint pixels in the outer 1px.

![Example with React icon](https://user-images.githubusercontent.com/243601/50106511-5177c400-0230-11e9-9d3d-3efe9ab8c515.png)

Others are visually affected on one side only, e.g. the "Skip all pausing" icon.

[2018-12-17 21:22] #7485 closed

[2018-12-17 22:06] #7516 closed

[2018-12-18 04:34] violasong commented on #7325
There’s a variables.css that has the gray50 token which is #737373

[2018-12-18 10:42] jnachtigall opened #7531 "`Sources` and QuickOpenModal should respect `Enable add-on debugging` setting"
As most "power-users" I use several add-ons. I use these but I have no intend of debugging these. Now these fill-up my `Sources` tab:
![image](https://user-images.githubusercontent.com/3307404/50148544-15d50c80-02b9-11e9-9d8b-8924f12ae36a.png)

And also fill and slow down my `Ctrl+P`:
![image](https://user-images.githubusercontent.com/3307404/50148580-2b4a3680-02b9-11e9-8f85-c5f4bf4b8a92.png)

NB:

[2018-12-18 10:46] jnachtigall commented on #7531
Oh, well, there's already an option to `Enable browser chrome and add-on debugging toolboxes` which might be used for this. Unless enabled the sources of WebExtensions should not be visible in the Debugger (Sources, `Ctrl+P` and so on)

[2018-12-18 12:50] jasonLaster commented on #7522
The doc is great!

[2018-12-18 12:54] jasonLaster commented on #7531
I think this is a good idea.

CC @digitarald

We also should have extension URLs instead of IDs, but that is besides the point

[2018-12-18 13:03] #7301 closed

[2018-12-18 14:40] fvsch commented on #7491
Not working on French (AZERTY) keyboards either, at least on Linux.

Main issue is that the `"/"` character is not directly accessible with a single Key, on my current keyboard you need <kbd>Shift :</kbd> to make a `"/"` character (or also <kbd>Shift Fn à</kbd> on this specific computer, but that's less common).

A lot of Web apps have this issue, e.g. half of Figma's shortcuts use punctuation sig

[2018-12-18 14:59] fvsch commented on #7491
Not working on French (AZERTY) keyboards either, at least on Linux.

Main issue is that the `"/"` character is not directly accessible with a single Key, on my current keyboard you need <kbd>Shift :</kbd> to make a `"/"` character (or also <kbd>Shift Fn à</kbd> on this specific computer, but that's less common).

What seems to happen in my case is that I need to hit <kbd>Ctrl Shift :</kbd> to make

[2018-12-18 14:59] jasonLaster opened #7535 "[symbols] other actions should be able to wait on symbols completing"
We our getSymbols action is currently doing some work that should be done in better places.

[code]

With this approach the paused thunk can wait for symbols and then expect mapFrames to succeed and later fetch extra information.

For this strategy to work we should borrow ideas from [loadSourceText][ls] where we save the pending thunk in a map so that other actions can await the initial load as w

[2018-12-18 15:01] fvsch opened #7536 "Wrong vertical padding in Sources pane"
It might be a regression introduced in the PR for #6804.

The `padding: 4px 0;` we wanted to have on the Sources and Outline panes should be set an element that is either the scrolling context or inside the scrolling context. Currently it's set on a parent, so when a scrollbar appears it does not touch the edges (neither does the content):

![screen shot](https://user-images.githubusercontent.com/

[2018-12-18 15:15] fvsch commented on #7491
I guess that's related to why I can never "Resume" on mac too, the expected shortcut is `"Cmd+\\"` but in order to produce the <kbd>\</kbd> key I need modifiers, so I'm getting `"Cmd+Alt+Shift+\\"` or something.

[2018-12-18 15:18] yzen opened #7537 "Fix jsx-a11y/no-static-element-interactions warnings raised by jsx-a11y linter."
To get a list of accessibility warnings raised by jsx-a11y linter run: `yarn lint:jsx-a11y`.

From that list please note all instances that are flagged to have "jsx-a11y/no-static-element-interactions" problem. Each one needs to be addressed individually.

Once all of the instances are resolved make sure to change this setting in `.eslintrc.jsx-a11y` from:
[code]

to
[code]

[2018-12-18 15:21] yzen opened #7538 "Fix jsx-a11y/click-events-have-key-events warnings raised by jsx-a11y linter."
To get a list of accessibility warnings raised by jsx-a11y linter run: `yarn lint:jsx-a11y`.

From that list please note all instances that are flagged to have "jsx-a11y/click-events-have-key-events" problem. Each one needs to be addressed individually.

Once all of the instances are resolved make sure to change this setting in `.eslintrc.jsx-a11y` from:
[code]
to
[code]

[2018-12-18 15:22] yzen opened #7539 "Fix jsx-a11y/alt-text warnings raised by jsx-a11y linter."
To get a list of accessibility warnings raised by jsx-a11y linter run: `yarn lint:jsx-a11y`.

From that list please note all instances that are flagged to have "jsx-a11y/alt-text" problem. Each one needs to be addressed individually.

Once all of the instances are resolved make sure to change this setting in `.eslintrc.jsx-a11y` from:
[code]

to
[code]

[2018-12-18 15:24] yzen opened #7540 "Fix jsx-a11y/no-noninteractive-element-interactions warnings raised by jsx-a11y linter."
To get a list of accessibility warnings raised by jsx-a11y linter run: `yarn lint:jsx-a11y`.

From that list please note all instances that are flagged to have "jsx-a11y/no-noninteractive-element-interactions" problem. Each one needs to be addressed individually.

Once all of the instances are resolved make sure to change this setting in `.eslintrc.jsx-a11y` from:
[code]

to
[code]

[2018-12-18 15:26] yzen opened #7541 "Fix jsx-a11y/label-has-associated-control warnings raised by jsx-a11y linter."
To get a list of accessibility warnings raised by jsx-a11y linter run: `yarn lint:jsx-a11y`.

From that list please note all instances that are flagged to have "jsx-a11y/label-has-associated-control" problem. Each one needs to be addressed individually.

Once all of the instances are resolved make sure to change this setting in `.eslintrc.jsx-a11y` from:
[code]

to
[code]

[2018-12-18 15:27] yzen opened #7542 "Fix jsx-a11y/label-has-for warnings raised by jsx-a11y linter."
To get a list of accessibility warnings raised by jsx-a11y linter run: `yarn lint:jsx-a11y`.

From that list please note all instances that are flagged to have "jsx-a11y/label-has-for" problem. Each one needs to be addressed individually.

Once all of the instances are resolved make sure to change this setting in `.eslintrc.jsx-a11y` from:
[code]

to
[code]

[2018-12-18 15:28] yzen opened #7543 "Fix jsx-a11y/no-autofocus warnings raised by jsx-a11y linter."
To get a list of accessibility warnings raised by jsx-a11y linter run: `yarn lint:jsx-a11y`.

From that list please note all instances that are flagged to have "jsx-a11y/no-autofocus" problem. Each one needs to be addressed individually.

Once all of the instances are resolved make sure to change this setting in `.eslintrc.jsx-a11y` from:
[code]

to
[code]

[2018-12-18 15:30] yzen opened #7544 "Fix jsx-a11y/no-noninteractive-tabindex warnings raised by jsx-a11y linter."
To get a list of accessibility warnings raised by jsx-a11y linter run: `yarn lint:jsx-a11y`.

From that list please note all instances that are flagged to have "jsx-a11y/no-noninteractive-tabindex" problem. Each one needs to be addressed individually.

Once all of the instances are resolved make sure to change this setting in `.eslintrc.jsx-a11y` from:
[code]

to
[code]

[2018-12-18 15:31] yzen opened #7545 "Fix jsx-a11y/anchor-is-valid warnings raised by jsx-a11y linter."
To get a list of accessibility warnings raised by jsx-a11y linter run: `yarn lint:jsx-a11y`.

From that list please note all instances that are flagged to have "jsx-a11y/anchor-is-valid" problem. Each one needs to be addressed individually.

Once all of the instances are resolved make sure to change this setting in `.eslintrc.jsx-a11y` from:
[code]

to
[code]

[2018-12-18 15:32] yzen opened #7546 "Fix jsx-a11y/no-redundant-roles warnings raised by jsx-a11y linter."
To get a list of accessibility warnings raised by jsx-a11y linter run: `yarn lint:jsx-a11y`.

From that list please note all instances that are flagged to have "jsx-a11y/no-redundant-roles" problem. Each one needs to be addressed individually.

Once all of the instances are resolved make sure to change this setting in `.eslintrc.jsx-a11y` from:
[code]

to
[code]

[2018-12-18 15:35] yzen opened #7547 "Fix jsx-a11y/role-has-required-aria-props warnings raised by jsx-a11y linter."
To get a list of accessibility warnings raised by jsx-a11y linter run: `yarn lint:jsx-a11y`.

From that list please note all instances that are flagged to have "jsx-a11y/role-has-required-aria-props" problem. Each one needs to be addressed individually.

Once all of the instances are resolved make sure to change this setting in `.eslintrc.jsx-a11y` from:
[code]

to
[code]

[2018-12-18 15:42] artemruts commented on #7503
/claim

[2018-12-18 15:47] fvsch commented on #7536
It looks like the padding should go on `.sources-list .managed-tree .tree`.

Also keep in mind that Gecko has a bug where the bottom padding in this code will be clipped when it's overflowing the element's height:

[code]

Our overflow situation looks a bit strange too, we have `overflow-y: auto;`, `overflow: auto` or `overflow: hidden` on something like 4 levels of nested elements. It would be gr

[2018-12-18 16:05] jasonLaster opened #7548 "[Editor] Highlight transition should be polished"
1. it can fade really slowly sometimes and create a really ugly black background
2. dark mode should be polished

![](http://g.recordit.co/XevqzGjEwo.gif)

![](http://g.recordit.co/XevqzGjEwo.gif)

[2018-12-18 16:14] #7520 closed

[2018-12-18 19:32] Garbee commented on #7537
So [this error](https://github.com/evcohen/eslint-plugin-jsx-a11y/blob/master/docs/rules/no-static-element-interactions.md) is essentially, not using buttons for actions and instead using divs/spans/etc.

What we want to do here as detailed is go through the warnings, assess the context of the markup, and devise a strategy to handle the cases as consistently as possible. For example, if we have so

[2018-12-18 19:37] Garbee commented on #7538
[This error](https://github.com/evcohen/eslint-plugin-jsx-a11y/blob/master/docs/rules/click-events-have-key-events.md) details the requirement that if you have an `onClick` assignment then you should also have a handler for keyboard events on the same node. This goes hand-in-hand with #7537.

I strongly recommend focusing on #7537 first, since doing that job well will naturally resolve this issue.

[2018-12-18 19:39] Garbee commented on #7539
This error is the golden old, no alternate text to image or object content for screen readers to fallback to. There was some talk today on the call of changing the images to spans due to the new border box for empty src attributes. That could make the immediate error here irrelevant directly. However, we should still make sure the new span method provides an accessible fallback for the content.

[2018-12-18 19:59] Garbee commented on #7540
The [error in question](https://github.com/evcohen/eslint-plugin-jsx-a11y/blob/master/docs/rules/no-noninteractive-element-interactions.md) once again revolves around using generic elements instead of buttons for actions. Through solving #7537 I think most of the errors here, if not all, should be resolved as well.

[2018-12-18 20:03] yzen commented on #7537
That's correct. Buttons is just one of the interactive elements, there's also anchor and other types of inputs (radios, checkboxes) etc. In worst case scenario, and highly discouraged, ARIA role can be used to set the semantics of the interactive element.

[2018-12-18 21:59] Garbee commented on #7537
Yup, we need to chose the appropriate interactive element to used depending on the task. But, we'd be better off taking advantage of them rather than using aria roles and scripting all the extra needs manually.

[2018-12-18 22:30] jasonLaster opened #7552 "Multi-target worker debugging"
It would be great to support multi-target debugging from within devtools

### check list

- [x] redux architecture should support workers #7525
- [ ] see worker sources in the source tree
- [ ] breakpoints pane (see each worker source breakpoint)
- [ ] tabs (see each worker source)
- [ ] clean up selected thread UI
- [ ] stepping support with workers
- [ ] sourcemap support

[2018-12-18 23:34] Garbee commented on #7541
[This](https://github.com/evcohen/eslint-plugin-jsx-a11y/blob/master/docs/rules/label-has-associated-control.md) is just saying we have `<label>` elements in the system that aren't wired up to anything. That should absolutely be looked into since either the labels need to be hooked to an element or we need to use a different element.

[2018-12-18 23:36] Garbee commented on #7544
[This rule](https://github.com/evcohen/eslint-plugin-jsx-a11y/blob/master/docs/rules/no-noninteractive-tabindex.md) is about `tabindex` being used on elements that are not interactive by default, so they aren't providing any real benefit being there. I believe this *should* be mostly resolved in fixing #7537 as well. But quite possibly not fully resolved.

[2018-12-18 23:38] Garbee commented on #7542
This rule is [deprecated](https://github.com/evcohen/eslint-plugin-jsx-a11y/blob/master/docs/rules/label-has-for.md). We should turn the rule off and refer to #7541 for the errors from this kind of thing.

[2018-12-18 23:42] Garbee commented on #7543
This rule instructs us to simply *never* use `autofocus` on an element.

Honestly, this rule feels iffy to me to adhere to. Say the user executes a key command to open the Find function. In that context don't we *want* to autofocus the DOM to the textfield to type the search parameter?

Not sure where the autofocus usage lies exactly. That's just a quick off-the-cuff example of a context where aut

[2018-12-18 23:45] Garbee commented on #7545
[This rule](https://github.com/evcohen/eslint-plugin-jsx-a11y/blob/master/docs/rules/anchor-is-valid.md) focuses on keeping anchors clean. They recommend never using `onClick` purely to do navigation or using `javascript:` URL tricks on the href to do scripting. Keep anchors as a pure link using onClick to supplement the activity.

It would be prudent to make anchors found using these techniques i

[2018-12-18 23:47] Garbee commented on #7546
[These errors](https://github.com/evcohen/eslint-plugin-jsx-a11y/blob/master/docs/rules/no-redundant-roles.md) are just telling us to not repeat things. The native semantic elements have roles built into them. Apparently in the debugger we are using a semantic element and also defining the same role to it. So, we find these using the output and remove the role assignments when they match the nativ

[2018-12-18 23:49] Garbee commented on #7547
[This rule](https://github.com/evcohen/eslint-plugin-jsx-a11y/blob/master/docs/rules/role-has-required-aria-props.md) can be tricky to solve. It's entirely contextual on what is triggering it.

As an interested party is looking over these warnings, you look at the `role` defined. Then look that up in the specifications and see if any `aria` attributes are required to make it function as that role.

[2018-12-19 03:12] artemruts commented on #7383
/claim

[2018-12-19 10:56] nchevobbe opened #7555 "Redesign CallStack Group"
Groups in callstacks are great, but could be a bit confusing.
We discussed a better design in https://github.com/devtools-html/ux/issues/34 , and agreed on the following design:

![image](https://user-images.githubusercontent.com/578107/50215872-8b59df00-0384-11e9-93ea-6575bb67bd3f.png)

Here's a quick diff to start working on this patch:

[code]

Then it will need to CSS changes to implement the

[2018-12-19 11:01] nchevobbe commented on #7555
To have the `Group` component displayed in the debugger, you can follow these steps:

1. go to https://nchevobbe.github.io/demo/console-test-app.html , and then
1. Open the debugger
1. Search for the reducers.js file
1. Add a breakpoint on in handleLog (e.g. on if (action.data))
1. In the content page, scroll to the bottom, and in the "React/Redux" section, click on the "trace" button ![image](htt

[2018-12-19 13:07] princiya commented on #7328
@emmairwin

I do not see it in the Debugger Slack. Is this only for new members?

[2018-12-19 13:43] nicofrand opened #7556 "Scopes properties can't be expanded when debugger stopped on return"
Hi,

when the debugger is stopped on a `return` (before the returned value is analyzed and displayed in the panel), the properties in the scopes panel can't be expanded.

**STR**:

1. Copy the code below in an index.html file
1. Open the file in Firefox 65.0b4
1. Open the devtools and debugger tab
1. Set a breakpoint on `this._bookmarks.splice(index, 1);` : check that you can expand the `_bookmark

[2018-12-19 13:57] nicofrand commented on #7556
Fixed by the nightly (firefox-66.0a1.fr.linux-x86_64).

[2018-12-19 13:57] #7556 closed

[2018-12-19 14:17] jasonLaster commented on #7556
Thanks for filing @nicofrand. I'll uplift a fix to beta and maybe release soon!

[2018-12-19 14:18] #7503 closed

[2018-12-19 14:21] nicofrand commented on #7556
Well, thanks for the fix (to whoever did it) and the uplift!

[2018-12-19 14:53] darkwing commented on #7306
Yes @sennahLessert!  Could you try out or review this PR?  https://github.com/devtools-html/debugger.html/pull/7338

[2018-12-19 16:15] #7464 closed

[2018-12-19 16:23] nchevobbe opened #7557 "Project search takes huge amount of memory"
**Steps to reproduce**
1. Open https://nchevobbe.github.io/demo/console-test-app.html (in toolbox)
1. Open the debugger
1. Do a project search with `event`

**Expected results**

I get some results, or a UI telling me there's no result

**Actual results**

The panel shows "Loading", doesn't update. On the Activity Monitor, I can see the memory growing fast (> 2 GB after 10s, with only 1 tab)
if I

[2018-12-19 16:32] nchevobbe opened #7558 "Icon of selected file in ProjectSearch result should be white"
**Steps to reproduce**
1. Do a Project Search that return some results
1. Select a file in the results

**Results**

<img width="329" alt="image" src="https://user-images.githubusercontent.com/578107/50233499-e0f9b000-03b3-11e9-93b2-9066a68fbf44.png">

---

The icon is not legible because of the blue background. We should make it the same color as the text.

[2018-12-19 16:40] #7274 closed

[2018-12-19 17:01] AnshulMalik opened #7559 "Invent a way to stop full project search"
Currently we don't have any option to stop currently ongoing project search.
It'd be really helpful if the search taking time and the user would want to kill it.

[2018-12-19 17:02] AnshulMalik commented on #7557
I am scared to reproduce this :P

[2018-12-19 17:32] carlosangon commented on #7555
@nchevobbe I'd like to give this one a try if its ok with you.

[2018-12-19 17:57] bomsy opened #7560 "Chrome support"
After back support for the chrome client, as next steps we need to fix a couple of things.

- [x] show debug line
- [ ] support preview
- [ ] show scopes (reps is out of scope (pun not intended))
- [ ] support watch expressions

[2018-12-19 18:00] carlosangon commented on #7494
I'd like to take care of this task if possible.

[2018-12-19 18:03] darkwing commented on #7494
Awesome @carlosangon !  Go for it!  👍

[2018-12-19 18:36] bomsy commented on #7560
/claim

[2018-12-19 20:03] #7492 closed

[2018-12-19 21:02] nchevobbe commented on #7555
thanks @carlosangon ! You can use `/claim` to assign it to you

[2018-12-19 21:37] baronKilljoy commented on #7239
I would like to try addressing this.

[2018-12-19 21:37] baronKilljoy commented on #7239
/claim

[2018-12-19 21:47] #7474 closed

[2018-12-19 21:51] jasonLaster commented on #7239
I think that this change requires renaming TabTarget in devtools-core/devtools-connection.

https://github.com/devtools-html/devtools-core/blob/master/packages/devtools-connection/src/target.js

I'm worried about the challenges of keeping devtools-core/devtools-connection in sync. My guess is that there are now other changes we will need to do as well. Maybe we should step back and re-evaluate in

[2018-12-19 21:52] jasonLaster commented on #7239
@baronKilljoy if you want to experiment with different approaches you're more than welcome, but be for warned this can be quite challenging and there are plenty of issues out there :)

[2018-12-19 22:38] baronKilljoy commented on #7239
I saw this as a quick turn around, and am fine patching on multiple projects. However, I agree a comprehensive list will be useful. Plus I already found one issue in commands.js  there is a tabTarget object called TabTarget. The change is simple but will need to know your variable naming rules. Ill back out changes I made and kept an eye on this thread to see what decision is made.

[2018-12-19 23:17] darkhist commented on #7558
/claim

[2018-12-20 01:07] emmairwin commented on #7328
@cangreja533. @ShaguftaMethwani do you want to test the translation bot you mentioned with our test Slack?

 https://join.slack.com/t/opensourcemaintainer/shared_invite. ?   We really need people who speak other languages to test that one :)