[2019-02-28 11:58] charanjit-singh commented on #7967
/claim

[2019-02-28 13:21] th7nder commented on #8003
I experimented with it a bit and turns out that just changing width of the input box does the job, because inputs have a built-in width. Currently it stops the input from shrinking, because it works as the flex-basis.
I wonder if it'll do ok, or shall we do something like 'modifiers button' with a dropdown from a certain size.
![2019-02-28 14 13 21](https://user-images.githubusercontent.com/830517

[2019-02-28 16:05] jaril commented on #8042
To get the ball rolling, I took a stab at mocking up what a breakpoint item would look like if all of its UI actions were exposed.

<details><summary><b>GIF: Navigating with Tab</b></summary>
<img src="https://user-images.githubusercontent.com/15959269/53578906-91b7c480-3b46-11e9-953c-c1b57a2ad3f0.gif">
</details></br>

<img width="623" alt="screen shot 2019-02-28 at 10 40 31 am" src="https://user

[2019-02-28 18:06] #7755 closed

[2019-02-28 18:30] fvsch commented on #8042
@jaril Nice. For the background hover, I'm still unconvinced that it's useful. We have one in the Watched Expressions pane, but the interactions there are quite different (double-click to edit a row); so I don't have a strong opinion on unifying those background hover colors.

I'm wondering if changing the spacing of breakpoints to follow the latest UX spec would make the "grouping" issue better o

[2019-02-28 18:52] fvsch commented on #7905
Some stylesheets are mostly okay, for instance `src/components/SecondaryPanes/XHRBreakpoints.css` only has selectors which look like `.xhr-*`, with the occasional modifier class or element selector (e.g. `.xhr-container label`).

It would be great if we could have a linting rule that flags regressions in that code style for that stylesheet. E.g. if you introduce a `.whatever {...}` style in that s

[2019-02-28 19:12] Futos commented on #8031
/claim

[2019-02-28 20:07] #8026 closed

[2019-02-28 20:31] darkwing opened #8047 "Google Summer of Code 2019 - Debugger Inline Variable Preview"
Welcome!

Mozilla is participating in the [2019 Google Summer of Code](https://summerofcode.withgoogle.com/organizations/5899373068681216/) and one interesting and fun project will be implementing **Inline Variable Preview** in for the debugger!

*When the Firefox DevTools debugger is paused, users can hover over variables to get a useful tooltip that details the variable's value at that time. Whi

[2019-02-28 21:23] darkwing commented on #7677
Incredible effort by everyone involved in this first quality sprint!  I'm blown away!

Closing this issue and moving remaining items to sprint 2!

[2019-02-28 21:23] #7677 closed

[2019-03-01 05:30] nagpalm7 commented on #7983
@jasonLaster not just selecting a frame but sometimes selecting a source also flashes the same and also doesn't highlights the active source.

[2019-03-01 08:08] fvsch commented on #8043
Hi @charanjit-singh, can you edit this issue's title to make it clearer what specific UX issue you're trying to improve? Maybe something like "[ProjectSearch] Collapse results when they occur on the same line of same file"?

Two things to keep in mind:

1. There have been a few issues with project search performance and memory usage. It might be a good idea to look up past issues (open and closed)

[2019-03-01 08:36] fvsch commented on #7868
For the record I'm generally against hiding UI and revealing it on hover. I've argued against it for breakpoints in #8042.

Not sure freeing up space is such a big concern. Also, if we do end up using the freed up space to display text, that means that on hover we overlay the remove button on top of that text, which is messy.

This can be worked around by not hiding the button with `display: none`

[2019-03-01 10:27] nagpalm7 commented on #7962
Also the first link of README.md file links to http://firefox-dev.tools/debugger.html/

It must be redirected to [https://firefox-dev.tools/debugger/](https://firefox-dev.tools/debugger/).
Since the repo name has been changed from `debugger.html` to `debugger` this needs to be renamed as well.

[2019-03-01 10:45] nagpalm7 commented on #7985
I think this issue is fixed, it can be closed.

[2019-03-01 10:52] soniasingla commented on #7917
/claim

[2019-03-01 11:03] nagpalm7 commented on #7968
/claim

[2019-03-01 13:59] jasonLaster commented on #7917
@soniasingla i think this feature requires server-side changes

here's where log points are implemented on the server
https://searchfox.org/mozilla-central/source/devtools/server/actors/breakpoint.js#214

here are some [docs](https://developer.mozilla.org/en-US/docs/Mozilla/Developer_guide) on getting started.

[2019-03-01 14:00] jasonLaster commented on #7968
@nagpalm7 it would be great to start by identifying cases where Firefox works and Firefox Nightly fails

[2019-03-01 15:00] #7985 closed

[2019-03-01 15:06] fvsch opened #8049 "[UX] WhyPaused component is displayed at an awkward place, and has low contrast"
![whypaused_screenshot](https://user-images.githubusercontent.com/243601/53644415-d91d7e00-3c36-11e9-9561-4f83c3a21eb2.png)

Let's look at the contrast issue first, since it's more straightforward. On the light theme:

- the main label has `3.10:1` contrast;
- the error text has `1.91:1` contrast.

(We're aiming for a minimum of `4.5:1` contrast for both.)

Things would be better if we removed the

[2019-03-01 17:32] fvsch commented on #7913
Let's keep the official one, it's not too bad.
I already fitted it on our 16px grid in a previous PR, so it renders mostly okay.

[2019-03-01 17:32] #7913 closed

[2019-03-01 20:06] darkwing commented on #7483
I can't duplicate this on Windows or Mac, so closing.

[2019-03-01 20:06] #7483 closed

[2019-03-01 20:09] charanjit-singh commented on #8043
I got it

[2019-03-01 21:00] #7807 closed

[2019-03-01 22:30] fvsch commented on #7987
It used to be 10px, and I changed it to be 10px + 4px of margin = 14px of white space, to match the white space taken by the arrow icon + its margin.

This is meant to align the icons and text of siblings when siblings are a mixture of files and folders.

Schematically:

[code]

The proposed change would result in mis-alignments:

[code]

[2019-03-01 22:48] digitarald opened #8057 "Scopes stuck in Loading for minutes (or Unavailable State)"
STR:
- Open https://meta.discourse.org/
- In Debugger, enable _Pause on any URL_ in _XHR Breakpoints_
- Click the first header

AR (50% chance to hit one or the other bug):
1. Scopes stuck in `Loading …` state for 3+ minutes (on a MBP)
2. Scopes show `Scopes unavailable`
   1. Sometimes: Source doesn't load and gets stuck in `Loading …`

![image](https://user-images.githubusercontent.com/8599/5367

[2019-03-01 22:56] darkwing commented on #7955
Unfortunately I cannot reproduce

[2019-03-01 22:56] #7955 closed

[2019-03-01 23:00] jasonLaster commented on #7806
some initial requirements

1. should only appear if there are valid mappings (original, column based mappings)
2. should have a link to an mdn page where others can learn more
3. should be easy to turn off if they don't like it

[2019-03-01 23:18] fvsch commented on #7987
Current alignment, in trees where we have sibling files + folders:

<img alt="screen shot" width="374" src="https://user-images.githubusercontent.com/243601/53670742-0f312100-3c7c-11e9-9234-960863d7b730.png">

With the proposed change, the alignment is visibly broken:

<img alt="screen shot" width="374" src="https://user-images.githubusercontent.com/243601/53670759-1f490080-3c7c-11e9-965b-524baf15

[2019-03-01 23:42] fvsch commented on #8043
I would rather avoid creating new preferences.

[2019-03-01 23:44] fvsch commented on #8043
Some examples with a bunch of results on the same line.

![screen shot 2019-03-02 at 00 41 22](https://user-images.githubusercontent.com/243601/53672739-2247ef00-3c84-11e9-80ce-2bb9b4ce2d29.png)

![screen shot 2019-03-02 at 00 42 22](https://user-images.githubusercontent.com/243601/53672743-283dd000-3c84-11e9-9004-d0a4b254f667.png)

[2019-03-02 00:23] digitarald commented on #8057
Full profiler for 3min, lots of JS: https://perfht.ml/2SxHDSp

![image](https://user-images.githubusercontent.com/8599/53673732-39fc8480-3c3e-11e9-92ff-60859d72983c.png)

[2019-03-02 00:54] digitarald opened #8058 "Failing source maps should fall back to generated source"
STR:
- Open github.com
- Enable _Pause on any URL_ in _XHR Breakpoints_
- Click around until Debugger pauses

ER: Source maps fail, but it should just use the generated sources
AR: All files fail to load:

<img width="878" alt="image" src="https://user-images.githubusercontent.com/8599/53674289-c65c7680-3c41-11e9-8536-5375d37bf193.png">

Chrome isn't much better (or worse, because it doesn't show

[2019-03-02 01:04] digitarald opened #8059 "Make errors during file-loading prettier"
Errors are dropped into the files right now:

<img width="655" alt="image" src="https://user-images.githubusercontent.com/8599/53674433-c7da6e80-3c42-11e9-978e-cf68cf0ada2f.png">

and behave like files, even allowing breakpoints 😈:

<img width="797" alt="image" src="https://user-images.githubusercontent.com/8599/53674446-dc1e6b80-3c42-11e9-988c-6274638cf961.png">

_User Story: When hitting an issu

[2019-03-02 02:19] darkwing commented on #8059
At present source contents are loaded asyncronously so there may be a perf hit on simply showing a message; maybe an alternate solution would be to not allow breakpoints until the source is loaded, and then disallow breakpoints if the source errored out.  Maybe even make the tab background a very subtle shared of red or yellow as well.

[2019-03-02 02:55] #7987 closed

[2019-03-02 08:53] charanjit-singh commented on #8043
Yeah!
What we can do is:

If search result on same line are close to each other, then show them on same line,
Otherwise After a certain length, Create New Line.

[2019-03-02 16:02] jasonLaster commented on #8058
Hey @bomsy didn't we fix some of these cases?

[2019-03-02 17:22] fvsch commented on #8059
I would add a :warning: warning icon to the tab, rather than change its colors.

[2019-03-02 18:52] fvsch opened #8060 "[Sources] List bundled sources (webpack:///... et al.) under the relevant host"
Opening this for discussion. My apologies if this was decided against already.

Could we perhaps nest the `Webpack` folder (or `Angular` or other bundler-specific folders) under the relevant host? As far as I know, when we have `webpack:///...` sources they were identified in the source map for a JS or CSS file hosted on a specific origin. It would be better to reflect this association in the sour

[2019-03-02 19:50] fvsch opened #8061 "[UX] Sources tree icon update?"
As we're moving towards using more Photon icons in Debugger, I'm wondering what we should do for the Sources icons, and if we should try to use the thicker Photon icons there.

Last Fall I updated the Storage panel's tree to use Photon icons, so that can be an interesting comparison point:

![tree-icon-comparison](https://user-images.githubusercontent.com/243601/53686762-9b4e5180-3d2b-11e9-9054-88

[2019-03-03 01:20] jasonLaster commented on #8059
I could see some benefits avoiding the editor component entirely and showing the error message in an error panel.

![image](https://user-images.githubusercontent.com/254562/53689665-90de8880-3d28-11e9-87a3-6db9899e3ad6.png)

This looks pretty bad, but there's probably a photon pattern for it...

[2019-03-03 08:35] zzdjk6 commented on #7925
/unclaim

[2019-03-03 11:25] nagpalm7 commented on #7968
@jasonLaster I am unable to run firefox and nightly at same time with gecko drivers enabled.

[2019-03-03 13:41] Archaeopteryx opened #8062 "Calls to 'Remove breakpoint' and 'Disable breakpoint' not reflected by breakpoint markers next to line numbers and breakpoint menu in Firefox 67"
This affects Firefox 67.0b12, tested on Windows 8.1

Calls to 'Remove breakpoint' and 'Disable breakpoint' not reflected by breakpoint markers next to line numbers and breakpoint menu.

Steps to reproduce:

- Open a web page, e.g. https://treeherder.mozilla.org/#/jobs?repo=mozilla-inbound
- Open the debugger.
- Open a file, e.g. the first file in the 'assets' folder.
- Right-click on a line and se

[2019-03-03 13:45] nagpalm7 commented on #8060
@fvsch Webpack or other bundlers, are always part of main origin or they could also belong to sources other than main origin ?

[2019-03-03 18:32] asishkr123 commented on #8003
Hi, i am new to this community and would like to contribute.  Can i work on this issue??

[2019-03-03 18:49] charanjit-singh commented on #8061
Why don't we use Adobe XD for prototyping and UX designing??

CC @fvsch @jasonLaster

[2019-03-03 18:51] charanjit-singh commented on #8036
@darkwing @digitarald  @jasonLaster
I think YES we need this.
What do you think?

[2019-03-04 06:04] digitarald commented on #8059
This was what I was looking for, sorry for not providing a mockup with the issue. There is no need for a source panel, so the error should not overlay an empty file.

[Warnings](https://design.firefox.com/photon/patterns/warnings.html) and [errors](https://design.firefox.com/photon/patterns/errors.html) have some good guidelines, like the simple yellow box:
![image](https://user-images.githubuserc

[2019-03-04 08:01] fvsch opened #8064 "Footer content can be centered instead of aligned-right"
Footer layout:

[code]

The commands are rendered in their own wrapping <div>, but other content are single items which all have `margin-inline-start: auto`. When we end up rendering more than one (summary + position, position + toggle button...), those elements end up spaced evenly and look centered in the footer.

We should probably have:

[code]

[2019-03-04 08:15] fvsch commented on #8061
There isn't a unified workflow. It would be difficult to specify a single tool because most are commercial and available only on some operating systems; both the OS restrictions and the money requirements can restrict access for contributors.

Current practices: the UX staff is mostly using Sketch, and InVision for sharing mock-ups. I tend to use Figma because it's available on Linux and it's pret

[2019-03-04 10:31] fvsch commented on #8060
Good question. I tried loading two React apps bundled with Webpack on two different origins but in that case I'm not getting the "Webpack" group to show up. Not sure if sourcemaps work cross-origin.

[2019-03-04 13:14] nagpalm7 commented on #8060
@fvsch It is also possible that two webpacks from different sources merge in one. As source tree is not configured as we are expecting it to show a group of two webpacks, Correct me if I am wrong. @jasonLaster what you say?

[2019-03-04 16:28] digitarald commented on #7780
Closing for now as we don't have a working STR; will re-open if I see this again.

[2019-03-04 16:28] #7780 closed

[2019-03-04 16:30] darkwing commented on #6915
I was able to reproduce this with the steps provided in Firefox Nightly.

[2019-03-04 17:08] darkwing commented on #6915
I took a quick look at this and it's definitely a server bug ; I can see the correct values being passed from the client upon change and each opening of the debugger.

[2019-03-04 17:29] darkwing commented on #7968
I don't see STR but I tried pausing in roughly the same place that you had and didn't see anything anonymous:

<img width="1275" alt="noanon1" src="https://user-images.githubusercontent.com/46655/53750946-c1313e80-3e70-11e9-9e6b-306e9a10ec70.png">

<img width="314" alt="noanon2" src="https://user-images.githubusercontent.com/46655/53750950-c3939880-3e70-11e9-9bc6-facb044b7247.png">

Tested inside

[2019-03-04 17:47] acnair commented on #8047
So we start by trying out open issues and try solving them and then come up with a way to design it?

[2019-03-04 18:58] darkwing commented on #7954
After some testing I think I've found the issue;  I used the following to come to my conclusion:

[code]

When I hit the `debugger` statement, the "add" preview element and "remove" preview elements are:

[code]

The issue appears to be that the `getElementFromPos` is adding (and sometimes removing) elements from the *popup* since they too are at that position and higher in the UI stack.

[2019-03-04 19:16] jasonLaster commented on #7952
How's it going @miriambudayr. Do you have any questions?

[2019-03-04 19:39] jasonLaster commented on #6915
https://gist.github.com/9f20b62f1b7d14798d9ecda8ad72f3d7

[2019-03-04 20:07] miriambudayr commented on #7952
@jasonLaster

I think I have found a solution. Thanks for asking!

I spent some time trying to run Mochitests but have run into some problems with the setup. Another developer reproduced the issue on his machine too so I have asked the Slack thread for some guidance. Below is the screenshot of the error. It looks like I am not able to fully download mozilla-central, so files are missing.

![screen

[2019-03-04 20:30] AnshulMalik commented on #7952
Nice @miriambudayr . Would love to see what you have come up with, please submit a PR :)

[2019-03-04 20:34] darkwing commented on #7954
https://phabricator.services.mozilla.com/D21989

[2019-03-04 20:35] darkwing commented on #7952
This is a fun game; it's as though preview doesn't disappear unless you hit another token, but if you're sly like me, you can escape and hover all over the place without it disappearing:

![wander](https://user-images.githubusercontent.com/46655/53761177-8cca7c00-3e8a-11e9-8913-57e720217141.gif)

[2019-03-04 20:46] jasonLaster opened #8067 "[Preview] it can take time to show a popup when initially pausing"
this is difficult to provide an STR, but i've noticed that previewing can be slow when initially pausing

I think this is because we end up waiting on the parser worker to  map the expression

[2019-03-04 20:54] darkwing commented on #7952
After some playing around, the following fixes the issue:

[code]

[2019-03-04 21:02] miriambudayr commented on #7952
@darkwing @jasonLaster

Yeah, this is exactly what I found too. I can go ahead and submit a PR.

[2019-03-04 21:03] darkwing commented on #7952
Great minds, @miriambudayr 👍 I can't wait to see your PR :)

[2019-03-04 21:04] darkwing commented on #7956
Reopening due to revert

[2019-03-04 21:17] digitarald opened #8068 "Notify about enabled breakpoints/pause-on state in panel"
**Overview:** Opening the Debugger and pausing unexpectedly can be frustrating – as the Debugger offers many options to pause and some can be hidden depending on the UI state. The Debugger should be pro-active in informing the user about

**User Stories:**
1. When having `Pause on` checkbox or breakpoint enabled in the Debugger, I want to see it in the Debugger without opening the right accordion,

[2019-03-04 21:26] darkwing commented on #8068
A few thoughts:

1.  We'd greatly benefit from having the "why paused" block much higher in the right sidebar accordion

2.  The red debug line of an error somewhat communicates why paused

3.  I'd love UX's idea for how to represent those options outside of the sidebar

[2019-03-04 21:35] jasonLaster commented on #8062
@Archaeopteryx I believe this will be fixed soon by the column bp work
https://phabricator.services.mozilla.com/D21843

[2019-03-04 21:36] #7799 closed

[2019-03-04 22:10] #8012 closed

[2019-03-04 22:56] loganfsmyth opened #8071 "loadSourceText should probably be responsible for pretty-printing files"
Right now pretty-printing is its own action that kind of hacks its way into the source-loading process. This isn't idea because it means that the promise returned by `loadSourceText` can't consistently handle the case where a file is in the process of being pretty-printed, since don't have a way to know when pretty-printing completes.

[2019-03-04 23:12] jasonLaster commented on #8071
https://gist.github.com/c11a3614e8669ef071574476aefc747a

[2019-03-05 00:59] digitarald commented on #8068
Added some more ideas to the description.

[2019-03-05 01:00] digitarald commented on #8049
Came up in #8068 as well and I found this issue. Given how hard debugging already is to get into and be good at; we can do much better at clearly communicating state.

**Requirements** for a good warning

1. High contrast, possibly building on the [photon warnings](https://design.firefox.com/photon/patterns/warnings.html) style
2. Primary element in the UI, above the fold and not in an accordion.

[2019-03-05 02:24] darkwing commented on #7868
@chujunlu This would be great for you now that you have completed the breakpoints behavior! 👍

[2019-03-05 02:29] #7840 closed

[2019-03-05 02:45] darkwing commented on #7970
I had a hard time reproduce this;  I did my best and ended up paused at line 6 (`if (e.target.tagName === "BUTTON") {`)

Tested in Nightly.

[2019-03-05 02:48] yogmel commented on #4181
Hi everyone,
I was just passing by and tried to test on my Windows 7 machine. It seems to be working fine!
This is the screenshot from Firefox 65.0, on High Contrast #1
![image](https://user-images.githubusercontent.com/3901809/53777349-d4c3c000-3ed7-11e9-8997-1dc9c6f00e2f.png)

[2019-03-05 04:30] #8033 closed

[2019-03-05 04:41] ryanjduffy commented on #7925
/claim because why not, right @jasonLaster? ;)

[2019-03-05 08:10] fvsch commented on #8049
Yep, and their "Debugger paused" label is pretty bad IMHO, it suggests that JS execution is currently paused but actually means the opposite (it means that breakpoints/pausing is disabled, so JS runs without interference).

[2019-03-05 08:14] nchevobbe commented on #8033
Thanks David!

[2019-03-05 08:42] fvsch commented on #8068
How often do we expect that users may not be on that particular file and line, though?
(As a side note, this only works for users without sight impairments. Not sure that the complementary solutions we're brainstorming would improve that, though.)

[2019-03-05 09:07] fvsch commented on #8068
Some "Debugger" icon variants I did the other day, which could reflect the Debugger's current state in the toolbox tab. We could also use the state information in the tab's title attribute. Currently it says "JavaScript Debugger", and it could say "JavaScript Debugger (paused on breakpoint)" for instance.

<img width="220" alt="debugger-toolbox-icons" src="https://user-images.githubusercontent.com

[2019-03-05 10:19] nchevobbe opened #8074 "Should we keep `Node` in getLibraryFromUrl.js ?"
https://github.com/firefox-devtools/debugger/blob/005afbe56612dbf987c70926e24c97751cc16b55/src/utils/pause/frames/getLibraryFromUrl.js#L35-L38

Where is it supposed to show up? Was it an experiment for when we had Node support? It's causing issue for some frames that aren't part of Node (See [🐞 Bug 1532359](https://bugzilla.mozilla.org/show_bug.cgi?id=1532359) )

[2019-03-05 12:01] jryans opened #8075 ""Skip pausing" UI state is lost after toggling toolbox and refreshing page"
STR:

1. Open debugger
2. Deactivate breakpoints by clicking the "tag with cross" icon in the right panel (this sets `devtools.debugger.skip-pausing` to `true`)
3. Close and reopen toolbox
4. Deactivate breakpoints button is still correctly highlighted
5. Reload the page you are debugging (Cmd-R)
6. Deactivate breakpoints button resets to inactive, but breakpoints are actually still being skipped

[2019-03-05 15:57] #7954 closed

[2019-03-05 15:59] #7952 closed

[2019-03-05 16:02] errietta commented on #8064
/claim

[2019-03-05 16:06] darkwing commented on #7993
Hello @fvsch!  Any progress on this?  I'd love to get it in before we cut the next version of Firefox! 👍

[2019-03-05 16:35] nagpalm7 commented on #7968
@darkwing same with me with the latest pull! Should we close this issue?

[2019-03-05 19:08] jasonLaster commented on #7968
@nagpalm7 i'll check too

[2019-03-05 19:09] jasonLaster commented on #8068
@fvsch that looks great

[2019-03-05 19:11] jasonLaster commented on #8061
@fvsch i really like this!

[2019-03-05 19:12] jasonLaster commented on #8003
@th7nder that sounds fine. I don't think we need to add a new dropdown.  At a certain size it is okay if the modifiers are not visible...

[2019-03-05 19:13] jasonLaster commented on #8003
@asishkr123 i'm not sure if @th7nder is on it or not

[2019-03-05 19:14] jasonLaster commented on #7983
nice find. @nagpalm7

[2019-03-05 19:16] jasonLaster commented on #7905
this is a fantastic list of rogue styles. I'd love it if we could clean up this list.

And, yes we do use stylelint systematically

[2019-03-05 19:26] th7nder commented on #8003
I think I can finish it so I'll claim this issue.

[2019-03-05 19:26] th7nder commented on #8003
/claim

[2019-03-05 20:09] digitarald commented on #8061
@fvsch +1 , this really closes the gap of different icon stylings a bit more. I especially like that we can clean up the organically grown set of file icons, as the inconsistent shapes make the tree visually noisy.

[2019-03-05 21:36] fvsch opened #8081 "Dropdown icon disappears when filename is too long"
The source tabs dropdown items have a few rendering issues since they were switched to `display: flex`.

1. Icon can shrink to 0px width
2. Ellipsis style doesn't work

![dropdown screenshot](https://user-images.githubusercontent.com/243601/53839115-fa63ce80-3f96-11e9-9b09-6f8f0a365812.png)

[2019-03-05 21:36] fvsch commented on #8081
/claim

[2019-03-05 21:50] digitarald commented on #8068
This is great and maybe can inform both the 1st and 2nd point. How would an icon look like for "has breakpoints active"; maybe that could be re-used in both the toolbox panel header and the accordion headers.

If not an icon, another idea would be a simple counter badge on the panels, showing how many pausing options are enabled. Without context, it might still need some icon or label to explain w

[2019-03-06 00:06] chujunlu opened #8084 "[CallStack] Vue icons don't display on frames"
I spotted this in both Chrome and Firefox.

STR:
1. Debug http://todomvc.com/examples/vue/
2. In debugger, open the app.js file in the editor pane.
<img width="334" alt="screen shot 2019-03-05 at 6 57 52 pm" src="https://user-images.githubusercontent.com/38041280/53845840-a0541080-3f78-11e9-859c-dfa25cb0f37b.png">

3. Set a breakpoint at line 74, within the `addTodo` method.
4. On Vue todomvc site

[2019-03-06 01:20] derek-li commented on #8064
Just a suggestion, but I think we should keep `renderSourceSummary()` separate from `source-footer-start` and `source-footer-end`

In my opinion it would look strange if this text was pushed to the left:
![issue8064 1](https://user-images.githubusercontent.com/33161837/53848880-dee2ce80-3f6a-11e9-8b86-7420081323d3.png)

[2019-03-06 02:40] bhackett1024 commented on #8057
That profile is really helpful, thanks.  The problem is that getUniqueIdentifiers() in the parser worker is O(N^2) instead of O(N).  Fixing this changes the time taken in this function from 112 seconds to 68 milliseconds.  I'll create a PR.  It still takes a little while to even get to the getUniqueIdentifiers() call (we're probably parsing some big file) but afterwards the mapped sources appear q

[2019-03-06 08:21] fvsch commented on #8064
@derek-li I would rather avoid having this appear somewhat randomly in the middle. What's more, with Flexbox if we want to center some content but have arbitrary amounts of content in the left and right columns... things get a bit icky.

I think we should decide if we want it to appear on the left or on the right.
Since this information appears after you click "Pretty print source", maybe we shoul

[2019-03-06 09:11] #7993 closed

[2019-03-06 09:32] fvsch commented on #8084
@chujunlu Good catch. It looks like the issue is that we have different logic to identify the framework name in different places, and use those two names:

- `Vue`
- `VueJS`

(For the record, the brand name is `Vue.js`.)

When we use those as class names, we end up with either `vuejs` or `vue`, and we only style one of those:

[code]

I'll make a CSS fix, but it would be great if we could harmoniz

[2019-03-06 10:04] fvsch commented on #8084
/claim

[2019-03-06 13:52] jasonLaster commented on #8057
I'm a bit concerned that we spend 20s legitimately in `getSymbols`. This makes me wonder if we should avoid calling getSymbols in extreme cases or shard the parser worker...

[2019-03-06 14:34] fvsch commented on #7905
/claim

[2019-03-06 14:36] fvsch commented on #7905
Assigning myself, with the following goals:

1. Make progressive progress on this issue, based on the list above.
2. Explore ways in which we can use Stylelint to prevent regressions (such as adding "global" class names to a component's stylesheet).

[2019-03-06 14:53] bhackett1024 commented on #8057
I'm going to continue looking at this testcase.  There isn't any reason we should need to spend this much time parsing (note that the browser does not need 20s to load the website).

[2019-03-06 15:20] fvsch commented on #7905
@jasonLaster Here's an attempt at adding stylelint rules that address this problem:
https://github.com/fvsch/debugger.html/commit/9cfc7168ab4aa723f4db942124f8ce133aa3ba7d

- Add a maximum specificity of `0,4,1` (we have roughtly 30 offenders)
- Add `postcss-bem-linter` to allow us to define some stylesheets as BEM components

The way to define a stylesheet as a BEM component is to add a comment ne

[2019-03-06 15:41] chujunlu commented on #8084
Agree. I looked into the JS side - tried to see how the library name is generated and how other components successfully display Vue icon - but I haven't figure it out.

[2019-03-06 16:28] #8081 closed

[2019-03-06 17:22] chujunlu commented on #7868
@darkwing Hi David, I think I have a solution. But I saw Florens' PR #8083 added changes to a CSS class I plan to edit. It's better to wait until the PR gets merged before I submit a new PR, right?

[2019-03-06 17:27] #8084 closed

[2019-03-07 00:07] loganfsmyth opened #8088 "The "From <generated>" footer unexpectedly always goes to line 1 of generated file"
When viewing a sourcemapped file, the editor shows a `(From <file>)` footer just below it that will take the users to the generated file. The problem is that this footer [always goes to the first line](https://github.com/firefox-devtools/debugger/blob/ccba51ce44cf97da08b35a33372f0125fc26f74b/src/components/Editor/Footer.js#L175) of the generated file, which I don't think is particularly useful onc

[2019-03-07 00:10] #7956 closed

[2019-03-07 00:20] #8040 closed

[2019-03-07 00:27] #8003 closed

[2019-03-07 00:28] loganfsmyth opened #8089 "Column breakpoints seem to spring into existance when you stop scrolling"
I haven't dug into the logic, but it looks like right now the column breakpoint markers only get rendered when you stop scrolling, which can be a bit jarring, and makes it really hard to spot them as you scroll down through a file. It is also potentially surprising that if the breakpoints are _just_ off screen, you need to scroll and then stop before you can see them.

It seems like, ideally, we'd

[2019-03-07 00:38] loganfsmyth opened #8092 "[Column breakpoints] Unexpectedly getting the _second_ breakpoint enabled on line"
Steps:

1. Open Editor/Tabs.js
2. Find the line in `updateHiddenTabs` that has `hiddenTabs.find(tab => tab.id == selectedSource.id)`
3. Click to add a breakpoint

AR:
The _second_ column breakpoint is enabled.
<img width="493" alt="screen shot 2019-03-06 at 4 34 21 pm" src="https://user-images.githubusercontent.com/132260/53923596-ba035f80-402d-11e9-8bd7-ac6e0c386aec.png">

ER:
The first one would

[2019-03-07 00:44] loganfsmyth opened #8093 "[Column breakpoints] Generated breakpoint position does not correspond with original"
These steps are pretty much the same as https://github.com/firefox-devtools/debugger/issues/8092
Steps:

1. Open Editor/Tabs.js
2. Find the line in `updateHiddenTabs` that has `hiddenTabs.find(tab => tab.id == selectedSource.id)`
3. Click to add a breakpoint
4. If #8092 has not been fixed, add a second breakpoint on `hiddenTabs` and delete the one on `find`
5. Go to the generated file and view thi

[2019-03-07 14:39] #8030 closed

[2019-03-07 15:25] WenInCode commented on #4104
It seems like this may have been resolved by something else? I am unable to reproduce it any more. Altering the source and refreshing, the breakpoint moves to the proper location and pauses. I'm going to close this and we can re-open if someone manages to reproduce it.

[2019-03-07 15:25] #4104 closed

[2019-03-07 15:53] jasonLaster opened #8096 "Re-implement empty lines"
Now that we are using breakpoints positions as the source of truth, we need to re-implement empty lines with this data.

[2019-03-07 15:53] jasonLaster commented on #8096
Note, this will be GC sensitive at the moment

[2019-03-07 16:42] nagpalm7 commented on #8071
@loganfsmyth Can I dive in this and give a shot?

[2019-03-07 17:51] jasonLaster commented on #7905
that sounds good. i'd love to do that!

[2019-03-07 20:58] loganfsmyth commented on #7990
Closing in favor if #8096.

[2019-03-07 20:58] #7990 closed

[2019-03-07 22:47] loganfsmyth commented on #8093
Closing in favor of https://bugzilla.mozilla.org/show_bug.cgi?id=1533571

[2019-03-07 23:29] ravefalcon92 commented on #7692
/claim

[2019-03-08 14:53] jasonLaster commented on #8092
closing in favor of https://bugzilla.mozilla.org/show_bug.cgi?id=1533549

[2019-03-08 21:40] digitarald opened #8105 "Shift-clicking line-breakpoint does not toggle *all* enabled column breakpoints"
Follow up on #7241: _Review Critical Path Interactions_

STR:
- Enable multiple column breakpoints on a line
- Shift-click the line breakpoints

AR: Only the first column breakpoint gets toggled
ER: All enabled column breakpoints get disabled and on second click enabled again

[2019-03-08 21:41] digitarald commented on #7241
Checked off *Critical Path Interactions* and found one bug.

[2019-03-08 21:44] #8093 closed

[2019-03-08 21:46] darkwing commented on #7332
The mockup shows 2 states, "regular" and disabled, but I believe there are three total states:

1. column breakpoint shown (i.e. not activated)
2. column breakpoint enabled/clicked
3. column breakpoint enabled/clicked but disabled

I propose we try to:

1.  Use the same colors for light and dark as we do for the gutter breakpoint
2.  Use the first cited colors in the mockup for activated column br

[2019-03-08 21:52] digitarald opened #8106 "Debugger breaks after refresh and stays in incompleted paused state"
Debugged profiler.firefox.com, adding and removing breakpoints to debug another issue (hitting breakpoints without having any active) that I have to file. At some piont the debugger would not load completely and show the file in `Loading…` state.

Important to note that the page at this point does not have any breakpoints set.

I can click _Resume_ and hit the next breakpoint (I had 2 set, which I

[2019-03-08 22:52] jasonLaster opened #8107 "[Preview] Mousing from the token to the popup fails"
This is a fun bug if you mouse from the token to the popup without being careful it can close. The reason for this is that we only watch to see if your're either on the token, arrow, or popup, not the gap in between which i highlighted red.

![gap](https://user-images.githubusercontent.com/254562/54060532-09cb5d80-41cb-11e9-8f3c-c2265f60fdd3.jpg)

[2019-03-09 10:20] harshlele commented on #8107
/claim

[2019-03-09 17:07] jasonLaster commented on #8107
Thanks @harshlele

[2019-03-09 17:10] dhyey35 commented on #6722
@darkwing Can I take this issue ?

[2019-03-10 08:32] AnshulMalik commented on #6722
You can take it @dhyey35

[2019-03-10 09:21] dhyey35 commented on #6722
/claim

[2019-03-11 05:47] karlcow opened #8109 "[breakpoints] They can't be set"
1. With Firefox Nightly 67.0a1 (2019-03-10) (64-bit) on macOS
2. Go to https://www.msn.com/en-xl/asia/photos/shockingly-realistic-robots/ss-AAxiMLu#image=7
3. Open the developer tools (debugger)
4. Go to [this script](https://c-8oqtgrjgwu46x24uvcvke-gpvgtvckpogpv-ywu-u-oup-eqox2ecmcockbgf.g01.msn.com/g00/3_c-8yyy.oup.eqo_/c-8OQTGRJGWU46x24jvvrux3ax2fx2fuvcvke-gpvgtvckpogpv-ywu-u-oup-eqo.cmcockbgf.

[2019-03-11 06:23] digitarald commented on #7332
@darkwing I remember that we talked about the states in the planning meetings; looks like we missed it to capture it in the final mockup.

Let's go with your proposal and tweak as necessary.

[2019-03-11 12:22] emanueltimlopez commented on #7787
I still have problems with webpack configuration, I cant solve the total configuration to run the components.

I need a hand here #8110
./storybook/webpack.config.js

<img width="1015" alt="Captura de pantalla 2019-03-11 a la(s) 09 18 09" src="https://user-images.githubusercontent.com/25184000/54123475-a580e780-43de-11e9-8ae9-335bbfb0df8c.png">

i check the mapping here https://github.com/firefox-

[2019-03-11 13:16] chujunlu commented on #8109
Hey, can you point out the script file you went to in the source tree? Maybe make a screenshot? I can't find the script you have in step 4.

[2019-03-11 15:34] jasonLaster commented on #8109
Thanks for sharing @karlcow

@loganfsmyth couldyou take a look?

[2019-03-11 15:38] jasonLaster commented on #8109
Hmm, so i was able to set breakpoints. My process was to

1. go to the site
2. go to project search and search `wt.click`
3. click pretty print aka `{}`
4. search `wt.click`
5. click to add breakpoints

[2019-03-11 16:19] #8017 closed

[2019-03-11 17:55] digitarald opened #8113 "HMR updates duplicates files and breakpoints"
Using a _next.js/typescript_ project, edits on `index.tsx` that trigger HMR add a new `index.tsx`, and duplicate its breakpoint.

STR:
- Set up a local project with next.js: [Instructions](https://github.com/zeit/next.js/tree/master#setup)
- Start the server
- Open page and debugger
- Edit the _index_ page in your editor

Reproduce on both Release (65) and Nightly (67).

Chrome does not reproduce

[2019-03-11 20:34] loganfsmyth commented on #8096
Closing in favor of https://bugzilla.mozilla.org/show_bug.cgi?id=1534332

[2019-03-11 20:34] #8096 closed

[2019-03-12 00:32] karlcow commented on #8109
Let me try this morning.
Working in `67.0a1 (2019-03-11) (64-bit)`
Thanks @jasonLaster

[2019-03-12 00:32] #8109 closed

[2019-03-12 17:14] miriambudayr commented on #8105
/claim

[2019-03-12 22:47] derek-li commented on #8049
What's your guys opinion on moving the WhyPaused component back to it's original location before the #3111 change? @jasonLaster

I feel this way we could add the requirements for a more visible warning and even have the information available when the secondary pane is collapsed. It also conforms to the Chrome WhyPaused.

[2019-03-12 23:55] digitarald commented on #8049
That seems like the best approach, @derek-li. Apart from the warning styling, another consideration is to keep an eye on the visual noise while stepping, which #3111 was mainly about.

[2019-03-13 01:42] derek-li commented on #8049
/claim

[2019-03-13 05:21] digitarald opened #8116 "Paused Debugger continues without interaction"
Reproduced locally in a next.js project. While being paused the Debugger randomly continues and the page seems to refresh. Not sure if next.js triggers a refresh or something, but that should not interfer with the paused state.

![ScreenFlow](https://user-images.githubusercontent.com/8599/54255368-0ca0b800-4515-11e9-96de-1c13d41c1fe9.gif)

[2019-03-13 05:24] digitarald opened #8117 "`this` resolved incorrectly as `undefined`"
Local next.js project, need to work on a glitch to have a hosted STR later.

Pausing on a react DOM event, this should bound to the class instance. It is set, as the state can be read; but Debugger resolves it as `undefined`, but when maps are resolved and without.

<img width="322" alt="image" src="https://user-images.githubusercontent.com/8599/54255416-3f4ab080-4515-11e9-8efd-d11c9700109c.png">

[2019-03-13 10:21] fvsch commented on #8049
At the very least it's worth experimenting with moving it back up, and trying to address the issues seen in #3111 in a different way. For example, while stepping the WhyPaused component should not disappear (even just briefly); that would mitigate most vertical jumpiness.

[2019-03-13 16:01] fvsch commented on #7483
I can reproduce with Firefox Nightly on Linux.

STR:
1. Go to a GitHub issue, say https://github.com/firefox-devtools/ux/issues/41
2. Open Debugger and hit Ctrl+P. There should be roughtly 100 files listed.
3. Scroll down _with the mouse or trackpad_, and wait a second or two.

Current result:
- The list scrolls back up to show the highlighted result (e.g. the first one).
- It's virtually impossib

[2019-03-13 16:12] fvsch commented on #7483
An important step to reproduce: there must be a list of files displayed, with one file selected.

Apparently if you hit Ctrl+P, you get a text input and no list until you type something. What more, after typing a query like "js", while I get a lot of results I don't always have the first result selected. It's also possible to move the selection offset in the negatives or out of bonds!

[2019-03-13 16:24] fvsch commented on #7483
Another good page to test:
https://firefox-dev.tools/debugger-examples/examples/500-sources.html

[2019-03-13 16:27] fvsch opened #8118 ""Go to file" loses the ability to select results if hitting up or down key when results.length==0"
STR:

1. Go to https://firefox-dev.tools/debugger-examples/examples/todomvc/ and open Debugger
2. Use the Ctrl+P shortcut to show the "Go to file" input
3. Type a search string that matches nothing, e.g. "fjklsfljkks"
4. Hit the Up arrow key once
5. Remove the non-matching search string and type "back"
6. Hit the Down arrow key once

Expected result:
After step 5, two results show up, with the fir

[2019-03-13 16:35] fvsch opened #8119 ""Go to file" selected index can be out of bounds when showing limiting the number of results"
It looks like the "Go to file" result list is clipped at maybe 100 items, but when the actual result count is higher then users can use the keyboard to lose the currently selected index.
My guess is that we store an index for the currently selected item, and compare it to the result count instead of comparing it to the number of rendered items.

STR:

1. Go to https://firefox-dev.tools/debugger-ex

[2019-03-13 16:51] fvsch commented on #8119
So, when we have 502 results in `QuickOpenModal`, we manage this component's `state.selectedIndex` according to that length. So hitting the Up key once gives you `state.selectedIndex === 501`:

![screenshot](https://user-images.githubusercontent.com/243601/54297651-91dca900-45b7-11e9-8448-c43e991f04c3.png)

Then we pass two things to the `ResultList` component:
[code]
(Schematically, I haven't che

[2019-03-13 17:14] digitarald opened #8120 "Can not add breakpoint in Firefox Send"
STR: Try to add a breakpoint in https://send.firefox.com, in this case `webpack:///app/api.js`.

![ScreenFlow](https://user-images.githubusercontent.com/8599/54299689-a51c5400-4578-11e9-8b3e-32b60df0a9cd.gif)

Actual: Column breakpoint appear for a moment, but then all bps disappear again.

[2019-03-13 17:16] #7966 closed

[2019-03-13 17:17] digitarald commented on #8120
Weirdly this works in 67 Dev Edition:

<img width="450" alt="image" src="https://user-images.githubusercontent.com/8599/54299901-13611680-4579-11e9-99c4-e3f058cb733f.png">

@jasonLaster for triage, as it might be a regression or existing source map issue.

[2019-03-13 17:18] fvsch commented on #8118
Using React Devtools, it looks like when you hit Up or Down in "Go to file" and there are currently 0 results, the `state.selectedIndex` ends up being `NaN`. From them on, if we try to add or substract `1` to that index, it will remain stuck at `NaN`, breaking the keyboard navigation completely.

![Debugger screenshot](https://user-images.githubusercontent.com/243601/54299887-17625800-45bc-11e9-92

[2019-03-13 17:24] digitarald commented on #8120
Fixed with latest update, will re-open when I hit this again.

[2019-03-13 17:24] #8120 closed

[2019-03-13 17:33] darkwing commented on #8118
Great find @fvsch !

[2019-03-13 17:40] fvsch opened #8121 "Remove react-inlinesvg"
Looks like we only have two inline SVG icons: one for breakpoints in the left gutter, and one for column breakpoints.

Since we use `react-inlinesvg` for that, and that the way we use it seems very limited (we don't do HTTP requests for external SVG icons with cross-domain IE polyfilling or that kind of thing), the feature we are using boils down to this bit of code:

[code]

We could probably rem

[2019-03-13 18:11] jasonLaster commented on #8121
This would be great!

[2019-03-13 20:01] digitarald opened #8122 "Variable preview doesn't work on lines with column breakpoints"
STR:
- Open Debugger on https://firefox-dev.tools/debugger-examples/examples/todomvc/
- Open `js/views/app-view.js` file
- Set line breakpoint in _line 52_, `var completed = app.todos.completed().length;`
- Add a todo in todomvc to trigger a render to hit the breakpoint
- Hover `completed` variable

AR: No tooltip on hover.
ER: Variable tooltip.

While being paused, the BP can be removed which mak

[2019-03-13 20:30] digitarald opened #8123 "Call stack does not show column information"
When stepping through columns in the same line, I want to see the column information in the callstack, so that I can tell frames apart.

<img width="777" alt="image" src="https://user-images.githubusercontent.com/8599/54312322-e40bd300-4593-11e9-8b0c-a2be51edcee6.png">

[2019-03-13 20:34] jasonLaster commented on #8123
hmm,I feel like this could also be pretty noisy if we always include column information.

CC @fvsch @darkwing

[2019-03-13 20:36] jasonLaster commented on #8122
![](http://g.recordit.co/NMPs3jPEXZ.gif)

[2019-03-13 21:35] jasonLaster opened #8124 "[QuickOpen] we should show the end of the path"
I've found it can be hard to see the relevant paths the way we're truncating

<img width="771" alt="Screen Shot 2019-03-13 at 5 31 26 PM" src="https://user-images.githubusercontent.com/254562/54316063-31993780-45b6-11e9-90e7-02923885e376.png">

[2019-03-13 21:55] jasonLaster commented on #7734
@salomvary could you re-test again on Nightly. We landed a new checkbox in the scopes pane for "Map Scopes". My guess is the debugger should be faster for you with that off.

[2019-03-13 22:14] fvsch commented on #8123
Two ideas to show the column numbers only in some conditions (and avoid noise in the majority cases):

1. By default, only show line numbers for frame locations. If the call stack contains a column breakpoint, also show column numbers for all frames. That way, call stacks that only have "line" breakpoints, call stacks for "paused on exception", etc., keep the same display as before, but if you use

[2019-03-13 22:47] digitarald commented on #8123
👍 , the solution should be smart enough to only show columns when needed to save precious space.

[2019-03-14 02:30] WenInCode commented on #8124
@jasonLaster do you think it would be better to show end of the path over what is currently being displayed?

[2019-03-14 02:32] WenInCode commented on #8124
Or perhaps doing something like [ellipsis in the middle](https://ux.stackexchange.com/a/40329)

[2019-03-14 02:45] WenInCode commented on #8124
Some context for potential contributors:
- we [truncate the end of the relative path](https://github.com/firefox-devtools/debugger/blob/master/src/utils/quick-open.js#L67) of sources in the sources list
- [`endTruncateStr` function](https://github.com/firefox-devtools/debugger/blob/master/src/utils/utils.js#L47-L52)

[2019-03-14 05:01] loganfsmyth commented on #8106
I think https://bugzilla.mozilla.org/show_bug.cgi?id=1534847 will resolve the issue of getting stuck in the "Loading..." state. The `onSources` exception seems like most likely a separate issue and we may want to file it in Bugzilla.

[2019-03-14 05:03] loganfsmyth commented on #8089
This was fixed in https://bugzilla.mozilla.org/show_bug.cgi?id=1533549

[2019-03-14 05:03] #8089 closed

[2019-03-14 14:39] arosenfeld2003 commented on #8119
@fvsch I'd like to take a stab at this... first PR in the codebase.

[2019-03-14 14:39] arosenfeld2003 commented on #8119
/claim

[2019-03-14 18:51] WenInCode commented on #8118
the good ol' divide by zero game!

[2019-03-14 18:52] WenInCode commented on #8118
/claim

[2019-03-14 21:54] jasonLaster opened #8127 "Primary panel is missing a bottom border"
When you open the debugger without any tabs selected, and they primary panel is small enough, it misses the bottom border.

![](http://g.recordit.co/tZtEvqggiw.gif)

[2019-03-14 22:11] jasonLaster commented on #8106
This should be fixed. We can re-open if we see any new issues

[2019-03-14 22:11] #8106 closed

[2019-03-14 22:54] digitarald commented on #8059
Another component to re-use would be Console's notification box: https://searchfox.org/mozilla-central/rev/8ff2cd0a27e3764d9540abdc5a66b2fb1e4e9644/devtools/client/webconsole/components/App.js#236-239

[2019-03-15 08:56] fvsch commented on #8127
Should we be able to make the primary panel (Left sidebar + main content) that small, to begin with?
A minimum height of at least 100 or 150px might make sense.

[2019-03-15 09:04] fvsch opened #8128 "[Sources] Improve design of thread group headers"
It looks like in some situations we are grouping sources under "Main thread", "Workers", etc.

The UI for those group headers looks a bit raw:
- It adds a bit too much space at the top (we would like to keep items starting at 4px from the top edge).
- Not sure those headers have the same height as other items.
- Horizontal text alignment is a bit off.
- Most importantly, they don't come off as hea

[2019-03-15 09:37] fvsch opened #8129 "[Scopes] Horizontally scrolling the Scopes panel hides its header"
We are using `overflow: auto` on the wrong container for the Scopes panel, and when content overflows to the right and you scroll then the accordion header scrolls along with the content:

![Selection_026](https://user-images.githubusercontent.com/243601/54420435-4686df80-470a-11e9-800e-f0b70599f00e.png)

[2019-03-16 02:48] yogmel commented on #8127
Hi everyone,

Can I work on this issue?

Thanks!

[2019-03-16 02:50] darkwing commented on #8127
SureaYep!  Go for it! :)

[2019-03-16 07:50] nagpalm7 commented on #8071
/claim

[2019-03-17 07:18] th7nder commented on #8124
/claim

[2019-03-17 18:25] th7nder commented on #8121
/claim

[2019-03-18 01:16] yogmel commented on #8127
/claim

[2019-03-18 01:16] yogmel commented on #8127
Thanks! I will work on it shortly and will give you updates :)

[2019-03-18 05:55] helenatxu commented on #8129
Hello! Is this still available? Can I /claim it?

[2019-03-18 05:59] ruturajv commented on #8127
While your at it, perhaps addition of `cursor: nw-resize` might also help.. @jasonLaster ?

[2019-03-18 06:37] nagpalm7 commented on #8123
What if we group all the call on the same line and show them as a drop-down list with columns specified as we are showing line numbers and line number will be only visible on the header. This way we can save space as well make it a little bit more elegant. @fvsch @digitarald

[2019-03-18 07:22] fvsch commented on #8127
I'm already seeing a `nw-resize` cursor here (on Linux).

One thing I'm noticing is that in Inspector in vertical mode, the horizontal separator has a different style: it's 2px high and has a color change on hover. Perhaps we should use this same style in Debugger for this horizontal separator?

[2019-03-18 07:29] fvsch commented on #8123
Not sure, I'd like to see of mockup of that.
One thing to consider: we already group stacks in collapsible groups for common framework/lib frames, with the intent of telling users "you probably can ignore this", so if we use the same kind of grouping it could send the wrong message.

[2019-03-18 07:31] fvsch commented on #8129
@helenatxu It's yours. :) Feel free to ask for any help or feedback.

[2019-03-18 07:37] nagpalm7 commented on #8123
Hmm, it was a bad idea.

[2019-03-18 11:40] fvsch commented on #8121
There is also a big section of https://github.com/firefox-devtools/debugger/blob/master/docs/local-development.md on SVG that will need to be updated. I can do that in a follow-up PR if needed.

[2019-03-18 14:42] nagpalm7 commented on #8122
I would like to work on this, Can you tell me from where should I start.

[2019-03-18 15:48] fvsch commented on #8128
Current style:

![debugger-sources-thread-header-current](https://user-images.githubusercontent.com/243601/54543159-6eda3c80-499d-11e9-99d8-57a9e8a803f5.png)

Here's what it would look like if we used the same style as accordion headers:

![debugger-sources-thread-header-improved](https://user-images.githubusercontent.com/243601/54543209-83b6d000-499d-11e9-9abe-7caa1a424995.png)

Maybe we should j

[2019-03-19 12:02] dhyey35 commented on #6722
@birtles As far as I understand [MenuButton.js](https://searchfox.org/mozilla-central/source/devtools/client/shared/components/menu/MenuButton.js#36) needs an XUL element in `doc` which is passed like [this](https://searchfox.org/mozilla-central/source/devtools/client/framework/components/ToolboxTabs.js#240). As you mentioned in [above comment](https://github.com/firefox-devtools/debugger/issues/6

[2019-03-19 12:25] dhyey35 opened #8140 "Auto-fill watch expression text if expression is selected in editor"
This is a feature request.

Most of the times when I am debugging after I select and hover over an expression I sometimes want to add it to the watch expressions. So I need to copy paste the value everytime. Instead we could have a feature where if the editor has some text selected than when the user clicks on `+` button in `Watch Expressions` panel, the selected text is automatically filled in th

[2019-03-19 12:32] fvsch opened #8141 "[XHR Breakpoints] Make the method selector smaller"
With @Jaril's work in #8094 and https://github.com/firefox-devtools/ux/issues/45 we are going to have smaller XHR breakpoint items, 20px tall.

When going to edit mode, though, the input takes more vertical space:

1. The container's 1px border makes the height 22px instead of 20px. Maybe we should try an inset outline instead? As in: `outline: solid 1px; outline-offset: -1px;`.
2. The `<select>`

[2019-03-19 13:15] birtles commented on #6722
I'm not sure I quite follow the question. The XUL element is created by the [`HTMLTooltip`](https://searchfox.org/mozilla-central/source/devtools/client/shared/widgets/tooltip/HTMLTooltip.js) component. The `doc` is passed in so that `HTMLTooltip` knows what document to append the various elements to.

It only uses one XUL element, a `<xul:panel>`, since that can extend pass the boundaries of the

[2019-03-19 20:08] #7920 closed

[2019-03-19 20:22] #8118 closed

[2019-03-19 20:31] #7692 closed

[2019-03-19 22:47] phoenixking25 commented on #8122
![debugger](https://user-images.githubusercontent.com/22527880/54647025-1010e200-4ac7-11e9-8ec6-ffb79f4965be.gif)
Its working good for me

[2019-03-20 00:06] fvsch commented on #7920
Thanks a bunch @derek-li :tada:

[2019-03-20 11:56] juliandescottes opened #8143 "Debugger pauses on exception once after disabling it"
STRs:
- open Debugger
- uncheck all "Pause on exceptions" checkboxes
- go to https://zest-aardvark.glitch.me/
- in the Debugger, check "Pause on exceptions", then uncheck it
- in the webpage, click on the first button "exUncaught()"

ER: the Debugger should not stop on the uncaught exception
AR: the Debugger breaks on the exception. If you resume and click on the button again, the Debugger will no

[2019-03-20 14:58] arecvlohe commented on #3736
I just started noticing this on FFDE 67. Hadn't used debugger before but it definitely slows down and hangs for a while before proceeding. I will have to switch to Chrome for using debugger.

[2019-03-20 15:34] fvsch opened #8144 "Keyboard shortcut info modal should be dismissed by Escape key"
We have three modal-ish interfaces that can be accessed from the "welcome" screen and through keyboard shortcuts or buttons.

- "Go to file": overlay style, can be dismissed with Escape key
- "Find in files": replaces main content, can be dismissed with Escape key
- "Show all shortcuts": overlay style, Escape key doesn't work (it triggers the split console in Firefox)

For consistency, we should l

[2019-03-20 17:18] bwhitty commented on #3736
Agreed. Just upgraded to FF67 developer edition and had the dev tools hang the entire browser. Possibly some regression here?

[2019-03-20 17:51] digitarald opened #8145 "Remove animated background from the Threads list"
DevTools doesn't animate backgrounds for current selection in other lists; and animating for both focus/blur makes the selection feel a bit noisy and slower than necessary.

![Screen Recording (Firefox Nightly)](https://user-images.githubusercontent.com/8599/54707312-06ef3780-4afe-11e9-8008-91999d9eff38.gif)

[2019-03-21 01:42] chujunlu commented on #8145
Hi @digitarald ! I wasn't able to make the "Threads" section display. I looked into ⁨`src⁩/⁨components⁩/SecondaryPanes/Workers.js` and ⁨`⁨src⁩/reducers⁩/debuggee.js` but I'm not sure that I'm heading to the right direction. Would you mind letting me know your STR? Thank you!

Here's what I have in debugger now:
<img width="385" alt="Screen Shot 2019-03-20 at 9 32 11 PM" src="https://user-images.gi

[2019-03-21 05:50] nagpalm7 commented on #8075
@jasonLaster @jryans Can I take up this issue if no one is working on this?

[2019-03-21 05:58] digitarald commented on #8145
@chujunlu sorry for not providing a clearer STR. For the _Thread_ panel to appear you need a page with a web worker running, like http://mdn.github.io/simple-web-worker/

[2019-03-21 06:52] dhyey35 commented on #6722
@birtles I think I might be able to re-use all the components as `HTMLTooltip` allows passing a `document` instead of a XUL element.

I see that we have `devtools-mc-assets` in node_modules of debugger which has the files I need
I tried `import MenuButton from "devtools-mc-assets/assets/devtools/client/shared/components/menu/MenuButton.js";` in [Tab.js](https://github.com/firefox-devtools/debugger

[2019-03-21 08:44] soniasingla commented on #7353
@emmairwin is this issue available? I would like to work upon it :smile:

[2019-03-21 10:01] jryans commented on #8075
I think @jasonLaster fixed this in m-c via https://bugzilla.mozilla.org/show_bug.cgi?id=1532641.

[2019-03-21 10:01] #8075 closed

[2019-03-21 10:43] fvsch commented on #8141
There's a UI spec draft in https://github.com/firefox-devtools/ux/issues/50
But I see the value in being consistent with the select buttons in RDM / Network, so I would still go with that.

[2019-03-21 12:09] fvsch opened #8149 "[Threads] Align threads list with UI spec"
UI spec here: https://github.com/firefox-devtools/ux/issues/45#issuecomment-457021260
It doesn't include anything on Threads, but the same general rules should apply.

[2019-03-21 12:23] fvsch commented on #8149
Related issue: #8145.

[2019-03-21 12:57] juliandescottes opened #8150 "Source sometimes missing in source pane after reopening DevTools"
Tested in Firefox in latest central.

STRs:
- open https://rumbling-trail.glitch.me/ (default webpage from glitch)
- open debugger
- script.js should be visible
![image](https://user-images.githubusercontent.com/1141550/54753287-f2d03680-4be0-11e9-9944-e3f8f29b171d.png)
- close and reopen devtools a few times. For me `script.js` is no longer visible after a few attempts.
![image](https://user-imag

[2019-03-21 13:56] #8124 closed

[2019-03-21 16:03] digitarald commented on #6673
Continued in https://bugzilla.mozilla.org/show_bug.cgi?id=1537884 . Lowest hanging fruit is just fading out the whole list and using disabled state for the gutter indicators. We can tweak the details of checkboxes and font colors later.

Might be a good first bug?

[2019-03-21 16:04] digitarald commented on #6673
@darkwing should I close this one in favor of the bug or keep it here as GFB?

[2019-03-21 19:16] yogmel commented on #8127
Hi all,
Sorry for the late reply.

@ruturajv, I understand why you mentioned the `cursor: nw-resize`, it is hard to target the splitter on the right panel.
I inserted a `z-index` to it, so it solved both the border problem and the difficult targeting.

![border-bottom](https://user-images.githubusercontent.com/3901809/54778677-1e105100-4bf4-11e9-86bd-ef58c82364a2.gif)

Regarding the height of the

[2019-03-21 19:57] WenInCode commented on #8140
@dhyey35 I believe you can already do this via the context menu. Highlight the expression you wish to watch and right click to open the context menu, there should be an option to add as watch expression.

![watchexp](https://user-images.githubusercontent.com/5448834/54781148-1f844e00-4be1-11e9-9a1d-78aa1627e452.gif)

Does this cover what you are looking for?

[2019-03-21 20:14] #8071 closed

[2019-03-21 20:22] fvsch commented on #8127
- Good find re. the z-index issue!
- The 2px horizontal splitter looks great IMO. Could we also use the color change on `:hover` like the Inspector does?

For the min-height part, I looked at how the split-box component handles it and it's somewhat complex (we can have nested split-boxes). There is room for improvement there, but we should probably discuss it in a different issue.

I suggest we li

[2019-03-21 20:30] dhyey35 commented on #8140
@clarkbw Yes

[2019-03-21 20:30] #8140 closed

[2019-03-22 00:32] loganfsmyth commented on #8150
This is tracked in https://bugzilla.mozilla.org/show_bug.cgi?id=1503422

[2019-03-22 00:32] #8150 closed

[2019-03-22 00:46] loganfsmyth commented on #8143
Refiled in https://bugzilla.mozilla.org/show_bug.cgi?id=1538054 since this is a server issue.

[2019-03-22 00:46] #8143 closed

[2019-03-22 02:26] James-E-Adams commented on #6684
I actually have the same experience on Chrome if I haven't already opened the React dev tools. If I want to use them whilst on a breakpoint, I have to make sure I've opened them at least once because I don't think they can initialise whilst on a breakpoint.

[2019-03-22 06:13] ruturajv commented on #8117
So to understand it clearly ...
- the code runs fine
- its just that the debugger's `this` resolution is incorrect, is it ?

So the fix is essentially binding `this` to the correct `this`?

[2019-03-22 12:44] chujunlu commented on #8145
Thanks for getting back to me! I used debugger launchpad to debug http://mdn.github.io/simple-web-worker/. Thread pane still doesn't show up. Are you using FireFox build?

[2019-03-22 15:36] digitarald commented on #8145
@darkwing could maybe help with why this isn't working.

[2019-03-22 15:42] darkwing commented on #8145
Hello @chujunlu !  This actually got fixed on Mozilla Central, so I'll close this one for now.  Thank you for looking into it!

[2019-03-22 15:42] #8145 closed

[2019-03-22 16:11] yogmel commented on #8127
Hi everyone,

I have experienced with @fvsch suggestions. Here how it looks like now:

![border-bottom2](https://user-images.githubusercontent.com/3901809/54836849-d34e1200-4ca3-11e9-96e0-377fb2ccd771.gif)

-------------

I have also inserted a `z-index` so the splitters are consistent.

![01](https://user-images.githubusercontent.com/3901809/54836862-d6e19900-4ca3-11e9-8471-5a2ddad60caf.PNG)

![0

[2019-03-23 00:16] anthony-xie commented on #7160
/claim

[2019-03-23 06:14] helenatxu commented on #8129
Hello @fvsch
Sorry I just saw your message. I will work on this right now, thanks!

[2019-03-23 08:23] ruturajv commented on #8123
/claim

[2019-03-23 12:00] davidenco opened #8155 "Cannot find module 'postcss-bidirection'"
Using instructions within Getting Started article on Windows 10, when I run "yarn start", it breaks as follows. Is this related to #7941?

PS C:\debugger> yarn start
yarn run v1.13.0
$ node bin/dev-server
Listening for WS on localhost:8116, all traffic is proxied to localhost:6080
Protocol messages can be logged by enabling `logging.firefoxProxy` `in /configs/local.json`
Hot Reloading - https://gi

[2019-03-23 16:25] helenatxu commented on #8129
@fvsch as I pushed my patch to Phabricator, should we close this issue? :)

[2019-03-23 16:46] fvsch commented on #8129
I don't think we can land the patch on Phabricator without a Bugzilla bug number.
Can you close the Diff on Phabricator and make a PR against this repo, instead?

[2019-03-23 19:35] fvsch commented on #8123
Looking at Nightly, it seems we're always showing the column information for all breakpoints in the Breakpoints pane.

![Selection_003](https://user-images.githubusercontent.com/243601/54870692-43df5680-4daa-11e9-908c-42ff029fea77.png)

And Console locations are showing the column too when it's available:

![Selection_004](https://user-images.githubusercontent.com/243601/54870736-a33d6680-4daa-11e

[2019-03-24 18:23] ash-tamraz commented on #8155
I just ran into this problem on Ubuntu 16.04 while running `yarn start`. It occurs when running `yarn start` in the master branch of my local fork of debugger, which is currently even with `firefox-devtools:master`.

Below is the output from my `yarn start`:

[code]

[2019-03-24 22:51] errietta commented on #8064
Sorry it took that long ^_^' (Stuff ™️  going on)
I think it looks good with what @derek-li said about putting the source information on the right
![image](https://user-images.githubusercontent.com/134585/54887130-44015400-4e87-11e9-8063-593b903cc637.png)

but i'm happy to be convinced otherwise

[2019-03-25 08:30] #6153 closed

[2019-03-25 14:35] ruturajv opened #8159 "Add test case for `yarn start `"
At times it happens some code gets checked in and  build processes or bootstrap processes fail. One of the most frustrating ones could be `yarn start`. If a new developer isn't able to do a clean `yarn start`, then he/she could lose interest and focus quickly. Long time back `netmonitor` used to run with `yarn start` now I've got to painfully wait for `mozilla-central` builds.

Recently there was

[2019-03-25 14:43] jasonLaster commented on #8159
Thanks @ruturajv, i agree that this would be nice. I think we could write a small node script that executes `yarn start` and checks to see if it started correctly. Perhaps if you can curl `http://localhost:8000/assets/build/debugger.js`...

[2019-03-25 14:49] ruturajv commented on #8159
Great, I'll try if I can create something on those lines..

[2019-03-25 15:39] harry1989 opened #8160 "FF Debugger doesn't show the file content"
Cross posting from https://bugzilla.mozilla.org/show_bug.cgi?id=1538629:

I have an internal website for which the debugger doesn't show the file content, instead it shows absurd 30000. There are no error messages and helpful whatsoever regarding this. The functionality of the site isn't affected, but that debugger doesn't show any content, it is hindering the debugging.

**Actual results:** Debug

[2019-03-25 17:30] ruturajv commented on #8159
I have a very rudimentary script doing stuff (just console.logging instead of asserting). However it has 1 problem, the `yarn start` process invokes another `node bin/dev-server` process. This child process [doesn't get killed](https://nodejs.org/api/child_process.html#child_process_subprocess_kill_signal). There are some ways of fixing that but they might be very OS specific or I'ven't read the d

[2019-03-25 19:54] miriambudayr commented on #8144
/claim

[2019-03-25 20:09] #8155 closed

[2019-03-25 21:16] #8121 closed

[2019-03-26 16:06] #7879 closed

[2019-03-26 18:05] fvsch opened #8164 "Code is not monospace anymore in Launchpad (CSS selector issue)"
When using the launchpad (`yarn start` from `master`), `.devtools-monospace` and other code text is not monospace anymore:

![screenshot](https://user-images.githubusercontent.com/243601/55014197-d2421b00-4fea-11e9-8d20-65e8822b3fa8.png)

These styles rely on the `--monospace-font-family` which is defined in mozilla-central's `devtools/client/themes/common.css` like this:

[code]

The launchpad do

[2019-03-26 18:17] #8164 closed

[2019-03-27 14:23] jaril commented on #6577
I checked with the Reps demo app - this seems to have already been fixed and can be closed:

<img width="356" alt="Screen Shot 2019-03-27 at 10 20 51 AM" src="https://user-images.githubusercontent.com/15959269/55083541-15979a80-507a-11e9-9697-083e85015196.png">

[2019-03-27 15:41] #7904 closed

[2019-03-27 15:42] #7868 closed

[2019-03-27 15:52] #7332 closed

[2019-03-27 15:57] #6771 closed

[2019-03-27 15:58] darkwing commented on #7191
@digitarald Care to weigh in on this?

[2019-03-27 19:35] abhiaecs commented on #8128
Hey!
Is this bug already claimed? Or can you assign it to me?

[2019-03-27 20:09] chujunlu commented on #6946
Hi all! I can reproduce the behavior @juliandescottes and @cpeterso mentioned above. I read the inactive PR of this issue. Could I pick it up from where it left off? Thanks.

[2019-03-27 21:33] digitarald commented on #7191
Looks a lot better, with less noise. Lets close for now.

[2019-03-27 21:33] #7191 closed

[2019-03-27 21:40] fvsch commented on #8128
We might need to decide on the design first.

@jasonLaster I remember you said on Slack that you wanted to have a single tree with the threads/workers as the first level nodes?

[2019-03-28 03:28] jasonLaster commented on #8128
yep - i was planning on a single tree.

[2019-03-28 05:17] digitarald commented on #8036
Do you have examples of similar overlays with next/previous buttons, @charanjit-singh ?

I could only find VSCode's in-file search, which does not have a pattern of showing search results in the modal:
![image](https://user-images.githubusercontent.com/8599/55131970-fdf1fd80-50dd-11e9-8ea4-87b0d5243117.png)

[2019-03-28 05:19] digitarald commented on #8074
@darkwing since this is causing issues with incorrect collapsing (now also in Console) with a very broad pattern, should we remove it for now?

[2019-03-28 05:30] karlcow opened #8169 "Some JS files are not there."

[2019-03-28 05:31] #8169 closed

[2019-03-28 13:26] rugk opened #8171 "CSS diff should show/have a reset/revert button"
The CSS inspector now has this nice "Changes" tab I can use to copy my changes.

**However**, when I got to this tab, what i (as a developer) expected to find, was also a "reset changes" or "revert" button on the same page, so I can (similar to when I view changes in git) just revert everything and restart from scratch.

AFAIK there is no other easy way (except of reloading, but this may not be po

[2019-03-28 13:58] nchevobbe commented on #8171
hello, bugzilla is the place is supposed to be, so I'll close this one :)

(this repo is only for the debugger panel)

[2019-03-28 13:58] #8171 closed

[2019-03-28 15:29] #8074 closed

[2019-03-28 15:42] #6108 closed

[2019-03-28 20:05] Mozilla-GitHub-Standards opened #8172 "CODE_OF_CONDUCT.md isn't correct"
**Your required text does not appear to be correct**

As of January 1 2019, Mozilla requires that all GitHub projects include this [CODE_OF_CONDUCT.md](https://github.com/mozilla/repo-templates/blob/master/templates/CODE_OF_CONDUCT.md) file in the project root. The file has two parts:

1. Required Text - All text under the headings *Community Participation Guidelines and How to Report*, are requir

[2019-03-29 14:28] salomvary commented on #7734
@jasonLaster I repeated the test on the same web application with the latest Nightly but I do not perceive any difference in speed compared to my last comment:

Full reload to first breakpoint (unfortunately the profiler no longer captures screenshots in the first few seconds): http://bit.ly/2YzaQk5

- Stopping on the first breakpoint with full reload takes 1-2 seconds
- Breakpoint markers follow

[2019-03-29 17:45] #8144 closed

[2019-04-01 23:48] karlcow opened #8176 "detecting virtual keyboard with about:debugging (remote debugging)"
Hi,

This is a practical example of a hurdle. It's probably a duplicate of breakpoints for events listeners. I just put here, because sometimes the devtools team is asking what are the practical issue.

0. With Firefox Nightly 68.0a1 (2019-04-01) (64-bit) on desktop AND android.
1. Open Firefox on desktop with about:debugging
2. On Firefox Android go to https://www.geeksforgeeks.org/loops-in-javas

[2019-04-01 23:48] karlcow commented on #8176
And the practical issue where this is happening is
https://webcompat.com/issues/28446

[2019-04-02 14:54] jaril opened #8178 "Deactivate Breakpoints button not working in Launchpad"
Clicking on the deactivate breakpoints button does not toggle it to an active state where breakpoints are skipped.

![Apr-02-2019 10-44-33](https://user-images.githubusercontent.com/15959269/55411874-64d74280-5534-11e9-90cc-193db8809909.gif)

![image](https://user-images.githubusercontent.com/15959269/55412421-67866780-5535-11e9-9bfe-a012eaff2212.png)

[2019-04-02 18:31] dimitardanailov commented on #8032
@nchevobbe / @darkwing

I'd like to try make a patch / PR for this issue but I need more information.
Could someone help me ?

How to reproduce the issue and which example should use ?

[2019-04-02 18:34] darkwing commented on #8032
Heh, I just submitted a patch for this problem this morning :)

https://phabricator.services.mozilla.com/D25635

Feel free to check out the code there, @dimitardanailov, to understand what's happening :)

[2019-04-02 18:37] dimitardanailov commented on #8032
@darkwing

Thank you very much for quick response 🙇
Unfortunately I don't have knowledge and experience to understand the patch.
Whatever: The patch looks good and solid.

[2019-04-02 22:13] jasonLaster commented on #8178
@jaril my guess is that you're not debugging Nightly...

[2019-04-03 02:16] jaril commented on #8178
Just double checked, this happens while debugging a Nightly tab `68.0a1 (2019-04-02)`.

[2019-04-03 03:57] jasonLaster commented on #8178
Thanks.

[2019-04-03 21:06] #8129 closed

[2019-04-03 22:31] mnoorenberghe opened #8180 "Command-G should find the next result within the file"
STR:
1. Open file in debugger
2. Press Command-F to open the search bar
3. Type the search term… the first result gets highlighted and scrolled into view
4. Press Command-G to find the next result

Expected result:
the next result is brought into view

Actual result:
Nothing 😢

One of my main annoyances with the debugger is that Command-G doesn't work to find the next match… I need to first focus

[2019-04-04 16:14] nagpalm7 commented on #8149
@fvsch Can I take this issue?

[2019-04-04 17:49] #8119 closed

[2019-04-04 18:44] #7160 closed

[2019-04-05 07:47] fvsch opened #8181 "[UX] Make sure that users can see Paused and Deactivated states"
Two Debugger states can cause frustrating problems for users when they're unaware of them:

1. The "Paused" state (e.g. when paused on a breakpoint), because it will virtually lock the web page. This state is currently reflected by:
    - In Toolbox: the Debugger tab's icon color (green)
    - In Debugger: a highlighted line in the relevant source file
    - In Debugger: the command toolbar's "pau

[2019-04-05 07:52] fvsch commented on #8149
Definitely. :)

[2019-04-05 08:02] nagpalm7 commented on #8149
/claim

[2019-04-05 13:27] chujunlu commented on #8180
Hi, I did some experiment of this issue on my mac. When there are more than 2 matching results, `Command+G` works - showing the next result. It doesn't work when there are 2 matching results. Is it what you found?

[2019-04-05 13:54] fvsch commented on #8181
Bugzilla bug for the style of deactivated breakpoints: [bug 1537884](https://bugzilla.mozilla.org/show_bug.cgi?id=1537884).

[2019-04-05 15:29] mnoorenberghe commented on #8180
When I filed the bug I was searching for something with 2 matches so that’s
probably what I saw.
--
Sent from my phone

[2019-04-07 00:52] FadySamirSadek commented on #8047
What makes a variable a relevant contextual variable?!
Is it being in the same scope or something else?

[2019-04-07 20:05] pradeepgangwar commented on #7312
/claim

[2019-04-08 00:25] arosenfeld2003 commented on #8180
@chujunlu are you working on this?  If not, I would like to claim it...

[2019-04-08 00:37] arosenfeld2003 commented on #8180
So in my experiment, `Command+G` seems to skip every other search result.  Did you find this as well @mnoorenberghe or  @chujunlu?  Please let me know if you're working on this issue, otherwise I am considering claiming it if that's ok...

[2019-04-08 01:55] chujunlu commented on #8180
Hey @arosenfeld2003 ! Yes I found that too and I did some research in the code base for it. If you don't mind, may I continue to work on it? Thanks!

[2019-04-08 12:40] chujunlu commented on #8180
/claim

[2019-04-10 14:47] #8032 closed

[2019-04-10 14:48] darkwing commented on #7490
@derek-li Would you be able to try this out?  You're on Windows, correct?

[2019-04-10 16:43] kciccolella commented on #8107
Hello @harshlele,

I was wondering if you are still working on this issue.

[2019-04-10 16:44] harshlele commented on #8107
/unclaim

[2019-04-10 16:45] kciccolella commented on #8107
/claim

[2019-04-10 16:45] harshlele commented on #8107
@kciccolella hey sorry for keeping this claimed i just got busy. You can take this!

[2019-04-10 16:45] kciccolella commented on #8107
Thank you @harshlele . Much appreciated.

[2019-04-10 17:17] #8064 closed

[2019-04-11 09:05] AnshulMalik commented on #8178
So this occurs in launchpad, because we have two thread-client files, one of them gets some change and not the other. We should merge both and try to keep them updated.

[2019-04-11 10:54] AnshulMalik commented on #8005
Should we merge all sources into one tree or switch trees based on the selected thread?

If we are going to have separate trees, then what happens when we have tabs open from multiple thread sources and we say show in tree while the other thread is selected?

If we merge them, we might need to take care of duplicate scripts.

[2019-04-11 13:25] fvsch commented on #8149
Closing this issue in favor of the Bugzilla [bug 1543581](https://bugzilla.mozilla.org/show_bug.cgi?id=1543581), which should be close to landing.

[2019-04-11 13:26] fvsch commented on #8064
Agreed. Thanks everyone.

[2019-04-11 15:27] darkwing commented on #7490
I just tested locally on a Windows PC and the font does look a bit yucky.

`font-weight: bold` (current):

![font-bold](https://user-images.githubusercontent.com/46655/55969732-ecfbcd00-5c43-11e9-8979-94e9e203ef89.png)

`font-weight: 600` (@fvsch's suggestion)

![font-600](https://user-images.githubusercontent.com/46655/55969781-fedd7000-5c43-11e9-9684-1fcb4241723a.PNG)

Here's what bold looks lik

[2019-04-11 15:27] #7490 closed

[2019-04-11 15:31] darkwing commented on #7968
I still can't reproduce this in MC so I'm closing but please reopen if you see it again!

[2019-04-11 15:31] #7968 closed

[2019-04-11 17:16] jasonLaster commented on #8005
we'll keep the same UX just have one tree component. Working on this now

[2019-04-11 20:04] darkwing commented on #7918
@jasonLaster @digitarald Did we have mockups for this?  I want to say we had a rough mockup of the two functionalities in one modal/panel.

[2019-04-11 20:12] jasonLaster commented on #7918
I don't think we have a mockup for it.

Lets move this out of quality and into the next logpoints milestone.

[2019-04-12 01:36] #8105 closed

[2019-04-12 03:47] darkwing commented on #6631
I think we've completed this! Wow, I'm so excited about this!

[2019-04-12 03:47] #6631 closed

[2019-04-12 03:47] darkwing commented on #7674
Closing as we've moved this issue over to MC.

[2019-04-12 03:47] #7674 closed

[2019-04-12 13:06] darkwing commented on #7888
Tried this morning and I couldn't reproduce it.

[2019-04-12 14:09] darkwing commented on #7671
https://bugzilla.mozilla.org/show_bug.cgi?id=1543999

[2019-04-12 14:09] #7671 closed

[2019-04-12 15:03] arosenfeld2003 commented on #8060
@fvsch I'm investigating this to get a deeper understanding of the source tree.  Would you mind sharing the url you used for the above screenshot?

[2019-04-12 15:47] #7888 closed

[2019-04-12 18:01] fvsch commented on #8060
@arosenfeld2003 That was on https://arstechnica.com/

[2019-04-14 20:08] #8178 closed

[2019-04-15 07:25] #6147 closed

[2019-04-15 11:12] guydrori opened #8188 "Debugger not loading on Firefox Developer Edition 67.0b10"
Dear all,

I would like to share an issue I discovered with the latest version of the Firefox Developer Edition 67.0b10. For some reason, the Debugger tab in the DevTools console doesn't load at all, and there are no errors in the Console. It is strange that the Debugger works fine in the stable channel (version 66.0.3) using the same profile.

The profile used has no extensions installed, the onl

[2019-04-15 13:00] jasonLaster commented on #6946
@chujunlu go for it

[2019-04-15 14:26] janodvarko commented on #7571
Is the following STRs related to this report?

1) Load https://firefox-dev.tools/debugger-examples/examples/my-app/build/
2) Open DevTools, select the Debugger panel
3) Right click on `Webpack` dir in the Sources panel an pick `Set directory root`

ER:
Content of Webpack dir is displayed
AR:
Content of `~` is displayed

Honza

[2019-04-15 19:05] #7925 closed

[2019-04-16 21:36] digitarald commented on #4318
This issue was about the animation, not the missing highlight. Opened a new issue in [bugzilla](https://bugzilla.mozilla.org/show_bug.cgi?id=1544930) to continue the discussion.

[2019-04-16 22:46] digitarald commented on #8007
I broke out the tab icon discussion into [bug 1544967](https://bugzilla.mozilla.org/show_bug.cgi?id=1544967)

[2019-04-17 16:17] #8049 closed

[2019-04-17 22:04] violasong opened #8192 "Welcome screen: Remove white bottom bar"
This seems unnecessary and looks a little buggy when overlapped by the shortcut text:

<img width="795" alt="image" src="https://user-images.githubusercontent.com/55994/56323791-c77a3200-6121-11e9-80b9-acb671dc2655.png">

[2019-04-18 13:01] darkwing commented on #8192
@derek-li Care to look at this one?  I tried adding `z-index: 10` to the footer, which works, but it hides the right border

[2019-04-18 20:30] digitarald opened #8193 "Add hover state and title to sources entries"
The sources tree can feel surprisingly non-interactive compared to Chrome

1. Chrome shows the full title of the entry via tooltip, which can help for smaller sources panel widths
2. Chrome has a visual hover state

<img width="369" alt="image" src="https://user-images.githubusercontent.com/8599/56389206-cb6b8a00-61dd-11e9-825d-d539a39ead2e.png">

<img width="369" alt="image" src="https://user-ima

[2019-04-18 20:36] darkwing commented on #8193
Good idea.  For the hover color, we should use the same colors (for each theme) as we do the quick open hover

[2019-04-18 21:33] violasong commented on #8192
I looked at this just for fun :D what about:

.welcomebox {
- bottom: var(--editor-footer-height);
+ bottom: 0;
}

[2019-04-18 22:16] derek-li commented on #8192
@violasong

Just tried your suggestion, seems like it's making the footer disappear completely?
I'm seeing this:
![e9469dfc5ca12360959a93552bae4b19](https://user-images.githubusercontent.com/33161837/56394660-dbd73100-61ec-11e9-8d9c-2da6bcd30ab6.png)

[2019-04-18 22:25] anthonyx commented on #8193
/claim

[2019-04-18 22:28] violasong commented on #8192
Oh, I see - in dock-to-bottom mode, it shouldn't have a toolbar, but it does need the toolbar in dock-to-side.

<img width="1181" alt="image" src="https://user-images.githubusercontent.com/55994/56395124-33c26780-61ee-11e9-964b-e417a2ee3200.png">

[2019-04-18 23:41] AndRo-Marian opened #8195 "I have a "TypeError: can't access dead object" on tab.onUpdate from console.log or the tab.js"
let tabs = { status: "created", website: null };

    function onTabUpdated(id, changeInfo, tabInfo)
    {
        if (tabs.status === "loading")
        {
            console.log();
        }

        switch (tabs.status)
        {
            case "created":
            {
                if (changeInfo.hasOwnProperty("url"))
                {
                    let website = storage.addWebsite(

[2019-04-19 18:51] chujunlu commented on #6946
Hey @jasonLaster, I submitted a patch to Phabricator. It fixes the issue for macOS but not works perfectly for Windows and Linux. I'm facing a dilemma for Windows/Linux, which I described in https://phabricator.services.mozilla.com/D26256. It would be helpful to hear your inputs if you have time. Thanks :)

[2019-04-22 14:50] chujunlu commented on #8180
Hey, I submitted a patch to Mozilla central which fixed the issue. Once debugger on Github is synced and there isn't regression that the fix causes, this issue could be closed.

[2019-04-22 19:49] jasonLaster commented on #7734
Hey @salomvary sorry for the delay. Would you mind re-testing and measuring with firefox nightly? We've landed another fix that should turn off all the computations when "map scopes" is disabled.

[2019-04-22 19:50] jasonLaster commented on #7571
I hope to work on this this week. @janodvarko i'll look into that then.

[2019-04-22 22:15] Archaeopteryx opened #8196 "'Edit log' context menu item uses accesskey for 'Add log', should use its own"
1. Set a breakpoint on a line.
2. In the right sidebar, right click the breakpoint.
3. From the menu, choose 'Add log'. (Accesskey: `l`)
4. Enter something for the log point
5. Right click again in the sidebar.
It again uses the accesskey `l`.
There is a dedicated accesskey for it: https://github.com/firefox-devtools/debugger/blob/38f00070863a364e5b494a1867e665743dbb6f49/assets/panel/debugger.prop

[2019-04-22 22:46] Archaeopteryx opened #8198 "'Add log' and 'Edit log' on breakpoint in sidebar should scroll line into view"
'Add log' and 'Edit log' on a breakpoint in the breakpoint sidebar should scroll the line and text field into view.

Steps to reproduce:
1. Open https://freshman.tech/calculator/
2. Open the debugger.
3. In the left sidebar, open https://jsfiddle.net/js/embed/embed.js
4. Go to line 25, set a breakpoint.
5. Scroll to the top.
6. Check that line 25 is not shown.
7. In the right sidebar, right-click

[2019-04-23 13:08] jasonLaster commented on #7734
I'll pre-emptively close, happy to re-open if this is not fixed

[2019-04-23 13:08] #7734 closed

[2019-04-23 14:54] #8192 closed

[2019-04-23 14:55] #8107 closed

[2019-04-23 20:08] darkwing commented on #7986
@jasonLaster Do you this a tree bug or a server bug?

[2019-04-23 21:54] jasonLaster commented on #7986
i think this is a client bug.

that comes from -- https://searchfox.org/mozilla-central/source/devtools/client/debugger/src/actions/sources/newSources.js#120

CC @bhackett1024

[2019-04-24 02:20] blueberryapple commented on #8141
/claim

[2019-04-24 13:24] #8180 closed

[2019-04-26 14:57] #8047 closed

[2019-04-26 14:57] darkwing commented on #6747
Just landed fix in MC.

[2019-04-26 14:57] #6747 closed

[2019-04-26 18:18] sorin-davidoi opened #8204 "Copy scripts are out of date"
[code]

[2019-04-26 21:04] digitarald commented on #8047
Implementation work will continue in bugzilla under meta [bug 1547385](https://bugzilla.mozilla.org/show_bug.cgi?id=1547385).

[2019-05-01 12:19] qguv commented on #7113
This behavior persists in Firefox 66.0.3 on Fedora 29 for amd64.

One workaround is to disable source map support in settings:

![Screenshot from 2019-05-01 14-12-36](https://user-images.githubusercontent.com/553637/57016610-417ae280-6c1b-11e9-9c22-cd8418abb06a.png)

The pretty-print functionality will now be available again:

![Screenshot from 2019-05-01 14-12-51](https://user-images.githubuserco

[2019-05-02 11:20] jasonLaster commented on #7113
Thanks for the update @karlcow @qguv

[2019-05-03 03:48] blueberryapple commented on #8141
so I added the css changes suggested, this is what it currenly looks like after adding in the background image for the arrow:

![image](https://user-images.githubusercontent.com/9259833/57118894-14155e00-6d1b-11e9-938a-2d3df94ff9eb.png)

[here is the commit with the changes](https://github.com/blueberryapple/debugger/commit/9d51e45181ceb983b062dc4baa2b5b99c7afd44f#diff-a81c5afc411907c1034050a1a2c8

[2019-05-03 07:15] fvsch commented on #8141
Hmm. We have a way that works in Firefox only, using `fill="context-fill" in the SVG code and this in the CSS:

[code]

It won't work in Chrome but maybe that's an acceptable trade-off?
Especially if we use a medium gray fallback that is still visible in Chrome, e.g.:

[code]

[2019-05-04 01:35] blueberryapple commented on #8141
looks like that works when it's an svg element, but not when the svg is used as a background image :cry: . the fallback value is parsed in firefox, but not in chrome- so we end up with a gray arrow in firefox and a black arrow in chrome.

so I just changed the fill color to `#808080` and both browsers now have gray arrows as expected, but this isn't the optimal solution is it?

[2019-05-08 05:06] blueberryapple commented on #8141
Okay! I got this to work great without needing to modify the svg with pseudoelements :smile:. With the pseudoelement, we can use `mask` and set the svg colors like the other places no problem. What do you think?

[2019-05-08 09:35] fvsch commented on #8141
Given that rendering in Firefox devtools is our primary use case and supports `-moz-context-properties: fill;` and `fill="context-fill"`, I don't know if we need to make the CSS and DOM structure more complex to use a mask here. :/ But if the fallback gray color does not work in Chrome at all, I guess the pseudo-element technique might be better.

Two things on the design side:
- the icon we want

[2019-05-08 09:41] fvsch commented on #8141
@blueberryapple Can you make a pull request, to continue the discussion on the code?

[2019-05-09 01:58] blueberryapple commented on #8141
PR created!

[2019-05-09 14:21] janodvarko commented on #7986
Reported in Bugzilla:
https://bugzilla.mozilla.org/show_bug.cgi?id=1550492

Honza

[2019-05-09 19:49] #8149 closed

[2019-05-11 19:40] dczombera commented on #8204
/claim

[2019-05-16 15:08] jasonLaster commented on #7951
CC https://bugzilla.mozilla.org/show_bug.cgi?id=1552061

[2019-05-20 14:51] #6993 closed

[2019-05-20 16:44] darkwing commented on #7571
Jason fixed this in MC.

[2019-05-20 16:44] #7571 closed

[2019-05-21 20:32] digitarald commented on #7134
Continued in https://bugzilla.mozilla.org/show_bug.cgi?id=1553291

[2019-05-21 20:32] #7134 closed

[2019-05-24 23:51] hardik25 commented on #8193
/claim

[2019-05-24 23:52] hardik25 commented on #8193
/unclaim

[2019-05-28 06:43] hardik25 commented on #8204
/claim

[2019-05-29 11:26] daniel-234 commented on #8193
/claim

[2019-06-01 19:56] soniasingla commented on #8092
/claim

[2019-06-03 22:11] jasonLaster commented on #8092
Thanks @soniasingla this was actually finished in bugzilla

[2019-06-03 22:11] #8092 closed

[2019-06-06 06:18] rulatir commented on #828
DON'T

This request, if implemented, will provide a half-feature that doesn't solve most of the problem, but will likely prevent the real problem for being considered for years to come, because "hey, we implemented this, now stop complaining".

"Most of the problem" is that some websites defeat devtools with a `debugger` statement **in an eval()** executed repeatedly with `setInterva()`. Each of t

[2019-06-06 11:12] inoyakaigor opened #8227 "[L10n] Misuse words for blocks in scopes panel"
In Russian localization for blocks of scope used verb «`Блокировать`» (to block) instead of noun «`Блок`» (a block).

Also for anonymous blocks used word «`анонимная`» (feminine gender) and it is right if we talk about «`a scope`» (also have feminine gender) but blocks entitled with word «`block`» (masculine gender) and that mean that right word here is «`анонимный`» (also masculine gender)

[2019-06-06 16:56] darkwing commented on #8193
THis was completed in MC>

[2019-06-06 16:56] #8193 closed

[2019-06-06 18:58] digitarald commented on #7986
Continuing in bugzilla.

[2019-06-06 18:58] #7986 closed

[2019-06-06 21:21] SebastianZ opened #8228 "Allow to disable halting on 'debugger' statements"
There are some websites that use dynamically generated `debugger` statements to protect their website from being inspected, e.g. by using code like `setInterval(function() { eval('debugger;'); }, 500);`.

Also, there are cases in which you don't want to stop on `debugger` statements you've set in your code and just skip over them.

For those cases there should be an option to simply skip over thos

[2019-06-06 21:24] SebastianZ commented on #828
Stopping websites from defeating the debugger by generating dynamic `debugger` statements is a different use case (already [mentioned](https://github.com/firefox-devtools/debugger/issues/828#issuecomment-258226174) by @DerpMcDerp earlier), nonetheless a very important one.

So, as he or she already noted, there should be an option to completely disable halting on `debugger` statements.

As both fe

[2019-06-26 21:28] karlcow opened #8235 "[event breakpoints] persistence of breakpoints across contexts"
1. With Firefox Nightly 69.0a1 (2019-06-25) (64-bit) on macOs
2. Open a window on https://wikipedia.org/
3. Open the debugger
4. Click on any event checkbox on the right panel
5. Open a new window, go to https://www.mozilla.org/
6. Open the debugger.

Actual:
The selected events are the one of the first window.

Expected:
Selection of events in the debugger should be relative to the debugging cont

[2019-07-03 18:34] hardik25 commented on #8204
/unclaim

[2019-07-04 11:26] Standard8 commented on #3539
No idea what fixed this, but the original STR work now :-)

[2019-07-04 11:26] #3539 closed

[2019-07-04 20:20] schnippe commented on #8228
I did a binary patch of the js debugger statement in libxul.so/dll to something else.

[2019-07-05 07:04] wkillerud opened #8239 "Consider adding a toggle for prefers-color-scheme dark"
Hello, and thanks for your great work on the Firefox devtools 🙌

I've been experimenting with CSS that adapts to the preferred color scheme of the user and noticed while testing Safaris devtools that they include a useful toggle for "dark mode" that let me quickly test the opposite color scheme without changing the system settings.

I tried looking for something similar in Nightly, but couldn't fi

[2019-07-05 07:39] nchevobbe commented on #8239
Hello William,

This repository is (was) for the debugger panel only, other panels are handled on Bugzilla.
Would you mind filing a bug in https://bugzilla.mozilla.org/enter_bug.cgi?product=DevTools&component=Inspector ? (you should be able to login with your github account)

For the feature itself, I'm pretty sure the team had a discussion about this not long ago, but I couldn't find any filed bu

[2019-07-05 07:41] wkillerud commented on #8239
For sure, I noticed after submitting that this probably was the wrong repo 😅 I'll file in Bugzilla. Thanks!

[2019-07-05 07:41] #8239 closed

[2019-07-05 14:28] schnippe commented on #8228
As a one liner:

\< 05d17360: 6179 0064 6179 5065 7269 6f64 0064 6262  ay.dayPeriod.dbb
\< 05d17370: 6267 6767 7200 6465 6369 6d61 6c00 6465  bgggr.decimal.de
--
\> 05d17360: 6179 0064 6179 5065 7269 6f64 0064 6562  ay.dayPeriod.deb
\> 05d17370: 7567 6765 7200 6465 6369 6d61 6c00 6465  ugger.decimal.de

This will probably disturb Widevine DRM.

@jasonLaster :
A simple "Disable debugger Statement",

[2019-07-05 21:16] varundey commented on #8204
Is this still up for grabs? @dczombera are you still working on it?

[2019-07-08 07:59] dczombera commented on #8204
@varundey This problem was already fixed by @darkwing a month ago or something. Might be a good idead to close this one.

[2019-07-10 11:08] inoyakaigor commented on #8227
Fixed https://bugzilla.mozilla.org/show_bug.cgi?id=1555984

[2019-07-10 11:08] #8227 closed

[2019-07-19 16:59] fvsch commented on #8181
Closing this issue because we're moving issues and milestones to Bugzilla, and we've also landed a few important improvements to this general problem.

- Paused on breakpoint: we've landed an update to the WhyPaused component which is back at the top of the sidebar.
- Deactivated breakpoints: we've updated the breakpoint styling in the sidebar and in source files.

[2019-07-19 16:59] #8181 closed

[2019-07-19 17:00] fvsch commented on #8128
Fixed by Jason in 69 I believe.

[2019-07-19 17:00] #8128 closed

[2019-07-19 17:10] fvsch commented on #7933
Looks like this is done:

1. Different colors: check
2. Title on conditional breakpoints and log points: check (on the column marker)

[2019-07-19 17:10] #7933 closed

[2019-07-31 22:28] sneakycrow opened #8248 "README References out of date document"
It looks like the README.md is referencing a document that is not the most up-to-date Google Doc referenced here: https://github.com/firefox-devtools/debugger/blob/master/README.md#L86

Screenshot since Github isn't line specific friendly for markdown: http://cl.ly/28be1e1f3182/Image%202019-07-31%20at%203.28.01%20PM.png

Currently referenced Google Doc: https://docs.google.com/document/d/146p7Y8Ue

[2019-07-31 22:28] sneakycrow commented on #8248
/claim

[2019-08-02 10:21] 10ko commented on #1216
Hello there, I am getting this error after a fresh `yarn install`:
[code]

My environment:
[code]

Should I open a new issue or do you have any pointer?
Thanks a lot.
E

[2019-08-02 11:38] 10ko opened #8250 ""yarn start" fails with MODULE_NOT_FOUND"
Hello there, I am getting this error after a fresh `yarn install`:
[code]

My environment:
[code]

Does anybody have any pointer?
Thanks a lot.
E

[2019-08-13 15:30] Pep-DEV101 commented on #8141
/claim

[2019-08-14 07:22] vishalksuthar opened #8255 "Invalid Background-Color code generate"
When we change color code using impact element and decrease opacity then  Invalid # color code generate.
Check Bellow screenshot
![image](https://user-images.githubusercontent.com/43471370/63001875-337f6380-be92-11e9-9f00-efe2cc9ab24a.png)

[2019-08-16 03:38] tiansh commented on #7193
[code]

Just got this with slightly different line numbers on Firefox 68.0.1

[2019-08-16 05:32] tiansh commented on #7193
I'm not sure if it related, but seems to be.

[code]

* Debugging on Nightly 70.0a1 (2019-08-15) (64-bit).
* Add break points on two `console.log` line
* Refresh the page
* Hit F8 twice
* And...
<img width="760" alt="fx-debugger" src="https://user-images.githubusercontent.com/6500326/63145419-be02c700-c03a-11e9-801f-dc2e4fa68797.png">

[2019-08-16 06:52] nchevobbe commented on #8255
Hello Vishal, thanks for filing an issue.
I'm going to close this because this repository is only used for the debugger panel, and you're talking about an inspector one.
Also, I don't think there's an issue with your sreenshot? This is a valid color, with the 2 last character representing the opacity. You can read more about it in https://css-tricks.com/8-digit-hex-codes/

[2019-08-16 06:52] #8255 closed

[2019-08-16 15:39] gabrielluong opened #8258 "Pass the object to onDOMNodeMouseOut in the reps"
For fission, we will need to be able to retrieve the contextual fronts based on the grip's target (See [Bug 1574506](https://bugzilla.mozilla.org/show_bug.cgi?id=1574506). We currently do pass the grip object in onDOMNodeMouseOver and onDOMNodeClick. We will need to do to the same for onDOMNodeMouseOut.

[2019-08-18 17:48] Archaeopteryx opened #8260 "keyboard shortcut for finding next occurrence of search term not working on Windows, opens 'Go to line' prompt instead"
Firefox Nightly 70.0a1 20190816215314, Firefox beta 69.0b14

The keyboard shortcut for finding the next occurrence of a search term does not work, at least on Windows. It opens the 'Go to line' prompt instead.

The source search ind next command key is defined in `sourceSearch.search.again.key3=Cmd+G` (from [bug 1488662](https://bugzilla.mozilla.org/show_bug.cgi?id=1488662)). That bug also added `

[2019-08-19 03:34] gabrielluong commented on #8258
Gonna move this to bugzilla.

[2019-08-19 03:34] #8258 closed

[2019-08-22 14:44] wale-bant commented on #6142
I'd like to work on the solution as described by @nchevobbe

[2019-08-30 22:26] pudymody opened #8262 "Main area buttons in dark mode doesnt have background"
Pretty much what title says, buttons in the main area of the Network, Performance and Memory panels doesnt have a background or different style to differentiate them from regular text.

![Dark screenshot of network,performance and memory panels](https://user-images.githubusercontent.com/814791/64054055-aad41900-cb5b-11e9-82f1-806639405852.jpg)

As you can see, the light variant is working fine.
![

[2019-09-04 10:47] nchevobbe commented on #8262
Hello Frederico, thanks for the bug report!

I filed https://bugzilla.mozilla.org/show_bug.cgi?id=1578681 to handle this :)
This repo is only about the debugger panel, and this impacts the whole devtools toolbox.

[2019-09-04 10:47] #8262 closed

[2019-09-04 14:52] pudymody commented on #8262
Oh, my mistake. Thanks for filling it up. :)

[2019-09-07 12:23] Adityaperiwal opened #8264 "setBreakpointPositions gives an exception when a breakpoint is clicked"
setBreakpointPositions gives an exception when a breakpoint is clicked while running the debugger.
I'm not able to set the breakpoints inside debugger because it gives an exception in setBreakpointPositions function with the following error message:
"TypeError: Cannot read property 'getOriginalLocations' of undefined".
![error_dt](https://user-images.githubusercontent.com/35131225/64474785-21de628

[2019-09-10 17:48] irenesmith opened #8265 "Debugger seems to be "optimizing out" variables that are in use"
I'm debugging a small browser-based game and discovered that variables and global constants are being "optimized out" This seems to have started within the past few days. I started getting this message over the weekend but it is still happening in 70.0b5 which I just installed.

![2019-09-10](https://user-images.githubusercontent.com/192346/64637361-969ce100-d3d1-11e9-8039-fc2bdef17696.png)

[2019-09-10 18:02] irenesmith commented on #8265
It doesn't show in the first screenshot, but here is a close-up after I added the global constant to the watch list, showing that it too has been "optimized out"

![optimized_out](https://user-images.githubusercontent.com/192346/64638368-9271c300-d3d3-11e9-8e82-e04dee33f30c.png)

[2019-09-11 11:28] gwarser commented on #2476
Enable scrollbar arrows!

[2019-09-13 13:55] jnachtigall commented on #6673
fwiw, I just spent some considerable time finding out why the debugger would not stop at all and also not even on a "debugger;" statement in Nightly while a clear profile and stable/dev edition as well as chrome worked. Via "about:config" I found that `devtools.debugger.skip-pausing` was set (I was away from firefox debugger for some month and must have set this back then, lol).

Long story short

[2019-09-13 15:52] fvsch commented on #6673
We could make the icon's "pressed" state more prominent, but I'm not super fond of that solution. The way I see it, users are going to focus on the "content" (the `debugger` statement in code, the breakpoints in the gutter and the sidebar), and may miss that the button is in "pressed" state even if we change its style.

I think we should do two things:

1. Add a style or annotation that shows that

[2019-09-15 04:00] violasong commented on #6673
What about showing a message banner at the top of the right sidebar, similar to the paused message, but it would say "Breakpoints deactivated"? Maybe with light gray instead of yellow styling to show that it's more of an inactive state.

[2019-09-15 17:46] lchipres commented on #8159
/claim

[2019-09-15 20:06] lchipres commented on #8159
/unclaim

[2019-09-16 00:29] digitarald commented on #6673
The screenshot seems like it suffers again from the dark mode's low contrast issue. I am not sure if a gray warning bar gets the right attention. Showing a warning via #60 might also point at it, within a more visible context.

Related, maybe remembering skip-pausing beyond the devtools session doesn't seem helpful. Given the footgun potential, are there use cases that I am missing?

[2019-09-16 13:56] fvsch commented on #6673
I think there's one with hostile scripts that spam `debugger` statements to make using DevTools impossible. Some anti-adblock scripts, cryptominers, script obfuscators etc. do that.

So the use case would be "work around hostile scripts that try to block devtools, and remember this even if I close and reopen devtools". If we remove the "and remember this" part, we still serve this use case well en

[2019-09-16 16:19] digitarald commented on #6673
Right. The impact of not remembering would be that the user will hit one `debugger` statement, but after disabling pausing will be able to continue debugging. Doesn't seem too hostile, and it could be remembered for the same Firefox session.

[2019-09-17 12:44] jnachtigall commented on #6673
So there seems to be several issues here:
1. Skip breakpoints button **not being visible enough**, e.g. not enough contrast, imho also not enough "fill". I think Chrome's button is more visible because it is filled but maybe more contrast would be good enough:

![image](https://user-images.githubusercontent.com/3307404/65041896-096d0580-d958-11e9-9be3-ac562fc14d01.png)
(Left Chrome, right Firefox)

[2019-09-17 13:07] fvsch commented on #6673
We don't turn them gray but there still is a "deactivated" style applied, see normal vs deactivated on the right:

![deactivated-breakpoints](https://user-images.githubusercontent.com/243601/65044063-813d2f00-d95c-11e9-8884-b5300b5aff94.png)

The main reason for not using gray here is that we have different colors for different types of breakpoints (blue for breakpoints, purple for log points, and

[2019-09-23 13:24] catsAND opened #8267 "[SourceTree] Can't copy event function source"
**Steps to Reproduce (STR):**

When you open in inspector source tree element event bubble you can't copy source of event.

https://jsfiddle.net/g07vwh58/ here is example html + js. When you press "Inspect element" on input and try copy event function source in event bubble nothing copied. I tried by pressing ctrl+c and via contex menu.

**System Details:**
Windows 10 (OS build 17134.1006), Firefo

[2019-09-24 08:47] kupietools commented on #3371
This has been consistent with me in every version of Firefox for, literally, the last two or three years. The debugger highlights the second line following the line it's actually executing. It's making debugging incredibly difficult to follow.

[2019-09-24 14:04] jasonLaster commented on #3371
Could you please file the bug here - https://bugzilla.mozilla.org/enter_bug.cgi?product=DevTools&component=Debugger

[2019-09-25 07:36] andreiuipath opened #8268 "[Theme] TypeScript had black characters with dark theme"
# Steps to reproduce
Using Firefox Nightly open http://todomvc.com/examples/typescript-angular/#/
Start the DevTools debugger. Set dark theme.
Ctrl + P directives/TodoEscape.ts

# Expected behavior
Curly/round parantheses, "ng.IDirective" and "JQuery" should not be black since it is not visible.

# Actual behavior:
Curly/round parantheses, "ng.IDirective" and "JQuery" is black.
![image](https://us

[2019-09-25 07:54] andreiuipath commented on #8268
Seems to be present in the network inspector also.

Visit https://twitter.com/Firefox

![image](https://user-images.githubusercontent.com/50407920/65580663-c4ae2380-df82-11e9-92b3-2bd2a2270135.png)

[2019-09-25 20:28] andreicristianpetcu commented on #8268
https://discourse.mozilla.org/t/nightly-dark-mode-brackets-and-dot-not-visible-in-the-dev-tools/45797

[2019-09-26 14:48] andreicristianpetcu commented on #8268
https://bugzilla.mozilla.org/show_bug.cgi?id=1584074

[2019-09-26 15:03] andreiuipath commented on #8268
8:09.62 INFO: No more inbound revisions, bisection finished.
 8:09.62 INFO: Last good revision: 9f2ff84ff3eef50321fe9525c6510e6462f519f0
 8:09.62 INFO: First bad revision: 0e9caca3bcf6adf462ea5174be3f9d15ffe77b4c
 8:09.62 INFO: Pushlog:
https://hg.mozilla.org/integration/autoland/pushloghtml?fromchange=9f2ff84ff3eef50321fe9525c6510e6462f519f0&tochange=0e9caca3bcf6adf462ea5174be3f9d15ffe77b4c

[2019-09-30 00:39] karlcow opened #8269 "quote differences in the source and the event flag excerpt"
1. With Firefox Nightly 71.0a1 (2019-09-28) (64-bit)
2. With RDM mobile devices setting
2. Go to http://walmart.decipherinc.com/survey/selfserve/53a/wal18001
3. Accept the policy and continue
4. In the inspector look for the event flag on `.answers-table`
5. Click on the even flag and expand the code for `click` event on http://walmart2.surveyfiles.com/s/exp/tmp/043ce39b30db7a78f3629f20dcd72004.js

[2019-09-30 01:03] karlcow opened #8270 "Frozen debugger after breakpoint activation on remote debugging."
1. With Firefox Fenix 71.0a1 (2019-09-28) on Android
2. On desktop, open about about:debugging for remote debugging.
3. Go to http://walmart.decipherinc.com/survey/selfserve/53a/wal18001 (Inspect this tab)
4. Accept the policy, continue
5. Scroll down to the state/Province dropdown
6. In the debugger, select click breakpoint on `click`
7. On the device, tap on the select

Actual:
A breakpoint is a

[2019-10-01 18:06] Anzumana commented on #8204
@jasonLaster could you close this one? Getting rdy for hacktoberfest. Hopefully with some good prs :).

[2019-10-01 21:09] jasonLaster commented on #8204
@Anzumana we're working in firefox's repo these days

http://firefox-dev.tools

[2019-10-01 23:29] fvsch commented on #6744
@darkwing Do we still have this issue in Debugger, and do we have a bug on Bugzilla maybe?

We reached a decision in https://github.com/firefox-devtools/ux/issues/14#issuecomment-537047482 and are going to implement it with 3 theme variables (2 already landed, one to be done)

A quick try in Debugger gives me:
![Screen Shot 2019-10-02 at 01 18 09](https://user-images.githubusercontent.com/243601/6

[2019-10-01 23:32] darkwing commented on #6744
@fvsch Nice!  An amazing contributor, Janelle, fixed this issue of multiple blocks in MC.  In theory, implementing this new highlighting appearance should be really easy now.

[2019-10-01 23:43] darkwing commented on #6744
https://phabricator.services.mozilla.com/D45015 might come into play, but I think your highlight is ready or implementation.

[2019-10-04 06:30] #8267 closed

[2019-10-10 05:50] karlcow commented on #8270
This is happening with multiple sites not only this one.

This is the error message in the Browser Toolbox.

[code]

[2019-10-10 05:54] karlcow commented on #8270
Testing on Firefox Developer Edition.
Fenix Nightly 71 is still in a weird state.
BUT the debugger on Firefox Dev Edition is at least working. 70.0b13 (64-bit)

[2019-10-10 21:55] carolstran opened #8272 "[Docs] More inclusive language in the documentation"
:wave: I noticed that there are a couple of instances of words "easily" and "just" in your documentation. Unfortunately, words like this can make people feel frustrated and isolated while reading (myself included, hence the issue) - especially if they are facing issues.

If it's alright with your team, I'd like to take a shot at updating the content to make it more inclusive by removing instances

[2019-10-11 11:15] shakti97 commented on #8117
Can I work on this issue? @digitarald can you please mention the file name

[2019-10-14 11:59] masihtamsoy commented on #6145
Hi @nchevobbe, is this issue available? Want to check this out? Can you provide me with initials

[2019-10-14 12:01] nchevobbe commented on #6145
The property is visible when expanding the array:

<img width="184" alt="image" src="https://user-images.githubusercontent.com/578107/66749806-11529380-ee8b-11e9-80ed-09b247d99e79.png">

so I think we can close this issue :)

[2019-10-14 12:01] #6145 closed

[2019-10-14 12:14] masihtamsoy commented on #6142
@nchevobbe is this issue available? Can you provide me with initials to get started?

[2019-10-14 12:32] nchevobbe commented on #6142
sure
so the work happens in mozilla-central now, no more on github.
You can check how to setup everything to work http://docs.firefox-dev.tools/getting-started/

This is the place where we create the `key: value` elements [devtools/client/debugger/packages/devtools-reps/src/reps/prop-rep.js#64-72](https://searchfox.org/mozilla-central/rev/6866d3a650c826f1cabd123663e84b95ee743701/devtools/client/de

[2019-10-14 12:49] masihtamsoy commented on #6142
Thanks @nchevobbe

[2019-10-16 23:37] karlcow commented on #8270
@wisniewskit ran into that issue too on https://github.com/webcompat/web-bugs/issues/42325#issuecomment-542836991

[2019-10-17 08:04] digitarald commented on #8117
@shakti97 me moved development to bugzilla and I have not seen this bug being filed there. Trying to reproduce without luck so far, so closing this one.

You can find more good first bugs in https://codetribute.mozilla.org/projects/devtools?tag%3Dgood-first-bug%26project%3DDebugger

[2019-10-18 09:41] CarpeDiemKopi opened #8273 "yarn start no result: waiting for localhost .."
I followed the instructions [Getting Set Up](http://firefox-dev.tools/debugger/docs/getting-setup.html) exactly and it doesn't work.

![image](https://user-images.githubusercontent.com/32836136/67082963-83ccb780-f19a-11e9-92dd-4580ec9cc03a.png)

And the instructions are confusing. Suddenly, firefox is mentioned, which has already been started and of which there was no talk before.

windows 10 64 b

[2019-10-19 12:12] nmicht commented on #8160
Closing this, no test case was provided neither response in the last 6 months.

[2019-10-19 12:12] #8160 closed

[2019-10-19 12:35] nmicht commented on #6401
@digitarald I'm closing this for now. I was not able to reproduce this one.
Happy to re-open if you can provide a visual guide or another test case.

[2019-10-19 12:35] #6401 closed

[2019-10-19 12:45] nmicht commented on #6591
@jasonLaster I think we should close this one.
The remaining work is to improve the performance for the pretty print as mentioned on #5894

[2019-10-19 12:56] nmicht commented on #6528
Closing this now. I understand this was already implemented.
I'm happy to reopen if it is not yet addressed.

[2019-10-19 12:56] #6528 closed

[2019-10-21 22:34] jasonLaster commented on #6591
Thanks @nmicht

[2019-10-21 22:34] #6591 closed

[2019-10-25 18:19] fxnoob commented on #8204
/claim

[2019-10-29 19:21] fxnoob commented on #8204
/unclaim

[2019-10-30 08:37] andreicristianpetcu commented on #155
for posterity I fixed the link to the issue https://github.com/firefox-devtools/debugger/pull/236

[2019-11-01 02:35] karlcow opened #8274 "Call stack highlightling changes the links and names (through prettify)"
This is done on Firefox Nightly 72.0a1 (2019-10-31) (64-bit)
with macOS 10.15

1. Go to https://www.ib-krautgartner.com/projekte-partner
2. set a breakpoint on one of the scripts.
    for example in https://static.parastorage.com/unpkg/@sentry/utils/src/supports.ts

When opening the call stack might open on bundle.min.js
Then if you prettify it displays the sourcemap version and the full call stac

[2019-11-04 17:08] jasonLaster commented on #8274
Hi @karlcow, we switched to primarily using bugzilla this past february.

https://bugzilla.mozilla.org/show_bug.cgi?id=1593741

[2019-11-04 17:08] #8274 closed

[2019-11-05 14:32] julienw opened #8275 "Clearly state that the debugger's development now happens elsewhere"
Currently there's no easy way to discover where the debugger is currently developed. The README should state that clearly so that nobody tries to use this code or even contribute from the github repository.

[2019-11-11 08:22] Anzumana opened #8276 "Source Maps not when using debugger with npm start"
I am not sure why but when i run the debugger inside firefox, the sources from webpack are being mapped correctly to the source files.
![Screen Shot 2019-11-11 at 9 17 10](https://user-images.githubusercontent.com/2629041/68571898-6078ed80-0464-11ea-8225-02e1ffd81a61.png)
But when i do the same running the debugger using npm start
i get this
![Screen Shot 2019-11-11 at 9 17 27](https://user-images

[2019-11-11 16:52] Anzumana commented on #8204
@jasonLaster i am a bit confused is this repo dead ? or how does it work

[2019-11-16 18:37] vishakhanihore commented on #8141
/claim

[2019-11-16 18:41] vishakhanihore commented on #8141
/unclaim

[2019-11-16 18:42] kushthedude commented on #8141
Hello @fvsch , I would like to work on this issue .

[2019-11-16 18:42] kushthedude commented on #8141
/claim

[2019-11-16 18:47] kushthedude commented on #8141
/claim

[2019-11-18 09:00] nchevobbe commented on #8204
Hello @Anzumana . Yes, this repo will soon be put on read-only.
All the work happens now in the mozilla-central repository.
You can read more about it here https://docs.firefox-dev.tools/getting-started/

[2019-11-18 09:11] nchevobbe commented on #8272
Hello @carolstran , thanks for opening this issue.
This repo will be soon be made read-only because we are now using the "official" Firefox dev workflow.
We have documentation about this workflow at http://docs.firefox-dev.tools/getting-started/ , and we also have "simply", "just",… instances there as well (see https://searchfox.org/mozilla-central/search?q=(just%7Csimple%7Csimply%7Ceasy)&case=fal

[2019-11-20 06:24] digitarald commented on #6673
Related, I really like Safari's warning bar that I recently discovered – especially that it has the `enable` button so it provides both warning and solution:
<img width="307" alt="image" src="https://user-images.githubusercontent.com/8599/69214251-3c2fa780-0b1b-11ea-8d4e-4022cd7f1dba.png">

UI-wise, we could re-use the "paused reason" element that we already have, in the same position.

[2019-12-02 23:36] violasong commented on #6673
I like Safari's!  We could even have a one-liner

One other issue: the current translucent gray overlay styling looks a bit odd to me because of how intense it is, with some elements staying white or a lighter gray. If we implement the bold banner solution, I'd be interested in toning this down to something that is more like Chrome's effect.

Next steps? Do we need a mockup?

[2019-12-12 13:15] janodvarko commented on #8122
This seems to be fixed, closing.

Honza

[2019-12-12 13:15] #8122 closed

[2019-12-12 13:17] janodvarko commented on #8117
Seems like this should have been closed in the last comment.
Closing now.
Honza

[2019-12-12 13:17] #8117 closed

[2019-12-12 13:21] janodvarko commented on #8062
I can't reproduce this anymore, closing.

Honza

[2019-12-12 13:21] #8062 closed

[2019-12-12 13:26] janodvarko commented on #8058
I can still reproduce the problem, cloned into bugzilla.

Honza

[2019-12-12 13:26] #8058 closed

[2019-12-12 13:30] janodvarko commented on #8057
The original issue is fixed so, closing the report.

@bhackett1024: let me know if any remaining work should be reported in Bugzilla. I can do it.

Honza

[2019-12-12 13:30] #8057 closed

[2019-12-12 13:34] janodvarko commented on #6915
I can reproduce this issue, cloned into Bugzilla.
https://bugzilla.mozilla.org/show_bug.cgi?id=1603423

Honza

[2019-12-12 13:34] #6915 closed

[2019-12-12 13:43] janodvarko commented on #7193
@bhackett1024 can you reproduce this?
Or is this already fixed?

Honza

[2019-12-12 13:45] janodvarko commented on #6946
This seems to be fixed (testing on Win), closing.

Honza

[2019-12-12 13:45] #6946 closed

[2019-12-12 13:48] janodvarko commented on #6895
@digitarald: I can't load the original page, can you still repro this?
Worth cloning into Bugzilla?

Honza

[2019-12-12 14:03] janodvarko commented on #6860
I can't reproduce the original issue anymore, closing.

Honza

[2019-12-12 14:03] #6860 closed

[2019-12-12 14:05] janodvarko commented on #5218
There is no reliable test case so, we can't reproduce that.
Closing.

But, if you see the bug again please, create a new report in Bugzilla:
https://bugzilla.mozilla.org/enter_bug.cgi?product=DevTools&component=Debugger

Honza

[2019-12-12 14:05] #5218 closed

[2019-12-12 14:06] janodvarko commented on #5070
Let's follow the Bugzilla report.
Closing this one.

Honza

[2019-12-12 14:06] #5070 closed

[2019-12-12 14:13] janodvarko commented on #4798
Reported as https://bugzilla.mozilla.org/show_bug.cgi?id=1603432

Closing

Honza

[2019-12-12 14:13] #4798 closed

[2019-12-12 14:14] janodvarko commented on #2652
Meta bug for this feature in Bugzilla
https://bugzilla.mozilla.org/show_bug.cgi?id=1526079

Honza

[2019-12-12 14:23] janodvarko commented on #1619
I filled variation of this report:
https://bugzilla.mozilla.org/show_bug.cgi?id=1603440

Honza

[2019-12-12 14:25] janodvarko commented on #5894
@karlcow I am closing this since it seems that it doesn't crash anymore.

If you see the problem again, please create a new report in Bugzilla.
https://bugzilla.mozilla.org/enter_bug.cgi?product=DevTools&component=Debugger
Honza

[2019-12-12 14:25] #5894 closed

[2019-12-12 14:30] janodvarko commented on #4113
I believe that this is fixed, I am able to nicely step through the cycles.
And in minified script (one line) I am nicely seeing Col BPs and moving between them!

If you see the problem again, please report a new bug in Bugzilla
https://bugzilla.mozilla.org/enter_bug.cgi?product=DevTools&component=Debugger

Honza

[2019-12-12 14:30] #4113 closed

[2019-12-12 14:39] janodvarko commented on #4200
I can still reproduce this issue.
Reported in Bugzilla
https://bugzilla.mozilla.org/show_bug.cgi?id=1603444

Closing
Honza

[2019-12-12 14:39] #4200 closed

[2019-12-12 14:41] janodvarko commented on #7951
There is Bugzilla report and it seems to be resolved.

Closing this report.
Honza

[2019-12-12 14:41] #7951 closed

[2019-12-12 14:46] janodvarko commented on #7967
It looks like this is fixed, I was able to search for `Object.assign({node: null}, parameters);` without a problem.

The UI looks different now so, if there are any follows ups they should be reported in Bugzilla:
https://bugzilla.mozilla.org/enter_bug.cgi?product=DevTools&component=Netmonitor

Honza

[2019-12-12 14:46] #7967 closed

[2019-12-12 14:49] janodvarko commented on #8067
Since no STR, it doesn't feel much actionable.

@jasonLaster: I am closing this, but please clone this into Bugzilla if you feel we should have that report, thanks!

Honza

[2019-12-12 14:49] #8067 closed

[2019-12-13 12:42] janodvarko commented on #5975
I can still reproduce the issue in Fx73
Reported in Bugzilla:
https://bugzilla.mozilla.org/show_bug.cgi?id=1603723

Closing this one.

Honza

[2019-12-13 12:42] #5975 closed

[2019-12-13 12:54] janodvarko commented on #7983
I can't reproduce this one. There is no test case so, not sure if mine was good enough.

Closing but, please file in Bugzilla if you still see it.
https://bugzilla.mozilla.org/enter_bug.cgi?product=DevTools&component=Debugger
(or provide STRs and I'll do the rest)

Thanks,
Honza

[2019-12-13 12:54] #7983 closed

[2019-12-13 12:56] janodvarko commented on #5817
This works for me in Fx73 closing.

Honza

[2019-12-13 12:56] #5817 closed

[2019-12-18 16:23] gregtatum commented on #6946
I can confirm it is fixed on Mac as well.

[2019-12-31 19:44] steffiau commented on #7537
@yzen @ash-tamraz I'd like to help on this if it isn't being worked on anymore?

[2020-01-07 14:29] janodvarko commented on #8116
@digitarald is this still reproducible? If yes, do you have a public test case?
Honza

[2020-01-07 14:32] janodvarko commented on #8036
No activity here for many months.
I am closing this report as part of our issue list clean up effort.

@digitarald Please let me know if I should clone this report into our UX issue list
https://github.com/firefox-devtools/ux/issues

Honza

[2020-01-07 14:32] #8036 closed

[2020-01-07 14:36] janodvarko commented on #8031
This issue list is deprecated in favor of: https://mzl.la/2N5JVYZ (Bugzilla)

I am closing this report since we don't want to invest into this.

Honza

[2020-01-07 14:36] #8031 closed

[2020-01-07 14:44] janodvarko commented on #8007
No activity here for a long time. Closing this report as part of cleanup effort.

@digitarald Please let me know if I should clone this report into our UX issue list
https://github.com/firefox-devtools/ux/issues

Honza

[2020-01-07 14:44] #8007 closed

[2020-01-07 14:48] janodvarko commented on #8005
@jasonLaster This, has been already done, correct?
I am closing this report, but let me know if there is something I should clone into bugzilla as separate bug.

Honza

[2020-01-07 14:48] #8005 closed

[2020-01-07 14:49] janodvarko commented on #7945
Not relevant anymore, closing.

Honza

[2020-01-07 14:49] #7945 closed

[2020-01-07 14:51] janodvarko commented on #3344
@bhackett1024 what is our current test strategy for SW?
I am closing this report as part of our GH-issue-list clean up effort but perhaps we should file bugs to cover this work in bugzilla?

Honza

[2020-01-07 14:51] #3344 closed

[2020-01-07 14:54] janodvarko commented on #3778
@digitarald can you still reproduce this?
If you have valid STRs I am happy to clone this into Bugzilla.

Honza

[2020-01-07 15:31] digitarald commented on #3778
This was fixed as part of [m1](https://bugzilla.mozilla.org/show_bug.cgi?id=1500222)

[2020-01-07 15:31] #3778 closed

[2020-01-07 15:32] digitarald commented on #8116
I have not seen this for a while.

[2020-01-07 15:32] #8116 closed

[2020-01-08 16:48] jasonLaster commented on #8005
Yep

[2020-01-08 22:14] digitarald commented on #6673
That'd be great. Would be good to have it revisited in conjunction with the paused indicator (which could also have a continue button baked in; or could be even taken out since we have the overlay now).

[2020-01-10 00:35] digitarald commented on #6708
Continued in https://bugzilla.mozilla.org/show_bug.cgi?id=1608312

[2020-01-10 00:35] #6708 closed

[2020-01-13 16:13] digitarald commented on #8275
Link would probably be https://docs.firefox-dev.tools/getting-started/

[2020-01-23 09:41] gerdneuman opened #8288 "DOM "Break on > Attribute Modification" does not trigger when node is set to `display: none`"
I wanted to see what JS code causes a DOM element to be set to `display: none` all of a sudden. So I set a DOM breakpoint on this node to `Break on > Attribute Modification`. Reloaded and waited for the `display: none` to be set, but nothing happened.

At https://codepen.io/nachtigall/pen/BayMwOb there's a minimal working example which just triggers jQuery's `hide()` function. I would expect that

[2020-01-23 09:48] gerdneuman commented on #8288
Duplicate of https://bugzilla.mozilla.org/show_bug.cgi?id=1577911

[2020-01-23 09:48] #8288 closed

[2020-01-24 16:15] nchevobbe commented on #6577
closing we want the string results to be able to be copied and re-evaluated straight-away

[2020-01-24 16:15] #6577 closed

[2020-01-24 16:16] nchevobbe commented on #6156
this is describin a flavor of custom formatters, and we have bugs filed in bugzilla for that

[2020-01-24 16:16] #6156 closed

[2020-01-26 15:56] #8264 closed

[2020-01-27 10:56] nchevobbe commented on #6151
moved to https://github.com/firefox-devtools/ux/issues/108

[2020-01-27 10:56] #6151 closed

[2020-01-27 10:56] #6150 closed

[2020-01-27 10:57] nchevobbe commented on #6146
done in https://bugzilla.mozilla.org/show_bug.cgi?id=1375752

[2020-01-27 10:57] #6146 closed

[2020-01-27 10:58] nchevobbe commented on #6136
we have a few bugs filed in bugzilla for this

[2020-01-27 10:58] #6136 closed

[2020-01-27 11:01] nchevobbe commented on #6125
bug already filed in bugzilla

[2020-01-27 11:01] #6125 closed

[2020-01-27 11:02] nchevobbe commented on #6119
we already have bugs for that in bugzilla

[2020-01-27 11:02] #6119 closed

[2020-01-27 11:03] nchevobbe commented on #6117
Filed in https://bugzilla.mozilla.org/show_bug.cgi?id=1526688

[2020-01-27 11:03] #6117 closed

[2020-01-27 11:04] nchevobbe commented on #6113
dupe of #6111

[2020-01-27 11:04] #6113 closed

[2020-01-27 11:14] nchevobbe commented on #7007
I can't get the error anymore, but we do sourcemap error object in console now.

[2020-01-27 11:14] #7007 closed

[2020-01-27 11:15] nchevobbe commented on #6155
see https://bugzilla.mozilla.org/show_bug.cgi?id=1317038

[2020-01-27 11:15] #6155 closed

[2020-01-27 11:16] nchevobbe commented on #7383
done in https://bugzilla.mozilla.org/show_bug.cgi?id=1601559

[2020-01-27 11:16] #7383 closed

[2020-01-29 14:40] nchevobbe commented on #6547
this is a known issue filed on bugzilla

[2020-01-29 14:40] #6547 closed

[2020-01-29 14:42] nchevobbe commented on #6141
Looks like this is covered by https://bugzilla.mozilla.org/show_bug.cgi?id=1573088

[2020-01-29 14:42] #6141 closed

[2020-01-29 14:44] nchevobbe commented on #6133
not convinced bucketing is what's best. we do have bugs on file to make big object faster to expand, and we'll see what's the best way to do it there.

[2020-01-29 14:44] #6133 closed

[2020-01-29 14:45] nchevobbe commented on #6128
this is covered in Bugzilla

[2020-01-29 14:45] #6128 closed

[2020-01-29 14:49] nchevobbe commented on #6127
filed https://bugzilla.mozilla.org/show_bug.cgi?id=1612126

[2020-01-29 14:49] #6127 closed

[2020-01-29 14:50] nchevobbe commented on #6126
that's not something we got feedback on lately, so I'd say let's close this issue.

[2020-01-29 14:50] #6126 closed

[2020-01-29 14:52] nchevobbe commented on #6123
no traction on this since (and no expressed needs) for more than 2 years, so let's close this

[2020-01-29 14:52] #6123 closed

[2020-01-29 14:55] nchevobbe commented on #6110
Filed https://bugzilla.mozilla.org/show_bug.cgi?id=1612127

[2020-01-29 14:55] #6110 closed

[2020-01-29 14:57] nchevobbe commented on #6122
so far we didn't had the need for this.
Let's close and we can reopen when we're concerned about too much icons in OI

[2020-01-29 14:57] #6122 closed

[2020-01-29 15:03] nchevobbe commented on #6132
filed https://bugzilla.mozilla.org/show_bug.cgi?id=1612129

[2020-01-29 15:03] #6132 closed

[2020-01-29 15:05] nchevobbe commented on #6142
filed https://bugzilla.mozilla.org/show_bug.cgi?id=1612132

[2020-01-29 15:05] #6142 closed

[2020-01-29 15:06] nchevobbe commented on #6144
closing as it's tracked in Bugzilla

[2020-01-29 15:06] #6144 closed

[2020-01-29 15:07] nchevobbe commented on #6893
closing as we already have bug 1486381

[2020-01-29 15:07] #6893 closed

[2020-02-05 16:33] digitarald commented on #6673
@violasong Could be good easier for community if we had a simple mockup, since we have a lot of contributors coming in atm .

[2020-02-07 12:45] Anton-Shakalo-epam commented on #4750
it is 72 already released but still no events tab

[2020-02-07 13:06] nchevobbe commented on #4750
@Anton-Shakalo-epam  you may have missed https://developer.mozilla.org/en-US/docs/Tools/Debugger/Set_event_listener_breakpoints

[2020-02-07 13:07] nchevobbe commented on #4750
@janodvarko looks like we can close this issue right?

[2020-02-07 13:15] Anton-Shakalo-epam commented on #4750
@nchevobbe well, there is still no way to remove event listener from node in inspector. Maybe you can close this one but what is needed to remove exact event listener from node and this is seems to be missing

[2020-02-07 13:43] nchevobbe commented on #4750
this repo was about the debugger, not the inspector. Please file a bug on bugzilla describing what it should do https://bugzilla.mozilla.org/enter_bug.cgi?product=DevTools&component=Inspector

[2020-02-07 16:08] janodvarko commented on #4750
Closed already

Honza

[2020-02-25 11:25] nchevobbe commented on #7783
fixed in https://bugzilla.mozilla.org/show_bug.cgi?id=1562724

[2020-02-25 11:25] #7783 closed

[2020-03-12 06:35] #8204 closed

[2020-05-04 07:46] miaomiaoji opened #8289 "backslash and escape sequence"
I found one old issuse #6577 about double backslash should represent just one when they in a string.
It's still exist 。
<https://github.com/webcompat/web-bugs/issues/52421>

[2020-05-05 00:33] violasong commented on #6673
Sorry for the long delay on this!

Here's a [mockup](https://www.figma.com/file/pVg7LMXy2dvHXkaMLTj0HJ/Breakpoints-deactivated?node-id=1%3A4).

<img width="982" alt="image" src="https://user-images.githubusercontent.com/55994/81025930-41648280-8e2d-11ea-82ac-d9fa676d18d0.png">

1. Change Paused on Breakpoint to have the icon on the left
2. Yellow "Breakpoints deactivated" banner
3. Alternate idea:

[2020-05-05 07:46] fvsch commented on #6673
I like it: looks clean, adds needed information, and the Enable button makes sense. No opinion on yellow versus gray.

Works for me. Me made this style because users would miss the "Deactivated" state (active footgun), but the banner could fix that. And as implemented the current overlay style has a few quirks that I'm not happy with, e.g. you can still interact with everything and add/remove brea

[2020-05-27 10:58] sujaykumardey commented on #1216
cd debugger,
after checkout release-120 branch
then yarn install,
yarn start
start localhost:8000,
![Screenshot from 2020-05-27 16-19-37](https://user-images.githubusercontent.com/31136549/83011076-efcba400-a036-11ea-9587-de90ba545765.png)

[2020-05-29 10:55] andreicristianpetcu commented on #6840
Is there some workaround for this? :cry:

[2020-05-29 13:03] andreicristianpetcu commented on #6840
Am I having the same issue here or is it something else?
![image](https://user-images.githubusercontent.com/922368/83262570-e58be000-a1c5-11ea-94a1-8161c2fb10f9.png)

Would it be hard to implement for somebody that has little expreience with the debugger?

[2020-05-29 18:20] jasonLaster commented on #6840
Hmm, i'm not sure. Could you try this on Firefox Nightly? Also, i wonder why the syntax highlighting is so busted.

[2020-05-29 18:51] andreicristianpetcu commented on #6840
That is Nightly. Also Chrome is busted the same way.

[2020-05-31 04:41] mrstark2020 opened #8290 "Debug"
I

[2020-05-31 06:40] #8290 closed

[2020-06-01 11:57] andreicristianpetcu opened #8291 "Multi row strings make the debugger lines jump up and down"
![multi_row](https://user-images.githubusercontent.com/922368/83406830-2713c980-a418-11ea-99ed-cab70f776dcf.gif)

[2020-06-02 12:23] andreicristianpetcu commented on #6840
I was using an old Chrome version. It works fine in Chrome.
I'm interested in working on this if anybody has some pointers. Maybe in a week or so, once I finish up the tasks I'm working on in about:logins :smile:

[2020-06-05 13:12] rvanbaalen commented on #1408
What's the current state of this? I noticed that the FF devtools don't show syntax highlighting when my filename has a parameter:

`app.js` -> works
`app.js?v=1.0.0` -> no syntax highlighting

[2020-06-15 10:37] YurySolovyov commented on #8265
I agree.
This is really annoying.
Debugger should tell VM to skip optimizing a function when it has active breakpoint or `debugger` keyword.

[2020-06-18 07:34] Garee commented on #7547
/unclaim

[2020-06-18 09:31] YurySolovyov commented on #8265
Related: https://bugzilla.mozilla.org/show_bug.cgi?id=1186404

[2020-07-01 10:34] andreicristianpetcu opened #8292 "cheap-module-source-map does not show source maps."
**Steps to reproduce**

Create a new project. Set it's `devtool: "cheap-module-source-map"`
https://webpack.js.org/configuration/devtool/

**Actual Behavior**
The source maps don't work

**Expected Behavior**
They should work. If I set `devtool: "eval-source-map"` it works.

[2020-07-01 13:19] digitarald commented on #8292
@andreicristianpetcu does the same `cheap-module-source-map` config work for Chrome?

[2020-07-01 14:08] andreicristianpetcu commented on #8292
Yes, @digitarald , the same source maps work in Chrome.

[2020-07-01 15:06] digitarald commented on #8292
That should be the https://bugzilla.mozilla.org/show_bug.cgi?id=1594550 . Closing this one, as we track all bugs in bugzilla now.

[2020-07-01 15:06] #8292 closed

[2020-07-09 18:01] loganfsmyth commented on #7615
We've fixed many many issues since this was filed, and I don't know the exact repro steps, so closing.

[2020-07-09 18:01] #7615 closed

[2020-07-09 18:03] loganfsmyth commented on #7613
We've fixed a bunch of sourcemap issues in the last few months, so I'm going to close this as likely fixed. It anyone wants to test, make sure to look at Nightly or Beta. If there are still any issues, please file on Bugzilla.

[2020-07-09 18:03] #7613 closed

[2020-07-09 18:05] loganfsmyth commented on #7612
This exists now.

[2020-07-09 18:05] #7612 closed

[2020-07-09 18:10] loganfsmyth commented on #4373
This works now.

[2020-07-09 18:10] #4373 closed

[2020-07-09 18:11] loganfsmyth commented on #4662
This is pretty much covered now

[2020-07-09 18:11] #4662 closed

[2020-07-09 18:13] loganfsmyth commented on #4812
Now tracked in https://bugzilla.mozilla.org/show_bug.cgi?id=1149835

[2020-07-09 18:13] #4812 closed

[2020-07-09 18:51] loganfsmyth commented on #5430
Moving to https://bugzilla.mozilla.org/show_bug.cgi?id=1651775

[2020-07-09 18:51] #5430 closed

[2020-07-09 18:52] loganfsmyth commented on #5553
Moving to https://bugzilla.mozilla.org/show_bug.cgi?id=905450

[2020-07-09 18:52] #5553 closed

[2020-07-09 18:55] loganfsmyth commented on #5595
This works now, likely because we've pulled in a newer version of Babel's parser.

[2020-07-09 18:55] #5595 closed

[2020-07-09 18:56] loganfsmyth commented on #6328
We fixed this a while back.

[2020-07-09 18:56] #6328 closed

[2020-07-09 18:57] loganfsmyth commented on #6384
Closing in favor of https://bugzilla.mozilla.org/show_bug.cgi?id=1589265

[2020-07-09 18:57] #6384 closed

[2020-07-09 18:58] #6253 closed

[2020-07-09 18:59] #6400 closed

[2020-07-09 19:00] #6690 closed

[2020-07-09 19:04] loganfsmyth commented on #6762
I don't think there's anything left to do in this.

[2020-07-09 19:04] #6762 closed

[2020-07-09 19:05] loganfsmyth commented on #6497
Looks pretty old, gonna close but if this is still something you run into, please file an issue in Bugzilla.

[2020-07-09 19:05] #6497 closed

[2020-07-09 19:08] loganfsmyth commented on #6824
Moving to https://bugzilla.mozilla.org/show_bug.cgi?id=1651777

[2020-07-09 19:08] #6824 closed

[2020-07-09 19:09] #6830 closed

[2020-07-09 19:11] loganfsmyth commented on #6831
This no longer reproduces because the site is dead. I'm gonna guess this works now though, at least on Nightly if not more broadly.

[2020-07-09 19:11] #6831 closed

[2020-07-09 19:12] #6873 closed

[2020-07-09 19:12] #6895 closed

[2020-07-09 19:13] loganfsmyth commented on #6947
Closing in favor of Bugzilla

[2020-07-09 19:13] #6947 closed

[2020-07-09 19:20] loganfsmyth commented on #6956
This should be working now, at least on Nightly if not more.

[2020-07-09 19:20] #6956 closed

[2020-07-09 19:21] loganfsmyth commented on #6966
Closing since this is old and there doesn't seem to be a reproducible case.

[2020-07-09 19:21] #6966 closed

[2020-07-09 19:22] loganfsmyth commented on #7113
Closing in favor of https://bugzilla.mozilla.org/show_bug.cgi?id=1361271

[2020-07-09 19:22] #7113 closed

[2020-07-09 19:23] loganfsmyth commented on #7138
Let's lump this in with https://bugzilla.mozilla.org/show_bug.cgi?id=1634721

[2020-07-09 19:23] #7138 closed

[2020-07-09 19:24] #7239 closed

[2020-07-09 19:24] #7241 closed

[2020-07-09 19:27] loganfsmyth commented on #7445
This should behave much more consistently now on Nightly. There may still be cases, so I'm going to close this and if people come across new cases, please file in Bugzilla.

[2020-07-09 19:27] #7445 closed

[2020-07-09 19:27] #7552 closed

[2020-07-09 19:28] #7657 closed

[2020-07-09 19:30] loganfsmyth commented on #7682
This works now.

[2020-07-09 19:30] #7682 closed

[2020-07-09 19:31] loganfsmyth commented on #7792
I'm not totally following what the issue is here, but most likely this will behave differently in more recent version of the debugger. If you're still having issues, please file a new issue in Bugzilla.

[2020-07-09 19:31] #7792 closed

[2020-07-09 19:33] loganfsmyth commented on #7804
This works now.

[2020-07-09 19:33] #7804 closed

[2020-07-09 19:36] #7970 closed

[2020-07-09 19:37] loganfsmyth commented on #7932
This looks to work now.

[2020-07-09 19:37] #7932 closed

[2020-07-09 19:39] loganfsmyth commented on #8228
Closing in favor of https://bugzilla.mozilla.org/show_bug.cgi?id=1578220

[2020-07-09 19:39] #8228 closed

[2020-07-13 16:22] janodvarko commented on #8291
Thanks for the report!

@andreicristianpetcu Can you please provide a simple page we could use to see the bug on our machines?
It would be great help.

Thank you

[2020-07-13 16:23] loganfsmyth commented on #8289
Closing in favor of the Bugzilla bug mentioned in the webcompat issue: https://bugzilla.mozilla.org/show_bug.cgi?id=1635162

[2020-07-13 16:23] #8289 closed

[2020-07-13 16:26] loganfsmyth commented on #8276
We've moved development of the debugger inside the Mozilla repository so the standalone `localhost` debugger is no longer supported.

[2020-07-13 16:26] #8276 closed

[2020-07-13 16:27] loganfsmyth commented on #8273
Support for developing the debugger as a standalone application has been removed.

[2020-07-13 16:27] #8273 closed

[2020-07-13 16:27] janodvarko commented on #8275
The readme is already updated and pointing to
Bugzilla issue list
https://mzl.la/3gVEmbY

[2020-07-13 16:27] #8275 closed

[2020-07-13 16:27] loganfsmyth commented on #8272
Closing in favor of https://bugzilla.mozilla.org/show_bug.cgi?id=1597195

[2020-07-13 16:27] #8272 closed

[2020-07-13 16:31] janodvarko commented on #8270
@karlcow, thanks for the report!

When loading ` http://walmart.decipherinc.com/survey/selfserve/53a/wal18001` I see:

We appreciate your interest, but unfortunately this survey is now closed.

Do you have any other test page we could use to reproduce the bug on our machines?

[2020-07-13 16:40] darkwing commented on #6874
Intermittents for this file are tracked here:  https://bugzilla.mozilla.org/show_bug.cgi?id=1632803

[2020-07-13 16:40] #6874 closed

[2020-07-13 16:40] darkwing commented on #6473
This no longer happens.

[2020-07-13 16:40] #6473 closed

[2020-07-13 18:04] loganfsmyth commented on #8269
We _should_ link to the right piece of code much more consistently now, so hopefully this is less of an issue, but I've also filed https://bugzilla.mozilla.org/show_bug.cgi?id=1652529 to track this in Bugzilla.

[2020-07-13 18:04] #8269 closed

[2020-07-14 07:40] karlcow commented on #8270
@janodvarko It breaks but in another way now.

* tested on macos firefox nightly 80
* Remote debugging activated
* Android 10 Firefox Nightly 80.

1. Go to http://walmart.decipherinc.com/survey/selfserve/53a/wal18003
2. Go to debugger
3. Activate Event Listener Breakpoints: "click"
4. Tap on Continue at the bottom of the page (the debugger opens)
5. click `{ }` at the bottom of the window

The ful

[2020-07-14 08:01] janodvarko commented on #8270
@karlcow thanks, the STRs is great help!

I can reproduce the issue clearly.

I cloned the bug into bugzilla:
https://bugzilla.mozilla.org/show_bug.cgi?id=1652679

We want to stop using this issue list and archive this entire repo eventually.
The source of truth is Bugzilla and m-c

Honza

[2020-07-14 08:01] #8270 closed

[2020-07-15 08:11] sdavidg opened #8293 "Variables in debugging are unreadable"
Create a variable like this:
var text = `
Lorem Ipsum is simply dummy text of the printing and typesetting industry.

Lorem Ipsum has been the industry's standard dummy text ever since the "1500s", when an unknown printer took a galley of type and scrambled it to make a type specimen book.

\t\t\tIt has survived not only five centuries, but also the leap "into" electronic typesetting, remaining es

[2020-07-16 21:47] Kuinox opened #8294 "No hover popup on variable"
Hello,
I got no popup while hovering variables.
![image](https://user-images.githubusercontent.com/18743295/87725938-76db0400-c7be-11ea-816a-06e8bcd19073.png)
I tried to hover every variables, but nothing show up.
I can see at the left in Scopes that the debugger know the values.

[2020-07-18 12:14] andreicristianpetcu commented on #8291
I think I hit the debugger bugs BINGO! :smile:
https://codepen.io/andreicristianpetcu/pen/JjGeNww?editors=0010
![image](https://user-images.githubusercontent.com/922368/87852145-1e178280-c908-11ea-9189-674183bcc6a0.png)
Not sure if all these issues have the same cause but I'll list them here. If they are different issues, please report separate issues.

1) I was unable to reproduce the bug I menti

[2020-08-24 11:17] janodvarko commented on #8294
@Kuinox thanks for the report.

But, variable tooltips seem to be working for me.

Here is my STRs:
1) Load http://janodvarko.cz/tests/debugger/watchpoints/
2) Open DevTools Toolbox select the Debugger panel
3) Click the `Click Me!` button in Test Case #1, the Debugger should break on `debugger;` keyword
4) hover overl `person.age` on line 10 -> you should see the popup/tooltip.

This works for me

[2020-08-24 11:25] janodvarko commented on #8293
Thanks for the report.

The bug tracking has been moved to Bugzilla so, I cloned this bug into
https://bugzilla.mozilla.org/show_bug.cgi?id=1660766

Closing

Honza

[2020-08-24 11:25] #8293 closed

[2020-08-24 11:29] janodvarko commented on #8291
Sorry for the delay!

I loaded the `https://codepen.io/andreicristianpetcu/pen/JjGeNww?editors=0010`
What should I do next?
Where exactly in the code I should break and step?

Honza

[2020-08-24 11:31] Kuinox commented on #8294
Hello,
It work fine one most of the websites, but it does not work on a webapp I'm working on.
Your demo works fine, and it works elsewhere on my webapp too, but not on this function in particular...
I just reproduced on this getter again:
![image](https://user-images.githubusercontent.com/18743295/91040045-e211c480-e60d-11ea-9a08-0ee148dd2348.png)
This is a vue2 in dev mode webapp, maybe it's rel

[2020-08-24 11:33] nchevobbe commented on #8294
Is this using typescript or flow? Seems like the type annotations might cause issues

[2020-08-24 11:36] janodvarko commented on #8268
This seems to be fixed in the lastet Nightly Fx81
![image](https://user-images.githubusercontent.com/37785/91040400-7c720800-e60e-11ea-883e-d5bc8cb93fef.png)

I am closing the report , but please feel free to file a new one.
Note that we moved bug tracking to Bugzilla so, use this link to file a new issue
https://bugzilla.mozilla.org/enter_bug.cgi?product=DevTools&component=Debugger

Thanks,
Honza

[2020-08-24 11:36] #8268 closed

[2020-08-24 11:37] janodvarko commented on #8294
Thanks!

Might be the reason, yes.

Honza

[2020-08-24 11:39] janodvarko commented on #8265
I am closing this report in favor of https://bugzilla.mozilla.org/show_bug.cgi?id=1186404

We've moved bug tracking into bugzilla and so, let's continue the discussion there.

Thanks,
Honza

[2020-08-24 11:39] #8265 closed

[2020-08-24 11:45] janodvarko commented on #8248
I think that this isn't relevant anymore (the readme.md file changed in the meantime)

Honza

[2020-08-24 11:45] #8248 closed

[2020-08-24 11:48] janodvarko commented on #8235
We've moved bug tracking into Bugzilla so, I cloned this report into
https://bugzilla.mozilla.org/show_bug.cgi?id=1660769

Honza

[2020-08-24 11:48] #8235 closed

[2020-08-24 11:50] janodvarko commented on #8198
@Archaeopteryx I can't find `https://jsfiddle.net/js/embed/embed.js` In the left sidebar
Can you please provide new instructions?

Honza

[2020-08-24 15:59] Kuinox commented on #8294
So, i'm trying to do a reproduction, but...
When I hit the breakpoint, the debugger disappear ? :D
![image](https://user-images.githubusercontent.com/18743295/91067734-940fb780-e633-11ea-8a73-e46d90130681.png)

[2020-08-24 16:05] nchevobbe commented on #8294
Ouch!
Could you open the browser console (https://developer.mozilla.org/en-US/docs/Tools/Browser_Console) and copy/paste the logs here please?

[2020-08-24 16:10] Kuinox commented on #8294
[code]

[2020-08-24 16:27] janodvarko commented on #8260
I can reproduce this, thanks for the report.

We've moved our bug tracking to Bugzilla so, I cloned this report here:
https://bugzilla.mozilla.org/show_bug.cgi?id=1660824

And I am closing this report.

Thanks,
Honza

[2020-08-24 16:27] #8260 closed

[2020-08-24 16:44] Kuinox commented on #8294
Using the browser console, I think I found the issue:
![image](https://user-images.githubusercontent.com/18743295/91072391-bb698300-e639-11ea-9946-daa07a0d139a.png)
The line in question:
![image](https://user-images.githubusercontent.com/18743295/91072461-d9cf7e80-e639-11ea-8113-8bae8095d272.png)

[2020-08-24 17:33] bomsy commented on #8250
Hey 10Ko,

This is likely because this is no longer actively being maintained here and everything has been moved to the mozilla-central repo.

For details See https://firefox-source-docs.mozilla.org/devtools/getting-started/build.html#building-and-running-locally

Closing this for now.

[2020-08-24 17:33] #8250 closed

[2020-08-25 07:51] nchevobbe commented on #8294
Thanks for the logs!
Not sure what's happening, but yeah, something with sourcemaps going wrong (but the debugger should never go blank like that).
I tried with a simple typescript case and had no issue, using `as` or a `debugger` statement.
If you could provide us a simple test case where we could reproduce the issue, that would be great

I filed a bug on Bugzilla https://bugzilla.mozilla.org/sho

[2020-08-25 07:51] #8294 closed

[2020-08-25 09:01] 10ko commented on #8250
Hi @bomsy, thanks for letting me know!

[2020-08-25 09:07] andreiuipath commented on #8291
@janodvarko Thank you for looking into this.
Set a breakpoint at line 30.
Step over with F10.
![image](https://user-images.githubusercontent.com/50407920/91155430-83ab1b80-e6cb-11ea-91ac-4a36fb3cccd9.png)

[2020-08-25 09:52] janodvarko commented on #8291
Thanks, I was able to reproduce the problem now.

I believe that this is duplicate of:
[Bug 1573562](https://bugzilla.mozilla.org/show_bug.cgi?id=1573562) - Prevent previews from flashing effect when stepping

The workaround here is to switch of the inline variable previews. You can use the Settings menu (see the gear icon in the top right corner of the Debugger panel)

Closing this report.

We ar

[2020-08-25 09:53] #8291 closed

[2020-08-25 10:01] janodvarko commented on #6706
This is working for me now, I can see all, app.js, store.js, bootstrap.js (just like in Chrome)

We are moving our bug tracking into Bugzilla, so please report futher bugs here:
https://bugzilla.mozilla.org/enter_bug.cgi?product=DevTools&component=Debugger

Thanks,
Honza

[2020-08-25 10:01] #6706 closed

[2020-08-25 10:04] janodvarko commented on #6313
A lot has been fixed since this bug report and performance should be much better.

I am closing the report, but if you still experience the bug please file a new report.

We are moving our bug tracking into Bugzilla, so please report further bugs here:
https://bugzilla.mozilla.org/enter_bug.cgi?product=DevTools&component=Debugger

Thanks,
Honza

[2020-08-25 10:04] #6313 closed

[2020-08-25 10:06] janodvarko commented on #6214
Work on this is covered by:
 [Bug 1580891](https://bugzilla.mozilla.org/show_bug.cgi?id=1580891) - Console expressions should allow let/const variables and classes

Honza

[2020-08-25 10:06] #6214 closed

[2020-08-25 10:16] janodvarko commented on #6415
I can still reproduce this problem. Cloned into https://bugzilla.mozilla.org/show_bug.cgi?id=1660984

We are moving our bug tracking into Bugzilla, so please report further bugs here:
https://bugzilla.mozilla.org/enter_bug.cgi?product=DevTools&component=Debugger

Thanks,
Honza

[2020-08-25 10:16] #6415 closed

[2020-08-25 10:20] janodvarko commented on #6457
I can't reproduce that anymore, closing.

We are moving our bug tracking into Bugzilla, so please report bugs here:
https://bugzilla.mozilla.org/enter_bug.cgi?product=DevTools&component=Debugger

Thanks,
Honza

[2020-08-25 10:20] #6457 closed

[2020-08-27 13:17] janodvarko commented on #8123
Cloned into:
https://bugzilla.mozilla.org/show_bug.cgi?id=1661465

We moved our bug tracking into bugzilla, so please report new bugs there:
https://bugzilla.mozilla.org/enter_bug.cgi?product=DevTools&component=Debugger

Honza

[2020-08-27 13:17] #8123 closed

[2020-08-28 12:26] janodvarko commented on #5981
@juliandescottes can you still reproduce the bug?

I couldn't follow the STRs `set a breakpoint at line 766 (if (!parent && aNode...)` Looks like the code base changed.

Honza

[2020-08-28 12:45] janodvarko commented on #5754
Cloned into Bugzilla https://bugzilla.mozilla.org/show_bug.cgi?id=1661696

Our bug tracking is moved to Bugzilla, so please use this link to file new bugs:
https://bugzilla.mozilla.org/enter_bug.cgi?product=DevTools&component=Debugger

Honza

[2020-08-28 12:45] #5754 closed

[2020-08-28 12:48] janodvarko commented on #6592
Most of the bugs are closed (except of #5618)

Closing

Honza

[2020-08-28 12:48] #6592 closed

[2020-08-28 12:51] janodvarko commented on #6664
Doesn't seem to be relevant anymore, closing.

Honza

[2020-08-28 12:51] #6664 closed

[2020-08-28 12:59] janodvarko commented on #6458
I can't reproduce it anymore, closing.

Please file a new bug in Bugzilla if you still see the problem, thanks.
https://bugzilla.mozilla.org/enter_bug.cgi?product=DevTools&component=Debugger

Honza

[2020-08-28 12:59] #6458 closed

[2020-08-28 13:05] janodvarko commented on #7396
Cloned into:
https://bugzilla.mozilla.org/show_bug.cgi?id=1661701

We are using bugzilla as our bug tracking system now, so please report new bugs here:
https://bugzilla.mozilla.org/enter_bug.cgi?product=DevTools&component=Debugger

Thanks
Honza

[2020-08-28 13:05] #7396 closed

[2020-08-28 13:05] janodvarko commented on #7369
@nchevobbe is this still valid?

Honza

[2020-08-28 13:32] janodvarko commented on #7353
The main DevTools (including Debuguger) doc is here:
https://firefox-source-docs.mozilla.org/devtools/index.html

We also moved our bug tracking system entirely to Bugzilla. So, please file new Debugger bugs here:
https://bugzilla.mozilla.org/enter_bug.cgi?product=DevTools&component=Debugger

Honza

[2020-08-28 13:32] #7353 closed

[2020-08-28 13:38] janodvarko commented on #7260
@karlcow: I can't reproduce the bug, BP is there and works after reload.

But the page source code changes and I couldn't set BP exactly on `Set a breakpoint on var t = l.default.get();`

Can you still see the issue?

Honza

[2020-08-29 20:08] bomsy commented on #8172
Closing as no longer needed!

[2020-08-29 20:08] #8172 closed

[2020-08-29 20:19] bomsy commented on #4642
Closing. See https://bugzilla.mozilla.org/show_bug.cgi?id=1571994 for intermittent bug.

[2020-08-29 20:19] #4642 closed

[2020-08-29 20:22] bomsy commented on #5164
No longer needed after move to MC

[2020-08-29 20:22] #5164 closed

[2020-08-29 21:10] bomsy commented on #7962
No longer needed after move to MC.

[2020-08-29 21:10] #7962 closed

[2020-08-31 12:23] juliandescottes commented on #5981
Issue is 2 years old so let's close it.

[2020-08-31 12:23] #5981 closed

[2020-09-10 05:06] karlcow commented on #7260
ok let's see. @janodvarko this doesn't reproduce anymore. Thanks for checking.

[2020-09-10 05:06] #7260 closed

[2020-09-21 12:47] nchevobbe commented on #7369
I think we're fine now

[2020-09-21 12:47] #7369 closed

[2020-10-23 07:15] sdavidg opened #8296 "Option to ignore scripts from addons"
Create an option to ignore addons scripts

![imagen](https://user-images.githubusercontent.com/4955944/96967572-0146a880-1510-11eb-8048-739d00114307.png)

[2020-11-02 09:41] roqueorts opened #8297 "Cant access this context after promise return"
Hi,
I would like to know why i cant see on the debugger the context 'this' object. It is as undefined on firefox debugger, but it appears on chrome debugger.

The code of my ts file is:
[code]
The code of service:
[code]

Version 82.0.2 (64-bit) on Windows 10

[2020-11-22 00:04] jonluca commented on #8228
It looks like conversation on this has stalled - as a web security researcher, this would be a great feature.

[2020-11-25 18:24] arizvisa commented on #8228
Yep. Agreed. Not sure why this problem has lasted 5 years either.

[2020-11-25 21:46] SebastianZ commented on #8228
The development of the Debugger doesn't happen here anymore. As @loganfsmyth pointed out three comments above, you should follow https://bugzil.la/1578220.

Also, please avoid "me too" comments there and instead vote for it or provide feedback that helps implementing that feature.

Sebastian

[2020-11-26 18:07] sdavidg opened #8298 "Option to save scripts automatically and execution blocks"
The ACEBUG plugin (https://github.com/MikeRatcliffe/Acebug) was very useful because it would automatically save scripts and show them again when Firebug was opened. Currently if we close the development tools we lose everything we would have written

![imagen](https://user-images.githubusercontent.com/4955944/100381774-ff459d00-3019-11eb-8fe0-c740a49c9cf0.png)

Another very interesting option is t

[2020-11-28 19:38] #8298 closed

[2020-11-28 19:39] #8296 closed

[2021-01-22 21:44] RidamGarg commented on #7537
/claim

[2021-02-17 13:39] Gurran opened #8299 "Webpack not working in Firefox 86 Developer Edition"
Since the release of Firefox 86 Developer Edition I haven't been able to properly see Webpack in the Debugger.

This worked and still works fine in FF 85, all editions.
My setup is Angular 10 and 11 projects served with regular ng seve. (I think they use Webpack-dev-server)

FF 85:
![Webpack-FF85](https://user-images.githubusercontent.com/42462633/108211643-3913d480-712d-11eb-9bea-9652e7ba051a.png

[2021-02-19 09:26] janodvarko commented on #8299
Thank you for reporting the problem in bugzilla!
https://bugzilla.mozilla.org/show_bug.cgi?id=1693299

Closing this report
Honza

[2021-02-19 09:26] #8299 closed, assigned to nobody

[2021-02-25 08:47] janodvarko commented on #6010
Firefox Developer Tools (including Debugger tool) development is entirely happening in Bugzilla and new issues should be reported here: https://bugzilla.mozilla.org/enter_bug.cgi?product=DevTools&component=Debugger

Honza

[2021-02-25 08:47] #6010 closed

[2021-02-25 08:48] janodvarko commented on #8198
No activity, closing.

Also note that Firefox Developer Tools (including Debugger tool) development is entirely happening in Bugzilla and new issues should be reported here: https://bugzilla.mozilla.org/enter_bug.cgi?product=DevTools&component=Debugger

Honza

[2021-02-25 08:48] #8198 closed

[2021-02-25 08:50] janodvarko commented on #8195
It's been a while and this should be fixed.

@AndRo-Marian if you are still experiencing this issue, can you please create a new report here:
https://bugzilla.mozilla.org/enter_bug.cgi?product=DevTools&component=Debugger

Firefox Developer Tools (including Debugger tool) development is entirely happening in Bugzilla and new issues should be reported there.

Honza

[2021-02-25 08:50] #8195 closed

[2021-02-25 09:01] janodvarko commented on #8176
Thank you for the reporting this Karl

I just cloned it into Bugzilla report: https://bugzilla.mozilla.org/show_bug.cgi?id=1694905

Firefox Developer Tools (including Debugger tool) development is entirely happening in Bugzilla and new issues should be reported here: https://bugzilla.mozilla.org/enter_bug.cgi?product=DevTools&component=Debugger

Honza

[2021-02-25 09:01] #8176 closed

[2021-02-25 09:02] janodvarko commented on #8159
Support for the Launchpad has been deprecated, closing.

Also, Firefox Developer Tools (including Debugger tool) development is entirely happening in Bugzilla and new issues should be reported here: https://bugzilla.mozilla.org/enter_bug.cgi?product=DevTools&component=Debugger

Honza

[2021-02-25 09:02] #8159 closed

[2021-02-25 09:04] janodvarko commented on #8141
@fvsch is this still valid UI/UX requirement?

Note that Firefox Developer Tools (including Debugger tool) development is entirely happening in Bugzilla and new issues should be reported here: https://bugzilla.mozilla.org/enter_bug.cgi?product=DevTools&component=Debugger

So, I am closing this report.
But, let me know if this is still an actionable task and I am happy to clone it into Bugzilla.

T

[2021-02-25 09:04] #8141 closed

[2021-02-25 09:08] janodvarko commented on #8127
I can't reproduce this issue on my machine.

Also, Firefox Developer Tools (including Debugger tool) development is entirely happening in Bugzilla and new issues should be reported here: https://bugzilla.mozilla.org/enter_bug.cgi?product=DevTools&component=Debugger

If you are still experiencing this issue, please file a bug in Bugzilla, thank you!

Honza

[2021-02-25 09:08] #8127 closed

[2021-02-25 09:11] fvsch commented on #8141
@janodvarko It’s a small UI detail, but I don’t think we landed this improvement in the end (doesn't look like it in the Debugger). We can clone it, but I’m not sure if it’ll work as a good-first-bug since a lot of info is spread in discussions in this GitHub issue and this abandoned revision: https://phabricator.services.mozilla.com/D38692

[2021-02-25 09:15] janodvarko commented on #8113
Cloned into: https://bugzilla.mozilla.org/show_bug.cgi?id=1694907

Firefox Developer Tools (including Debugger tool) development is entirely happening in Bugzilla and new issues should be reported here: https://bugzilla.mozilla.org/enter_bug.cgi?product=DevTools&component=Debugger

Honza

[2021-02-25 09:15] #8113 closed

[2021-02-25 09:18] janodvarko commented on #7889
"will-navigate" and "navigate" will be replaced by different events (due to Fission related refactoring)
See more here: https://bugzilla.mozilla.org/show_bug.cgi?id=1632141

Closing this report.

Also, Firefox Developer Tools (including Debugger tool) development is entirely happening in Bugzilla and new issues should be reported here: https://bugzilla.mozilla.org/enter_bug.cgi?product=DevTools&co

[2021-02-25 09:18] #7889 closed

[2021-02-25 09:19] janodvarko commented on #7787
Not on our roadmap anymore, closing.

Note that Firefox Developer Tools (including Debugger tool) development is entirely happening in Bugzilla and new issues should be reported here: https://bugzilla.mozilla.org/enter_bug.cgi?product=DevTools&component=Debugger

Honza

[2021-02-25 09:19] #7787 closed

[2021-02-25 09:19] janodvarko commented on #7786
Firefox Developer Tools (including Debugger tool) development is entirely happening in Bugzilla and new issues should be reported here: https://bugzilla.mozilla.org/enter_bug.cgi?product=DevTools&component=Debugger

Honza

[2021-02-25 09:19] #7786 closed

[2021-02-25 09:19] janodvarko commented on #7785
Firefox Developer Tools (including Debugger tool) development is entirely happening in Bugzilla and new issues should be reported here: https://bugzilla.mozilla.org/enter_bug.cgi?product=DevTools&component=Debugger

Honza

[2021-02-25 09:19] #7785 closed

[2021-02-25 09:20] janodvarko commented on #7710
Firefox Developer Tools (including Debugger tool) development is entirely happening in Bugzilla and new issues should be reported here: https://bugzilla.mozilla.org/enter_bug.cgi?product=DevTools&component=Debugger

Honza

[2021-02-25 09:20] #7710 closed

[2021-02-25 09:20] janodvarko commented on #7493
Firefox Developer Tools (including Debugger tool) development is entirely happening in Bugzilla and new issues should be reported here: https://bugzilla.mozilla.org/enter_bug.cgi?product=DevTools&component=Debugger

Honza

[2021-02-25 09:20] #7493 closed

[2021-02-25 13:31] janodvarko commented on #6684
@gerdneuman: are you still experiencing this issue?

Note that Firefox Developer Tools (including Debugger tool) development is currently happening in Bugzilla and new issues should be reported here: https://bugzilla.mozilla.org/enter_bug.cgi?product=DevTools&component=Debugger

Could you please report again if it's still an issue, thank you!

Honza

[2021-02-25 13:31] #6684 closed

[2021-02-25 13:32] janodvarko commented on #7595
Firefox Developer Tools (including Debugger tool) development is entirely happening in Bugzilla and new issues should be reported here: https://bugzilla.mozilla.org/enter_bug.cgi?product=DevTools&component=Debugger

Please file a new bug for this in Bugzilla, if this report is still valid, thank you.

Honza

[2021-02-25 13:32] #7595 closed

[2021-02-25 13:33] janodvarko commented on #7570
Firefox Developer Tools (including Debugger tool) development is entirely happening in Bugzilla and new issues should be reported here: https://bugzilla.mozilla.org/enter_bug.cgi?product=DevTools&component=Debugger

If Issue #7302 doesn't help the bug should be reported in Bugzilla.

Honza

[2021-02-25 13:33] #7570 closed

[2021-02-25 13:34] janodvarko commented on #7560
Firefox Developer Tools (including Debugger tool) development is entirely happening in Bugzilla and new issues should be reported here: https://bugzilla.mozilla.org/enter_bug.cgi?product=DevTools&component=Debugger

@bomsy if this is still valid, please create new report in Bugzilla, thank you.

Honza

[2021-02-25 13:34] #7560 closed

[2021-02-25 13:40] janodvarko commented on #7547
Firefox Developer Tools (including Debugger tool) development is entirely happening in Bugzilla and new issues should be reported here: https://bugzilla.mozilla.org/enter_bug.cgi?product=DevTools&component=Debugger

Also, supporting JSX in the code base is not on our long term roadmap, so this might be invalid report.

Honza

[2021-02-25 13:40] #7547 closed

[2021-02-25 13:40] janodvarko commented on #7544
Firefox Developer Tools (including Debugger tool) development is entirely happening in Bugzilla and new issues should be reported here: https://bugzilla.mozilla.org/enter_bug.cgi?product=DevTools&component=Debugger

Also, supporting JSX in the code base is not on our long term roadmap, so this might be invalid report.

Honza

[2021-02-25 13:40] #7544 closed

[2021-02-25 13:41] janodvarko commented on #7540
Firefox Developer Tools (including Debugger tool) development is entirely happening in Bugzilla and new issues should be reported here: https://bugzilla.mozilla.org/enter_bug.cgi?product=DevTools&component=Debugger

Also, supporting JSX in the code base is not on our long term roadmap, so this might be invalid report.

Honza

[2021-02-25 13:41] #7540 closed

[2021-02-25 13:41] janodvarko commented on #7538
Firefox Developer Tools (including Debugger tool) development is entirely happening in Bugzilla and new issues should be reported here: https://bugzilla.mozilla.org/enter_bug.cgi?product=DevTools&component=Debugger

Also, supporting JSX in the code base is not on our long term roadmap, so this might be invalid report.

Honza

[2021-02-25 13:41] #7538 closed

[2021-02-25 13:41] janodvarko commented on #7537
Firefox Developer Tools (including Debugger tool) development is entirely happening in Bugzilla and new issues should be reported here: https://bugzilla.mozilla.org/enter_bug.cgi?product=DevTools&component=Debugger

Also, supporting JSX in the code base is not on our long term roadmap, so this might be invalid report.

Honza

[2021-02-25 13:41] #7537 closed

[2021-02-25 16:24] nchevobbe commented on #6149
Tracked in https://bugzilla.mozilla.org/show_bug.cgi?id=1671400

[2021-02-25 16:24] #6149 closed

[2021-02-25 16:27] nchevobbe commented on #6148
Reopened https://bugzilla.mozilla.org/show_bug.cgi?id=1289369

[2021-02-25 16:27] #6148 closed

[2021-02-25 16:29] nchevobbe commented on #6138
created https://bugzilla.mozilla.org/show_bug.cgi?id=1694987

[2021-02-25 16:29] #6138 closed

[2021-02-25 16:30] nchevobbe commented on #6118
we do have a `noGrip` option now, that is passed down from the JSON Viewer

[2021-02-25 16:30] #6118 closed

[2021-02-25 16:36] nchevobbe commented on #6107
filed https://bugzilla.mozilla.org/show_bug.cgi?id=1694989

[2021-02-25 16:36] #6107 closed

[2021-02-25 16:37] nchevobbe commented on #6109
will be handled in https://bugzilla.mozilla.org/show_bug.cgi?id=1448833

[2021-02-25 16:37] #6109 closed

[2021-02-25 16:40] nchevobbe commented on #6116
handled in https://bugzilla.mozilla.org/show_bug.cgi?id=1419089

[2021-02-25 16:40] #6116 closed

[2021-02-25 16:41] #6120 closed

[2021-02-25 16:45] nchevobbe commented on #6137
should be handled in https://bugzilla.mozilla.org/show_bug.cgi?id=1420826

[2021-02-25 16:45] #6137 closed

[2021-02-25 16:45] nchevobbe commented on #6143
See https://bugzilla.mozilla.org/show_bug.cgi?id=1380859

[2021-02-25 16:45] #6143 closed

[2021-02-25 16:47] nchevobbe commented on #6154
should be handled in https://bugzilla.mozilla.org/show_bug.cgi?id=1358919

[2021-02-25 16:47] #6154 closed

[2021-02-25 17:25] Loirooriol commented on #6118
`noGrip` already existed when I filed this. That's the point, remove the unreliable `isGrip` in favor of `noGrip`.

`isGrip` is still there: https://searchfox.org/mozilla-central/rev/df23c6e58c6be1eb8399e475878f73d4867bef87/devtools/client/shared/components/reps/reps/rep-utils.js#75-77

[2021-02-26 07:40] nchevobbe commented on #6152
Filed https://bugzilla.mozilla.org/show_bug.cgi?id=1695141

[2021-02-26 07:40] #6152 closed

[2021-02-26 07:56] nchevobbe commented on #6135
filed https://bugzilla.mozilla.org/show_bug.cgi?id=1695143

[2021-02-26 07:56] #6135 closed

[2021-02-26 08:03] nchevobbe commented on #6134
Filed https://bugzilla.mozilla.org/show_bug.cgi?id=1695145

[2021-02-26 08:03] #6134 closed

[2021-02-26 08:08] nchevobbe commented on #6131
Filed https://bugzilla.mozilla.org/show_bug.cgi?id=1695146

[2021-02-26 08:08] #6131 closed

[2021-02-26 08:11] nchevobbe commented on #6130
Filed https://bugzilla.mozilla.org/show_bug.cgi?id=1695147

[2021-02-26 08:11] #6130 closed

[2021-02-26 08:15] nchevobbe commented on #6111
Filed https://bugzilla.mozilla.org/show_bug.cgi?id=1695149

[2021-02-26 08:15] #6111 closed

[2021-02-26 08:19] nchevobbe commented on #6129
Filed https://bugzilla.mozilla.org/show_bug.cgi?id=1695150

[2021-02-26 08:19] #6129 closed

[2021-02-26 08:24] nchevobbe commented on #6115
Filed https://bugzilla.mozilla.org/show_bug.cgi?id=1695152

[2021-02-26 08:24] #6115 closed

[2021-02-26 08:28] nchevobbe commented on #6124
reopened https://bugzilla.mozilla.org/show_bug.cgi?id=994756

[2021-02-26 08:28] #6124 closed

[2021-02-26 13:13] janodvarko commented on #5835
Not on our roadmap.

Firefox Developer Tools (including Debugger tool) development is now entirely happening in Bugzilla and new issues should be reported here: https://bugzilla.mozilla.org/enter_bug.cgi?product=DevTools&component=Debugger

[2021-02-26 13:13] #5835 closed

[2021-02-26 13:18] janodvarko commented on #4168
Cloned into https://bugzilla.mozilla.org/show_bug.cgi?id=1695200

Firefox Developer Tools (including Debugger tool) development is now entirely happening in Bugzilla and new issues should be reported here: https://bugzilla.mozilla.org/enter_bug.cgi?product=DevTools&component=Debugger

Honza

[2021-02-26 13:18] #4168 closed

[2021-02-26 13:19] janodvarko commented on #6440
@nchevobbe is this still valid report? Should we close or clone?

[2021-02-26 13:21] nchevobbe commented on #6440
this is still an issue, so we should clone it

[2021-02-26 13:26] janodvarko commented on #6673
Cloned into:
https://bugzilla.mozilla.org/show_bug.cgi?id=1695203

Firefox Developer Tools (including Debugger tool) development is now entirely happening in Bugzilla and new issues should be reported here: https://bugzilla.mozilla.org/enter_bug.cgi?product=DevTools&component=Debugger

Honza

[2021-02-26 13:26] #6673 closed

[2021-02-26 13:30] janodvarko commented on #6440
Cloned into: https://bugzilla.mozilla.org/show_bug.cgi?id=1695204

[2021-02-26 13:30] #6440 closed

[2021-02-26 13:34] janodvarko commented on #6722
Cloned into https://bugzilla.mozilla.org/show_bug.cgi?id=1695206

Firefox Developer Tools (including Debugger tool) development is now entirely happening in Bugzilla and new issues should be reported here: https://bugzilla.mozilla.org/enter_bug.cgi?product=DevTools&component=Debugger

Honza

[2021-02-26 13:34] #6722 closed

[2021-02-26 13:36] janodvarko commented on #6842
Cloned into: https://bugzilla.mozilla.org/show_bug.cgi?id=1695207

Firefox Developer Tools (including Debugger tool) development is now entirely happening in Bugzilla and new issues should be reported here: https://bugzilla.mozilla.org/enter_bug.cgi?product=DevTools&component=Debugger

Honza

[2021-02-26 13:36] #6842 closed

[2021-02-26 13:37] janodvarko commented on #6820
Not on our roadmap, closing.

Firefox Developer Tools (including Debugger tool) development is now entirely happening in Bugzilla and new issues should be reported here: https://bugzilla.mozilla.org/enter_bug.cgi?product=DevTools&component=Debugger

Honza

[2021-02-26 13:37] #6820 closed

[2021-02-26 13:39] janodvarko commented on #6950
Cloned into https://bugzilla.mozilla.org/show_bug.cgi?id=1695209

Firefox Developer Tools (including Debugger tool) development is now entirely happening in Bugzilla and new issues should be reported here: https://bugzilla.mozilla.org/enter_bug.cgi?product=DevTools&component=Debugger

Honza

[2021-02-26 13:39] #6950 closed

[2021-02-26 13:40] janodvarko commented on #6959
Works for me now.

Honza

[2021-02-26 13:40] #6959 closed

[2021-02-26 13:41] janodvarko commented on #7193
It's been a while since this was reported, should be / could be fixed.

Firefox Developer Tools (including Debugger tool) development is now entirely happening in Bugzilla and new issues should be reported here: https://bugzilla.mozilla.org/enter_bug.cgi?product=DevTools&component=Debugger

Honza

[2021-02-26 13:41] #7193 closed

[2021-02-26 13:42] janodvarko commented on #7185
Firefox Developer Tools (including Debugger tool) development is now entirely happening in Bugzilla and new issues should be reported here: https://bugzilla.mozilla.org/enter_bug.cgi?product=DevTools&component=Debugger

Honza

[2021-02-26 13:42] #7185 closed

[2021-02-26 13:44] janodvarko commented on #7208
Cloned into https://bugzilla.mozilla.org/show_bug.cgi?id=1695210

Firefox Developer Tools (including Debugger tool) development is now entirely happening in Bugzilla and new issues should be reported here: https://bugzilla.mozilla.org/enter_bug.cgi?product=DevTools&component=Debugger

Honza

[2021-02-26 13:44] #7208 closed

[2021-02-26 13:45] janodvarko commented on #7327
Firefox Developer Tools (including Debugger tool) development is now entirely happening in Bugzilla and new issues should be reported here: https://bugzilla.mozilla.org/enter_bug.cgi?product=DevTools&component=Debugger

Feel free to reopen this report in Bugzilla, thank you.

Honza

[2021-02-26 13:45] #7327 closed

[2021-02-26 13:46] janodvarko commented on #7340
Firefox Developer Tools (including Debugger tool) development is now entirely happening in Bugzilla and new issues should be reported here: https://bugzilla.mozilla.org/enter_bug.cgi?product=DevTools&component=Debugger

Please reopen this report in Bugzilla if it's still valid.

Honza

[2021-02-26 13:46] #7340 closed

[2021-02-26 13:46] janodvarko commented on #7491
Firefox Developer Tools (including Debugger tool) development is now entirely happening in Bugzilla and new issues should be reported here: https://bugzilla.mozilla.org/enter_bug.cgi?product=DevTools&component=Debugger

Please reopen this report in Bugzilla if it's still valid.

Honza

[2021-02-26 13:46] #7491 closed

[2021-02-26 13:47] janodvarko commented on #7497
Firefox Developer Tools (including Debugger tool) development is now entirely happening in Bugzilla and new issues should be reported here: https://bugzilla.mozilla.org/enter_bug.cgi?product=DevTools&component=Debugger

Please reopen this report in Bugzilla if it's still valid.

Honza

[2021-02-26 13:47] #7497 closed

[2021-02-26 13:59] janodvarko commented on #7709
Cloned into https://bugzilla.mozilla.org/show_bug.cgi?id=1695214

Firefox Developer Tools (including Debugger tool) development is now entirely happening in Bugzilla and new issues should be reported here: https://bugzilla.mozilla.org/enter_bug.cgi?product=DevTools&component=Debugger

Honza

[2021-02-26 13:59] #7709 closed

[2021-02-26 14:21] janodvarko commented on #6744
I can't reproduce this issue.

Firefox Developer Tools (including Debugger tool) development is now entirely happening in Bugzilla and new issues should be reported here: https://bugzilla.mozilla.org/enter_bug.cgi?product=DevTools&component=Debugger

Please reopen this report in Bugzilla if it's still valid.

Honza

[2021-02-26 14:21] #6744 closed

[2021-02-26 14:23] janodvarko commented on #7166
Cloned into https://bugzilla.mozilla.org/show_bug.cgi?id=1695215

Firefox Developer Tools (including Debugger tool) development is now entirely happening in Bugzilla and new issues should be reported here: https://bugzilla.mozilla.org/enter_bug.cgi?product=DevTools&component=Debugger

Honza

[2021-02-26 14:23] #7166 closed

[2021-02-26 14:25] janodvarko commented on #7048
Cloned into https://bugzilla.mozilla.org/show_bug.cgi?id=1695217

Firefox Developer Tools (including Debugger tool) development is now entirely happening in Bugzilla and new issues should be reported here: https://bugzilla.mozilla.org/enter_bug.cgi?product=DevTools&component=Debugger

Honza

[2021-02-26 14:25] #7048 closed

[2021-02-26 14:25] janodvarko commented on #4075
Firefox Developer Tools (including Debugger tool) development is now entirely happening in Bugzilla and new issues should be reported here: https://bugzilla.mozilla.org/enter_bug.cgi?product=DevTools&component=Debugger

Please reopen this report in Bugzilla if it's still valid.

Honza

[2021-02-26 14:25] #4075 closed

[2021-02-26 14:26] janodvarko commented on #4181
Firefox Developer Tools (including Debugger tool) development is now entirely happening in Bugzilla and new issues should be reported here: https://bugzilla.mozilla.org/enter_bug.cgi?product=DevTools&component=Debugger

Please reopen this report in Bugzilla if it's still valid.

Honza

[2021-02-26 14:26] #4181 closed

[2021-02-26 14:27] janodvarko commented on #4319
Firefox Developer Tools (including Debugger tool) development is now entirely happening in Bugzilla and new issues should be reported here: https://bugzilla.mozilla.org/enter_bug.cgi?product=DevTools&component=Debugger

Please reopen this report in Bugzilla if it's still valid.

Honza

[2021-02-26 14:27] #4319 closed

[2021-02-26 14:28] janodvarko commented on #7344
Cloned into https://bugzilla.mozilla.org/show_bug.cgi?id=1695218

Firefox Developer Tools (including Debugger tool) development is now entirely happening in Bugzilla and new issues should be reported here: https://bugzilla.mozilla.org/enter_bug.cgi?product=DevTools&component=Debugger

Please reopen this report in Bugzilla if it's still valid.

Honza

[2021-02-26 14:28] #7344 closed

[2021-02-26 14:30] janodvarko commented on #5618
Cloned into: https://bugzilla.mozilla.org/show_bug.cgi?id=1695219

Firefox Developer Tools (including Debugger tool) development is now entirely happening in Bugzilla and new issues should be reported here: https://bugzilla.mozilla.org/enter_bug.cgi?product=DevTools&component=Debugger

Honza

[2021-02-26 14:30] #5618 closed

[2021-02-26 14:30] janodvarko commented on #6404
Firefox Developer Tools (including Debugger tool) development is now entirely happening in Bugzilla and new issues should be reported here: https://bugzilla.mozilla.org/enter_bug.cgi?product=DevTools&component=Debugger

Please reopen this report in Bugzilla if it's still valid.

Honza

[2021-02-26 14:30] #6404 closed

[2021-02-26 14:31] janodvarko commented on #7294
Firefox Developer Tools (including Debugger tool) development is now entirely happening in Bugzilla and new issues should be reported here: https://bugzilla.mozilla.org/enter_bug.cgi?product=DevTools&component=Debugger

Please reopen this report in Bugzilla if it's still valid.

Honza

[2021-02-26 14:31] #7294 closed

[2021-02-26 14:31] janodvarko commented on #6989
Firefox Developer Tools (including Debugger tool) development is now entirely happening in Bugzilla and new issues should be reported here: https://bugzilla.mozilla.org/enter_bug.cgi?product=DevTools&component=Debugger

Please reopen this report in Bugzilla if it's still valid.

Honza

[2021-02-26 14:31] #6989 closed

[2021-02-26 14:39] janodvarko commented on #6840
The original test case is not available anymore.

Firefox Developer Tools (including Debugger tool) development is now entirely happening in Bugzilla and new issues should be reported here: https://bugzilla.mozilla.org/enter_bug.cgi?product=DevTools&component=Debugger

Please reopen this report in Bugzilla if it's still valid.

Honza

[2021-02-26 14:39] #6840 closed

[2021-02-26 14:39] janodvarko commented on #5641
It's been a while since this was reported, perhaps it's fixed?

Firefox Developer Tools (including Debugger tool) development is now entirely happening in Bugzilla and new issues should be reported here: https://bugzilla.mozilla.org/enter_bug.cgi?product=DevTools&component=Debugger

Please reopen this report in Bugzilla if it's still valid.

Honza

[2021-02-26 14:39] #5641 closed

[2021-02-26 14:41] janodvarko commented on #6949
@yurydelendik Firefox Developer Tools (including Debugger tool) development is now entirely happening in Bugzilla and new issues should be reported here: https://bugzilla.mozilla.org/enter_bug.cgi?product=DevTools&component=Debugger

Please reopen this report in Bugzilla if it's still valid.

Honza

[2021-02-26 14:41] #6949 closed

[2021-02-26 14:44] janodvarko commented on #7395
Cloned into: https://bugzilla.mozilla.org/show_bug.cgi?id=1695225

Firefox Developer Tools (including Debugger tool) development is now entirely happening in Bugzilla and new issues should be reported here: https://bugzilla.mozilla.org/enter_bug.cgi?product=DevTools&component=Debugger

Honza

[2021-02-26 14:44] #7395 closed

[2021-02-26 14:44] janodvarko commented on #7312
@yurydelendik Firefox Developer Tools (including Debugger tool) development is now entirely happening in Bugzilla and new issues should be reported here: https://bugzilla.mozilla.org/enter_bug.cgi?product=DevTools&component=Debugger

Please reopen this report in Bugzilla if it's still valid.

Honza

[2021-02-26 14:44] #7312 closed

[2021-02-26 14:45] janodvarko commented on #7535
Firefox Developer Tools (including Debugger tool) development is now entirely happening in Bugzilla and new issues should be reported here: https://bugzilla.mozilla.org/enter_bug.cgi?product=DevTools&component=Debugger

Please reopen this report in Bugzilla if it's still valid.

Honza

[2021-02-26 14:45] #7535 closed

[2021-02-26 14:49] janodvarko commented on #7604
Firefox Developer Tools (including Debugger tool) development is now entirely happening in Bugzilla and new issues should be reported here: https://bugzilla.mozilla.org/enter_bug.cgi?product=DevTools&component=Debugger

Please reopen this report in Bugzilla if it's still valid.

Honza

[2021-02-26 14:49] #7604 closed

[2021-02-26 14:49] janodvarko commented on #7724
Firefox Developer Tools (including Debugger tool) development is now entirely happening in Bugzilla and new issues should be reported here: https://bugzilla.mozilla.org/enter_bug.cgi?product=DevTools&component=Debugger

Please reopen this report in Bugzilla if it's still valid.

Honza

[2021-02-26 14:49] #7724 closed

[2021-02-26 15:04] janodvarko commented on #7816
Firefox Developer Tools (including Debugger tool) development is now entirely happening in Bugzilla and new issues should be reported here: https://bugzilla.mozilla.org/enter_bug.cgi?product=DevTools&component=Debugger

Honza

[2021-02-26 15:04] #7816 closed

[2021-02-26 15:05] janodvarko commented on #7917
Firefox Developer Tools (including Debugger tool) development is now entirely happening in Bugzilla and new issues should be reported here: https://bugzilla.mozilla.org/enter_bug.cgi?product=DevTools&component=Debugger

Please reopen this report in Bugzilla if it's still valid.

Honza

[2021-02-26 15:05] #7917 closed

[2021-02-26 15:15] janodvarko commented on #7989
The test case is based on the Launchpad that is not supported anymore.

Firefox Developer Tools (including Debugger tool) development is now entirely happening in Bugzilla and new issues should be reported here: https://bugzilla.mozilla.org/enter_bug.cgi?product=DevTools&component=Debugger

Please reopen this report in Bugzilla if it's still valid.

Honza

[2021-02-26 15:15] #7989 closed

[2021-02-26 15:22] nchevobbe commented on #7852
just tried on https://dynamic-import.glitch.me/ , and it works fine now :)

[2021-02-26 15:22] #7852 closed

[2021-03-01 12:58] janodvarko commented on #7843
The launchpad is not supported anymore, closing.

Honza

[2021-03-01 12:58] #7843 closed

[2021-03-01 13:05] janodvarko commented on #7806
Cloned in to Bugzilla https://bugzilla.mozilla.org/show_bug.cgi?id=1695621

Firefox Developer Tools (including Debugger tool) development is now entirely happening in Bugzilla and new issues should be reported here: https://bugzilla.mozilla.org/enter_bug.cgi?product=DevTools&component=Debugger

Honza

[2021-03-01 13:05] #7806 closed

[2021-03-01 13:09] janodvarko commented on #7905
Cloned into Bugzilla: https://bugzilla.mozilla.org/show_bug.cgi?id=1695623

Firefox Developer Tools (including Debugger tool) development is now entirely happening in Bugzilla and new issues should be reported here: https://bugzilla.mozilla.org/enter_bug.cgi?product=DevTools&component=Debugger

Honza

[2021-03-01 13:09] #7905 closed

[2021-03-01 13:09] janodvarko commented on #7972
The launchpad isn't supported anymore, closing.

Honza

[2021-03-01 13:09] #7972 closed

[2021-03-01 13:11] janodvarko commented on #7867
No activity, closing.

Honza

[2021-03-01 13:11] #7867 closed

[2021-03-01 13:12] janodvarko commented on #7918
No activity, closing.

[2021-03-01 13:12] #7918 closed

[2021-03-01 13:15] janodvarko commented on #8042
Cloned into Bugzilla: https://bugzilla.mozilla.org/show_bug.cgi?id=1695624

Firefox Developer Tools (including Debugger tool) development is now entirely happening in Bugzilla and new issues should be reported here: https://bugzilla.mozilla.org/enter_bug.cgi?product=DevTools&component=Debugger

Honza

[2021-03-01 13:15] #8042 closed

[2021-03-01 13:16] janodvarko commented on #8019
Seems to be fixed. I can't reproduce this on my machine (Win10)

Firefox Developer Tools (including Debugger tool) development is now entirely happening in Bugzilla and new issues should be reported here: https://bugzilla.mozilla.org/enter_bug.cgi?product=DevTools&component=Debugger

Honza

[2021-03-01 13:16] #8019 closed

[2021-03-01 13:19] janodvarko commented on #8059
Cloned into Bugzilla https://bugzilla.mozilla.org/show_bug.cgi?id=1695625

Firefox Developer Tools (including Debugger tool) development is now entirely happening in Bugzilla and new issues should be reported here: https://bugzilla.mozilla.org/enter_bug.cgi?product=DevTools&component=Debugger

Honza

[2021-03-01 13:19] #8059 closed

[2021-03-01 13:21] janodvarko commented on #8061
Cloned into Bugzilla: https://bugzilla.mozilla.org/show_bug.cgi?id=1695627

Firefox Developer Tools (including Debugger tool) development is now entirely happening in Bugzilla and new issues should be reported here: https://bugzilla.mozilla.org/enter_bug.cgi?product=DevTools&component=Debugger

Honza

[2021-03-01 13:21] #8061 closed

[2021-03-01 13:26] janodvarko commented on #8043
Cloned into Bugzilla: https://bugzilla.mozilla.org/show_bug.cgi?id=1695630

Firefox Developer Tools (including Debugger tool) development is now entirely happening in Bugzilla and new issues should be reported here: https://bugzilla.mozilla.org/enter_bug.cgi?product=DevTools&component=Debugger

Honza

[2021-03-01 13:26] #8043 closed

[2021-03-01 13:28] janodvarko commented on #7981
Cloned into Bugzilla: https://bugzilla.mozilla.org/show_bug.cgi?id=1695631

Firefox Developer Tools (including Debugger tool) development is now entirely happening in Bugzilla and new issues should be reported here: https://bugzilla.mozilla.org/enter_bug.cgi?product=DevTools&component=Debugger

Honza

[2021-03-01 13:28] #7981 closed

[2021-03-01 13:30] janodvarko commented on #7782
Cloned into Bugzilla https://bugzilla.mozilla.org/show_bug.cgi?id=1695634

Firefox Developer Tools (including Debugger tool) development is now entirely happening in Bugzilla and new issues should be reported here: https://bugzilla.mozilla.org/enter_bug.cgi?product=DevTools&component=Debugger

Honza

[2021-03-01 13:30] #7782 closed

[2021-03-01 13:32] janodvarko commented on #8068
Cloned into Bugzilla: https://bugzilla.mozilla.org/show_bug.cgi?id=1695635

Firefox Developer Tools (including Debugger tool) development is now entirely happening in Bugzilla and new issues should be reported here: https://bugzilla.mozilla.org/enter_bug.cgi?product=DevTools&component=Debugger

Honza

[2021-03-01 13:32] #8068 closed

[2021-03-01 13:34] janodvarko commented on #8088
Cloned into Bugzilla: https://bugzilla.mozilla.org/show_bug.cgi?id=1695637

Firefox Developer Tools (including Debugger tool) development is now entirely happening in Bugzilla and new issues should be reported here: https://bugzilla.mozilla.org/enter_bug.cgi?product=DevTools&component=Debugger

Honza

[2021-03-01 13:34] #8088 closed

[2021-03-01 13:36] janodvarko commented on #7921
Cloned into Bugzilla https://bugzilla.mozilla.org/show_bug.cgi?id=1695638

Firefox Developer Tools (including Debugger tool) development is now entirely happening in Bugzilla and new issues should be reported here: https://bugzilla.mozilla.org/enter_bug.cgi?product=DevTools&component=Debugger

Honza

[2021-03-01 13:36] #7921 closed

[2021-03-01 13:39] janodvarko commented on #8060
Cloned into Bugzilla: https://bugzilla.mozilla.org/show_bug.cgi?id=1695640

Firefox Developer Tools (including Debugger tool) development is now entirely happening in Bugzilla and new issues should be reported here: https://bugzilla.mozilla.org/enter_bug.cgi?product=DevTools&component=Debugger

Honza

[2021-03-01 13:39] #8060 closed

[2021-03-01 13:41] janodvarko commented on #8297
Cloned into Bugzilla https://bugzilla.mozilla.org/show_bug.cgi?id=1695642

Firefox Developer Tools (including Debugger tool) development is now entirely happening in Bugzilla and new issues should be reported here: https://bugzilla.mozilla.org/enter_bug.cgi?product=DevTools&component=Debugger

Honza

[2021-03-01 13:41] #8297 closed

[2021-03-02 12:25] janodvarko commented on #8198
I can still reproduce this problem, so cloned into Bugzilla here: https://bugzilla.mozilla.org/show_bug.cgi?id=1695896

Honza