[2018-05-22 17:19] darkwing commented on #6385
Screenshot:

<img width="1275" alt="generatedsourcerecorderror" src="https://user-images.githubusercontent.com/46655/40378846-452205d2-5dba-11e8-8f89-0b0bd5b8b4d8.png">

[2018-05-22 18:10] nastark519 commented on #4080
Hi there community. We are still were trying to inject a line of code above the https://github.com/devtools-html/debugger.html/blob/master/src/components/shared/Accordion.js#L60 that essentially is supposed to add an action listener for the space bar. Though we continually are getting error messages is there somewhere else that we should add an listener?

[2018-05-22 18:15] jasonLaster commented on #4080
CC @yzen @darkwing @nchevobbe

[2018-05-22 18:42] jasonLaster commented on #6290
@Hindelburg interesting mind trying 61 or 62 via dev edition and nightly?

[2018-05-22 18:43] nastark519 commented on #4080
We have a bug fix though the we can expand and collapse the headers with any key press not only the space bar. would this still count. No functionality has been compromised. We can still change selection with `tab` so is this good?

[2018-05-22 18:45] darkwing commented on #4080
Sure, feel free to open a pull request and we can start the discussion there! 👍

[2018-05-22 20:57] nastark519 commented on #4080
Thank you @darkwing pull request #6389 was made. Will see what happens from here.

[2018-05-23 01:21] karlcow opened #6390 "[feature] show the image inline for element.src"
When stepping through the code and reaching a code such as `this.src`, it is possible to hover the `src` value.

Actual:
We see the value of the `src` attribute, for example, an URI.

Expected:
It would be cool to be able also to see the image, the same way we can see background-images in the Rules inspector.

<img width="685" alt="capture d ecran 2018-05-23 a 10 17 22" src="https://user-images.gi

[2018-05-23 02:12] violasong commented on #6091
I don't think this has happened yet, but it fits nicely into Honza's new Callstacks improvement project: https://docs.google.com/document/d/17XzcgIqHk1qjEXLi-Sk7VHaMTr_76tCO6iV7txg_d_E/ :)

[2018-05-23 05:13] lukaszsobek commented on #4837
We're down to about 40 or so. The remaining toJS are either of no relevance to the performance of the working application or needed. Closing this.

[2018-05-23 05:13] #4837 closed

[2018-05-23 15:09] jasonLaster commented on #5519
@ATCraiger can you try reproing again on nightly?

[2018-05-23 15:16] jasonLaster commented on #5519
So, i just tried and found that I could pause, but it looks that pretty print is not mapping to the "right" spot because we pause at a different location than where the breakpoint is set:

![](http://g.recordit.co/p4WkReNQTV.gif)

I'm going to reclasify as a pretty print bug until we can confirm

[2018-05-23 15:27] darkwing opened #6394 "[Tabs] Title Not Matching Tree Title"
I found this while testing a debugger release on YouTube:

<img width="868" alt="tree2" src="https://user-images.githubusercontent.com/46655/40434331-c071594a-5e73-11e8-9cb2-c590089827b6.png">

<img width="1056" alt="treevstabname" src="https://user-images.githubusercontent.com/46655/40434336-c2704e90-5e73-11e8-8764-1e9f5721c549.png">

[2018-05-23 15:27] Loirooriol commented on #5519
I still don't see the breakpoint in the breakpoints list.

[2018-05-23 15:27] jasonLaster commented on #6394
nice, we should totally fix that

[2018-05-23 15:44] jasonLaster opened #6395 "[Editor] Breakpoint is missing when a file is first opened"
STR:
1. go to http://firefox-dev.tools/debugger-examples/examples/todomvc/
2. add a bp at todo-view.js#34
3. close the file
4. close the debugger
5. re-open and go to todo-view.js

ER: see the bp
AR: the bp is missing

![](http://g.recordit.co/frbOwT0OCH.gif)

[2018-05-23 17:56] Hindelburg commented on #6290
I ran the test again in Firefox Developer Edition 61 using the dark theme and it still correctly jumped to the cursor position.

[2018-05-23 18:36] AlexMolodyh commented on #6394
/claim

[2018-05-23 18:44] Hindelburg commented on #6290
I also tested it in nightly and it jumped to the cursor position again.

[2018-05-23 20:12] jasonLaster commented on #5519
![](http://g.recordit.co/WVYAQZ4zGf.gif)

[2018-05-23 20:44] #5977 closed

[2018-05-23 21:18] jasonLaster opened #6399 "Quality Sprint"
#### Toolbox

- [x] the debugger tab flashes when you add a breakpoint #6382
- [x] Following link to large file from Console doesn't react for a while #4654
- [ ] [Console] Clicking frame from console does not highlight line  #4100

#### Editor

- [x] does not go to the correct location (when loading) #6353
- [x]  Weird style when hovering gutter line with horizontally scrolled editor #6451
- [x]

[2018-05-23 21:29] jasonLaster commented on #5727
moving this to the icebox so we can work on it when we do more pause UX

[2018-05-23 21:29] #5727 closed

[2018-05-23 21:30] jasonLaster commented on #6374
@violasong are we failing the contrast test?

[2018-05-23 21:31] jasonLaster commented on #6015
hmm, i don't follow. what do you mean by running locally?

[2018-05-23 21:32] jasonLaster commented on #5910
how's it going @paesh1997?

[2018-05-23 21:50] digitarald commented on #5102
I just saw something similar on https://angular-quickstart.glitch.me/ . does the `ngfactory` file fall into the same issue, @jasonLaster ?

![screenflow](https://user-images.githubusercontent.com/8599/40452945-692d6424-5e98-11e8-9227-968839080ab1.gif)

[2018-05-23 21:55] loganfsmyth opened #6400 "[Scopes] Tracking issue for original scope mapping tasks"
This is a general tracking issue, which replaces #5561 and starts fresh with our current goals.

#### Bugs

* [x] Handle function body scope with lex and nonlex decls #6387
* [x] Ensure that regenerator maps `yield` statements to `return` statements [regenerator issue #342](https://github.com/facebook/regenerator/issues/342) [regenerator PR #344]( https://github.com/facebook/regenerator/pull/344)

[2018-05-23 21:56] loganfsmyth commented on #5561
Closing in favor of #6400

[2018-05-23 21:56] #5561 closed

[2018-05-23 21:57] jasonLaster commented on #5102
looks more like this one #5663

[2018-05-23 21:57] jasonLaster commented on #5663
This might be another case:

I just saw something similar on https://angular-quickstart.glitch.me/ . does the `ngfactory` file fall into the same issue, @jasonLaster ?

![screenflow](https://user-images.githubusercontent.com/8599/40452945-692d6424-5e98-11e8-9227-968839080ab1.gif)

[2018-05-23 22:18] digitarald opened #6401 "[Reps] Inspector panel fails to expand with "document not defined" error"
STR:
- Install https://addons.mozilla.org/en-US/firefox/addon/angular-state-inspector/
- Navigate to https://angular-quickstart.glitch.me/
- Open Inspector, switch to new `State` panel
- Inspect an `ng-*` node
- Expand prototype in `State` panel

ER: Something expands

AR: Sidepanel goes white with error

<img width="1551" alt="image" src="https://user-images.githubusercontent.com/8599/40453870-7a

[2018-05-23 22:34] jasonLaster commented on #6401
@digitarald can you share a GIF

[2018-05-23 23:04] #5738 closed

[2018-05-23 23:09] adancarrasco commented on #6331
/claim

[2018-05-24 00:55] reescott commented on #6348
/claim

[2018-05-24 13:55] joshunger commented on #5663
per @darkwing

/unclaim

[2018-05-24 14:49] yzen commented on #6015
Sorry, all I meant was that when run the latest master on my machine.

[2018-05-24 14:51] jasonLaster opened #6403 "[Breakpoints] Extract Exceptions component"
We're currently refactoring the Breakpoints pane. See #6398. It would be awesome to move the Exceptions logic to its own component as well...

Here is a [gist](https://gist.github.com/jasonLaster/f923e9a473fb0dd258f465035725746c) where I started the cleanup.

[2018-05-24 14:53] jasonLaster commented on #6015
master in the launchpad or m-c and ./mach run?

[2018-05-24 14:54] yzen commented on #6015
Just the launchpad

[2018-05-24 14:56] jasonLaster commented on #6015
i see. what do you mean by a re-render? like a render method is called? sorry for being slow

[2018-05-24 14:57] yzen commented on #6015
I can verify that, but I see a flash of the entire debugger UI which I assumed was because of re-render, I'll double check now.

[2018-05-24 15:25] yzen opened #6404 "Bring changes from https://bugzilla.mozilla.org/show_bug.cgi?id=1438835 into tree component."
Changes in that bug remove dependency on native events and related target when the tree component handles focus event. This might help with getting to the root cause of source tree re-rendering on focus described in #6015

[2018-05-24 20:32] digitarald commented on #3777
WorksForMe now, Console link correctly updates to `:formatted:`

[2018-05-24 20:32] #3777 closed

[2018-05-24 20:37] jasonLaster commented on #6036
@tommai78101 do you have steps to reproduce?

[2018-05-24 20:41] digitarald commented on #4654
Works snappy for me now.

[2018-05-24 20:41] #4654 closed

[2018-05-24 21:46] violasong commented on #6374
That does seem hard to read - if this is Gray-50 (#737373), then that's usually safe, but in this screenshot it looks like it's using a lighter font weight (and maybe even a different, larger font?). Changing to the normal font weight/size/face would probably fix this.

[2018-05-24 22:56] digitarald commented on #5986
Testing 62.0a1 (2018-05-24) (64-bit) on the [test page](https://cdn.rawgit.com/jakearchibald/a298d5af601982c338186cd355e624a8/raw/aaa2cbee9a5810d14b01ae965e52ecb9b2965a44/)
 I see modules disappearing on reload

![screenflow](https://user-images.githubusercontent.com/8599/40517600-0195d1ce-5f6b-11e8-950c-6a7dcdd421ea.gif)

[2018-05-24 23:07] digitarald commented on #3778
This seems to work for me every other time. I saw it working when testing 1hr ago; testing it again now did not break me to the right line.

[2018-05-25 05:54] AnshulMalik commented on #6382
Here is some info that might help:

We show green icon when the debugger is paused and blue, when it's not. So when we add a breakpoint, debugger goes to paused state and adds the breakpoint and resumes. The process is sometimes slow when we see this flash.

I don't know why we need to pause the debugger to add a breakpoint.

[2018-05-25 11:05] jnachtigall opened #6413 "`Evaluate in console` context menu does nothing"
STR:
1. Select any code line
2. Right click and select `Evaluate in console`

AR:
Nothing at all happens.

ER:
Highlighted code is evaluated (like VSCode does for the same feature). More advanced: if Console is not yet split, open in Console split mode.

Here's what it looks right now using Codepen's debug mode (top right `Change View`) for https://codepen.io/nachtigall/pen/odrdYN using Nightly:

[2018-05-25 13:05] tommai78101 commented on #6036
@jasonLaster I can confirm it's no longer an issue after updating to version 61 for Dev Edition.

It may have been fixed some time between April 20th and May 11.

![gif](https://user-images.githubusercontent.com/6444116/40545718-d0d70f72-5ffa-11e8-80a9-ba030ca1704f.gif)

[2018-05-25 13:06] jasonLaster commented on #6036
thanks

[2018-05-25 13:06] #6036 closed

[2018-05-25 13:07] tommai78101 commented on #6036
@jasonLaster Actually, on second thought, it's 90% confirm. The last 10% is because for minified sources, I can't really tell if it's truly jumping to the right spots in the code.

[2018-05-25 13:12] nicofrand opened #6415 "Stop on breakpoint causes the logs to persist in console"
**STR:**

0. Open http://jsbin.com/nunoteqesu/1/edit?html,js,output
0. Open the devtools, with both debugger + console displayed
0. Make sure "Persist logs" is unchecked in the console
0. Check "Stop on uncaught errors" in the debugger
0. Click the "TRIGGER BUG" button
0. Do not touch the debugger (keep it on hold)
0. Refresh the page

**What happens:**

The JS error (triggered before page refresh

[2018-05-25 20:02] marvinkome commented on #6180
About the blue border not being strong enough, the border (more like box-shadow) was created by a variable in devtools-mc-assets. It's either it's replaced or edited from the devtools-mc-assets project

[2018-05-25 22:27] jasonLaster commented on #6180
feel free to use a different style.

[2018-05-26 10:02] #6381 closed

[2018-05-26 19:02] deneuv34 commented on #5963
/claim

[2018-05-27 08:03] lukaszsobek commented on #6283
Duplicate of #6028 . Closing.

[2018-05-27 08:03] #6283 closed

[2018-05-27 08:06] lukaszsobek commented on #6028
It seems the tooltip gets passed the values of the root file which in turn causes it to navigate to the wrong place.

[2018-05-28 05:03] nyrosmith commented on #5902
/claim

[2018-05-28 12:46] lukaszsobek commented on #6413
everything works as it should except for `client.evaluate`. This is getting passed a `frameId` which is `undefined`.

`function evaluate(script, { frameId } = {}) {
  const params = frameId ? { frameActor: frameId } : {};
  if (!tabTarget || !tabTarget.activeConsole || !script) {
    return Promise.resolve({});
  }

  return new Promise(resolve => {
    tabTarget.activeConsole.evaluateJSAsync(scri

[2018-05-28 21:42] karlcow opened #6428 "[feature] Examine, modify, and watch variables"
I have not seen a bug open for this or maybe I missed it.
This is important for webcompat forensics.

Examine, modify, and watch variables
https://developer.mozilla.org/en-US/docs/Tools/Debugger/How_to/Examine,_modify,_and_watch_variables

Concrete case:

1. Go to http://v.pptv.com/show/3nNOzDSaCkiarKZE.html (with Firefox Nightly 62.0a1 (2018-05-27) (64-bit) and no Flash installed)
2. Open the deb

[2018-05-29 07:34] LeoThalman commented on #6329
I managed to fix the highlighting issue by altering the debug-expression-background for .dark theme .editor-wrapper class in the ~/src/components/Editor/Editor.css file. Is that change alright or should I try and find a fix that doesn't involve changing the color?

[2018-05-29 12:58] jasonLaster commented on #6329
can share some screenshots of how it looks?

It might help to see how it looks in the panel too
https://github.com/devtools-html/debugger.html/blob/master/docs/running-as-firefox-panel.md

[2018-05-29 17:07] #5884 closed

[2018-05-29 17:45] jasonLaster commented on #6382
https://bugzilla.mozilla.org/show_bug.cgi?id=1465089#c2

[2018-05-29 18:07] LeoThalman commented on #6329
![dark-theme_new-debug-color](https://user-images.githubusercontent.com/32425569/40676615-17608db4-6330-11e8-885f-93d39cb260f6.png)
Here's what it looks like from debugger, the background color I used was the same one for the light theme, I lowered the alpha to make it easier to read. I'm downloading the code to run the panel right now, I'll add that when I can.

[2018-05-29 18:30] darkwing opened #6437 "Error: Assertion failure: location must have a source url"
STR:

1.  Go to https://coherent-potato.glitch.me/ ; (source contents are this:  https://gist.github.com/darkwing/bb7eb44bd7e655017f89e9436f297f99)

2.  Add a few breakpoints, then refresh the glitch page

3.  https://github.com/devtools-html/debugger.html/issues/6385 may occur; If so, just stop the glitch page and refresh the debugger page again.

4.  Refresh the glitch page.

See this error.

[2018-05-29 18:35] LeoThalman commented on #6329
![dark-theme_new-debug-color-firefox-panel](https://user-images.githubusercontent.com/32425569/40678015-2fac9f76-6334-11e8-8d71-bebe8e725831.png)
Here's what it looks like in the Firefox panel. I'll look into the hiding when there is a selection now.

[2018-05-29 18:46] darkwing opened #6439 "Breakpoint text not displaying in breakpoints pane"
I was tinkering with breakpoints here (https://coherent-potato.glitch.me/) and this occurred:

<img width="1281" alt="wuhhhhh" src="https://user-images.githubusercontent.com/46655/40678577-7c8dd8c0-6346-11e8-8119-338fb220ab07.png">

The text is gone on the right, but breakpoints exist and their title attributes show the proper code.

[2018-05-29 18:49] darkwing commented on #6439
<img width="1278" alt="whu2" src="https://user-images.githubusercontent.com/46655/40678799-1eb67102-6347-11e8-9d0b-2a2a2a3ddaff.png">

[2018-05-29 19:00] darkwing commented on #6439
Derp, closing this; the function I modified requires it return a promise.  Nothing to see here...

[2018-05-29 19:34] #6382 closed

[2018-05-29 19:56] jasonLaster opened #6440 "[Reps] re-enable skipped tests"
![Screen Shot 2018-05-29 at 3.55.10 PM.png](https://shipusercontent.com/30ec655b97b647ced6b100046e14447e/Screen%20Shot%202018-05-29%20at%203.55.10%20PM.png)

[2018-05-29 20:35] darkwing opened #6441 "Clean up "source.get ? source.get('url') : source.url" Usage"
There are a few usages of the following code to get the SourcesTree rework passing:

[code]

Most of the work is just test updates.  I've started a branch here:

https://github.com/darkwing/debugger.html/commit/90037cee19d7c0720b06e83ef648017ea6359e23

[2018-05-29 21:14] digitarald commented on #5561
@loganfsmyth what are the minimum versions for libraries/tools (babel, ember, etc) that you fixed during this work? I want to make sure to document the work, which would help developers ensure the best debuggable output.

[2018-05-30 06:01] Shaylin opened #6445 "Syntax highlighting for haxe"
Hello,

I'm currently using Firefox to debug my Haxe transpiled to javascript with sourcemaps.

I've noticed that CodeMirror does support the Haxe programming language.

Would it be possible to add haxe syntax highlighting to the debugger?

[2018-05-30 06:53] nchevobbe opened #6446 "ErrorRep show encoded URL"
Given the following packet:

[code]

The rep outputs:
[code]

We should interpret the encoded char to display them.

[2018-05-30 07:11] nyrosmith commented on #6445
Hi @Shaylin
Thanks for reporting. I'll try to look into that soon.
Can you point me to an public accessible demo app I can test against?

[2018-05-30 07:20] Shaylin commented on #6445
Sure. This is a basic pixijs haxe demo that should work: http://adireddy.github.io/demos/pixi-haxe/basics.html

Main.hx would be the easiest file to look at in the debugger.

[2018-05-30 14:03] yzen opened #6448 "Pass event object to openLink function when linkifying in reps."
Right now event object is not passed when calling openLink (https://github.com/devtools-html/debugger.html/blob/master/packages/devtools-reps/src/reps/string.js#L209). This would be more awesome if it did so we could check for things like meta or crtl keys.

[2018-05-30 16:11] jasonLaster commented on #6445
Thanks @Shaylin - I think this is definitely possible.

https://codemirror.net/mode/haxe/index.html

it might be as easy as adding a mapping here:
https://github.com/devtools-html/debugger.html/blob/master/src/utils/source.js#L256-L274

would you be up for giving this a try and letting us know what you find?

[2018-05-30 17:36] #6380 closed

[2018-05-30 18:58] Shaylin commented on #6445
Thanks for pointing out the file to look at.

I will definitely give this a shot. I'll also let you know how it goes and a possibly make a pull request.

[2018-05-31 13:29] nchevobbe opened #6451 "[Editor] Weird style when hovering gutter line with horizontally scrolled editor"
**Steps to reproduce**
1. Go to https://encouraging-hurricane.glitch.me/
2. Open the console and click on the "hi" message location to get to the debugger
3. Ensure there is an horizontal scrollbar in the editor
4. Scroll horizontally a bit
5. Hover the line `1`

**Expected results**

The line is style with a "breakpoint placeholder"

**Actual results**

The line blinks weirdly :

![may-31-2018 14

[2018-05-31 14:55] #6315 closed

[2018-05-31 19:57] #5963 closed

[2018-06-01 11:37] jasonLaster opened #6454 "[release] land token-over"
The [token-over](https://github.com/devtools-html/debugger.html/commit/6620829a190faca25701e788cecf55130696fe41) commit had a memory [leak]. Should be an easy fix, but i left it out of 62.

[leak]: https://treeherder.mozilla.org/#/jobs?repo=try&revision=33d91773ee3c2305e47f1c3148ddd8aa6a311813

[2018-06-01 11:44] jasonLaster commented on #6400
### Multiple classes in the same module

STR:
1. git clone https://github.com/jasonLaster/hams
2. yarn ; yarn start
3. pause in wheel/index.js Circle#render

when the mappings do work, it looks like `cName` might be mapped poorly too.
<img src='https://shipusercontent.com/2a089106d808e66f037769bd32b3bbfc/Screen%20Shot%202018-06-01%20at%207.43.38%20AM.png' title='Screen Shot 2018-06-01 at 7.43.38 A

[2018-06-01 12:47] jasonLaster commented on #6400
STR:
1. go to https://dbg-class-prop-this.glitch.me/
2. add a breakpoint in HelloWorld#onSortClick

<img src='https://shipusercontent.com/312f1c4c873b2e1c0cfeaa28df8d97e3/Screen%20Shot%202018-06-01%20at%208.46.34%20AM.png' title='Screen Shot 2018-06-01 at 8.46.34 AM.png' width=1552>

[2018-06-01 16:37] #4080 closed

[2018-06-01 19:53] digitarald opened #6457 "Paused state on refresh keeps the Debugger in half-loaded state"
Firefox 62.0a1 (2018-06-01) (64-bit)

STR
- Opened perf-html.io
- Set a breakpoint in `webpack/src/index.js`
- Hard refresh, breakpoint gets hit
- Soft refresh a few times

ER: Page loads and breakpoint gets hit
AR: Half-loaded state for debugger, with correctly paused panel-tab icon but incomplete UI (no sources or breakpoints)

No errors in browser console.

<img width="500" alt="image" src="htt

[2018-06-01 20:18] digitarald opened #6458 "Paused on * isn't shown for pause on next statement"
STR
- Open https://github.com/ (or right now)
- Hit Pause button to pause in random function

ER: See *Paused on Next Statement* (or something similar)
AR: No "Paused on" label

Stepping when paused like this will set the label correctly to "Pause while stepping".

<img width="160" alt="image" src="https://user-images.githubusercontent.com/8599/40861526-377d4d06-659e-11e8-8422-6ad81e4ba436.png">

[2018-06-01 20:24] digitarald opened #6459 "[Blackbox] prettified source doesn't recognize blackbox"
STR:
- Install [Grammarly](https://addons.mozilla.org/en-US/firefox/addon/grammarly-1/) (becaue it runs timeouts)
- Hit debugger *Pause* button --> Pause in Grammarly code
- Prettify `grammarly.js`
- Blackbox prettified code
- Refresh and hit *Pause* again

ER: No pausing in grammarly.js
AR: Pausing grammarly.js , using the prettified source

Bonus issue: Both my `Grammarly.js` file tabs are uncli

[2018-06-01 21:10] kenjiO opened #6460 "debugging-the-debugger.md is outdated"
The line numbers and one of the file names in the **Pausing FTW** section of the [debugging-the-debugger.md](https://github.com/devtools-html/debugger.html/blob/master/docs/debugging-the-debugger.md#pausing-ftw-red_circle) document are no longer correct.

[2018-06-01 22:22] darkwing commented on #6458
I attempted to get a message to display during random pausing in FF 59 and I don't see a message, so unless I'm not repro'ing this properly, this has been an issue for a while.

[2018-06-01 23:52] darkwing commented on #5894
Hello @karlcow!  I tested this today on Mac Firefox Nightly and no crash:

<img width="1423" alt="nightlyonmac" src="https://user-images.githubusercontent.com/46655/40867795-d1e7a16a-65cc-11e8-8033-877523eda32e.png">

If you're still crashing, could you provide more information about your system/environment where this is happening?

[2018-06-02 01:00] darkwing commented on #6281
I fixed this in @jasonLaster 's breakpoints refactor.  https://github.com/devtools-html/debugger.html/pull/6398

[2018-06-02 01:00] #6281 closed

[2018-06-02 01:09] darkwing commented on #6457
I could reproduce this just as described.  I pressed "Resume" and nothing happened.  I then refreshed again and the breakpoint was hit again and the debugger continued to work properly.

[2018-06-02 02:09] darkwing opened #6462 "[SourcesTree] Left Arrow Key Sometimes Loses Focused/Highlight State"
Expanding and contracting tree items works really well but occasionally hitting LeftArrow on a source fails to highlight its parent directory.  I've painfully looked at this issue numerous times over the last months and I've found that the Tree component only calls `renderItem` (from within the `render` method) on one item, which is the highlighted source, but doesn't on the (should-be) highlighte

[2018-06-02 06:19] #6460 closed

[2018-06-03 19:28] mutdmour commented on #5100
I will work on `source-documents`

[2018-06-04 13:59] darkwing commented on #6457
@jimblandy Could this be a server bug?  Do you have any insights as to what could cause this?

[2018-06-04 15:44] darkwing opened #6466 "[Search] Close "Find in Files" Search and Clear Results Upon Page Change"
STR:

1.  Use Find in Files on Site A
2.  Navigate to Site B
3.  Find in Files is still open; close it
4.  Open Find in Files again; the previous results are still there.

[2018-06-04 16:50] ericawright commented on #3778
I looked into this, I won't have a chance to finish it but figured I should post my learning here.

1: `devtools/client/debugger/new/src/actions/sources/prettyPrint.js` line 113, when defining selectedLocation, there is no column information, only line (which for the BBC example is line = 1, therefore it remains on line 1 when prettified).
- the line information is lost on `devtools/client/webcons

[2018-06-04 18:05] #6441 closed

[2018-06-04 18:22] #6027 closed

[2018-06-04 19:14] darkwing commented on #3778
Thank you for the research @ericawright !

[2018-06-05 06:32] Shaylin commented on #6445
My pull request has been merged into master now. Closing this issue.

[2018-06-05 06:32] #6445 closed

[2018-06-05 16:23] bomsy commented on #6355
i might have and STR that works
-  debug http://firefox-dev.tools/debugger-examples/examples/todomvc/
- open `backbone.js` in the debugger
- set breakpoint on line 12
- close `backbone.js`
- refresh the debugger
- click to open `backbone.js` from the source tree

AR:
No breakpoint set on line 12 in the editor

ER:
Breakpoint should be set on line 12

[2018-06-05 16:58] LeoThalman commented on #6329
I've tried looking into hiding it when there is a selection but I can't seem to find where the selection is happening. I went through the Preview/index.js, I saw where the on mouse over was hiding css but I couldn't find where the selection was. Is there somewhere else I can look into or should I try another approach?

[2018-06-05 17:11] darkwing opened #6473 "[Breakpoints] PrettyPrint & Original Source Weirdness"
STR:

1.  Open TodoMVC's `app-view.js`
2.  Set a few breakpoints
3.  Pretty-print `app-view.js`
4.  For some reason the first breakpoint (in my case) representation in the Breakpoints sidebar gets transferred to the prettyprinted tab.

![breakpointyikes](https://user-images.githubusercontent.com/46655/40991381-40bd0e38-68b9-11e8-9ed3-a5f7c070a507.gif)

[2018-06-05 17:16] darkwing commented on #6473
I checked out 7f6157a4ec572e7ba5c692598cb53546c4a71ee9, the commit before the PureComponent didn't have this exact issue.

[2018-06-05 17:35] #6439 closed

[2018-06-05 18:01] darkwing opened #6474 "Preview leaks out of Editor Window"
I spotted this small issue on Windows:

![img_1320](https://user-images.githubusercontent.com/46655/40993949-81fd4d34-68c0-11e8-84ba-893344716abf.jpg)

The `Element`'s preview leaked into the tab bar; we should keep these tooltips in the editor area.

[2018-06-05 18:06] ATCraiger commented on #6474
Hey @darkwing, I could work on this. Do you have any suggestions on how I start on this? I've worked a bit on the javascript side of the debugger, but this seems like a different type of issue.

/claim

[2018-06-05 18:06] ATCraiger commented on #6474
/claim

[2018-06-05 18:11] darkwing opened #6475 "[Sources] Debuggee Hostname Not Sorted to Top When Changing Domains"
![treesort](https://user-images.githubusercontent.com/46655/40994499-f9d73a4e-68c1-11e8-9ce1-6b053e6dc5a0.gif)

[2018-06-05 18:19] darkwing commented on #6474
Awesome @ATCraiger!  I think a good place to start would be looking at the following file:

src/components/shared/Popover.js

Within that file we do a lot of calculations for where to place a preview popup; work was recently done on this file to get previews to display on the right:

https://github.com/devtools-html/debugger.html/pull/6196

[2018-06-05 18:32] darkwing commented on #6474
I was able to reproduce on both Mac and Windows by:

1.  Go to https://davidwalsh.name
2.  Open "davidwalsh.name/wp-content/themes/punky/js/main.js
3.  Pretty-print the resource.
4.  Add a breakpoint to line 46
5.  Refresh the page, let the debugger pause on the breakpoint, and scroll the editor down so that the breakpoint line is at the top of the editor pane.
6.  Hover over "Element"

The previe

[2018-06-05 18:48] AarontCraig commented on #6474
Ok, I was able to replicate this as well through your steps. I also found that all of the tool tips do this.
I'll get working on the JavaScript and report back soon.

[2018-06-05 18:49] Hindelburg commented on #6146
So I have been trying to track down where exactly in the code I should be making this change, and I found where I thought would be correct, "packages/devtools-reps/src/reps/string.js", but none of the changes I make seem to be having any effect whatsoever. Am I doing something wrong, or do I have to do something special with my build to be able to effect changes to the console?

[2018-06-05 18:52] tapiad commented on #4070
Hello,
I would like to help out. I am new to all this but would love to contribute. Would anyone help choose a bug I can start with and give me a place where I can start. I have forked and cloned the repo and have the Debugger up and running. Just need help in start off.

Thanks!

[2018-06-05 18:58] darkwing commented on #6353
I haven't been able to duplicate this issue.  I do wonder if a good solution could be to, if only temporarily, set the cursor at the paused line; that would let CodeMirror handle the scroll position.

[2018-06-05 19:29] darkwing commented on #6028
I can confirm this is still an issue.  Also should mention it's a bit hard to click on the tooltip because it disappears so quickly; I had to make the following change to make working with the problem easier:

[code]

[2018-06-05 20:10] mutdmour opened #6477 "Tests not running successfully locally"
Trying to run `yarn test`

I started from a fresh clone of repo
on master branch
ran `yarn install`
then `yarn test`

it runs tests locally but outputs a bunch of errors

<img width="1280" alt="screen shot 2018-06-05 at 9 24 20 pm" src="https://user-images.githubusercontent.com/4711238/41000072-8226a1b6-6915-11e8-85c1-91253652cba0.png">
<img width="1280" alt="screen shot 2018-06-05 at 9 24 30 pm"

[2018-06-05 20:20] digitarald opened #6478 "Can't right click, select text or navigate links in Scopes"
Trying to copy variable states for filings bugs is impossible, as users can't select text or have the rich right click that Console offers. Links are highlighted but clicking left and right doesn't do anything.

![screenflow](https://user-images.githubusercontent.com/8599/41000506-14fabc5a-68c3-11e8-8452-59cd8dccea49.gif)

[2018-06-05 20:23] darkwing commented on #5564
Following the logic, it appears this is triggered in `src/actions/ui.js`'s `showSource` method:

[code]

It appears that this `showSource` function is only ever used for Reveal in Tree, so we may be able to isolate a change here.  The `getRawSourceURL` need is a bit of a conundrum right now.

[2018-06-05 21:15] darkwing commented on #5894
I tested this today on a gaming PC and found that:

1.  I clicked once on the pretty print icon and heard my PC's fan kick in but the pretty print tab did not open
2.  I clicked again and the pretty print tab opened quickly but the fan kept running
3.  There were approximately 2324 lines of code
4.  Firefox choked when trying to close and reopen Firefox ("Another Firefox process is already running

[2018-06-05 21:30] karlcow commented on #5894
@darkwing Yup it didn't crash for me anymore.

[2018-06-05 21:32] karlcow commented on #5894
but I noticed that the CPU was going up to 200% in top -o cpu, so probably a combination of the two crashed the browser.

[2018-06-06 03:59] adancarrasco commented on #6347
Seems that #6356 fixed it. Just wondering if we can close this issue as well? :)

[2018-06-06 11:13] #6478 closed

[2018-06-06 11:46] #6347 closed

[2018-06-06 15:53] darkwing commented on #5894
Since the browser isn't crashing, I'm going to remove P1 but it definitely needs addressing.

[2018-06-06 16:53] darkwing commented on #5986
I've seeing this "disappearing" file effect before.  As for the original issue, I cannot duplicate it; no errors when stepping in.

[2018-06-06 19:21] darkwing commented on #6394
OK, so I found the issue here.  The URL of `video_masthead` is actually:

https://www.youtube.com/video_masthead?video_id=AOnFe2aaX14&textLine1=Get+20%25+Off+Sitewide+-+Today+only&textLine2=Shop+Now+and+Save+20%25+on+EVERYTHING&autocrop=0&autoplay_start_time=0&autoplay_duration=15000&channel_banner=1&video_wall=0&subscribe_button=1&subscriber_count=1&site_cta=1&cta_label=Shop+now&layout=material&l

[2018-06-06 19:27] digitarald commented on #6394
How would the sources tree handle `serve.php?file=a.js` and `serve.php?file=b.js` atm? This might be already affecting some users with dynamic server-side build steps.

Assuming filename is more important than query parameters for static assets; I would propose to try to always show the filename and show the query string in muted colors and overflow into an ellipse.

Unsure about (index); it seems

[2018-06-06 19:49] darkwing commented on #6394
Here's a step in the correct direction:

[code]

This update would use `getFilename`, which is used everywhere else.  I do like @digitarald's suggestion, however, of showing the "filename" as it is now but adding the querystring in a grey'd out fashion.

[2018-06-06 19:58] darkwing commented on #6394
@digitarald Oh, to answer your first question, we only show one of each file name:

https://quiver-bar.glitch.me/

[2018-06-06 20:03] AlexMolodyh commented on #6394
Sorry, I haven't had too much time to work on this so I'll unclaim it so someone else can work on it.

[2018-06-06 20:03] AlexMolodyh commented on #6394
/unclaim

[2018-06-06 20:18] #5759 closed

[2018-06-06 21:19] darkwing commented on #3307
Due to a change that @jasonLaster made to ease up on strictness of non-JS files, this error no longer occurs.  It doesn't, however, break on the JSON.

[2018-06-07 12:17] bomsy commented on #6394
What about showing the full(filepath + filename + query parameters) in the tab tooltip and just show the filename in the tab?

[2018-06-07 15:59] bomsy commented on #6394
/claim

[2018-06-07 17:56] #6355 closed

[2018-06-07 17:56] darkwing commented on #5519
This may have been fixed by: https://github.com/devtools-html/debugger.html/pull/6486

[2018-06-08 17:57] darkwing commented on #6459
The failure point in debugger.html is in `command.js`' `async function blackBox` function:

[code]

The `await`s never resolve.

[2018-06-08 19:51] darkwing opened #6493 "Wasm: TypeError: binary is undefined"
In the `src/utils/source.js` file's `getSourceLineCount` function, `source.text` is an `I.Map` and so `const { binary } = (source.text: any);` errors; it needs to be `source.text.get("binary")`

[2018-06-08 19:55] darkwing commented on #6493
Another side effect is breakpoints not displaying:

<img width="1043" alt="wasmbreakpoints" src="https://user-images.githubusercontent.com/46655/41178121-efeaafe0-6b2b-11e8-8670-943490331f4d.png">

[2018-06-08 23:34] AarontCraig commented on #6474
My term is coming to an end, so I'll open this up for anyone else to work on.
/unclaim

[2018-06-08 23:35] AarontCraig commented on #6474
/unclaim

[2018-06-09 09:47] jasonLaster commented on #6493
hmm, i wonder why Text is a Map?

perhaps we need to extend the Record class. Also if this the case we should update the Source flow type so it is clear this is a valid type

[2018-06-09 09:49] jasonLaster commented on #6459
We opted not to support blackboxing original files because in the V1 version of blackboxing. We should consider expanding blackbox support when we do our next planning session.

[2018-06-10 02:52] AlexMolodyh commented on #5974
@jasonLaster Are node modules not to be modified?

[2018-06-10 08:15] jasonLaster commented on #5974
You can update the splitter which is in another package
On Sun, Jun 10, 2018 at 2:52 AM Alex Molodyh <notifications@github.com>
wrote:

[2018-06-11 11:07] jasonLaster commented on #5100
@kenjiO go for it!

[2018-06-11 16:29] joshunger opened #6495 "Search next result and previous result arrow buttons are in opposite order of typical user experience"
The search next result and previous result arrow buttons are displayed in opposite order of typical user experience.  EXPECTING: the previous result arrow button followed by the next result arrow button.

debugger.html
<img width="1103" alt="image" src="https://user-images.githubusercontent.com/2301847/41244543-991f26f8-6d62-11e8-940e-9836b393e457.png">

FireFox Nightly
![image](https://user-image

[2018-06-12 09:46] Anahkiasen opened #6497 "Mangled React error stacks?"
Not sure how to report this, but since switching to Firefox I've noticed error stacks from errors happening in React are reported a bit mangled compared to how it used to be on Chrome. Example with a same error:

Firefox
![screen shot 2018-06-12 at 11 44 53](https://user-images.githubusercontent.com/1321596/41283139-197cc674-6e36-11e8-86ad-1401ea7c112f.png)

Chrome
![screen shot 2018-06-12 at 11 4

[2018-06-12 13:05] jasonLaster commented on #6497
Thanks for sharing @Anahkiasen. Have you tried Firefox Nightly, I believe the console error stack has been improved quite a bit in the past couple of months.

CC @nchevobbe

[2018-06-12 13:27] Anahkiasen commented on #6497
I'm currently on the latest Dev Edition build, checked quickly in latest Nightly but output seems to be the same :/

[2018-06-13 01:40] darkwing opened #6503 "[SourcesTree] SourcesTree & Reveal in Tab Weirdness"
Reveal in tab doesn't work for the following URLs (using https://davidwalsh.name as the debuggee URL):

- https://davidwalsh.name/    (`(index)`)
- https://ad.doubleclick.net/ddm/adj/N366601.452584BUYSELLADS.COM/B9719141.131867274;dc_ver=42.111;sz=180x150;u_sd=2;dc_adk=2036841227;ord=g3xfdx;dc_rfl=1,https%3A%2F%2Fdavidwalsh.name%2F$0;xdt=1;crlt=9'6NAAQxjg;sttr=29;prcl=s?

After some quick sleuthin

[2018-06-13 06:31] #6495 closed

[2018-06-13 06:54] wldcordeiro opened #6505 "404 in contributing documentation"
The contributing doc links to the local setup doc, but it's a 404! Here's the link it tries https://github.com/devtools-html/debugger.html/blob/master/.github/docs/local-development.md

Here is the bad link:

https://github.com/devtools-html/debugger.html/blob/de18f3437d14270df303a523a57c931d44efa8ba/.github/CONTRIBUTING.md#L141

[2018-06-13 12:27] AnshulMalik commented on #6505
It's for all the links which go to docs

[2018-06-13 14:23] jasonLaster opened #6507 "[Editor] syntax highlighting flashes when stepping"
STR:
1. go to https://dbg-class-prop-this.glitch.me/
2. set a breakpoint in onSortClick
2. add a breakpoint in `utils/pause/mapScopes/index.js#309`
3. click "cycle" button and pause

Notice how syntax highlighting is broken on pause and then flashes when stepping

![](http://g.recordit.co/XZbRvAqzod.gif)

[2018-06-13 18:07] darkwing commented on #6503
This pr (https://github.com/devtools-html/debugger.html/pull/6491) fixes the "doubleclick" reveal problem, but "(index)" still needs fixing

[2018-06-13 18:23] darkwing commented on #6462
I believe #6491 will fix this problem because `root` can no longer be used.

[2018-06-13 18:58] kenjiO commented on #6474
/claim

[2018-06-13 22:19] darkwing commented on #5928
Since we no longer fade out empty lines, I'm going to close this.

[2018-06-13 22:19] #5928 closed

[2018-06-14 13:46] Balaji2198 commented on #6505
Is there anything else to be done here? I think this got fixed in #6508. I suppose this issue can be closed?

[2018-06-14 14:09] AnshulMalik commented on #6505
Yep, closing. Thanks @Balaji2198

[2018-06-14 14:09] #6505 closed

[2018-06-14 17:44] nchevobbe commented on #6497
Hello @Anahkiasen ,
It looks like the library is using Error.stack (which is not standard and includes the error message in V8 but not in Firefox).
I'd love to have a way to experience this so I can dig a bit deeper.

[2018-06-14 18:07] nchevobbe commented on #6146
Hey @Hindelburg , you should try to use the Reps launchpad (see https://github.com/devtools-html/debugger.html/tree/master/packages/devtools-reps#getting-started) and evaluate an empty string.
Tell me how this works for you

[2018-06-14 23:13] darkwing opened #6512 "Enable "Disable All Pausing" Button"
Now that @jasonLaster 's server-side patch has been merged, we should enable the feature-flag for this button.  It will require an API change because the param name is now "skipPausing".

[2018-06-14 23:15] jasonLaster commented on #6512
API skipBreakpoints https://searchfox.org/mozilla-central/source/devtools/server/actors/thread.js#1766

[2018-06-15 12:14] Anahkiasen commented on #6497
Will try to make a small reproducible example when I get some time

[2018-06-16 18:07] bomsy commented on #6394
/unclaim

[2018-06-17 09:51] #6474 closed

[2018-06-18 22:25] kenjiO opened #6519 "[Breakpoints] Right clicking on a breakpoint does not open context menu"
STR
Set a breakpoint. In the Secondary Panes breakpoints list, right click on the breakpoint.  Then instead of opening the context menu an error comes up in the console: `TypeError: breakpoints is undefined`

![](http://g.recordit.co/lwHV2A3spj.gif)

I was able to get the error to stop by adding `breakpoints: getBreakpoints(state)` to mapStateToProps in [Breakpoint.js](https://github.com/devtools-

[2018-06-19 03:15] jasonLaster commented on #5219
@mlissner could you share a screenshot of what you see?

[2018-06-19 03:16] jasonLaster commented on #6519
Thanks @kenjiO. That'd be great

[2018-06-19 15:52] #5687 closed

[2018-06-21 05:58] gauriramesh opened #6522 "Editing & Resending Request Updating Connection Header fails"
Being able to directly hit APIs in the Firefox debugger is very nice, however, I found an issue today at work when I was trying to create a DELETE request using the "Edit & Resend" functionality in the debugger. The default request header for connection is keep-alive but I wanted to change it to close. When I clicked on connection while editing the request, I was able to edit it to say close, as s

[2018-06-21 15:23] #3307 closed

[2018-06-21 18:57] darkwing commented on #6394
Working on this now.  I think this may have been introduced by the unicode work.  Anyway, the URL is being cut down to 30 and massaged before we strip out the querystring.

[2018-06-21 19:39] jasonLaster opened #6524 "[Sources] remove debuggeeHost"
We're no longer passing in a debuggeeUrl so this code can be dramatically simpler

https://gist.github.com/jasonLaster/b3a9c6397f8b9184c18aaaeb3a4800f1

[2018-06-21 21:09] #6462 closed

[2018-06-21 22:23] bomsy commented on #6279
OLD

[code]

NEW

[code]

Thinking about this, i feel the sample OLD json above can be reduced to NEW json above. Some key changes
- The property key `https://ton.twimg.com/tweetdeck-web/web/dist/bundle.f8cdc25670.js:formatted:5:` already contains the sourceUrl, line and column
- location info is the same as the key above, so does not need to be repeated
- The generated Location mashes the line an

[2018-06-22 03:47] Loirooriol commented on #6279
This would be an improvement, but URLs can be very long and one may add multiple breakpoints in the same file, or in different files in the same folder. So I still think that compressing the JSON would be good.

[2018-06-22 09:33] bomsy commented on #6279
@Loirooriol Oh yes i totally agree. This suggestion was just to make the json as compact as possible, removing redundant data. Compression is definitely needed as well.

[2018-06-22 14:26] MikeRatcliffe opened #6527 "Add "pause_on_exceptions" telemetry"
#### HOWTO

Bugzilla bug https://bugzil.la/1463117

If all properties are available then adding the probe is easy:

[code]

[2018-06-22 14:32] MikeRatcliffe opened #6528 "Add "pausing" telemetry"
#### HOWTO

Bugzilla bug: https://bugzil.la/1463118

If all properties are available then adding the probe is easy:

[code]

[2018-06-22 14:35] MikeRatcliffe opened #6529 "Add `recordTelemetryEvent()` helper to debugger util"
This helper will allow us to log simple telemetry events using `recordTelemetryEvent("add_breakpoint")` etc.

Internally this would be something like this:

[code]

[2018-06-22 14:38] MikeRatcliffe opened #6530 "Add "Add Breakpoint" telemetry"
#### HOWTO

[code]

**MikeRatcliffe will deal with tests once the telemetry probe is landed.**

[2018-06-22 14:39] MikeRatcliffe opened #6531 "Add "Remove Breakpoint" telemetry"
#### HOWTO

[code]

**MikeRatcliffe will deal with tests once the telemetry probe is landed.**

[2018-06-22 14:41] MikeRatcliffe opened #6532 "Add "Pretty Print" telemetry"
#### HOWTO

[code]

**MikeRatcliffe will deal with tests once the telemetry probe is landed.**

[2018-06-22 14:42] MikeRatcliffe opened #6533 "Add simple telemetry events"
Depends on issue #6529

### Example

[code]

### Events to be added

- [ ]  "continue"  https://bugzil.la/1463122
- [ ]  "add_breakpoint"  https://bugzil.la/1463123
- [ ]  "remove_breakpoint"  https://bugzil.la/1463124
- [ ]  "pretty_print"  https://bugzil.la/1463125
- [ ]  "blackbox"  https://bugzil.la/1463126

Added (via @digitarald):

- [ ] "open_file" https://bugzil.la/1463108

[2018-06-22 14:43] MikeRatcliffe commented on #6527
This is linked with https://bugzil.la/1463117

[2018-06-22 14:44] MikeRatcliffe commented on #6528
This is linked with https://bugzil.la/1463118

[2018-06-22 14:44] MikeRatcliffe commented on #6529
This is linked with https://bugzil.la/1463122

[2018-06-22 14:44] MikeRatcliffe commented on #6530
This is linked with https://bugzil.la/1463123

[2018-06-22 14:44] MikeRatcliffe commented on #6531
This is linked with https://bugzil.la/1463124

[2018-06-22 14:44] MikeRatcliffe commented on #6532
This is linked with https://bugzil.la/1463125

[2018-06-22 14:44] MikeRatcliffe commented on #6533
This is linked with https://bugzil.la/1463126

[2018-06-22 14:55] jasonLaster commented on #6527
maybe we can wrap recordEvent

[code]

[2018-06-22 15:20] #6530 closed

[2018-06-22 15:20] #6531 closed

[2018-06-22 15:20] #6532 closed

[2018-06-24 05:11] jbhoosreddy commented on #6413
![working](https://user-images.githubusercontent.com/2481105/41816153-78ebeef0-774b-11e8-8f59-8578738fd56d.gif)
seems to be working now as of trying this on master today.

[2018-06-24 15:00] jbhoosreddy commented on #6413
@darkwing or @lukaszsobek to confirm

[2018-06-24 20:14] digitarald commented on #6279
Maybe I am missing something; but why does this needs to be stored in a pref and can't be stored in IndexedDB (like many other parts of Firefox do with UI state)?

[2018-06-25 02:17] jasonLaster commented on #6279
good question @digitarald

[2018-06-25 03:54] jbhoosreddy commented on #5663
As of today, on master, it is actually showing both sources in the source tree. but with no differentiation between them " [sm]". I'll add a PR to modify the string. That should make it apparent when user clicks on it.

[2018-06-25 04:17] jbhoosreddy commented on #6519
fixed in #6521

[2018-06-25 04:17] #6519 closed

[2018-06-25 04:35] jbhoosreddy commented on #6428
For anyone reading this issue, you can examine and watch variables using 'Watch Expressions' in the Secondary Pane, in the current Debugger.

There is no obvious feature to modify variables yet. However, 'Watch Expressions' is like a console so you can modify variables there, if you're paused. Just remove to take it out. 😝 . And you can modify variables in the Console in a paused state.

[2018-06-25 04:51] jbhoosreddy commented on #6428
#6144

[2018-06-25 12:33] #6428 closed

[2018-06-25 13:09] jasonLaster opened #6541 "[releases] 64 slowed pausing and stepping"
v64 regressed pause by 16%, step-in by 6.8%

[bugzilla](https://bugzilla.mozilla.org/show_bug.cgi?id=1467805)
[comparison](https://github.com/devtools-html/debugger.html/compare/release-63...release-64)

We think it was this [commit][c]

[c]: https://github.com/devtools-html/debugger.html/commit/3bc6b752d07e49f041961e828df7db2f5c13dbb4

[2018-06-25 13:17] #5902 closed

[2018-06-25 13:19] jasonLaster commented on #5663
Progress

- [ ] duplicate keys should not have a conflict
- [ ] AppModule is a duplicate key
- [ ] selecting an item should highlight the correct item
- [ ] show [sw] at the end

[2018-06-25 14:00] nchevobbe opened #6543 "Tab icon only show a grey box"
**Steps to reproduce**

1. Go to http://todomvc.com/examples/angularjs/#/
1. Open the debugger
1. Open app.js

**Expected results**

I see a "JS" icon before the file name in the tab

**Actual results**

On Nightly 62.0a1 (2018-06-25), I see a grey icon before the file name.

<img src='https://shipusercontent.com/9445a1ef3657c01f5ce2408cb0e5f167/Pasted%20Image%201.png' title='Grey box instead of J

[2018-06-25 14:05] nchevobbe opened #6544 ""Search in file" number of occurrences does not update when switching file"
**Steps to reproduce**

1. Go to http://todomvc.com/examples/angularjs/#/
1. Open the debugger
1. Open todoStorage.js
1. Open app.js
1. Search (cmd + F) for angular
1. There should be 3 results
1. Switch to todoStorage.js

**Expected results**

The number of occurrences is updated to 10

**Actual results**

The number of occurrences is not updated and still says 3, until you hit enter again (which

[2018-06-25 15:25] MikeRatcliffe commented on #6529
/claim

[2018-06-25 16:20] darkwing commented on #6543
This doesn't happen on master:

<img width="220" alt="wegood" src="https://user-images.githubusercontent.com/46655/41862543-cd34e8bc-7869-11e8-8734-484318cd3038.png">

I noticed this a while ago, fairly certain it's fixed.

[2018-06-25 16:27] janodvarko opened #6546 "[perf] Storing too much data into devtools.debugger.tabs pref"
I am seeing the following warning when stepping:

Warning: attempting to write 16114 bytes to preference devtools.debugger.tabs. This is bad for general performance and memory usage. Such an amount of data should rather be written to an external file. This preference will not be sent to any content processes.

Fixing this should have positive impact on stepping performance.

Here is example value

[2018-06-25 16:29] jasonLaster commented on #6543
@darkwing do you see it in nightly?

[2018-06-25 16:31] jasonLaster opened #6547 "[objectinspector] expanding an object with 50K keys is slow"
STR:

1. go to http://localhost:8000/integration/examples/big-sourcemap.html
2. open debugger and browser toolbox
3. in BT add a breakpoint in firefox/commands.js#sendPausePoint
4. in debugger, add a breakpoint in bundle.js
5. when paused log `pausePoints` and try to expand the object

i got a prompt if i wanted to stop the script. By the way, when it rendered there wasn't any bucketing

![Screen

[2018-06-25 17:14] MikeRatcliffe commented on #6529
@jasonLaster I have been trying to find a way to get the toolbox (we need it to get the toolbox session id). I am struggling to find a way to get it from `devtools/client/debugger/new/src/utils/utils.js`
... did you have something in mind when you suggested it?

[2018-06-25 17:46] jasonLaster commented on #6529
yep - look at the debugger/assets/panel.js and main.js

[2018-06-26 06:26] karlcow opened #6549 "[Editor] window displays a "undefined" instead of the script content."
1. With Firefox Nightly 63.0a1 (2018-06-25) (64-bit) on macOS 10.13.5 (17F77)
2. Go to https://cointelegraph.com/news/jp-morgan-chase-makes-surprising-announcement-may-add-bitcoin-futures
3. Open debugger in developer tools
4. navigate to https://cointelegraph.com/assets/js/script.js?1529942528 in the sources panel.

Actual:
The script window displays "undefined"

Expected:
The script.

The script

[2018-06-26 13:50] #5122 closed

[2018-06-26 13:50] jasonLaster commented on #5122
we're now typing all of the 3rd party libs we use

[2018-06-26 13:50] #5708 closed

[2018-06-26 13:50] jasonLaster commented on #5708
done

[2018-06-26 14:17] darkwing commented on #6543
I can't load todomvc right now but this is what I see in a React app:

<img width="362" alt="notonnightly" src="https://user-images.githubusercontent.com/46655/41918282-acd45cb6-7921-11e8-8786-6043b14d3f0f.png">

[2018-06-26 14:22] darkwing commented on #6544
Somewhat related:  https://github.com/devtools-html/debugger.html/issues/6466

[2018-06-26 14:30] andreicristianpetcu opened #6552 "DevTools Debugger slows down Firefox until I need to kill it (GeckoProfiler data)"
I'll just double post this here for visibility https://bugzilla.mozilla.org/show_bug.cgi?id=1471219
I did not know it is a debugger issue when I reported it initially.

[2018-06-26 14:54] marcogallo566 commented on #5100
Can I work on `src/utils/fromJS`?

[2018-06-26 15:00] jasonLaster commented on #5100
@marcogallo566 we're using that file less and less, id recommend a different one

[2018-06-26 15:02] jasonLaster commented on #6543
I think the we fail to properly load the angular icon there

[2018-06-26 15:16] jasonLaster commented on #6543
I was able to reproduce it in nightly, but not in the launchpad. Let me do a release and see what it looks like

[2018-06-26 16:05] #6512 closed

[2018-06-26 16:05] jasonLaster commented on #6541
@juliandescottes confirmed that it was -  Allow breakpoints in editor to always update (#6486)
https://github.com/devtools-html/debugger.html/commit/3bc6b752d07e49f041961e828df7db2f5c13dbb4

The issue is that we now re-show breakpoints in the editor too often

[2018-06-26 16:07] jasonLaster commented on #6541
This might fix it:

[code]

[2018-06-26 16:29] marcogallo566 commented on #5100
Is `src/utils/pause/scopes/getScope` a good one?

[2018-06-26 16:32] jasonLaster commented on #5100
yep

[2018-06-26 20:53] kenjiO commented on #6544
/claim

[2018-06-26 21:16] #6306 closed

[2018-06-26 21:20] jasonLaster opened #6554 "[breakpoints] shift clicking a breakpoint should not highlight the line"
STR:
1. open the debugger
2. select a file
3. click a line in the gutter to add a bp
4. shift click the bp

The editor should not highlight that line

![](http://g.recordit.co/Qey5jbQZhE.gif)

I think this should fix it, but it needs testing

[code]

[2018-06-27 04:35] sharathnarayanph commented on #6554
/claim

[2018-06-27 07:32] janodvarko commented on #6507
More information for anyone interested in fixing this bug:

More precise STR:

1. Load https://dbg-class-prop-this.glitch.me/
2. Open Debugger in a new tab (http://localhost:8000) and attach it to the page created in step 1
3. Create a breakpoint in HelloWorld.onSortClick (app/components/HelloWorld.jsx)
4. Open DevTools Toolbox in the tab with the Debugger.
5. Create a breakpoint in src/utils/paus

[2018-06-27 07:34] janodvarko commented on #6507
Fixing this issue might have positive impact on stepping performance since it avoid updating syntax highlighting when stepping.

Honza

[2018-06-27 09:08] mutdmour commented on #5100
sorry, could not setup the project before for some reason and don't have time to take on `source-documents` anymore. if someone else wants to take it on

[2018-06-27 12:47] jasonLaster commented on #6507
Thanks, it would be nice if we updated the mode when symbols were populated and then, we didn't update it after that :)

[2018-06-27 14:30] digitarald opened #6557 "Opening debugger on IRCCloud takes 5+ sec"
Open Debugger on irccloud.com.

https://perfht.ml/2Kft4Uf

- 808ms for `require`
- 300 & 250ms react rendering segments right after each other in the end

Immutable causes some overhead during the rendering phases: https://perfht.ml/2KviPu6

[2018-06-27 14:38] jasonLaster commented on #6557
yep, that's correct

1.25s-2.25s seems to be requireHooks
3s-5s seems to be Source Tree + getRelativeSources work

![Screen Shot 2018-06-27 at 10.35.50 AM.png](https://shipusercontent.com/9121ddb1074eb1d9e6a0890bd28cb1c2/Screen%20Shot%202018-06-27%20at%2010.35.50%20AM.png)

### requireHook

![Screen Shot 2018-06-27 at 10.34.17 AM.png](https://shipusercontent.com/2e58d80c20c2f0b52c055085e3b7252a/Sc

[2018-06-27 14:39] jasonLaster commented on #6557
Lets check in next week when sources no longer use immutable and see how `getRelativeSources` and `newSourcesSet` perform. We can also revisit lazy loaders for some of the JS

[2018-06-27 16:20] loganfsmyth commented on #5561
@digitarald `babel-core@^6.23.3` and `@babel/core@^7.0.0-beta.47` are the first versions of their major versions to include all the fixes we've implemented thus far. A few fixes landed earlier in 7.x, but `beta.47` includes the most recent fixes we make, which were for Vue.

[2018-06-27 19:43] #5875 closed

[2018-06-27 19:46] jasonLaster commented on #4233
here is another similar refactor for some other actions
https://gist.github.com/jasonLaster/0a3d9231e03a38c9e983023f85b9e305

[2018-06-28 02:19] darkwing opened #6565 "Editor Footer Blackbox Message Spacing is Inconsistent"
Consider the following:

![blackboxspacing](https://user-images.githubusercontent.com/46655/42009386-a87d9e5a-7a4f-11e8-9c64-d5f83e296bd9.gif)

In one mode the message has padding, in the other it doesn't.  The text should never have a different left padding.

[2018-06-28 13:27] janodvarko commented on #6493
@darkwing I can't reproduce the issue. I don't see the TypeError and the `source.text` is always an object with `binary` prop for me (in WASM). Any special STR appart from just hitting a breakpoint in WASM module?

I see another bug that might be related, though. Stepping in WASM is broken for me due to an error on this line:
https://github.com/devtools-html/debugger.html/blob/master/src/actions/p

[2018-06-28 13:51] darkwing commented on #6493
I believe that some of @jasonLaster's removing-immutable-from-sources may have remedied this issue.

[2018-06-28 14:02] jasonLaster commented on #6493
also @yurydelendik might have fixed this when adding the test

[2018-06-28 14:11] janodvarko commented on #6493
I see, ok.

The stepping in WASM issue is still there (see my comment). Should I file a new bug for it or keep this one opened?

Honza

[2018-06-28 16:01] janodvarko opened #6569 "[wasm] Stepping broken in WASM module"
STR:

1) Load http://janodvarko.cz/test/wasm/basic1/
2) Press `Load Module & Execute Exported Function` button
3) Go to the debugger and select `test.wasm` file
4) Create a breakpoint on offset 26 (`get_local $var0`)
5) Press `Execute Exported Function` button
6) The breakpoint hits, try to step over, it doesn't work -> BUG

There is an error in the Console:
TypeError: source.text.split is not a f

[2018-06-28 16:06] janodvarko opened #6570 "[wasm] Breakpoints in WASM module are not visible in Breakpoints panel"
STR:

1) Load http://janodvarko.cz/test/wasm/basic1/
2) Press `Load Module & Execute Exported Function` button
3) Go to the debugger and select test.wasm file
4) Create a breakpoint at offset 26 (`get_local $var0`)
5) Check out the Breakpoints side panel, there should be one breakpoint
6) Create a breakpoint at offset 28 (`get_local $var1`)
7) Check out the Breakpoints side panel, there should be

[2018-06-28 16:09] jasonLaster commented on #6570
mind sharing a screenshot?

[2018-06-28 16:13] janodvarko commented on #6493
I am closing this issue since the original report `Wasm: TypeError: binary is undefined` has been fixed.

But, I have created two follow ups:
* Stepping broken in WASM module #6569
* Breakpoints in WASM module are not visible in Breakpoints panel #6570

Honza

[2018-06-28 16:13] #6493 closed

[2018-06-28 16:15] janodvarko commented on #6570
![image](https://user-images.githubusercontent.com/37785/42046918-379480a4-7aff-11e8-9b0a-5cda3c487e05.png)

[2018-06-28 16:18] jasonLaster commented on #6570
oh yeah - i bet this is an assumption we have that we'll have a line snippet for each breakpoint we show.

For instance, we currently use the source's text field now we'd need to do something different.

As a side note, we must get the text to show in the editor at some point. At that point maybe we can replace {binary} with a string...

[2018-06-28 16:37] jasonLaster commented on #6543
good call!

[2018-06-28 18:41] jasonLaster opened #6574 "[object-inspector] isMacOS is not defined"
was this an effect of a recent revert?

https://github.com/devtools-html/debugger.html/blob/release-65/packages/devtools-reps/src/object-inspector/component.js#L386

[2018-06-28 18:41] jasonLaster commented on #6574
ping @nchevobbe

[2018-06-28 21:45] jasonLaster opened #6575 "[release] backport changes from MC"
We would like to be able to automate backporting changes from MC to GH. This script is a crude attempt to copy files from MC to GH based on what changed:

Note:
1. it copies all the files in the paths - we might not want this
2. it does not look at commits - we likely want to *only* copied what changed for a given commit...

[code]

[2018-06-29 06:12] nchevobbe opened #6577 "Escaped backslash inside strings is rendered as double backslash"
**Steps to reproduce**

1. Evaluate `"a=\\99"`

**Expected results**

Reps output `"a=\99"`

**Actual results**

Reps output `"a=\\99"`

[2018-06-29 06:26] finalfantasia opened #6578 "Enable syntax highlighting for ClojureScript"
I was debugging ClojureScript code and noticed that the code was not being properly syntax highlighted in the editor (as shown in the screenshot attached at the end). I first thought syntax highlighting for ClojureScript is not yet supported in the debugger and so came here to file an issue for it but found this issue #2307 that was closed more than a year ago. I was wondering whether those change

[2018-06-29 11:01] nchevobbe commented on #6574
Where do you see this ?

[2018-06-29 11:59] jasonLaster commented on #6574
in master

[2018-06-29 12:00] jasonLaster commented on #6578
Thanks for filing. We'll look into it soon!

[2018-06-29 12:11] nchevobbe commented on #6574
Mh, the variable is well declared on master: https://github.com/devtools-html/debugger.html/blob/8b8299b18d1e964cd53c43562729f0056f8fcd2c/packages/devtools-reps/src/object-inspector/component.js#L14

[2018-06-29 12:13] nchevobbe commented on #6574
Don't know why it was pruned on this release branch. Maybe to avoid the issue with Services in the jsonviewer when doing the reps-bundle release on mc ?

[2018-06-29 14:19] gregtatum commented on #5122
😮 whoa, nice job!

[2018-06-29 16:15] VillageHats opened #6580 "[Breakpoints] Breakpoint changes its place on page refresh"
### STR
[code]
1. Set breakpoint on line with 'return 42'
2. Refresh page

Actual results:

Breakpoint is now set on line with 'return 1'.

Expected results:

Breakpoint should stay where it was set.

This happens when two or more methods have the same name even when they are part of different objects.
If I had to guess debugger stores breakpoint line numbers as an offset from the line where metho

[2018-06-29 16:36] darkwing commented on #6580
Wow, interesting find @VillageHats !  Thank you for reporting this!

[2018-06-29 16:40] darkwing commented on #6574
Yes, my apologies; @juliandescottes said we needed to prune due to JSONViewer breaking -- my apologies for not filing an issue sooner!

[2018-06-29 16:41] darkwing commented on #6549
Thank you for the report and screenshot @karlcow !

[2018-06-29 19:56] darkwing commented on #5564
Looking at this more:

[code]

Using `getRawSourceURL` in `ui.js` seems wrong because it could effect the tab selection; *not* using `getRawSourceURL` for the `SourcesTree.js` block will always lead to a problem, because `:formatted` URLs will never display in the tree.

With the code above, the tab still switches from pretty-printed to original source tab, but this is a decent start!

[2018-06-29 21:10] bomsy commented on #6580
I'm seeing this as well

[2018-06-30 12:52] sharathnarayanph commented on #6554
@jasonLaster I tried reproducing this in the latest code base and it seems to work fine. Though this issue exists in the browser debugger, in the web app it looks intact. Am I missing something?

![shiftbp](https://user-images.githubusercontent.com/16179366/42125338-6f3c0ef2-7c92-11e8-8c70-090bce79bf84.gif)

[2018-07-02 07:23] janodvarko opened #6584 "[wasm] Search in file broken for WebAssembly modules"
STR:

1) Load http://janodvarko.cz/test/wasm/basic1/
2) Press `Load Module & Execute Exported Function` button
3) Go to the debugger and select `test.wasm` file
4) Press Ctrl+F (win) or ⌘⇧F (mac) to open an input field for searching in the current file
5) Type `module`
6) There is no result and the text turns red eve though the text is there -> BUG

### Screenshot

![image](https://user-images.git

[2018-07-02 10:33] janodvarko commented on #6584
![image](https://user-images.githubusercontent.com/37785/42159444-0d4701ee-7df4-11e8-89eb-4e106007f3fa.png)

[2018-07-02 10:37] janodvarko opened #6585 "[wasm] Line offset jumps if hovered by mouse"
STR:

1) Load http://janodvarko.cz/test/wasm/basic1/
2) Press `Load Module & Execute Exported Function` button
3) Go to the debugger and select `test.wasm` file
4) Hover mouse over any line offset number in the left source editor gutter.
5) The number jumps to the left and is only partially visible -> BUG

See the offset 0x28 on the screenshot:

![image](https://user-images.githubusercontent.com/3

[2018-07-02 17:28] jasonLaster commented on #6554
maybe not... take a look at the code in master and let me know if you see the logic to prevent it.

[2018-07-02 17:45] #6507 closed

[2018-07-02 18:15] jasonLaster commented on #6458
This is where we would have our pause reasons
https://github.com/devtools-html/debugger.html/blob/release-67/src/utils/pause/why.js#L18

I'm going to move this to an enhancement as it is an unimplemented feature

[2018-07-02 22:36] #6394 closed

[2018-07-02 22:56] #6529 closed

[2018-07-03 03:17] jasonLaster commented on #6140
@dvdbot I believe @loganfsmyth will be adding an endpoint for this feature soon so that we can support auto-evaluations for sourcemapped module dependencies soon. I believe a general console feature is also on the roadmap. CC @nchevobbe

[2018-07-03 10:50] andreicristianpetcu opened #6587 "Debugger loads a lot slower in Beta & Nightly compared to Stable"
Steps to reproduce:
Open https://andreicristianpetcu-ngcli.glitch.me/
Wait for it to load.
Press Ctrl+Shift+S

On Nightly v63 + Beta v62 it loads in around 10 seconds on a fresh profile. In Stable it loads in around 2-3 seconds. Chrome loads it instantly.

This is a simple Angular app with only one component.

[2018-07-03 10:53] andreicristianpetcu commented on #6557
Not sure if it's the same issue. I reported it here https://github.com/devtools-html/debugger.html/issues/6587 and here is my glitch project for it https://glitch.com/~andreicristianpetcu-ngcli

[2018-07-03 12:22] jasonLaster commented on #6587
We're finishing landing the 50+ commits from the 63 soft freeze. I should be able to check today.

[2018-07-03 12:34] andreicristianpetcu commented on #6587
@jasonLaster Maybe you have some time to take a look at https://bugzilla.mozilla.org/show_bug.cgi?id=1471219 also... it is really frustrating to need to kill Firefox when opening DevTools. I really hope this bug does not get shipped with v62. Not sure if it's related to this one..

[2018-07-03 12:43] jasonLaster commented on #6587
Mind trying firefox nightly again? After you update, it might be pretty fast. It was 1.5 seconds each time i refreshed.
![screen shot 2018-07-03 at 8 42 26 am](https://user-images.githubusercontent.com/254562/42220484-13187b6c-7e9d-11e8-850c-ab7ee1e1efce.png)

[2018-07-03 13:04] andreicristianpetcu commented on #6587
Same thing for https://andreicristianpetcu-ngcli.glitch.me/ This is not a weak machine Intel® Core™ i7-6820HQ CPU @ 2.70GHz × 8 + SSD + tons of RAM.

[2018-07-03 13:26] jasonLaster opened #6588 "[Editor] HighlightLine updates too frequently"
Recently we've seen an issue where the highlightline flashes somewhat frequently on page load, this is both a performance issue as well as a bug.

https://perfht.ml/2tRmoRP

STR:

1. go to https://andreicristianpetcu-ngcli.glitch.me/
2. select my-new-component.component.ts
3. add a breakpoint in ngOnInit
4. reload
5. remove the breakpoint

Notice the line keeps flashing

![](http://g.recordit.co/u

[2018-07-03 13:40] MikeRatcliffe opened #6589 "Change the way we access toolbox.sessionId"
At the moment we do this to make the toolbox ID available:

[code]

But it is a very bad idea to rely upon the HTML structure of the toolbox in order to get the session ID.

@jasonLaster Said that we would be better creating a redux field to somehow make the toolbox session ID available everywhere.

[2018-07-03 13:41] andreicristianpetcu commented on #6587
Here is my perf data. I opened/closed the DevTools about 5 times https://perfht.ml/2IPTKVZ

[2018-07-03 14:12] jasonLaster commented on #6589
Hmm, maybe redux doesnt make sense for a util, here's how i'd pipe the value to the module:

https://gist.github.com/jasonLaster/c3f459c8e6c66e96cedf43560bc1eb29

1. the panel.js should get the sessionId
2. onConnect should set the ID in the module
3. the module should have the ID and the telemetry object

[2018-07-03 14:13] jasonLaster commented on #6589
As a side-note, it would also be nice if the telemetry instance had the ID, because that should be the same for the lifetime of the object.

[code]

[2018-07-03 14:43] MikeRatcliffe commented on #6589
You make a good point... if we stored the ID inside telemetry.js we wouldn't need to send it with every ping.

We still need the toolbox to get the ID in the first place though.

[2018-07-03 14:52] jasonLaster opened #6591 "[Pretty Print] Modern JS"
Pretty Fast does a poor job of understanding some modern JS and as a result creates bad pretty print locations

#### bugs

- [ ] Instant crash on prettify on ravelry.com #5894 🥇
- [x] [Pause] debugger doesn’t show the pause state #5951
- [x] [Breakpoints] After setting a breakpoint, debugger refuses to step through the code #5807

[2018-07-03 14:53] jasonLaster opened #6592 "[PrettyPrint] Improve location quality"
There are a couple of issues with how we handle locations when prettyprinting

- [x] pauses without a bp on load #5519 #5827 🥇
- [x] jsx sets a breakpoint on the line above #6685
- [ ] selectLocation to do less work with regard to pretty print #5618
- [ ] prettifying should remember the user intent to jump to a specific line #3778
- [ ] breakpoints are not persisted #3532

[2018-07-03 15:58] #6541 closed

[2018-07-03 15:58] jasonLaster commented on #6541
This was fixed here, lets see if we get the boost in 68

[2018-07-03 21:19] iisa commented on #6565
/claim

[2018-07-04 05:47] ahuth commented on #4075
/claim

Figured I'll take a shot at this, as I have experience implementing [tabs per the WAI-ARIA authoring practices 1.1](https://www.w3.org/TR/wai-aria-practices-1.1/#tabpanel) for a [React accessible component library](https://github.com/juanca/react-aria-components).

Worst case I'll unclaim if it ends up being more than I can handle, and will at least report back with any findings.

[2018-07-04 07:06] juliandescottes commented on #6541
@jasonLaster did a talos compare for 68 at https://treeherder.mozilla.org/perf.html#/compare?originalProject=try&originalRevision=d233ed9676c2abf4c22d7adf342e5c1a78b9d6de&newProject=try&newRevision=eeefa57a5246832cef51c19459d8ab654b456b07&framework=1

No improvement. But I actually don't see the commit in https://github.com/devtools-html/debugger.html/compare/release-67...release-68 ?

[2018-07-04 13:19] andreicristianpetcu commented on #6587
This does not happen anymore on the latest Nightly. Closing. Will re-open if I see it again.

[2018-07-04 13:19] #6587 closed

[2018-07-05 07:18] abitrolly commented on #1313
Looks like #6144 is a tracking issue.

[2018-07-05 07:27] abitrolly opened #6596 "Modify variable on watch event"
I need to stub return value of a function when certain conditions are met, but I don't see that this is possible with Firefox Debugger.

[2018-07-05 07:55] nchevobbe commented on #6596
You could add a conditional breakpoint that does that maybe ?

[2018-07-05 07:58] abitrolly commented on #6596
Conditional breakpoint just pauses the execution, then I go console and stub the variable, but when I switch back to browser window, the event fires again.

[2018-07-05 08:22] nchevobbe commented on #6596
@abitrolly I think you can execute whatever you want in the conditionnal breakpoint.

Let's say you have the following function:

[code]

If you put a conditional breakpoint on `return ret;` with the following instruction `if (ret > 10) ret = "big";false;`, then executing `x(7)` will return "big".

[2018-07-05 12:15] janodvarko commented on #6353
Are there any update STR? I can't follow the steps in the first comment. The Preview/index.js file doesn't implement `onMouseOver` anymore.

Honza

[2018-07-05 12:53] janodvarko commented on #5918
@darkwing How can I reproduce this issue? STR?

Honza

[2018-07-05 14:36] #6543 closed

[2018-07-05 14:44] #6193 closed

[2018-07-05 23:47] #6544 closed

[2018-07-06 11:18] MikeRatcliffe opened #6604 "Upgrade to React 16.4.1"
The React version on m-c has been upgraded to v16.4.1 with no breaking changes.

It should also be upgraded for the debugger etc.

[2018-07-06 13:33] jasonLaster commented on #6585
This looks similar to #6451

[2018-07-06 13:38] jasonLaster commented on #6574
this should be fixed now

[2018-07-06 13:38] #6574 closed

[2018-07-06 13:39] jasonLaster commented on #6554
hmm, it looks like it is still happening in Nightly with the latest code.

[2018-07-06 13:46] jasonLaster commented on #6549
Hmm, i see it when i go there

![screen shot 2018-07-06 at 9 45 56 am](https://user-images.githubusercontent.com/254562/42382168-741aea2e-8101-11e8-887f-96dbddac683c.png)

[2018-07-06 13:47] jasonLaster commented on #6466
This should be fixed now via #6544

[2018-07-06 13:47] janodvarko commented on #6580
More detailed STRs with live example:

1) Load https://lumpy-plier.glitch.me/
2) Ope the debugger and create a breakpoint on line 11 `return 42`
3) Refresh the page
4) The breakpoint is now on line 6 -> BUG

Honza

[2018-07-06 13:51] jasonLaster commented on #6459
@darkwing did you disable pretty-printing blackboxed sources? If not we should while we don't support it.

[2018-07-06 13:53] jasonLaster commented on #6459
Yep, we don't disable prettyprinting blackboxed sources, should be an easy fix:

[code]

[2018-07-06 13:54] janodvarko commented on #6395
This works for me  on Win10

Honza

[2018-07-06 13:55] jasonLaster commented on #6395
I believe this fixed it #6583

[2018-07-06 13:55] #6395 closed

[2018-07-06 13:56] #6282 closed

[2018-07-06 14:04] janodvarko commented on #6549
I can easily reproduce the bug on Win10
Honza

[2018-07-06 14:07] jasonLaster opened #6605 "[PrettyPrint] disable prettyprinting when sourcemaps are disabled"
Pretty printing uses source maps, which means when it is disabled, we should not let users pretty print, because it will fail.

[code]

CC #6328

[2018-07-06 18:46] kenjiO opened #6608 "[Search] after deleting a search string, the last character matches are still highlighted"
STR
  open the file search and type some characters. Matches will be highlighted.
  press backspace to delete all the characters you typed

ER
 After deleting all the characters from the search, there will be no matches highlighted

AR
 matches are still highlighted for the last character deleted

![](http://g.recordit.co/yROLvZRgE7.gif)

[2018-07-09 20:23] Jiberson commented on #6608
Is it fine if I try to fix this bug?

[2018-07-10 06:30] AgtLucas commented on #6605
@jasonLaster Can I take this one?

[2018-07-10 13:12] jasonLaster commented on #6605
Go for it!

[2018-07-10 14:39] jasonLaster opened #6617 "[intermittent] sourcemaps-reload"
[bug](https://bugzilla.mozilla.org/show_bug.cgi?id=1434792) [tree]
	- count 25
	- started july 2nd

[tree]: https://treeherder.mozilla.org/intermittent-failures.html#/bugdetails?startday=2018-07-02&endday=2018-07-08&tree=trunk&bug=1434792

[2018-07-10 16:53] wldcordeiro commented on #6604
This has landed from the looks of it. Closing.

[2018-07-10 16:53] #6604 closed

[2018-07-10 21:23] #6557 closed

[2018-07-11 15:40] darkwing opened #6627 "Create Breakpoint Hover Effect"
An awesome contributor made a valiant effort in creating a breakpoint hover effect in this PR:

#5979

Unfortunately it doesn't work properly when the editor is scrolled to the right (#6451) and creates a weird shifting side effect when code-folding is enabled.

What "breaks" the contributor's solution is that the "left" CSS value is hardcoded and thus scrolling to the right "hides" the hover beca

[2018-07-11 16:15] darkwing commented on #6617
[code]

[2018-07-11 16:17] darkwing commented on #6617
Recent error output:

[code]

[2018-07-11 18:11] jasonLaster opened #6628 "[accessibility] hide focus ring on clicks"
@marcysutton mentioned in her fantastic talk [empathy driven development][edd] that it is possible to hide focus rings on mouse clicks with a small library [what-input]. Another option is to use [focus-visible][fs], which seems to line up better with some of the spec work.

In the future, i believe she mentioned that there will be a css selector that could help us here.

This will let us clean up

[2018-07-11 18:17] #6451 closed

[2018-07-11 18:19] darkwing commented on #6585
Fixed by reverting the hover breakpoint effect.

[2018-07-11 18:19] #6585 closed

[2018-07-11 18:21] #5918 closed

[2018-07-11 18:34] darkwing commented on #6617
I'm eyeing https://github.com/devtools-html/debugger.html/commit/e52fe9fdb0a1a26203f74bdc4bcc84f9ccd23ffd at the moment, running tests on the ` sourcemaps-intermittent-test` branch on Travis

[2018-07-11 18:43] pb03 commented on #6627
/claim

[2018-07-11 19:27] darkwing opened #6629 "`yarn copy` error when `firefox` directory not present"
I `rm -rf firefox` to get a fresh checkout of for building and testing.  Next I `yarn copy` and receive the following:

[code]

It appears we're relying on a file we obviously don't have.

[2018-07-11 19:35] darkwing commented on #6629
Going to close this; I should manually run `./bin/download-firefox-artifact` first.

[2018-07-11 19:35] #6629 closed

[2018-07-11 22:39] mlissner commented on #5219
@jasonLaster Sorry, it's long gone. I'll try to catch it if it crops up again.

[2018-07-11 23:22] digitarald opened #6631 "Consistent vertical rhythm in debugger panels"
Did a quick analysis of line-heights in the side-panel. Turns out that we have a lot going on. I have not even started on font variations, this might be also considered as part of the issue.

My hypothesis is that cleaning this up a bit for a better design could make the information easier to scan.

![image](https://user-images.githubusercontent.com/8599/42604367-3aa7326e-8527-11e8-8591-1cd25e5ad7

[2018-07-11 23:46] kenjiO commented on #6466
/claim

[2018-07-12 01:42] jasonLaster commented on #5219
Thanks @mlissner

By the way, after talking with several folks it looks like indexed-db is the way to go.

[2018-07-12 14:35] basav22 commented on #6329
hi @darkwing, I want to give it a try.
/claim

[2018-07-12 14:40] darkwing commented on #6329
Hey @basav22 -- I think this is fixed!  Sorry we didn't close it sooner.  I'd love to have you try another bug though! :)

[2018-07-12 14:40] #6329 closed

[2018-07-12 14:43] basav22 commented on #6329
hi @darkwing, the PR which is merged has changes to show user selection with different colour. But doesn't hide the debugger selection. You mean, this thing is fixed in some different PR ??

[2018-07-12 17:57] jasonLaster commented on #6329
@basav22 feel free to open a new issue for hiding debugger selection :) I think issues with multiple parts can be confusing.

[2018-07-13 03:18] basav22 commented on #6329
thanks @jasonLaster . I will open new issue.

[2018-07-13 17:48] Jiberson commented on #6580
/claim

[2018-07-13 17:53] Jiberson commented on #6569
/claim

[2018-07-13 19:28] jasonLaster commented on #6580
@Jiberson i think @bomsy might be working on this. Sorry

[2018-07-15 13:42] Jiberson commented on #6589
/claim

[2018-07-16 05:48] juliandescottes opened #6640 "lodash-move is not properly vendored to mozilla-central"
See https://bugzilla.mozilla.org/show_bug.cgi?id=1475421 for STRs

lodash-move uses `export default` and should be required as `import move from "lodash-move";`. Instead it is required as `import { move } from "lodash-move";` and imported via wildcard in vendors.js.

Not sure this even worked outside of m-c?

On a sidenote, lodash-move is a pretty small util, rather than complexifying our vendorin

[2018-07-16 06:34] juliandescottes opened #6642 "After navigating, source pane show sources from previous location"
And sometimes misses sources for the new location.

STRs 1:
- on a mozilla-central checkout, run `./mach python browser/components/payments/server.py`
- go to http://localhost:8000
- open debugger (apart from extensions, you should only see "(index)", under localhost:8000)
- click on "paymentRequest.xhtml"

Bugs:
- Sources pane still shows "(index)", as well as "paymentRequest.xhtml"
- "containers

[2018-07-16 06:38] juliandescottes opened #6643 "Non source-mapped files are shown as sourcemapped"
On a website that is not using sourcemaps (eg https://www.piskelapp.com/ ) any source from static/js shows "(From {name of the file})".

![image](https://user-images.githubusercontent.com/1141550/42745521-92cf38ba-88d3-11e8-8616-a1d53a385f4c.png)

This should only show up for sourcemapped files.

[2018-07-16 12:16] jasonLaster commented on #6643
CC @darkwing

[2018-07-16 12:21] jasonLaster commented on #6640
Yeah, i can see that point.

[2018-07-16 12:21] #6640 closed

[2018-07-16 13:47] jasonLaster opened #6645 "[releases] Use native URL class"
We're currently importing the node `url` package, which is less performant than the native class.

- We need the module for the unit tests to pass
- We should be able to use webpack's externals feature to exclude it from the bundles

Here's my first attempt at fixing it:

https://gist.github.com/jasonLaster/8aeffacb8bdc4c1e21bce1c6d06007a2

btw, the vendors module is where we put all the 3rd party

[2018-07-16 17:51] darkwing opened #6647 "uncaught exception: SyntaxError: Unexpected token (1:9)"
I was looking at a different Preview/Popover bug and after hovering over a popup or two, I see the following in the console:

[code]

Going to keep experimenting to find more default but there's no line number referenced so that's about all I can give right now.

[2018-07-16 17:55] darkwing opened #6648 "Hitting "ESC" key should close preview popup"
When the preview popup is clicked, focus is set to the tree element and an outline shown.  Using the arrow keys allows the popup to be navigated horizontally and vertically, so it seems only logical that hitting the ESC key should close the popover.

[2018-07-16 18:15] #6608 closed

[2018-07-16 18:47] #6503 closed

[2018-07-16 18:58] darkwing commented on #5962
I think all of this was addressed with Victoria's UX help

[2018-07-16 18:58] #5962 closed

[2018-07-16 21:00] Jiberson commented on #6645
/claim

[2018-07-16 21:01] Jiberson commented on #6648
/claim

[2018-07-16 21:10] Jiberson commented on #6569
/unclaim

[2018-07-16 21:40] andreicristianpetcu commented on #6329
@LeoThalman thank you for fixing this issue!

[2018-07-16 22:51] violasong opened #6651 "[Search] New design for Find in File/Find in Project"
I made this mock up 2 months ago, so it's possible it needs to be updated. The main changes here include: polishing/unifying the look of the two types of search, moving the fields to the bottom, and allowing the user to still see both the fields and their open file/search results at the same time. Let me know if I should make any changes.

https://mozilla.invisionapp.com/share/Y8H6UH8V5HX#/screens

[2018-07-17 05:11] AnshulMalik commented on #6647
Can we have STR please?

[2018-07-17 05:15] #6643 closed

[2018-07-17 14:44] #6258 closed

[2018-07-17 16:39] jasonLaster commented on #6596
Thanks @abitrolly.  I'll move this issue to the icebox so we can re-evaluate later.

[2018-07-17 16:39] #6596 closed

[2018-07-17 16:55] darkwing commented on #6475
STR:

1.  Open TODOMVC:  https://firefox-dev.tools/debugger-examples/examples/todomvc/
2.  Then navigate to https://davidwalsh.name

The second domain's tree doesn't always sort the debuggee URL to the top

[2018-07-17 18:07] jasonLaster commented on #6475
Oh, i think this is just in the launchpad because it doesn't get debuggeeUrl's from the client. Does this happen in nightly?

[2018-07-17 20:51] abitrolly commented on #6596
Thanks. Solution is logical. Just haven't got enough time to test it yet.

[2018-07-18 07:26] jainsneha23 opened #6657 "Click on hidden tabs crashes the debugger"
While clicking multiple tabs in editor, click on the more icon, and select hidden tab. The debugger crashes.

http://g.recordit.co/xl12yV1iJc.gif

[2018-07-18 10:32] movedoa opened #6659 "Dynamically loaded js file not visible in debugger"
Hello i load most of my js files dynamically with jquery ($.getScript)
This works but i don't see any of these js files in the debugger.
I use typescript and transpile to js with inline sourceMapping so "//# sourceMappingURL=%Data%" is present in every js file

In chrome the js files (including the sourcemaps) show up without a problem.

If you need a small example just ask, but i guess this shoul

[2018-07-18 14:02] #5833 closed

[2018-07-18 15:05] gerdneuman opened #6662 "Search in tab is black: Disconnects tab title from its file"
Search in tab looks strange:

![image](https://user-images.githubusercontent.com/12525563/42890095-4aaf2b82-8aac-11e8-908e-5bc893edcc4b.png)

1. The tab title is gray, then comes a 2 black search lines, then the grey file. This gives the impression that the tab title and the tab file do not belong together because they are separated by a black search lines.
2. The Modifier line in the search shoul

[2018-07-18 15:58] darkwing commented on #6617
This is wild.  In `src/actions/breakpoints.js`'s `syncBreakpoint` function we have a call to `syncClientBreakpoint` which returns a response.

In a successful test run, the response looks like:

[code]

In a failing test run, the response looks like:

[code]

[2018-07-18 17:38] violasong commented on #6631
Just wanted to include the comments I wrote on Slack to keep things together :)
- one thing that will help is when we replace the blue background for current frame with an arrow icon as mentioned in the callstack PRD
- I think the difference in spacing between the three visible sections is distracting, esp call stack compared to scopes - they look like three separate worlds (lazy bug I filed about

[2018-07-18 22:22] digitarald commented on #6631
@darkwing want to take a shot at it and try to tweak font styles and sizing to make the look a little more coherent? Not sure what will have the biggest impact here, but it seems like a set of low hanging design improvements.

cc @nchevobbe to be aware of reps and line heights consistency.

[2018-07-19 01:37] darkwing commented on #6617
After some repetitive local testing, I'm feeling like the problem was introduced here:
https://github.com/devtools-html/debugger.html/commit/8e773b9911579b4dfa114600c184b23b14612942

I ran tests on the previous commit dozens of times and didn't receive the error at all; switching to the commit above starts triggering the intermittent error.  "ADD_BREAKPOINT failed to parse" happened before said co

[2018-07-19 12:42] jasonLaster opened #6664 "[Sources] enable default domain test"
It looks like we accidentally disabled a test that seems useful.

[code]

When I run the test the output is slightly different. That might be alright, but requires some thinking

[code]

[2018-07-19 12:44] jasonLaster commented on #6617
Nice sleuthing. If we can confirm that this commit introduced the intermittent, that would be a breakthrough.

A quick scan of actions/ast.js makes me think it could be this condition. Who knows though. I suppose the next step once we confirm the commit is to try and narrow the surface area of the commit (make it smaller, but still fail).

<img width="617" alt="screen shot 2018-07-19 at 8 42 44 am

[2018-07-20 14:10] nchevobbe opened #6670 "Watch expression "delete" button is shown on top of the Reps arrow icon"
**Steps to reproduce**
1. Open the debugger
2. Add the following watch expression: `({a: 1})`

**Expected results**

I can click the arrow icon

**Actual results**

The remove expression icon is shown on top of the arrow icon:
<img width="231" alt="image" src="https://user-images.githubusercontent.com/578107/43006979-5ca7c2b8-8c37-11e8-8a96-e3e475cb4142.png">

[2018-07-20 21:24] digitarald opened #6673 "Visually distinguish the skip-all-pausing state better"
Follow up from #6512, triggered be my just having a case myself where I wondered why breakpoints stopped working. The icon (which very light blue lines) on the skip button are the only visual `enabled` state right now.

Disabling the Breakpoint panel, both for exception checkboxes and breakpoint list, might just be enough, but maybe @violasong has more ideas.

For inspiration:

While Chrome's butt

[2018-07-20 23:45] violasong commented on #6673
Ah, I had muted-looking breakpoint check boxes in the mockup, which could help, but sounds good to add more indicators https://mozilla.invisionapp.com/share/P4IA9FCQNGW

Muted breakpoint icons seem like a great idea. We could also create a bolder-looking version of the Skip All Pausing icon. Maybe this situation is important enough that the Skip All Pausing icon could expand to be larger with a te

[2018-07-22 20:13] Jiberson commented on #6547
/claim

[2018-07-23 11:40] juliandescottes opened #6679 "debugger.html should use local version of devtools-utils"
debugger.html depends on version 0.0.13 of devtools-utils, while the local version in packages in only version 0.0.12. This prevents the debugger from using the local version for the workspace.

We should bump the local version at https://github.com/devtools-html/debugger.html/blob/master/packages/devtools-utils/package.json#L3 and synchronize it with the version in debugger.html's main package.js

[2018-07-23 12:20] jasonLaster commented on #6679
Why do you think we should have an explicit "local" version number?

[2018-07-23 12:24] juliandescottes commented on #6679
For documentation purposes, that's a least the 3rd time I have been confused by the lack of documentation around the usage of "workspaces" :)

[2018-07-23 17:08] anablog opened #6683 "logo proporsal for debugger"
Hello a pleasure in greeting you, I wanted to introduce myself I am Ana Medina Graphic Web Designer, I am very interested in your new open source project for me it would be a pleasure to provide my services as a designer and collaborate without commitments, You require a new logo for your brand I can help him?

I well be pleased to collaborate with you.

[2018-07-23 21:15] jasonLaster commented on #6683
@anablog lets discuss this in our slack!
https://devtools-html-slack.herokuapp.com/

[2018-07-23 21:15] #6683 closed

[2018-07-24 09:43] gerdneuman opened #6684 "React Developer Tools Add-on does not work when debugger is paused"
I see this in every React App: When debugger is paused on a breakpoint I cannot use the [React Developer Tools Add-on](https://reactjs.org/tutorial/tutorial.html#developer-tools)  (link to [AMO](https://addons.mozilla.org/en-US/firefox/addon/react-devtools/)). Since it works in Chrome I think it is an issue of Firefox Debugger (or its WebExtensions API) and not a problem of React Developer Tools.

[2018-07-24 09:58] gerdneuman opened #6685 "Setting breakpoint in JSX adds another breakpoint on the line above"
I use current Nightly version on Windows 10

**Steps to Reproduce:**
1. Go to vanilla React App: https://new.codesandbox.io/
2. Set a breakpoint on line 9 of `index.js`:
![image](https://user-images.githubusercontent.com/12525563/43131042-5bb0923c-8f38-11e8-8563-0a62239b64d3.png)
3. Reload

**What happens:**
Now there is also a breakpoint on line 8 which I never set:
![image](https://user-images.g

[2018-07-24 10:18] gerdneuman opened #6686 "Horizontal scrollbar of preview popup is only visible at bottom"
Using Windows 10 Nightly with Dark Theme.

This is from a real world problem I had, here's a minimal reproducable example.

**Steps to reproduce:**
1. Go to https://30926wj5o5.codesandbox.io/
2. Set breakpoint on line 31 (Interestingly, this also adds a breakpoint on line 32, but I think this is bug #6685)
3. Reload
4. Hover over variable `myLongObject`

**Actual results:**
The horizontal scrollba

[2018-07-24 13:09] jasonLaster commented on #6686
Hey @darkwing is it possible we fixed this yesterday?

[2018-07-24 13:11] jasonLaster commented on #6684
Thanks for filing. That's really interesting. I believe they do a console eval every 30 seconds or so to initialize the devtools. Not sure why that wouldn't work here though.

[2018-07-24 13:30] AnshulMalik commented on #6657
Can't reproduce it in launchpad

[2018-07-24 13:42] AnshulMalik commented on #6659
I tried to reproduce this, but seems like no browser adds the file to the debugger. It's be really helpful if you can find some time to set up an example.

[2018-07-24 14:36] movedoa commented on #6659
After some digging I found a 4 year old bugzilla entry which I think is this exact problem.
https://bugzilla.mozilla.org/show_bug.cgi?id=1115991

[2018-07-24 15:00] movedoa commented on #6659
(Sry for the spam)
After reading though the bug it seems this is not very easy to solve.
Since getScript doesn't do anything special that i need i just wrote my own version which works, everything shows up fine

Feel free to close this issue

[2018-07-24 15:19] #6657 closed, assigned to nobody

[2018-07-24 15:48] jasonLaster commented on #6679
I can see that. I agree we should try and find something more obvious. Lets leave this issue open so that we can prioritize fixing it up. It would be nice to see if we can make version numbers optional.

https://twitter.com/arcanis/status/1021415846663655424

[2018-07-24 15:53] darkwing commented on #6686
I doubt it; my guess is that the container doesn't allow vertical overflow but the tree inside it does.  Famous last words but this doesn't look too difficult to fix.

[2018-07-24 17:39] Jiberson commented on #6547
/unclaim

[2018-07-24 18:52] #6659 closed

[2018-07-24 20:14] jasonLaster opened #6690 "[parser] support stepping to complex calls"
Today, the debugger does a good job of stepping to call sites such as

[code]

it struggles when there are complex calls such as

[code]

The reason for this is that pause points tries to figure out where the closest call is without doing a traversal. We could fix some of that with this [branch][b]

When it is done the pause points should look like this:

[code]

[b]: https://github.com/devtools-h

[2018-07-24 21:16] digitarald commented on #6533
Added https://bugzil.la/1463108

[2018-07-24 22:18] jasonLaster opened #6693 "[SourceTree] left arrow behavior is broken"
When an item is focused in the source tree and the user presses the left arrow it should do one of two things:

a) **a source is focused** the next directory should be focused
b) **a directory is focused** the directory should be collapsed

![](http://g.recordit.co/y1chMIYxs4.gif)

![](http://g.recordit.co/TK0lGydImk.gif)

[2018-07-24 22:26] jasonLaster opened #6694 "[Preview] immutable records in a react component are not shown"
It looks like we fail to preview immutable records when they are defined in a react component.

The STR for me is pausing in SecondaryPanes/Breakpoints.js#render. We should create a small test case though for this...

![](http://g.recordit.co/GpwN7q7HsF.gif)

[2018-07-24 23:47] kenjiO commented on #6374
One or both of these changes could help.  Although the selectors might be used for something else that you don't want to change.

[code]

[2018-07-25 00:22] darkwing commented on #6693
I just did some basic testing and this functionality works for me, but we can discuss it tomorrow

[2018-07-25 07:05] juliandescottes commented on #6679
`0.0.0` works for me as well, it's pretty clear it's non-versioned.

Regarding adding comments, the `"//"` might not in the middle of the "dependencies" object, like:

[code]

To be honest I haven't tried but I thought "hmmmm this won't work in the middle of `dependencies`".

[2018-07-25 12:12] gerdneuman commented on #6251
@jasonLaster Not sure why this was closed? The current buttons are irritating. For instance I just wanted to click on the middle pane so that it has focus, but instead I've hit the `Ctrl+P` button because this seems to stretch 100% horizontally:
![image](https://user-images.githubusercontent.com/12525563/43200090-7edcf098-9014-11e8-88f6-b73b5cad9dd9.png)

I think, these buttons should really be li

[2018-07-25 12:15] gerdneuman commented on #6251
ok, https://github.com/devtools-html/debugger.html/pull/6285#issuecomment-389566904 is an explanation, but where's the bug/redesign to follow?

[2018-07-25 13:15] #6533 closed

[2018-07-25 13:16] #6617 closed

[2018-07-25 13:18] jasonLaster commented on #5403
closing as this is out of date.

[2018-07-25 13:18] #5403 closed

[2018-07-25 13:18] jasonLaster commented on #6533
Lets create a new telemetry issue for open_file

[2018-07-25 13:19] #5134 closed

[2018-07-25 13:19] jasonLaster opened #6695 "[telemetry] open_file"
[code]

https://bugzil.la/1463108

[2018-07-25 13:20] jasonLaster commented on #5219
This is a dupe of #6279

[2018-07-25 13:20] #5219 closed

[2018-07-25 18:16] AnshulMalik commented on #6686
`overflow: none` [here](https://github.com/devtools-html/debugger.html/blob/master/packages/devtools-components/src/tree.css#L6) seems to resolve this, can you please verify?

[2018-07-25 20:03] jasonLaster opened #6700 "[SourceTree] add integration tests for keyboard arrow behavior"
We should test what happens when the user:

- **left arrow** on a closed directory
- **left arrow** on an open directory
- **left arrow** on a source
- **right arrow** on a closed directory
- **right arrow** on an open directory
- **right arrow** on a source
- **up arrow** on a directory
- **up arrow** on a source
- **down arrow** on a directory
- **down arrow** on a source
- **down arrow** at the

[2018-07-25 20:07] connorholyday commented on #5100
I'm happy to take on `source-documents`

[2018-07-26 00:59] Garbee commented on #6700
While someone is writing all these assertions here a few more that are helpful beyond just arrow keys:

* **home** takes you to the first node of the tree
* **end** takes you to the last node of the tree
* **enter** toggles the current selected node state if a parent item or trigger the nodes action if it is a leaf.

It also may be prudent to test things such as, right arrow on a leaf node does no

[2018-07-26 06:21] nchevobbe opened #6703 "Instrument inspection of "Jump to Definition" in the Web Console with event telemetry"
The function rep should call `props.recordTelemetryEvent` when the user click on the jump to definition icon.
The prop will be available when [Bug 1478366](https://bugzilla.mozilla.org/show_bug.cgi?id=1478366) lands in m-c, and the prob will be added in [Bug 1463101](https://bugzilla.mozilla.org/show_bug.cgi?id=1463101) (we need to also wait this one to land on m-c before making this change)

---

[2018-07-26 08:00] msiemens opened #6704 "Setting breakpoints in pretty-printed source code does not work"
**Browser version:** 63.0a1 (2018-07-26) (64-Bit) on macOS 10.12.6

**Steps to reproduce:**

1. Visit http://todomvc.com/examples/vanilladart/build/web/, open the dev tools debugger and open `examples/vanilladart/dart/app.dart.js`: ![screenshot 2018-07-26 09 56 44](https://user-images.githubusercontent.com/1873922/43249216-6eec6762-90ba-11e8-9275-9301f9710b59.png)
2. Pretty-print the code: ![scree

[2018-07-26 14:15] #5564 closed

[2018-07-26 18:29] jasonLaster opened #6706 "[sources] Angular 2"
Angular 2's todomvc's sources do not appear in the debugger. http://todomvc.com/examples/angular2/

I don't know if this is a systemjs thing, esmodule, or source maps...

STR  (added by @digitarald)
- Open Debugger on http://todomvc.com/examples/angular2/

AR: Application code isn't shown (e.g. `app.js`, `store.js`, etc)

<img width="256" alt="image" src="https://user-images.githubusercontent.com/

[2018-07-27 05:30] digitarald opened #6708 "[SourceTree] Blackbox files outside the Directory Root (Proposal)"
Story: When I work in a specific part of my project, I want to focus on the code in one target directory and ignore other files, so that I debug only files I care about and nothing else.

Making directory root behave more focused, what would be the effort to blackbox all files outside of the current directory?

Would there be any trade-offs that we should be aware of?

[2018-07-27 12:16] jasonLaster commented on #6708
1. we could do this fairly easily for apps without sourcemaps
2. in some ways i prefer not to blackbox, because we have frame groups so it is nice to see the library group in the call stack
3. the only way you'd pause initially one of these other files is a breakpoint/debugger statement which seems unlikely
3.a. avoiding stepping into a library could be nice, but i'd have to see how that feels in

[2018-07-27 15:32] darkwing commented on #6708
I've always taken the directory root feature to be more of a "don't visually distract me, in the tree, with files for which I don't care about right now", not as a blanket disable-all-the-other-things.  That said, we could add a blackbox icon in the directory root header, docked to the right, which would blackbox other things if it's really a desired feature.

[2018-07-27 17:07] #6466 closed

[2018-07-27 17:08] #6251 closed

[2018-07-27 18:21] darkwing commented on #6353
I've been able to duplicate this but I've not yet figured out why it's happening.  It almost appears as though the editor is staying at the last position scrolled to in the file instead of moving to the breakpoint, despite the breakpoint line being highlighted.

[2018-07-27 19:46] darkwing commented on #6704
Thank you for the report @msiemens !

I followed the steps cited and:

0. (remember I added a breakpoint to line 3)
1.  The ugly source opened first, with line 1 highlighted
2.  (2 seconds pass)
3.  The pretty tab opens, with line 1 highlighted
4.  No breakpoints display in the list on the right

[2018-07-27 20:10] #6693 closed

[2018-07-27 20:11] #6648 closed

[2018-07-27 20:19] kenjiO opened #6711 "[Tabs] feature to re-order editor tabs"
I thought it will be nice if people can re-order the tabs of the open files in the editor by dragging and dropping them.  I would like to try to implement this using the method used [for the toolbox tabs](https://searchfox.org/mozilla-central/source/devtools/client/framework/toolbox-tabs-order-manager.js).  Can you let me know your thoughts about this?

[2018-07-27 21:52] darkwing commented on #6711
Wow, that would be an awesome feature @kenjiO !  I'd love to see something like that :)

[2018-07-27 21:55] darkwing commented on #6685
There are two index.js files because the sourcemapped URL is the same as the ugly file.  We have an enhancement for that coming with https://github.com/devtools-html/debugger.html/pull/6548

[2018-07-28 19:49] kenjiO commented on #6711
/claim
Cool.  I'll be able to get started on it next week.

[2018-07-29 11:20] #5019 closed

[2018-07-29 12:54] jasonLaster commented on #6711
Thanks, after thinking about it. I love the feature, but I'm not sure if sharing the code makes sense. Let's see what it looks like on tabs.js

Also there's a great ticket for refactoring the trans redux logic. This might be a good prerequisite.  CC @bomsy

[2018-07-29 23:05] #6584 closed

[2018-07-30 11:37] AnshulMalik opened #6717 "Migrate to Circle CI 2.0"
Circle CI has been complaining for a while that 1.0 will no longer be supported after August 31, 2018.

So, we should migrate the config as well.

[2018-07-30 14:16] nchevobbe opened #6718 "[Sources] Vertical scrollbar is missing in the sourcepanel"
**Steps to reproduce**
1. open the debugger on a page with a good number of sources (any todomv exa,ples should do)
2. Reduce the debugger window height so the source panel should show a scrollbar

**Expected results**

There's a vertical scrollbar

**Actual results**

There's no vertical scrollbar:

![image](https://user-images.githubusercontent.com/578107/43402777-c7e8e758-9413-11e8-8990-f751adc

[2018-07-30 16:50] ganapativs opened #6720 "Node 10.6.0 - yarn install fails because of 'upath' package in development"
`yarn install` fails in development with `node 10.6.0` & `yarn 1.7.0`.

[code]

This issue is fixed by `upath` [here](https://github.com/anodynos/upath/pull/15).

**Additional info:**

Output of `yarn why upath`
[code]

This can be fixed by removing `yarn.lock` and re-creating by running `yarn`, but this will probably pull latest versions of some dependencies which might break things.

For now, I

[2018-07-30 17:11] digitarald commented on #6708
The main purpose of callstack collapsing is reducing noise (by avoiding massively bloated callstacks). While having the libraries sprinkled in so you can see how everything is glued together, not having the additional entries there and only reasoning about your own code also has some advantages.

Is there a middle ground that would give us blackboxing behavior of not stepping/breaking in the ignor

[2018-07-30 17:20] digitarald opened #6722 "Adapt tab overflow menu to photon style"
Correct style used in toolbar tabs:

<img width="365" alt="image" src="https://user-images.githubusercontent.com/8599/43412349-cf63a432-93e1-11e8-8f51-4688a59e0234.png">

Non-photon styling in debugger:

<img width="187" alt="image" src="https://user-images.githubusercontent.com/8599/43412396-f0549d72-93e1-11e8-894b-f387c8447582.png">

This work might consider re-using the component.

[2018-07-30 17:22] jasonLaster commented on #6722
- It would be nice to use the Popup component, which should help us place the triangle.
- Also might be nice to use the browser toolbox to inspect the toolboxes's model and copy some of the gradient and other styles.

[2018-07-30 17:29] digitarald commented on #6706
Same for react: http://todomvc.com/examples/react/ . Here JSX files are loaded live via JSXTransformer.js

[2018-07-30 19:33] wldcordeiro commented on #6722
Kinda wanna take this one, get myself back in the groove. 😄

[2018-07-30 19:34] wldcordeiro commented on #6717
The PR was merged, closing this issue.

[2018-07-30 19:34] #6717 closed

[2018-07-30 19:34] wldcordeiro commented on #6722
/claim

[2018-07-30 19:37] digitarald commented on #5663
Quickly hacking something in Inspector, this might be another more subtle formatting for the `sm` label

<img width="152" alt="image" src="https://user-images.githubusercontent.com/8599/43419162-121356a2-93f5-11e8-9aba-a8ac98679eb4.png">

There might even be enough space to make it an actual word (vs [sm](https://www.internetslang.com/SM-meaning-definition.asp)):

<img width="162" alt="image" src=

[2018-07-30 19:40] jasonLaster commented on #5663
yeah, i think we can do something with color too... like a stylized `JS` or an icon on the right.  With that said, I see this issue as mostly the business logic side, once we have this we can improve the look and feel.

[2018-07-30 19:42] joshunger commented on #5663
👍 I interviewed two developers when I was looking at this and both didn't understand what "sm" meant. 2 cents.

[2018-07-30 20:01] bomsy commented on #6711
The ticket @jasonLaster is probably referring to is #3279. it has some useful PRs that might need little to finish off.

[2018-07-30 20:12] digitarald opened #6725 "[Tabs] Visual jitter during file opening because of delayed icon"
STR:
- Open a file from sources
- Watch tab …

ER: Stable layout
AR: Icon pops in late and grows the tab

![screenflow](https://user-images.githubusercontent.com/8599/43420869-f49395b0-93f9-11e8-9944-6695d02f32d6.gif)

[2018-07-30 20:14] jasonLaster opened #6726 "[tests] dbg-sourcemaps-bogus is interimittent"
It looks like occasionally the selected source doesn't load. This has been going on for sometime and has been a slow burn

- bugzilla [bug](https://bugzilla.mozilla.org/show_bug.cgi?id=1447118#c35)
- history [treeherder](https://treeherder.mozilla.org/intermittent-failures.html#/bugdetails?startday=2018-06-01&endday=2018-07-30&tree=trunk&bug=1447118)
- sample [run](https://treeherder.mozilla.org/l

[2018-07-30 20:17] jasonLaster commented on #6725
We've discussed refactoring the tabs data structure for awhile now #3279. This would let us save the framework field for a tab so that on re-load it wouldn't have to re-calculate.

CC @kenjiO

[2018-07-30 20:41] darkwing commented on #6718
Yep, this happened with the accessibility stuff; `.sources-panel` has `overflow: hidden;` which is causing the problem.  Looking at it now

[2018-07-30 22:14] #6718 closed

[2018-07-30 23:28] #6726 closed

[2018-07-31 00:04] birtles commented on #6722
I'd suggest you try to re-use / appropriate as much as possible the components used in DevTools (specifically the `MenuItem` / `MenuButton` / `MenuList` / `HTMLTooltip` pieces). There are a lot of considerations which they cover (or are in the process of being fixed to cover) such as

* Platform-specific differences (Mac has rounded corners, other platforms do not; Mac uses fixed colors where othe

[2018-07-31 05:34] jainsneha23 commented on #6475
@jasonLaster I can reproduce this in master branch, but not in nightly.

[2018-07-31 05:34] jainsneha23 commented on #6473
/claim

[2018-07-31 05:38] ganapativs commented on #6720
I did re-create `yarn.lock` in local and looks like some `remark` dependencies are updated which breaks `lint:md` command with a warning.

[code]

I'm new to debugger.html project, yet to understand how things work here, so it would be nice if someone experienced actually fix development flow for `node 10+`.

Thanks :)

[2018-07-31 10:04] AnshulMalik commented on #6725
We can have a placeholder icon that is on by default, and when we know the framework, we update it.

CC @phoenixking25

[2018-07-31 13:44] #6704 closed

[2018-07-31 14:27] #6527 closed

[2018-07-31 14:28] jasonLaster commented on #6720
thanks. will do

[2018-07-31 14:33] jasonLaster commented on #6475
oh yeah, this is a launchpad bug.

[2018-07-31 14:33] #6475 closed

[2018-07-31 21:22] darkwing opened #6733 "[Pretty Print] Better format duplicate filename text"
We should incorporate logic that doesn't do the extended file information when they're the same file, only pretty-printed.

<img width="1057" alt="probs" src="https://user-images.githubusercontent.com/46655/43487660-e2897374-94dc-11e8-9025-a720a7299b82.png">

[2018-07-31 21:24] darkwing opened #6734 "Two Breakpoints Active in Secondary Pane"
I was resuming through breakpoints and saw that two of them were marked as active:

<img width="1057" alt="probs" src="https://user-images.githubusercontent.com/46655/43488092-37cb8b28-94de-11e8-99e7-8d912fa74ddd.png">

Only one should be active at a time.

[2018-07-31 23:49] kenjiO commented on #6711
I'll wait until #3279 gets finished then.  What still needs to be done for that one?

[2018-07-31 23:57] jasonLaster commented on #6720
So, I'm working on #6730 and it is quite challenging. Haha turns out upgrading all the dependencies in one go has some surprises...

[2018-08-01 05:36] ganapativs commented on #6720
@jasonLaster Please checkout http://npmjs.com/package/babel-upgrade to upgrade babel dependencies & `.babelrc` automatically.

[2018-08-01 05:47] phoenixking25 commented on #6725
/claim

[2018-08-01 05:57] wldcordeiro commented on #6722
Interesting @birtles are those components over on m-c or have they been added to devtools-core or the packages/ here in debugger?

[2018-08-01 11:04] birtles commented on #6722
I'm afraid they're in m-c. They have a dependency on HTMLTooltip which, in some configurations, uses XUL. Not sure if that's a problem.

Even if you can't use them directly, I think you can probably copy a fair few chunks of CSS / JS or at least use it as a starting point.

[2018-08-01 13:26] #6720 closed

[2018-08-01 13:29] jasonLaster commented on #6711
@kenjiO it was close, but everyone got busy...

https://github.com/devtools-html/debugger.html/pull/5672/files honestly is pretty old and we've come a long way since then. For instance we have much better flow types and no longer use Immutable for sources. If i were to start it now, I'd draw inspiration from it, but then start from scratch:

1) create a reducers/tabs.js file
2) separate tabs actio

[2018-08-01 14:52] phoenixking25 commented on #6725
/unclaim

[2018-08-02 07:55] AnshulMalik commented on #6725
Trying to work on this [here](https://github.com/devtools-html/debugger.html/compare/master...AnshulMalik:tabs?expand=1)

[2018-08-02 13:29] manu-4216 commented on #6549
As a workaround, in "Debugger" section, I disabled the settings  "Automatically Black Box Minified Sources" and "Auto prettify Minified Sources". This worked for me.

[2018-08-02 15:32] jasonLaster commented on #6549
thanks @manu-4216

[2018-08-02 20:00] jasonLaster commented on #6628
CC @ahuth still interested?

[2018-08-02 23:57] ahuth commented on #6628
Yes, @jasonLaster. Thanks for the reminder.

[2018-08-02 23:57] ahuth commented on #6628
/claim

[2018-08-03 14:27] #6605 closed

[2018-08-03 14:34] jasonLaster commented on #6589
I think this should be done in MC first and then we can pull it in later

[2018-08-03 14:34] #6589 closed

[2018-08-03 14:34] #6575 closed

[2018-08-03 14:34] jasonLaster commented on #6575
this is blocked on having node and transform-mc in MC

[2018-08-03 14:35] #6454 closed

[2018-08-03 14:36] jasonLaster commented on #6458
We've got a WhyPaused component. It is also easy to pause and check the state with `dbg.selectors.getPauseReason` or something similar to that because everything is in the redux store

[2018-08-03 14:37] jasonLaster commented on #6477
This should work now

[2018-08-03 14:37] #6477 closed

[2018-08-03 14:37] #6385 closed

[2018-08-03 14:38] #6371 closed

[2018-08-03 14:38] jasonLaster commented on #6371
![screen shot 2018-08-03 at 10 38 03 am](https://user-images.githubusercontent.com/254562/43648785-636c7fb2-9709-11e8-9c56-e28e73289978.png)

[2018-08-03 14:39] jasonLaster commented on #6360
![screen shot 2018-08-03 at 10 39 02 am](https://user-images.githubusercontent.com/254562/43648814-75784786-9709-11e8-83ab-0a679ce3123f.png)

[2018-08-03 14:39] #6360 closed

[2018-08-03 14:39] #6370 closed

[2018-08-03 14:40] jasonLaster commented on #6348
@reescott still interested?

[2018-08-03 14:40] jasonLaster commented on #6345
Hey @dimitardanailov still interested?

[2018-08-03 14:41] #6342 closed

[2018-08-03 14:42] #6331 closed

[2018-08-03 14:42] #6319 closed

[2018-08-03 14:43] #6046 closed

[2018-08-03 14:44] #5957 closed

[2018-08-03 14:46] jasonLaster commented on #5602
closing as we'll soon have native async stepping

[2018-08-03 14:46] #5602 closed

[2018-08-03 14:47] jasonLaster commented on #5047
I'm hacking on a better homepage, which will replace http://firefox-dev.tools/debugger.html/ . For now i think the docs are fine

[2018-08-03 14:47] #5047 closed

[2018-08-03 14:47] #5030 closed

[2018-08-03 14:49] jasonLaster commented on #4440
This will be faster with lazy-scripts, but we can still do better

[2018-08-03 14:50] jasonLaster commented on #4440
it's pretty fast now

[2018-08-03 14:50] #4440 closed

[2018-08-03 14:52] jasonLaster commented on #4233
closing as this is not a priority. We can always send people here if they are looking for a refactor/code health project

[2018-08-03 14:52] #4233 closed

[2018-08-03 14:52] jasonLaster commented on #4075
Hey @ahuth what are your thoughts on the editor tabs? feasible?

[2018-08-03 14:53] jasonLaster commented on #3800
Closing as there's only one feature left

[2018-08-03 14:53] #3800 closed

[2018-08-03 14:53] jasonLaster commented on #3792
Moving to the icebox

[2018-08-03 14:53] #3792 closed

[2018-08-03 15:22] darkwing commented on #6578
I pinged this bug https://bugzilla.mozilla.org/show_bug.cgi?id=1211397 for help

[2018-08-03 15:24] #6645 closed

[2018-08-03 15:44] darkwing commented on #6628
Thank you for taking this @ahuth!  Let us know if we can help!

[2018-08-03 15:46] darkwing commented on #6580
How is this going @bomsy?  Anything we can look at or help with?

[2018-08-03 15:47] darkwing commented on #6144
Is this complete @nchevobbe ?

[2018-08-03 15:50] #6005 closed

[2018-08-03 15:54] darkwing commented on #5926
I fixed this a while back.  yay!

[2018-08-03 15:54] #5926 closed

[2018-08-03 15:55] darkwing commented on #5910
The "+" button is now focusable

[2018-08-03 15:55] #5910 closed

[2018-08-03 16:00] #5886 closed

[2018-08-03 16:03] #5072 closed

[2018-08-03 16:08] #3080 closed

[2018-08-03 16:14] nchevobbe commented on #6144
No, we still need to discuss properly of the UX here and why people would want that.

[2018-08-03 17:25] bomsy commented on #6580
hey @darkwing  i'm halfway thru it, will finish it up this weekend!

[2018-08-03 19:17] darkwing commented on #4200
Can confirm this is still an issue.  I get why it may be a timing issue but the console statement's breakpoint should get hit at some point

[2018-08-03 19:41] #4453 closed

[2018-08-03 20:18] darkwing commented on #5022
Could not reproduce this on Windows.

[2018-08-03 20:18] #5022 closed

[2018-08-03 20:20] digitarald opened #6744 "Search highlight creates multiple blocks for same search term"
STR:
- https://bl.ocks.org/ColinEberhardt/raw/6ceb7ca74aabac9c8534d7120d31b382/
- Open js file
- Search for `wasm.`

AR: Search highlights `wasm` and `.` as separate boxes. Gets worse for `wasm.s`, creating 3 boxes.

<img width="240" alt="screenshot 2018-08-03 13 17 17" src="https://user-images.githubusercontent.com/8599/43663788-90c56aa8-971f-11e8-9f0c-a30883d5258a.PNG">

[2018-08-03 20:20] darkwing opened #6745 "about:home's sole document has no title in the source tree or tab"
Open `about:home` and see:

<img width="862" alt="noname" src="https://user-images.githubusercontent.com/46655/43663915-b54aad14-9730-11e8-8a02-02fc7960f80a.png">

This seems like another place we can use `index`

[2018-08-03 20:22] jasonLaster opened #6746 "[pause] currentScope.bindings is undefined"
[code]

[2018-08-03 20:27] digitarald opened #6747 "Navigating callstack conflicts with search result focussing"
STR:
- Open Debugger on https://bl.ocks.org/ColinEberhardt/raw/6ceb7ca74aabac9c8534d7120d31b382/
- Open JS file
- Search for `wasm.`
- Pause and step until it hits WASM code (look for `wasm2` methods)
- Step between WASM code and JS in callstack

25% speed:

![screenflow](https://user-images.githubusercontent.com/8599/43664164-c5c1fdd8-9720-11e8-8723-dd3bec72c376.gif)

[2018-08-03 20:39] darkwing commented on #6745
Here's a head start on this:

[code]

We'll probably want to add a jest test and possibly think about a case where we'd accept the URL being "".

[2018-08-03 21:41] ahuth commented on #4075
The current UX is definitely feasible. The hard part I think will be that the implementation needs to be changed pretty significantly for them.

[2018-08-03 22:44] digitarald opened #6750 "Active file in source pane is sometimes not selected"
STR:
 - Debug on https://debugger-example-typescript-react.glitch.me/ , src directory to `webpack/src`
 - Click `index.tsx`, click `App.tsx`, repeat

At some points, the file gets opened but the selection in source pane isn't set.

![screenflow](https://user-images.githubusercontent.com/8599/43668837-e7d05b6e-9733-11e8-88f0-6160a138f45e.gif)

[2018-08-03 23:12] darkwing commented on #5514
I started looking at this:

[code]

When you switch back to the Sources tab, only the `constructor` runs, so focused item / highlighting doesn't happen.

This snippet doesn't fix the issue but it's a start in the right direction!

[2018-08-03 23:54] jasonLaster commented on #4075
got it

On Fri, Aug 3, 2018 at 5:41 PM Andrew <notifications@github.com> wrote:

[2018-08-04 05:13] digitarald opened #6753 "Framework icons only load on file openings and cause visual jitter"
Adding jitter to #6725, which was about the tabs.

STR:
- Open Debugger on https://debugger-example-typescript-react.glitch.me/
- Open of the ts files in webpack

React icon loads after the file loaded, with layout jitter in the source pane.

![screenflow](https://user-images.githubusercontent.com/8599/43672796-5c61f15a-976a-11e8-8154-400fca69755e.gif)

[2018-08-04 06:36] digitarald opened #6754 "Page load breakpoint pausing performance audit"
A meta-collection of performance issues for collaborative analysis.

4x slower recording as the reference, uses a project created with [TypeScript-React-Starter](https://github.com/Microsoft/TypeScript-React-Starter) (aka very little react app) on a 15" MBP:

![screenflow](https://user-images.githubusercontent.com/8599/43672978-4cdbcd82-976f-11e8-90ac-3f64561c6ed8.gif)

Profile including workers:

[2018-08-04 07:59] juliandescottes opened #6755 "Package "url" is still vendored after #6678"
I think we can remove "url" from vendors.js

[2018-08-04 11:48] darkwing commented on #6753
My understanding is that we don't know about placing the React icon until we analyze the source, which I don't believe we load until the tab is opened.

I suppose we could automagically assign that icon for `tsx` files (?)

[2018-08-04 16:02] jasonLaster commented on #6753
Yeah, i think we can do three things:

1. assign it based on tsx, jsx
2. persist the information on load
3. do something special with original files [1]

[1] the client has the original source text in the map, which means that we do not need to load the source text from the server. At that point, the only slowdown is parsing the file to determine the framework. I think we can probably stop parsing

[2018-08-05 22:15] jbhoosreddy opened #6761 "stepping bug: debugger skips to the end of the function"
AR: The debugger skips to the end of the function
ER: The debugger pauses on line 51
![](http://g.recordit.co/Hgs4kRg2Ge.gif)

[2018-08-06 04:36] digitarald opened #6762 "[OriginalLanguages] Create React App doesn't offer a full source map experience"
https://firefox-debugger-example-create-react-app.glitch.me/

<img width="1002" alt="image" src="https://user-images.githubusercontent.com/8599/43696888-1a3d986a-98f5-11e8-8efa-6060e8d42bd1.png">

- [x] Callstack collapsing works
- [ ] Variables are not mapped
- [ ] JS files are not stacked in `webpack://`, just CSS files
- [ ] `App.js` is paused in `render` but callframe is folded under React's `

[2018-08-06 05:02] nchevobbe commented on #6753
Could we have a transparent item that takes the place of the possible
future icon ? This way it doesn't "jump" when the icon is displayed.

Le sam. 4 août 2018 à 18:02, Jason Laster <notifications@github.com> a
écrit :

[2018-08-06 08:00] s-pace commented on #5047
👋 @jasonLaster

I can recommend you to use [vuepress](https://vuepress.vuejs.org/) or [docusaurus](https://docusaurus.io/). It does the job.

You can also fill the form from [our home page](https://community.algolia.com/docsearch/) if you want me to grant you access to the full algolia analytics we do provide.

Cheers

[2018-08-06 12:38] #6755 closed

[2018-08-06 12:43] jasonLaster commented on #6753
The jump is because a tab with an icon in ~15px wider. I think it would look off to have the 15px and no tab.

[2018-08-06 14:11] jaikathuria commented on #6670
@nchevobbe can you please help me reproduce the issue because I was able to get the **Expected results**
![2018-08-06 19 38 36](https://user-images.githubusercontent.com/13422807/43721481-83a1f560-99b0-11e8-86d4-9e9982388f7d.gif)

[2018-08-06 15:57] krvajal commented on #6745
/claim

[2018-08-06 17:35] jasonLaster commented on #6670
@jaikathuria interesting. I still see in the panel.
I wonder what is different...

![screen shot 2018-08-06 at 1 35 29 pm](https://user-images.githubusercontent.com/254562/43731785-9c452da4-997d-11e8-9fcc-4d7c66945c31.png)

[2018-08-06 17:37] #6746 closed

[2018-08-06 20:45] jasonLaster commented on #6762
here's a local github version https://github.com/jasonLaster/tic-tac-toe. Note, i also updated babel to babel 7...

[2018-08-06 20:48] #6279 closed

[2018-08-06 23:09] kenjiO commented on #3279
/claim

[2018-08-07 02:30] jaikathuria commented on #6670
I don't know if OS and Browser could make a difference here, I am on High Sierra 10.13.4 and my broswer is Firefox Version 61.0.1 (64-bit)

[2018-08-07 08:16] juliandescottes opened #6769 "Cleanup questionable logs and errors"
https://github.com/devtools-html/debugger.html/search?q=WTF&unscoped_q=WTF

Unless `WTF` has a very secret technical meaning, I don't think we want this to appear on users' terminals, browser console etc...

[2018-08-07 12:05] jasonLaster commented on #6769
feel free just to open small PRs

[2018-08-07 12:05] #6769 closed

[2018-08-07 15:36] darkwing opened #6771 "[Breakpoints] Use `loading` property"
At present the Breakpoint object has a `loading` property but it doesn't appear we're actually using it anywhere; i.e. it default to false and never changes.

Ideally we default the value to `true` and then set to `false` when the server returns successful breakpoint syncing.

Once this is working properly, we can update `breakpointSources.js`'s `getBreakpointsForSource` function to check for `!bp

[2018-08-07 17:58] darkwing commented on #4852
I recall being able to reproduce this in the past but I cannot reproduce with a fresh build off of master.

[2018-08-07 18:14] juliandescottes commented on #6769
I know but there is always a chance I won't fix it :) So I prefer to have an issue logged so that someone else can pick it up

[2018-08-07 18:49] #5570 closed

[2018-08-07 19:24] jasonLaster opened #6772 "[stepping] step over misses a location in mapExpression"
STR:

1. set a breakpoint in the browser toolbox worker/parser/mapExpression.js
2. add a console.log in the content toolbox
3. pause in mapExpression
4. step over a couple of times, observe some of the IF statements are missed

[2018-08-07 21:31] jasonLaster commented on #6400
This is optimized out

STR:

1. add a breakpoint in SourceTreeItem.js#renderItemName
2. reload a page

![screen shot 2018-08-07 at 5 30 24 pm](https://user-images.githubusercontent.com/254562/43803740-a58c0af0-9a67-11e8-8655-90fe466f46d0.png)
![screen shot 2018-08-07 at 5 30 21 pm](https://user-images.githubusercontent.com/254562/43803741-a59df152-9a67-11e8-86ee-8ffdc3d3ac1a.png)

[2018-08-07 21:39] violasong commented on #6631
This arrow icon, horizontally flipped, could be used for current frame indicator
https://bugzilla.mozilla.org/show_bug.cgi?id=1479861#c7

Mockup: https://mozilla.invisionapp.com/share/N6K0U23U3ZP

[2018-08-08 00:22] digitarald opened #6774 "Hyperactive debugger in background tab"
STR:
- Open https://connorholyday.github.io/angular-pig-latin/ and Debugger
- Put in background tab and just browse the web

Debugger causes 120-140ms hangs on main thread every. Fan spinning 🔥.

https://perfht.ml/2vMg3HM (this profile has 2 other occurrences, zoom out to see more)

[2018-08-08 00:40] jasonLaster commented on #6774
yep, we'll have to clean up some of this perf. Good news is that some of this work is already underway

[2018-08-08 02:01] darkwing commented on #5083
We're above this version.

[2018-08-08 02:01] #5083 closed

[2018-08-08 02:15] #6403 closed

[2018-08-08 02:52] digitarald commented on #6774
@jasonLaster which tickets would be relevant that we should mention here?

[2018-08-08 04:44] darkwing commented on #5514
I got a bit further with this:

[code]

This is one step further -- when switching back to the Sources tab, the opened/focused tab is highlighted in the SourcesTree.  I spotted a few issues though:

1.  Only the filename was highlighted, not the entire width of the Item relative to the SourcesTree, which is odd.  Click the item and the entire row is highlighted.  Weird.

2.  If you click to highli

[2018-08-08 05:25] jainsneha23 commented on #6733
@darkwing Have you thought on the behavior is the path name is too large? Should we truncate as we do for the filenames?

[2018-08-08 06:12] jaikathuria commented on #6733
I guess something can be done here for large paths but truncate them won’t be good idea. Assume the following case when paths are

[code]

If we truncate both for say 15 length the main difference between two paths that we actually want to display to differentiate between the files would be missing.
Just my thoughts 🙄

[2018-08-08 06:43] juliandescottes commented on #4852
Can't reproduce either on the latest Nightly, this seems fixed. Maybe a codemirror update?

[2018-08-08 12:48] #5815 closed

[2018-08-08 13:28] jasonLaster opened #6777 "Quality Sprint (64)"
This is a follow up issue for #6399

### Performance

- [x]  Storing too much data into devtools.debugger.tabs pref #6546 🏃
- [x]  Delay when opening debugger on reddit #6828
- [x]  Debugger in background causes hangs #4896

### Breakpoints / Stepping

- [x]  [Preview] preview can initially lag #6868 🏃
- [x]  [Preview] immutable records in a react component are not shown #6694

### SourceMaps

- [

[2018-08-08 14:18] #4852 closed

[2018-08-08 16:02] darkwing commented on #6733
I'm wondering if there's a logical way to identify the difference between the two paths and show that, i.e. project2 vs project 3 in @jaikathuria 's example.

[2018-08-08 16:06] jasonLaster commented on #6733
hmm, if the preceding part is long  we could show `.../abc/project2/...`

@jainsneha23 is this easy to modify with your existing logic?

[2018-08-08 18:15] kenjiO opened #6781 "[Tabs] Closing a non-selected tab changes the selected tab"
STR:
  Open debugger on https://firefox-dev.tools/debugger-examples/examples/todomvc/
  Open any 3 of the source files in the editor.
  The left most tab in the editor is the most recent and selected file.
  Click the close button on the first opened file which is the far right tab

ER:
  The currently opened file does not change

AR:
  The currently opened file changes from the most recently open

[2018-08-08 18:36] #3279 closed

[2018-08-08 18:56] jasonLaster commented on #6400
Looks like create react app is having some issues with the mappings:
https://github.com/devtools-html/debugger.html/issues/6762

[2018-08-08 19:24] jens1o opened #6783 "Setting a breakpoint doesn't do anything and doesn't work in general."
STR:

1. Hover over a line in a pure-js file:
![image](https://user-images.githubusercontent.com/11234139/43859592-59499f3c-9b51-11e8-9afa-e5872f808540.png)
(https://bugzilla.mozilla.org/show_bug.cgi?id=1478184)
2. Click it.
3. See it is active, and a moment after it goes back to hover state(nothing changed). When calling this method by hand, there is no breakpoint set.

[2018-08-08 21:08] jasonLaster commented on #6783
Thanks for filing. Also,  I love that the STR is bugzilla :)

[2018-08-08 21:09] jens1o commented on #6783
So you can reproduce it?

[2018-08-08 21:10] jasonLaster commented on #6783
hmm, it looks okay for me

![screen shot 2018-08-08 at 5 09 43 pm](https://user-images.githubusercontent.com/254562/43864512-e300050a-9b2d-11e8-911b-f86dfd780273.png)

[2018-08-08 21:11] jens1o commented on #6783
What can I do for you? It's appearing everywhere, but I hope that this was a known flaw, and didn't reported it any earlier(saw this for over two months now).

[2018-08-08 21:16] jens1o commented on #6783
When I have the browser console opened, I see the following error happen at the very same time I click it, although it does not have a stacktace:
[code]

I'm on latest Nightly, with the latest release of this project.

[2018-08-08 21:17] jens1o commented on #6783
It forwards me to this:
![image](https://user-images.githubusercontent.com/11234139/43864885-3bf31b38-9b61-11e8-9288-f59e7a06c28c.png)

Maybe this helps you tracking down the stacktrace?

[2018-08-08 22:07] jasonLaster commented on #6783
I think this is a duplicate of this bug:
https://github.com/devtools-html/debugger.html/issues/6328

We should be able to check to see if sourceMaps exists

[2018-08-08 22:12] jens1o commented on #6783
I'm sorry, but `Enable Source Maps` is not checked in the settings.

Although when I click it, it works, and when I deactivate the setting, it works again. Perhaps it was in a invalid state?

Anyway, thanks for helping me!

[2018-08-08 22:12] #6783 closed

[2018-08-08 22:14] jens1o commented on #6783
Okay, it is working on GitHub, but not on my original STR. :|

Hopefully #6328 will be fixed, soon. :/

[2018-08-08 22:17] jasonLaster commented on #6783
yep. sourcemaps need to be enabled.

so here is a quick proof of concept - https://github.com/devtools-html/debugger.html/compare/master...jasonLaster:sm-disabled?expand=1

I'll prioritize landing this soon

[2018-08-09 06:50] Rohanhacker commented on #6734
/claim

[2018-08-09 14:14] janodvarko opened #6786 "TypeError: source is undefined"
One of the top error appearing in Sentry (>20 times a day, Nightly) is:

[code]

https://sentry.prod.mozaws.net/operations/nightly-js-errors/issues/4527417/

Sentry doesn't provide STR, but this might be good test whether/how the service is useful for increasing stability & quality.

Is this known issue?

Honza

[2018-08-09 15:23] wldcordeiro commented on #6722
I've got a local branch of this now, been looking over the contents in m-c and copied what could be used. Gonna wrap up this weekend if things go as planned.

[2018-08-09 18:03] #6781 closed

[2018-08-09 19:37] jasonLaster opened #6789 "[Editor] highlights selected line on reload"
STR:

1. pause somewhere
2. refresh

ER: see the source
AR: see the source and see the old pause location highlighted

![](http://g.recordit.co/qYa0mYmi6m.gif)

[2018-08-09 20:19] jasonLaster commented on #6761
Okay, so this bug is pretty wild:

1. we get the pause points for the original code
2. we do not get the pause points for the generated code (bundle)
3. we pause here via the server `const /*here*/breakpoints`
4. the client sees that this is an original location with an empty pause point and says, i dont want to pause there
5. the server continues to the next line

[code]

There are two options:

[2018-08-09 22:02] darkwing opened #6790 "Extra Slashes in Paths"
I'm seeing extra slashes displaying in a few cases:

<img width="643" alt="slashes3" src="https://user-images.githubusercontent.com/46655/43928256-d7d38ee0-9bf5-11e8-94de-5b384991a366.png">

<img width="731" alt="slashes" src="https://user-images.githubusercontent.com/46655/43928264-e2195bf0-9bf5-11e8-9018-50608917abb7.png">

[2018-08-10 01:02] digitarald opened #6792 "Framework collapsing also collapses user-land component"
STR:
- Debug https://firefox-debugger-example-create-react-app.glitch.me/ with Pause on Exception
- Set an X and try to set an O on the same field to raise an error

ER: `handleClick` has its own frame in the callstack
AR: `handleClick` is part of a collapsed React callstack entry

<img width="921" alt="image" src="https://user-images.githubusercontent.com/8599/43933351-1b7b9bf8-9bfe-11e8-8a0f-db1

[2018-08-10 05:24] digitarald opened #6793 "vue.js detection misses alternative file names"
Tested with a vue-cli starter kit, outputs `vue.esm.js`. Other names are possible as well: https://vuejs.org/v2/guide/installation.html#Explanation-of-Different-Builds

STR:
- Debug https://firefox-debugger-example-vue-cli.glitch.me/
- Pause in `webpack:///HelloWorld.vue`

AR: The internal callstack is not collapsed.
ER: vue.js callstack is being collapsed.

<img width="658" alt="image" src="https

[2018-08-10 13:18] jasonLaster commented on #6793
We'll also want to update this -- https://github.com/devtools-html/debugger.html/blob/master/src/workers/parser/frameworks.js

[2018-08-10 14:33] darkwing commented on #6790
This started happening when we switched to `new URL` instead of the using the `url` lib.  Webpack, oddly enough, uses three slashes to begin its URLs:

For example:

```webpack-internal:///../rbd/pnpm-volume/144384a5-85d9-4142-b9b9-168eea22eb97/node_modules/.registry.npmjs.org/fbjs/0.8.17/node_modules/fbjs/lib/isNode.js```

... returns a pathname of:

```///../rbd/pnpm-volume/144384a5-85d9-4142-b9

[2018-08-10 18:57] emmairwin opened #6798 "The Code of Conduct link on the Slacken page, goes to Github 404"
The Code of Conduct link on the Slacken page, goes to Github 404

1. Link from README.md directs people to https://devtools-html-slack.herokuapp.com/
2. Which has checkbox to agree to the Coc and and a link to the COC.
3. That [link](https://github.com/devtools-html/debugger.html/blob/master/CODE_OF_CONDUCT.md) does not go to COC

[2018-08-10 19:17] jaikathuria commented on #6771
Maybe, I have solved the first part of the issue. Now by the default value for loading will be `true` and then `false` when the `addBreakpointPromise` promise completes i.e. the server returns successful breakpoint syncing.

<img width="508" alt="screen shot 2018-08-11 at 12 29 56 am" src="https://user-images.githubusercontent.com/13422807/43976922-0cb13710-9d00-11e8-9d85-ad7bd4057b1e.png">

@dark

[2018-08-10 22:15] darkwing commented on #6789
This is happening because of `HighlightLine.js`'s `setHighlightLine` function; the conditionals in `setHighlightLine` and `shouldSetHighlightLine` aren't preventing this from happening on initial load.  A few notes:

## setHighlightLine

* `selectedLocation` does have a value:
[code]
* `selectedFrame` has a value:

[code]
* `selectedSource` is the source of the opened tab

Upon load, if there's no

[2018-08-10 23:01] dczombera commented on #6793
I just saw @darkwing's tweet referring to this issue. I'd love to help you out since I really appreciate all the work you are doing at mozilla and I also want to support the vue project wherever I can.
I hope you don't mind if I start working on it tomorrow, even though I have never touched this project before. :anguished:

[2018-08-10 23:03] darkwing commented on #6793
Welcome to the team @dczombera !  Setup should be fairly simple and feel free to stop by our Slack (https://devtools-html-slack.herokuapp.com/) for help!  Thank you for the help @dczombera !

[2018-08-10 23:05] digitarald commented on #6793
Correct, the file logo idn't set for the component generate by vue-cli (v3 in the case of this screenshot)

<img width="444" alt="image" src="https://user-images.githubusercontent.com/8599/43984710-13d94be8-9cb7-11e8-8d98-b3eaac4bc02e.png">

[2018-08-11 01:43] DZuz14 opened #6802 "WebDriverError: Connection Refused."
I just started messing around with debugger.html, and it keeps crashing on me. I can usually type: `yarn start` and get the webpack dev-server running on http://localhost:8000 and use the debugger to inspect a site for a few minutes.

However, it keeps crashing with this error message in my terminal.

<img width="857" alt="screen shot 2018-08-10 at 9 41 20 pm" src="https://user-images.githubuserco

[2018-08-11 10:30] dczombera commented on #6793
/claim

[2018-08-11 16:05] fvsch opened #6803 "Consistent top bar height and baseline alignment"
Two spacing issues with the debugger's top bars:
![debugger-top-bar-height](https://user-images.githubusercontent.com/243601/43991513-c8529df6-9d6e-11e8-985d-3dd72bd1a01e.png)

1. The top bar height *excluding borders* in the Debugger is 29px. Compare to the DevTools tab bar’s 28px. That’s not a huge difference, but it would be nice to be fully consistent.

2. The file tab labels are 2px too low,

[2018-08-11 16:51] fvsch opened #6804 "Rows are not visually aligned when switching from "Sources" to "Outline""
This is a visual consistency bug.

- The "Sources" content has 0px of vertical padding.
- The "Outline" content has 10px of vertical padding.

That bit of UI would feel more polished if content didn't jump up and down when switching between those two tabs. Maybe use a common vertical padding like 4px?

[2018-08-11 16:54] fvsch commented on #6631
Would be happy to pick it up in the next week(s).

@violasong Do we have a guideline for alignment in the devtools? Things like toolbar height, item height, distance from edges? I believe we should use multiples of 4px as suggested in https://design.firefox.com/photon/visuals/grid.html

For the vertical rythm, Photon recommends 32px rows, but the DevTools seem to use smaller lines:
- 28px for the

[2018-08-11 17:12] huoxito commented on #5100
hey all any chance someone could check the items already implemented pls?

I was going through the list and I see spec files for all items in _src/Components, src/components/PrimaryPanes_. The _src/utils/_ list seems to be missing only _result-list, source-maps, source-queue_.

I want to give a try on [result-list](https://github.com/devtools-html/debugger.html/blob/3a530479dd10ed05a0394e714153dcb

[2018-08-11 20:19] zlypher opened #6807 ""Debugging Firefox Guide" link is broken in CONTRIBUTING.md"
The link "guide" in the CONTRIBUTING.md file leads to a 404 page.

Link can be found here: https://github.com/devtools-html/debugger.html/blob/master/.github/CONTRIBUTING.md#debugging-firefox

Currently links to: /devtools-html/debugger.html/blob/master/.github/docs/debugging-firefox.md
Should probably link to: /devtools-html/debugger.html/blob/master/docs/debugging-firefox.md

[2018-08-12 17:47] AnshulMalik commented on #6807
Nice find. Thanks.

And feel free to stop by in slack (https://devtools-html-slack.herokuapp.com/)

[2018-08-12 17:47] #6807 closed

[2018-08-13 12:38] jasonLaster commented on #5100
@huoxito result-list would be great.

[2018-08-13 12:40] #6353 closed

[2018-08-13 12:42] #6772 closed

[2018-08-13 14:33] fvsch commented on #6631
For the record, the Console uses `font-size:11px; line-height: 16px;` for code input.

Trying out a 16px line-height in the Debugger’s CodeMirror view, I quite like it. Works great with Menlo on mac. It does mean showing 12% fewer lines at a time, though.

[2018-08-13 19:11] darkwing commented on #6804
Great attention to detail @fvsch !

[2018-08-13 19:12] darkwing commented on #6802
@DZuz14 That's frustrating :( .  I saw that recently and everything worked again when I `rm-rf node_modules` and re-installed.

[2018-08-13 19:14] darkwing commented on #6798
Ahh yes @emmairwin , good spot!  @jasonLaster Do you know where/how we can set that link to:

https://github.com/devtools-html/debugger.html/blob/master/.github/CODE_OF_CONDUCT.md ??

[2018-08-13 19:14] #6793 closed

[2018-08-13 19:29] darkwing commented on #6790
Got an answer here:  https://twitter.com/wSokra/status/1027995652360482820

Since this isn't something *we* can config, it isn't a bug on our side.  That being said, it would be nice to figure out a more elegant way of expressing this path.

[2018-08-13 19:40] jasonLaster commented on #6798
hmm lets see if @clarkbw knows

[2018-08-13 21:47] darkwing commented on #6804
The fix likely needs to be made in:

- src/components/PrimaryPanes/Sources.css
src/components/PrimaryPanes/Outline.css

[2018-08-13 22:17] RichDonnellan commented on #6804
/claim

[2018-08-13 22:35] jbhoosreddy commented on #6761
@jasonLaster I legit spent a day trying to figure out what was going on here.

[2018-08-13 22:44] jasonLaster commented on #6761
Yea - this is a wild one. I'll be talking to Jim about it tomorrow at 11:30am ifyou're free

[2018-08-13 22:50] danwulff opened #6815 "claim bot contains 404 link (contributing.md)"
**Problem:**
The automated claim bot has an invalid link to the **contributing** guidelines.

This invalid link can be witnessed here: https://github.com/devtools-html/debugger.html/issues/6804#issuecomment-412683878

**Possible solution:**
I believe the proper contributing URI is: https://github.com/devtools-html/debugger.html/blob/master/.github/CONTRIBUTING.md

Please update the claim bot to po

[2018-08-14 11:07] jainsneha23 commented on #6733
@jasonLaster @darkwing @jaikathuria
We also have very long paths like in www.google.com, which made me feel like truncating.
@jaikathuria  your example also makes sense.
So, we have 2 cases here.

<img width="1414" alt="screen shot 2018-08-14 at 4 36 03 pm" src="https://user-images.githubusercontent.com/8366397/44088287-3851dbc6-9fe0-11e8-80d1-667cc0a6ae3b.png">

[2018-08-14 12:46] jasonLaster commented on #6786
The stack trace shows that the error is for the old debugger

[2018-08-14 12:46] #6786 closed

[2018-08-14 13:02] jasonLaster opened #6819 "[scopes] map this in the debugger"
It's currently possible to see  "This is optimized out" in the console when you're paused and this is not used.

STR:

1. add a breakpoint in SourceTreeItem.js#renderItemName
2. reload a page

The easiest way to do this is in the browser toolbox, but perhaps the launchpad would work too

![screen shot 2018-08-07 at 5 30 24 pm](https://user-images.githubusercontent.com/254562/43803740-a58c0af0-9a67

[2018-08-14 13:04] jasonLaster opened #6820 "[scopes] Improve Variable Mapping UI"
Tools like CRA use line-based mappings. We should detect it and notify the user that they should change their source map mode to something else for better variables

Looks like create react app is having some issues with the mappings:
https://github.com/devtools-html/debugger.html/issues/6762

---

This was caused by create-react-app using cheap-module-source-map, which has inline source maps. We

[2018-08-14 13:25] jasonLaster commented on #6733
i think we should drop query strings from paths. perhaps show them for titles where you want more info...

[2018-08-14 14:11] #5663 closed

[2018-08-14 14:13] darkwing opened #6821 "Provide [sm] Style Enhancement"
We recently added support for sourcemap files with the same URL as the minified file.  At the moment, we only show "[sm]" next to the file name in the sources tree, but it would look better with a bit more styling, a la:

<img width="162" alt="43419230-3a1ca270-93f5-11e8-8399-0600f9b27134" src="https://user-images.githubusercontent.com/46655/44096955-34191be8-9fa2-11e8-8457-e834d593e05f.png">

You

[2018-08-14 14:33] ekaoddlass commented on #6821
/claim

Hi, I would like to try this! Is this still available?

[2018-08-14 14:47] darkwing opened #6822 "Fix [sm] tabs"
Test site:  https://q7mmol9xy9.codesandbox.io/

The legendary @jasonLaster created functionality so that sourcemaps that share a URL with the minified URL can both display in the sources tree.  Unfortunately that breaks tabbing a bit; tabs don't display in the tab bar for the `[sm]` sources.

Instead of storing tabs as an array of URL strings, we should store them as:

[code]

[2018-08-14 16:45] ekaoddlass commented on #6821
/unclaim

[2018-08-14 17:00] #6028 closed

[2018-08-14 17:47] digitarald opened #6824 "Discussion: Coherent labeling for mapped files"
#5663 landed labels for source mapped files, with some discussion around how to mark them. Following Chrome's decision for now, using `[sm]` doesn't seem ideal and we can do better.

The labeling needs to be used in the source pane and source tabs. It should probably be used in other source mapped interfaces (can be toggled between generated/original), like callstacks and variable view.

Proposals

[2018-08-14 17:48] digitarald commented on #5663
Continuing the interface discussion in https://github.com/devtools-html/debugger.html/issues/6824. Please share your thoughts there.

[2018-08-14 18:58] digitarald commented on #6708
Started a poll: https://twitter.com/FirefoxDevTools/status/1029432334179651584

[2018-08-14 18:58] digitarald commented on #6708
@jimblandy maybe you could help shine some light on:

[2018-08-14 19:01] clarkbw commented on #6798
If we update the https://github.com/devtools-html/slack-invite-automation repo / config it should work.  Lemme take a look at my heroku dashboard first.

[2018-08-14 19:15] clarkbw commented on #6798
Fixed! 🎉

It was in the settings ( https://dashboard.heroku.com/apps/devtools-html-slack/settings ) under the `SLACK_COC` env.  @jasonLaster and @digitarald should also have access to this heroku instance and can invite others as needed so I'm not a point of failure here.

A troubling revelation here was that our fork of this repo doesn't include the changes which are present in Heroku.  It would

[2018-08-14 21:11] jasonLaster commented on #6815
This should be fixed now. Lets see

[2018-08-14 21:11] jasonLaster commented on #6815
/claim

[2018-08-14 21:11] jasonLaster commented on #6815
/unclaim

[2018-08-14 21:11] #6815 closed

[2018-08-14 21:17] digitarald opened #6828 "Delay when opening debugger on reddit"
STR: Open Debugger on reddit homepage.

Interesting bits:
- 25% of a 2.5s hang spend in GC (mostly in `updateSource`): https://perfht.ml/2w7m5Ts
- 350ms for loading debugger resources: https://perfht.ml/2KY8OSI

Profile with a fresh Firefox install: https://perfht.ml/2Mk2ASI

[2018-08-14 21:39] jasonLaster commented on #6828
hmm, i couldn't load the profiles. You'll be happy to know though that `updateSource` will be gonzo soon

[2018-08-14 21:39] digitarald opened #6829 "Broken interactions & rendering in Source Map"
STR:
- Open reddit.com and Debugger on a fresh profile
- Click through Webpack folder (all non-existent source files from reddit ads)

AR: Things go haywire at some point, with files duplicating and being unclickable.

![screenflow](https://user-images.githubusercontent.com/8599/44119982-b3004f3a-9fcf-11e8-8b60-9e93d0bf81ba.gif)

State after a plain refresh, `bootstrap` is already duped several ti

[2018-08-14 21:41] darkwing commented on #6829
I'm fairly certain this is the sourcemaps stuff that @jasonLaster has just completed

[2018-08-14 21:46] digitarald opened #6830 "Improve display for broken source mapped files, linking to non-existent files"
Tested by opening https://www.reddit.com/ with a fresh profiles.

https://www.redditstatic.com/desktop2x/ProductionClient~Reddit.4a8007f7f7b25b718d6e.js ships with a source map, but original sources missing.

<img width="923" alt="image" src="https://user-images.githubusercontent.com/8599/44119829-35a36496-9fcf-11e8-85c7-3c6d3ef56c97.png">

Should the folder be kept around when we notice that all

[2018-08-15 00:49] emanueltimlopez commented on #6821
/claim

[2018-08-15 01:08] karlcow opened #6831 "debugger shows partial code for the main page"
Steps to reproduce

1. Open Firefox Dev Edition (62.0b17 (64-bit)) or Nightly (63.0a1 (2018-08-14) (64-bit))
2. Open responsive design mode.
3. Select Firefox Android UA with touch and DPR2 and 320x640px (create it if you do not have it)
4. Open https://www.appmatch.com/ask
5. Start the debugger
6. Click on the left column `www.appmatch.com` -> ask

Actual:
* Only one script element is being displ

[2018-08-15 01:45] darkwing commented on #6829
Just tested and can confirm this is still an issue; the only difference is that the tree items all now show mapping:

![theydontloveyoulikeiloveyou](https://user-images.githubusercontent.com/46655/44127449-ee167620-a002-11e8-9d2d-5a4f4c278768.png)

[2018-08-15 05:15] digitarald commented on #6824
Thanks for the quick fix, @darkwing . I re-open this to get some more input on what options we should consider for a final label copy and style.

[2018-08-15 13:29] jasonLaster opened #6833 "[tab] debugger.js tab has an angular icon!"
So, when I am debugging the debugger and open the debugger's webpack bundle, the bundle is given an angular icon! This is quite silly because the debugger is built with React and bundled with Webpack. Angular is great, but we don't use angular.

This is definitely a top 3 silly bug!

The reason for the bug is that our framework check is a bit relaxed for angular. We check for two things:

1. a var

[2018-08-15 16:12] darkwing commented on #6824
My two cents is I would love to find a representative map icon or something so that we don't need to add "(mapped)" everywhere, especially tabs where it feels like we may be short on space.

[2018-08-15 17:56] mantou132 opened #6837 "[Breakpoints] support Inline breakpoint"
Similar:
<img width="381" alt="screen shot 2018-08-16 at 01 55 20" src="https://user-images.githubusercontent.com/3841872/44164053-8b588280-a0f7-11e8-8d76-a8877950c459.png">

[2018-08-15 18:25] jasonLaster commented on #6837
Thanks for filing. I believe we have other feature requests filed for this.

The good news is as of monday, we now have support for member expression breakpoints, which means we can add `e[n]./*bp*/call` breakpionts

[2018-08-15 18:25] jasonLaster commented on #6837
closing and moving to the icebox where we will evaluate during the next release planning

[2018-08-15 18:25] #6837 closed

[2018-08-15 18:32] #6761 closed

[2018-08-15 18:32] #6774 closed

[2018-08-15 18:45] digitarald opened #6838 "Double-clicking conditional breakpoint entries should trigger Editing"
STR:
- Right click a line to Add conditional breakpoint
- Type something
- Doube-click breakpoint entry in the breakpoints panel

AR: Text selection
ER: Edit mode for condition

[2018-08-15 18:46] digitarald commented on #6838
@darkwing am I missing something here or does that expectation sound reasonable?

[2018-08-15 21:53] jasonLaster commented on #6838
@digitarald where would they edit? In the pane?

[2018-08-15 23:41] digitarald commented on #6838
@jasonLaster in the sources pane, same flow that is triggered by `Edit breakpoint` in the breakpoint context menu.

[2018-08-16 01:41] darkwing commented on #6838
Seems like a reasonable idea; a few things to consider as it's shimming a :

1.  Open the source if it's not yet opened
2.  Scroll to the position once opened
3.  Show the edit UI

[2018-08-16 22:44] digitarald opened #6840 "Source map issues in react-typescript-component-starter-kit"
STR:
- Open https://react-typescript-component-starter-kit.now.sh/
- Set breakpoint in `Button.tsx`'s `Button` component

ER: Breakpoint doesn't stick.

![screenflow](https://user-images.githubusercontent.com/8599/44238807-19ba1c00-a16b-11e8-97bf-14fa61eb9ffe.gif)

Bonus ER: 2 bootstrap files, both clickable but only one opens file.

Chrome disables all lines except 4 and 64:

<img width="85" alt=

[2018-08-16 22:58] digitarald opened #6841 "Unable to close tab for generates source"
STR:
- Debug https://react-typescript-component-starter-kit.now.sh/ and open source via Cmd-P
- Open `preview.*.bundle.js`, `Button.tsx` and `runtime.*.bundle.js`
- Try to closing `runtime.*.bundle.js` or `preview.*.bundle.js`

ER: Sticky tab doesn't go away

![screenflow](https://user-images.githubusercontent.com/8599/44239184-f98b5c80-a16c-11e8-8511-907718871b80.gif)

[2018-08-16 23:41] digitarald opened #6842 "Many debugger interactions overpaint"
Overpainting not only affects the toolbox but even the browser tabbar.

https://www.dropbox.com/s/82yokxk4i99sefd/debugger-63-paint-flashing.mp4?dl=0

Cases that paint too much:

- Opening folder in sources
- Opening file
- Focusing source pane
- Scrolling source pane
- Setting breakpoints
- Checking checkboxes

[CSS Containment](https://developer.mozilla.org/en-US/docs/Web/CSS/contain) is landing

[2018-08-17 00:39] digitarald commented on #4750
@bzbarsky as an update on this, we are planning to pick this work up for 65 (64 being a short-staffed cycle that focuses on breakpoint and stepping quality).

[2018-08-17 08:39] janodvarko opened #6843 "[reps] getLinkifiedElements doesn't properly linkify strings"
This is clone of:  [Bug 1483891](https://bugzilla.mozilla.org/show_bug.cgi?id=1483891) - Response overview doesn't indicate location value is cut off

See this [comment](https://bugzilla.mozilla.org/show_bug.cgi?id=1483891#c4) for detailed STR and a test case.

Honza

[2018-08-17 10:29] jainsneha23 commented on #6473
/unclaim
As not getting time to look into this now

[2018-08-17 14:32] jasonLaster commented on #6841
thanks! i found this recently as well and meant to file it.

[2018-08-17 14:34] jasonLaster commented on #6840
hmm, will look into this soon.

The multiple bootstrap problem is an interesting one. I think it warrants its own issue

[2018-08-17 15:36] darkwing commented on #6670
...weird.  So I'm seeing that in launchpad the following appears:

[code]

But doesn't when I inspect a Firefox build.  Upon more inspection, the following *does* appear in our CSS:

[code]

So that's being translated in launchpad to `html[dir="ltr"] .expression-container__close-btn {right: 0px; }` but *not* inside panel -- it's just showing `offset-inline-end: 0px;` as in invalid style:

<img wid

[2018-08-17 16:39] fvsch commented on #6670
The direction-aware `offset-*` properties were renamed to `inset-*` in the CSS draft.
Firefox seems to have implemented that change in [bug 1464782](https://bugzilla.mozilla.org/show_bug.cgi?id=1464782), targetting Firefox 63.

[2018-08-17 17:00] fvsch commented on #6670
See also:

- [offset-* logical properties have been renamed to inset-*](https://www.fxsitecompat.com/en-CA/docs/2018/offset-logical-properties-have-been-renamed-to-inset/)
- [Intent to deprecate and remove: offset-* logical properties. ](https://groups.google.com/forum/#!topic/mozilla.dev.platform/mG6Wpz5C2PM/discussion)

The latest `postcss-bidirection` doesn't support this change:
https://github

[2018-08-17 17:39] darkwing commented on #6670
Ugly solutions are better than no solution, and I very much like your idea for duplicate properties!

[2018-08-17 17:59] darkwing commented on #6670
## Suggestions for fixing:

1.  Do a search in `src/` for `offset-`
2.  Duplicate each property with `inline-`

[2018-08-17 20:38] mbochynski commented on #6670
Hi, I was not able to reproduce the issue on FF 63.0a1 (2018-08-17). Do you still want to have this suggested fix applied?

BTW in 2. you probably meant `inset-` not `inline-`.

[2018-08-17 20:49] fvsch commented on #6670
I can reproduce in the same version (on macOS).

The issue happens in the Debugger shipped with Firefox, not the version that you can that you can get from GitHub and build with Node and yarn. I don’t know the differences in build setup well, but apparently the Firefox version does not use postcss and the `postcss-bidirection` plugin.

The "web" version that you can build with Node, yarn, webpack

[2018-08-17 20:51] mbochynski commented on #6670
/claim

[2018-08-17 20:55] darkwing commented on #6670
Yep, still happens for me:

<img width="1373" alt="error" src="https://user-images.githubusercontent.com/46655/44288421-eee8ca00-a235-11e8-93f9-77a7e8e2a771.png">

[2018-08-17 20:59] mbochynski commented on #6670
Yeah, just in a moment when I commented I've realized that I was looking in wrong place. Sorry for noise.

[2018-08-17 21:54] luisbd commented on #6686
/claim

[2018-08-18 00:16] violasong commented on #6631
Hi @fvsch!! Sorry for the delay in responding to this. This proposal and its diagrams are amazing! I mostly interact with these concepts in a very informal way, just eyeballing things visually and wanting a bit more space here or there, so I really appreciate this level of rigor ;___;. I can't wait to see how this would look for Debugger! And I do like the 4px vertical section padding :).

[2018-08-20 06:16] nchevobbe commented on #6843
@janodvarko should we only add a title attribute to the link, or is there a "true" bug here ?
I also found https://bugzilla.mozilla.org/show_bug.cgi?id=1204728 which is still visible with Reps.

We can have a look at https://github.com/mozilla-b2g/gaia-email-libs-and-more/blob/convoy-status/js/clientapi/bodies/linkify.js#L51 to change our linkification algorithm.

[2018-08-20 14:51] #6686 closed

[2018-08-20 14:51] #6670 closed

[2018-08-20 20:54] jasonLaster commented on #6820
Here is a [gist][g] of how to implement it. I'm currently stuck on the design and copy

[g]: https://gist.github.com/jasonLaster/67fb8be47dce83cb4f5e1426194cd9cc

[2018-08-20 21:54] digitarald commented on #6332
Confirmed fix, blazing fast loading: https://perfht.ml/2L9Rz0N

[2018-08-20 21:54] #6332 closed

[2018-08-21 13:16] jasonLaster commented on #5815
@julienw i think this should be filed in bugzilla as the work will largely be server-side. CC @juliandescottes who might know more about addons

[2018-08-21 13:26] #6821 closed

[2018-08-21 13:47] #6819 closed

[2018-08-21 13:48] jasonLaster commented on #5986
closing as this is handled in the JS engine here: https://bugzilla.mozilla.org/show_bug.cgi?id=1469599

[2018-08-21 13:48] #5986 closed

[2018-08-21 14:11] darkwing commented on #6734
Hello @Rohanhacker !  Were you still working on this?  Anything we can help with?

[2018-08-21 14:57] Rohanhacker commented on #6734
@darkwing I'll send a pr this week

[2018-08-21 15:12] janodvarko commented on #6750
I can't reproduce that anyone else can?
Honza

[2018-08-21 15:13] jasonLaster commented on #6734
Here's where the bug is
https://github.com/devtools-html/debugger.html/blob/master/src/components/SecondaryPanes/Breakpoints/Breakpoint.js#L97-L102

we likely want to only highlight it IF it is the closest breakpoint. so at the column or the closest to the right of the pause location

[2018-08-21 15:21] darkwing commented on #6554
@jasonLaster Your suggested event fix at the top of the ticket doesn't prevent the issue in panel, so we need to look elsewhere :(

[2018-08-21 15:58] darkwing commented on #6750
I can't reproduce this either; let's close for now and reopen if someone else can reproduce.

[2018-08-21 15:58] #6750 closed

[2018-08-21 16:58] Rohanhacker commented on #6734
@jasonLaster ok, I'll start on this tomorrow and will reach out if I have any questions

[2018-08-21 17:19] jasonLaster commented on #6554
Thanks

[2018-08-21 17:53] darkwing commented on #6829
With @jasonLaster 's mapped work, I can no longer get the duplicate item crap happen in panel.  Yessss.  :D

[2018-08-21 17:53] darkwing commented on #6829
Grrr, scratch that, does still happen :/

[2018-08-21 19:36] jasonLaster commented on #6829
yeah - it still happens for me too. Even after the performance fix. Not sure what is going on there though

[2018-08-22 08:58] AnshulMalik commented on #4234
Should this be closed?

[2018-08-22 09:26] nchevobbe opened #6858 "Search nav buttons are cut-off if the main panel has a small width"
See the following screenshot:

<img width="869" alt="image" src="https://user-images.githubusercontent.com/578107/44455282-ef9aab00-a5fd-11e8-9f3d-250c05a129af.png">

It looks like there is some room to display the buttons anyway. But I know this can be tricky with the input size, so maybe the buttons/the label can be placed on the Modifiers toolbars if they don't fit ?

[2018-08-22 12:34] janodvarko commented on #6843
I think this is real bug. The header should present *the original value* to the user and additionally -the linkifying algorithm can make it a clickable link.

Honza

[2018-08-22 12:39] jasonLaster commented on #6753
This should be fixed now with tabs.

[2018-08-22 13:10] janodvarko opened #6860 "Can't switch to original source file"
This is clone from issue #6685

STR:
1) Go to vanilla React App: https://new.codesandbox.io/
2) Set a breakpoint on line 9 in `new.codesandbox.io/src/index.js (mapped)`
3) Reload
4) The debugger halts at a breakpoint on line 19 in the generated code (file `new.codesandbox.io/src/index.js`
5) Clicking on `new.codesandbox.io/src/index.js (mapped)` file in the Source tree does highlight line 3 for a

[2018-08-22 15:27] jasonLaster opened #6864 "[sources] source tree loses focuses when new items are added"
STR:

1. go to https://www.cnn.com/
2. reload
3. click on items in the source tree

ER: it stays focused
AR: it loses its focus

![](http://g.recordit.co/5p3dz8Sdk5.gif)

[2018-08-22 18:15] #6829 closed

[2018-08-22 19:25] kenjiO commented on #6348
@jasonLaster, Can I take this one?

[2018-08-22 19:39] #6753 closed

[2018-08-22 20:18] jasonLaster opened #6868 "[preview] preview can initially lag"
It's unfortunately common for the first preview to lag by a second or two. The reason for this is that in order to show the preview, the debugger first has to compute the mapped expression. The mapping is performed by the parser worker, which in the case of original files is busy computing the original and generated ast scopes.

[2018-08-22 20:56] jasonLaster commented on #6348
sure @kenjiO

[2018-08-22 21:26] jasonLaster commented on #6864
so this looks related...

[code]

[2018-08-22 22:16] darkwing commented on #6868
Yeah, that can take a while.  Might be nice to have a message somewhere just so the user knows work is happening and the info will be shown shortly.

[2018-08-22 23:27] jasonLaster commented on #6868
We have a loading message in the scopes pane, but could do more there for sure.

[2018-08-23 00:52] #6804 closed

[2018-08-23 00:54] jasonLaster commented on #6744
Hey @bomsy do you remember the details here?

[2018-08-23 00:55] #6695 closed

[2018-08-23 00:55] jasonLaster commented on #6679
I'm going to close this and wait for yarn to let us drop versions for local packages.

[2018-08-23 00:55] #6679 closed

[2018-08-23 00:57] jasonLaster commented on #6642
Hey @juliandescottes does this still happen for you?

[2018-08-23 01:03] jasonLaster commented on #6647
closing as there's no STR. Feel free to re-open if you see it again

[2018-08-23 01:03] #6647 closed

[2018-08-23 01:04] jasonLaster commented on #6588
I think this should be fixed

[2018-08-23 06:10] Rohanhacker commented on #6734
@jasonLaster so Should I change it to get the location with column and then highlight it if its close enough ??

[2018-08-23 13:18] janodvarko opened #6871 "Preview tooltip shows undefined for XMLHttpRequest"
STR:

1) Load http://janodvarko.cz/firebug/tests/601/Issue601.htm
2) Open issue601.htm file and create a breakpoint on line 50
3) Click the POST button on the page
4) After the breakpoint hits, move mouse over `XMLHttpRequest` (line 49) - the tooltip says `undefined()` -> BUG

It could at least say `XMLHttpRequest()`.

Honza

[2018-08-23 13:27] janodvarko opened #6872 "error occurred while processing 'evaluateJSAsync"
Sentry is reporting this error quite often:

Here is an example event:
https://sentry.prod.mozaws.net/operations/nightly-js-errors/issues/4596315/

I was able to see the error on my machine too. This callstack should be up to date (some stacks in Sentry are wrong after actors clean-up by Alex):

[code]

I think it could be related to evals when stepping .

STR needed.

Honza

[2018-08-23 13:38] janodvarko commented on #6872
Better callstacks: https://pastebin.com/L9mEYGTU

[2018-08-23 13:48] janodvarko opened #6873 "[Breakpoints] Break at wrong location"
STR:
1) Create a breakpoint in components/Tabs.js on line 48 `return dom.div(`. It should auto hit shortly.
2) Press Resume button (or F8)
3) The debugger halts on line 53 within a loop, so further resume breaks there again -> BUG

The breakpoint is not set in the loop. There is no reason it should break there.

Honza

![image](https://user-images.githubusercontent.com/37785/44529310-0e776b00-a6ec

[2018-08-23 13:57] jasonLaster opened #6874 "[intermittent] dbg-quick-open"
cc: [bug](https://bugzilla.mozilla.org/show_bug.cgi?id=1438778)

I just tried to reproduce locally and couldn't but I can see where it is happening and will investigate soon

by the way, it was introduced in 84 i believe - [log]

[code]
[log]:  https://treeherder.mozilla.org/intermittent-failures.html#/bugdetails?startday=2018-08-16&endday=2018-08-23&tree=trunk&bug=1438778

[2018-08-23 14:08] jasonLaster commented on #6871
It looks like that the issue is in the server grip side with `XMLHttpRequest` it should have a displayName or name field. It is also missing a parameter names field as well.

We could paper over this by showing the expression in the tooltip, but I'd prefer to fix the root cause and report the proper values for native classes.

<img width="651" alt="screen shot 2018-08-23 at 10 06 18 am" src="https

[2018-08-23 14:14] jasonLaster commented on #6872
I think this is likely related to [1483166](https://bugzilla.mozilla.org/show_bug.cgi?id=1483166) the sentry errors seem to have started after it landed.

[2018-08-23 14:38] janodvarko commented on #6694
I was able to repro this issue before, but not anymore.
Here is what I am doing:

1) Load Debugger landing page (in a tab)
2) Pick a tab to debug: https://new.codesandbox.io/
3) Open the Toolbox, select the Debugger
4) Looking for `SecondaryPanes` in the Source tree, it's not there...?

What I am doing wrong?

![image](https://user-images.githubusercontent.com/37785/44532243-f2c39300-a6f2-11e8-92b

[2018-08-23 15:56] jasonLaster commented on #6872
closing as this is related to 1483166  in the server

[2018-08-23 15:56] #6872 closed

[2018-08-23 15:57] jasonLaster commented on #6734
@Rohanhacker i think that makes sense

[2018-08-23 16:13] darkwing commented on #6546
I made a rough sketch for a possible solution:

https://gist.github.com/darkwing/f8d5c430f1fd6f8dffd15d36ab57f10e

This is roughly the same strategy that @jasonLaster used when he introduced async storage:

https://github.com/devtools-html/debugger.html/commit/85069876d7a85820670ca1c67fd19c25d94cd194

[2018-08-23 17:16] darkwing opened #6876 "TypeError: response.frames is undefined create.js:73:4"
I received this error out of the blue but unfortunately have no STR.  The error corresponds to:

[code]

Filing an issue because we should do some sort of additional check for a response having a `frames` property.

[2018-08-23 17:57] jasonLaster commented on #6876
I see this when the rr_console-warp-01 test fails. Do you see it on other cases too?

[2018-08-23 17:58] darkwing commented on #6876
I was testing a PR and had some a bunch of refreshes during loading of things, so it's probably tough to reproduce.  First time I've ever seen it.

[2018-08-23 18:33] jasonLaster commented on #3816
This looks fixed

![](http://g.recordit.co/3xkUiSeuSS.gif)

[2018-08-23 18:33] #3816 closed

[2018-08-23 18:34] jasonLaster commented on #3178
I'm moving this to the icebox as it is nice, but not on the roadmap

[2018-08-23 18:34] #3178 closed

[2018-08-23 19:01] jasonLaster commented on #4113
This is an issue that pause points would fix. The reason that it does not work in this case is that we only get the pause points for the selected source, which by default is the original source. There are two ways to prove this:

1. go to https://married-coach.glitch.me/, which has a minified example and just step in
2. view both the minified and original file in the example

Next steps, we should

[2018-08-23 19:02] jasonLaster commented on #4113
This is similar to #6761 and #6835

[2018-08-23 19:55] #6390 closed

[2018-08-23 19:56] jasonLaster commented on #6379
Hey @rishispeets would you like to finish this?

[2018-08-23 20:05] jasonLaster commented on #6345
This seems to work now.

[2018-08-23 20:05] #6345 closed

[2018-08-23 20:25] jasonLaster commented on #6399
closing as we're focusing on 64 quality now
https://github.com/devtools-html/debugger.html/issues/6777

[2018-08-23 20:25] #6399 closed

[2018-08-23 20:26] jasonLaster commented on #6015
@yzen would you mind re-testing this?

[2018-08-23 20:31] jasonLaster commented on #5951
Hmm, it is now pausing for me. the location is a bit funky, but i think that is because of pretty printed source maps.

[2018-08-23 20:32] #5951 closed

[2018-08-23 20:37] jasonLaster commented on #6457
Just tried this by refreshing fairly quickly and got an error here:

[code]

[2018-08-23 20:46] jasonLaster commented on #6876
just saw it too while doing a bunch of refreshes

[2018-08-24 01:49] jasonLaster commented on #6694
You're looking at the Launchpads components dir. The debugger's directory
is there too :)

Try cmd+p and searching for the file

On Thu, Aug 23, 2018, 10:39 AM Jan Odvarko <notifications@github.com> wrote:

[2018-08-24 10:12] janodvarko commented on #6871
Bugzilla bug reported:
https://bugzilla.mozilla.org/show_bug.cgi?id=1485941
Honza

[2018-08-24 10:12] #6871 closed

[2018-08-24 16:03] kenjiO commented on #6858
/claim

[2018-08-24 19:03] kenjiO commented on #6838
/claim

[2018-08-26 04:37] WenInCode commented on #6700
Hey @jasonLaster, this looks like it could be a good first issue to take on. I have a good idea of how react components work in general, but I haven't written any integration tests for a react codebase before. This looks like it could be a great introduction into that. Mind if I take a go at this?

[This](https://github.com/devtools-html/debugger.html/blob/master/src/components/PrimaryPanes/Source

[2018-08-26 11:48] jasonLaster commented on #6700
Yep. You could write the test with jest. Or mochitests. We document both in
the docs dir. Mochitests in some ways is better, but harder to setup.

On Sun, Aug 26, 2018, 12:37 AM Tyler Wendlandt <notifications@github.com>
wrote:

[2018-08-26 14:46] WenInCode commented on #6700
/claim

[2018-08-27 05:31] juliandescottes commented on #6642
Seems fixed.

[2018-08-27 05:58] juliandescottes commented on #5815
Not sure where the server is getting the addon uuid, but you could use the WebExtensionPolicy to convert from moz-extension:// to the addon name:

    const uri = "moz-extension://4ade278d-b4ba-1c45-9398-7d33741c5aa6/";
    const name = WebExtensionPolicy.getByURI(Services.io.newURI(uri)).name;

This is just from a quick search in our codebase, @rpl might know a better way.
But the source actor al

[2018-08-27 06:47] marcogallo566 commented on #6440
/claim

[2018-08-27 07:52] marcogallo566 commented on #6440
@jasonLaster There is the support for a lonely node, is there?
![d303b1df-d080-4c27-8117-7830bec417b2](https://user-images.githubusercontent.com/36955296/44647573-af14a600-a9de-11e8-835f-3cf6bcd846d5.jpg)

[2018-08-27 12:08] julienw commented on #5815
Thanks, I filed https://bugzilla.mozilla.org/show_bug.cgi?id=1486416

[2018-08-27 19:54] arshadkazmi42 commented on #6843
Taken this up via [Bugzilla - 1483891](https://bugzilla.mozilla.org/show_bug.cgi?id=1483891)

[2018-08-27 19:55] #6838 closed

[2018-08-27 20:13] #6828 closed

[2018-08-28 02:34] karlcow opened #6889 "Make the function names visible by default in the call stack when filename is a long string"
1. Go to https://www.cnbc.com/2017/07/20/tesla-adding-this-ceo-to-its-board-is-a-big-deal-for-silicon-valley.html
2. open the developer tools on the debugger set a breakpoint into https://pdk.theplatform.com/5.7.15/pdk/js/app/4F88B18C18BE861BE2047109F4BD9BF7.cache.js
3. Reload the page

Actual:
The right window showing the call stack shows the long name of the file but not the function which is be

[2018-08-28 04:40] WenInCode commented on #6700
@jasonLaster Hey again,

I spent some time reading up on mochitests, and I watched the [video](https://www.youtube.com/watch?v=5K9Sx5529JE&t=1373s&list=WL&index=2) you have on youtube about debugging & mochitests. I thought the video was great. I am running into an issue getting mochitests to run properly though.

I have successfully ran `./bin/prepare-mochitests-dev` and when I first ran the exis

[2018-08-28 11:56] Garbee commented on #6700
Here are the key lines to me:

[code]

Where is `http://example.com` coming from? Search your tests to see if that is something you're programming in. Because that most certainly is not where you're trying to test. You need to point it to open your test file either directly or from an internal web server running for the test suite.

[2018-08-28 12:05] janodvarko opened #6890 "TypeError: debuggerClient.mainRoot.getFront is not a function"
1) Load `localhost:8000`
2) Click on an existing tab in the list
3) Open the Browser Console and see the following exception:
`TypeError: debuggerClient.mainRoot.getFront is not a function`

The page stays empty after the click.
Honza

[2018-08-28 12:07] janodvarko commented on #6890
A workaround for anyone being blocked by this issue:

[code]

[2018-08-28 12:14] janodvarko commented on #6694
This needs new STRs, I can't reproduce the issue any more (the source code has been refactored).

@jasonLaster: can you look at it please?

Honza

[2018-08-28 12:29] jasonLaster commented on #6890
this was fixed here - https://github.com/devtools-html/debugger.html/pull/6887

it should be available on master now.

[2018-08-28 12:52] janodvarko commented on #6890
I fetched the master and I can see the commit on my machine (the one introducing `debuggerClient.mainRoot.getFront` call). I also have the latest m-c and I am still experiencing the problem.

Honza

[2018-08-28 13:10] jasonLaster commented on #6700
@Garbee deeper source is a test for a failing source. Example.com comes from mochitest

[2018-08-28 13:10] janodvarko commented on #6685
I am seeing different behavior on my machine:

My STR:
1) Go to vanilla React App: https://new.codesandbox.io/
2) Set a breakpoint on line 9 of index.ts (I don't see index.js)
3) Reload the page
4) The debugger breaks in process.ts, line 38

Note that both index.ts and process.ts are source mapped from browserfs.min.js
Bug in source mapping?

Honza

[2018-08-28 13:10] jasonLaster commented on #6700
@WenInCode  try doing `cd firefox; ./mach build; ./mach mochitest devtools/client/debugger/new`

also feel free to join our slack https://devtools-html-slack.herokuapp.com/

[2018-08-28 13:39] janodvarko commented on #6889
The function name enclosed in DIV element (.title) doesn't have min width. What about:

[code]

https://github.com/devtools-html/debugger.html/blob/22b87b06cc0ee15220271f36d2f4c668bc874851/src/components/SecondaryPanes/Frames/Frames.css#L50

[2018-08-28 15:33] nchevobbe opened #6893 "ObjectInspector expanded node could be more useful"
In [Bug 1486381](https://bugzilla.mozilla.org/show_bug.cgi?id=1486381), @fvsch suggest that the way we represent expanded ObjectInspector nodes is not the best.

Currently, the nodes are being rendered in `TINY` mode, but we could introduce a new `expanded` prop to use in Reps.

So instead of having an object rendered as

[code]

It could be

[code]
or at least

[code]
if we don't want to deal wit

[2018-08-28 16:39] digitarald opened #6895 "Pausing on exception can miss scopes"
STR:
- Open https://partner.android.com/things/console/ (filed as https://webcompat.com/issues/18503)
- Open Debugger and Pause on Exception

ER: See callstack and scopes
AR: Callstack is shown with only one entry (probably async), but Scopes is empty until the callstack entry is clicked again.

![image](https://user-images.githubusercontent.com/8599/44736950-84415500-aaa5-11e8-9a19-c17d07a4561b.p

[2018-08-28 18:16] #6890 closed

[2018-08-28 20:25] kenjiO opened #6896 "[search] file search with regex using lots of memory"
When searching a file for a regex the memory usage goes up by gigabytes.  I am able to get this to happen on my mac with regexes that contain the `*` and `^` special characters.

![](http://g.recordit.co/OFtreAUqoS.gif)

[2018-08-28 20:44] WenInCode commented on #6700
Unfortunately saw similar errors with that. I noticed if I remove the `firefox` subdirectory and then re run `./bin/prepare-mochitests-dev` I can run tests fine. But as soon as I make a change, say adding `await waitForever()` to the end of a test, it starts to time out. If I remove my changes and re run `yarn run copy` they continue to time out.

[code]

I'm going to see about reaching out to som

[2018-08-28 21:13] kenjiO commented on #6833
What about checking for a `require` or `import` like you do with [react](https://github.com/devtools-html/debugger.html/blob/4a132bf4c5b4341842ea06a79785fbef726cc9de/src/workers/parser/frameworks.js#L33-L47)?

[2018-08-28 21:53] jasonLaster commented on #6700
hey @WenInCode sorry. i think this was my fault. try rebasing your branch, yarn install, and re-running prepare mochitest :/

[2018-08-28 23:39] WenInCode commented on #6700
@jasonLaster I think that did the trick! Thanks so much

[2018-08-29 01:32] #6858 closed

[2018-08-29 01:36] #6725 closed

[2018-08-29 01:37] darkwing commented on #6722
Hello @wldcordeiro !  How's it going?  Can you push up a WIP PR so we can keep the ball rolling?

[2018-08-29 01:43] #6628 closed

[2018-08-29 01:49] darkwing commented on #6744
Quick ping here @bomsy; do you have more additional information here?

[2018-08-29 06:36] juliandescottes opened #6897 "Expanded variables are collapsed again after every step"
From https://github.com/devtools-html/devtools-core/issues/744 (where there is already some discussion)

This was reported on the debugger, what would be great is if we could maintain the state. any thoughts on how to do this?

From Bugzilla issue https://bugzilla.mozilla.org/show_bug.cgi?id=1405402

User Agent: Mozilla/5.0 (Windows NT 10.0; Win64; x64; rv:56.0) Gecko/20100101 Firefox/56.0
Build I

[2018-08-29 06:38] juliandescottes commented on #6897
cc @nchevobbe you had some WIP patches you mentioned in the initial issue, anything new since the issue was closed on devtools-core?

[2018-08-29 07:13] robinwhittleton opened #6898 "Debugger ‘find in files’ keyboard shortcut on mac is already bound to fullscreen action"
The debugger prompts mac users to use `cmd + shift + f` to search through files:
<img width="639" alt="Screenshot of the intial debugger panel showing the prompt referred to previously." src="https://user-images.githubusercontent.com/7414/44771492-63dbce00-ab6b-11e8-84a7-d52d01987007.png">

Unfortunately this is by default bound to the full screen action for the Firefox window. Clicking on the tex

[2018-08-29 07:31] nchevobbe commented on #6897
I don't think so. The thing I started working on ended up being complex and we agreed it wasn't a big deal for a given case in the debugger, but I don't think it was this case, which is pretty important.

[2018-08-29 07:47] robinwhittleton commented on #6898
Sorry, realised this was only if you had the webpage focused and not the dev tools.

[2018-08-29 07:47] #6898 closed

[2018-08-29 08:55] fvsch opened #6899 "Check panel contrast in dark theme after bug 1464348 lands"
This issue can be assigned to me.

[Bug 1464348](https://bugzilla.mozilla.org/show_bug.cgi?id=1464348) (related to https://github.com/devtools-html/ux/issues/4) should increase the contrast of the `--theme-body-color`.

Since the reason for lowering it in the first place (sometimes below accessible levels) was too bright text in secondary panes in the Debugger ([bug 1421389](https://bugzilla.mozil

[2018-08-29 08:56] fvsch commented on #6899
/claim

[2018-08-29 12:39] jasonLaster commented on #6897
I think this is a dupe of #3269 which we plan on doing in 64 #6777

[2018-08-29 12:51] Standard8 commented on #6897
Looks like it, I even commented on that one.... (though someone else will need to close this).

[2018-08-29 12:59] #6897 closed

[2018-08-29 16:27] kenjiO commented on #6744
#1629 and #3885 are related.  When I was looking into this I also found #6896 which may be caused by the same code.

[2018-08-29 21:41] jasonLaster opened #6900 "[sources] investigate isOriginal"
It might be nice to describe sources in terms of whether they are original or generated instead of isOriginalId / isGeneratedId

Here is a patch that starts that migration:
https://github.com/jasonLaster/debugger.html/tree/source-original

[2018-08-29 21:50] violasong opened #6901 "Remove dotted-line focus ring from search input fields"
Since these search input fields already have the blue focus ring, they don't need to also show the dotted-line ring (currently it's visible when using a shortcut to bring up any type of search).

<img width="369" alt="image" src="https://user-images.githubusercontent.com/55994/44817569-a4067500-ab9a-11e8-9aea-34ee6846853f.png">

[2018-08-30 13:27] janodvarko commented on #3269
This issue is still nicely reproducible.

There are two places that need to be fixed:
* Watch Expressions
* Scopes
(additional bug might be reported)

Note that switching to another (callstack) frame and back also resets the expanded state.
It's not clear how long the state should be stored. E.g. resuming JS and breaking at the same state the next day should also work?

Honza

[2018-08-30 13:36] nicofrand commented on #6295
Hi again,

I can actually not make it work again with a new profile. I tried downloading the nightly, creating a new profile and using it, but I still meet the issue. I can't even use another browser as it is to debug something on Firefox…

[2018-08-30 13:38] janodvarko commented on #6747
I can nicely reproduce this issue.

Note that the issue happens only when the user switches from WASM file to JS file. I.e. instead of navigating to the (clicked) frame location in the JS file the current search location is selected. When the users switches between to JS frames it works well.

Honza

[2018-08-30 13:55] janodvarko commented on #6792
I can nicely reproduce this issue using STR from the first comment.

Note that the URL path of the module where the `handleClick` method is implemented contains `react` keyword in it. I can also see the problem when implementing my own simple component locally within a `react` directory.

So, the logic responsible for grouping needs to be improved.

Honza

[2018-08-30 14:01] janodvarko commented on #6734
Does anybody have a simple online test page for this?

Honza

[2018-08-30 14:26] janodvarko opened #6904 "Source mapped label not readable"
The `(mapped)` label used for source mapped file in the Source tree is almost not visible when selected. See the attached screenshot.

The label text should use white color when selected, just like the file name text.

![image](https://user-images.githubusercontent.com/37785/44858051-69234080-ac71-11e8-8f3e-22de2880dfb4.png)

Honza

[2018-08-30 14:31] janodvarko commented on #6706
I am not seeing clear STR for this issue.

1) Load  http://todomvc.com/examples/angular2/
2) next?

@jasonLaster can you please provide it, thanks.

Honza

[2018-08-30 15:07] #6901 closed

[2018-08-30 15:11] jasonLaster commented on #5102
STR:
1. in the console, evaluate `debugger`

![image](https://user-images.githubusercontent.com/254562/44860927-63b00100-ac45-11e8-8d91-7b71c0d75c42.png)

[2018-08-30 15:35] darkwing commented on #5102
I've been looking into why eval`d cases weren't given a tab and I think I've found the root cause.  We're using the following selector for tabs:

[code]

The issue here is `tab.url` is `null` for eval'd sources in the store:

<img width="1279" alt="missingtab" src="https://user-images.githubusercontent.com/46655/44862365-2a28c700-ac40-11e8-9298-48093f5946c0.png">

And so despite having stored the

[2018-08-30 15:37] jasonLaster commented on #5102
oh gosh...

[2018-08-30 16:50] darkwing commented on #5102
We may want to consider the idea of a "TemporaryTab" for eval'd sources; these temporary tabs would be "cleaned up" (removed) from the `prefs.tabs` upon a "NAVIGATE" event.

[2018-08-30 17:15] jasonLaster commented on #6295
Thanks for sharing. @janodvarko can you reproduce this?

[2018-08-30 19:57] kenjiO commented on #6789
/claim

[2018-08-30 21:03] darkwing commented on #6904
This should fix the problem:

[code]

<img width="445" alt="yaymapped" src="https://user-images.githubusercontent.com/46655/44879052-30359c80-ac6e-11e8-959d-2d5ee44e9915.png">

[2018-08-30 21:46] #6822 closed

[2018-08-31 07:17] janodvarko opened #6911 "Top level await support should be disabled by default"
The top-level await support introduced in issue #6742 should be disabled by default.

I.e. the following pref should be false by default (in all Fx channels):
devtools.debugger.features.map-await-expression

This feature works only if the Debugger is activated, which makes it's behavior inconsistent and can confuse users.

Honza

[2018-08-31 07:18] saranshbarua commented on #6379
I created a PR for this: #6910

[2018-08-31 07:52] nchevobbe commented on #6911
In [Bug 1487452](https://bugzilla.mozilla.org/show_bug.cgi?id=1487452) we revert the enabling on Beta, so it's only enabled on Nightly.
Depending on the time I have today I'll investigate:
- open the debugger when doing an evaluation containing an `await ` expression (and profile it to see the cost of such thing)
- pull the mapping feature out of the debugger into the console frontend
- or handle

[2018-08-31 08:46] janodvarko commented on #6706
Thanks, I can easily see the problem on my machine now.
Honza

[2018-08-31 13:31] #6904 closed

[2018-08-31 15:26] darkwing opened #6913 "Add feature to cycle through previous searches using up/down arrows"
Most text editors save a history of searches and update the search input upon up and down keys, allowing you to access previous searches easily.  We should add that! 👍

![arrows](https://user-images.githubusercontent.com/46655/44921488-4d1eae00-ad08-11e8-8baf-7140f4548788.gif)

[2018-08-31 15:27] darkwing commented on #6913
In the short term I think we can simply keep the search terms in memory, no need for prefs storage.

[2018-08-31 18:34] dimitardanailov commented on #6889
Hello Guys,

I tried two times to open:

[code]

and each time when I tried to open this file I received a crash report:

<img width="1440" alt="crash" src="https://user-images.githubusercontent.com/2182018/44930023-ac5edb80-ad65-11e8-93d7-926d1505cfb8.png">

[2018-08-31 21:49] digitarald opened #6915 "Breaking on exception even if option is off"
P1 as this might affect other users and makes using devtools impossible.

STR (not sure how I got there):
- Open cnn.com
- Open Debugger
- Enable `Pause on exception` & `Pause on uncaught exception`
- Reload
- Pauses on exception somewhere …
- Disable `Pause on exception`
- Reload

AR: Pauses again on exception
ER: No pausing

Worked as expected after closing/reopening toolbox.

[2018-08-31 22:09] kenjiO commented on #6789
I think this is happening because [paused.js](https://github.com/devtools-html/debugger.html/blob/020dbd9af2bad4a5f683256c5d5606184ce4e256/src/actions/pause/paused.js#L75) calls [selectLocation](https://github.com/devtools-html/debugger.html/blob/020dbd9af2bad4a5f683256c5d5606184ce4e256/src/actions/sources/select.js#L95) which dispatches `SET_SELECT_LOCATION` with the paused location including the

[2018-08-31 22:19] finalfantasia commented on #6578
Hmm...

I'm not sure if I'm reading things right here but [ClojureScript has no syntax highlight](https://bugzilla.mozilla.org/show_bug.cgi?id=1211397) was closed as a duplicate of [Update Codemirror to 5.44.0](https://bugzilla.mozilla.org/show_bug.cgi?id=1486298) which in turn was closed as resolved for Firefox 63 but I'm still not seeing ClojureScript code being syntax highlighted in Firefox Dev

[2018-08-31 22:37] kenjiO commented on #6744
@jasonLaster if codeMirror is going to be replaced by Monaco then you might want to put this issue on hold or close it.

[2018-09-02 12:50] samuelfullerthomas commented on #6913
/claim

[2018-09-03 09:26] ryzokuken commented on #6733
Please close this.

[2018-09-03 11:56] janodvarko commented on #6915
I can't reproduce this. Anybody else can?

Honza

[2018-09-04 02:05] digitarald opened #6921 "Breakpoints pause in wrong locations for source mapped files"
STR:
- Open https://perf-html.io
- Add breakpoint in `webpack:///src/actions/receive-profile.js` , line 347, `await symbolicateProfile(profile, symbolStore, {`
- Drag a profile (like [this example](https://www.dropbox.com/s/1hdvbj019d8s6pm/profile-1535757906009.json?dl=0)) into the browser

ER: No breakpoint being hit, as the action doesn't fire for this interaction
AR: Debugger breaks in `webpack

[2018-09-04 11:42] janodvarko opened #6923 "[SourceMaps] Wrong warning location"
STR:

0) The test case is here: https://github.com/janodvarko/tests/tree/master/warning-location
1) `git clone https://github.com/janodvarko/tests.git`
2) `cd warning-location`
3) 'yarn install'
4) 'yarn start'
5) Open the Console panel and load `http://localhost:3000/`
6) See the following warning in the Console panel:
Warning: Invalid DOM property `class`. Did you mean `className`?
7) Check out

[2018-09-04 11:43] janodvarko commented on #6923
@nchevobbe Do you think it's Console bug?

Honza

[2018-09-04 12:42] nchevobbe commented on #6923
it may be a Frame component bug (or what's used underneath to get the original source).
I'll check that

[2018-09-04 13:51] nchevobbe commented on #6923
So from my manual testing, I get the original location directly when opening the console after a `yarn start`. But if I reload the page, it indicates bundle.js.

Adding some logs into Frame.js _locationChanged function:

First page load:
[code]
But then on reloads, the function is not called.
The issue might be in the sourcemap service we subscribe to [here](https://searchfox.org/mozilla-central/r

[2018-09-04 14:59] akshitac8 commented on #6833
@jasonLaster Is this Issue solved?

[2018-09-04 15:01] akshitac8 commented on #6900
@jasonLaster Is this Issue solved?

[2018-09-04 16:55] #6642 closed

[2018-09-04 17:10] darkwing commented on #5807
I can no longer reproduce this.  Closing due to @jasonLaster 's comment as it's likely fixed..

[2018-09-04 17:10] #5807 closed

[2018-09-04 17:16] darkwing commented on #5519
This has been fixed -- breakpoint now displays in sidebar and pauses at correct time.

[2018-09-04 17:45] darkwing commented on #5514
The solution above will need to change slightly; selectedSource is actually a source now, not a string.

[2018-09-04 17:55] darkwing commented on #5179
It doesn't appear that we're using this anymore @jasonLaster ; I am, however, seeing it in yarn.lock from example directories.  Does that matter or was this simply for our project?

[2018-09-04 18:07] darkwing opened #6926 "TypeError: generatedSource is undefined"
I got this when trying to reproduce https://github.com/devtools-html/debugger.html/issues/5816

Upon refreshing the source page I get:

[code]

Which points to the `!generatedSource.isWasm &&` condition;  I suppose we should ensure a generatedSource exists.

[2018-09-04 19:50] Loirooriol commented on #5519
The call stack is still wrong, though.

[2018-09-04 21:36] WenInCode opened #6928 "docs/mochitests and docs/most-common-issues reference invalid yarn commands"
[Mochitests doc](https://github.com/devtools-html/debugger.html/blob/master/docs/mochitests.md) and [Most Common Issues doc](https://github.com/devtools-html/debugger.html/blob/master/docs/most-common-issues.md) reference the `yarn` commands `yarn copy-assets` and `yarn copy-assets-watch`. Both of these commands give you the command not found error. I _think_ these should be updated to `yarn copy`

[2018-09-04 22:05] violasong commented on #6899
Thanks for checking this and providing the screenshots! I generally work in bright rooms but I went into my most cave-like room to look at this :). I compared it with the [old version](https://pbs.twimg.com/media/DPLwSvDVQAA03Bi.jpg:large) of the dark theme (for which I had gotten feedback re: too much sidebar contrast) and I realized even with #b1b1b3, it's much less contrasted than the original

[2018-09-04 22:05] #6899 closed

[2018-09-04 22:28] jasonLaster commented on #6928
Agreed!

[2018-09-04 22:39] jasonLaster commented on #6900
Hi @akshitac8. @darkwing is working on it now

[2018-09-04 23:02] WenInCode opened #6930 "Inconsistent yarn versions"
I don't notice if this is an actual issue or not, but I have been noticing running `yarn` on my fork always seems to update the `yarn.lock`. I think it _may_ have to do with what version of `yarn` I am running locally. In [docs/most-common-issues](https://github.com/devtools-html/debugger.html/blob/0dee2dbc082ce78ff24de3a8c78f6a7a5dcb54de/docs/most-common-issues.md) it says:

However, I noticed th

[2018-09-04 23:51] WenInCode commented on #6930
I seem to still get changes in my `yarn.lock`, which may be a symptom of version specification or maybe uncommitted changes previously? The _potential_ issues still stands :)

[2018-09-05 00:54] jbhoosreddy commented on #3673
This potentially is not that important in comparison to other things, but I've been wanting this forever. I'm sure I made other issues for this also. But I seem to remember there was something blocking it.. Anyways, claiming it.

[2018-09-05 00:54] jbhoosreddy commented on #3673
/claim

[2018-09-05 08:29] akshitac8 commented on #6900
Ohkay @jasonLaster Thank you :)

[2018-09-05 15:09] jasonLaster commented on #5255
CC @janodvarko @jimblandy i think you'll enjoy @AnshulMalik thread actor work...

[2018-09-05 15:10] darkwing commented on #3598
Can no longer reproduce.

[2018-09-05 15:10] #3598 closed

[2018-09-05 15:28] #5827 closed

[2018-09-05 15:28] #5566 closed

[2018-09-05 15:29] #5443 closed

[2018-09-05 15:29] #5434 closed

[2018-09-05 15:40] #6459 closed

[2018-09-05 16:21] yzen opened #6932 "Reps: add a rep for Accessible actor."
Accessibility panel sidebar will soon need to be able to accessible actors[fronts] for accessible object's relations. The rep for the Accessible actor is very similar (and simpler) to Element node.

[2018-09-06 07:28] nchevobbe commented on #6932
@yzen how do I do to get an Accessible actor logged in the console ? is it something that will be accessible in the content page or just in chrome ?

[2018-09-06 13:05] jasonLaster commented on #6833
@akshitac8 nope.

[2018-09-06 14:43] janodvarko opened #6938 "[Editor] Removing breakpoint from pretified file doesn't remove it from the original"
STR:

1) Load https://impossible-education.glitch.me/
2) Go to the debugger UI and open `impossible-education/client.js` file
3) Click the `Pretty print source` at the bottom of the toolbox UI (looks like `{}`)
3) You should be auto navigated to the new file (i.e. no spaces at the top)
4) Create breakpoints on lines  2, 5, 8
5) Go to the original, breakpoints are on wrong lines
6) Go to pretty pri

[2018-09-06 14:44] janodvarko commented on #6938
Reported here:
https://github.com/devtools-html/debugger.html/issues/6938

Honza

[2018-09-06 14:49] janodvarko commented on #6938
From Slack:

jlast @honza looks like we have an editor bug because the locations in the bp panel change (edited)

![6i0qmr39xo](https://user-images.githubusercontent.com/37785/45165239-abf69280-b1f4-11e8-8d3c-9b14e4d5f8fe.gif)

Honza

[2018-09-06 15:08] jasonLaster commented on #6820
we'll now track two things here:

1. the error message
2. improvements to how we show the mappings

[2018-09-06 15:35] yzen commented on #6932
At this point it will only be used with accessibility inspector. In browser console you can query XPCOM accessible objects directly. None of it, AFAIK, is available in non privileged content.

[2018-09-06 20:20] digitarald opened #6940 "Rename "Search in Sources" to "Go to file""
Came to this when I looked at https://github.com/devtools-html/debugger.html/pull/6917

_"Search in Sources"_ can be misunderstood in how it searches; while its purpose is to only filter the file list to quickly jump to a specific file. Even harder to understand is how it compares to _"Find in Files"_.

Quick survey of other editors:

- Atom: _Find File_
- VSCode: _Go to File_
- WebStorm:  _Find c

[2018-09-06 20:53] digitarald opened #6941 "Remove text color transition from welcome page"
Debugger or devtools does not animate text color on hover anywhere else. This makes the subtle color change on the light-weight text too subtle, to a level that its not visible.

[2018-09-06 20:53] digitarald commented on #6941
/claim

[2018-09-06 22:27] #6941 closed

[2018-09-07 06:25] juliandescottes opened #6946 "same keyboard shortcut (⌘;) is used for two functions: "step in" and "go to line""
From https://bugzilla.mozilla.org/show_bug.cgi?id=1488662

same keyboard shortcut (⌘;) is used for two functions: "step in" and "go to line".

steps to reproduce:
1. set a breakpoint and hit the breakpoint with the debugger
2. press ⌘; to step into a function

expected:
- step-in action performed
- nothing else

actual:
- step-in action performed
- the "search sources" popup is shown, with ":" pop