[2018-03-28 12:31] jasonLaster commented on #5807
Thanks @karlcow I'll look into it!

[2018-03-28 13:19] #5785 closed

[2018-03-28 13:48] darkwing commented on #5800
Oddly enough I could make this happen once but then it worked every other time, whether there was a source open or not.

[2018-03-28 15:07] Loirooriol commented on #5758
In fact I would prefer if the debugger stopped pretending to be more intelligent than me and just let me set the breakpoint wherever I want, even if the line is empty or whatever. Sometimes it has also happened that I click a line but the debugger thinks that the following one is better and moves the breakpoint there. So annoying.

[2018-03-28 15:09] jasonLaster commented on #5758
We are fixing this logic now so the default is all lines. We no longer slide the breakpoint to guess. When we slide a bp, it is because of source maps.

[2018-03-28 15:23] jasonLaster commented on #4785
@vijaykm2 can you see if this is fixed on nightly?

[2018-03-28 15:25] jasonLaster commented on #4785
Looks fixed!

![](http://g.recordit.co/iMhjI4QB4Q.gif)

[2018-03-28 15:25] #4785 closed

[2018-03-28 15:30] jasonLaster commented on #4785
Generated Stepping looks good too

![](http://g.recordit.co/8zrSQbcKVk.gif)

[2018-03-28 21:11] jasonLaster commented on #5561
<img src='https://shipusercontent.com/df8b4e80b7270b3b7aa1e06348f8d1c3/features.png' title='features.png' width=724>

# this is not mapped in perf.html TabBar#mouseDownListener

STR:
1. clone https://github.com/devtools-html/perf.html/
2. yarn install, yarn start
3. go to [url](http://localhost:4242/public/fa1302b5668d67f1434932edd5fa60932d9895ac/markers/?hiddenThreads=&markerSearch=&range=2.1344_

[2018-03-29 07:39] juliandescottes opened #5813 "Step over skips comparisons from if statements"
It looks like stepOver recently changed to skip comparisons. See the following test case on glitch:
https://same-bassoon.glitch.me/

which runs the following code:
[code]

I would expect the debugger to stop on each and every if () statement since the code actually runs.

[2018-03-29 07:53] juliandescottes commented on #5813
This is a regression from release 27
https://github.com/devtools-html/debugger.html/compare/release-26...release-27

[2018-03-29 08:07] juliandescottes commented on #5566
Reopening per https://github.com/devtools-html/debugger.html/issues/5668

`--theme-search-overlays-semitransparent` still needs to be removed

[2018-03-29 08:27] juliandescottes opened #5814 "Debugger confused when breaking in some iframes"
Note: this was also failing with the old debugger so this might be a server bug rather than a client one.

See https://responsible-shelf.glitch.me/

The code is:
[code]

When clicking on the button and therefore halting on "debugger", the debugger shows the source for the page, and is stopped on some random line of HTML.

![image](https://user-images.githubusercontent.com/1141550/38078072-67b8e02e

[2018-03-29 08:48] julienw opened #5815 "[Sources] Should see extensions more clearly"
STR:
1. Install React Addon from https://addons.mozilla.org/en-US/firefox/addon/react-devtools/
2. Install UBlock Origin from https://addons.mozilla.org/fr/firefox/addon/ublock-origin/
2. Go to any page, for example www.mozilla.org
3. Open the debugger
4. Expand the "moz-extension://" line in the "sources panel"
=> The 2 extensions are mixed, we see the React addon's `build` and ublock's `js` dire

[2018-03-29 09:07] julienw opened #5816 "[Scopes] stepIn shows <Scopes unavailable>"
STR:
1. open https://spotty-walker.glitch.me/
2. Open the index file in the debugger
3. Add breakpoints at the first lines of both functions (lines 10 and 14)
4. Reload the page
=> We breaks in `test1`, everything looks OK.

5. After stepping in, we get "scope unavailable" when it breaks at the second breakpoint:

![Capture](https://user-images.githubusercontent.com/454175/38080240-316e131c-3341-1

[2018-03-29 09:13] julienw commented on #5816
Ah, looking at it closer, I realize the first break happens in [React Addon](https://addons.mozilla.org/en-US/firefox/addon/react-devtools/). Still the display and the call stack are strange.

[2018-03-29 09:15] julienw commented on #5816
OK, disabling the React Addon, I don't have the first issue, but I still get "scope unavailable" after stepping in, in the same profile.

[2018-03-29 09:21] julienw opened #5817 "[Breakpoints] The debugger breaks at unexpected places when addons inject code"
STR:
1. Install the [React Addon](https://addons.mozilla.org/en-US/firefox/addon/react-devtools/)
2. open https://spotty-walker.glitch.me/
3. Open the index file in the debugger
4. Add breakpoints at the first lines of function test2 (line 14)
5. Reload the page
=> We stop at a weird place:

![Capture](https://user-images.githubusercontent.com/454175/38080094-d9bd407a-3340-11e8-9efa-33f6011059e8.p

[2018-03-29 12:27] jasonLaster commented on #5813
I think release 30 will fix this. i.e. the updates to pause points

[2018-03-29 12:34] juliandescottes commented on #5813
Doubt it, I spotted it while testing release 30 :)

[2018-03-29 12:34] jasonLaster commented on #5813
oof... cool. will look in a bit

[2018-03-29 12:35] joshunger commented on #5663
/claim

[2018-03-29 16:29] #5753 closed

[2018-03-29 16:34] juliandescottes opened #5820 "Move some devtools-core packages to debugger.html"
cc @jasonLaster @nchevobbe

Per the discussion on https://github.com/devtools-html/rfcs/issues/40 we should get started on moving the packages used by the debugger to this repository.

The action items we decided during our meeting were:
- move packages for reps, components and tree from devtools-core to debugger.html
- do not rename the debugger.html repo
- stop publishing packages from debugger.

[2018-03-29 17:20] jawyoonis commented on #4080
`return (
      <li className={item.className} key={i}>
        <h2 className="_header" onClick={() => this.handleHeaderClick(i)}>
          <Svg name="arrow" className={opened ? "expanded" : ""} />
          {item.header}
          {item.buttons ? (
            <div className="header-buttons">{item.buttons}
            </div>
          ) : null}
        </h2>
        {opened && (

          <div

[2018-03-29 17:34] mohamedabo commented on #5120
@jasonLaster  @gregtatum  Hello. My team has a few questions regarding this issue. What exactly do we need to do to implement the flow header?? Do we just add // @flow as said in the document? Also we have noticed that many files are missing this header. How do we identify which files need this header? (edited)

[2018-03-29 17:35] jasonLaster commented on #5120
yes, lets add them and then get `yarn flow` passing

[2018-03-29 18:26] chan750 commented on #4080
@jasonLaster @yzen After inserting tabindex="0" into the <div className="_header" and the <div className="header-buttons" in the /src/components/shared/Accordion.js file, we noticed that we were able to tab through the headers in the order specified in the image attached. We could only do this after pressing Crtl Shift F to search in files, otherwise it would tab to the collapse pane buttons and t

[2018-03-29 18:45] darkwing commented on #4080
Hello @chan750!

Thank you for your help!  My best advice on finding out what's being focused upon between 3 and 7 is using `document.activeElement` (https://developer.mozilla.org/en-US/docs/Web/API/DocumentOrShadowRoot/activeElement) to see what element, if any, is being focused.

As for desired order, I don't know that I have a "correct" answer.  Logically, I think a "left to right" approach mak

[2018-03-29 18:49] jasonLaster commented on #5120
every JS file in `src`
excluding spec.js and files in `src/test/mochitest`

[2018-03-29 20:34] jasonLaster commented on #5814
This is a cute way of creating dynamic scripts. This is a dupe of #4373. Dynamic scripts are poorly handled in the server, which I hope to fix once we remove the old debugger.

[2018-03-29 20:34] #5814 closed

[2018-03-29 20:37] jasonLaster commented on #5816
Thanks, it's good that we don't need the addon to repro.

[2018-03-29 21:28] jasonLaster commented on #5800
nope... not sure how either

[2018-03-29 22:33] karlcow opened #5827 "[Breakpoints] [PrettyPrint] Pretty breakpoints are missing on reload"
Steps to reproduce

1. With Firefox Nightly 61.0a1 (2018-03-29) (64-bit)
2. Responsive Design Mode/Firefox Android UA/ touch enable
3. Go to http://peggo.tv/
4. Open debugger
5. Find http://d3ud741uvs727m.cloudfront.net/?vudud=713949
6. prettify the script (you need to go through the tab, the `{}` is not available. Another bug)
7. find `n.prototype.Sb = function (a) {… etc …}`.
8. set a breakpoint

[2018-03-30 10:06] julienw commented on #5815
I added a screenshot in the initial description. This is from www.mozilla.org with both ublock origin and the react addon enabled. I also added a line about the part in `resource://`.

[2018-03-30 12:22] kootoopas opened #5829 "[Preview] No preview for empty strings and false booleans"
### EDIT: This is already fixed, although I stumbled upon the issue on nightly, which uses a slightly outdated debugger.html. I just wish that there was a way to use the github master's version of the debugger on nightly so that when someone bumps on an issue while developing sth else they know that it's valid.

Oh well, here's the issue anyway. `¯\_(ツ)_/¯`

### STR

* copy these into the file sco

[2018-03-30 12:51] jasonLaster commented on #5829
Thanks. I think you persuaded me to write a mochitest for these cases today!

I've been thinking about it.

[2018-03-30 12:53] jasonLaster commented on #5815
Hey @rpl, @digitarald i'm curious what you think?

We probably have other similar issues too

[2018-03-30 13:13] jasonLaster commented on #5829
i'm seeing this issue in the panel :)

[2018-03-30 13:14] kootoopas commented on #5829
@jasonLaster  Oh really? Weird, because once I pulled from the latest master and run the debugger all was well. :)

[2018-03-30 13:17] kootoopas commented on #5829
There's specific commentary about the cases I'm describing in `renderPreview()`:
[code]

[2018-03-30 13:23] irrationalRock commented on #5566
Hi, I made a PR to remove one of the <code>--theme-search-overlays-semitransparent</code> but there is another in a node modules called devtools-mc-assets. In that repo a file called sync.js downloads a zip and in that zip exists <code>--theme-search-overlays-semitransparent</code>.

[2018-03-30 13:30] rpl commented on #5815
I definitely agree (and I recall that we had already briefly discussed about this before, I'm been wondering if we were discussing about a particular issue already fined and I've been looking for it, e.g. #5759 seems to be also a duplicate of it, but it has been filed just 8 days ago and so it isn't the reason why I recall that we talked about this before).

I'm pretty sure that to be able to show

[2018-03-30 13:31] darkwing commented on #5815
Using the `addons` icon instead of the globe would be awesome too

[2018-03-30 15:32] darkwing opened #5833 "[Breakpoints] Removing Breakpoints Between Original and Generated Sources Has Weird Side Effect"
## Steps to Repeat

1.  Go to https://davidwalsh.name, open the "https://davidwalsh.name/wp-content/themes/punky/js/main.js" pretty source
2.  Create breakpoints at multiple lines: 10, 14, 16
3.  Open it's original source tab (click "From main.js" in the footer)
4.  (Notice the breakpoint marker at line 1)
5.  Click the breakpoint marker on line 1:  the breakpoint on line 10 is removed from the br

[2018-03-30 17:20] darkwing opened #5834 "[Preview] TypeError: undefined has no properties"
## Steps to Repeat

1.  Create a breakpoint
2.  Refresh the source page
3.  Hover your mouse somewhere inside of the editor
4.  See: "TypeError: undefined has no properties" ; preview.js: line 182:33

[2018-03-30 18:00] jasonLaster opened #5835 "[Breakpoints] Support jumping to a function call"
Last summer, we added a fancy feature for column breakpoints. The feature never shipped because the UX was too ambitious.

It would be nice to re-purpose the UI we built for a simpler feature "jump to call".

Here is a gist with a technical overview:
https://gist.github.com/808bb1a1019594a22ff4b40c7dd8dd0f

Here is a video of how it could look:
[jump.mp4](https://shipusercontent.com/b2175e89a524bc

[2018-03-30 20:25] calebstdenis commented on #3375
So I'm noticing a pattern here in our call stack groups. Seems like we should be basing the group name on the bottom frame rather than the top one.
![download](https://user-images.githubusercontent.com/7321311/38152666-cc906980-3436-11e8-92d9-a2adbda1f58a.png)

[2018-03-30 21:05] darkwing commented on #5691
@bomsy Are you working on this as well?  I thought you mentioned something like this during our early week standups

[2018-03-30 21:37] atwalg2 commented on #5691
https://wax-twig.glitch.me/

[2018-03-30 22:52] bomsy commented on #5691
@darkwing True! @atwalg2  Yeah..this has been fixed already. via https://github.com/devtools-html/debugger.html/pull/5818

[2018-03-30 22:52] #5691 closed

[2018-03-31 01:42] MicahRamirez commented on #5770
Just making sure I understand the behavior for showing "JS" versus "Tab" image:
We show the tab image in a ResultList item if there exists a tab with path equal to the ResultList item path?

I wasn't able to find the "JS" image within the provided link. Tab was there, but JS wasn't.

[2018-03-31 04:20] dimitardanailov commented on #5800
Greetings,

We should discuss this Boolean flag:

[code]

If @wldcordeiro share with us why the Boolean flag is required we could discuss how to restructure the source code.

I was able to reproduce the issue but I can't share which steps are required.
The issue is very hard for reproduce.

Demo with my success: https://www.youtube.com/watch?v=ew80SQx77CA&feature=youtu.be

[2018-03-31 12:18] jasonLaster commented on #5800
can we get rid of that block if `closeActiveSearch` does the same thing?

[2018-03-31 12:44] darkwing commented on #5800
I suggested the same :)

[2018-03-31 19:31] MicahRamirez commented on #5770
/claim

[2018-04-01 10:06] bomsy commented on #5706
@marcogallo566 How is this going?

[2018-04-01 17:27] jasonLaster commented on #5706
@marcogallo566 here's an AST [visualization](https://astexplorer.net/#/gist/fa0f56b4bc5e8a0e017db5da3c9e5444/e66d15b9b236cc167ffba0d557ed51ef07a8a139)

<img src='https://shipusercontent.com/f565e92437aac415abd75d4a81ad4274/Screen%20Shot%202018-04-01%20at%201.27.10%20PM.png' title='Screen Shot 2018-04-01 at 1.27.10 PM.png' width=633>
<img src='https://shipusercontent.com/af646f5adfcda5d1d31c73e4ef8

[2018-04-01 17:34] jasonLaster commented on #5706
I looked in the `getSymbols.spec.js` test results and found some nice things

we have a fixture `destructuring.js` and find some interesting things:

`getSymbols.spec.js.snap`

<img src='https://shipusercontent.com/d971741b2b49e62e768c4ea74acf15b1/Screen%20Shot%202018-04-01%20at%201.32.02%20PM.png' title='Screen Shot 2018-04-01 at 1.32.02 PM.png' width=1368>
<img src='https://shipusercontent.com/6

[2018-04-02 00:20] ryanjduffy commented on #3080
I took a cut at this and wanted to get some feedback before pursuing further. Specifically, I added a generic type for the promise middleware to attempt to handle the various structs that are valid for each action state (new, start, error, and done).

Here's the generic:

https://github.com/ryanjduffy/debugger.html/blob/f271f4eb667d52a8fae6594c06d6b33debd0030a/src/actions/utils/middleware/promise.

[2018-04-02 00:51] karlcow opened #5840 "[feature] Show the iteration values in each/foreach loops."
When iterating by stepping into the code  in a loop like this one below or `$.each`

[code]

make visible in the UI the current value of the `item`, probably near the code itself.

[2018-04-02 00:54] karlcow commented on #5840
Bonus: Show the previous and the next value when possible.

[2018-04-02 01:28] jasonLaster commented on #3080
Oh interesting, i didn't realize we could use splatting like this.

This looks good

[2018-04-02 12:50] jasonLaster opened #5842 "[Flow] add //@flow to reducers/types"
We are currently making a push to improve our flow coverage and use flow to catch more type errors. One of the biggest holes we have is the fact that the file `reducers/types.js` is actually *not* typed! This lets lots of code look typed, but in fact be any!

When I added `// @flow` I saw errors like this, which imply some issues with our makeRecord setup

<img src='https://shipusercontent.com/83c

[2018-04-02 13:19] joshunger commented on #5663
![image](https://user-images.githubusercontent.com/2301847/38197571-21226e42-3646-11e8-84e8-94907bf76055.png)

[2018-04-02 13:42] jasonLaster commented on #5663
After exploring changing the url to be clearer we decided that it would cause more confusion about how the url came from the source map.

[2018-04-02 15:57] ryanjduffy commented on #3080
Attaching a PR ^^^ with the proposed changes for breakpoint and ast actions to get the ball rolling.

[2018-04-02 16:44] digitarald opened #5844 "[Sources] Selection issue with active state and scrolling"
Nightly 61.0a1 (2018-04-01) (64-bit), OSX.

STR:
- Opened https://q7mmol9xy9.codesandbox.io/
- Select `external "system"` and `external "file"` entries

AR: Selection is something not maintained and scrolling issue.

![screenflow](https://user-images.githubusercontent.com/8599/38205136-501ecfba-365a-11e8-80b7-c43e7c503010.gif)

I think I saw missing `:active` (as in current file opened) in the sou

[2018-04-02 17:48] marcogallo566 commented on #5706
First of all, thank you both.
@jasonLaster I'm checking `identifiers` and I found the same thing: logging in the console I found that `name` and `expression` are `undefined`, fix this will be helpful, now I'm working to this. Besides the first option is a good way, I hadn't considered it.

[2018-04-02 20:15] darkwing commented on #5844
My site has the same highlight issue with the following URL's item:

https://ad.doubleclick.net/ddm/adj/N366601.452584BUYSELLADS.COM/B9719141.131867274;dc_ver=41.108;sz=180x150;u_sd=2;dc_adk=2036841227;ord=sjv93r;dc_rfl=1,https%3A%2F%2Fdavidwalsh.name%2F$0;xdt=1;crlt=UNf*RH5!on;sttr=40;prcl=s?

[2018-04-02 20:31] dimitardanailov commented on #5800
I'll have time on Thursday to play with source code.

I agree with you.

[2018-04-03 08:43] codehag commented on #4411
@miketaylr hi, I tried reproducing this and i am not seeing this. here is a screenshot of the log that i am seeing:

<img width="1303" alt="screen shot 2018-04-03 at 10 42 14" src="https://user-images.githubusercontent.com/26968615/38238942-b9dac2de-372b-11e8-9078-878e19822bc7.png">

It has been a while since this was reported, should we update the str to try to reproduce?

[2018-04-03 13:49] darkwing opened #5848 "[Breakpoints] Store breakpoint text"
Parent Issue:  https://github.com/devtools-html/debugger.html/issues/5773

We should store the code at a given line for each breakpoint so that we can display that code for the new UI.

[2018-04-03 13:50] darkwing commented on #5848
Completed here:  https://github.com/devtools-html/debugger.html/pull/5823

[2018-04-03 13:50] #5848 closed

[2018-04-03 13:53] darkwing opened #5849 "[Breakpoints] Syntax highlight the breakpoint text"
Parent Issue:  https://github.com/devtools-html/debugger.html/issues/5773

Now that we have the breakpoint text, we need to syntax highlight that code using CodeMirror.

[2018-04-03 15:58] miketaylr commented on #4411
hi @codehag, yeah, the original STR don't work anymore. I guess maybe we removed `console.error` support or something? But it does still reproduce if you use `console.trace`, I update the original STR in https://github.com/devtools-html/debugger.html/issues/4411#issue-266207050. Thanks!

[2018-04-03 16:17] joshunger commented on #4411
I still see the error too.

[2018-04-03 17:56] mohamedabo commented on #5120
Hello @jasonLaster , my team have added the flow header to every JS file in src except spec.js files in src/test/mochitest. However, when I ran the command `yarn run flow` it gave me a list of errors showed in the following screen shots
![screenshot from 2018-04-03 13-48-27](https://user-images.githubusercontent.com/32283283/38266259-2f8e3d20-3746-11e8-9854-4b8d3fbccf99.png)
![screenshot from 2018

[2018-04-03 17:58] jasonLaster commented on #5120
@mohamedabo can you share the files that you added `// @flow` to. We have a bug for `reducers/types.js`

[2018-04-03 18:26] Malachi-Holden commented on #4756
I am not able to replicate this issue.
I am using Ubuntu 16.04, with Firefox nightly Version 61.0a1 (2018-04-03) (64-bit)
![screenshot from 2018-04-03 14-22-47](https://user-images.githubusercontent.com/35282360/38267959-ec756054-374a-11e8-8521-6eff49c76f71.png)

[2018-04-03 21:18] jasonLaster commented on #5738
@lukaszsobek un-assigning as it's been 2 weeks.

[2018-04-04 09:14] juliandescottes commented on #5829
This is the 3rd time this issue regresses (#3944 , #5241 and this issue), thanks for finally adding a test  :)

[2018-04-05 01:41] karlcow opened #5857 "[bug] ev flag disappears when moving cursor away"
Using Firefox Nightly 61.0a1 (2018-04-04) (64-bit) on macos

1. Go to https://play.google.com/store/apps/details?id=org.mozilla.firefox
2. "Inspect Element" one of the 3 vertical dots in the Reviews section
3. The inspector opens probably on `<span class="DPvwYc NE4Eeb" aria-hidden="true"></span>`
4. Go back to the browser window and hover the 3 dots.

Actual:
The event flag appears on a nesting

[2018-04-05 02:31] jasonLaster commented on #5857
Is this an inspector bug? If so, it should be filed in bugzilla

[2018-04-05 03:17] karlcow commented on #5857
@jasonLaster Yeah I was hesitant. I'm not sure if it's debugger or Inspector. But it's happening in the inspector. Let me do that.

[2018-04-05 03:19] karlcow commented on #5857
Duplicate of https://bugzilla.mozilla.org/show_bug.cgi?id=1451594

[2018-04-05 03:19] #5857 closed

[2018-04-05 10:34] Tazmain opened #5858 "Dark theme makes it hard to see what is highlighted in response (Network tab)"
In the network tab the dark theme makes it really difficult to see exactly what has been highlighted.

![image](https://user-images.githubusercontent.com/9366533/38361327-47bcbe66-38cd-11e8-82a2-e6cac776d10a.png)

So when selecting the value in the headers or response (json) the dark theme makes it impossible to see what exactly has been highlighted.

When the line is not highlighted it is easier

[2018-04-05 12:10] jasonLaster commented on #5858
Hi @Tazmain, I think this is a network monitor bug. Could you file it in: http://bugzilla.mozilla.org/

[2018-04-05 12:10] #5858 closed

[2018-04-05 12:48] jasonLaster opened #5860 "[QuickOpen] Path is too wide"
It looks like the path keeps its with while the filename shrinks...
We should not have to guess what the filename is.

<img src='https://shipusercontent.com/ba703e93a6a5fe798f0ee9f6f99c38d6/Screen%20Shot%202018-04-05%20at%208.47.19%20AM.png' title='Screen Shot 2018-04-05 at 8.47.19 AM.png' width=496>

[2018-04-05 15:33] #5796 closed

[2018-04-05 16:51] jasonLaster opened #5862 "[Preview] Popup gets clipped"
The preview popup recently started getting clipped. I think it is related to the new Reps version, but should be easy to disect...

<img src='https://shipusercontent.com/c827394232f15afcbc0778cb4127b804/Screen%20Shot%202018-04-05%20at%208.55.00%20AM.png' title='Screen Shot 2018-04-05 at 8.55.00 AM.png' width=502>

[2018-04-05 17:16] jasonLaster opened #5863 "[ProjectSearch] Focus state colors are a bit off"
I'm a big fan of our project search keyboard navigation, but along the way we allowed our focus state colors to get have an off blue

I think our indentation is a bit off too...

Should be pretty easy to fix these things with some CSS

![](http://g.recordit.co/KeVrOhQWWh.gif)

[2018-04-05 17:32] mohamedabo commented on #5120
Hi @jasonLaster. We already posted the commits. This is a list of the files that we have edited in our local repository https://github.com/johnsonwe/debugger.html/commit/a8c5abe199cdc5aaf6b5321233899d36b65196c8. If you needed an additional list let me know and I would be happy to provide it to you.

[2018-04-05 17:49] jasonLaster commented on #5120
Great @mohamedabo I just copied the files you touched into a todo list which is now in the description. Feel free to fix one file at a time and add a PR!

[2018-04-05 21:30] dimitardanailov commented on #5863
@jasonLaster

Could you share with me steps: How this issue / feature can be reproduced ?

[2018-04-05 22:19] jasonLaster commented on #5863
1. cmd+shift+f
2. type something and enter
3. tab over to the item

[2018-04-05 22:20] jasonLaster commented on #3375
hmm, can you share an example stack?

[2018-04-05 22:53] jasonLaster opened #5869 "[Sources] Reveal in Tree should open the left sidebar"
I just noticed that reveal in sidebar doesn't open the left sidebar if it is closed. Should be a nice fix :)

[2018-04-06 06:30] atwalg2 commented on #5120
/claim I can claim the src/utils directory to start

[2018-04-06 11:44] bomsy commented on #5628
Are these all done? Can this be closed?

[2018-04-06 11:44] jasonLaster commented on #5628
sure, we can re-open it when more work comes

[2018-04-06 11:44] #5628 closed

[2018-04-06 11:50] #5842 closed

[2018-04-06 11:56] jasonLaster commented on #5708
@nyrosmith I unassigned you since it's been two weeks. Feel free to re-claim if you have time.

[2018-04-06 11:57] jasonLaster commented on #5708
Just updated this [branch](https://github.com/devtools-html/debugger.html/compare/master...jasonLaster:reselect-types?expand=1). I love how the first thing that flow told me here was that this function should be killed, it's overkill to have a type checker tell you a function doesn't make sense anymore, but why not!

[code]

[2018-04-06 12:27] jasonLaster opened #5875 "[Breakpoints] make Breakpoint Pure"
I think we can likely remove the `shouldUpdate` call by doing a pretty extreme refactoring [branch][bp]. The reason i think we need `componentShouldUpdate` is that every time Breakpoints renders we create new local breakpoints, so Breakpoint feels like it should re-render. We can change the connect function to be more pure, basically give us all the data unchanged, and then on the component side d

[2018-04-06 12:45] jasonLaster opened #5876 "[Preview] runs on any original file"
For some reason, Preview thinks every original file is the file that we're paused in. We're likely only checking generated locations now...

![](http://g.recordit.co/B2CNrIcOAF.gif)

[2018-04-06 13:14] calebstdenis commented on #3375
For sure! [Here's the Jest test case](https://github.com/calebstdenis/debugger.html/commit/16471fb330b5452783b91afe5d046866e7e02e3d) for your [example](https://github.com/devtools-html/debugger.html/issues/3375#issuecomment-376541150).

Lemme rephrase what I've been saying: It would be super easy to make the above test pass. The hard thing is doing it in a way that would make it scale to projects

[2018-04-06 16:13] juliandescottes opened #5881 "Remove all references to .theme-firebug"
Synchronize with the changes from https://bugzilla.mozilla.org/show_bug.cgi?id=1378108

https://github.com/devtools-html/debugger.html/search?utf8=%E2%9C%93&q=.theme-firebug&type=

[2018-04-06 16:15] juliandescottes commented on #5881
Related issue for reps: https://github.com/devtools-html/devtools-core/issues/1025

[2018-04-06 20:15] darkwing opened #5884 "Error: parent.value is null"
When using Nightly to debug debugger.html in Firefox, I see the following error:

[code]

The code at said line is:

[code]

I'm wondering if if this only happens on webpack stuff, because it doesn't happen with my site or other https sites, for example.

[2018-04-07 14:53] #5509 closed

[2018-04-07 14:59] jasonLaster commented on #5568
@ochameau I'm not sure if this is a debugger bug or a toolbox bug. Do you know where f5 and cmd+option+i are bound?

[2018-04-07 14:59] #5568 closed

[2018-04-07 15:00] jasonLaster commented on #5406
@haoRchen any luck here? I'm going to open this bug up for others so we can get some additional eyes on it.

[2018-04-07 15:00] jasonLaster commented on #5731
closing as i think this is fixed now

[2018-04-07 15:00] #5731 closed

[2018-04-07 15:02] jasonLaster commented on #5834
@darkwing can you share an example URL and source where you set the breakpoint and paused?

[2018-04-07 17:13] #5876 closed

[2018-04-07 18:59] jasonLaster commented on #5603
Alright, so this is definitely a tricky problem technically. I just played with a bunch of solutions and kinda stumbled on doing it the way we handle the preview popup:

- add a codemirror onmouseover handler
- try really hard to only look at gutter elements
- try really hard to know when we change lines

Things to do:

- clear the breakpoint when you move off of the gutter
- dont clobber lines th

[2018-04-07 19:10] dimitardanailov commented on #5406
Greetings,

Which is the best project for this requirement ?

cc: @haoRchen @digitarald

[2018-04-07 21:09] marcobeltempo commented on #5862
I would like to take on this issue.
@jasonLaster I used `yarn link` to connect devtools-core, I'm just unsure how to run it.

[2018-04-07 21:11] jasonLaster commented on #5862
Hey @marcobeltempo feel free to. I'm not sure if yarn link will work, my recomendation is to change the files in the node modules directory and then apply that patch in devtools core

[2018-04-07 21:33] CharlesStocky commented on #5603
Thanks for looking into it @jlast. It would have taken me a while to come up with a solution resembling that, if ever. I have a better understanding of how "proprietary" Codemirror events fit into debugger now :)

[2018-04-08 12:54] calebstdenis commented on #3792
/claim

[2018-04-08 15:15] bomsy opened #5886 "[Server] Stepping out bug"
Currently when we are paused within a function, and we hit the step out button, rather that jumping out of the function we jump to the closing curly of the function.

Chrome does the right thing.

**STR:**
- Debug https://harvest-ray.glitch.me/
- Hit step out button

**AR:**
- Pauses on the the closing curly

**ER:**
- Jumps out of the function and pauses on the next line outside the function

**C

[2018-04-08 20:40] mutdmour commented on #5552
/claim

[2018-04-09 01:25] jasonLaster commented on #5782
wow great discovery, i wouldn't have thought of that. Can you please walk us through your process a bit more

[2018-04-09 03:01] AnshulMalik commented on #5782
So, here is the process, how I discovered those chars:
- Download `almond.js` locally (`wget http://s1.xmcdn.com/js/almond.js?v=20180319144900`)
- Open it in editor(vscode in my case)
- Go to line 193, you'll see there are some characters which are binary and can not be displayed so there is a `?` kind of symbol.
- We can also see the ascii or hex value of character present at that location with `

[2018-04-09 14:47] #5863 closed

[2018-04-09 17:35] AlexWang-16 commented on #5446
/claim

[2018-04-09 17:39] AlexWang-16 commented on #5446
I've claimed this issue, but I also see that @lukaszsobek has claimed this issue previously. The issue currently indicates it is not in progress, hence my claim. I want to confirm that I haven't jumped on top of someone else already working on this issue. Is it still good for the taking?

[2018-04-09 17:49] jasonLaster commented on #5446
@AlexWang-16 it's all yours

[2018-04-09 23:10] darkwing commented on #4075
I drafted keyboard navigation in this pull request:  https://github.com/devtools-html/debugger.html/pull/5806

I'd love for someone to drag it across the finish line!

[2018-04-10 00:09] Sekhmet commented on #4075
/claim

I'd love to work on that, but it might take a while as I'm on a tight schedule.
If someone is willing to work on that as well and can finish it faster let me know.

[2018-04-10 00:41] #5800 closed

[2018-04-10 02:28] rajatvijay commented on #4075
/claim

Would love to work on it.
Might take some time to set it up and understand the current code. But will try to finish as soon as I can.

[2018-04-10 04:47] karlcow opened #5894 "[PrettyPrint] Instant crash on prettify on ravelry.com"
With Firefox Nightly 61.0a1 (2018-04-09) (64-bit)
on macOs 10.13.4 (17E199)

1. Go to https://www.ravelry.com/account/login
2. Login and password (creation is free)
3. open the debugger tool.
4. go to https://www.ravelry.com/patterns/search#query=
5. open https://style-cdn.ravelrycache.com/javascripts/search2_1803061301.js in the left panel of the debugger.
6. Click on the `{ }` to prettify the sc

[2018-04-10 10:29] AnshulMalik opened #5898 "Missing license header in src/utils/dbg.js"
The file [src/utils/dbg.js](https://github.com/devtools-html/debugger.html/blob/master/src/utils/dbg.js) should have license text on top as all other files have.

[code]

[2018-04-10 12:53] Sekhmet commented on #5898
/claim

[2018-04-10 14:14] #5881 closed

[2018-04-10 14:16] darkwing commented on #5834
It's possible this bug was fixed by an unrelated update to Preview; I'll keep an eye out and re-open once I see it again and have STR.

[2018-04-10 14:16] #5834 closed

[2018-04-10 14:17] darkwing commented on #5797
@jasonLaster created the filtered source selector, so we can close this.

[2018-04-10 14:17] #5797 closed

[2018-04-10 14:26] #5770 closed

[2018-04-10 14:26] #5760 closed

[2018-04-10 14:48] darkwing commented on #5457
This appears to be fixed in Chrome.

[2018-04-10 14:48] #5457 closed

[2018-04-10 14:58] #5695 closed

[2018-04-10 14:59] #4488 closed

[2018-04-10 15:08] darkwing opened #5902 "[Sources] Duplicate item keys in SourcesTree"
STR:

1.  Load the Angular example from devtools-examples (http://localhost:7999/angular/sample/dist/)
2.  Expand the angular item in the SourcesTree
3.  See console warning:

[code]

`AppModule` appears as both a document and a directory.

4.  Quickly open and close the Angular tree item
5.  Each time you open and close the Angular tree item, a new `AppModule` directory icon appears

![duplicates

[2018-04-10 15:37] darkwing opened #5903 "[Breakpoints] Create Enable/Disable Pausing Button"
Parent issue:  #5773

Implement the button in the top/right portion of the secondary pane:

<img width="294" alt="enabledisablepausing" src="https://user-images.githubusercontent.com/46655/38567187-324f6ac4-3cab-11e8-93a0-7dbe653dd586.png">

[2018-04-10 16:36] jasonLaster opened #5906 "[QuickOpen] Style input bar"
Here are some tweaks we would like to make to the quick open modal

- [x] bar should be larger
- [x] bar should have a blue focus ring
- [ ] loading should appear in the right secton of the bar

![](https://user-images.githubusercontent.com/5976612/38178122-8c327e0e-35d1-11e8-8200-2a3cd47d5e7b.png)

[2018-04-10 16:47] ryanjduffy commented on #3080
Part 2 ^^^ with the remaining actions + some refactoring to fix timeout issues

[2018-04-10 16:49] Sekhmet commented on #5898
I have found more files that might be missing the license header:
[code]

should it be added to those files as well?

@AnshulMalik

[2018-04-10 17:15] darkwing opened #5908 "[Breakpoints] Update Watch Expression UI"
Parent issue:  #5773

- [x] Don't display the input by default
- [x] Add a "+" icon to show the input
- [x] Add a "(refresh)" icon

![watchexpressions](https://user-images.githubusercontent.com/46655/38572474-d1d39c16-3cb8-11e8-8c82-fff88fdc885c.png)

[2018-04-10 17:15] jasonLaster commented on #5898
@Sekhmet yes please

[2018-04-10 17:33] paesh1997 opened #5910 "[Styling] Watch Expressions refresh Breakpoints add buttons not focused"
After ctrl+shirt+f and tabbing through the headers, Watch Expressions refresh and Breakpoints add button can not be activated when it is focused. Instead, they are able to be activated immediately after tabbing again.

Refresh button and Add Breakpoints button should be focused when it is the active element.

My team (@chan750) (@denigrise) and I are in @emmet0r 's Open Source Software Engineering

[2018-04-10 17:34] Malachi-Holden commented on #4070
/claim
Hello,
I'm on  a team with @BadInternetGuy, and @Rayje1997, in @emmet0r class, and we're working on the 5th checkbox, making the close button an actual button.

[2018-04-10 17:46] #5898 closed

[2018-04-10 17:46] Sekhmet commented on #5155
/claim

[2018-04-10 19:50] jasonLaster opened #5917 "[Shortcuts] Replace ? with photon icon"
It would be nice to replace the "?" in the bottom right with the official mozilla photon svg

https://design.firefox.com/icons/viewer/#help

Here are some [docs](https://github.com/devtools-html/debugger.html/blob/master/docs/local-development.md#svgs) on adding SVGs

### Screenshot

![Screen Shot 2018-04-10 at 3.46.18 PM.png](https://shipusercontent.com/c6b9bd167f00af34248fd6d8dad32791/Screen%20S

[2018-04-10 19:53] Sekhmet commented on #5917
/claim

[2018-04-10 21:13] CharlesStocky commented on #5603
@jasonLaster how is it determined if a line can or can't have a breakpoint set?

[2018-04-10 21:17] jasonLaster commented on #5603
it has an emptyLine class. We also use the empty lines data from redux

[2018-04-10 22:26] #5908 closed

[2018-04-10 22:29] darkwing opened #5918 "SourcesTree: (index) click weirdness"
The first time I click on "(index)" in the SourcesTree, the following item is focused:

[code]

If I click it again, I get:

[code]

The `Object { name: "root", path: "", contents: […] }` item appears to be what throws the highlight off.  We need to figure out where that's coming from to fix this bug.

[2018-04-10 22:42] darkwing commented on #5918
The problematic `Object { name: "root", path: "", contents: […] }` item is coming from `ManagedTree`:

[code]

[2018-04-11 01:55] darkwing opened #5926 "[Breakpoints] Context Menu Items Not Working Reliably"
STR:

1.  Go to https://davidwalsh.name
2.  Open tab for https://d2zah9y47r7bi2.cloudfront.net/releases/current/tracker.js
3.  Add a breakpoint to lines 4, 10, and 20
4.  Right-click the breakpoint for line 10 in the Breakpoints list
5.  Click "Remove all others"
6.  All breakpoints are removed

Expected:  The breakpoints from line 4 and 20 are removed, 10 remains

[2018-04-11 01:56] darkwing commented on #5906
@violasong Do we have a style guide for font sizes?

[2018-04-11 02:04] AnshulMalik commented on #5926
Works fine for me, in launchpad.

[2018-04-11 02:05] AnshulMalik commented on #5926
Can reproduce it when the script is prettified.

[2018-04-11 02:20] darkwing opened #5927 "TypeScript Icons Not Displaying In SourceTree"
I was looking at the Angular example in devtools-examples (http://localhost:7999/angular/sample/dist/) and the .ts files show no icon:

<img width="248" alt="notypescripticon" src="https://user-images.githubusercontent.com/46655/38593054-1335ad38-3d05-11e8-8857-b74d4da8892d.png">

[2018-04-11 02:30] darkwing opened #5928 "[EmptyLines] Last Line Sometimes Not Marked Empty"
1.  Go to https://davidwalsh.name
2.  Open resource https://pagead2.googlesyndication.com/pagead/js/lidar.js
3.  Line 33, which is empty, is not marked as an empty line
4.  Click line 33, watch the breakpoint momentarily display but then disappear

<img width="917" alt="emptyline" src="https://user-images.githubusercontent.com/46655/38593389-acd72448-3d06-11e8-961b-74b52e74d48b.png">

[2018-04-11 02:50] jasonLaster commented on #5927
this would be good to have a unit test for

[2018-04-11 02:51] jasonLaster commented on #5928
the bug is in parser/pausePoints.js

[2018-04-11 16:36] Rohanhacker commented on #5638
@jasonLaster I am a bit confused here. Can you post screenshot from the invision ?? How should i proceed with this issue ?

[2018-04-11 16:48] jasonLaster commented on #5638
Hey @violasong could you share a screenshot. I can't login either :)

[2018-04-11 16:51] jasonLaster opened #5935 "[QuickOpen] CSS icon is not showing up"
looks like we're missing an icon for CSS files... maybe this is also an issue for the source tree

![Screen Shot 2018-04-11 at 12.50.22 PM.png](https://shipusercontent.com/129771f70236b2f7a98050eed310379b/Screen%20Shot%202018-04-11%20at%2012.50.22%20PM.png)

[2018-04-11 16:52] jasonLaster opened #5936 "[QuickOpen] Function search matches are poorly formatted"
Looks like the photon work might have messed up the layout of function search :/

![Screen Shot 2018-04-11 at 12.51.48 PM.png](https://shipusercontent.com/3688dc29a3baaf4247553df99ddfecff/Screen%20Shot%202018-04-11%20at%2012.51.48%20PM.png)

[2018-04-11 16:53] Sekhmet commented on #5935
/claim

[2018-04-11 17:05] Sekhmet commented on #5936
/claim

[2018-04-11 17:07] Sekhmet commented on #5936
I checked old commit to see how it used to look like. Is it supposed to look like this?
![image](https://user-images.githubusercontent.com/1968722/38631966-8ed2d568-3dbb-11e8-98f9-3f11ee80a1f9.png)

[2018-04-11 17:46] dimitardanailov commented on #5906
@jasonLaster and @darkwing

Greetings :)

I’d like to work on this ticket

[2018-04-11 17:51] Sekhmet commented on #5906
@dimitardanailov

You can use `/claim` to claim this issue.

[2018-04-11 18:03] dimitardanailov commented on #5906
/claim

[2018-04-11 22:25] #5936 closed

[2018-04-11 22:26] darkwing commented on #5927
Page I'm on is in the description; devtools-components: http://localhost:7999/angular/sample/dist/

[2018-04-11 22:45] darkwing commented on #5927
There's something weird going on here that I haven't figured out yet;  hovering over the URL in the DOM inspector shows that the file couldn't be loaded, but the network panel shows the file is OK but no size:

<img width="1336" alt="tswtf" src="https://user-images.githubusercontent.com/46655/38647075-1b41911c-3db0-11e8-96f7-0273dd74b77d.png">

[2018-04-11 22:58] jasonLaster commented on #5927
is that the same as this app: http://firefox-dev.tools/debugger-examples/examples/angular/sample/

[2018-04-11 23:25] darkwing commented on #5927
So I figured out what's going on; the `typescript.svg` file got corrupted because the `xmlns` and other attributes were are in the `<path>` element somehow.  I changed the contents to:

[code]

And now an icon properly displays.

[2018-04-11 23:42] darkwing commented on #5935
I'm not seeing a specific image for CSS files; we should set the default for images in the SourcesTree to be the file icon.

[2018-04-11 23:52] violasong commented on #5638
Ah, sorry, I used the wrong link! It was pretty tangential, but this is what I originally was talking about - combined help/shortcuts/quick open: https://mozilla.invisionapp.com/share/2XEEY0RYA#/screens/283871189_tab_Overflow
The latest version of the combined modal idea just has shortcuts as a menu item https://mozilla.invisionapp.com/share/DPGL221WHNZ#/screens

Neither of the above are very rele

[2018-04-12 00:03] violasong commented on #5906
Font sizes: Text inside the input field should be the equivalent of 13px; everything else - 12px.

Colors: Gray 90 for file name, Gray 50 for path/placeholder text, Gray 40 for "Loading..."

No divider lines needed between rows, and less spacing between rows would be great. (Should look similar to the main Firefox URL bar menu)

Thanks for working on this Dimitar!

[2018-04-12 08:51] AnshulMalik commented on #4168
I did some hacking on this one, this is where I got so far

![source](https://user-images.githubusercontent.com/7821757/38666504-b56e0c5a-3e5c-11e8-9c85-8890fa5496e4.gif)

[2018-04-12 10:48] bomsy commented on #5829
I think this can be closed!

[2018-04-12 10:48] #5829 closed

[2018-04-12 11:06] jnachtigall opened #5941 "Breakpoint code is truncated and highlighted line is one off"
**STR:**
I've set a breakpoint on `super(props)`

**AR:**
![image](https://user-images.githubusercontent.com/3307404/38673485-c1e7dab6-3e51-11e8-8071-29a8e6fd00a5.png)

Various issues:
* Breakpoint shows as `props));` (NB: Double closing brackets). Should be `super(props);`
* Highlight is on line 15 but should be on line 14.

This is with a React 16.3, webpack 3 and babel project. Quite big, not s

[2018-04-12 12:31] jasonLaster commented on #4168
hey, that's cool! It's only crashed for me lately

[2018-04-12 17:18] CameronPilgrim commented on #5120
@mohamedabo, @johnsonwe, and I will tackle the src/components directory.

[2018-04-12 18:08] jasonLaster opened #5947 "[Sources] Re-Enable auto-expand"
We landed source tree auto expanding in #5716, but had to revert it in #5946 when we saw a 20% performance regression with stepping.

We should try and profile this patch and fix the performance regression.

[2018-04-12 18:10] jasonLaster commented on #5903
[disablebreakpoints.svg](https://shipusercontent.com/d2d6909f645a02e13f244e4e51e63f77/disablebreakpoints.svg)

[2018-04-12 19:46] jasonLaster opened #5951 "[Pause] debugger doesn’t show the pause state"
Sorry for the delay... I'm finding a different but equally scary bug,

0. With Firefox Desktop Responsive Design mode. (window 360px/640px, Firefox Android UA, touch activated). 61.0a1 (2018-03-27) (64-bit)
1. Go to http://siberiastationspa.com/infos-pratiques/
2. Open the debugger
3. Find `function initHashClick()` in `default.min.js`
4. Set a breakpoint at the beginning of the code in initHashCl

[2018-04-12 19:47] jasonLaster opened #5952 "[Breakpoints] always shows the generated text"
It looks like we might always be showing the generated source text in the breakpoints panel instead of the original.

[2018-04-12 19:54] loganfsmyth opened #5953 "Throws "Cannot destructure property ownProperties""
Repro steps:
1. Load an instance of perf.html
2. Set a breakpoint in `TabBar#_mouseDownListener`
3. Click one of the perf tabs

Throws:
<img width="717" alt="screen shot 2018-04-12 at 12 39 38 pm" src="https://user-images.githubusercontent.com/132260/38700579-63ac606c-3e50-11e8-9279-4b89040bbbac.png">

Looking at the caller, it seems that https://github.com/devtools-html/debugger.html/blob/4c7476a

[2018-04-12 22:15] jasonLaster opened #5957 "[Testing] remove unnecessary files the ember example"
::: devtools/client/debugger/new/test/mochitest/browser.ini
@@ +60,5 @@

Do we need anything on top of those 7 files to run the test?

I'm not sure if we should keep the all the source to generate the test assets in m-c if that's the case?
As opposed to being in a separate repo, referenced from the README.

[2018-04-12 22:17] jasonLaster opened #5958 "[Testing] add license headers to all of the mochitests"
We have a couple mochitests that are missing license headers.

We should audit the list in `src/test/mochitest`.

[2018-04-13 03:08] jasonLaster opened #5962 "[QuickOpen] Polish add 1st expression"
Haha, thanks for this feedback, this video is making me question my whole push for a minimal empty accordion state everywhere in DevTools. (I'm also intending it for Grid/Flex https://mozilla.invisionapp.com/share/TUE5VV8MV#/screens/279164270_empty_Grid-Flex). The idea is automatically minimal UI where you don't have to manually minimize everything you never use, but it may be tricky to get it rig

[2018-04-13 08:40] nchevobbe opened #5963 "[Sources] Displayed files should have the same icons"
Here's a screenshot where I'm paused in tree.js (a react component):
<img width="1809" alt="image" src="https://user-images.githubusercontent.com/578107/38725208-e37d58a8-3f06-11e8-93df-973470861ae1.png">

There's 3 places where the filename is displayed:
- source panel (JS icon)
- tab header (React icon)
- breakpoint panel (no icon)

It would be nice if we would be consistent and show the same ic

[2018-04-13 15:26] jasonLaster commented on #5782
CC @jimblandy

[2018-04-13 15:27] jasonLaster commented on #5840
This is a cool feature! We would love to work on UI improvements like this in the summer/fall.

I'm going to move this to the icebox and we'll pick it up later.

[2018-04-13 15:27] #5840 closed

[2018-04-13 15:29] jasonLaster commented on #5827
Thanks. I was seeing the same thing yesterday when I was looking at another pretty print issue!

[2018-04-13 15:34] jasonLaster commented on #5791
This is likely a distinction without a difference, but could you file this bug in the Inspector component in devtools. The logic for finding the appropriate location is there.

[2018-04-13 15:34] #5791 closed

[2018-04-13 15:35] jasonLaster commented on #3029
This is a similar bug, that should move to the inspector component where it can be appropriately triaged. At a minimum it should be in bugzilla because the debugger UI cannot fix it.

[2018-04-13 15:35] #3029 closed

[2018-04-13 15:45] jasonLaster opened #5965 "[Testing] browser_dbg-browser-content-toolbox intermittent"
There are 37 failures since this bug was created (~1 day).
Platforms: Linux x64 asa/ debug/ opt/ pgo, macosx64-nightly opt, OS X 10.10 opt/ debug, Windows 7 opt/ debug/ pgo, windows10-64 opt/ debug/ pgo, windows10-64-nightly opt.
Recent log failure: https://treeherder.mozilla.org/logviewer.html#?repo=mozilla-central&job_id=172993664&lineNumber=5167

Relevant part of the log: 00:05:15     INFO -  B

[2018-04-13 16:44] darkwing opened #5966 "[Preview] isReactComponent isn't Properly Detecting React Components"
The `isReactComponent` inside `src/utils/preview.js` isn't properly detecting React components.

`ownProperties` contains only a list of the component's methods and properties, of which `_reactInternalInstance` and `_reactInternalFiber` are not.  For example, App.js' ownProperties are:

[code]

[2018-04-13 17:30] jasonLaster commented on #5966
So... I think it would be good to add a static way to see if we're in a react component. This logic formalizes some of these things by

1. seeing if we're paused in a class
2. seeing if we're in a file w/ a react component
3. checking if we're in fact in a component class

[code]

[2018-04-13 19:13] darkwing opened #5970 "[Breakpoints] Show Special Icon in Group File Name"
We have this awesome feature where we show a React icon if the file is a React file; maybe we should try showing the same icon in next to the file name in the breakpoints pane:

<img width="1182" alt="react" src="https://user-images.githubusercontent.com/46655/38753663-ba58f73e-3f24-11e8-9877-19a07b766f0a.png">

[2018-04-13 19:58] #5764 closed

[2018-04-13 20:13] jasonLaster commented on #5970
Yeah! Even the file icon might add a nice visual call out.

[2018-04-13 21:08] jasonLaster commented on #5970
<img src='https://shipusercontent.com/264049eeacdeb8e0eff623f0097c5407/Screen%20Shot%202018-04-13%20at%205.06.29%20PM.png' title='Screen Shot 2018-04-13 at 5.06.29 PM.png' width=300>

[2018-04-14 02:45] gregtatum opened #5974 "Dragging the horizontal splitter offscreen ignores the mouseup event"
Steps to reproduce:

 * Have the debugger and console open in DevTools with the split screen like so: <img width="722" alt="image" src="https://user-images.githubusercontent.com/1588648/38763515-2c7a861e-3f63-11e8-9452-ab1d742bde42.png">
 * Drag the splitter for the toolbar with the breakpoints. <img width="720" alt="image" src="https://user-images.githubusercontent.com/1588648/38763522-42d1ac1c-3

[2018-04-14 16:25] blikblum opened #5975 "[SourceTree] Script inside of iframe is not displayed in Sources pane"
When a script is inside an iframe, is not displayed in the source tree (Sources pane). This makes impossible to evaluate such code.

Example is JSBin:

 * Open http://jsbin.com/lohexapude/edit?html,js,output
 * The JSBin output pane is displayed in an iframe which has a second iframe as child where the bin code (added to JavaScript pane) lives inside a script tag. This code is not listed in source

[2018-04-15 08:47] zeoneo commented on #5047
/unclaim

[2018-04-15 11:08] Zhang-Junzhi opened #5977 "Contents in Debugger should show human-readable Unicode domain names and Unicode filenames instead of showing Punycode domain names and URI-encoded filenames"
CC [1450292][bz]

The debugger should show non-ascii url hostnames, paths, and filenames. e.g. Source Tree, Tabs, ...

STR:
1. go to https://dbg-unicode.glitch.me/
2. click on 測.js

This issue was fixed for other panes in [1448553][bz2], which provides a common module to get Unicode hostnames, Unicode URL components and Unicode URLs(see unicode-url.js, unicode-url-stub.js), so they can be reused i

[2018-04-15 14:00] jasonLaster commented on #5977
Thanks for filing. I'd like to find a good solution that re-uses your work in [unicode-url.js][url]. Perhaps we land a shim module [here](https://github.com/devtools-html/devtools-core/tree/master/packages/devtools-modules) so that the debugger has a shim locally and uses the real thing in the panel?

[url]: https://searchfox.org/mozilla-central/source/devtools/client/shared/unicode-url.js

[2018-04-15 14:10] Sekhmet commented on #5603
I'm working on CSS solution for this which should be easier to implement (with some CSS voodoo).

[2018-04-15 14:27] jasonLaster opened #5978 "[Breakpoints] Scrolling over a breakpoint is suppressed"
It looks like we have a funky bug with codemirror and scrolling in the right sidebar:

STR:

1. add some breakpoints
2. scroll in the right sidebar so that the mouse is over breakpoint text

Notice how the panel won't scroll any more

![](http://g.recordit.co/rshcWzgOr7.gif)

[2018-04-16 06:56] Zhang-Junzhi commented on #5977
For now the "slim" versions for the other tools are actually stubs(E.g. [unicode-url-stub.js](https://searchfox.org/mozilla-central/source/devtools/client/shared/webpack/shims/unicode-url-stub.js))

I am not sure whether you meant an actual slim, or a stub? In other words, I would like to hear your opinion as to whether to implement an actual slim module first, or to introduce a stub to fix the de

[2018-04-16 07:16] s-pace commented on #5047
:wave:
@jasonLaster @zeoneo
Do you need any help? Super quick to reach something working: http://debugger-docsearch.surge.sh/

Happy to help. I can PR the integration of the search bar. Just point me out on which repo/branch to do so.

Have a nice week

[2018-04-16 10:36] juliandescottes opened #5981 "Firefox hangs after trying to break in PlacesUtils.jsm"
BrowserToolbox bug

STRs:
- start Firefox
- open browser toolbox
- open PlacesUtils.jsm
- set a breakpoint at line 766 (`if (!parent && aNode...`)
- go back to Firefox
- Bookmarks menu > Show All Bookmarks
  - note that before debugger v37, the breakpoint is hit at this step. Resume if it is.

=> Firefox hangs (UI unresponsive etc ...)

cc @Standard8

[2018-04-16 10:40] Standard8 commented on #5981
Also, in the console, there's lots of "Unable to run script because scripts are blocked internally" that get repeated.

[2018-04-16 12:06] juliandescottes commented on #5813
seems fixed in v39? @jasonLaster

[2018-04-16 12:34] jasonLaster commented on #5977
I think the fix involves adding the shim in devtools-modules, and then using webpack-config to point to the correct module in the panel..

[2018-04-16 12:34] jasonLaster commented on #5047
@s-pace please do

[2018-04-16 12:36] jasonLaster commented on #5813
it should be fixed in 38

[2018-04-16 12:36] jasonLaster commented on #5813
well actually 37

[2018-04-16 12:51] jasonLaster commented on #5981
I was able to reproduce it on the current central w/o Release 37 & 36.

Here are some screenshots

![Screen Shot 2018-04-16 at 8.47.49 AM.png](https://shipusercontent.com/7124608c207c3b54430d2a7ef7b74a7b/Screen%20Shot%202018-04-16%20at%208.47.49%20AM.png)
![Screen Shot 2018-04-16 at 8.46.16 AM.png](https://shipusercontent.com/096c132b358a92d81b0450411f7ae75b/Screen%20Shot%202018-04-16%20at%208.46.

[2018-04-16 12:51] Zhang-Junzhi commented on #5977
Okay, now I see what you meant the former.

I will leave a comment in this issue when the shim is implemented.

[2018-04-16 13:00] s-pace commented on #5047
@jasonLaster Where is the source rendering : http://firefox-dev.tools/debugger.html/ ?

[2018-04-16 13:29] jasonLaster commented on #5047
it's coming from the github pages template which builds docs/readme

[2018-04-16 13:49] jasonLaster commented on #5981
Alright... so i've narrowed the regresson window to:
14:12.31 INFO: Getting mozilla-central builds between f4fcdaef616807d1e31a849db0c60a3a4bdc8778 and 3f9a70b125f6fb9be2b209159657fd7ae5515c01

I believe this issue is in platform and not the debugger.

It looks like there are plenty of run to completion issues here as well.

Lets move this bug to bugzilla where it can be tracked closer to the issu

[2018-04-16 14:35] juliandescottes commented on #5981
Thanks for checking the regression window. As a pushlog that gives us: https://hg.mozilla.org/mozilla-central/pushloghtml?fromchange=f4fcdaef616807d1e31a849db0c60a3a4bdc8778&tochange=3f9a70b125f6fb9be2b209159657fd7ae5515c01

At first I can't see anything suspicious here.

[2018-04-16 19:00] yalooong commented on #5928
/claim

[2018-04-16 19:12] Sekhmet commented on #5958
Some lines there use Public Domain license header. Should it be replaced with MPL or left as-is?
https://github.com/devtools-html/debugger.html/blob/e788538248139c00b69f268e39b264d98c5bc58f/src/test/mochitest/browser_dbg-async-stepping.js#L1-L5

[2018-04-16 20:33] mnoorenberghe opened #5986 "Stepping into an ES module: SyntaxError: 'import' and 'export' may appear only with 'sourceType: "module"'"
Test case:
STR:
1. navigate to [page](https://cdn.rawgit.com/jakearchibald/a298d5af601982c338186cd355e624a8/raw/aaa2cbee9a5810d14b01ae965e52ecb9b2965a44/)
2. Set a breakpoint on the `addTextToBody('Modules are pretty cool.');` line of the test case
3. Refresh the test case
4. When the breakpoint is hit, click "Step in"

Expected result:
Steps into the method

Actual result:
Steps onto the `export

[2018-04-16 20:34] Sekhmet commented on #4104
/claim

[2018-04-16 20:59] jasonLaster commented on #5958
@Sekhmet not sure I'd compare it to these tests and then go with the most common case

[2018-04-16 21:43] #5927 closed

[2018-04-17 02:10] AlexWang-16 commented on #5446
Thanks for the tips. I've tried to replicate pausing the debugger by hand and I can't seem to get it into the state where I can click the pause button. What's the best way to do this?

![no-pause-button](https://user-images.githubusercontent.com/13398997/38844757-e71b28f0-41c2-11e8-8423-74c28b4d7145.gif)

[2018-04-17 04:15] jasonLaster commented on #5446
oh interesting... this must be true for you remove-command-bar-options

check with dbg.features

[2018-04-17 14:59] darkwing commented on #5687
@nyrosmith has an amazing start on this here:

https://github.com/devtools-html/debugger.html/pull/5893

Working off of that gets us most of the way there!

[2018-04-17 15:05] #5795 closed

[2018-04-17 16:42] darkwing commented on #5903
Rough sketch of server work required:
https://gist.github.com/jasonLaster/7b900c3709df6ee64c52b1894488641c

[2018-04-17 17:59] Sekhmet opened #5993 "setPausePoints throws on generated source without source map"
If the source is generated we send `setPausePoints` packet to the client.
https://github.com/devtools-html/debugger.html/blob/e56c9961517376244faad5239cadc906eb3fdac8/src/actions/ast.js#L114-L116
However it seems to be throwing with following message:
[code]
It happens if there are no source maps, just built files. If project has source maps it seems to be working fine.

This causes `setSymbols` a

[2018-04-17 18:07] jasonLaster commented on #5993
hmm, try running yarn install and then restarting your server `yarn start`

[2018-04-17 18:16] jasonLaster commented on #5993
actually, i think this fixes it

[2018-04-17 18:17] jasonLaster opened #5995 "[testing] babel-preview is intermittent"
I'm seeing some failures when i run babel-preview. `yarn mochih babel-preview`

The issue i see is that we're hovering and a popup doesn't show up...

[2018-04-17 20:03] Sekhmet commented on #5993
Does that solve the problem for you?
I wiped node_modules and still have this problem:
![image](https://user-images.githubusercontent.com/1968722/38893656-33e9a9f4-428b-11e8-8ce6-883167270910.png)

[2018-04-17 20:37] jasonLaster commented on #5993
sorry, you need to get #5994 first

[2018-04-17 20:46] Sekhmet commented on #5993
I'm on commit with those changes applied.

[code]

[2018-04-17 20:51] jasonLaster commented on #5993
the problem is that we need to now talk to nightly…
kind of a sad requirement. maybe i can fix the server so it doesnt crash?
but yeah, encourage others to run nightly and listen to that

[2018-04-17 21:48] darkwing opened #5999 "[Breakpoints] Enhance New Breakpoints UI"
This serves as a tracking issue for the enhancements to the new Breakpoints UI

## Tasks
- [x] Create SourceIcon component #6001
- [x] Show Source Icons with Group/File Name #6000

[2018-04-17 21:53] darkwing opened #6000 "[Breakpoints] Show Source Icons with Group/File Name"
Parent issue:  #5999

We show icons in the Source Tree and sometimes Tabs for a given resource.  Example tabs include React, Angular, Pretty Print, Blackboxed, etc.

It would be nice if we carried those over to the breakpoints UI:

<img width="307" alt="breakpointicon" src="https://user-images.githubusercontent.com/46655/38900067-ba2121ea-425f-11e8-8035-a428f4d92bc5.png">

@jasonLaster has some co

[2018-04-17 21:59] darkwing opened #6001 "[Breakpoints] Create SourceIcon Component"
Parent issue:  #5999

We presently have icons for sources in the SourcesTree, Tabs, and we'll be adding them to the Breakpoints panel with #6000 .

It would be nice to have a unified Component to make icon display easier.  There may be code to borrow here:

https://github.com/devtools-html/debugger.html/pull/5985/files

[2018-04-17 22:53] jasonLaster opened #6003 "[Breakpoints] pause points disables lines in an xml file"
STR:

1. open the browser toolbox
2. navigate to `tabbrowser.xml`

<img src='https://shipusercontent.com/673a2e8ed45539acc2447b3f7c736fb8/Screen%20Shot%202018-04-17%20at%206.52.34%20PM.png' title='Screen Shot 2018-04-17 at 6.52.34 PM.png' width=1253>

[2018-04-17 23:54] jasonLaster opened #6004 "[Tabs] clarify tabs with the same filename"
Our tabs currently only show the filename. It would be nice to show the directory when there are are two tabs with the same name

<img src='https://shipusercontent.com/91f32fb43ba01c7360f128d7ae3e1b58/Screen%20Shot%202018-04-17%20at%203.37.24%20PM.png' title='Screen Shot 2018-04-17 at 3.37.24 PM.png' width=510>

![](http://g.recordit.co/V7i5MQ2iz3.gif)

[2018-04-17 23:56] jasonLaster opened #6005 "[Breakpoints] Files with the same filename"
Our breakpoints are grouped by filename, unfortunately when there are two files with the same name the breakpoints are not grouped separately.

I think we should do something similar to editors and show the directory he file is in as well when there are duplicates.

<img src='https://shipusercontent.com/ba5284458b877df85ffc6627253c8682/Screen%20Shot%202018-04-17%20at%203.41.58%20PM.png' title='Scr

[2018-04-17 23:57] darkwing commented on #6004
Great idea, and we should make this a utility function because the same could happen for breakpoint grouping

[2018-04-18 01:45] #5995 closed

[2018-04-18 02:06] jasonLaster opened #6007 "[Tabs] Discuss removing the show more dropdown"
We currently show the open tabs in two locations:

1. the tabs bar and (show more dropdown)
2. the quick open modal (cmd+p)

I think it is probably okay to remove the show more dropdown. The rationale for this is:

1. the button is difficult to align with the tabs
2. the button is not that intuitive
3. the dropdown is hard to position and show in narrow UIs
4. the list is another piece of UI to ma

[2018-04-18 03:33] darkwing commented on #5844
This might be related:  https://github.com/devtools-html/debugger.html/issues/5918

One thing in common with all of the highlight issues I've had, as well as the example you've cited, is that the source URLs don't have a file extension.

[2018-04-18 03:47] digitarald opened #6010 "CPU churn when switching back to tab with debugger open"
Had debugger open on a react/babel app and switched to another tab. After switching back, not interacting with the debugger, my fan kicked in.

https://perfht.ml/2J1LDGr

Looks like the server messages coming in causes some extra work.

[2018-04-18 14:33] jasonLaster opened #6012 "[Tabs] Update the show more button "
It would be nice to use the new chevron for the show more button in the tabbar

Here is how you can get it w/ CSS

[code]

### Tabbar
<img src='https://shipusercontent.com/4a8efb5e6fc3444e8d2536d1fef402aa/Screen%20Shot%202018-04-18%20at%2010.16.25%20AM.png' title='Screen Shot 2018-04-18 at 10.16.25 AM.png' width=384>

### Show More dropdown
<img src='https://shipusercontent.com/8553368a44822016c48

[2018-04-18 14:49] jasonLaster opened #6013 "[Tabs] Refresh the show more dropdown"
The show more dropdown can use a bit of love. The simplest changes would be to

- [ ] adjust the alignment of the icon
- [ ] reduce the line height of the items
- [ ] add a bit of rounded borders to the panel

### Show More dropdown
<img src='https://shipusercontent.com/8553368a44822016c484efaba03f7c0d/Screen%20Shot%202018-04-17%20at%2010.02.03%20PM.png' title='Screen Shot 2018-04-17 at 10.02.03 P

[2018-04-18 15:10] robwierzbowski commented on #1216
@jasonLaster I've been experiencing your error 1 often lately. Did you find a fix?

[2018-04-18 15:44] yzen opened #6015 "Intermitten re-render when switching back to debugger UI tab."
Sorry if this is a duplicate. When I have a debugger running locally in Firefox and try to debug another tab: intermittently when I switch between tabs and go back to the debugger one, all of the UI re-renders and results in a noticeable flicker.

[2018-04-19 10:39] marcogallo566 commented on #5467
/claim

[2018-04-19 12:59] jasonLaster commented on #5561
STR:
1. run debugger.html
2. navigate to localhost:8000
3. add a breakpoint in actions/tabs.js `closeTab`
4. right click on a tab in the launchpad and select close tab

![Screen Shot 2018-04-19 at 8.57.50 AM.png](https://shipusercontent.com/cc4b544c1d9ce8402ee898a6a2348cbc/Screen%20Shot%202018-04-19%20at%208.57.50%20AM.png)

[2018-04-19 15:11] abitravers1989 commented on #6000
/claim

[2018-04-19 15:11] FreddieCodes commented on #6004
/claim

[2018-04-19 15:13] jransome commented on #6004
/claim

[2018-04-19 15:15] anthonyblanchflower commented on #6012
/claim

[2018-04-19 16:08] bomsy commented on #6012
@jasonLaster we are a bit confused by this ticket

[2018-04-19 16:45] jasonLaster commented on #6012
@bomsy what's up?

I might have been vague w/ the css patch... you'll need to change it somewhere else :)

[2018-04-19 16:59] nchevobbe commented on #5862
@jasonLaster is this still an issue ? I tried to reproduce with latest master with no luck.
What's the STR ?

[2018-04-19 17:57] chan750 commented on #4080
@paesh1997 @denigrise and I were able to make some improvements to the tab order, but we will have to stop here. Our semester is coming to a close and we will no longer be able to continue working on the second check box "Need to be able to navigate to headers with keyboard." Running **setInterval(function() { console.log(document.activeElement); }, 3000);** in the web console will allow the user

[2018-04-19 18:30] mohamedabo commented on #5120
@jasonLaster : @darkwing Told us that BreakpointsDropdown.js has been deleted. So, could you take that off the list? Thank you.

[2018-04-19 18:38] Hindelburg commented on #5738
/claim

[2018-04-19 19:21] jasonLaster opened #6027 "[Sources] reveal in tree doesn’t work with directory roots"
STR:

1. go to todomvc
2. select `js` as the root in the tree
3. navigate to todo-view.js
4. select reveal in tree

Expected Result: it expands the tree to show the file
Actual Result: it doesnt do anything

[2018-04-19 19:33] jasonLaster opened #6028 "[Editor] Jumping to function definitions should go to right location"
STR:
1. navigate to http://firefox-dev.tools/debugger-examples/examples/increment/
2. add a breakpoint in increment.js:4
3. click the increment button
4. when you're paused hover on "add" and click the link

Expected: you jump to "add" in math.js
Actual: you jump into the bundle

![](http://g.recordit.co/nWiiJu5UlT.gif)

[code]

[2018-04-19 20:45] buttersnipps commented on #6013
if its ok . can I work on this ?

[2018-04-19 20:50] buttersnipps commented on #6013
/claim

[2018-04-20 08:18] juliandescottes opened #6031 "Guard against null worker in src/utils/worker.js"
https://github.com/devtools-html/debugger.html/blob/e12186b556563e67ee8c1dd37094a1c1be5042bb/src/utils/worker.js#L22

It looks like `this.workers is null or undefined` pops up from time to time on mozilla-central's continuous integration (eg https://bugzilla.mozilla.org/show_bug.cgi?id=1454674)

Maybe we chould check first if this.worker is still valid here?

[2018-04-20 09:40] juliandescottes commented on #6031
Closing in favor of https://github.com/devtools-html/devtools-core/issues/1055 which seems to be using the latest code.

Is the file https://github.com/devtools-html/debugger.html/blob/e12186b556563e67ee8c1dd37094a1c1be5042bb/src/utils/worker.js actually used ? It duplicates code from devtools-core and doesn't seem to be packaged in the bundle.

[2018-04-20 09:40] #6031 closed

[2018-04-20 13:12] jasonLaster commented on #5561
STR:
1. run debugger.html
2. navigate to localhost:8000
3. add a breakpoint in preview/index.js `onMouseOver`
4. pause the launchpad debugger, mouse over a variable!

[Screen Shot 2018-04-20 at 9.11.57 AM.png](https://shipusercontent.com/8e607ec2653499399b603b8bc82042e1/Screen%20Shot%202018-04-20%20at%209.11.57%20AM.png)

[2018-04-20 13:35] jasonLaster opened #6032 "[Breakpoints] Shows the generated source text"
![Screen Shot 2018-04-20 at 9.33.48 AM.png](https://shipusercontent.com/d6f3e21b36b9b5b894effa6f7a146bd5/Screen%20Shot%202018-04-20%20at%209.33.48%20AM.png)

[2018-04-20 13:56] joshunger commented on #5663
@jasonLaster the React tree components use path as the `key` which becomes a problem because these two files have the same path, but different `id`s. How would you like me to fix?

- https://github.com/devtools-html/debugger.html/blob/master/src/components/PrimaryPanes/SourcesTree.js#L290
- https://github.com/devtools-html/debugger.html/blob/master/src/components/shared/ManagedTree.js#L153

[2018-04-20 13:58] jasonLaster commented on #5663
i think we do something like this for blackboxing where we add something to the path adding `-original` to the end should work.

[2018-04-20 17:08] #5773 closed

[2018-04-20 17:57] tommai78101 opened #6036 "[Editor] When clicking on link from Console to show where an error occurred, code fails to scroll to cursor"
Here's a GIF of what I meant by "clicking on link from Console, and not scrolling editor pane to show where the cursor is at".

![gif](https://user-images.githubusercontent.com/6444116/39066046-be278894-44a1-11e8-803f-1e9a2f85c27c.gif)

The cursor will be off the screen beyond what the user can see in the Code view (viewport). The problem is, the code view doesn't scroll horizontally to the cursor

[2018-04-20 18:29] buttersnipps commented on #6013
Please review #6039

[2018-04-20 19:08] sharathnarayanph commented on #5748
/unclaim

[2018-04-20 21:33] mmcote opened #6046 "[Component] Remove Prototype from Component Pane"
Within the props and state of the component pane, the `prototype` should not be able to be seen.

To get the component pane to appear simply pause inside a react component. The example used in the image below is from pausing in the App component from: [https://ahfarmer.github.io/emoji-search/](https://ahfarmer.github.io/emoji-search/).

![image](https://user-images.githubusercontent.com/14250545/3

[2018-04-21 03:47] buttersnipps commented on #6005
Hey,
Just to be clear we want the breakpoint panel to show the directory like the editor does if files are the same name?

[2018-04-21 13:02] jasonLaster commented on #5561
STR:

1. go to https://dbg-class-prop-this.glitch.me/
2. add a breakpoint in app.jsx

<img src='https://shipusercontent.com/82e8d5d533df3363361dde9b0b5100c4/Screen%20Shot%202018-04-21%20at%208.58.56%20AM.png' title='Screen Shot 2018-04-21 at 8.58.56 AM.png' width=681>

[2018-04-21 13:11] jasonLaster opened #6048 "[Sources] Set directory root uses the parent"
1. go to https://firefox-debugger-example-react-js.glitch.me/
2. set directory root for App

Expected: App is the root
Actual: webpack is the root

![](http://g.recordit.co/1XX8nqjIaL.gif)

[2018-04-21 13:14] jasonLaster opened #6049 "[Component] the content should be padded"
Our new component pane should get the same padding as the other panes

STR:
1. go to https://firefox-debugger-example-react-js.glitch.me/
2. set a breakpoint in App.jsx/onSortClick
3. click the button

Notice the left arrows need some padding in the "HelloWorld" pane

<img src='https://shipusercontent.com/f5b6725feb94f1cf80da209125a54d6d/Screen%20Shot%202018-04-21%20at%209.12.52%20AM.png' title='S

[2018-04-21 13:29] #5706 closed

[2018-04-21 13:31] jasonLaster opened #6051 "[Preview] Popup gets clipped on top"
When you're hovering over a big object that won't fit below, we try to show it above the variable. Unfortunately, showing it above is often not a good option either.

In these cases, it would be great if we could show the popup to the right of the variable and try and use all of the available space needed...

<img src='https://shipusercontent.com/5869fd0f83eded871fce7a50c3a32ddf/Screen%20Shot%2020

[2018-04-22 01:28] pranoy10 commented on #6048
/claim

[2018-04-22 01:47] pranoy10 commented on #5926
/claim

[2018-04-22 01:48] kqpham commented on #6027
/claim

[2018-04-22 02:48] jasonLaster commented on #5986
Thanks for filing, will fix soon!

[2018-04-22 09:14] lilydjwg opened #6056 "Firefox uses a lot of CPU when inspecting an element with a really huge css selector"
Firefox version 61.0a1 date 20180416
Arch Linux

* Install Adblock Plus and have the "blocking social media buttons" (rough back-translation) feature on.
* Go to a page with such a button blocked (I found this with https://www.zhihu.com/people/ling-long-xie-seng/activities; there is a blue "关注" button being blocked by it on the right). Inspect this button to check css styles
* Wait for a lot time

[2018-04-22 16:41] #5028 closed

[2018-04-22 19:31] mutdmour commented on #5100
Covered SourcesTree. Will work on Outline next 😀

[2018-04-23 05:30] karlcow opened #6061 "[Pretty Print] broken for our-thinking"
This is reproducible in more than one site since last week(?).

For example

0. With Firefox Nightly 61.0a1 (2018-04-22) (64-bit) on macOs 10.13.4 (17E199)
1. Open RDM with Firefox Android UA
2. Go to https://www.akamai.com/us/en/about/our-thinking/state-of-the-internet-report/
3. Open the debugger and find https://www.akamai.com/scripts/app.built.1521050552.js
4. Select the two brackets at the bo

[2018-04-23 07:13] jasonLaster commented on #6056
Thanks @lilydjwg could you please file this in bugzilla under the devtools > inspector component.

[2018-04-23 07:14] #6056 closed

[2018-04-23 14:32] darkwing opened #6063 "[Breakpoints] (Nit) Expressions Should Only Have a Blue Border When Focused"
We updated the Watch Expressions block last week to show the input when there are no expressions, but forgot to ensure the blue border only displays when the input is *focused*.

<img width="309" alt="badborder" src="https://user-images.githubusercontent.com/46655/39133177-344e0b0e-46d9-11e8-9072-9a15fba395c5.png">

[2018-04-23 14:35] darkwing opened #6064 "[Breakpoints] (Nit) Change Exception Checkbox Labels"
Needs to change to:

- [ ] Pause on Exceptions
  - [ ] Pause on Caught Exceptions

[2018-04-23 14:37] darkwing opened #6065 "[Breakpoints] (Nit) Tighten Breakpoints Spacing"
The spacing between breakpoints at the moment is a bit much.  @violasong will provide a more specific target for spacing :)

<img width="304" alt="breakpointsspacing" src="https://user-images.githubusercontent.com/46655/39133508-fee94630-46d9-11e8-808f-50e2f2529201.png">

[2018-04-23 14:39] darkwing commented on #6005
@buttersnipps Eventually but for now simply showing the same file name label, with maybe a `title` attribute with the full path, would be great.

[2018-04-23 14:40] darkwing opened #6066 "[Breakpoints] (Nit) Clicking on file name should selectLocation in Editor"
Clicking on a filename (group label) above breakpoints should select the tab for the given source.

[2018-04-23 14:41] darkwing commented on #6066
I started a PR for this feature but didn't finish it here:

https://github.com/devtools-html/debugger.html/pull/6011

That would be a an awesome starting point!

[2018-04-23 15:10] darkwing opened #6067 "[Breakpoints] (Nit) Update Line Number when Switching Original and Generated Text"
At present, the text of a given breakpoint changes when you switch between an original file and a generated file:

![687474703a2f2f672e7265636f726469742e636f2f694a327a4d656c6655722e676966](https://user-images.githubusercontent.com/46655/39135255-2bf72314-46de-11e8-82df-453022071a0f.gif)

We should also try to ensure the line number changes between switching sources as well.

[2018-04-23 18:16] yaelballa opened #6073 "Identify react functional component as react source"
When debugging react sources there is an icon on the tab of react component files. But if the code includes a react functional component, there is no class definition, and therefore the icon does not appear.

A solution to this problem should be to look for 'import react' when detecting framework

[2018-04-23 18:27] Hindelburg commented on #5738
I just want to confirm that the bug only occurs in file /src/components/PrimaryPanes/SourcesTree.js. If it is found somewhere else as well, could you please give an idea on where to look.

Thanks in advance, Hindelburg.

[2018-04-23 18:38] shirlyb3 commented on #6051
/claim
I think I found the location where it can be changed:
https://github.com/devtools-html/debugger.html/blob/master/src/components/shared/Popover.js#L76

[2018-04-23 18:49] sonicScape211 commented on #4181
/claim

[2018-04-23 18:49] CamStan commented on #6049
/claim

[2018-04-23 18:52] nyrosmith commented on #5953
Closing as the linked PR got merged

[2018-04-23 19:01] yalooong commented on #5707
@jasonLaster This issue should be closed.

[2018-04-23 20:15] darkwing opened #6076 "[Breakpoints] (Nit) Generated Text for React Displaying Improperly"
I spotted this when adding a breakpoint to a React component method:

<img width="1277" alt="weirdreacttext" src="https://user-images.githubusercontent.com/46655/39150803-12417084-4709-11e8-8ff5-8da7e015c729.png">

The text should be `onSortClick {`

[2018-04-23 20:35] jasonLaster commented on #5738
I just do cmd+shift+f and search `.get`

[2018-04-24 05:35] mmcote opened #6078 "[Breakpoints] Breakpoint text showing wrong text when breakpoint is pushed to a following line."
1. Open https://ahfarmer.github.io/emoji-search/.
2. Set breakpoint on line 33 `}`, it will be pushed to line 35 `export default App`.
3. Note the breakpoint line number in the breakpoint pane is correct at 35, but the text is from line 33 not line 35, `export default App`.

4. The correct text can be seen by refreshing the debugger.

![breakpointbug](https://user-images.githubusercontent.com/1425

[2018-04-24 14:17] jasonLaster commented on #6000
How's it going @abitravers1989? Anything i can do to help?

[2018-04-24 14:45] #5748 closed

[2018-04-24 14:45] #5903 closed

[2018-04-24 16:35] darkwing commented on #6078
This may be the same root issue as https://github.com/devtools-html/debugger.html/issues/6076

[2018-04-24 16:43] #6063 closed

[2018-04-24 17:25] mohamedabo commented on #5120
Since the semester is getting to close, we are going to unclaim the issue. What we basically did was push a PR that was accepted and another PR that its file was deleted. Anyway, as stated above, the best course of action for anyone who wants to work on this project in the future is to add //@flow headers on top of these files and add flow types to the variables. /unclaim

[2018-04-24 17:33] please18 commented on #4080
Hello all,
My teammates (@jawyoonis and @phuyalb16) and I were working on check box #4 -  Headers/Panels should at least have list/listitem semantics including expanded and collapsed states.
Our PR was successfully merged and therefore it is time to  /unclaim the issue.
Thanks for your help @jasonLaster @DavideDeCenzo @yzen

[2018-04-24 17:48] Malachi-Holden commented on #4070
/unclaim
I worked on this issue with @BadInternetGuy, and @Rayje1997, in @emmet0r class. We worked on the fifth checkbox. We got our PR merged, so we are now unclaiming the issue. Thanks to everyone who helped and gave us advice!

[2018-04-24 18:28] CamStan commented on #6049
There's a group of four (@wmeulink, @No-one-alone, @Launia and myself) of us here at a university who are going to try to work on this bug together in order to get familiar with this process. So there may be comments, questions, or pull requests coming from any one of us. :grinning:

[2018-04-24 20:42] violasong commented on #6065
Here are some nits/suggestions :). I'm providing the CSS just so you can see what I think it should be visually but any visual equivalent of these is good too. Forgot to take a screenshot of the result, oops.

.breakpoints-exceptions
padding-bottom: .5em;
padding-top: .5em;

.breakpoints-list .breakpoint-heading
padding-top: .75em

.breakpoints-list .breakpoint-label
font-size: 11px

.breakpoints-

[2018-04-24 20:45] violasong opened #6091 "[Frames] Call Stack and Scopes spacing and truncation thoughts"
Call Stack rows are looking a bit too tall - they should match the breakpoints spacing specified in #6065

The Scopes rows look a bit too short - if they could match the source tree, that would be great.

Also, call stack line numbers should ideally line up and look the same as the breakpoint line numbers, and have better truncation on file names.

[2018-04-24 22:15] violasong commented on #6063
@darkwing one more nit for this - the dark mode border color should be Blue-50 (to match the Console focus rings)

[2018-04-25 08:48] andreicristianpetcu opened #6094 "Full Project Search is really slow"
I use Ctrl+Shift+F in a pretty large Angular project. It takes a lot of time and it seems not to find any results. Also it generates a lot of LOAD_SOURCE_TEXT events.

Here is a video: https://vimeo.com/266454867

I cannot share the app I am working on :( but I can run de debugger locally with whatever profiling tool you would like. I can build it from branch if that helps.

[2018-04-25 08:53] andreicristianpetcu commented on #6094
I attached the profile zip file. You can just hit F12 in Firefox go to performance and click the import button to see it visually.
[profile.json.zip](https://github.com/devtools-html/debugger.html/files/1946233/profile.json.zip)

Would a profile with Gecko Profiler help?

[2018-04-25 08:54] nchevobbe commented on #6094
Thanls a lot @andreicristianpetcu . Are you running the project from firefox devtools (if so which version), or via a clone of this repo ?
Could you also try to profile with http://perf-html.io/ and upload the profile please ?

[2018-04-25 08:56] andreicristianpetcu commented on #6094
I'm running it from this commit

50e1c03 April 24th (#6084) (Jason Laster, 14 hours ago)

[2018-04-25 09:03] andreicristianpetcu commented on #6094
Here you go! @nchevobbe https://perfht.ml/2FfedSg Happy hacking! :)

[2018-04-25 18:43] Hindelburg commented on #5738
We have made the changes to /src/components/PrimaryPanes/SourcesTree.js so that it used contents.id and we searched through the rest of the repository and didn't find anything that needed changes. We also ran the tests and they passed. Is there anything else we should do before submitting a pull request?

[2018-04-25 19:05] jasonLaster commented on #5738
submit it!

[2018-04-26 06:31] #6067 closed

[2018-04-26 12:49] nchevobbe opened #6106 "Remove lambda chars in front of the frame function name"
_From @nchevobbe on April 23, 2018 7:39_

It was added recently but some feedback suggest that it isn't clear for the user what it is about.
Let's remove it before we ship 61. We can then find a better iconography for this.
We may directly change the reps.css file in [Bug 1456061](https://bugzilla.mozilla.org/show_bug.cgi?id=1456061), so we should propagate back it here.

_Copied from original iss

[2018-04-26 12:50] nchevobbe opened #6107 "Maps and Sets `<entries>` node should be automatically expanded"
_From @julienw on March 29, 2018 8:13_

STR:
1. run this in the console:
[code]
=> We see some data but not all. But in other contexts, like in the debugger's scopes panel, we don't see the data.
2. Expands the map.
=> We still don't see the data. What we see is some useless information: size (ok, we know it already, it's written on the first line), prototype (useless in this case), and "entries"

[2018-04-26 12:50] nchevobbe commented on #6107
I disagree that we should show Maps and Sets as Arrays and Objects, it's important that these each printed object is clear about what it is.
The real issue is the extra step you mention to display the Map/Set entries. What could be done (and what Chrome does), is auto expand the `▶︎ <entries>` node, so you only click once to get your entries.
We should make sure to handle this right when we have a

[2018-04-26 12:50] nchevobbe commented on #6107
I'm curious why you think the prototype is useless here ?

[2018-04-26 12:50] nchevobbe commented on #6107
_From @julienw on March 29, 2018 8:37_

I think the first line is perfect as it is, and should stay the same -- so totally not like Arrays and Objects. But that when _expanded_ the expansion itself should be like arrays and objects.

It's not what a user wants to see when expanding the data. If I want to see the prototype, I type "map.prototype" and then I can see it if I want to. But usually that

[2018-04-26 12:50] nchevobbe commented on #6107
The map could be augmented with properties which we do want to show so the user can really see what the object is like, e.g. :
[code]

This is truly important as this kind of thing can lead to the hairiest issues.

I'm unsure about this, or if this is true, it is for every type of objects :)
I think the prototype node is still useful so you can navigate into and see what method you can call. In th

[2018-04-26 12:50] nchevobbe commented on #6107
_From @julienw on March 29, 2018 14:52_

It could but this isn't the general case. Can we optimize for the general case?
Is there an easy way to know whether the map has been "augmented" ?

[2018-04-26 12:50] nchevobbe commented on #6107
I don't know, but I guess more work than simply autoexpand the `<entries>` node :)

[2018-04-26 12:50] nchevobbe commented on #6107
_From @Loirooriol on March 31, 2018 22:8_

I strongly oppose this. If you display a map as an object, i.e.

[code]
[code]

then people will think that they can use `map.foo` and they will obtain `"bar"`. But nope, they need to use `map.get("foo")` instead.

Maps are just ordinary objects with a `[[MapData]]` internal slot. Then, as @nchevobbe says, they can have normal properties just like any obj

[2018-04-26 12:50] nchevobbe commented on #6107
_From @julienw on April 3, 2018 13:9_

Thanks, I'm convinced now.

[2018-04-26 12:50] nchevobbe commented on #6107
I changed the title of the issue to automatically expand the `<entries>` node for Maps and Sets, which should help browsing them.

[2018-04-26 13:15] nchevobbe opened #6108 "Add back href attributes in links"
_From @Loirooriol on March 30, 2018 13:53_

Previously, when viewing a JSON document, I could right-click linked resources like videos and images and just choose "Save Link As...".

In #989 you removed `href` from links. This is not semantic and breaks my workflow, because now the context menu is useless.

_Copied from original issue: devtools-html/devtools-core#1020_

[2018-04-26 13:16] nchevobbe opened #6109 "Better handle Errors with longString stacktraces"
_From @nchevobbe on March 26, 2018 16:48_

At the moment, we get the initial property of the longString and remove the last computed frame. We should do a better job at having the whole stacktrace rendered.

This might be handled server-side in [Bug 1448833](https://bugzilla.mozilla.org/show_bug.cgi?id=1448833)

_Copied from original issue: devtools-html/devtools-core#1012_

[2018-04-26 13:16] nchevobbe opened #6110 "Show <prototype> even if it's null"
_From @Loirooriol on March 18, 2018 16:34_

If I have an object whose [[Prototype]] is `null` the object inspector does not show `<prototype>`. This case can be confused with objects whose prototype chain is not known, e.g. proxies. So I would make it explicit and not hide the `<prototype>` even if it's null. Also consider this case:

[code]

Someone might be confused by the `__proto__` property a

[2018-04-26 13:16] nchevobbe commented on #6110
Yes, this could be interesting, thanks for filing

[2018-04-26 13:17] nchevobbe opened #6111 "Replace wrapRender with componentDidThrow"
_From @nchevobbe on February 26, 2018 10:48_

`wrapRender` was introduced to prevent crashing a panel when a component was throwing an exception.
In React 16 there's a new lifecycle function which does exactly this: `componentDidThrow`.
In order to use it, we have to turn `Rep` from a function to a React component so it has access to the lifecycle method.

We'll have to check that this does not ha

[2018-04-26 13:49] nchevobbe opened #6113 "Replace wrapRender with componentDidThrow"
_From @nchevobbe on February 26, 2018 10:48_

`wrapRender` was introduced to prevent crashing a panel when a component was throwing an exception.
In React 16 there's a new lifecycle function which does exactly this: `componentDidThrow`.
In order to use it, we have to turn `Rep` from a function to a React component so it has access to the lifecycle method.

We'll have to check that this does not ha

[2018-04-26 13:49] nchevobbe commented on #6113
This issue was moved to devtools-html/debugger.html#6111

[2018-04-26 13:50] nchevobbe opened #6114 "Use the sourceMap service in the Error rep"
_From @nchevobbe on February 26, 2018 8:25_

In https://github.com/devtools-html/devtools-core/pull/942, Greg added nicely formatted frames. It would be nice if we could use the original locations when we are dealing with sourcemapped files.

_Copied from original issue: devtools-html/devtools-core#957_

[2018-04-26 13:51] nchevobbe opened #6115 "Escaping inconsistences between strings and text nodes"
_From @Loirooriol on February 23, 2018 18:12_

Run this in the console:

[code]

Result:

[code]

_Copied from original issue: devtools-html/devtools-core#954_

[2018-04-26 13:52] nchevobbe opened #6116 "Show event listeners in EventTargets"
_From @jasonLaster on January 25, 2018 1:48_

CC http://github.com/devtools-html/debugger.html/issues/4751

If a value in the watch/variable view is an EventTarget, it would be nice to be able to expose the event listeners on it.

---

I think we can do this by showing a field in the Reps element view.

_Copied from original issue: devtools-html/devtools-core#910_

[2018-04-26 13:52] nchevobbe commented on #6116
See https://bugzilla.mozilla.org/show_bug.cgi?id=1419089

[2018-04-26 13:52] nchevobbe opened #6117 "Use object.constructor.name where available"
_From @MikeRatcliffe on December 24, 2017 15:16_

#### STR

1. Type the following into the web console:
[code]
2. In Firefox DevTools we display `Object {  }`
3. Chrome DevTools checks for `instance.constructor.name` for Object types and displays the constructor name if it exists e.g. `myClass {}`, which is more informative.

_Copied from original issue: devtools-html/devtools-core#873_

[2018-04-26 13:52] nchevobbe commented on #6117
_From @Loirooriol on December 24, 2017 18:27_

What if an object has a `constructor` property but it's not a function or it's not a constructor of the object?
What if the name is e.g. `"Array"` but the object is not an exotic array? This could mislead users.
What if the constructor or the name change?

What the console displays is the class, which is supposed to be an inherent characteristic of th

[2018-04-26 13:52] nchevobbe commented on #6117
_From @david95thinkcode on December 24, 2017 20:13_

@Loirooriol ,I understand what you're saying.
When you ask

Seriously why somebody would choose "Array" as an object name ? I think it's rare and not a good practice.

When I dev, I don't want to have to expand the object before knowing its type. Admit, It's more efficient when you see object name. I really want that feature on Firefox Devtool.

[2018-04-26 13:52] nchevobbe commented on #6117
_From @david95thinkcode on December 24, 2017 20:22_

In my opinion, this one is more informative
![chrome-2](https://user-images.githubusercontent.com/24503308/34328975-7daacb7c-e8ef-11e7-964d-96e72a729305.png)
We can always expand the object to see more informations about it.

[2018-04-26 13:52] nchevobbe commented on #6117
_From @Loirooriol on December 24, 2017 22:29_

It doesn't need to be explicitly chosen, e.g. `Object.create(Array.prototype)` creates an ordinary object that inherits from a constructor with an `"Array"` name, but it's not an exotic array, so the console should not say `Array`.

[2018-04-26 13:52] nchevobbe commented on #6117
_From @david95thinkcode on December 29, 2017 21:15_

I think the console should say it cause that's what we want to see (the constructor name).
Actually,

1. when we make a `console.log` of an **Array** on firefox devtools, we see something like `Array["Baba", "Bobo", "Foo"]`. It's informative, that's right.
2. when we make a `console.log` on a object that inherits from a constructor with an "Arra

[2018-04-26 13:52] nchevobbe commented on #6117
_From @Loirooriol on December 29, 2017 22:26_

Not me. What I want to see is the (Mozilla's generalization of the) ES5 [[Class]] internal slot of the object. There is no other way to see this useful info in the console, and you want to remove it and replace it with a redundant one which can be obtained just by expanding the object.

Note the brackets nor the number of items can't be used to distin

[2018-04-26 13:52] nchevobbe commented on #6117
_From @konradpapala on April 23, 2018 21:15_

I'm just a regular user, sorry for jumping in with my comment here, but this particular feature is something I really miss in FX and so here I am :)

@Loirooriol

I think you point out some edge cases, while in 99.99998% of situations, this would simply be a useful and nice feature.

You mention some dangerous(?) situations, like "The console must not

[2018-04-26 13:52] nchevobbe commented on #6117
_From @Loirooriol on April 23, 2018 21:49_

Yes, though that would mean the result would be less consistent.

But my other complaint still stands: if I have an array-like object which is not an array but inherits from `Array.prototype`, I still want to know that it's not a real array (and thus e.g. decreasing `length` won't remove properties).

Or if I have an instance of `class Foo extends Map{}`

[2018-04-26 13:52] nchevobbe opened #6118 "Stop using unreliable isGrip"
_From @Loirooriol on December 12, 2017 16:34_

The `isGrip` function is completely unreliable:

https://github.com/devtools-html/devtools-core/blob/e9238260b69412731d3f158444be5a10eb8f2658/packages/devtools-reps/src/reps/rep-utils.js#L15-L17

It should be removed in favor of the `noGrip` parameter.

Otherwise nasty bugs like https://bugzilla.mozilla.org/show_bug.cgi?id=1377668 may happen. Just fai

[2018-04-26 13:53] nchevobbe opened #6119 "[Reps] Object with 20,000 properties is slow"
_From @jasonLaster on December 12, 2017 15:43_

GWT applications can have 20,000 member properties in the window object.

Here is a small test case that shows an array working, but an object failing:
https://large-objs.glitch.me/

CC @goldenPenguin http://github.com/devtools-html/debugger.html/issues/1492

_Copied from original issue: devtools-html/devtools-core#843_

[2018-04-26 13:53] nchevobbe commented on #6119
_From @GoldenPenguin on December 12, 2017 16:15_

Yes, this is pretty much it!

Here is what I see :
1) arrays are fractioned into ranges, while objects are not,
2) objects' members are sorted alphabetically,
3) All objects members are displayed in the pannel (you can scroll through all of them).

I would tend to believe that sorting a rather big dataset and painting it to the screen in its entire

[2018-04-26 13:53] nchevobbe commented on #6119
_From @Loirooriol on December 12, 2017 16:29_

See #608.

[2018-04-26 13:53] nchevobbe commented on #6119
_From @jasonLaster on December 12, 2017 16:43_

Thanks @Loirooriol.

[2018-04-26 13:53] nchevobbe commented on #6119
_From @jasonLaster on December 12, 2017 16:43_

Hey @GoldenPenguin stop by our slack, if you'd like to help us add bucketing/pagination.

I'm sure @nchevobbe would be happy to mentor

https://devtools-html-slack.herokuapp.com/

Here is where we do [bucketing](https://github.com/devtools-html/devtools-core/blob/master/packages/devtools-reps/src/object-inspector/utils/node.js#L411-L427)

We've got t

[2018-04-26 13:53] nchevobbe commented on #6119
_From @GoldenPenguin on December 12, 2017 17:6_

Will do :).

[2018-04-26 13:53] nchevobbe opened #6120 "Tell the user what to do with Restricted objects"
_From @Loirooriol on December 8, 2017 22:35_

1. Load `data:text/html,<iframe sandbox srcdoc="Inspect me"></iframe>`
3. Right-click "Inspect me" and choose "Inspect Element"
3. Switch to the console, enter `$0`.

A `Restricted` object is shown. Reps should show some kind of message explaining that the targeted document is not allowed to fully access that object, and that only a subset (usually non

[2018-04-26 13:53] nchevobbe opened #6121 "ElementNode attribute are not cropped"
_From @nchevobbe on December 7, 2017 9:4_

**Steps to reproduce:**
1. Evaluate:
[code]

**Expected results:**
The `data-test attribute` is cropped

**Actual results:**
It is not cropped (and does not wrap)

_Copied from original issue: devtools-html/devtools-core#835_

[2018-04-26 13:53] nchevobbe commented on #6121
_From @kootoopas on December 15, 2017 8:45_

Call me weird but I find the expected cropped display hindering accessibility, since there's no way of seeing cropped attributes. Shouldn't they wrap ideally?

Chrome offers the same single line non-crop functionality btw:
<img width="560" alt="screen shot 2017-12-15 at 10 41 40 am" src="https://user-images.githubusercontent.com/601001/34033902-e90986d2

[2018-04-26 13:53] nchevobbe commented on #6121
I'd say we could crop and have a title attribute to show the whole string. Or we could make the ellipsis clickable for people who want to see the whole rule.

[2018-04-26 13:53] nchevobbe opened #6122 "[UX] ObjectInspector inline-end icons"
_From @nchevobbe on December 6, 2017 14:57_

What I call inline-end icons here are icons related to the object inspector, and placed at the end of it.
At the moment we have multiple icons:
- select node in inspector
- jump to function definition (but could be extended to all variables)

we'll also soon have, open object in console sidebar.
And in the future some others (e.g. filter/find in object,

[2018-04-26 13:53] nchevobbe commented on #6122
The first solution would be to put everything into a context menu. But, this is not really discoverable.

We could also decide what icon has the most sense in which content, and then have some overflow menu where we would place the other actions ? This would allow us to place context menu entry which are now handled by the parent (like copy object, from the console)

[2018-04-26 13:53] nchevobbe commented on #6122
ping @violasong so we can think about this

[2018-04-26 13:53] nchevobbe commented on #6122
_From @violasong on December 8, 2017 23:0_

I like the idea of showing most used icons, with other actions in an overflow menu (or just the contextual menu). Sounds like this is an ongoing project as we add more actions. I'm adding this to my queue for further discussion along with #803.

[2018-04-26 13:54] nchevobbe opened #6123 "Add the ability to "zoom-in" subtree of the ObjectInspector"
_From @nchevobbe on November 20, 2017 10:59_

From https://bugzilla.mozilla.org/show_bug.cgi?id=1000074

This could also be an icon on each expandable nodes of the object inspector.
Adding this would also require some kind of breadcrumb navigation so you can go back to the actual root.

---

So to be clear, let's say you have an object like :
[code]
would be displayed like:
[code]

Clicking on `⤵️

[2018-04-26 13:54] nchevobbe opened #6124 "Add support for multiline values"
_From @nchevobbe on November 20, 2017 10:44_

From https://bugzilla.mozilla.org/show_bug.cgi?id=994756

Right now, if you evaluate :
[code]

You get
[code]
i.e. escaped line breaks.

A patch for this issue would display :
[code]

Not sure though

_Copied from original issue: devtools-html/devtools-core#807_

[2018-04-26 13:54] nchevobbe commented on #6124
_From @kootoopas on December 15, 2017 8:58_

I find the proposed multiline representation more visually scannable, since it replicates its originally typed/constructed form.

~~It seems that chrome handles it like that too.~~ **EDIT:** My bad, it displays it in a single line too, as shown in the 2nd image.
<img width="130" alt="screen shot 2017-12-15 at 10 50 37 am" src="https://user-images.github

[2018-04-26 13:54] nchevobbe commented on #6124
_From @Loirooriol on March 23, 2018 20:29_

I think

[code]

should be displayed with a `▶` arrow

[code]

and expanding it would produce

[code]

[2018-04-26 13:54] nchevobbe opened #6125 "Support destructured and rest parameters in the Function rep"
_From @nchevobbe on November 20, 2017 10:26_

This is not something doable at the moment since the function grip does not give us these information.

See [Bug 936208](https://bugzilla.mozilla.org/show_bug.cgi?id=936208)

_Copied from original issue: devtools-html/devtools-core#806_

[2018-04-26 13:55] nchevobbe opened #6126 "Use colors to distinguish functions from properties"
_From @nchevobbe on November 20, 2017 10:16_

From https://bugzilla.mozilla.org/show_bug.cgi?id=895874 :

@violasong do you think we could use a different color (and if yes, which one), for functions ?
i.e. all function properties under `__proto__` in https://nchevobbe.github.io/demo/console-photon.html

_Copied from original issue: devtools-html/devtools-core#805_

[2018-04-26 13:55] nchevobbe commented on #6126
_From @MikeRatcliffe on November 21, 2017 11:28_

Of course, this is a more complex thing these days as we have arrow functions, generators, getters, setters, static getters and setters but I think one color for functions & generators and another color for the rest makes sense.

[2018-04-26 13:55] nchevobbe commented on #6126
_From @violasong on December 4, 2017 18:27_

Hi @nchevobbe, sorry for the delay on this - I keep reading this issue and getting confused about the different types of keywords :). My previous Photon console image included this suggestion:

<img width="584" alt="image" src="https://user-images.githubusercontent.com/55994/33569046-38bea866-d8dd-11e7-8b5c-61983dd739de.png">

My color idea here is that

[2018-04-26 13:55] nchevobbe opened #6127 "Have a UI to filter properties on the ObjectInspector"
_From @nchevobbe on November 17, 2017 15:2_

This was possible in the VariableView (even if wonky), and we could implement it for the ObjectInspector.

We should also take into account https://bugzilla.mozilla.org/show_bug.cgi?id=809391 to implement smart search.

_Copied from original issue: devtools-html/devtools-core#803_

[2018-04-26 13:55] nchevobbe commented on #6127
_From @jasonLaster on November 17, 2017 17:2_

the `jq` tool is a good example too: https://stedolan.github.io/jq/tutorial/

[2018-04-26 13:55] nchevobbe commented on #6127
_From @jasonLaster on November 17, 2017 17:3_

Lets do a brainstorming session w/ @violasong

[2018-04-26 13:55] nchevobbe opened #6128 "Smarter ObjectInspector for huge objects/arrays"
_From @nchevobbe on October 4, 2017 9:19_

Here's a comment from Jim in https://bugzilla.mozilla.org/show_bug.cgi?id=1387823#c16:

I think this makes more sense than having buckets.
We could change the whole workflow of the oi to implement that:

1. at instanciation, get the property iterator for indexed, non-indexed and symbols properties, so we have a reliable source for the number of properties

[2018-04-26 13:55] nchevobbe opened #6129 "ObjectInspector should show wrapped primitive"
_From @Loirooriol on September 23, 2017 18:57_

Run `inspect(Object(123))`. Result:

    ▼ Number
      ▶︎ __proto__: Number { 0 }

It would be useful to show the `123`, e.g.

    ▼ Number
        <primitive>: 123
      ▶︎ __proto__: Number { 0 }

And analogous for boolean, string and symbol objects. The grip of the primitive value is exposed in the `wrappedValue` property of the preview.

_Copied

[2018-04-26 13:55] nchevobbe opened #6130 "Properties on Promise are not shown"
_From @nchevobbe on September 18, 2017 10:20_

**Steps to reproduce:**
- Open the reps repl or the console
- Evaluate :
[code]

**Expected results:**
The variable is rendered as `Promise { <state>: "pending", foo: 1 }`

**Actual results:**
The variable is rendered as `Promise { <state>: "pending" }` (but you can still see the whatever property when you expand the object)

---

Similar to https://g

[2018-04-26 13:56] nchevobbe opened #6131 "Properties on string object are not shown"
_From @nchevobbe on September 18, 2017 10:16_

**Steps to reproduce:**
- Open the reps repl or the console
- Evaluate :
[code]

**Expected results (at least that was what we had in the old console):**
The variable is rendered as `String { "hello", whatever: 23 }`

**Actual results:**
The variable is rendered as `String { "hello" }` (but you can still see the `whatever` property when you expand the

[2018-04-26 13:56] nchevobbe commented on #6131
_From @Loirooriol on September 18, 2017 14:12_

And also for boolean and number objects:

    Object.assign(Object(true), {a:1}); // Boolean { true, a: 1 }
    Object.assign(Object(0), {a:1}); // Number { 0, a: 1 }

And symbol objects should be unwrapped ([bug 1391274](https://bugzilla.mozilla.org/show_bug.cgi?id=1391274)):

    Object.assign(Object(Symbol("s")), {a:1}); // Symbol { "s", a: 1 }

[2018-04-26 13:56] nchevobbe commented on #6131
_From @tromey on September 19, 2017 13:50_

My reasoning here was that it is precisely these weird cases that you're more likely to want to see while debugging.

[2018-04-26 13:56] nchevobbe opened #6132 "Expanded CSS2Properties object show every properties on the element"
_From @nchevobbe on September 18, 2017 9:53_

**Steps to reproduce:**
1. Open the console or the Reps repl
2. Evaluate :
[code]
3. Expand the logged node

**Expected results:**
Since the reps only show the properties that we set (`CSS2Properties { color → "red" }`), when expanded it should be the same :
[code]

**Actual results:**
All the CSS properties are displayed (which also make the console l

[2018-04-26 13:56] nchevobbe opened #6133 "Add bucketing for plain objects"
_From @nchevobbe on August 21, 2017 7:21_

See [Bug 1392180](https://bugzilla.mozilla.org/show_bug.cgi?id=1392180)

_Copied from original issue: devtools-html/devtools-core#608_

[2018-04-26 13:56] nchevobbe opened #6134 "Display target properties in Proxy rep"
_From @nchevobbe on August 17, 2017 13:2_

In https://github.com/devtools-html/devtools-core/pull/592 , @janodvarko suggested that we could maybe show directly the content of the target when we render a Proxy, i.e. `Proxy {a: 1}` instead of `Proxy {<target>: {…}, <handler>: {…}}`.

I don't know Proxies much so I don't know what would be better.
@Loirooriol , what makes the most sense to you ?

_Co

[2018-04-26 13:56] nchevobbe commented on #6134
_From @Loirooriol on August 17, 2017 15:1_

Some cases could be a bit misleading because the proxy may not resemble its target at all. But if expanding the proxy shows the target and the handler then I think it's OK. Currently the target and the handler are displayed in tiny mode so they are not providing much information other than their class and emptiness.

But there is the question of what to

[2018-04-26 13:57] nchevobbe opened #6135 "Match Arguments to the argument names"
_From @jasonLaster on August 16, 2017 15:42_

Hello!

I often find I'm in this scenario where I'm looking in the Scopes at the arguments but I need to translate (in my head) the Array of arguments into the named ones used within the function.  It would be nice if the debugger did that for me.

Here you can see the function is `function (message, sender, sendResponse)` so I would hope the arguments

[2018-04-26 13:57] nchevobbe commented on #6135
_From @jasonLaster on August 16, 2017 15:43_

cc @nchevobbe

So, I checked and it looks like we don't have much value for it.
if I evaluate
[code]

I get the following grip :

[code]

so yes, we'd need more than just the grip.
We may have a `propertiesNameMap` prop, which could look something like :
[code]
that we could use to render node label in the ObjectInspector.

[2018-04-26 13:57] nchevobbe opened #6136 "Debugger hangs after expanding large array"
_From @yurydelendik on August 3, 2017 18:41_

STR:
1. Add `new Uint8Array(0x10000000)` watch in debugger's "Watches"
2. Expand items of this watch

Observe: it is not possible to add any watches or perform evals. Also it impossible to properly close the FF.

_Copied from original issue: devtools-html/devtools-core#552_

[2018-04-26 13:57] nchevobbe commented on #6136
Related https://github.com/devtools-html/devtools-core/issues/538 & https://github.com/devtools-html/devtools-core/issues/560

[2018-04-26 13:57] nchevobbe commented on #6136
Still an issue after https://github.com/devtools-html/devtools-core/pull/565
I think we need to change the logic to load properties/entries.
At the moment, we load everything at once, as soon as we expand the node, even if we do show buckets.
It would be more efficient to load those properties only when the user expand an end-bucket, so at most we load a thousand properties at once.

I profile exp

[2018-04-26 13:57] nchevobbe commented on #6136
Working on this starting today

[2018-04-26 13:57] nchevobbe opened #6137 "Render ArrayBuffer as hex dump"
_From @nchevobbe on August 3, 2017 8:24_

At the moment, ArrayBuffer are shown as an Object with a custom type `ArrayBuffer { byteLength: 8 }`. When you expand it with the object inspector it only shows the `byteLength` property.

As @yurydelendik suggested, it might be helpful to show the buffer like [hex/memory dump](https://www.google.com/search?tbm=isch&q=memory+hexdump).

I'm not used to thos

[2018-04-26 13:57] nchevobbe commented on #6137
Cross-linking with [Bug 1420826 on bugzilla](https://bugzilla.mozilla.org/show_bug.cgi?id=1420826).

@NielsLeenheer provides some example and how it should be rendered,  as well as [a gist](https://gist.github.com/NielsLeenheer/4dc1a266717b7379333365e9806c3044) :
[code]

[2018-04-26 13:57] nchevobbe opened #6138 "Create a utils to test inspect icon behaviour"
_From @nchevobbe on July 31, 2017 6:37_

Currently we have lots of duplication to make sure the inspect icon works on nested DOM element for various Reps.
As @bgrins suggested in https://github.com/devtools-html/devtools-core/pull/532#discussion_r130154606 , it would be nice to have something to not be so repetitive in tests.

_Copied from original issue: devtools-html/devtools-core#533_

[2018-04-26 13:57] nchevobbe opened #6139 "Handle Symbol with longString names"
_From @nchevobbe on July 25, 2017 13:7_

**Steps to reproduce:**
Evaluate `Symbol("aa".repeat(10000))` in the Reps test app

**Expected results**
The symbol is rendered as `Symbol(aaaaaaaaaaaaaa…aaaaaaaaaaaaaa)`

**Actual results**
The symbol is rendered as `Symbol([object Object])`

---

Here is the RDP packet we receive :
[code]

And here is the code where we handle the Symbol name : https://git

[2018-04-26 13:57] nchevobbe opened #6140 "Add a way to evaluate getter properties"
_From @nchevobbe on July 19, 2017 11:15_

When https://github.com/devtools-html/devtools-core/issues/397 , we'll be able to show getters and setters in Reps/ObjectInspector.
It would be nice if we could provide a way for the user to quickly evaluate a property directly in-place in the ObjectInspector.

We could show a button, with a title warning the user of potential side-effects. This button wou

[2018-04-26 13:57] nchevobbe commented on #6140
_From @Loirooriol on August 14, 2017 18:23_

What if the getter is in the prototype chain? Some class getters expect the receiver to be an instance, not the `prototype` where they are defined.

[2018-04-26 13:58] nchevobbe commented on #6140
_From @davidboom95 on November 17, 2017 19:47_

Any news on this feature?

[2018-04-26 13:58] nchevobbe commented on #6140
_From @wyatt8740 on February 23, 2018 2:42_

Just going to chip in and point out that Firebug can do this in older versions of Firefox and in Seamonkey.

[2018-04-26 13:58] nchevobbe commented on #6140
_From @jasonLaster on February 23, 2018 3:48_

This is something that has come up in the debugger as well. I might be able to get to it in 3-6 weeks.

I'd be happy to mentor somebody who is interested in doing it sooner :)
We're all on slack [here](https://devtools-html-slack.herokuapp.com/)

[2018-04-26 13:58] nchevobbe commented on #6140
_From @Loirooriol on February 23, 2018 14:56_

How does Firebug determine the receiver? Does it always use the object that owns the getter?

[2018-04-26 13:58] nchevobbe commented on #6140
_From @wyatt8740 on February 23, 2018 19:6_

@Loirooriol  I believe firebug actually calls the getter/setter, but I've not looked into it much; since I use Seamonkey, I haven't been forced off of XUL extensions yet.

Of course, I see a danger with this, but I have yet to personally have it bite me on my projects since I don't write getters that set values. At the very least, an option would be nic

[2018-04-26 13:58] nchevobbe commented on #6140
_From @Loirooriol on February 23, 2018 19:35_

@wyatt8740 Yes, but a getter can be called passing an arbitrary object as the receiver (usually it's either the object that owns the getter or an object that inherits it).

For example, consider

[code]

So what happens if I log `obj2`, I inspect its `__proto__` (`obj1`) and then I click the button to evaluate the getter? Should it be called on `obj1`

[2018-04-26 13:58] nchevobbe commented on #6140
_From @inoyakaigor on March 17, 2018 11:16_

@Loirooriol

I checked behavior in Chrome and IE/Edge dev tools for this code:

[code]
Chrome called on `obj1`. IEdge called on `obj2`.
I think IEdge way is better. This provides more opportunities for inspect

[2018-04-26 13:58] nchevobbe commented on #6140
_From @Loirooriol on March 17, 2018 15:14_

@inoyakaigor Not sure what your example is supposed to test, so I will use this one:

[code]

Chrome does not invoke unsafe getters by default, but you can click `(...)` to do so. The getter appears both in the owner and inheritor and you can invoke them independently, but the inheritor is always used as the receiver.

![chrome](https://user-images.githu

[2018-04-26 13:58] nchevobbe commented on #6140
_From @inoyakaigor on March 18, 2018 12:5_

@Loirooriol I think yes, it should

[2018-04-26 13:58] nchevobbe opened #6141 "Users should be able to copy values"
_From @jasonLaster on July 17, 2017 14:11_

It is currently difficult to copy an object inspector's value.

1. the value does not have any user-select behavior
2. the context menu does not show copy

* I think we should support text selection when it is a text value like string, number.
* we should support copy to temporary variable
  * It might be nice to explore copying a temporary variable when

[2018-04-26 13:58] nchevobbe opened #6142 "Style non-enumerable/non-writables properties in the ObjectInspector"
_From @nchevobbe on July 17, 2017 14:5_

In the VariableView, there was a lock at the end of the line, which has a title stating if the property was not enumerable/writable/configurable/extensible. It would be nice to have something like that in the ObjectInspector.

We should not blindly copy the original behavior, maybe we can do something better for this ?

_Copied from original issue: devtools

[2018-04-26 13:58] nchevobbe commented on #6142
_From @jasonLaster on July 17, 2017 14:7_

Yeah - I think the lock is a bit much, especially because the right most column could be useful later.

I'd prefer something softer and perhaps a different hover behavior.

[2018-04-26 13:58] nchevobbe commented on #6142
_From @Loirooriol on August 15, 2017 12:32_

You could show a pencil if it's writable/configurable. Clicking the pencil would show a textbox to edit the value (#500). The lack of a pencil would mean it's not writable/configurable.

[2018-04-26 13:58] nchevobbe opened #6143 "Holey array representation is incorrect in devtools"
_From @nchevobbe on July 17, 2017 7:42_

_From [Bug 1380859](https://bugzilla.mozilla.org/show_bug.cgi?id=1380859)_

---

**Steps to reproduce:**

var x = new Array(10);
x.push(1);
console.log(x);

**Actual results:**

Array [ <10 empty slots>, more… ]

**Expected results:**

Array [ <10 empty slots>, 1 ]

_Copied from original issue: devtools-html/devtools-core#504_

[2018-04-26 13:58] nchevobbe commented on #6143
I think that the problem is that we don't get more than 10 preview items for arrays, and even if there are holes, they do count as preview items. Maybe we could change what the server sends in such cases, but it will be tricky to know where the holes are then.

[2018-04-26 13:58] nchevobbe commented on #6143
_From @Loirooriol on August 15, 2017 12:10_

The problem is the 10 preview limit indeed, e.g.

 - Input: `Object.assign([], {1e3: 1})`
 - Result: `Array [ <10 empty slots>, … ]`
 - Expected: `Array [ <1000 empty slots>, 1 ]`

I attempted to fix this after I improved PseudoArray. My idea was allowing ArrayLike previews to be sparse maps, and iterate the previews using methods like `entries`, which

[2018-04-26 13:58] nchevobbe opened #6144 "Add ability to edit properties in OI"
_From @bgrins on July 13, 2017 16:20_

See https://bugzilla.mozilla.org/show_bug.cgi?id=1380502.

When you double click on a property value in the OI, it could convert into a textbox and let you edit the property value, as in the variables view

_Copied from original issue: devtools-html/devtools-core#500_

[2018-04-26 13:58] nchevobbe commented on #6144
@kootoopas hey, I see you are interrested in this. Do you want me to assign the issue to you (we don't have /claim support here for now)

[2018-04-26 13:58] nchevobbe commented on #6144
_From @jasonLaster on December 13, 2017 17:5_

@bgrins @nchevobbe I'd like to discuss some of the UX here.

I found the old debugger variable view ux confusing at times.

[2018-04-26 13:58] nchevobbe commented on #6144
_From @kootoopas on December 13, 2017 19:37_

@nchevobbe I'm eager to implement once the UX decisions are resolved! :)

[2018-04-26 13:58] nchevobbe commented on #6144
FYI, I find this feature very confusing as well :D We do definitely need to discuss about it

[2018-04-26 13:59] nchevobbe opened #6145 "Reps: ArrayRep should also display custom properties"
_From @janodvarko on July 12, 2017 9:24_

An array object can have custom properties just like any other regular JS object.

An example:
[code]
ArrayRep should be able to render those properties (as an expandable tree using Object inspector?)

Honza

_Copied from original issue: devtools-html/devtools-core#497_

[2018-04-26 13:59] nchevobbe commented on #6145
the custom property is shown when the object is expanded, but not when it's not

[2018-04-26 13:59] nchevobbe commented on #6145
_From @gregtatum on November 27, 2017 15:48_

Adding myself to this to maybe take in the future @gregtatum

[2018-04-26 13:59] nchevobbe opened #6146 "Find a better way to represent empty strings"
_From @nchevobbe on July 11, 2017 15:27_

__From https://bugzilla.mozilla.org/show_bug.cgi?id=1375752__

---

If you try to render an empty string Rep (`""`), and have `useQuotes = false`, the Rep will render `<span class="objectBox objectBox-string"></span>`, i.e. an empty element.

This might be weird in some cases (e.g. `console.log` which pass `useQuotes = false` to render its arguments).
~It

[2018-04-26 13:59] nchevobbe commented on #6146
_From @Loirooriol on July 13, 2017 17:6_

How are you going to distinguish `console.log('""')` from `console.log('')`?

String quotes should have another color different than `--string-color`.

[2018-04-26 13:59] nchevobbe commented on #6146
Good point. @bwinton was suggesting having some styling to tackle this issue.

[2018-04-26 13:59] nchevobbe commented on #6146
_From @bwinton on July 13, 2017 21:2_

A quick example: https://drive.google.com/file/d/0B8P86wwg0hsfTm9zZ2tQWFhkcjg/view 😄
(It's about a 3 line CSS change… 😉)

[2018-04-26 13:59] nchevobbe commented on #6146
_From @bgrins on July 17, 2017 20:43_

Even apart from the empty string situation, I like this more than the current hover state where we highlight the entire message node

[2018-04-26 13:59] nchevobbe commented on #6146
We could also use the `∅` char with some styling and a title attribute stating it's an empty string.

[2018-04-26 13:59] nchevobbe commented on #6146
`console.log("", 42)` only renders an element for 42, we should check if react does something weird or if it the string rep

[2018-04-26 13:59] nchevobbe opened #6147 "Grip rep - Handle uninterresting properties"
_From @nchevobbe on June 21, 2017 10:8_

This is kind of blocked by https://github.com/devtools-html/devtools-core/pull/466
In this PR, we have a test that we skip because at the moment the rep doesn't output what it should.

In order to fix this issue, we need to:
1. wait for the PR to be merges
2. remove the `.skip` part of the `Grip - Object with uninteresting properties -> renders as expected`

[2018-04-26 13:59] nchevobbe opened #6148 "Add tests for the order of grip rep properties"
_From @nchevobbe on June 13, 2017 13:25_

_Moved from [Bugzilla](https://bugzilla.mozilla.org/show_bug.cgi?id=1289369)_

Add tests for the order of grip rep properties.

This should wait before the Grip mochitest is converted to jest

_Copied from original issue: devtools-html/devtools-core#449_

[2018-04-26 13:59] nchevobbe opened #6149 "Investigate automatically generating stubs"
_From @nchevobbe on June 13, 2017 12:54_

_copied from https://bugzilla.mozilla.org/show_bug.cgi?id=1312177_

In the majority of the Reps tests, we directly pass a manually retrieved stub to the component. It is great because the tests are fasts. However, it means that if there are some changes on the backend, the stubs will be out of sync, which might lead to bugs that wouldn't be caught by the t

[2018-04-26 13:59] nchevobbe commented on #6149
I wonder if we couldn't have a devtools-stubs (or devtools-fixture, or something else) package here in devtools core.
This would be hooked up with CircleCI and a cron task (a mochitest that would check if the stubs in the repo would change if we generate them again).
Then we would be able to require those stubs from anywhere (reps, devtools-component, debugger-html, …).
The idea isn't fully formed

[2018-04-26 14:00] nchevobbe opened #6150 "Support NodeFront in Node reps"
_From @nchevobbe on June 6, 2017 7:10_

_Moved from https://github.com/devtools-html/reps/issues/92_

---

https://github.com/devtools-html/reps/issues/92#issue-208988671 :

https://github.com/devtools-html/reps/issues/92#issuecomment-306399211 :

_Copied from original issue: devtools-html/devtools-core#411_

[2018-04-26 14:00] nchevobbe opened #6151 "Review icon used for node reps"
_From @nchevobbe on June 5, 2017 12:59_

_Moved from https://github.com/devtools-html/reps/issues/106_

The icon currently used for node reps can be confusing.

![image](https://cloud.githubusercontent.com/assets/1141550/23514913/088da7d0-ff69-11e6-9224-57f7725a963e.png)

- in the old console this icon acts as an element picker
- in the ruleview and animation inspector, the icon acts as a highligh

[2018-04-26 14:00] nchevobbe opened #6152 "Quote Symbol description when one is provided"
_From @nchevobbe on June 5, 2017 12:57_

_Moved from https://github.com/devtools-html/reps/issues/109_

When a symbol is created with a description, e.g. `Symbol("hi")`, the description should  have quotes : `Symbol("hi")`, which it doesn't at the moment (we display `Symbol(hi)`)

See https://github.com/devtools-html/reps/issues/108#issuecomment-284027866

_Copied from original issue: devtools-htm

[2018-04-26 14:00] nchevobbe opened #6153 "Print dates in local timezone"
_From @nchevobbe on June 5, 2017 12:55_

_Moved from https://github.com/devtools-html/reps/issues/114_

See https://bugzilla.mozilla.org/show_bug.cgi?id=1073533

We are using ISO string when we output a date, which might be confusing depending on your timezone.
It'd be more clear to output the local timezone.

_Copied from original issue: devtools-html/devtools-core#400_

[2018-04-26 14:00] nchevobbe opened #6154 "Displays array elements with accessor descriptors more accurately"
_From @nchevobbe on June 5, 2017 12:46_

_Moved from https://github.com/devtools-html/reps/issues/140_

In https://bugzilla.mozilla.org/show_bug.cgi?id=1358919 we will do some work on the backend side to send the appropriate information when elements of array have a getter.
On the Reps side, we should make sure to consume those data when they'll be available.

__Steps to reproduce:__
Evaluate
[cod

[2018-04-26 14:00] nchevobbe commented on #6154
Note that the getter does appear in the object inspector when expanded:

![image](https://user-images.githubusercontent.com/578107/28609084-767142ba-71e3-11e7-8e1c-ee0949056942.png)

[2018-04-26 14:01] nchevobbe opened #6155 "Use l10N for Reps"
_From @nchevobbe on June 5, 2017 12:43_

_Moved from https://github.com/devtools-html/reps/issues/141_

_Copied from original issue: devtools-html/devtools-core#395_

[2018-04-26 14:01] nchevobbe commented on #6155
Maybe this would be a good place to experiment with [fluent-react](https://www.npmjs.com/package/fluent-react).

[2018-04-26 14:01] nchevobbe opened #6156 "Investigate how to display framework/libraries specific object"
_From @nchevobbe on June 5, 2017 12:36_

_Original issue https://github.com/devtools-html/reps/issues/154_

Since the debugger starts to implement framework/libraries niceties (e.g. collapsed frames), it would be nice to have something on the Reps side.

The first that come to mind is Immutable, which you can't really inspect natively, but we could potentially target other library (React, to displ

[2018-04-26 14:01] nchevobbe commented on #6156
See https://bugzilla.mozilla.org/show_bug.cgi?id=1257548

[2018-04-26 14:24] #6078 closed

[2018-04-26 14:25] #6065 closed

[2018-04-26 14:25] #6066 closed

[2018-04-26 15:18] nchevobbe commented on #5820
Done in https://github.com/devtools-html/debugger.html/pull/6068 (wip) , https://github.com/devtools-html/debugger.html/pull/6079 and https://github.com/devtools-html/debugger.html/pull/5824

[2018-04-26 16:11] joshunger commented on #5663
[code]

[2018-04-26 16:15] greenkeeper[bot] opened #6158 "Version 10 of node.js has been released"
## Version 10 of Node.js (code name Dubnium) has been released! 🎊

To see what happens to your code in Node.js 10, Greenkeeper has created a branch with the following changes:
- Added the new Node.js version to your `.travis.yml`
- The new Node.js version is in-range for the engines in 1 of your `package.json` files, so that was left alone

If you’re interested in upgrading this repo to Node.js 10

[2018-04-26 16:29] #6158 closed

[2018-04-26 21:40] nchevobbe commented on #5820
All PR are merged now, we can close this :)

[2018-04-26 21:40] #5820 closed

[2018-04-26 22:43] violasong opened #6166 "(Nit) [Expressions] Misc tweaks to empty state/add behavior"
- [x] Plus button should match stepping buttons in color

- [x] When no Watch Expressions, should hide Refresh button

- [x] Dotted-outline focus ring that appears when clicking + seems unnecessary

- [x] Clicking + should always open the accordion and change focus to the input field

- [x] Watch expressions rows should be taller, to match the new breakpoint styling

[2018-04-27 23:59] bomsy commented on #5952
is this still a thing?

[2018-04-28 06:49] #5952 closed

[2018-04-28 23:50] jbhoosreddy commented on #5134
Been trying to reproduce this issue.
1. update to master. 2. ./bin/download-firefox-artifact. 3. yarn copy-assets-watch
![](http://g.recordit.co/peyHGWBP3r.gif)
The split console is not over the popup.

[2018-04-29 01:08] bomsy commented on #6076
\claim

[2018-04-29 01:08] bomsy commented on #6076
/claim

[2018-04-29 01:10] #5978 closed

[2018-04-30 09:03] bomsy commented on #5467
So some of the things we need to do here
- [ ] Add client api for autocomplete support
- [ ] Add UI for autocomplete functionality
- [ ] Support caching so no need to call the api always (improve perfomance)

[2018-04-30 10:12] bomsy commented on #5835
/claim

[2018-04-30 12:47] jasonLaster commented on #5835
I started this on the plane
https://github.com/devtools-html/debugger.html/commit/56f8c0680d7680ee4e765a82eac2551912d30453

My version works, but is clearly a proof of concept in that it does some things that are not great

Strategy:
1. re-use preview/onMouseOver to register hovering on tokens
2. tell Popup that we want to jump so it does a different style
3. re-use preview/onMouseDown to call jum

[2018-04-30 12:52] jasonLaster commented on #5134
yep! that is true

[2018-04-30 13:05] jasonLaster opened #6179 "[Search] tweak input bars"
We recently landed some improvements for the Quick Open Modal [here](https://github.com/devtools-html/debugger.html/issues/5988). These changes caused some issues for project search and file search, which we should clean up:

- close button
- general layout inbalances

### Project Search
<img src='https://shipusercontent.com/6a94f594df59e956c8157155aa82acde/Screen%20Shot%202018-04-30%20at%209.04.2

[2018-04-30 13:07] jasonLaster opened #6180 "[QuickOpen] Photon UI tweaks"
We recently landed some improvements for the Quick Open Modal [here](https://github.com/devtools-html/debugger.html/issues/5988). These changes were a big step forward, but we will need to land some tweaks to complete the work

- The blue border is not strong enough
- The cursor padding is too far to the right
- The close button should be removed
- The loading message should be on the right
- The

[2018-04-30 13:50] #5862 closed

[2018-04-30 13:51] jasonLaster commented on #6051
How is it going @shirlyb3? Anything i can help with?

[2018-04-30 14:11] captainbrosset opened #6181 "Breakpoint title is vertically misaligned"
If you look closely, you'll see that the title (i.e. the piece of code) and the cross icon (to delete the breakpoint) are both a little bit too high within the breakpoint element.
The checkpoint, however, seems properly aligned.

<img width="243" alt="breakpoint" src="https://user-images.githubusercontent.com/1152698/39431424-f6fe2406-4c90-11e8-82c9-6b36ff71b30e.PNG">

I guess the intent was to ha

[2018-04-30 14:11] #5603 closed

[2018-04-30 14:15] jasonLaster commented on #6181
I think @darkwing is on this

[2018-04-30 14:45] aaronmoodie commented on #5906
/claim

[2018-04-30 14:47] jasonLaster commented on #6180
I believe @aaronmoodie  is on it

[2018-04-30 14:48] aaronmoodie commented on #6180
/claim

[2018-04-30 14:52] bomsy commented on #5467
Hey @marcogallo566 , yes i've  got a solution for it. Sure you can help ... i'll write out a diff for you to start off with in a bit.

[2018-04-30 18:44] AlexMolodyh commented on #6179
/claim

[2018-04-30 18:44] jasonLaster commented on #4080
Go for it

[2018-04-30 19:54] #6181 closed

[2018-04-30 20:16] darkwing commented on #6179
The issue is the `.search-field .close-btn`'s `margin-top`; we may need to axe it completely.  We may also need to add the "big"  classname to the `QuickOpenModal`

[2018-04-30 21:42] shirlyb3 commented on #6051
@jasonLaster going well, almost done - there's only one case the preview is not located in the way I wanted it to, so I'm checking now what I missed.

I might need help with the tests, I have 2 popover tests failing -
it expects the preview to be located over the token, but now according to the `editorRect` and `targetRect` passed to the popover component in the test, the position calculation in m

[2018-05-01 09:52] lukaszsobek opened #6190 "[Pause] mochi browser_dbg-pause-exceptions.js and jest pause.spec randomly fail"
Running pause tests sometimes causes them randomly to fail. I noticed it several times when running jest and also in mochitest.
An Example is https://github.com/devtools-html/debugger.html/pull/6188 where the pause test fails even though the item worked on has nothing to do with it.

[2018-05-01 12:33] jasonLaster commented on #6180
I started a branch that i believe will hide the quickopen close button [here](https://github.com/devtools-html/debugger.html/compare/master...jasonLaster:qo-close-btn?expand=1)

The trick for jest was running `jest -u` which updated the snapshots

[2018-05-01 13:07] HeidiEllis commented on #4080
+1

The WNE students are no longer working on these issues.

On 04/30/2018 02:44 PM, Jason Laster wrote:

Go for it

—
You are receiving this because you are subscribed to this thread.
Reply to this email directly, view it on GitHub<https://github.com/devtools-html/debugger.html/issues/4080#issuecomment-385491516>, or mute the thread<https://github.com/notifications/unsubscribe-auth/AAgjdDULueAswI

[2018-05-01 13:49] yzen commented on #4080
@nastark519 Feel free to ask any questions regarding the issue and possible solutions.

[2018-05-01 17:12] lukaszsobek commented on #6113
Closing as moved.

[2018-05-01 18:04] jasonLaster commented on #6113
@lukaszsobek why was this closed?

[2018-05-01 19:26] emmet0r commented on #4080
All yours, @nastark519 - we're done for the semester!

If I remember correctly, one student team found that one of the headers was already expandable with keyboard interaction, but that it wasn't highlighting to indicate that to the user. (They found that on accident through repeatedly pressing Tab + Space, so that might be a useful place to start.)

[2018-05-02 00:32] jasonLaster opened #6193 "[Preview] use new token events"
The current preview mouse events have several flaws:

- mouseover fires many times for the same token
- mouseover fires for invalid tokens
- there is no notion of on token leave

Here is a [branch](https://github.com/devtools-html/debugger.html/compare/master...jasonLaster:token-over?expand=1) i started with bomsy and hao

and here is a diagram of the token lifecycle

<img src='https://shipusercon

[2018-05-02 00:38] haoRchen commented on #6193
/claim

[2018-05-02 16:24] julienw commented on #6117
I believe the name could be displayed separately from the "native" type.

[2018-05-02 20:35] darkwing opened #6201 "Error: relatedTarget.classList is undefined in Popup.js"
<img width="847" alt="classlist" src="https://user-images.githubusercontent.com/46655/39547633-c3e06cbc-4e1d-11e8-99e1-2cbe4de7c9bc.png">

I haven't been able to reproduce this yet but just something we should be aware of; at the very least check that classList exists.

[2018-05-02 20:53] jasonLaster commented on #6201
uhoh

[2018-05-03 05:41] AlexMolodyh commented on #6179
Does this happen for every browser version or just specific ones?

I was trying to reproduce this in the latest version of Firefox and couldn't get it to reproduce.

[2018-05-03 11:33] jainsneha23 commented on #6005
@darkwing We already have title attribute with the fullpath in the filename. Can you please tell the expected output here.

<img width="632" alt="screen shot 2018-05-03 at 5 01 07 pm" src="https://user-images.githubusercontent.com/8366397/39574157-b72363fe-4ef3-11e8-8c17-43528f91689d.png">
<img width="623" alt="screen shot 2018-05-03 at 5 02 35 pm" src="https://user-images.githubusercontent.com/83

[2018-05-03 13:28] jasonLaster commented on #6005
Hey @jainsneha23!

Oh nice point, i think this basically works. I think it would be nice to include the directory name next to the filename if they are the same. e.g:

- index.js (education)
- index.js (job)

the directory name can have a secondary grey color...

[2018-05-03 13:29] jasonLaster commented on #6179
@AlexMolodyh this is only in github locally. We havent landed this bug in firefox yet

[2018-05-03 15:05] AlexMolodyh commented on #6179
@jasonLaster - I guess I'm a little confused about how to recreate this issue then. Is this not a firefox debugger issue?

[2018-05-03 15:14] jasonLaster commented on #6179
it is :)

checkout the getting setup instructions http://github.com/devtools-html/debugger.html/

[2018-05-03 15:56] jainsneha23 commented on #6005
@jasonLaster Hey there can be situations with parent folder name same as well. So, we will have to check until we get different parent folder. And we can specify the same as picture below.

<img width="698" alt="screen shot 2018-05-03 at 9 24 53 pm" src="https://user-images.githubusercontent.com/8366397/39588048-9210537c-4f18-11e8-8043-81cde42144ac.png">

[2018-05-03 16:07] jasonLaster commented on #6005
yeah, that kind of thing. good point. we should go up until its unique

[2018-05-03 16:10] jainsneha23 commented on #6005
@jasonLaster And then the same should apply on the editor as well??

[2018-05-03 17:39] AlexMolodyh commented on #6179
@jasonLaster - Yes, that would be great. When would you have time?

[2018-05-03 18:00] jasonLaster commented on #6179
<img src='https://shipusercontent.com/3c5afa34b0c412e83aa36f6629351422/Screen%20Shot%202018-05-03%20at%201.59.58%20PM.png' title='Screen Shot 2018-05-03 at 1.59.58 PM.png' width=1552>

[2018-05-03 18:07] AlexMolodyh commented on #6179
Thanks @jasonLaster!

[2018-05-03 18:30] Loirooriol opened #6213 "[Expressions] Invalid chrome URI error"
1. Open browser console
2. Open debugger
3. Add some watch expression
4. Browser console shows

[2018-05-03 18:36] phoenixking25 commented on #6166
row should be taller mean have to increase height of the rows in css? @darkwing

[2018-05-03 18:38] AlexMolodyh commented on #6179
I can't seem to reproduce the issue on my hp laptop. Would this be a mac specific issue? Here's a screenshot of it.
![screenshot from 2018-05-03 14-36-26](https://user-images.githubusercontent.com/32307614/39596204-a7a064b8-4edf-11e8-827d-25aebb1fb850.png)

[2018-05-03 18:54] Loirooriol opened #6214 "[Expressions] 'let' statement in watch expressions behaves weird"
1. Create a watch expression: `foo`. This variable doesn't exist, so you get

 - `foo`: (unavailable)

2. Add a watch expression: `let foo = 123`. Now `foo` is defined but previous expression is not reevaluated, which seems reasonable.

 - `foo`: (unavailable)
 - `let foo = 123`: undefined

3. Add a watch expression: `foo;`. Strangely this does not output `123`, I guess it's evaluated in another s

[2018-05-03 19:18] jasonLaster commented on #5986
Okay, i opened a PR for the parser error, but i think thee are other things that are preventing the sources from being delivered to the client reliably

![](http://g.recordit.co/N10GCJiDDL.gif)

[2018-05-03 19:42] mnoorenberghe commented on #5986
Maybe related to https://bugzilla.mozilla.org/show_bug.cgi?id=1443247 or https://bugzilla.mozilla.org/show_bug.cgi?id=1312180

[2018-05-03 20:15] jasonLaster commented on #5986
interesting. these are good bug reports. I'll investigate during the 62 cycle

[2018-05-03 22:53] CamStan commented on #6049
@jasonLaster, we seem to be having an issue replicating the bug. After navigating to [https://firefox-debugger-example-react-js.glitch.me/](url), the app.jsx file (ours is lower case) does not have an onSortClick function.

![image](https://user-images.githubusercontent.com/12384825/39606163-bf80d6c2-4ee8-11e8-9be6-6520c423d885.png)

So using the inspector I clicked on the button and had it take m

[2018-05-03 23:49] CamStan commented on #6049
Just realized a pull request was made for this 11 days ago, but the bug is still labeled as open. Was this already fixed?

[2018-05-04 00:07] jasonLaster commented on #6049
yes, sorry

[2018-05-04 00:07] #6049 closed

[2018-05-04 06:17] karlcow opened #6219 "Files list persists when navigating from one site to the other"
0. with Firefox Nightly 61.0a1 (2018-05-03) (64-bit)
1. Open the devtools on the debugger
2. Enter mozilla.org in the address bar.
3. The files are loaded and shown in the debugger <img width="966" alt="capture d ecran 2018-05-04 a 15 11 35" src="https://user-images.githubusercontent.com/505230/39614797-88d827b8-4fad-11e8-8321-453e6c7dbf14.png">
3. Now enter wikipedia.org in the address bar.
4. th

[2018-05-04 07:46] kootoopas commented on #6139
@nchevobbe Hey there Nicolas.

In what way do you think it's best to handle the longString? We can't exactly depict it as you specified in the "expected results" section, since we don't have the `fullText` from the beginning and the cropping would be performed on the `initial` string:
![screen shot 2018-05-04 at 10 31 14](https://user-images.githubusercontent.com/601001/39617260-ad5dfa70-4f87-11e8

[2018-05-04 08:08] kootoopas commented on #6139
Ideally we would use `getRep(object.name)`, so that we'd get valid representations for Symbols whose name is of other non-primitive types too:
![screen shot 2018-05-04 at 11 04 17](https://user-images.githubusercontent.com/601001/39618219-71cf38d0-4f8b-11e8-978c-2cb71ef9b1d3.png)

[2018-05-04 08:39] marcogallo566 commented on #5467
@bomsy Any news about the UI?

[2018-05-04 12:45] jasonLaster commented on #6219
Thanks @karlcow

[2018-05-04 17:03] darkwing commented on #6166
In a previous conversation @violasong mentioned that `1em` may be the height we want -- give it a shot :)

[2018-05-04 17:28] violasong commented on #6166
It should visually match the height of the breakpoint rows, so borrowing some styles from there might help :)

[2018-05-04 19:29] bomsy commented on #5467
Hey @marcogallo566
Hey is a gif of the my idea of what this will look like
![](http://g.recordit.co/ZObtEYOqfe.gif)

[2018-05-04 19:39] bomsy commented on #5467
Hey @marcogallo566

Here is my start on it. This diff is quite buggy so u'll have to fix some of the issues.
if you need any help! Let us know in the slack channel!

Cheers!

[code]

[2018-05-04 19:45] #6064 closed

[2018-05-05 13:00] Sekhmet commented on #4104
/unassign

I unassign myself as I'm short on time currently, and don't want to block this issue for others.

[2018-05-05 13:01] Sekhmet commented on #4104
/unclaim

I unclaim myself as I'm short on time currently, and don't want to block this issue for others.

[2018-05-05 14:02] phoenixking25 commented on #6166
![screenshot from 2018-05-05 19-10-51](https://user-images.githubusercontent.com/22527880/39664057-0e501ec6-509b-11e8-98b3-f31381a51d3f.png)
![screenshot from 2018-05-05 19-11-11](https://user-images.githubusercontent.com/22527880/39664058-0ead57ee-509b-11e8-9ec4-3ee07b5283af.png)

[2018-05-05 14:04] phoenixking25 commented on #6166
added `min-height: 3em` to `.expression-container`  Is it looking alright with this or add some padding too? @violasong

[2018-05-05 15:11] bomsy commented on #6076
@darkwing  Looks like this might have been fixed!

![](http://g.recordit.co/mHBEmxnnau.gif)

[2018-05-05 15:12] bomsy commented on #6076
If not

[2018-05-05 15:12] #6076 closed

[2018-05-05 17:58] phoenixking25 commented on #6166
/claim

[2018-05-06 07:30] ch4r13s commented on #6028
This seems a little above my skill level, but I'll give it a go.

[2018-05-06 09:08] marcogallo566 commented on #5467
Thank you so much, tomorrow I'll start to work on it!

[2018-05-06 16:04] sonicScape211 commented on #4181
Hey guys! So my team and I have taken a look into this issue more and have found that the problem continues throughout the Firefox versions: 56.0 to 58.0 but before and after these versions the problem is no longer present. Though my team and I are no longer about to keep working on this one just because of the need get Windows 7 to recreate the bug at all.

[2018-05-06 16:05] sonicScape211 commented on #4181
/unclaim

[2018-05-07 15:30] darkwing commented on #5970
Closing as dupe https://github.com/devtools-html/debugger.html/issues/6000

[2018-05-07 15:30] #5970 closed

[2018-05-07 15:32] #6012 closed

[2018-05-07 15:32] #6013 closed

[2018-05-07 15:34] #5935 closed

[2018-05-07 15:34] #5917 closed

[2018-05-07 15:35] #5757 closed

[2018-05-07 15:41] darkwing commented on #4756
This should be gone now, I've not seen in ages

[2018-05-07 15:41] #4756 closed

[2018-05-07 18:06] nastark519 commented on #4080
/claim "Need to be able to collapse expand headers with keyboard"

[2018-05-08 00:16] marvinkome commented on #5443
Since it also uses the SearchInput component. I was thinking we add "Go to line" in the place where "Loading ..." or close button will be

[2018-05-08 09:52] kootoopas opened #6250 "[QuickOpen] Treat files with same resolved paths as one"
The file is the same but I guess somewhere in the codebase it's referenced with a preceding `./` so the debugger treats it as a different file entry (see `./` diff in start of filepaths):
![screen shot 2018-05-08 at 12 47 56](https://user-images.githubusercontent.com/601001/39750664-7427c7c4-52be-11e8-9eb0-07536ee00409.png)

[2018-05-08 09:56] kootoopas commented on #6250
Nevermind, file contents differ. One is typescript source and the other post-webpack processed. It's still weird that their paths are the same though!

[2018-05-08 09:56] #6250 closed

[2018-05-08 12:10] jnachtigall opened #6251 "Startpage's `Ctrl+P` and `Ctrl+Shift+F` should be <button/>s"
From the mouse cursor and visually it is not clear that the 'buttons' are clickable. Looks like these are divs/spans with event listeners. Would be better if these where real `<button>`'s, also for semantics/accessibility. Like it is for the Performance or Memory tab:

![debugger-buttons](https://user-images.githubusercontent.com/3307404/39756222-02b74e60-52c9-11e8-9f5c-ea1d32e9889e.gif)

Probably

[2018-05-08 12:33] jasonLaster commented on #6250
yes, we'll address this in a diffeent issue about differentiating original and generated sources

[2018-05-08 14:35] darkwing commented on #6027
Note:

It appears that everything is going through the correct routine but `getDirectories` is returning `Object { name: "root", path: "", contents: […] }`

[2018-05-08 16:21] jasonLaster opened #6253 "[releases] unbundle sources"
We would like to be able to land the github source code in MC directly.

### Todos

- [x] unbundle debugger.js
- [ ] unbundle debugger.css
- [ ] unbundle workers
- [ ] unbundle reps #6426
- [ ] vendors

#### CSS

- we'll want to run postcss on each css file
- we'll need a top-level css file that can import the different files or concat them...

#### Workers

- we'll need to find the right Cu impor

[2018-05-08 17:01] juliandescottes commented on #5813
Closing :)

[2018-05-08 17:01] #5813 closed

[2018-05-08 17:44] AlexMolodyh commented on #6179
@jasonLaster - Is there anything else that we need to do to close this issue? @darkwing approved the pull request and merged it into master.

[2018-05-08 18:41] AlexMolodyh commented on #5974
/claim

[2018-05-08 18:49] nastark519 commented on #4080
Hello @yzen do you know where or if there is an action listener for onClick to collapse expand headers? we have been looking in Accordion.js ? thank you in advance.

[2018-05-08 19:54] yzen commented on #4080
Yeah I believe you are looking in the right place - https://github.com/devtools-html/debugger.html/blob/master/src/components/shared/Accordion.js#L60 I would put a breakpoint in the debugger to see why the handler does not work for when you press space/enter.

[2018-05-08 20:49] jnachtigall commented on #6251
@phoenixking25 almost perfect, thank you! :) (though I'm not a maintainer, so wait for them for a proper code review).

What I'm seeing that still could be improved:
1. Both bothes should have the same width so they align more nicely. (The find files button is a bit wider at the moment). Not sure how this would be best done. Setting a `min-width` on both probably does not work this the strings als

[2018-05-08 21:26] phoenixking25 commented on #6251
![min-width](https://user-images.githubusercontent.com/22527880/39783886-2c21b496-5334-11e8-81d9-86055785d933.gif)
@jnachtigall Thanks for the help :) Setting `min-width: 250px` did the thing. And the `+` sign will work on that :)

[2018-05-08 21:51] juliandescottes opened #6254 "[releases] release v40 - Investigate step-in performance regression "
[Release 40](https://github.com/devtools-html/debugger.html/compare/release-39...release-40) regressed the performance of the "step-in" performance test of 20%.

The code for the performance test is at: https://searchfox.org/mozilla-central/source/testing/talos/talos/tests/devtools/addon/content/tests/debugger/custom.js#71

The list of commits from the release is at https://github.com/devtools-htm

[2018-05-08 21:54] juliandescottes commented on #6254
Looking at the list of commits, maybe related to:
- Use pausePoints to determine valid pause locations, f3cf6a8593aee4d6f49bf3089fdae7a1ded6f60d
- Bump source-map to 16, 5c3c451b11419fde2f66e939d5d0cc8f291b8c1b

At first glance, other commits seem less likely to impact the step-in performance

[2018-05-08 23:36] hcs64 opened #6255 "Search failure doesn't update when hitting Enter to search"
Steps to reproduce:
1. Open files in tabs in the debugger
2. Ctrl+F search for something that is in one file but not the current tab (frowny appears and search term turns red)
3. Switch to the tab with the file that contains the search term
4. Click in the search box and hit Enter to re-run the search

Even though the search term is found, the frowny and red text remain.

[2018-05-09 02:33] jasonLaster commented on #6255
Thanks for the report!

[2018-05-09 02:52] adancarrasco commented on #5100
Hi, I'm planning to help on this task, just wondering if the list is up-to-date? I was planning to contribute to `astBreakpointLocation test` but I'm seeing it in the code from yesterday's cloned repo. 😃

[2018-05-09 03:12] adancarrasco commented on #5100
I will work on `src/utils/ui`.

[2018-05-09 03:24] brianpeiris opened #6256 "Add support for await in console"
I'd like to be able to run async code in the console. I'd expect it to be considered a "top level" context.

For example, I want to run:
`await new Promise(resolve => setTimeout(resolve, 1000))`

But this currently results in an error:
`SyntaxError: await is only valid in async functions and async generators`

[2018-05-09 06:17] lukaszsobek commented on #6255
/claim

[2018-05-09 07:37] kootoopas opened #6257 "[ObjectInspector] Expanding longString nodeValue of attribute crashes the console"
#### STR

browser: nightly 62.0a1 (2018-05-07) (64-bit)
os: macOS 10.13.3
1. Open nightly.
2. cmd + alt + i
3. Paste these into console:
[code]
4. Click on the `s` attribute to expand it, click on its `nodeValue` to expand the longString.

#### ER

`key: value` pair should have expanded value.

#### AR

The whole console tab crashes and requires closing and opening the Developer Tools to function

[2018-05-09 07:57] jnachtigall commented on #6251
Cool, but as said this will work for english (and probably 90% of other languages) but might not work for some languages/translations (in other languages, like German which has looong words, the 250px will not be enough, and then it will break) . Though I am not sure how to fix this with CSS, maybe having a container wrapper around the buttons and let the buttons always be 100% of the container si

[2018-05-09 11:13] MikeRatcliffe opened #6258 "Debugger should not use Services.telemetry directly"
All Services.telemetry calls should be calling:
https://searchfox.org/mozilla-central/source/devtools/client/shared/telemetry.js

Of course, this needs a stub when running outside the browser.

[2018-05-09 11:13] MikeRatcliffe commented on #6258
/claim

[2018-05-09 12:27] jasonLaster commented on #6256
Good idea @brianpeiris. I think this bug should be in bugzilla.

[2018-05-09 12:27] #6256 closed

[2018-05-09 13:00] jainsneha23 commented on #6005
@kootoopas i am working on it.
https://github.com/jainsneha23/debugger.html/tree/issue-6005
working solution. needs optimisation though.

[2018-05-09 13:09] jasonLaster commented on #6005
hmm, i'm not sure. @jainsneha23 what were you saying?

[2018-05-09 18:39] brianpeiris commented on #6256
Oh, sorry, some how totally overlooked that this project was _just_ the debugger. Thanks.

[2018-05-09 20:52] Aybee commented on #1809
I'm on FF 59.0.3

No chance here to get the new content of HTML in Debugger tab. The Inspector tab shows the new content.

[2018-05-09 21:25] violasong opened #6260 "[Futuristic, Experimental] Combined Quick Open + Find in Project + MDN Search + Command Menu"
Just filing this here so we have it, but it can go into some backlog :)

[<img width="1070" alt="image" src="https://user-images.githubusercontent.com/55994/39840451-4c36e41c-5394-11e8-929b-25d5627c9a0f.png">](https://mozilla.invisionapp.com/share/6EIDK3LFKP7)
Maybe it could require certain commands to turn it into project search or MDN search, but it would be cool if it could make smart guesses f

[2018-05-10 14:08] yzen commented on #4080
@nastark519 hi, let me know if there you had any more follow up questions, or if you needed more pointers.

[2018-05-10 17:46] darkwing commented on #6027
So this gets us closer:

https://gist.github.com/darkwing/a2feb06e193014c778a5ed87265ab070

The *only* side effect I can find is that trying to set a root under a root under a root doesn't show the sources they should, mostly like because of changing line 127 from `-1` to `-2`

[2018-05-10 18:30] Hindelburg commented on #6153
I'm interested in trying to fix this bug but have noticed that it is "not-available". I would assume that means that I can't claim/fix it, but want to be 100% sure. I'm really new to this whole open source thing.

[2018-05-10 18:36] darkwing commented on #6153
Hello @Hindelburg -- this is definitely available -- sorry for the errant label.  Have at it! :)

[2018-05-10 19:52] jasonLaster commented on #5561
Found a new case with nightly today.

STR:
1. open http://localhost:8000/?react_perf&firefox-tab=child1/tab1
2. navigate to SecondaryPanes/Breakpoint.js
3. add a breakpoint on 41
4. add a breakpoint in the debuggee (todomvc)

the missed bindings are: getBreakpointLocation, getBreakpointText, this corresponds with the functions defined in the module scope

![Screen Shot 2018-05-10 at 3.51.07 PM.png

[2018-05-11 02:05] jasonLaster commented on #5134
Hmm, it looks like we try to avoid it, but expanding a node causes it

![](http://g.recordit.co/3CkGfxYyFi.gif)

[2018-05-11 02:29] digitarald opened #6268 "Unclear cursors on breakpoint panel should be pointers"
Filename shows a default cursor. Breakpoint code preview has a text cursor.

Both are actually clickable for file navigation and should have a pointer cursor.

[2018-05-11 02:32] digitarald opened #6269 "Cursors should be pointer styled on blank state screen links"
<img width="291" alt="image" src="https://user-images.githubusercontent.com/8599/39903550-8c8bd1fe-5488-11e8-82e8-7a7e6614d99c.png">

Both text lines are clickable and should show a pointer (but currently show a text cursor).

[2018-05-11 13:38] digitarald opened #6271 "Preview tooltip stays open when leaving code editor"
STR: Hover a variable close to the tabs.

![screenflow](https://user-images.githubusercontent.com/8599/39903951-8c1c352c-548a-11e8-82cc-c2a17d2b9ca8.gif)

Tested on https://firefox-debugger-example-react-js.glitch.me/.

[2018-05-11 14:03] darkwing commented on #6268
Thanks for filing this @digitarald; I'm of the school that anything clickable should have the "pointer" cursor, but that doesn't appear to be the standard for DevTools as a whole.  For example, seemingly the only thing in the debugger with a pointer cursor is the SourcesTree; everything else, clickable or not, has the default cursor, including:

- Editor Tabs
- Functions that appear in the Outline

[2018-05-11 15:49] wldcordeiro commented on #6268
I remember at some point we started putting the clickable cursor and then that was undone for leaving defaults. I think we should go further than just that one type of cursor and think about where we could use the various context sensitive cursors for disabled elements, etc.

[2018-05-11 16:56] digitarald commented on #6268
Luckily designers and a11y experts but a lot of thought into this already. We should not block this on not having a consistent pointer rule across devtools.

The rule of thumb that I'd propose, partially based on [MS's weak affordance](https://msdn.microsoft.com/en-us/library/windows/desktop/dn742466(v=vs.85).aspx) model:

1. UI that looks interactive don't need a pointer.
2. Interactive elements

[2018-05-11 17:04] digitarald opened #6274 "[Breakpoints] Speed up disabled breakpoint opacity transition"
0.5s feels really slow and might also feel like a input delay. 150ms seems to be used across other browser interfaces.

[2018-05-11 17:11] digitarald opened #6277 "[Breakpoints] Optimistically accept checkbox when enabling a breakpoint"
After enabling a breakpoint, the checkbox is only *actually* ticked after some awkward delay, perceived as performance dissonance.

![screenflow](https://user-images.githubusercontent.com/8599/39937065-71ab2986-5503-11e8-8926-cb22fa374320.gif)

https://perfht.ml/2Ius2SJ

Best would be to just optimistically set the breakpoint and fall back when something failed. Another solution might be to check

[2018-05-11 17:28] digitarald opened #6279 "Fix devtools.debugger.pending-breakpoints overflow issue"
Data in `devtools.debugger.pending-breakpoints` is invalid JSON: https://gist.github.com/digitarald/a0ccbe43a1ddf4a484a7d30ea3536746

Browser Console throws this several times:

`Warning: attempting to write 7034 bytes to preference devtools.debugger.pending-breakpoints. This is bad for general performance and memory usage. Such an amount of data should rather be written to an external file. This

[2018-05-11 17:31] jasonLaster commented on #6279
Here is a formatted gist.
http://jsoneditoronline.org/?id=7fa7d6b45f0d498bb609086641743abd

it's just 17 breakpoints, which is not that much

[2018-05-11 17:37] marvinkome commented on #6269
/claim

[2018-05-11 17:39] digitarald opened #6281 "[Breakpoints] Highlighting the current breakpoint doesn't work in debugger examples"
STR: Debug http://firefox-debugger-example-react-js.glitch.me/ and set a breakpoint in Devtools.js

This pausing on the first breakpoint:
<img width="891" alt="image" src="https://user-images.githubusercontent.com/8599/39938292-4d28a38c-5507-11e8-9c6a-131c95a83daa.png">

Same for second breakpoint:
<img width="850" alt="image" src="https://user-images.githubusercontent.com/8599/39938418-c312bf60-5

[2018-05-11 17:45] darkwing commented on #6281
@digitarald Am I understanding it right that you'd like some type of signifier in the right sidebar's Breakpoints list as to which breakpoint is currently hit?

[2018-05-11 17:47] digitarald opened #6282 "Callstack doesn't navigate to correct function"
STR:
- Break in a UnorderedList component in http://firefox-debugger-example-react-js.glitch.me/
- Step into `map`
- See Callstack and render entries

AR: Jumps within the `map` function
ER: Jumps to Component `render` function.

![screenflow](https://user-images.githubusercontent.com/8599/39938721-b5d7146c-5508-11e8-93e0-7fbc33c972bf.gif)

[2018-05-11 17:49] digitarald commented on #6282
Or maybe it does jump to the right last known position within render. The 2 render entries still need to be explained then.

[2018-05-11 17:52] jasonLaster commented on #6281
@darkwing we should have that, i think we're just too precise with our isCurrentlyPaused at check. See the mappedBreakpoints PR...

[2018-05-11 17:56] digitarald opened #6283 "Clicking a component tooltip navigates incorrectly"
STR: Pause in https://firefox-debugger-example-react-js.glitch.me/ and hover a component

![screenflow](https://user-images.githubusercontent.com/8599/39938975-9644e74a-5509-11e8-9bfd-31dc3da0e66b.gif)

AR: Navigates to generated main.js file without a line
ER: Not sure, the component is defined in the same file

Same happens when clicking the `React.Component` tooltip.

[2018-05-11 17:57] digitarald opened #6284 "React component is shown as `render`"
STR:
- Open https://firefox-debugger-example-react-js.glitch.me/
- Add breakpoint in `render` function in `webpack:///app/components/DevTools.jsx`
- Click `Cycle`

<img width="847" alt="image" src="https://user-images.githubusercontent.com/8599/39939093-ffb74a60-5509-11e8-81ba-1727e4fdffd7.png">

AR: `render` component shown in the sidebar and in the tooltip
ER: See `DemoClicker` component

[2018-05-11 19:18] lukaszsobek commented on #6283
That looks like a fun one :)

[2018-05-11 19:18] lukaszsobek commented on #6283
/claim

[2018-05-11 20:38] #6274 closed

[2018-05-11 22:10] jasonLaster opened #6289 "[releases] land sourcemapped commits"
We should land 2 commits in MC

-  [sources] Add another original scope line mapping test. (#6230)
- Change the naming scheme of original scope tests to avoid 'babel' as the base.

[2018-05-11 22:39] jasonLaster opened #6290 "[Editor] "Jump to" in Developer tools doesn't scroll to cursor position"
Steps to reproduce:

1) Open Developer Tools
2) Open www.google.com
3) Goto Debugger tab
4) open api.google.com → js → api.js
5) Press Ctrl-J and enter "10:400"

I have a minified file with 400,000 columns, it's hard

Open any minified js file, press Ctrl-J and enter "1:400"

Actual results:

Cursor disappeared, I suspect it moved to desired position, but I have no way to scroll to this position.

[2018-05-12 10:05] nicofrand opened #6295 "[Editor] does not show the whole file"
Hi,

the debugger only shows a part of the file downloaded. The file appears in full in the network tab but not in the debugger: the line 1 in the debugger is actually the line 201 in the file.

Below are animated screenshots (I have since reduced a bit the STR and connect to `/yunohost/sso` directly and not the hextris app, but the `ynhpanel.js` file is the same).

![bug-devtools](https://user-im

[2018-05-12 11:51] bomsy commented on #5886
The fix is here https://bugzilla.mozilla.org/show_bug.cgi?id=923975

[2018-05-12 16:05] bomsy commented on #6219
Looks like this is fixed in 62.0a1(2018-05-12)(64-bit).

Closing for now.

[2018-05-12 16:05] #6219 closed

[2018-05-12 22:46] AlexWang-16 opened #6297 "[Docs] Add mochitest harness troubleshoot information"
Documenting issues I've encountered with the harness while writing a mochitest for debugger.html and how to recompile firefox to allow mochitesting again.

## Description
Symbolic linking between debugger.html source files and firefox source files were broken. Harness reports I am missing rust compiler

[2018-05-12 22:46] AlexWang-16 commented on #6297
/claim

[2018-05-13 02:01] jasonLaster commented on #3792
Here's an initial re-write of the components pane, with the goals of

- separating out components from extra
- adding children
- making it behave like a tree (WIP - we should use the Tree component)

https://github.com/jasonLaster/debugger.html/tree/components

[2018-05-13 03:55] AnshulMalik commented on #6269
Closing in favour of https://github.com/devtools-html/debugger.html/issues/6251

[2018-05-13 03:55] #6269 closed

[2018-05-13 17:37] Loirooriol commented on #6279
Also see #5219

[2018-05-14 06:26] nchevobbe commented on #6139
As a first step, let's only display the truncated name, without a way to expand the longString, since I don't think it is a frequent to have a long string as a Symbol name.

[2018-05-14 07:47] kootoopas commented on #6139
Agreed. The whole thing with longStrings is kind of an edge case... but for some reason I'm obsessed with its issues. 😆

[2018-05-14 12:02] jasonLaster commented on #5738
Here is a good patch for removing .get
https://gist.github.com/f8efdd61c9708e34b871770bfcba4647

[2018-05-14 14:54] #6166 closed

[2018-05-14 17:04] julienw opened #6306 "[breakpoints] can't add a breakpoint (parsing)"
This file has several problems with the current debugger's parsing capabilities:
1. An error in this function declaration:
[code]
2. Because of this, it then chokes on a string template:
[code]
Then below this line evrything is considered as comments and I can't add a breakpoint on any line below this. This is bad :(

Here is the full source for the file with an issue. Notice this is correct in gi

[2018-05-14 17:11] jasonLaster commented on #6306
@julienw is it easy to add an STR for how to reproduce in perf.html?

[2018-05-14 17:50] #6297 closed

[2018-05-14 19:16] Akryum commented on #6140
This is much needed to debug Vue.js apps, which heavily use `Object.defineProperty({ get () { ... } })`.

[2018-05-14 19:27] jasonLaster commented on #6140
thanks for the heads up. Do you have an example app we could use to see this?

[2018-05-15 06:14] lukaszsobek commented on #6190
Seems to have been resolved. Closing.

[2018-05-15 06:14] #6190 closed

[2018-05-15 09:29] Akryum commented on #6140
I just thought it would be even better to have properties starting with `$` after the other ones and before the ones starting with `_`:

- `item`
- `$attrs`, ...
- `_c`, ...

[2018-05-15 09:54] inoyakaigor commented on #6140
Thought about sorting sounds good! 👍 (But i think this is theme for new issue)

[2018-05-15 10:30] julienw commented on #6306
Oh yes, it's surprisingly easier than I thought.
1. go to https://perf-html.io
2. open the debugger
3. open the file `webpack > src/profile-logic/process-profile`
4. scroll down the file

The first error is around line 102:
![capture d ecran de 2018-05-15 12-29-19](https://user-images.githubusercontent.com/454175/40051600-9ef3fcfc-583b-11e8-9789-51d6bd21dabd.png)

The second error is around line 3

[2018-05-15 12:25] jasonLaster commented on #6140
Thanks!

[2018-05-15 12:26] jasonLaster commented on #6190
yep!

[2018-05-15 15:23] CamJN opened #6310 "Babel/Webpack/React Source maps still don't work at all"
I read https://hacks.mozilla.org/2018/05/debugging-modern-web-applications/, and got my hopes up that source maps might finally work in FF, but alas they do not.

I'm using FF dev edition, up to date (61.0b4) as of today (May 15th, 2018) on macOS 10.13.4.

<img width="1440" alt="screen shot 2018-05-15 at 9 16 47 am" src="https://user-images.githubusercontent.com/6243207/40066172-c8fa1a92-5820-11e8

[2018-05-15 15:26] jasonLaster commented on #6310
Hi, I'm sorry that it was disappointing. It looks like we could not find your sourcemap. It looks like it should be built `devtool: 'cheap-module-source-map'`. Would you be up for a quick call so i can see what's going on?

[2018-05-15 15:30] CamJN commented on #6310
I guess that depends what you mean by a call, most web based conferencing software either requires downloading super sketchy software or only works in chrome. Either way thanks for getting back to me.

[2018-05-15 18:12] evgi99 opened #6313 "[Stepping]"step-over" (F10) takes a lot of time"
I found out that "step-over" the code take time. i try to drill down and look for the reason for this performance reason and saw that probably it because code-mirror take time change page view (e.g. `updateHeightsInViewport` takes 14ms and is called both in `clearHighlightLine` and in `setHighlightLine`)

* attached file from https://perf-html.io that help me in my research - I recorded 2 step-ove

[2018-05-15 18:34] jasonLaster commented on #6313
oh thanks!

[2018-05-15 19:34] gregtatum opened #6315 ""extra is undefined" runtime error while stepping"
I don't have an STR for this one. I was stepping over a simple for loop on perf.html and this error happened.

<img width="2557" alt="image" src="https://user-images.githubusercontent.com/1588648/40079266-ef92841a-584c-11e8-99f9-1db412be7463.png">

[code]

[2018-05-15 21:31] jasonLaster commented on #5561
@loganfsmyth and i looked into it and it looks like it is related to the fact that a function and class are inside of a function body scope

[code]

https://gist.github.com/af8e91b7c322d25b1fc122d7d65ffa6f

[2018-05-15 21:57] #6201 closed

[2018-05-16 05:57] lukaszsobek commented on #6255
Merged. Closing.

[2018-05-16 05:57] #6255 closed

[2018-05-16 06:59] lukaszsobek opened #6319 "[Pause] Test fails when run a second time"
STR:
- Run `yarn test:js`,
- see a passing test,
- run `yarn test:js` again,
- see a failing test

The pause.spec test passes the first time, but fails every run after that:

Screen:
![screenshot-20180516085149-579x642](https://user-images.githubusercontent.com/23530054/40101299-4f705336-58e7-11e8-850a-da23f6b631c0.png)

[2018-05-16 14:13] jasonLaster commented on #6310
I'd be happy to do a google hangout. What timezone are you in?

[2018-05-16 14:16] jasonLaster commented on #5759
Thanks for filing @fvsch. Sorry for the delay. Could you share a good STR?

[2018-05-16 14:37] #5941 closed

[2018-05-16 15:25] #6277 closed

[2018-05-16 16:02] jasonLaster commented on #5759
Thanks @fvsch

[2018-05-16 17:26] jasonLaster commented on #6310
cool how about 1:30pm est (5 mins)

[2018-05-16 17:26] CamJN commented on #6310
sure

[2018-05-16 17:28] jasonLaster commented on #6310
https://hangouts.google.com/call/zq2fnprgi2LSHut2UViCAAEE

[2018-05-16 17:57] #5966 closed

[2018-05-16 17:58] #6073 closed

[2018-05-16 18:00] jasonLaster commented on #6254
the graph went back to normal.

[2018-05-16 18:00] #6254 closed

[2018-05-16 18:08] jasonLaster commented on #6310
A couple of notes from the call:

1. "Enable Sourcemaps" in the Settings pane was not set
2. 'cheap-module-source-map', was not including the App.jsx code...

[2018-05-16 18:08] #6310 closed

[2018-05-16 18:10] CamJN commented on #6310
Apparently #2 is well-known: https://github.com/webpack/webpack/issues/1194

[2018-05-17 06:22] digitarald opened #6328 "[Pretty Print] fails with sourceMap error when Source Maps is off"
STR: Prettify on a js file on google.com
AR: Works for me, fails for @karlcow

@karlcow did create a fresh profile last week and did not have `Source Maps` on in devtools.

`TypeError: sourceMaps is null – prettyPrint.js:112:9`

Issues to follow up on:
- Why is source maps off by default in a new Nightly profiles?
- Prettify should work without source maps (or don't allow disabling source maps)

[2018-05-17 07:25] AnshulMalik commented on #6306
So, what I found was, the symbols were parsed correctly, on line 102, we get a function named `_sortByField` with two parameters named `fieldName` and `geckoTable`.
I think just highlighting is off. Which because of typescript mode. Here is a diff that should fix it.

[code]

[2018-05-17 07:35] julienw commented on #6306
Hey @AnshulMalik, have you looked at the second error too? This is quite more important as this prevents me from adding breakpoints.

[2018-05-17 09:08] andreicristianpetcu opened #6329 "[Editor] Dark theme makes selection not visible on breakpoint"
Set the dark theme.
Put a breakpoint somewhere.
Try to select part of the text where the breakpoint stopped.
I cannot see what text was selected.

For example I cannot see any selection done on line 8 that is part of

[code]

![screenshot from 2018-05-17 12-07-32](https://user-images.githubusercontent.com/922368/40167931-f7e70e4a-59ca-11e8-94c5-f35d7fa720c7.png)

Full video https://vimeo.com/27032

[2018-05-17 11:30] jnachtigall opened #6330 "[breakpoints] Re-add the greyed out (not clickable) line numbers"
I want to set a break point in this function and I find it really hard to pick the right line number:

![image](https://user-images.githubusercontent.com/3307404/40174480-88d6ac4e-59d5-11e8-8864-bc927af6f911.png)

For instance, I can click on line 16 but not on lines 17-20 (this is not obvious to react-to-babel-to-js beginners). Would it be possible to get back the grey-out line numbers. At the mo

[2018-05-17 11:38] jnachtigall commented on #6251
@phoenixking25 As said, looks mostly good to me. Thank you! Mind adding the PR?

[2018-05-17 11:41] jnachtigall commented on #5584
@lukaszsobek It still (or again) looks blurry on Nightly:

![image](https://user-images.githubusercontent.com/3307404/40174899-be6b96b6-59d6-11e8-8db8-9bdd4adb48e8.png)

For instance, check the 4th entry `PathUtils.js` letters. So using `<mark>` instead of `<strong>` did not seem to have fixed the issue. I am on Windows 10.

Can you reopen?

PS Looks like the
[code]
causes this. I am not a fonts e

[2018-05-17 13:46] jasonLaster commented on #6282
So, I believe this is correct, but does need some explaining.

render - the inner render of *item* inside the map
render - the outer render for the function
finishClassComponent - tough to tell with the gif, but looks like where render was called...

[2018-05-17 13:49] jasonLaster commented on #6214
@jimblandy @jorendorff what do you think we should do?

[2018-05-17 13:50] jasonLaster commented on #6213
@Loirooriol is that related to expressions? do you see that if you add something in the console?

[2018-05-17 13:52] jasonLaster commented on #6214
Lets re-open this bug in bugzilla as it is server/platform side.

[2018-05-17 13:53] jasonLaster commented on #6284
i think this might be fixed in nightly soon

[2018-05-17 13:55] jasonLaster commented on #6091
cc @darkwing, @violasong did we fix this?

[2018-05-17 13:56] #5993 closed

[2018-05-17 13:57] jasonLaster commented on #6061
I'm sorry for the delay. I'll look into it today. Is it possible that "source maps" is disabled for you?

[2018-05-17 13:58] jasonLaster commented on #5926
hey @pranoy10 any luck?

[2018-05-17 14:20] jasonLaster opened #6331 "[Symbols] should recognize React.Component as a parent class"
We miss `React.Component` because it is a member expresssion

[code]

Here is a patch to help get started. The trick is to get the name if it is not easy to find. and a small clean up to just return relevant fields

[code]

[2018-05-17 14:37] jasonLaster opened #6332 "Glitch takes 5 seconds to load"
STR:

1. navigate to https://dbg-class-prop-this.glitch.me/
2. open devtools with the debugger

profile: https://perfht.ml/2L9WgJh

### breakdown

1. loading
2. loading
3. creating sources / creating tree
4. showing a source / creating codemirror
5. creating sources / updating tree
6. creating a breakpoint & codemirror for the bp

![g1.png](https://shipusercontent.com/56bd260cd9bbd7d4c9c13256624f9

[2018-05-17 14:42] jasonLaster commented on #6061
Hmm, seems to work for me:

![](http://g.recordit.co/Ca5yB1lfJw.gif)

[2018-05-17 15:19] wldcordeiro commented on #6331
Don't know if it matters but we should cover PureComponent too and when imports are done like `import React, { Component } from 'react'`

[2018-05-17 15:25] jasonLaster opened #6333 "[Expressions] expanding a node does not expand the pane"
STR

1. pause and add an expression, which is an object
2. expand some keys

![](http://g.recordit.co/yASYx3RhpJ.gif)

[2018-05-17 15:25] jasonLaster commented on #6331
I believe we do

[2018-05-17 15:49] wldcordeiro commented on #6333
Oof this looks nasty but the fix should be pretty small. Good contributor bug 🐛

[2018-05-17 16:13] darkwing commented on #6330
I agree; the following will do the trick:

1.  Create a new file, `src/components/Editor/EmptyLines.css`, with the following contents:

[code]

2.  Import it into `EmptyLines.js`:

[code]

[2018-05-17 16:18] jasonLaster commented on #6330
CC @digitarald @violasong

Another option we discussed was to show the distinction on hover.

[2018-05-17 16:36] jorendorff commented on #6214
@jasonLaster Here are some options:

1. Use Babel to compile watch-expressions. Then we can inspect the AST, see if it's a let expression, and special case them or otherwise do whatever we want. (Plus, Babel syntax in watch-expressions.)
2. Wrap watch-expressions in `()` before running them. This forces them to be actual *expressions*; a `let` statement would be a SyntaxError.
3. Wrap watch-expres

[2018-05-17 17:00] Loirooriol commented on #6213
@jasonLaster Not in the console, I only get this when I add a watch expression.

[2018-05-17 17:50] AlexMolodyh commented on #6333
/claim

[2018-05-17 17:55] AlexMolodyh commented on #5974
@gregtatum - Any idea where the event handlers are located for this splitter? I've looked through a few file but can't seem to locate it. Or would you say this click event is handled by the DOM?

[2018-05-17 18:17] nyrosmith commented on #6333
Hi @AlexMolodyh!
It looks like @darkwing has already submitted a Pull Request to fix this

[2018-05-17 18:18] AlexMolodyh commented on #6333
@nyrosmith - my bad, I didn't see that.

[2018-05-17 18:19] AlexMolodyh commented on #6333
/unclaim

[2018-05-17 18:30] nyrosmith commented on #6179
Closing as the associatrd PR got merged.
Thanks @AlexMolodyh & friends!

[2018-05-17 18:30] #6179 closed

[2018-05-17 18:41] nyrosmith commented on #5928
Any progress on this @yalooong?
Just visit out slack if you have questions vor need help

[2018-05-17 18:55] nyrosmith commented on #5467
How's it going  @marcogallo566?

[2018-05-17 19:06] #6333 closed

[2018-05-17 19:26] jasonLaster commented on #6330
hey @rishispeets thanks for offering, but i dont know if we have an idea of what we want yet

[2018-05-17 19:44] rishispeets commented on #6330
Ah, gotcha! Misinterpreted your previous comment :-). I'll unclaim it.

[2018-05-17 19:44] rishispeets commented on #6330
/unclaim

[2018-05-17 20:04] jasonLaster commented on #3792
here is a branch for the component tree - https://github.com/devtools-html/debugger.html/compare/master...jasonLaster:component-tree?expand=1

[2018-05-17 23:25] karlcow commented on #6328
@jasonLaster Just to understand. Does that mean that people who do not include source maps in their projects OR all legacy Web sites with old frameworks without source maps but minified code, we will not be able to see a "prettified" version?

[2018-05-17 23:37] karlcow commented on #6061
Given the date. It's probably because I had "Enable Source Maps" off. aka issue #6328
Thanks @jasonLaster

[2018-05-17 23:37] #6061 closed

[2018-05-18 00:12] jasonLaster commented on #6328
@karlcow it works for all websites when "source maps" is enabled in settings

[2018-05-18 02:02] yalooong commented on #5928
/unclaim I have to unclaim the issue now due to my work. I had spent a lot of time on this before, but unfortunately did not find a way to fix it. I will continue work on it when I have time.

[2018-05-18 09:11] AnshulMalik commented on #6319
Tests seems to pass for me.

[2018-05-18 09:16] jnachtigall commented on #6330
Well, the problem is that the distinction between _line numbers where I can set a bp_ **vs.** _lines where I can't_ is only visible once I have reached (hover) this line number. It should be at the start of mouse movement, so I move it to the right line number.

So I always end up hovering (searching by hover) line number to be able to set. Mentally it's like:
1. I wanna set a bp in a function
2.

[2018-05-18 09:46] jnachtigall opened #6342 "When reloading page: Persist debugger tabs and/or show transparent Block UI"
Since already considering the startpage as in #6251 what I really do not like UX wise is what happens in the debugger when I reload a page. This is one of the things I do most: Reloading and reloading the exact same page.

STR:
1. Have a page and one or more tabs (files) open in debugger
2. Hit Firefox's Reload button

AR:
1. Debugger goes blank: all tabs (files) removed.
2. The buttons as in #625

[2018-05-18 10:28] marcogallo566 commented on #5467
Thank you so much!
@nyrosmith I'm stucked with a bug, but @bomsy is helping me

[2018-05-18 12:51] jasonLaster commented on #5928
@yalooong thanks. take a look here - https://github.com/devtools-html/debugger.html/blob/master/src/workers/parser/pausePoints.js#L153-L158

[2018-05-18 12:56] jasonLaster commented on #6342
@jnachtigall i think we should show the tabs on reload

### Simple

![](http://g.recordit.co/bn0FcBvNSr.gif)

### source maps

![](http://g.recordit.co/1bp1d2otKH.gif)

### pretty and blackbox

![](http://g.recordit.co/gsCPngMEFx.gif)

[2018-05-18 12:57] jasonLaster commented on #6004
@adancarrasco sorry this is a dupe of #6005.

[2018-05-18 12:57] #6004 closed

[2018-05-18 12:58] jasonLaster commented on #5977
@Zhang-Junzhi how's it going? I think this is ready to be done in the debugger

[2018-05-18 12:58] #6268 closed

[2018-05-18 12:59] jasonLaster commented on #5963
I think this can now be easily fixed now that we have a SourceIcon component.

[2018-05-18 13:04] Zhang-Junzhi commented on #5977
I am sorry to disappoint, Jason. I haven't yet started looking into the Debuuger code for now. I wished I could work on this, but I don't have much time these days.

So if anyone is interested in fixing this, please feel free to take it and fix it based on my commited unicode-url shim.

[2018-05-18 13:16] jnachtigall commented on #6342
Hey @jasonLaster, not sure what you mean. I also think that they should be shown. My point was that they are shown, then vanish (and startpage buttons shown), then they are shown again. The tabs should not vanish. (in short)

[2018-05-18 13:29] Zhang-Junzhi commented on #5977
@jasonLaster I am going to work on this in a couple of days if it isn't that urgent. If anyone is going to fix it sooner, please comment here and let me know in case that both of us are working on the same issue.

[2018-05-18 13:30] jasonLaster commented on #6342
ohh... i see. That is a tricky problem :)

We store all of the tabs and show tabs that have sources in the store. We need to clear the sources on navigate so that we don't accidentally have them around.

We probably do want a loading state while we're waiting for sources to stream down though... Maybe we can do something there where our loading state has the previous tabs...

[2018-05-18 13:30] jasonLaster commented on #5977
thanks

[2018-05-18 13:31] jasonLaster commented on #6330
yeah. i agree that hunting for a spot is silly :)

[2018-05-18 13:36] jnachtigall commented on #6342
yeah, complicated for sure. Keeping the old visual state, overlayed with Block UI would do imho. Best shown only if the current page is reloaded but not when navigating to another page... At least not showing the startpage buttons which will vanish a second later anyway

Not sure on the solution, but the my above screened GIF is just when reloading the current page. That's when my mind gets confus

[2018-05-18 13:37] jasonLaster commented on #6342
yeah. Reactive programming is hard because 10 state changes is often 10 UI changes

navigate --> update store
new source --> update store
...

Redux DevTools is great for showing the craziness here

[2018-05-18 13:43] jasonLaster commented on #6342
I think i'm going to icebox this because it is something i would like to do in a couple of months after are a bit faster and more stable.

[2018-05-18 14:25] #6000 closed

[2018-05-18 14:26] #5999 closed

[2018-05-18 14:26] #6001 closed

[2018-05-18 14:33] jnachtigall commented on #6342
Totally agree, tbh stable and fast are also my biggest concerns atm :)

Just thought that if your designer (i guess @violasong) is mocking a new design because for #6251 then this (maybe blockui with firefox ping pong spinner) might be taken into consideration as well.

[2018-05-18 14:38] jasonLaster commented on #6342
i see. thanks

[2018-05-18 15:04] jasonLaster commented on #6282
I'm going to move this to the icebox because I think it would be good to reconsider how we show display names in the call stack, but probably after we've finished the performance and quality work.

[2018-05-18 15:04] #6284 closed

[2018-05-18 15:26] jasonLaster opened #6345 "[Tabs] selecting debugger.js fails to navigate"
STR:

1. load localhost:8000
2. in the toolbox, add some sources including debugger.js
3. click debugger.js

AR: nothing happens

I did a big of debugging and found that it failed [here][h], somehow we don't get to setSelectedLocaton, but we do get to addTab.

Lastly, this might be best to debug with the [browser toolbox][bt], in which case you'll want to have your own checkout of firefox. [docs](

[2018-05-18 15:31] jasonLaster opened #6347 "[Tabs] Chevron overlaps other tabs"
It looks like our new chevron image overlaps other tabs.

We should find a way to either:

1. have padding on the right so that the tabs do not go under the chevron.
2. hide the chevron when space gets tight :)

![](http://g.recordit.co/RxZrICI3Ui.gif)

[2018-05-18 15:55] jasonLaster opened #6348 "[sources] tweak selectSpecificLocation"
I noticed we call two actions unnecessarily.

1. closeActiveSearch
2. addTab

NOTE: i made up hasTab, i have no idea whether that exists :)

[code]

[2018-05-18 15:56] jasonLaster commented on #5738
This will be fixed here #6326

[2018-05-18 15:56] jasonLaster commented on #5738
@Hindelburg i recently added some new help wanted bugs

[2018-05-18 16:02] jasonLaster commented on #5406
closing as a dupe of #6193

[2018-05-18 16:02] #5406 closed

[2018-05-18 16:03] jasonLaster commented on #5906
closing as a dupe of #6180

[2018-05-18 16:03] #5906 closed

[2018-05-18 16:03] #5446 closed

[2018-05-18 16:04] jasonLaster commented on #4837
I think we've basically finished this. @lukaszsobek thoughts?

[2018-05-18 16:04] #5958 closed

[2018-05-18 16:08] #5155 closed

[2018-05-18 16:09] #5633 closed

[2018-05-18 16:10] jasonLaster commented on #4852
so this is still an issue because we no longer use the visibility handler

[2018-05-18 16:11] jasonLaster commented on #4809
I'm no longer seeing this.

[2018-05-18 16:11] #4809 closed

[2018-05-18 16:11] #5393 closed

[2018-05-18 16:11] jasonLaster commented on #5393
This was done as part of Original Languages

[2018-05-18 16:12] #5338 closed

[2018-05-18 16:13] jasonLaster commented on #4750
moving to the icebox as we will not do this in the 62 release

[2018-05-18 16:13] #4750 closed

[2018-05-18 16:18] darkwing commented on #6345
Could be related to this, which recently went in:

https://github.com/devtools-html/debugger.html/pull/6205

[2018-05-18 16:41] adancarrasco commented on #5019
/claim

[2018-05-18 16:47] bzbarsky commented on #4750
@jasonLaster So does "closed" here mean "wontfix" or something else?  Closing things just because you're not going to get to them yet (but plan to later) is ... odd.

[2018-05-18 17:21] #6051 closed

[2018-05-18 17:36] jasonLaster commented on #6028
how's it going @ch4r13s

[2018-05-18 17:38] jasonLaster commented on #5519
Hey @ATCraiger sorry for missing this

[2018-05-19 00:18] AlexMolodyh commented on #5974
Sweet! Thanks @jasonLaster!

[2018-05-19 05:44] AlexMolodyh commented on #5974
@jasonLaster - Any Ideas on how to reproduce this in the debugger? I can reproduce it in the browser and it only seems to happen with the console pane being open, other screens don't affect it.

[2018-05-19 05:58] AlexMolodyh commented on #5974
@jasonLaster - Any Ideas on how to reproduce this in the debugger? I can reproduce it in the browser and it only seems to happen with the console pane being open, other screens don't affect it.

[2018-05-19 09:01] julienw commented on #6306
Breakpoints seem to work again in latest Nightly. Source Highlighting is still off but that's a much smaller annoyance.

[2018-05-19 13:30] jasonLaster opened #6353 "[Editor] does not go to the correct location (when loading)"
STR:

1. open the launchpad and make the viewport height narrow (200px)
2. go to Preview/index.js add a breakpoint on #72 (updatePreview)
3. hove in the debuggee editor and pause on 72
4. step in

Expected Result: scrolled to line 3
Actual Result: scrolled to somewhere in the 40s :)

![](http://g.recordit.co/NmBnLnjsWs.gif)

[2018-05-19 13:33] jasonLaster commented on #6353
@AlexisDeschamps @mmcote, i'm curious if you see anything obvious here. You've both looked at Editor scrolling [here][h] quite a bit.

[h]: https://github.com/devtools-html/debugger.html/blob/master/src/components/Editor/index.js#L400-L423

[2018-05-19 13:34] jasonLaster opened #6354 "[Search] results label should not wrap"
STR:
1. open the launchpad
2. select a file
3. cmd+f
4. search for something which appears a lot
5. narrow the editor or the debugger quite a bit...

I think we likely want to just overflow hidden it so that at a certain point it goes away... Likely the same treatment as the buttons to the right.

![](http://g.recordit.co/RJl6Suqy1K.gif)

[2018-05-19 13:39] jasonLaster opened #6355 "[Breakpoints] breakpoint does not appear on reload"
It's pretty hard to reproduce, but there is a scenario where after you reload and go to the file with a breakpoint you can see it in the pane, but not in the editor

![Screen Shot 2018-05-19 at 9.24.39 AM.png](https://shipusercontent.com/1dafac1fe18f66f6cb2fefea63e33971/Screen%20Shot%202018-05-19%20at%209.24.39%20AM.png)

[2018-05-19 13:50] darkwing commented on #6354
Tip: Adding `white-space: nowrap` to `.search-field .summary` will prevent this wrapping 👍

[2018-05-19 14:15] lzzluca commented on #6347
@jasonLaster Hi! This fix works for me:

https://github.com/devtools-html/debugger.html/pull/6356

Checking the debugger code for the first time as part of React Europe 2018 Hackathon, hope the fix can be of interest! :)

[2018-05-19 15:52] jasonLaster opened #6359 "[Preview] item is not defined"
STR:
1. git clone https://github.com/jasonLaster/hams, yarn, yarn start
2. go to localhost:300, and in the debugger, put a breakpoint in Preview/index.js#72 (onMouseOver)
3. go to App.js in the debuggee, and put a breakpoint in App.js#29 in ListItem#render
4. click "cycle" in localhost:300 to pause the debuggee
5. hover over any property in ListItem to pause in onMouseOver
6. quickly mouse over th

[2018-05-19 15:53] jasonLaster commented on #6359
CC @mmcote I think you're familiar with getRoot
CC @nchevobbe you've got some context w/ `shouldRenderRoots` and how we are likely misusing the APIs in Popup.js#componentWillMount to load properties

[2018-05-19 15:55] jasonLaster opened #6360 "[intermittent] scope-mutations"
We're seeing scope-mutations fail occassionally in travis. It looks like it gets pretty far and then falls over...

It looks like it is failing for me locally too about half of the time: `yarn mochih --repeat 5 scopes-mutations`

![screen shot 2018-05-19 at 11 53 57 am](https://user-images.githubusercontent.com/254562/40270434-6f604450-5b5b-11e8-9660-4d0f7264f719.png)

[2018-05-19 18:31] jasonLaster commented on #6347
Oh fantastic. Happy hacking
On Sat, May 19, 2018 at 10:15 AM Luca Lazzarini <notifications@github.com>
wrote:

[2018-05-19 19:10] reescott commented on #6354
/claim

[2018-05-19 20:37] lukaszsobek commented on #4837
@jasonLaster I'd agree, and we got rid of a lot of items.
Just doing a final sanity test for the remaining items to see if there is anything more to squeeze out of it.

[2018-05-19 20:37] jasonLaster commented on #4837
sounds good

[2018-05-19 21:35] LeoThalman commented on #6329
/claim

[2018-05-21 00:02] AlexisDeschamps commented on #6353
I think the `selectLocation` function call is supposed to bring the editor to the right spot from what I have seen. Maybe the values sent to `selectLocation` are wrong. I can try taking a look eventually.

[2018-05-21 01:08] jasonLaster commented on #6353
yep. my guess is it tries to scroll too soon. and then assumes we're in a good spot

[2018-05-21 07:34] AnshulMalik commented on #5328
Here are my findings, I searched for `ab` on http://todomvc.com/

<img width="1680" alt="screen shot 2018-05-21 at 12 34 52 pm" src="https://user-images.githubusercontent.com/7821757/40294596-e9d6fd02-5cf3-11e8-88ce-cf87c11c54ad.png">

The profile capture took around 150 sec.
Here are major culprits:
Layout: 130000 ms
Tree Component: 433ms

It's probably because the search results contain very lon

[2018-05-21 09:18] dimitardanailov commented on #6345
/claim

[2018-05-21 12:12] jasonLaster commented on #5328
@AnshulMalik I'd like to see how long it would take to search for `ab` if we just rendered 10 results :)

I think we could get by with showing the top 100 or so and then a show more button...

[2018-05-21 12:49] lukaszsobek commented on #5328
Maybe we could load the first 20 or so and then infinity scroll?

[2018-05-21 12:51] jasonLaster commented on #5328
yeah - for sure. We currently dont have infinite scroll and we could do that next.

I believe firefox apz might make that hard... https://hacks.mozilla.org/2017/11/async-panzoom-apz-lands-in-firefox-quantum/

[2018-05-21 12:53] jasonLaster commented on #5328
actually, i don't know... react virtualized looks pretty great in Firefox. Want to try that in project search?

https://bvaughn.github.io/react-virtualized/#/components/List

[2018-05-21 18:16] jasonLaster commented on #6360
https://treeherder.mozilla.org/intermittent-failures.html#/bugdetails?startday=2018-04-21&endday=2018-05-21&tree=trunk&bug=1459789

![Screen Shot 2018-05-21 at 2.15.43 PM.png](https://shipusercontent.com/6ec1e14403dc0e03c5c3379a5067a9b8/Screen%20Shot%202018-05-21%20at%202.15.43%20PM.png)

[2018-05-21 18:35] jasonLaster opened #6370 "[Search] Results should line up with the directory"
The project search results should line up w/ the directory. The line numbers should shift left to be at that blue bar :)

![Screen Shot 2018-05-21 at 2.32.59 PM.png](https://shipusercontent.com/5a5e79f29064a360111840694b8871ce/Screen%20Shot%202018-05-21%20at%202.32.59%20PM.png)

[2018-05-21 18:42] jasonLaster opened #6371 "[intermittent] dbg-stepping"
![Screen Shot 2018-05-21 at 2.41.17 PM.png](https://shipusercontent.com/111fc026cc6c8730348a12e6b97673c1/Screen%20Shot%202018-05-21%20at%202.41.17%20PM.png)

https://treeherder.mozilla.org/intermittent-failures.html#/bugdetails?startday=2018-04-21&endday=2018-05-21&tree=trunk&bug=1446760

https://bugzilla.mozilla.org/show_bug.cgi?id=1446760#c9
[code]

[2018-05-21 20:14] steffiau commented on #6370
/claim

[2018-05-21 22:14] gregtatum opened #6374 "[Frames] Visibility difficulty for file name in call stack"
Screenshot taken from Nightly:

<img width="298" alt="image" src="https://user-images.githubusercontent.com/1588648/40332480-da62bb92-5d19-11e8-86ae-5dd59ab49103.png">

I have trouble reading this text with my glasses. Any smudges on my lenses or chromatic aberration at the edges of my glasses makes it very difficult to read.

[2018-05-21 22:19] gregtatum opened #6375 "Breakpoint line not in view when paused"
This STR may not reproduce, I'm not sure, but this has happened to me a few times now so I'm filing it:

STR:
 * Add a debugger statement to some code in perf.html.
 * Trigger the code to catch on that statement.

Actual Result:
<img width="655" alt="image" src="https://user-images.githubusercontent.com/1588648/40332717-b58e47ae-5d1a-11e8-9776-8c3de4a479e6.png">

Expected Result:
<img width="655"

[2018-05-22 12:42] rishispeets opened #6379 "[Docs] Capitalize the name Slack?"
# Why

The name is meant to be used capitalized. However, in the README, it's currently lowercased. I haven't checked the usage of the name in other documents.

# How

I'm happy to open up a PR that changes all occurances of _slack_ in the documentation to _Slack_.

[2018-05-22 12:50] jasonLaster commented on #6379
sure, go for it

[2018-05-22 12:53] rishispeets opened #6380 "[Docs] Move CoC and CONTRIBUTION to .github"
# Why

Moving `CODE_OF_CONDUCT.md` and `CONTRIBUTING.md` to `.github` will:

1. Clean up the root dir.
2. Make sure that all documentation files that GitHub can 'hook into' are in the same place. With 'hook into', I mean that GitHub sees these documents and does something with them, like adding links to the documents under 'Helpful resources' when filing a new issue.

# How

By moving the two file

[2018-05-22 12:55] jasonLaster commented on #6380
I think we want these to be discoverable

[2018-05-22 13:02] rishispeets opened #6381 "[Docs] Add a SUPPORT document?"
# Why

To let new contributors easily see where to get help. Specifically, GitHub will include a link to it that will appear under _Helpful resources_, which is visible when opening an issue.

GitHub documentation that explains the feature:

https://help.github.com/articles/adding-support-resources-to-your-project/

# How

By adding a `SUPPORT.md` document to `/.github`. As a first version, perhap

[2018-05-22 13:10] jasonLaster commented on #6375
I believe this is a dupe of #6353

[2018-05-22 13:10] #6375 closed

[2018-05-22 13:10] jasonLaster commented on #6353
Another case from @gregtatum

This STR may not reproduce, I'm not sure, but this has happened to me a few times now so I'm filing it:

STR:
 * Add a debugger statement to some code in perf.html.
 * Trigger the code to catch on that statement.

Actual Result:
<img width="655" alt="image" src="https://user-images.githubusercontent.com/1588648/40332717-b58e47ae-5d1a-11e8-9776-8c3de4a479e6.png">

Expe

[2018-05-22 13:14] rishispeets commented on #6381
Yes, it is. But by adding a document specifically for getting support, GitHub's helpful resources for the repo would change from being (Contributing, Code of conduct) to (Contributing, Code of conduct, Support). That might help new contributors. I agree that it's a bit redundant, but I think that the extra exposure is worth the trade-off.

[2018-05-22 13:22] jasonLaster commented on #6381
Hmm, does github do something special with these docs: Contributing, Code of conduct, Support? Maybe i'm missing something here

[2018-05-22 13:26] jasonLaster opened #6382 "[toolbox] the debugger tab flashes when you add a breakpoint"
It's pretty subtle, but occasionally when you add a breakpoint the debugger tab in the toolbox will flash green. The bug is in the toolbox [here](https://searchfox.org/mozilla-central/source/devtools/client/framework/attach-thread.js#14)

![](http://g.recordit.co/gUnPB7yiOW.gif)

[2018-05-22 13:27] rishispeets commented on #6381
Ah, my bad, would have been handy to include the links:

https://help.github.com/articles/setting-up-your-project-for-healthy-contributions/
https://help.github.com/articles/adding-support-resources-to-your-project/

![Picture](https://help.github.com/assets/images/help/issues/support_guidelines_in_issue.png)

[2018-05-22 13:52] rishispeets commented on #6381
Cool! Just to be sure, do you mean going ahead with #6380 by 'move contributing'?

If so: do you want CoC moved as well, as stated in #6380?
If not: could you clarify what you mean?

Thanks :)

[2018-05-22 13:54] jasonLaster commented on #6381
yep. that would be great.

[2018-05-22 15:05] darkwing opened #6384 "[Stability] Implement componentDidCatch to Prevent App Bricking"
We have some high risk failure point components but we aren't using `componentDidCatch` (https://reactjs.org/docs/error-boundaries.html) so we risk the debugger completely bricking, which is something we should avoid at all costs.

## Important Components
- [ ] App
    -  Solution:  TBD
- [ ] Editor
    -  Solution:  TBD
- [ ] Preview
    -  Solution:  TBD
- [ ] SourcesTree
    -  Solution:  TBD
-

[2018-05-22 16:40] #6354 closed

[2018-05-22 17:17] darkwing opened #6385 "TypeError: `generatedSourceRecord` is undefined"
STR:

1.  Use https://dbg-class-prop-this.glitch.me/ as your debuggee URL
2.  Add a breakpoint to the `return` statement in HelloWorld's `render` function
3.  Add a breakpoint to the `return` statement in UnorderedList's `render` function
4.  Refresh the debuggee URL
5.  See  "TypeError: `generatedSourceRecord` is undefined"; mapScopes.js:31:7

The debugger does pause but no breakpoints in the lis