[2017-10-17 02:18] darkwing opened #4396 ""Add Condition" Context Menu Triggers Error"
Right-clicking a breakpoint in the right column, then selecting "Add Condition", triggers the following error:

"TypeError: toggleConditionalBreakpointPanel is not a function
<img width="1400" alt="error" src="https://user-images.githubusercontent.com/46655/31643659-7d31090e-b2b7-11e7-9869-89d5b92d16ad.png">
"

[2017-10-17 02:26] darkwing opened #4397 "[Breakpoints] disable context menu items for empty lines"
We should grey out this context menu option for empty lines.

<img width="478" alt="emptylinecontext" src="https://user-images.githubusercontent.com/46655/31643882-b20685b8-b2b8-11e7-9fb1-34d7b5146538.png">

[2017-10-17 09:46] juliandescottes opened #4399 "Debugger is missing breakpoints when React Developer Tools addon is installed"
Another Debugger bug that only occurs when React Developer Tools addon is installed (see also [Bug 1392972](https://bugzilla.mozilla.org/show_bug.cgi?id=1392972)).

In this bug, the debugger will simply not stop at some breakpoints.

STRs:
- install & enable react devtools addon [1]
- open HTML page in attachment (sorry about the weird test case with indexed db and everything but I could not reduc

[2017-10-17 09:59] juliandescottes commented on #4399
Well ... looks like I can't consistently reproduce so I am closing that until I can get a really good scenario :(

[2017-10-17 09:59] #4399 closed

[2017-10-17 10:06] lukaszsobek commented on #3950
/claim

[2017-10-17 12:38] jasonLaster commented on #3950
@lukaszsobek I'm not sure what the fix is for this :)

[2017-10-17 12:39] jasonLaster commented on #4397
Nice find!

[2017-10-17 12:43] lukaszsobek commented on #3950
@jasonLaster for what issue? So far the bot seems to be working as intended :P

[2017-10-17 12:44] jasonLaster commented on #3950
haha - i meant the issue :P

[2017-10-17 12:44] jasonLaster commented on #3950
but yeah... you're the assignee! sweet

[2017-10-17 12:45] lukaszsobek commented on #3950
/unclaim

[2017-10-17 12:52] lukaszsobek commented on #3950
FOBG are taken, O needs to be removed so maybe S for settings?

[2017-10-17 13:45] darkwing opened #4402 "Conditional Breakpoint Weirdness"
STR:

1.  Right-click line 11, click "Add/Edit Conditional Breakpoint", but don't add any text

2.  Right-click line 17, click "Add/Edit Conditional Breakpoint", but don't add any text

3.  Click into the conditional breakpoint for line 11, type something, hit ENTER key.

The conditional breakpoint gets added for line 17, not line 11.

![conditionalbreakpointweirdness](https://user-images.githubus

[2017-10-17 14:04] bomsy commented on #4373
Tried to investigate this a little bit, it seems like we don't even get any of those from the server

[2017-10-17 15:06] jasonLaster opened #4406 "Analyze debugger load time"
1. Lets use DAMP to analyze debugger load time
2. standardized tests (playbook)
   * perf.html - can we check and compare results

[2017-10-17 15:06] jasonLaster opened #4407 "Add a damp test for preview"

[2017-10-17 16:17] tromey commented on #4373
I think this is probably the problem where `sourceURL` doesn't really work correctly for inline `<script>`.  It's part of the last remaining "big" source map bug.  One approach to fixing it is described in the [source map status document](https://docs.google.com/document/d/19TKnMJD3CMBzwByNE4aBBVWnl-AEan8Sf4hxi6J-eps/edit#heading=h.lyqktbjlcoi6) -- there is at least one outright bug (see [this com

[2017-10-17 16:34] lukaszsobek commented on #3822
/claim

[2017-10-17 16:36] lukaszsobek commented on #4396
/claim

[2017-10-17 17:08] miketaylr opened #4411 "[console] "View source in Debugger links" from console open new view-source tab"
STR (I'm sure there are simpler ways, but this is what I'm working on right now...and I'm lazy)

1. Open RDM, select a Firefox for Android user agent, navigate to https://www.dxdelivery.com/contact/, and make sure touch is enabled
2. Paste the following into the console

[code]

3. click the how can we help you select
4. in the dispatch event! that was logged, attempt to click the `FastClick.proto

[2017-10-17 17:16] miketaylr opened #4412 "[PrettyPrint] pretty print button not available for scripts without file extensions (maybe?)"
STR:

1. navigate to https://www.dxdelivery.com/contact/
2. open debugger, and open https://www.dxdelivery.com/bundles/js in the sources

Expected: there should be a pretty print button so I can debug the script
Actual: no dice 😿

The resource is pretty clearly JS (hence showing up in the debugger):

[code]

[2017-10-17 19:04] bomsy commented on #4412
Heya, @miketaylr It seems to work in nightly.
This is what i see, please confirm

![](http://g.recordit.co/XIXW21BhL5.gif)

[2017-10-17 19:19] #3427 closed

[2017-10-17 19:21] jasonLaster opened #4413 "Re-evaluate ensureText"
ensureParserText is potentially.. doing a lot of things, and it is being used a lot. if a loadSource is in flight (for example, someone forgets an await somewhere), we may be retriggering it here, with no way of cancelling the original and as a result -- doubling the work.

second issue: "ensure" doesn't tell us that it is going to load the source text and then set the parser, so unless everyone w

[2017-10-17 19:21] jasonLaster commented on #4307
Moving the `ensureText` #4413

[2017-10-17 19:39] nyrosmith commented on #4396
@lukaszsobek
[code]

[2017-10-17 20:09] lukaszsobek commented on #4396
/unclaim

[2017-10-17 20:18] nyrosmith commented on #4396
/claim

[2017-10-17 20:18] nyrosmith commented on #4397
/claim

[2017-10-17 20:19] nyrosmith commented on #4402
/claim

[2017-10-17 20:19] nyrosmith commented on #4394
/claim

[2017-10-17 20:26] wldcordeiro commented on #4210
This was landed. So I'm going to close it.

[2017-10-17 20:26] #4210 closed

[2017-10-17 20:40] wldcordeiro commented on #3178
Updating the task list a bit. I'd like to flesh this out further to outline the steps.

[2017-10-17 20:58] wldcordeiro commented on #3239
I'm going to claim this. I want this for selfish reasons 😈

[2017-10-17 20:58] wldcordeiro commented on #3239
/claim

[2017-10-17 21:00] miketaylr commented on #4412
Oh... that's silly. I should have tested in Nightly, I was in DevEdition. Thanks @bomsy!

[2017-10-17 21:00] #4412 closed

[2017-10-17 21:13] wldcordeiro commented on #3178
Resources for implementing `GoToAnythingModal`

* http://docs.sublimetext.info/en/latest/file_management/file_navigation.html#goto-anything
* http://flight-manual.atom.io/using-atom/sections/moving-in-atom/

Overview.

* `@` prefix does symbol search
* `#` does term search
* `:<line>:<column` goes to line in current file
* *maybe* `model:30:20` first search for a file whose path matches models, an

[2017-10-17 21:46] karlcow commented on #4412
@miketaylr in case it happens again, ctrl+click on the tab of the script and you will get a magical menu :)

[2017-10-17 22:50] jasonLaster commented on #2185
Just looked into it again and I think it's an issue with how the source url is represented in the server:

take a look at this [example](https://bad-eval.glitch.me/)

[code]

The log URL is fine, but the eval is not. Notice `%20`...

<img src='https://shipusercontent.com/7bb0e1822c91dd07e6f275669d58a364/Screen%20Shot%202017-10-17%20at%206.49.59%20PM.png' title='Screen Shot 2017-10-17 at 6.49.59 PM

[2017-10-17 22:53] jasonLaster commented on #2185
moving to bugzilla so it can be tracked by the console component:

https://bugzilla.mozilla.org/show_bug.cgi?id=1409571

[2017-10-17 22:53] #2185 closed

[2017-10-17 23:06] jasonLaster commented on #4411
hmm, @miketaylr I'm not seeing the error:

<img src='https://shipusercontent.com/324cf000b01cbc6d958def68fbdc1f4f/Screen%20Shot%202017-10-17%20at%207.06.00%20PM.png' title='Screen Shot 2017-10-17 at 7.06.00 PM.png' width=1429>

[2017-10-17 23:08] jasonLaster commented on #4411
sidenote, that's a delicious burger

<img src='https://shipusercontent.com/01a75c4cef5cdf39289a182f22000239/Screen%20Shot%202017-10-17%20at%207.07.47%20PM.png' title='Screen Shot 2017-10-17 at 7.07.47 PM.png' width=328>

[2017-10-17 23:26] jasonLaster commented on #4390
Okay... I investigated a bit and found that common.css is loaded but found that the css doesnt hit

[code]

<img src='https://shipusercontent.com/bca216cbde7b4d7bf9bb4816c8922433/Screen%20Shot%202017-10-17%20at%207.25.06%20PM.png' title='Screen Shot 2017-10-17 at 7.25.06 PM.png' width=703>

[2017-10-17 23:26] jselmani commented on #4350
@jasonLaster has asked me to move on to converting the source tree domain, file, and folder.  I will be working on that next.

[2017-10-18 02:28] darkwing opened #4417 "Right-Clicking a Conditional Breakpoint Container Shouldn't Show Context Menu"
<img width="488" alt="rightclickconditional" src="https://user-images.githubusercontent.com/46655/31698232-02ca1ec8-b382-11e7-878e-9764d364fa7e.png">

We should just let this fall through to the default context menu

[2017-10-18 02:38] darkwing commented on #4402
Another detail:  when clicking the "x" on the remaining conditional bar, nothing seems to happen.

[2017-10-18 02:48] darkwing opened #4418 ""Reveal in Tree" Context Menu Item Should Switch to "Sources" Tab if "Outline" tab selected."
At the moment, if the "Outline" tab is selected, nothing appears to happen.

[2017-10-18 02:50] darkwing opened #4419 "Context Menu Allowed to Render Offscreen"
If you right-click close enough to the bottom or right of the editor, its render can bleed offscreen:

<img width="601" alt="contextoffscreen" src="https://user-images.githubusercontent.com/46655/31698841-272eb190-b385-11e7-8bf8-49a557a531fb.png">

[2017-10-18 02:51] wldcordeiro commented on #4419
😆 I've run into this before. Nice find! I wonder if it also breaks out of the right edge of the window (or left in RTL mode)?

[2017-10-18 02:54] darkwing opened #4420 "Context Menu "Jump to Original Location" should be disabled when not pretty-printed"
I don't believe this context menu item has any value outside of a pretty-printed tab (i.e. an original source tab).  It simply highlights the current line.

[2017-10-18 02:54] wldcordeiro opened #4421 "Editor footer background short in dark theme"
I noticed that in the dark theme the footer background seems to end short on the bottom and right edges.
<img width="1609" alt="screen shot 2017-10-17 at 8 52 29 pm" src="https://user-images.githubusercontent.com/580982/31698920-2e1a4d0a-b37d-11e7-9fce-488124098518.png">

[2017-10-18 02:57] darkwing opened #4422 "Any Click Inside Conditional Breakpoint Block Should Focus on Input"
Clicking on the double arrows in a conditional breakpoint highlights that text.  Any click inside the element, not including the "x" (close) item, should simply focus on the text field.

<img width="746" alt="conditionalhighlight" src="https://user-images.githubusercontent.com/46655/31698997-122521c0-b386-11e7-8cd1-1c56acf75ba7.png">

[2017-10-18 03:12] darkwing commented on #4418
Same with using "Reveal in Tree" in a source tab's context menu;

[2017-10-18 04:37] lukaszsobek commented on #4422
/claim

[2017-10-18 07:46] pradeepgangwar commented on #4421
/claim

[2017-10-18 07:50] pradeepgangwar commented on #4421
@wldcordeiro I changed the CSS rule `position: absolute` to `position: sticky` for the footer. That fixed the problem for bottom and right space but created space on upper side. Please have a look.

![screenshot-2017-10-18 debugger](https://user-images.githubusercontent.com/21259802/31706576-07801870-b407-11e7-8f61-4d46bf5d0f2d.png)

[2017-10-18 09:37] juliandescottes commented on #3980
Thanks for the cleanup @lukaszsobek ! Closing.

[2017-10-18 09:37] #3980 closed

[2017-10-18 14:15] jasonLaster commented on #4419
this is only for the launchpad.

[2017-10-18 14:15] #4419 closed

[2017-10-18 14:23] jasonLaster commented on #3911
This was fixed by our Editor refactor!

[2017-10-18 14:23] #3911 closed

[2017-10-18 15:18] #4397 closed

[2017-10-18 15:20] ahuth commented on #3683
I've started on this as well. Will take a shot and see how it goes. Got about half of the flow errors resolved.

[2017-10-18 15:33] jasonLaster commented on #3715
re-opening it because i can still repro

[2017-10-18 15:34] #3715 closed

[2017-10-18 15:43] jasonLaster commented on #3683
@ahuth that's great!

[2017-10-18 15:43] jasonLaster commented on #3683
Open a WIP PR so we can provide feedback

[2017-10-18 15:43] jasonLaster commented on #3683
what version of flow are you using?

[2017-10-18 18:34] jasonLaster commented on #4308
closing as we'll do it in #3990

[2017-10-18 18:43] jasonLaster commented on #3390
Here's a quick summary of how to pick up this work:

1. re-add the mochitest which exercised this behavior: #4188. You should be able to re-run the test [docs][d] and see the test fail

2. reproduce the bug locally by going to the test [example][e] and pausing in `returnSomething`. See the screenshots from the launchpad and nightly below

3. observe the pause data in the pause [reducer][p] and how

[2017-10-18 19:12] ahuth commented on #3683
Will do 👍

I'm in the middle of upgrading to 0.53.0 as a first shot, which seems to be where the significant React changes were made. Planning on going to the latest version, though (0.57.3) by the end of the effort.

[2017-10-18 19:13] jainsneha23 commented on #2980
Working on adding Marko. Will raise a PR soon

[2017-10-18 19:18] jasonLaster commented on #3683
sounds good. We'd obviously be happy to go to 53 before we try 54, ...

[2017-10-18 19:19] Archaeopteryx opened #4429 "Accesskeys for breakpoints menu items in main should not be hardcoded but localizable"
Tested with Firefox 57.0b8 and checked the mozilla-central source where the issue also applies.

The main pane's left column with the line numbers has a context menu whose access keys are hardcoded:

toggle breakpoint: "B"
add a conditional breapoint: "C"
disabled breakpoint: "D"

These should be localizable (if the letters are not part of the words used like in German, they get shown after the co

[2017-10-18 19:22] jasonLaster commented on #4429
@Archaeopteryx i think this is coming from here, which looks localized:
https://github.com/devtools-html/debugger.html/blob/master/src/components/Editor/GutterMenu.js#L35-L65

@nyrosmith @darkwing what do you think?

[2017-10-18 19:25] #4429 closed

[2017-10-18 19:25] Archaeopteryx commented on #4429
Yes, thank you, fixed by #4378

[2017-10-18 19:32] ahuth commented on #3683
An interesting thing is that flow-upgrade doesn't seem to be able to actually change anything:

[code]

Doing the upgrade by hand is partially done, but was hoping that the codemods could make it a bit easier.

[2017-10-18 20:08] jasonLaster commented on #3683
heh - yeah... weird

[2017-10-18 20:12] juliandescottes opened #4431 "Polish the function and source modal"
It would be nice to polish both the function and source modal

- [ ] focused result item is off
- [ ] the drop shadow is too bright for dark theme

---

#### Source Modal

<img src='https://shipusercontent.com/51152219f24a16838270bc96d6931ade/Screen%20Shot%202017-10-18%20at%204.29.59%20PM.png' title='Screen Shot 2017-10-18 at 4.29.59 PM.png' width=1185>

#### drop shadow is too bright for dark the

[2017-10-18 20:15] juliandescottes opened #4432 "Key shortcuts modal is hard to read in dark theme"
See screenshot below:

![image](https://user-images.githubusercontent.com/1141550/31740374-73aba600-b451-11e7-83cc-1c687881b1ee.png)

The color of the keys is hard to read. The color used is var(--theme-body-color) from the `.shortcuts-list li` selector.  However since the keys have a light background, this text is hard to read (the color was set to be used on dark backgrounds).

Either use a dark

[2017-10-18 20:35] #3389 closed

[2017-10-18 20:41] #3950 closed

[2017-10-18 21:03] jasonLaster commented on #4297
/claim

[2017-10-18 21:03] jasonLaster commented on #4297
i'm going to look into this and see if i can simplify

how / when we map scopes and get symbols

[2017-10-18 21:40] wldcordeiro commented on #2527
I wonder how this works now with the changes I put in the modals.

[2017-10-18 23:02] wldcordeiro commented on #2527
For `SearchBar` this patch should do.

[code]

[2017-10-19 03:29] ahuth commented on #3683
/claim

Opened a WIP PR

[2017-10-19 09:45] lukaszsobek commented on #4417
/claim

[2017-10-19 11:03] violasong commented on #4431
Ah yes! The shadow should probably be black. We should also try these shadow specs from the design system: http://design.firefox.com/photon/patterns/shadows.html It's meant for light mode so the color/opacity is probably too subtle for dark mode. However I'd love to see the "Shadow 20" or "30" elevation here.

[2017-10-19 14:02] jasonLaster opened #4435 "[Editor] use a new redux action!"
We now have a new file search redux action API, which means we can cleanup the Editor a bit :)

[code]

[2017-10-19 14:03] jasonLaster opened #4436 "[Editor] Add some unit tests"
We have simplified the Editor component a lot, which makes it a great candidate for some Jest unit tests.

I'd like to test the render and update lifecycle and make sure we'e appropriately setting the correct text and showing the correct line:

- [ ] flashLine
- [ ] setText

We can model these tests after other component unit tests :smile:

[2017-10-19 14:11] asharron commented on #4070
/claim

[2017-10-19 14:11] Jessonsotoventura commented on #4070
/claim

[2017-10-19 14:13] belld19233 commented on #4070
/claim

[2017-10-19 15:01] jasonLaster opened #4437 "[Editor] is blank when devtools opens"
I'm seeing a blank editor when i open devtools w/ a selected tab.

STR:

1. go to [todomvc][t]
2. select todo-view.js
3. close devtools
4. re-open devtools

ER: see the source
AR: editor is blank

It would be nice to get a mochitest here

![](https://bugzilla.mozilla.org/show_bug.cgi?id=1409101)

[t]:https://bugzilla.mozilla.org/show_bug.cgi?id=1409101

[2017-10-19 15:08] belld19233 commented on #4070
/unclaim

[2017-10-19 15:09] belld19233 commented on #4070
/claim

[2017-10-19 15:12] belld19233 commented on #4384
/unclaim

[2017-10-19 15:13] belld19233 commented on #4384
/unclaim

[2017-10-19 15:14] belld19233 commented on #4384
/claim

[2017-10-19 15:14] belld19233 commented on #4384
/unclaim

[2017-10-19 15:15] belld19233 commented on #4384
/unclaim

[2017-10-19 15:17] Jessonsotoventura commented on #4070
/claim

[2017-10-19 15:18] Jessonsotoventura commented on #4070
/claim

[2017-10-19 15:23] Jessonsotoventura commented on #4070
/claim

[2017-10-19 15:28] Jessonsotoventura commented on #4070
/claim

[2017-10-19 15:29] belld19233 commented on #4384
/claim

[2017-10-19 15:30] belld19233 commented on #4384
/unclaim

[2017-10-19 15:30] belld19233 commented on #4384
/claim

[2017-10-19 15:48] Jessonsotoventura commented on #4070
/claim

[2017-10-19 17:53] #4422 closed

[2017-10-19 18:03] digitarald opened #4440 "Clicking from Console error to Debugger hangs 1+sec"
(Tested on a high end Windows laptop)

Opened Console on https://discourse.mozilla.org/t/things-i-miss-about-firebug/17233 and clicked on the ember notice. After I did this once, the source was open in Debugger. Even with the source open, the second click in Console did hang for 1+sec.

Maybe the Debugger does some unnecessary rendering?

https://perfht.ml/2xSKHTv

The 2 hangs in that segment are

[2017-10-19 18:24] lukaszsobek commented on #1143
a

[2017-10-19 18:26] lukaszsobek commented on #1143
a

[2017-10-19 18:27] lukaszsobek commented on #1143
d

[2017-10-19 18:29] lukaszsobek commented on #1143
a

[2017-10-19 18:30] lukaszsobek commented on #1143
f

[2017-10-19 18:37] lukaszsobek commented on #1143
j

[2017-10-19 18:44] lukaszsobek commented on #1143
h

[2017-10-19 18:44] lukaszsobek commented on #1143
j

[2017-10-19 18:45] lukaszsobek commented on #1143
k

[2017-10-19 18:50] lukaszsobek commented on #1143
h

[2017-10-19 18:50] lukaszsobek commented on #1143
l

[2017-10-19 18:54] lukaszsobek commented on #1143
l

[2017-10-19 18:57] lukaszsobek commented on #1143
/claim

[2017-10-19 19:23] lukaszsobek commented on #1143
a

[2017-10-19 19:26] lukaszsobek commented on #1143
/claim

[2017-10-19 19:58] lukaszsobek commented on #1143
/claim

[2017-10-19 20:00] lukaszsobek commented on #1143
a

[2017-10-19 20:00] lukaszsobek commented on #1143
s

[2017-10-19 20:01] lukaszsobek commented on #1143
;

[2017-10-19 20:02] lukaszsobek commented on #1143
;

[2017-10-19 20:02] lukaszsobek commented on #1143
test

[2017-10-19 20:05] lukaszsobek commented on #1143
kl

[2017-10-19 20:06] lukaszsobek commented on #1143
;

[2017-10-19 20:07] lukaszsobek commented on #1143
gg

[2017-10-19 20:08] lukaszsobek commented on #1143
h

[2017-10-19 20:09] lukaszsobek commented on #1143
claim

[2017-10-19 20:09] lukaszsobek commented on #1143
/claim

[2017-10-19 20:10] lukaszsobek commented on #1143
/claim

[2017-10-19 20:10] lukaszsobek commented on #1143
/claim

[2017-10-19 20:11] lukaszsobek commented on #1143
/claim

[2017-10-19 20:17] lukaszsobek commented on #1143
So much about removing the isIssueClosed check :P

[2017-10-19 20:33] svitlana-galianova commented on #4259
@jasonLaster The code has been modified a bit and it's different from the one in the issue description. I have tried different things, but I feel like without understanding which domain is debuggee, I will be stuck in the same place for a while.

Is using "focusedItem" state property a good idea to determine which domain is debuggee or maybe "highlightItems"? From every property I saw in the code,

[2017-10-19 21:11] jasonLaster commented on #4259
Hi @svitlana-galianova!

thanks for reaching out, the debuggee url is [here](https://github.com/devtools-html/debugger.html/blob/master/src/components/PrimaryPanes/SourcesTree.js#L363-L364)

so you should be able to get it w/ `this.props.debuggeeUrl` :)

[2017-10-19 22:05] jimblandy commented on #3390
I've got the `browser_dbg-returnvalues.js` mochitest working again. Going to start looking at the failure.

[2017-10-20 03:10] darkwing opened #4443 "[PrettyPrint] Add test to ensure original source and pretty printed outline tab functions match"
The sample URI I used was:

https://davidwalsh.name/wp-includes/js/wp-embed.min.js?ver=4.8.2

The outline tab for the original source shows:

[code]

The pretty-printed outline tab shows:

[code]

Unless I'm missing something obvious, there's no real structure change between the two, so the Outline tab function listing shouldn't change.

[2017-10-20 04:50] lukaszsobek commented on #1143
test

[2017-10-20 04:50] lukaszsobek commented on #1143
kk

[2017-10-20 04:52] lukaszsobek commented on #1143
j

[2017-10-20 04:53] lukaszsobek commented on #1143
k

[2017-10-20 04:54] lukaszsobek commented on #1143
g

[2017-10-20 04:55] lukaszsobek commented on #1143
j

[2017-10-20 04:57] lukaszsobek commented on #1143
l

[2017-10-20 04:58] lukaszsobek commented on #1143
k

[2017-10-20 05:45] pradeepgangwar commented on #4432
@juliandescottes Sir, let me know which combination would be better. I will try modifying it.

[2017-10-20 08:05] juliandescottes commented on #4432
@pradeepgangwar I think we should keep the keys white-ish. So let's use another color for dark theme.

Can probably do something similar as what the accordion does:

https://github.com/devtools-html/debugger.html/blob/04918304796bd5912ba6958c4b48519f16cef1c7/src/components/shared/Accordion.css#L1-L7

[2017-10-20 14:43] jasonLaster commented on #3815
This work is nearly done here: https://github.com/devtools-html/debugger.html/pull/4258

[2017-10-20 15:58] tohmjudson commented on #4259
Hi @svitlana-galianova !

I like this change... it's a subtle way to see where you are in a larger project. If you don't mind, I think you could make a couple small changes to take advantage of the `getURL` utility already in the project.

The `getURL` utility would be added [here](https://github.com/devtools-html/debugger.html/blob/master/src/components/PrimaryPanes/SourcesTree.js#L27-L36). The f

[2017-10-20 16:55] pradeepgangwar commented on #4432
@juliandescottes I think I can't help here. Since I am running on a Linux machine and this is how my shortcuts modal looks like. 😇

![screenshot-2017-10-20 debugger](https://user-images.githubusercontent.com/21259802/31832626-55c87ad8-b5e5-11e7-8606-930ee2214659.png)

[2017-10-20 17:22] juliandescottes commented on #4432
No worries @pradeepgangwar thanks for having a look :)

[2017-10-20 18:52] bomsy commented on #3144
Can't seem to find an STR that replicates this. @jasonLaster do you have one we can use?

[2017-10-20 19:52] jasonLaster commented on #3144
looks pretty good

![Screen Shot 2017-10-20 at 3.51.12 PM.png](https://shipusercontent.com/4c733d741c378abc7567e66d1129539d/Screen%20Shot%202017-10-20%20at%203.51.12%20PM.png)

[2017-10-20 19:59] #3144 closed

[2017-10-20 23:28] bomsy commented on #4020
/claim

[2017-10-21 01:36] darkwing opened #4453 "Pretty Print Issues"
A few issues I've identified with the pretty print functionality at this point:

- [x] Clicking the pretty print icon doesn't focus on the newly created pretty print tab #4647
- [x] Clicking on the pretty print tab un-focuses the source in the Sources Tree tab.
- [x] Right-clicking a line in the pretty-printed source and clicking "Jump to Generated location" doesn't highlight the line or focus the

[2017-10-21 11:18] pradeepgangwar opened #4455 "Correct link in getting setup page of Docs"
The very first line in [getting setup](http://firefox-dev.tools/debugger.html/docs/getting-setup.html)  page of docs contains a link named `most common issues`. On clicking, it gives option to **download** it rather than view it via **ghpages**. This is because of its url.

Expected: [http://firefox-dev.tools/debugger.html/docs/most-common-issues.html](http://firefox-dev.tools/debugger.html/docs/m

[2017-10-21 11:52] pradeepgangwar commented on #4455
I found some more link issues in debugging-the-debugger.md page . Find it [here](http://firefox-dev.tools/debugger.html/docs/debugging-the-debugger.html). Most of the links given here are not displayed as **hyperlink**.

@jasonLaster Sir, i looked at the md files and found no clue of what's going wrong. Please help me.

[2017-10-21 12:16] Fischer-L commented on #4369
In case of double effort, this issue now is being handled and under discussion in #4381 and #4428 .

[2017-10-21 12:39] bomsy commented on #4020
The issue relates to the computed and uncomputed MemberExpressions. we are looking at `obj[key]` (computed) as `obj.key` (uncomputed)

[2017-10-21 13:10] Fischer-L opened #4459 "[Preview] Mis-judge the in-scope inner location as out-of-scope from its parent scope"
STR:
1. visit http://todomvc.com/examples/react/#/active
2. add a bp in TodoModel.js#46
3. click toggle all in todomvc
4. step over to proceed to Line 50
5. hover `this` on Line 46

ER: see the preview of `this` on Line 46

AR: no preview of `this` on Line 46. See the gif below
![0pusqajliw](https://user-images.githubusercontent.com/5627487/31851735-3d6c88bc-b69e-11e7-98b6-07269e2a9d44.gif)

Root

[2017-10-21 13:12] Fischer-L commented on #4459
working on this

[2017-10-21 14:28] jasonLaster commented on #4459
Nice write up. @ryanjduffy found this in v1 and we punted :)

It was harder then because we were using line out-of-scope classes. Thanks!

[2017-10-21 14:31] jasonLaster commented on #4453
lol I've never seen the columns just bounce

[2017-10-21 14:38] Fischer-L commented on #4459
Yes, this is tricky. We need some clean plus efficient approaches...

[2017-10-21 17:02] pradeepgangwar commented on #4455
/claim

[2017-10-21 17:29] bomsy commented on #4453
@darkwing @jasonLaster i've also noticed the column doing the disappearing acts too ...lol

[2017-10-21 18:28] #4455 closed

[2017-10-21 22:44] svitlana-galianova commented on #4259
@tohmjudson Thank you for your suggestion! I have used "debuggeeUrl contains name" logic, so it wasn't that hard and I wasn't parsing it by myself

[2017-10-22 06:16] nyrosmith commented on #4402
@jasonLaster @darkwing I think we should just disallow multiple ConditionalPanels to be open at a time.
Would that be ok for you?

[2017-10-22 07:31] lukaszsobek commented on #1143
test

[2017-10-22 07:38] lukaszsobek commented on #1143
t

[2017-10-22 07:39] lukaszsobek commented on #1143
s

[2017-10-22 07:41] lukaszsobek commented on #1143
d

[2017-10-22 07:41] lukaszsobek commented on #1143
s

[2017-10-22 07:42] lukaszsobek commented on #1143
j

[2017-10-22 07:42] lukaszsobek commented on #1143
j

[2017-10-22 07:48] lukaszsobek commented on #1143
l

[2017-10-22 07:48] lukaszsobek commented on #1143
/claim

[2017-10-22 07:49] lukaszsobek commented on #1143
/unclaim

[2017-10-22 07:51] lukaszsobek commented on #1143
/claim

[2017-10-22 07:57] lukaszsobek commented on #1143
/unclaim

[2017-10-22 08:00] lukaszsobek commented on #1143
/unclaim

[2017-10-22 08:01] lukaszsobek commented on #1143
/unclaim

[2017-10-22 08:01] lukaszsobek commented on #1143
/unclaim

[2017-10-22 08:02] lukaszsobek commented on #1143
/unclaim

[2017-10-22 08:03] lukaszsobek commented on #1143
/unclaim

[2017-10-22 08:04] lukaszsobek commented on #1143
/unclaim

[2017-10-22 08:18] lukaszsobek commented on #1143
/claim

[2017-10-22 08:18] lukaszsobek commented on #1143
/claim

[2017-10-22 08:23] lukaszsobek commented on #1143
/unclaim

[2017-10-22 08:45] lukaszsobek commented on #1143
t

[2017-10-22 08:45] lukaszsobek commented on #1143
/claim

[2017-10-22 08:45] lukaszsobek commented on #1143
/claim

[2017-10-22 08:46] lukaszsobek commented on #1143
/unclaim

[2017-10-22 08:47] lukaszsobek commented on #1143
/claim

[2017-10-22 08:47] lukaszsobek commented on #1143
/claim

[2017-10-22 09:08] lukaszsobek commented on #1143
test

[2017-10-22 16:34] nyrosmith commented on #4402
The easiest fix would be close the ConditionalPanel on blur

[2017-10-22 16:36] nyrosmith commented on #4402
https://github.com/devtools-html/debugger.html/pull/4465 needs to land before this can be started

[2017-10-22 18:48] nyrosmith commented on #4418
/claim

[2017-10-23 07:25] lukaszsobek commented on #4417
hmmm, can't reproduce this on windows with the newest upstream:

![screenshot_1](https://user-images.githubusercontent.com/23530054/31876737-10287000-b7d4-11e7-8fc7-5cd02b710f45.png)

[2017-10-23 09:24] lukaszsobek opened #4469 "Right-click in editor window shows 2 context menus"
* open editor window
* right click inside the text
2 context menus appear (debugger + default)
* press esc to hide one
* press esc to hide the other

![31880096-d33ad848-b7df-11e7-95e0-4673e8debf74](https://user-images.githubusercontent.com/23530054/31881679-8e5e9d40-b7e4-11e7-8aa5-c3c0e612b56a.gif)

Expected:
Only the debugger context menu shows

[2017-10-23 09:34] #3846 closed

[2017-10-23 11:21] bomsy commented on #3392
@zaggy are you still on this?

[2017-10-23 12:18] jainsneha23 commented on #4469
/claim

[2017-10-23 14:37] lukaszsobek commented on #4384
/claim

[2017-10-23 14:39] jasonLaster opened #4471 "[Pause] Pausing should expand the right sidebar"
When the debugger pauses, we should expand the right sidebar if it is collapsed. There are a couple reasons why this is important:

1. the step buttons are there
2. all the pause data is there

[code]

[2017-10-23 14:40] lukaszsobek commented on #4384
/claim

[2017-10-23 14:51] jasonLaster opened #4472 "[Preview] fails to show a value"
Preview fails to show the value for `focusedHost`. The value is available in the scopes pane

![](https://bug1406048.bmoattachments.org/attachment.cgi?id=8920573)

CC https://bugzilla.mozilla.org/show_bug.cgi?id=1406048

[2017-10-23 14:53] jasonLaster commented on #4472
The next step is to create a small test case:

https://dbg.glitch.me/

should be easy to do that w/ the host.split function...

[2017-10-23 15:27] leibale commented on #4471
/claim

[2017-10-23 17:58] ddinis-alves commented on #4432
I'd like to try fixing this.

[2017-10-23 18:24] juliandescottes commented on #4432
@ddinis-alves thanks! I think you can use the [claim command](https://github.com/devtools-html/debugger.html#next-steps) to get assigned to the bug :)

[2017-10-23 18:28] ddinis-alves commented on #4432
/claim

[2017-10-23 18:33] #4471 closed

[2017-10-23 19:04] bomsy commented on #4472
https://glitch.com/edit/#!/join/bc65113f-8017-4677-85cf-e7c22a5c6da5

Interestingly, it looks like the issue is `this` is still pointing to the global scope rather than the invoking object

[2017-10-23 20:18] sarahlim commented on #4141
Do you know what Atom plugins are in the screenshot above? I was hoping to inspect the webview, since I haven't had any luck finding those exact icons from [Octicons](https://octicons.github.com/) or [devicons](https://vorillaz.github.io/devicons/#/dafont). (Unless we don't actually need to get the same ones? But I'm having trouble finding plain lambda icons, too 😛)

[2017-10-23 22:06] jasonLaster commented on #4472
oh we have an issue for that #4324

[2017-10-23 22:06] jasonLaster commented on #4472
lets close this as it's a dupe

[2017-10-23 22:06] #4472 closed

[2017-10-24 01:38] jselmani commented on #4350
I will start working converting the step buttons now to images.

[2017-10-24 02:41] jainsneha23 commented on #4469
@bomsy Please close the issue.

[2017-10-24 02:50] #4421 closed

[2017-10-24 02:50] #4469 closed

[2017-10-24 05:16] #3112 closed

[2017-10-24 07:24] #4020 closed

[2017-10-24 08:22] bomsy commented on #4324
/claim

[2017-10-24 12:58] jainsneha23 commented on #4420
/claim

[2017-10-24 14:32] darkwing opened #4479 "Launchpad: addComponentAsRefTo Error"
Every time I update to this repo's master to get the new patches, then do a `yarn install`, I see the following in the launchpad (http://localhost:8000):

[code]

I can `rm -rf node_modules && yarn nom` but this issue isn't going away so I presume there's a real problem somewhere.

[2017-10-24 15:12] emmet0r commented on #4384
/claim

[2017-10-24 15:14] belld19233 commented on #4384
/unclaim

[2017-10-24 15:14] belld19233 commented on #4384
/claim

[2017-10-24 15:14] emmet0r commented on #4384
Trying to /claim this for testing!

[2017-10-24 15:16] emmet0r commented on #4070
Testing bot updates with /claim

[2017-10-24 15:17] belld19233 commented on #4384
/claim

[2017-10-24 15:17] emmet0r commented on #4070
Testing bot updates with /claim

[2017-10-24 15:19] belld19233 commented on #4384
/claim

[2017-10-24 15:20] belld19233 commented on #4384
/claim

[2017-10-24 15:21] belld19233 commented on #4384
/claim

[2017-10-24 15:27] belld19233 commented on #4384
/unclaim

[2017-10-24 23:09] zaggy commented on #3392
@bomsy yea, hope to finish it this week, sorry for the delay

[2017-10-25 00:10] michaelgv commented on #4440
@digitarald I don't experience the same thing from my end. Were you running on latest?

[2017-10-25 00:40] jasonLaster opened #4482 "[refactor] togglePaneCollapse"
We shouldn't dispatch this action if it will be a no-op so lets check first :)

[code]

[2017-10-25 03:48] #4394 closed

[2017-10-25 06:05] lukaszsobek commented on #4209
Is this still a thing? Seems to be behaving as expected now:
![klo9rpqulp](https://user-images.githubusercontent.com/23530054/31982910-1d69c060-b95b-11e7-98c1-9f0e16ce291b.gif)

[2017-10-25 12:58] jasonLaster commented on #4209
@lukaszsobek are you using the `file:///` prefix?

[2017-10-25 16:02] lukaszsobek commented on #4384
test

[2017-10-25 16:17] yurydelendik commented on #4297
Reduced test case for parsing https://yurydelendik.github.io/old-man-sandbox/babel-parse/index.html

[2017-10-25 17:32] miketaylr commented on #4411
lol

Oops. One detail I left out, @jasonLaster:

You need a Firefox for Android UA string to get the bug to reproduce, because otherwise you won't hit the `dispatchEvent` code path that gets a `console.error`. So you have to add a custom device using "Mozilla/5.0 (Android 8.0; Mobile; rv:58.0) Gecko/20100101 Firefox/58.0" (or whatever).

(As an aside... I still think it's weird we don't send a Gec

[2017-10-25 17:32] miketaylr commented on #4411
(and just verified this still reproduces in the latest nightly)

[2017-10-25 17:49] jasonLaster opened #4485 "Cleanup test warnings"
When we converted to React 15.6 we started seeing some createClass test warnings:

It would be great to clean those up.

![Screen Shot 2017-10-25 at 1.48.47 PM.png](https://shipusercontent.com/137006b8a591682345b14113ff44d041/Screen%20Shot%202017-10-25%20at%201.48.47%20PM.png)

[2017-10-25 17:53] jasonLaster commented on #4297
Here's the source: https://github.com/yurydelendik/old-man-sandbox/blob/master/babel-parse/package.json

[2017-10-25 17:57] abhinav-koppula opened #4486 "Debugger panel shows unnecessary scrollbars without any scroll"
STR -
- Open any website
- Open the debugger panel
- Notice the unnecessary empty horizontal/vertical scrollbars present (check screenshot)

Actual -
Unnecessary scrollbars shown

Expected -
Scrollbar should be shown only when the content overflows

![debugger](https://user-images.githubusercontent.com/3524245/32014561-01a8829a-b9dc-11e7-9a80-258248248ecd.png)

[2017-10-25 18:01] #4486 closed

[2017-10-25 18:13] jasonLaster opened #4488 "[Search] Quick Open follow up"
#### Next Steps
- [ ] jump to call stack frame
- [ ] jump to breakpoint
- [x] style matched fuzzy characters
- [x] show indicator if symbols are still being parsed

#### Styling
- [ ] style focused result item
- [ ] style modal border shadow
- [x] style line numbers (i think we should drop the colon)
- [ ] style the input bar (i think it's a bit small)

![](http://g.recordit.co/RLOuU9WjeQ.gif)

##

[2017-10-25 18:32] jasonLaster opened #4489 "[PERF] investigate babel parse performance"
Babylon is slow for large files (500kb per second).

Reduced test case for parsing https://yurydelendik.github.io/old-man-sandbox/babel-parse/index.html

Here's the source: https://github.com/yurydelendik/old-man-sandbox/blob/master/babel-parse/package.json

[2017-10-25 19:47] jasonLaster opened #4490 "[Search] escape does not clear current highlight"
We just landed a new QuickOpen modal, which had a small regression w/ closing via the escape key [here](https://github.com/Garbee/debugger.html/blob/hotfix/test/src/components/QuickOpenModal.js#L209-L224)

STR:

1. go to a file w/ js functions
2. open modal cmd+shift+o
3. arrow key down to highlight a function
4. hit esc

ER should see the highlight go away

![Screen Shot 2017-10-25 at 3.47.00 PM.

[2017-10-26 01:36] James300 commented on #4436
/claim

[2017-10-26 02:33] darkwing opened #4495 "Unfinished Conditional Breakpoints Linger Between Files"
1.  Open a source, right-click line 10, choose "Add conditional breakpoint", don't enter anything

2.  Open another source; the empty conditional breakpoint will display

This isn't something we want -- conditional breakpoint elements should be tied to a source.

[2017-10-26 02:35] darkwing commented on #4495
Another oddity:  flip back and forth between the two sources and empty conditional breakpoint elements multiply:

<img width="856" alt="conditionals" src="https://user-images.githubusercontent.com/46655/32032382-7a509e18-b9cc-11e7-978f-87ed5368ba64.png">

[2017-10-26 05:10] nyrosmith commented on #4495
Should be fixed with https://github.com/devtools-html/debugger.html/pull/4483

[2017-10-26 05:10] #4495 closed

[2017-10-26 05:13] jimblandy commented on #3390
This is kind of interesting.

- `getScopes` (utils/scopes.js) is trying to build the list of scopes to display in the panel. It would like to recognize the scope of the currently executing frame, to display it specially&mdash;in particular, to call `getSpecialVariables`, which shows the return value if present. Unfortunately, this call never happens: `pauseInfo.frame.scope` is `undefined`, so it h

[2017-10-26 05:39] princiya commented on #4488
@jasonLaster at this point, to what I understand, is this an issue to experiment with the below possibilities?
- downshift
- fuzzyaldrin
- projectSearch

[2017-10-26 12:25] jainsneha23 commented on #4420
@darkwing  @jasonLaster
Shouldn't we be disabling "Reveal in tree" and "Blackbox script" for pretty printed files as well?

[2017-10-26 13:56] lukaszsobek commented on #4490
/claim

[2017-10-26 14:09] lukaszsobek commented on #2925
/unclaim

[2017-10-26 14:46] jimblandy commented on #3390
/claim

[2017-10-26 14:55] wldcordeiro commented on #4488
@princiya We're using fuzz-aldrin-plus already. I don't think we have a serious need to bring in something like downshift as it's just another dependency when we've built a decent solution already. As for projectSearch? I'm not sure what you mean by that.

[2017-10-26 15:32] #4402 closed

[2017-10-26 15:39] jasonLaster commented on #4488
yeah - lets build the simple thing first for styling the matched chars... making them blue :) or something like that. I think what we did for project search is pretty close... The basic algorithm for finding the chars for a query like "foo" is to take the match result string and split it up into matching and not-matching spans. so if the result is` "af/my/o/o.js",` => `"a", "f","/my/","o","/","o",

[2017-10-26 15:52] princiya commented on #4488
ok, that sounds good. so I shall focus on the styling part for now.

[2017-10-26 15:53] jasonLaster commented on #4488
yep

[2017-10-26 18:02] tohmjudson commented on #4482
/claim

[2017-10-26 18:38] jasonLaster opened #4501 "test issue"
Thanks for filing an issue!

If you're reporting a bug, please share a clear description of the problem and the steps needed to reproduce the problem.  It's also helpful to include a gif, screenshot, and minimal test case.

* you can find us in slack: https://devtools-html-slack.herokuapp.com/
* our tips on formatting issues: https://github.com/devtools-html/debugger.html/blob/master/docs/issues.m

[2017-10-26 19:02] jasonLaster commented on #4501
/claim

[2017-10-26 19:02] jasonLaster commented on #4501
/claim

[2017-10-26 21:35] miketaylr commented on #2185
Thanks!

[2017-10-26 22:47] wldcordeiro commented on #4490
[code]

[2017-10-26 22:47] wldcordeiro commented on #4490
@lukaszsobek here's is a patch that should work.

[2017-10-26 22:59] jasonLaster commented on #4384
/claim

[2017-10-26 23:49] jasonLaster commented on #4384
/claim

[2017-10-26 23:50] jasonLaster commented on #3819
hey @Anzumana still interested in this?

[2017-10-27 02:28] darkwing opened #4503 "Search Error: TypeError: 'block' member of ScrollIntoViewOptions 'center' is not a valid ..."
When Command+P'ing you see:

[code]

Error happens again each time I use the down key or others.

[2017-10-27 02:32] darkwing opened #4504 "Source Search Keyboard Focus Goes Offscreen"
With FIrefox DevTools panel up, when I use the Down key to scroll through the options of source search, if the list is long and the screen is short, I can scroll down but going past the the screen height of options doesn't keep those lsat items in view;  the items hidden by short screen height aren't shown.

We should ensure those hidden context menu items are shown when focused upon.

[2017-10-27 02:35] darkwing opened #4505 "File Search Shows Massive Document Icon"
I did Command+Shift+F and completed a search of ".name" on https://davidwalsh.name
and saw this:

<img width="853" alt="search1" src="https://user-images.githubusercontent.com/46655/32085567-87fed024-ba95-11e7-990e-70a70ace8323.png">
<img width="859" alt="search2" src="https://user-images.githubusercontent.com/46655/32085568-8a12eae4-ba95-11e7-9792-f95f94c9a943.png">

CSS error likely.

[2017-10-27 02:45] darkwing opened #4506 "Find in Files Shows "0 results" Before Search Executed"
Nit: showing a search result count before a search is executed doesn't have value; we should hide the result count until a search is actually executed.

[2017-10-27 02:59] darkwing opened #4507 ""Please file an issue: reasonType= interrupted""
While stepping through a breakpoint series, I saw this in the console:

[code]

[2017-10-27 06:33] joel-bentley commented on #4485
It looks like these warnings are from a known issue in React v15.6 when using `import * as React from 'react';`
https://github.com/facebook/react/issues/10583

The Facebook team decided not to fix since these warnings go away when switch to React v16.0

[2017-10-27 08:48] hanxue opened #4509 "Display network Response as plain text along with JSON"
When there is a network response that returns JSON data, Devtool helpfully formats it in JSON

![image](https://user-images.githubusercontent.com/760008/32094927-04d9af76-bb34-11e7-820a-5cf4da2ae2a7.png)

But there is no easy way to copy the raw output. It is possible to right-click on the network request and copy the Response

![image](https://user-images.githubusercontent.com/760008/32095593-422

[2017-10-27 09:35] joel-bentley commented on #4485
So, the above is the case in only one instance `src/components/shared/Modal.js`

The rest of the errors are from `React.createClass` and `React.PropTypes` being used in the
[code]
packages, which are part of https://github.com/devtools-html/devtools-core. I could make a PR over there.

[2017-10-27 10:34] Anzumana commented on #3819
yeah had little time but am still on it. ( we are releasing major version of one of our applications shortly )

[2017-10-27 13:09] jainsneha23 commented on #4417
Yes. Seems to be fixed in master. I can see this html:

`<div class="CodeMirror-linewidget" cm-ignore-events="true"><div class="conditional-breakpoint-panel">`

cm-ignore-events will ignore right click inside the conditional breakpoint panel

We can close this issue.

[2017-10-27 13:16] jainsneha23 commented on #4437
/claim

[2017-10-27 13:16] jasonLaster commented on #4485
@joel-bentley thanks that would be great

[2017-10-27 13:16] #4485 closed

[2017-10-27 13:34] jainsneha23 commented on #4437
@jasonLaster Can you check if the bug still exists in master?

[2017-10-27 14:27] flodolo opened #4513 "String expressions.placeholder is reused in different contexts"
Spotted in
https://bugzilla.mozilla.org/show_bug.cgi?id=1408562#c42

The original string was a [placeholder](https://github.com/devtools-html/debugger.html/blob/6660e0ddd273fb09e8b8a725a299a6f601279482/src/components/SecondaryPanes/Expressions.js#L182). It was then [reused](https://github.com/devtools-html/debugger.html/blob/4114a97f1584097c64d85b3d02e51946f4533caf/src/components/Editor/EditorMenu

[2017-10-27 15:21] jasonLaster commented on #4437
hey @jainsneha23 this is a panel bug which is tough to debug. I recommend grabbing something else :)

[2017-10-27 15:21] jasonLaster commented on #4417
@darkwing was this in the panel?

[2017-10-27 15:22] jasonLaster commented on #4509
Hi, thanks for filing, but i believe this is a network panel proposal

http://bugzilla.mozilla.org/

[2017-10-27 15:22] #4509 closed

[2017-10-27 15:23] jasonLaster commented on #4506
Here's a good place to start digging:

https://github.com/devtools-html/debugger.html/blob/master/src/components/ProjectSearch/TextSearch.js#L53-L60

[2017-10-27 15:25] jasonLaster commented on #4504
@darkwing can you share a screen shot?

[2017-10-27 15:42] jselmani commented on #4505
@darkwing I'd like to work on this if that's alright with you.

[2017-10-27 16:12] wldcordeiro commented on #4513
The links point to the same file and line?

[2017-10-27 16:15] wldcordeiro opened #4515 "[Editor/QuickOpen] When you use symbol or go to line functionality the gutter disappears"
STR

1. Open quick open modal (<kbd>cmd</kbd>+P)
2. Search symbols in file `@`
3. Pick a result and hit enter
4. The gutter disappears

Note that clicking in the gutter area makes it reappear. The steps above also have the same result if you do a go to line query `:32` rather than `@`

[2017-10-27 16:22] #4505 closed

[2017-10-27 16:28] khal0988 commented on #2925
/claim

[2017-10-27 17:21] jasonLaster opened #4517 "[Breakpoints] cmd+shift+b is no longer bound"
cmd+shift+b used to toggle conditional breakpoints. My guess is that we broke this when we refactored conditional breakpoints a couple of weeks ago.

[link](https://github.com/devtools-html/debugger.html/blob/master/src/components/Editor/index.js#L188-L193)

[code]

[2017-10-27 17:25] jasonLaster commented on #2801
it's in!

[2017-10-27 17:25] #2801 closed

[2017-10-27 17:25] #3892 closed

[2017-10-27 17:25] flodolo commented on #4513
Ugh, sorry about that, clipboard failure. Updated the [first link](https://github.com/devtools-html/debugger.html/blob/6660e0ddd273fb09e8b8a725a299a6f601279482/src/components/SecondaryPanes/Expressions.js#L182).

[2017-10-27 17:26] jasonLaster commented on #3991
@digitarald do you have an STR here?

[2017-10-27 17:38] #4513 closed

[2017-10-27 18:29] yurydelendik opened #4519 "Breakpoint is set, but not visible"
STR (in Nightly):

1. Open devtools on the Debugger tab
2. Load https://mdn.github.io/webassembly-examples/js-api-examples/memory.html in the current tab.
3. Set a breakpoint before the ‘i32.load’ operation.
4. Reload the page.
5. Observe paused location.

Actual result:
On step 3, the breakpoint disappears; and on step 5, still not visible (even if it was paused)

Expected:
The breakpoint is visi

[2017-10-27 18:49] lukaszsobek commented on #4506
/claim

[2017-10-27 18:50] lukaszsobek commented on #4506
/claim

[2017-10-27 19:24] #2853 closed

[2017-10-27 20:07] jasonLaster commented on #2588
Closing this issue and moving to the [enhancements](github.com/devtools-html/debugger.html/projects/5) board.

* We will hopefully be able to prioritize it in the near future.
* The issue is closed temporarily, but feel free to continue discussing the issue

[2017-10-27 20:07] #2588 closed

[2017-10-27 20:07] jasonLaster commented on #2787
Closing this issue and moving to the [enhancements](github.com/devtools-html/debugger.html/projects/5) board.

* We will hopefully be able to prioritize it in the near future.
* The issue is closed temporarily, but feel free to continue discussing the issue

[2017-10-27 20:07] #2787 closed

[2017-10-27 20:19] jasonLaster commented on #3080
@sejoker are you available to take a stab at breaking this down into smaller pieces?

[2017-10-27 20:19] jasonLaster commented on #3156
closing as it's not focused

[2017-10-27 20:19] #3156 closed

[2017-10-27 20:20] jasonLaster commented on #3108
have not been able to reproduce.

[2017-10-27 20:20] #3108 closed

[2017-10-27 20:21] jasonLaster commented on #3178
@wldcordeiro didn't realize that this checklist was being updated!

[2017-10-27 20:22] jasonLaster commented on #3239
ping @wldcordeiro

[2017-10-27 20:23] jasonLaster commented on #3178
Here's a great starting off point: https://github.com/devtools-html/debugger.html/pull/4199

[2017-10-27 20:24] jasonLaster commented on #3279
https://github.com/devtools-html/debugger.html/pull/4199

[2017-10-27 20:25] jasonLaster commented on #3332
Closing this issue and moving to the [enhancements](github.com/devtools-html/debugger.html/projects/5) board.

* We will hopefully be able to prioritize it in the near future.
* The issue is closed temporarily, but feel free to continue discussing the issue

[2017-10-27 20:25] #3332 closed

[2017-10-27 20:26] jasonLaster commented on #3392
@zaggy ping us in #debugger w/ questions

[2017-10-27 20:27] jasonLaster commented on #3400
@codehag this might be easier now that the refactor is done

[2017-10-27 20:27] jasonLaster commented on #3537
Closing this issue and moving to the [enhancements](github.com/devtools-html/debugger.html/projects/5) board.

* We will hopefully be able to prioritize it in the near future.
* The issue is closed temporarily, but feel free to continue discussing the issue

[2017-10-27 20:27] #3537 closed

[2017-10-27 20:30] jasonLaster commented on #3581
Closing this issue and moving to the [enhancements](github.com/devtools-html/debugger.html/projects/5) board.

* We will hopefully be able to prioritize it in the near future.
* The issue is closed temporarily, but feel free to continue discussing the issue

[2017-10-27 20:30] #3581 closed

[2017-10-27 20:33] jasonLaster commented on #3583
ping @Fischer-L interested?

[2017-10-27 20:34] jasonLaster commented on #3646
closing as a dupe of #3279

[2017-10-27 20:34] #3646 closed

[2017-10-27 20:35] jasonLaster commented on #3802
did this [here](https://github.com/devtools-html/debugger.html/blob/master/src/test/mochitest/browser_dbg-reload.js#L1) I think :)

[2017-10-27 20:35] #3802 closed

[2017-10-27 20:37] jasonLaster commented on #3833
closing as a dupe of #4047. I also think that the HTML has been fixed. If not, lets open it in a separate PR

[2017-10-27 20:37] #3833 closed

[2017-10-27 20:44] jasonLaster commented on #3837
this is less of an issue now that we ignore 3rd party files

[2017-10-27 20:44] #3837 closed

[2017-10-27 20:46] jasonLaster commented on #3878
It would be nice to see what is available w/ codemirror, maybe others have found a good solution?

[2017-10-27 20:46] jasonLaster commented on #3947
Closing this issue and moving to the [enhancements](github.com/devtools-html/debugger.html/projects/5) board.

* We will hopefully be able to prioritize it in the near future.
* The issue is closed temporarily, but feel free to continue discussing the issue

[2017-10-27 20:46] #3947 closed

[2017-10-27 20:48] jasonLaster commented on #4018
closing as we'll get it for free when we upgrade the tree

[2017-10-27 20:48] #4018 closed

[2017-10-27 20:48] #4021 closed

[2017-10-27 20:48] jasonLaster commented on #4021
closing as the functionality is in... just needs styling

[2017-10-27 20:49] #4044 closed

[2017-10-27 20:49] wldcordeiro commented on #3239
Been off this for a while with quick open modal stuff. I'll grab this now

[2017-10-27 20:49] jasonLaster commented on #4035
Closing this issue and moving to the [enhancements](github.com/devtools-html/debugger.html/projects/5) board.

* We will hopefully be able to prioritize it in the near future.
* The issue is closed temporarily, but feel free to continue discussing the issue

[2017-10-27 20:49] #4035 closed

[2017-10-27 20:51] jasonLaster commented on #4051
we should really prioritize this so that we can collaborate more easily

[2017-10-27 20:51] jasonLaster commented on #4033
This work is nearly done here: https://github.com/devtools-html/debugger.html/pull/4258

[2017-10-27 20:53] wldcordeiro commented on #3080
I think exact types with covariant properties will be even better.

[code]

This will reflect that our Redux states are immutable. https://flow.org/en/docs/react/redux/#toc-typing-redux-state-immutability

[2017-10-27 20:53] jasonLaster commented on #3080
Yeah

[2017-10-27 21:02] jasonLaster commented on #4151
We landed a util for [`isReactComponent`](https://github.com/devtools-html/debugger.html/blob/master/src/workers/parser/frameworks.js#L3).

We can now easily check :)

and add it here:

[code]

[2017-10-27 21:12] #4501 closed

[2017-10-27 21:13] jasonLaster commented on #4432
ping @ddinis-alves how's it going?

[2017-10-27 21:16] jasonLaster commented on #4233
Hey, @nyrosmith still interested in this? It's a tough one because we're still trying to figure out what the right refactor is.

[2017-10-27 21:16] jasonLaster commented on #4284
Closing as the #4300 is being worked on separately. We can re-analyze the speed when it lands

[2017-10-27 21:16] #4284 closed

[2017-10-27 21:17] jasonLaster commented on #4140
closing as it will be solved in reps

[2017-10-27 21:18] #4140 closed

[2017-10-27 21:19] jasonLaster commented on #4181
Ping @Triscy how's it going?

[2017-10-27 22:02] Triscy commented on #4181
@jasonLaster Moving along slowly. Planning stages alongside coursework.

[2017-10-28 03:23] sharathnarayanph commented on #4517
/claim

[2017-10-28 06:43] jainsneha23 commented on #4437
/unclaim

[2017-10-28 09:41] juliandescottes commented on #4020
Thanks for fixing this @bomsy ! Just happened to test this in the last debugger bundle update and this works fine now :)

[2017-10-28 10:29] brutalcrozt commented on #4435
Hi, how i can remove label available? i know i can claim, but it will assign to me. Seems she so excited and forgot to claim this on.

[2017-10-28 10:33] nyrosmith commented on #4435
@brutalcrozt I corrected the labels.

[2017-10-28 10:34] brutalcrozt commented on #2980
Next.js done, 1 left to go?

[2017-10-28 11:03] brutalcrozt commented on #2925
second /claim doesn't work?

[2017-10-28 11:04] brutalcrozt commented on #2925
/unclaim

[2017-10-28 11:06] brutalcrozt commented on #2925
/unclaim

[2017-10-28 12:15] brutalcrozt commented on #1069
idk but i still got those error on terminal. it gone after i change **\debugger.html\configs\development.json**
[code]
to
[code]

[2017-10-28 12:27] brutalcrozt commented on #2925
/unclaim please :confounded:

[2017-10-28 14:20] Garbee commented on #2925
And if we want this linted as well for any future updates there is a [header plugin](https://github.com/Stuk/eslint-plugin-header) for eslint to do this task.

[2017-10-28 16:06] khal0988 commented on #2925
/unclaim

[2017-10-28 16:35] ahuth commented on #3683
@jasonLaster, should I close this, since we've upgraded to Flow 53? I still want to upgrade this to 57, but that will take some more work on a couple of the dependencies.

[2017-10-29 01:32] darkwing opened #4524 "Watch Expressions Shouldn't Be Allowed with Syntax Errors"
I created a bogus watch expression:

<img width="299" alt="watchsyntaxerror" src="https://user-images.githubusercontent.com/46655/32139971-f9d1a764-bc1e-11e7-8175-b479f1fcc827.png">

If a syntax error is detected for a watch expression, we shouldn't allow its creation -- we should instead highlight the input box red and notify the user that their expression is invalid.

[2017-10-29 03:42] wldcordeiro commented on #4524
The title was off based on your description.

[2017-10-29 08:54] lukaszsobek opened #4526 "[Project Search] Closing Find window does not remove results from memory"
STR + AR:
- go to [this page](https://developmentarc.gitbooks.io/react-indepth/content/life_cycle/update/postrender_with_componentdidupdate.html)
- select gitbook.js
- press ctrl/cmd+shift+f in editor window
- type in "input" and press enter
- wait for results to appear
- close find window by pressing x
- press ctrl/cmd+shift+f again
- wait ...
- find window appears after a long delay with results

[2017-10-29 14:13] Fischer-L commented on #3583
@jasonLaster right, in the call stack panel the space is limited and function name probably is the main focus during stepping between codes. Will update.

[2017-10-29 18:24] lukaszsobek commented on #4490
@wldcordeiro Thank you!

[2017-10-29 18:35] jasonLaster commented on #4524
hmm. that's a good point... hadn't thought of that. That'll actually simplify the evaluate code a bit

[2017-10-29 18:36] jasonLaster commented on #3683
Good call

[2017-10-29 18:37] #3683 closed

[2017-10-29 18:38] jasonLaster opened #4528 "[Flow] update to 57"
We are currently on flow 53, we should try to upgrade to 57. We can always upgrade to 54, 55, or 56 first too.

[2017-10-29 22:19] jasonLaster commented on #4459
How's it going?

[2017-10-29 22:58] brutalcrozt commented on #2925
/unclaim

[2017-10-30 04:16] wldcordeiro commented on #4526
@lukaszsobek Thanks for the report! Just FYI it's nice to include the UI component in question in the issue title. I wasn't sure if this was for file search (cmd+f) or project search (cmd+shift+f) so I've updated the title.

[2017-10-30 04:24] wldcordeiro commented on #4528
From the looks of it there are only 14 Flow errors in bumping to 0.57.3 so this should hopefully a small jump compared to the previous.

[2017-10-30 04:28] #4490 closed

[2017-10-30 04:32] #4432 closed

[2017-10-30 04:33] wldcordeiro commented on #4431
I'm going to close this issue but move the action items to the quick open follow-up issue.

[2017-10-30 04:34] wldcordeiro commented on #4488
Looks like the action items from #4431 got moved but this comment from @violasong is useful for anyone following up on the shadow fix.

[2017-10-30 04:34] #4431 closed

[2017-10-30 04:38] #4418 closed

[2017-10-30 04:43] lukaszsobek commented on #4526
@wldcordeiro Thank you! Will mention it next time.

[2017-10-30 05:49] wldcordeiro opened #4530 "[Parser] Parse destructured variable names"
Somewhat of a follow up to #3239

<img width="1920" alt="screen shot 2017-10-29 at 11 45 17 pm" src="https://user-images.githubusercontent.com/580982/32156510-89222b5c-bd03-11e7-80d7-9cfef678042f.png">

If you notice there are two empty named results in the symbol list that map to expressions like

[code]

We should parse these kinds of expressions and add entries for each of the variables.

[2017-10-30 06:16] wldcordeiro commented on #4488
I noticed that since we do a little bit of deferring with symbol parsing we could gain from having an indicator. This may require more work across redux code as well to track this state but it'd be nice to be able to display a "parsing" message rather than "0 results" in function/variable search when that is the case.

[2017-10-30 06:58] wldcordeiro opened #4532 "Update the mapDispatchToProps calls for our components"
Currently most of our `connect()` calls look like this.

[code]

It'd be a lot nicer if we updated the second argument from `dispatch => bindActionCreators(actions, dispatch)` to something like this.

[code]

This way our components will only have the action creators available to them that they need (making things like the React devtools easier to use) and because Redux automatically binds an func

[2017-10-30 07:20] wldcordeiro commented on #3878
Maybe CodeMirror's latest version has fixed it? I don't see a note in the changelog about the JSX mode specifically. Also maybe worth reporting to [them](https://github.com/codemirror/CodeMirror) if it does seem broken.

[2017-10-30 09:14] magicp-github opened #4534 ""Remove breakpoint" in CodeMirror doesn't work on commented out line"
**Steps to reproduce:**
1. Navigate to "about:debugging"
2. Load temporary add-on in local. (e.g. apply-css https://github.com/mdn/webextensions-examples/tree/master/apply-css)
3. Click Debug button.
4. Add breakpoint in background.js (e.g. line 14)
5. Edit "background.js" in local, and comment out line 14.
6. Click Reload button on about:debugging page.
7. Remove breakpoint in CodeMirror.

![remo

[2017-10-30 09:27] julienw commented on #3878
It was easy to actually try:
![screenshot-2017-10-30 codemirror](https://user-images.githubusercontent.com/454175/32163532-e2344aaa-bd5c-11e7-9958-dbd07fa49617.png)

Yep, it looks like Code Mirror's newer versions actually fix this.

[2017-10-30 09:29] julienw commented on #3878
Though some of the colors are still weird: see the angle bracket in the ref's arrow function, or `onMouseUp` not having the right color, or the closing `div` tag.

But it's not as broken as it was.

[2017-10-30 09:32] julienw commented on #3878
I added this example in this issue: https://github.com/codemirror/CodeMirror/issues/3745#issuecomment-340389826

[2017-10-30 09:48] lukaszsobek commented on #4209
@jasonLaster Sorry, my bad - still broken on file protocol.

[2017-10-30 09:48] julienw commented on #3878
Ah, they answered that we should be in JSX mode, and this actually works in JSX mode (while JS mode still shows the same issue as initially shown). I don't know if there's any drawbacks using this mode for all JS code, I asked there.

[2017-10-30 11:53] Fischer-L commented on #3583
@jasonLaster Please see PR #4535

[2017-10-30 12:51] #2527 closed

[2017-10-30 13:56] jasonLaster commented on #3878
Thanks @julienw we can be pretty smart about the mode if we parse the source text and see a JSX node

[2017-10-30 13:56] jasonLaster commented on #3878
when was the JSX mode introduced? should we try to do this w/ 28? or jump and do it?

[2017-10-30 13:58] jasonLaster commented on #4530
Lets add a code sample and test for this. it'll be a great AST issue to share on twitter

[2017-10-30 14:10] nyrosmith commented on #3878
@jasonLaster jsx mode was introduced in [v5.11.0.](https://github.com/codemirror/CodeMirror/releases/tag/5.11.0) in Jan 2016

@julienw Are you already onto it? Otherwise I'd claim it and look if we always can always use jsx mode for javascript

[2017-10-30 14:33] julienw commented on #3878
@nyrosmith I'm not, I was just trying to make things clear :)

[2017-10-30 14:34] julienw commented on #3878
They say there shouldn't be any drawback to always use JSX, but maybe there are other implications, like performance.

[2017-10-30 14:57] nyrosmith commented on #3878
@julienw can you provide an URL I can test the changes?

[2017-10-30 14:58] nyrosmith commented on #3878
/claim

[2017-10-30 15:14] jasonLaster opened #4537 "[Redux] move redux middleware to `actions/utils`"
It would be nice to move the [middleware][m] and [create-store][c] to `src/actions/utils/`.

This will let us simplify our imports a bit

[code]

[m]:https://github.com/devtools-html/debugger.html/blob/master/src/utils/redux/middleware
[c]:https://github.com/devtools-html/debugger.html/blob/master/src/utils/create-store.js#L1

[2017-10-30 15:58] julienw commented on #3878
I don't have one easily usable online.

But here is a not-so-simple STR:
1. clone https://github.com/devtools-html/perf.html/
2. run `yarn install && yarn start`
3. with Firefox, go to http://localhost:4242/public/1ecd7a421948995171a4bb483b7bcc8e1868cc57/calltree/
4. Open the Debugger and open the file webpack > src > components > shared > TreeView.js

You'll see most of the file is blue because o

[2017-10-30 16:04] nyrosmith commented on #3878
That's fine for me. Let's see if I can improve the highlighting

[2017-10-30 16:24] princiya commented on #4488
Ok. So, I am on this styling task. Can you please assign this to me?

I am starting with this one:

[2017-10-30 17:24] jasonLaster commented on #4488
@princiya did you get an invite to the team a couple weeks ago?

[2017-10-30 17:27] #3239 closed

[2017-10-30 17:30] princiya commented on #4488
No i did not..

On 30 Oct 2017 22:55, "Jason Laster" <notifications@github.com> wrote:

[2017-10-30 18:29] nyrosmith commented on #2980
Closing as it seems we have all frameworks we initially wanted.

[2017-10-30 18:29] #2980 closed

[2017-10-30 18:30] jasonLaster commented on #2980
:confetti_ball:

[2017-10-30 18:42] nyrosmith commented on #3822
Closing as the related PR got merged.

[2017-10-30 18:42] #3822 closed

[2017-10-30 19:14] nyrosmith commented on #4376
This should be fixed via https://github.com/devtools-html/debugger.html/pull/4475

[2017-10-30 19:14] #4376 closed

[2017-10-30 20:07] jasonLaster commented on #4369
@Fischer-L is this done?

[2017-10-30 21:52] bomsy commented on #4324
A good STR
- Go to https://satin-fender.glitch.me/
- In the debugger open `client.js`
- Add a breakpoint to line 10
- refresh the browser
- After the breakpoint hits
- Add `this` to the watch expression list

AR:`this` is the global `Window` object
ER: `this` should be the instance object `a`

[2017-10-31 06:36] princiya commented on #4488
I have been trying to understand the file structure for the `search` component.

And, the `:` is coming from [here](https://github.com/devtools-html/debugger.html/blob/master/src/utils/quick-open.js#L74).

What is the best way to drop this in `ResultList`?
- Remove it from `utils/quick-open.js`?
  - There might be other dependencies involved here.
  - In other words, what is the motivation to add

[2017-10-31 11:44] lukaszsobek commented on #4537
/claim

[2017-10-31 11:46] lukaszsobek commented on #4526
/claim

[2017-10-31 11:49] lukaszsobek commented on #4417
/unclaim

[2017-10-31 13:06] Triscy commented on #4181
Meant to comment on this earlier; I can confirm that this is also an issue on Windows 10 64-bit, version 56.0.

[2017-10-31 13:14] #4417 closed

[2017-10-31 13:42] jasonLaster commented on #4488
invited!

[2017-10-31 13:46] #4297 closed

[2017-10-31 13:47] jasonLaster opened #4542 "Improve parsing speed"
Reduced [test case][t] for parsing [source][s]

It is likely that babel 7 will help us, if not we can see if we can land some perf fixes to babel.

[t]: https://yurydelendik.github.io/old-man-sandbox/babel-parse/index.html
[s]: https://github.com/yurydelendik/old-man-sandbox/blob/master/babel-parse/package.json

[2017-10-31 13:47] jasonLaster commented on #4542
CC @wldcordeiro

[2017-10-31 14:47] princiya commented on #4526
@wldcordeiro again, trying to understand the whole structure for the `search`. I am able to reproduce this bug and I want to take up this issue. Please assign it to me :)

I want to make sure, when the `close` button is clicked, the `state` is set right. In my attempt to debug, can you please help me figure out where is [this](https://github.com/devtools-html/debugger.html/blob/master/src/componen

[2017-10-31 14:48] princiya commented on #4526
Oops, I see the issue is being claimed. Never mind, but please help me understand the source for that function :)

[2017-10-31 15:59] nyrosmith commented on #4233
@jasonLaster true so let's close this until we figured out how we want to habe it

[2017-10-31 19:32] wldcordeiro commented on #4542
/claim

[2017-10-31 19:32] bzbarsky opened #4544 "[WelcomeBox] is too low-contrast"
This is the "Cmd-P to search for sources" and the like text.

The background here is rgb(249, 249, 250), looks like.  The text color is rgb(204, 209, 213).

Running through the basic calculations at https://www.w3.org/TR/AERT/#color-contrast (and note that these colors are all gray, so really color brightness is all that matters), we have a brightness of 249 for the background and a brightness of

[2017-10-31 19:36] wldcordeiro commented on #4526
@princiya I think you can most easily see this by using the project search, closing the tab/view and then investigating the store via something like the redux-devtools to see that the contents aren't cleared.

[2017-10-31 21:37] lukaszsobek commented on #4526
/unclaim

[2017-10-31 21:38] lukaszsobek commented on #4526
@princiya it's yours for taking!

[2017-10-31 21:48] lukaszsobek commented on #4384
test

[2017-10-31 21:48] lukaszsobek commented on #4384
test

[2017-10-31 21:49] lukaszsobek commented on #4384
test

[2017-10-31 21:51] lukaszsobek commented on #4384
test

[2017-10-31 21:54] lukaszsobek commented on #4384
/claim

[2017-10-31 21:57] lukaszsobek commented on #4384
/claim

[2017-10-31 21:58] lukaszsobek commented on #4384
/unclaim

[2017-10-31 22:00] lukaszsobek commented on #4384
/claim

[2017-10-31 22:01] lukaszsobek commented on #4384
/unclaim

[2017-10-31 22:03] lukaszsobek commented on #4384
/claim

[2017-10-31 22:03] lukaszsobek commented on #4384
/unclaim

[2017-10-31 22:04] stratigos opened #4545 "Utils Assert Has No Tests"
The `src/utils/assert.js` module has no tests. This function would benefit from some coverage.

[2017-10-31 22:04] stratigos commented on #4545
I have a PR for this incoming.

[2017-10-31 22:07] lukaszsobek commented on #4384
test

[2017-10-31 22:08] lukaszsobek commented on #4384
l

[2017-10-31 22:09] lukaszsobek commented on #4384
k

[2017-10-31 22:09] lukaszsobek commented on #4384
k

[2017-10-31 22:11] lukaszsobek commented on #4384
j

[2017-10-31 22:13] lukaszsobek commented on #4384
j

[2017-10-31 22:15] lukaszsobek commented on #4384
h

[2017-10-31 22:21] lukaszsobek commented on #4384
l

[2017-10-31 22:22] lukaszsobek commented on #4384
k

[2017-10-31 22:38] digitarald opened #4547 "[WASM] Show a notice on WASM/asm.js modules to refresh the page"
Before reload with Debugger open asm.js/WASM modules are not debuggable. If a user tried to debug such a module, we should show a simple notice `Please refresh to debug this module [Learn more]`.

[2017-10-31 23:38] jacobjzhang commented on #4117
I started working on this again after a rough rebase. Going to land something by end of week.

[2017-11-01 04:53] princiya commented on #4526
/claim

[2017-11-01 12:25] Fischer-L commented on #4459
@jasonLaster

Would like to know the previous discussion and have a discussion with you before proceeding, thanks. Below is my thoughts.

Checked out Chrome, looks like Chrome goes *call-stack* approach, which means as long as variables are visible from the bp's call stack (maybe closure variables, this etc), we still can preview on variables even inside far away functions, see Chrome Preview[3].

[2017-11-01 13:39] lukaszsobek commented on #3595
Maybe move the value from one place to another? :)

[2017-11-01 14:10] ahuth commented on #3375
/claim

[2017-11-01 14:31] jasonLaster commented on #4009
closing because we can do it in #3601

[2017-11-01 14:31] #4009 closed

[2017-11-01 14:55] #4506 closed

[2017-11-01 14:55] #3583 closed

[2017-11-01 15:01] yurydelendik opened #4551 "backslash \ shall be allowed in expressions"
STR:
1. Add `N\u{61}N` as watch expression
2. Add `'\u{61}'` as watch expression

Expected results:
1. `NaN`
2. `"a"`

Actual results:
1. Syntax Error
2. `"\\u{61}"`

[2017-11-01 15:02] yurydelendik commented on #4551
The sanitizeInput function has to be removed at https://github.com/devtools-html/debugger.html/blob/495339a8e958051e1aaee949fc22b6e12b6a7f48/src/utils/expressions.js#L6-L9

[2017-11-01 15:55] #4545 closed

[2017-11-01 19:46] jimblandy opened #4555 "Watch expressions should use their own packet for evaluation"
It would simplify the debugger client for the pause actor to accept a request tailored for evaluating watch expressions. This packet would take an array of source expressions, and return an array of completion values. The packet would disable pause-on-exception behavior, and handle breakpoint hits by terminating evaluation of the expression, and reporting the hit, perhaps as an additional sort of

[2017-11-01 20:03] jasonLaster opened #4556 "[pause] Refactor state"
We can clean some things up here:

- stop storing pauseInfo
- store why directly

[2017-11-02 03:27] Fischer-L commented on #4369
@jasonLaster Yes, this bug is done with PR #4381. Sorry I though you were referring to the bug #4459 so replied on the bug #4459 only.

[2017-11-02 08:18] nchevobbe commented on #4282
Here is another STR (not sure if it is exactly the same issue):

1. Go to [this page](data:text/html,<script>for(let i=0; i<10;i++) {console.log(i);}</script>Hello)
2. Open the debugger
3. Open the only file in the source tree `script>Hello`
4. Notice there is no pretty print button, and the file shows the `<script>` tags as well as the "Hello" (user should expect to only have the script content)

[2017-11-02 08:18] nchevobbe commented on #4282
See also https://discourse.mozilla.org/t/pretty-print-javascript-in-script-tags-in-a-webpage-ff-56-0-2/21087

[2017-11-02 08:26] nchevobbe commented on #1427
If someone wants to work on this, I can mentor them :)

[2017-11-02 09:33] lukaszsobek commented on #4384
test

[2017-11-02 09:34] lukaszsobek commented on #4384
h

[2017-11-02 09:37] lukaszsobek commented on #4384
f

[2017-11-02 09:40] lukaszsobek commented on #4384
;

[2017-11-02 09:41] lukaszsobek commented on #4384
j

[2017-11-02 09:44] lukaszsobek commented on #4384
test

[2017-11-02 10:13] Fischer-L commented on #4459
@jasonLaster

#### Special common case update:

The `this` resolution case may be considered as another thread or topic because it has to do with how we'd like to resolve `this`.

Consider this code example:
[code]

When previewing at the bp A,

- in our devtool, `this` will be resolved to the global `window`, see [1] FF_THIS_RESOLUTION
- in Chrome devtool, `this` will resolved to the `currency` o

[2017-11-02 13:29] jasonLaster commented on #4459
Thanks for the analysis @Fischer-L,

[code]

If we pause on line 9, I would expect `offestNums` to be in scope, but `n` and `this.offset` to be out of scope.

Lets look at this case later :)

[2017-11-02 13:44] #4369 closed

[2017-11-02 15:36] jasonLaster commented on #4024
this was addressed by our waitForPaused work

[2017-11-02 15:36] #4024 closed

[2017-11-02 15:38] jasonLaster commented on #1069
closing as this is a question for the launchpad

[2017-11-02 16:10] jasonLaster commented on #4284
profile:
https://perfht.ml/2hy9t0W

[2017-11-02 16:23] jasonLaster opened #4560 "[QuickOpen] `?` should show options"
VS Code and Chrome do a great job of showing possible commands with `?`

We should do the same thing.

<img src='https://shipusercontent.com/ceb5b7d6c605f16aacf7a6a78c2fe651/Screen%20Shot%202017-11-02%20at%2012.21.21%20PM.png' title='Screen Shot 2017-11-02 at 12.21.21 PM.png' width=731>

---

<img src='https://shipusercontent.com/52a47f22149ce874bf258ca900af6364/Screen%20Shot%202017-11-02%20at%201

[2017-11-02 16:36] lukaszsobek commented on #4384
#enhancement

[2017-11-02 16:40] lukaszsobek commented on #4384
#enhancement

[2017-11-02 16:45] lukaszsobek commented on #4384
#enhancement

[2017-11-02 16:47] lukaszsobek commented on #4384
#enhancement

[2017-11-02 16:48] lukaszsobek commented on #4384
#enhancement

[2017-11-02 16:49] lukaszsobek commented on #4384
/enhancement

[2017-11-02 16:50] lukaszsobek commented on #4384
#enhancement

[2017-11-02 16:50] lukaszsobek commented on #4384
#enhancement

[2017-11-02 16:52] lukaszsobek commented on #4384
#enhancement

[2017-11-02 19:01] pradeepgangwar commented on #4560
@jasonLaster I have not done something big change to this code repository. So although i may be knowing little about fixing it. But I would like to try it and learn something. Please guide me a little to start. And i will try it if i can fix it.

[2017-11-02 19:02] jasonLaster commented on #4560
Great, @wldcordeiro will mentor this issue, but I would start by working on QuickOpen showing a list of buttons

- jump to go to line,
- jump to sources

these actions are all in redux :)

[2017-11-02 19:36] pradeepgangwar commented on #4560
@jasonLaster If i am right, main task is to open a drop down suggestion list when user types **?**

[2017-11-02 19:58] wldcordeiro commented on #4560
@pradeepgangwar I'll update this with a patch later today for you to base off but the overview goes like this
1. User opens quick open modal (cmd+p)
2. User enters `?`
3. A list shows up that show our options
  * `@ for functions`
  * `# for variables`
  * `: for go to line`
  * `term: search for term and go to line`
4. User arrows down to option and hits enter
5. Quick open updates its query to u

[2017-11-02 20:59] jasonLaster commented on #4556
here are some notes

[code]

[2017-11-02 21:00] lukaszsobek commented on #4556
/claim

[2017-11-02 21:12] jasonLaster opened #4568 "Replace Object.assign w/ Object.spread"
We are using spread as a convention, so it would be nice to switch the remaining places over:

Here is a branch where i started
https://github.com/jasonLaster/debugger.html/tree/remove-assign

[2017-11-02 21:28] lukaszsobek commented on #4568
/claim

[2017-11-02 23:47] jasonLaster opened #4570 "[Preview] Popup can flash if you’re off center"
We might have filed this in another place, but I couldn't find it so filing again:

STR:
1. pause
2. hover on a pause token (move the mouse to the border of the token top,bottom)...

![](http://g.recordit.co/XhZSLCUM7E.gif)

[code]

[2017-11-03 02:03] darkwing opened #4571 "Idea: Use Icons within Tabs Dropdown"
<img width="730" alt="context" src="https://user-images.githubusercontent.com/46655/32358109-1f765532-c011-11e7-95aa-65b6dd0bdcc5.png">

In the overflow tabs menu, I think it would be sweet to show the pretty print icon for pretty printed tabs.

[2017-11-03 02:08] jasonLaster commented on #4571
hmm... i kinda want to kill this dropdown and put the open tabs in the new quick open modal:

cmd+p would open the modal w/ the open tabs on the top of the list

@wldcordeiro thoughts

[2017-11-03 02:09] darkwing commented on #4571
Relying on Command+P is difficult as there's no visual cue, if I'm understanding you correctly.

[2017-11-03 02:10] jasonLaster commented on #4571
yep... agreed. I guess every editor does it differently, and i feel i don't miss it when its not there. e.g. sublime

[2017-11-03 02:12] darkwing opened #4572 "Provide Additional Source Details in Footer"
<img width="979" alt="emptyspace" src="https://user-images.githubusercontent.com/46655/32358227-51e67758-c012-11e7-9c04-2d7b02f0f73f.png">

There's an amazing opportunity, IMO, to provide a bit more detail about each source in the editor area footer.  What info...I'm not quite sure yet.  File size, compression (gzipped or not), maybe a link to the network tab, etc.

I'm thinking we should figure o

[2017-11-03 02:15] darkwing commented on #4453
IMO this should lean toward P1-ish -- not focusing on the pretty-printed tab is inconvenient and a bit frustrating.

[2017-11-03 02:27] darkwing opened #4573 "[PrettyPrint] and New Source Scrolling"
I think I've nailed this down but if you open a source, then pretty print it, switch to the pretty print tab and scroll down to line 300ish, then pretty print another source, the new pretty printed source will be shown at line 300ish.

Newly created tabs should always start showing line 1.

[2017-11-03 08:42] lukaszsobek commented on #4384
#enhancement

[2017-11-03 12:28] magicp-github opened #4575 "Class name "watch-expressions-pane" is different in each locales, because it is translated"
**Steps to reproduce:**
Confirm class name "watch-expressions-pane" in each locales.

**Actual Results:**
In Japanese, "watch-expressions-pane" is "監視式-pane".
![watch-expressions-pane-class-name](https://user-images.githubusercontent.com/13914314/32373593-4dde245a-c0dd-11e7-927b-4a449b66dfa7.png)

**Expected Results:**
"watch-expressions-pane"

[2017-11-03 13:11] jasonLaster commented on #4572
Yep, agreed

- we're adding a link back to the generated file if it is original soon
- we're moving the cmd+f search bar down there

there's still space tho

[2017-11-03 13:24] jasonLaster commented on #4453
are these issues tracked elsewhere? if so can we add their iddue ids?

[2017-11-03 17:38] jasonLaster opened #4579 "[Editor] Remove Breakpoint Editor management"
The breakpoint component will attempt to show the source text if it is not available: [here][h]

[code]

This was done to accommodate some weird edge cases prior to cleaning up the editor's lifecyle. We should be able to safely remove it now.

[h]: https://github.com/devtools-html/debugger.html/blob/master/src/components/Editor/Breakpoint.js#L55

[2017-11-03 19:57] #4396 closed

[2017-11-03 20:38] #4435 closed

[2017-11-03 20:40] #4259 closed

[2017-11-03 20:44] nyrosmith commented on #4300
@jasonLaster is this done? The PR is merged...

[2017-11-03 20:45] #4300 closed

[2017-11-03 21:23] jimblandy commented on #4324
This looks like a bug in the Debugger API to me. We're definitely evaluating `try { this } catch (e) { e }` in the frame for `Test::run`, and getting the global window.

I changed the code around the call to `evalWithBindings` in devtools/server/actors/webconsole.js` to read:
[code]
(imagine appropriate definitions for describeDV and describeDF) and got the following output:
[code]
Note that the `

[2017-11-04 00:13] #4436 closed

[2017-11-04 00:19] jasonLaster commented on #4324
it would be nice to reproduce this issue in the console  as well. as in, when paused does the same behavior occur there too.

[2017-11-04 00:46] bomsy commented on #4324
Yeah I tested in the console, when paused. We get the same thing.

[2017-11-04 02:46] jasonLaster opened #4583 "[Preview] the carat is off center"
It looks like the preview carat is off center for event handlers, or basically any one letter variable.

STR:
1. go here https://event-handler.glitch.me/
2. click the button :mouse2:

Here's another [example](https://small-vals.glitch.me/) of vars that look fine.

[code]

<img src='https://shipusercontent.com/df7da43fe2e07e10973a1d1173f5ff03/Screen%20Shot%202017-11-03%20at%2010.44.39%20PM.png' tit

[2017-11-04 09:07] #4287 closed

[2017-11-04 11:28] nyrosmith commented on #3601
/unclaim

[2017-11-04 15:19] jasonLaster commented on #4242
@khal0988 is working on it

[2017-11-04 15:19] jasonLaster commented on #3305
@jainsneha23 is working on it

[2017-11-04 15:47] DavideDeCenzo commented on #4583
/claim

[2017-11-04 21:15] jasonLaster opened #4587 "Intermittent src/components/tests/QuickOpenModal.spec.js"
We're seeing an intermittent in the `QuickOpenModal.spec.js` with `resizeBreakpointGutter` call.

[code]

[2017-11-04 21:48] jasonLaster commented on #4326
Hey @jordanch just following up to see how it's going. Also, we invited you to our community team a couple weeks ago :) you should see the invite in your inbox

[2017-11-04 21:49] jasonLaster commented on #4292
Hey @aagandhi1 just following up to see how it's going.

[2017-11-04 21:53] jasonLaster commented on #4189
closing as it's fast on netflix and i can't repro on https://pudding.cool/2017/03/hamilton/index.html

STR:
- Go to netflix.com
- Open devtools debugger
- Find script codex.nflxext.com -> 2.0.0/truthbundle -> akira -> common/bootstrap.js
- Ctrl+F to search source code
- Type 's' 't'

![](http://g.recordit.co/32wOxagAzE.gif)

[2017-11-04 21:53] #4189 closed

[2017-11-04 21:58] jasonLaster commented on #4171
:wave: @peterschussheim, just checking in to see how it's going and if you have any questions.

Also, if you're currently busy, feel free to `/unclaim` the issue. You can always `/claim` another one later. And, this is OSS, we're guilt free!

Also, always happy to chat on [slack] or in a 'hangout!

[slack]: https://devtools-html-slack.herokuapp.com/

[2017-11-04 22:06] jasonLaster commented on #4022
:wave: @borian, just checking in to see how it's going and if you have any questions.

Also, if you're currently busy, feel free to `/unclaim` the issue. You can always `/claim` another one later. And, this is OSS, we're guilt free!

Also, always happy to chat on [slack] or in a 'hangout!

[slack]: https://devtools-html-slack.herokuapp.com/

[2017-11-04 22:07] jasonLaster commented on #3978
:wave: @diessica, just checking in to see how it's going and if you have any questions.

Also, if you're currently busy, feel free to `/unclaim` the issue. You can always `/claim` another one later. And, this is OSS, we're guilt free!

Also, always happy to chat on [slack] or in a 'hangout!

[slack]: https://devtools-html-slack.herokuapp.com/

[2017-11-04 22:08] #3576 closed

[2017-11-04 22:09] jasonLaster commented on #3307
:wave: @ryanjduffy, just checking in cause it looks like this issue might have fallen off the radar. If you're busy w/ the parser work, we can take your head off this.

[2017-11-04 22:11] jasonLaster commented on #3307
Also, you should have an invitation to the community team in your inbox
![screen shot 2017-11-04 at 6 10 26 pm](https://user-images.githubusercontent.com/254562/32409883-821440b6-c18b-11e7-9b0c-b984280b0dd7.png)

[2017-11-05 00:19] bomsy commented on #4033
/claim

[2017-11-05 02:08] #4587 closed

[2017-11-05 02:28] arthur801031 commented on #4528
/claim

[2017-11-05 05:40] Fischer-L commented on #4532
/claim

[2017-11-05 07:11] gurumukhi opened #4592 "Duplicate question on md file"
File: https://github.com/devtools-html/debugger.html/blob/master/docs/getting-setup.md

Section: 'Step 1. Installing the Debugger'

Line to remove: 'What should I do if I get an error?'

Why?: This question is answered in next section 'Step 2. Start the Debugger'

[2017-11-05 07:18] aagandhi1 commented on #4292
On Sat, Nov 4, 2017 at 5:49 PM Jason Laster <notifications@github.com>
wrote:

Hey
Everything is going great. Well as you know the Clg is on strike so I am
kind of not working on my second bug. However, I will post my code for the
first bug soon.

[2017-11-05 09:00] lukaszsobek opened #4594 "Ignore this!"
Test issue for opening an issue.

[2017-11-05 09:08] #4594 closed

[2017-11-05 22:46] jasonLaster opened #4597 "[Breakpoints] Extract Context menu"
We recently extracted the Editor Gutter Menu into its own component and it became much easier to understand.

The Breakpoints gutter menu is 200+ lines and would be great to simplify [here](https://gist.github.com/29e9a9ad7a0b07e8c7764740139d9896)

[2017-11-06 01:03] tohmjudson commented on #4570
/claim
Going to give this one a try

[2017-11-06 01:48] jasonLaster commented on #4570
Thanks! I've looked at it a bit and i'm finding it hard to reproduce...

You might need to artifically slow different things down to see where it can come from...

e.g. getSymbols setPreview, client.evaluate...

[2017-11-06 06:54] jordanch commented on #4326
Hi @jasonLaster - it's going, albeit slowly!

Thank you! I received and accepted, woot!

[2017-11-06 08:56] magicp-github opened #4599 "Portrait mode does not enable automatically when restarting Debugger"
**Steps to reproduce**
1. Start latest Nightly
2. Open Debugger (Ctrl+Shift+S)
3. Set "Dock to side of browser window"
4. Resize width of Developer Tools until Portrait mode
5. Close Developer Tools
6. Open Debugger again (Ctrl+Shift+S)

**Actual Results**
Portrait mode does not enable automatically when restarting Debugger.

**Expected Results**
Enable

[2017-11-06 15:21] nyrosmith commented on #4579
/claim

[2017-11-06 16:10] #4517 closed

[2017-11-06 16:11] #3878 closed

[2017-11-06 16:14] #4537 closed

[2017-11-06 16:56] jasonLaster commented on #4326
Great!

Out of curiosity, what have you learned so far about breakpoints? It's a complicated part of the project :)

[2017-11-06 17:47] peterschussheim commented on #4171
Hey @jasonLaster, I apologize for forgetting about this one. I am going to refresh my memory on this one during the afternoon and will update shortly after. 👍🏼

[2017-11-06 19:07] yurydelendik commented on #4519
I still can observe this issue in the nightly

[2017-11-06 21:42] violasong opened #4604 "[Outline] Change param color to magenta"
We're trying to keep red for errors only, so it would be great if we could change the red params in Outline to syntax magenta (var(--theme-highlight-red)).

<img width="257" alt="image" src="https://user-images.githubusercontent.com/55994/32465179-73045864-c2f7-11e7-8884-c767c3b0fa8c.png">

(Ideally it would match the syntax highlighting, but in the code it looks like this is just colored as blue

[2017-11-06 21:53] jasonLaster commented on #4604
Nice idea!

[2017-11-06 22:27] lukaszsobek commented on #4575
/claim

[2017-11-06 23:14] magicp-github opened #4607 "menuitem "Jump to original location" has no id"
**Steps to reproduce:**
Inspect menuitem "Jump to original location"

**Actual Results:**
menuitem "Jump to original location" has no id. It is difficult to identify a menuitem in other locales.
![jump-to-original-location](https://user-images.githubusercontent.com/13914314/32468792-12e76e3e-c393-11e7-9e5b-4cc1e74c4120.png)

**Expected Results:**
It should have id.

[2017-11-07 00:01] jasonLaster opened #4608 "[Editor] add selectLocation"
We use `actions.selectSource(sourceId, {location: {line, column}})` in a lot of places. I mean a lot a lot of places: stepping, selecting a breakpoint, search, ....

It would be nice to have a simpler API that assumes you want to jump to a `Location` as defined in `debugger-html`.

[code]

for the time being we can have it call `selectSource`.

[code]

Refactoring this function will require refact

[2017-11-07 00:58] magicp-github opened #4609 "Hide scrollbar of Dropdown when no overflow"
**Steps to reproduce:**
1. Launch Nightly on Windows
2. Open multiple tabs until displaying Dropdown button
3. Open Dropdown

**Actual Results:**
Scrollbar always visible.
![dropdown](https://user-images.githubusercontent.com/13914314/32471544-37030aa4-c3a1-11e7-899c-2b17bcafab95.png)

**Expected Results:**
Hide scrollbar when no overflow.

**Regression:**
[Tabs] files do not overflow #3625

[2017-11-07 01:18] magicp-github commented on #1877
I can reproduce this issue with the latest Nightly build.

[2017-11-07 02:59] bomsy commented on #4324
/unclaim

[2017-11-07 03:16] digitarald commented on #4387
@jasonLaster

- Could you give the profile a glance to look for other root causes that could make this issue actionable?
- What do you think about the idea of changing the heuristics? You mentioned concerns about delaying the tooltip?
- Might there are learnings from past optimizations to address the 3 issues identified?

[2017-11-07 03:57] jasonLaster commented on #4387
Good Idea. I was thinking about investigating the perf bugs (including opening the debugger) tomorrow

[2017-11-07 04:23] digitarald opened #4610 "Investigate slow pausing performance"
STR (a stress test):
- Go to inbox.google.com
- Paused in the Debugger
- Nearly 10sec hang, first time it caused a slow script dialog depending on which script you hit

https://perfht.ml/2zCZ52O

- `onPrototypeAndProperties resource://devtools/server/actors/object.js` takes 1 second in the content process
- `getChildren resource://devtools/client/debugger/new/debugger.js` takes 400ms on main
- *Re

[2017-11-07 05:28] digitarald commented on #3991
Tried different cases of clicking from Console logs to the JS source and could not reproduce a noticeable super long hangs anymore (just long delays on loading the sources).

[2017-11-07 07:16] magicp-github opened #4612 "toggle-button-end is not displayed when displaying welcomebox in portrait mode"
**Steps to reproduce:**
1. Launch latest Nightly
2. Open Debugger with portrait mode (Dock to side of browser window)
3. Close all tabs

**Actual Results:**
toggle-button-end is not visible.
![toggle-button-end](https://user-images.githubusercontent.com/13914314/32481425-99609a1a-c3d6-11e7-8ac0-540427ac7d9f.png)

**Expected Results:**
toggle-button-end is visible in the bottom-end of welcomebox.

[2017-11-07 15:38] #3988 closed

[2017-11-07 15:39] jasonLaster commented on #3988
Slack is now reasonably fast.

[2017-11-07 18:14] lukaszsobek commented on #4608
/claim

[2017-11-07 20:41] #3462 closed

[2017-11-07 21:55] juliandescottes commented on #4453
Some other pretty print issues:

![debugger_pretty_print](https://user-images.githubusercontent.com/1141550/32519718-ef09491c-c40d-11e7-9209-b70f9493a74d.gif)

STRs:
- pretty print script.js
- close the pretty print tab
- add a breakpoint in the first line of startAnimationTimer
- step over repeatedly

The pretty print tab comes back, despite being closed in step 2. The focus switches back and for

[2017-11-07 22:01] jasonLaster opened #4615 "[PrettyPrint] pretty file stays in focus"
STRs:
- pretty print script.js
- close the pretty print tab
- add a breakpoint in the first line of startAnimationTimer
- step over repeatedly

The pretty print tab comes back, despite being closed in step 2. The focus switches back and forth between the two tabs.

The script I use to get this behavior is
[code]

served in an empty html file.

(needs to be a bit complex in order to trigger the swi

[2017-11-07 22:20] jasonLaster opened #4616 "[Outline] selecting a function does not highlight the line"
Selecting a function in the outline list does not highlight the line. I think this is because we changed `selectSource` and didn't update this spot.

See this [pr](https://github.com/devtools-html/debugger.html/issues/4598).

It would be nice to add a mochitest for outline view when we fix this.

[code]

![Screen Shot 2017-11-07 at 5.16.45 PM.png](https://shipusercontent.com/daa5f0962c0175c3fb202e

[2017-11-07 22:24] jasonLaster opened #4617 "[WatchExpressions] are intermittent"
the watch variables seem to be subject to race conditions. Variables that should be defined show up as unavailable

1. go to [timers](https://dbg-timers.glitch.me/)
2. add a bp on client/12
3. add `id` expression
4. pause and resume...

![](https://bug1415300.bmoattachments.org/attachment.cgi?id=8926094)

[2017-11-07 22:30] jasonLaster commented on #4617
@juliandescottes this does not repro yet...

[2017-11-07 22:38] juliandescottes commented on #4617
@jasonLaster try with https://www.piskelapp.com/ break on piskel-animated-preview, line 39

[2017-11-08 05:30] magicp-github opened #4619 "[PrettyPrint] uncaught exception: SyntaxError: Unexpected character '`' (709:32)"
**Steps to reproduce:**
1. Launch Nightly
2. Navigate to "about:home" (about:newtab)
3. Open Debugger (Ctrl+Shift+S)
4. Open "resource://activity-stream/data/content/activity-stream.bundle.js"
5. Click Pretty Print button
6. Check Browser console log

**Actual Results:**
Pretty Print does not work.
console log: uncaught exception: SyntaxError: Unexpected character '`' (709:32)  (unknown)

**Expect

[2017-11-08 11:49] juliandescottes commented on #4617
You can use this isolated example: https://daisy-speedboat.glitch.me/

[2017-11-08 14:22] peterschussheim commented on #4171
/unclaim

[2017-11-08 14:49] bomsy commented on #4171
/claim

[2017-11-08 19:45] jasonLaster opened #4629 "[bundle] debugger.js is too large"
The firefox debugger bundle has always been difficult to understand.

* why is it so many lines?
* what packages make it large?
* why are those packages included?

There are some good tools and we should improve some of the documentation around investigating these questions.

- [x] document best practices
- [x] we should lint for bundles growing too large...

There are also some known issues

- [x

[2017-11-08 19:52] jasonLaster opened #4630 "[Menu] switch to using devtools-contextmenu"
we should switch `devtools-launchpad` to `devtools-contextmenu`. Should just work

[code]

[2017-11-08 19:53] jasonLaster opened #4631 "[flow] drop react-immutable-types"
We are switching from PropTypes to Flow, so we should try and drop Improptypes. The good news is we'll also be able to save some space too.

[code]

[2017-11-08 20:50] jasonLaster commented on #4629
### Some Tools

![Screen Shot 2017-11-08 at 9.42.07 AM.png](https://shipusercontent.com/05ace0ec040dc7af3067cb50b528d717/Screen%20Shot%202017-11-08%20at%209.42.07%20AM.png)

![Screen Shot 2017-11-08 at 9.41.09 AM.png](https://shipusercontent.com/d00336549a3b754be1d6669c1dee2fd7/Screen%20Shot%202017-11-08%20at%209.41.09%20AM.png)

[2017-11-09 01:05] #4022 closed

[2017-11-09 09:11] sharathnarayanph commented on #4631
/claim

[2017-11-09 11:40] juliandescottes opened #4639 "Clicking on a URL in the scopes panel replaces the debugger"
STRs:
- go to mozilla.org
- break anywhere
- go to Scopes panel, find window > location >href
- click on a link

The URL gets loaded and replaces the debugger UI. Only way to restore the debugger is to close and reopen the toolbox.

See attached GIF

![debugger_navigates_to_url](https://user-images.githubusercontent.com/1141550/32603742-2cf817c4-c54b-11e7-92ee-bba9d23c74d3.gif)

[2017-11-09 11:58] juliandescottes commented on #4639
This should be fixed by https://github.com/devtools-html/devtools-core/commit/bc7bb952d66685c709216a675b3d674856df1c32 which was released in devtools-reps 0.14.0

It adds an omitLinkHref prop to the String rep, which is true by default.

[2017-11-09 12:04] juliandescottes commented on #4639
Looks like 0.14.0 brings some non-backward compatible changes (new props for ObjectInspector), and I'm not sure how we feel about bringing a new version in at the last minute. I would really like that to be fixed before we branch FF58 though.

@nchevobbe how would feel about doing a v0.12.4 release of reps only with the fix for  omitLinkHref ?

[2017-11-09 15:12] jasonLaster opened #4642 "[wasm] re-enable mochitest"
We recently disabled it because it was intermittent

[2017-11-09 15:21] jasonLaster commented on #4642
### Passing Test

[code]

### Failing Test

[code]
[code]

[2017-11-09 17:11] #4568 closed

[2017-11-09 17:13] #4575 closed

[2017-11-09 17:38] jasonLaster opened #4647 "[PrettyPrint] pretty printing a source should open the pretty printed tab"
Clicking the pretty print icon doesn't focus on the newly created pretty print tab

We used to support this, but i think we regressed recently.

[2017-11-09 18:02] jasonLaster commented on #4647
Alright, so i narrowed the bug down to `selectSource` not selecting the source :)

I also added some mochitest stuff so it's easy to run `yarn mochid browser_dbg-pretty-print.js` and `yarn mochih browser_dbg-pretty-print.js`

[mochitests](https://github.com/devtools-html/debugger.html/blob/master/docs/mochitests.md)

I think the fix will likely be in `reducers/sources`

[code]

[2017-11-09 19:18] #4420 closed

[2017-11-09 19:30] digitarald opened #4649 "Feature debugger playground & MDN docs on Welcome screen"
I'd like to experiment in how many people would click through to external sites that we recommend. This should appear as a new line under the keyboard helpers, maybe in some tips & tricks like styling.

First shot at word-smithing:

"Level up your JavaScript debugging skills in the [Firefox Debugger Playground](https://mozilladevelopers.github.io/playground/debugger) or read the [documentation on

[2017-11-09 19:41] #3390 closed

[2017-11-09 19:42] #2925 closed

[2017-11-09 19:43] #3755 closed

[2017-11-09 19:45] #4528 closed

[2017-11-09 19:45] #4482 closed

[2017-11-09 20:14] khal0988 commented on #4630
/claim

[2017-11-09 21:39] jasonLaster opened #4651 "[Stepping] The call stack should not automatically open"
We decided last fall that it would be nice to open the call stack when the debugger paused. We recently got feedback that this could be frustrating if the user does not want to see the stack in this debugging session. I think it would be nice to keep that in mind and not just open it.

[code]

[2017-11-09 21:45] bomsy commented on #4171
/unclaim

[2017-11-09 22:00] James300 commented on #3696
/claim

[2017-11-09 22:42] FireWolf74 opened #4652 "Firefox spitting out the following."
When I try to run certain Flash games this is what spits out at me.

###!!! [Parent][MessageChannel] Error: (msgtype=0xA4000A,name=PPlu
###############Promise resolved after context unloaded! [Parent][MessageChannel::Call] Error: Channel error: cannot send/recv! [Parent][MessageChannel::Call] Error: ( msgtype=0xA20001,name=PPluginInstance::Msg___delete__ ) Channel error: cannot send/recv! [Parent]

[2017-11-09 23:06] jasonLaster commented on #4652
Hi @FireWolf74, Debugger.html is a project for the debugger frontend. This bug is a devtools bug and should be filed in bugzilla.mozilla.org under the Firefox DevTools Product.

[2017-11-09 23:06] #4652 closed

[2017-11-09 23:55] jasonLaster commented on #3991
I found one :)

when the debugger is open locally

[2017-11-10 00:23] jasonLaster commented on #3992
working on improving this UI:

![screen shot 2017-11-09 at 7 22 14 pm](https://user-images.githubusercontent.com/254562/32636559-5b637bb6-c583-11e7-99ec-9d829a5ce928.png)

[code]

[2017-11-10 00:37] jasonLaster commented on #4440
STR:
1. go to https://discourse.mozilla.org/t/things-i-miss-about-firebug/17233
2. go to console and click on the error link

ER: go to line 17,771
AR: go to line 1

![screen shot 2017-11-09 at 7 36 42 pm](https://user-images.githubusercontent.com/254562/32636980-5d792afc-c585-11e7-81d3-162e1900835b.png)

it's not slow

[2017-11-10 00:55] digitarald commented on #3984
Duplicate of #4387

[2017-11-10 00:55] #3984 closed

[2017-11-10 01:06] digitarald opened #4654 "[Console] Following link to large file from Console doesn't react for a while"
STR:

- Fresh Nightly profile
- Open https://discourse.mozilla.org/t/things-i-miss-about-firebug/17233
- Open Console
- Click the file for the Ember tooling notice
- Keep clicking

<img width="678" alt="image" src="https://user-images.githubusercontent.com/8599/32637509-05e33b54-c56f-11e7-99de-2dbcf89705d1.png">

AR:

- Nothing happens for me, for about 10sec, then Debugger opens with the file (no

[2017-11-10 01:07] digitarald commented on #4654
Same on Github, takes 3sec to click:

<img width="1014" alt="image" src="https://user-images.githubusercontent.com/8599/32637735-64a1c916-c570-11e7-95f6-81f2be4a22ae.png">

[2017-11-10 04:47] jasonLaster opened #4658 "[intermittent] browser_dbg-chrome-create"
We saw one report [here](https://travis-ci.org/devtools-html/debugger.html/builds/299986712?utm_source=github_status&utm_medium=notification)

We have not seen this test fail before on Try or Travis

[code]

[2017-11-10 12:50] amitzur opened #4659 "Show the number of stack frames in the collapsed framework frame group"
I though it would be nice to show the number of collapsed frames.
Going to file a PR now.

See in these screenshots:
![screen shot 2017-11-10 at 2 39 21 pm](https://user-images.githubusercontent.com/394320/32659226-6b6cefe4-c626-11e7-8ce9-15e8c3df20aa.png)
![screen shot 2017-11-10 at 2 39 28 pm](https://user-images.githubusercontent.com/394320/32659227-6bddda2e-c626-11e7-83f5-76d517dcde89.png)

[2017-11-10 13:17] amitzur commented on #2980
Can we add to this list:
- [ ] MobX

There's the icon here:
https://cdn.worldvectorlogo.com/logos/mobx.svg

[2017-11-10 13:37] nyrosmith commented on #2980
@amitzur Mind creating a New issue? Otherwise this will stay open until no more frameworks get created :-)

[2017-11-10 13:40] amitzur commented on #2980
Sure :) Wasn't sure what was the right way to go

[2017-11-10 13:42] amitzur opened #4661 "[Framework Frames] Add MobX logo"
In continuation to the work in #2980, let's add also MobX's logo. It can be found here in SVG format:
https://cdn.worldvectorlogo.com/logos/mobx.svg

Example in this PR: #2886

[2017-11-10 16:00] jasonLaster opened #4662 "Improve Firefox Panel development workflow"
At the moment, we encourage contributors to work on the debugger in the launchpad. This has a lot of benefits, but it has some drawbacks too:

* it is not clear how to debug panel issues
* it is not clear that the debugger is the firefox debugger

Tasks:
- [ ] We should improve the docs so that it is clear it is the firefox debugger
- [ ] improve the workflow for building and running firefox [scri

[2017-11-10 16:30] jasonLaster opened #4663 "[intermittent] browser_dbg-preview has an intermittent leak"
We see a leak occassionally w/ the preview test. My theory is that it is because the test finishes while paused or potentially fetching properties.

[code]

[2017-11-10 16:33] jasonLaster opened #4664 "[intermittent] quick open is intermittent"
We saw an intermittent w/ quick-open where we check for the selected source:

The issue is that we assume the source that we select has loaded, but the screenshot shows that it has not.

![Screen Shot 2017-11-10 at 11.33.00 AM.png](https://shipusercontent.com/dcb7af3d79273ce07fe2b6e64c68db16/Screen%20Shot%202017-11-10%20at%2011.33.00%20AM.png)

![Screen Shot 2017-11-10 at 11.32.51 AM.png](https://

[2017-11-10 17:38] hughugsy commented on #4647
/claim

[2017-11-10 18:48] eoger opened #4666 "Debugger not loading"
This is in the browser toolbox. Restarting Firefox doesn't help.
The last command I typed in the console was: `fetch("https://localhost:12345").catch(e => { debugger })`.

<img width="986" alt="screen shot 2017-11-10 at 1 47 37 pm" src="https://user-images.githubusercontent.com/6424575/32673587-bf46b13a-c61d-11e7-9d43-47eda1ab8365.png">

[2017-11-10 19:16] eoger commented on #4666
I think it might be caused by breakpoints I put in a file in another patch then changed my branch.

[2017-11-10 22:47] jasonLaster commented on #4666
hmm, strange. could you file the bug in the bugzilla debugger. as this is a `server` bug. We'll be sure to look into it though.

[2017-11-10 22:47] #4666 closed

[2017-11-10 23:57] jasonLaster commented on #4151
[code]

[2017-11-11 00:15] jasonLaster commented on #3800
###  5. Show component instances in the sidebar. New pane showing all instances of a component.

[code]

[2017-11-11 07:28] ryanjduffy commented on #3307
I haven't looked at this but I will next week

[2017-11-11 08:32] Fischer-L commented on #4651
/claim

[2017-11-11 08:45] Fischer-L commented on #4607
/claim

[2017-11-11 09:17] Fischer-L commented on #4609
/claim

[2017-11-11 09:23] Fischer-L commented on #4597
/claim

[2017-11-11 12:38] #4607 closed

[2017-11-11 13:22] #4630 closed

[2017-11-11 17:19] bomsy commented on #4171
[code]

[2017-11-11 17:30] jasonLaster commented on #3800
It's absolutely okay to have several ppl working on it as long as we're talking and sharing what we learn :)

[2017-11-12 15:02] decadef20 commented on #3800
I am trying to finish #5

[2017-11-12 16:47] jasonLaster commented on #3800
here are some notes on how we get the react preview.

[code]

[2017-11-12 17:09] lukaszsobek commented on #4556
/unclaim

[2017-11-13 05:14] digitarald opened #4679 "Hang when entering pausing"
STR:

- Open Bugzilla bug
- Hit Pause in Debugger
- Scroll down

ER:
- Debugger jumps into paused state quickly

AR:
- 5s hang

https://perfht.ml/2zB4qqC

This profile is a hang after clicking one too many times on pretty print and reverting the printing with the 2nd click: https://perfht.ml/2zDpL2H , same pattern.

Most hang time spent in `showSourceText`: 50% `replaceDocument`, 30% `setMode`, 13

[2017-11-13 08:14] legnaleurc opened #4680 "Avoid spamming IPC messages on busy pages"
I found a page which has a script looks like:
[code]
When I trying to open the debugger, it causes parent process using 100% CPU.
https://perfht.ml/2hnZ5bG

However Chrome plays well on this page.

[2017-11-13 16:40] S2- opened #4681 "Search across all files is not present"
**problem**
ctrl+shift+f does not search across all files

**expected result**
ctrl+shift+f should search across all files, and not just the open one.

[2017-11-13 16:53] jasonLaster commented on #4681
Hi @S2- I am not sure that this is a common interaction. We are trying to follow similar interactions to editors.

[2017-11-13 16:55] S2- commented on #4681
Hi @jasonLaster that's ok. What I am missing is the "search a string in all loaded js files". How I do that is not really important, but it would be nice if I can *somehow* do it.

[2017-11-13 16:57] jasonLaster commented on #4681
Yep - cmd+shift+f does that and it should be documented in the welcome page and shortcuts modal. With that said, if you need docs... it is not clear enough. I'll see what we can do :)

[2017-11-13 16:57] #4681 closed

[2017-11-13 17:06] #4201 closed

[2017-11-13 17:07] jasonLaster commented on #3987
closing as we'll get to this when we do project search

[2017-11-13 17:07] #3987 closed

[2017-11-13 17:09] jasonLaster commented on #4171
A good STR is

1. go to http://devtools-html.github.io/debugger-examples/examples/todomvc/
2. select bower_components/backbone/local-storage

[2017-11-13 18:03] ahuth commented on #3375
/unclaim

[2017-11-13 19:00] assafdd commented on #4171
/claim

[2017-11-13 19:08] #4659 closed

[2017-11-13 19:39] lukaszsobek commented on #4141
/claim

[2017-11-13 21:00] ryanjduffy commented on #3307
Published `parse-script-tags@0.1.4` with a fix for ignoring `<script>`s with non-JS types. Need to test with devtools and put together a PR to bump the dependency.

[2017-11-13 23:27] ryanjduffy commented on #3307
I could repro the warning. It must have been removed somewhere along the way but I didn't look for when. However, the fix does prevent lines within non-JS `<script>`s from showing as breakpoint targets.

<img width="341" alt="image" src="https://user-images.githubusercontent.com/788456/32754780-248c912a-c887-11e7-9604-0c20971db5c5.png">

[2017-11-13 23:32] ryanjduffy commented on #3307
Fix submitted: https://github.com/devtools-html/debugger.html/pull/4684

[2017-11-13 23:46] ryanjduffy commented on #4459
Checking back (since I just noticed I was tagged last week) if there's anything I can do to help out on this issue. Not sure what is still outstanding at this point.

[2017-11-14 01:21] karlcow opened #4685 "[Search][UX] "Results Not Found" before the results"
Using Firefox Nightly 59.0a1 (2017-11-13) (64-bit)

1. Go to https://trends.google.com/trends/
2. Open developer tools.
3. Go to the debugger
4. Search in all files (command + shift + F on macOS) with a string.

Example: backdrop

![capture d ecran 2017-11-14 a 10 15 53](https://user-images.githubusercontent.com/505230/32757890-14017d4a-c925-11e7-85b5-a21ef7749b9d.png)

After a **couple of seconds

[2017-11-14 14:06] jacobjzhang commented on #4104
@jasonLaster where's the GIF mentioned in the post?

[2017-11-14 14:32] #4579 closed

[2017-11-14 15:01] tobmaster commented on #3800
/claim

[2017-11-14 15:06] Fischer-L commented on #3601
/claim

[2017-11-14 15:12] Fischer-L commented on #4459
Looks like the `this` resolution indeed is about another topic, see #4324

[2017-11-14 16:15] julienw opened #4688 "Weird position for the "X" close button"
See picture:
![capture d ecran de 2017-11-14 17-14-58](https://user-images.githubusercontent.com/454175/32790684-6054514c-c95f-11e7-8b65-a47ce964a502.png)

[2017-11-14 16:16] julienw commented on #4688
This is in latest nightly 20171114100042

[2017-11-14 16:17] juliandescottes commented on #4688
On OSX, I don't see an issue with source tabs, but there is one with watch expressions. The close icon is correctly sized, but too low

![image](https://user-images.githubusercontent.com/1141550/32790773-9ab0d50e-c95f-11e7-93cb-1d8351a547ba.png)

[2017-11-14 17:22] jasonLaster opened #4690 "[PrettyPrint] enable “Jump to Generated Location""
We recently disabled some items in the context menu for pretty printed files. We disabled "Jump to Generated Location", but probably shouldn't have, because that can be useful :)

#4497

[2017-11-14 17:37] varenya commented on #3800
hi I would like to help me with 5th one

[2017-11-14 18:02] jasonLaster commented on #3800
Great @varenya! Jump in and communicate progress

[2017-11-14 18:02] jasonLaster commented on #3800
@tobmaster how has the hacking been?

[2017-11-14 19:51] juliandescottes opened #4692 "Performance regression when loading sources"
Performance regression spotted with the [11-7 bundle release](https://bugzilla.mozilla.org/show_bug.cgi?id=1415300).

See screenshot of DAMP perf charts, reload regressed of 10%:
![image](https://user-images.githubusercontent.com/1141550/32801215-b2270326-c97c-11e7-8ebb-5909530ce301.png)

The test case from https://bugzilla.mozilla.org/show_bug.cgi?id=1366693 really highlights the issue. The test

[2017-11-14 20:08] #4661 closed

[2017-11-14 20:35] simonsarris opened #4693 "Search bar inside Debugger panel of developer tools has broken carat placement"
I'm on 59.0a1 (2017-11-14) (32-bit) Windows 10

Summary: Pressing the `home` key moves the carat to the start of the search box, and then pressing any key afterwards types that letter, then also moves the carat to the end of the search box.

The same thing happens without using the `home` key, if you click anywhere with the mouse to move the carat and type one letter, the carat moves out of positi

[2017-11-14 20:40] simonsarris commented on #4693
I'm not familiar with the codebase buy eyeballing it, this may be the culprit:

https://github.com/devtools-html/debugger.html/blob/e12186b556563e67ee8c1dd37094a1c1be5042bb/src/components/shared/SearchInput.js#L62-L70

[2017-11-14 20:53] juliandescottes commented on #4692
The performance regression comes from 7ad903845df119c0c0a79e37e116e3ea34c5854d (which improves JSX syntax highlighting).

On the second profile you can see a lot of time is spent in codemirror (even though no source is actually opened in the UI). Looks like we rerender the Editor component more than we used to?

[2017-11-14 21:32] jasonLaster commented on #4324
I had a chat about #4324 (`this` gets global object instead of thisValue) with Ted Campbell, who works on the JavaScript engine.

Summary: it seems likely that `js::IsExtensibleLexicalEnvironment` might be mishandling debugger environments.
https://searchfox.org/mozilla-central/source/js/src/vm/EnvironmentObject.h#1073-1078

However, this is one instance of a larger class of bugs that result from

[2017-11-14 21:41] jasonLaster commented on #4104
![debugger_pinned_bp.gif](https://shipusercontent.com/ae1ce8e578afe95390ad9a4f1ff75947/debugger_pinned_bp.gif)

[2017-11-14 22:18] nyrosmith commented on #4692
I can't verify by numbers but I think this should no longer be an issue because of #4653 and #4677

[2017-11-14 22:50] jasonLaster opened #4694 "[Editor] detect if files use JSX"
The debugger currently detects if a file includes a react component and uses that to assume we should use JSX mode in the editor.

The better way to do this would be to check to see if the file has a jsx element in the text and if so use jsx mode. The rationale is that other frameworks like preact also use JSX.

here is an ast for jsx:
https://astexplorer.net/#/gist/d390e9a9b92911d197385283f4ca575

[2017-11-14 22:54] jasonLaster commented on #4694
[code]

[2017-11-14 22:56] jasonLaster commented on #4694
and connecting it to the editor

[code]

[2017-11-14 23:15] juliandescottes commented on #4692
@nyrosmith just tested with the latest revision of master and the issue is still there, sorry :/

[2017-11-15 00:12] jasonLaster commented on #4693
Thanks @simonsarris

[2017-11-15 04:16] yzen commented on #4076
Some thoughts:
The problem with code mirror is twofold, imo.
Firstly, for efficiency, tabbing to the CodeMirror area should not move the focus straight into the the editable space. The focus should remain on the container and editing state should be triggered by user action (e.g. pressing Enter/Space). If user activates code mirror, focus moves inside as it currently does. If the user carries on w

[2017-11-15 05:21] James300 commented on #4151
/claim

[2017-11-15 08:25] jainsneha23 commented on #4690
/claim

[2017-11-15 08:43] varenya commented on #3800
@jasonLaster sure thanks I will go through the docs and reach out if any help needed thanks :)

[2017-11-15 09:15] tobmaster commented on #3800
@jasonLaster I started learning the codebase and talked with @amitzur we both had the issue that also the popup dialog was not working (cause the value passed to the popup is {type:undefined}).
Yesterday we haven't seen why it is like that. Afaik Amit wanted to look into that and I wanted to have a look too.

[2017-11-15 10:41] #4639 closed

[2017-11-15 14:28] jasonLaster commented on #3800
Thanks @tobmaster, that's not good :)

mind sharing an STR. @samuel-peers worked on adding `extra` so we could see the DisplayName

[2017-11-15 16:58] codehag opened #4701 "Issue with spanish distribution of debugger"
https://support.mozilla.org/en-US/questions/1183851

A user has discovered that the debugger does not show files on his machine, and it seems to be a localization issue.

[code]

[2017-11-15 20:29] bgrins commented on #4701
Keyboard shortcut strings like these should not be localized: https://github.com/devtools-html/debugger.html/blob/34cbf8ce225c34745ccacbb348c40d91af56d77d/assets/panel/debugger.properties#L146. At the least we should have a localization note to not localize them

[2017-11-15 22:11] jasonLaster commented on #4701
hmm... i'm confused. i thought that shortcuts were localized?

[2017-11-15 22:33] samuel-peers commented on #3800
I'll take a look

[2017-11-15 23:39] #4651 closed

[2017-11-16 00:12] davisv007 commented on #4071
@jasonLaster We've been able to add most of the attributes from the checklist to the search input and result list. As we test our changes, could you tell me what the kind of behavior we should expect from the screen reader? Everyone in the team is using a distro of linux, which comes with Orca, if that matters. Thank you.

[2017-11-16 03:17] yzen commented on #4071
@davisv007 You would want to test keyboard interactions with Orca enabled, things like focusing on all focusable (clickable) controls, activating them with Enter/Space. For every change in current screen reader focus, Orca should announce information about what's being focused: type of the control, its name, optionally (depending on the type) value, relation etc.

[2017-11-16 06:05] digitarald opened #4703 "Conditional breakpoint overlay is cut off in vertical mode"
STR:

- Vertical mode in Debugger
- Make breakpoint conditional

ER: Correctly positioned conditional breakpoint form, responsively fitting into the space available.

AR: <img width="661" alt="image" src="https://user-images.githubusercontent.com/8599/32876270-ef4d12a2-ca50-11e7-95ba-34d857b8e596.png">

[2017-11-16 10:28] codehag commented on #4685
This could be achieved using redux-thunk, and have a "loading" message while we are waiting

[2017-11-16 10:49] codehag commented on #4680
Thanks for the bug report!

[2017-11-16 10:54] varenya commented on #4685
/claim

[2017-11-16 10:55] codehag commented on #4507
Is there any more info about this? ie an STR?

[2017-11-16 10:56] varenya commented on #3800
I will stop working on this since already few people are working and I got a another issue recommended on slack so I will be going for that.

[2017-11-16 10:57] codehag commented on #4479
this should be moved to the launchpad repo

[2017-11-16 12:05] bogas04 commented on #4604
Is this fixed ?

Nightly 59 (Nov 15)

![screen shot 2017-11-16 at 5 35 03 pm](https://user-images.githubusercontent.com/6177621/32890373-7ef7865a-caf4-11e7-8b3e-df25c31191d5.png)

[2017-11-16 12:20] codehag commented on #4604
doesn't look like it, parameters are still red

[2017-11-16 13:35] juliandescottes opened #4705 "Performance issue on angular2 site"
STRs:
- go to https://jovandemo.modulentwicklung.de:8001/admin/
  User: anyone@mozilla.org
  PW: 123456789
- Navigate to Orders > Orders
- open devtools on a non-debugger panel (e.g. the Console cmd+alt+K)
- switch to the debugger

ER: Sources appear quickly
AR: Debugger remains blank for several dozen seconds, before showing sources (might crash your tab)

Note: if you directly open the toolbox o

[2017-11-16 14:02] assafdd commented on #4619
/claim

[2017-11-16 14:29] assafdd commented on #4619
I dug a little in this issues.
might be related to the acron.js version the debugger is using(currently very old one  ~2.6.4 used in pretty-fast package).
I was able to reproduce the exception with the following code snippet from the ticket (https://github.com/ternjs/acorn/issues/575) :
[code]

[2017-11-16 14:47] bogas04 commented on #4604
/claim

[2017-11-16 14:49] jasonLaster commented on #4013
https://bugzilla.mozilla.org/show_bug.cgi?id=1417240

[2017-11-16 14:51] jasonLaster commented on #4619
thanks for the repro. We can easily bump acorn in pretty-fast :)

[2017-11-16 14:54] jasonLaster commented on #3800
@varenya feel free to keep hacking on this one too. it's big enough to warrant many eyes

[2017-11-16 15:07] assafdd commented on #4619
Just tested it locally and it solve the problem

[2017-11-16 15:08] assafdd commented on #4619
I'll send a PR on pretty-fast repo

[2017-11-16 15:28] #4242 closed

[2017-11-16 15:32] nicofrand opened #4708 "Debugger still shows removed scripts in sources panels"
Ex: http://jsbin.com/lujehesixe/1/edit?html,js,console
The "code.jquery.com" source should not appear anymore (I removed the script dynamically).

**STR**:

* Load a JS script in your HTML
* Open the debugger panel
* Remove the JS script dynamically

**What happens**

The script still appears in the sources panel.

**What I expect**

The script should not appear in the sources panel.

[2017-11-16 15:34] #4604 closed

[2017-11-16 15:47] juliandescottes commented on #4705
Removing a few await/async seem to fix the issue for this test case:

https://github.com/devtools-html/debugger.html/blob/e12186b556563e67ee8c1dd37094a1c1be5042bb/src/actions/sources.js#L136-L138

removing the 2 await +  async on those 3 lines fixes the performance issue and doesn't seem to completely break the debugger (I don't know the implementation in details so I might be terribly wrong).

cc

[2017-11-16 16:05] juliandescottes commented on #4654
For the record, the workaround I used on https://github.com/devtools-html/debugger.html/issues/4705 also makes the performance of this scenario much better.

[2017-11-16 16:14] codehag commented on #4705
moving around the awaits can be a bit dangerous, since some dispatches rely on other dispatches, and this isn't easy to see from the code.

For example, checkPendingBreakpoints has a call to loadSourceText, and we are also loading the sourcetext here. if we load it twice, then the screen flashes (and we double the work)

[2017-11-16 16:18] juliandescottes commented on #4701
The CmdOrCtrl part should not be localized. We have warnings in other parts of the code:

https://searchfox.org/mozilla-central/rev/550148ab69b2879bfb82ffa698720ede1fa626f2/devtools/client/locales/en-US/sourceeditor.properties#113-115

A bit misleading I guess, since the "key" part can be localized.

[2017-11-16 17:06] juliandescottes commented on #4705
Thanks @codehag ! I intended this as a pointer to the bottleneck, I understand that this is too careless to be an actual fix. I will try to implement your suggestion of queuing for loadSourceText, thanks for having a look.

Alternatively, maybe we could stop loading the sourceText of all sources upfront - and do it lazily instead ? In this scenario no source tab is opened, we just want the tree. (

[2017-11-16 19:27] juliandescottes opened #4712 "Horizontal scrollbar is too high when searching all files"
Horizontal scrollbar is too high when searching all files:

![image](https://user-images.githubusercontent.com/1141550/32911448-8137e190-cb0c-11e7-8b71-8b5edb77ce7e.png)

(see blank space below the scrollbar in the center panel)

[2017-11-16 20:06] CharlesStocky commented on #4712
/claim

[2017-11-16 20:18] juliandescottes commented on #4712
Thanks for claiming the bug @CharlesStocky
Sorry about the super short summary, I opened the bug while investigating something else and forgot to add more details.

I should add that I saw the issue when testing the debugger integrated in Firefox Nightly, and haven't tried with the launchpad setup. Ping me if you have any problem reproducing the issue!

[2017-11-16 20:32] assafdd commented on #4619
@jasonLaster once this PR https://github.com/mozilla/pretty-fast/pull/20 is approved we can bump  pretty-fast here too.

[2017-11-16 21:07] jasonLaster commented on #4453
the gutter issue is fixed

[2017-11-16 21:07] jasonLaster opened #4714 "[PrettyPrint] pretty tab does not go away"
STRs:
- pretty print script.js
- close the pretty print tab
- add a breakpoint in the first line of startAnimationTimer
- step over repeatedly

The pretty print tab comes back, despite being closed in step 2. The focus switches back and forth between the two tabs.

The script I use to get this behavior is
[code]

served in an empty html file.

(needs to be a bit complex in order to trigger the swi

[2017-11-16 21:08] jasonLaster commented on #4453
@juliandescottes added a new issue for your bug and linked above

[2017-11-16 21:08] #4631 closed

[2017-11-16 21:20] jasonLaster opened #4715 "[Pause] Locations should be symmetric  for original and generated files"
One of the coolest features we've worked on IMO, is debugger symmettry. Basically, we expect users to mostly care about debugging the original code, but we'll try to help users when they want to see the generated code.

One of the biggest use cases for trying to see the generated code is when you want to inspect variables in the generated code.

We currently map breakpoint locations, so you can se

[2017-11-16 21:37] #4619 closed

[2017-11-16 21:38] juliandescottes commented on #4453
@jasonLaster sorry, where's the link?

[2017-11-16 21:44] assafdd commented on #4619
@jasonLaster I accidentally pushed this on the same branch  of https://github.com/devtools-html/debugger.html/pull/4700/ ...
So I revert it. and will push it on a seperate branch soon

[2017-11-16 21:44] jasonLaster commented on #4619
k

[2017-11-16 21:49] jasonLaster commented on #4453
https://github.com/devtools-html/debugger.html/issues/4714

[2017-11-16 21:54] jimblandy commented on #4324
Reduced test case, usable in JS shell:
[code]

[2017-11-16 21:56] jimblandy commented on #4324
JS engine work is occurring in [bug 1397049].

[bug 1397049]: https://bugzil.la/1397049

[2017-11-16 23:13] #4324 closed

[2017-11-16 23:13] jasonLaster commented on #4324
@jimblandy closed this issue as it's being tracked elsewhere

[2017-11-16 23:48] jselmani commented on #4350
@jasonLaster can we update and close this now?

[2017-11-16 23:48] #4350 closed

[2017-11-17 06:23] jainsneha23 commented on #3305
@jasonLaster It is somehow related to #4437 . As the main file is still unloaded, the pretty print fails.

[2017-11-17 09:19] captainbrosset commented on #3815
Something to keep in mind when working on this feature: we used to have a pretty bad crash when opening a worker's script. See this bug: https://bugzilla.mozilla.org/show_bug.cgi?id=1260239
We should test this scenario again when this is available.

[2017-11-17 11:35] varenya commented on #4685
@jasonLaster I have a fix for this but I am not sure how to style the "loading.." part. are there already any components for this?

[2017-11-17 11:42] codehag commented on #4685
@varenya we don't have anything yet, what about just using a text for now? we can iterate on it later :)

[2017-11-17 12:56] assafdd commented on #4715
/claim

[2017-11-17 14:13] jasonLaster commented on #4571
Closing this issue and moving to the [enhancements](github.com/devtools-html/debugger.html/projects/5) board.

* We will hopefully be able to prioritize it in the near future.
* The issue is closed temporarily, but feel free to continue discussing the issue

#enhancements

[2017-11-17 14:18] jasonLaster opened #4721 "[SourcesTree] data: URIs are not formatted well"
1. Load data:text/html,<script>console.log(123)</script>
2. Open the new debugger
3. The left panel shows this source tree:

    ▼ data://
      ▼ html,<script>console.log(123)<
        script>

The debugger thinks that all content before the last "/" is the path and after that there is the file name.

But this fails for data URIs.

[2017-11-17 14:19] jasonLaster commented on #3305
@jainsneha23 i'm not sure :) maybe...

[2017-11-17 14:25] jasonLaster opened #4722 "[intermittent] browser_dbg-toggling-tools"
browser_dbg-toggling-tools started being flakey on 11/2/2017 and was disabled.
https://bugzilla.mozilla.org/show_bug.cgi?id=1414124

* Most of them occur on Linux x64 (enabled and disabled) and the rest of them on Windows 7, Windows 10-64, OS X 10.10.
* The affected build types are debug, opt, pgo, asan

[code]

https://brasstacks.mozilla.com/orangefactor/?display=Bug&bugid=1414124&startday=2017-1

[2017-11-17 14:35] jasonLaster commented on #4722
Here is another log:

[code]

[2017-11-17 15:25] jasonLaster commented on #4722
This test is correlated w/ keyboard-navigation, they both started failing at the same time.

https://brasstacks.mozilla.com/orangefactor/?display=Bug&bugid=1356247&startday=2017-11-06&endday=2017-11-12&tree=all

[2017-11-17 15:26] jasonLaster commented on #4722
The tests fail in [`addTab`][at]

`info("Adding a new tab with URL: " + url);` fires, but `info("Tab added and finished loading");` does not

[at]: https://searchfox.org/mozilla-central/source/devtools/client/framework/test/shared-head.js#139-154

[2017-11-17 15:27] jasonLaster commented on #4722
This was the first failing [try][t]. I reran the failing chunk here

[t]: https://treeherder.mozilla.org/#/jobs?repo=mozilla-inbound&revision=962343e8bdf0f90916487fcf81908589d70ff51f

[2017-11-17 16:17] DavideDeCenzo commented on #4694
/claim

[2017-11-17 16:56] sole opened #4724 "[Frames] Actual error messages are hidden at the bottom of the call stack, when devtools docked to bottom of screen"
Using pause on exceptions, I am finding it extremely difficult to diagnose what the issue is with my code when it just STOPS and doesn't tell me what is wrong.

I realised after a while that if I scroll down I get an actual error. But why is it at the bottom? Surely we want the error to be super visible, not below the fold. See image for details:

![screenflow](https://user-images.githubuserconten

[2017-11-17 16:58] #3696 closed

[2017-11-17 16:58] #4208 closed

[2017-11-17 17:03] sole opened #4725 "Can't reload the page when paused on exception"
I have enabled pause on exception.

My code created an exception and so the debugger is paused showing me the error (sorta, see #4724).

I edited and saved my code in my external editor and now I'd like to reload the page to see if I actually fixed it. Except... I can't.

I keep pressing ⌘R to no avail. I'm forever trapped on the debugger, captive to the exception my code triggered before. The onl

[2017-11-17 19:31] jasonLaster commented on #4725
Ooh, that's not great. Could you share some screenshots or an STR?

[2017-11-17 20:02] Nexxado commented on #1574
@SebastianZ you're right on that, i'm not using Firefox solely because its missing this critical feature which chrome does flawlessly.

[2017-11-17 20:20] sharathnarayanph commented on #4534
/claim

[2017-11-17 22:42] jasonLaster opened #4727 "[eslint] fix badge component warning"
run `yarn lint-js` and you'll get this warning

<img src='https://shipusercontent.com/5fe8b95b47ef1a391765cd64e7cc5c64/Screen%20Shot%202017-11-17%20at%205.41.36%20PM.png' title='Screen Shot 2017-11-17 at 5.41.36 PM.png' width=786>

[2017-11-17 23:09] jasonLaster commented on #1574
@Nexxado what is missing in the current version?

[2017-11-17 23:10] jasonLaster commented on #4534
thanks @sharathnarayanph, would be great to make it easy to remove regardless of comment :)

[2017-11-18 15:16] #4690 closed

[2017-11-18 18:21] Nexxado commented on #1574
@jasonLaster sorry,  I should have been more specific.
I'm referring to not being able to see variables value (on hover)  in the debugger

[2017-11-18 18:45] AnshulMalik commented on #4721
/claim

[2017-11-18 19:58] khal0988 commented on #4151
/claim

[2017-11-18 20:42] jasonLaster commented on #1574
@Nexxado that's still pretty vague.

for instance this example should work: https://small-vals.glitch.me/

we intentionally dont show preview popups for out of scope functions.

[2017-11-18 20:43] #4571 closed

[2017-11-18 20:44] khal0988 commented on #4151
/unclaim

[2017-11-18 20:44] #4592 closed

[2017-11-18 20:49] jasonLaster commented on #4649
Here is an unstyled version. @violasong could you provide some guidance?

<img src='https://shipusercontent.com/925da99cab00cdafb38ca7f0a2598b61/Screen%20Shot%202017-11-18%20at%203.47.08%20PM.png' title='Screen Shot 2017-11-18 at 3.47.08 PM.png' width=918>

[2017-11-18 20:50] jasonLaster commented on #3595
going to close as it's stale and not a priority.

[2017-11-18 20:50] #3595 closed

[2017-11-18 20:51] James300 commented on #4151
/claim

[2017-11-18 20:59] jasonLaster commented on #4524
[code]

[2017-11-18 21:10] jasonLaster commented on #4721
[code]

[2017-11-18 21:18] James300 opened #4730 "IsReactComponent needs improvements to support other implementations of a component"
Add functionality and tests for the following scenarios:
- React.Component
- Using require instead of import

[2017-11-18 21:18] James300 commented on #4730
/claim

[2017-11-18 21:31] bomsy opened #4731 "[Pretty Print] Add an option in the prefs panel to turn on off auto pretty printing"
We just landed [auto prettyprint](https://github.com/devtools-html/debugger.html/pull/4700)

Lets add an option to allow a user switch the feature on or off if they like.

[2017-11-18 21:52] jasonLaster opened #4732 "[Editor] Syntax highlighting flashes"
The syntax highlighting flashes when you add a breakpoint

I saw it here:

STRs:
- go to https://jovandemo.modulentwicklung.de:8001/admin/
  User: anyone@mozilla.org
  PW: 123456789
- Navigate to Orders > Orders
- open devtools on a non-debugger panel (e.g. the Console cmd+alt+K)
- switch to the debugger

![](http://g.recordit.co/1gp8KHoaxi.gif)

[2017-11-18 21:54] khal0988 commented on #4524
/claim

[2017-11-18 21:56] jasonLaster opened #4733 "[SourceTree] show angular icon as a domain"
We currently show the webpack logo when the domain is webpack, we should do the same for angular :)

- the path might be slightly off - easy to check in `addToTree.js`
- the icon will need styling w/ light and dark themes

[code]

<img src='https://shipusercontent.com/3fc075cf7a02d2004ce2aef195e2e3b3/Screen%20Shot%202017-11-18%20at%204.54.41%20PM.png' title='Screen Shot 2017-11-18 at 4.54.41 PM.pn

[2017-11-18 23:18] jasonLaster commented on #4705
We're naive, but not that naive :) we load source text for cases where we need to source map, which are when we're re-syncing breakpoints. We can queue this work and do it in the background

I dug a bit more into this case today and found that this is an evil page w/ 400 sources, each of which have an inline source map.

Here are some screenshots of us struggling to keep up

<img src='https://ship

[2017-11-19 07:11] Fischer-L commented on #4532
Just update the issue status: the merged PR #4640 is the start. Next there will be more PRs coming. And in each PR, probably better to touch one component and derived components at once. So lower risk and easier to review.

[2017-11-19 07:28] James300 commented on #4730
Woops, thought that said close cancel comment 😪

[2017-11-19 08:22] eladcandroid opened #4736 "Feature - Add an option to change devtools font size (or zoom) with a mousewheel"

[2017-11-19 16:44] borian commented on #4733
Hey Jason,
https://github.com/borian/debugger.html/commit/762f7ced050930db5086a066a9a800a28a66540f
The `angular.svg` was already there so I only added the path check and styling.

Because the icon is already used in the call stack view, I needed to add specific styling for the source pane

`.managed-tree .tree-node .angular svg {`

![light](https://user-images.githubusercontent.com/1525694/3299208

[2017-11-19 16:53] Nexxado commented on #1574
@jasonLaster Here (see image) when hovering over the function's arguments I don't see its value.

Could it be related to the fact that the code is minified?
Cause the scopes window to the side shows the minified names of the variables.

Note the Chrome works as expected in this scenario.

### on hover
![image](https://user-images.githubusercontent.com/12609607/32992989-6e1af7aa-cd5a-11e7-996d-6837

[2017-11-19 17:32] tobmaster commented on #3800
Didn't had the chance to work on this that much yet so i better unclaim for now

[2017-11-19 17:32] tobmaster commented on #3800
/unclaim

[2017-11-19 18:08] borian commented on #4727
https://github.com/borian/debugger.html/commit/fe80ddbffcbde4b517c2e2528a5ab0116584d756
I've added flow types in accordance with the docs.
https://flow.org/en/docs/react/children/

This fixes the lint-warning and all tests pass.
But the react package does not define a Node type, so editors with type-checking will still complain.

![badge-proptypes](https://user-images.githubusercontent.com/1525694

[2017-11-19 18:49] borian commented on #4703
Mhh, I was not able to reproduce the issue

![condition-breakpoint](https://user-images.githubusercontent.com/1525694/32994083-a83822de-cd62-11e7-9309-b48ae3cbf695.png)

[2017-11-20 06:08] zaggy commented on #4733
Maybe a good thing is to write `Angular (ng://)` instead of just plain `ng://` or like we do with Webpack, to ditch the address part altogether.

[2017-11-20 06:30] cristidrg commented on #4731
Hi, I'd like to work on this. Where is the prefs panel?

[2017-11-20 09:17] zacck commented on #4556
/claim

[2017-11-20 09:26] codehag opened #4743 "Developer tools in private browsing uses accounts from non-private window"
Source: https://bugzilla.mozilla.org/show_bug.cgi?id=1414315

### Steps to reproduce:

Log in on Wikipedia as user A. Open a new private window and log in as user B. (A or B could be anonymous, in which case the username is null) Activate the developer console in the private Wikipedia window and search for "wgUserName"

### Actual results:

The line containing the username says: `"wgUserName": "A"

[2017-11-20 09:28] #4692 closed

[2017-11-20 09:34] codehag opened #4744 "Get sources with Debugger.Source, not HTTP GET request"
This was an issue on firebug, it is not clear if this is still the case.

basically: when making a post request, the debugger makes two requests, a post and then a get
what is expected: that we just make the post request

we need to find a test case for this and see if this is still happening

bugzilla issue: https://bugzilla.mozilla.org/show_bug.cgi?id=1005542

[2017-11-20 13:12] jasonLaster commented on #4733
Yep, I'd just show Angular. Most users don't care

[2017-11-20 13:14] jasonLaster commented on #4727
Ahh, hmm... that's a good point. I think @bomsy's type was wrong :)

How about we try

[code]

[2017-11-20 13:15] jasonLaster commented on #4731
Hi! that's tough because it's not in github. I'd recommend a different issue for your first patch.

[2017-11-20 13:16] jasonLaster commented on #1574
Thanks @ryanjduffy @Fischer-L?

[2017-11-20 13:32] jasonLaster opened #4746 "[Editor] Test for unnecessary renders"
We currently have unit tests for actions and components, but we should have a hybrid test that tests connected components w/ redux:

This test will prevent future unwanted renders... In some ways, we dont care if react re-renders... but we assume w/ the Editor we want to be strict because re-rendering on every new source would be terrible...

Either way, having this style test will be helpful in o

[2017-11-20 14:32] jasonLaster commented on #4311
Hi @jogibear9988 thanks for filing. I believe we're tracking this issue in another issue as well. Will look

[2017-11-20 14:33] #3854 closed

[2017-11-20 14:33] jasonLaster commented on #3854
This was fixed

[2017-11-20 14:34] jasonLaster commented on #4100
this is a dupe of #4318.

[2017-11-20 14:34] #4318 closed

[2017-11-20 14:34] jasonLaster commented on #4318
closing as it's a dupe of #4100

[2017-11-20 15:02] imvetri opened #4748 "npm install throws ENOENT: no such file or directory, chmod debugger.html/node_modules/devtools-mc-assets/sync.js"
I cloned the repo recently and tried running npm install. I am getting below error.

![screen shot 2017-11-20 at 8 05 54 pm](https://user-images.githubusercontent.com/6542274/33024649-ade3f814-ce31-11e7-8f70-1009ab38a41c.png)

System details
Mac OS - Sierra
Node - v8.8.1
npm - v5.5.1

Just to cross check whether there could be problem in my environment, I tried cloning express and ran npm install

[2017-11-20 15:04] jasonLaster commented on #4748
Hey @imvetri, i haven't seen that before.

try running `yarn nom` happy to jump on a call too

[2017-11-20 15:25] imvetri commented on #4748
cool. no issues . now. thank you

[2017-11-20 15:25] #4748 closed

[2017-11-20 16:00] jasonLaster commented on #4748
Thanks for sharing. It's good to be on the look out for that

[2017-11-20 16:05] #4355 closed

[2017-11-20 16:06] jasonLaster commented on #4413
killed it!

[2017-11-20 16:06] #4413 closed

[2017-11-20 17:04] assafdd commented on #3702
Seems duplicated with this one
https://github.com/devtools-html/debugger.html/issues/4619

[2017-11-20 17:35] bzbarsky opened #4750 "[Breakpoints] Re-Add Event Listeners"
The old Firefox debugger UI used to have an "Events" view which showed what event listeners were attached in the page and allowed breakpointing on them.  There seems to be nothing like that in the new debugger UI.

I could have sworn this was a known issue, but I see no existing open issues on it...

[2017-11-20 17:37] bzbarsky opened #4751 "Have a way to get at event listeners from the watch/variable views"
If a value in the watch/variable view is an EventTarget, it would be nice to be able to expose the event listeners on it.

[2017-11-20 17:55] bomsy commented on #4727
@borian @jasonLaster  ooppsiee! my bad! :) i've learnt something new today as regards react children.

@jasonLaster  Will the children for the badge ever be more than one value?

[2017-11-20 18:03] jasonLaster commented on #4727
nope

[2017-11-20 18:06] jasonLaster commented on #4750
I could have too... Strange. It's a goal to bring it back this quarter and we have a simple UI behind a feature flag. I'll convert it to a pref soon and scope out the remaining work.

Thanks for asking, it's good to hear people are missing it

[2017-11-20 18:36] bzbarsky commented on #4750
To be clear, I am missing it enough that I have the new UI turned off.  ;)

It would be nice if we could have this work for all event targets, not just nodes and windows.  That might need a hook in Gecko to return a list of the other event targets associated with a given window, but that should be pretty easy to implement, since Gecko has that information internally already.

[2017-11-20 19:41] mastacheata opened #4754 "Debugging inline Content Scripts inserted by Webexts"
I've stumbled across this problem while trying to debug a User Script in Greasemonkey.
Greasemonkey inserts userscripts as inline code (i.e. not a file inside the extension) via browser.tabs.executeScript
Debugging the UserScript / Content Script of Greasemonkey inside a webpage would usually involve opening the website and then checking the Debugger panel inside the Dev Tools to find the content

[2017-11-20 19:41] jasonLaster commented on #4754
Thanks for filing a detailed report!

[2017-11-20 22:05] violasong opened #4756 "[Tabs] Remove stray dark line underneath Debugger tab strip"
Easiest fix is to simply remove the background-color from .editor-pane.

Ideally, could instead figure out why there's this 1px-tall extra bottom spacing in the first place.

Here it is highlighted in red:
![image](https://user-images.githubusercontent.com/55994/33043790-760f79d0-cdfb-11e7-8147-e5d03cbfccb5.png)

Bonus nitpick:
![image](https://user-images.githubusercontent.com/55994/33043836-988a

[2017-11-21 00:44] jasonLaster commented on #4694
how's it going @DavideDeCenzo?

[2017-11-21 00:44] jasonLaster commented on #3305
How's it going @jainsneha23?

[2017-11-21 04:12] zaggy commented on #4104
/claim

[2017-11-21 10:02] DavideDeCenzo commented on #4694
Until now I have no problem , in these days I'm trying to understand the code in general , I'll let you know if I have some troubles , by the way How do I test the editor for to see if it uses JSX mode or not? @jasonLaster

[2017-11-21 10:17] cristidrg commented on #4756
/claim

[2017-11-21 10:30] Fischer-L commented on #1574
Tried a similar script but unable to reproduce the issue.
![1574_mimic_but_unable_to_reproduce](https://user-images.githubusercontent.com/5627487/33067387-f5f92de2-cee8-11e7-910c-cddabe79eff1.gif)

Then, tried the minified-like version and able to reproduce.
![1574_mimic_minified_and_able_to_reproduce](https://user-images.githubusercontent.com/5627487/33067424-18497f8c-cee9-11e7-88a0-ec6824fae83a.

[2017-11-21 12:43] AnshulMalik commented on #4694
Hey @DavideDeCenzo, you can probably find it in the AST of source,
![jsx](https://user-images.githubusercontent.com/7821757/33073058-a4ea20e2-cee7-11e7-9ef5-1b806188539f.png)

[2017-11-21 14:23] AnshulMalik commented on #4731
@jasonLaster, I'd like to take this up :)

[2017-11-21 14:24] jasonLaster commented on #4731
Cool - I'll get a patch ready.

[2017-11-21 14:46] jasonLaster commented on #4731
here are some docs on getting started http://docs.firefox-dev.tools/

[code]

[2017-11-21 16:00] yurydelendik commented on #4715
It is worth to notice that "symmetric" might not be a right word here. Single generated location might be mapped to multiple original locations (see e.g. [allGeneratedPositionsFor](https://github.com/mozilla/source-map#sourcemapconsumerprototypeallgeneratedpositionsfororiginalposition) ), but probably to simplicity of this issue the first generated location (or one returned by `generatedPositionFo

[2017-11-21 16:27] jasonLaster commented on #4732
<img width="1249" alt="screen shot 2017-11-20 at 4 25 45 pm" src="https://user-images.githubusercontent.com/254562/33084065-f95f426c-ceae-11e7-8f34-ca01c40dd81f.png">

[2017-11-21 22:23] darkwing opened #4763 "Pretty-Printed Tab wont Close"
I'm trying to close a pretty print tab and...it keeps coming back:

![wontclose](https://user-images.githubusercontent.com/46655/33099935-45ba0272-ced8-11e7-85b7-0dbb46285511.gif)

If I close the original tab first, *then* close the pretty print tab, it finally stays closed.  When I open the original tab again, however, the pretty print tab also shows up.

[2017-11-21 22:31] darkwing commented on #4763
Sorry, this might be a dupe of #4714

[2017-11-21 23:34] borian commented on #4733
updated the PR https://github.com/devtools-html/debugger.html/pull/4738
Now it just showes Angular

![ng-light](https://user-images.githubusercontent.com/1525694/33102301-69ee4ed4-cf1c-11e7-9363-2663085d53e7.png)
![ng-dark](https://user-images.githubusercontent.com/1525694/33102294-60f8054a-cf1c-11e7-8425-f179022023bc.png)

[2017-11-22 01:43] violasong opened #4765 "Color change for Dark Debugger selected text readability (Photon polish uplift)"
<img width="383" alt="image" src="https://user-images.githubusercontent.com/55994/33105658-278609a8-cee3-11e7-9eba-74a95967e0f5.png">

Currently in dark mode Debugger, selected text is difficult to read because of the light blue highlight color. Let's use this color instead: #353B48. (It's the same color as the Inspector's line-hover color.)

I'm hoping to get this into 58, so it would be ideal if

[2017-11-22 07:59] magicp-github opened #4767 "Duplicate conditional-breakpoint-panel when send "Ctrl + B""
**Steps to reproduce:**
1. Open any scripts
2. Focus (set cursor) on any lines
3. Add conditional breakpoint on the same line
4. Send "Ctrl + B"

**Actual Results:**
conditional-breakpoint-panel will be duplicated.

![duplicate-conditional-breakpoint-panel](https://user-images.githubusercontent.com/13914314/33115954-3e8e173a-cfa6-11e7-9d45-bb3142f651ae.png)

**Expected Results:**
No any actions?

[2017-11-22 10:11] AnshulMalik commented on #4731
/claim

[2017-11-22 10:16] AnshulMalik commented on #4731
Hey, I did add the checkbox to the panel, but it isn't auto prettifying the sources, is mercurial behind the commit or I am doing something wrong?

![panel](https://user-images.githubusercontent.com/7821757/33122126-4e280ab6-cf9c-11e7-885b-da4e7e4e36b1.png)

[2017-11-22 11:36] bomsy commented on #4731
@AnshulMalik We will also need to add the code to use the pref set, in the debugger to decide to auto pretty print

[2017-11-22 12:35] bomsy commented on #4731
@AnshulMalik something like

[code]

[2017-11-22 13:21] AnshulMalik commented on #4731
So, it's almost ready, thanks to @bomsy. And is there any bugzilla issue open for this ?

[2017-11-22 14:30] DavideDeCenzo commented on #4694
Thanks @AnshulMalik

[2017-11-22 14:32] #4308 closed

[2017-11-22 15:04] jasonLaster commented on #4694
@DavideDeCenzo start with the smallest PR to add the function to the parser w/ a unit test!
This can be many PRs :)

[2017-11-22 15:05] jasonLaster commented on #4731
@AnshulMalik feel free to create a bugzilla bug in the Debugger component for it

[2017-11-22 15:05] jasonLaster commented on #4763
yep

[2017-11-22 15:05] #4763 closed

[2017-11-22 15:19] borian commented on #3842
/assign

[2017-11-22 15:20] borian commented on #3842
/claim

[2017-11-22 16:00] AnshulMalik commented on #4731
@jasonLaster, I created a bug and added a patch
https://bugzilla.mozilla.org/show_bug.cgi?id=1419783

[2017-11-22 19:36] sole commented on #4725
Sorry for the slow response. I spoke to @codehag and I'll try to build a test case. I have a hunch that the reason I can't do anything is because I'm debugging a massive chunk of code (40K webpack mole with built in source maps) and something might be consuming the UI thread, making the tab unresponsive.

[2017-11-22 20:44] japrogramer commented on #4748
Hello I have this issue too, why does this not work with npm?

[2017-11-22 20:47] jasonLaster commented on #4748
hi @japrogramer not sure... just published a new version. let me bump it in the debugger so it is used

[2017-11-22 20:49] japrogramer commented on #4748
well I managed to install with yarn, but i cant run
~/git/debugger.html  master ✗

[2017-11-22 20:50] jasonLaster commented on #4748
okay. two tips, upgrade node, downgrade yarn to 0.28.4

[2017-11-22 20:50] japrogramer commented on #4748
oh, ok. I was in nvm and didn't noticed i was using that node

[2017-11-22 21:01] japrogramer commented on #4748
Im using carbon with the recommended yarn version and Im still getting an error.
[code]

[2017-11-22 21:03] jasonLaster commented on #4748
try, restarting your computer to drop the running server. also, make sure debugger.html master is up to date

[2017-11-22 21:04] japrogramer commented on #4748
good idea, I had a docker instance listening on port 8000, is there a way to specify the port I want debugger.html to run in?

[2017-11-22 22:10] DavideDeCenzo commented on #4694
ah got it thanks @jasonLaster

[2017-11-22 22:31] jasonLaster commented on #4109
So here's the challenge: the user clicks step over or resume and we want to leave the buttons visible until we are re-paused or 200ms has gone by.

1. re-paused is easy, when the paused action fires we are paused and know to show the buttons
2. the COMMAND action `start` fires when the resume button is clicked and we store the `resume` value in the command field. We can show the button as long as

[2017-11-22 22:43] jahed commented on #4366
I can confirm that this issue seems to be fixed in Quantum's release build. That or my source maps changed enough for the problem to not occur.

Apologies for not getting back on this sooner. Ended up focusing on a different project and forgot until Quantum was released (this issue doesn't appear in my "Issues" page).

Feel free to close. Thanks for giving it attention!

[2017-11-22 22:44] #4366 closed

[2017-11-22 22:44] jasonLaster commented on #4366
Great!

[2017-11-23 02:18] AnshulMalik opened #4772 "[Breakpoint] variable is not defined at breakpoint"
Debugger tells it is `undefined` but it's not.

![prefs-undefined](https://user-images.githubusercontent.com/7821757/33156649-ccddcdb6-d021-11e7-8080-f4919f1b5da9.gif)

Steps to reproduce:
- `yarn run firefox` and go to http://firefox-dev.tools/debugger-examples/examples/todomvc/
- Do `yarn start`, open the debugger `localhost:8000`
- Open developer tools (F12) and set a breakpoint at line 211 in

[2017-11-23 02:40] jasonLaster opened #4773 "[Tabs] the react logo is based off the selected source"
We currently show a react logo for all the tabs if the selected source is a react component. We should check each tab separately.

![](http://g.recordit.co/2EjfMRvmU2.gif)

[2017-11-23 03:08] magicp-github commented on #4703
Probably, CodeMirror was scrolled horizontally in AR image?

[2017-11-23 04:26] jasonLaster opened #4776 "[Outline] functions should not wrap"
We should use CSS to keep the functions from wrapping. perhaps `overflow-x: hidden`

### good
<img src='https://shipusercontent.com/5e1e5debff1134773db3cb30d62b6422/Screen%20Shot%202017-11-22%20at%2011.25.35%20PM.png' title='Screen Shot 2017-11-22 at 11.25.35 PM.png' width=309>

### not great
<img src='https://shipusercontent.com/e6868e0807c8bf5602df0915c18c2409/Screen%20Shot%202017-11-22%20at%201

[2017-11-23 04:28] jasonLaster opened #4777 "[Tabs] Show framework logos"
We just started showing React logos in the editor tabs for react components, but there's no reason we cant generalize it to other frameworks:

### checklist

- [ ] React
- [ ] Ember
- [ ] Angular
- [ ] Vue

...

[2017-11-23 04:31] jasonLaster commented on #4777
[code]

[2017-11-23 06:39] SebastianZ commented on #4744
As mentioned in the Bugzilla report, the issue is not reproducible anymore in Firefox 57.0. The related test case is here:

https://getfirebug.com/tests/manual/issues/7401/issue7401.php

So, this issue can be closed. Unfortunately, I don't have the rights to do that myself.

Sebastian

[2017-11-23 08:43] AnshulMalik commented on #4530
Am I going the right way ?

![a](https://user-images.githubusercontent.com/7821757/33164334-47385d7a-d058-11e7-8d7e-1316a4d6bca5.gif)

[code]

[2017-11-23 08:52] codehag commented on #4744
Thanks Sebastian!

[2017-11-23 08:52] #4744 closed

[2017-11-23 09:24] fivepointseven commented on #4773
/claim

[2017-11-23 09:49] #4721 closed

[2017-11-23 10:45] juliandescottes opened #4780 "Outline view does not jump to the function"
The outline view lists the methods in the file, but clicking on a method does not scroll to the method in the editor.

![debugger-outline-view-broken](https://user-images.githubusercontent.com/1141550/33169098-a31e600e-d043-11e7-9220-ce3e8662cdd9.gif)

Works with any source file but here are some STRs:
- go to http://firefox-dev.tools/debugger-examples/examples/todomvc/
- open debugger
- open sour

[2017-11-23 11:17] #4688 closed

[2017-11-23 11:17] #4583 closed

[2017-11-23 11:26] codehag commented on #4777
i understand that this might be an easy patch to do, but i would rather take this out right now. we have a lot of other work and this increases the maintenance burden. Lets try to make performance bugs available rather than features. for this reason i am making it unavailable.

[2017-11-23 11:27] codehag commented on #4776
i understand that this might be an easy patch to do, but i would rather take this out right now. we have a lot of other work and this increases the maintenance burden. Outline view is also behind a feature flag right now. Lets try to make performance bugs available rather than features.

[2017-11-23 13:09] codehag commented on #4777
lets maybe not do this feature right now. I would rather see us focusing on performance and stability. I will look for some nice beginner issues on that topic!

[2017-11-23 13:15] codehag commented on #4751
Hi bzbarksy, thanks for the report. Can you be a bit more specific about what you are expecting to happen?

[2017-11-23 13:58] codehag opened #4781 "Batch update new sources"
We currently add sources one at a time. We have a batch update reducer called addSources but it is not being used. We should use it, as it will reduce repaints

a good place to start is at `newSources`. it calls `newSource` for each source, but we could just as easily add all the sources at once.

there are a couple of other parts to this. ask me if you want to take a look at this!

[2017-11-23 13:59] codehag opened #4782 "batch update breakpoints"
we currently add breakpoints one at a time. this slows down start up time as it requires for every file, every breakpoint to be checked. We should batch add the breakpoints, and take care of syncing later once everything is finished.

for this issue, we need a reducer that allows us to add a set of breakpoints. this would be added to reducers/breakpoints.js, with type `ADD_BREAKPOINTS`

might look

[2017-11-23 14:09] codehag opened #4783 "Defer loadSourceText"
we should not load the source text before showing the UI, because this is slow and frustrating for users. at the moment, loading a source, selecting a source, and checking breakpoints is all done at once. instead we should try this schedule

- load all sources
- load all sourcemaps
- load all breakpoints
- check selected source (only once)
- load selected source (only once)
- sync breakpoints (whi

[2017-11-23 14:23] nyrosmith commented on #4767
/claim

[2017-11-23 14:37] nyrosmith commented on #4767
@magicp-github Did you see this behavior in launchpad or Firefox panel? In launchpad I am unable to reproduce it

[2017-11-23 15:05] codehag opened #4784 "add loading indicator for large files being loaded"
At the moment, it is sometimes unclear if the debugger is working or not when it it loading a large file

we should add a loading screen to improve the loading experience!

This can be a simple loading indicator, like the string "loading.." for now

we have three states for sources, "unloaded", "loading" and "loaded". this might be a good place to start

[2017-11-23 15:21] nyrosmith commented on #4784
/claim

[2017-11-23 16:01] bomsy commented on #4782
/claim

[2017-11-23 17:07] magicp-github commented on #4767
I can reproduce in the latest Nightly build (20171123100420).

[2017-11-23 17:15] nyrosmith commented on #4767
@magicp-github can you reproduce it in launchpad too? I tried several times but it seems to me it's already fixed here

[2017-11-23 17:29] jasonLaster commented on #4780
We fixed it in GH. The next release should have it

[2017-11-23 17:59] magicp-github commented on #4767
Yes, I can reproduce it in launchpad too.

[2017-11-23 18:01] nyrosmith commented on #4767
Hmm maybe I am doing something wrong. Habe you already joined our slack? Maybe we can do a quick hangout so this can get tackled fast

[2017-11-23 18:15] leibale commented on #4765
/claim

[2017-11-23 18:20] magicp-github commented on #4767
I don't use slack. Step 2-3 is important. Focused line and conditional breakpoint should be on the same line. "Ctrl+B" will make a breakpoint on the focused line, then conditional breakpoint panel will be duplicated.

[2017-11-23 18:25] nyrosmith commented on #4767
Thx for clarification!

[2017-11-23 18:40] nyrosmith commented on #4780
This is a duplicate of https://github.com/devtools-html/debugger.html/issues/4616 and is already fixed.

[2017-11-23 18:40] #4780 closed

[2017-11-23 18:44] leibale commented on #4765
/unclaim

I looked into the code and it looks like that [devtools-mc-assets](https://hg.mozilla.org/integration/mozilla-inbound/archive/tip.zip/devtools) package is downloading [this zip file](https://hg.mozilla.org/integration/mozilla-inbound/archive/tip.zip/devtools) and settings the themes colors by that zip. I don't have access to change this zip, but I think that @jasonLaster can help you wit

[2017-11-23 20:21] jasonLaster commented on #4530
Yep, looking good @AnshulMalik. Tests will help a lot here.

[2017-11-23 20:22] vijaykm2 opened #4785 "[breakpoints] Clicking on "Step over" button doesn't take me to next line when using production build of React"
Clicking on "Step over" button doesn't take me to next line when using production build of Reactjs.

Here are steps to reproduce this issue.

1. Create a new sample Reactjs project using create-react-app.
2. Edit the App.js file so that it looks like the attached screenshot.
3. Create the production build of this project using command "yarn build".
4. Install serve.js using command "npm install -g

[2017-11-23 20:26] DavideDeCenzo commented on #4694
When I run yarn test I've got this errors that I don't understand , it seems that the hasJSX element trigger the errors , I don't know why

![parsererrorpart1](https://user-images.githubusercontent.com/18034739/33187559-e909395a-d092-11e7-8975-3f378ce24c50.png)

![parsererrorpart2](https://user-images.githubusercontent.com/18034739/33187565-f2db31b8-d092-11e7-810c-61029f70c72f.png)

![elementtrigg

[2017-11-23 20:32] vijaykm2 commented on #4785
<img width="1680" alt="screen shot 2017-11-23 at 2 01 34 pm" src="https://user-images.githubusercontent.com/6619551/33187921-19e359d0-d05b-11e7-9947-35c7a98186cb.png">

[2017-11-23 21:15] nyrosmith commented on #4785
Repo for testing
 https://github.com/vijaykm2/Reactjs-bug-4785

[2017-11-24 04:41] jasonLaster commented on #4694
@DavideDeCenzo strange. perhaps make a WIP pr and we can take a look.

The best thing to do is to start removing things until it works. the patches i make are pseudocode, that i never run :) so no promises that they'll work

[2017-11-24 13:30] DavideDeCenzo commented on #4694
Ok I'll stil try to make some changes. if the compiler gets angry I'll send a WIP pr :)

[2017-11-24 14:15] hughugsy commented on #4647
Hey! :smile: This fixes the issue
[code]
but I couldn't set up mochitests to run and `yarn test` results in these
[code]

[2017-11-24 16:38] codehag commented on #4705
is there another example page that we can check? i tried the existing one and it comes as a 404

[2017-11-24 17:03] codehag commented on #4781
solved by 4749

[2017-11-24 17:03] #4781 closed

[2017-11-25 05:05] unconfident opened #4788 "Storybook is broken"
As of now there are two problems with it:

- It doesn't build due to attempts of resolving a missing file from a missing dependency
- react-redux's `connect` throws errors in runtime about Redux Store missing from the context.

And it just seems to be abandoned in general.

The first problem was introduced in #4332 after launchpad has been updated and dependency which this package directly never d

[2017-11-25 08:03] lukaszsobek commented on #4551
/claim

[2017-11-25 08:05] lukaszsobek commented on #4393
/claim

[2017-11-25 10:46] Fischer-L commented on #1574
Seems the bp with column issue lies in the client side

The bp is correctly set to Line:5 without column when setting to client
<img width="474" alt="set_bp_to_client" src="https://user-images.githubusercontent.com/5627487/33229724-54462958-d20f-11e7-9dc1-8e0588b65ac7.png">

While pausing on the bp, the packet from the client says: we are at Line: 5, Column: 4
<img width="940" alt="paused_on_bp" s

[2017-11-25 12:24] bomsy commented on #4708
Chrome still shows it as well

![image](https://user-images.githubusercontent.com/792924/33230454-87127a28-d1db-11e7-8e11-abba2a1a970f.png)

[2017-11-25 12:53] jasonLaster commented on #4788
Thanks for the fantastic writeup. It's true that we're not using storybook at the moment, but that can be explained by two factors: 1) prioritizing performance post-launch, 2) not having CI to prevent regressions

- I'd like to see it fixed
- I'd like to setup percy again. We re-extended our license recently

[2017-11-25 12:54] jasonLaster commented on #4708
How do you remove the script dynamically?

[2017-11-25 12:57] jasonLaster commented on #1574
How does column 4 cause us to mess up? Also, what example are you using?

I love your writeups Fischer, they're really helpful!

[2017-11-25 13:09] bomsy commented on #4708
he has a `document.getElementById("test").remove();` in the jsbin file.

[2017-11-25 13:25] jasonLaster commented on #4708
oh interesting. not sure if the server gives us a source removed event

[2017-11-25 13:27] jasonLaster commented on #4705
strange worked for me

[2017-11-25 18:08] jasonLaster opened #4792 "[Outline] Style list"
There are a couple of issues w/ the outline view as it is now

- list items wrap
- the hover background isn't full width

wrapping is easy to fix:

[code]

not sure about the background. It's possible there are other issues too :)

<img src='https://shipusercontent.com/7abde76e1e45ed1f7f7b5826ae5eebec/Screen%20Shot%202017-11-25%20at%201.05.38%20PM.png' title='Screen Shot 2017-11-25 at 1.05.38 PM.p

[2017-11-25 18:39] jasonLaster commented on #4777
Here is a branch from earlier that switches to a framework field... it'll help generalize the code https://github.com/devtools-html/debugger.html/compare/master...jasonLaster:frameworks?expand=1

[2017-11-26 06:50] Fischer-L commented on #1574
@jasonLaster I am using the example above: https://github.com/devtools-html/debugger.html/issues/1574#issuecomment-345984448

When the bp with a column, which shouldn't be there, will see the issue #4369 again, take that for example, paused at the bp (Line: 46, Column: 4), because the location (Line:46, Column: 47 ~ Line: 48, Column:3 ) dose not contain the bp so the entire Line: 46 is ruled as ou

[2017-11-26 07:38] lukaszsobek commented on #4573
/claim

[2017-11-26 11:16] lukaszsobek opened #4794 "[Tabs] New tabs open at tabIndex 0"
STR:
- Open File by clicking it in the sources panel
- Wait for file to load in editor
- Open another file by clicking it in the sources panel

ER:
- New tab opens at the end of the list of tabs

Rationale:
- Almost every text editor opens tabs the ER way. Giving the user a feeling of familiarity and security should increase user satisfaction.

AR:
- New tab opens with a tab index of 0

![ezgif-4-

[2017-11-26 17:13] lukaszsobek commented on #4714
Technically we don't even need to open pretty print to achieve this.

STR:
- Open a minified file
- Wait a few seconds

ER:
- nothing happens

AR:
- Source gets prettified automatically

And the story goes on ...

STR:
- close prettified tab
- wait a few seconds

ER:
- nothing happens

AR:
- prettified source reappears
- rinse, repeat

[2017-11-26 17:31] lukaszsobek opened #4796 "[Tabs] Noticable delay before closing a pretty printed source tab"
STR:
- open https://www.wp.pl/
- navigate to any of the lines with a lot of characters
- expand the line
- click on `(index)`
- wait for tab to load
- optional: Prettify source by right clicking the header and selecting `Pretify source` (currently it is invoked automatically)
- wait for pretty source to load
- close pretty source by clicking x

ER:
- tab closes quickly

AR:
- noticable delay befor

[2017-11-26 18:51] lukaszsobek commented on #4573
Related to: #4393

[2017-11-27 01:06] vijaykm2 commented on #4785
Another issue i found: If i keep a breakpoint on return statement, debugger doesn't stop at the return statement.

[2017-11-27 04:44] avantgrogg commented on #4693
/claim

[2017-11-27 09:56] nchevobbe opened #4798 "[Sources] Scripts with Syntax Error are not listed in sources"
Steps to reproduce:
1. Navigate to `data:text/html,<h1>Hello</h1><script>my syntax error</script>`
2. Open the debugger

Expected results:
I can see an item in the source list for my `<script>`

Actual results:
The source list displays `This page has no sources`

---

A direct issue to this is that, if on step `2.` I open the console instead of the debugger, an error will be logged.
And if I click

[2017-11-27 10:10] chopstik commented on #4798
You learn something every day. Didn't realise you could enter `data:text/html,<h1>Hello</h1><script>my syntax error</script>` into a browser and have that render, slick!

[2017-11-27 10:19] jnachtigall opened #4799 "[Breakpoints] Does not stop at breakpoint when sourcemap by rollup + babel"
**STR:**
1. Go to https://jnachtigall.github.io/bp/bp.html
2. Open `app.js` and set breakpoint to line 2
3. Reload

**AR:**
Debugger does not stop at the breakpoint

**ER:**
Should stop (works like this in Chrome).

![image](https://user-images.githubusercontent.com/3307404/33261860-8f747db2-d364-11e7-932d-057ab93134e8.png)

The included js file is actually `app-production.js` which has a `//# sou

[2017-11-27 10:58] codehag commented on #4765
@leibale Hey! thanks for taking a look
@violasong do we want this to change for all tools, or just the debugger?

[2017-11-27 11:19] #4551 closed

[2017-11-27 11:25] codehag commented on #4406
We now have the damp runner!

[2017-11-27 11:25] #4406 closed

[2017-11-27 13:58] lukaszsobek commented on #4393
This seems to happen because the Editor uses the same editor tab to display the new content without resetting the line and column.

[2017-11-27 14:22] jasonLaster commented on #4799
Great writeup

[2017-11-27 14:23] jasonLaster commented on #4393
Hmm, weird it should create a new document for the new source

[2017-11-27 14:59] nicofrand commented on #4210
Sorry to comment on a closed ticket but I cannot find how to use this feature, with Firefox 58.0b4 (I was told this landed in Firefox 58) ?

[2017-11-27 15:15] codehag commented on #4649
@jasonLaster im not seeing any changes in the screen shot here?

[2017-11-27 15:18] codehag commented on #4384
can this be closed? @jasonLaster

[2017-11-27 15:57] #4384 closed

[2017-11-27 17:33] jasonLaster commented on #4649
Oops, guess my screenshot was bad. Was thinking of adding text below the shortcuts

[2017-11-27 17:34] jasonLaster commented on #4210
yep, `cmd+:`

[2017-11-27 17:53] nicofrand opened #4804 "Explain the gotoline shortcut"
As there is an explanation to say "Use CTRL+p" or "Use CTRL+Shift+F" to search files/functions, there should be an explanation to say "Use CTRL+:" (or "CTRL+;" on azerty layouts) to go to a specific line.

"CTRL+:" or "CTRL+;" are really not easy to find out, and the keys are not easy to reach… I wish I could tell the debugger to use "CTRL+G" instead like on Chrome or some IDEs, but an explanation

[2017-11-27 18:22] jnachtigall commented on #4799
I forgot to say (don't know if this is important) that when I remove the `jquery document ready` wrapper, then the breakpoint is hit successfully. I noticed this while trying to create a minimal test case. That is, having
[code]
in the original `app.js` instead of
[code]
then breakpoint would be hit. That is, when the script line is immediately called when script is loaded and not when `document.r

[2017-11-27 18:24] Zacqary commented on #4703
It looks like there's a responsiveness bug even outside of vertical mode. Notice how the close button is obscured because it's too far to the right:
![screen shot 2017-11-27 at 12 17 49 pm](https://user-images.githubusercontent.com/1445834/33282064-0a7e8ebe-d36d-11e7-9299-269017cf3410.png)

This is fixable in horizontal mode by setting the `CodeMirror-linewidget` to have `width: calc(100% - 30px)`

[2017-11-27 18:25] violasong commented on #4765
@codehag Thanks for asking about this - I realized this needs to be changed for Style Editor too (so maybe all codemirror tools?). Inspector/Console don't need this change.

[2017-11-27 20:10] jasonLaster commented on #4703
👋 @Zacqary!

We have a UI redux field for the sidebar widths. Could help...

[2017-11-27 20:13] jasonLaster commented on #4799
Nice. I wonder what the map is doing. Do you have a repo where we can play with it and rebuild?

[2017-11-27 20:26] gnadelwartz commented on #4804
if `CTRL+g` is not used it can be a second (compatibility) shortcut for goto line

[2017-11-27 20:48] Zacqary commented on #4703
So here's what I was able to achieve by adding `padding-right: 16px` to `.conditional-breakpoint-panel` and then removing the `min-width` from `.CodeMirror-sizer` — the condition input field is now fully responsive, and the only thing that's still broken is horizontal scrolling:

![resize](https://user-images.githubusercontent.com/1445834/33288411-cf11872c-d381-11e7-9aed-c5d7e9d2be83.gif)

I haven

[2017-11-27 20:49] #4776 closed

[2017-11-27 20:52] Zacqary commented on #4703
/claim by the way

[2017-11-27 21:51] darkwing opened #4807 "Add PrettyPrint Icon to Tabs Dropdown"
It would be nice to repeat the Pretty Print icon in the tabs dropdown:

<img width="730" alt="dropdownicon" src="https://user-images.githubusercontent.com/46655/33291215-b2365868-d38a-11e7-8926-6cd184731fe3.png">

Without the `{}`, it's impossible to know which tab you're clicking on if both are open

[2017-11-27 22:48] jimblandy opened #4809 "[WatchExpressions] occasionally evaluated in the wrong scope"
- Visit [timers](https://dbg-timers.glitch.me/).
- Set a breakpoint at client.js line 12.
- Add `id` as a watch expression.
- Press the "stuff" button.
- Resume various times.

I occasionally see the watch expression `id` being evaluated apparently in the global scope:

![image](https://user-images.githubusercontent.com/751272/33293467-bbb10162-d381-11e7-92c0-e08d9af77ab0.png)

Note that the scree

[2017-11-28 00:22] CharlesStocky commented on #4712
The problem showed up in stable as well. Should the editor pane (when searching files) be flush to the bottom of the browser? @juliandescottes

[2017-11-28 02:05] darkwing opened #4810 "Blackbox Icon Isn't Removed When Tab Closed"
I closed a blackboxed tab but the icon didn't go away from the Outline tab

<img width="635" alt="blackboxlegacy" src="https://user-images.githubusercontent.com/46655/33298846-4f8e8f5e-d3ae-11e7-8a1e-a909cce0efb1.png">

[2017-11-28 02:22] darkwing commented on #4810
Also worth noting that opening that item again starts the tab in blackboxed mode, which I'm not sure we want.

[2017-11-28 10:51] cedeber opened #4812 "[Debugger/Style Editor] Requests for sourcemaps are done without credentials"
Hi everyone.

It looks like the requests for the sourcemaps (CSS and JS) are done without credentials. I have a 401 error when the site is closed by a login. If I open the access, everything works fine again. The soucemaps work great on Safari and Chrome btw, so it’s not a sourcemaps error.

Here is a screenshot of what happens:

![sourcemaps](https://user-images.githubusercontent.com/3330814/3331

[2017-11-28 11:26] MikeRatcliffe opened #4813 "web2pdfextension.17@acrobat.adobe.com (Acrobat Pro Plugin) breaks debugger"
The user that reported this was using Firefox 57.0 (64 bit) in German on Win10 but the language probably doesn't matter.

#### STR

1. Install Acrobat Pro `on` a Windows 10 box.
2. Go to https://www.soscisurvey.de/example/?q=fail&password=demo&debug7
3. Open the developer tools, and reload the page.

Neither the DevTools will work any more, nor the sliders, nor the F5 button.

#### Screenshot

![a

[2017-11-28 11:29] codehag commented on #4813
Thanks for the bug report, we will take a look into it!

[2017-11-28 11:30] codehag commented on #4810
thanks for the bug report! If anyone wants to pick this up, please ping me and I will walk you through where the issue is likely.

[2017-11-28 11:32] codehag commented on #4809
thanks. i will try to confirm that this is happening. are you pausing on exceptions by any chance?

[2017-11-28 11:38] codehag commented on #4804
CTRL+g is being used, but perhaps not for the most necessary action. It is currently used to search again.

We need to add an explanation in any case; it can be added in the shortcuts overlay.

<img width="1234" alt="screen shot 2017-11-28 at 12 35 07" src="https://user-images.githubusercontent.com/26968615/33317908-0312a62a-d439-11e7-85a0-5a1344ffc40b.png">

[code]

[2017-11-28 11:40] codehag commented on #4812
related bugzilla bug: https://bugzilla.mozilla.org/show_bug.cgi?id=1404245

[2017-11-28 11:42] zaggy commented on #4813
Just checked on my machine. I have latest Adobe Acrobat DC installed on Windows 10 machine. Don't have the described behavior and can't reproduce the issue
![image](https://user-images.githubusercontent.com/69977/33318075-70d03098-d48d-11e7-961d-c9eb2cae578c.png)

[2017-11-28 11:44] zaggy commented on #4813
Maybe the issue is in German version? I'll spin a virtual machine with German Windows 10 later this week.

[2017-11-28 11:45] codehag commented on #4813
thanks for taking a look @zaggy. Yeah it would be great if you can try the german vm. I will run it as well tomorrow on a windows machine. @MikeRatcliffe, is there more information from the user? are they available for questions anywhere?

[2017-11-28 12:12] MikeRatcliffe commented on #4813
You can contact him over Mozilla discourse via the Message button:
https://discourse.mozilla.org/u/dominik/activity/replies

[2017-11-28 12:14] MikeRatcliffe commented on #4813
I suspect we will need to find out which acrobat version he is using to reproduce this.

[2017-11-28 12:57] codehag commented on #4810
@darkwing -- after looking at the behavior, i am wondering if we want the blackboxed status to go away if the tab is closed. I think you can black box a source and it shouldn't be unblack boxed until you explicitly say so?

it feels like you shouldnt need to open the file to black box it as well.. what do you think?

[2017-11-28 13:25] juliandescottes commented on #4813
I posted in discourse, but I'll dupe here. I think this is an issue with break on all exceptions + webextensions.

It seems like @Dominik currently has its debugger set to “Pause on all exceptions” (according to the color of the associated icon on the screenshot below)

![image](https://user-images.githubusercontent.com/1141550/33321972-dcddc0ac-d447-11e7-92e1-c36866f2a4d2.png)

The mentioned exte

[2017-11-28 15:21] jimblandy commented on #4809
The screen shot says "paused on exception", so I assume so?

[2017-11-28 15:28] codehag commented on #4809
😅 good point. i was looking for the pause exception button

[2017-11-28 16:35] tahmidefaz commented on #4804
\claim
@davisv007, @roberthosking, @sanginovs and I will be taking a look at it.

[2017-11-28 16:36] tahmidefaz commented on #4804
/claim
@davisv007, @RobertHosking, @sanginovs and I will be taking a look at it.

[2017-11-28 18:27] domoritz opened #4816 "Move network throttle tool to network panel"
https://blog.nightly.mozilla.org/2016/11/07/simulate-slow-connections-with-the-network-throttling-tool/ introduces the network throttle tool. In the comments, many people said that the tool is hard to find because it is hidden in the responsive mode. Chrome has the throttle feature on the network panel. I suggest to move or duplicate the feature so that it is accessible from the network panel.

So

[2017-11-28 19:39] yurydelendik commented on #4158
Can we also add one for source type enum used (e.g. wasm, ts, etc.)? (FWIW I care about only about wasm :)

[2017-11-28 20:20] bomsy commented on #4816
heya @domoritz yeah this should be file in bugzilla.

[2017-11-28 22:13] bzbarsky commented on #4751
@codehag You know how in the devtools inspector, if you have a node with event listeners it has a little "ev" marker and if you click that you can look at the event listener?

This issue is about having similar functionality for values being inspected in the debugger.

[2017-11-29 00:28] jasonLaster commented on #4233
Re-opening with a proposal for toggling breakpoints. We currently have a couple toggle actions and they're not very clear. I think it would be nice to:

1) move them into their own module
2) add some docs and simpler names
3) add jest tests around the code branches. (no bp, bp disabled, ...)

Here is a branch with my proposal!
https://github.com/devtools-html/debugger.html/compare/master...jasonLa

[2017-11-29 07:25] digitarald opened #4823 "[Editor] Context menu `Add conditional breakpoints` should focus condition input"
STR:
- Open https://mozilladevelopers.github.io/sample-todo/03-conditional-breakpoints/
- Right click on a line number in Debugger and click `Add conditional breakpoints`

AR:
- Input isn't focused

ER:
- Focus input field to start typing condition

This works as expected when the breakpoint is created normally and then made conditional by right clicking `Add condition` in the `Breakpoints` sectio

[2017-11-29 07:30] digitarald opened #4824 "[Breakpoint] Show condition for conditional breakpoints in list"
The only indicator right now is a small orange bar.

It would be nice to see the condition, cut off by ellipsis to fit; maybe with click to edit for quick access to revising it.

[2017-11-29 09:14] #4816 closed

[2017-11-29 09:57] codehag commented on #4824
@digitarald,

maybe something like this?

<img width="299" alt="screen shot 2017-11-29 at 10 57 24" src="https://user-images.githubusercontent.com/26968615/33369229-25b7dd7e-d4f4-11e7-9fdd-d0a1ca26b1ec.png">

[2017-11-29 09:58] juliandescottes commented on #4705
The server was probably down temporarily?

Would be nice to isolate this as a dedicated test case now that there is a better understanding of what is causing the performance issue.

[2017-11-29 10:33] codehag opened #4825 "Credentials and cookies issues"
we are experiencing some issues with sources fetched with credentials.

+ https://twitter.com/ryancoshea/status/930818874290864128
+ https://github.com/devtools-html/debugger.html/issues/4812
+ https://bugzilla.mozilla.org/show_bug.cgi?id=1404245

there is also a bug where private mode uses cookies from a logged in session, but i cannot find the bug right now. This issue can be used as a location

[2017-11-29 11:37] lukaszsobek commented on #4807
/claim

[2017-11-29 11:48] zaggy commented on #4823
/claim

[2017-11-29 13:16] jnachtigall commented on #4799
I added the build tools at https://github.com/jnachtigall/jnachtigall.github.io/ so you can play with it

1. Clone and change to `bp` folder
2. `npm install`
3. `npm run build` or `npm start` (which also builds), see `bp/package.json`.
4. Set breakpoints in https://github.com/jnachtigall/jnachtigall.github.io/blob/master/bp/src/app.js

FWIW, I noticed that in the console the working breakpoint (ou

[2017-11-29 14:27] codehag opened #4828 "fix jest warnings"
we have a number of jest warnings that it would be good to take care of.

warnings:
[code]

[2017-11-29 16:34] nicofrand commented on #4708
Chrome Version 61.0.3163.100 (Official build) (64 bits) does not show them, I don't have access to a newer version for now.

[2017-11-29 20:23] lukaszsobek commented on #3996
/claim

[2017-11-29 20:41] digitarald commented on #4017
Recorded a profile: https://perfht.ml/2AmcWdJ

Looks like React is constantly updating state in the main process after receiving messages; and the content pocess has some hangs due to `_setBreakpoint`.

[2017-11-29 22:21] jasonLaster commented on #4828
someone mentioned this was coming from devtools-core packages

[2017-11-29 22:40] jasonLaster commented on #4810
yeah, i think the icon is just as important as ever. From a UI perspective though it is probably too bright, maybe it should be the same grey :)

also, there should be a context menu item to unblack box it, not sure if that's the case.

[2017-11-30 08:09] #4608 closed

[2017-11-30 08:44] #4526 closed

[2017-11-30 08:48] lukaszsobek commented on #4141
Can this be closed, as the lambda issue is resolved or are we going for a full icon rework?

[2017-11-30 10:23] domoritz commented on #4816
https://bugzilla.mozilla.org/show_bug.cgi?id=1421948

[2017-11-30 10:25] #4141 closed

[2017-11-30 15:32] tahmidefaz commented on #4804
/unclaim
We got some feedback on a different PR request that we did. Unclaiming it because if anyone wants to work on it can go ahead. Sorry for the inconvenience.

[2017-11-30 15:35] JacobTM commented on #4804
/claim I will be working on this issue along with @michaelm396 & @coledu

[2017-11-30 19:02] sanginovs commented on #4071
/claim

[2017-11-30 19:17] davisv007 commented on #4071
/claim

[2017-11-30 19:55] digitarald opened #4831 "Switching from prettified to unformatted code hangs 8s"
https://perfht.ml/2j56cXR

STR:

- Open application.js on Slack
- Prettyprint. Get coffee, this can take a while
- Switch back to unformatted

ER:
- Fast source switching

AR:
- 8s hang

[2017-11-30 20:16] #4767 closed

[2017-11-30 21:58] RobertHosking commented on #4071
/claim

[2017-11-30 22:14] jasonLaster commented on #4831
here's a link: https://devtools-html.slack.com

[2017-11-30 22:19] lukaszsobek opened #4832 "[PrettyPrint] Pretty document loaded first time has wrong properties"
STR:
- open debugger on minimized file `https://apis.google.com/js/api.js`
- press `ctrl+shift+i`
- open `src/components/Editor/index.js`
- place breakpoint  ~line 237 inside `componentDidUpdate` after the line `const { selectedLocation, selectedSource } = this.props;`
- prettify js
- look at Scope > Local > selectedSource > loadedState
- look at Scope > Local > selectedSource > isPrettyPrinted

E

[2017-11-30 22:21] jasonLaster commented on #4832
Nice find. Can you share a test case and the steps to follow...

[2017-11-30 22:24] jasonLaster commented on #4804
the ctrl+g shortcut comes from editors like atom

Try

1. cmd+f
2. search
3. close search bar
4. cmd+g - will jump to the next result

http://recordit.co/NVvJZNVJEe

not sure what to do here. we should have a google doc with all of our shortcuts and rationale... hard to keep track of :)

[2017-11-30 22:27] lukaszsobek commented on #4393
It is a bug where the scroll state of the current window is preserved when opening a new one. I have the part with navigating a new window to the top done, but would love to handle the 4573 issue at the same time. However in order for that to happen we'd need #4832 to be taken care of.

[2017-11-30 22:29] jasonLaster commented on #4393
Yep. Although, this is a different patch so it could easily be two PRs.

[2017-11-30 22:29] jasonLaster commented on #4393
We like small PRs :)

[2017-11-30 22:36] lukaszsobek commented on #4832
updated desc to make it clearer.

[2017-11-30 22:41] jasonLaster commented on #4831
Looks like we spend a bunch of time in codemirror. This is good news, it's easy to fix!

<img src='https://shipusercontent.com/257d75c8d29d9c1e736bc8fd00f3cefc/Screen%20Shot%202017-12-01%20at%209.40.31%20AM.png' title='Screen Shot 2017-12-01 at 9.40.31 AM.png' width=1003>
<img src='https://shipusercontent.com/7ff70ca4217d0e1feefa29930433cd8c/Screen%20Shot%202017-12-01%20at%209.40.08%20AM.png' titl

[2017-11-30 23:12] jasonLaster commented on #4109
Just created a google doc to come up w/ next steps for the stepping UX work.
@digitarald, @violasong, @codehag, would love your thoughts

[2017-11-30 23:34] digitarald opened #4833 "Massive hang after clicking pretty print a few times"
STR:

- Click pretty print a few times application.js on Slack

AR:
- Even after the pretty printed script shows up, the whole UI beachballs

Profile with 20s main process hang: https://perfht.ml/2BnIjS2

[2017-11-30 23:38] digitarald opened #4834 "Links pretty-printed sources from Console don't do to the right line"
Follow up from https://bugzilla.mozilla.org/show_bug.cgi?id=952127 , that fixed prettyfied source links in Console.

STR:

- Open application.js on Slack
- Prettyprint. Get coffee, this can take a while
- Open Console and click one of the many logs with labels like `
application.c581a1e141626b88f1bc.min.js:formatted:25305`

AR:
- Pretty printed file is opened but line isn't scrolled into view or h

[2017-11-30 23:42] jasonLaster commented on #4834
This is a dupe. CC @lukaszsobek @darkwing

[2017-11-30 23:51] digitarald commented on #3702
Closed via #4619

[2017-11-30 23:51] #3702 closed

[2017-12-01 05:59] lukaszsobek opened #4837 "[Performance] Replace subsequent .toJS() calls with reference to stored value"
.toJS() seems to be an expensive function. Wherever possible it would be nice to call it once, store the value and use the value instead of calling the function over and over again.

At the moment of writing there are 94 instances of .toJS() in the code. This issue would require looking at the functions where .toJS() is called and, if it is called two or more times within the same function to assi

[2017-12-01 06:41] AnshulMalik commented on #4765
/claim

[2017-12-01 07:11] nicofrand commented on #4804
In my Atom (without modfiying it):
![screenshot_20171201_081025](https://user-images.githubusercontent.com/3419050/33471776-2b8f5d0e-d66f-11e7-8a0d-f6f475c73dc4.png)

[2017-12-01 07:29] gabrielluong commented on #4765
This issue probably belongs to m-c and not debugger.html since the changes here need to persist across the entire toolbox for every CodeMirror instance.

[2017-12-01 07:33] AnshulMalik commented on #4765
Created an issue in bugzilla, and a patch
https://bugzilla.mozilla.org/show_bug.cgi?id=1422244

[2017-12-01 07:46] #4765 closed

[2017-12-01 08:05] lukaszsobek commented on #4833
Just to make sure, what does to beachball mean?

[2017-12-01 09:37] codehag commented on #4833
beachball occurs on macs, and it is an indicator that the system is waiting for something

[2017-12-01 11:24] nchevobbe opened #4839 "Investigate in having the debugger layout as a CSS Grid"
I think the debugger would benefit from having its layout built with CSS grid.
- Right now, I think we are listening for resizes in order to switch from horizontal layout to the vertical one. This definitely adds some overhead
- When transitioning from one mode to another, we re-render a lot of things. With CSS we could only shuffle things around using media-queries, no JS involved (= faster)

Her

[2017-12-01 12:50] cristidrg commented on #4837
I can work on this

[2017-12-01 13:00] bomsy commented on #4837
@cristidrg go for it! You can claim it if you like

[2017-12-01 13:54] codehag commented on #4837
this might need to be broken up, since this is a pretty large change, and will require a lot of things to be changed. @cristidrg let us know if you need help keeping it managable!

[2017-12-01 14:21] Anzumana commented on #4788
/claim

[2017-12-01 14:29] cristidrg commented on #4837
Sure, I'll share my insights after I'll work on it for a bit.

[2017-12-01 14:37] Anzumana opened #4841 "Hot reloading broken"
In our readme we state that the react hot reloader is currently broken
https://github.com/devtools-html/debugger.html/blob/master/docs/local-development.md#hot-reloading-fire

It seems that we have not yet integrated the hot reloader into our debugger therefore we still need to integrate it
https://github.com/gaearon/react-hot-loader

[2017-12-01 14:56] Anzumana commented on #4841
/claim

[2017-12-01 15:09] AnshulMalik opened #4842 "Symbol Search does not auto scroll"
![bug](https://user-images.githubusercontent.com/7821757/33488668-5d66316e-d6d7-11e7-99da-e937b2222448.gif)

**Expected Behaviour**
Selected row should remain in viewport.

[2017-12-01 15:55] codehag opened #4844 "revisit selectLocation action"
selectLocation is not yet consistent. we are selecting locations in two ways, and the id has been doubled

<img width="560" alt="screen shot 2017-12-01 at 16 56 15" src="https://user-images.githubusercontent.com/26968615/33490809-9241b062-d6b8-11e7-99ed-431cbadf53a5.png">

<img width="553" alt="screen shot 2017-12-01 at 16 54 40" src="https://user-images.githubusercontent.com/26968615/33490757-71f

[2017-12-01 18:50] miketaylr opened #4846 "[Pretty Print] unable to pretty print minfied JS file on stickerapp.com"
Using the latest Nightly on OSX.

STR:

1. open `https://stickerapp.com/editor/edit/new/single/path/0/97/51/25/glossy_coated/?file=%7B%22width%22%3A388%2C%22height%22%3A369%2C%22thumb_url%22%3A%22%2Ftemp%2F12%2F01%2F1512148395_5a218dab91d95_thumb.png%22%7D`

(who knows how long that URL will be valid, if it's not anymore, just go to https://stickerapp.com/custom-stickers/ and click "upload file" t

[2017-12-01 19:29] digitarald commented on #4833
Also called Eternal Flame: https://xkcd.com/961/

[2017-12-01 20:11] cristidrg commented on #4824
Is this issue available?

[2017-12-01 20:25] Zacqary commented on #4828
Tried to fix this for a while, here's what I found out:

Upgrading some of the `devtools-core` Yarn packages seemed to show me more warnings about calling `createClass`, not less, for some reason, even though their latest versions appear to have silenced all React-related warnings. Upgrading all of them makes it impossible for the debugger to compile; it seems like the Babel configuration doesn't

[2017-12-01 22:56] MikeRatcliffe opened #4848 "Bump devtools-reps and devtools-splitters to the latest version"
I have a new blocker getting React 16.2.0 running inside Firefox DevTools...

If you look [here](https://searchfox.org/mozilla-central/source/devtools/client/debugger/new/debugger.js#33543) you can see that the debugger is still using React.DOM and React.PropTypes, which are not compatible with React 16.2.0.

This is confusing because on Nov 6 I committed changes throughout devtools-core to prepar

[2017-12-02 07:21] jasonLaster commented on #4824
I'd like to look at overhauling the breakpoint UI soon to include grouping breakpoints by file and include a text snippet.

[2017-12-02 10:01] ChrisGitter opened #4849 "[Performance] Webpack devtool modes slow down page load"
I tried to use the debugger with a big React/Redux project using Webpack for bundling. At first load the debugger opens slowly. The site load itself is not effected at first. But when I set a breakpoint somewhere and then reload, the site load takes up to a minute or so. It also freezes the inspector tabs and the CPU is under some load.

I recently tried to switch from chrome to Firefox and I use

[2017-12-02 20:33] japrogramer commented on #1069
hello Im getting this error after trying to change the port from 8000 to 9000

[code]

[2017-12-02 21:24] lukaszsobek commented on #3778
/claim

[2017-12-02 21:26] lukaszsobek commented on #3717
Is that still an Issue?

![horizontal scroll](https://user-images.githubusercontent.com/23530054/33519848-c91854cc-d7af-11e7-8c4a-bd2f93349356.gif)

[2017-12-02 21:27] lukaszsobek commented on #3673
/claim

[2017-12-02 21:31] lukaszsobek commented on #4846
Works for me on auto pretty print.

![peek 2017-12-02 22-30](https://user-images.githubusercontent.com/23530054/33519886-83b5d4f8-d7b0-11e7-8f43-3c071e7535f2.gif)

[2017-12-02 21:32] lukaszsobek commented on #4844
/claim

[2017-12-02 23:40] arthur801031 commented on #4792
/claim

[2017-12-03 02:37] magicp-github opened #4852 "[Editor] Adding a breakpoint should not cause the editor to scroll"
**Steps to reproduce:**
1. Launch the latest Nightly
2. Go to about:home
3. Open Debugger
4. Open resource://activity-stream/data/content/activity-stream.bundle.js
5. Scroll down about one or two page <- _This is an important step for reproducing_
6. Add breakpoint (e.g. Click line number 104) <- _This step works_
7. Remove breakpoint
8. Switch DevTools tab, then go back Debugger
9. Add breakpoint

[2017-12-03 02:42] ajvincent opened #4853 "[Stepping] inconsistent with await calls"
**Steps to reproduce:**

1. In a terminal:

[code]

2. Open karma.conf.js, change line 63 to:
[code]

3. Open docs/gui/tests/outputPanel.js, and go to line 80.  Insert a "debugger;" statement line before the await statement on line 80.  Then go to the top of the file, and add the following line to the beforeEach() function:
[code]

The beforeEach function should now look like this:
[code]

After a

[2017-12-03 22:54] jasonLaster commented on #4849
Thanks @ChrisGitter! We'll take a look :)

[2017-12-04 14:53] codehag commented on #3307
this change had to be backed out due to a memory leak on linux builds. looks like it is related to a dependancy (didn't see anything that would cause it in the update patch ryanjduffy created for the parse library) https://github.com/devtools-html/debugger.html/pull/4840

[2017-12-04 15:17] #4844 closed

[2017-12-04 16:41] codehag commented on #4443
this still needs a test

[2017-12-04 17:47] miketaylr commented on #4846
@lukaszsobek how do I enabled that?

[2017-12-04 18:24] lukaszsobek commented on #4846
go to `assets/panel/prefs.js`
line 16
change `auto-pretty-print` from `false` to `true`

[2017-12-04 18:58] lukaszsobek commented on #4807
Feature implemented.

[2017-12-04 18:58] #4807 closed

[2017-12-04 19:15] lukaszsobek opened #4854 "[DropDown] Hidden tabs dropdown covered by panes"
The visibility of the dropdown for hidden tabs depends on the width of the editor window.

In certain situations the dropdown gets covered by the panes which makes it impossible to know which item to select.

ER: Expanded dropdown never gets covered by panes trying to overlap it.

Video:
![dropdown](https://user-images.githubusercontent.com/23530054/33571199-98e1093a-d92f-11e7-873d-b947f1538533.gi

[2017-12-04 19:18] lukaszsobek opened #4855 "[DropDown] Hidden tabs dropdown renders out of bounds"
The visibility of the dropdown for hidden tabs depends on the width of the editor window.

When the editor window gets small enough opening the hidden tabs dropdown causes it to render incorrectly and out of bounds.

And In certain situations the dropdown gets covered by the panes which makes it impossible to know which item to select.

ER: The dropdown checks how much space there is available and

[2017-12-04 19:29] lukaszsobek opened #4856 "[Launchpad] Connection spam via network-request.js"
STR:
- open launchpad
- wait

ER:
- nothing happens

AR:
- console gets spammed with denied connection requests

Video:
![launchpad-spam](https://user-images.githubusercontent.com/23530054/33571924-c43ec728-d931-11e7-85f2-a07802763d02.gif)

[2017-12-04 21:13] CharlesStocky commented on #3346
/claim

[2017-12-04 22:05] digitarald opened #4857 "Links from sourcemapped Network Stack Trace don't jump to correct source line"
STR:
- Open Network on [perf-html](https://perf-html.io/public/bf377b229ec75f94bf3596e45d7bff52a9203f74/calltree/?hiddenThreads=&thread=3&threadOrder=0-2-3-4-5-1&v=2), filtered on XHR
- Click first link in sourcemapped Stack Trace panel

AR:
- Debugger opens with right file but not correct line

ER:
- Right file and line opens

We should confirm that #4747 fixes this; but I don't know how to test