[2017-12-04 22:14] digitarald commented on #2944
Just saw this on Nightly:

<img width="572" alt="image" src="https://user-images.githubusercontent.com/8599/33579054-4ed62bea-d8fd-11e7-887a-a556fca69f53.png">

https://perf-html.io/public/bf377b229ec75f94bf3596e45d7bff52a9203f74/calltree/?hiddenThreads=&thread=3&threadOrder=0-2-3-4-5-1&v=2
webpack:///src/actions/receive-profile.js line 451

@darkwing can you reproduce?

[2017-12-04 22:54] violasong commented on #4109
Added some questions and a rough mockup to the bottom of the [doc](https://docs.google.com/document/d/1Rf9IVlx8RbVQ7OVzN980KHsUBG0uVt6zcWofKt1TYUs/edit)

[2017-12-04 23:28] bomsy commented on #4856
This is an issue for devtools core. https://github.com/devtools-html/devtools-core/issues/831

[2017-12-04 23:28] #4856 closed

[2017-12-04 23:33] bomsy commented on #4855
Maybe we should probably have some sort of a minimum width how small that can go

[2017-12-04 23:44] bomsy commented on #4854
I think this issue can go together with https://github.com/devtools-html/debugger.html/issues/4855
is they are closely related.

[2017-12-04 23:44] #4854 closed

[2017-12-05 00:11] juliandescottes commented on #4852
Note that this behavior seems to depend on your toolbox height. I was about to log a different bug, but I think it would be a duplicate so I'll just add my STRs here.

STRs:
- make sure to use a rather small toolbox height (you can set devtools.toolbox.footer.height to 250 in about:config for instance, assuming toolbox docked to the bottom)
- go to http://firefox-dev.tools/debugger-examples/exampl

[2017-12-05 05:27] lukaszsobek commented on #4855
@bomsy That might be one solution. I'm thinking of making sure that even when you are using a 1024x768 resolution the debugger is still usable. That would make it a min-width of about 300px, but what happens if the user needs the expressions pane more and wants to resize that. I guess we could argue that they can close the sources pane then.

[2017-12-05 09:11] lukaszsobek commented on #4794
Requires further UI/UX discussion.

[2017-12-05 09:11] #4794 closed

[2017-12-05 09:25] lukaszsobek commented on #4647
Is fixed:
![cannot-unfocus-prettyprint](https://user-images.githubusercontent.com/23530054/33599438-768612a0-d9a6-11e7-944d-eded828c37ec.gif)

[2017-12-05 09:25] #4647 closed

[2017-12-05 09:36] lukaszsobek commented on #4515
@wldcordeiro - Is this still the case?

Tested on:
Opera Version: 49.0.2725.39
Ubuntu Kylin 17.10 (x86_64; ubuntu:GNOME)

Video:
![disappearing-gutter](https://user-images.githubusercontent.com/23530054/33599941-0d2d2652-d9a8-11e7-859c-2f82c3608f0f.gif)

[2017-12-05 09:43] lukaszsobek commented on #4437
So basically we want to preserve the state complete with focus and pretty printed tabs? How are we keeping the tabs across reloads now?

[2017-12-05 09:45] lukaszsobek commented on #4437
/claim

[2017-12-05 09:47] lukaszsobek commented on #3305
@jasonLaster 4437 seems somewhat related as we initiate prettyPrint on focusing the tab, and since a minified tab is not focused when we reload the debugger the prettifying is never initiated.

[2017-12-05 09:56] lukaszsobek commented on #3942
Seems we need something along the lines of:
- add new text entry to the localization file "Evaluate in console"
- add this entry to a new menu item
- the menu item only appears when we right-click a selection of text
- the new menu item calls a function
- the function console logs the output

[2017-12-05 09:59] lukaszsobek commented on #4834
Dupe of #3778

[2017-12-05 09:59] #4834 closed

[2017-12-05 10:07] lukaszsobek commented on #4087
@yurydelendik @jasonLaster

The issue seems to have evolved:
- gutter loads
- breakpoint is missing in editor, but present in breakpoint panel
- source not selected (there a few issues for that bug already filed)
- interestingly the wasm source looks like it is active, as opposed to regular tabs - those appear inactive

Video:
![wasm-source](https://user-images.githubusercontent.com/23530054/33601

[2017-12-05 10:13] nchevobbe commented on #4839
Here's the html structure that we would need :
[code]

This way we can break the layout at a given width to vertical

[2017-12-05 13:24] #3996 closed

[2017-12-05 13:26] nchevobbe commented on #4848
We also need to update devtools-reps to 0.0.15 (or 16 if we publish it meanwhile).
This is blocked due to the ObjectInspector not persisting its state in new reps package, which is an issue when the debugger switch from horizontal to vertical layout (or the other way around).
Switching the debugger to be CSS Grid-driven would solve this issue (no need to unmount to change the layout).
This is inve

[2017-12-05 15:33] CJSt commented on #4075
Add new button has been removed in another update, so there's not a need to look for that. We weren't able to convert the tabs into lists in order to get keyboard navigation to work properly. Also, this issue seems similar to issue #4070 where the close button is also needing keyboard navigation.

[2017-12-05 15:34] CJSt commented on #4075
/unclaim

[2017-12-05 18:30] JacobTM commented on #4804
/unclaim we were working on this bug for a class and since the semester is almost over now, we are going our separate ways

[2017-12-05 18:32] JacobTM commented on #4804
/unclaim

[2017-12-05 20:11] bomsy commented on #4846
@miketaylr In nightly, i think there's `devtools.debugger.auto-pretty-print` in `about:config` also

[2017-12-05 20:36] miketaylr commented on #4846
Thanks... I use DevEdition (and don't run with my own modded builds of DevTools). Hopefully that pref will ride the trains soon.

[2017-12-05 20:47] digitarald commented on #4649
@jasonLaster with a default styling for text and link, this should be easy to add and probably requires as much time to mock up vs just to add ;)

[2017-12-05 21:31] violasong commented on #4649
I think we currently don't have an existing style for this type of welcome message, but I was working on this for the a11y tree panel:

![image](https://user-images.githubusercontent.com/55994/33631773-60ea892a-d9c0-11e7-9bc9-45aab339ca1f.png)

Having the welcome text below the shortcuts seems like a good idea.

[2017-12-06 00:41] wldcordeiro commented on #4693
The code above was there to ensure that the cursor was placed after one of the shortcut characters, it could be made more robust to only do so for that case and not all text.

[2017-12-06 00:42] wldcordeiro commented on #4515
Double checked and this is no longer happening. Thanks @lukaszsobek

[2017-12-06 00:42] #4515 closed

[2017-12-06 03:02] tohmjudson commented on #4810
I'd happily revisit this. For the icon being bright, I went with that since it matched what was going on in the tab and in the footer icon color change, but I see what you mean... it really stands out and might be better that same grey.

 I do agree that the icon should stay if even if the tab is closed

[2017-12-06 09:59] jasonLaster commented on #4649
Oh nice. I guess my two questions are

1) do we want a logo
2) how do we style the link?

[2017-12-06 10:00] jasonLaster commented on #4846
@bomsy @mikeataylr can we close this?

[2017-12-06 14:37] nchevobbe opened #4863 "[Sources] Show “Loading sources” label"
Steps to reproduce:
1. Go to https://debugger-html-css-grid.glitch.me/
2. Open the debugger
3. Reload

Expected results:
The source panel shows a "Loading sources" label
Actual results:
The sources panel shows "this page has no sources" label, and then is updated

![dec-06-2017 15-41-40](https://user-images.githubusercontent.com/578107/33667077-1cec1202-da9c-11e7-8a44-38f84ecf0961.gif)

In the gif

[2017-12-06 17:28] digitarald opened #4864 "Right-click callstack entry causes a 800ms hang by updating codemirror"
STR:
- Pause in a large file
- Right-click callstack

AR:
- 1s to show the menu; 800ms hang

Profile: https://perfht.ml/2itMAfk

I see code mirror and other things in here that should not really render when right-clicking the callstack.

[2017-12-06 17:31] digitarald opened #4865 "[CallStack] responsive ui"
STR:
- Break in a JS file on Github or anything with longer file names (names like hashes)

AR:
- The name can't be fully seen

Filename doesn't use all the space:
<img width="733" alt="image" src="https://user-images.githubusercontent.com/8599/33674866-a8a99468-da65-11e7-8002-cb1c9b5bd966.png">

Filename doesn't shrink and pushes out function name:
<img width="316" alt="image" src="https://user-i

[2017-12-06 17:49] tbrisker commented on #4217
Looks like this change needs to be done in devtools-mc-assets, right?

[2017-12-06 18:15] sole commented on #4750
There's an interesting test case with anonymous event listeners over [this bugzilla bug](https://bugzilla.mozilla.org/show_bug.cgi?id=1326816)

[2017-12-06 18:44] digitarald commented on #4649
/claim

[2017-12-06 18:56] digitarald commented on #4649
Had a simple MVP to add the message, rabbit holed myself into switching the page from floats to grid.

Current message I have, word-smithing appreciated:

[2017-12-06 18:57] digitarald commented on #4649
This follows the default linking style I see across Firefox, which doesn't seem to focus on meaningful CLA/linking but rather making l10n easier. I'd rather have a link within the sentence with a better call to action.

[2017-12-06 20:53] miketaylr commented on #4846
I... don't know. A vanilla Nightly debugger can't pretty print that file. That feels like a bug? Are there plans to expose auto pretty print in devtools settings somewhere?

[2017-12-06 21:07] jasonLaster commented on #4846
I see. Let's leave it open.

We're adding the auto-pretty-print option in the devtools settings pane.

[2017-12-06 21:09] jasonLaster commented on #4217
@tbrisker yep

[2017-12-06 21:20] jasonLaster commented on #3942
I think we can add a `consoleEvaluate` action in `actions/panel`

[code]

[2017-12-06 21:33] violasong commented on #4649
How about:

The nice thing about the "Learn more" at the end is that it does look like a call-to-action. Would be interesting to know which type of link is clicked on more often.

Don't need a logo for now, but if we'll be doing more of these tips/welcome messages for various panels, some unifying icon (like a light bulb... or friendly otter face) would be nice. Actually, maybe for now we could us

[2017-12-06 21:38] miketaylr commented on #4846
So... I just re-tested, and I can't reproduce anymore in 58 DevEdition. What I *think* is happening is that it's just very slow. There's no visual feedback when clicking the `{ }` button, so I think I was mentally bailing before it finished. Now I can see an extra prettified editor.js tab if I wait 3 to 4 seconds.

(is there a feature request bug open to automatically focus the prettified tab when

[2017-12-06 21:38] #4846 closed

[2017-12-06 21:44] jasonLaster commented on #4846
I believe so. We're working on some of the loading state stuff too:

1) disable/hide the button
2) create the tab early and show a loading state

[2017-12-06 22:58] jasonLaster commented on #4784
@codehag we currently show a loading message in the editor: https://github.com/devtools-html/debugger.html/blob/master/src/components/Editor/index.js#L480-L493

is that what you're referring too?

[2017-12-06 23:01] jasonLaster commented on #4782
@codehag can you add some more information here.

1. are we discussing updating `checkPendingBreakpoints`
2. are we concerned about touching the store too often?
3. are we worried about too many Editor/Breakpoints renders?
4. are we worried about too many SecondaryPanes/Breakpoints renders?

[2017-12-07 11:40] juliandescottes commented on #4616
This is still not fixed when testing the release from https://bugzilla.mozilla.org/show_bug.cgi?id=1423158 which contains the following changelog https://github.com/devtools-html/debugger.html/compare/efa4ca367dadb1bb54525f9fe305dd38c0ec6323...d2ed2927c7070e7443f297f98f1bf145a583f3c7

Is there a test covering this feature?

[2017-12-07 11:45] #4616 closed

[2017-12-07 11:45] juliandescottes commented on #4616
Sorry my bad, tested the wrong changeset, this is fixed with the last bundle, ignore my previous comment :)

[2017-12-07 13:47] codehag opened #4868 "Regressions on closing and reopening the debugger"
in the latest release, two regressions were spotted:

when closing and reopening the debugger:
- source tab is blank
- breakpoints are persisted but not visible in the gutter

https://bug1423158.bmoattachments.org/attachment.cgi?id=8935329

We should get this fixed before the next release, next week

[2017-12-07 14:22] codehag opened #4869 "adding license headers to all image files"
We need to add a small license header to our image files. You can find our image files in `assets/images` it should look something like this:

[code]

[2017-12-07 14:23] codehag opened #4870 "add license header to all examples in mochitest directory"
we need to add license headers to all of our examples in the mochitest directory

you can find the examples in `src/test/mochitest/examples`

the header should look something like this:
[code]

[2017-12-07 16:05] arai-a opened #4872 ""Pause on all exceptions" toggle switch is hard to discover and hard to figure out which state it is"
Steps to reproduce:
  1. Run Nightly 59.0a1 (2017-12-07) (64-bit) with clean profile on macOS
  2. Open debugger

Actual result:
  1. it's hard to find "Pause on all exceptions" feature for the following reasons:
    a. previously it was provided via menu with text, now it's button without text
    b. I'm not sure if it's common tho, the icon (octagon with 2 lines) doesn't describe the feature wel

[2017-12-07 16:28] Securter commented on #4870
/claim

[2017-12-07 20:45] nchevobbe opened #4879 "Update to React 16.2.0"
This is needed so the whole devtools toolbox can also switch to React 16 as well.
Here's what we should do:

- [x] Update React packages to 16.2.0 (use separate packages for proptypes and react-dom-factories). Maybe @MikeRatcliffe could help us here.
- [x] Update all the dependencies that would not work in their current version with React 16 (see also https://github.com/devtools-html/debugger.html

[2017-12-07 21:38] emmet0r commented on #4075
/unclaim

[2017-12-07 21:51] jasonLaster commented on #4879
@nchevobbe surprised me earlier when he informed me of the large `set_operation` performance time. It looks like it's about 200ms:

My take away is that we can probably optimize this quite a bit. We probably should as well as this is likely our perf when opening the debugger for the first time.

<img src='https://shipusercontent.com/ea8d10fcb6bd461bd6cbc9c346bee55f/Screen%20Shot%202017-12-07%20at%

[2017-12-07 22:03] digitarald commented on #4649
Looking through Firefox, blue `Learn More` links are all I can find, without icon. I do generally like the icon as it can lower the confusion of what clicking the blue link will do (opening some learning experience in debugger vs a new tab with the playground).

[2017-12-08 00:39] violasong commented on #4649
That's a good point about the "Learn More"s never having the icon - I'm going to ask the design system team about this.

[2017-12-08 07:40] lukaszsobek commented on #4437
Issue opened here: https://github.com/devtools-html/devtools-core/issues/839

[2017-12-08 08:25] lukaszsobek opened #4883 "[Flow] Improve flow behavior"
currently flow creates a lot of terminal spam and caches results, which has a negative influence on debugging workflow. It would be nice if we changed the default `yarn flow` behavoir to be `yarn flow check`, not only is it less verbose to the output, but it also forces a re-check without using cache.

[2017-12-08 09:43] MikeRatcliffe commented on #4879
I have already done all the work we need to do in devtools-core, debugger.html etc. you should be able to just bump to 16.2.0 in package.json.

[2017-12-08 09:47] #4870 closed

[2017-12-08 10:51] MikeRatcliffe opened #4885 "[meta] Check that all plugins are compatible with React 16.2.0"
As part "encouraging" the debugger to be React 16 compatible (issue #4879) we need to check that every dependency will work with React 16.

[2017-12-08 10:52] MikeRatcliffe commented on #4885
/claim

[2017-12-08 12:28] codehag opened #4886 "name collision: getOutOfScopesLocations"
We have a naming collision between getOutOfScopesLocation in `workers/parser/getOutOfScopesLocation.js` and getOutOfScopesLocation in `reducers/ast.js`

the two functions do different thing, one determines which scopes are out of scope, the other retrieves cached data. since we have a standard way of naming selectors with the `get` prefix, we should rename the parser code to `findOutOfScopeLocatio

[2017-12-08 12:29] #4869 closed

[2017-12-08 13:54] captainbrosset opened #4887 "[PrettyPrint] Prettify minified inline <script> tag content"
This comes from this bugzilla report: https://bugzilla.mozilla.org/show_bug.cgi?id=1010150

Here is a test case: https://bug1010150.bmoattachments.org/attachment.cgi?id=8422335
- open this url
- open the debugger
- select the HTML page in the tree

This HTML page has  `<script>` nodes. One of them contains minified code, and I can't pretty-print it.

It would be very useful to be able to do so.

V

[2017-12-08 15:05] jasonLaster opened #4888 "[Preview] Format Immutable objects"
We recently landed a V1 immutable preview in #4829.

Here are some follow up items:

- [x] remove the size and entries field and just show the object
- [x] refactor `setPreview` call so that the immutable calls are in a separate function
- [x] make `isImmutable` and `isReact` calls synchronous aka we're not allowed to check w/ separate `client.evaluate` calls because they're too slow

##### 1. rem

[2017-12-08 15:18] jasonLaster commented on #4888
Here are some attempts at cleaning up the preview:

[code]

[2017-12-08 17:02] jasonLaster opened #4889 "[Parser] support JSX content type"
We currently do not parse files with a content type of "text/jsx". We should though because it is basically JS.

This fixes that, but i'm not sure what other contentTypes we should add. Basically, what were we catching with `contentType.includes("javascript")` that we would now miss:

[code]

[2017-12-08 19:09] pradeepgangwar commented on #4886
/claim

[2017-12-08 19:46] jasonLaster opened #4894 "Jest memory leak (maxListeners)"
I'm seeing an intermittent on CI and locally w/ a memory leak. I'm pretty sure it is in our actions...

https://circleci.com/gh/devtools-html/debugger.html/9020

[2017-12-08 20:06] Triscy commented on #4181
/unclaim

We believe that there may be an issue in the svg files: resume.svg, pause.svg, pause-exceptions.svg, stepIn.svg, stepOut.svg, and stepOver.svg, used by the CommandBar.js and CommandBar.css files. The current files are missing a fill attribute which we believe should be in the files to establish a definitive color which may be getting changed at some point in the current code. Another pro

[2017-12-08 20:07] lukaszsobek commented on #4883
Testing proved the proposed method is slower than what we have now.

[2017-12-08 20:07] #4883 closed

[2017-12-09 00:23] #4570 closed

[2017-12-09 03:50] digitarald commented on #4158
Related: Since we are slow on this one we can probably do directly to using event telemetry https://bugzilla.mozilla.org/show_bug.cgi?id=1415976

[2017-12-09 04:41] digitarald opened #4896 "[Performance] Debugger in background causes hangs"
STR
- Opened https://alpha.giveth.io/ with Debugger set to `Pause on uncaught exception`
- Paused on `value` or similar, showing a non-pretty minified JS file
- Switch to a different tab (I opened https://github.com/devtools-html/debugger.html/issues/new to file a bug about that the `js` file doesn't have a prettify option)

AR:
- Debugger in background causes massive hangs on the main process, ev

[2017-12-09 05:17] digitarald opened #4897 "[Perf] Switching callstack entries causes hangs on large minified files"
STR:
- Pause on uncaught exception on https://alpha.giveth.io/ and hit it
- Switch callstack entries

https://perfht.ml/2iI66VD
- 8s hang
- 3x 900ms forced flexbox reflows, caused by `offsetTop` and `updateHeightsInViewport`: https://perfht.ml/2iH9FeE
- 2.4s in `getCallSites`

[2017-12-09 10:43] lukaszsobek commented on #4828
/claim

[2017-12-09 11:32] lukaszsobek commented on #4504
Screenshot from #4842
![scroll_outofbounds](https://user-images.githubusercontent.com/23530054/33795181-daeb22e2-dcdc-11e7-98c2-4dcd9a5984c2.gif)

[2017-12-09 11:32] lukaszsobek commented on #4842
Duplicate of #4504

[2017-12-09 11:32] #4842 closed

[2017-12-09 15:47] jasonLaster commented on #4894
Yeah... That's true. It would be nice to find when it was introduced...

I think we need a `git bisect`

The nice thing is it's easy to see it locally.

[2017-12-09 16:36] jasonLaster commented on #4896
The first half of the time is spent in `setText` the second half is spent in `getCallSites`. I opened a PR, which fixes the callsite feature flag. We'll have to look into setText separately.

<img width="801" alt="screen shot 2017-12-09 at 11 31 25 am" src="https://user-images.githubusercontent.com/254562/33797387-d0082e2c-dcd4-11e7-9fc3-087e5bd0c706.png">

We'll want to look into speeding up `set

[2017-12-09 17:30] jasonLaster commented on #4897
I'm seeing a pattern here

<img src='https://shipusercontent.com/44969de386304cc22dfd1d26b99db26e/Screen%20Shot%202017-12-09%20at%2012.20.45%20PM.png' title='Screen Shot 2017-12-09 at 12.20.45 PM.png' width=1440>

[2017-12-09 18:15] jasonLaster commented on #4894
so - it looks like it might have started Nov 3rd, but it is not the cause of the intermittent

[2017-12-09 18:29] jasonLaster opened #4899 "[SearchModal] is too wide, when the viewport height is too short"
We have this really strange UI bug, where the search modal becomes really wide when the viewport becomes too short:

It makes me especially sad, because i see it all the time when devtools is docked on the bottom

![](http://g.recordit.co/vq6cRx6sRR.gif)

[2017-12-09 18:47] jasonLaster commented on #4897
I'd like to see if we're calling `updateHeightsInViewport` because we're updating the line number formatter:

if that's the case, commenting this out will help a lot.

[code]

If the problem is that we're updating the line number formatter too much, then the fix is pretty easy :) It turns out that we only need to set it if we're about to view a wasm source or navigating from a wasm source to a non

[2017-12-09 18:50] CharlesStocky commented on #4865
/claim

[2017-12-09 19:14] danedavid commented on #3717
not leading to any React re-renders, if that matters...
![image](https://user-images.githubusercontent.com/19928280/33798691-34022e14-dd43-11e7-9128-fed27b9f709d.png)

[2017-12-09 19:16] lukaszsobek commented on #4894
The memory leak might have been there earlier, but because we did not hit the threshold we did not notice it was there.

[2017-12-10 13:15] nyrosmith commented on #4784
/unclaim

[2017-12-10 14:45] Triscy commented on #4181
/unclaim

[2017-12-10 22:46] WaltersJesse commented on #4076
/unclaim
My team members and I have not solved the bug entirely, but we do have some thoughts and possibly a place to start looking.

To attempt to fix the bug, we changed code in two files:
In src/utils/editor/editor/index.js we made the following changes:
we specified a keybind (Ctrl+Shift+Tab) to enter and exit the CodeMirror when navigating with the keyboard.

In /src/components/Editor/index.j

[2017-12-11 01:30] digitarald commented on #4896
We we have mechanisms to not do heavy UI updates when in background?

[2017-12-11 04:42] CrisOrellana commented on #4080
We have learned a lot while working on this enhancement as well as how long it takes just to complete something that doesn't even seem like a lot of work when it actually is. Although we have not completed the enhancement on time due to the semester ending, we figured out some things that could very well help someone who does have the time to do so! One thing we have figured out is how the accordi

[2017-12-11 09:00] lukaszsobek opened #4901 "[Editor] Uncaught promise rejection when closing debugged property"
STR:
- open website in target browser
- open launchpad in debugger browser
- navigate to debugger tab in debugger browser
- close website in target browser (or whole target browser)
- reload debugger in debugger browser

ER: Debugger starts up without loaded tabs or source.

AR: Empty debugger +
`index.js:195 Uncaught (in promise)
TypeError: Cannot destructure property `tab` of 'undefined' or 'nul

[2017-12-11 13:51] jasonLaster commented on #4896
I believe @ochameau has a patch for this.

[2017-12-11 14:12] ochameau commented on #4896
I did the work for the console as an example here:
  https://bugzilla.mozilla.org/show_bug.cgi?id=1399242
But work is still needed all other panels, to use the VisibilityHandler React component:
  https://searchfox.org/mozilla-central/source/devtools/client/shared/components/VisibilityHandler.js
I filled a bug to do that for the debugger here:
  https://bugzilla.mozilla.org/show_bug.cgi?id=1419352

[2017-12-11 14:13] jasonLaster commented on #4896
Thanks. Maybe we can give this a try when we're together this week

[2017-12-11 14:17] ochameau commented on #4896
I won't be joining Austin all hands, but I can join you on vidyo during Austin mornings if that helps anything.

[2017-12-11 14:18] jasonLaster commented on #4896
Okay, sounds good

[2017-12-11 14:24] jasonLaster commented on #4897
hmm, so it looks like every time we toggle a document, `updateHeightsInViewport` sets a line from 15px to 13px. This is pretty weird, i wonder what we're doing to keep changing it...

[2017-12-11 14:45] kootoopas commented on #4899
/claim

[2017-12-11 15:00] pradeepgangwar commented on #4804
/claim

[2017-12-11 15:05] pradeepgangwar commented on #4756
@codehag This issue looks fixed. Please close this to avoid confusion. 😃

[2017-12-11 18:39] GoldenPenguin commented on #1492
Hello, this issue is affecting me currently. I'm working on a project written in GWT that generates a lot of code (with sourcemap) and the window object can take up to 10-15 seconds to expand at each debug step-in/out/over (it re-expands every time). There is around 20000 members in the window object at the moment.

I'll try using the old UI for now (seems much better in that regard). It collapses

[2017-12-11 21:09] ryanjduffy commented on #4894
I don't think this is a testware issue within the debugger. `EventEmitter` isn't (afaik!) used for managing events in the React stack. Instead, I'm curious if `jest` is starting too many workers to execute tests. In searching source, I noticed that `mocha-runner` comes up several times as listening to `unhandledRejection`. Not sure if that's the cause but could be worth a test to limit the worker

[2017-12-11 21:39] lukaszsobek commented on #4828
Warnings by order of appearance with source:

test file:
`src/components/Editor/tests/Editor.spec.js`
Warning source:
`import Reps from "devtools-reps";`

test file:
`src/components/ProjectSearch/tests/TextSearch.js`
Warning source:
`import { Tree } from "devtools-components";`

test file:
`src/components/SecondaryPanes/tests/Expressions.spec.js`
Warning source:
`import { ObjectInspector } from "d

[2017-12-11 21:44] lukaszsobek commented on #4828
Related: https://github.com/devtools-html/debugger.html/issues/4848 for why update to 0.15 breaks

[2017-12-11 21:57] lukaszsobek commented on #4437
Issue should be fixed now @jasonLaster ?

[2017-12-12 08:59] lukaszsobek commented on #3673
/unclaim

[2017-12-12 10:19] ggl commented on #4804
How about pressing Ctrl/Cmd+F again jump to the next result instead of clearing the search field if search is already open and Ctrl/Cmd+G for go to line #?

Atom and Sublime Text keybindings are not really consistent across platfroms. MacOS uses Cmd+F/Cmd+G for find/find next and Ctrl+G for go to line, while Linux is using Ctrl+F/Ctrl+G for find/go to line and F3 for find next.

https://github.com

[2017-12-12 13:17] jasonLaster commented on #4828
Ahh, i think we're upgrading them soon as we go to React 16! So this could fix itself

[2017-12-12 15:45] jasonLaster commented on #1492
Thanks for filing. We'd love to fix this. I created an issue in our Reps project where we create previews.

I think a good next step is to find a small MVP test case

[2017-12-12 16:15] darkwing opened #4904 "[PrettyPrint] Indentation Stops Late in File"
Looking at `underscore.js` in the TodoMVC demo, clicking the pretty print button opens the prettified tab and things look good...until late in the file, the indentation appears to stop working:

<img width="664" alt="indentationproblem" src="https://user-images.githubusercontent.com/46655/33895107-57c6413a-df25-11e7-9572-d52cf5f61ed6.png">

[2017-12-13 00:22] CharlesStocky commented on #4865
Would showing the filename on mouse-over suffice @digitarald ?

[2017-12-13 04:51] jasonLaster commented on #4865
@CharlesStocky i think a tooltip would help. Also, is there a way to truncate w/ CSS?

[2017-12-13 04:59] lukaszsobek commented on #4901
/claim

[2017-12-13 13:54] sneakyfildy commented on #3736
firefox debugger is impossible to use and firebug is not available. too bad poor firefox

[2017-12-13 15:15] #4886 closed

[2017-12-13 15:15] MikeRatcliffe commented on #4885
### TODO

#### package.json - dependencies (production)

[code]

#### package.json - dependencies (dev)

[code]

### Final Touches

##### Prod dependencies

[code]

##### Dev dependencies

[code]

##### Code Changes

[code]

[2017-12-13 15:22] #4733 closed

[2017-12-13 15:27] codehag commented on #3736
@sneakyfildy so sorry the debugger has been slow for you! we recently rewrote the debugger and are now working on some of the performance issues related to webpack and angular cli. Please tell us a little bit about your application and its build tools and hopefully we can make it fast for you in the near future.

[2017-12-13 15:52] sneakyfildy commented on #3736
@codehag Dunno, the application is regular size. 350KB business logic, 560KB vendor bundle. AngularJS 1.5 packed by webpack. Super-fast debugging with chrome dev-tools and extremely laggy in firefox. Memory seems to be enough.
The funniest thing that the other project source in our company, which is HUGE (super-huge and bundled in one massive package logic+vendor+styles, also angularJS+webpack) ca

[2017-12-13 16:00] codehag commented on #3736
@sneakyfildy thanks for the information. We had a report of issues with angular sites on novemeber 16th: https://github.com/devtools-html/debugger.html/issues/4705

and we have resolved it with the three pull requests mentioned in that issue. This may or may not improve the performance you are seeing but we will investigate further.

The fix for this bug will be released on nightly some time this

[2017-12-13 17:08] jasonLaster opened #4906 "[CommandBar] buttons are mis-aligned"
It looks like the command bar buttons recently shifted a bit up and are no longer aligned in the center with the toggle button.

<img src='https://shipusercontent.com/d6a26e69bbbab527b023935a36814481/Screen%20Shot%202017-12-13%20at%2011.07.18%20AM.png' title='Screen Shot 2017-12-13 at 11.07.18 AM.png' width=376>

[2017-12-13 17:09] jasonLaster opened #4907 "[Footer] the right sidebar height is off"
The right sidebar footer height is one pixel too much :)

<img src='https://shipusercontent.com/ad425b90977faa4d4836171bd7202248/Screen%20Shot%202017-12-13%20at%2011.08.52%20AM.png' title='Screen Shot 2017-12-13 at 11.08.52 AM.png' width=477>

[2017-12-13 17:37] steveck-chung commented on #4312
@jasonLaster Is there any photon spec for input behavior? Because the placeholder for watch expressions seems fine right now.

[2017-12-13 18:36] lukaszsobek commented on #4901
Moved to devtools core launchpad issue: https://github.com/devtools-html/devtools-core/issues/846

[2017-12-13 18:36] #4901 closed

[2017-12-13 22:27] #4437 closed

[2017-12-13 22:56] jasonLaster commented on #4312
hmm... i think the input is okay. I suppose we're thinking about the UI when it's not focused.

[2017-12-14 00:11] #4868 closed

[2017-12-14 00:50] ryanjduffy commented on #4906
Looks like the toggle button is (loosely?) centered with the tabs whereas the command bar buttons are (loosely?) centered in the bar. To which should they align?

I'd like to do a bit of refactoring to standardize these components to ensure some consistency across their usage.

[2017-12-14 02:00] NickMalt commented on #1989
/claim

[2017-12-14 06:19] jasonLaster commented on #4889
we're still working on a better way to know if it's JSX

[2017-12-14 07:51] lukaszsobek commented on #4906
@ryanjduffy if you remove this class
`.command-bar > button {
   padding: 6px 5px;
}`
they will be perfectly aligned again. Alternatively you can also add it to:
`.toggle-button-start.collapsed, .toggle-button-end.collapsed`
which will have a similar effect

[2017-12-14 08:01] lukaszsobek commented on #4907
It might actually be 2 pixels we need to shave off a certain flex property in one of the classes that defines the bottom bar.

[2017-12-14 08:06] lukaszsobek commented on #4727
Closing as fixed
![yarn-js](https://user-images.githubusercontent.com/23530054/33981670-102bd652-e0ae-11e7-9840-bd3005c77df7.png)

[2017-12-14 08:06] #4727 closed

[2017-12-14 08:10] lukaszsobek commented on #3942
/claim

[2017-12-14 08:13] lukaszsobek commented on #4504
/claim

[2017-12-14 08:22] TitanNano commented on #3736
I think the main problem with our project was that we are using Angular2+ in JIT mode which creates additional inline source maps while bootstrapping the application.

Angular 1.x doesn't do anything like this, so I wonder what could cause this. @sneakyfildy what is the main difference between the two apps you mentioned? Are they both built with the same Webpack version? Are you transpiling your c

[2017-12-14 18:13] ryanjduffy commented on #4906
@lukaszsobek Thanks! I saw the same. While that does produce the right result, I think we can improve the layout. After removing that rule, the button has an 8px top/bottom margin leaving 13px for height while the contained image is actually 16px. So we're overflowing the button's content box and effectively treating it like it has a top padding of 8px and bottom padding of 5px.

However, none of

[2017-12-14 21:42] wldcordeiro commented on #4906
Looks like this is closed! Thanks @ryanjduffy

[2017-12-14 21:42] #4906 closed

[2017-12-14 23:01] lukaszsobek opened #4923 "[SearchModal] Search displays -NaN results on opening"
STR:
- open debugger
- open search (cmd/ctrl+p)

ER: Search count does not display until search is initiated.

AR:
![-nan-results](https://user-images.githubusercontent.com/23530054/34018562-b1ebad4c-e12a-11e7-8d83-2d85d0ea32d5.png)

PS. This seems like a recent regression.

[2017-12-15 00:05] lukaszsobek commented on #4504
@darkwing @jasonLaster Do we want the size of the result list to stay the same as it is now (i.e. 80vh)?   There is also a min-height requirement of 340px in a media-query for the 80vh to kick in - not quite sure about the reason for that.

[2017-12-15 00:17] darkwing commented on #3308
Closing this as I can no longer reproduce the issue.

[2017-12-15 00:17] #3308 closed

[2017-12-15 00:25] darkwing commented on #3717
I still see this in current master:

![scrollnumbers](https://user-images.githubusercontent.com/46655/34020835-1134358c-e0fc-11e7-843a-e2075ab56262.gif)

I don't see the issue on this old CM demo (https://codemirror.net/demo/fullscreen.html), so there has to be a way to prevent this problem.

[2017-12-15 00:28] darkwing commented on #3717
Oddly enough, this only happens in Firefox; in Chrome the line numbers are sticky as they should be.

[2017-12-15 00:30] darkwing commented on #3717
Sooo...I've just noticed this only happens when opening the debugger in browser at localhost:8000 -- this problem doesn't occur when placed within Firefox DevTools.

Going to close this...but sorta weird that it happens when loaded outside of the bottom devtools bar.

[2017-12-15 00:30] #3717 closed

[2017-12-15 00:34] darkwing opened #4924 "Source Search Gives 'NaN' Result Count"
1.  Do source search
2.  Find a few results
3.  Delete your search string
4.  Result list shows "-NaN results"

<img width="696" alt="searchsourcesnan" src="https://user-images.githubusercontent.com/46655/34021063-49f7dc92-e0fd-11e7-937d-45f47b6120d8.png">

[2017-12-15 05:31] pradeepgangwar commented on #4907
/claim

[2017-12-15 09:55] lukaszsobek commented on #4923
Closed in favor of the later opened #4924 as it has a solution bound to it.

[2017-12-15 09:55] #4923 closed

[2017-12-15 10:02] lukaszsobek opened #4927 "[Tests] Trying to access .log of console when it is not initiated yet"
The console is trying to log an error, but it seems that because console is still being started and an empty object at the time we are trying to access its property we get an error.

![console_log](https://user-images.githubusercontent.com/23530054/34036891-f465e712-e186-11e7-9579-f3ca0e3cafb7.png)

[2017-12-15 15:44] jasonLaster commented on #3717
Nice.

[2017-12-15 15:45] jasonLaster commented on #3308
Great. I think we actually fixed this with @ryanjduffy parse-script-tags

[2017-12-15 15:45] jasonLaster commented on #4504
I believe @codehag has some thoughts here.

@violasong what do you think?

[2017-12-15 15:47] codehag commented on #4504
I don't have much to add here, I am not sure what the decision behind 80vh was

[2017-12-15 15:56] jasonLaster commented on #3215
@violasong what do you think?

[2017-12-15 15:58] jasonLaster commented on #3968
I believe this has been fixed

[2017-12-15 15:58] #3968 closed

[2017-12-15 16:04] jasonLaster commented on #3666
closing as i'm doing this with a sources actions refactor

[2017-12-15 16:05] jasonLaster commented on #4234
This should now work because we're mapping frames in original sources.

Lets check this soon

[2017-12-15 16:15] jasonLaster opened #4928 "[Welcome] Hide content for narrow widths"
When you open the debugger when it's docked to the right, the welcome content is wrapped like crazy.

Perhaps we want to hide the content after a certain min-width.

<img src='https://shipusercontent.com/3e74c5310afdf23f35618cbc3d89ee97/Screen%20Shot%202017-12-15%20at%2010.06.26%20AM.png' title='Screen Shot 2017-12-15 at 10.06.26 AM.png' width=589>

CC @violasong?

[2017-12-15 16:15] #4243 closed

[2017-12-15 16:18] jasonLaster commented on #3982
Moving this to a tracking issue so that we can add some specific issues below it

[2017-12-15 16:23] jasonLaster commented on #1686
This is a dupe of #3532

[2017-12-15 16:24] jasonLaster commented on #3532
STR are at
+ https://github.com/webcompat/web-bugs/issues/12325#issuecomment-336168501.
+ the second is in my previous comment -- happy to file a new bug for that if you prefer.

Here's a screencast of clicking through the call stack when the breakpoint does stick (on a simpler page: https://miketaylr.com/code/input-type-attr.html) not doing anything useful:

http://recordit.co/q7CrccRfcH

[2017-12-15 16:25] #4171 closed

[2017-12-15 16:25] jasonLaster commented on #4171
Yay!

[2017-12-15 19:02] ryanjduffy commented on #3308
🎉 for bonus fixes!

[2017-12-15 19:06] mattwellss opened #4929 "TypeError: Inspector is undefined"
## Version
FirefoxDeveloperEdition v58.0b11
Mac OS 10.12

## Description
When inspecting a website with an unreasonable number of scripts, the debugger will stop on a `debugger;` statement. However, it seems unable to find the code to display it on the "Debugger" tab. Stepping through code _appears_ to work, and closing the inspector with the × in the corner. Once the inspector has been closed in

[2017-12-15 23:28] #4924 closed

[2017-12-16 13:38] lukaszsobek opened #4933 "[Editor] Clean up EditorMenu.js"
The editor menu file could use some cleaning up in terms of:

1.) **naming conventions**
The naming of items is all over the place which makes parsing the file difficult. It would be nice if:
- [x] All menu items that get pushed into the `menuItems` array were actually named `...Item`
- [x] All label variables would be named `...Label`
- [x] All variables holding acces key values would be named `.

[2017-12-16 15:47] jasonLaster opened #4935 "[Sources] Use Immutable records"
It would be great to explore immutable [records][r1] with the Source I.Map.

Benefits:
+ we can do `source.id` instead of `source.get("id")`
+ we can potentially drop the `SourceRecord` Flow type from a lot of places
+ Our utils don't have to worry if they're getting an Immutable object or PoJo

I've learned so far that Records are a bit different:
+ They always have all the fields (with a default

[2017-12-16 16:40] jasonLaster commented on #4853
Here's a great place to start hacking:

The test asks for where we should step too when we're at the second await and second foo...

[code]

[2017-12-17 08:16] lukaszsobek commented on #1069
@japrogramer you will get this eror when there is a tab open in the debugger, but not in the browser. There is a pending fix for that issue.

[2017-12-17 18:24] pradeepgangwar commented on #4928
@jasonLaster May I try fixing this one if available. :)

[2017-12-18 05:54] zacck commented on #4556
/unclaim

[2017-12-18 06:35] lukaszsobek commented on #4609
Change merged, closing issue.

[2017-12-18 06:35] #4609 closed

[2017-12-18 06:42] lukaszsobek commented on #4933
/claim

[2017-12-18 08:11] lukaszsobek commented on #4078
@yzen Is there still something left to do here or can the issue be closed?

[2017-12-18 12:25] Garbee commented on #4078
Styling of the button states needs to be handled still it appears to me.

[2017-12-18 14:33] lukaszsobek commented on #4927
/claim

[2017-12-18 16:33] tbaud0n commented on #4849
I'm not using webpack but my webapp takes more than 12 seconds to load if the devtools are open and only 2-3 seconds if devtools panels are closed.
It's a local development and the page loads 280 files (mainly js + css files).
@jasonLaster do you think it's linked to this issue or do I need to feel a new issue?

[2017-12-18 17:05] jasonLaster commented on #4849
Hey @tbaud0n - thanks for filing :) we're working on this now and have 3 fixes for it

1. throttle updating the redux store for each source
2. schedule how we load source maps so we don't load them immediately
3. schedule async work like syncing breakpoints so they're not immediately done

2 & 3 are now on Firefox Nightly. 1 is a huge win and we're just fixing up a memory leak with it. Could you t

[2017-12-18 20:03] bomsy commented on #4907
is this

[2017-12-18 20:03] #4907 closed

[2017-12-18 20:04] tbaud0n commented on #4849
I've tried using nightly and there is a little improvement (9 sec instead of 12 sec) but the problem is still present as it should take only 3 seconds to load the page.

On discourse.mozilla.org, there's a [discussion](https://discourse.mozilla.org/t/devtools-slow-and-occasionally-unresponsive-on-some-sites/19936/35) about this issue. Julian Descottes helped me to find that the problem happens whe

[2017-12-18 20:06] bomsy commented on #4927
@lukaszsobek @jasonLaster can this be closed or is there more to be done?

[2017-12-18 20:32] lukaszsobek commented on #4927
I'll close this as it seems to be fixed - rebased a pr that had the error and after the patch it immediately went green.

[2017-12-18 20:32] #4927 closed

[2017-12-18 21:43] jasonLaster commented on #4849
Thanks @tbaud0n

[2017-12-19 14:01] jasonLaster opened #4950 "[SourceTree] icons are too grey for dark mode"
The icons (especially on hover) are a bit too grey. Perhaps they should use one of our lighter colors.

<img src='https://shipusercontent.com/759c1a01638a790437780dbe2fcd0c1f/Screen%20Shot%202017-12-19%20at%209.00.02%20AM.png' title='Screen Shot 2017-12-19 at 9.00.02 AM.png' width=308>

[2017-12-19 16:19] ddinis-alves commented on #4950
/claim

[2017-12-19 18:32] mozbugzi2 commented on #4904
If there is a `switch` statement earlier in the same function, it's probably Bugzilla 1261971 which should be fixed by https://github.com/mozilla/pretty-fast/pull/23

[2017-12-19 19:38] jasonLaster commented on #4904
Thanks @mozbugzi2

[2017-12-19 20:18] #4904 closed

[2017-12-19 20:18] jasonLaster commented on #4904
lets close this as there's now an issue in pretty-fast :)

[2017-12-19 21:13] lukaszsobek commented on #4933
Changes merged, closing issue.

[2017-12-19 21:13] #4933 closed

[2017-12-19 21:42] lukaszsobek commented on #4894
Fix merged, closing issue.

[2017-12-19 21:42] #4894 closed

[2017-12-19 23:32] lukaszsobek commented on #4929
@mattwellss - Do you happen to have a link to the website you were debugging? It would greatly help in reproducing what happened.

[2017-12-20 04:56] jasonLaster commented on #4459
I think we can close this. Is that correct @Fischer-L @ryanjduffy?

[2017-12-20 05:11] #3666 closed

[2017-12-20 05:12] #4151 closed

[2017-12-20 05:27] lukaszsobek commented on #4504
Fix merged, closing issue.

[2017-12-20 05:27] #4504 closed

[2017-12-20 14:32] jasonLaster commented on #1989
@NickMalt did some great research in #4902 and started a mochitest

I think we've narrowed the problem down to how we create the URLs

---

After some debugging I think that I caught this bug:

1) Here we send correct parameters but got `{ line: null, column: null }`.  Which is why breakpoint flashing.
https://github.com/devtools-html/debugger.html/blob/223d35a570d4762000c736e00e5a16b09c9ae8c6/src

[2017-12-20 15:08] AnshulMalik commented on #4121
Made some progress

![t](https://user-images.githubusercontent.com/7821757/34213427-34749cf8-e5c5-11e7-921c-5a63a5784872.gif)

[2017-12-20 15:09] jasonLaster opened #4958 "[tests] browser_dbg-iframs `generatedSourceRecord` is undefined"
We occasionally see this issue: `generatedSourceRecord` is undefined

I think it likely is coming from one of two places:
+ [fetchScopes](https://github.com/devtools-html/debugger.html/blob/master/src/actions/pause/fetchScopes.js#L67-L69) and could be a timing  issue w/ reloading...
+ [getGeneratedSource](https://github.com/devtools-html/debugger.html/blob/master/src/reducers/sources.js#L298-L300)

[2017-12-20 15:45] jasonLaster commented on #4121
Oh nice!

[2017-12-20 20:21] codehag commented on #4705
is this still open?

[2017-12-20 20:37] codehag commented on #4705
Also, how can i get in touch with jovan, i would like to ask if i can use his example as a starting point for a regression test

[2017-12-20 22:16] mattwellss commented on #4929
@lukaszsobek It was a local site. Any publicly accessible versions wouldn't have debugger statements.

What I provided in terms of how to produce this is not sufficient and I'm sorry I even bothered creating an issue before I had those steps.
I'll work on generating a more worthwhile "steps to reproduce" guide in the coming days.

[2017-12-21 00:26] jasonLaster commented on #4958
we landed the `getGeneratedSource` fix, so lets see if the failures go down...

[2017-12-21 17:22] juliandescottes opened #4964 "[Breakpoint] Conditional breakpoint UI can be opened more than once (and can't be closed afterwards)"
STRs:

- Go to http://firefox-dev.tools/debugger-examples/examples/todomvc/
- open Debugger
- open any source (e.g. app-view,js)
- right click on the gutter to add a conditional breakpoint on line 11
- right click on the gutter to add a conditional breakpoint on line 21
- right click on the gutter to add a conditional breakpoint on line 30
- click in the UI that was opened in the previous step
=>

[2017-12-21 22:57] #4864 closed

[2017-12-21 22:58] #4889 closed

[2017-12-21 22:59] #4899 closed

[2017-12-21 22:59] #4784 closed

[2017-12-21 23:02] jasonLaster commented on #4810
i think we should keep the icon there as long as the source is blackboxed

[2017-12-21 23:02] #4810 closed

[2017-12-21 23:03] jasonLaster commented on #4841
lets solve this in the launchpad

[2017-12-21 23:03] #4841 closed

[2017-12-21 23:05] jasonLaster commented on #4712
I think this was fixed, is that correct @CharlesStocky

[2017-12-22 01:15] violasong commented on #3215
I still like the ideas mocked up in #3380 - truncating the filename with ellipsis, or (assuming filenames are worth the vertical space), breaking filename onto second row.
https://github.com/devtools-html/debugger.html/issues/3380#issuecomment-317901959

If we truncate, user should be able to hover to view a tooltip that contains the full name/filename.

[2017-12-22 01:29] violasong commented on #4928
Oof, yeah, "fix vertical mode" is a general todo item on my list since it suffers from not enough dogfooding - lots of issues including can't get narrow enough, imo.

Interesting to see it looks like this when you switch from bottom-dock to side.

<img width="462" alt="image" src="https://user-images.githubusercontent.com/55994/34281344-21644466-e68c-11e7-8cf3-446796240f48.png">

The above actuall

[2017-12-22 02:44] bomsy commented on #3392
Looks like this is done

[2017-12-22 02:44] #3392 closed

[2017-12-22 12:34] Fischer-L commented on #4459
@jasonLaster Yes, this is ok to close, thank you

[2017-12-22 13:56] jasonLaster commented on #3215
Yeah, i feel like we should switch to truncating by the filename for now and show the full path with a tooltip.

I'd like to revisit the pause state UI in 2018 and design a more opinionated call stack.

[2017-12-22 14:32] lukaszsobek commented on #4393
Closing. Issue resolved apart from edge cases, which are already mentioned in another issue.

[2017-12-22 14:32] #4393 closed

[2017-12-22 16:14] DavideDeCenzo commented on #4612
/claim

[2017-12-22 22:15] #1069 closed

[2017-12-22 22:15] jasonLaster commented on #1069
lets discuss this in the devtools-core repo where the launchpad is maintained

[2017-12-22 22:18] jasonLaster commented on #4507
closing as we're going to fix it here #4972

[2017-12-22 22:18] #4507 closed

[2017-12-23 18:50] developernew123 opened #4976 "is there a documentation covers types and params for actors in websocket protocol"
I want a documentation that covers types and params for actors in debugging protocol when using websocket connection , I want to be able to navigate to pages , set http headers , use cookies and execute javascript remotely.
the only good documentation I fount is here :
[https://developer.mozilla.org/en-US/docs/Tools/Web_Console/remoting](url)
but it only covered WebConsoleActor

[2017-12-23 19:26] lukaszsobek commented on #4964
What's the expected behavior in this case?

[2017-12-23 21:16] lukaszsobek opened #4977 "[ContextMenu] Renders out of bounds if opened too close to window edge"
STR:
- open source in debugger
- right-click on a code line near the bottom edge

ER: Context menu fully renders inside debugger window

AR: Part of context menu renders out of bounds (concerns bottom and right edge)

Vid:
![context-menu-disappears](https://user-images.githubusercontent.com/23530054/34322686-c67cc92a-e82e-11e7-8d66-161e7930a309.gif)

[2017-12-24 04:30] jasonLaster commented on #4977
this is only true in the launchpad

[2017-12-24 04:30] #4977 closed

[2017-12-24 04:32] jasonLaster commented on #4976
this might help: https://github.com/devtools-html/debugger.html/tree/master/src/client

[2017-12-24 12:14] lukaszsobek commented on #4863
/claim

[2017-12-24 12:20] lukaszsobek commented on #4685
Fix merged, closing issue.

[2017-12-24 12:20] #4685 closed

[2017-12-24 15:42] pradeepgangwar commented on #4928
I found that currently we use https://github.com/devtools-html/debugger.html/blob/master/src/components/WelcomeBox.css#L69 to maintain welcome box text, but recently i figured out that @media property is concerned about screen size but here width of welcome box also depends on sidebars widths.
This can be handled by writing proper JS, so i want to ask where should i write such JS code as most JS f

[2017-12-25 00:25] lukaszsobek commented on #4798
/claim

[2017-12-25 12:02] yoshimo opened #4980 "Remove obfuscation and indirection layers when pretty printing js code"
A lot of the code out there is not only minified but also obfuscated and inflated to make it harder to read and analyse.

If you want to know if it is a "harmless" tracking script or some malware trying to exploit your browser you can't get this on the first glance. Instead you need to spend time and effort to wade through multiple rounds of base64, unicode represenation, shredded eval parts and c

[2017-12-25 21:20] developernew123 commented on #4976
this didn't help , there is no any thing there about firefox debugging protocol

[2017-12-25 21:56] jasonLaster commented on #4928
Maybe the welcomeBox component? Not sure...
On Sun, Dec 24, 2017 at 10:42 AM Pradeep Gangwar <notifications@github.com>
wrote:

[2017-12-26 23:32] joshunger commented on #2804
/claim

[2017-12-27 08:19] lukaszsobek opened #4985 "[Selectors] Move selectors to the selectors folder"
Currently some of the reselect selectors reside in various reducers, whereas other selectors already reside in the src/selectors folder. It would be nice if all the selectors were moved to the already existing src/selectors folder so we can:
1.) shorten the length of reducers files
2.) have code in a designated place
3.) separate the functionality of reducers from selectors
4.) make import stateme

[2017-12-27 12:00] lukaszsobek commented on #4798
An expanded STR is as follows:
Mentioned above:
- open fresh debugger
- open target tab on document with script error (AR: no sources)
- open same target tab on valid document (AR: no domain + source)

Vid:
![no-sources-display](https://user-images.githubusercontent.com/23530054/34380646-5ca60700-eb03-11e7-8064-a3e7f4f6f359.gif)

Furthermore:
- open valid document
- click valid document again
- re

[2017-12-27 14:01] jasonLaster commented on #4985
@codehag and i have discussed this and think it would help.

It would nice if many of the selectors were in the selectors directory and were exported via `selectors/index`

[2017-12-28 07:05] wldcordeiro commented on #4597
@Fischer-L still grabbing this?

[2017-12-28 07:08] wldcordeiro commented on #4479
Closing for issue in devtools-core

[2017-12-28 07:08] #4479 closed

[2017-12-28 07:11] wldcordeiro commented on #4724
@sole This is a super nice find! I totally agree that the errors should be surfaced higher.

[2017-12-28 07:51] wldcordeiro commented on #4703
The PR associated was merged a month ago so this looks like it should be closed.

[2017-12-28 07:51] #4703 closed

[2017-12-28 20:06] jasonLaster commented on #3815
I just started looking into listening for worker list change events

[code]

So far it's not working :)

[2017-12-28 20:06] #4033 closed

[2017-12-29 11:37] joshunger opened #4995 "Add Google Canary to Launchpad"
Would it be possible to add Google Canary to Launchpad?  Taking a guess but I think most developers would expect this.
![image](https://user-images.githubusercontent.com/2301847/34436319-eb6e551a-ec51-11e7-8f08-14d50cb37404.png)

[2017-12-29 11:37] joshunger commented on #4995
The problem is I get used to Canary features 😢

[2017-12-29 12:17] joshunger opened #4996 "[Perf] Command + o feels much slower compared to Google Chrome"
Command + o feels much slower compared to Google Chrome.  What is the best performance tool to provide the difference?  I thought there was a performance tool that took screen captures and detected differences in the UI but I can't find it in a Google search.

[2017-12-29 20:00] jasonLaster commented on #4996
you can use chrome's performance tool and get screenshots from there.

Thanks, would always love to speed up these modals.

[2017-12-29 20:00] jasonLaster commented on #4995
We can first look for canary, but i guess in this case its about debugging canary, which is not really a priority because it's likely the same debug protocol

[2017-12-29 21:20] #4995 closed

[2017-12-29 21:20] lukaszsobek commented on #4798
This one is mean. If you switch the state during the same session the changes gets recorded and saved, so when reloading you get the value of the saved changes. But if you reload the tab from launchpad (e.g. close debugger and relaunch the tab) you see that an error in the syntax makes no difference in terms of displaying the source. Both syntax error and no-error result in the same "no sources" d

[2017-12-30 15:57] #4556 closed

[2017-12-30 16:01] jasonLaster commented on #4556
Really happy to be able to do this refactor. Cleaning up the pause store has been a goal of mine for awhile and I think this is significantly simpler.

A little bit of historical context:

When we were initially building the Breakpoints pane, we wanted to show if the app was currently paused at a breakpoint. The outlier for showing pause locations are interrupts where we dont store the frame or lo

[2017-12-30 19:31] wldcordeiro commented on #4885
Rewrite is a bit of a stretch. There may need to be tweaks here and there but for the most part unless you were using some of the private APIs in Enzyme that they've since stripped you shouldn't have the hardest time upgrading (I would even argue that what we should do is update Enzyme to 3.x first with the React 15 adapter.)

[2017-12-30 19:43] wldcordeiro opened #5002 "Proposal - reorganizing the redux code."
One thing I think can be complicated for a new contributor to wrap their mind around is the organization of the codebase.

We have something like this

[code]

The problem here to me is that you're rarely working just in actions or just in reducers when you're dealing with Redux code. And additionally you want to be thinking about the things you're manipulating (sources, tabs, etc) So I propose so

[2017-12-30 19:44] lukaszsobek opened #5003 "[SourceTree] Refactor source display to remove WET code"
Currently SourceTree.js has a verbose implementation of code on line 180 that is virtually identical to the function of createTree.js. It would be nice to get these two things in line so that sourceTree actually uses createTree.js.

[2017-12-30 19:44] lukaszsobek commented on #5003
/claim

[2018-01-01 10:35] Archaeopteryx opened #5005 "Shortcut to set conditional breakpoint also open Bookmarks Manager/Library"
Reproduce with latest Nightly and Beta on Windows 8.1

Pressing the shortcut to create a conditional breakpoint:

creates the prompt for the condition and open the bookmarks manager because that uses the same shortcut.

[2018-01-01 14:08] Archaeopteryx opened #5006 "Accesskey for 'Add Conditional Breakpoint' also used for 'Edit Breakpoint'"
Reproduce in latest Firefox Beta and Nightly

"Add conditional breakpoint" has the accesskey "c". After one used that command, "Edit breakpoint" will be shown with a "(C)" at the end because the accesskey has neither been updated nor removed nor is it part of the new string.

[2018-01-01 15:08] Archaeopteryx opened #5007 "gotoline shortcut CmdOrCtrl+Shift+; not supported by some keyboards/languages"
The shortcut CmdOrCtrl+Shift+; for the gotoline feature can't be triggered for some non-English keyboards (e.g. German) because those generate the ; with Shift + key (e.g. German Shift + . = ;)

[2018-01-01 18:02] jasonLaster opened #5008 "[tests] fix worker inconsistencies"
If you log the pending worker tasks when every test ends you'll see that there is often pending work. This has some drawbacks:

- inconsistencies between runs
- errors in tests that are hard to track down
- memory leaks ...

There are two solutions for this

1. when a test finishes, wait for all the tasks to complete
2. when a test finishes, restart the workers

I think restarting the workers is s

[2018-01-01 20:37] GarethSharpe commented on #4823
I wasn't able to reproduce the issue. Possible to send a gif of the AR?

![field-focus](https://user-images.githubusercontent.com/22062107/34470903-a1ed6a60-ef09-11e7-8386-8ca9afb9eca1.gif)

[2018-01-02 14:34] jasonLaster commented on #5002
Two quick points:

1. I think it might be nice to plan for sub-apps / plugins that would have their own directory. Maybe one of our features would make sense with this design?

2. I'm concerned about module resolvers because it is an extra dependency for every new tool we add. I've found in the past it could make it difficult to add new testing, linting, intellisense tools...

[2018-01-02 16:28] DavideDeCenzo commented on #4935
/claim

[2018-01-02 16:34] wldcordeiro commented on #5002
@jasonLaster I didn't notice issues using the module resolver alias in projects where I have Jest, ESLint, Prettier, etc. But that's a good point and worth investigating. It's just a nice "quality of life" thing for developing.

Could you elaborate a bit on sub-apps/plugins? How do you see that happening in the debugger for example?

[2018-01-02 16:44] jasonLaster commented on #5002
re: module resolvers, heh - maybe tools are better now :) not sure...
re: sub-apps/plugins, i'll try and write something up in the future... it's a tough problem. the goal is to be able to continue to grow without making the project more complicated...

[2018-01-02 17:20] wldcordeiro commented on #5002
@jasonLaster agreed that the goal is avoiding complication and modularization is key. While they're really closely related the redux code (what would be `store` in my proposal) could itself be modularized into sub-apps/plugins separate from the components and reused elsewhere too. There's a lot to think about here though. Not sure I've found a best solution yet heh.

[2018-01-02 17:27] jasonLaster commented on #5008
After investigating it a bit more, I think it is okay to leave things the way they are:

Findings:
- Workers are shared between tests running at the same time
- Worker state is cleared at the beginning of tests
- Tests only receive tasks that they dispatched
- Node will have native workers in 9.3 https://nodejs.org/api/cluster.html

Could each test have its own dedicated set of workers?
- Our curr

[2018-01-02 17:27] #5008 closed

[2018-01-03 01:14] digitarald commented on #4823
Not working for me in Nightly/OSX using the STR.

[2018-01-03 01:18] bomsy commented on #3601
@Fischer-L how is this going?

[2018-01-03 02:41] Fischer-L commented on #3601
@bomsy

Working on this. Sorry for the slow progress because the busy day jobs and the vacations at end of the year

[2018-01-03 02:46] Fischer-L commented on #4597
@wldcordeiro

Working on this. Sorry for the slow progress because of my busy day jobs and the vacations at the end of the year.

[2018-01-03 10:34] bomsy commented on #4555
@jimblandy is this a mentorable issue? Would love to try to do the work with your guidance if possible.

[2018-01-03 14:29] jasonLaster commented on #4555
I think I can help as well. It'd be fun to document the feature too so others see how we can add a new endpoint.

[2018-01-03 14:48] jasonLaster commented on #4597
No Worries! We like to check in because it can be difficult to lose track :)

[2018-01-03 14:59] bomsy commented on #4555
Ok cool! Will love to do all that.

[2018-01-03 19:14] violasong commented on #4928
I'm not sure if I understand the question, but my hope here was that we change the layout defaults (to #2 of my images) which would remove the problem with a too-narrow welcome content area.

[2018-01-03 19:23] wldcordeiro commented on #4928
@violasong I understand what you're getting at here. We should have the "vertical" layout enabled at smaller widths even when not docked to the side and we should adjust the division of the splitbox to give more space to the editor+sources/outline

[2018-01-03 19:31] jasonLaster commented on #4928
Just spoke with @violasong and have some takeaways

1. we should hide the welcome box content when the box becomes too small
2. vertical mode should have a narrower default primary pane
3. vertical mode should have a shorter default secondary pane
4. when users narrow the width of the devtools while in horizontal mode we should try to narrow the widths of the panes before switching to vertical mod

[2018-01-03 20:00] violasong opened #5019 "[Tabs] Improve truncation of long filenames, smaller max tab size"
STR:
- Open Debugger when viewing a github issues page like this one
- Navigate to `assets-cdn.github.com > assets > frameworks-alsxsljd...`
- The tab is too wide and the info in it is hashy gibberish
- Bonus problem: click Pretty Print
The source map message mentions the filename with the same poor truncation rules, and when the Debugger is narrow it breaks in this odd way:
<img width="462" alt="

[2018-01-04 06:54] magicp-github opened #5022 "[Editor] Scrollbars corner overlap after switch Toolbox tab"
**Steps to reproduce:**
1. Launch Nightly
2. Go to about:home
3. Open Debugger
4. Select any sources (e.g. about:home or contentSearchUI.js)
5. Scroll vertical scrollbar (It's no problem)
6. Switch to other toolbox tab and switch back
7. Scroll vertical scrollbar again

![steps-to-reproduce_20180104_153601](https://user-images.githubusercontent.com/13914314/34552796-0d830f0a-f167-11e7-8b2f-38de7ef

[2018-01-04 09:03] TitanNano opened #5023 "[CallStack] Broken Stacktrace is back"
![screen shot 2018-01-04 at 09 52 27](https://user-images.githubusercontent.com/4500858/34556375-4f574396-f136-11e7-941e-0446a95d88a5.png)
This happened after I stepped into an Angular internal method.
[code]

[2018-01-04 09:46] magicp-github opened #5024 "Fix dropdown styling"
**Steps to reproduce:**
1. Open many sources until dropdown list is overflowed
2. Set blackbox and pretty print in some sources

**Actual results:**
- dropdown-buttion clicking area is too narrow
- dropdown list height overflow
- prettyPrint and blackBox dropdown-icon are invisible

![dropdown-styling](https://user-images.githubusercontent.com/13914314/34557714-9146ca72-f17e-11e7-895b-a41e9bdd0c49

[2018-01-04 17:29] nyrosmith commented on #4964
I can reproduce it only in the panel. In launchpad it works as expected.
Not sure what's going wrong there...

[2018-01-04 17:38] jasonLaster commented on #4964
Lets see if we can investigate a bit before we mark it available...

[2018-01-04 17:42] jasonLaster commented on #4980
@yoshimo can you explain how you'd see this feature working exactly. Would the user select code and then be able to statically evaluate it...

[2018-01-04 17:44] jasonLaster commented on #4724
Perhaps we move the message for errors to the top of the stack...

the first frame is the context of the exception...

[2018-01-04 17:55] nyrosmith commented on #5002
There is one thing I don't like about file names in the current codebase & in this proposal.
The AST reducer should always be named astReducer no matter in which folder it lives.
Now it lives inside the reducer folder and is named ast.
In future it lives inside a folder named ast and would be named reducer.
This conventions forces contributors to know the current folder structure instead oft just

[2018-01-04 19:11] nyrosmith commented on #4560
The PR got merged so I'll close this

[2018-01-04 19:11] #4560 closed

[2018-01-04 19:31] borian commented on #3842
Hey Jason
I created a pull request with this feature https://github.com/devtools-html/debugger.html/pull/5025

[2018-01-04 20:42] yoshimo commented on #4980
@jasonlaster current workflow is you select a js file on the left side and then see the minified code in the big window on the right. Then you press "prettyprint" on the lower left corner and that's it.
No need to add anything here for static analysis like these examples:

`var x = 10 * 3 + 100 - 70 / 10;` -> `var x = 123;`
`var x = -~-~'bp'[720094129.0.toString(2 << 4) + ""] * 8 + 2;` -> `var x =

[2018-01-04 20:54] chadian commented on #5024
/claim

[2018-01-04 20:55] chadian commented on #5024
/unclaim

[2018-01-04 23:15] fitzgen opened #5028 "[SourceMaps]  "TypeError: sourceMaps is null" in browser console"
Haven't been able to make a reduced test case or STR, and when I switch profiles the issue goes away.

But here's a backtrace:

[code]

[2018-01-04 23:29] jasonLaster commented on #5028
another user reported this as well today...

[2018-01-05 00:02] jasonLaster opened #5029 "[SourceTree] A file is missing from the tree"
It looks like the file `increment.js` is missing from the tree:

STR:
1. go to [inc](http://firefox-dev.tools/debugger-examples/examples/increment/)
2. view the source tree :)

I think the problem is that increment.js is an original file, but i'm not sure why that should matter...

<img src='https://shipusercontent.com/f870b3a65a70a5afeaf64ab3b427f158/Screen%20Shot%202018-01-04%20at%206.14.45%20PM

[2018-01-05 00:05] jasonLaster opened #5030 "Depenency CI is red"
Dependency CI is currently failing, which is a big deal because we need to make sure we're not pulling in packages that are not licensed.

https://dependencyci.com/github/devtools-html/debugger.html

<img src='https://shipusercontent.com/bc1faf7b58ce10d8a2c6237340ca294f/Screen%20Shot%202018-01-04%20at%2012.23.52%20PM.png' title='Screen Shot 2018-01-04 at 12.23.52 PM.png' width=778>

[2018-01-05 00:06] jasonLaster opened #5031 "[DebugLine] is updated too often"
It looks like DebugLine is updated too often when we pause. The same might be able to be said for highlight line too.

The conditions we want are:

1. when we resume we should clear the debug line
2. when we pause, we should show it...

<img src='https://shipusercontent.com/cf96431e558aed2064e26a5e20c3c464/Screen%20Shot%202018-01-03%20at%2011.23.42%20PM.png' title='Screen Shot 2018-01-03 at 11.23.

[2018-01-05 01:03] wldcordeiro commented on #4612
Closing as the related PR was merged.

[2018-01-05 01:03] #4612 closed

[2018-01-05 01:03] wldcordeiro commented on #4534
Looks like the fix landed, closing.

[2018-01-05 01:03] #4534 closed

[2018-01-05 01:04] wldcordeiro commented on #4519
Not sure the status here. I see two merged PRs @yurydelendik could you update?

[2018-01-05 01:05] wldcordeiro commented on #4459
Closing based on the comments above.

[2018-01-05 01:05] #4459 closed

[2018-01-05 01:08] wldcordeiro commented on #3307
@codehag @jasonLaster from the looks of it the changes are gone? Should this remain open or closed?

[2018-01-05 01:09] wldcordeiro commented on #3305
Looks like this landed? Close?

[2018-01-05 01:11] wldcordeiro commented on #5030
Looks like this should be fixed? But the last run still is looking for the deprecated/etc.

[2018-01-05 02:29] #3305 closed

[2018-01-05 02:30] jasonLaster commented on #3307
we should keep it open because we had to revert :/

[2018-01-05 02:31] jasonLaster commented on #5030
Hmm, i'll continue hacking on this tomorrow

[2018-01-05 10:09] MikeRatcliffe opened #5033 "Update Enzyme to 3.3.0 first with the React 15 adapter"
In preparation for React 16 we should upgrade Enzyme to 3.3.0 and add the React 15 adapter.

[2018-01-05 10:10] MikeRatcliffe commented on #5033
/claim

[2018-01-05 13:47] nchevobbe opened #5034 "[QuickOpen] focused search result and hovered item looked the same"
Here's a screenshot I got when doing a search with Cmd + P

![screen shot 2018-01-05 at 14 39 25](https://user-images.githubusercontent.com/578107/34611758-0afa63d0-f227-11e7-9a46-f633bdf78aa8.png)

The first result is the "active" one.
The second is in hover state because of the placement of my mouse.

It confused me for a second, making me wonder what was going to happen if I pressed Enter.
I th

[2018-01-05 14:15] yurydelendik commented on #4519
We can close it as fixed by #4817 -- there was issues that prevented to verify it.

[2018-01-05 14:15] #4519 closed

[2018-01-05 16:14] tromey commented on #5028
See https://bugzilla.mozilla.org/show_bug.cgi?id=1410590

[2018-01-05 16:46] jasonLaster commented on #5028
CC https://bugzilla.mozilla.org/show_bug.cgi?id=1410590

---

I don't see the "sourceMaps is null" in the editor, but I do see it in the browser console.
For me the editor just says "Loading..." and never changes.

The browser console says:

TypeError: sourceMaps is null[Learn More]  debugger.js:25005:1

I actually see several reports with different line numbers.

These STR worked for me:
* Turn t

[2018-01-05 20:05] ppatel221 commented on #5034
Hey im a student in an open source development class. I am looking to contribute to an open source project. Is it okay if i take over?

[2018-01-05 20:05] AnshulMalik commented on #4542
Tried to test babel 7 out, though I didn't get positive results,
https://github.com/AnshulMalik/debugger.html/tree/babylon-7

[2018-01-05 20:29] nyrosmith commented on #5034
@ppatel221 of course!
Also visit our slack. We are much more responsive there and always happy to answer all your questions!

[2018-01-05 20:36] jasonLaster commented on #4542
Here are the steps to reproduce

[code]

[2018-01-06 00:12] jasonLaster commented on #3819
Hey @Anzumana, I hope it's alright, but I'm going to finish this up as it's important that we're consistent.

[2018-01-06 00:35] ajvincent opened #5040 "[SourcesSearch] Give me a way to manually add a sourcemap for a file"
From the debugger channel in DevTools Slack:

System Details:  Fedora 27 Linux, Firefox 57.0.1

[2018-01-06 00:49] jasonLaster opened #5042 "[CodeHealth] Refactor redux selectors exports"
It would be cool if we could simplify the selectors & redux exports.

Here is a [branch](https://github.com/devtools-html/debugger.html/compare/master...jasonLaster:export-selectors?expand=1) where I started. It should be pretty close, but it requires a very good knowledge of es6's module system :)

[2018-01-06 01:41] jasonLaster commented on #5040
[code]

[2018-01-06 05:15] AnshulMalik commented on #4887
Yep, this will very useful.

[2018-01-06 08:13] nyrosmith commented on #4964
Why shouldn't this work in the panel too? https://github.com/devtools-html/debugger.html/blob/f9149b7d312f902a532c235d1e5bc90a2dca30ca/src/components/Editor/ConditionalPanel.js#L150

[2018-01-06 11:33] nyrosmith commented on #3568
I just rechecked and it seems it is fixed.

![polymer](https://user-images.githubusercontent.com/2511026/34639298-969e89f0-f2dd-11e7-8182-6b6ca46dc8bb.gif)

Closing for now but feel free to reopen if you still have issues

[2018-01-06 11:33] #3568 closed

[2018-01-06 11:47] nyrosmith commented on #4530
Closing as it seems it already landed

[2018-01-06 11:47] #4530 closed

[2018-01-06 11:57] nyrosmith commented on #4326
@jordanch are you still on it? It's no problem if you don't resume working on it

[2018-01-06 15:39] jordanch commented on #4326
@nyrosmith

yeah, this is on my radar, im tackling it while learning redux in my Udacity course.

I apologize ahead of time for picking a difficult issue that has taken me some time to PR although I thought it a decent practical challenge!

I'm hoping to have something up in the next couple weeks.

[2018-01-06 17:04] jasonLaster commented on #3568
Yep, seems better

[2018-01-06 17:27] jasonLaster opened #5043 "[CodeHealth] Move devtools-source-editor back into debugger.html"
Last spring we created `devtools-source-editor` so that we could share it w/ the netmonitor. They're still in Mozilla Central and aren't likely to use it for some time.

The benefits of us moving it back are

1. One fewer dep
2. Easier to keep in sync

[2018-01-06 17:33] nyrosmith commented on #5043
/claim

[2018-01-06 17:46] jasonLaster commented on #5043
Here's my commit that added the package:
https://github.com/devtools-html/devtools-core/commit/d2afa6b2c77dd41ca429918c03baf8915435ac97#diff-5057e862cde733a419bdedcd86db086a

i'm sure there's one on the debugger.html side that you can copy!

[2018-01-06 17:47] jasonLaster commented on #5043
Also part of the impetus was wanting to update codemirror to 5.33 looks sweet

[2018-01-06 17:54] lukaszsobek opened #5044 "[Docs] Mention docs as component in issue.md"
It would be great if documentation issues were perpended with [Docs] or [Doc] in order for contributors to be able to quickly assess what the issue is about.

One of the steps to achieve that is to add information about doc labels to https://github.com/devtools-html/debugger.html/blob/master/docs/issues.md

[2018-01-06 20:31] jasonLaster opened #5047 "[Docs] Switch from Jekyll to Gatsby"
Our [landing page][lpage] & [docs] are currently built with jekyll and hosted with github pages. It would be nice to switch to [Gatsby] and Netlify.

Features of the current setup:

+ configs are in debugger.html
+ deploys happen when a PR is merged
+ everything is markdown

Advantages of the new setup:

+ Layouts and themes are easier (landing page, docs)
+ Docs are searchable
+ Netlify offers an

[2018-01-06 20:47] nyrosmith commented on #5047
/claim

[2018-01-07 10:22] Fischer-L commented on #4532
/unclaim
As the team's discussion [1], the current approach is fine.
[1] https://github.com/devtools-html/debugger.html/pull/4859#issuecomment-353219834

[2018-01-07 10:54] Loirooriol opened #5050 "[TextSearch] stuck at "Loading..." when there is no result"
https://bugzilla.mozilla.org/show_bug.cgi?id=1428586

1. Go to http://example.com
2. Open the debugger
3. Press Ctrl+Shift+F
4. Write 123
5. Press enter

Result: A "Loading..." message
Expected: A "No results found" message

Regressed in https://hg.mozilla.org/integration/autoland/pushloghtml?fromchange=003d418a3516b9fffc40f4a5f6f9f6e75f2de448&tochange=b7b279271a15188af2ba3cb6c8e4f119545fd1c7

[2018-01-07 19:39] jasonLaster commented on #4853
I looked into this with @ajvincent and could not isolate the problem to the parser... our next step is to try and find a small test case that we can use to reproduce the problem

[code]

[2018-01-07 21:09] lukaszsobek commented on #4597
After this is merged we might want a followup issue with cleanup in terms of alphabetical ordering of items and enforcing naming conventions for easier parsability.

[2018-01-07 21:13] lukaszsobek commented on #5044
/claim

[2018-01-08 05:22] #5044 closed

[2018-01-08 05:40] lukaszsobek commented on #5029
Found it :)
![increment](https://user-images.githubusercontent.com/23530054/34659961-cca7b3de-f43e-11e7-8067-b825e75344ce.png)

[2018-01-08 06:35] lukaszsobek opened #5053 "[Labels] Changes `available` to `help wanted` and `difficulty: easy` to `good first bug`"
As discussed in issue #4353 and debugger.html slack we want to make it easier for new contributors to find issues they want to work on.  One of the ways to do that is to use the `good first bug` and `help wanted` labels, which are promoted by github.

Since we already have a similar structure with the `available` and `difficulty: easy` labels it seems that one of the easiest ways to align the two

[2018-01-08 08:15] bomsy commented on #5053
I think this is a good idea , especially for the exposure to wider audience ...

[2018-01-08 09:08] codehag commented on #5053
I think this is an excellent idea

[2018-01-08 09:10] TitanNano commented on #5023
[code]

This seems to be one of the causes for this issue.

[2018-01-08 09:39] TitanNano commented on #5023
Steps to Reproduce:
1. go to https://jovandemo.modulentwicklung.de:8001/admin
2. login with User: anyone@mozilla.org PW: 123456789
3. go to Orders > Orders
4. Open Debugger and search for file: Shared/Directives/DataTable/DataTableController.ts
5. Set a breakpoint in line 197
6. Move cursor in side the view-port to trigger angular

Result: No call stack is shown, no scopes are shown either.

Addit

[2018-01-08 09:54] bomsy commented on #5023
Thanks @TitanNano !  will look into this!

[2018-01-08 10:02] TitanNano commented on #4705
@codehag you can reach me here or on slack.

[2018-01-08 14:15] jasonLaster commented on #5029
hmm, yeah.. I'm seeing this in other cases too. It looks like we sometimes miss a file :/

[2018-01-08 14:18] jasonLaster commented on #5053
Thanks @lukaszsobek!

"Good first issue" makes sense given it's what github looks for :_

[2018-01-08 14:18] #4353 closed

[2018-01-08 14:18] #5053 closed

[2018-01-08 17:26] juliandescottes opened #5056 "Unable to remove pending breakpoint that was created on a non executable line"
Long STRs, the key points are to set a BP on a non executable line and then disable it

STRs:
- go to http://firefox-dev.tools/debugger-examples/examples/todomvc/
- make sure you have no pending breakpoints ("devtools.debugger.pending-breakpoints")
- open debugger
- open app-view.js
- set a breakpoint on line 127
- => this is not an executable line, the BP should slide to 128
- disable the breakpo

[2018-01-08 22:08] wldcordeiro commented on #5029
Yep I see it happen with todomvc as well where the root `app.js` will not be present.

[2018-01-08 23:12] jasonLaster opened #5057 "[Pause] Immediately pausing in an original file"
I noticed while debugging that when the debugger pauses immediately in an original location it causes an exception in the debugger UI that prevents the source from being shown:

<img src='https://shipusercontent.com/e7427b81981c75829228c4128022d5d4/Screen%20Shot%202018-01-08%20at%206.10.52%20PM.png' title='Screen Shot 2018-01-08 at 6.10.52 PM.png' width=598>

[2018-01-09 04:15] magicp-github opened #5059 "[SourceTree] Fix sources-panel styling for RTL locales"
Steps to reproduce:
1. Launch Nightly in RTL locales
2. Open Debugger

Actual results:
- Tab border position is wrong
- Twisty direction is wrong
![debugger-in-rtl](https://user-images.githubusercontent.com/13914314/34704851-6de68ce2-f53f-11e7-8b01-016b2c3e986a.png)

Expected results:
Set correct direction for RTL locales

[2018-01-09 04:27] lukaszsobek commented on #5029
Is there a consistent str?

[2018-01-09 13:43] jasonLaster commented on #4705
I think this is closed for now. @TitanNano please keep the demo app up it's really helpful :)

[2018-01-09 13:43] #4705 closed

[2018-01-09 13:50] TitanNano commented on #4705
@jasonLaster no problem. I would just have one request. Can I give you a password which is ony shared Mozilla internally and not made public? We don't really want this shop to be accessible for unauthorized users.

[2018-01-09 13:58] jasonLaster commented on #4705
sure

[2018-01-09 14:16] yurydelendik opened #5061 "[Scopes] Consolidate function scopes"
STR:
1. Navigate to  [es6](https://yurydelendik.github.io/old-man-sandbox/sorted-es6/test.es6.html) example
2. Set breakpoint at line 94 of bundle.js
3. Inspect environments/scopes

[code]

The function at the specified location contains 3 environments:

1. function
2. function body
3. if-else.

<img width="983" alt="screen shot 2018-01-08 at 7 16 11 pm" src="https://user-images.githubusercontent.

[2018-01-09 17:11] jasonLaster commented on #5057
I think this might be related:

[code]

[2018-01-09 18:51] codehag commented on #5029
I've been trying to reproduce this but no luck -- any suggestions on how to get this to happen @jasonLaster @wldcordeiro

[2018-01-09 19:49] jasonLaster opened #5064 "[SourceTree]  up-arrow or down-arrow is off by a bit"
STR:
1. navigate to [todomvc](http://devtools-html.github.io/debugger-examples/examples/todomvc/)
2. select a source
3. press up-arrow or down-arrow

!! Make sure there are more sources than fit on the screen, so the list can scroll.

ER: The highlighted result remains visible when the list scrolls.
AR: The highlighted result disappears and the list does not scroll correctly.

![](http://g.recordi

[2018-01-09 21:41] jasonLaster opened #5065 "[Scopes] simplify how for/of scopes are presented"
STR:
1. go [examples babel](http://firefox-dev.tools/debugger-examples/examples/babel/)
2. click forOf

ER: Local scope shows "a"
AR: Tons of bindings in forOf

<img width="313" alt="screen shot 2018-01-09 at 4 42 39 pm" src="https://user-images.githubusercontent.com/254562/34744730-347b5376-f55c-11e7-9aff-4fd8dc6037e8.png">

[code]

[2018-01-09 22:02] #5023 closed

[2018-01-09 22:58] violasong commented on #5034
I think it would be great to follow the Inspector pattern of blue background/white text for active row, and pale blue background for hovered row. However, that may look too intense for these big row areas with subtle borders. I wonder if it would make sense to move the path to the same line as the filename to condense the rows. Some truncation would be needed, similar to #5019.

[2018-01-10 00:08] jasonLaster commented on #4642
We recently tried re-enabling in #5018, but are seeing some errors in travis:

<img src='https://shipusercontent.com/0d1cae598f410e1f0dd8a07b2a82a1dc/Screen%20Shot%202018-01-09%20at%207.06.14%20PM.png' title='Screen Shot 2018-01-09 at 7.06.14 PM.png' width=907>

[2018-01-10 03:14] jasonLaster commented on #4642
The `frames[0]` issue was easy to fix, but there is still a lingering `Debugger.Frame` is not live issue

https://treeherder.mozilla.org/#/jobs?repo=try&revision=b176f855c76a1e45816bf67c9ed873225ed4b3ab&selectedJob=155193293

[2018-01-10 09:10] nchevobbe opened #5068 "yarn lint-js throws"
Steps to reproduce:
1. Pull master
2. `yarn nom`
3. `yarn lint-js`

Expected results:
the command runs

Actual results:
the command throws :
[code]

Could be related to https://github.com/eslint/eslint/issues/9767

[2018-01-10 14:56] codehag opened #5069 "[Stepping] Debugger occasionally switches to line with large number"
Bugzilla related bug: https://bugzilla.mozilla.org/show_bug.cgi?id=1326834

Todo: confirm if this is still happening

STR_1:
1. Open attached "testcase 1"
2. Open debugger, set breakpoint in script at line 2
3. Click on the page content
4. Click "Step In" in debugger

AR:  Debugger switches to line "/* we need a miracle */"
     More generally, it scrolls current script to the very end, as it trie

[2018-01-10 15:01] codehag opened #5070 "[Editor] Debugger displays empty scripts as broken"
Reported on bugzilla: https://bugzilla.mozilla.org/show_bug.cgi?id=1327164

I tried it again, and we are showing an infinite loading screen. would be good to show an empty script instead. we also do not show the name properly in the source tree.

STR_1:
1. Open url [1]
2. Open debugger, switch to script "about:blank"

STR_2:
1. Choose any line [2]-[4]
2. Open url in the line from Step 1
3. Open de

[2018-01-10 15:30] nyrosmith commented on #5065
@jasonLaster do you have another STR than localhost? Or can you point to a repo you used?

[2018-01-10 15:39] jasonLaster commented on #5065
@nyrosmith updated!

[2018-01-10 15:40] jasonLaster commented on #5065
@logansmyth is looking into this

[2018-01-10 17:20] #5068 closed

[2018-01-10 17:38] gregtatum opened #5072 "[Flow] Connected components are not covered"
I discovered this in perf.html and wanted to pass it on so you all were aware.

Steps to reproduce: break some assumption in the `react-redux` `connect()` function.
Expected Result: Flow errors out, revealing your broken types.
Actual Result: There are no Flow errors.

For instance in the `PrimaryPanes/Outline` component, the props look like:

[code]

Then in the `connect()` function, I can break

[2018-01-10 17:57] jasonLaster commented on #5072
Thanks for filing. Please share your solution :)

[2018-01-10 19:27] gregtatum commented on #5072
Ok, my solution can be tracked with this issue: https://github.com/devtools-html/perf.html/issues/703

I'll post back a recommendation when I'm done.

[2018-01-10 20:07] #4524 closed

[2018-01-10 20:10] #5033 closed

[2018-01-10 20:13] DavideDeCenzo commented on #4935
I've read the articles https://medium.com/azendoo-team/immutable-record-react-redux-99f389ed676 and  https://gist.github.com/jareware/5f492d47fae45d577e922c431c267c67  . From what I read records should destructure well also  on https://facebook.github.io/immutable-js/docs/#/Record They said Records use a custom internal rapresentation for serialization But I think it's not very exhaustive.  I've l

[2018-01-10 20:23] jasonLaster commented on #4935
Thanks @DavideDeCenzo. haha - make it work :)

I didnt spend too much time on it, so i'm sure it's broken in a couple of ways, but hopefully it's not too bad

Also, it could use a rebase!

[2018-01-10 20:53] #5056 closed

[2018-01-10 22:57] lukaszsobek commented on #5064
It's a bit hard to see with low frame-rate gifs, so I'll ask to be sure: ER is each line being highlighted in sequence and AR is lines being skipped?

[2018-01-10 23:08] lukaszsobek commented on #5030
Is dependency-ci gone for good and replaced with deploy/netlify, or just temporarily disabled?

[2018-01-11 00:22] ahuth commented on #5072
Will take a look, as well, later this week. If you get something done first, @gregtatum, than that's great, too!

[2018-01-11 00:29] AnshulMalik commented on #5072
Had a look on this,

[code]

this does throw flow errors  :)

[2018-01-11 04:16] jasonLaster commented on #5064
not skipped, it currently goes off screen. It's easier if you see it :)

[2018-01-11 10:54] codehag commented on #5029
I've traced the issue to the server.

here is an str with running this as a panel:

1. have a different test page open (google, or something, doesnt matter. cleaning your browser content toolbox helps)
2. navigate to http://firefox-dev.tools/debugger-examples/examples/todomvc/

Expected Results: "app.js should be visible under the /js folder"
Actual results: it is not visible

Further investigatio

[2018-01-11 11:16] codehag commented on #5029
Some more information as I dig into this, just took a look at script.js --

* having two events on reload is due to the "reusableActor" for the sourcesStore in script.js
  i am guessing this is intended, so not worried about that!

* we are not firing newSource events for all of the expected sources

second point is worriesome. I'm not sure how we discover files, I will keep looking into this for

[2018-01-11 13:09] AnshulMalik opened #5082 "[SearchBar] Search results being skipped"
STR:
- Go to `youtube.com`
- open `yts/jsbin/player-xxxxx/base.js`
- Search for `df`

I see unexpected number jumps, sometimes it always stays at 0.

![search-bug](https://user-images.githubusercontent.com/7821757/34827014-c6c69454-f6fe-11e7-8572-351d237b95c1.gif)

[2018-01-11 14:02] codehag commented on #4158
@digitarald @jasonLaster

I'm working through the questions on the telemetry review document. What are we looking to do with the current telemetry probe that is being added? it seems to be related to source text load -- but this isnt part of the two tasks mentioned in this ticket:

 -  source selected (react component, minified, original file)
 -  add a bp on a react component, minified, original

[2018-01-11 14:12] ochameau commented on #4158
A common pattern is to have a telemetry probe and its equivalent on DAMP.
Telemetry allows to see what really happens on user computers, while DAMP helps tracking possible regressions. I see telemetry as a way to confirm that we don't ultimately regress thing silently with something being wrong in DAMP. It also help understanding what are the real world performance of an action in real usecases/co

[2018-01-11 16:07] jasonLaster opened #5083 "[Structure] Upgrade to Jest 0.22 🤡 "
Jest is doing amazing work and 22 looks like a great step forward. It would be awesome to upgrade and take advantage of it!

https://facebook.github.io/jest/blog/2017/12/18/jest-22.html

[2018-01-11 16:31] jasonLaster opened #5084 "[CallStack] clicking the selected frame does not jump"
STR:
1. pause
2. scroll
3. click the selected frame

ER: you jump to the line
AR: nothing happens

The reason for that is that the redux state does not change. One solution is to temporarily remove the selected frame and then re-add it.

[2018-01-11 16:33] jasonLaster opened #5085 "[QuickOpen] All the results are shown"
I believe we're showing all of the functions when the modal opens. For sources with thousands of functions that can be slow.

[2018-01-11 16:34] jasonLaster opened #5086 "[QuickOpen] go to line shows matching files"
It looks like queries that begin with `:` will show files that match the remaining query.

<img src='https://shipusercontent.com/ab6a0630252ae38db3f1b0c21357a668/Screen%20Shot%202018-01-11%20at%2011.29.45%20AM.png' title='Screen Shot 2018-01-11 at 11.29.45 AM.png' width=640>

[2018-01-11 18:00] digitarald commented on #4158
Another way to put it is making it an iterative cycle; if we see Telemetry regress without any signal from DAMP; we know that our tests are not reflecting a major part of real life use cases.

Risk with the current patch is that we get a multi-modal result and can't tell things apart. We know that load times heavily depend on the kind of source, so should probably include it from the start.

[2018-01-11 18:04] digitarald commented on #4158
After letting that simmer for a moment we can have load times by type as a follow up probe. We have an idea but not a solid spec on how to bucket different types of file attributes at this time.

[2018-01-11 21:37] digitarald opened #5087 "[Perf] Jank caused by debugger open in the background"
Related to #4896, but looks like different bottlenecks in the profile.

STR:

- Set a breakpoints on http://firefox-dev.tools/debugger-examples/examples/wasm/fib/fib.index.html and hit refresh to hit the breakpoint and pause
- Open Wikipedia in a new tab (keep debugger open in background) and scroll down

AR: 150ms+ hangs during scrolling

https://perfht.ml/2CScodv

- Profile renders a ton of reac

[2018-01-11 21:45] jasonLaster commented on #5087
Nice find!

Did you just take this?

[2018-01-11 21:50] jasonLaster commented on #5029
Just confirmed the other test case that i saw this w/ [`increment`](http://firefox-dev.tools/debugger-examples/examples/increment/)

STR:
1. load [`increment`](http://firefox-dev.tools/debugger-examples/examples/increment/)
2. select `increment.js`
3. refresh debugger

ER: you see incremenet.js in the tree
AR: you don't

### Nothing selected
<img src='https://shipusercontent.com/bd544105c0c8e9c9e5

[2018-01-11 21:58] #5057 closed

[2018-01-11 22:33] lukaszsobek commented on #5064
@jasonLaster added ER and AR.

[2018-01-11 22:42] bomsy commented on #5085
Should we show top x results?

[2018-01-11 22:48] #4888 closed

[2018-01-11 23:27] jasonLaster commented on #5085
yeah - i think so... or see what fuzz aldrin can do w/ buffering

or use react virtualized...

[2018-01-11 23:36] digitarald commented on #5087
Yes, Nightly 59.0a1 (2018-01-10) (64-bit).

[2018-01-12 00:02] jasonLaster opened #5089 "[Scopes] Format Module scopes"
Now that we are mapping original and generated scopes, we have an opportunity to provide better information for the "Module" scope.

We currently show "block" for this scope...

*<Insert Screenshot>*

Here is a prototype that will update the scope name so that "Module" is shown instead of block.

[code]

Another advantage of knowing that a block scope is a module is that we can avoid unnecessary v

[2018-01-12 07:05] lukaszsobek opened #5091 "[CodeHealth] Replace bind.this with fat arrow functions"
We currently have ~70 instances of `this.nameOfAFunctionHere.bind(this)` in the code.

Where possible it would be great to replace the function declarations via `function nameOfAFunctionHere() { ...` with fat arrow functions `nameOfAFunctionHere = () => { ...` so we don't have to bind the context manually in the constructor.

[2018-01-12 19:08] yurydelendik commented on #4547
Fixed by the #5090

[2018-01-12 19:08] #4547 closed

[2018-01-13 00:12] wldcordeiro commented on #5086
So if we have the goto line prefix we should error if the following stuff doesn't match the `line:column` format (column is optional)

[2018-01-13 17:48] wldcordeiro opened #5100 "Test Coverage Push"
This is a tracking issue for the test coverage push. The goal is to increase our test coverage 10-20% by targeting some lower hanging fruits. I had started this push around January 9th 2018 and the output of `yarn test --coverage` gave me ~*56%* as our total coverage. Let's see where we're at on February 9th!

## Goal bump total coverage to ~*66%*

## Stretch goal bump total coverage to ~*76%*

*

[2018-01-13 19:09] jasonLaster commented on #5100
Here's the first PR https://github.com/devtools-html/debugger.html/pull/5097

It's a GREAT example for how to write jest unit tests!

[2018-01-13 20:11] jasonLaster commented on #5100
I'll work on `scr/utils/frame`

[2018-01-13 21:54] lukaszsobek commented on #4865
@jasonLaster @CharlesStocky `text-overflow: ellipsis`

[2018-01-13 23:20] jasonLaster commented on #5029
It looks like there were 2 issues:

1. sources were GCd (when i added window.dontKillMe = () => {}) to app.js it stuck around)
2. sources that were loading were not added.

Closing as 2 was fixed and 1 is a server issue...

[2018-01-13 23:20] #5029 closed

[2018-01-14 09:54] Fischer-L commented on #3601
Status update (so we will know this issue is still moving):
- Done: save the prefs tabs  with the BlackBoxed state, which is `{ url, isBlackBoxed }`
- To go: test the BlackBoxed state can be restored successfully

[2018-01-14 15:13] jasonLaster commented on #3601
nice, maybe PR the prefs work?

[2018-01-14 16:45] jasonLaster commented on #4788
Hey @Anzumana how's it going? Do you think you have time to look into this?

I took the "in progress" label off the issue, because it'd be great to get other's eyes on it as well...

I hope to use storybook in a week to show the different babel transformed scopes we're working on improving like async functions, forOf, and modules. It'd be awesome to have storybook working so we can use it for this

[2018-01-14 21:06] jasonLaster commented on #5087
@digitarald could you add a more specific STR?

[2018-01-14 23:12] digitarald commented on #5087
@jasonLaster ok, done.

[2018-01-15 00:24] digitarald opened #5102 "[Tabs] Sources without URLs should have a tab"
STR:

- Open Console
- type Tdebugger`
- Hit Enter

AR: Broken UI state that doesn't show a tab for the source, scope or and pausing

![image](https://user-images.githubusercontent.com/8599/44860979-5e928800-ac2c-11e8-9950-f454d4603647.png)

[2018-01-15 22:38] #4950 closed

[2018-01-15 22:39] #4792 closed

[2018-01-15 22:40] #4694 closed

[2018-01-15 22:40] #4715 closed

[2018-01-15 22:43] #4292 closed

[2018-01-15 22:45] #4241 closed

[2018-01-15 22:45] jasonLaster commented on #4241
We now show the generated source label to indicate where a file has been mapped from. We also have the webpack logo in the source tree.

<img src='https://shipusercontent.com/0c18620949a56a346f93534250f92561/Screen%20Shot%202018-01-15%20at%205.44.44%20PM.png' title='Screen Shot 2018-01-15 at 5.44.44 PM.png' width=732>

[2018-01-15 22:50] #4333 closed

[2018-01-15 22:53] jasonLaster opened #5108 "[ProjectSearch] sad face while typing"
It looks like the recent consolidation #5016 is causing the sad face to appear before the user does a search:

STR:
1. cmd+shift+f
2. start typing

see: sad face

<img src='https://shipusercontent.com/c3bee147c1b711b002ddb28cccc5aae7/Screen%20Shot%202018-01-15%20at%205.51.19%20PM.png' title='Screen Shot 2018-01-15 at 5.51.19 PM.png' width=575>

[2018-01-16 04:38] CharlesStocky commented on #4865
Im thinking a utility function that currently exists (/src/utils/utils.js endTruncateStr) isn't needed and may hamper future development. The same functionality can exist with css and it's dynamic.

[2018-01-16 05:02] atiqueansari1987 commented on #5091
Anyone working on this?

[2018-01-16 05:16] jasonLaster commented on #5091
@atiqueansari1987 go for it

[2018-01-16 05:19] atiqueansari1987 commented on #5091
Cool. I will try and submit a PR this weekend.

/claim

[2018-01-16 05:19] atiqueansari1987 commented on #5091
/claim

[2018-01-16 05:56] digitarald opened #5109 "[ProjectSearch] shows minified results"
STR:

- Open https://arewesmoothyet.com/?mode=track&trackedStat=Devtools%20Hangs
- CMD-SHIFT-F for "trackedStats"
- Click on the first result
- Prettify file; needs some time
- Go back to search with CMD-SHIFT-F
- Focus search field and search again

ER: Show results from prettified file

AR: Repeated results from both un-formatted and formatted file.

<img width="687" alt="image" src="https://use

[2018-01-16 09:13] Anzumana commented on #4788
yeah time is an issue still :/

[2018-01-16 11:46] lukaszsobek commented on #4798
/unclaim

[2018-01-16 14:34] jasonLaster opened #5112 "[SourceTree] index file is missing for vue"
STR:

1. navigate to [todomvc - vue](http://todomvc.com/examples/vue/)
2. expand todomvc source tree node
3. expand examples/vue

ER: see (index)
AR: it's not there

<img src='https://shipusercontent.com/366476b6d387efd0f083a86725d8ebda/Screen%20Shot%202018-01-16%20at%209.32.41%20AM.png' title='Screen Shot 2018-01-16 at 9.32.41 AM.png' width=248>

[2018-01-16 15:04] jasonLaster commented on #5069
Closing as I could not reproduce it:

![](http://g.recordit.co/ShptxrkZhJ.gif)

[2018-01-16 15:04] #5069 closed

[2018-01-16 15:05] jasonLaster commented on #5072
removing the bug label as it is a "code health" issue, but not a bug that affects users

[2018-01-16 15:06] #5050 closed

[2018-01-16 15:07] #5024 closed

[2018-01-16 15:08] #4712 closed

[2018-01-16 15:08] jasonLaster commented on #3982
closing as we do not have a specific STR... and we fixed a syncing issue last week that could have been the root cause.

[2018-01-16 15:09] #4855 closed

[2018-01-16 15:22] Loirooriol commented on #4693
How come this hasn't been fixed already? The UX is so horribly broken. What are these shortcut characters that needed the offending code? I don't understand.

[2018-01-16 15:29] jasonLaster commented on #4693
Sorry @Loirooriol, we'll look into it soon.

[2018-01-16 15:45] Loirooriol opened #5113 "[Tabs] should have the same width"
Lots of times I have a bunch of consecutive debugger tabs that I want to close. But I can't use "Close all tabs" nor "Close other tabs" because I want to keep some.

With Firefox tabs it's easy, I just click the close button several times because when a tab is closed the next one takes its position.

But with the debugger I can't do this because all tabs have different widths, so the close button

[2018-01-16 15:47] wldcordeiro commented on #5113
We could maybe put a pref on this. If you check out editors like Atom and VS Code they usually have options for whether tabs should be equal size or not.

[2018-01-16 15:53] Loirooriol opened #5114 "[Expressions] Removed watched expressions reappear"
Follow-up from #3598

1. Go to http://www.example.org/
2. Open the debugger
3. Set the debugger to "Pause on all exceptions"
4. Add a new watched expression: `foo.bar`
5. The debugger pauses: `ReferenceError: foo is not defined`
6. Remove the watched expression
7. Click ▷ (Resume)

Expected: the watched expression stays removed.
Result: the watched expression reappears.
From: https://bugzilla.mozi

[2018-01-16 16:00] wldcordeiro commented on #5114
I don't know if this issue needed to be opened. Were you testing in Firefox? It might be that the fix just hasn't landed there yet.

[2018-01-16 16:02] Loirooriol opened #5115 "[Stepping] step-in goes to an unexpected line"
From: https://bugzilla.mozilla.org/show_bug.cgi?id=1380672

1. Load data:application/json,[]
2. Open the new debugger frontend
3. Search json-viewer.js and open it
4. Add a breakpoint in this line 10:
[code]
5. Reload the page, the script pauses in there
6. Step in.

Result: the debugger highlights line 95:
[code]

Just why? If you step it again goes to the next function declaration:
[code]

And f

[2018-01-16 16:05] Loirooriol commented on #5114
The "Pause on all exceptions" case was never fixed. I already complained but since #3598 is not reopened, I decided to file a new issue.

[2018-01-16 16:26] jasonLaster commented on #5115
Thanks for filing. Here's a GIF

![](http://g.recordit.co/hxo7IbaYnI.gif)

[2018-01-16 16:40] jasonLaster commented on #5115
Looking into this a bit more:

- the breakpoint is hit twice. the first time must be an outer location like define. The second is the correct one
- the old debugger works fine. This is a client issue w/ where we add the breakpoint

[2018-01-16 21:10] jimblandy commented on #5061
I don't think the way we call out each distinct scope today is especially helpful, so I think a less noisy display would be great.

But we'll need to display things clearly when bindings in inner scopes shadow bindings for variables of the same name in outer scopes. In the current UI, the separated scopes give the developer a hint, at least.

[2018-01-16 21:10] jasonLaster commented on #5061
Here is another example that shows the difference between default assignments params and params...

https://es6-default-assignments.glitch.me/

### without default params

<img src='https://shipusercontent.com/4b67f6b6742456afc8b0dfd57fc4dc5e/Screen%20Shot%202018-01-16%20at%204.10.11%20PM.png' title='Screen Shot 2018-01-16 at 4.10.11 PM.png' width=737>

### with default params

<img src='https://s

[2018-01-16 22:13] gregtatum opened #5120 "[Flow] add eslint-plugin-flowtype - require-valid-file-annotation"
It would be great to use this [eslint rule](https://github.com/gajus/eslint-plugin-flowtype#require-valid-file-annotation) to ensure that we don't mistakenly leave out `// @flow` headers.

Here are this list of files that are missing the header. Lets add the header and the minimal types needed to satisfy flow. It is okay to add a lot of loose types like `any`, `Object`, etc...

### Example

here i

[2018-01-16 22:16] gregtatum commented on #5120
Also, even if this was intentional, the eslint rule makes it explicit when you don't want to use flow in a file.

[2018-01-16 22:31] wldcordeiro commented on #5120
I noticed that several files are missing the header and I think they may have been that way because of some naive prop-types -> Flow conversions.

[2018-01-16 22:42] jasonLaster commented on #5120
yeah - we should definitely fix them!

[2018-01-16 22:52] gregtatum opened #5121 "[Flow] Selectors aren't covered"
I believe that none of the selectors are covered in how they are being imported into files. I think the dynamic construction of `module.exports` is breaking Flow's resolution of the import values. You should be able to achieve the same thing through the built-in `export * from './module'` syntax that's built into ES modules (unless I'm missing something).

Something like:

[code]

[2018-01-16 22:55] jasonLaster commented on #5121
Thanks, I this is definitely a nice win.

I tried this a couple of weeks ago and ran into some issues where multiple reducers exported the same thing such as `State` or `update` given this we would just need to go in an re-name the exports to `<Reducer>State` e.g. `SourcesState`

[2018-01-16 23:01] gregtatum opened #5122 "[Flow] Run flow-typed to get coverage of some third party libraries"
There is no coverage for most of the types, as they get coerced to `any` types when they run through  third party libraries. This is particularly bad for reselect, which powers all of the selectors.

Flow-typed has definition files for the following libraries:

  • enzyme_v3.x.x.js
  • reselect_v3.x.x.js
  • prop-types_v15.x.x.js
  • react-redux_v5.x.x.js
  • lodash_v4.x.x.js

The tool is availabl

[2018-01-16 23:03] gregtatum commented on #5122
The tool is available here:
https://github.com/flowtype/flow-typed

Also be warned that it generates lots of "stubs" for libraries that aren't supported, they can be a bit of noise if committed.

[2018-01-16 23:05] gregtatum opened #5123 "[Flow] Immutable.js has no type coverage"
There are no library definitions in `flow-typed` for Immutable.js, but the latest version of Immutable is adding flow types to the project itself. They are actively being worked on in the release candidate for version 4.0.0, so if the debugger upgraded it would be able to gain the type definition files for free.

[2018-01-16 23:06] jasonLaster commented on #5123
We should probably upgrade immutable at the same time as the rest of devtools.

[2018-01-16 23:06] #5123 closed

[2018-01-16 23:07] gregtatum commented on #5121
There is also the eslint rule [`import/export`](https://github.com/benmosher/eslint-plugin-import/blob/master/docs/rules/export.md) which can help with this, although the debugger has some funny business going on with mapping package names which would have to be worked around.

[2018-01-16 23:08] jasonLaster commented on #5121
What do you mean?

[2018-01-17 00:29] wldcordeiro commented on #5123
@gregtatum there are types that come with the current 3.x version of Immutable but they have an error in them that the devs chose to punt on fixing and instead fixed in 4.x

[2018-01-17 00:30] wldcordeiro commented on #5122
I think it's best to manually add each dependencies types rather than add all + generate stubs.

[2018-01-17 03:13] AnshulMalik commented on #5082
This can be closed.

[2018-01-17 12:00] Loirooriol opened #5125 "[Pause] Can't unpause debugger"
1. Go to https://example.com
2. Open the debugger
3. Click the pause button
4. Change your mind and attempt to unpause

Result: there is no direct way other than running some script and clicking resume.
Expected: clicking the pause button again should unpause

[2018-01-17 13:44] jasonLaster commented on #5122
@wldcordeiro why?

[2018-01-17 15:57] avantgrogg commented on #4693
Hey, sorry for the delay on this. Looking into the code that was added, @wldcordeiro is the goal to make sure the cursor ends up after the icon if an icon exists? Some further questions around uat:

If a user opens a search with an icon, types a part of a word then uses the mouse to place the cursor behind the icon, what is the expected behavior?

If a user opens a search with an icon, types a par

[2018-01-17 16:32] wldcordeiro commented on #4693
It was part of an old implementation and it wasn't properly done but it's not needed and was dropped already.

[2018-01-17 17:41] lukaszsobek commented on #4863
/unclaim

[2018-01-17 17:42] wldcordeiro commented on #5100
Working on `src/utils/editor/`

[2018-01-17 19:26] jasonLaster commented on #5115
I looked into it a bit more and found that the old UI has the same bug. I believe the issue could be in the engine.

I added some logs to `actors/script.js#_makeOnStep` and learned that the server registers an onStep hook with a start location of line 10 column 0.

Then the step hook is called for 7 offsets on line 10: 5, 6, 10, 14, 1, 22, 26, 27...

The next onStep call is on line 95! Why don't w

[2018-01-17 19:32] jasonLaster commented on #4863
Closing this issue and moving to the [enhancements](http://github.com/devtools-html/debugger.html/projects/5) board.

* We will hopefully be able to prioritize it in the near future.
* The issue is closed temporarily, but feel free to continue discussing the issue

[2018-01-17 19:32] #4863 closed

[2018-01-17 19:37] jasonLaster commented on #4693
@wldcordeiro is this fixed?

[2018-01-17 19:51] Loirooriol opened #5130 "Watch expressions still break the console"
[Bug 1388096](https://bugzilla.mozilla.org/show_bug.cgi?id=1388096) was not entirely fixed:

1. Open the debugger
2. Create a new watch expression: `debugger`. The debugger pauses
3. Edit the watch expression to `123`
4. Resume
5. Switch to the console and enter something

Expected: the console displays the returned value
Result: the returned value is not displayed

[2018-01-17 21:11] darkwing opened #5131 "Copy Function Off by 1 Line"
STR:

1.  Open the following URL in the debugger:  https://davidwalsh.name/wp-content/themes/punky/js/main.js

2.  Right-click line 2 (`function t()`) and select "Copy funciton"

3.  Error:  `TypeError: getFunctionLocation(...) is null`

I changed line 113 of `EditorMenu.js` to `getFunctionLocation(line + 1)` and the error went away.

[2018-01-17 21:13] darkwing commented on #5131
A few things to check out:

1.  Is this only happening on pretty-printed resources?

2.  Do we have a larger off-by-one-line issue in the debugger?

[2018-01-17 22:30] usmanibnesadiq opened #5132 "Debugging Angular 2+ is very painful"
Hi, I have been trying to switch to Firefox as my primary browser since nightly versions of Quantum. Debugging a plain vanilla Angular CLI project in FF Q is extremely painful. Here are the key issues:

1- The debugger tab is mostly empty when loading the page first time. Say you have a "debugger" statement in a JS/TS file and you open dev tools by pressing F12. You get a notification saying, the

[2018-01-17 22:36] jasonLaster commented on #5132
Hi @usmanibnesadiq thanks for the feedback. As a bit of context, we re-wrote the debugger over the past 2 years. The old version was written in Firefox XUL which was a superset of HTML and only available in the Firefox UI. The new version is re-written in react and redux, which can run as a local web page.

Unfortunately, the new UI is still buggy. We're working hard to go through the bug queue an

[2018-01-17 23:09] usmanibnesadiq commented on #5132
Hi Jason, thanks for getting back. I am on latest nightly already and experiencing of all that. I am on your slack channel  and can share/show my experience. Thanks,

[2018-01-17 23:28] jasonLaster commented on #5132
Cool. Happy to talk tomorrow. What's your slack handle?

[2018-01-18 09:52] jnachtigall opened #5134 "[Preview] 'Split console' overlays the debugger variable tooltip"
*STR:*
1. Set a breakpoint and also enable `Toggle split console [esc])`
2. Hover a variable at bottom

*AR:*
The variable tooltip is cropped:
![image](https://user-images.githubusercontent.com/3307404/35091459-06ff6616-fc3d-11e7-94cd-e4cc982ce692.png)

*ER:*
Don't crop. Either have the tooltip above the `Split console`. Or: Take the opened console into consideration while calculation into which d

[2018-01-18 16:08] jasonLaster commented on #5115
The root problem is that spider monkey has bad line number information when functions have let/const and function declarations.

https://bugzilla.mozilla.org/show_bug.cgi?id=1431202

[2018-01-18 16:08] #5115 closed

[2018-01-18 16:08] jasonLaster commented on #5115
I'm going to close this bug because it is going to be fixed in spidermonkey

[2018-01-18 16:22] jasonLaster commented on #5102
There isn't a tab here because there isn't a URL associated with the script. We likely want to indicate that with a tab title: `eval (5)` or something like that.

[2018-01-18 16:24] jasonLaster opened #5135 "[Tabs] can be too wide"
I think we currently are too generous with the space we give tabs. They can be quite long...

This is similar to #5113 which argues it would be helpful to have all tabs as the same width.

<img src='https://shipusercontent.com/d3306c62ccbb9a03eb6a873f05505d8a/Screen%20Shot%202018-01-18%20at%2011.21.11%20AM.png' title='Screen Shot 2018-01-18 at 11.21.11 AM.png' width=880>

[2018-01-18 16:28] jasonLaster commented on #4928
Here is a screenshot w/ a narrow devtools

<img src='https://shipusercontent.com/79b4f05887891706fd8c039f177498f7/Screen%20Shot%202018-01-18%20at%2011.27.49%20AM.png' title='Screen Shot 2018-01-18 at 11.27.49 AM.png' width=690>

[2018-01-18 16:29] jasonLaster commented on #5135
closing in favor of #5019

[2018-01-18 16:29] #5135 closed

[2018-01-18 16:49] jasonLaster commented on #4654
I just looked into this and the slow down comes from our current strategy of blocking opening the debugger on fetching all of the sources.

- We fetch all the sources because the debugger can open after the page is open
- We block because when a user clicks a link in the console, we check to see if the debugger has the source before deciding to show the source in `view-source` or the debugger.

##

[2018-01-18 17:55] yurydelendik commented on #5061
Patch for "ma, mb" issue at https://bugzilla.mozilla.org/show_bug.cgi?id=1431461

[2018-01-18 18:53] jasonLaster opened #5138 "[Stepping] aligns line every time"
When we refactored scrolling last month, we removed a check that used to ensure that we'd only scroll if the line were not visible. We should bring that back because now it's very jump :runner:

STR:
1. go to [todomvc](http://devtools-html.github.io/debugger-examples/examples/todomvc/)
2. add a breakpoint in todoview.js#33
3. add a todo in the app
4. start stepping

notice how it always scrolls!

[2018-01-18 20:02] lukaszsobek opened #5139 "[PrettyPrint] Document does not pretty print on re-opening"
STR:
- enable auto pretty print
- click on source in sidebar to open minified source
- wait for pp tab to appear & minified tab to close
- close pp tab
- re-open same minified source

ER:
- minified source opens in new tab, spawns pp source and closes
- OR just pp source opens in new tab

AR
- just minified source opens

Video:
![pretty_print_doesnt_open](https://user-images.githubusercontent.com/

[2018-01-18 20:05] jasonLaster opened #5140 "[Breakpoints] Syncing fails w/ line `null` "
I found while debugging that breakpoints sometimes fail to sync. The reason for this is

a) they try to set a breakpoint at line `null`
b) the ast location is off
c) the original location of the bp does not have a mapping...

[2018-01-18 23:58] digitarald commented on #5102
Bug, UX polish or feature, @jasonLaster ?

[2018-01-19 00:01] avantgrogg commented on #4693
Testing out the criteria that @simonsarris noted, typing `"yams[home key]garnet "` results in the correct behavior, with the text in the input ending up being `"garnet yams"`

[2018-01-19 00:10] Loirooriol commented on #4693
I still get `gyamsarnet` on latest Nightly.

[2018-01-19 01:44] jasonLaster commented on #4693
sorry, it's fixed in Github. Will be on nightly after they cut a new version of beta

[2018-01-19 07:38] #5082 closed

[2018-01-19 08:09] lukaszsobek commented on #4796
Closing due to improvements in performance of expected behavior.

[2018-01-19 08:09] #4796 closed

[2018-01-19 13:20] wkillerud opened #5142 "[Search] Sources do not include results from node_modules/"
I used the Debugger tool to try to set breakpoints in a module imported from node_modules/, but when I used the Search sources tool (Ctrl + P) that module was not found. The file is listed in the Sources pane, so I can find and open the file manually.

The project in question was served with webpack-dev-server with source maps turned on.

To reproduce, debug a website with source maps which import

[2018-01-19 14:49] jasonLaster commented on #5142
Thanks @wkillerud, I agree. I think we would like to add an option for including 3rd party libraries. By default, it is pretty slow.

[2018-01-19 15:16] wkillerud commented on #5142
Opt-in makes sense - most of the time those results would be irrelevant, so better to get a more performant default search :)

[2018-01-19 15:20] AlexisDeschamps commented on #5142
/AlexisDeschamps

[2018-01-19 15:21] AlexisDeschamps commented on #5142
/claim

[2018-01-19 15:21] calebstdenis commented on #2545
/claim

[2018-01-19 15:22] jasonLaster commented on #5142
Looks like there are two places we want to potentially include 3rd party libs `cmd+p` and `cmd+shift+f` search sources & project text search.

[2018-01-19 20:18] jasonLaster commented on #5140
Okay, looks like the bug is actually with disabled breakpoints and ast locations:

1. clone https://github.com/devtools-html/perf.html/
2. add a breakpoint in Home.js on line 92 in constructor
3. disable the breakpoint
4. add a bunch of empty lines above constructor
5. reload perf

ER: you see the breakpoint moved

AR:
1. it is moved
2. localstorage shows that we have a new pending breakpoint in t

[2018-01-19 20:28] jasonLaster opened #5149 "[Sources] the selection width is clipped"
I think that upgrading to reps and the new tree component caused the sources tree node to be clipped.

this seems like a good fix

[code]

![](http://g.recordit.co/HMfj8CuYRn.gif)

[2018-01-19 20:46] jasonLaster opened #5150 "[CallStack] Simplify Babel call stacks"
It's really common for babel to create a bunch of call stack frames when you're paused in an async function.

Here is an example

| displayName | url |
|--|--|
| _callee2$ | webpack:///entry.js |
| tryCatch | webpack:///Users/jlaster/src/mozilla/debugger-examples/node_modules/regenerator-runtime/runtime.js |
| invoke | webpack:///Users/jlaster/src/mozilla/debugger-examples/node_modules/regenerator

[2018-01-19 21:09] jasonLaster opened #5151 "[Scopes] are missing padding"
It looks like the scopes pane lost its padding after we refactored the reps and tree component

<img src='https://shipusercontent.com/2b16536c141786dc575d7b26d9660ead/Screen%20Shot%202018-01-19%20at%204.03.34%20PM.png' title='Screen Shot 2018-01-19 at 4.03.34 PM.png' width=324>

[2018-01-19 21:46] jasonLaster commented on #4798
Closing this issue and moving to the [enhancements](http://github.com/devtools-html/debugger.html/projects/5) board.

* We will hopefully be able to prioritize it in the near future.
* The issue is closed temporarily, but feel free to continue discussing the issue

[2018-01-20 00:37] violasong commented on #5142
Cool! While a single icon would look good, I'm not sure if there's a one that communicates this well enough on its own. I think a checkbox with "Include 3rd party libraries" label would be the most usable, though it's pretty long, and probably would need some separator lines:

<img width="871" alt="image" src="https://user-images.githubusercontent.com/55994/35177734-a555d0bc-fd36-11e7-8c19-92f6e8d

[2018-01-20 01:06] jasonLaster commented on #5142
Thanks, I feel like this could be take up a lot of horizontal space when the editor pane is often pretty narrow.

@AlexisDeschamps brought up an interesting question today. Do you think we should have a global setting for 3rd party libs?

I think @digitarald might have mentioned this too for content scripts as well. Perhaps we have a setting in the sources sidebar? Or a dropdown menu.

[2018-01-20 01:10] violasong commented on #5142
Ah good point, I always forget about vertical mode! Could put it under the search input instead. Could also do a gear icon that opens a dropdown menu.

[2018-01-20 01:35] #4746 closed

[2018-01-20 01:39] jasonLaster commented on #5142
This could be awkward in the quick open modal.

---

In the past i was punting on this decision because i was hoping to move project search to the footer of the editor. Once we do that we could have an exclude files input...

https://github.com/devtools-html/debugger.html/issues/3178

---

I'm tempted to do this:

1. search sources always includes the 3rd party files. We can make that fast and fuz

[2018-01-20 15:12] atwalg2 commented on #5086
/claim

[2018-01-20 15:13] AlexisDeschamps commented on #3829
/claim

[2018-01-20 15:34] mmcote commented on #5064
/claim

[2018-01-20 16:51] calebstdenis opened #5155 "Add lint rule for MPL file header"
[code]
^ Every file needs this header. In order to avoid issues like #4869, it would be nice if we had:
- [ ] A lint rule enforcing its presence, using [eslint-plugin-header](https://www.npmjs.com/package/eslint-plugin-header)
- [ ] Setup VS Code (and Atom?) to auto-add this header to new files.

If someone other than me ends up claiming this, don't hesitate to reach out to me on Slack

[2018-01-20 18:26] AlexisDeschamps commented on #3829
[code]

[2018-01-20 18:33] AlexisDeschamps commented on #5109
/claim

[2018-01-20 18:49] mmcote commented on #5064
Larger issue was documented under devtools-core, at [https://github.com/devtools-html/devtools-core/issues/908]().

[2018-01-20 18:50] mmcote commented on #5138
/claim

[2018-01-20 19:31] jasonLaster opened #5157 "[QuickOpen] Go To line should only show a sad face when the query is bad"
STR:
1. cmd+:
2. type 12

AR: sad face
ER: should not be sad

If the user types `:sdlkjdsf` it should show a sad face because that query would be cray

![](http://g.recordit.co/dc6mZUbe1q.gif)

[2018-01-20 19:42] calebstdenis commented on #5150
/claim

[2018-01-20 21:00] AlexisDeschamps opened #5159 "[Project Search] Duplicate sources"
STR:
- Open https://arewesmoothyet.com/?mode=track&trackedStat=Devtools%20Hangs
- CMD-SHIFT-F for "trackedStats"
- See source appear
- Wait
- See duplicate source appear

ER: Duplicated source
AR: Only one source

![image](https://user-images.githubusercontent.com/12681350/35187932-e57fcf66-fdfa-11e7-855d-4d202438758e.png)

[2018-01-20 21:01] AlexisDeschamps commented on #5159
/claim

[2018-01-20 21:15] jasonLaster commented on #4104
I started this and got pretty close:

[code]

[2018-01-20 22:18] jbhoosreddy commented on #5157
/claim

[2018-01-20 22:20] jbhoosreddy commented on #5157
#5108

[2018-01-20 23:27] darrylpargeter commented on #5151
/claim

[2018-01-21 14:14] chopstik commented on #4798
Why are you moving this to enhancements? Prior to the posting of this bug a month or so ago, this behaviour wasn't happening and script errors with the corresponding line/character numbers on the script were being reported/shown correctly. Something prior to the update of FF DeveloperEdition broke this previously useful facility. What are you exactly suggesting is the enhancement if it has already

[2018-01-21 14:31] jasonLaster commented on #4798
Oh thanks @chopstik. I didn't realize that worked previously.

Does this currently work with Firefox release?

[2018-01-21 14:34] #3815 closed

[2018-01-21 14:34] #4828 closed

[2018-01-21 14:34] #1574 closed

[2018-01-21 15:11] atwalg2 opened #5164 "[prepush] Prepush script does not run on windows machines"
Steps to reproduce:
* Use windows machine
* Run git push on gitbash or bash on windows

![image](https://user-images.githubusercontent.com/23143862/35195501-8d12f194-fe92-11e7-9ca1-1adbb97dd67f.png)

I am working around it by appending the windows command "start".
![image](https://user-images.githubusercontent.com/23143862/35195529-05d81be0-fe93-11e7-87b6-1f1d3c461a3c.png)

-----------------------

[2018-01-21 16:06] atwalg2 commented on #4488
/claim @princiya I'm going to work on picking up where you left off

[2018-01-21 17:37] lukaszsobek commented on #5155
Like this idea a lot, especially the lint rule, or a similar approach - even automatically adding the header if it is not there yet. It would save time with future implementations and stop us from hunting around trying to re-add the headers.

[2018-01-21 19:32] calebt97 commented on #5149
Hey my name is Caleb (noob for short). I'd love to help you!

[2018-01-21 20:51] lukaszsobek commented on #5149
@calebt97 Hey Caleb, we'd love your help. I think this issue is pretty much covered though, so maybe take a look at some of our other good first issues here: https://github.com/devtools-html/debugger.html/labels/good%20first%20issue and pick one you like.

[2018-01-21 20:56] lukaszsobek commented on #5149
Fixed, closing.

[2018-01-21 20:56] #5149 closed

[2018-01-21 21:05] lukaszsobek commented on #5064
Fixed. Closing.

[2018-01-21 21:05] #5064 closed

[2018-01-21 23:02] jbhoosreddy commented on #5109
fixed in #5158

[2018-01-21 23:02] #5109 closed

[2018-01-21 23:25] jbhoosreddy commented on #5157
#5086 fixes this.

[2018-01-21 23:25] jbhoosreddy commented on #5157
/unclaim

[2018-01-22 08:39] chopstik commented on #4798
No the issue persists.

[2018-01-22 09:51] nchevobbe commented on #4798
@chopstik can you remember when it was working ? I tried the old debugger but the source wasn't showing up there

[2018-01-22 10:02] chopstik commented on #4798
@nchevobbe just prior to me filing the [bug](https://bugzilla.mozilla.org/show_bug.cgi?id=1420381) two months ago. Prior to the FF upgrade to 58 the script error behavior was working fine, an error and its line/character number would take you to that line.character in the offending script. Its failure to link errors to their source prompted me to file the bug report as it was such a useful facilit

[2018-01-22 10:06] julienw commented on #5164
I think the issue is with running node in git bash. ([we're not alone](https://stackoverflow.com/questions/35820422/unknown-stdin-file-type-error-in-windows#36422432) but I found nothing on node's github)

I think another workaround is adding "start" before your "git push" command.

I'd be interested to know:
* how you installed node
* if you have the same issue when running in a plain command pro

[2018-01-22 19:26] lukaszsobek commented on #3942
@jasonLaster @captainbrosset
So when we run evaluateInConsole we seem to have 3 scenarios:

- we are evaluating a variable, in which case we want to return:
a) which variable was evaluated
b) what the variable contained or undefined

- we are evaluating a function content, in which case we want to return:
a) which function was evaluated
b) what the contents of the functions are

- we are evaluatin

[2018-01-22 20:32] lukaszsobek commented on #5151
Fixed, closing.

[2018-01-22 20:32] #5151 closed

[2018-01-22 21:02] jbhoosreddy commented on #5108
done in #5124

[2018-01-22 21:02] #5108 closed

[2018-01-22 21:32] jbhoosreddy commented on #3216
/claim

[2018-01-22 23:04] jbhoosreddy commented on #5139
/claim

[2018-01-23 05:42] lukaszsobek opened #5172 "[fetchScopes] Tries to read get from possibly empty object"
Pause.spec.js is calling fetchScopes without supplying a Map for the function to read from which results in an error when running jest. Would be nice to verify the object exists before trying to get from it.

[2018-01-23 05:43] lukaszsobek commented on #5172
/claim

[2018-01-23 13:02] AlexisDeschamps commented on #5159
Closing as #5165 should have fixed.

[2018-01-23 13:02] #5159 closed

[2018-01-23 14:35] lukaszsobek commented on #5003
Merged. Closing.

[2018-01-23 14:35] #5003 closed

[2018-01-23 15:19] jasonLaster commented on #3982
So far I see a couple of interesting cases:

- [ ] keep disabled bps in sync when the source changes
- [ ] remove bps when they no longer map to a generated location
- [ ] remove bps when they move from the module scope to a function scope
- [ ] key bp clients by ID and not location

[2018-01-23 15:28] #5140 closed

[2018-01-23 19:24] violasong commented on #5142
Ah I see, I wasn't thinking this through enough.

The footer search really slick in Atom - I'm just worried that in DevTools it would be different from all the other panels' top-aligned searches.

Cool, this sounds like a great way forward. Third party results could have some icon or something to show that they're different.

Would it be weird to keep the top-aligned search UI, but add an exclude

[2018-01-23 20:37] ajvincent commented on #5040
When I tried using this at work, the result was such a performance hit as to make the devtools virtually unusable.  We ended up using a "channel redirector" inside the target app to force it to load the unminified code.  The result was a night & day difference:  with the redirector, the debugger responded very quickly.

[2018-01-23 21:13] jasonLaster opened #5179 "Remove to-fast-properties optimization"
It looks like we're including a v8 optimization that throws warning in spider monkey. We should try and remove it from the babel / webpack build step.

https://github.com/sindresorhus/to-fast-properties

[2018-01-23 22:26] lukaszsobek commented on #4777
/claim

[2018-01-23 23:15] wldcordeiro commented on #5142
@violasong The goal is to make the project search and in-file search look more like Atom/etc with the footer search. One of the things preventing that was that we wanted to share the search bar in the two so that you have access to the modifiers (case sensitivity, regex, whole word) in project or file search.

I like the idea of having the exclude pattern underneath in the footer style it's very u

[2018-01-24 00:52] violasong commented on #5142
I think I'm on the same page - I was suggesting we add the exclude pattern input under the search input, but keep both types of inputs near the top of the panel for now. Could be a good intermediate step, and keeps more consistent with the other panels. Some more design work could definitely be done here to make the inputs look better since it looks a little confusing with all the faint horizontal

[2018-01-24 01:22] jasonLaster commented on #5142
Thanks @violasong i think that makes sense for project text search. For source search, i think we can simplify the top search so it is just source input like atom + code and rely on fuzzy search.

[2018-01-24 01:23] jasonLaster commented on #5040
good to know. what version of firefox were you using? Nightly has gotten much faster

[2018-01-24 01:23] #5040 closed

[2018-01-24 02:42] mmcote opened #5184 "[Stepping] Upon stepping onto certain statements, the editor realigns vertically to the leftmost frame of the editor."
When we refactored scrolling last month, we removed a check that used to ensure that we'd only scroll if the line were not visible. We should bring that back because now it's very jump 🏃

STR:

- Go to a webpage with heavily nested statements, such as the file given below.
- Add a breakpoint to the first if statement.
- Shrink the horizontal scroll view to as small as possible, ensuring some of th

[2018-01-24 02:42] mmcote commented on #5184
/claim

[2018-01-24 02:44] mmcote commented on #3800
/claim

[2018-01-24 02:44] mmcote commented on #3800
^^^5

[2018-01-24 04:35] ajvincent commented on #5040
FF57.  I don't know what minor version.

[2018-01-24 05:30] lukaszsobek commented on #5059
Merged. Closing.

[2018-01-24 05:30] #5059 closed

[2018-01-24 06:54] lukaszsobek opened #5185 "[Tests] Testing for promise does not fail"
We have several situations in our tests where we want the return value of a function and use `.toBe(...)` to compare it with the desired outcome. There is no problem with **synchronous** functions to be handled this way. But there might be a problem with **asynchronous** functions, as they require an additional step, where we do not compare the result of the function itself but chain the `expect.t

[2018-01-24 09:13] lukaszsobek commented on #5185
/claim

[2018-01-24 09:49] lukaszsobek commented on #5172
Closing in favor of issue with broader scope.

[2018-01-24 09:49] #5172 closed

[2018-01-24 13:10] jasonLaster commented on #5040
@ajvincent sorry. 57 was really slow for sourcemaps. we've gone from 15 seconds in many cases to <2 seconds in 59...

[2018-01-24 22:38] #3982 closed

[2018-01-24 22:38] #4158 closed

[2018-01-24 22:45] jasonLaster commented on #5085
this will be fixed soon :)

[2018-01-24 22:45] #5085 closed

[2018-01-24 22:52] jasonLaster opened #5189 "[QuickOpen] Remove result count"
@gabrielluong pointed out to me the other day that most editors do not include the result count in their quick open modal.

I think it is a cleaner to leave out the result count. The other benefit is then we can find fewer matches (100 instead 1000) which will be even faster.

This what it would look like

| files | functions |
| --- | --- |
| <img  src='https://shipusercontent.com/59d0710d1bc1493

[2018-01-24 22:56] jasonLaster opened #5190 "[QuickOpen] Should show tabs "
I think it would be nice if by default, cmd+p showed the current tabs

There are a couple of reasons for this:

1. it is easier/quicker to find another tab
2. the more dropdown often feels mis-placed

Another option is to follow a vs code style "Open Editors" left sidebar pane. I think that this probably over-prioritizes the open tabs by duplicating the data :)

---

### Proposal
<img src='https:/

[2018-01-24 23:27] jasonLaster commented on #5190
quick-open-tabs

[2018-01-25 01:28] jasonLaster commented on #4725
hey @sole. I'm thinking about closing this as the perf on nightly has gotten 10X better. Feel free to re-open if you see anything.

[2018-01-25 01:28] #4725 closed

[2018-01-25 01:30] jasonLaster commented on #4743
@jimblandy can you add some context here?

[2018-01-25 01:30] jasonLaster commented on #4489
closing as i don't know if there's a debugger-side fix for babel parse times specifically. We've fixed other cases by avoiding parsing certain files.

[2018-01-25 01:30] #4489 closed

[2018-01-25 01:35] jasonLaster commented on #4503
[code]

[2018-01-25 01:36] jasonLaster commented on #4503
closing as this is likely an old version of FF issue, which we don't support

[2018-01-25 01:36] #4503 closed

[2018-01-25 01:37] jasonLaster commented on #4736
Hi, thanks for the feature request. I'm closing this issue and moving to the [enhancements](http://github.com/devtools-html/debugger.html/projects/5) board.

* We will hopefully be able to prioritize it in the near future.
* The issue is closed temporarily, but feel free to continue discussing here

[2018-01-25 01:37] #4736 closed

[2018-01-25 01:39] jasonLaster commented on #4783
I believe we're doing this now :)

If not, we can re-open

[2018-01-25 01:39] #4783 closed

[2018-01-25 01:41] jasonLaster commented on #4812
Hi, sorry for the slow reply - i'm moving this issue to devtools core where we work on source map support

https://github.com/devtools-html/devtools-core/issues/909

[2018-01-25 01:44] jasonLaster commented on #4813
I just tried again and it worked alright in FF60.

[2018-01-25 01:46] jasonLaster commented on #4572
closing as we show a link back to the generated file if it is original soon.

We might also move search down there. Anyways, we can always re-open the discussion later.

[2018-01-25 01:46] #4572 closed

[2018-01-25 01:48] jasonLaster commented on #4751
Thanks, i moved this request to https://github.com/devtools-html/devtools-core/issues/910 where we handle formatting console/debugger variables.

[2018-01-25 01:48] #4751 closed

[2018-01-25 01:56] jasonLaster commented on #4996
We fixed this today.

[2018-01-25 01:57] #4996 closed

[2018-01-25 01:57] jasonLaster commented on #5113
Closing this issue and moving to the [enhancements](http://github.com/devtools-html/debugger.html/projects/5) board.

* We will hopefully be able to prioritize it in the near future.
* The issue is closed temporarily, but feel free to continue discussing the issue

[2018-01-25 01:57] #5113 closed

[2018-01-25 02:01] jasonLaster commented on #4887
Closing this issue and moving to the [enhancements](http://github.com/devtools-html/debugger.html/projects/5) board.

* We will hopefully be able to prioritize it in the near future.
* The issue is closed temporarily, but feel free to continue discussing the issue

[2018-01-25 02:01] #4887 closed

[2018-01-25 02:02] jasonLaster commented on #4724
Closing this issue and moving to the [enhancements](http://github.com/devtools-html/debugger.html/projects/5) board.

* We will hopefully be able to prioritize it in the near future.
* The issue is closed temporarily, but feel free to continue discussing the issue

[2018-01-25 02:02] #4724 closed

[2018-01-25 02:27] #4573 closed

[2018-01-25 02:27] #5142 closed

[2018-01-25 02:28] jasonLaster commented on #5142
cmd+p will soon include node module sources :)

[2018-01-25 02:29] jasonLaster commented on #5139
@jbhoosreddy i'm not sure what we want to do here, because we *do* want to let users see the ugly files too :)

[2018-01-25 02:31] jasonLaster commented on #4104
Hey @zaggy still interested?

[2018-01-25 02:32] #4693 closed

[2018-01-25 02:32] jasonLaster commented on #4928
Hey @pradeepgangwar, still interested?

[2018-01-25 02:33] jasonLaster commented on #5091
Hey @atiqueansari1987 how's it going?

[2018-01-25 02:33] jasonLaster commented on #4865
Hey @CharlesStocky how's it going?

[2018-01-25 02:33] jasonLaster commented on #3601
Hey @Fischer-L how's it going?

[2018-01-25 02:34] jasonLaster commented on #5065
Hey @loganfsmyth, I'm closing as it will be handled in the new POC scopes PR you're working on.

[2018-01-25 02:34] #5065 closed

[2018-01-25 02:34] jasonLaster commented on #5034
@ppatel221 how's it going?

[2018-01-25 02:34] #5043 closed

[2018-01-25 02:35] jasonLaster commented on #4326
Hey @jordanch how's it going? can we help anywhere?

[2018-01-25 02:35] jasonLaster commented on #3819
this is now done!

[2018-01-25 02:35] #3819 closed

[2018-01-25 02:35] jasonLaster commented on #4542
closing as it's not clear perf will get better if we bump to 7.

[2018-01-25 02:35] #4542 closed

[2018-01-25 02:37] jasonLaster commented on #2804
@joshunger i'm taking your head off it. Feel free to jump on it again if your schedule clears up.

[2018-01-25 02:37] jasonLaster commented on #1989
Hey @NickMalt how's your schedule these days?

[2018-01-25 02:46] joshunger commented on #2804
@jasonlaster sounds good my schedule should clear up in a week and a half

[2018-01-25 03:01] wldcordeiro commented on #3400
This is still open and we use `operation` already in some locations. Reading the docs we should be able to do most things with it and avoid `startOperation`/`endOperation`.

https://codemirror.net/doc/manual.html#api_misc

Should we revisit this? @jasonLaster I'm down to investigate and implement if it stands to help. 😄

[2018-01-25 03:02] wldcordeiro commented on #4051
We ended up doing an update to 0.19 so I think we can close this.

[2018-01-25 03:02] #4051 closed

[2018-01-25 03:04] wldcordeiro commented on #3736
Any update here?

[2018-01-25 03:08] wldcordeiro commented on #4599
I tried this just now and it retained the layout when reopened, @magicp-github could you check again?

[2018-01-25 03:10] wldcordeiro commented on #4390
Looks like @darkwing added this to launchpad and I think we've gotten those changes from updates? If so this looks like it can be closed.

[2018-01-25 04:17] jasonLaster commented on #4390
hmm, not sure there were two items... not sure if the `messagebox` was addressed.

[2018-01-25 04:17] jasonLaster commented on #4599
this was fixed :)

[2018-01-25 04:17] #4599 closed

[2018-01-25 04:18] jasonLaster commented on #3400
i think we can close this for now as we got the operations down quite a bit. Also not sure if this would work :)

[2018-01-25 04:18] #3400 closed

[2018-01-25 04:21] jasonLaster commented on #2884
closing as we'll soon have sourcemaps with proper URLs

[2018-01-25 04:21] #2884 closed

[2018-01-25 04:21] #4098 closed

[2018-01-25 04:26] jasonLaster commented on #4192
![](http://g.recordit.co/08TtTXAGKt.gif)
![](http://g.recordit.co/GYD9wGVoAi.gif)
![](http://g.recordit.co/zDwGDBwnXO.gif)
![](http://g.recordit.co/2u2VV0LAEd.gif)
![](http://g.recordit.co/2u2VV0LAEd.gif)

[2018-01-25 04:26] jasonLaster commented on #4192
- I think switching is significantly faster.
- Empty tabs is fixed

[2018-01-25 04:26] #4192 closed

[2018-01-25 04:28] jasonLaster commented on #4320
I can't reproduce. Does it work for you?

[2018-01-25 04:30] jasonLaster commented on #4168
So... I think we've made progress here, but the 30K demo still crashes nightly :P

[2018-01-25 04:31] jasonLaster commented on #4307
both functions have been cleaned up.

[2018-01-25 04:31] #4307 closed

[2018-01-25 04:34] jasonLaster commented on #4377
I'm not sure what you mean:

We support adding breakpoints and pausing in pretty files

![](http://g.recordit.co/Xi5KKhJkJR.gif)

[2018-01-25 04:34] #4377 closed

[2018-01-25 04:39] jbhoosreddy commented on #5139
If a file has been pretty printed, and then you open it again,
should it open the pretty version by default, or the ugly version?

either way it should be easily toggleable between them, right? @jasonLaster @lukaszsobek

[2018-01-25 05:10] pradeepgangwar commented on #4928
@jasonLaster I got busy with other things. I think I will not be able to work on this currently. I am unclaiming it to allow others work on this.
/uncliam

[2018-01-25 05:11] pradeepgangwar commented on #4928
/unclaim

[2018-01-25 06:14] atiqueansari1987 commented on #5091
Hi @jasonLaster last weekend I didn't get time to work on this. I will try and submit a PR this week.

[2018-01-25 06:18] atiqueansari1987 commented on #5091
Also I don't have permission to Fork the repo. Can you please help me with this?

[2018-01-25 09:32] Fischer-L commented on #3601
@jasonLaster during testing I found some difficulties so I am trying another approach. Will update soon.

[2018-01-25 11:57] Fischer-L commented on #3601
@jasonLaster
PR #5195 is created for persisting the blackbox states, thanks.

And would like to check another question about persisting the pretty print.
Below tried to pretty print one script then after reloading, the pretty printed script still existed. For persisting pretty print what behavior is expected here?
![3601-pretty_print](https://user-images.githubusercontent.com/5627487/35387164-9ddc

[2018-01-25 12:20] joshunger commented on #4996
Thank you 🎉

[2018-01-25 13:59] jasonLaster commented on #3601
oh interesting. I think that is the expected behavior :)

[2018-01-25 16:24] Loirooriol commented on #4693
I guess it's https://github.com/devtools-html/debugger.html/commit/282c688f9a0150aab6b810a8d57a874a5c005e0a#diff-5f2aad7d5f0db62d1bdb6c5f0b64e714

[2018-01-25 16:26] Loirooriol commented on #5114
@jasonLaster But #3598 is still closed...

[2018-01-25 16:27] #5131 closed

[2018-01-25 18:35] jasonLaster commented on #4544
Here are some screenshots:

<img src='https://shipusercontent.com/0976c23fb036567aea6ab8a55e3231ac/Screen%20Shot%202018-01-25%20at%201.35.03%20PM.png' title='Screen Shot 2018-01-25 at 1.35.03 PM.png' width=508>

<img src='https://shipusercontent.com/fb3781086aa3a0acfbd26ba9955cc729/Screen%20Shot%202018-01-25%20at%201.34.59%20PM.png' title='Screen Shot 2018-01-25 at 1.34.59 PM.png' width=351>

[2018-01-25 19:19] andreasbovens opened #5201 "Odd formatting for shortcuts in debugger tab on Windows 10"
When opening the debugger tab on Windows 10, I see the following:

![debugger-funky-font](https://user-images.githubusercontent.com/613077/35407335-8701cef0-0203-11e8-80be-31526804d9d3.png)

Two issues:
- the shortcuts and explanatory texts are not on the same line
- the shortcuts should probably not be in a monospace font

This issue does not occur on Mac.

[2018-01-25 22:54] Loirooriol opened #5204 "[Expression] syntax errors are cleared on save"
Create a watch expression with a syntax error, e.g. `[1,2,3`

Result: the expression is cleared and "Invalid expression..." is displayed.

Expected: the expression is not cleared so that you can fix the syntax error without having to rewrite it all.

[2018-01-25 23:09] Loirooriol opened #5205 "Debugger freezes window"
1. Disable e10s
2. Load https://api.github.com/
3. Open debugger
4. Click pause button
5. Click some row in the JSON Viewer so that a script runs

Result: the window freezes. If you focus some other window (not necessarily a Firefox one) and then you focus the former back, then it works again.

Windows 10 1709, Nightly 60.

[2018-01-25 23:34] jasonLaster commented on #5204
@Loirooriol this was added to the debugger in github. It should be in nightly tomorrow or monday.

[2018-01-26 01:50] CharlesStocky commented on #4865
@jasonLaster I'm pretty much done with the fix. I completely removed endTruncateStr. Here's what it's looking like:

<img width="512" alt="image" src="https://user-images.githubusercontent.com/24966772/35421405-a9419ec8-0208-11e8-9dff-4276a60f77a6.png">

Source tabs and the buttons to the right of them no longer overlap on narrowing of the editor pane:

<img width="512" alt="image" src="https://us

[2018-01-26 02:02] CharlesStocky commented on #5189
/claim

[2018-01-26 04:09] jasonLaster commented on #4865
looks good!

[2018-01-26 17:10] Loirooriol commented on #5204
Still bad after [bug 1432842](https://bugzilla.mozilla.org/show_bug.cgi?id=1432842) (v10).

[2018-01-26 17:17] Loirooriol opened #5214 "Previous searched text should be selected"
1. Got to http://example.com/
2. Open debugger
3. Press Ctr+Shift+F, the search bar appears
4. Enter `a` and press enter
5. Select some result, the file opens and search bar closes
6. Press Ctr+Shift+F again, now to search `b`

Expected: when the search bar appears, `a` is selected to that writing something rewrites the old value
Result: the cursor is at the end, so the new text to be searched is

[2018-01-27 08:56] lukaszsobek commented on #5139
@jasonLaster @jbhoosreddy

I think I'd expect it to open the pretty file every time.

Maybe introduce an item into the context menu of a prettified file similar in behaviour to prettify called uglify, which would show an uglified version of the currently pretty printed file in a new tab.

[2018-01-27 15:37] jasonLaster commented on #5061
@yurydelendik I think there are 2 cases listed above:

1. const/let
2. default params

are there other cases where we have too many block scopes?

[2018-01-27 15:38] #5089 closed

[2018-01-27 15:38] jasonLaster commented on #5089
Closing as we'll handle this in #5215 or a follow up

[2018-01-27 15:41] Loirooriol opened #5218 "TypeError: can't access dead object"
I couldn't open the debugger. The browser console showed

[code]
After restarting Firefox it seems to work again.

[2018-01-27 15:44] jasonLaster commented on #5218
Thanks. Did you have workers in your tab?

[2018-01-27 15:45] jasonLaster commented on #5218
Hey @juliandescottes I see you're doing some worker stuff lately. Does this ring a bell?

[2018-01-27 15:49] Loirooriol commented on #5218
It happened in all tabs, even if they had no worker.

[2018-01-27 16:24] Loirooriol opened #5219 "[Breakpoint] the pending breakpoints pref is using too much memory"
In tabs where the debugger is loaded, each time I enter something to the web console, the browser console shows

[2018-01-27 16:37] AnshulMalik commented on #4833
This can be closed ?

[2018-01-27 16:38] #4833 closed

[2018-01-27 17:53] Loirooriol commented on #5219
If there is so much data it's because I have some breakpoints like

[code]

Consider compressing the JSON before storing it or something like that.

[2018-01-27 21:40] jasonLaster commented on #5219
thanks. That's a good short term idea - for instance sourceUrl is repeated quite a bit.

I think we should also look at other storage options.

[2018-01-27 22:06] Loirooriol opened #5220 "[Expressions] Cursor moves to the end when writing watch expression"
Like #4693, but with watch expressions.

1. Click *Add watch expression*
2. Write `123`, press enter
3. Double click the watch expression
4. Press home key
5. Write `abc`

Result: the field shows `a123bc`
Expected: `abc123`

[2018-01-28 06:48] lukaszsobek commented on #4597
Merged. Closing.

[2018-01-28 06:48] #4597 closed

[2018-01-28 07:08] lukaszsobek opened #5223 "[Breakpoints] Clean up extracted context menu"
We recently merged https://github.com/devtools-html/debugger.html/pull/5049 which extracts the context menu for breakpoints into its own file. As a followup it would be nice to give 2 files:

src/components/SecondaryPanes/Breakpoints.js
src/components/SecondaryPanes/BreakpointsContextMenu.js

a cosmetic treatment consisting of:

- dividing import statements into dependencies and code imports by mo

[2018-01-28 07:27] lukaszsobek commented on #5219
@jasonLaster If the only thing we are doing with the location is adding `:formatted` `:line` and `:column` we might consider rearranging the format to something like:

[code]

[2018-01-28 08:49] AnshulMalik commented on #4831
Switching works smoothly on chrome, firefox seems to be lagging.

[2018-01-28 10:04] lukaszsobek commented on #5214
I think there was a discussion on this topic, so it might be this way by design.

[2018-01-28 10:24] lukaszsobek commented on #5220
lol, this one is good. Here is a visual on the bug:
![abc123](https://user-images.githubusercontent.com/23530054/35481127-ad850c4c-041d-11e8-802d-75cfc5bfb6e2.gif)

[2018-01-28 10:36] lukaszsobek commented on #5218
This might be of help: https://blog.mozilla.org/addons/2012/09/12/what-does-cant-access-dead-object-mean/

[2018-01-28 14:55] jasonLaster commented on #4831
@AnshulMalik do you mean that is fine when the debugger is run in the launchpad in chrome?

[2018-01-28 15:26] AnshulMalik commented on #4831
Yep, but seems like it doesn't work always, it was working fine with `debugger.js` from devtools front. But when tested with `https://www.joinhoney.com/`, chrome is also stuck for a long time.

[2018-01-28 15:30] jasonLaster commented on #4831
hmm - could you try w/ firefox nightly and the old debugger UI. It's available by disabling the new one is the devtools settings.

[2018-01-28 15:42] Loirooriol commented on #5214
The current behavior is so annoying and I don't know any other program that does this.

All of Firefox, Chrome, Chrome's debugger, Edge, Edge's debugger, Notepad, Notepad++, Word, etc. select the previous searched text so that you can replace it with the new one. Firefox's debugger is the only weird one.

[2018-01-28 15:46] jasonLaster commented on #5214
This does seem like a bug

[2018-01-28 16:03] Loirooriol commented on #5220
I still don't understand why somebody thought using `setSelectionRange` to move the cursor to the end would be useful. I would just get rid of that.

https://github.com/devtools-html/debugger.html/blob/8fe140cce02dd4a7181b436b7ac46875dbc1251d/src/components/SecondaryPanes/Expressions.js#L87

It's also in SearchInput.js, maybe it's what causes #5214.

https://github.com/devtools-html/debugger.html/

[2018-01-28 16:16] AnshulMalik commented on #4831
Old debugger takes behaves the same way, slow!

[2018-01-28 16:17] jasonLaster commented on #4831
haha - must just be really big. Thanks @AnshulMalik

[2018-01-28 16:17] #4831 closed

[2018-01-28 16:18] jasonLaster commented on #5220
yeah - i forgot why ...

CC @wldcordeiro

[2018-01-29 05:08] wldcordeiro commented on #5100
Updating the issue with adjusted goals as we had been measuring the coverage wrong and Jest was missing stuff. Lower percentage now. 🙁 Let's get this up there! 🎉

[2018-01-29 06:12] lukaszsobek commented on #5220
Merged. Closing.

[2018-01-29 06:12] #5220 closed

[2018-01-29 06:17] lukaszsobek commented on #5185
Merged. Closing.

[2018-01-29 06:17] #5185 closed

[2018-01-29 07:46] atwalg2 commented on #5164
Works fine in Powershell/Command Prompt. I think it is just a gitbash/bash on windows problem.

[2018-01-29 08:08] julienw commented on #5164
And how did you install node, please ? So that we can try to reproduce as close to your environment as possible.

[2018-01-29 09:31] lukaszsobek opened #5234 "[Webpack] Set up to automatically import react and react-dom"
In order to stop typing `import React from "react"` and `import ReactDOM from "react-dom"` manually every time we could make Webpack do the job for us. This would look as follows:

[code]

This would:
1.) save us from having to type out import statements
2.) make assure us the needed items are always going to be imported,
3.) the dependencies would only get imported when we need them,
4.) help us

[2018-01-29 09:33] atwalg2 commented on #5164
I installed node 9.4 originally via bash on linux with -g. I don't remember
the exact script for that. When using PowerShell/gitbash I just installed
mode 9. 4 by installing the executable for Windows machines from the node
website.

On Jan 29, 2018 1:09 AM, "Julien Wajsberg" <notifications@github.com> wrote:

[2018-01-29 09:46] MikeRatcliffe commented on #5234
I have only recently started to work on the debugger.html codebase but it 'feels' like we shouldn't do this... some issues off the top of my head:

1. Some components don't use ReactDOM so we would have some unnecessary imports.
2. Some files may not even need to import React so again we could have unnecessary imports.
3. We often choose not to load the whole of ReactDOM by using e.g. `import div

[2018-01-29 10:00] lukaszsobek commented on #5234
@MikeRatcliffe
ad 1,2 - the imports are conditional on an as needed basis, so if the file uses e.g. React it is going to be imported, if it doesn't - there is no import.
ad 3 - would be interesting to see if and how such a case can be handled, because we have a few instances of it in the import statements.
ad 4 - It feels like this is very much a question of preference, but I agree that it would a

[2018-01-29 10:13] nyrosmith commented on #5234
I already tried this in another project and we reverted it.
Rule of thumb: Make things explicit. Such a change causes more confusion than helping in anything

[2018-01-29 10:30] bomsy commented on #5234
I agree with the points made  that importing  stuff should be explicit.
And that it'll make things a lot more confusing.

[2018-01-29 13:44] lukaszsobek commented on #5234
Not desirable. Closing.

[2018-01-29 13:44] #5234 closed

[2018-01-29 13:52] lukaszsobek commented on #5214
/claim

[2018-01-29 14:24] MikeRatcliffe opened #5235 "Fix left border and hover colors of the Sources Tree"
With pull request #5213 applied the Sources  tree is from deep in the land of ugly... we need to fix it:

![tree](https://user-images.githubusercontent.com/116941/35515149-4395ad26-0500-11e8-9eed-fc8c91cf049c.gif)

[2018-01-29 14:24] MikeRatcliffe commented on #5235
/claim

[2018-01-29 15:40] ochameau opened #5237 "prepush script shouldn't run all tests when contributing to /docs/"
It looks like no matter what is the content of the revision we push, we re-run all the tests.
Flow and a complete test suite. But none of this is testing docs, so we can avoid that and make the process be faster. I imagine the same optimization may be applied to other files/folders.

[code]

[2018-01-29 22:00] jasonLaster opened #5241 "[Preview] Show empty values"
We recently regressed when it comes to showing tooltips for empty/falsey values

STR:
1. navigate to https://index-empties.glitch.me/
2. click "stuff"
3. hover on falsyString, falsyBool, falsyNumber, undefinedThing, nullThing

[code]

[2018-01-30 03:24] nharrisanalyst commented on #5223
I would like to help can i be assigned?

[2018-01-30 03:43] jasonLaster commented on #5223
@nharrisanalyst it's yours!

[2018-01-30 03:44] jasonLaster commented on #5223
you can claim it! https://github.com/devtools-html/debugger.html/#next-steps

[2018-01-30 03:59] nharrisanalyst commented on #5223
/claim

[2018-01-30 08:52] juliandescottes commented on #4617
I no longer reproduce with v11.0. Any idea what could have fixed this @jasonLaster ? Feel free to close.

[2018-01-30 09:35] atiqueansari1987 commented on #5091
/unclaim

[2018-01-30 13:56] jasonLaster commented on #4617
haha - nope... was going to look at it soon though

[2018-01-30 15:30] jasonLaster commented on #4373
It looks like the problem is that the script tags are added to the page as inert `<script type="text/jsx" src="js/todoItem.jsx">` and then converted into new `<script>` tags with a text attribute.

[code]

The new script has a text field, which has a `//# sourceMappingURL=` which maps to an original `jsx` source, but it doesn't have a `//# sourceURL=` stanza. This creates some issues for the serve

[2018-01-30 17:52] Fischer-L commented on #5241
/claim

[2018-01-30 18:00] Fischer-L commented on #5241
I can reproduce this bug but one thing confuses me, which is, while hovering on `falsyNumber` I could observed[1] the preview prop like
[code]
But no preview showed for `falsyNumber`.

The same prop for `undefinedThing` also observed
[code]
and a preview showed for `undefinedThing`

[1][https://github.com/devtools-html/debugger.html/blob/6d4220ecc43e4613f5db8feda6b2c25676f46259/src/components/Edit

[2018-01-30 18:38] violasong commented on #4544
Should match the colors of the other panels like so:

- File search keyboard shortcuts, other important elements like Modifiers buttons, source tree icons: var(--theme-body-color)
- Input placeholder color: Gabe says if .search-field input::placeholder is changed to black like the other panels, it will apply the right translucency to match.

[2018-01-30 18:42] ericawright commented on #4544
/claim

[2018-01-30 19:48] ericawright commented on #4544
@violasong
<img width="853" alt="screen shot 2018-01-30 at 2 43 50 pm" src="https://user-images.githubusercontent.com/10803178/35587602-486811be-05cc-11e8-81a7-ada6d11a4427.png">
<img width="621" alt="screen shot 2018-01-30 at 2 44 00 pm" src="https://user-images.githubusercontent.com/10803178/35587600-4692a3ae-05cc-11e8-9321-cb26c58bb05a.png">

this is the current result - is the "modifiers" sect

[2018-01-30 19:49] jasonLaster commented on #4544
@ericawright you can go back to the launchpad and then settings

[2018-01-30 19:52] jasonLaster commented on #4544
also seems a bit dark here

[2018-01-30 20:23] violasong commented on #4544
Ah I love the placeholder, but the other parts do look dark. I think --theme-body-color results in Gray 60 (rgb(74, 74, 79)) in some places in the Inspector, but maybe it's set differently in the Debugger?

[2018-01-30 20:25] jasonLaster commented on #4544
oh yeah - it's also possible that we need to update the variables.css to reflect the correct value of theme-body-color or gray 60...

[2018-01-30 20:25] jasonLaster commented on #4544
my guess is that this would look good if we exported to firefox :/

[2018-01-30 20:26] violasong commented on #4544
And yes, great question regarding the x buttons! There's a Gray-40 var(--theme-body-color-alt) that would look good for these, I think!

[2018-01-30 20:28] violasong commented on #4544
In the sidebars, the pale disclosure arrow icons, plus button icon, and "add watch expression" text should probably be theme-body-color-alt as well.

[2018-01-30 22:23] jasonLaster opened #5250 "[Sources] The indentation of the files is off"
It looks like the tree indentation is a bit off, which could come from a variety of places:

1. https://github.com/devtools-html/debugger.html/issues/5239
2. https://github.com/devtools-html/debugger.html/issues/5216

<img src='https://shipusercontent.com/245a1d94ac4f19099bf30f024f224518/Screen%20Shot%202018-01-30%20at%205.17.36%20PM.png' title='Screen Shot 2018-01-30 at 5.17.36 PM.png' width=697>

[2018-01-30 22:37] AlexisDeschamps commented on #4823
I was not able to reproduce on Nightly and Chrome on Windows 10. Could this be specific to OSX?

[2018-01-30 22:40] jasonLaster commented on #4823
@AlexisDeschamps yeah - it could be...

[2018-01-30 23:12] #5235 closed

[2018-01-30 23:13] jasonLaster commented on #5201
Thanks @andreasbovens we'll look into it soon!

[2018-01-30 23:14] jasonLaster commented on #5201
@ericawright this might be an easy fixup while you're in there :)

[2018-01-30 23:14] jasonLaster commented on #5201
This is related to our discussions in #4928

[2018-01-31 00:49] loganfsmyth opened #5252 "[Scopes] Support <this> and arguments bindings in new original scopes work"
With the work in https://github.com/devtools-html/debugger.html/pull/5215 DevTools can now render scopes based on the original source file, then attempts to map that back to the generated file.

That new work doesn't yet attempt to support `this` and `arguments` properly. I'm not entirely sure if it is 100% doable, but I'd like to look into it a bit before doing firmly one way or the other.

[2018-01-31 00:51] loganfsmyth opened #5253 "[Scopes] Add unittests for original scope processing"
https://github.com/devtools-html/debugger.html/pull/5215 does not include tests for the new logic it adds. We'll need to add that.

[2018-01-31 00:54] loganfsmyth opened #5254 "[Scopes] Render generated scopes when viewing generated code"
The Frames pane toggles source locations based on whether the user is viewing the original or generated file. With https://github.com/devtools-html/debugger.html/pull/5215 enabled, the Scopes pane renders the original scopes, but toggling back to the generated code continues to show the original scopes, which can make debugging difficult.

[2018-01-31 02:12] karlcow opened #5255 "[Breakpoint] Adds XHR breakpoints"
It is sometimes necessary to discover which functions called a specific XHR request.

1. Have a UI for adding breakpoints.
2. Propose to add breakpoints on XHR requests (all of them or including a specific string)
3. When the code reaches the XHR request, jump to the code at the right place (probably formatted version of the code).

[2018-01-31 04:09] AnshulMalik opened #5256 "[QuickOpen] Pretty printed tabs are not listed"
STR:
- Pretty print a source
- Close minified source
- Press `Cmd + P`
- Pretty Printed source doesn't appear in the list

Is this intentional behavior?

![watch](https://user-images.githubusercontent.com/7821757/35604822-57f9ddd0-066a-11e8-9941-8c2b72384f0e.gif)

[2018-01-31 04:53] jasonLaster commented on #5256
We only want to show one version... but i guess it's not clear which one to show...

We have a couple PP UX issues that we should sort out :)

[2018-01-31 07:14] nchevobbe opened #5257 "Outline panel only show one class"
On Nightly 60.0a1 (2018-01-30)

Steps to reproduce:
1. Go to https://debugger-html-multiple-classes-outline.glitch.me/
2. Open the debugger
3. Select the `script.js` file
4. Open the Outline panel

Expected results:

2 classes `A` & `B` are displayed, each one with their functions

Actual results:

Only the `A` class is displayed, with its functions, but also the ones from the `B` class

<img widt

[2018-01-31 08:06] nchevobbe opened #5258 "In the Outline panel, classes should be more visible"
At the moment, in the outline panel, if you have a class we show it's name, then its methods, which is really nice.

[code]

I think it would be nicer if we could have a more visible class so if you have multiple classes in the file, it is more visible

[code]

here the  `class` keyword was added, and it would be nice if it could have the same color as in the editor.

It could be something like:

[2018-01-31 08:08] nchevobbe opened #5259 "In outline panel, clicking on a class should navigate the editor"
If you have multiple classes in the same file, you might want to be able to click on the class name in the outline to navigate the editor to the class definition.

[2018-01-31 08:09] nchevobbe opened #5260 "Classes in the outline panel could be collapsible"
If you have multiple classes in a file, it would be nice to hide all the methods from a given class you are not interested in.

[2018-01-31 08:29] nchevobbe opened #5261 "[QuickOpen] Cmd+P while Help panel is displayed should hide the help panel"
**Steps to reproduce:**
1. Open the Help Panel (Click the `?`)
2. When opened, do <kbd>Cmd</kbd> + <kbd>P</kbd>

**Expected results:**

I can search for files

**Actual results:**

The help panel is in front of the search file modal

![jan-31-2018 09-27-28](https://user-images.githubusercontent.com/578107/35612420-02e7210a-0669-11e8-808e-7f2145e30ce7.gif)

---

I think this can be a common behavio

[2018-01-31 08:50] nchevobbe opened #5262 "Remove λ Svg in Outline view"
In the Outline view we use a SVG to show a "lamba" letter before functions.
Turns out there is a unicode sign for lambda: `λ`

This does not look too bad I think (even better I'd say) :

![Current vs Proposal](https://user-images.githubusercontent.com/578107/35613290-f6410aa8-066b-11e8-9bbc-2db94e389563.png)

Also, we know SVG can be perf sensitive, so having a plain text here is probably better.

[2018-01-31 10:22] nchevobbe opened #5265 "[Outline] default value parameters are skipped"
**Steps to reproduce:**
1. Go to `data:text/html,hi<script>function myFunction(first = defaultValue, second){};</script>`
2. Open the debugger
3. Select the only script and go to the outline panel

**Expected results:**

There is the following function displayed
`λ myFunction(first = defaultValue, second)`

or at least

`λ myFunction(first, second)`

**Actual results:**

The following function is

[2018-01-31 10:26] nchevobbe commented on #5265
So here:
https://github.com/devtools-html/debugger.html/blob/56848d5a65d41121efb2015ed777095e0fbec254/src/components/PrimaryPanes/Outline.js#L50

parameterNames is `[undefined, "second"]`, so I guess this is an issue when parsing the functions in the file.

[2018-01-31 10:35] nchevobbe opened #5266 "[Outline] Should be disabled when there isn’t a selected source"
if there are no source selected, we should't be able to select the outline tab, or at least, we should have a better message displayed.
At the moment, it says: "No functions", it could be "No file selected" or something meaningful

[2018-01-31 10:39] nchevobbe opened #5267 "[Outline] Should show a loading message"
At the moment, if the Outline panel does not have symbols, either because the file do not have functions, or because they are being fetched, we show the "No functions" text.

See:
![jan-31-2018 11-40-03](https://user-images.githubusercontent.com/578107/35618514-8259f3d8-067b-11e8-9027-4fc6642f245e.gif)

This can take some time for bundle files and make the user think the outline view is broken.

I

[2018-01-31 11:26] juliandescottes opened #5268 "[ToggleButton] Left side collapse pane icon is blurry"
On my non-retina dispay the left-side collapse-icon is really blurry:

![image](https://user-images.githubusercontent.com/1141550/35620266-f0dbe0f0-0680-11e8-9380-922bc180cf2b.png)

Part of the issue seems to come from the 2.5px padding at
https://github.com/devtools-html/debugger.html/blob/e61cda3247ee8f593326b1186b665bffc0619938/src/components/shared/Button/PaneToggle.css#L12

Using padding 2px

[2018-01-31 14:45] MikeRatcliffe commented on #5250
Here is a screenshot from an MDN tutorial for comparison:

![Before](https://user-images.githubusercontent.com/116941/35628962-4c5788da-0695-11e8-83b0-56794003efa3.png)

[2018-01-31 14:53] MikeRatcliffe commented on #5250
/claim

[2018-01-31 15:21] MikeRatcliffe commented on #5250
I am debugging this using http://todomvc.com/examples/dojo/ because it has a reasonably deep tree.

[2018-01-31 15:35] ericawright commented on #4544
@jasonLaster, I don't think it's a variable thing, just changed the same variables in FF and it's the same result.
![screen shot 2018-01-31 at 10 33 48 am](https://user-images.githubusercontent.com/10803178/35631606-4be66c40-0672-11e8-8d96-47c2ac56b8ae.png)

(though the x on the file tab looks darker - I had nothing to do with that)

[2018-01-31 15:39] jasonLaster commented on #4544
good to know!

[2018-01-31 16:15] MikeRatcliffe commented on #5250
I have created a pull request at https://github.com/devtools-html/devtools-core/pull/919 so that this can be fixed upstream.

[2018-01-31 17:16] MikeRatcliffe commented on #5250
In the future we may consider switching to the arrows provided by core but for consistency in the debugger let's make the CSS change. The debugger arrows are a different size than core and I think they fit the debugger better.

[2018-01-31 17:27] wldcordeiro commented on #5261
Ah yeah there should only be one winning modal. 😆

[2018-01-31 18:50] kootoopas opened #5270 "[Sources] Navigation via arrow keys loses focus and resets to last element"
So this happened: 🤔

![sources-tree-focus-last-bug](https://user-images.githubusercontent.com/601001/35641136-ff528ee4-06c7-11e8-81c0-4b9db4606574.gif)

env: high sierra 10.13.1

[2018-01-31 18:50] kootoopas commented on #5270
tried to replicate on other tabs and it's exactly the same

[2018-01-31 18:51] jasonLaster commented on #5270
Thanks @kootoopas. What version of firefox are you using?

[2018-01-31 18:52] kootoopas commented on #5270
No probs. Dev edition 59.0b5 (64-bit).

[2018-01-31 18:54] jasonLaster commented on #5270
thanks. i think it is actually a case where we show empty files, which have a 0 height. Anyways, i've seen it too. it's rare! but we've got to find a public STR.

[2018-01-31 18:59] kootoopas commented on #5270
Hah! Probably an extension with an empty file causes this, since I get it on every tab.

[2018-01-31 19:01] jasonLaster commented on #5270
ooh interesting

try turning off extensions

[2018-01-31 19:15] kootoopas commented on #5270
aaand it's fixed now

wo/ plugins:
![sources-tree-wo-plugins](https://user-images.githubusercontent.com/601001/35642216-20f6295e-06cb-11e8-86a3-a6b57faf9b7b.gif)

[2018-01-31 19:17] kootoopas commented on #5270
i suspect that an adblock or privacy extension causes this

[2018-01-31 19:19] kootoopas commented on #5270
turned off all the plugins :)

[2018-01-31 19:19] kootoopas commented on #5270
and now enabled'em all again and it's back 🙃

[2018-01-31 20:26] jasonLaster commented on #5270
haha - can you find which one is doing it?

[2018-01-31 20:39] kootoopas commented on #5261
/claim

[2018-02-01 07:40] nchevobbe opened #5277 "[QuickOpen] Cmd + P show an input with "0 results""
Steps to reproduce:
1. Open the debugger
2. Do Cmd + P

Expected results:

I see the input bar with a text that invites me to search for sources

Actual results:

I see an input bar with a "0 results" label, although I did not search for anything yet:

![image](https://user-images.githubusercontent.com/578107/35666716-5a604d90-072b-11e8-8db2-f0a90d10a8c0.png)

When the input is open, we shouldn't

[2018-02-01 07:47] nchevobbe opened #5278 "[ProjectSearch] "Find in files" show "No results found" when search is running"
Steps to reproduce:
1. Run the debugger launchpad
2. Open the debugger on the tab
3. Search in file for "reveal"

Expected results:

A label/icon is shown to indicate the search is running

Actual results:

There's a "No results found" label displayed, even if the search is not finished yet

![feb-01-2018 08-43-41](https://user-images.githubusercontent.com/578107/35667008-5e77c3da-072c-11e8-9124-9

[2018-02-01 12:42] Fischer-L commented on #5241
@jasonLaster Would you see PR #5279? thanks

[2018-02-01 14:06] jasonLaster commented on #5277
Hey @nchevobbe what site are you debugging?

[2018-02-01 14:29] jasonLaster opened #5280 "[Breakpoints] breakpoint missed at jsx error"
STR:
1. go to https://github.com/nchevobbe/devtools-bug-finder/tree/refactor
2. clone it, then npm install
3. just open index.html
4. open the debugger
5. select the "web console" component
6. see the error in the console about this being undefined
7. click on the source to get to the jsx file
8. put a breakpoint at said line
9. select another component
10. should trigger the breakpoint, but it do

[2018-02-01 14:47] nyrosmith commented on #5266
/claim

[2018-02-01 14:48] nyrosmith commented on #5265
/claim

[2018-02-01 14:49] jasonLaster commented on #5266
I think the issue title is misleading here. I like nicolas' suggestion that we change the message to:
` "No file selected" `

[2018-02-01 15:06] #5138 closed

[2018-02-01 15:06] #5086 closed

[2018-02-01 15:07] #5254 closed

[2018-02-01 15:19] nchevobbe opened #5283 "[ProjectSearch] Results from project search are not clickable on the whole line"
**Steps to reproduce:**
1.  Go to `data:text/html,<script>var a;</script>`
2. Open the debugger
3. Do a project search (Cmd + Shift + F) with `var`
4. In the result, try to click on the right side (where there is no text)

**Expected results:**
The debugger open the source

**Actual results:**
Nothing happens. I think that's because the results does not take the whole width of the line

See:

![fe

[2018-02-01 15:27] nyrosmith commented on #5266
[code]

[2018-02-01 15:27] nyrosmith commented on #5266
/unclaim

[2018-02-01 15:32] juliandescottes commented on #4701
As discussed, by "CmdOrCtrl part should not be localized", I didn't mean it should be removed from the properties file, but that localizers should not attempt to translate "CmdOrCtrl".

On our side the most we can do is to update the localization comment. But this is also documented at https://developer.mozilla.org/en-US/docs/Mozilla/Localization/Localization_content_best_practices#Developer_tools

[2018-02-01 15:33] nchevobbe opened #5284 "[QuickOpen] modal scrolls when displayed"
Steps to reproduce:
1. In a page with a good number of files, open the debugger in the firefox devtools, docked at the bottom (not sure this is important but I could not reproduce with the launchpad)
2. Open the Source modal (Cmd + P)

Expected results:
I see the modal, scrolled at the top

Actual results:

The modal is displayed, but already scrolled

![feb-01-2018 16-21-52](https://user-images.g

[2018-02-01 15:59] #4701 closed

[2018-02-01 16:08] wldcordeiro commented on #5277
I was under the impression we were axing the result count?

[2018-02-01 16:09] jasonLaster commented on #5277
- true lets close this.
- do we want to show quickopen if there are 0 sources?

[2018-02-01 16:09] #5277 closed

[2018-02-01 17:43] jasonLaster commented on #4373
here's a good mochitest:

https://github.com/jasonLaster/debugger.html/tree/jsx-scripts

The STR is basically load the page and eval `injectScript`

[2018-02-01 18:19] #5261 closed

[2018-02-01 18:27] juliandescottes commented on #3944
The issue is back.

[2018-02-01 18:30] nchevobbe commented on #5280
So, here's what the original code looks like :
[code]

I am trying to add a breakpoint to the `var searchBug …` line.
Here's the breakpoints in the state:

[code]

Here's the function in the bundle:
<img width="559" alt="image" src="https://user-images.githubusercontent.com/578107/35695862-07edace6-0786-11e8-9de5-00bf9513bc61.png">

---

Now if I remove the indentation in the line, it does work !

[2018-02-01 18:30] jasonLaster commented on #3944
there's a new issue for it

[2018-02-01 18:31] jasonLaster commented on #3944
https://github.com/devtools-html/debugger.html/issues/5279

[2018-02-01 18:31] #3944 closed

[2018-02-01 19:21] jasonLaster opened #5287 "[SourceTree] Reveal in Tree does not work after we set a directory as root"
STR:
1. go to todomvc
2. add a directory as the root
3. cmd+p select another source
4. contextmenu select "reveal in tree"

ER: works
AR: doesn't :)

[2018-02-01 19:22] jasonLaster opened #5288 "[SourceTree] The directory root should be saved"
We should save the root in prefs so that once the user sets it, it will be saved when they close the debugger and re-open it.

[2018-02-01 23:03] jasonLaster commented on #4373
@jimblandy and I did a bit of digging today. Here's what we learned:

Context:

When *run* is called it creates a new `<script>` element with the transformed source code and an inline source map.

The `dbg` handles this correctly and creates a new `Debugger.Source` object with the document's url and the sourceMapURL.

The server is a bit more complicated and has an interesting relationship with in

[2018-02-01 23:43] neilholcomb commented on #5091
/claim

[2018-02-02 01:26] karlcow commented on #4282
Just to raise the importance of this.
When doing diagnosis of websites and specifically things like webapp which have a tendency to inject everything in one page (Cue google here), it becomes very hard to navigate the minified JS soup.

1. Go to https://google.com/
2. Search a term
3. Open debugger tool
4. Go to the `search` resource aka the HTML page.
5. Try to set a breakpoint 👺 or just read the

[2018-02-02 01:27] karlcow commented on #4282
ping @digitarald ^^^ ;)

[2018-02-02 03:15] darkwing commented on #5257
This will be fixed as part of

[2018-02-02 03:25] iansu commented on #5262
Hi, I'd like to work on this.

[2018-02-02 03:28] iansu commented on #5262
/claim

[2018-02-02 03:42] jasonLaster commented on #4282
Thanks @karlcow

[2018-02-02 06:12] nyrosmith commented on #5259
/claim

[2018-02-02 11:50] JulioJu opened #5295 "Update getting-setup.md"
Hi,

On https://github.com/devtools-html/debugger.html/blob/master/docs/getting-setup.md#starting-node, you say we must type `node --inspect --debug-brk ./node_modules/.bin/webpack` to start node. But `--debug-brk` is deprecated. Maybe you must replace this by `node --inspect-brk ./node_modules/.bin/webpack` ?

[2018-02-02 13:59] hughugsy commented on #5112
Hello 👋
One of the sources has `null` url property. Could this be index file?
![sourceurl](https://user-images.githubusercontent.com/16086407/35736780-514a6212-083a-11e8-9e90-83d56cfb1947.png)

[2018-02-02 14:26] kootoopas commented on #5284
/claim

[2018-02-02 14:41] calebstdenis commented on #5150
@jasonLaster Should we take into account the possibility of `regenerator-runtime` (the top frames) appearing in a non-Babel context? I'm leaning towards "yes" but if the answer is "no" then the implementation for this should be pretty trivial.

[2018-02-02 15:35] darkwing commented on #5288
Do we have an example of where we're doing this now?  I'd love to see it!

[2018-02-02 16:38] jasonLaster commented on #5150
haha - yeah :) lets go for it!

[2018-02-02 16:39] #5112 closed

[2018-02-02 18:52] #5262 closed

[2018-02-02 19:35] #5295 closed

[2018-02-02 19:38] lukaszsobek commented on #5214
Merged. Closing.

[2018-02-02 19:38] #5214 closed

[2018-02-02 19:47] jasonLaster opened #5298 "[SourceTree] clicking on a directory does not toggle it"
Looks like clicking a directory in the source tree no longer toggles it. The reason for this is the tree always tells the item that the directory is expanded! It's lying :)

Here's the tree code in [question](https://github.com/devtools-html/devtools-core/blob/master/packages/devtools-components/src/tree.js#L81-L100)

<img src='https://shipusercontent.com/5895c48a70cd62c8125d9b1aa1d344e3/Screen%20

[2018-02-02 19:59] lukaszsobek commented on #5298
/claim

[2018-02-02 20:28] ClintonGallagher opened #5300 "TARFU Intrusive Javascript Debugger Breaks Inspection"
Firefox Developer Edition v59 (and earlier)

- When Inspecting elements in a page refreshing the page (using browser or context menu) can cause Developer Tools to switch to the Javascript debugger tab and start debugging any Javascript loaded by the page. Returning to the Inspector tab pauses the Debugger but some features like mouse selection will not work.

- When Inspecting and clicking on an e

[2018-02-02 20:32] jasonLaster commented on #5300
Hey @ClintonGallagher could you give us some steps to reproduce this bug?

[2018-02-02 20:39] gregtatum opened #5301 "[Sources] Debugger is blank when breaking on a debugger statement"
I don't have an STR other than setting a debugger statement in perf.html.

<img width="684" alt="image" src="https://user-images.githubusercontent.com/1588648/35753794-afe93df2-0826-11e8-8fba-c3b180d8723e.png">

The error in the browser toolbox is:

<img style='border: 1px solid #000' width="981" alt="image" src="https://user-images.githubusercontent.com/1588648/35753811-c811defc-0826-11e8-980d-3a

[2018-02-02 20:47] mmcote opened #5302 "[Editor] Last few columns of editor are cut off."
If the code being debugged has lines long enough enable the horizontal scroll, and you attempt to scroll horizontally to the end of the editor, you see that the last few columns are missing. To be specific the last 30 px of the editor are missing.

Reproduce:
- Debug a file that has lines long enough to enable the horizontal scroll.
- Try scrolling to the rightmost column of the editor.
- Observe

[2018-02-02 20:54] gregtatum commented on #5301
Just did a quick search, as Flow is pretty good at catching errors like the `isLoaded()` one, where source is undefined. It looks like only about 7 out of 15 calls to it had Flow coverage.

[2018-02-02 21:35] lukaszsobek commented on #5302
/claim

[2018-02-02 21:47] mmcote commented on #5302
Hey @lukaszsobek, do you mind if I take this bug on, as I was actually working on this prior and found the source of the problem, I was just waiting for the issue to be claimable. Sorry for the trouble :)

[2018-02-02 22:08] AlexisDeschamps commented on #4823
It seems that the problem arises when the Debugger is used within a panel instead of just the launchpad.

[2018-02-02 22:12] lukaszsobek commented on #5302
@mmcote Sure thing, go ahead! /unclaim

[2018-02-02 22:13] mmcote commented on #5302
/claim

[2018-02-02 22:14] mmcote commented on #5302
Thank you @lukaszsobek

[2018-02-02 22:49] jasonLaster commented on #5189
Hey @CharlesStocky how's it going?

[2018-02-02 22:49] #5190 closed

[2018-02-02 22:51] jasonLaster commented on #5157
Hey @jbhoosreddy @atwalg2 @wldcordeiro I still see the issue.

Also the prefix is selected lol.. Damn this is a tough feature :)

<img src='https://shipusercontent.com/b3d944a0a33d42670172f260cae8e07b/Screen%20Shot%202018-02-02%20at%205.50.40%20PM.png' title='Screen Shot 2018-02-02 at 5.50.40 PM.png' width=769>

<img src='https://shipusercontent.com/96c8af125e402f6c006b1d3a3aeea13a/Screen%20Shot%2

[2018-02-02 22:59] lukaszsobek commented on #5157
/claim

[2018-02-03 01:17] lukaszsobek commented on #5157
@jasonLaster the prefix is selected because we select everything there is in the input field on reopening. It will not be selected on the first open.

[2018-02-03 01:37] jasonLaster commented on #5157
hmm, i feel like if you do `cmd+;`,`<esc>`,`cmd+;` it shouldnt be selected... can we make that work?

[2018-02-03 01:38] lukaszsobek commented on #5157
@jasonLaster - will give it a go.

[2018-02-03 05:29] sravan-s commented on #5283
/claim

[2018-02-03 07:57] lukaszsobek opened #5306 "[FileSearch] should not select ":" or "@" on re-open"
Currently when re-opening the `ctrl-shift-f` search modal that has a value inside we select the whole text. This is not really intuitive if the first character is `:` or `@`. In such cases the prefix should be omitted from the selection.

[2018-02-03 07:57] lukaszsobek commented on #5306
/claim

[2018-02-03 09:26] sravan-s commented on #5278
/claim

[2018-02-03 14:27] kootoopas commented on #5284
Seems that `resultEl.clientHeight` is out of wack. I compared getting its value wo/ and w/ `setTimeout`, and I got different values:

excerpt of `utils/result-list.js`:
[code]

results to
[code]

So as a result of this, if I delay the scrolling invocation (both for firefox and chrome), it behaves properly:

[code]

I think that it's the initial animation of [ResultList] that causes this. Looking i

[2018-02-03 18:22] ClintonGallagher commented on #5300
Gave it a shot this morning and can consistently repeat the following:
// Repeatable
1. Load Page

2. Inspect an element on the page

3. Refresh the page (browser or context menu)

4. Tools switch to Debugger tab and load moz-extension:// onloadwff.js (perhaps my mistake for stating the Debugger attempts to debug script that was loaded by the page as it seems it is loading its own script into the

[2018-02-04 18:03] lukaszsobek commented on #4615
Duplicate. Closing in favor of #4714

[2018-02-04 18:03] #4615 closed

[2018-02-04 18:14] lukaszsobek commented on #4730
Merged. Closing.

[2018-02-04 18:14] #4730 closed

[2018-02-04 18:25] lukaszsobek commented on #5134
Thinking about it there seem to be two situations worth considering:
1.) the debugger is too low to hold the tooltip.
2.) the debugger is too narrow to hold the tooltip.

What would you say should happen in such situations?

[2018-02-04 18:33] lukaszsobek commented on #4985
/claim

[2018-02-04 19:16] lukaszsobek opened #5312 "[Sources] should indicate if they contain JS"
We are working towards pretty printing in-line JavaScript. One of the first steps to do that seems to be for the debugger to actually know the document contains in-line JavaScript. This could be done by modifying src/utils/source.js

An outline would be:
- add a `hasJavascript` function
- check if the source text has javascript with `indexOf` or maybe even `DOMParser`
- since `hasJavascript` might

[2018-02-04 19:16] lukaszsobek commented on #5312
/claim

[2018-02-04 19:52] lukaszsobek commented on #3598
Re-opening.

[2018-02-04 19:53] lukaszsobek commented on #5114
Closing in favor of #3598

[2018-02-04 19:53] #5114 closed

[2018-02-04 19:56] lukaszsobek commented on #3215
/claim

[2018-02-04 20:39] jasonLaster commented on #5134
@juliandescottes do you think we could use a XUL wrapper here?

[2018-02-05 06:43] sakshivij commented on #5266
Hi! Can I work on this issue?

[2018-02-05 07:10] AnshulMalik commented on #5266
Yep @sakshivij, go ahead :) And feel free to ask us on slack if you need any help

[2018-02-05 09:37] jnachtigall commented on #5134
From a user perspective I would expect the tooltip to overlay just like normal, that is, with part of it overlaying over the normal html content (and not be confined to the debugger window). Don't know if this is technically possible though, because afaik the debugger is in its own `iframe` or so. (But at least this might be possible with regards to the `Console` split area)

[2018-02-05 11:33] #5284 closed

[2018-02-05 12:59] codehag commented on #5301
thanks for the issue greg!

[2018-02-05 17:28] Fischer-L commented on #5084
/claim

[2018-02-05 18:45] #5265 closed

[2018-02-05 18:56] #5268 closed

[2018-02-05 19:36] ericawright commented on #4928
/claim

[2018-02-05 19:44] darkwing commented on #5257
Fixed in #5290

[2018-02-05 19:44] #5257 closed

[2018-02-05 23:31] jasonLaster commented on #5280
Hmm, @nchevobbe did you fix the bug :)

<img src='https://shipusercontent.com/5147932079727221267ed0452ee56cca/Screen%20Shot%202018-02-05%20at%206.30.37%20PM.png' title='Screen Shot 2018-02-05 at 6.30.37 PM.png' width=1422>
<img src='https://shipusercontent.com/21ac5fe9f964d4ff2ad1a08255cc8e8d/Screen%20Shot%202018-02-05%20at%206.30.31%20PM.png' title='Screen Shot 2018-02-05 at 6.30.31 PM.png' widt

[2018-02-05 23:36] #5258 closed

[2018-02-05 23:38] darkwing commented on #5132
Hello @usmanibnesadiq -- just wondering if you could provide a sample Angular URL where the performance is poor.  It would be super helpful!  Thank you!

[2018-02-05 23:39] darkwing commented on #5091
Hello @neilholcomb !  How are things going with this?  Anything I can do to help?

[2018-02-06 00:30] usmanibnesadiq commented on #5132
Hello Darkwing, Please clone this repo [https://github.com/usmanibnesadiq/angularcli] and do the following to reproduce the issues I reported.

1- Install Node (version 6.9+)
2- Install yarn
3- Open the cloned project using your fav editor and do "Yarn Install" at the root of project. Once all node modules are installed, do a "yarn start"
4- open your browser at http://localhost:4200/ Once you see

[2018-02-06 04:54] lukaszsobek commented on #5298
Merged. Closing.

[2018-02-06 04:54] #5298 closed

[2018-02-06 09:05] nchevobbe commented on #5280
Let me check again

[2018-02-06 09:08] nchevobbe commented on #5280
So, I did not fixed the bug, and to see it you have to click on a component on the left sidebar (like webconsole).

[2018-02-06 09:09] nchevobbe commented on #5258
yay

[2018-02-06 13:41] tommai78101 opened #5323 "[Debugger] Middle mouse wheel clicking on the opened tabs should close them"
This is a feature suggestion.

When viewing JavaScript source codes in the Debugger, usually, you would mouse over the X (close button) on the right side of the opened tabs to close them. A tiny feature enhancement would be to make it also allow users to middle-mouse-wheel click on the tabs to close them.

![](https://i.imgur.com/9rVlFCG.png)

**Fig 1: Middle mouse wheel clicking on the cherries w

[2018-02-06 14:11] lukaszsobek commented on #5323
I've seen middle wheel or double click in various applications - assuming everyone has a middle wheel on their mouse these days.

[2018-02-06 14:14] nchevobbe opened #5324 ""No result found" label breaks on letter while there's plenty of space"
Steps to reproduce:
1. Go to data:text/html,<script>var hello;</script>
2. Open the debugger
3. Search in files ( Cmd + Shift + F ) for "boo"

Expected results:

The "No result found" label is displayed, and word wraps to a new line when needed

Actual results:

![image](https://user-images.githubusercontent.com/578107/35863811-208a80e4-0b50-11e8-8aab-23ae244cca1a.png)

The words break on letters

[2018-02-06 15:39] juliandescottes commented on #5134
XUL is on the way out, we shouldn't invest in this direction. We should design tooltips to fit in the devtools frame.

Regardless of XUL, the DevTools tooltip is creating tooltip containers in the topmost devtools frame, so even without XUL we have no overlapping issues between devtools panels (eg splitconsole, devtools toolbar etc). It also takes care of calculating best position for the tooltip.

[2018-02-06 15:57] #2944 closed

[2018-02-06 15:57] jasonLaster commented on #2944
i think this is fixed

[2018-02-06 15:58] jasonLaster commented on #4732
I think this is fixed now

[2018-02-06 15:58] #4732 closed

[2018-02-06 16:59] darkwing opened #5326 "Outline Pane: Use colors by editor"
The color of the `class` heading should match the `class` keyword color form the Editor.

[2018-02-06 18:43] lukaszsobek opened #5328 "[ProjectSearch] makes tab unresponsive"
STR:
- go to http://todomvc.com/
- open debugger
- open project search `ctrl+shift+f`
- type `a`
- press `enter`
- wait for the search to finish (about 40k results)

ER:
- browser tab is responsive

AR:
- browser tab / browser crashes

[2018-02-06 18:49] ericawright commented on #4928
@jasonLaster
When in vertical mode, it should always show up as @violasong 's first image. I figured out why it's not, and I wanted to get a suggestion on a preferred way to solve it.
When on the bottom, if you toggle away from the debugger, it triggers the matchMedia listener to switch from true to false, but, because the component is not visible, it does not set the props nor re-render. Then on

[2018-02-06 18:52] jasonLaster commented on #4928
all suggestions seem fine. here are some notes:

have two match media listeners

seems nice

take a look at ToggleButton.js or something like that

take a look at App.js

[2018-02-06 20:04] darkwing opened #5331 "[Scopes] Listing hover background is off"
There is a weird left margin in the scopes listing that we should fix.

<img width="329" alt="scopes-pad" src="https://user-images.githubusercontent.com/46655/35881374-38141374-0b46-11e8-8d05-0f848992ee60.png">

[2018-02-06 21:14] pradeepgangwar commented on #5331
/claim

[2018-02-06 22:19] mmcote commented on #4823
Found that the .focus() is correctly setting itself below in the renderToWidget and am currently searching for where it gets switched to focus elsewhere.

[2018-02-07 00:29] darkwing opened #5333 "[Outline] Alphabetize function list (?)"
This pane seems like it would be much easier to use if the functions were alphabetized.

With functions listed in order of use, it's really hard to find anything.

<img width="252" alt="outlinelisting" src="https://user-images.githubusercontent.com/46655/35891779-8d001c28-0b6b-11e8-8747-54309ed95cd4.png">

[2018-02-07 00:39] jasonLaster commented on #5333
yeah - i think that's right...

i've toyed with a filter input at the top too, but i think this is the right next step

[2018-02-07 08:17] brabadu commented on #5333
Many developers use eslint config, which forces some particular order of functions. e.g. by lifecycle in React components. So alphabetizing this list may confuse some devs

[2018-02-07 12:23] sravan-s commented on #5287
/claim

[2018-02-07 15:04] bwinton commented on #4649
(fyi, you can link directly to icons, like this: https://design.firefox.com/icons/viewer/#open%20in%20new 🙂)

[2018-02-07 15:49] #5252 closed

[2018-02-07 16:06] s-pace opened #5338 "[Docs] Add algolia search"
👋 team,

First all a tons of thank you for such tool. We were at FOSDEM 2018 and we were delighted to see the nice presentation.

I use your user guide and I couldn't help providing you [a great search experience for your incredible documentation](https://community.algolia.com/docsearch/).
![Enhance search experience](https://cl.ly/3A0U002e1k28/download/Screen%20Recording%202018-02-07%20at%2004.58

[2018-02-07 16:13] tripurari001 commented on #5324
/claim

[2018-02-07 16:18] jasonLaster commented on #5338
Wow @s-pace! This is amazing

We've got to set this up :)
Perhaps this is the push we need to have a better docs page!

[2018-02-07 16:23] s-pace commented on #5338
Thank you, would love to help!

[2018-02-07 16:25] jasonLaster commented on #5338
Oh wow. Yeah - the rough goal is to move to netlify so we can have more control over the docs.

We have this issue to make an MVP docs site with Gatsby or Docusaurus. Because at the moment we just have markdown i'd be happy with the simplest thing that we can then use.
https://github.com/devtools-html/debugger.html/issues/5047

[2018-02-07 16:26] AnshulMalik commented on #5287
Hey @sravan-s, this might help, we changed the getDirectories function when we landed project roots.

Seems like I forgot to update every location where it was called from. The one I found causing problem here

[code]

[2018-02-07 16:27] AnshulMalik commented on #5287
It'd be awesome if we update the tests for `getDirectories` function too :)

[2018-02-07 17:21] darkwing opened #5340 "Don't show 'Set Directory Root' context menu item for `(index)`"
Clicking on that context menu item for `(index)` changes the source pane to show `No Sources`

[2018-02-07 17:23] darkwing opened #5341 "[SourceTree] Add `Copy Source to Clipboard` functionality to context menu"
May also be good for the tab context menu as well.

[2018-02-07 17:54] AnshulMalik commented on #5340
I don't see `Set root directory` in context menu instead, I only see `Copy Source URI`.

Can you please add STR?

[2018-02-07 19:11] lukaszsobek commented on #5312
Better alternative in pr. Closing.

[2018-02-07 19:11] #5312 closed

[2018-02-07 19:21] AnshulMalik commented on #5288
A similar change can be found here https://github.com/devtools-html/debugger.html/pull/2977

[2018-02-07 19:21] ericawright commented on #5201
<img width="250" alt="screen shot 2018-02-07 at 2 18 34 pm" src="https://user-images.githubusercontent.com/10803178/35936685-f0b075dc-0c11-11e8-8c55-0ef8c6046e58.png">
<img width="327" alt="screen shot 2018-02-07 at 2 18 52 pm" src="https://user-images.githubusercontent.com/10803178/35936688-f1bc3150-0c11-11e8-82ce-37e8994c4e13.png">
I can't seem to reproduce.
Also, as for the monospaced font, the

[2018-02-07 19:23] jasonLaster commented on #5201
@ericawright could this be windows specific?

[2018-02-07 19:23] ericawright commented on #5201
yes, I tested on windows, in a vm

[2018-02-07 19:26] jasonLaster commented on #5201
cool. should we close this then if we can't repro?

[2018-02-07 19:30] ericawright commented on #5201
nope, I realized that it can't be reproduced on the web app, but is reproducible in the debugger when attached to the browser

[2018-02-07 19:39] ericawright opened #5342 "Panel size changes"
Some changes that were missed with #4928
![image](https://user-images.githubusercontent.com/10803178/35937561-84b8ee7e-0c14-11e8-8327-b02b68f6bf5d.png)

[2018-02-07 19:52] #5326 closed

[2018-02-07 19:53] darkwing commented on #5288
Preliminary findings:

1.  We've already tried saving the new root: https://github.com/devtools-html/debugger.html/blob/master/src/reducers/ui.js#L115

2.  One problem I've found is that you need to set the root *twice* before it's actually in `prefs.projectDirectoryRoot` when you reload the page.

3.  Adding the `projectRoot` prop does nothing:

[code]

The `SourcesTree` component `constructor` g

[2018-02-07 20:19] lukaszsobek commented on #5333
In a huge list of functions it seems to take much less time for the user to find what they are looking for in alphabetical order. Even if we grouped functions by class (which might be in order of appearance) reading the functions inside that class sorted alphabetically would probably take less time than the alternative.

[2018-02-07 20:29] jasonLaster commented on #4985
at the moment the selectors in the `src/selectors` dir pull state from different reducers, which is why they cant be in one reducers dir. I'm not sure how i feel about moving the selectors in the reducer files into their own module...

The major reason not to do it is that currently the selectors are easier to follow because they're next to the reducer and the state type.

I'm not necessarily oppo

[2018-02-07 21:03] ericawright commented on #5201
There seems to be a few things happening here. Courier font seems to align differently, so we have two fonts one aligns near the bottom and the other in the middle. I don't think it can be fixed unless we remove the two dividing divs, in order to align they both need to be in the same `<p>` but in different spans.
The other thing, I noticed there is `.normal-layout` and `small-size-layout` classes

[2018-02-07 21:09] jasonLaster commented on #5201
hmm, i agree we need to simplify the dom.

I wonder if we can get the grid with flexbox or another layout system?

[2018-02-07 21:10] ericawright commented on #5201
Yeah, I was thinking of using grid or even a table to style it?

[2018-02-07 21:11] jasonLaster commented on #5201
Also, i think chrome has a nice behavior here

![](http://g.recordit.co/fcDyIHVuR0.gif)

it's always fun to see how they do it: by popping the devtools out and opening another toolbox via cmd+option+i.

<img src='https://shipusercontent.com/12570649977057eeb4476c273d00980f/Screen%20Shot%202018-02-07%20at%204.09.48%20PM.png' title='Screen Shot 2018-02-07 at 4.09.48 PM.png' width=1440>