[2018-02-07 23:20] sravan-s commented on #5287
Thanks for the heads up ;)

[2018-02-08 04:08] darkwing opened #5352 "[Outline] Add "Copy Function" context menu item to functions"
@jasonLaster added a "Copy function" context menu item to the editor source pane.  It would be cool if we added a context menu for Outline pane functions to do the same thing.

[2018-02-08 04:17] darkwing opened #5353 ""Close tabs to the right" context menu item shouldn't be enabled when there's only one tab"
The context menu enables the "close tabs to the right" option when there's only one open tab.  We should disable that when there's only one tab because it doesn't do anything when clicked.

[2018-02-08 05:00] darkwing opened #5355 "Inactive "+" in Breakpoints Pane should be greyed out"
If the "+" isn't active, it should be the same grey color as the watch expressions refresh icon.

<img width="303" alt="inactivebreakpoint" src="https://user-images.githubusercontent.com/46655/35956329-91f907d6-0c5a-11e8-84ed-e2392c665eda.png">

[2018-02-08 09:50] lukaszsobek commented on #5253
Merged. Closing.

[2018-02-08 09:50] #5253 closed

[2018-02-08 09:52] lukaszsobek commented on #5250
Merged. Closing.

[2018-02-08 09:52] #5250 closed

[2018-02-08 10:05] lukaszsobek commented on #4985
Ok, I'll keep working on it. Then we can take a look at the finished thing. If it looks good we can use it, if not we don't. I like having the selector in a separate file as it makes the reducer much cleaner + there is only one import.

[2018-02-08 10:11] codehag commented on #4985
do we have a candidate reducer for this? something we can play around with and see how it looks?

[2018-02-08 14:18] #5353 closed

[2018-02-08 14:31] jasonLaster opened #5358 "[SourcesTree] Focusing on directories is off"
When we upgraded the tree component, we broke it in many small ways. One challenge is clicking a directory should focus it and toggle it.

### Firefox 57
Clicking a directory focuses & toggles

![](http://g.recordit.co/5HRJ3qxKLV.gif)

### Nightly

Clicking a directory focuses, but does not toggle

![](http://g.recordit.co/cMFET4A2SE.gif)

### Github

Clicking a directory toggles, but does not foc

[2018-02-08 14:40] ericawright commented on #5342
/claim

[2018-02-08 15:56] jasonLaster commented on #4373
I'd like to punt on this for a bit while we ramp up on the server...

[2018-02-08 16:25] AnshulMalik commented on #5287
And one more observation, you'll need to remove project root from `fullUrl` in `getDirectories`, [here](https://github.com/devtools-html/debugger.html/blob/master/src/utils/sources-tree/getDirectories.js#L37)

[2018-02-08 18:48] #5259 closed

[2018-02-08 18:50] #5241 closed

[2018-02-08 20:27] Loirooriol opened #5366 "[Search] 2 search bars, one does not work, the other is not focused"
![screenshot](https://user-images.githubusercontent.com/7477678/35996288-67bfd4b0-0d16-11e8-9567-1904a8c1cd9b.png)

When I press Ctrl+F to search something, a 2nd search bar appears below the real one. And this extra bar does not seem to work properly. The one that works is not focused by Ctrl+F, I must click it manually.

So search is so broken.

[2018-02-08 20:50] jasonLaster commented on #5366
hm, can you check the browser console?

also do you have any plugins. this is the source editor search showing up.

@gabrielluong did we touch the source editor recently?

[2018-02-08 21:08] Loirooriol commented on #5366
Regressed by https://bugzilla.mozilla.org/show_bug.cgi?id=1432842

It seems the first time I use Ctrl+F the proper search bar opens, but other uses open the other search bar.

No errors in the browser console, reproducible in clean profile.

![screencast](https://user-images.githubusercontent.com/7477678/35998178-28037524-0d1c-11e8-9f8e-a1754deaaa55.gif)

[2018-02-08 21:20] jasonLaster commented on #5366
nice find. also i love the keyboard!

[2018-02-08 21:55] CharlesStocky commented on #5189
I'm starting to work on it now @jasonLaster. Just to make sure I understand the issue, should the result count not show up when searching in files/ sources?

[2018-02-08 21:56] jasonLaster commented on #5189
yep

[2018-02-09 08:04] lukaszsobek opened #5373 "[QuickModal] ? does not show suggestions until space is added"
STR:
- press `ctrl+;`
- remove character
- type `?`
- notice result count = 3
- type `[space]`

ER:
- suggestions show up immediately after typing `?`

AR:
- suggestions require `? ` being typed to show up

[2018-02-09 11:38] codehag commented on #5352
would this copy the function in the outline in their entirety? that would be interesting!

[2018-02-09 11:39] codehag commented on #5341
Can you describe this a bit more?

[2018-02-09 11:42] codehag commented on #5333
How about we allow users to sort the list, rather than enforcing a particular order?

this can be done with a checkbox for now that looks like this

[] alphabetize

and then we sort them. if its unchecked they appear in the order that they are found in the code

[2018-02-09 11:42] codehag commented on #5328
thanks for reporting this! it sounds pretty bad, we will need to look into it

[2018-02-09 11:58] nyrosmith commented on #5333
I wouldn't try to be smarter than the author of the code. I'd show the content of the source in the same order in the outline. Everything else would be confusing especially if I inspect my own source (I know the order more or less)
I am currently sketching such an solution so we can discuss on that

[2018-02-09 15:07] ericawright commented on #5324
fixed with #5359

[2018-02-09 15:07] #5324 closed

[2018-02-09 15:51] tripurari001 commented on #5355
/claim

[2018-02-09 16:04] jasonLaster opened #5376 "[Parsing] Is it possible to reduce the AST memory footprint"
We currently have a difficult problem where the debugger has a high memory usage if the user has large bundles and pauses in them. [bug1]

This is inherently a hard problem, but i think there are several concrete things we can do to make it better:

### Try really hard not to parse the generated files larger than 10K characters

1. we can use “fast preview” which does not require symbols
2. we don

[2018-02-09 16:36] jasonLaster opened #5377 "[Preview] implement fast preview"
We currently have a really smart preview that handles evaluating a bunch of interesting expressions. The downside, is that it requires parsing and traversing the AST to get the data. This makes preview powerful, but potentially slow when large sources are loaded.

Chrome on the other hand, only supports limited expressions, but because of this is always fast.

I think we can have the best of both

[2018-02-09 16:39] jasonLaster commented on #5355
@darkwing can you add more context as to why the "+" is blue. I know we color it if there is an active pause on exception selected. Are there other reasons?

By the way, we *do* want to re-think this new UI. It's currently disabled in firefox now

[2018-02-09 16:39] jasonLaster commented on #4722
done! lets see if it sticks in MC :airplane:

[2018-02-09 16:49] jasonLaster opened #5378 "[Preview] Support object properties"
`getSymbols` should support object properties like `1` or `sci-fi` when building up the expressions. We probably should rename memberExpressions to expressions too :)

[code]

[code]

[2018-02-09 16:58] jasonLaster commented on #5355
take a look :)

[2018-02-09 16:59] tripurari001 commented on #5355
@jasonLaster  @darkwing
it may not be a bug because because it's in highlighted color only when `pause on all exception` or `pause on uncaught exception` is selected otherwise it is grey

[2018-02-09 17:56] #5288 closed

[2018-02-09 18:02] jasonLaster commented on #5355
yep - that's logged in another issue

[2018-02-09 18:10] darkwing commented on #5355
I may have misunderstood what state I was in when I filed this issue, so it may not be relevant.  Let's focus on the toggle issue for now

[2018-02-09 18:20] tripurari001 commented on #5355
so I should unclaim here right ??
:)

[2018-02-09 18:22] tripurari001 commented on #5355
/unclaim

[2018-02-09 18:46] tripurari001 opened #5380 "Unable to toggle ( uncheck ) `pause on next Statement` button"
Unable to toggle ( uncheck ) `pause on next Statement` button once it's selected
![image](https://user-images.githubusercontent.com/17466642/36044072-77342fae-0df7-11e8-8d10-139f859b5573.png)

[2018-02-09 18:49] darkwing commented on #5355
Closing this as invalid.

[2018-02-09 18:49] #5355 closed

[2018-02-09 18:58] tripurari001 commented on #3978
/claim

[2018-02-09 21:01] #5084 closed

[2018-02-09 21:01] jasonLaster commented on #4617
we're no loner seeing this

[2018-02-09 21:01] jasonLaster commented on #5380
dupe of #5125

[2018-02-09 21:01] #5380 closed

[2018-02-09 21:01] #5121 closed

[2018-02-09 21:02] #5031 closed

[2018-02-09 21:02] jasonLaster commented on #5031
this is now fixed.

[2018-02-09 21:59] CharlesStocky commented on #5189
@jasonLaster How's this?

<img width="765" alt="screen shot 2018-02-09 at 3 58 34 pm" src="https://user-images.githubusercontent.com/24966772/36052177-32a754fa-0db2-11e8-86a3-b1cab708f0bd.png">

[2018-02-09 22:04] jasonLaster commented on #5189
i like it.

[2018-02-09 22:06] CharlesStocky commented on #5189
Is there anywhere else the result count shouldn't show up? If not I'll submit a PR :)

[2018-02-10 00:17] bomsy commented on #5378
/claim

[2018-02-10 01:28] jasonLaster commented on #5377
/claim I’ll take this one :)

[2018-02-10 04:48] AnshulMalik commented on #5189
I think that was the only place. @CharlesStocky

[2018-02-11 03:39] CharlesStocky commented on #5189
Unweaving Jest tests at the moment, I'll submit the PR soon.

[2018-02-11 14:30] #5283 closed

[2018-02-11 14:30] #4544 closed

[2018-02-11 14:31] #4722 closed

[2018-02-11 14:32] #5201 closed

[2018-02-11 14:32] #5184 closed

[2018-02-11 14:35] jasonLaster commented on #5260
I'm not sure if this is needed. I think Firefox is a bad example. There shouldn't be many files in the wild with lots of classes.

If we add filtering in the future that will help here as well.

[2018-02-11 14:37] jasonLaster commented on #5204
CC @bomsy @wldcordeiro what do you think?

[2018-02-11 14:42] #3842 closed

[2018-02-11 17:17] bomsy commented on #5204
I think it's a good idea that we do not clear the invalid expression.
It can be frustrating to retype really long expressions because of tiny mistakes.
Maybe making the border (and also maybe the text) red should be quite obvious to the user.

[2018-02-11 17:23] bomsy commented on #5204
Maybe we shoould fix this as well here

![](http://g.recordit.co/RVaVrdnNUD.gif)

The field should not remain red (in the invalid expression state) after the invalid expression has been field.

[2018-02-11 21:02] jasonLaster commented on #5377
yep! that's what i'm thinking.

[2018-02-11 21:02] jasonLaster commented on #5377
here's what i got so far - https://github.com/devtools-html/debugger.html/pull/5386/files#diff-bb4a5ccb760e4629be966f69f285d154R107

[2018-02-12 06:28] lukaszsobek commented on #5323
/claim

[2018-02-12 12:24] SebastianZ commented on #5255
For reference, the idea of breaking on XHRs was initially requested in Bugzilla as [bug 821610](https://bugzilla.mozilla.org/show_bug.cgi?id=821610).

For what it's worth, Firebug had this feature and it had UIs within its *Net* and *Console* panels to set them and a [*Breakpoints* side panel](https://web.archive.org/web/20170502101655/http://getfirebug.com/wiki/index.php/Breakpoints_Side_Panel) w

[2018-02-12 12:43] SebastianZ commented on #4109
I'm slightly against hiding the step buttons while the script execution is not paused. With that you add some flashing problem when paused vs. unpaused, which may lead to a "Where are the buttons gone?!" UX.

I would just make the enabled vs. disabled state of the buttons more obvious.

Sebastian

[2018-02-12 15:14] #4928 closed

[2018-02-12 15:28] sravan-s commented on #5287
@jasonLaster @AnshulMalik  Quick discussion before implementing the thing - don't you guys think its a better idea to hide results from other directories if a specific folder is set as root?

[2018-02-12 15:36] ochameau commented on #5134
@bgrins is there any plan to replace xul:popup/xul:panel with something else? If not a plan, has it been discussed? I find it quite frustrating to limit devtools UX because of XUL being deprecated.

[2018-02-12 15:44] #5358 closed

[2018-02-12 15:59] jasonLaster commented on #5287
I would lean towards removing the root so that it is shown?

[2018-02-12 16:04] darkwing commented on #5270
Steps to repeat:

1.  Start the debugger *but do not open any sources*; click on a folder
2.  Navigate around with keys, all keys work great; focus is never lost, folders open and close appropriately, etc.
3.  Click any source `.js` file
4.  The `left` arrow key starts behaving funny, losing focus *anywhere* until another key is pressed

Notes:

* The problem is introduced when a pretty-printed so

[2018-02-12 16:14] #4121 closed

[2018-02-12 16:14] #4081 closed

[2018-02-12 16:21] AnshulMalik commented on #5333
I am with @nyrosmith , It would be more sensible if the names show up in same order as defined in the code

[2018-02-12 16:24] sravan-s commented on #5287
So... what would be the other significances of adding a directory root? (I'm kinda new here, is there anything I am missing?)

[2018-02-12 16:24] AnshulMalik commented on #5267
Hey @sravan-s, would you like to hack on this?

[2018-02-12 16:27] jasonLaster commented on #5287
it's still a new feature, so we've got to figure out the UX. I assume revealing a file out of the root is an edge case

[2018-02-12 17:41] jasonLaster commented on #5333
I think i've been persuaded to let the list stay in the original order...

re: a checkbox, I would prefer to have a settings pane where it can be set rather than a UI element that is always visible.

[2018-02-12 17:48] ericawright commented on #5342
1 - this is no longer relevant since it switches to vertical-mode styling
2 - done
3 - done
4 - not possible without an overhaul of dev-tools core since we need to listen for the click event when toggling between vertical and horizontal. Currently, the size measurement is the only thing we have to detect which mode we are in.

[2018-02-12 17:48] #5342 closed

[2018-02-12 17:53] nyrosmith commented on #5333
/claim
I am already working on a new Outline which keeps order

[2018-02-12 19:57] darkwing commented on #5341
I started this PR but it's not a priority so it would be a good contributor opportunity;

https://github.com/devtools-html/debugger.html/pull/5349

[2018-02-12 20:32] jasonLaster commented on #5331
Hows it going @pradeepgangwar?

[2018-02-12 20:33] #3978 closed

[2018-02-12 20:33] jasonLaster commented on #5091
Hey @neilholcomb, I'm taking your head off this. Feel free to re-claim it.

[2018-02-12 20:34] jasonLaster commented on #4117
@jacobjzhang i'm taking your head off this. Feel free to re-claim it.

[2018-02-12 20:37] jasonLaster opened #5393 "[Preview] Map expressions "
In november, @aleksdao added [support] for mapping original expression identifiers to generated identifiers in devtools-map-bindings.

It would be nice to re-add it again with Logan's new implementation.

[support]:https://github.com/devtools-html/devtools-core/blob/9344dc3f33321dd7dcebdd53bf6d8ea84d2d6920/packages/devtools-map-bindings/src/utils.js

[2018-02-12 20:53] jasonLaster commented on #5393
A code sketch

[code]

[2018-02-13 03:29] darkwing opened #5401 "Set as Root Directory & Reveal In Tree Conflict"
If you open a few sources, then set a very specific root, then use the Reveal In Tree context menu to find a broad source, you're searching for a source that theoretically isn't in range.

When a user chooses "Reveal In Tree" on a source that isn't in a modified Reveal in Tree root, I believe we should revert the tree root to the overall overall root and highlight the intended source.

[2018-02-13 12:52] lukaszsobek commented on #5157
Merged. Closing.

[2018-02-13 12:52] #5157 closed

[2018-02-13 13:52] jasonLaster commented on #5401
this is being done in #5287

[2018-02-13 13:52] #5401 closed

[2018-02-13 15:02] codehag commented on #4209
we should definitely address this, but I am not sure this should be a p1 -- it hasn't been touched since october last year, and the case isn't very common. The other p1s have a more significant impact on daily usage.

[2018-02-13 15:47] darkwing commented on #5340
@AnshulMalik I fixed it last week.  We can close :)

[2018-02-13 15:47] #5340 closed

[2018-02-13 15:49] codehag opened #5403 "[telemetry] Tracking issue for telemetry"
- [x] Debugger Open
- [ ] Debugger Cold Open
- [ ] debugger open on debug statement
- [ ] Select Source (time)
- [ ] Reload page with Debugger open
- [ ] Close toolbox with Debugger open
- [ ] # of sources listed
- [ ] Select Source Count
- [ ] prettified count
- [ ] # of files opened (which had source maps)
- [ ] framework
- [ ] # of breakpoints added

Pausing:
- [ ] Stepping (time)
- [ ] Pausing

[2018-02-13 15:50] darkwing commented on #5260
I agree with @jasonLaster here.  I think it would be a cool addition, and would only enact it if there were {x} number of classes or functions.

[2018-02-13 15:51] jasonLaster commented on #4087
Can you clarify the STR?

[2018-02-13 15:57] jasonLaster commented on #4407
We'll also test preview here as well

[2018-02-13 15:58] mmcote commented on #4823
Doing this simple check:

`
const activeElementIsFocused =
document.activeElement == this.input && document.hasFocus();
console.log("Input is focused:", activeElementIsFocused);
`

Right after the this.input.focus() in the renderToWidget it will always return true whether the conditional panel input is focused or not. Whereas, if you add in a componentDidUpdate section and check under that lifecyc

[2018-02-13 17:13] tripurari001 commented on #5134
I would like to work on this

My approach would be to calculate the best position to open the tool-tip ( top or bottom ) based on the position of element ( hovered one )

[2018-02-13 17:13] tripurari001 commented on #5134
/claim

[2018-02-13 17:19] darkwing commented on #5134
Great @tripurari001 !  Let us know if we can help along the way :)

[2018-02-13 18:41] digitarald opened #5406 "[Editor] Preview tooltip can get stuck in visible state when mouse leaves code window too fast"
STR:

- Pause on a larger code base
- Quickly hover a variable and move mouse out of code panel before tooltip appears (made easy by it being slow on large code cases, see #3984)

AR: Tooltip stays open until mouse re-enters code panel

ER: Tooltip never appears or closes when mouse leaves

Maybe the fix is improving performance; but we'll see Telemetry if we hit a level that would mitigate the is

[2018-02-13 19:22] darkwing opened #5408 "[Infrastructure] Windows Error: "missing = in const declaration""
I tried getting the debugger running on a Windows PC today.  After installing yarn, cloning the repo, and do a `yarn start / yarn run firefox`, I go to localhost:8000 and see the following error:

[code]

The source at said point is:

[code]

I think we're missing a dependency in package.json that we've all taken for granted

[2018-02-13 21:30] gurumukhi commented on #5091
/claim

[2018-02-13 22:32] jasonLaster commented on #4708
closing and moving to the enhancements board https://github.com/devtools-html/debugger.html/projects/5

[2018-02-13 22:32] #4708 closed

[2018-02-13 22:34] jasonLaster commented on #4068
we updated!

[2018-02-13 22:34] #4068 closed

[2018-02-13 22:36] yurydelendik commented on #5061
* (`for` might have `let`)
* `catch` creates a scopes
* all breaks with `with()`

[2018-02-14 00:42] AlexisDeschamps commented on #5408
I tried a clean clone and setup with node v9.3.0 on latest Windows 10 and I did not get any errors. Of course, I may already have some other dependency as you suggested. Maybe the browser you visited localhost:8000 did not have some of the latest ECMAScript features?

[2018-02-14 02:23] jasonLaster commented on #5393
Here is a good site to test on http://localhost:8000/integration/examples/doc-babel.html

[2018-02-14 02:34] jasonLaster commented on #5393
after digging in more, here is what i found

[code]

[2018-02-14 05:48] CharlesStocky commented on #5019
/claim

[2018-02-14 07:07] nchevobbe opened #5416 "Hide "file modal" when pressing Cmd + Shift + F"
Steps to reproduce:
1. Open this page
2. Hit <kbd>Cmd</kbd>+<kbd>P</kbd> (this should show the file modal)
3. Hit <kbd>Cmd</kbd>+<kbd>Shift</kbd>+<kbd>F</kbd> (this start the search in project)

Expected results:
The file modal is dismissed and I can type what i'm searching for

Actual results:
The search UI appears underneath the file modal, which is still visible:

<img width="829" alt="screen s

[2018-02-14 08:24] lukaszsobek commented on #5416
/claim

[2018-02-14 09:13] lukaszsobek opened #5418 "[Mochi] Fix -- warning"
Yarn returns a warning about `--`  no longer being used to forward options.  It would be great to get rid of that warning, especially as `--` might be returned literally in future.

[2018-02-14 09:13] lukaszsobek commented on #5418
/claim

[2018-02-14 16:23] #5302 closed

[2018-02-14 18:09] lukaszsobek commented on #5418
Merged. Closing.

[2018-02-14 18:09] #5418 closed

[2018-02-14 18:13] lukaszsobek commented on #5306
Merged. Closing.

[2018-02-14 18:13] #5306 closed

[2018-02-14 19:59] gregtatum opened #5420 "Can't distinguish active state on project explorer dropdown"
## Steps to reproduce:
 * Open debugger on a project
 * Hit Cmd+P
 * Type in a search
 * Move mouse over second term

## Actual behavior:

It's impossible to distinguish between the active state of the first term, and the hover state of the second. So I don't know which item is selected.

<img width="956" alt="image" src="https://user-images.githubusercontent.com/1588648/36224775-3071bec0-118e-11e

[2018-02-14 20:01] jasonLaster commented on #5420
Thanks @gregtatum. @nchevobbe filed the same thing recently here #5034

[2018-02-14 20:01] #5420 closed

[2018-02-14 20:02] jasonLaster commented on #5034
Here's another good example

<img src='https://shipusercontent.com/ddd2065be616809a0f3f7b61f2cae25a/36224948-b3206830-118e-11e8-8dfc-42bd3bd3a2a6.png' title='36224948-b3206830-118e-11e8-8dfc-42bd3bd3a2a6.png' width=1438>

[2018-02-14 20:03] gregtatum opened #5421 "[QuickOpen] selected source is not visible "
## Steps to reproduce:

* Open a few files in the debugger.

<img width="956" alt="image" src="https://user-images.githubusercontent.com/1588648/36225200-86a6eb8e-118f-11e8-98b4-caef3f18e6ce.png">

* Hit Cmd + P and type in a search term for a file not in the list.

<img width="955" alt="image" src="https://user-images.githubusercontent.com/1588648/36225235-a059c2c2-118f-11e8-8159-935018f47d27.png

[2018-02-14 20:05] jasonLaster commented on #5421
weird is this perf.html?

could you give a clearer STR?
also love the watch expressions

[2018-02-14 20:06] jasonLaster commented on #5034
ping @ppatel221 do you think you have time to work on this?

[2018-02-14 20:08] gregtatum opened #5422 "Pause on caught exceptions impossible to distinguish"
## Steps to reproduce:

* Click on the pause exceptions button multiple times

## Expected behavior:

* I understand what state the debugger is in regards to breaking on thrown exceptions, breaking on caught thrown excpection, and not breaking.

## Actual behavior:

I don't have any visual feedback as to what state the debugger is in. I can't distinguish the colors on the icon, and I believe there

[2018-02-14 20:13] jasonLaster commented on #4109
Thanks @SebastianZ. Our hope is that the buttons would remain while the debugger steps, but I can see how that is difficult. Nothing is finalized here

Here is our product doc for the POE button. [doc]
Here is a screenshot of what we have now behind a flga

![Screen Shot 2018-02-14 at 3.10.45 PM.png](https://shipusercontent.com/141ce1f5dad8362203c8baa90c41827a/Screen%20Shot%202018-02-14%20at%203.1

[2018-02-14 20:14] jasonLaster commented on #5422
I agree. Our current design is highlighted in this bug #4109. I think we're going in the direction of textual labels that make it clearer what the states are. It's just a question of where they live.

[2018-02-14 20:14] #5422 closed

[2018-02-14 20:50] gregtatum opened #5423 "Stepping buttons disappear when shrinking debugger window"
# Steps to reproduce:

* Open up the debugger in devtools on the right.
* Ensure that devtools is small enough so that the stepping buttons are on the bottom of the debugger
* Shrink the vertical size of the debugger.

![STR](https://media.giphy.com/media/3oxQNzW2rZD6ndNCkE/giphy.gif)

# Actual behavior

* The stepping buttons disappear once the window is small enough, making it impossible to step

[2018-02-14 20:52] jasonLaster commented on #5423
here are some docs for debugging the [panel](https://github.com/devtools-html/debugger.html/blob/master/docs/debugging-firefox.md)

it'd be fun to simulate this effect in the launchpad too. but less important

[2018-02-14 21:33] jasonLaster commented on #4799
Thanks for the clear STR!

I just investigated and learned some interesting things:

Here is the breakpoint we try to add
[code]

[2018-02-14 22:41] jasonLaster commented on #4799
last point here, the server currently chooses not to use any entrypoints because the only one is at col 2, and the client is requesting column 13...

[2018-02-15 08:36] nchevobbe opened #5426 "[Scopes] Scope nodes are a bit too similar to "regular" variable nodes"
The Scopes groups variables under "Block" nodes. Sometimes they are named, which is great.
But it's hard to distinguish those "blocks" node from the "variable" nodes. See:

<img width="455" alt="image" src="https://user-images.githubusercontent.com/578107/36247277-ba1e04d0-1233-11e8-8d7b-279a1b81dc30.png">

They are of the same color as variable names, and I feel like we could find something diffe

[2018-02-15 08:52] nchevobbe opened #5427 "[QuickOpen] "Go to line" as documented by the help panel seems broken"
Steps to reproduce:
1. Go to http://firefox-dev.tools/debugger-examples/examples/todomvc/
2. Open the debugger
3. Open the `todo-view.js` file
4. Trigger the "Go to line" with <kbd>Cmd</kbd>+<kbd>;</kbd>

Expected results:

I can go to line 120 by typing `120` and then <kbd>Enter</kbd>

Actual results:

I'm welcomed with a sad red face:
<img width="283" alt="image" src="https://user-images.githubu

[2018-02-15 08:54] lukaszsobek commented on #5427
/claim

[2018-02-15 08:54] jnachtigall commented on #4799
@jasonLaster fwiw, the screenshot links above do not render.

[2018-02-15 08:59] nchevobbe opened #5428 "Typing filename:linenumber in the File search should navigate me to the file at given line"
**Steps to reproduce:**
1. Go to http://firefox-dev.tools/debugger-examples/examples/todomvc/
2. Open the debugger
3. Open the File search (<kbd>Cmd</kbd>+<kbd>P</kbd>)
4. Type `todo-view.js:62`

**Expected results:**

The debugger show me the todo-view.js file as a potential result.
And when I press <kbd>Enter</kbd>, I'm taken to todo-view.js, at line 62.
Eventually, it would be nice if `todo-vie

[2018-02-15 09:13] nchevobbe opened #5429 "A "copy" button in the Preview popup would be helpful"
This would be great to have a "copy" button in the preview popup that would basically do what `copy(obj)` does in the console.
This way you could have a json stringified version of the variable you are inspecting (or if it is a primitive, the primitive itself)

[2018-02-15 09:24] nchevobbe opened #5430 "Pass an onViewSourceInDebugger prop to Reps/ObjectInspector"
This props is used to add a "jump to function" icon in the function Rep.
In the debugger, it would allow to go to the definition of a function we see in the Scopes, watch expression or PreviewPopup.
The function is called with the `grip.location` object, which contains the line and column number.

[2018-02-15 09:52] Enether opened #5431 "[Breakpoint] Conditional Breakpoint Editing Does Not Save"
## Steps to reproduce:

1. Set a conditional breakpoint
2. Right click it - Click "Edit Breakpoint"
3. Type something else and press enter
You will see that the original condition breakpoint is the same

[2018-02-15 09:56] lukaszsobek commented on #5427
Can't reproduce the error:
![goto](https://user-images.githubusercontent.com/23530054/36250693-dac1cf7c-123e-11e8-883d-e2f526a7e6ea.gif)

[2018-02-15 10:06] nchevobbe commented on #5427
For the record, it was on Nightly, so things might have been fixed in the meantime.
I still think we should have a better hint for the user to indicate they can type a line number. Even if `:` is used in many IDEs, I don't think it sufficient.

[2018-02-15 14:11] jasonLaster commented on #5428
so... it should support line/column jumping. The sad face shouldn't be there :)

[2018-02-15 14:13] jasonLaster commented on #4799
![Screen Shot 2018-02-14 at 4.25.48 PM.png](https://shipusercontent.com/620f72c119ad0ac75f7ed5494b26eb1b/Screen%20Shot%202018-02-14%20at%204.25.48%20PM.png)
![Screen Shot 2018-02-14 at 4.25.39 PM.png](https://shipusercontent.com/20bfb478a0a3418f33752ff7e6f4660c/Screen%20Shot%202018-02-14%20at%204.25.39%20PM.png)
![Screen Shot 2018-02-14 at 4.25.29 PM.png](https://shipusercontent.com/5d7bfeaaedd4a1

[2018-02-15 14:16] jasonLaster commented on #5426
Yep, I agree!

[2018-02-15 15:01] darkwing opened #5432 "[Sources tree] Add UI Element for Reverting to Main Source Tree"
An idea from @juliandescottes:

Right now we can set a root directory in the sources tree (sweet!) but there's no UI element which reminds the user they are looking at a piece of the source tree and not the whole thing.  We do have a context menu item to remove the root directory and show the full tree, but the context menu item isn't visible enough.

[2018-02-15 15:12] gregtatum commented on #5421
It's not reproducing now. This was using perf.html. I was having some occasional runtime errors where things would totally break during my long debug sessions, so perhaps something funky happened to the state of the application.

[2018-02-15 15:43] jasonLaster commented on #5006
I think this is okay because the two should be mutually exclusive

1. first you add a condition
2. then you edit it

[2018-02-15 15:43] #5006 closed

[2018-02-15 15:43] jasonLaster commented on #5005
fixed!

[2018-02-15 15:43] #5005 closed

[2018-02-15 15:44] jasonLaster commented on #4964
this should be fixed because of the onblur

[2018-02-15 15:45] jasonLaster commented on #4865
Hey @CharlesStocky @darkwing how's this going?

[2018-02-15 15:49] #4782 closed

[2018-02-15 15:52] mmcote commented on #5431
Hello @Enether, I was just wondering if you would be able to give me any more information to reproduce this bug. So far I haven't been able to reproduce with the latest build. Attached is just a gif me switching the conditional statement and then testing that it has been changed and the condition does work after.

![feb-15-2018 08-49-01](https://user-images.githubusercontent.com/14250545/36265821-

[2018-02-15 16:13] mmcote opened #5433 "[Breakpoint] Conditional Breakpoint Panel Remains after being disabled or removed while editing."
1. Create a conditional breakpoint.
2. Edit the conditional breakpoint.
3. While the conditional breakpoint panel is open and visible, right-click on the conditional breakpoint in the gutter and either disable or remove it.
4. Observe that the conditional breakpoint panel being edited concurrently did not get cleaned up.

Expected Behaviour:
When disabling or removing a conditional breakpoint pane

[2018-02-15 16:13] mmcote commented on #5433
/claim

[2018-02-15 16:39] kootoopas commented on #5429
/claim

[2018-02-15 16:54] jasonLaster commented on #5429
@kootoopas i'm not sure what the correct ux is for this yet.

[2018-02-15 16:54] jasonLaster commented on #5429
Lets wait until we can rope in ux and discuss preview because this is also related to save to watch expressions.

[2018-02-15 18:52] lukaszsobek commented on #5428
/claim

[2018-02-15 19:25] darkwing opened #5434 "[PrettyPrint] selectLocation action opens unwanted original tab"
At present the `autoPrettyPrint` pref is true, and so clicking a source in the source tree should simply open the pretty printed tab.

Unfortunately the current process is a bit hacky:

1.  Open source tab
2.  Open pretty tab (via `togglePrettyPrint`)
3.  Close source tab

We're doing a ton of expensive work we shouldn't need to do.  The only thing we should be doing is step 2.

[2018-02-15 22:37] #5323 closed

[2018-02-15 23:40] jasonLaster commented on #5280
landed
https://bugzilla.mozilla.org/show_bug.cgi?id=1436151

[2018-02-15 23:40] #5280 closed

[2018-02-16 04:02] lukaszsobek commented on #5427
@nchevobbe - Making the hint more visible sounds like a great idea, any chance you could open a new separate issue for that so it doesn't get lost among all the things mentioned in this issue?

[2018-02-16 04:04] lukaszsobek commented on #3942
Merged. Closing.

[2018-02-16 04:04] #3942 closed

[2018-02-16 05:05] jbhoosreddy commented on #5393
/claim

[2018-02-16 07:43] nchevobbe opened #5443 "[QuickOpen] "Go to line" should have a better hint"
At the moment, when you hit <kbd>Cmd</kbd>+<kbd>;</kbd> , you are prompted with an input containing a colon, without much more information.

We could have a better hint for the user (a placeholder, a label, …)

[2018-02-16 07:44] nchevobbe commented on #5427
@lukaszsobek sure https://github.com/devtools-html/debugger.html/issues/5443

[2018-02-16 08:37] lukaszsobek commented on #5428
A little more insight:
Typing the query does actually seem to produce the desired results. The thing that does not work is pasting the line - it doesn't trigger the onChange event which in turn does not update the query type from `sources` to `gotoSource` and that gives us a modal trying to look for a file that is literally named `test.js:60` instead of trying to go to `test.js` on line "60".

[2018-02-16 09:44] lukaszsobek commented on #5427
Remaining item extracted into separate issue. Closing.

[2018-02-16 09:44] #5427 closed

[2018-02-16 10:30] ochameau opened #5445 "Does debugger.html requires Node 6.9 or 7?"
The documentation tells us to use at least version 7 of Node
  https://github.com/devtools-html/debugger.html/blob/master/docs/getting-setup.md
While package.json ask for 6.9:
  https://github.com/devtools-html/debugger.html/blob/master/package.json#L15
(BTW, does npm checks that and warn if node version is incorrect?)

I'm currently trying to clarify npm worflows in m-c for console/netmonitor and

[2018-02-16 13:31] yurydelendik commented on #4087
The issue can be counted as resolved due to "No exception and UI is visible". However now the breakpoint is gone (same STR) -- probable that's what fixed it.

I'll close to reopen different one issue using wasm test case.

[2018-02-16 13:31] #4087 closed

[2018-02-16 13:51] jasonLaster commented on #5445
i think the debugger requires 7x and the docs should be changed

[2018-02-16 14:22] jasonLaster opened #5446 "[mochitest] Add a test for pause on next"
We should add a mochitest for pause on next.

It can be similar to this test:
https://github.com/devtools-html/debugger.html/blob/release-17/src/test/mochitest/browser_dbg-breaking.js#L1

Basically go to a page, click the pause button, then eval a function, assert we're paused

[2018-02-16 14:49] jasonLaster opened #5447 "[SourceTree] directory root can cause the tree to show no sources"
When a directory root does not match, the user sees a message "No Sources..." which can be very confusing. Confession, i was stumped for 4 days when i saw this!

Here are a couple thoughts:

1. The user can add a root for one domain and then debug another page and nothing will match. Do we want to key roots by domain?
2. If nothing matches, should we clear the root so that we show everything? Shou

[2018-02-16 14:53] jasonLaster opened #5448 "[SourceTree] it should be easy to clear the root"
At the moment it can be easy to forget that there is a root set. It is also difficult to figure out how to clear the root.

We should solve that problem by showing something in the UI for clearing the root. We've also discussed breadcrumbs, but because the path can be deep i don't know if there is a good way of showing it...

[2018-02-16 14:53] #5377 closed

[2018-02-16 15:00] darkwing commented on #5447
I think we should maybe do both?  Show a message that there are no matches and then show the entire tree.

[2018-02-16 15:05] lukaszsobek commented on #5448
Maybe an icon with a tooltip next to the set root item and the setting available to be cleared via a rightclick menu - the same way it was set.

[2018-02-16 15:10] lukaszsobek commented on #5447
Maybe remember which root was set for a given url and show the full tree for other urls. However, this would require us to store the settings and could lead to bloat when ancient url items start to haunt our local storage.

[2018-02-16 15:13] lukaszsobek commented on #5446
/claim

[2018-02-16 15:22] jasonLaster commented on #5448
yeah - i think that's right. @violasong thoughts?

[2018-02-16 15:23] jasonLaster commented on #5447
Hmm, @darkwing how would that work?

[2018-02-16 19:00] lukaszsobek opened #5451 "[QuickOpenModal] Refactor source opening logic"
Currently QuickOpenModal uses `isGotoSourceQuery` and `isSourcesQuery` to handle opening e.g. `test.js` and `test.js:60:10` respectively. In order for the error checking in the text input to be more consistent and to dry the code a little it would be good to combine these two cases into one logic.

[2018-02-16 19:00] lukaszsobek commented on #5451
/claim

[2018-02-16 19:27] yoshimo commented on #4887
Would be worth expanding this to html in general.
Often there is a lot of tabs and whitespace and new lines that make it difficult to read the source of a site.
Hiding comments plays into this as well.

[2018-02-16 20:45] kootoopas commented on #5429
@jasonLaster Gotcha. I was completely unaware of watch expressions. I haven't found a use case for them yet, since it seems that you can only watch globally accessible ones (?). :/

[2018-02-17 00:59] violasong commented on #5448
Oh interesting, I didn't realize this feature existed! It's nice that you can already right-click to clear it, although instead of "Remove directory root" it should probably say something like "Unset as root".  Instead of an icon (since there's already an icon in the row), maybe it could say "(branch)" next to the name of the item, or something more accurate than that?

...I feel like there may be

[2018-02-17 01:02] violasong commented on #5448
Or maybe it could be displayed as:
▷ .../directoryname

[2018-02-17 01:06] violasong commented on #5426
I don't understand this enough to suggest a very specific solution, but in general, using the photon purple as a secondary color to differentiate from the blue seems like a good idea!

[2018-02-17 01:09] violasong commented on #4109
I'm planning to look into this (as well as the other things mentioned in this [Debugger UX doc](https://docs.google.com/document/d/1lrnEcvXaAFNTY-O4DGxdabMcUeGebkUtpuc5XTSOIj0/edit) starting next week - @jasonLaster, let me know if any one thing should be prioritized above anything else, especially if there's a release 60 deadline involved.

[2018-02-17 04:25] jasonLaster commented on #4109
Great! Happy to plan early next week

[2018-02-17 07:52] lukaszsobek commented on #3215
/unclaim

[2018-02-17 08:38] lukaszsobek opened #5456 "[Pause] history should not have arrows"
When we pause to debug we show a history of steps with the ability to cycle through them by pressing left and right arrows.

It would be nice if the buttons were not active when there is just one step:

![should_not_have_arrows](https://user-images.githubusercontent.com/23530054/36339442-3737f6ea-13c6-11e8-899b-bc9d538d32c2.gif)

[2018-02-17 08:47] lukaszsobek opened #5457 "[Panes] Arrows in right pane lack spacing"
We use arrows to indicate important points in the panes. The indicators in the right panel seem to have lost a bit of spacing. It would be nice to make the spacing uniform with how it looks in the sources pane.

Vid:
![arrows-no-spacing](https://user-images.githubusercontent.com/23530054/36339486-79149b9e-13c7-11e8-81c5-16d064c9cf47.gif)

[2018-02-17 12:10] Fischer-L commented on #5328
There are 2 bottlenecks here:
1. In `searchSources` action: it would block if searched on multiple large files [1].
2. In `renderResults` in `ProjectSearch` component: it would block as well if rendered a huge amount of matched results [2].

Probably we have to divide search operations, such as if there were 30 files, and we got 300 matched results from the first 5 files, we should pause searching

[2018-02-17 14:35] darkwing commented on #5457
Appears to only be a Chrome issue.  Firefox on master is ballin':

<img width="298" alt="firefoxmaster" src="https://user-images.githubusercontent.com/46655/36342028-826803f2-13bd-11e8-80a5-b00e7dead005.png">

[2018-02-17 14:44] darkwing commented on #5457
So the issue here is Firefox supports `margin-line-end` but Chrome doesn't, thus there's 5px spacing that's missing:

<img width="1405" alt="chromearrowsvg" src="https://user-images.githubusercontent.com/46655/36342079-945c0a30-13be-11e8-81d7-e5b0d2390732.png">

Adding `-webkit-margin-end: 5px;` to `.arrow svg` will fix the problem!

[2018-02-17 14:58] tomodwyer commented on #5457
/claim

[2018-02-17 15:00] darkwing commented on #5448
I love the `▷ .../directoryname` idea!  `..` is a well known symbol that people would recognize and saves us from needing to add a button and/or message somewhere.  Nice @violasong !

[2018-02-17 15:43] tomodwyer commented on #5457
I've opened a PR in the `devtools-core` repo where this style is set: https://github.com/devtools-html/devtools-core/pull/935

[2018-02-18 04:05] darkwing commented on #5366
I could not reproduce this on my Windows 10 machine.

[2018-02-18 04:12] darkwing commented on #5408
Turns out my Firefox didn't update to current, it went from 48 -> 56 -> 57 -> 58, so I didn't have the most up to date stuff.  This isn't an issue, just an old browser.

[2018-02-18 04:12] #5408 closed

[2018-02-18 13:33] kootoopas opened #5461 "[Breakpoints] 'remove all breakpoints' button on breakpoints AccordionPaneItem"
[***EDIT***: I just found out that there's a context menu option to `Remove all` but I still think this is useful to have since it makes its existence obvious]

Proposal
---------

Although it could be dangerous to lose all breakpoints by misclick, say if the button were to be placed really close to the 'toggle all' checkbox on the pane's header, it kind of sucks to manually have to delete each br

[2018-02-18 15:13] calebstdenis opened #5462 "[QuickOpen] should degrade gracefully on smaller width screens"
![image](https://user-images.githubusercontent.com/7321311/36353510-636a53be-1495-11e8-8842-a74374191384.png)

[2018-02-18 15:21] calebstdenis commented on #5462
closing for now, will ask in the Slack what's up.

[2018-02-18 15:21] #5462 closed

[2018-02-18 16:48] Rohanhacker commented on #5267
Can I work on this ?

[2018-02-18 16:48] Rohanhacker commented on #5267
/claim

[2018-02-19 04:44] siefkenj opened #5463 "Can't Inspect Object with Numerical Keys"
In the Firefox (57) console, objects with only numerical keys will not expand.  For example,

[code]

will show up with an expander arrow, but upon expanding it, only `__proto__` will show.

[2018-02-19 08:13] nchevobbe commented on #4879
The update is now completed

[2018-02-19 08:14] nchevobbe opened #5464 "Investigate using fragment where possible"
This would reduce the amount of DOM nodes we use and might have a positive impact on performances

[2018-02-19 08:24] nchevobbe commented on #4879
I though I was on devtools-core, sorry about that

[2018-02-19 08:26] codehag commented on #4879
no problem!

[2018-02-19 08:27] nchevobbe commented on #5464
oh, I filed on the wrong repo, but I think this is valid.
So, before React 16, each component needed to return a single root ReactElement.
In some case, there is no sense doing so, from an HTML standpoint, so it adds unecessary DOM nodes, which can impact React DOM diffing perf (the more node, the more you need to check).

Starting React 16, a component can return an array of ReactElement, or a Fr

[2018-02-19 08:30] codehag commented on #5456
thanks for the bug report! this is an experimental ui so we are quite open to changes

[2018-02-19 08:39] nchevobbe commented on #5426
Here's how it could look:

<img width="621" alt="image" src="https://user-images.githubusercontent.com/578107/36368637-7d33eeea-1558-11e8-980e-e891422dadc4.png">

I added an icon because with only the color change, it felt a bit dull.
The icon shouldn't be on the `Window` object, but for now, we don't have a classname to target these "Block" nodes (I think we should have one).

Thoughts @codehag @

[2018-02-19 09:05] lukaszsobek commented on #5456
@codehag Maybe just making the arrows non-responsive when there is just one result would be better than completely removing them. Changed the intro issue text.

[2018-02-19 09:37] codehag commented on #5426
i like it! i think the icon really adds something

[2018-02-19 10:24] nchevobbe commented on #5426
If someone wants to work on this, here's a starting point:

[code]

Note the `> .node:not(.lessen)` to prevent targetting the global window. Not sure if this is the way to go. I'd rather have a property on the scope so we can add a className in the ObjectInspector code.
But for now, that could be enough ?

[2018-02-19 10:40] codehag commented on #5301
I think i have an idea why this is happening

[2018-02-19 13:13] Tazmain opened #5466 "[WatchExpressions] Add functionality to delete all watch expressions"
It's currently possible to right click on a breakpoint and delete all of the breakpoints or other breakpoints. It would be nice if it were possible to do the same thing with watch expressions.

[2018-02-19 13:14] Tazmain opened #5467 "[WatchExpressions] Autocomplete for editing watch expressions"
Can we please add the functionality to have autocomplete, when editing a watch expression in the debugger tab?

[2018-02-19 13:40] jasonLaster commented on #5426
Looks nice!

I wonder if some vertical margins or larger font would help scopes as well.

[2018-02-19 13:55] nchevobbe commented on #5426
I tried a bit but it looks weird in regards with the other nodes.

![image](https://user-images.githubusercontent.com/578107/36381048-ad12056c-1584-11e8-9383-8a2552420c7d.png)

![image](https://user-images.githubusercontent.com/578107/36381112-d9a386e6-1584-11e8-9b34-b7b5673954da.png)

Here's in bold

![image](https://user-images.githubusercontent.com/578107/36380998-89566e88-1584-11e8-8d83-db0d38

[2018-02-19 14:03] jasonLaster commented on #5426
true, bold is nice. Ship it!

[2018-02-19 14:34] nchevobbe commented on #5426
:) We need to make a change in the objectInspector to allow it to receive a given className for a node so we can target "Blocks" and not the Window (looking for `:not(.lessen)` does not work since the classname is removed when expanding the window node).

[2018-02-19 15:08] kootoopas commented on #5461
It would be a good chance to add a `REMOVE_ALL_BREAKPOINTS` action to the breakpoints reducer too, to make the removal effect in the UI reflect instantly.

As it is now, we have an action that fires `REMOVE_BREAKPOINT` for each breakpoint and we get this serial effect:

![remove-all-breakpoints-delayed](https://user-images.githubusercontent.com/601001/36384219-2fc1f302-1597-11e8-92b5-03c48eed56f4.

[2018-02-19 15:32] jasonLaster commented on #5461
`REMOVE_ALL_BREAKPOINTS` love this idea

[2018-02-19 15:32] jasonLaster commented on #5461
yeah... i'm hoping to re-think this pane's ux and add that button then

[2018-02-19 16:19] jasonLaster commented on #4389
hmm, i'm see a very different pause location. did sorted.js change or the source map?

![screen shot 2018-02-19 at 11 18 58 am](https://user-images.githubusercontent.com/254562/36387347-b577e82a-1566-11e8-900d-71013a344966.png)

[2018-02-19 22:47] jasonLaster opened #5473 "Re-Add - Ensure that conditional panels are focused."
We had to revert #5409 because it was causing test failures. We should re-add it.

[2018-02-19 22:48] jasonLaster opened #5474 "[Preview] re-enable previewing a file w/ no functions"
We had to revert Fix previewing a file w/ no functions #5390 because it was causing mochitest errors for windows opt.

[2018-02-19 23:32] jasonLaster commented on #4200
it looks like promises would work by themselves work. https://dbg-then-bp.glitch.me/

this makes me think that there is something do with a race condition w/ fetch.

[2018-02-19 23:37] jasonLaster commented on #4200
it looks like promises would work by themselves work. https://dbg-then-bp.glitch.me/

this makes me think that there is something do with a race condition w/ fetch.

[2018-02-19 23:38] jasonLaster commented on #3432
hmm, there is probably something racey, but I was not able to reproduce it when i tried
http://g.recordit.co/jjsQ2Cpr9e.gif

[2018-02-20 13:24] yurydelendik commented on #4389
It did not -- the visualization shows proper locations.

[2018-02-20 13:39] jasonLaster commented on #4389
ahh - weird. we're doing something strange

[2018-02-20 14:04] wanderview commented on #3432
I believe we had a situation previously where you could end up running the service worker in multiple processes at once, even though we had tried to disable that without our "multi-e10s opt out".  That particular problem has been fixed.  My guess is that this issue was a manifestation of that bug.

[2018-02-20 14:10] #3432 closed

[2018-02-20 14:10] jasonLaster commented on #3432
Got it. I'll tentatively close the bug. Lets re-open it if something comes up.

[2018-02-20 15:32] mmcote commented on #5433
Duplicate of #4964

[2018-02-20 15:32] #5433 closed

[2018-02-20 16:05] AnshulMalik opened #5479 "Doc spell check fails on prepush"
Looks like we missed some spellings in 2-20-2018 update,

<img width="870" alt="screen shot 2018-02-20 at 9 30 04 pm" src="https://user-images.githubusercontent.com/7821757/36434783-e3f67ae8-1685-11e8-96bb-6bdf64fbc2e7.png">

To fix this, either add the missing words in [dictionary](https://github.com/devtools-html/debugger.html/blob/master/assets/dictionary.txt) or rephrase the sentence.

[2018-02-20 16:08] tripurari001 commented on #5479
I am also facing same issue

[2018-02-20 16:10] AnshulMalik commented on #5479
For now, if docs is causing the push to fail,  you can use `no-verify` to skip the tests, but you should run `yarn test` to make sure other tests are good :)

[2018-02-20 16:30] jimblandy commented on #4017
We don't expect the client to be involved in conditional breakpoints at all, so there's something very odd going on here.

[2018-02-20 16:56] AnshulMalik commented on #5431
Can't reproduce this either. Could you provide us with some more info? @Enether

[2018-02-20 17:38] jasonLaster commented on #4617
I noticed while stepping that Scopes became unavailable when expressions were being evaluated...

It was fixed when i removed the expressions.

[2018-02-20 22:50] jasonLaster opened #5482 "[Preview] Flow types should be not previewed"
We currently let the user evaluate flow types. They're always null because there's nothing in the code. We can avoid that by excluding them from the symbols identifiers.

![](http://g.recordit.co/MLgF4vyEyv.gif)

here are some places to dig:

[code]

[2018-02-20 22:50] #5479 closed

[2018-02-20 23:18] jasonLaster commented on #5482
I thought of a couple of other cases where we don't want to preview:

- class functions keys:
- keys for objects inside of call expressions

![](http://g.recordit.co/u2fxCcEkys.gif)

Here is an [example](https://dbg-weird-preview.glitch.me/)

[code]

These changes will definitely be made in the parser symbols module

[2018-02-21 01:29] violasong commented on #5426
Love the icon! If I'm understanding this correctly, I would suggest the gray90 color plus bold weight, to make it look more like a heading, of higher hierarchy than the blue - the magenta provides a nice contrast but is more like a highlight color.

[2018-02-21 01:40] jasonLaster commented on #5426
@violasong that makes sense. Ideally we'll do more with the information as well to make it clearer. We're fixing some bugs so that we have fewer scopes and i'd like to do more work to simplify the scopes & names of the scopes we show

[2018-02-21 03:49] AnshulMalik commented on #5482
/claim

[2018-02-21 10:13] juliandescottes opened #5487 "Search Input is not focused when pressing shortcut a 2nd time"
(tested on macos only)

STRs:
- go to http://firefox-dev.tools/debugger-examples/examples/todomvc/
- open debugger, open any source
- press CMD+F to focus search input
- type anything
- click in the editor
- press CMD+F again

Expected result: Field is focused and I can start searching again
Actual result: Field is cleared but not focused, I need to click on the field to start searching again.

[2018-02-21 10:27] juliandescottes commented on #4617
What does this have to do with the initial report?

[2018-02-21 10:40] jnachtigall commented on #5461
Came here to ask for this feature, nice to see it already open :)

This has bugged for quite some time. When working the breakpoints really fill up (sometimes even over sessions...)

I always find myself right-clicking on the `Breakpoints` title because I seem to associate the "Remove all" to the title panel and not an individual breakpoint menu item.

I think a consistent way would be to add the

[2018-02-21 13:13] darkwing commented on #5487
My PR (https://github.com/devtools-html/debugger.html/pull/5399) should fix this @juliandescottes ! :)

[2018-02-21 13:41] juliandescottes commented on #5487
great, thanks @darkwing , feel free to close this.

[2018-02-21 16:12] jasonLaster commented on #4654
Here is a sketch of what the changes could look like in the panel:

[code]

[2018-02-21 16:18] AlexisDeschamps commented on #4809
/claim

[2018-02-21 16:22] jasonLaster opened #5491 "[Preview] should ignore some labels"
There are some cases where Preview could ignore some identifiers because we know that they'll be undefined.

- class functions keys: e.g. `flyAway`, `speak`
- keys for objects inside of call expressions e.g. `umlaut`

![](http://g.recordit.co/u2fxCcEkys.gif)

Here is an [example](https://dbg-weird-preview.glitch.me/)

[code]

These changes will definitely be made in the parser symbols module

[2018-02-21 17:01] jasonLaster commented on #5461
Yeah - ideally the checkbox for toggling would be above the other checkboxes. I think we would also have a cog somewhere so you could make it easy to disable or toggle all bps as well... The UX for breakpoints will likely be done in one pass.

[2018-02-21 17:04] jasonLaster commented on #4617
i think it's related... but yeah, it could be different.

[2018-02-21 17:10] #5270 closed

[2018-02-21 19:34] HeidiEllis commented on #4067
Doing Bug Triage. Can this issue be closed?

[2018-02-21 20:04] tommai78101 opened #5494 "[Panes] Deleting your search query when searching for text in the Debugger pane, will reset the text cursor to the beginning of your search query"
**OS:** Windows 7
**Version:** Firefox Dev Edition 59.0b11 (64-bit)

Steps to reproduce:

1. Find any JS source code you can look at. The code needs to be uglified / minified.
2. Click on the "Format Source Code" in the lower left corner.
3. CTRL+F or CMD+F, whichever works for you.
4. Type anything.
5. Press END.
6. Press Delete.
7. Observe text cursor moving back to the beginning.
8. Repeat Step

[2018-02-21 21:06] Loirooriol opened #5495 "Template literals break pretty print"
Store this script in a file:

[code]

Run it in a HTML page. Open the debugger, locate the script, and click "Pretty print source".

Result: horrible invalid syntax

![screenshot](https://user-images.githubusercontent.com/7477678/36505206-0d6b19d8-1753-11e8-84b3-05d8a6c25f66.png)

[2018-02-21 21:18] jasonLaster commented on #5495
Thanks @Loirooriol please file this in https://github.com/mozilla/pretty-fast/issues

[2018-02-21 21:30] gregtatum opened #5496 "Parsing errors on original source leads to odd errors and confusion"
<img width="592" alt="image" src="https://user-images.githubusercontent.com/1588648/36506173-65ed453c-171b-11e8-95f3-1f8736c4ddb7.png">

I'm assuming that parsing on the original source fails, as I have Flow types. It doesn't seem like the debugger should really know about this as I may have any type of arbitrary stuff in my original source that gets compiled away. This leads to confusing behavior

[2018-02-21 21:38] jasonLaster commented on #5496
Great bug:

1. skipping flow  #5486
2. skipping class labels #5491
3. syntax highlighting
  - we currently dont try to preview strings which are everything blue when syntax highlighting fails. We should try to do that... so you still see something
  - can we add a codemirror mode for flow?
4. generated files
   - why doesn't preview work for you? :/

[2018-02-21 21:49] Loirooriol opened #5497 "[Editor] scrolls on click after switching to the console"
1. Open a tall JS file in the debugger, scroll down a bit.
2. Switch to the console and enter something
3. Switch back to the debugger, the scroll position has been preserved
4. Click in the source area

Result: the debugger scrolls

![screencast](https://user-images.githubusercontent.com/7477678/36507228-5edda226-1759-11e8-8536-cf4afd1de45c.gif)

[2018-02-21 22:30] gregtatum commented on #5496
Thanks for the links.

I'm not sure why preview wasn't working for generated files. I hovered over the file and nothing happened. (Combined with the console breaking it meant there was literally no way for me to get the values from the devtools)

On parsing and understanding Flow, a concern would be that Flow has many different versions as it changes over time, so keeping up to date with it may be

[2018-02-21 22:38] darkwing commented on #5495
Closed for pretty-fast PR

[2018-02-21 22:38] #5495 closed

[2018-02-21 22:58] jasonLaster commented on #5496
so... lets see

### Syntax Highlighting

Codemirror has typescript mode https://codemirror.net/mode/javascript/typescript.html and typescript-jsx mimetype https://codemirror.net/mode/jsx/

That might be our best bet

### Generated files

do you have an str?

[2018-02-21 23:33] jasonLaster opened #5498 "[Editor] Should support typescript mode"
Typescript and flow are becoming more common. As a result, we should try to use the codemirror mode for typescript when the user has types, either flow or typescript.

The general requirements are:
1. use the typescript if the file has a `.ts` extension
2. use the typescript mode if the file has a type in it. We can get that from `getSymbols`

We'll need to update `getSymbol` and `getMode` so it k

[2018-02-21 23:36] jasonLaster opened #5499 "[Preview] Is no longer previewing generated files"
When I looked into this bug with Greg, we found that the reason why the debugger did not preview for generated files is it believed that the file was not in the selected frame:

STR:

1. go to http://firefox-dev.tools/debugger-examples/examples/increment/
2. add a breakpoint at increment line 4
3. click the button
4. jump to the generated location
5. try to preview

Here's a quick sketch:

[code]

[2018-02-22 02:10] darkwing opened #5500 "Watch Expressions Hover Looks Odd"
The watch expression hover on the input seems odd:

<img width="300" alt="watchexpressionshover" src="https://user-images.githubusercontent.com/46655/36516366-329c9804-1743-11e8-9a0d-341e22fcbcaf.png">

Hovering over the element should show the light blue across the entire item, not just the input, and clicking the item (not just the input) should set the focus on the input element.

[2018-02-22 07:06] nchevobbe commented on #4067
Yes, I think we have the correct attributes now

[2018-02-22 07:06] #4067 closed

[2018-02-22 10:33] codehag commented on #4654
p1 of this fix: https://reviewboard.mozilla.org/r/222292/

[2018-02-22 13:32] jasonLaster commented on #5366
@Loirooriol is this an issue for you on nightly now?

[2018-02-22 13:33] jasonLaster commented on #4799
this will be done here: https://bugzilla.mozilla.org/show_bug.cgi?id=1440093

it's getting close :)

[2018-02-22 13:59] jasonLaster commented on #4320
@digitarald could you try and reproduce?

[2018-02-22 14:03] jasonLaster commented on #3777
I'm re-opening it so that we can make sure it gets done:

here's a similar bugzilla bug: https://bugzilla.mozilla.org/show_bug.cgi?id=1433820

 http://bayanbox.ir/view/1345913938885179254/prettify.webm

[2018-02-22 14:52] asharron commented on #4070
/unclaim

[2018-02-22 15:28] Loirooriol commented on #5366
Yes, on latest nightly ea3da643422c58d65335f1778dd6c89c09911585

[2018-02-22 15:34] lukaszsobek commented on #5373
/claim

[2018-02-22 15:44] jasonLaster commented on #4852
Oh yeah, this is certainly an interesting codemirror bug. I think it will likely turn out that codemirror needs to be forced to update when we re-display the document or make the UI visible.

Great catch!

by the way, I reproduced by going to todomvc and todo-view.js:104
http://firefox-dev.tools/debugger-examples/examples/todomvc/

![bp-codemirror](https://user-images.githubusercontent.com/254562/

[2018-02-22 15:49] jasonLaster commented on #4209
I just tried to reproduce this and it seemed to work *fingers crossed*

STR:
1. download the root-breakpoint html file
2. open it at the file:// address for me it was file:///Users/jlaster/Desktop/root-breakpoint.html
3. add a breakpoint at alert
4. refresh

![](http://g.recordit.co/fWafGO9Ixe.gif)

[2018-02-22 15:51] #4209 closed

[2018-02-22 16:59] Bilie commented on #5266
/claim

[2018-02-22 17:41] lukaszsobek commented on #5494
Not able to reproduce it on master.
![peek 2018-02-22 18-40](https://user-images.githubusercontent.com/23530054/36554588-faed8086-17ff-11e8-8329-ff7fa5605be8.gif)

[2018-02-22 21:30] lukaszsobek commented on #5373
Merged. Closing.

[2018-02-22 21:30] #5373 closed

[2018-02-22 21:33] lukaszsobek commented on #5416
Merged. Closing.

[2018-02-22 21:33] #5416 closed

[2018-02-22 21:58] jasonLaster commented on #4617
fair. closing

[2018-02-22 21:58] #4617 closed

[2018-02-22 21:59] jasonLaster opened #5509 "[Expressions] Debugger.Frame is not live error from evalWithDebugger"
Here is a slightly updated STR, it turns out this requires watch expressions. I reproduce this in Firefox 58-60.

STR:
 * Open up attachment debugger-frame-bug.html in Nightly
 * Open up the DevTools' Debugger
 * Add the watch expression "asdf" (any expression really)
 * Refresh and catch on the breakpoint.
 * Comment out the "debugger" statement from the code in an editor.
 * Refresh the page in

[2018-02-22 22:41] jasonLaster commented on #4772
So a couple of things:

1. prefs is undefined because it is a webpack module. so preview would need to know what the generated expression is. We don't do that yet. @jbhoosreddy is working on it :)
2. autoPrettyPrint shows true for me now. not sure what's up w/ that

---
![](http://g.recordit.co/9mz2JZFpz4.gif)
---
![](http://g.recordit.co/xLogEDE9LA.gif)

[2018-02-22 22:41] #4772 closed

[2018-02-22 23:54] haoRchen commented on #5456
Hi, I'd love to tackle this if no one is working on it.

[2018-02-23 00:18] haoRchen commented on #5456
\claim

[2018-02-23 00:18] haoRchen commented on #5456
/claim

[2018-02-23 01:50] atwalg2 commented on #5491
/claim

[2018-02-23 05:38] lukaszsobek commented on #5487
Closing as per consensus.

[2018-02-23 05:38] #5487 closed

[2018-02-23 06:51] AnshulMalik commented on #5499
Yep, that was indeed the issue, I think we should first convert the source id to generated source id and then compare.

[code]

[2018-02-23 12:52] lukaszsobek opened #5512 "[General] Update setState to function pattern"
In our codebase we have about 60 instances of `setState`. Unfortunately all of them try to update the state by passing in an object like this:
[code]
As you might know telling React to update state like we do above gives us no certainty as to when these changes will actually be implemented as setState does not update immediately. Or as Boromir would say:
![screenshot-20180223134344-536x315](https:

[2018-02-23 14:22] tommai78101 commented on #5494
![](https://i.imgur.com/dyN3PYS.png)

Was told the fix isn't in the Firefox Dev Edition branch for Windows 7.

[2018-02-23 16:14] darkwing opened #5514 "Highlighted Tree Item is lost when switching between Sources and Outline"
Ideally we keep track of the highlighted item:

![losthighlight](https://user-images.githubusercontent.com/46655/36604051-43c1c7fe-1882-11e8-96d6-8957d886ef87.gif)

[2018-02-23 16:28] jasonLaster commented on #5512
Thanks for filing and starting the conversation. Do you have examples where our code would be cleaner with this pattern?

[2018-02-23 17:46] Loirooriol opened #5515 "[Sources] Debugger does not distinguish scripts with different GET parameters"
Create a page with

[code]

where that script is

[code]

Due to `debugger`, the debugger will show a script.php tab with the first script. Resume the script, right-click the tab and choose "Reveal in tree". This will open a tab with the second script!

In Sources, script.php is listed only once, and refers to the second one.

[2018-02-23 18:22] AnshulMalik commented on #5515
Never seen people embedding php output as script

[2018-02-23 18:29] Loirooriol commented on #5515
Well, not sure if it uses PHP, but Microsoft uses scripts that depend on the GET parameter. Due to this bug I can't debug why my greasemonkey script is not working.

[2018-02-23 19:18] nyrosmith commented on #5431
I'll close this for now. Feel free to reopen when this happens again or can be reproduced

[2018-02-23 19:18] #5431 closed

[2018-02-23 19:44] jasonLaster commented on #5515
What do we need to fix here:

- reveal tree should take you to the correct file
- the source tree should show both sources and if there's a conflict w/ the filename probably show the params?

[2018-02-23 19:53] Loirooriol commented on #5515
Yes. And I think I added a breakpoint to a script but after reloading the debugger paused in the other one, because I couldn't find the code I was interested to. But maybe that's a different bug, I will know better once I'm able to open the desired script in a tab.

[2018-02-23 19:59] jasonLaster commented on #5515
does `cmd+p` help?

[2018-02-23 20:44] Loirooriol commented on #5515
Thanks, Ctrl+P can distinguish GET parameters. It seems the other issue is not related to this, it's just that the debugger pauses on unexisting breakpoints, does not pause on existing ones, and step-in does something weird that is closer to step-out.

[2018-02-23 21:15] jasonLaster commented on #5515
haha - i need some help parsing this:

[2018-02-23 21:44] Loirooriol opened #5519 "[PrettyPrint] pauses without a bp on load"
1. Load https://www.microsoft.com/en-us/software-download/windows10
2. Open debugger
3. Use Ctrl+P to find sources, search `script.jsx?k=05`, there should only be one result
4. Pretty print
5. Search `n.redirection.redirect = function () {`
6. Add a breakpoint inside that function, e.g. line 4510
7. Reload the page

Result: the debugger pauses at line 5071, the breakpoint list says "No breakpoints

[2018-02-23 21:47] jasonLaster commented on #5491
[code]

[2018-02-23 22:27] CharlesStocky commented on #3346
/unclaim

[2018-02-24 01:38] jasonLaster commented on #5301
I think this was also an issue: https://github.com/devtools-html/debugger.html/issues/5509

[2018-02-24 04:39] tahmidefaz commented on #4071
/unclaim

[2018-02-24 04:42] tahmidefaz commented on #4071
/unclaim

[2018-02-24 06:57] munyari commented on #5512
So the issue here is that the non-functional form of `setState` batches calls, whereas calls to the functional form are executed in series. This is a problem when the state update depends on the previous state. From [the docs](https://reactjs.org/docs/react-component.html#setstate):

I'd be glad to submit a patch as my first contribution to this project :)

[2018-02-24 07:26] nyrosmith commented on #5512
@munyari go for it! Also join our slack if you have questions

[2018-02-24 08:29] lukaszsobek opened #5526 "[Parser] Make parser recognize Angular 1"
With the recent addition of `getFramework` we have the basis for making the parser recognize various frameworks. The tracking issue is here #4777

This issue is for enabling the parser to see Angular files.

[2018-02-24 08:29] lukaszsobek commented on #5526
/claim

[2018-02-24 15:03] subCode321 commented on #5331
i wanna contribute

[2018-02-24 15:06] pradeepgangwar commented on #5331
@subCode321 This issue is fixed now.

[2018-02-24 15:07] subCode321 commented on #5456
/claim

[2018-02-24 15:59] #5331 closed

[2018-02-24 17:06] lukaszsobek commented on #5042
The features seem to be all moved and the changes merged. Is there something more to do here?

[2018-02-24 17:08] #5042 closed

[2018-02-24 17:08] jasonLaster commented on #5042
nope it's done!

[2018-02-24 17:09] #4071 closed

[2018-02-24 17:16] lukaszsobek commented on #4823
@digitarald is it fixed for you now?

[2018-02-24 19:18] munyari commented on #5512
/claim

[2018-02-24 21:07] #5512 closed

[2018-02-24 21:55] munyari commented on #5519
Attempting to reproduce, but my breakpoints are not persistent across page refreshes

[2018-02-25 00:04] jasonLaster commented on #4823
@lukaszsobek not yet. We're still working on landing a patch that passes mochitests

[2018-02-25 00:27] CharlesStocky commented on #5189
I made a PR that was merged for this issue. https://github.com/devtools-html/debugger.html/pull/5387

[2018-02-25 00:36] jasonLaster commented on #5189
Hmm, I think this addressed the issue, but now i see the result count is missing from project search `cmd+shift+f`. I forgot if we want it in file search `cmd+f`

[2018-02-25 00:36] #5189 closed

[2018-02-25 00:37] jasonLaster opened #5528 "[ProjectSearch] should show the result count"
Project search (`cmd+shift+f`) should show the number of found items.

I believe this PR #5387, might of unintentionally removed that functionality.

[2018-02-25 00:38] jasonLaster commented on #5189
Just filed #5528

[2018-02-25 09:03] nyrosmith commented on #5514
/claim

[2018-02-25 09:50] lukaszsobek commented on #5528
/claim

[2018-02-25 22:27] CharlesStocky commented on #5019
This is about to be PR'ed (https://github.com/devtools-html/debugger.html/pull/5415)

[2018-02-26 03:09] gregtatum opened #5532 "Fatal error when hovering over flow typed code"
I'm not sure if it was related, but I was hovering over a bunch of Flow types where it says "undefined" on all the different words, and then the debugger went blank with the following error.

On Nightly 60.0a1 (2018-02-23) (64-bit)

[code]

[code]

[2018-02-26 03:10] gregtatum opened #5533 "Consider adding error boundaries to debugger"
I've been having the debugger going completely blank with some kind of error fairly frequently. Error boundaries would help mitigate some of the mystery of what is going on, and perhaps not leave your application in an invalid state. This is new in React 16.

https://reactjs.org/blog/2017/07/26/error-handling-in-react-16.html

[2018-02-26 03:25] jasonLaster commented on #5532
This looks relevant: `setPopupObjectProperties`

Also, we landed a patch friday that will disable highlighting on flow types. We are also disabling function names and object keys.

[2018-02-26 03:25] jasonLaster commented on #5533
Yep. This will be really helpful

[2018-02-26 05:30] lukaszsobek commented on #4985
Rescoping in another issue. Closing this one.

[2018-02-26 05:30] #4985 closed

[2018-02-26 07:50] jordanch commented on #4326
Howsit @jasonLaster

Swamped @ work. This is still on my radar! Thing's will be slowing down here in a couple weeks and then I'll have more capacity. Cool?

[2018-02-26 09:20] lukaszsobek commented on #5533
What boundaries do we want to set? Seems like every rendered component should have its own, but that would be a lot of change whereas just having it on top level components seems a bit little. Also do errors bubble i.e. if we have one boundary inside another do both trigger or just one.

[2018-02-26 14:19] jasonLaster commented on #4799
Landed!

[2018-02-26 14:19] #4799 closed

[2018-02-26 15:13] Loirooriol commented on #5218
Now I'm getting a similar error when trying to open the debugger in the browser toolbox:

[code]

[2018-02-26 16:23] zeoneo commented on #5500
/claim

[2018-02-26 16:56] jasonLaster commented on #4773
At the moment, when you're viewing one tab that is a react file, then all the tabs show the icon. I think we fixed this earlier, but somehow it regressed.

![](http://g.recordit.co/HWJwTcUPLt.gif)

[2018-02-26 16:58] jasonLaster opened #5534 "[commandbar] the hover background should be flush with the bar"
We recently converted the command bar buttons from divs to buttons. When we did that the hover background stopped filling the bar.

This should be an easy CSS Fix.

<img src='https://shipusercontent.com/0f1e6298f4e7ce014236f7a5e0c0f8c1/Screen%20Shot%202018-02-26%20at%2011.57.36%20AM.png' title='Screen Shot 2018-02-26 at 11.57.36 AM.png' width=256>

[2018-02-26 18:12] bomsy commented on #4773
The issue was with getting the sourcemetadata of the selected source rather than the current source.

Here is the some work on the fix.
[code]

[2018-02-26 19:26] lukaszsobek commented on #5526
Merged. Closing this issue. Noted outstanding parts in tracking issue to be addressed in a future pr.

[2018-02-26 19:26] #5526 closed

[2018-02-26 23:14] AlexisDeschamps commented on #4809
I think I am unable to replicate on Windows 10 with Firefox Nightly in the launchpad or inside a panel. I tried with `Ignore exceptions`, `Pause on uncaught exceptions`, and `Pause on all exceptions`. I think I am just not hitting an exception at all though and the bug could only occur then.

[2018-02-26 23:23] jasonLaster commented on #5002
@wldcordeiro @nyrosmith @lukaszsobek where is this at?

[2018-02-26 23:24] #4964 closed

[2018-02-26 23:24] jasonLaster commented on #4958
I think this is related to the debugger is blank bugs

[2018-02-27 03:17] atwalg2 commented on #5102
/claim

[2018-02-27 06:29] MaxBittker opened #5543 "Runtime errors being caught by event-emitter"
The context of this issue is that I'm trying to integrate error reporting into this repo so that we can have visibility into uncaught exceptions in debugger.html that should be fixed.

The issue I had was that errors thrown from inside the render function of components (and very likely other lifecycle methods*) were **not** hitting the global error handler, but were instead being console.log'd by

[2018-02-27 13:57] haoRchen commented on #5456
hi @subCode321, I'm still tinkering with this issue

[2018-02-27 14:38] jasonLaster commented on #5519
Hmm, I'll look into this next week after we address some other pretty print / breakpoint bugs

[2018-02-27 14:39] jasonLaster commented on #3689
@TitanNano can you try this now in Nightly

[2018-02-27 14:50] jasonLaster commented on #4013
The cause is two fold

- stepping stops at each new location
- resuming does not require that the pause location advance

[code]

[2018-02-27 14:58] #5287 closed

[2018-02-27 14:58] #5278 closed

[2018-02-27 15:09] jasonLaster commented on #5494
Thanks @tommai78101 i believe Nightly should be fixed. Let me know

[2018-02-27 15:09] #5494 closed

[2018-02-27 15:10] jasonLaster commented on #5497
This is similar to #4852

[2018-02-27 15:10] #5491 closed

[2018-02-27 15:28] jasonLaster commented on #5534
Here is a GIF of what we do with the toggle buttons
![](http://g.recordit.co/goOS750LpX.gif)

[2018-02-27 15:47] jasonLaster opened #5544 "[Platform] findScripts slows down opening the debugger"

[2018-02-27 15:50] codehag commented on #5403
We should revisit this from a product perspective, because it is likely that we are not getting useful data from telemetry for performance. in this case we might be able to get rid of a few probes

[2018-02-27 15:53] codehag commented on #5301
Hey @gregtatum !

We made a change to hopefully counteract what you were saying. I will close this since we do not have an str and there is no way to be certain that its fixed. If you see it again and can reproduce, please reopen

[2018-02-27 16:04] jimblandy opened #5545 "Debugger breaks run-to-completion when Worker onmessage callbacks fire"
This is a proxy for [bugzilla 1426467][bug]. This is just a summary; see Bugzilla for current information.

When there is a worker that is sending messages down, "step in" can accidentally land in the worker.onmessage callback

STR: (https://dbg-setinterval.glitch.me/)

1. click click me
2. step over
3. step IN

AR: land in funca
ER: land in onmessage

[bug]: https://bugzilla.mozilla.org/show_bug.

[2018-02-27 16:04] jimblandy commented on #5545
Analysis:

Here's what's going on in this bug:

- In the midst of some JavaScript invocation, the worker's parent window hits a
  breakpoint. The devtools server calls nsIDOMWindowUtils::SuspendTimeouts, and
  starts a nested event loop.

- The worker sends the parent a message, enqueuing a runnable on the main thread.

- The main thread's event loop processes the runnable. Since the parent window

[2018-02-27 16:07] jimblandy opened #5546 "Stack captures in async functions is broken"
This is a proxy for [bugzilla 1438121][bug]. This is just a summary; see Bugzilla for current information.

From ochameau:

While working on bug 1437828 and getting rid of Task.jsm in favor of async/await,
I wasn't able to easily refactor this test to use async/await.
It looks like we loose some information in stack frames when we use async/await instead of Task.jsm!

You can see the failure here:

[2018-02-27 16:08] jimblandy commented on #5546
Analysis:

When capturing frames in an activation that had both 1) an async parent stack
established by AutoSetAsyncStackForNewCalls and 2) SavedFrames cached in the
activation's LiveSavedFramesCache, SavedStacks::insertFrames would supplant the
SavedFrame chain from the cache with the async parent stack, causing frames to
be dropped.

The code also looked for frames in the wrong activation's Live

[2018-02-27 16:08] jasonLaster commented on #5366
@darkwing was testing in the launchpad. We'll now verify in the panel.

[2018-02-27 16:09] nyrosmith commented on #5498
/claim

[2018-02-27 17:10] berraknil commented on #5534
/claim

[2018-02-27 17:19] gregtatum commented on #5301
Thanks, will do!

[2018-02-27 17:28] jasonLaster commented on #5543
@nchevobbe @codehag do you know what's going on here?

[2018-02-27 20:49] #4823 closed

[2018-02-27 20:50] #3453 closed

[2018-02-27 20:52] berraknil commented on #5448
/claim

[2018-02-27 20:52] #5482 closed

[2018-02-27 20:54] jasonLaster commented on #5267
how's it going @Rohanhacker

[2018-02-27 20:54] #5223 closed

[2018-02-27 20:55] jasonLaster commented on #5155
Yo - do you have time to do this?

[2018-02-27 20:55] jasonLaster commented on #5139
closing because @darkwing is looking at this stuff

[2018-02-27 20:56] jasonLaster commented on #5091
Hey @gurumukhi how's it going?

[2018-02-27 20:57] jasonLaster commented on #5047
@nyrosmith i'm taking your head off it as it's been 2 months. feel free to re-claim it

[2018-02-27 20:58] jasonLaster commented on #4885
i believe this is done

[2018-02-27 20:58] #4885 closed

[2018-02-27 20:59] calebstdenis commented on #5155
@jasonLaster I can spare an hour or two this week. :)

[2018-02-27 20:59] jasonLaster commented on #4326
closing this as we'll have a new issue for the awesome new breakpoints pane

[2018-02-27 20:59] #4326 closed

[2018-02-27 20:59] #4078 closed

[2018-02-27 21:00] jasonLaster commented on #3601
@Fischer-L how is this going?

[2018-02-27 21:01] #2545 closed

[2018-02-27 21:02] jasonLaster commented on #1989
@NickMalt if you're free these days claim it. Otherwise, this is now open for anyone to claim

[2018-02-27 21:03] #1661 closed

[2018-02-27 21:04] #1686 closed

[2018-02-27 21:54] violasong commented on #4453
Sometimes Pretty Print takes a while to work (e.g. 4 seconds) with no indication that anything's happening - seems like we need a progress indicator of some sort, like the bouncing ball animation from the Firefox loading tabs.

[2018-02-28 02:53] darkwing opened #5552 "Highlighted SourceTree item loses highlight when ContextMenu -> Copy Source URI is clicked"
Clicking a context menu item within the source tree makes the selected source lose focus.

[2018-02-28 03:37] darkwing commented on #5552
A few more notes:

1.  The focus is definitely lost during the context menu/item's `onMousedDown` event.

2.  The focus is even lost when the mouse-down'd context menu item is disabled, making me think it's an entire context menu thing.

[2018-02-28 03:52] jasonLaster commented on #5552
this might be a launchpad thing, but not a panel thing

[2018-02-28 04:35] Rohanhacker commented on #5267
Sorry couldn't make a pr got a little busy I will make a PR tonight. I am a bit confused though. Should I put the loading state for symbols in ast -> symbols as loadedstate in a way similar to how its being done for sources or should I put it somewhere else.

[2018-02-28 05:51] karlcow opened #5553 "Blackbox a function in a script."
Currently in the debugger UI, you can blackbox a full script. This is very useful to be able to get rid of a specific library for a step by step analysis of the code.

It would be cool to go a step further.

Blackbox a specific function.

Currently I'm diagnosing a Web site for webcompat https://github.com/webcompat/web-bugs/issues/15683
The page is stepping into this `autoPlayIterator` automagica

[2018-02-28 08:51] #5266 closed

[2018-02-28 15:29] jasonLaster commented on #5553
Thanks for filing. That's a great idea @karlcow.

We've discussed this feature in the context of blackboxing original files as well. Original files are a portion of a bundle typically and they should also be able to be blackboxed.

[2018-02-28 15:31] jasonLaster commented on #5267
Good question @Rohanhacker we currently use `symbols && symbols.identifiers.length > 0` to indicate that we're loading. Feel free to do the same.

The better thing to do is to have a proper symbols loading flag and to stop using the `emptySymbols` object. If that makes sense feel free to do this change first and then outline view.

the two places we do symbols loading now are QuickOpen and actions

[2018-02-28 15:37] jasonLaster opened #5554 "[Symbols] Refactor the loading state"
We currently use a hack to determine if symbols are loading `symbols && symbols.identifiers.length >`.

The better thing to do is to have a proper symbols loading flag and to stop using the emptySymbols object.

the two places we do symbols loading now are QuickOpen and actions/preview.

- https://github.com/devtools-html/debugger.html/issues/5371
- https://github.com/devtools-html/debugger.html/b

[2018-02-28 16:29] Rohanhacker commented on #5554
@jasonLaster Thanks for the reply. I think It would make more sense to refactor it first and then finish this outline issue. I'll fix #5267 first and then get back to this .

[2018-02-28 16:30] Rohanhacker commented on #5267
@jasonLaster Thanks for the reply. I think It would make more sense to refactor it first and then finish this outline issue. I'll fix #5267 first and then get back to this .

[2018-02-28 17:02] wldcordeiro commented on #5002
@nyrosmith I normally name reducers after the branch they are in the Redux state tree. So the `astReducer` becomes `ast` because that's the tree name. If you had multiple reducers within `ast` then you might have `const ast = combineReducers({ symbols, identifiers })` for example

[2018-02-28 20:40] wldcordeiro commented on #5443
This is a little harder just because if we put a `:` in the input the placeholder is cleared, but it should be doable and would be a nice UX enhancement.

[2018-02-28 20:51] jasonLaster opened #5558 "[mochitest] Move requestLongerTimeout to the top"
We currently have `requestLongerTimeout` in the `add_task` function, it should be on the top of the files per mozilla convention.

https://searchfox.org/mozilla-central/source/browser/base/content/test/captivePortal/browser_CaptivePortalWatcher.js#6

[2018-02-28 21:14] darkwing commented on #5366
I finally got edge debugger working in a Firefox build and can confirm that this is happening. :(

[2018-02-28 21:23] loganfsmyth opened #5561 "[Scopes] Tracking issue for known original scope mapping tasks"
Not necessarily all required, but a general tracking issue for known tasks around the original scope work

#### Bugs
* [x] Exclude Flowtype bindings from original scope binding lists
* [x] Generate proper scope bindings when bindings are referenced before they are declared
* [x] Imported bindings that have been optimized out may cause errors
* [x] Handle Webpack's eval-source-map `devtool` option

[2018-02-28 22:31] darkwing commented on #5366
A few additional notes:

* On edge build for Windows:  One Ctrl+F shows the "Search in file" bar but doesn't focus on the input, another Ctrl+F does nothing, then another Ctrl+F shows the second search box, this time focusing on it.

* On LaunchPad for Windows:  Everything works as intended: only the "Search File" box displays and the focus is set properly every time.

* On edge build for Mac:  Ev

[2018-02-28 22:35] jasonLaster commented on #5366
Nice writeup!

Here is a useful link to start looking for inconcistencies
https://github.com/devtools-html/debugger.html/blob/master/src/utils/editor/create-editor.js#L15-L32

you can either make changes here and run `node ./bin/copy-assets` w/ the right flags

or just debug here

https://searchfox.org/mozilla-central/source/devtools/client/debugger/new/debugger.js#49123

[2018-02-28 23:41] Loirooriol opened #5563 "Breakpoints are toggled one by one"
Create various breakpoints. Toggle the "Enable breakpoints"/"Disable breakpoints" checkbox.

Result: the breakpoints are toggled one by one. You can even click the checkbox again, and then some will end up checked and some not.

![screencast](https://user-images.githubusercontent.com/7477678/36819293-395693ce-1ce9-11e8-9a1a-3af8bb60ff5d.gif)

[2018-03-01 01:27] darkwing opened #5564 "[Editor] "Reveal in Tree" Editor Context Menu Item Switches from PrettyPrinted Tab to Original Tab"
Using this context menu item should have no effect on the selected tab.

![wtfswitch](https://user-images.githubusercontent.com/46655/36822384-615346d2-1cbd-11e8-9884-8ce0460aa1af.gif)

[2018-03-01 06:00] nyrosmith commented on #5563
/claim

[2018-03-01 11:55] nt1m opened #5566 "Remove unused css variables"
We have some css properties that are defined, but never used

Properties
- `--theme-search-overlays-semitransparent`
- `--theme-search-overlays-semitransparent`
- `--theme-codemirror-gutter-background`

Bugzilla bugs
- https://bugzilla.mozilla.org/show_bug.cgi?id=1441929
- https://bugzilla.mozilla.org/show_bug.cgi?id=1441879
- https://bugzilla.mozilla.org/show_bug.cgi?id=1441878

[2018-03-01 13:18] jasonLaster commented on #5564
@darkwing could you add an STR for how to reproduce?

[2018-03-01 13:19] ochameau opened #5568 "Keyshortcuts no longer work when breaking and focusing the page"
STR:
* open data:text/html,<script>onclick=() => {debugger;}</script>
* click on the page while the debugger is opened
* click on the page to ensure it has the focus
* try hitting any keyshortcut: F5, Ctrl+Maj+I (toggle toolbox), ... many key shortcuts no longer work. Some other still do, like Ctrl+TAB to switch to the next tab.

[2018-03-01 13:22] jasonLaster commented on #4872
Sorry for the slow reply, we're working on moving the pause on exceptions buttons

![Pasted Image 1.tiff](https://shipusercontent.com/672a1709e20b1aa5e67cfa346962dae7/Pasted%20Image%201.tiff)

[2018-03-01 13:23] #4872 closed

[2018-03-01 13:26] jasonLaster commented on #5461
We're exploring a new breakpoints UI. We're weighing the benefits of a remove all and disable all button

![image.png](https://shipusercontent.com/a8c70ac9a10de67695d9555e74cf7a7a/image.png)

[2018-03-01 14:57] gurumukhi commented on #5091
/unclaim

[2018-03-01 14:59] gurumukhi commented on #5091
Hey @jasonLaster , I couldn't work on this for some personal reasons. Unclaiming it if others wanna pick this up, I will take this/other bugs once I get some time next.

[2018-03-01 15:30] jasonLaster commented on #5091
no worries. thanks for the update

[2018-03-01 17:18] Fischer-L commented on #3601
Yes, will rebase and update again.

[2018-03-01 17:29] jasonLaster commented on #3601
thanks! also, do you have an issue/pr for the redux toggle all bps? @nyrosmith added a PR for this recently too...

[2018-03-01 17:53] darkwing commented on #5564
* Right-click a pretty-printed tab's contents to see its context menu
* Click on the "Reveal in Tree" item

You'll then see the tab change to its original source counterpart.

[2018-03-01 18:26] jasonLaster commented on #5564
This issue might be blocked by the ongoing pretty print refactoring.

[2018-03-01 18:28] jasonLaster opened #5570 "[Breakpoints] improve breakpoint syncing cases"
Julia, from QA, did a fantastic stress test of breakpoint syncing and found some great edge cases.

1. breakpoints saved in the module context (w/ multiple code changes, toggles)
2. breakpoints saved in the module context (w/ the line deleted)
   - i think this is the expected behavior

[overview]

[overview]:https://docs.google.com/document/d/1G9Dt2KpsO07u4RE3w23ws3j7At9TqVTm2xoTPLvr8js/edit#

[2018-03-01 18:31] nyrosmith commented on #5091
/claim

[2018-03-01 18:57] AlexisDeschamps commented on #3216
I was actually able to replicate the bug about a week ago, but now I don't seem to be able to. Could recent updates have fixed the bug?

Here's what I get now:
![ezgif-4-ed56a099f0](https://user-images.githubusercontent.com/12681350/36863696-78eb8638-1d58-11e8-8018-5814bb7f920f.gif)

[2018-03-01 18:59] lauragift21 commented on #5566
I'll like to work on this.

[2018-03-01 19:03] sunnywalker commented on #5566
it looks like `--theme-codemirror-gutter-background` is being used in `src/utils/editor/source-editor.css` lines 170 and 188

[2018-03-01 19:04] jasonLaster commented on #5566
Thanks!

By the way, `breakpoint-hover-background` was fixed here https://hg.mozilla.org/integration/autoland/rev/f6264884db15

[2018-03-01 19:05] jasonLaster commented on #3216
ooh...

Try doing a git bisect. Or basically git checkout a commit from a week or two ago and run `yarn; yarn start`

[2018-03-01 19:24] lauragift21 commented on #5566
Thanks for pointing that out. I have a problem with locating this file src/utils/editor/source-editor.css

[2018-03-01 20:08] msujaws commented on #5566
Bug 1441882 added a test that catches these types of errors. When fixing this, the entry for this bug will need to be removed from the whitelist in browser_parsable_css.js.

[2018-03-01 21:44] jasonLaster opened #5578 "Re-Enable reverted work"
I recently reverted two commits and disabled the babel-stepping test to get travis green. We should do the work to re-enable it.

[2018-03-01 23:44] jasonLaster opened #5581 "[Proposal] remove chrome support"
The debugger has had 80% chrome/cdp support since June of 2016. We've hoped to get to CDP support in 3-6 months ever since June of 2016.

I think we should acknowledge that this is not on the 3-6 month roadmap and we should remove it for now. It will still be in git, so it won't be hard to bring back when the time is right.

### What would removing it look like:

1. the `src/client` directory will

[2018-03-02 03:36] Fischer-L commented on #3601
No I don't have pr about bps.

[2018-03-02 04:00] lukaszsobek commented on #5581
A standalone debugger? Count me in on that one!

Back on topic:
I think hiding the chrome support for now is a good option in terms of trading it for more focus on debugger being a great product.

[2018-03-02 04:48] lukaszsobek commented on #3673
/claim

[2018-03-02 04:51] lukaszsobek commented on #5528
Merged. Closing.

[2018-03-02 04:51] #5528 closed

[2018-03-02 08:28] nyrosmith commented on #5463
@siefkenj Do you refer to the Console or the debugger? This repo is just handling the debugger.
None the less I just checked both (console & debugger) with 58.0.2 and it works for me. Please update Firefox.
Closing for now but feel free to reopen If you still have issues after updating.

[2018-03-02 08:28] #5463 closed

[2018-03-02 08:47] jnachtigall opened #5584 "[Windows] Ctrl+P `.highlight` markers font looks blurry on Windows"
I noticed this since a 3, 4 weeks. The highlighted, bold parts of the Search matches of `Ctrl+P` look blurry on Windows. No idea why, maybe some odd fonts settings. I also captured the browser.xul output, but cannot see anything obvious in the CSS:

![image](https://user-images.githubusercontent.com/3307404/36890421-0f680514-1dfe-11e8-9597-1042e7d2a4e6.png)

See how bold, kinda ugly the bold `api`

[2018-03-02 14:10] jasonLaster commented on #5301
#5490 was reverted

[2018-03-02 14:11] jasonLaster commented on #5509
#5524 was reverted

[2018-03-02 14:17] #5366 closed

[2018-03-02 14:18] jasonLaster commented on #5447
@darkwing i think we should consider this blocked by #5448

[2018-03-02 14:18] #3479 closed

[2018-03-02 14:22] jasonLaster opened #5585 "[Stepping] Re-enable babel-stepping test"
We recently had an issue with travis, which allowed the test to land before it was consistently working. We should prioritize re-enabling it.

[2018-03-02 14:22] #5578 closed

[2018-03-02 14:22] jasonLaster commented on #5578
closing this as we have re-opened all of the issues

[2018-03-02 14:29] darkwing commented on #5447
Agreed; I think we can/should add a bottom bar to the sources pane, as we have for outline alphabetization.  We can have a "Clear directory root" button there.

[2018-03-02 15:28] nchevobbe commented on #5463
Hello @siefkenj , this is probably some variant of https://bugzilla.mozilla.org/show_bug.cgi?id=1371936 .
Bug for the console should be filed in bugzilla. You can sign-in with your Github account and use this URL to submit bugs https://bugzilla.mozilla.org/enter_bug.cgi?product=Firefox&component=Developer%20Tools%3A%20Console

[2018-03-02 16:40] jasonLaster commented on #4629
Removing launchpad should be a top priority

- [ ] create a new renderRoot
- [ ] separate showMenu

The next steps which should be nice are

- [ ] get rid of immutable
- [ ] externalize assets/panel/properties

http://g.recordit.co/URWKiXqD0E.gif

[2018-03-02 16:45] lukaszsobek commented on #5451
Merged. Closing.

[2018-03-02 16:45] #5451 closed

[2018-03-02 16:53] darkwing opened #5587 ""type specification of context `shortcuts` is invalid;" Warnings"
As a result of merging https://github.com/devtools-html/debugger.html/pull/5579, I'm now seeing a bunch of these errors:

[code]

[2018-03-02 16:53] jasonLaster commented on #4629
here are some visuals of what it would look like to trim down the bundle

<img src='https://shipusercontent.com/d555561dc53c881f2b8dd14764dc90b9/bundles.jpg' title='bundles.jpg' width=2730>

[2018-03-02 17:04] jasonLaster commented on #4629
[code]

[2018-03-02 18:34] jasonLaster opened #5589 "Fix React 16.2 warning for PureComponent"
We recently upgraded to React 16.2 and we're now appropriately inundated with helpful warnings in both the console and the jest unit tests. It'd be great to get some help cleaning these up

[code]

[2018-03-02 18:43] nyrosmith commented on #5589
/claim

I'll also look at the context related warnings too.

[2018-03-02 19:05] nyrosmith commented on #5587
/claim

[2018-03-02 19:07] jasonLaster commented on #5585
should be fixed soon

[2018-03-02 19:08] jasonLaster commented on #5301
This should be easy to bring back. The issue is with the new mochitest

[2018-03-02 20:02] lukaszsobek commented on #5091
Merged. Closing.

[2018-03-02 20:02] #5091 closed

[2018-03-02 21:30] Loirooriol opened #5595 "[Expressions] don't allow async generator functions"
Create a watch expression with these codes:

 - `(function(){})`: works!
 - `(function*(){})`: works!
 - `(async function(){})`: works!
 - `(async function*(){})`: does NOT work! Why??

Analogous for function declarations instead of function expressions.

[2018-03-02 21:50] Loirooriol opened #5596 "[Stepping] Can't step over upper in call stack"
Run this code in the console:

[code]

1. The debugger pauses at `debugger;` in function `g`.
2. Step in. The debugger pauses at `var bar = f();` in function `g`.
3. Step in. The debugger pauses at `var foo = 123;` in function `f`.
4. In call stack, click function `g`. The debugger goes back to `var bar = f();` in function `g`.
5. Step over.

Result: The debugger pauses at `++foo;` in function `f`

[2018-03-02 22:11] jasonLaster commented on #5596
@Loirooriol so just to be clear, you would expect a different behavior stepping behavior based on the selected frame in the call stack?

[2018-03-02 22:23] Loirooriol commented on #5596
Yes, I think it would be more useful. Not sure if it's what debuggers usually do, though.

[2018-03-02 22:39] jasonLaster commented on #5596
Yeah, its certainly something I've thought about as well. It seems like something we could do in the *happy* case.

One challenge would be if we hit a debugger statement or breakpoint while heading to the selected path, but that might be okay...

[2018-03-03 21:37] lukaszsobek commented on #5584
/claim

[2018-03-04 13:42] andreicristianpetcu opened #5598 "[SourceMaps] update to source-map to 0.7.2"
Hi,

Source-map got new and shiny performance fixes in 0.7.2. It would be really cool if the debugger would benefit from the following fixes:

https://hacks.mozilla.org/2018/01/oxidizing-source-maps-with-rust-and-webassembly/
http://fitzgeraldnick.com/2018/02/26/speed-without-wizardry.html

[2018-03-04 14:05] andreicristianpetcu commented on #5598
Relevant issue in upstream https://github.com/babel/babel/issues/7486

[2018-03-04 14:10] jasonLaster commented on #5598
Thanks! Good call

[2018-03-04 15:09] andreicristianpetcu commented on #5598
Here is the list of dependencies that have an old source-maps as a dependency

babel-generator@^6.18.0, babel-generator@^6.26.0:
"@babel/generator@7.0.0-beta.40":
babel-cli@^6.7.5:
babel-core@^6.0.0, babel-core@^6.25.0, babel-core@^6.26.0:
babel-generator@^6.18.0, babel-generator@^6.26.0:
babel-register@^6.18.0, babel-register@^6.26.0:
clean-css@4.1.x:
csso@~2.3.1:
devtools-map-bindings@^0.3.3:
de

[2018-03-04 15:14] andreicristianpetcu commented on #5598
Here is a list of dependencies that depend on source-map

babel-generator
babel-cli
babel-core
babel-register

clean-css
csso
devtools-map-bindings
devtools-source-map
handlebars
istanbul-lib-source-maps
jest-cli
jstransform
postcss
pretty-fast
recast
snapdragon
source-map-support
uglify-es
uglify-js
uglifyjs-webpack-plugin
webpack-sources
webpack

convert-source-map through inline-source-map

---

[2018-03-04 15:15] andreicristianpetcu commented on #5598
Any idea which one would be more important?

[2018-03-04 16:55] #4879 closed

[2018-03-05 03:14] jasonLaster opened #5602 "[Stepping] Speed up stepping over await calls"
We currently check to see if we're at an await expression and if we are we look ahead for the next statement's location so that we if the user wants to step to it, we can set a hidden breakpoint and resume.

This strategy has one key drawback, every time we think we might be at an await expression, we have to check and calculate the next statement. In big files, this means expensive traversals on

[2018-03-05 04:04] jasonLaster opened #5603 "[Breakpoints] show breakpoint on hover"
I recently was looking at "Continue to Line" for time travel debugging. CtL got me thinking it about two things:

1) it would be nice to have a hover effect in the gutter. For instance, hovering on a line where you can add a breakpoint shows a light breakpoint. With continue to here, hovering on a line that you can jump to with the alt key pressed could show a light background color indicating you

[2018-03-05 05:49] #5587 closed

[2018-03-05 05:49] #5589 closed

[2018-03-05 14:31] ochameau opened #5605 "Debugger should stop React rendering while it is in background"
Console started doing that in [this bug](https://bugzilla.mozilla.org/show_bug.cgi?id=1399242) and more recently Netmonitor applied the same strategy in [this bug](https://bugzilla.mozilla.org/show_bug.cgi?id=1419350).
Console and Netmonitor converged into one shared helper module, via [this patch](https://bugzilla.mozilla.org/show_bug.cgi?id=1443121). This helper is located in [devtools/client/sh

[2018-03-05 14:44] #5498 closed

[2018-03-05 16:36] calebstdenis commented on #5155
I'm unclaiming this for now to prioritize another issue. If anyone picks it up before me, please don't hesitate to reach out on Slack.

[2018-03-05 16:37] calebstdenis commented on #5155
/unclaim

[2018-03-05 17:10] nyrosmith commented on #5500
Closing as https://github.com/devtools-html/debugger.html/pull/5591 got merged

[2018-03-05 17:10] #5500 closed

[2018-03-05 17:35] nchevobbe commented on #5426
Here's a version with a WIP PR on the Reps side, with colors indicated by @violasong

<img width="285" alt="image" src="https://user-images.githubusercontent.com/578107/36990149-01b1e2ca-20a4-11e8-8abb-0c4fd5a606e2.png">

[2018-03-05 18:17] jasonLaster commented on #5426
@nchevobbe could you share the same version with some scopes expanded.

My initial thought is that might be too dark because it's darker than the accordion pane header.

[2018-03-05 19:23] darkwing commented on #5423
Reproducing this bug is difficult.  I'm seeing desired functionality:

![toolsoverlap](https://user-images.githubusercontent.com/46655/36994944-532eecc8-2078-11e8-9129-52dd173ac2f8.gif)

Will keep looking though

[2018-03-05 19:26] jasonLaster commented on #5423
Yeah, that's really strange.

[2018-03-05 19:26] #5423 closed

[2018-03-05 19:27] jasonLaster commented on #3216
yep, i couldn't reproduce either. @julienw mind trying again?

[2018-03-05 19:28] #3216 closed

[2018-03-05 20:04] darkwing commented on #5603
Maybe a light grey when you hover, so it's not confused with disabled breakpoint?  I love the idea though.

[2018-03-05 20:06] jasonLaster commented on #5603
yeah - that's a good point. i was worried about disabled bp state too

[2018-03-05 20:16] nyrosmith commented on #5602
/claim

[2018-03-05 20:42] nyrosmith commented on #5585
Closing as the PR got merged

[2018-03-05 20:42] #5585 closed

[2018-03-05 20:48] violasong commented on #5603
Love this idea! More informative than the empty lines, and lol that's so true re: zebra effect.

Sounds like the same line could have either a breakpoint added or CtL activated, so there may be a need for a combined indicator?

[2018-03-05 20:50] jasonLaster commented on #5603
ooh good point. You could jump to a line with a breakpoint.

I kinda was lazy when i chose the background color for CtL maybe we need breakpoint like icon that we can show?

[2018-03-05 21:00] violasong commented on #5603
Yes, maybe we could incorporate the little arrow from "jump to debugger." Now I'm also wondering if CtL should allow you to alt-click anywhere in the line of code to surface this feature more (though we wouldn't want to conflict with the all-important 2-D text selection :)). In that case we could do an effect with the entire row. Not sure how surfaced we want this feature to be - that might be too

[2018-03-05 21:21] jasonLaster commented on #5603
Yeah, Continue to Function (CtF) or Jump to Function (JtF) is definitely a thing. We discussed it with @bomsy in the fall.

Technically we basically are there, but have held off because the UX can be awkward and we've been a bit busy :wink:

Here is a GIF of a minimal CtF that feels a lot like an IDE.

![](http://g.recordit.co/0xPGV7yEB9.gif)

By the way, I used alt click earlier. I think editors

[2018-03-05 21:35] violasong commented on #5603
Ah, interesting. I noticed that in Chrome debugger, holding down Cmd causes a few keywords to be highlighted inside the function, and clicking them seems to activate CtF. Seems nice to be able to see the clickable targets upon holding Cmd, if there aren't going to be too many of them.

[2018-03-05 21:42] jasonLaster commented on #5603
yeah, very similar!

[2018-03-05 22:27] #5333 closed

[2018-03-05 22:28] #5301 closed

[2018-03-05 22:32] #5534 closed

[2018-03-05 22:33] #4935 closed

[2018-03-05 22:35] #3459 closed

[2018-03-05 22:35] jasonLaster commented on #3459
I'm moving the issue to the icebox. We will re-prioritize the issues in the icebox at the beginning of the next release in 6 weeks.

[2018-03-05 22:38] darkwing commented on #5552
This happens within the panel as well

[2018-03-05 22:39] jasonLaster commented on #3599
I'm closing this issue as it's a platform bug that we will fix in MC

[2018-03-05 22:39] #3599 closed

[2018-03-05 22:43] jasonLaster commented on #1972
Lets move the conversation back to bugzilla as the work will be done in platform / server

[2018-03-05 22:43] #1972 closed

[2018-03-05 22:44] #4047 closed

[2018-03-05 22:44] jasonLaster commented on #4047
We can close this as it will be addressed by the pause points work #5537

[2018-03-05 22:47] jasonLaster commented on #4837
This will be 10X easier now that sources uses a record.

We should be able replace ALL of the toJS calls now because `source.text` works as well as `source.get("text")`

[2018-03-05 22:48] jasonLaster commented on #4857
@digitarald can you re-confirm this. it might work now

[2018-03-05 22:49] jasonLaster commented on #5605
closing as it's a duplicate of #4896

[2018-03-05 22:49] #5605 closed

[2018-03-05 22:49] jasonLaster commented on #4896
CC

Console started doing that in [this bug](https://bugzilla.mozilla.org/show_bug.cgi?id=1399242) and more recently Netmonitor applied the same strategy in [this bug](https://bugzilla.mozilla.org/show_bug.cgi?id=1419350).
Console and Netmonitor converged into one shared helper module, via [this patch](https://bugzilla.mozilla.org/show_bug.cgi?id=1443121). This helper is located in [devtools/clien

[2018-03-05 23:24] #5237 closed

[2018-03-05 23:55] #5445 closed

[2018-03-06 00:04] #4773 closed

[2018-03-06 00:05] jasonLaster commented on #4958
I think this was fixed by this bug #5301

[2018-03-06 00:05] #4958 closed

[2018-03-06 00:07] #3346 closed

[2018-03-06 00:08] jasonLaster commented on #1989
I'm moving the issue to the icebox. We will re-prioritize the issues in the icebox at the beginning of the next release in 6 weeks.

[2018-03-06 00:08] #1989 closed

[2018-03-06 00:11] jasonLaster commented on #4824
I'm closing this bug as we'll solve it in the larger breakpoint ux sprint

[2018-03-06 00:11] #4824 closed

[2018-03-06 00:12] jasonLaster commented on #5255
I'm moving the issue to the icebox. We will re-prioritize the issues in the icebox at the beginning of the next release in 6 weeks.

[2018-03-06 00:12] jasonLaster commented on #5260
I'm moving the issue to the icebox. We will re-prioritize the issues in the icebox at the beginning of the next release in 6 weeks.

[2018-03-06 00:12] #5260 closed

[2018-03-06 00:13] jasonLaster commented on #4117
I'm moving the issue to the icebox. We will re-prioritize the issues in the icebox at the beginning of the next release in 6 weeks.

[2018-03-06 00:13] #4117 closed

[2018-03-06 00:14] jasonLaster commented on #5300
I'm moving the issue to the icebox. We will re-prioritize the issues in the icebox at the beginning of the next release in 6 weeks.

[2018-03-06 00:14] #5300 closed

[2018-03-06 00:19] jasonLaster commented on #5125
I'm moving the issue to the icebox. We will re-prioritize the issues in the icebox at the beginning of the next release in 6 weeks.

[2018-03-06 00:19] #5125 closed

[2018-03-06 00:19] jasonLaster commented on #4788
I'm closing this issue as we fixed the primary blocker. But I think we have some other issues with storybook which we should probably address as well...

[2018-03-06 00:19] #4788 closed

[2018-03-06 00:23] jasonLaster opened #5614 "[Storybook] Remove storybook for the time being"
[Storybook] is an interactive ui development environment for react components. It makes it easier to document a components many states and develop quickly.

We've had storybook for the history of the project, but have not taken advantage of it to it's full potential.

- for awhile we built features in storybook first (call stacks)
- for awhile we had perceptual diffing (percy)

At the moment it is

[2018-03-06 00:24] jasonLaster commented on #4980
I'm moving the issue to the icebox. We will re-prioritize the issues in the icebox at the beginning of the next release in 6 weeks.

[2018-03-06 00:24] #4980 closed

[2018-03-06 00:24] jasonLaster commented on #4555
I'm moving the issue to the icebox. We will re-prioritize the issues in the icebox at the beginning of the next release in 6 weeks.

[2018-03-06 00:24] #4555 closed

[2018-03-06 00:25] jasonLaster commented on #5007
this should be fixed. Let me know if it's not.

[2018-03-06 00:25] #5007 closed

[2018-03-06 00:27] jasonLaster commented on #4976
Here are the docs that we have in the debugger client

https://github.com/devtools-html/debugger.html/blob/master/docs/client.md#L32

happy to add to it if you have questions

[2018-03-06 00:27] #4976 closed

[2018-03-06 00:27] jasonLaster commented on #4929
Hi @mattwellss can you please refile in http://bugzilla.mozilla.org/

[2018-03-06 00:27] #4929 closed

[2018-03-06 00:28] jasonLaster commented on #4848
This should be fixed

[2018-03-06 00:28] #4848 closed

[2018-03-06 06:29] yoshimo opened #5615 "Extend pretty printing to the html source as well"
The html source of a website can become quite hard to read sometimes if the creator uses whitespace excessively and prefer extremely long lines that don't wrap early.
Also comments sometimes are in the middle of source code and interrupt the reading flow. Sometimes that happens on purpose.

Therefore i would suggest to pretty print not only minified JS/Css code but html too.
Remove whitespace and

[2018-03-06 07:53] nchevobbe commented on #5426
Yes, I agree:

<img width="489" alt="image" src="https://user-images.githubusercontent.com/578107/37020178-379747f0-211b-11e8-8a94-20b749eed1d5.png">

Here's with non-bold blocks:

<img width="437" alt="image" src="https://user-images.githubusercontent.com/578107/37020217-583f1564-211b-11e8-9c05-2450dd63a6c9.png">

Here's with the same color as the accordion headers:

<img width="391" alt="image"

[2018-03-06 07:55] nchevobbe commented on #5426
Here's what's needed on the debugger side:
[code]

[2018-03-06 10:30] julienw commented on #3216
yes I believe this is fixed

[2018-03-06 13:35] zeoneo commented on #5341
/claim

[2018-03-06 13:45] jasonLaster commented on #5426
Great. Thanks

[2018-03-06 13:49] jasonLaster commented on #5615
Thanks for the suggestions @yoshimo.

I think this is difficult because the debugger is not really oriented around HTML. The reason we show the document is because it has inline scripts. In the future we might just show the individual inline scripts without the document.

I think a better place to see a formatted version of an html file would be the network monitor which shows the resources.

[2018-03-06 13:49] #5615 closed

[2018-03-06 14:08] jasonLaster opened #5616 "[Frames] Refactor utility methods"
I've noticed that we have added a lot of utilities in the frame module.

- some of them are complicated and deserve their own module and tests
- some should be moved to a functions util directory
- we should move to a `/frame/index.js` pattern

Here is the [branch] i started

[branch]: https://github.com/devtools-html/debugger.html/compare/master...jasonLaster:refactor-frames?expand=1

[2018-03-06 15:07] nyrosmith commented on #5614
/claim

[2018-03-06 15:09] jasonLaster commented on #5614
@nyrosmith lets wait and get more feedback

[2018-03-06 15:11] nyrosmith commented on #5614
OK
/unclaim

[2018-03-06 15:21] calebstdenis commented on #5616
/claim

[2018-03-06 15:44] darkwing opened #5618 "Update selectLocation to do less work with regard to pretty print"
Pretty-printing, especially auto-pretty-printing, is a performance hit because the following process takes place:

1.  Original source tab is loaded, opened
2.  Pretty-print tab is loaded, opened
3.  Original source tab is closed

This hurts performance because we should only need to do point 2.  Additionally, opening the original tab triggers a bunch of unnecessary work like editor syntax highlig

[2018-03-06 15:49] darkwing commented on #5614
As we do more UI work, I think Storybook could be really useful.  That said, if a contributor comes along and knows how to fix it, that would be great, otherwise I think our core team has much more important work to focus on.

[2018-03-06 16:28] jasonLaster commented on #5618
Adding this to the sprint. We can take it out if we don't start it by thursday

[2018-03-06 16:30] nyrosmith commented on #5614
+1 for removing storybook for now.
The stories are outdated and broken so no one benefits having them atm...

[2018-03-06 20:21] jasonLaster commented on #5596
I'm moving this to the icebox. We will prioritize it in our next release scheduling meeting.

[2018-03-06 20:21] #5596 closed

[2018-03-06 23:25] violasong commented on #5426
Ah yes, I agree the bold is too loud. Thanks for the extra screenshots! I think we can stick with that standard pane color that's same as the accordion headers, and maybe just make the icon larger — e.g. same size as the source tree icons. I'd love to borrow more styling from the source tree in general - e.g. the slightly smaller text and slightly more line spacing will make this look a lot nicer.

[2018-03-07 06:07] lukaszsobek commented on #5584
@jasonLaster I read up on the code and fuzzy-aldrin-plus uses strong internally. Technically it should accept options as its third parameter in which we are then able to set the way it highlights, but this options object seems to be completely ignored. Referring the issue: https://github.com/jeancroy/fuzz-aldrin-plus/issues/37

[2018-03-07 06:59] lukaszsobek commented on #5614
I didn't even know there was one, but from what is discussed here 1.) we seem to be doing pretty well without it , 2.) making it work and maintaining it requires overhead we are currently not eager to deal with, 3.)  the costs appear to outweigh the benefits.
+1 for removing storybook here too

[2018-03-07 07:05] lukaszsobek commented on #5618
Maybe if we make an outline of steps to take here it would be easier to tackle the issue quickly?

[2018-03-07 08:19] nihal31 commented on #5034
Hey I see that this is not in progress. If @ppatel221 is not working on this anymore, can I claim this? It would be first contribution!

[2018-03-07 08:34] nchevobbe commented on #5034
@nihal31 It's been 3 weeks @ppatel221 was pinged, let's assume they're not working on it anymore.
So yeah, claim it :) (and I really want this to happen, I am confused every time I use the QuickModal :D)

[2018-03-07 09:15] TitanNano commented on #3689
@jasonLaster I tested this and for my case it appeaser to work now.

[2018-03-07 11:02] nchevobbe commented on #5426
PR up https://github.com/devtools-html/devtools-core/pull/983 :)

![image](https://user-images.githubusercontent.com/578107/37088773-be52ed42-21fe-11e8-9883-433d3e5d13da.png)

[2018-03-07 11:25] AnshulMalik opened #5623 "[QuickOpen] Loading message never disappears"
<img width="1025" alt="screen shot 2018-03-07 at 4 55 32 pm" src="https://user-images.githubusercontent.com/7821757/37089910-5fa0dd02-2228-11e8-9f80-e1ae9a98dd5c.png">

When you open Quick Open dialog(Cmd+P), you can see `Loading...` text displayed even after the results are available.

Expected:
`Loading...` should disappear when results are available.

[2018-03-07 13:31] jasonLaster commented on #3689
Hey! That's great news. I think we fixed it in the server

[2018-03-07 13:31] #3689 closed

[2018-03-07 13:34] jasonLaster commented on #5584
Thanks, lets see what they say

[2018-03-07 13:43] jasonLaster opened #5625 "[intermittent] editor-highlight"
It started being intermittent February 27th after we landed release 19.
[bug](https://bugzilla.mozilla.org/show_bug.cgi?id=1441524), [brasstacks](https://brasstacks.mozilla.com/orangefactor/?display=Bug&bugid=1441524&startday=2018-02-26&endday=2018-03-04&tree=all)

Platform breakdown:
* linux64-stylo-disabled: 23
* linux64: 10
* windows10-64-ccov: 1

[2018-03-07 13:46] jasonLaster commented on #5497
closing it as it's a dupe of #4852

[2018-03-07 13:46] haoRchen commented on #5406
/claim

[2018-03-07 13:46] #5497 closed

[2018-03-07 13:46] jasonLaster commented on #4852
@mcote is working on it

[2018-03-07 13:49] jasonLaster opened #5626 "[Editor] text is shown as loading when the debugger attaches"
STR:
1. navigate to http://firefox-dev.tools/debugger-examples/examples/todomvc/
2. select todo-view.js
3. close and re-open debugger

ER: todo-view loads
AR: it doesn't :)

![](http://g.recordit.co/LXL8a0Iq2w.gif)

[2018-03-07 14:28] jeancroy commented on #5584
Does the usage of mark vs strong make a difference in anti-aliasing ?

[2018-03-07 15:06] #5614 closed

[2018-03-07 15:34] nihal31 commented on #5034
/claim

[2018-03-07 19:27] nihal31 commented on #5034
Keeping the color scheme similar to what we get when we do a function search, the result looks something like this
![screenshot from 2018-03-08 00-54-14](https://user-images.githubusercontent.com/4532171/37113454-6d7a4fe2-226b-11e8-9929-c9023a6a6274.png)
@jasonLaster @nchevobbe What do you think of @violasong 's comment above?

[2018-03-07 19:43] jasonLaster commented on #5034
looks great!

[2018-03-07 20:11] jasonLaster opened #5628 "[tracking] Time Travel"
Todos:

- [x] improve command bar
- [x] disable previewing

[2018-03-07 21:08] jasonLaster commented on #5034
Thanks @nihal31.

I'm happy moving forward with what you have and addressing the QuickOpen item height in a separate issue.

One easy step would be to use CSS to keep the path to one line, which would help quite a bit. I'm hesitant to have the path on the same line as that could become pretty tight.

[2018-03-07 21:10] jasonLaster opened #5630 "[QuickOpen] File Search rows can be quite tall"
Copying @violasong's comments from #5034

I wonder if it would make sense to move the path to the same line as the filename to condense the rows. Some truncation would be needed, similar to #5019.

---

One easy step would be to use CSS to keep the path to one line, which would help quite a bit. I'm hesitant to have the path on the same line as that could become pretty tight.

I would be happy to

[2018-03-07 21:10] jasonLaster commented on #5034
Just created #5630

[2018-03-07 21:20] jasonLaster commented on #3269
This might be a nice bug to re-explore.

I think step one is to talk to the console folks and see what we did in the old debugger. variable-view.jsm

[2018-03-07 21:23] jasonLaster commented on #4104
Hey, @zaggy i'm un-assigning you as it's been a month. Feel free to-reclaim it.

[2018-03-07 21:24] jasonLaster commented on #4373
I'm moving this to the icebox as it's blocked by some server refactoring. Let's re-evaluate in the next release cycle.

[2018-03-07 21:25] darkwing commented on #4532
I believe this is complete.

[2018-03-07 21:25] #4532 closed

[2018-03-07 21:28] jasonLaster commented on #4853
I'm moving closing this as we're adding support for async stepping in the engine.

[2018-03-07 21:28] #4853 closed

[2018-03-07 21:29] #4804 closed

[2018-03-07 21:30] #4663 closed

[2018-03-07 21:30] #4664 closed

[2018-03-07 21:30] #4658 closed

[2018-03-07 21:31] ajvincent commented on #4853
@jasonLaster please provide links to whatever GitHub issues, pull requests, Bugzilla bugs or Mercurial commits cover this... :-)

[2018-03-07 21:32] jasonLaster commented on #5028
I'm closing this here because this is a toolbox issue and not a debugger UI issue. We should prioritize [1410590](https://bugzilla.mozilla.org/show_bug.cgi?id=1410590)

[2018-03-07 21:33] jasonLaster commented on #5028
Actually, never mind this looks like it is a debugger issue because we fail when the pref is off

[2018-03-07 21:34] jasonLaster commented on #4750
We are doing some planning work here

https://docs.google.com/document/d/1DXzoa7cUZJ_z41_QK1I1nPtyexkgGxup7C_at1SCcQs/edit#

[2018-03-07 21:35] #4320 closed

[2018-03-07 21:38] jasonLaster commented on #3792
moving this to the icebox. we can re-evaluate in the next release cycle

[2018-03-07 21:42] #2804 closed

[2018-03-07 21:43] #3700 closed

[2018-03-07 21:43] jasonLaster commented on #3700
closing as this will be managed in bugzilla

[2018-03-07 21:44] #5563 closed

[2018-03-07 21:50] jasonLaster commented on #3371
This seems to be working now in nightly

![](http://g.recordit.co/Zt8o4MZzo5.gif)

We've done a lot of work here to stabilize breakpoints and stepping. Let me know if you can reproduce it.

[2018-03-07 21:50] #3371 closed

[2018-03-07 21:57] jasonLaster commented on #4853
thanks @ajvincent https://bugzilla.mozilla.org/show_bug.cgi?id=1092910

[2018-03-07 21:58] jasonLaster commented on #4679
This is now pretty snappy for me. Let me know how it works for you.

![](http://g.recordit.co/TwxiT1GrYL.gif)

[2018-03-07 21:58] #4679 closed

[2018-03-07 22:07] darkwing commented on #5432
This is @violasong's mockup:

![image](https://user-images.githubusercontent.com/46655/37120969-80f8c322-2221-11e8-98bb-e471baed9511.png)

We will implement the home button method.

[2018-03-07 22:10] jasonLaster commented on #4387
This worked well for me when pausing in gmail

![](http://g.recordit.co/pCqDfGU35S.gif)

Feel free to re-open if you can reproduce a slow down.

[2018-03-07 22:10] #4387 closed

[2018-03-07 22:17] jasonLaster commented on #4387
here's a recording https://perfht.ml/2FjuFWL

[2018-03-07 22:27] jasonLaster commented on #4839
Here is a perf [profile](https://perfht.ml/2FkNed1) with several onLayoutChanges. It looks like layout takes ~170ms.

The interaction itself actually feels quite smooth:

![](http://g.recordit.co/PDZnzQz6Bo.gif)

Given that, I'm going to remove the perf label and move the issue to the `icebox` as it is still a nice code-health fix, but not something that I think we should prioritize in this six we

[2018-03-07 22:27] #4839 closed

[2018-03-07 22:28] jasonLaster commented on #3400
I'm closing this as I no longer think this will help us. w/ the codemirror editor updates

[2018-03-07 22:30] jasonLaster commented on #5464
Thanks for opening @nchevobbe.

I'd be happy to open more specific/actionable react fragment bugs if we see a slow down that would benefit from react fragments

[2018-03-07 22:30] #5464 closed

[2018-03-07 22:32] jasonLaster commented on #4168
still crashes. I wonder if the recent changes @calebstdenis made to add the JS file re-introduces the inline svgs?

[2018-03-07 22:45] jasonLaster commented on #3728
This seems slightly better now, but still not great.

The big difference between the old debugger and new with respect to pretty printing was done in a worker in the debugger server, where as the new ui does it in a worker in the ui context. I dont know if that should matter.

There are some UX issues that i would like to sort out before we look into this further though:

I currently see the brows

[2018-03-07 22:47] jasonLaster commented on #4897
@digitarald do you remember how to throw an exception.

[2018-03-07 22:50] jasonLaster commented on #3736
Hey @bwhitty @TitanNano how does nightly feel for you now?

[2018-03-07 23:06] jasonLaster commented on #3736
Okay, I did a bit of digging and changing webpack's `devtool` setting to `eval-source-map`. Is kind of an evil case for us

STR:
1. git clone debugger.html
2. yarn
3. edit `node_modules/devtools-launchpad/webpack.config.js` so that `webpackConfig.devtool = "eval-source-map";`

Here are some screenshots of this perf [profile](https://perfht.ml/2FjzzmD)

The take away is that our redux batching is n

[2018-03-07 23:07] jasonLaster commented on #4610
This worked well for me when pausing in gmail

![](http://g.recordit.co/pCqDfGU35S.gif)

Feel free to re-open if you can reproduce the jank.

here's a recording https://perfht.ml/2FjuFWL

[2018-03-07 23:07] #4610 closed

[2018-03-07 23:11] AlexisDeschamps commented on #1809
It seems that F5 always refreshes and brings in the latest local changes for me on Nightly and Developer on Windows 10.

[2018-03-07 23:12] digitarald commented on #4897
Confirmed fixed. Refresh throws an exception for me.

Here a profile, showing short 200ms (aka totally acceptable) for navigating callstack entries: https://perfht.ml/2HgvImu

[2018-03-07 23:14] jasonLaster opened #5633 "[Editor] should not flash when leaving a location"
The editor should smoothly go from one location to another when stepping.

In this GIF, we should only see the blue line

![](http://g.recordit.co/scFZIS9shy.gif)

In this GIF, we should see the grey lines :)
![](http://g.recordit.co/1ct6gqnPCf.gif)

The grey lines serve as a way of highlighting where we're going too (if we aren't using the blue debug line). At the moment they also flash the line

[2018-03-07 23:18] #4897 closed

[2018-03-07 23:23] jasonLaster commented on #3728
I think i misread the issue

cmd+f works as well as i think you can expect. @codehag did some great work in september to optimize it. At the time we stole plenty of good ideas from the old debugger

![](http://g.recordit.co/BY8DKKshYH.gif)

[2018-03-07 23:23] jasonLaster commented on #3728
I'm closing, but feel free to re-open if you still see the issue

[2018-03-07 23:23] #3728 closed

[2018-03-07 23:29] jasonLaster commented on #5328
- we can exclude 3rd party searching by default
- if it is react we can show 1000 results at a time
- we can limit search so you have to have atleast 3 chars

[2018-03-07 23:31] jasonLaster commented on #4849
@ChrisGitter i just saw an issue with `eval-source-map` so i'm not surprised cheap is slow too.

I'll investigate soon

[2018-03-08 00:24] bwhitty commented on #3736
Hey @jasonLaster thanks for the ping. Running `60.0a1 (2018-03-07)` I get very high CPU and the debugger pane takes ~30 seconds to open. No more hanging the browser, though.

[2018-03-08 01:41] jasonLaster commented on #3736
haha - sounds about like what i'd expect :)

We'll look into this soon, definitely before 61

[2018-03-08 05:03] ruturajv opened #5634 "Search Box of find-in-all-files acts weird"
When searching across files in debugger, the searchbox acts weirdly, the caret always goes past the last character

STR:
1. open debugger
1. `Ctrl + Shift + F` (I use linux) [Search inside all files]
1. Type anything for searching
1. Move caret inside the search text, by using left arrow (The caret goes back to last character)
1. Even selection of the entire word leads to loss of selection (caret

[2018-03-08 05:47] AnshulMalik commented on #5634
I think this is resolved now.

[2018-03-08 07:19] joshunger commented on #2804
👏

[2018-03-08 08:34] nchevobbe commented on #5034
@nihal31 awesome

[2018-03-08 09:21] atiqueansari1987 commented on #5623
/claim

[2018-03-08 09:47] Standard8 commented on #3269
Does this issue cover the scopes as well? One of my biggest issues at the moment is when you're trying to watch a variable that is in one of the upper scopes, and you have to keep expanding it. IMHO that's a bug, rather than an enhancement.

[2018-03-08 10:52] nicofrand opened #5637 "[Shortcuts] Use non-breakable space for shortcuts in shortcuts popup (FR locale)"
In the shortcut popup the shortcuts texts like "CTRL + P" should use non-breakable spaces to avoid this kind of layout (french locale):

![firefox-shortcuts](https://user-images.githubusercontent.com/3419050/37147404-13836260-22c7-11e8-94da-cd3790d2dbc7.png)

[2018-03-08 10:55] nicofrand opened #5638 "Move (or copy) the content of the shortcut modal into debugger content"
When we open the debugger without any file, there are two shortcuts explained:

![firefox-shortcuts-discover](https://user-images.githubusercontent.com/3419050/37147484-627eb5ea-22c7-11e8-83c7-7184cfcb2a6c.png)

It would be really great if all shortcuts that appear in the shortcuts modal were moved here, or at least copied. I had to ask on IRC to know how to open the shortcul modal (the button is

[2018-03-08 13:26] jasonLaster commented on #3269
haha - yeah i can see that too. I'm moving this to the backlog so we'll get to it in the next sprint or two.

[2018-03-08 13:27] #5634 closed

[2018-03-08 13:27] jasonLaster commented on #5634
Thanks for filing!

Yep, @ruturajv try this in nightly.

[2018-03-08 13:32] #5474 closed

[2018-03-08 14:16] jasonLaster opened #5639 "[Editor] does not update on attach"
I'm seeing some funny business when i open the devtools panel.

1. the editor does not show the text
2. switching tabs does not update the editor
3. breakpoints are missing

I think React 16 is to blame, but i'll need to dig deeper :)

[2018-03-08 14:28] jasonLaster commented on #4785
@vijaykm2 I believe we fixed this in github recently. I'll let you know next week when it lands in Firefox Nightly.

The debugger server supports stepping to new locations, unfortunately with source maps the server goes to a new location that maps to the same original location. We added a new check in the client to guarantee that we move original locations as well.

[2018-03-08 15:51] Haroenv commented on #5637
should probably be `white-space: pre` instead, no?

[2018-03-08 16:43] nicofrand commented on #5637
Yup, would work too !

[2018-03-08 16:46] nicofrand opened #5640 "Allow to close a debugger tab with a middle click"
Hi,

I am used to close my tabs in my browsers with a middle click on it: it's efficient and does not need me to perfectly target the close button with the mouse.

It would be great if I could close tabs inside the debugger in the same way.

[2018-03-08 16:51] digitarald opened #5641 "Slow performance with VSCode/Angular"
Tracking issue reported via https://twitter.com/ekveel/status/971685803742121984

- Uses VSCode to remote debug Firefox
- Web app is a simple Angular app
- Reports 30s startup for the debugger after starting debug session in VSCode

[2018-03-08 18:41] #3736 closed

[2018-03-08 18:42] jasonLaster commented on #4849
#3736 documents webpack's `eval-source-map` mode. We should test both

[2018-03-08 20:33] jasonLaster commented on #5467
Here is the actor endpoint

https://searchfox.org/mozilla-central/source/devtools/server/actors/webconsole.js#1068

Here is the client support for the webconsole

https://searchfox.org/mozilla-central/source/devtools/client/webconsole/jsterm.js#1513-1535

It'd be fun to see if someone wants to try and prototype this feature in the debugger. Perhaps without a UI.

[2018-03-08 22:20] digitarald commented on #4857
Trying to reproduce. Seems to work now.

As follow up I see an issue that loading `withSize.js` took more than 30sec. The profiles shows a heavy pattern of worker messages: https://perfht.ml/2p31yM2

[2018-03-08 23:03] jasonLaster commented on #4857
<img src='https://shipusercontent.com/531d6300563a3311aaed4c01d1e611b6/Screen%20Shot%202018-03-08%20at%206.00.19%20PM.png' title='Screen Shot 2018-03-08 at 6.00.19 PM.png' width=1440>

Thanks @digitarald, I saw this culprit below the worker calls... I saw this yesterday when looking at #4849 with the webpack evals.

This reminds me of the change we made last month where we stopped throttling the s

[2018-03-08 23:35] jasonLaster commented on #4849
Here's one idea where we use an HoC to throttle the SouceTree. I kinda think this [proposal](https://github.com/devtools-html/debugger.html/compare/master...jasonLaster:speedup-sources?expand=1) will fail because the tree will also re-render when connect is fired.

[2018-03-09 07:23] lukaszsobek commented on #5640
This feature has been implemented in: https://github.com/devtools-html/debugger.html/pull/5402 and is working as intended for me (vid below). The reason we get different results may be because for quality assurance reasons the debugger in firefox itself is a bit behnd the version we have as standalone. So my question would be where you used the debugger - in firefox (prssing ctrl+shift+i) or by cl

[2018-03-09 07:27] lukaszsobek commented on #5639
Noticed that too, especially on reloading the debugger with already open tabs - you would need to manually trigger an update by clicking the position in the sidebar.

[2018-03-09 07:53] lukaszsobek commented on #5626
/claim

[2018-03-09 08:02] nicofrand commented on #5640
Hi !

Sorry I did not found this PR nor associated issue. I am indeed using the debugger in firefox, which is probably outdated then.

Thanks for the feature and the answer!

[2018-03-09 08:02] #5640 closed

[2018-03-09 08:36] Ekveel commented on #5641
Hey there, I'm the guy from twitter who wrote about this

**What do I have?:**

I have a basic Angular 5 App which represents a treeview. Nothing big.
My Backend is a .NET Core Webservice.
I'm using VS Code Version 1.20.1 right now.
Firefox Quantum Version 58.0.2 (64-Bit)
Debugger for Firefox Version 1.1.0 (using this in VS Code) [https://github.com/hbenl/vscode-firefox-debug](url)

**What is happ

[2018-03-09 13:22] calebstdenis commented on #5155
Because of the flow directive it seems like this issue is dependent on Stuk/eslint-plugin-header#9

[2018-03-09 14:19] jasonLaster commented on #5626
@lukaszsobek i'm working on it in a PR. sorry for not claiming

[2018-03-09 15:44] jasonLaster commented on #4849
Hey @tbaud0n, @bwhitty I've got a PR that helps quite a lot with webpack eval-source-map and cheap-source-map. I hope to land this on nightly next week after 60 is released.

[2018-03-09 16:05] lukaszsobek commented on #4837
/claim

[2018-03-09 16:25] jasonLaster commented on #4837
So... I ran into a problem where i accidentally tried to set a value in a source record. Now that the objects _look_ like objects we have to be careful :)

[2018-03-09 16:44] jasonLaster opened #5649 "Switch to pretty-quick"
Our prettier git hook is great, but a bit slow. This will speed it up

This blog post explains it
https://www.wisdomgeek.com/web-development/using-prettier-format-javascript-code/

link
https://github.com/azz/pretty-quick

[code]

[2018-03-09 17:17] calebstdenis commented on #5598
/claim

[2018-03-09 18:57] digitarald commented on #5132
@usmanibnesadiq do you see the same issues on https://angular-quickstart.glitch.me/ , as minimal angular setup?

[2018-03-09 19:17] Rohanhacker commented on #5649
/claim

[2018-03-09 19:49] jasonLaster commented on #4849
Out of curiosity, do you see the same issues with Firefox Dev Edition?

[2018-03-10 04:37] atwalg2 commented on #5623
Hello @atiqueansari1987
Since I caused this bug. I came up with this solution.
I'm going to make a pull request for it tonight.

In src/components/QuickOpenModal.js
[code]
...
[code]

[2018-03-11 08:42] usmanibnesadiq commented on #5132
mine is related to:

1- the time it takes to switch to debugger tab and hit your break point (nothing gets loaded for almost 30 seconds)
2- Once the debugger is hit, the variable evaluation is not there at all. The tooltips take ages to show any values in the objects.

Why cant we make it as fast as Chorme :) not only it loads the map files super fast but also shows all values instantly and inline

[2018-03-11 12:29] AnshulMalik commented on #5581
I think we should keep the chrome protocol, there is no harm? or there is?

[2018-03-11 12:53] bomsy commented on #5581
Since we are at 80% could this be removed from master and moved to dedicated branch where anyone interested can still be hacking and making slow progress ...having said that , it will probably need regular updates with master.

I guess one of the other reasons to remove it for now would be reduced build size ... right?

[2018-03-11 18:21] nihal31 commented on #5034
This work is open in PR #5654 and ready for some comments :)

[2018-03-11 19:15] CharlesStocky commented on #5603
/claim (if it's still open)

[2018-03-12 05:01] #5558 closed

[2018-03-12 05:30] AnshulMalik commented on #5595
Hmm, not sure if someone would add function as a watch expression and since these are evaluated on next frame, so I think having an async generator in watch expressions would not meaningful.

I'd love to see if someone can make good use of this in expression. Do you have any example in mind? @Loirooriol

[2018-03-12 05:33] atiqueansari1987 commented on #5623
/unclaim

[2018-03-12 13:23] marcogallo566 commented on #5204
/claim

[2018-03-12 13:25] jasonLaster commented on #5204
[code]

[2018-03-12 13:30] marcogallo566 commented on #5204
Thank you, this will help a lot!

[2018-03-12 14:22] Loirooriol commented on #5595
Yes, I agree promises are not much useful in watch expressions. But I still think it should work, it's valid syntax after all.

[2018-03-12 14:37] gregtatum commented on #5423
Just chiming to say that it works on my end now too 🎉

[2018-03-12 15:35] jasonLaster opened #5657 "Improve the Source object’s flow types"
We currently have a pretty standard flow type for our source object.

[code]

I think it would be nice to add some more strictness to the type.

[code]

[2018-03-12 16:49] jasonLaster opened #5658 "[SourceTree] Replace inline SVG with img tag"
We recently added beautiful file icons for JS,TS,JSX and other extensions. The issue is that we used inline svgs which are slow when there are hundreds of files.

We should be able to easily convert them to `img` tags and CSS like what we do for the file icon. When we do i think we'll see a nice perf win

[code]

[2018-03-12 18:57] lukaszsobek commented on #5584
Merged. Closing.

[2018-03-12 18:57] #5584 closed

[2018-03-12 19:24] jasonLaster opened #5659 "[CallStack] map display names"
We currently map call stack frame locations, but we don't map the frame display names.

This causes some surprising results when the line points to the current function, but the name refers to the generated function.

![](https://user-images.githubusercontent.com/7321311/36925581-890136e6-1e41-11e8-8df3-e10b4eda9142.png)

---

A good way to solve this, is to extend `mapFrames` so that the action m

[2018-03-12 20:01] #5616 closed

[2018-03-12 21:39] #5639 closed

[2018-03-12 21:39] #5626 closed

[2018-03-12 21:39] #1809 closed

[2018-03-12 21:39] jasonLaster commented on #1809
lets re-open if we can reproduce it

[2018-03-12 21:40] jasonLaster commented on #5406
How is it going @haoRchen?

[2018-03-12 21:40] #5448 closed

[2018-03-12 21:41] jasonLaster commented on #3673
@lukaszsobek I'm un-assigning you as it's been two weeks and this is a panel bug. Feel free to re-clame

[2018-03-12 21:41] jasonLaster commented on #5341
@zeoneo how's it going?

[2018-03-12 21:41] jasonLaster commented on #4629
This is done!

[2018-03-12 21:41] #4629 closed

[2018-03-12 21:42] #3601 closed

[2018-03-12 21:42] #5267 closed

[2018-03-12 21:42] #5456 closed

[2018-03-12 21:43] darkwing commented on #5102
Hello @atwalg2 !  How is this going?

[2018-03-12 21:44] jasonLaster commented on #4109
I'm closing this as we'll tackle a bunch of it as part of the breakpoint ux

[2018-03-12 21:44] #4109 closed

[2018-03-12 21:44] jasonLaster commented on #5134
Hey, @tripurari001, I'm un-assigning you as it's been a month. Feel free to re-claim it if you have time

[2018-03-12 21:47] jasonLaster commented on #3995
I'm moving this to the icebox, we will re-evaluate at the beginning of the next release planning process.

[2018-03-12 21:47] #3995 closed

[2018-03-12 21:51] jasonLaster commented on #3411
When i tested this today, it opened view-source, which was strange

[2018-03-12 21:55] jasonLaster commented on #4754
Closing as this is in bugzilla and the bug is in the server

[2018-03-12 21:55] #4754 closed

[2018-03-12 21:56] #4832 closed

[2018-03-12 21:56] #4714 closed

[2018-03-12 22:01] jasonLaster commented on #5205
This works now

![](http://g.recordit.co/O0wmPDfU8j.gif)

Re-open if you can still reproduce

[2018-03-12 22:01] #5256 closed

[2018-03-12 22:04] jasonLaster commented on #5352
Nice idea!

[2018-03-12 22:06] jasonLaster commented on #4076
I'm moving this to the icebox, we'll re-evaluate in the next release process.

If you're interested in working on it, feel free to claim it.

[2018-03-12 22:06] #4076 closed

[2018-03-12 22:07] jasonLaster commented on #5426
This was fixed in the latest Reps version

[2018-03-12 22:09] Loirooriol commented on #5205
Reproducible in latest Nighly d6957f004e9cc3d7408ac3a8f2b49ff97556e27f. I can't reopen.

![screencast](https://user-images.githubusercontent.com/7477678/37312165-46f2c56a-264a-11e8-8887-36783b3e3fa6.gif)

[2018-03-12 22:09] jasonLaster commented on #5466
I'm moving this to the icebox as we're currently planning work for the breakpoint ux and we can re-evaluate when that finishes up.

[2018-03-12 22:09] #5466 closed

[2018-03-12 22:10] jasonLaster commented on #5553
I'm moving this to the icebox as we don't plan on working on this in the current release. We will re-evaluate at the start of the next release.

[2018-03-12 22:11] #5428 closed

[2018-03-12 22:11] jasonLaster commented on #5543
I'm closing this as there's ongoing work on the event emitter. We can re-evaluate when we have basic sentry support and the event emitter work has landed.

[2018-03-12 22:11] #5543 closed

[2018-03-12 22:12] #5473 closed

[2018-03-12 22:12] jasonLaster commented on #5429
I'm moving this to the icebox, we will re-evaluate at the beginning of the next release planning process.

[2018-03-12 22:12] #5429 closed

[2018-03-12 22:12] jasonLaster commented on #5430
@nchevobbe do we still need this?

[2018-03-12 22:20] haoRchen commented on #5406
@jasonLaster progressing. I have found the mouseover() call within the editor canvas
![10 - possible mask](https://user-images.githubusercontent.com/19397242/37311862-5325c092-261f-11e8-88cd-f5a0b292c3ee.png)
as well as the mouseleave() within the popover
![11 - onmouseleave popover](https://user-images.githubusercontent.com/19397242/37311875-5feb88ca-261f-11e8-8ec0-f13e88736ebe.png)
Manually test

[2018-03-12 22:53] jasonLaster commented on #5406
Hmm, sometimes when this is the case, I cheat and add a new condition that is only true when i type a letter like "f" :) you can do this with a new keyDown event.

I'll defer to @darkwing, or @wldcordeiro who are great w/ the UI

[2018-03-12 23:15] kootoopas opened #5660 "[QuickOpenModal] scroll resets to top"
yeap

![quickopenmodal-scroll-resets-to-zero](https://user-images.githubusercontent.com/601001/37314212-9bfc8954-265b-11e8-99c5-77161b49bf0a.gif)

[2018-03-12 23:20] kootoopas commented on #5660
/claim since I've tinkered with this recently :)

[2018-03-12 23:37] kootoopas commented on #5660
Hmm, weird. I can reproduce it in the nightly's devtools, but not in the standalone debugger.

[2018-03-12 23:38] jasonLaster commented on #5660
hmm, strange. Nightly is 10 days behind GH so check again in when it's up to date

[2018-03-12 23:40] kootoopas commented on #5660
Ooh okay I thought it was pulling from master on a daily... sorry if this turns out to be a false flag!

[2018-03-12 23:43] hozefaj commented on #5658
I can help with this 👍

[2018-03-13 01:02] atwalg2 commented on #5102
Hey @darkwing, I got pulled away from this to fix some mistakes I made on previous PR's. I hope to get back to it asap.

[2018-03-13 01:59] AnshulMalik commented on #5205
I can't reproduce this on latest pull from m-c, so this will be fixed soon in nightly :)

[2018-03-13 02:06] emmet0r commented on #4080
/claim

I'll have a group of students taking up this issue this week! Will tag them shortly.

[2018-03-13 03:48] hozefaj commented on #5658
While trying to push the commit to me fork, I am seeing the errors
[code]

I have not seen this error before, while using `yarn` so not sure how to proceed.

[2018-03-13 06:42] nchevobbe commented on #5430
that would be a nice to have. You'd have a button next to function to jump to their definition

[2018-03-13 06:44] nchevobbe commented on #5426
This still need some work on the debugger side. I'll put a PR up when I release the new reps version (this week)

[2018-03-13 10:37] rogererens opened #5661 "In lower image, 'SOURCE LIST PANE' should be named 'TOOLBAR' and 'WATCH EXPRESSIONS', resp."
On this page
https://mozilladevelopers.github.io/playground/debugger/
in the bottom image the upper two sections have wrong content in the text boxes.

![image](https://user-images.githubusercontent.com/907897/37336800-c64c4594-26b2-11e8-8c07-01b54d1a0b96.png)

[2018-03-13 10:48] AnshulMalik commented on #5661
Hey, @rogererens Thanks for filing.

There already exists a bug for this https://github.com/MozillaDevelopers/playground/issues/28

[2018-03-13 10:48] #5661 closed

[2018-03-13 11:13] AnshulMalik commented on #5352
/claim

[2018-03-13 12:51] jasonLaster commented on #5430
Oh i see, great

[2018-03-13 13:30] AnshulMalik commented on #5352
I am unclaiming this as this can be a good issue for new contributor, feel free to claim it :)

Here is my branch, it might help
https://github.com/AnshulMalik/debugger.html/commit/bfe6583fefd3ab98f0983a88d58c8b93d90f908b

[2018-03-13 13:30] AnshulMalik commented on #5352
unclaim

[2018-03-13 14:35] #5546 closed

[2018-03-13 14:39] #5432 closed

[2018-03-13 15:23] jasonLaster opened #5663 "[SourceTree] Show original files when the files have the same URL"
STR:
1. go to https://q7mmol9xy9.codesandbox.io/
2. go to src/Hello.js

Code Sandbox ships each file down with its own base64 sourcemap and no sourceUrl. The result is that the original file has the same url as its generated file equivalent. This means that the source tree at the moment only shows the generated file. cmd+p shows both but doesn't differentiate them.

We have two options:

1. show b

[2018-03-13 16:12] Loirooriol commented on #5205
@AnshulMalik Still reproducible in Nightly 8f1b2f872f0ea358a0412eb8b8687f08d47f6621, and right now this is the latest commit in mozilla-central.

[2018-03-13 16:27] AnshulMalik commented on #5205
This is strange, it works fine for me

[2018-03-13 16:28] jasonLaster commented on #5205
@AlexisDeschamps @darkwing can you try and repro on windows?

[2018-03-13 16:39] #5532 closed

[2018-03-13 16:41] Loirooriol commented on #5205
Did you make sure that e10s (`browser.tabs.remote.autostart`) was disabled?

[2018-03-13 16:48] jasonLaster commented on #5205
oh interesting. I dont think we're testing non-e10s anymore?

[2018-03-13 19:51] jasonLaster commented on #5205
I'm closing for now as we we're not prioritizing non-e10s perf issues.

I'll re-open if that changes.

[2018-03-13 19:51] #5205 closed

[2018-03-13 20:25] #5378 closed

[2018-03-13 21:12] bomsy commented on #5595
![image](https://user-images.githubusercontent.com/792924/37370164-3f576c3e-2703-11e8-86be-023ded29d0f6.png)

[2018-03-13 21:36] jasonLaster commented on #5595
oh that's a babel error... because we're not parsing async generators... we could add that plugin in both original and generated cases, but that could be a perf hit too.

[2018-03-13 21:50] Loirooriol commented on #5595
What about not using babel at all? Treat watch expressions really as expressions, and validate them with the native `Function` constructor.

[code]

[2018-03-13 21:51] jasonLaster commented on #5618
here's another patch - https://gist.github.com/24a120916c1c5c232a99307cbcbcccaa

[2018-03-14 09:24] juliandescottes opened #5668 "CSS variable --search-overlays-semitransparent was removed but is still used"
A change from #5577 removed the definition of `--search-overlays-semitransparent`, however the variable is still used in several spots:

https://github.com/devtools-html/debugger.html/search?utf8=%E2%9C%93&q=--search-overlays-semitransparent&type=

Should we reintroduce the variable or remove the usage? I suppose the intent was to remove `--theme-search-overlays-semitransparent` instead?

cc @laur

[2018-03-14 13:21] #4849 closed

[2018-03-14 17:00] calebstdenis commented on #5659
/claim

[2018-03-14 20:49] #4857 closed

[2018-03-14 20:50] jasonLaster commented on #4896
@mcote is looking into this

[2018-03-14 20:51] jasonLaster commented on #5568
@darkwing  @AlexisDeschamps @calebstdenis could you see if this works for you on windows?

[2018-03-14 20:52] jasonLaster commented on #5218
I wonder if this bug is related to #5028.

@Loirooriol do you have sourcemaps turned off here?

[2018-03-14 20:55] jasonLaster commented on #4813
closing as we have made a lot of improvements to pausing on exceptions in the past couple of months.

[2018-03-14 20:55] #4813 closed

[2018-03-14 20:57] jasonLaster commented on #4743
closing this bug as it is likely not a UI issue.
We will track it in bugzilla

[2018-03-14 20:57] #4743 closed

[2018-03-14 20:58] jasonLaster commented on #4311
Hey @jogibear9988 can you give us an example of what you're seeing?
I test case that we can use would really help.

Also we only show html pages where there are scripts that have live JS references.

[2018-03-14 21:23] calebstdenis commented on #5568
@jasonLaster I can reproduce the bug as described on Nightly on Windows.

[2018-03-14 21:30] jasonLaster commented on #4896
adding this example from #5087 as well

Related to #4896, but looks like different bottlenecks in the profile.

STR:

- Set a breakpoints on http://firefox-dev.tools/debugger-examples/examples/wasm/fib/fib.index.html and hit refresh to hit the breakpoint and pause
- Open Wikipedia in a new tab (keep debugger open in background) and scroll down

AR: 150ms+ hangs during scrolling

https://perfht.ml/

[2018-03-14 21:30] jasonLaster commented on #5087
closing as a dupe of #4896

[2018-03-14 21:30] #5087 closed

[2018-03-14 21:31] jasonLaster commented on #5421
oh strange. alright. closing, lets re-open if we have a case that repros consistently

[2018-03-14 21:31] #5421 closed

[2018-03-14 21:32] jasonLaster commented on #4865
i'm moving this to the icebox. We can re-evaluate at the start of the next release.

[2018-03-14 21:32] #4865 closed

[2018-03-14 21:36] #5668 closed

[2018-03-14 21:38] jasonLaster commented on #3215
Moving this to the icebox, we can re-evaluate at the start of the next release

[2018-03-14 21:38] #3215 closed

[2018-03-14 21:40] #4282 closed

[2018-03-14 21:40] jasonLaster commented on #4282
I'm going to move this to the icebox because we hope to improve how the server supports inline scripts in the next quarter. When that is done, we will be able to do this kind of work much easier.

We have a similar issue for showing original inline scripts as well.

[2018-03-14 21:51] Loirooriol commented on #5218
I don't know how to toggle sourcemaps so probably I have the default.

[2018-03-14 22:35] jasonLaster commented on #5218
thanks.  could you see if you get this with a fresh firefox profile?

[2018-03-14 22:45] Loirooriol commented on #5218
The problem is that it happens very rarely, I can't reliably reproduce. But I think I got this on two different (non-fresh) profiles, so it doesn't seem caused by a random profile corruption.

[2018-03-14 23:32] jasonLaster commented on #5218
thanks, i'll be on the look out for it.

Lastly, how often do you use watch expressions?

[2018-03-15 00:22] Loirooriol commented on #5218
Lately I rarely use them. Since they have been behaving very buggy, I got used to switching to the console and running the code there.

[2018-03-15 00:56] karlcow opened #5677 "[Stepping] Fast stepping is freezing the debugger UI and the devtools."
With Firefox Nightly 61.0a1 (2018-03-14) (64-bit) (but this has been going on for a while.)

1. Go to any site with scripting.
2. Set a breakpoint
3. Starts stepping, be in or out or over (this is working)
4. Accelerate the stepping because you want to reach another section. (multiple fast click on the stepping button)

Actual:
The UI freezes, the script area becomes blank and you often need to re

[2018-03-15 01:05] jasonLaster commented on #5677
how quickly are you stepping? we have a bug where we crash if you step quickly

[2018-03-15 01:12] karlcow commented on #5677
@jasonLaster Fast :) For example in a foreach loop when I want to move forward quickly, so my click/taps are faster than the UI refresh. That must be the bug you are talking about.

[2018-03-15 05:01] MaxBittker commented on #5543
thanks jason 👍

[2018-03-15 12:54] jasonLaster commented on #5677
yeah, it's a terrible bug :bug:

[2018-03-15 14:32] #5034 closed

[2018-03-15 14:41] jasonLaster opened #5679 "[QuickOpen] Style selected matches "
We currently do a bad job of styling the black fuzzy matches when a row is selected.

![](http://g.recordit.co/aAckOZyZlf.gif)

[2018-03-15 14:42] jasonLaster commented on #5658
hmm, @hozefaj ask us here https://devtools-html-slack.herokuapp.com/

also feel free to push with `--no-verify`

[2018-03-15 14:42] jasonLaster commented on #5406
how's this going @haoRchen?

[2018-03-15 14:43] #5554 closed

[2018-03-15 14:46] jasonLaster commented on #5638
Hmm, i think that could be too much content, but it would be nice to have a link to open the shortcuts modal?

Like `See more shortcuts`

[2018-03-15 14:47] jasonLaster commented on #5461
closing as this will be tracked as part of the breakpoint ux work

https://docs.google.com/document/d/1DXzoa7cUZJ_z41_QK1I1nPtyexkgGxup7C_at1SCcQs/edit

[2018-03-15 14:47] #5461 closed

[2018-03-15 14:49] nicofrand commented on #5638
Why too much content ? It really looks like we have the space ?
And that's useful content.

But if the community disagress, I guess a button/link to access the modal would be a first step.

[2018-03-15 14:52] marcogallo566 commented on #5630
/claim

[2018-03-15 19:56] jasonLaster opened #5687 "[Flow] upgrade to 68"
68 just came out and looks pretty great

https://circleci.com/gh/devtools-html/debugger.html/11247?utm_campaign=vcs-integration-link&utm_medium=referral&utm_source=github-build-link

We would get stricter action types and native types, both of which are helpful

[2018-03-15 22:06] jasonLaster commented on #5002
I'm in favor of having a `store` directory with this structure:

[code]

I'm not a fan of module aliasing because that will make it harder to share code and make the system less adaptable in the future. We have these issues with firefox's code-base where paths are strange/magical.

I'd like to revisit this topic in a couple months once we've finished doing the performance and stability work as thi

[2018-03-15 22:06] #5002 closed

[2018-03-15 22:08] jasonLaster commented on #5677
We fixed two cases where stepping quickly caused issues. I found another one today that seems like a good culprit:

![Screen Shot 2018-03-15 at 4.49.16 PM.png](https://shipusercontent.com/656043807b1d9574a4429567720412ff/Screen%20Shot%202018-03-15%20at%204.49.16%20PM.png)

[2018-03-15 22:13] jasonLaster commented on #5677
Actually, this bug was fixed by this patch, which will land in mc soon:
https://github.com/devtools-html/debugger.html/issues/5490

[2018-03-16 01:19] jasonLaster commented on #5677
closing for now. we can re-open if we see some more cases

[2018-03-16 01:19] #5677 closed

[2018-03-16 01:23] jasonLaster opened #5691 "[Preview] Support hovering on computed properties"
@bomsy recently added support for hovering on member expressions of a computed property, so for example if there was this code:

[code]

The user could hover on `movies` and `director` and see the values. It would be amazing if the user could hover on `"sci-fi"` and `0` and also see values. These are common cases where it would be great to see the sci-fi genre or the first movie.

[2018-03-16 01:24] atwalg2 commented on #5691
/claim

[2018-03-16 04:49] AlexWang-16 commented on #5022
Hi @magicp-github  , I'm interested in tackling this issue, but I was not able to replicate this on the Mac. I've used Nightly v61.0a1. Is there another way that I can perhaps replicate this issue?

![issue](https://user-images.githubusercontent.com/13398997/37504288-bd232872-28b3-11e8-9a5a-10b8c0cdb118.gif)

[2018-03-16 04:53] jasonLaster commented on #5022
@AlexWang-16 this might be windows only

[2018-03-16 04:53] #5150 closed

[2018-03-16 10:42] juliandescottes commented on #5558
Thanks a lot for doing this 👍

[2018-03-16 13:21] jasonLaster opened #5695 "[Preview] small syntax improvements"
Our preview expression engine is really powerful and handles lots of cases. Here are some cases we don't support yet that we could:

- [x] destructuring #5706 (:runner: @marcogallo566)
- [x] console.log @bomsy
- [x] Object properties with an assignment (:runner: @atwalg2)
- [x] object keys (:runner @bomsy )
- [x] booleans (this seems to work already)

#### Example 1: destructuring

hovering on `va

[2018-03-16 14:17] nchevobbe opened #5697 "Backport 1382581 - Fix 16 tests failures on devtools/client/framework due the EventEmitter refactoring"
In https://bugzilla.mozilla.org/show_bug.cgi?id=1382581 , some changes are done in the debugger (bundle + mochitest) to make it work since there was some EventEmitter changes in the toolbox.

Those changes should be backported here so the next bundle does not override them.

[2018-03-16 14:39] jasonLaster commented on #5155
@calebstdenis lets fork and land the fix

[2018-03-16 14:40] jasonLaster commented on #4104
This is a really cool issue that I would be happy to mentor someone on

[2018-03-16 14:42] humphd commented on #5679
@jasonLaster my students are picking bugs to work on right now, and @AlexWang-16 is wondering about this one.  Would you suggest this as a good-first-bug for him, or do you have another suggestion that might be better?  Thanks for any advice.

[2018-03-16 14:43] jasonLaster commented on #5679
Yep, this would be great

@darkwing @violasong do you have an idea of what this should look like?

[2018-03-16 14:53] jasonLaster commented on #5679
@humphd you should join our slack so we can discuss other issues + projects https://devtools-html-slack.herokuapp.com/

[2018-03-16 15:29] jasonLaster opened #5698 "[QuickOpen] up arrow should not move the cursor to the front"
When quick open is open and the user is iterating over the results with the arrow keys, up arrow moves the cursor to the front of the input and down arrow moves it to the bottom. the up/down arrow keys should not affect the cursor.

![](http://g.recordit.co/aAckOZyZlf.gif)

[2018-03-16 17:19] AlexisDeschamps commented on #3943
I was not able to reproduce on Windows 10 on Nightly. It seems that whenever `Enter`/`Shift-Enter` worked, `F3`/`Shift-F3` also worked.

[2018-03-16 17:49] violasong commented on #5679
I think fuzzy matches can be white bold when selected - it's be a subtle look but same as what we do in the Firefox URL bar.

[2018-03-16 19:57] #5623 closed

[2018-03-16 20:29] #5533 closed

[2018-03-16 20:29] jasonLaster commented on #5533
I'm going to close this as it's not actionable now. Lets keep this idea in our back pocket and use it when we think it's appropriate

[2018-03-16 20:58] haoRchen commented on #5406
@jasonLaster  I'm having trouble getting past the editor mask.
Using your suggested method, pressing "A" on top of the variable grabs nothing as the target:
![17 - target for onkeydown](https://user-images.githubusercontent.com/19397242/37543507-3e17466e-2938-11e8-8b5e-26c941f87754.png)
I am going to see if this issue was introduced in an earlier release via git bisect.

[2018-03-16 21:09] jasonLaster commented on #5406
Thanks @haoRchen nice work so far. I pinged the core team to see if someone could help mentor

[2018-03-16 23:40] AlexWang-16 commented on #5679
Thanks for the confirmation @jasonLaster. I'm be happy to take a stab at this bug. I've also joined slack for Firefox Nightly. I did not see a channel for devtools-html. Should I join devtools-core instead?

[2018-03-17 01:15] haoRchen commented on #5406
I did a git bisect and discovered that this behavior began with release v10.0 a635124 on January 25th, 2017. Compared to v9.0 0de8d3f on January 12th, the preview tool-tip was able to self-adjust to appear above and below the debug line. Will look further into this.

[2018-03-17 02:30] AnshulMalik commented on #5352
/unclaim

[2018-03-17 08:53] zeoneo commented on #5341
@jasonLaster I started working now. Will get back to you in case of difficulties

[2018-03-17 14:26] jasonLaster commented on #5679
hmm - there should be a #general and #debugger room

[2018-03-17 14:39] bomsy opened #5706 "[Preview] Previewing destructured variables"
hovering on `variables` should show the value

[code]

Here are some notes from the code to help:

[code]

[2018-03-17 14:42] jasonLaster opened #5707 "[Flow] add flow coverage to parser/types.js"
`src/workers/parser/types.js` is missing `// @flow` which is causing a bunch of other components that import these types to get anys.

[2018-03-17 15:00] zeoneo commented on #5047
/claim

[2018-03-17 16:57] #5697 closed

[2018-03-17 18:34] jasonLaster opened #5708 "[Flow] type reselect"
Many of our selectors use [reselect](https://github.com/reactjs/reselect) so that they're memoized. This is great, but the downside is that none of these selectors are typed!

We should fix that by adding the reselect flow-typed definitions. This [branch][b] starts the effort and gets pretty close.

---

By the way, when i did this Flow found some amazing errors in the code that were great to squa

[2018-03-17 21:41] haoRchen commented on #5698
/claim

[2018-03-17 23:56] haoRchen commented on #5698
I'm unable to reproduce the up arrow key moving cursor forward. Both up and down causes the cursor to disappear.

![1 - reproducing issue](https://user-images.githubusercontent.com/19397242/37561127-0f29cc9c-2a1d-11e8-9002-5436083e826b.gif)

[2018-03-18 00:02] jasonLaster commented on #5698
@haoRchen i'm refering to the input text cursor... if you type `abc` up arrow moves the cursor to c, down brings it to a.

[2018-03-18 00:10] jasonLaster opened #5710 "[QuickOpen] opens with the prefix selected"
Quick Open currently opens with the prefix (e.g. @) selected. The problem with that is that it is really easy to remove the @ when you type. When this happens QO goes from function search to file search.

STR:
1. cmd+shift+o
2. type a

ER: `@a`
AR: `a`

![](http://g.recordit.co/Yg2nujWxzQ.gif)

[2018-03-18 01:29] haoRchen commented on #5698
got it!

[2018-03-18 18:42] yalooong commented on #5707
/claim

[2018-03-18 18:49] a-one-d-one commented on #5637
/claim

[2018-03-18 18:56] a-one-d-one commented on #5637
/unclaim

[2018-03-18 22:12] PatMB30 commented on #5637
Hi!

I'd like to know if this issue is claimed or not?

[2018-03-18 23:29] #5341 closed

[2018-03-19 00:39] rebornix commented on #4168
Only putting visible nodes to DOM helps with tree creation, scrolling and the overall performance of dev tools, we did that for the editor and any tree view in VSCode, and we are satisfied with the performance gain.

I can take a look at this one if no one else is working on it.

[2018-03-19 02:44] jasonLaster commented on #4168
That'd be great, I think I can share a version of the tree that buffered the nodes.

Would love your help on it

[2018-03-19 02:45] jasonLaster commented on #5637
@PatMB30 feel free to claim it

[2018-03-19 02:47] jasonLaster commented on #4168
Here is the [commit][c] where we removed the virtualization:

[c]: 1ab726442e84125378bafb3c871af8a02c2d418d

[2018-03-19 06:25] nyrosmith commented on #5687
/claim

[2018-03-19 06:25] nyrosmith commented on #5708
/claim

[2018-03-19 07:44] nchevobbe opened #5713 "Update reps to 0.21.0"

[2018-03-19 10:52] MarkPollmann commented on #5710
/claim

[2018-03-19 11:10] escaton commented on #5352
/claim

[2018-03-19 12:37] urielha commented on #3829
I am not sure if this helps, but anyway
The old FireFox debugger had this feature as you can see in this GIF :
<hr/>

![https://i.imgur.com/yTMfi8t.gif](https://i.imgur.com/yTMfi8t.gif)
<hr/>

Comparing to the new debugger which doesn't highlight the matching clause :
<hr/>

![https://i.imgur.com/4NBhQG2.gif](https://i.imgur.com/4NBhQG2.gif)
<hr/>

[2018-03-19 13:09] jasonLaster commented on #3829
Thanks @urielha

[2018-03-19 13:36] jasonLaster commented on #5255
Here are some notes:

@jlast What the Network panel needs is server side hook (and actor?) that can be used to create a new breakpoint using URL (and later other props like e.g. a keyword saying that the XHR breakpoint should break the execution only when the response body contains the keyword, etc.) Consequently we can play with the Net panel UI/UX... (edited)

From API perspective, it could be a

[2018-03-19 15:29] tommai78101 opened #5717 "[Inspector] Native colors conversion"
This is what Chrome has, a native support for color conversion on the fly.

![](https://i.imgur.com/PyHempw.gif)

And this is what we have for Firefox.

![](https://i.imgur.com/PbWaf3O.gif)

I would like to request for the color picker to support native color conversion, and allow the users to enter in specific color values when the color picker is opened.

I find such features for converting colo

[2018-03-19 15:36] jasonLaster commented on #5717
Thanks. This should be filed in bugzilla's inspector component.

[2018-03-19 15:36] #5717 closed

[2018-03-19 17:32] Rohanhacker commented on #5638
/claim

[2018-03-19 17:58] buttersnipps commented on #5637
/claim

[2018-03-19 18:02] tommai78101 commented on #5717
Thanks. Will do.

[2018-03-19 18:04] buttersnipps commented on #5663
/claim

[2018-03-19 18:28] darkwing opened #5720 "[SourceTree] ProjectDirectoryRoot: Multiple "/" Set"
STR:

0.  Ensure you have no directory root set:  `dbg.prefs.projectDirectoryRoot = "";`
1.  Go to https://davidwalsh.name
2.  Right-click 'davidwalsh.name', click 'Set Directory Root'
3.  Right-click 'wp-includes/js', click 'Set Directory Root'
4.  Go to https://yahoo.com
5.  Right-click 'www.yahoo.com`, click 'Set Directory Root'
6.  Right-click any other domain, click 'Set Directory Root'
7.  C

[2018-03-19 18:56] violasong commented on #4756
It looks like this is happening again in Nightly:
<img width="566" alt="image" src="https://user-images.githubusercontent.com/55994/37616237-826f8fd4-2b6c-11e8-8120-3b770e5f199e.png">

[2018-03-19 19:28] emmet0r commented on #4070
/claim

I have some students who will be picking up where we left off with this ticket last term - will tag them shortly.

[2018-03-19 20:29] arcman77 commented on #3736
I too am experiencing this issue. In my case, I have a vue app running, and if open the console and attempt to refresh, it will hang there indefinitely until I close the console. I am doing some bundling with webpack and there is a source map, but it fails to load.

[2018-03-19 20:33] jasonLaster commented on #3736
@arcman77 can you try https://www.mozilla.org/en-US/firefox/channel/desktop/#nightly and let us know if it still occurs.

[2018-03-19 20:36] arcman77 commented on #3736
@jasonLaster sure thing. I'll try it right now.

[2018-03-20 06:22] buttersnipps commented on #5637
Hi, Is there a way to change the language of the debugger . It's always shows english even though I try it on firefox with french pack active.

[2018-03-20 10:34] julienw opened #5727 "[Scopes] Arrays should be displayed in a less compact way in scopes"
STR:
1. Add a breakpoint in some code where an array is in scope
2. Run the code that stops at this breakpoint
3. Look at this array in the "scope" part of the debugger

=> We always see `[...]` which means we have to unfold it to see its content. We should be able to see more things: the first elements, the length, etc.

Probably we can have a similar display for objects.
See attachment:
![Screen

[2018-03-20 10:35] julienw opened #5728 "Stepping should keep the "expand" state for the scopes"
When debugging, this is usual that we "expand" the scopes to better see some variables we want to follow. But stepping resets the scopes view to its initial view. This is painful.

[2018-03-20 12:33] jasonLaster commented on #5637
In firefox, you can change languages, with a language pack
https://addons.mozilla.org/en-US/firefox/language-tools/

Locally, in the launchpad, we dont have a good way of doing that yet

[2018-03-20 12:34] jasonLaster commented on #5728
This is a dupe of #3269.

I'd like to get to this in the next couple of months.

[2018-03-20 12:34] #5728 closed

[2018-03-20 12:40] darkwing commented on #4217
R+'d in Bugzilla (https://bugzilla.mozilla.org/show_bug.cgi?id=1446354), so this is done.

[2018-03-20 12:40] #4217 closed

[2018-03-20 12:42] tommai78101 commented on #5695
One more thing you can add to the list is the following:

**Example 6: Evaluating expressions**

highlighting the text `GetValue(10)` or `GetValue(10);`, and then hover above it should return the result of `GetValue(10)`.

[code]

[2018-03-20 15:34] jasonLaster commented on #5561
![original preview](https://user-images.githubusercontent.com/254562/37664954-99287814-2c32-11e8-9b0c-d8088148ec3c.gif)

[2018-03-20 16:09] jasonLaster commented on #5695
Here is a glitch [example](https://dbg-obj-properties.glitch.me/) for testing.

[2018-03-20 16:16] darkwing opened #5731 "[Sources] Item Path: Loses parent path after a while"
STR:

1.  Go to https://davidwalsh.name
2.  Continue to set root directory on the first child directory recursively (via right-click, "Set Project Root")
3.  Eventually the project root loses its complete parent path:

<img width="1415" alt="path-wtf" src="https://user-images.githubusercontent.com/46655/37667454-0c67eaa6-2c30-11e8-8301-d70bba6b6820.png">

[2018-03-20 16:18] darkwing commented on #5731
A bit more information:

<img width="1415" alt="better" src="https://user-images.githubusercontent.com/46655/37667615-68a261b6-2c30-11e8-8cd0-0c6b7ad01e92.png">

[2018-03-20 16:38] mmcote opened #5732 "[Preview] React specific popup does not work for React Version > 16."
1. Open a react app that has a version of 16 or greater. ([https://ahfarmer.github.io/emoji-search/](https://ahfarmer.github.io/emoji-search/))
2. Pause on a breakpoint in a component.
3. Hover over `this` in the component.
4. Note that the popup is the generic popup not the React specific popup.

5. If you want to see what the React specific component, here is a version 15.x.x react application.

[2018-03-20 16:39] mmcote commented on #5732
/claim

[2018-03-20 17:44] mohamedabo commented on #4070
Hello. We are students in @emmet0r class and we are claiming this issue. Comparing our own view of the debugger and this screenshot, it looks like both the "Search sources" and "Find in files" buttons have already been made keyboard accessible.
![image 1](https://user-images.githubusercontent.com/32283283/37672351-2706fba4-2c44-11e8-9d07-6aecf6cfc857.png)

![image](https://user-images.githubuserco

[2018-03-20 18:17] jasonLaster commented on #4070
CC @yzen @darkwing

[2018-03-20 18:38] #5426 closed

[2018-03-20 23:34] jasonLaster commented on #5625
This has trended to 0 recently

https://brasstacks.mozilla.com/orangefactor/?display=Bug&bugid=1441524&startday=2018-02-26&endday=2018-03-20&tree=all

[2018-03-21 07:30] marcogallo566 commented on #5706
/claim

[2018-03-21 12:53] jasonLaster opened #5738 "[Sources] Remove contents.get calls"
We recently refactored our immutable Source object to be a Record instead of a Map. As a result, we can now replace `contents.get("id")` calls with `contents.id` calls.

This refactor also removes some oversights in the code too :)

[code]

[2018-03-21 15:09] vxcamiloxv opened #5739 "Breakpoints don't work in node inspect"
In Firefox for Node don't show the debugger buttons and when ran `node--inspect-brk  bin/pump` nothing happens, the debugger didn't show anything (only the code) and with `--inspect` the code ran but when I put some breakpoints didn't work.

Firefox v59
Node v8.10
Debugger v0.6.0
Gnu/Linux (Parabola/Arch)

**Screenshots**

![screenshot-2018-03-21_10-01-41](https://user-images.githubusercontent.com

[2018-03-21 15:10] #5739 closed

[2018-03-21 15:10] jasonLaster commented on #5739
hi, thanks for looking into this. We're not trying to support node at the moment.

[2018-03-21 15:39] vxcamiloxv commented on #5581
It should remove Node.js tab (and from main page and docs) if no have plans to support it, that create a fake expectation: https://github.com/devtools-html/debugger.html/issues/5739#issuecomment-374972414

btw, could be great have an alternative to chrome/chromium to debug Node.js apps.

[2018-03-21 20:38] #5499 closed

[2018-03-21 21:17] jasonLaster commented on #3279
The PR has all but the source tests passing in Jest. The next step is to finish up the jest tests and then focus on the mochitests.

[2018-03-21 21:23] jasonLaster commented on #3943
@juliandescottes can you try this again?

[2018-03-21 21:34] #4013 closed

[2018-03-21 21:34] #5713 closed

[2018-03-21 21:36] #5710 closed

[2018-03-21 21:36] #5698 closed

[2018-03-21 21:37] #5649 closed

[2018-03-21 21:38] jasonLaster commented on #4311
I'm going to close as this issue does not have enough context to fix. I'd be happy to re-open with a clearer STR

[2018-03-21 21:38] #4390 closed

[2018-03-21 21:45] #5204 closed

[2018-03-21 21:45] jasonLaster commented on #4017
@jimblandy did you see this comment above:

it might be just for some `about` pages

[2018-03-21 21:48] juliandescottes commented on #3943
Looks fixed in recent Nightlies, feel free to close.

[2018-03-21 21:49] #3943 closed

[2018-03-21 21:50] jasonLaster commented on #5707
@yalooong any luck?

[2018-03-21 21:51] jasonLaster commented on #5122
@gregtatum does perf.html flow type react-redux?

[2018-03-21 21:51] jasonLaster commented on #5072
Hey @ahuth still interested in this?

[2018-03-21 21:52] jasonLaster commented on #3080
Hey @sejoker, @wldcordeiro  any interest in picking this up and landing a couple of these refactors? It'd be nice land a couple to get a precedent in here.

[2018-03-21 21:55] jasonLaster commented on #5727
Hey @nchevobbe how do you feel about this?

My opinion is that summaries can quickly take up a lot of space. When we add saved expanded state, objects and arrays will stay open as you step which will help.

Also, in the future, I hope to do a better job of letting users choose how to see the variables in their local state.

1. users can have watch expressions pinned to a function so every time the

[2018-03-21 21:57] jasonLaster commented on #4825
I'm moving this to the icebox. We can re-evaluate at the start of the next release

[2018-03-21 21:57] #4825 closed

[2018-03-21 21:58] darkwing commented on #5102
I've seen lots of stuff going in from you @atwalg2  -- awesome!  Is this still on your radar or should we unclaim it?

[2018-03-21 22:00] jasonLaster commented on #5679
Hey @AlexWang-16 how's it going?

[2018-03-21 22:03] jasonLaster commented on #5660
This is working for me in nightly. Let me know if it works for you.

[2018-03-21 22:03] #5660 closed

[2018-03-21 22:07] darkwing commented on #5603
Is this still on your radar @CharlesStocky ?  Would you like to unclaim?

[2018-03-21 22:25] jasonLaster opened #5748 "[Editor] switching panes causes the editor to lose its scroll position"
STR:

1. go to todomvc
2. go to todo-view
3. scroll to line 70
4. switch to console
5. switch back

ER: you're on line 70
AR: you're on line 1

---

This was caused by the new VisibilityHelper

[2018-03-21 22:33] CharlesStocky commented on #5603
@darkwing I've been working on other stuff, I'll start focusing on it more now.

[2018-03-21 23:20] yalooong commented on #5707
@jasonLaster Hi, I am trying to eliminating the errors after adding flow (13 remaining, was 28). Just need a bit more time. Thanks.

[2018-03-22 01:30] #5581 closed

[2018-03-22 02:17] AlexWang-16 commented on #5679
@jasonLaster I think I got it. Going to commit then do a PR. It should be ready within 10 - 15 minutes.

[2018-03-22 06:43] nchevobbe commented on #5727
For the arrays, we do have the length displayed: `▶︎ subPath: (2) [ …]`, but yeah, I understand this is not ideal.
We can try the `SHORT` mode, but it's hard to predict how much place it will take, and since we are in a sidebar we don't have much space. What we could try is to only have nodes on a single line with an ellipsis overflow ? At least for all expandable items, so you can still expand th

[2018-03-22 12:35] jasonLaster commented on #5707
Feel free to send us questions here or on slack

[2018-03-22 13:05] #5679 closed

[2018-03-22 13:17] jasonLaster opened #5753 "[PausePoints] find some additional locations"
Here are some examples of locations we should find pause points:

- [x] imports
- [x] decorators
- [x] exports
- [x] class definitions
- [x] class assignments
- [x] class and switch statements
- [x] chained function calls on different lines

### Input

Check out the [ast](https://astexplorer.net/#/gist/49d7da9282189cb960f6561aeece4ff6/beb3dfc220ab9e05e97f0b64e2856c1d263b6a24)!

[code]

### Output

[2018-03-22 13:38] sharathnarayanph commented on #5748
/claim

[2018-03-22 13:53] atwalg2 commented on #5102
Yea I could probably just unclaim it now

On Mar 21, 2018 3:58 PM, "David Walsh" <notifications@github.com> wrote:

[2018-03-22 14:42] julienw commented on #5727
I guess it does :)

[2018-03-22 14:50] julienw opened #5754 "[Scopes] Default expanded view should include all scopes up to the function's parameters"
STR:
1. Break into a function that has parameters

The default expanded view only has the current block. It would be very useful to have all scopes expanded up to the current function's arguments.
Especially even when breaking at the first line of a function, at the outermost block of the function, the argument's scope isn't expanded.

As a bonus: it may be a good idea to open more enclosing scope

[2018-03-22 15:04] jasonLaster commented on #5754
@julienw can you share an STR with screenshots. I think this might be a bug with our lexical scopes ie. let and const

[2018-03-22 15:05] jasonLaster commented on #5727
what do you mean?

[2018-03-22 15:13] nchevobbe commented on #5727
So, instead of using `TINY` modes and having
`▶︎ subPath: (2) [ … ]`

We'd use `SHORT` mode, but restricted to only a single line to have :
 `▶︎ subPath:  [ "root", "root/child-1" ]``

Now let's say the properties are really long / the scopes panel really narrow, it would get a bit wild:
 `▶︎ subPath:  [ "this is a very long property name", "yeah I know, i'm even longer than you" ]`

It could wrap

[2018-03-22 15:21] jasonLaster commented on #5727
Oh thanks. Wasn't sure.

I'm not really a fan of this:

- it doesn't really give the user more information than they had before
- it clutters the UI quite a bit

Perhaps we could do something on hover where we show a better preview tooltip...

- this would give users quicker feedback
- it might make hovering a bit weird in some cases

I think we should start with keeping the expand state, which wi

[2018-03-22 16:51] s-pace commented on #5338
👋 @jasonLaster,

If you want to try it in the meanwhile, I have bootstrap you a showcase in 2 sec:

http://debugger-docsearch.surge.sh/

We could even integrate it. We do provide analytic on top of it :) 🦊

[2018-03-22 17:29] jasonLaster commented on #5338
@s-pace this is blocked on me not knowing how to add it to our existing github-pages docs...

Do other do this now with a template integration or something else?

[2018-03-22 17:40] jasonLaster commented on #5638
@darkwing @violasong how do you feel about a link to open the shortcuts modal from the welcome pane?

It's redundant w/ the ? logo, but could be nice

[2018-03-22 17:41] jasonLaster commented on #5047
how's it going @zeoneo?

[2018-03-22 18:04] CameronPilgrim commented on #5120
/claim
I am in @emmet0r 's class and my team ( @johnsonwe and @mohamedabo )would like to work on this issue.

[2018-03-22 18:09] s-pace commented on #5338
No, they only integrate the snippets on their html pages I guess.

If you can't find a wait, ping me and I will have a look with the team / ask others that have done it easily.

[2018-03-22 18:10] jasonLaster commented on #5120
thanks! we might need to disable this for some files while we fix them, but not a big deal. when we do we can file issues to fix them!

[2018-03-22 18:11] jasonLaster commented on #5338
we use the standard template, so not sure how to do this. We should be a pretty common case.

I'd be happy to suck in a different template that has algolia built in :)

[2018-03-22 18:42] chan750 commented on #4080
@paesh1997, @denigrise, and I are in @emmet0r class and will be trying to tackle the second check box "Need to be able to navigate to headers with keyboard"

[2018-03-22 19:11] jasonLaster opened #5757 "[Preview] stop showing immutable `entries` field"
The debugger has a really nice feature for detecting immutable objects and showing its JS representation. Unfortunately, we show a top level `entries` field when we should *just* show the fields

### STR

1. go to https://dbg-immutable.glitch.me/
2. click "stuff"
3. hover on `map` and `list`

### Code

[code]

### Screenshots

![Screen Shot 2018-03-22 at 3.09.27 PM.png](https://shipusercontent.com

[2018-03-22 19:11] Loirooriol opened #5758 "Can't add breakpoints since v25"
1. Install https://github.com/devtools-html/debugger.html/files/1838911/test.zip in about:debugging
2. Open browser toolbox
3. Go to the debugger
4. Search sources (Ctrl+P)
5. Open `ext-tabs.js`
6. Try to add a breakpoint

Result: not possible
Expected: possible

Regression window: https://hg.mozilla.org/integration/mozilla-inbound/pushloghtml?fromchange=7db110ae9111dcf786a2f375edaa8fdd8c412e36&to

[2018-03-22 19:13] jasonLaster commented on #5758
here is the comparison: http://github.com/devtools-html/debugger.html/compare/release-24...release-25

[2018-03-22 20:14] fvsch commented on #5720
Should this bug titled "[SourceTree] …" (not plural), so that it can be grouped with the others?

[2018-03-22 20:27] jasonLaster commented on #5720
@fvsch good call

[2018-03-22 20:31] fvsch opened #5759 "[SourceTree] Missing path segment for resource:// and extension:// URLs"
In Firefox Nightly 2018-03-22:

<img width="242" alt="screenshot" src="https://user-images.githubusercontent.com/243601/37796352-61cdeac0-2e17-11e8-8219-3e347a37243a.png">

Sources on the `resource://` and `extension://` protocols are missing the first path segment after the protocol (or is that considered a domain maybe?).

Example with two source URLs:

[code]

Displayed:

[code]

Expected:

[co

[2018-03-22 21:00] julienw commented on #5727
Maybe when displaying arrays in "SHORT" mode, we shouldn't display the full items. The first 5 or 6 characters would be enough. So in your example:

[code]

How does a normal string display in SHORT mode?

We don't need the full string, what we need is having an overview of what's in the array or in the items. If the item is too long, it's fine to cut it, just like we'd do for an array. _But_ I st

[2018-03-22 21:12] julienw commented on #5754
Here is a testcase:

[code]

STR for the simpler case is:
1. Break on line 15 on `const foo = "foo"`

![Capture for the simpler case](https://user-images.githubusercontent.com/454175/37798704-d622b4b8-2e1d-11e8-9fcf-da08408bb2bc.png)

STR for the complicated case is:
1. Break on line 17 on `console.log(i)`

![Capture for the complicated case](https://user-images.githubusercontent.com/454175/377987

[2018-03-22 21:24] jasonLaster commented on #5727
what are some examples of objects or arrays you are not sure about that you would like summaries of? I think some real world examples might help.

[2018-03-22 21:26] jasonLaster commented on #5754
I believe that this bug fixes this. https://bugzilla.mozilla.org/show_bug.cgi?id=1431461

@jorendorff what do you think?

[2018-03-22 21:40] jasonLaster commented on #4312
Closing this as this represents the work down last fall. Lets open a new photon UI for this next sprint.

[2018-03-22 21:40] #4312 closed

[2018-03-22 21:49] #5625 closed

[2018-03-22 21:49] jasonLaster commented on #5625
closing as it is no longer failing

[2018-03-22 21:49] jasonLaster commented on #3344
@juliandescottes do you think we need this or having a worker test is sufficient?

[2018-03-22 21:51] jasonLaster commented on #5164
Ping @julienw @atwalg2 @Garbee @darkwing  do you think you could  help with this?

[2018-03-22 21:51] jasonLaster commented on #4075
@yzen @darkwing what would you like to do here?

[2018-03-22 21:51] darkwing commented on #5720
We can close this since the PR merged earlier today for clearing sources will no longer allow setting a new root on a different domain without clearing first.

[2018-03-22 21:51] #5720 closed

[2018-03-22 21:55] darkwing commented on #5164
I'll check this out tonight or tomorrow morning!

[2018-03-22 21:55] jasonLaster commented on #5061
I'm moving this issue to bugzilla so we can track it closer to spidermonkey - https://bugzilla.mozilla.org/show_bug.cgi?id=1448166

[2018-03-22 21:55] #5061 closed

[2018-03-22 22:02] darkwing commented on #4075
We'll need to do a larger review and make some decisions.  Making the close button an actual button seems reasonably easy.  We'll need to think about keyboard shortcuts and tabbing, however.  I'm thinking `CTRL+0`, CTRO+1`, etc. would work for selecting individual tabs.  How we navigate from one to the next....that will take some thought.

[2018-03-22 22:32] jasonLaster opened #5760 "[QuickOpen] File search should use the directory root"
The new debugger project root is amazing! It really simplifies the source tree when work working with large projects. We should try and use the directory root to simplify Quick Open:

1. we should only show files that match the root
2. we should truncate the file paths so you only see the part of the relevant part of the path

### Quick Open

![Screen Shot 2018-03-22 at 6.30.24 PM.png](https://shi

[2018-03-22 22:32] violasong commented on #5638
I like the idea of a `More shortcuts` link below the two lines. Keeping it simple helps communicate the empty-state. The redundancy with the `?` button seems fine since it's so unobtrusive down there. Eventually I'd love to link `?` to a more fleshed out help modal based on quick open (https://mozilla.invisionapp.com/d/main/#/console/12557775/283871189/preview), but the shortcuts modal seems fine

[2018-03-22 22:43] jasonLaster opened #5762 "[SecondaryPane] should not allow text selections"
STR
1. add a breakpoint
2. select the breakpoint and drag your mouse down

:/

![Screen Shot 2018-03-22 at 6.42.00 PM.png](https://shipusercontent.com/2172bb810a3451ff458968c43ac70ffd/Screen%20Shot%202018-03-22%20at%206.42.00%20PM.png)

[2018-03-22 23:53] jasonLaster opened #5764 "[PausePoints] iterate on the datastructure"
PausePoints' current datastructure could use some tweaking

- it is a bit verbose
- it is not optimized for lookups
- stepOver could be step

### Current

[code]

### New

- Similar to the [BreakpointActorMap](https://searchfox.org/mozilla-central/source/devtools/server/actors/utils/breakpoint-actor-map.js#75-81)
- Keys the pause points by line & column to make lookups constant time
- a bit more t

[2018-03-23 00:24] jasonLaster commented on #5707
Wow, that's great. Please share your work as a PR so i can play with it!

- The first two sound of a case where we should change the code to use one type and not the other
- Maybe we land fixes fir the first batch of changes, as long as it doesn't break other things
- The third bug (recurse limit) is scary. We will have to google around for that. Perhaps use twitter to get some help too :)

[2018-03-23 01:38] yalooong commented on #5707
Thanks for the help. I have created the PR #5766. Please let me know if I can do more contribution.

[2018-03-23 09:14] julienw commented on #5164
I think there's nothing to do on our end, as the bug is either in node or in gitbash. A workaround is, i think,  that the user runs `start git push` instead of just `git push` (I haven't tried the workaround myself). I don't think we should (if we even can!) work around these environment issues in our project.

[2018-03-23 09:15] julienw commented on #5754
This will likely fix case 1, but not case 2. This is correct that we have several block scopes here. But in the UI my view is that they should be expanded already.

[2018-03-23 09:17] julienw commented on #5727
In my case that's arrays of integers. Like `[1, 35, 3953, 4819, 256, ...]`, from 1 to ~100 items depending on the cases.

In my previous comment, I just wanted to give another (and better, I think) solution to the issue @nchevobbe outlined.

[2018-03-23 09:28] lukaszsobek commented on #5738
/claim

[2018-03-23 09:52] juliandescottes commented on #3344
From a debugger point of view, I suppose the codepaths are similar. From a connection/toolbox point of view it makes sense to have a dedicated test though. Feel free to close this one.

[2018-03-23 10:00] juliandescottes commented on #5758
All the lines look "disabled"

![image](https://user-images.githubusercontent.com/1141550/37823246-39d142b6-2e89-11e8-888f-e3d34f3e955f.png)

I have had similar issues trying to debug debugger.js on recent central. What drives the enabling/disabling of lines and how could this have changed? @jasonLaster

[2018-03-23 10:02] juliandescottes commented on #5758
Most likely a regression from https://github.com/devtools-html/debugger.html/pull/5537

[2018-03-23 11:55] jasonLaster commented on #5164
got it, yeah maybe our fix is just improvements to the docs. Like suggesting `start git push`

[2018-03-23 12:41] julienw commented on #5727
More exactly, my variable holds an array of arrays of integers.

[2018-03-23 12:42] julienw commented on #5727
More exactly, my variable holds an array of arrays of integers.

[2018-03-23 13:03] s-pace commented on #5338
Do you have access to some HTML?

If so, yo will only need to add the required includes.

Keep me posted @jasonLaster

[2018-03-23 15:48] darkwing opened #5770 "Implement Photon ResultList Design"
@violasong has provided the following mockups for our result list design:

![photo-dropdown-design](https://user-images.githubusercontent.com/46655/37837918-84fd156c-2e84-11e8-9326-4dd52c181bf2.png)

Once @marcogallo566's PR https://github.com/devtools-html/debugger.html/pull/5729 has been merged, the last remaining piece is adding the tab/"JS" image, which can be found here:

https://design.firef

[2018-03-23 16:49] darkwing commented on #5762
The fix for this will likely be:

[code]

for the `.secondary-panes` selector

[2018-03-23 16:56] ph3n0m666 commented on #5762
most modern browsers:

.secondary-panes {
  user-select: none;
}

every possible browser (or as I call it - overkill :)
.secondary-panes {
  -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

[2018-03-23 16:59] darkwing commented on #5760
Whoa, great idea!

[2018-03-23 17:26] buttersnipps commented on #5762
\claim

[2018-03-23 17:47] darkwing opened #5773 "[Breakpoints] New Breakpoint UI"
- [x] https://github.com/devtools-html/debugger.html/issues/5795
- [ ] https://github.com/devtools-html/debugger.html/issues/5903
- [x] https://github.com/devtools-html/debugger.html/issues/5908
- [x] https://github.com/devtools-html/debugger.html/issues/5796
- [x] https://github.com/devtools-html/debugger.html/pull/5823
- [x] https://github.com/devtools-html/debugger.html/issues/5849

@violasong

[2018-03-23 18:43] jasonLaster commented on #5509
I opened this bug, which proposes preventing expressions from pausing on exceptions: https://bugzilla.mozilla.org/show_bug.cgi?id=1448431

[2018-03-23 19:19] buttersnipps commented on #5762
Added the suggested changed to stop users from selecting text on the secondary pane
https://github.com/devtools-html/debugger.html/pull/5775

[2018-03-23 21:27] jasonLaster commented on #4756
I'm seeing it in nightly as well

[2018-03-24 05:01] #5762 closed

[2018-03-24 15:50] joshunger commented on #5663
@buttersnipps are you working on this issue?

[2018-03-25 10:33] zeoneo commented on #5047
I understood earlier Jekyll set up and Gatsby js. I will start actual work now and post updates on my progress here.

[2018-03-25 23:25] jasonLaster commented on #5338
@s-pace We don't. We're just using the standard github pages template<img src='https://shipusercontent.com/72e486e251db2352ea3c19436644aa39/Screen%20Shot%202018-03-25%20at%207.25.02%20PM.png' title='Screen Shot 2018-03-25 at 7.25.02 PM.png' width=774>

[2018-03-26 05:51] karlcow opened #5782 "[Breakpoints] U+2028 and U+2029 characters throw off pause locations"
Issues met when working with this issue https://webcompat.com/issues/16130

1. With Firefox Nightly 61.0a1 (2018-03-25) (64-bit)
2. Open devtools
3. Go to http://www.ximalaya.com/14647138/album/6527131/
4. Go to debugger
5. Find almond.js ( http://s1.xmcdn.com/js/almond.js?v=20180319144900 )
6. Unminify it (long script 109,510 lines once unminified)
7. Try to set a breakpoint by clicking on the le

[2018-03-26 11:32] escaton commented on #5352
@darkwing could you close this issue please?

[2018-03-26 11:34] #5352 closed

[2018-03-26 14:02] jorendorff commented on #5754
@julienw's last comment seems right to me.

[2018-03-26 14:17] gregtatum commented on #5122
I built some manual definitions since the ones from `flow-typed` weren't accurate enough and were not causing errors in the props. They are pretty verbose and explicit in order to be correct. I know that people have been working on the official types, but I haven't seen what they've done. I'd be happy to have a bigger discussion around this if you're interested. We still have a couple of small cor

[2018-03-26 14:26] #5447 closed

[2018-03-26 14:49] #5637 closed

[2018-03-26 16:00] jasonLaster commented on #3829
I think we can get the editor if we set it in module state:

[code]

[code]

[2018-03-26 18:15] jasonLaster commented on #5782
hmm, that's interesting @AnshulMalik. can you share a bit more... Maybe some surrounding code?

[2018-03-26 18:55] darkwing opened #5785 "Source Search Show Empty Item"
STR:
- Go to https://davidwalsh.name
- Hit Command+P
- Scroll down
- You'll see an empty item in the result list

When hovering over said Item, the title is "/", so I believe we need that to say "(index)" instead.

<img width="700" alt="indexitem" src="https://user-images.githubusercontent.com/46655/37926565-4555c104-30fd-11e8-8903-5fee50d6cb67.png">

[2018-03-26 18:56] jasonLaster commented on #5785
Nice find

[2018-03-26 20:24] violasong commented on #5773
Here's how it would look without the icons. (I think their shape makes them clash a bit when next to checkboxes)
<img width="288" alt="image" src="https://user-images.githubusercontent.com/55994/37930732-70b0ab02-30f8-11e8-93ed-48e916eef0c7.png">

Alternatively I think making the main exceptions icon a little smaller and spaced closer to the text would work fine, and it would be a nice hint for Ch

[2018-03-26 21:32] apetov commented on #5785
/claim

[2018-03-27 01:37] karlcow opened #5791 "Reference to the original script is lost"
This happens when investigating https://webcompat.com/issues/6830

## Steps to reproduce

1. With Firefox Android (WebIDE) or Firefox Desktop/Responsive Design mode with Firefox android UA
2. Go to https://secure.fnac.com/MyAccount/Wishlist/Home
3. Login with Google (for example)
4. tap create my first list "Créer ma première liste"
5. A rectangle happen with "Nommer ma liste"
6. Inspect this rect

[2018-03-27 14:03] #5659 closed

[2018-03-27 14:15] jasonLaster commented on #3375
Here are two use cases

go to localhost:8000 and add breakpoints at `reducers/ast.js#83` (set_symbols) and `actions/ast.js#47` (setSymbols).!

| Reducer | Action |
|--|--|
| ![red] | ![act] |
[act]:https://shipusercontent.com/6f1907e5efe2e216fe64f68622a6dfdd/Screen%20Shot%202018-03-27%20at%2010.05.20%20AM.png
[red]:https://shipusercontent.com/1a887ecd5d626dc6620c2f44660818f7/Screen%20Shot%202018-0

[2018-03-27 14:40] calebstdenis commented on #3375
/claim

[2018-03-27 14:45] darkwing opened #5795 "[Breakpoints] Add UnCaught Exception and Caught Exceptions Checkboxes"
Parent issue is: #5773

- [ ] Add HTML elements to the panel
- [ ] Add their values to state

https://user-images.githubusercontent.com/55994/37930870-da08602c-30f8-11e8-8d4a-a08e13342aa0.png

[2018-03-27 14:53] darkwing opened #5796 "[Breakpoints] Show breakpoints grouped by file"
Parent issue is: #5773

- [x] Sort the breakpoints by file
- [x] Display the breakpoints by file
- [x] Ensure proper ellipsis usage for line item code snippet

[2018-03-27 15:19] darkwing opened #5797 "[Sources] Consider Higher Level Sources Filtering"
The Project Directory Root feature was added long after the project was started.  This feature introduced filtering of sources for the tree, but we also want to filter sources for quick open searches.

Instead of filtering sources in multiple places, I believe we should filter sources at the highest level.  In this case, when no root is set (""), all sources are retrieved and available everywhere;

[2018-03-27 15:25] joshunger commented on #5663
@buttersnipps I'm going to take a look in at this issue later this week can you let me know if you're working on it? If I don't hear from you I'll start working on it.  If you want to ✋ it off let me know.

[2018-03-27 15:33] joshunger commented on #5663
Mouse over -
![image](https://user-images.githubusercontent.com/2301847/37977856-e3014f32-31a1-11e8-94b1-d14dad76f018.png)

[2018-03-27 15:51] AnshulMalik commented on #5797
I agree. This will help at a lot of places.

[2018-03-27 16:29] jasonLaster commented on #5797
Thanks @darkwing, I think it is great to step back and look at how we support directory roots throughout the UI.

As a general rule of thumb, I think it is helpful to extract shared UI logic out of the components and into Redux, either as a reducer store field or reducer selector.

I like the idea of adding a selector `getFilteredRootSources`, which would be similar to how `getVisibleBreakpoints`

[2018-03-27 16:42] jasonLaster opened #5800 "[QuickOpen] Escape no longer closes the modal"
STR:

1. open QO via `cmd+p`
2. press `<escape>`

ER: Modal should close
AR: Modal is unaffected

[2018-03-27 18:43] moses-gbondo commented on #4080
@jawyoonis and @phuyalb16 are in @emmet0r class and we are working on checkbox 4 (header/panels and list semantics).

[2018-03-27 23:09] jasonLaster commented on #5633
We just landed a PR, which fixed many of the cases

we now just have this case: reloading and seeing the highlight... but otherwise this is really great.

![](http://g.recordit.co/Y2RFphqxYb.gif)

[2018-03-28 06:07] karlcow opened #5807 "[Breakpoints] After setting a breakpoint, debugger refuses to step through the code"
To reproduce

0. With Firefox Desktop Responsive Design mode. (window 360px/640px, Firefox Android UA, touch activated). 61.0a1 (2018-03-27) (64-bit)
1. Go to http://siberiastationspa.com/infos-pratiques/
2. Open the debugger
3. Find `function initHashClick()` in `default.min.js`
4. Set a breakpoint at the beginning of the code in initHashClick(). See screenshot
5. Go back to the viewport window.