[2018-12-20 01:13] emmairwin commented on #7328
@princiya hit a small wall, and have asked @jasonLaster what apps might we remove.
![authorize_access_to_your_account_firefox_devtools_slack_-_2018-12-19_17 08 32](https://user-images.githubusercontent.com/60618/50257729-6af44980-03b1-11e9-8823-703e52707bfb.png)

[2018-12-20 07:05] finalfantasia commented on #6578
/claim

[2018-12-20 09:54] ShaguftaMethwani commented on #7328
@emmairwin I'm kind of on a pre-vacation at the moment, I won't be able to set up right now without laptop, but I will definitely do some testing after I return on 31st. Really sorry about that. Meanwhile I'll check if this is possible on mobile.

[2018-12-20 11:53] fvsch commented on #6151
@nchevobbe I tend to agree. Should we move this issue to the ux repo, since it's a cross-tool design issue, or maybe add a ux label here (if there is one)?

The crosshair symbol is used for a bunch of things:

- It's the Inspector's tab icon
- Used in Inspector>Rules for highlighting elements matched by a selector
- Used in Reps (Console, Debugger), and the old variable-view to select a DOM node i

[2018-12-20 11:59] fvsch opened #7566 "Use the same expand arrow icon as Inspector, Console etc."
We updated the expand arrow icon recently ([ux issue](https://github.com/devtools-html/ux/issues/31)) and implemented the new icon in mozilla-central but not yet in Debugger/Reps.

The correct icon can be found here:
https://searchfox.org/mozilla-central/source/devtools/client/themes/images/arrow.svg

It's a 10x10 icon, but is visually just 8x8. It will probably appear a little bit smaller than th

[2018-12-20 12:14] nchevobbe commented on #6151
Yes, looks like it would be nice in the ux repo

[2018-12-20 13:42] fvsch commented on #7497
Can we improve the "Copy..." options in the source editor? They're rather confusing!

For example, in the editor, if I don't select text:

1. "Copy to clipboard" is enabled, it copies the whole file's text
2. "Copy source text" is shown but disabled

If I select some text:

1. "Copy to clipboard" is enabled, it copies the whole file's text
2. "Copy source text" is enabled, it copies the selected t

[2018-12-20 14:12] #7558 closed

[2018-12-20 14:40] #7360 closed

[2018-12-20 15:15] jasonLaster opened #7568 "[flow] add types for reselect"
We recently [upgraded][u] to flow 89 and had to add an adapter to reselect's createSelector function to keep it from giving us type errors. It would be nice to revisit this and add types, which will let us infer values from all of our memoized functions

[code]

[u]: https://github.com/devtools-html/debugger.html/pull/7526

[2018-12-20 16:07] #4070 closed

[2018-12-20 16:11] #5467 closed

[2018-12-20 16:12] #5782 closed

[2018-12-20 16:13] loganfsmyth commented on #5782
If more people run into this, we can consider addressing it in the future, but for now it does not seem like a priority for us.

[2018-12-20 16:14] darkwing commented on #7566
@fvsch Could you detail where this would be implemented?  Sources Tree?  Accordion?  Object Inspector?

[2018-12-20 16:15] jasonLaster commented on #7184
How's it going @codingnninja?

[2018-12-20 16:15] jasonLaster commented on #6993
How's it going @twhite96?

[2018-12-20 16:16] jasonLaster commented on #6771
@jaikathuria  are you still interested in working on this?

[2018-12-20 16:17] jasonLaster commented on #7477
@jainsneha23 how's it going?

[2018-12-20 16:19] jasonLaster commented on #6744
@aditya81070  how's it going? are you still interested in this?

[2018-12-20 16:20] #6651 closed

[2018-12-20 16:21] loganfsmyth commented on #6446
@RiyaRiya Is this something you are still looking into?

[2018-12-20 16:22] jasonLaster commented on #6578
How's it going @finalfantasia

[2018-12-20 16:24] jasonLaster commented on #3375
Moving this to the sandbox

[2018-12-20 16:24] #3375 closed

[2018-12-20 16:30] jasonLaster commented on #4407
this is already tracked in mc
https://bugzilla.mozilla.org/show_bug.cgi?id=1439369

[2018-12-20 16:30] #4407 closed

[2018-12-20 16:30] darkwing commented on #7325
@baronKilljoy Would you like to take this now?  I think we'd like to go with the `--no results found` option! 👍

[2018-12-20 16:33] jasonLaster commented on #6015
closing this. Feel free to re-open if you can reproduce it.

[2018-12-20 16:33] #6015 closed

[2018-12-20 16:34] jasonLaster commented on #6091
@violasong can we close this and focus on #6631?

[2018-12-20 16:34] jasonLaster commented on #6094
@AnshulMalik lets close this when your work finishes up

[2018-12-20 17:14] fvsch opened #7569 "Line breakpoint marker is blurry on 1x displays"
The breakpoint SVG image (shown behind the line number in the gutter) is blurry on 1x displays.

![breakpoint-marker](https://user-images.githubusercontent.com/243601/50299713-985cf800-0482-11e9-85d6-a206bf4ff8b6.png)

It seems there are two reasons for that:

1. It's using a 1px stroke on a `<path/>` which touches the edges of the viewport. This means that half the stroke is painted outside the v

[2018-12-20 17:34] AnshulMalik commented on #5545
Looks like this is fixed now.

[2018-12-20 17:34] #5545 closed

[2018-12-20 17:46] fvsch commented on #7566
All of them. :)

One way to proceed is to take https://searchfox.org/mozilla-central/source/devtools/client/themes/images/arrow.svg, remove the `fill` so that it's fully black, and use that to replace the code of https://github.com/devtools-html/debugger.html/blob/master/assets/images/arrow.svg

Then we need to do a pass on every place that uses this icon, to make sure the icon is rendered at 10x1

[2018-12-20 17:57] gregtatum commented on #7568
We are using the built-in library definition for reselect, but then using our own type definition for the `Selector<T>` type. We have lots of code comments justifying what we are doing:

https://github.com/devtools-html/perf.html/blob/a2c86bfb5434c2f051aa3991b7e4d2cfd7bb6b59/src/types/store.js#L21-L61

This solution feels right, because it is fairly terse, and uses the correct `State` definition f

[2018-12-20 18:17] nchevobbe commented on #6446
This issue is now resolved

[code]

outputs:

<img width="617" alt="image" src="https://user-images.githubusercontent.com/578107/50302935-dc082f80-048b-11e9-86c5-e6b0912f6f83.png">

[2018-12-20 18:17] #6446 closed

[2018-12-20 18:18] chocos10 commented on #7569
Hi @AnshulMalik I am newbie to Mozilla , I would like to work on it, can you help me with it i cloned the repo and installed the project locally and its working well!

[2018-12-20 18:20] nchevobbe commented on #6114
this is not really done by the Rep directly, but it now takes a prop that can be used to render the stacktrace. In the console, we pass a function that then uses SmartTrace, which handles sourcemaps.

So I think we can close this.

[2018-12-20 18:20] #6114 closed

[2018-12-20 18:23] finalfantasia commented on #6578
Hi @jasonLaster .

I guess I'll probably end up fixing this issue myself. 😁 As you may have already seen, I have a few commits lined up for a pull request and am currently working "before"/"after" screenshots and test steps.

On the other hand, I have two patches against `gecko-dev` which include changes that will include the CodeMirror Clojure mode in the Webpack bundle. However, I'm not sure how

[2018-12-20 18:42] AnshulMalik commented on #7569
Awesome @chocos10

The svg tag in this file https://github.com/devtools-html/debugger.html/blob/master/assets/images/breakpoint.svg needs to be replaced with new one.

[2018-12-20 18:53] AnshulMalik commented on #4642
This can be closed?

[2018-12-20 19:07] AnshulMalik commented on #4798
I can reproduce this issue on builds from 2017-01-10. I think we didn't support these type of sources from the start.

[2018-12-20 19:44] violasong commented on #6091
Sounds good!

[2018-12-20 19:44] #6091 closed

[2018-12-20 20:38] jasonLaster commented on #4642
we hacen't enabled it yet in mc...

[2018-12-20 20:40] jasonLaster commented on #6578
@finalfantasia i think gecko-dev and bugzilla is fine. Feel free to make an attachment for the bug and share it with me.

https://developer.mozilla.org/en-US/docs/Mozilla/Developer_guide/How_to_Submit_a_Patch#Creating_a_patch

[2018-12-20 20:46] digitarald commented on #3991
The root cause of this issue seems fixed.

Amazon: https://perfht.ml/2V1Rx1c - snappy.
Github: https://perfht.ml/2V0YTlq - we seem to be waiting for downloading the source maps and the worker before drawing any UI, which is an odd choice. I will file that as separate issue though.

[2018-12-20 20:46] #3991 closed

[2018-12-20 20:50] Garee commented on #7536
/claim

[2018-12-20 20:59] digitarald opened #7570 "Show interface before source maps load/parse"
STR:
- Open this github page
- Open Devtools with Console
- Switch to Debugger

Profile: https://perfht.ml/2PQyfYM

For the user it takes 1+ sec for the Debugger to load, most of the time just showing an empty panel.

Code-wise the UI blocks on loading `.map` files and parsing them; which depending on Network can take even longer. Throttling macOS to bad 3G shows how the Debugger load time is too

[2018-12-20 21:00] jasonLaster commented on #7570
this should help

https://github.com/devtools-html/debugger.html/pull/7302

[2018-12-20 21:02] jasonLaster opened #7571 "[sources] Set directory root does not work for debugger.html"
STR:

1. go to http://localhost:8000/
2. open the debugger
3. right click on the debugger.html dir

ER: see the files below webpack
AR: see no sources

NOTE other dirs work

[2018-12-20 21:03] jasonLaster opened #7572 "[breakpoints] cmd+shift+b fails to set a conditional bp"
STR:

1. open a file in the debugger
2. click a line
3. press cmd+shift+b

ER: see a condtional panel
AR: nothing happens

I think this broke when we made the panel use a location object

[2018-12-20 22:37] #7190 closed

[2018-12-21 04:00] Art-Vanderlay commented on #7287
@Doomwyte are you still working on this?

[2018-12-21 05:16] digitarald opened #7579 "Hitting breakpoints fails with l10n error"
Nightly 66.0a1 (2018-12-20) (64-bit)

STR:
- Open https://angular-quickstart.glitch.me/
- Toggle breakpoint in one of the ts files
- Reload

AR:  Debugger loads and then blow up into a white panel

Before refresh:
<img width="854" alt="image" src="https://user-images.githubusercontent.com/8599/50326162-876db000-049d-11e9-8789-3aa804d83ad2.png">

After:

Error: `TypeError: "l10n is undefined"`

[co

[2018-12-21 12:43] AnshulMalik commented on #5553
I'll try to work on this :)

[2018-12-21 14:41] jasonLaster commented on #6993
@twhite96 that's okay. ping me if you have questions

[2018-12-21 15:12] #7212 closed

[2018-12-21 17:08] jainsneha23 commented on #7477
Hi @jasonLaster  I am able to figure out the issue. Its because of commit 4a43e9a, where the line is set as 0 in utils/location.js
And packages/devtools-source-map/node_modules/source-map/lib/source-map-consumer.js
if (needle.generatedLine < 1) {
      throw new Error("Line numbers must be >= 1");
    }
As generatedLine was undefined before, it used to work, now that its 0, it throws error.
Raisin

[2018-12-21 17:45] jasonLaster commented on #7555
@carlosangon how's it going? Have you been able to get setup? If you have any questions feel to ping us on slack!

[2018-12-21 17:47] jasonLaster commented on #7536
:wave: @Garee , just checking in to see how it's going and if you have any questions.

Also, always happy to chat on [slack] or in a 'hangout!

[slack]: https://devtools-html-slack.herokuapp.com/

[2018-12-21 17:48] jasonLaster commented on #7477
Cool, will review the PR soon!

[2018-12-21 17:51] jasonLaster commented on #3282
I think so, we can track it in firefox...

[2018-12-21 17:51] #3282 closed

[2018-12-21 18:00] jasonLaster commented on #7473
Hey @darkwing, would you mind adding a small test case and str?

[2018-12-21 18:02] jasonLaster commented on #7473
By the way, you can find more information on using context menus, check out our [doc][menu] .

[menu]: https://github.com/devtools-html/debugger.html/blob/master/docs/local-development.md#context-menus

[2018-12-21 18:32] carlosangon commented on #7555
@jasonLaster Thank you for checking on me.  I will message you guys if I run into any temporary obstacles.

[2018-12-21 21:32] Garee commented on #7536
Hey @jasonLaster , I've submitted a pull request with a proposed fix for this issue. Please let me know if any changes are required or if it can be improved. Thanks for the help!

[2018-12-22 14:45] ganes1410 commented on #7201
@jasonLaster  Some of the tests are failing after running `test` script for the first time.I haven't started making any changes yet.

![screenshot from 2018-12-22 20-10-11](https://user-images.githubusercontent.com/16988745/50375609-232a2800-0626-11e9-99ed-32a720453b7b.png)

[2018-12-22 20:47] #6578 closed

[2018-12-22 20:51] Regaddi commented on #7546
/claim

[2018-12-22 21:07] darkhist opened #7588 "[Documentation] Link to CONTRIBUTING.md Results in 404"
After looking through the [docs](https://firefox-dev.tools/debugger.html/), I noticed that clicking the link to the contributing guidelines (the third bullet point under Next Steps) results in a 404

Additionally, clicking the contributing link (at the bottom of the page) [here](https://firefox-dev.tools/debugger.html/docs/debugging-the-debugger.html) also results in a 404

It looks like this is t

[2018-12-22 22:53] ash-tamraz commented on #7566
Could I work on this?

[2018-12-22 23:49] #7569 closed

[2018-12-23 02:32] ash-tamraz commented on #7537
/claim

[2018-12-23 02:33] ash-tamraz commented on #7566
/claim

[2018-12-23 05:19] codingnninja commented on #7184
@jasonLaster I thought I would need to downgrade my node which I also use for other things that may break, so I just started working on it today after I have finished others things that could break due to node downgrade. This holiday is dedicated to the bug and I will be asking questions as per the bug starting today in the slack group. Thanks for reaching out.

[2018-12-23 07:31] chocos10 commented on #7588
i would like to work on it :)

[2018-12-23 07:33] chocos10 commented on #7588
/claim

[2018-12-23 07:47] alessandrod commented on #5132
The "having to wait 30s" issue is likely fixed by https://github.com/devtools-html/debugger.html/pull/7302.

The only issue I can still reproduce among those mentioned is that the watch expressions results don't keep their collapsed/expanded state.

[2018-12-23 09:06] Regaddi commented on #7541
/claim

[2018-12-23 13:59] Garee commented on #7572
Hey @jasonLaster,

I've been debugging this and I think it may be the result of a combination of two bugs. One I believe I have a fix for, and the other I'm not sure about.

1. The [`toggleConditionalPanel`](https://github.com/devtools-html/debugger.html/blob/ae3213688ffeeee7a6f2cdebe14a4956ef3a5bb3/src/components/Editor/index.js#L432) function is trying to open the panel at an undefined location.

[2018-12-23 14:34] Garee commented on #7572
I changed the shortcut to the following and it works on Firefox.

 `toggleCondPanel.key=CmdOrCtrl+E`

The current value of `CmdOrCtrl+Shift+B` does not to be seem recognised. In fact, it just toggles the breakpoint like `CmdOrCtrl+B`. I'm using macOS.

[2018-12-23 14:44] Garee commented on #7572
/claim

[2018-12-23 20:01] Garee commented on #7572
I had `privacy.resistFingerprinting` set to `true` in `about:config`. It works if I disable it.

[2018-12-23 21:39] Garee commented on #7545
I'll address these warnings.

Do we want the element styling remain the same after switching from an `<a>` to a `<button>`?

/claim

[2018-12-23 21:39] Garee commented on #7545
/claim

[2018-12-24 11:36] princiya commented on #7328
as mentioned by @ShaguftaMethwani i tried this translate bot https://slack.com/apps/A0ZJS6Z7E-translate on the test slack channel.
It is now easy to translate messages

`/translate [lang] [text]`

Example:
`/translate de how are you`

translates the 'how are you' text to `de` [German]  language

[2018-12-24 14:08] Garbee commented on #7545
Yes, the styling should reflect what existed before.

[2018-12-24 18:17] #7546 closed

[2018-12-24 20:03] Garee commented on #7543
There are two `no-autofocus` warnings.

1. On the "Watch expressions" input element.
2. On the "XHR Breakpoints" input element.

They each gain focus when the user clicks their associated "+" button. This behaviour seems okay -- should we remove the autofocus attribute anyway?

![](http://g.recordit.co/d6Mv84puei.gif)

[2018-12-24 20:05] Garbee commented on #7543
I'd say those situations are exactly when you would want to use autofocus. The user has explicitly asked to do something and the input is how you achieve it.

We instead should find a way in these cases to turn off the linter rule for these cases. That way they are clear, but future additions need to be explicitly discussed as well before allowing the linter to be bypassed.

[2018-12-24 20:13] Garee commented on #7543
There is code in both components that manually give them focus. I removed `autofocus` to see if the behaviour changed and it did not. What do you think about removing the attributes in this situation?

[2018-12-24 21:17] emmairwin commented on #7328
I added greetbot message.  I added it to the #debugger channel, I am slightly unsure if it added it to the whole team/instance of this channel.   Would appreciate testing.

Welcome @new_user_name! We’re so glad you’re here.

 IF you are looking for some good first bugs for Debugger, or have questions about getting started, please reach out to the #community-team channel
 IF you need support releva

[2018-12-24 21:20] emmairwin commented on #7328
translate looks wonderful, and once Greetbot is working to everyone's satisfication we can maybe test this, and add it to Greetbot message for non-English speakers.

[2018-12-24 21:53] jasonLaster commented on #7571
@jainsneha23 i think that was  a typo...

<img width="546" alt="screen shot 2018-12-24 at 4 52 40 pm" src="https://user-images.githubusercontent.com/254562/50406973-67d7cf80-079c-11e9-9d70-a702bd008302.png">

<img width="333" alt="screen shot 2018-12-24 at 4 52 48 pm" src="https://user-images.githubusercontent.com/254562/50406972-67d7cf80-079c-11e9-8f64-ebe1db782eac.png">

[2018-12-24 21:54] jasonLaster commented on #7543
CC @yzen

[2018-12-25 00:31] chrlsstcky commented on #7557
I'm not getting the memory issue described; if I search for anything the debugger gets stuck in loading. I'm using Ubuntu 18.04

[2018-12-25 07:51] jainsneha23 commented on #7571
@jasonLaster The problem is with the directory being system absolute path. I am raising a WIP PR. This solves the bug. But the code needs refactoring.

[2018-12-25 09:13] Regaddi commented on #7541
There seems to be only one occurence of this warning at the breakpoint checkbox [src/components/SecondaryPanes/Breakpoints/Breakpoint.js](/devtools-html/debugger.html/tree/master/src/components/SecondaryPanes/Breakpoints/Breakpoint.js)

I am encountering 2 issues here:

- if I use the `breakpoint.id` (from `this.props`) it should generate a unique id. But the id property is undefined in the tests,

[2018-12-25 10:15] princiya commented on #7328
@emmairwin shall we close this issue?

[2018-12-25 12:42] princiya opened #7595 "[Docs] Add a FAQ section to the docs"
As per this PR - https://github.com/devtools-html/debugger.html/pull/7589, there is a need to document few configurations which might help us troubleshoot and better serve the community.

Following points came out of the above PR:
- turn off column breakpoints `dbg.features.columnBreakpoints = false`
- disable `privacy.resistFingerprinting` in `about:config`

The proposal is to create a `docs/faq.

[2018-12-25 14:46] Garbee commented on #7543
If there is code explicitly moving focus, then remove `autofocus`. That attribute is for when an element is added to the DOM or on initial render to force focus to a given interactive element.

[2018-12-25 14:48] Garbee commented on #7541
It doesn't require it. It looks like your first point is trying to solve it [while being a sibling](https://github.com/evcohen/eslint-plugin-jsx-a11y/blob/master/docs/rules/label-has-associated-control.md#case-the-label-is-a-sibling-of-the-control). I'd say we focus on figuring that out for the tests and make sure it also works in production. Solving point 1 will let the issue be resolved without

[2018-12-25 18:32] jasonLaster commented on #7571
Thanks. How should we refactor it?

[2018-12-26 05:53] Art-Vanderlay commented on #7588
The [Contributing to debugger](https://github.com/devtools-html/debugger.html/blob/master/.github/CONTRIBUTING.md) page also has a 404 in the Maintainer Tips section. It links to a file in a non existent .github/docs/ folder.

The maintainer.md is located here https://github.com/devtools-html/debugger.html/blob/master/docs/maintainer.md

[2018-12-26 06:14] Art-Vanderlay commented on #7407
/claim

[2018-12-26 13:12] Garee commented on #7543
/claim

[2018-12-26 21:41] #7588 closed

[2018-12-27 03:57] #7572 closed

[2018-12-27 17:03] nagpalm7 commented on #7498
Can I work on this issue if available! @fvsch

[2018-12-27 17:46] jainsneha23 commented on #7571
Yeah. My initial thought was to simplify the bundling. But then I found other examples where the same issue existed. Like the angular todomvc  in debugger examples. So we have to handle absolute paths anyways.

[2018-12-27 18:06] #7184 closed

[2018-12-27 18:36] nagpalm7 commented on #7498
/claim

[2018-12-27 18:40] soniasingla commented on #7548
/claim

[2018-12-27 19:56] nagpalm7 commented on #7325
/claim

[2018-12-27 20:12] codingnninja commented on #7544
/claim

[2018-12-27 21:39] #7230 closed

[2018-12-27 23:28] ash-tamraz opened #7604 "[SourceTree] Use native HTML features to create tree instead of aria-level"
**Steps to Reproduce:**
Examine HTML for SourceTree of Debugger

**System Details:**
Browser: Firefox Nightly 66.0a1
OS: Ubuntu 16.04

Currently SourceTree uses `<div>` elements with `aria-level` attributes to create the hierarchy of the source tree. Child and parent nodes are at the same level, with the level only being set by `aria-level` attributes. [In light of best practice for using WAI-ARIA

[2018-12-28 00:42] jasonLaster commented on #7604
I believe there is a reason for not using hierarchical elements.

CC @AnshulMalik do you remember?

[2018-12-28 07:21] #7407 closed

[2018-12-28 09:56] princiya commented on #7604
@jasonLaster @AnshulMalik once we figure out about this decision, i will add this point too in `docs/faq.md` #7595 to avoid confusions going forward :)

[2018-12-28 19:07] Garee commented on #7559
/claim

[2018-12-28 19:10] Garee commented on #7559
I am going to attempt to stop the ongoing search when:

- The user presses the escape key to hide the hide the search bar.
- The user clicks on the search input's "x" button to hide the search bar.

[2018-12-29 03:18] baronKilljoy commented on #6744
/claim
I work on this, if its ok.

[2018-12-29 05:52] AnshulMalik opened #7607 "[SourcesTree] No sources while there are sources available"
STR:

- Go to http://softwareishard.com/tests/debugger/issue3532/
- Open `index.js`
- Pretty Print

AR:
Sources panel displays the sources but a new message appears saying `This page has no sources`

ER:
We shouldn't see `This page has no sources` since there are sources.

[2018-12-29 09:49] AnshulMalik commented on #6915
Can't reproduce it either.

[2018-12-29 09:56] AnshulMalik commented on #7067
#7455 fixes this.

[2018-12-29 09:56] #7067 closed

[2018-12-29 14:44] jnachtigall commented on #7067
As said in https://github.com/devtools-html/debugger.html/issues/7067#issue-364905282 above there was once a documentation about this feature at:

https://developer.mozilla.org/en-US/docs/Tools/Debugger_(Before_Firefox_52)/How_to/Highlight_and_inspect_DOM_nodes

which now gives a 404.

I guess the docs have been removed.

I think it should be readded under https://developer.mozilla.org/en-US/docs/

[2018-12-29 17:09] jainsneha23 commented on #7607
Its a regression issue from commit efcda91d682b3e3818ed53e2f430ae70f1a7ac60
Working on it

[2018-12-29 20:12] AnshulMalik commented on #4389
Looks like this is fixed now. Not able to reproduce it

[2018-12-30 06:02] Art-Vanderlay commented on #6771
@jasonLaster I'll look into this one if @jaikathuria isn't working on this anymore. What else needs to be done here?

[2018-12-30 13:12] #7557 closed

[2018-12-30 14:19] nagpalm7 commented on #7555
Is this issue available @jasonLaster. Can I give it a try.

[2018-12-30 14:44] jasonLaster commented on #6771
Go for it. Here's a PR with the latest attempt.

https://github.com/devtools-html/debugger.html/pull/6857

[2018-12-30 14:44] jasonLaster commented on #7555
Go for it @nagpalm7

[2018-12-30 14:59] nagpalm7 commented on #7555
/claim

[2018-12-30 15:44] #7498 closed

[2018-12-30 20:21] baronKilljoy commented on #6744
@jasonLaster  I think this is a codemirror issue. it looks like when it hits a special character (punctuation space etc) it is creating a new span. The only thing i found that changes the search is
`function escapeRegExp(string) {
  string = toString(string);
  return (string && reHasRegExpChar.test(string))
    ? string.replace(reRegExpChar, '\\$&')
    : string;
}`
changes wasm. to wasm\\. which

[2018-12-31 00:32] darkwing opened #7618 "Sources Tree shows odd horizontal scrolling"
Saw this today:

<img width="805" alt="treescrolling" src="https://user-images.githubusercontent.com/46655/50552814-22fedd80-0c61-11e9-9fe7-25a2bce29837.png">

We should only have one horizontal scroll for the sources tree and it should display at the bottom of the pane.

[2018-12-31 08:41] nyrosmith commented on #7497
/claim

[2018-12-31 10:05] nyrosmith commented on #7287
I think solving this will become lots easier after refactoring the context menu https://github.com/devtools-html/debugger.html/issues/7497

[2019-01-01 14:08] Archaeopteryx opened #7626 "Tooltip to add XHR breakpoint should use correct l10n string"
#6934 added the UI for XHR breakpoints. The button to add a new XHR breakpoint uses the text for the placeholder of the input for the conditional XHR breakpoint (xhrBreakpoints.placeholder) as tooltip. xhrBreakpoints.label should be used instead.

[2019-01-01 14:53] Archaeopteryx opened #7628 "Make rows with rules for conditional XHR breakpoints localizable"
The rows for conditional XHR breakpoints are not localizable at the moment, neither the rules nor the tooltips of the buttons to remove them.

Steps to reproduce:
0. Use a localized Firefox build, e.g. in French. Get it at https://www.mozilla.org/de/firefox/nightly/all/
1. Open debugger.
2. In the right column, go to "XHR breakpoints".
3. In the field to create a conditional XHR breakpoint, enter

[2019-01-01 15:22] Archaeopteryx opened #7629 "huge memory consumption for source code search with 65 beta"
With Firefox 65.0 beta 7 on Windows 8.1, the source code search (Ctrl + Shift + F) can require much memory.

Steps to reproduce:
1. Go to https://treeherder.mozilla.org/#/jobs?repo=mozilla-inbound
2. Open the debugger
3. Open the source code search.
4. Search for: push
There should be 1000+ matches. With 65.0b7, the memory consumption jumps to ~4GB (also saw 6GB and one out-of-memory crash but had

[2019-01-02 00:30] harry-7 commented on #7542
/claim

[2019-01-02 01:05] harry-7 commented on #7542
is this issue deprecated? or can it be worked on?

[2019-01-02 05:14] jainsneha23 opened #7633 "[Source Tree] Sources from webpack doesn't appear in source tree"
In source tree, though there is source map, the original sources bundled via webpack doesn't appear anymore. Seems like regression issue from commit efcda91d682b3e3818ed53e2f430ae70f1a7ac60

Before:
<img width="342" alt="screenshot 2019-01-02 at 10 43 12 am" src="https://user-images.githubusercontent.com/8366397/50580993-4ac98d80-0e7b-11e9-8c87-ed63a7360aa3.png">

After:
<img width="329" alt="scre

[2019-01-02 06:20] jainsneha23 commented on #7607
@AnshulMalik  Its fixed via commit 68e7f0a2803653f185c713ea0dbe2449c540c185 in master. Can you check and close this issue please

[2019-01-02 07:03] jainsneha23 opened #7635 "[Source Tree] File names should be unescaped while display"
If the urls are encoded, the source tree shows the encoded filename. Instead, the filenames in source tree should be unescaped and be human readable

STR:
[x] Open https://w2x2oypmqk.codesandbox.io/ to debug
[x] Look at webpack files

AR: external%20%22file%22 is displayed in source tree
ER: external "file" should be displayed in source tree

<img width="800" alt="screenshot 2019-01-02 at 12 23 22

[2019-01-02 09:54] Regaddi commented on #7542
Hi @harry-7,

I worked on #7541 and it seems to solve the same issues.
`jsx-a11y/label-has-for` is deprecated config for newer `jsx-a11y/label-has-associated-control`.

It's basically already fixed with #7598.
Forgot to claim this one too 🙈

[2019-01-02 13:10] #7633 closed

[2019-01-02 13:16] jasonLaster commented on #7629
Thanks for filing @Archaeopteryx

[2019-01-02 13:22] AnshulMalik commented on #7629
This should be fixed by recent changes.

[2019-01-02 15:34] Garbee commented on #7542
This rule should just be turned off. Other rules are supported and fill the same errors. Also, being deprecated this rule can be removed at any point going forward. No point relying on it.

[2019-01-02 15:44] soniasingla commented on #7635
/claim

[2019-01-02 15:53] #7618 closed

[2019-01-02 15:54] #7626 closed

[2019-01-02 16:35] #7543 closed

[2019-01-02 16:55] #7325 closed

[2019-01-02 17:02] #7541 closed

[2019-01-02 17:11] codingnninja commented on #7540
/claim

[2019-01-02 17:15] #7477 closed

[2019-01-02 18:06] nagpalm7 commented on #7535
/claim

[2019-01-02 18:31] harry-7 commented on #7542
/unclaim

[2019-01-02 18:32] harry-7 commented on #7542
@Regaddi Thanks for clarifying :)

[2019-01-02 18:35] AnshulMalik commented on #5553
I made some progress on this [here](https://github.com/AnshulMalik/debugger.html/tree/blackbox-functions). I'll take this off my plate for now.

/unclaim

[2019-01-02 18:50] #7545 closed

[2019-01-02 20:58] jasonLaster commented on #5553
Thanks @AnshulMalik

[2019-01-02 21:40] #7306 closed

[2019-01-03 05:46] digitarald commented on #6915
Tested with a fresh profile. I updated the STR with more details.

![screenflow](https://user-images.githubusercontent.com/8599/50624724-d1ac5380-0ed7-11e9-90fb-c8f95450d5b5.gif)

[2019-01-03 05:51] digitarald opened #7643 "Debugger fails loading with error in SourcesTree::getChildren"
Using Nighly, 66.0a1 (2019-01-02) (64-bit)

STR: Opened Debugger on Github.com

<img width="1680" alt="image" src="https://user-images.githubusercontent.com/8599/50624782-28199200-0ed8-11e9-947c-3afde75553b6.png">

[code]

cc @darkwing

[2019-01-03 07:02] AnshulMalik commented on #7607
Thanks @jainsneha23 this is fixed :)

[2019-01-03 07:02] #7607 closed

[2019-01-03 07:04] AnshulMalik commented on #5255
Can we get this one out of icebox?

[2019-01-03 08:20] AnshulMalik opened #7645 "Support XHR breakpoints with methods"
Currently, we support breaking on a network request if the URL contains some string.
It'd be a nice improvement if we can also specify the method(GET, POST, etc.) of the request to give the user more control.

Here is how the UI should look like

![](https://user-images.githubusercontent.com/46655/46158481-8f71d700-c243-11e8-8b47-6c566a24b8e9.png)

I'll be happy to mentor if someone would like to

[2019-01-03 08:31] nchevobbe commented on #7645
that mockup looks nice!
Do you think we could have a default of `All` (or something with a better wording), so by default, the user only has to enter a URL without taking care of the method?
My gut feeling is that most people only have 1 method for a given endpoint, and having to select the method would be an extra step that don't have values for them.
Then, with the UI, they can restrict to a spe

[2019-01-03 09:03] AnshulMalik commented on #7645
Yeah @nchevobbe by default it should be set to `ALL` or `ANY`  which would just pause on any method. I think we have the logic in place on server side to handle this as well.

[2019-01-03 14:04] jasonLaster commented on #7643
`66.0a1 (2019-01-03) (64-bit)` seems to work
<img width="637" alt="screen shot 2019-01-03 at 9 03 17 am" src="https://user-images.githubusercontent.com/254562/50641602-72316080-0f36-11e9-85de-2e05cfa72021.png">

we've been making some big changes to support multi-thread debugging (fission/workers), so it is possible that we'll see some bugs over the next week or so.

[2019-01-03 14:18] #7579 closed

[2019-01-03 15:20] #7539 closed

[2019-01-03 15:32] mcroud opened #7647 "Gutter line number colors"
The objective of the issue linked below was to nominate Photon compliant colors for use as the debugger line numbers, both empty and standard.

https://github.com/devtools-html/ux/issues/43

We now have a decision on these colors which are now ready to be implemented.

Here is a mockup of the final colors in action:

![empty lines 5_2x](https://user-images.githubusercontent.com/42435754/50645692-1

[2019-01-03 16:14] AnshulMalik commented on #5255
Ohh I think we have covered the points from this bug, I have created another bug for enhancement. Sorry for the trouble.

[2019-01-03 16:14] #5255 closed

[2019-01-03 19:00] #7559 closed

[2019-01-03 21:37] WenInCode commented on #7473
I'd like to take this on :)

[2019-01-03 21:37] WenInCode commented on #7473
/claim

[2019-01-03 21:49] darkwing commented on #7647
Welcome @waqardm !  Let us know if you need help :)

[2019-01-03 21:51] waqardm commented on #7647
thank you @darkwing

[2019-01-04 04:10] digitarald commented on #7643
Reproduced the broken behavior with `66.0a1 (2019-01-03) (64-bit)`

On top of that I just got the same error when trying to click from an _Inspector_ event bubble. I did not see a white screen but after clicking the _Inspector_ stayed active and never switched to the _Debugger_.

<img width="872" alt="image" src="https://user-images.githubusercontent.com/8599/50673544-6031db00-0f93-11e9-95b7-241f1

[2019-01-04 04:38] digitarald commented on #7643
Maybe this is due to an extension that the source tree is bailing on. Stepping through the error stack – `autoExpand` gets an object instead of, supposedly expected, an array; so `[0]` returns `undefined`:

![image](https://user-images.githubusercontent.com/8599/50674011-63c76100-0f97-11e9-892d-dc7ff02ea427.png)

[2019-01-04 09:10] rjairath commented on #7425
![firefoxbug](https://user-images.githubusercontent.com/20504819/50680692-a2f4c100-102e-11e9-8789-172d80c63155.png)

[2019-01-04 09:12] rjairath commented on #7425
So in the 2 buttons pointed above I have to change the :hover class property as the one in all other buttons. Can you please tell me the css file where I have to make this change.

[2019-01-04 09:41] mangooose commented on #7647
Hey, is anyone working on this issue?

[2019-01-04 09:45] waqardm commented on #7647
@mangooose yes, i am attempting it 🤞🏼

[2019-01-04 09:57] gerdneuman opened #7652 "In breakpoints context menu: Missing `+` in shortcuts"
See screenshot. This is on Windows 10 (not sure about Mac or Linux):

![image](https://user-images.githubusercontent.com/12525563/50682410-0b33aa80-100f-11e9-8a55-60954c18e211.png)

For instance, instead of `CtrlB` it should be `Ctrl+B`.

The `+` should be added like done in https://github.com/devtools-html/debugger.html/pull/7507

[2019-01-04 13:42] notjaril commented on #7645
I can take this on :)

[2019-01-04 14:14] nchevobbe commented on #7067
I transfered this to the MDN team, this will be handled soon :)

[2019-01-04 14:15] phoenixking25 commented on #7537
@ash-tamraz @Garbee is this issue free ?

[2019-01-04 14:45] princiya commented on #7645
@notjaril this is how you can claim the issue https://github.com/devtools-html/debugger.html/blob/master/docs/issues.md#claiming-issues :) Good luck and thanks for helping.

[2019-01-04 15:10] ash-tamraz commented on #7537
@phoenixking25 No, I'm still working on it and close to having a patch ready.

[2019-01-04 16:47] notjaril commented on #7645
/claim

[2019-01-04 17:08] jasonLaster commented on #7643
@digitarald can you use process of elimination to find which extension is breaking it?

[2019-01-04 17:12] jasonLaster commented on #7613
@raghur i just tried to reproduce and could not run `npm run test:debug`

[code]

[2019-01-04 17:12] bomsy opened #7655 "No context menu items for log points"
We should add context menu items for log points in the breakpoints list

* Add log

These below should show only when the context menu is over log point
* Edit log
* Remove log

![image](https://user-images.githubusercontent.com/11966684/50662048-5d3fe600-0fa5-11e9-8996-4f7b5c9d4aec.png)

_Originally posted by @rugk in https://github.com/devtools-html/debugger.html/pull/7592#issuecomment-451280988

[2019-01-04 17:17] jasonLaster opened #7656 "[sources] Workers break the directory root layout"
STR:

1. debug a page with workers
2. right click on a directory in the source tree and select "project directory"

NOTE: the launchpad cannot currently find workers, so you might need to fake it by telling the source tree there are workers

[code]

<img width="206" alt="screen shot 2019-01-04 at 12 15 05 pm" src="https://user-images.githubusercontent.com/254562/50701083-78007200-101a-11e9-8d5e-0a

[2019-01-04 17:32] bomsy commented on #7655
Ok start off
[code]

[2019-01-04 17:43] darkwing opened #7657 "Investigate how we're using source URLs"
A while back we refactored the Source Pane and Breakpoints panes to no longer use URLs but actual Source objects, which made the code cleaner and more reliable, since URLs can be shared between two different sources.

It makes sense to revisit anywhere we're relying on URLs (tabs ?) and see if we can broaden them to just using Source.

[2019-01-04 17:55] digitarald commented on #7643
@jasonLaster `b89232ee-72dc-d946-81bc-256ca88530f7` is [LastPass](https://addons.mozilla.org/en-US/firefox/addon/lastpass-password-manager/).

[2019-01-04 18:00] digitarald opened #7658 "Non-existing directory root causes to empty sources tree"
I had an extension directory set as root. After disabling the extension, Debugger sources remained empty, with no way of going to the top-level root:

<img width="872" alt="image" src="https://user-images.githubusercontent.com/8599/50702936-4500b300-1007-11e9-9e50-84999e353607.png">

Manually resetting `devtools.debugger.project-directory-root` solved the issue.

[2019-01-04 18:01] digitarald commented on #7643
I also had a directory root set (filed #7658 for that), which might be related.

[2019-01-04 18:04] digitarald commented on #7531
Hooking into the setting was exactly my thought as well, as it is the opt-in for extension developers. It is not perfect, as it is also used by Firefox frontend devs; but close enough.

Same should probably apply to Console for extension logs, cc @nchevobbe .

[2019-01-04 18:43] darkwing commented on #7656
Accompanied by this:
<img width="712" alt="ops" src="https://user-images.githubusercontent.com/46655/50704818-5608ee80-101e-11e9-97c6-ea598ef77e80.png">

[2019-01-04 19:14] emmairwin commented on #7522
Current version is here:
https://github.com/emmairwin/debugger.html/blob/master/docs/community-team.md

But I am missing information for a few community-team alumni and curren

[2019-01-04 20:56] darkwing opened #7659 "Gutter Highlight is Missing Arrow"
Regression.  Hovering over a gutter line number is currently missing the ">" arrow:

![whitehover](https://user-images.githubusercontent.com/46655/50710558-efd99700-1030-11e9-8264-b8f981c7cd0c.gif)

Problem displays in both light and dark themes.

[2019-01-04 21:32] jasonLaster opened #7660 "[sources] remove sources when a worker is removed"
We currently work around the fact that it can be difficult to remove sources in our redux store. We should bite the bullet and properly clean up the redux store when a worker is removed

- thread's sources are removed
- thread can no longer be selected
- maybe we need to select a new location if we're currently viewing a source for that worker

[2019-01-04 22:16] jasonLaster commented on #7548
Hmm, looks like i can still reproduce this by moving my caret to a curly bracket

https://drive.google.com/file/d/1wNGsMy9z72Ulb_SqZKY2qBKaINFUYg0g/view?usp=sharing

[2019-01-04 22:30] notjaril commented on #7659
/claim

[2019-01-05 15:46] bamanczak commented on #7652
/claim

[2019-01-05 17:55] Garee opened #7663 "Inconsistent expand/collapse all behaviour for Sources tree items"
Alt-clicking a directory in the Sources tree will expand it and all of its children. However, Alt-clicking again does not collapse the children.

In addition, I also noticed that `setExpanded` within `ManagedTree.js` is invoked twice when you click on a source tree item. Once for `onClick` in `SourcesTreeItem.js` and another for an `onClick` event in `tree.js`. I don't think both of these are requ

[2019-01-05 17:55] Garee commented on #7663
/claim

[2019-01-05 18:47] Garee opened #7665 "Add Sources tree context menu entries for "Expand all" and "Collapse all""
I recently discovered that you can alt-click on a sources tree item to expand it and all of its children.

It would be good to increase the visibility of this feature by adding it to the sources tree item context menu.

[2019-01-06 18:29] jasonLaster opened #7666 "[Editor] The cursor location should be to the left of the toggle button"
I think it would be a little cleaner if the toggle button were on the far right. This is a bit subjective, but I see the button as kind of a bookend in the UI.

### Footer
<img width="124" alt="screen shot 2019-01-06 at 1 22 21 pm" src="https://user-images.githubusercontent.com/254562/50740055-ec701800-11b6-11e9-8ab1-3f0e3300dbfe.png">

I think this might be sufficient, on the other hand we might

[2019-01-06 18:33] jasonLaster opened #7667 "[SecondaryPane] The command bar should be visible when the panel is collapsed"
Currently, when the user collapses the secondary pane we hide the commandbar... The problem is that in this case the user can no longer access the stepping buttons. I think that it would be nice if the command bar were still visible so that the user could still step...

### Problem
<img width="781" alt="screen shot 2019-01-06 at 1 31 35 pm" src="https://user-images.githubusercontent.com/254562/507

[2019-01-06 20:02] AnshulMalik commented on #7660
Do we have a hook for when the worker is removed?
How do we know if worker is removed?

[2019-01-06 20:23] Garee opened #7668 "The "Evaluate in console" context menu item does not work"
**Steps to reproduce**

- Set and trigger a break point in a source file.
- Select an expression.
- Right click and click "Evaluate in console"
- View the result in the console.

**Expected Result**

The result of the evaluated expression should be shown in the console.

**Actual Result**

Nothing is logged to the console.

![](http://g.recordit.co/BSy6he7Mdf.gif)

[2019-01-06 22:18] Keeady commented on #7667
I would like to take this one /claim

[2019-01-07 03:40] jasonLaster opened #7670 "[breakpoints] clicking a breakpoint label should not toggle the breakpoint"
Clicking the breakpoint label should navigate to the breakpoint location, but not toggle the breakpoint.

![bp-toggle](https://user-images.githubusercontent.com/254562/50747823-0421bd80-1204-11e9-8b5c-e1269d3932b5.gif)

[2019-01-07 03:41] jasonLaster opened #7671 "[breakpoints] shift+click should add a disabled breakpoint"
When the user shift+clicks in the gutter, the debugger should create a disabled breakpoint. Currently it creates an enabled breakpoint.

This is a good starting off spot

[code]

[2019-01-07 04:40] baronKilljoy commented on #7671
I would like to work on this. should I alter the existing function or override?

[2019-01-07 04:40] baronKilljoy commented on #7671
/claim

[2019-01-07 06:40] nchevobbe commented on #7668
Thanks for filing Garee, I confirm that it does not work.
We should write a mochitest for this.

[2019-01-07 07:08] AnshulMalik commented on #7660
`updateWorkers` is called just once that's when setting up the application. So we are assuming that workers will not be removed while the debugger is running?
This looks fine for when we open the debugger, we should not have extra workers. I was thinking of removing the sources as soon as some worker is removed.

[2019-01-07 07:12] AnshulMalik commented on #7671
@baronKilljoy altering the existing function should do :)

[2019-01-07 07:54] nchevobbe commented on #6153
Hey, @Hindelburg , is this something you'd be still interested in?

[2019-01-07 08:14] Utkarsh1308 commented on #7312
Is this issue still open? Can I work on this

[2019-01-07 11:20] bomsy opened #7672 "[log points] console log showing in breakpoints panel for log points"
When a log point is set, a `console.log` show up in the breakpoints list pane on the right. We should remove that.
![logpoints](https://user-images.githubusercontent.com/792924/50765244-3b788480-126d-11e9-8f0a-2a2f844509af.PNG)

[2019-01-07 13:30] jasonLaster commented on #7660
it is also called when the worker list changes
https://github.com/devtools-html/debugger.html/blob/master/src/client/firefox/events.js#L118-L122

[2019-01-07 16:10] AnshulMalik commented on #7531
This pref (`devtools.chrome.enabled`) is being used at lot of places as @digitarald said. I tried to use this pref, and it turns out that if it's disabled, we get this
`Could not run chrome debugger! You need the following prefs to be set to true: devtools.debugger.remote-enabled, devtools.chrome.enabled`
We can't debug firefox remotely.

[2019-01-07 16:32] nagpalm7 commented on #7465
/claim

[2019-01-07 16:36] soniasingla commented on #7672
/claim

[2019-01-07 17:27] darkwing opened #7674 "Breakpoint Pane Code Not Highlighted Upon Re-Opening DevTools"
Rough STR:

- Open Debugger
- Add a bunch of breakpoints
- Close DevTools
- Open Debugger again

What I saw:

- All breakpoints list items are there but code is *not* syntax highlighted.  No source was open.
- When I opened a source, the breakpoints pane becomes syntax highlighted

I wonder if it's because we're lazyloading(?) CodeMirror?

[2019-01-07 18:01] jnachtigall commented on #7531
@AnshulMalik thanks for looking into this :)

Not sure what is the problem here? (you cannot use the normal workflow for developing the debugger which uses remote protocol?). Because not being able to debug firefox *remotely* would be intended in my opinion: I want to locally debug a certain web app/page, neither the Firefox Chrome nor add-ons nor debugging the debugger.

[2019-01-07 18:30] AnshulMalik commented on #7531
Created a bug https://bugzilla.mozilla.org/show_bug.cgi?id=1518221

[2019-01-07 19:41] darkwing opened #7677 "UI Quality"
There are a number of small to medium sized improvements we should fix in the debugger UI over the next version of Firefox:

## Primary Pane (Sources Tree & Outline View)

- [x] Non-existing directory root causes to empty sources tree #7658
- [x] [sources] Workers break the directory root layout #7656
- [x] Use the same expand arrow icon as Inspector, Console etc. #7566
- [ ] [sources] Set directo

[2019-01-07 20:07] jasonLaster commented on #7465
@nagpalm7 this could be quite hard... atleast a js engine bug.

[2019-01-07 20:08] jasonLaster commented on #7535
How's it going @nagpalm7?

[2019-01-07 20:08] jasonLaster commented on #7540
How's it going @codingnninja?

[2019-01-07 21:06] jasonLaster commented on #7099
Closing as we're starting #7677

[2019-01-07 21:06] #7099 closed

[2019-01-07 21:09] jasonLaster commented on #7614
Hey @bvaughn would you be able to re-try this?

[2019-01-07 21:12] #7358 closed

[2019-01-07 21:12] #7389 closed

[2019-01-07 21:16] jasonLaster commented on #7294
[code]

[2019-01-07 21:17] jasonLaster commented on #7293
closing as this is in bugzilla
https://bugzilla.mozilla.org/show_bug.cgi?id=1517626

[2019-01-07 21:17] #7293 closed

[2019-01-07 21:19] jasonLaster commented on #7201
Strange @ganes1410 maybe try again on master? it seems like things are in a good spot

[2019-01-07 21:19] jasonLaster commented on #7193
@gregtatum mind re-testing this?

[2019-01-07 21:21] jasonLaster commented on #7135
moving this to bugzilla
https://bugzilla.mozilla.org/show_bug.cgi?id=1518291

[2019-01-07 21:21] nyrosmith commented on #7294
/claim

[2019-01-07 21:31] jasonLaster commented on #7113
@karlcow could you re-test it? it looks like sourcemaps might be loading...

<img width="782" alt="screen shot 2019-01-07 at 4 30 40 pm" src="https://user-images.githubusercontent.com/254562/50794622-a049d400-1299-11e9-828e-f8b2c4f1bd5c.png">

[2019-01-07 21:33] jasonLaster commented on #6948
closing this as it is hard to follow. If we want to follow up on the highlight line being too subtle or max width, lets file a new issue.

[2019-01-07 21:33] #6948 closed

[2019-01-07 21:35] jasonLaster commented on #7614
@bvaughn break on exceptions should be in the breakpoints panel :)

sorry for the parity change

[2019-01-07 21:36] jasonLaster commented on #7616
same here.

@ochameau feel free to re-open this.

[2019-01-07 21:36] #7616 closed

[2019-01-07 21:41] bvaughn commented on #7614
Ah, I see. It moved.

I wouldn't say the experience is ideal.

1. Open [this page](https://babeljs.io/en/repl#?babili=true&browsers=&build=&builtIns=false&spec=false&loose=false&code_lz=MYGwhgzhAEBiD29oG8BQ1rHgOwgFwCcBXYPeAgCjAEoV0NowLqBuegX1U9QDMjtSASxzQARmEo06GbAFMA7nERVWXVKgD0G6ABFZIWXlnQ8AC0EwQguanGUAjKyA&debug=false&forceAllTransforms=false&shippedProposals=false&circleciRepo=&evaluate=true&f

[2019-01-07 21:47] digitarald opened #7680 "Currently paused line incorrectly de-focusses on reload"
STR:
1. Steps from #7191
2. Refresh a few times and observe the highlighted line

ER: Currently paused line is highlighted
AR: Highlight jumps to first line in the file occasionally

![screenflow](https://user-images.githubusercontent.com/8599/50795303-a54f5900-1282-11e9-9829-a3734ed2057f.gif)

[2019-01-07 21:53] jasonLaster commented on #7465
closing this as it is now in bugzilla

https://bugzilla.mozilla.org/show_bug.cgi?id=1518308

[2019-01-07 21:53] #7465 closed

[2019-01-07 22:09] jasonLaster commented on #7614
interesting. thanks

can you give me a bit of an overview of what you would expect and why?

[2019-01-07 22:14] bvaughn commented on #7614
Ideally, Safari's behavior– showing the error in the context of the original code (the source map):
![screen shot 2019-01-07 at 2 14 25 pm](https://user-images.githubusercontent.com/29597/50796485-97033c00-1286-11e9-9e3d-2cab1f76a655.png)

[2019-01-07 22:22] ochameau commented on #7616
I can't easily find any breakage anymore on this website. The original angular.js disappeared.

[2019-01-07 22:34] jasonLaster commented on #7614
I see, i was confused because it looked like we were paused before the eval...

the issue is that this code in the REPL has an exception!
<img width="415" alt="screen shot 2019-01-07 at 5 33 46 pm" src="https://user-images.githubusercontent.com/254562/50797347-78ab3980-12a2-11e9-8c18-7476873d43f4.png">

Got it, this makes more sense. thanks!

[2019-01-07 22:36] bvaughn commented on #7614
Oh, sorry. Yeah– in this case, I wrote some code with an intentional error– enabled the "Evaluate" option of the REPL (so that it runs the code after compilation)– and then looked at the breakpoint.

My apologies for leaving out that context 😅

[2019-01-07 22:38] jasonLaster commented on #7614
No worries, here are some steps for reproducing in safari

1. go. to preferences > advanced > enable developer tools
2. in the debugger top left select pause on assertions, all exceptions

<img width="1320" alt="screen shot 2019-01-07 at 5 37 36 pm" src="https://user-images.githubusercontent.com/254562/50797526-1acb2180-12a3-11e9-8e6b-812ac3418bd9.png">

[2019-01-07 22:43] jasonLaster commented on #7614
The interesting thing with this bug is that the client thinks it is paused in `scopedEval.js` and  `scopedEval.js` does not have a source map. For some reason, we're not paused in the evaled code, which is visible in the `code` preview...

<img width="760" alt="screen shot 2019-01-07 at 5 40 56 pm" src="https://user-images.githubusercontent.com/254562/50797654-79909b00-12a3-11e9-934e-345d19e40868.

[2019-01-07 22:47] jasonLaster commented on #7614
The strangest thing is that the pause reason suggests we're evaluating the evaled script

the pause reason is `TypeError: c is not a function`, which is coming from the generated code in the eval'd context

<img width="986" alt="screen shot 2019-01-07 at 5 46 25 pm" src="https://user-images.githubusercontent.com/254562/50797889-51556c00-12a4-11e9-9dbd-e1aade25db37.png">

[2019-01-07 23:17] jasonLaster commented on #7614
Okay, after digging a bit more into it it looks like our `threadClient.getFrames` function fails to get the full exception stack

the exception stack has the 3 needed frames that are missing from `getFrames`

<img width="590" alt="screen shot 2019-01-07 at 6 15 41 pm" src="https://user-images.githubusercontent.com/254562/50799008-659b6800-12a8-11e9-821d-1815a0f61316.png">
<img width="975" alt="scr

[2019-01-07 23:18] bvaughn commented on #7614
Yay! :)

[2019-01-08 00:24] loganfsmyth opened #7681 "Resuming from "Pause on exception" immediately pauses again in parent"
Steps
1. Open devtools and enable pause on exception
2. Load https://plucky-sofa.glitch.me/ with snippet
[code]
3. Observed paused at `throw new Error("way");`
4. Press Resume

ER:
Page should resume execution

AR:
Page resumes and immediately pauses again in the parent frame in `fn2`

[2019-01-08 00:45] loganfsmyth opened #7682 "Pausing in evaled URL-less mapped file does not show original source"
Noticed as part of https://github.com/devtools-html/debugger.html/issues/7614.

Steps:
1. Visit https://babeljs.io/en/repl#?babili=true&browsers=&build=&builtIns=false&spec=false&loose=false&code_lz=FAMwrgdgxgLglgewgAgEYEMBOAKdBKZAb2GWWAF9hgATAU1TAHNHbMBuMjHARjw-SA&debug=false&forceAllTransforms=false&shippedProposals=false&circleciRepo=&evaluate=true&fileSize=false&timeTravel=false&sourceType=mod

[2019-01-08 01:13] karlcow commented on #7113
Using Nightly 66.0a1 (2019-01-07) (64-bit) on macos 10.14.2

1. Go to https://www.medicinenet.com/acne/article.htm
2. Open the devtools debugger
3. Go to `images.medicinenet.com/oocommon/js/20181004/legacy.js` in debugger

Actual:
minified script. no braces for prettifying.

<img width="1193" alt="capture d ecran 2019-01-08 a 10 08 58" src="https://user-images.githubusercontent.com/505230/50803581

[2019-01-08 01:14] karlcow commented on #7113
@jasonLaster we are not looking at the same source. :)

[2019-01-08 04:19] nagpalm7 commented on #7535
I was travelling for few days so I forgot about this issue. I will see to it today. @jasonLaster

[2019-01-08 10:06] baronKilljoy commented on #7671
My idea is to use the preexisting disabled property. However, it kepts being set to false. Am I doing something obviously wrong.
![change1](https://user-images.githubusercontent.com/36493475/50823867-028aef00-1303-11e9-8fb5-38093f747b74.png)
![change2](https://user-images.githubusercontent.com/36493475/50823875-06b70c80-1303-11e9-81e8-9c6fe287e3a2.png)

[2019-01-08 11:02] moundahiwale opened #7683 "Incorrect git clone url - getting-setup.md"
Step 2 in the getting setup document (https://github.com/devtools-html/debugger.html/blob/master/docs/getting-setup.md) refers to an incorrect git url.
Should be same as readme - git clone https://github.com/devtools-html/debugger.html.git

[2019-01-08 11:19] hetpatel33 commented on #7666
/claim

[2019-01-08 12:11] AnshulMalik commented on #7683
It's one and the same thing @moundahiwale

[2019-01-08 12:38] moundahiwale commented on #7683
If you want I can create a quick PR and update it or close the issue if not needed - let me know.

[2019-01-08 15:37] notjaril opened #7685 "XHR breakpoint pane not adding new breakpoints correctly"
Currently, clicking on the + button to add new XHR breakpoints collapses the XHR pane.

![jan-08-2019 10-33-25](https://user-images.githubusercontent.com/15959269/50840659-02094d00-1331-11e9-98a0-66ba18f183ae.gif)

Expected behavior, which is clicking + adds breakpoints without collapsing XHR pane, happens when watch expression is expanded.

![jan-08-2019 10-36-21](https://user-images.githubuserco

[2019-01-08 15:44] notjaril commented on #7685
/claim

[2019-01-08 19:35] #7494 closed

[2019-01-08 20:01] nagpalm7 commented on #7535
[code]
`await dispatch(fetchExtra());` is no longer used so not calling it after fetching mapFrames.

[2019-01-08 20:38] #7289 closed

[2019-01-08 20:51] Regaddi commented on #7656
/claim

[2019-01-08 20:52] Regaddi commented on #7656
Is this more like the desired layout?

<img width="300" alt="grafik" src="https://user-images.githubusercontent.com/1336590/50858050-a9b56800-138f-11e9-8a35-bc2bccdc0c83.png">

[2019-01-08 20:54] baronKilljoy commented on #7671
@AnshulMalik @jasonLaster  the shouldDisable wasn't working (since you would have to shift+click to get to this function it was either nothing or undefined). This approach worked but its different than your recommendation.
![change1](https://user-images.githubusercontent.com/36493475/50858108-870a5b80-135d-11e9-9e5c-9243e57ebf91.png)
![change2](https://user-images.githubusercontent.com/36493475/50

[2019-01-08 21:00] juliandescottes opened #7689 "Incorrect context menu for regular breakpoints"
STRs:
- open any script in the debugger (eg. app.js in https://firefox-dev.tools/debugger-examples/examples/todomvc/)
- add a breakpoint
- right click on the breakpoint
ER: The context menu should propose to remove breakpoint
AR: The context menu still proposes to add a breakpoint

![debugger_regular_breakpoint_menu](https://user-images.githubusercontent.com/1141550/50858382-8ccd6480-1390-11e9-96b

[2019-01-08 21:13] juliandescottes opened #7690 "Using Add Condition & Add Log successively confuses the debugger"
You can trigger this by various sequence of actions that involve creating breakpoints, here is one which is easy to reproduce:
- open a script in the debugger
- right click on a line number
- click Add Condition
- Do not submit a condition
- right click on the same line number
- click Add Log
- try to remove the breakpoint
ER: breakpoint is removed
AR: breakpoint stays in the gutter

Trying to add

[2019-01-08 21:26] juliandescottes opened #7692 "[log points] Add Log and Add Condition share the same context menu accelerator"
Both features are mapped to CtrlOrCmd+Shift+B , they are both using `accelerator: L10N.getStr("toggleCondPanel.key"),`

https://github.com/devtools-html/debugger.html/blob/55183cd1dfaca2f33b743bc590dd8bdc652d8bcb/src/components/Editor/GutterMenu.js#L103

![image](https://user-images.githubusercontent.com/1141550/50859730-6ad5e100-1394-11e9-89a1-629ba9c33447.png)

[2019-01-08 21:30] juliandescottes commented on #6946
@jasonLaster I still reproduce this on the latest Nightly.

If I am on a breakpoint, pressing `cmd + ;` will both open the search input and jump to the next line. The PR from Greg was not merged, so this is not fixed currently.

[2019-01-08 21:39] juliandescottes opened #7693 "Empty source tree after using Set Directory Root"
STRs:
- open the debugger on any website
- in the source tree left click on any folder
- select "Set directory root"
ER: The source tree should show the sources under this folder
AR: The source tree is empty

![debugger_empty_source_tree](https://user-images.githubusercontent.com/1141550/50860445-3fec8c80-1396-11e9-9efc-e6830abf4ea0.gif)

[2019-01-09 17:27] darkwing opened #7700 "XHR Breakpoint items text should be label toggle"
With standard breakpoints, we make clicking on the breakpoint open the source at the breakpoint's location, and thus we cannot use its label to toggle the breakpoint on and off.

XHR breakpoints don't need to go to any location, and thus clicking on the "URL contains (text)" should/could toggle the breakpoint on and off.

[2019-01-09 17:37] #7135 closed

[2019-01-09 20:54] #7670 closed

[2019-01-09 21:54] #7663 closed

[2019-01-09 22:09] #7666 closed

[2019-01-09 22:33] darkwing commented on #6744
This PR is a great start:  https://github.com/devtools-html/debugger.html/issues/6744

Once UX has approved a new look (https://github.com/devtools-html/ux/issues/14), we can move forward 👍

[2019-01-09 23:35] bhackett1024 commented on #7614
Thanks for diagnosing this, Logan.  I filed [bug 1518961](https://bugzilla.mozilla.org/show_bug.cgi?id=1518961) to fix this.  The logic for that !url check was added in [bug 1448431](https://bugzilla.mozilla.org/show_bug.cgi?id=1448431); the fix changes the mechanism for that check so that we ignore exceptions in console evaluations but not in normal debuggee evaluations.

With this fix we pause i

[2019-01-09 23:46] baronKilljoy commented on #7700
/claim

[2019-01-09 23:48] baronKilljoy commented on #7700
@darkwing  on single click it toggles and double click edits text still?

[2019-01-10 01:45] bhackett1024 commented on #7682
I think there are a couple issues going on here:

1. The source containing the map has a null url and introductionUrl, so we don't set a url for the source mapping worker and it errors out.

2. If I fix that so it proceeds (set urlInfo.url to "http://unknown" in loadSourceMap) then we aren't able to compute a mapping for the 'debugger' statement.  The source map JSON and generated location both lo

[2019-01-10 13:14] notjaril commented on #7700
@baronKilljoy that sounds right :)

[2019-01-10 13:59] harshlele commented on #7683
FWIW, I just came across this project, and got a permissions error when i tried to clone the URL given in the setup guide, but the readme URL worked.

[2019-01-10 14:21] jasonLaster commented on #7312
here's a good reference for where to find it
https://github.com/devtools-html/debugger.html/blob/master/src/client/firefox.js#L27-L30

[2019-01-10 16:31] #7628 closed

[2019-01-10 16:33] Utkarsh1308 commented on #7312
Do we have to remove all instances of wasmBinary Source from the file you mentioned?

[2019-01-10 16:42] varundey commented on #7655
Hi @bomsy, would appreciate a little help. I see in that `addLogPoint` and `editLogPoint` are already added at https://github.com/devtools-html/debugger.html/blob/master/assets/panel/debugger.properties#L507-L514. I tried using them but didn't see it getting reflected in the UI.

Also how do I debug the changes?

[2019-01-10 17:48] jasonLaster commented on #7312
i think so...

[2019-01-10 20:39] jasonLaster opened #7708 "[sources] selected tab goes away on refresh"
the pending selected location is cleared on refresh. This can be fixed by commenting out this code, which is not an ideal solution, but a start :)

[code]

[2019-01-10 21:43] digitarald opened #7709 "DOM/Event/etc Breakpoints should be persisted per domain"
(Follow up from DOM Breakpoint discussion, cc @darkwing )

**User Story**: When debugging different projects, I want to have a site-specific set of breakpoints active, so that don't need to enable/disable/remove them when switching sites.

Edge and Chrome both have origin-specific persistence for DOM and Event breakpoints. but not for XHR.

[2019-01-10 22:12] jasonLaster opened #7710 "[tracking] Worker Debugging"
Server-side meta bug: [1520698](https://bugzilla.mozilla.org/show_bug.cgi?id=1520698).

#### Todos
- [x] refreshing clears selected source #7708
- [ ] [Workers] Use one tree instead of one tree per thread #8005
- [x] remove sources when a worker is removed #7660

[2019-01-10 23:09] jasonLaster commented on #7710
With the second bug, i was able to "fix" the problem by flagging off workers in the client and changing isWorker

[code]

[2019-01-11 03:31] darkwing opened #7712 "Consolidate Source Name Display Logic"
At present we have different places where we calculate the name of a source.  While we have a few useful utility functions for getting a source's file name, we are currently loose with our "(index)" logic.  Example:

<img width="1288" alt="indexmadness" src="https://user-images.githubusercontent.com/46655/51011632-e8c5f380-151e-11e9-92e5-73ec7878dfb3.png">

In an ideal world, I'd love if `Source`

[2019-01-11 07:07] #7555 closed

[2019-01-11 14:20] jasonLaster commented on #7682
@bhackett1024 was this the change you made?

[code]

@loganfsmyth i'm curious how why the mappings were not generated, when we looked into this you were able to unpack the base64 gobbledygook...

[2019-01-11 15:01] jasonLaster commented on #7682
We now show the generated eval'd source, which is similar to chrome, but it would be nice to show the original source if we can.

<img width="769" alt="screen shot 2019-01-11 at 9 40 40 am" src="https://user-images.githubusercontent.com/254562/51041355-be5c5080-1587-11e9-840b-1eb537587a3c.png">

[2019-01-11 17:46] #7656 closed

[2019-01-11 18:08] bhackett1024 commented on #7682
Yeah, this should work, though it looks a little different on m-c.

[2019-01-11 20:37] Garee commented on #7665
/claim

[2019-01-12 06:52] baronKilljoy commented on #7671
@AnshulMalik @jasonLaster  it looks like the breakpoint will have to be fully initialized then disabled.

[2019-01-12 11:06] Garee commented on #7683
The URL in `getting-setup.md` uses the SSH protocol. You'll need to [set up authentication](https://help.github.com/articles/connecting-to-github-with-ssh/) for this
@moundahiwale @harshlele

![](http://g.recordit.co/mh9os73F4I.gif)

[2019-01-12 11:11] harshlele commented on #7683
The https url would be easier to setup

[2019-01-12 12:53] AnshulMalik commented on #7683
So it looks like a good choice to use https instead of ssh, since it's easier to setup and the getting started docs are there for easy setup. Let's do it then :)

[2019-01-12 13:03] harshlele commented on #7683
@AnshulMalik hey so can i take this issue then? I've been looking to start contributing :)

[2019-01-12 13:12] AnshulMalik commented on #7683
Sure @harshlele go ahead :)

[2019-01-12 19:11] Garee commented on #7547
/claim

[2019-01-12 19:57] Garee commented on #7547
There is a single warning for this rule:

[code]

It turns out that the current implementation is based on the [ARIA 1.1 spec](https://www.w3.org/TR/wai-aria-practices-1.1/examples/combobox/aria1.1pattern/listbox-combo.html), but the [linting tool is expecting](https://github.com/evcohen/eslint-plugin-jsx-a11y/issues/442) the ARIA 1.0 spec version where the `aria-controls` attribute is on the same

[2019-01-13 13:56] #7683 closed

[2019-01-13 16:44] #7665 closed

[2019-01-13 19:48] konradk commented on #7708
Currently restoring tabs after reload doesn't work for me in development mode at all. Tabs are in the state, but `getSourcesForTabs` selector doesn't return them. It happens because `getSourceHelper` (reducers/sources.js) filters found sources and check it's thread: `source.thread == thread`. Source.thread is different with every reload (e.g. `server1.conn70.child1/context23`, after reload `server

[2019-01-14 08:53] #7536 closed

[2019-01-14 14:21] nyrosmith commented on #7497
/unclaim

[2019-01-14 15:13] notjaril commented on #7712
/claim

[2019-01-14 17:10] digitarald commented on #7658
Could not reproduce anymore. Probably dupe of #7656

[2019-01-14 17:10] #7658 closed

[2019-01-14 19:20] digitarald commented on #6873
@loganfsmyth I'd assume that this would be fixed by column breakpoints? Should we dupe it?

[2019-01-14 19:33] digitarald commented on #7493
@darkwing it seems to me that some of these can be duped with column breakpoints and or the server-side breakpoint work by @loganfsmyth ?

[2019-01-14 20:33] jasonLaster commented on #6873
@digitarald i think so, but lets keep it open and revisit in a couple of weeks.

[2019-01-14 21:04] Garee commented on #7693
I am unable to reproduce this.

@juliandescottes can you please try again?

[2019-01-15 00:06] ravefalcon92 opened #7720 "[docs] remove "Click here to Edit" links from React / Redux Architecture overview"
Hi there!

The [React / Redux Architecture Overview](https://github.com/devtools-html/debugger.html/blob/master/docs/debugger-html-react-redux-overview.md) has several illustrations with links below that state "Click here to Edit"

<img width="433" alt="screen shot 2019-01-14 at 3 54 47 pm" src="https://user-images.githubusercontent.com/21224637/51149086-6fc3e600-1815-11e9-9ec9-dca98d5bd5eb.png">

[2019-01-15 02:59] Keeady commented on #7667
/unclaim

[2019-01-15 03:11] princiya commented on #7720
@ravefalcon92 A PR for this would be great :)

[2019-01-15 04:18] WenInCode commented on #7473
@darkwing I opened up the todo mvc example and pretty printed source and the context menu seems to be showing up as desired.

<img width="1255" alt="screen shot 2019-01-14 at 9 07 00 pm" src="https://user-images.githubusercontent.com/5448834/51158176-7e73c280-1840-11e9-852e-16760bb4b294.png">

I think this was fixed in https://github.com/devtools-html/debugger.html/pull/7420/files

I'm going to cl

[2019-01-15 04:18] #7473 closed

[2019-01-15 04:33] jasonLaster commented on #7710
@WenInCode i think `dbg.features.windowlessDebuggers` has to be true for it to regress

[2019-01-15 04:36] WenInCode commented on #7693
I have also been unable to reproduce this 👆

[2019-01-15 09:43] juliandescottes commented on #7693
This was apparently fixed by #7649 , which landed in mozilla-central 2 days after I opened the issue. No test was added to prevent future regressions though. Feel free to either repurpose this to add a test, or to ignore.

[2019-01-15 13:49] jasonLaster opened #7724 "[testing] test project directory root"
We should write a mochitest for project directory root that tests

1. adding a root
2. refining the root
3. clearing the root

[2019-01-15 13:50] jasonLaster commented on #7693
#7724

[2019-01-15 13:50] #7693 closed

[2019-01-15 16:55] WenInCode opened #7727 "Update getting started docs to not launch firefox via the command line"
The [getting started docs](https://github.com/devtools-html/debugger.html/blob/master/docs/getting-setup.md#step-3-open-firefox) currently tell you to start firefox via `yarn run firefox`. However, if you do that and then run visit the debugger launchpad at `localhost:8000` the firefox tabs are not detected, and clicking `Launch Firefox` doesn't do anything.

This was remedied by closing the firef

[2019-01-15 19:21] ravefalcon92 commented on #7720
/claim

[2019-01-15 20:30] bamanczak commented on #7652
I created a Pull Request in devtools-core (devtools-modules) where the defect originates from. However at the moment we have code duplication as both devtools-core (devtools-modules) and debugger.html contain the formatKeyShortcut method. I could remove it as well.

I would suggest keeping formatKeyShortcut() just in the devtools-modules and reuse that one everywhere in debugger.html.

[2019-01-15 21:19] darkwing commented on #7647
With regard to changing the base line number color in light and dark mode, that's a change that takes place in MC:

https://searchfox.org/mozilla-central/source/devtools/client/themes/light-theme.css#231

@mcroud Do you know if we have permission to make this change for every devtool?  I'm assuming so.

[2019-01-15 23:37] darkwing commented on #7647
Filed PR #7731 for empty line color, and patch for standard line colors in MC: https://bugzilla.mozilla.org/show_bug.cgi?id=1520341

[2019-01-15 23:39] darkwing commented on #7566
Hello @ash-tamraz!  Are you still working on this or should we open it up?

[2019-01-16 00:36] ash-tamraz commented on #7566
I'm still working on this, @darkwing, just taking longer than I wanted. Sorry about that!

[2019-01-16 00:40] darkwing commented on #7566
No problem @ash-tamraz !  We appreciate your efforts!

[2019-01-16 01:58] darkwing commented on #7668
Quick note:  This also fails without a pause.

[2019-01-16 04:42] #7720 closed

[2019-01-16 10:43] salomvary opened #7734 "General debugger slowness on a large(ish) project"
I have a large(ish) web application (The App) that is nearly impossible to debug using the Debugger shipped with the Firefox Developer Tools. Examples of slow experience: stopping on breakpoint, stepping in the debugger, inspecting variables. I have no performance issues when debugging using the debugger of the Chrome Developer tools.

As recommended in the DevTools Slack I collected performance p

[2019-01-16 11:11] jasonLaster commented on #7734
Thanks for the detailed write-up. I'll take a look

[2019-01-16 11:40] mcroud commented on #7647
@darkwing Oh so whether we can apply these line number colors to the Style Editor gutter for example?
I would suggest that the appearance of line numbers should look consistent throughout other DevTools, otherwise it would be confusing for users to grasp different representations of what a "standard" line number is. It will also help highlight that empty line numbers are different and in which pan

[2019-01-16 13:08] nchevobbe commented on #7734
@salomvary thanks for the report! I see that you're using Firefox 64, and I think some improvements landed lately. Would you be able to test with Firefox Nightly and tell us if you experience the same slowness?

[2019-01-16 14:19] Romanbozeman commented on #1248
if this does not work on Windows, then a "Prerequisite Disclaimer" should be included. Why did I just spend an hour installing this SH#T

[2019-01-16 16:26] darkwing opened #7735 "Consolidate Icon CSS Files"
At the moment we have three files which contain CSS for icon display:

- src/components/shared/SourceIcon.css
- src/components/shared/Svg.css
- src/components/PrimaryPanes/Sources.css

There's unnecessary overlap in some of their styles which we should resolve.  Ideally we have one CSS file with all of the base icon stuff.

[2019-01-16 16:26] darkwing commented on #7735
@notjaril You may enjoy this one 👍

[2019-01-16 16:45] darkwing commented on #6734
I think we should hold on this until @jasonLaster's column breakpoint stuff is in; this is essentially a location weirdness issue and using Logan's location work would be good.

[2019-01-16 17:33] harshlele commented on #7727
/claim

[2019-01-16 18:41] derek-li commented on #7700
/claim

[2019-01-16 20:14] darkwing opened #7737 "Breakpoints Panel Context Menu Using Wrong Breakpoint"
STR:

0.  Add the following in BreakpointsContextMenu.js:  `console.log("selectedLocation is: ", selectedLocation);`
1.  Go to https://w2x2oypmqk.codesandbox.io/
2.  Add a breakpoint in: https://codesandbox.io/static/js/common-sandbox.6c32903e.chunk.js
3.  Add a breakpoint in: https://codesandbox.io/static/js/sandbox.3d2cff6e.js
4.  Refresh the page
5.  Right-click the second breakpoint
6.  Choose

[2019-01-17 00:19] jasonLaster commented on #7737
I believe this will be fixed with my context menus PR...

[2019-01-17 00:19] jasonLaster commented on #7737
if not, it could be worse 😉

[2019-01-17 01:53] notjaril commented on #7735
/claim

[2019-01-17 03:45] harshlele commented on #7727
so i should remove the entire section on opening firefox right?

[2019-01-17 06:01] digitarald commented on #7134
First try:

[code]

<img width="731" alt="image" src="https://user-images.githubusercontent.com/8599/51298675-4a340980-19da-11e9-8a07-6335161ca514.png">

[2019-01-17 06:09] digitarald commented on #7134
Same issue: https://perfht.ml/2T0tNZB

Still pauses in is lastpass' `onloadwff.js`, which is a minified super-long file (5000+ line length).

[2019-01-17 13:19] fvsch opened #7741 "[Accessibility] "Collapse panes" buttons should have different labels"
We have two buttons with the same "Collapse panes" label:

- One collapses the sources navigation
- One collapses the right-hand panes

This creates an accessibility issue because both buttons appear in the same context, and without access to visual information (proximity of the button with either sidebar) you can't differentiate them.

I suggest using a different label for the first button, maybe

[2019-01-17 14:32] fvsch opened #7742 "Left "Collapse panes" button icon is blurry"
The left "Collapse panes" button (whose label could change, see #7737) has a blurry icon on 1x displays, both on the horizontal and vertical axis.

The SVG icon itself is alright, but it's a 16px icon centered inside an odd-numbered box. (If you center a 16px icon in a 25px-wide content area, you get 9.5px on each side. You will get a blurry rendering at least in Firefox; Chrome may be forcing SVG

[2019-01-17 14:34] fvsch commented on #7742
We could add this issue to #7677 (UI Quality).

[2019-01-17 14:42] fvsch opened #7743 "Default icon color should use --theme-icon-color"
For consistency with other panels and Photon guidelines, Debugger buttons should use this color variable for their default state: `--theme-icon-color`.

This maps to:
- Light theme: Grey 90 at 80% opacity (as specified by Photon guidelines)
- Dark theme: Grey 40 (specific to DevTools; Firefox uses Grey 10 at 70% opacity, but the effect is similar)

The best way to test is to set `--theme-icon-colo

[2019-01-17 15:36] #7566 closed

[2019-01-17 19:11] salomvary commented on #7689
/claim

[2019-01-17 20:03] jasonLaster commented on #7689
@salomvary sorry this was not clear. I'm working on this bug now in #7719. I kinda re-wrote context menus so that they could support conditional breakpoints

[2019-01-17 20:50] salomvary commented on #7689
@jasonLaster no worries!

[2019-01-17 20:50] salomvary commented on #7689
/unclaim

[2019-01-17 21:45] salomvary opened #7748 "Debugger stops at unexpected places"
This issue happens when debugging code on a codebase that uses Tone.js, a Web Audio library.

Steps to reproduce:

- Open https://tonejs.github.io/examples/daw.html
- Set a breakpoint on the first line of `Tone.Transport.prototype.start` in Transport.js
- Click the play button in the example app
- Try to step into `Tone.isDefined`

Expected: the debugger steps into `Tone.isDefined`.

Actual: vario

[2019-01-17 21:51] jasonLaster commented on #7748
CC @bhackett1024

[2019-01-17 22:00] bhackett1024 commented on #7748
Hi, I just tested this a couple times on a local build and was able to step into Tone.isDefined both times.  Are you able to reproduce this on a nightly build?  Last month there were several fixes that may have taken care of this problem but they are not in release builds of firefox yet.

[2019-01-17 22:13] salomvary commented on #7748
@bhackett1024 Works in Nightly as expected! Now I wonder when this will get released:)

[2019-01-17 23:07] darkwing commented on #7748
I'm going to close this since everyone believes Nightly looks good.  Thank you for reporting @salomvary !

[2019-01-17 23:07] #7748 closed

[2019-01-18 13:01] YisraelV commented on #7690
/claim
If that's OK I would like to try and debug this.

[2019-01-18 13:37] jasonLaster commented on #7690
I think Brian submitted a PR for this last night. I'll check and get back to you

[2019-01-18 15:23] darkwing commented on #7643
I tried really hard to reproduce this both with our current codebase and Nightly and couldn't.  I installed lastpass, added and removed directory roots from GitHub, etc.  I hate to be a pest @digitarald but could I get more specific STR?  Sorry!

[2019-01-18 15:59] darkwing commented on #7668
A few notes after investigation:

1.  Regardless of what I try to evaluate and no matter the file, the `frameId` received in `evaluateInConsole` is always `null`

2.  The result of two simple test usages are as follows:

[code]

[2019-01-18 18:53] jasonLaster commented on #7668
i think frame can be null if you're not paused. I think we also need thread, which is because of the worker stuff...

[2019-01-18 19:07] jasonLaster commented on #7734
Hi @salomvary could you try recording the profiles in firefox nightly:

1. open firefox nightly
2. install perf.thml addon
3. go to page, open native devtools, start recording

that will be help us record what firefox is doing in the browser for stepping/reloading

[2019-01-18 19:51] darkwing commented on #7743
@notjaril This may be something to keep in mind when you look at the icon stuff, since they're all in buttons.

[2019-01-18 20:01] jasonLaster opened #7755 "[DebugLine] occassionally the debug line is not cleared"
I've found a couple times that the debug line does not go away when you resume. Some of my theories are

1. it is no longer the selected location
2. you were currently selecting another frame, that was not the top frame
3. you resumed while viewing another document/another source...

<img width="629" alt="screen shot 2019-01-14 at 1 22 11 pm" src="https://user-images.githubusercontent.com/254562/5

[2019-01-18 20:14] Garee commented on #7667
/claim

[2019-01-18 20:49] jasonLaster commented on #7680
I believe this is a bug introduced with windowless workers. I just tracked it down here. Notice the `updateWorkers` call.

<img width="1218" alt="screen shot 2019-01-18 at 3 40 39 pm" src="https://user-images.githubusercontent.com/254562/51412117-8aa99980-1b38-11e9-8551-1e21879d2de0.png">

[2019-01-18 21:30] jasonLaster opened #7757 "[Editor] highlight line flashes when it is scrolled into view"
STR:

1. click a breakpoint, which navigates to that location
2. scroll the editor so that that line is out of view
3. scroll it back into view

ER: nothing happens
AR: the line highlights again

The reason for this is that the HighlightLine component adds a class to the selected line and never removes it

Here's a start...
[code]

[2019-01-18 21:52] digitarald commented on #7643
Could not reproduce since then. Will re-open when it happens again.

[2019-01-18 21:52] #7643 closed

[2019-01-19 01:30] zerefwayne commented on #7757
@jasonLaster I would like to work on this.

[2019-01-19 05:50] zerefwayne commented on #7757
/claim

[2019-01-19 06:55] jasonLaster opened #7759 "Fix Redesign call stack group #7624"
Unfortunately #7624 caused `test_smart-trace-source-maps.html` to fail

We should fix the patch and add the test to travis.yml so we do not regress in the future

https://treeherder.mozilla.org/logviewer.html#/jobs?job_id=222806217&repo=mozilla-inbound&lineNumber=2796

[2019-01-19 18:01] YisraelV commented on #7690
@jasonLaster thanks for letting me know. In general is it safe to assume an unclaimed issue is good to work on, or should I first ask here\on slack?

[2019-01-20 10:20] salomvary commented on #7734
@jasonLaster I created some more preformance and recordings recordings from Firefox 64 and Firefox Nightly, native devtools in both. Also added a screen recording from Chrome Dev Tools which seems to be way faster.

Nightly:
- Reload to the first breakpoint: https://perfht.ml/2HoLDnO
- Step from first breakpoint to second breakpoint: https://perfht.ml/2HmRbiQ
- Screen recording: https://www.youtub

[2019-01-20 14:45] jasonLaster commented on #7734
One area we can definitely fix is the 1s we take in onFrames getting the sourceMapURL. Each frame takes about 40ms because the engine has to search the bundle, If we memoize the field we would only have to do that once.

<img width="1680" alt="screen shot 2019-01-20 at 9 43 04 am" src="https://user-images.githubusercontent.com/254562/51440730-18e86180-1c98-11e9-9f92-4b93ac141c8c.png">

[code]

[2019-01-20 14:49] jasonLaster commented on #7734
`setBreakpointAtGeneratedLocation` takes 431ms  [url]. I'm curious if we can save time on the engine side?

[url]:https://perf-html.io/public/194ac99987a128144f2c7fc240ef768c9e7d22be/stack-chart/?globalTrackOrder=5-6-7-8-0-1-2-3-4&hiddenGlobalTracks=1-2-3-5-6-8&localTrackOrderByPid=36465-1-0~36469-0~&range=3.2209_4.2703~3.2209_3.9746&thread=5&v=3

[2019-01-20 17:32] YisraelV commented on #7690
@jasonLaster any news on this?

[2019-01-20 19:04] fvsch commented on #7743
Small update: if [D17075](https://phabricator.services.mozilla.com/D17075) lands, the relevant variables will be named:

- `--theme-icon-color` for the normal state
- `--theme-icon-checked-color` for icons which have a "checked" state

[2019-01-20 19:13] jasonLaster opened #7763 "[ToggleButton] Secondary pane toggle button should be vertical"
It looks like the toggle button for the secondary pane should be rotated 90 degrees so it either points up or down as opposed to left or right.

This is somehow not working [link](https://github.com/devtools-html/debugger.html/blob/master/src/components/shared/Button/styles/PaneToggleButton.css#L35-L38)

<img width="691" alt="screen shot 2019-01-20 at 2 07 34 pm" src="https://user-images.githubuse

[2019-01-20 19:32] jasonLaster commented on #7734
One additional idea is to tighten the getUrl cache map:

this way we don't re-compute the URL every time the source reference changes.

The profile is especially interesting because the parse call is cross compartment [perf](https://perf-html.io/public/b2ce14d34bd3f6badc2bdddab2a771e090927272/stack-chart/?globalTrackOrder=4-5-6-0-1-2-3&hiddenGlobalTracks=1-2-4-6&implementation=js&localTrackOrderBy

[2019-01-20 19:33] varundey commented on #7743
I can take this up but would require some assistance as to where to start from

[2019-01-20 19:34] jasonLaster commented on #7734
it also looks like `addToTree` does a lot of parsing, which should not happen because we've already computed the URLs when we added them to the tree...

[profile](https://perf-html.io/public/b2ce14d34bd3f6badc2bdddab2a771e090927272/stack-chart/?globalTrackOrder=4-5-6-0-1-2-3&hiddenGlobalTracks=1-2-4-6&implementation=js&localTrackOrderByPid=37776-1-2-0~37781-0~37779-0~37778-0-1~&range=9.6058_10.846

[2019-01-20 21:39] fvsch opened #7764 "Remove --icon-size CSS variable"
`src/components/variables.css` contains an `--icon-size: 13px;` variable definition.

It seems to be only used once:
https://github.com/devtools-html/debugger.html/search?q=--icon-size&unscoped_q=--icon-size

It doesn't make sense to keep a global CSS variable that is not designed and used as a API of sorts, so it's probably better to remove it and put that `13px` value directly in `Dropdown.css`.

[2019-01-20 21:55] fvsch opened #7765 "Both horizontalLayoutBreakpoint and verticalLayoutBreakpoint can match at the same time"
If the window is exactly 800px wide, both breakpoints here will match:

[code]

Media queries match at the boundaries, both for `min-width` and `max-width`.

One way to work around this is to make sure you use slightly different values (a 1px or even 0.1px gap usually works). As in:

[code]

[2019-01-21 00:04] notjaril commented on #7743
@varundey I'm finishing a PR on #7735 which is closely related to this issue. I should get the PR in by Wednesday - do you mind waiting until then to start work on this?

[2019-01-21 03:12] #7727 closed

[2019-01-21 04:38] varundey commented on #7743
@notjaril Sure! :)

On Mon, Jan 21, 2019, 5:34 AM Jaril Valenciano <notifications@github.com
wrote:

[2019-01-21 06:05] ganes1410 commented on #7201
@jasonLaster open a PR #7767

[2019-01-21 06:58] salomvary commented on #7734
@jasonLaster

When in doubt, perf-html shows the browser version... But I would not draw too much conclusion on precise time values from two profiles and where human factor is also involved (I have to click both in the debugger and the profiler several times to produce these).

Re-recorded on Nightly:

- Reload to the first breakpoint: https://perfht.ml/2sEWlwp
- Step from first breakpoint to seco

[2019-01-21 07:05] zerefwayne commented on #7763
/claim

[2019-01-21 07:21] zerefwayne commented on #7763
@jasonLaster The left-right direction serves the right purpose in my opinion since panes are coming from left-right.

[2019-01-21 11:49] zerefwayne commented on #7741
/claim

[2019-01-21 12:08] zerefwayne commented on #7763
@jasonLaster I guess we have to do it only when we come in tablet view. What do you say?

![image](https://user-images.githubusercontent.com/28949397/51473752-3e15c680-1da3-11e9-884c-c96b3c5b6333.png)

[2019-01-21 12:10] zerefwayne commented on #7763
Also, in full desktop view the secondary pane directions are opposite.

![image](https://user-images.githubusercontent.com/28949397/51473850-8c2aca00-1da3-11e9-89f8-ff952bf7807e.png)

[2019-01-21 15:13] jasonLaster opened #7771 "[performance] memoize getURL by ID"
We should tighten the `getUrl` cache map:

this way we don't re-compute the URL every time the source reference changes.

The [profile][p] is especially interesting because the parse call is cross compartment perf

[code]

[p]: https://perfht.ml/2HoLDnO

[2019-01-21 15:18] jasonLaster opened #7772 "[performance] memoize highlightText"
The Breakpoint component tries to syntax highlight the breakpoint text every time it is rendered, that is unnecessary and creates a decent slowdown. [profile][p]

<img width="1680" alt="screen shot 2019-01-21 at 10 14 27 am" src="https://user-images.githubusercontent.com/254562/51482980-d4c39280-1d65-11e9-88e2-05b2d0730eef.png">

[code]

[p]: https://perf-html.io/public/ea274e3ddf0b0494f9e55a164bb

[2019-01-21 15:27] jasonLaster commented on #7734
I wonder if it is possible to improve the performance of `mapScopes` there are two areas we could look for wins:

1. on the main thread [here](https://perfht.ml/2sBEXZk)
2. on the worker in getScopes [here][h]

[h]: https://perf-html.io/public/85f89fa178aaa297f839a0296f0128e6c3c10ca0/stack-chart/?globalTrackOrder=5-6-7-8-0-1-2-3-4&hiddenGlobalTracks=1-2-3-5-6-8&hiddenLocalTracksByPid=39255-1-2-3-5

[2019-01-21 15:28] jasonLaster commented on #7734
- [ ] memoize getURL by ID #7771
- [ ] memoize highlightText #7772

[2019-01-22 15:36] #7531 closed

[2019-01-22 16:07] #7201 closed

[2019-01-22 20:49] digitarald opened #7780 "Main Thread hangs w/ glitch+debugger open in background"
STR:
- Start a new `html-webpage` based glitch project
- Open the *Show Live* page in a new tab and open the Debugger on it
- Switch back to tab with Glitch editor
- Open the `script.js` file
- Type away and edit the file (adding a `console.log`, etc)

ER: Blissful editing with usual performance behaviour
AR: Glitch updating the JS file in the background causes 1s+ hangs (on a high end MBP) from `

[2019-01-22 23:19] jasonLaster commented on #7780
It looks like there are two big issues:
- checkPendingBreakpoints which uses an expensive check -- [perf][p1]
- newSources which calls `updateSource` -- [perf][p2]

[p1]: https://perf-html.io/public/4d88b1d30ac40d2a2764f88ab66945f9d887b78a/calltree/?globalTrackOrder=0-1-2-3-4-5-6-7-8-9-10&hiddenGlobalTracks=1-2-3-4-5-6-7-8-9&hiddenLocalTracksByPid=6440-0-2-1~8826-0-1&implementation=js&localTrackOr

[2019-01-22 23:20] darkwing commented on #7490
@mcroud @violasong Any ideas to add to @fvsch 's?

[2019-01-23 04:51] derek-li commented on #7287
/claim

[2019-01-23 09:04] nchevobbe opened #7782 "Switch to AccessibleImage in Frames component broke SmartTrace"
We used to embed the icon's SVG directly in the markup, so icons were displayed in `SmartTrace` too.
But since we switched to `AccessibleImage`, we don't have the SVG anymore, and the icon are displayed via CSS (either with `background-image` or `mask-url`).
Because the webconsole (which use the `SmartTrace` component) don't load the debugger CSS files, images are not displayed in the console anym

[2019-01-23 09:07] nchevobbe commented on #7782
The naive solution would be to simply load the whole `debugger.css` file, but:
- it's very large, and contain things the other panel maybe not need
- its rules may clashes with other panel content (for example `.img`, or `.arrow` are pretty generic and break things).

I'd be in favor of having the `Svg.css` (and `Accessible.css`) copied to the debugger folder directly (i.e. not included in the big

[2019-01-23 14:04] Fubuchi opened #7783 "Top level getters of Objects can not be invoked in source panel"
Top level getters of Objects (I don't know if it is what we call them) can not be invoked in sources panel regardless of their scopes. But they can be invoked in watch expression and scopes panel.

Here is an example, I include the script from a simple index.html and load the html file in firefox then set break point for it:

[code]

![image](https://user-images.githubusercontent.com/42483897/5161

[2019-01-23 14:11] nchevobbe commented on #7783
mhh, my guess is that we don't update the node with the result. It may be because here `parentGetter` is a root node, which is handled differently than the other nodes.

[2019-01-23 14:33] jasonLaster commented on #7782
@nchevobbe could you load Frames.css?

[2019-01-23 14:42] #7668 closed

[2019-01-23 14:42] juliandescottes commented on #7690
@jasonLaster I guess this should be closed then? Is https://github.com/devtools-html/debugger.html/pull/7749 the good PR?

[2019-01-23 15:05] #7765 closed

[2019-01-23 15:54] jaril opened #7784 "[PrettyPrint] icon not showing up in source tree"
Pretty printing a source file does not change the source icon to the pretty print icon `{}`

My expectation is when I pretty print something, it should change the source icon to the pretty print icon. Instead it stays the same, although the pretty printed tab shows the pretty print icon just fine.

![jan-23-2019 10-43-52](https://user-images.githubusercontent.com/15959269/51618358-2bfb6b80-1efc-11

[2019-01-23 15:59] darkwing opened #7785 "[Tracking] Event Listener Breakpoints"
Tracking issue for the new Event Listener Breakpoints panel.

Server-side work: [Bug 1526082](https://bugzilla.mozilla.org/show_bug.cgi?id=1526082).
[Product Requirements](https://docs.google.com/document/d/1HPTnwnYydsRBRZw3XqGoiOSaMSIeHBvKRQENm4RegPI/edit#) (maintained by @digitarald).

[2019-01-23 16:00] darkwing opened #7786 "[Tracking] DOM Mutation Breakpoints"
Sub-issues for the new DOM mutation breakpoints panel will be tracked here.

[2019-01-23 16:03] darkwing opened #7787 "[Tracking] Implement Storybook"
Storybook (https://github.com/storybooks/storybook) is an amazing visual tool for rendering react components.  We should implement storybook to cut down on visual regressions, which may include:

- RTL
- Light and dark theme
- Prefs on/off differences

[2019-01-23 16:14] Fubuchi commented on #7783
@nchevobbe  confirmed, I add a console log to `parentGetter` and it log to console when I invoke it.

[2019-01-23 16:44] #7700 closed

[2019-01-23 20:33] mrwweb commented on #6965
I'm experiencing this issue exactly as described. Windows 10, Firefox 64.0.2. I've disabled all of my add-ons and still have the issue. I followed @janodvarko's test and experienced the issue. Here's a GIF:

![firefox-breakpoint-bug](https://user-images.githubusercontent.com/1238696/51635174-09bd1a00-1f0b-11e9-829e-507de8111874.gif)

[2019-01-23 20:35] jasonLaster commented on #6965
@mrwweb could you try Firefox 65 or 66 (dev edition or nightly)?

[2019-01-23 20:47] mrwweb commented on #6965
@jasonLaster It would appear to be working correctly in 65.0beta :)

[2019-01-23 21:23] #7757 closed

[2019-01-23 21:31] darkwing opened #7788 "Pressing Enter on "Find in Files" Result Doesn't Open Source"
STR:

1.  Open Find in Files
2.  Type "var"
3.  Tab to any search result
4.  Press [enter]

ER:

1.  Source opens to that line, just like a click

AR:

1.  Nothing happens

[2019-01-23 21:56] darkwing commented on #7788
This appears to happen because `focusedItem` is never set.  A more direct approach is:

[code]

[2019-01-23 21:57] darkwing commented on #7788
@AnshulMalik When you looked at the flow stuff, did you see a reason for why this would be so complicated?  Why the `focusedItem` is even needed?

[2019-01-23 21:57] #7522 closed

[2019-01-23 22:23] jasonLaster commented on #6965
@mrwweb oh good. yeah i think @loganfsmyth fixed this with some of the breakpoint work. it is hard to handle all of the cases :/

[2019-01-23 22:23] #6965 closed

[2019-01-23 22:31] zspitzer opened #7789 "add about:memory as a tab in devtools"
about:memory can be very useful and is currently hidden without being accessible via the UI

[2019-01-24 09:27] voordev opened #7792 "Unable to restore .scss from webpack file"
For learning purposes!
Im trying to look how components are build on a gatsby react based site named clubhouse.io
The webpack is available but im unable to restore the scss files they are not populated with CSS but with code like in below example. There are multiple scss files also.
The 2nd one has the following content:

[code]

Would it be possible to somehow get the css sources of a component t

[2019-01-24 09:38] fvsch commented on #7789
(That's probably a bug for Bugzilla rather than this repo.)

DevTools already has a Memory tab. I don't know if there are plans for replacing that tool with about:memory later on.

[2019-01-24 09:42] zspitzer commented on #7789
about:memory is more complimentary than a replacement for the existing tab

[2019-01-24 12:55] fvsch commented on #6631
@darkwing UX is finalized at https://github.com/devtools-html/ux/issues/45#issuecomment-457021260

Should this be broken up into individual issues for the different sections (aka panes)? Trying to do it all at once might be a bit too big.

[2019-01-24 13:43] jasonLaster commented on #7789
i think this should be filed in bugzilla.

[2019-01-24 13:43] #7789 closed

[2019-01-24 15:58] nchevobbe commented on #7782
Probably, yes. If we go that way, we should be careful of classname clashes though. I'll try that soon.

[2019-01-24 18:11] YisraelV commented on #6747
Copying from slack:

currently if there is some text in the search box, and user navigates between files, the search results are updated and the document is scrolled to the first result.

This issue  is about when the user navigates using the stack-frames panel. The expected behavior is  scrolling to the executed line, but the actual behavior is scrolling to the first search result.

In my opinion

[2019-01-24 19:51] jasonLaster commented on #6747
I agree @YisraelV. Chrome's approach is nice

[2019-01-24 20:03] zerefwayne commented on #7763
/unclaim

[2019-01-24 20:51] #7772 closed

[2019-01-24 20:51] #7771 closed

[2019-01-25 00:34] bhackett1024 opened #7797 "Refactor unit tests"
While working on PR #7796 I had a lot of trouble updating the unit tests for the refactoring being performed.  Many changes needed to be made to unit tests that were only tangentially related to the refactoring, and these changes were mostly non-obvious tweaks to ad hoc objects in the tests.  I think some changes can be incrementally made to the unit tests to make them friendlier to future refacto

[2019-01-25 05:42] digitarald opened #7799 "Syntax highlighting option disabled prevents workaround"
STR:
- Open Debugger on Github
- Open the `frameworks-*` file
- Right-click tab

ER: Pretty print option available
AR: Pretty print disabled

The file should have a toolbar to pretty print (#2782 or some of the others where we tried fixing that), but since that is gone, disabling the option closes the last avenue to force pretty print.

<img width="565" alt="image" src="https://user-images.githubu

[2019-01-25 05:42] digitarald commented on #7799
@loganfsmyth did anything change here recently that would disable the option?

[2019-01-25 05:46] digitarald opened #7800 "Improve code-styling for conditional breakpoint and logpoint input"
When adding a conditional log point, I want to easily identify that the text I am typing is code, so that I don't second guess the behaviour.

Code fields should at least be monospaced, but even better providing syntax highlighting.

<img width="222" alt="image" src="https://user-images.githubusercontent.com/8599/51727483-16339680-2021-11e9-9a4a-9bbbd6af9c90.png">

[2019-01-25 06:11] championshuttler commented on #7764
/claim

[2019-01-25 09:31] #7764 closed

[2019-01-25 11:42] jainsneha23 commented on #7788
/claim

[2019-01-25 13:26] nchevobbe opened #7804 "Debugger does not pause at breakpoint"
This is reproducible with the latest Github sources:

**Steps to reproduce**
1. Open https://nchevobbe.github.io/demo/console-test-app.html
1. Open the debugger
1. Open the `webpack:///framework/src/App.js` file
1. Put a breakpoint at the first line of the render method (should be line 11, on the `const`):
[code]
5. Put another breakpoint on the `if` line
5. In the test page, scroll down to the `R

[2019-01-25 13:40] jasonLaster commented on #7804
Yep. Let's wait until specificity lands

[2019-01-25 14:08] jasonLaster commented on #7799
The reason we don't let you pretty print is that the file has a source map

<img width="985" alt="screen shot 2019-01-25 at 9 02 12 am" src="https://user-images.githubusercontent.com/254562/51750408-fe3f2f80-207f-11e9-8e06-e34e332dcd82.png">

Here are the original sources for the file

<img width="626" alt="screen shot 2019-01-25 at 9 06 01 am" src="https://user-images.githubusercontent.com/254562

[2019-01-25 14:53] jasonLaster opened #7806 "[scopes] Make map scopes opt-in"
The feature Map Scopes currently has a significant performance cost for the parser worker and non-trivial cost for the main thread.

w/ map scopes on -- http://bit.ly/2Tf9KqC
w/ map scopes off -- http://bit.ly/2Tg4aUL

The reason for that is that parsing the generated file is often slow, building scopes list can be slow, and building generated lists is about ~60ms on the main thread for debugger.h

[2019-01-25 14:55] julienw opened #7807 "Improve the regexp for React library"
Currently the regexp to detect the React library is very simple:
https://github.com/devtools-html/debugger.html/blob/192cbd161a136bb42ff8bd9116a052465fa917a2/src/utils/pause/frames/getLibraryFromUrl.js#L24-L25

This means it matches lots of 3rd-party libraries too, especially `react-contextmenu` `react-transition-group` `react-splitter-layout`. I believe React is only `react` and `react-dom` so ma

[2019-01-25 14:57] julienw commented on #7807
This is what happens in the console:
![console screenshot](https://user-images.githubusercontent.com/454175/51753346-cce35580-20b9-11e9-9733-5c8d7a00c4d9.png)
All the seemingly React stack is actually in `react-contextmenu`.

[2019-01-25 19:06] digitarald commented on #7799
This seems arbitrary, as all the sources 404; so the source map is just used for error mapping and disabling pretty print in this case doesn't make sense.

Maybe I am simplifying, but force pretty printing should still be available and discard the source map.

[2019-01-25 20:11] loganfsmyth commented on #7260
@digitarald That seems likely, I'll have to dig into it more when doing the pretty-print work.

[2019-01-25 20:14] loganfsmyth commented on #7804
Looks like this still happens with specificity at the moment, because empty-lines is still powered by pause points, and it's actually the `} = this.props;` line where you'll pause, not the `const {` line, so the wrong line is marked as empty.

@jasonLaster Looks like we'll want to look into changing that to use the `getExecutableLines` API, like we talked about the other day.

[2019-01-25 20:16] jasonLaster commented on #7799
@digitarald i think that makes sense. We already have logic the strips the sourceMapURL if that 404s...

this is a thorny problem

[2019-01-25 22:08] jasonLaster commented on #7680
@digitarald could you try to reproduce with windowless-workers disabled?

[2019-01-25 22:13] jasonLaster commented on #7780
@digitarald i could not reproduce with this example https://glitch.com/edit/#!/workable-worm

Also the profile has a lot of `checkPendingBreakpoints` did you have any breakpoints set?

[2019-01-25 22:19] digitarald commented on #7780
Just tried again in Nightly: http://bit.ly/2Wiw58G

I am using https://glitch.com/edit/#!/seed-swamp?path=script.js:8:27 with some async functions and `console.trace` statements.

[2019-01-25 22:49] darkwing commented on #7611
Is this still relevant @loganfsmyth ?

[2019-01-25 23:22] jasonLaster commented on #7780
@digitarald the perf link isn't opening for me...

[2019-01-26 00:19] loganfsmyth commented on #7611
I'm fine with closing. We've got type annotations for basic documentation, and it's not clear what the other requirements this mentions are. Doesn't seem strictly necessary.

[2019-01-26 00:19] #7611 closed

[2019-01-26 03:39] amanriquez commented on #7807
Hello, newbie here looking for first issues (just made my first pull request at common voice/sentence collector, changed two labels..). Wondering if this was just as easy, I don't think I can make a better regex than yours, so if I just go in and plug in the one you made that'd work? it doesn't need a ^ at the beginning?

[2019-01-26 04:10] jasonLaster commented on #7807
Go for it. There are some nice tests too so that would help

[2019-01-26 06:55] digitarald commented on #7806
Thanks for investigating and sharing the profiles of the patch.

The difference between the profiles is harder to determine; I am unsure where the main thread time is being spend as the heaviest callers are still present.

<img width="1679" alt="image" src="https://user-images.githubusercontent.com/8599/51783756-7f83da00-20f3-11e9-9127-bfd442d51a42.png">

Do we know where exactly the scope mapping

[2019-01-26 09:56] amanriquez commented on #7807
/claim

[2019-01-26 16:41] jasonLaster opened #7816 "[Breakpoints] Add Log Points"
It should be possible to add a log and condition to a breakpoint

- [x] console log showing in breakpoints panel for log points #7672
- [ ] Fold Conditional & Log into unified Edit Breakpoint form #7816

Server work: [Bug 1526554](https://bugzilla.mozilla.org/show_bug.cgi?id=1526554)

[2019-01-26 20:05] bomsy opened #7817 "[Breakpoints] Conditional breakpoints become normal breakpoints on reload"
When the page is reloaded the conditional breakpoints (or log points) set become normal breakpoints

![logpoints2](https://user-images.githubusercontent.com/792924/51792116-fcbb5780-21a4-11e9-87b6-e10adea77b3b.gif)

#### STR
* Set a conditional breakpoint
* Refresh page

### AR
The  breakpoint switches to a normal breakpoint

### ER
The breakpoint should remain a conditional breakpoint

[2019-01-28 09:43] jainsneha23 commented on #7788
@darkwing I am not able to navigate through the results using "tab". Neither I can tab through in "voice over" mode. I am running standalone debugger from master branch. Am I missing anything?

[2019-01-28 16:39] #7287 closed

[2019-01-28 18:33] jasonLaster opened #7822 "[sourcemaps] refactor API to better use flow"
We recently re-wrote the Parser Worker [API][pw] to better use flow and we should do the same thing with the source maps worker [API][sw]:

Here's a gist where i got started: https://gist.github.com/be0012d62c902dd39768672ffce3d5d4

The big difference is going from

[code]

to

[code]

The latter is typed with Flow so we have better coverage

[pw]: https://github.com/devtools-html/debugger.html/bl

[2019-01-28 18:47] digitarald commented on #7780
Try a hard refresh, this fixed it for me.

[2019-01-29 09:31] nchevobbe opened #7830 "mapBindings throws when expression has declarations without initial values"
Given the following diff:

[code]

`src/workers/parser/tests/mapBindings.spec.js` fails with the following error message:

[code]

---

This is because we always create an `assignmentExpression` when we encounter a variable declaration, even if the original declaration does not have an initial assignment.

[2019-01-29 09:36] julienw commented on #7780
Hard refresh should never be necessary, especially now that we have this nifty reload notification. Moreover we (should) reload automatically if we see this error and there's an update.

Basically a hard refresh avoids the service worker, so it may seem to work when the service worker hasn't downloaded an update yet, but this is never a good fix for perf-html :)

I believe this happened because @d

[2019-01-29 09:40] julienw commented on #7780
_Or_ the update wasn't finished yet :)

[2019-01-29 10:41] jainsneha23 commented on #7788
Focus on tree was broken during efcda91d682b3e3818ed53e2f430ae70f1a7ac60
Once we tab to any search result, enter works as expected.

@darkwing  Any reason why we need the tree to expand and collapse on clicking "Enter"? The source tree keyboard navigation, and this tree navigation should be same. As they are both tree?

[2019-01-29 15:15] jaril opened #7833 "Tabs not aligned when source-icon showing"
Tabs appear normal as expected, until you have a 1) tab with source icon, and 2) tab with no source icon together in the Tabs pane. Only happens when opening debugger.html in Chrome, behavior doesn't appear in Firefox.

Steps to Reproduce:
1) Open debugger in Chrome
2) Open tab in Firefox, go to https://jsfiddle.net/chrisvfritz/50wL7mdz/
3) In sources pane, try opening `unpkg.com>vue` and `jsfiddl

[2019-01-29 15:16] digitarald commented on #7780
Updated link that works for me: http://bit.ly/2Wiw58G

[2019-01-29 16:04] jasonLaster commented on #7780
thanks. I'm still not reproducing the slowdown, which makes sense given i don't see `checkPendingBreakpoints` in my profile either. http://bit.ly/2TlZHjs

[2019-01-29 16:12] nchevobbe opened #7835 "Clicking on the "Add watch expression" does not focus the input if the panel is collapsed"
**Steps to reproduce**
1. Go to `data:text/html,<meta charset=utf8>`
1. Open the debugger
1. Ensure the `Watch Expressions` panel is collapsed and empty
1. Click on the "Add watch expression (`+`) button

**Expected results**

The panel is expanded, and the input where I can type my expression is focused

**Actual results**

The panel is expanded, but the input isn't focused, even if I click on th

[2019-01-29 16:54] twhite96 commented on #6993
Working on this now. Just need to update my fork.

[2019-01-29 16:58] darkwing commented on #7835
This was introduced when we did the accessibility sprint and removed the `autofocus` attribute.

[2019-01-29 17:01] darkwing commented on #7835
This also affects the XHRBreakpoints panel.

[2019-01-29 17:10] darkwing commented on #6993
Great!  Welcome back @twhite96 !

[2019-01-29 17:57] twhite96 commented on #6993
Looking over the lines that @nchevobbe pointed out and I am starting to get what is happening. I'm going to take a few notes and come back to it later tonight.

[2019-01-29 20:39] darkwing commented on #7800
Should this apply to log points and conditional breakpoints?

[2019-01-29 20:53] darkwing commented on #7799
What's our decision here?  Always, always showing the pretty print button regardless of sourcemap?

[2019-01-29 21:31] digitarald commented on #7800
Yes. Anywhere code is entered. Also includes Watch Expressions (_asked in slack_).

[2019-01-29 21:35] digitarald commented on #7799
The pretty print _button_ has its own issues atm. For this issue we should at least show the Pretty Print _menu_.

[2019-01-29 21:35] darkwing commented on #7784
This change tells the `SourceTreeItem` if there's a pretty source:

[code]

The icon needs alignment love but that should be easy 👍

[2019-01-29 22:13] derek-li opened #7840 "[Footer] Compressing the editor pane causes text to leave the footer"
Steps to reproduce:
1. Black box the source
2. Shorten the editor pane

Problem is more noticeable in Chrome than Mozilla

Demo:
https://gyazo.com/5d568df7fc3134366f76256cb58b1580

[2019-01-29 22:34] darkwing commented on #6734
@loganfsmyth Just pinging you on this since I don't recall getting feedback.  I also don't know if your breakpoint specificity stuff would cover the oddness from this comment:  https://github.com/devtools-html/debugger.html/issues/6734#issuecomment-428439141

[2019-01-29 22:51] darkwing commented on #7737
I haven't been able to reproduce this since Jason's work so closing.

[2019-01-29 22:51] #7737 closed

[2019-01-29 22:58] darkwing commented on #3411
Retested and is working as it should, scrolling to line.  Closing.

[2019-01-29 22:58] #3411 closed

[2019-01-29 23:03] darkwing commented on #4411
The view-source issue was fixed, I think this is good to go.

[2019-01-29 23:03] #4411 closed

[2019-01-29 23:08] darkwing commented on #7501
This is a duplicate and, with @loganfsmyth's breakpoint specificity work, this wont be an issue.

[2019-01-29 23:08] #7501 closed

[2019-01-29 23:19] darkwing commented on #4017
I followed these steps, waited a few minutes, and no massive CPU spike.

[2019-01-29 23:19] #4017 closed

[2019-01-29 23:21] darkwing commented on #4680
I couldn't reproduce.

[2019-01-29 23:21] #4680 closed

[2019-01-29 23:22] darkwing commented on #5132
Since the watch expression issue is much different than the original issue, I'm closing.  Thank you @alessandrod !

[2019-01-29 23:22] #5132 closed

[2019-01-29 23:23] darkwing commented on #5328
@AnshulMalik's work has vastly improved performance!

[2019-01-29 23:23] #5328 closed

[2019-01-30 00:21] darkwing commented on #1150
These are all persisted.

[2019-01-30 00:21] #1150 closed

[2019-01-30 00:23] darkwing commented on #3532
Catches for me.  Closing.

[2019-01-30 00:23] #3532 closed

[2019-01-30 00:40] #5179 closed

[2019-01-30 01:47] darkwing commented on #5816
No longer happens.

[2019-01-30 01:47] #5816 closed

[2019-01-30 03:38] #6295 closed

[2019-01-30 03:49] emanueltimlopez commented on #7787
/claim maybe i can help, I implemented storybooks in other projects.

- [ ]  install dependencies sb and addons
- [ ] dynamically load stories, global styles
- [ ] configure webpack and npm scripts
- [ ] add a story in some components for testing
- [ ] deploy to ghpage maybe?

[2019-01-30 04:03] jaril opened #7842 "Blackbox icon appears too big on hover"
The blackbox icon's highlighted grey square on hover is larger than the pretty print icon's beside it. I would have expected that it wouldn't go up past the footer.

It's possible both the blackbox and the pretty print icon are oversized for the footer, and it just so happens that the breakpoint gutter overlaps and hides the excess coming from the pretty print icon, which hides it and makes it loo

[2019-01-30 05:57] pradeepgangwar commented on #7724
@jasonLaster can i try this one?

[2019-01-30 05:57] pradeepgangwar commented on #7724
/claim

[2019-01-30 08:03] fvsch commented on #7742
/claim

[2019-01-30 14:23] jaril opened #7843 "Watch expressions evaluation broken"
Debugger in Firefox still seems to work fine, but the most recent master won't evaluate watch expressions. This leaves the watch expression label for that expression `unavailable`, even though the Scope pane clearly shows the correct object representations.

Error message:

[code]

[2019-01-30 14:44] darkwing opened #7844 "Implement ".devtools-monospace" CSS class"
The devtools common theme (https://searchfox.org/mozilla-central/rev/c07aaf12f13037c1f5a343d31f8291549e57373f/devtools/client/themes/common.css#66-69) provides a `.devtools-monospace` CSS class.

We should use this for anywhere we monospace the font, including:

1.  Breakpoints pane (right sidebar)
2.  Watch expressions
3.  Conditional panel

[2019-01-30 18:04] dhyey35 commented on #7844
/claim

[2019-01-30 20:08] #7784 closed

[2019-01-31 02:35] ravefalcon92 commented on #7800
/claim Going to give this a try!

[2019-01-31 03:53] yulireyji commented on #7840
Hello! I would like to help with this issue

[2019-01-31 06:09] derek-li opened #7851 "[SourcesTree] state.sources.relativeSources attributes not updated with new data"
Steps to reproduce:

1. Open a source file in the editor pane
2. Debug on render

Expected:
The `loaded` attribute for the opened source within relativeSources should show `"loaded"`

Actual:
The `loaded` attribute for the opened source within relativeSources shows `"unloaded"`

Picture:
![e4f1715c5f1fb0ae62c12783a333322b](https://user-images.githubusercontent.com/33161837/52308363-0043a100-2952-1

[2019-01-31 12:17] dhyey35 commented on #7844
@darkwing I have successfully implemented it for Breakpoints but for other's I have some confusions

1. For conditional panel: As you can see in the image below `devtools-monospace` has a lower specificity, so adding `devtools-monospace` is going to be redundant according to me. Is there any other case for which I should add it ?
![image](https://user-images.githubusercontent.com/11143604/52052712

[2019-01-31 15:12] jasonLaster commented on #4076
@jfeng21 i believe this is not being worked on. Would you like to try and fix this?

[2019-01-31 15:58] jasonLaster commented on #7241
@darkwing i think the preview thing might have been fixed :)

[2019-01-31 16:02] twisted-sres commented on #7239
Is anybody working on this, or can Itake this up?

[2019-01-31 16:10] nchevobbe opened #7852 "mapAwaitExpression has unexcpected output on dynamic import"
Given the following expression change:

[code]

the function returns:

[code]

but what we want is:

[code]

[2019-01-31 19:34] jasonLaster commented on #7239
@twisted-sres i think is a tough bug to work on.

[2019-01-31 20:10] #7797 closed

[2019-01-31 20:16] jasonLaster commented on #5120
Here is a new list

we should likely add `"flowtype/require-valid-file-annotation": [2, "always"]` to our `eslintrc` and then disable these specific files so we can incrementally add support and not add new files that are missing flow

[code]

[2019-01-31 20:24] nchevobbe commented on #5120
Great, I'll do the ones in `Frames`

Le jeu. 31 janv. 2019 à 21:16, Jason Laster <notifications@github.com> a
écrit :

[2019-01-31 21:13] fiji-flo commented on #7833
We investigated this at our Berlin Meetup. Thanks to @emilio we traced this back to being a Firefox Bug ([#1518715](https://bugzilla.mozilla.org/show_bug.cgi?id=1518715)). Chrome does the right thing here.

Emilio provided a way to fix this. I'm PR'ing this tomorrow.

[2019-01-31 21:14] fiji-flo commented on #7833
/claim

[2019-02-01 09:47] fvsch commented on #7844
Generally speaking, all monospace code-like text should use the same font, a 11px font-size, and a 15px line-height. (The 15px line-height is not yet implemented in DevTools but we want to get there. Yes, that means we are going to bump the CodeMirror source code line-height from the current 13.5px to 15px.)

I have a work-in-progress bug which will provide CSS variables for this style:
https://bu

[2019-02-01 09:52] fvsch opened #7864 "Tests require Node 10, package.json says 7.7"
I'm using Node 8 and a bunch of tests fail because Node 8 doesn't have Promise.prototype.finally (Node 10 does).

- Should the minimum version be bumped to Node 10 in `package.json`?
- Or do we want to inject a `.finally` polyfill?

MDN says Promise.prototype.finally is Node 10.0.0+ but not sure how reliable that info is:
https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Obj

[2019-02-01 10:50] #7833 closed

[2019-02-01 10:58] #7822 closed

[2019-02-01 11:55] fvsch commented on #7842
Both icons are reported with the same size for me: 28 by 28px.
The size is due to the button's 6px padding and 16px icon (6*2+16=28).

One issue is that the content area of the footer is 23px-tall.
The `--editor-footer-height` variable is set to 24px, and we're using a 1px border, leaving 23px for the content.

Solutions:
1. Change `--editor-footer-height` to 29px (28px for content), same as the t

[2019-02-01 11:55] fvsch commented on #7842
/claim

[2019-02-01 16:21] #7742 closed

[2019-02-01 16:47] salomvary commented on #7734
@jasonLaster so I repeated the performance tests in the latest Nightly.

Full reload to the first breakpoint: https://perfht.ml/2SfXtVL

- Stopping on the first breakpoint (highlighting the line) might be faster now (happens at around 1s)
- Notice how showing the blue breakpoint markers only follow a few seconds later
- Scopes (right panel bottom) take almost 10 seconds to load

Step from the firs

[2019-02-01 17:11] #7835 closed

[2019-02-01 17:38] #5120 closed

[2019-02-01 18:32] P0lip commented on #7830
/claim

[2019-02-01 22:06] digitarald opened #7868 "Switch delete button for watch expressions to show on hover"
Same behavior as breakpoints. Impact of not doing it is loosing 48 pixels (close button + margins).

Possibly a good first bug, @darkwing ?

[2019-02-01 22:14] digitarald opened #7867 "Double-clicking watch expression values causes editing"
Reps in other parts, like the Scopes panel, allow double-click to select text. Watch expressions listen on the whole element for double-clicks and switch to edit; even though only the expression should be editable.

This matches behavior for Chrome as well.

@darkwing, possibly a good first bug?

[2019-02-01 22:21] darkwing commented on #7868
I think we should consider accessibility here; using hover for a task as important as removing a breakpoint or expressions isn't friendly to keyboard users.

[2019-02-01 23:03] digitarald commented on #7868
As this is already used for breakpoints, how is the a11y question solved there @darkwing ?

[2019-02-01 23:08] digitarald commented on #7868
Looks like it doesn't.

This could be solved by making the close button element appear when the main element or a part of it is focused (using `:focus-within`); so tapping through the element shows all options.

[2019-02-02 01:00] lawrencek0 commented on #7867
I would like to work on the issue if it's okay.
/claim

[2019-02-02 23:11] yulireyji commented on #7840
/claim

[2019-02-03 06:52] derek-li commented on #7851
/claim

[2019-02-03 11:51] fvsch commented on #4076
I think @nchevobbe worked on a similar issue for the Console, with a patch reviewed by @yzen.
Perhaps the same solution could apply here, or we could learn something from it?

[2019-02-03 12:03] fvsch commented on #4075
/claim

I'd like to work on this.

About the "left/right should change the current tab", that means [implementing tabs as a menu role with ARIA and a lot of JS](http://adrianroselli.com/2017/10/dont-use-aria-menu-roles-for-site-nav.html), which may not be compatible with having buttons for the close action inside or alongside each `menuitem`. So maybe just having a <nav> with a <ul> list and two b

[2019-02-03 17:04] zerefwayne commented on #7741
/unclaim

[2019-02-03 18:31] fvsch opened #7870 "[SourceFooter] Collapse panes button seems broken"
I think I regressed the "Collapse panes" button in the SourceFooter in https://github.com/devtools-html/debugger.html/pull/7862
Forgot to test that case, and now in local testing it's not responding to clicks.

This issue can be assigned to me.
It looks like this button is not using the same component as the others, I'll see if we can remove that duplication.

[2019-02-03 19:42] akshithashetty commented on #7763
/claim

[2019-02-04 03:36] amanriquez commented on #7807
Hey, I tried the suggested regex but got this error:

      /home/arnulfo/debugger/debugger.html/src/utils/pause/frames/getLibraryFromUrl.js: Unexpected token, expected , (25:49)

        23 |   {
        24 |     label: "React",

           |
        26 |   },
        27 |   {
        28 |     label: "Immutable",

There is an  ^ pointing at the ) after dom)/ and the two last '\' are highlighted a

[2019-02-04 05:21] keerthanak17 commented on #7868
I'd like to claim this issue if no one else is working on it!

/claim

[2019-02-04 07:44] fvsch commented on #7741
@Matt Croud In the Debugger, the 2 sidebar-collapsing buttons have the same label, "Collapse panes".
Could we come up with 2 different labels that make sense, for accessibility's sake?

- "Collapse sources" probably works for the left sidebar. "Collapse sources and outline" may work too.
- "Collapse breakpoints" for the right sidebar maybe? (It's a approximation but 70% of the right sidebar conten

[2019-02-04 07:45] fvsch commented on #7741
/claim

[2019-02-04 09:17] zerefwayne commented on #7870
/claim

[2019-02-04 10:59] zerefwayne commented on #7867
/claim

[2019-02-04 14:52] #7870 closed

[2019-02-04 15:04] yzen opened #7874 "Make ObjectInspector accessible to keyboard when focusable."
At the moment even when ObjectInspector is set to be focusable, focus handling does not work very well for focusable elements that are inside the TreeNode items of its internal Tree. To be consistent with other tools in the toolbox (primarily markup inspector) it'd be ideal to allow to explicitly activate/deactivate a TreeNode for keyboard navigation using Enter[Space]/Escape respectively. Similar

[2019-02-04 15:12] #7842 closed

[2019-02-04 15:22] darkwing commented on #7843
Removing as P1 since it only effect launchpad

[2019-02-04 17:11] dhyey35 commented on #7844
@fvsch As I mentioned for `.outline-list` I am posting a gif that shows the change in font-size due to adding `devtools-monospace` class
![debugger-1](https://user-images.githubusercontent.com/11143604/52224300-a9948380-28cd-11e9-8d92-dda69fc46e8a.gif)

[2019-02-04 17:32] fvsch commented on #7844
@dhyey35 The text in outline-list should not be that big in the first place, it should be 11px.
Can you figure out why you're getting such a big size currently?

[2019-02-04 20:23] fvsch commented on #7763
@akshithashetty So there has been some fixes landed by @jaril I think and then a CSS refactor (and icon update) by me in the past few days. So this should be fixed as of today (latest `master`).

[2019-02-04 21:33] loganfsmyth commented on #7806
@digitarald Does that include work done in a worker? The main things for scope mapping are:
* Parse the full generated file in the parser worker
* Looking up all the mappings in the sourcemap worker

Since both of those happen in a worker, we do have to wait a while for it to finish, but it's not visible as work done in the main thread. We do some work on the main thread after that, but it's proba

[2019-02-04 21:40] loganfsmyth commented on #6734
Yeah, sounds like we should re-evaluate once the specificity work is done. We'll probably need to do some work on how we track and sync breakpoints, since server-side they only really have a generated location. We'll probably want to threat the original position as render-only and maybe use it on reload when syncing things to the new file content.

I'm not totally clear on what you're asking here.

[2019-02-04 22:45] digitarald commented on #7806
I was investigating based on the initial statement from the issue description (*non-trivial cost for the main thread*), but I understand now that most of it is on the worker.

Worker-wise there is definitely overhead of 3+sec per step:

<img width="1914" alt="image" src="https://user-images.githubusercontent.com/8599/52242146-944a3580-288a-11e9-8505-e520361bf6e8.png">

Before preffing this off, di

[2019-02-04 23:02] loganfsmyth commented on #7806
I think if we pref it off, almost no-one will use it. I'd definitely prefer exploring UI options that allow users to opt in to scope mapping. It seems like the nicest way would be a checkbox to enable variable mapping in the scope pane or something. An option in the devtools settings would work too, but it's still dramatically less discoverable that way.

[2019-02-04 23:04] jasonLaster commented on #7806
I'm proposing adding a setting in the scopes panel that is discoverable.

With that said, we should have a better tree idea of the performance cost.
I'll share some numbers when I'm at my computer.

Harald, the 3 secs was likely the first pause bc that's when we build the
full scope tree for the two files.

Logan, one of my concerns is the 3 seconds blocks other parser worker
tasks.

I think we co

[2019-02-05 00:50] keerthanak17 commented on #7868
Hi @digitarald , could you tell how I can find the file/ where in the application this issue is? I'm having trouble finding this issue to analyse/ fix it. Thanks!

[2019-02-05 00:53] darkwing commented on #7868
Hello @keerthanak17 !  The file most important will be `src/components/SecondaryPanes/Expressions.js`, where the JavaScript/HTML is.  There's a `Expressions.css` file where you'll need to add the CSS to show and hide the close button.  A good file to look at will be `src/components/SecondaryPanes/Breakpoints/Breakpoint.js`, where we already implement this functionality. 👍

[2019-02-05 01:33] keerthanak17 commented on #7868
Awesome! Let me do that and get back to you. Thank you @darkwing

[2019-02-05 10:01] fvsch opened #7879 "Improve UI implementation of EventListeners list"
The UI spec: https://mozilla.invisionapp.com/share/H3PYO9EMC9D#/screens/340771972_Event_Breakpoints_1

A few issues:
- we have strange alignment of icons, checkboxes, etc.
- we don't respect the metrics outlined in the spec (horizontal rhythm, 20px-tall rows)
- the arrow icon should be a button so that it can be focusable; we probably need to come up with an accessible label for those buttons too

[2019-02-05 17:17] bomsy commented on #7672
Hi @soniasingla, looks like this got fixed by https://github.com/devtools-html/debugger.html/pull/7749

[2019-02-05 17:17] #7672 closed

[2019-02-05 17:49] soniasingla commented on #7672
Thanks @bomsy and am really sorry for being inactive from few days, I was suffering from an injury. Am back now ;)

[2019-02-05 18:48] #7844 closed

[2019-02-05 20:58] #7763 closed

[2019-02-05 23:09] #7830 closed

[2019-02-05 23:49] errietta commented on #7708
@jasonLaster I'm not sure that's still a thing, if it's about the open file tabs in 'sources', then I can see the selection after refreshing, also the code you mentioned appears to have changed

[2019-02-06 00:35] jasonLaster commented on #7708
interesting. i'll take a look

[2019-02-06 01:20] jasonLaster opened #7887 "[SourceTree] File icon is missing"
The source tree file icon is missing in the source tree

<img width="221" alt="screen shot 2019-02-05 at 5 20 16 pm" src="https://user-images.githubusercontent.com/254562/52315093-545a7f80-296a-11e9-82d1-c121b3cc2ae1.png">

[2019-02-06 01:22] jasonLaster opened #7888 "[QuickOpen] syncBreakpoint.js is missing"
STR:

1. start launchpad
2. cmd+p type sync

ER: see syncBreakpoint.js
AR: it is not there

<img width="677" alt="screen shot 2019-02-05 at 5 21 27 pm" src="https://user-images.githubusercontent.com/254562/52315122-7f44d380-296a-11e9-9ec7-376009adb8de.png">

[2019-02-06 02:13] jswalden opened #7889 "`willNavigate` and `navigate`'s clearing of registered sources is not atomic with `newSource`"
While working on a JS engine patch (specifically, to change JS column numbers from being counts of code _units_ to being counts of code _points_, a mostly necessary prerequisite to allowing us to directly compile UTF-8 source text), I made a bunch of devtools tests start failing.

One of the first tests I picked (there are a bunch; some might be me, some definitely aren't other than by just making

[2019-02-06 07:50] bamanczak opened #7892 "Space added between the characters in shortcuts on macOS"
Formatted Keyboard shortcuts on MacOS have a space added between characters
![image](https://user-images.githubusercontent.com/8224947/52326487-236d5f80-29e9-11e9-8fac-f9e1ef85c1fd.png)

However on MacOS it's a standard to format shortcuts without any space
![image](https://user-images.githubusercontent.com/8224947/52327286-dc349e00-29eb-11e9-8d88-c68c9deafd54.png)

The fix needs to be implemented

[2019-02-06 07:52] bamanczak commented on #7892
/claim

[2019-02-06 12:58] harshlele commented on #7879
hey, can i take this bug?

[2019-02-06 15:19] fvsch commented on #7879
Works for me. :)

Some things to note:
- The UI spec has a second page with metrics: https://mozilla.invisionapp.com/share/H3PYO9EMC9D#/screens/341208048
- It's best not to use fixed heights for content rows (`height: 20px`). Instead, a combination of line-height and padding may work.
- Checkboxes use their platform-specific styles. This means we can't always follow the UI spec in a pixel-perfect

[2019-02-06 15:24] harshlele commented on #7879
/claim

[2019-02-06 16:34] fvsch commented on #7892
It might be worth exploring if we can set a font-family which renders the command and shift signs better. Can be a bit hard to do in a way that works in Firefox and Chrome, though.

According to https://caniuse.com/#search=system-ui, maybe this could work?
`font-family: system-ui, -apple-system, sans-serif;`

We should be able to construct selectors that only target macOS, too, though I'm not sure

[2019-02-06 19:05] errietta commented on #7887
@jasonLaster I cannot reproduce.
![image](https://user-images.githubusercontent.com/134585/52366658-33655d80-2a42-11e9-9344-826c86192ed3.png)

[2019-02-06 19:07] soniasingla commented on #7888
/claim

[2019-02-06 19:14] soniasingla commented on #7888
Thanks @jasonLaster for this issue, will raise PR soon :)

[2019-02-06 19:35] rjairath commented on #7425
/unclaim

[2019-02-06 19:40] rjairath commented on #7743
Hey @fvsch, can I work on this issue?

[2019-02-06 21:27] fvsch commented on #7743
/claim

[2019-02-06 21:55] darkwing commented on #7671
@baronKilljoy I was talking to @jasonLaster and he suggested sort of a fusion between your original PR and mine:

[code]

Care to give it a try? :)

[2019-02-06 23:43] #7667 closed

[2019-02-07 02:20] #7542 closed

[2019-02-07 04:01] digitarald opened #7901 "Having "angular" in a project name collapses everything into Angular stacks"
Live: https://firefox-devtools-angular-log.stackblitz.io/
Editor: https://stackblitz.com/edit/firefox-devtools-angular-log

STR:
- Create a project with angular in the name
- Log, trace or pause in a component

ER: Stacks for the component are not detected as Angular stack
AR: The first entry in the collapsed Angular group, `ngOnInit`, should not be part of the collapsed.

_Hello Component_

<img

[2019-02-07 06:59] rjairath commented on #7312
Hey @jasonLaster, can I work on this issue?

[2019-02-07 09:02] fvsch commented on #7887
If merged, #7890 will touch that a bit too.

[2019-02-07 09:10] fvsch opened #7904 "Add platform attribute to the document.documentElement in launchpad"
As a DevTools panel, the debugger's root element looks like:

[code]

In launchpad mode (with `yarn start`), we get a similar result but we're missing the `platform` attribute. Instead, it looks like we're adding it to `.launchpad-root`.

Is there a limitation that forces us to do that? It makes writing platform-specific styles (which we try to avoid but can still be useful, see #7892 for example)

[2019-02-07 10:47] fvsch opened #7905 "Debugger CSS uses global classNames, risks conflicts"
Working in the CSS codebase, I'm seeing a lot of CSS class names that are both global and very generic:

[code]

Sometimes we have class names following a naming convention like BEM or SMACSS or Bootstrap-like names (`.component`, `.component-variant`, `.component-child`), or a "root" class named is used to scope styles (`.component .child`), but that's far from systematic.

CSS selectors share a

[2019-02-07 12:41] rjairath commented on #7312
/claim

[2019-02-07 17:23] ahuth commented on #4075
I'm not sure it necessarily requires using a menu role, @fvsch. For example, the "outline" tabs use [react-aria-components](https://github.com/juanca/react-aria-components), which implement the [WAI-ARIA Authoring Practice's Tabs](https://www.w3.org/TR/wai-aria-practices-1.1/#tabpanel).

We may be better being consistent and staying with the authoring practice's tabs, which use arrows to move left

[2019-02-07 17:53] #7425 closed

[2019-02-07 19:54] #7652 closed

[2019-02-07 20:49] ravefalcon92 opened #7907 "[Breakpoints] Conditional breakpoint not pausing properly and throwing error"
I'm encountering an error when dealing with conditional breakpoints after the latest updates on the debugger. I will set a conditional breakpoint on a piece of code and whenever the code where that breakpoint is set runs, it will log an error. This happens regardless of whether the conditional breakpoint statement is true or false.

Steps to reproduce:
- yarn start and open debugger with latest up

[2019-02-07 21:28] ravefalcon92 commented on #7907
Apologies, this was an issue with my machine. Closing this.

[2019-02-07 21:28] #7907 closed

[2019-02-08 07:54] fvsch opened #7913 "Webpack icon rendering on 1x displays"
So we use 16px icons (often a bit smaller, but in a 16x16 viewBox anyway), and the Webpack icon doesn't render that well at that size, on 1x displays but also to some extent on 2x ones.

With the current icon:

![webpack icon at 16px-1x](https://user-images.githubusercontent.com/243601/52464408-ef29a880-2b7a-11e9-9c49-dbcf66bda5ff.png)

The inner strokes are blurry and hard to see, the inner blue

[2019-02-08 11:59] nt1m commented on #7905
@fvsch FWIW, namespacing shouldn't even be needed if we have shared components.

[2019-02-08 16:40] #7817 closed

[2019-02-08 18:44] jasonLaster opened #7915 "[Sources] Normalize relative sources"
Currently we have two source fields that are very similar (Sources, RelativeSources). The reason for this is that we want to support project directory roots where we will only show sources below a directory.

We should refactor the redux store so that we do not need to copy the data though.

Here is a quick sketch:

[code]

[2019-02-08 20:51] #7851 closed

[2019-02-08 21:44] #6734 closed

[2019-02-08 22:05] jasonLaster opened #7917 "[Log Point] messages should be prefixed and nested"
It would be really nice if we added some context to the typical message that  documents the control flow. These are things i think most engineers do already when logging, but we could simplify. In the example below `// LOG` refers to a log point

[code]

#### Console Output

[2019-02-08 23:54] digitarald opened #7918 "[Breakpoints] Fold Conditional & Log into unified Edit Breakpoint form"
Blocks #7816.

When editing the logic of a breakpoint, I want to be able to enable and edit both the condition and the log expression, so that I don't have to access these behaviors through separate menus.

Similar to Visual Code and other projects. Make it easier to discover and slims down menus.

[2019-02-09 10:33] fvsch opened #7920 "Always render the source editor footer (even if empty)"
I'm noticing that the source editor footer appears with a delay in some situations. This creates a layout change that is not very pleasing visually and may also incur a perf cost (browser has to do more layout work, perhaps impacting CodeMirror with a high cost for long sources?).

Steps to reproduce with Launchpad:

1. Debug example http://aws-sensorweb-static-site.s3-website-us-west-2.amazonaws.

[2019-02-09 10:50] fvsch commented on #6673
Since I'll be working on Debugger icons shortly (in https://github.com/devtools-html/ux/issues/49), I would like some guidance about the icon itself.

Two options:
1. Keep the current behavior and design, just photonize the icon's shapes. This means that when we activate that button, the icon's color changes to blue.
2. Use a two-state icon. This means that when we activate that button's, the icon

[2019-02-09 12:17] fvsch opened #7921 "[Sources] List webextensions after web origins"
When webextension scripts are listed (I think that's only when "Enable browser chrome and addon debugging toolboxes" is checked in DevTools preferences, maybe?), they can appear in-between web origins.

It seems we're currently sorting like this:

- Page origin first
- All other origins, sorted alphabetically (Extensions origins start with "moz-extension")

Which looks like:

![screen shot 2019-02

[2019-02-10 00:43] jasonLaster commented on #7921
Good idea @fvsch

[2019-02-10 00:46] jasonLaster commented on #6673
Adding @violasong's mockups

<img width="683" alt="screen shot 2019-02-09 at 4 45 44 pm" src="https://user-images.githubusercontent.com/254562/52528107-45394180-2c8a-11e9-910d-f5aede4e4dd4.png">

[2019-02-10 00:49] jasonLaster commented on #6673
@fvsch I think photonizing the icon is a great start.

I like @violasong's idea of muting the checkboxes. I think that communicates that the breakpoints are globally disabled.

In terms of 2-state buttons, i'd need to see some mockups to wrap my head around the different options.

[2019-02-10 00:50] jasonLaster commented on #7920
@darkwing do you know why?

I'd be open to this.

[2019-02-10 00:51] nmicht commented on #1341
If Firefox is installed as an Ubuntu snap when run `yarn run firefox` fails with the message `Your Firefox profile cannot be loaded. It may be missing or inaccessible`

Even so, Firefox as snap do have access to profiles when runs like `SNAP_FIREFOX_PATH/firefox-bin -P`

[2019-02-10 01:42] jasonLaster opened #7923 "[breakpoints] the client should remove invalid breakpoints"
When we added breakpoint positions, we accidentally regressed a key feature where the client would remove breakpoints that became invalid on reload

[2019-02-10 02:25] jasonLaster opened #7925 "[flow] type sourceMaps in actions"
@Mrigank11 recently helped us add flow types for our source map workers [PR]. It would be really great if we could now use that type in our redux actions.

[PR]: https://github.com/devtools-html/debugger.html/commit/17d4a0f44f4d01b64016a49a28904f8041c6d9b6

I started it here and saw 17 warnings which look like legitimate flow warnings

[code]

[2019-02-10 02:49] nmicht commented on #7690
This is fixed on current master Latest commit f4621c3
I think we can close it

[2019-02-10 02:53] #7690 closed

[2019-02-10 02:57] nmicht commented on #7681
I was not able to reproduce this error on current master latest commit [f4621c3](https://github.com/devtools-html/debugger.html/commit/f4621c3a170220dcb264a39edff4cdc62327b5d9)

@loganfsmyth can you please take a look again and update in case is necessary?

[2019-02-10 03:24] jasonLaster commented on #7681
I think this was fixed in bugzilla...

[2019-02-10 06:51] dhyey35 commented on #7864
/claim

[2019-02-10 09:20] fvsch commented on #6673
Same, but I wonder if using `<input type="checkbox" disabled>` would not work better?
Each platform has a "disabled" variant for checkboxes that users may already be familiar with, and which often looks muted.

So maybe something like:
- "disabled" variant for checkboxes
- grayscale filter for syntax-colored text (or just a single shade of gray)
- medium gray (or partial opacity) for other text

S

[2019-02-10 11:24] fvsch opened #7929 "Set source code line-height to 15px"
Summary: I'm going to make a PR for changing the source code line-height from `auto` (resulting in slightly different values between configs, often around 13.5px) to 15px. This was discussed previously and validated with @violasong but I want to provide context and an opportunity to push back if someone thinks it could be an issue.

/cc @mcroud

## Context

Currently DevTools panels tend not to sp

[2019-02-10 14:24] Garee commented on #7925
/claim

[2019-02-10 15:21] jasonLaster commented on #7925
Thanks @Garee!

[2019-02-10 15:24] jasonLaster commented on #7929
Thanks @fvsch. I'm excited about this improvement!

[2019-02-10 15:24] jasonLaster commented on #6673
@fvsch I agree on all points

[2019-02-10 15:54] jasonLaster opened #7931 "[flow] migrate ast reducer off of immutable"
There are a couple of reasons to stop using immutable in our reducers

1. it can be slower
2. it is harder to flow type.

I started migrating our ast reducer [here] and would love some help finishing it up. I think the main thing is making sure we fix up the flow types and get all of the tests passing.

[here]: https://github.com/devtools-html/debugger.html/compare/master...jasonLaster:flow-ast?ex

[2019-02-10 15:57] errietta commented on #7931
/claim

[2019-02-10 15:57] errietta commented on #7931
I can help but may need some pointers @jasonLaster

[2019-02-10 16:21] jasonLaster commented on #7931
sounds good @errietta

[2019-02-10 19:08] jasonLaster opened #7932 "[sourcemaps] webpack + uglify"
There's been a long standing webpack [issue](https://github.com/webpack/webpack/issues/1194) that we should make sure we address

---

I've put together a quick repo to demonstrate the problem: https://github.com/Stuk/webpack-sourcemaps-firefox

And here's a gif of the issue in action:

![screencap](https://cloud.githubusercontent.com/assets/48019/8346824/1b3e9ada-1ab7-11e5-8848-271aa7933b2c.gif)

[2019-02-10 22:10] bhackett1024 commented on #7816
I think it would be nice if there was a simple way to toggle which logpoint messages are shown in the console.  This would be a nice feature (who hasn't been overwhelmed by logging output when debugging something?) and provides extra functionality that just using console.log() doesn't provide.  The console filtering UI could be used, but this doesn't seem quite sufficient.

The simple way to do th

[2019-02-11 05:25] #7800 closed

[2019-02-11 08:49] fvsch commented on #7905
@nt1m What kind of namespacing, though?

For instance, the current Debugger CSS codebase uses the `breakpoint` class in a number of places:
1. In legacy CSS for the CodeMirror gutter (styles which seem not to apply anymore)
2. In the new breakpoint indicator markup in the CodeMirror gutter (`<i class="breakpoint">...</i>`)
3. In the breakpoints list in the right sidebar

Sometimes this is scoped w

[2019-02-11 09:05] mcroud commented on #7929
Fantastic, I'm all for it. Looking forward to seeing the results!

[2019-02-11 09:06] fvsch opened #7933 "Breakpoint colors are hard to distinguish"
Using the light theme, a few issues with breakpoint indicators' styles:

1. Both conditional breakpoints and Log points are orange. Could we use different colors?
2. When those breakpoints are disabled, they become translucent blue. We should probably use a partial-opacity version of the original color.

There are more UX issues, which might be listed elsewhere, like:

- Clicking on a conditional

[2019-02-11 12:35] nagpalm7 commented on #7538
/claim

[2019-02-11 13:06] fvsch commented on #7741
I've settled on:

- "Collapse Sources and Outline panes" / "Expand Sources and Outline panes"
- "Collapse Breakpoints pane" / "Expand Breakpoints pane"

[2019-02-11 15:00] nagpalm7 commented on #7538
/unclaim

[2019-02-11 15:05] nagpalm7 commented on #7921
@fvsch Can i give a try on this issue, Can you help me with how sources are being fetched and stored.

[2019-02-11 15:14] fvsch commented on #7921
@nagpalm7 Sure. :)
I'm not sure about how Sources work, since I mostly contribute on the UI side (CSS, SVG, bits of JS/React).

There are some guidelines in the docs:
https://github.com/devtools-html/debugger.html#next-steps
This overview might help:
https://github.com/devtools-html/debugger.html/blob/master/docs/debugger-html-react-redux-overview.md

[2019-02-11 15:30] fvsch opened #7936 "[Scopes] Expand arrows are black in launchpad mode"
The expand arrows in Scopes should use a gray fill. They look okay in the Firefox DevTools panel, but are black in launchpad mode.

![screenshot](https://user-images.githubusercontent.com/243601/52572838-0a194880-2e19-11e9-9f12-1998570cec8f.png)

The issue seems to be that we're using a Firefox-only, privileged-content-only method to pass the fill color:

[code]

Also `--theme-splitter-color` is w

[2019-02-11 15:53] fvsch commented on #7936
/claim

[2019-02-11 15:53] jasonLaster commented on #7921
@nagpalm7 go for it

[2019-02-11 15:54] jasonLaster commented on #7741
Hmm, this is a bit tough ... I think of the first pane as navigation (source, functions) and the second pane for pausing (expressions, bps, stacks, scopes), but it is a bit of a bucket so tough to describe...

[2019-02-11 15:57] jasonLaster commented on #7933
we are switching logs to purple 70/60

* Clicking on a conditional breakpoint or a log point removes it, while I expected to go back to the editing mode to tweak or fix that breakpoint. (Edit: some UX work under way for an editing overlay.)

* There is no accessible text information. Maybe we should use `title` attributes (not perfect but a start), so that we can show the value of the condition or

[2019-02-11 16:10] nagpalm7 commented on #7921
Thanks /claim

[2019-02-11 16:11] nagpalm7 commented on #7921
/claim

[2019-02-11 16:33] harshlele commented on #7879
Hey, @fvsch , about this:

I think the row height not being 20px is because of the inconsistent checkbox size on different platforms. Couldn't we just set a fixed size for the checkbox on all platforms?

[2019-02-11 16:57] #7645 closed

[2019-02-11 17:18] fvsch commented on #7879
Nope. Changing the checkbox size doesn't work on all platforms. It seems to work alright on macOS, not sure on Windows, and doesn't work on Linux.

Making rows 20px should be possible nonetheless. For example, using flexbox, you could have a `display:flex; align-items:center;` container for each row, then the different elements as flex items, and the main size could come from the text label with s

[2019-02-11 18:17] darkwing commented on #4731
It may make sense to put this in the debugger UI to make it more discoverable, like adding a footer to the sources pane.

[2019-02-11 18:24] darkwing commented on #6374
We use some slight wrapping now so we can close this.

[2019-02-11 18:24] #6374 closed

[2019-02-11 18:36] darkwing commented on #6415
This appears to still happen @nchevobbe -- any ideas here?

[2019-02-11 18:45] darkwing commented on #6722
@wldcordeiro Do you still have your WIP for this?

[2019-02-11 18:52] darkwing commented on #6549
I'm closing this for now since we can't seem to reproduce, but feel free to reopen if it happens again.

[2019-02-11 18:52] #6549 closed

[2019-02-11 19:22] jasonLaster commented on #4731
Closing because this is not a priority now.

[2019-02-11 19:22] #4731 closed

[2019-02-11 19:22] darkwing commented on #6876
I haven't seen this in ages, closing.

[2019-02-11 19:22] #6876 closed

[2019-02-11 19:38] darkwing commented on #6993
Hello @twhite96!  How is this going?  Anything I can do to help?

[2019-02-11 19:49] darkwing commented on #7193
@gregtatum Have you seen this recently?

[2019-02-11 19:57] darkwing commented on #7379
Hasn't seen this since.  Closing.

[2019-02-11 19:57] #7379 closed

[2019-02-11 20:03] darkwing commented on #7445
Pinging @loganfsmyth when you get a chance.

[2019-02-11 20:09] darkwing commented on #7483
I unfortunately cannot reproduce on Mac

[2019-02-11 20:11] darkwing commented on #7502
@nchevobbe Was a Bugzilla bug opened for this?  If so, could you link?

[2019-02-11 20:17] #7689 closed

[2019-02-11 20:21] darkwing commented on #7681
This still occurs in Nightly.

[2019-02-11 20:21] #7681 closed

[2019-02-11 20:32] #7655 closed

[2019-02-11 20:32] darkwing commented on #7655
I completed this with @bomsy

[2019-02-11 20:33] darkwing commented on #7635
Have you had a chance to look at this @soniasingla ?  Can I help with anything?

[2019-02-11 20:34] #7629 closed

[2019-02-11 20:41] darkwing commented on #7614
Optimistically closing because @bhackett1024 appears to have resolved the bugzilla issue.

[2019-02-11 21:33] fvsch commented on #7921
I can also confirm that Webpack sources are listed alphabetically.
Probably the same for Angular ones.

(Please ignore the colors in the next screenshot, I was just running some tests.)
<img alt="screenshot" width="233" src="https://user-images.githubusercontent.com/243601/52594735-80836e00-2e4c-11e9-809f-8d476aff9d4e.png">

@jasonLaster Do you know how we should order groups, if we try to group b

[2019-02-11 22:17] darkwing commented on #7840
How's this going @yulireyji ?  Anything I can help with?

[2019-02-11 22:55] violasong commented on #7929
Perfect, and +1 to the "implement first" strategy every time 🤓

[2019-02-11 23:42] violasong commented on #7490
Ah that's unfortunate - aren't we using the system sans-serif font for this kind of text? I'm a fan of the bold white look and am hoping we can keep that but fix the bold.

[2019-02-12 00:43] fvsch commented on #7490
I personally dislike the bold style because it just doesn't work for fuzzy matching (where we highlight several isolated characters in a string, rather than a continuous fragment of that string).
Looks like VS Code handles that by using bold + color.

Not sure what is happening re. the bold font, but that kind of imprecision is bound to happen for bold + small size (12px) + 1x rendering + some com

[2019-02-12 01:07] jasonLaster commented on #7614
yep. i think we can close this as we'll follow up in #7682

[2019-02-12 01:07] #7614 closed

[2019-02-12 01:36] #7743 closed

[2019-02-12 06:18] jasonLaster commented on #7921
I'd do

* main origin
* webpack/angular/other bundler
* other origins
* webextensions

[2019-02-12 07:02] nchevobbe commented on #7502
I think it was done in [Bug 1514760](https://bugzilla.mozilla.org/show_bug.cgi?id=1514760)

[2019-02-12 07:12] varundey commented on #7655
I would have really appreciated if this was convened earlier.

[2019-02-12 08:01] #7502 closed

[2019-02-12 10:46] mcroud commented on #7490
Which ever method we pick, I'm guessing we can perhaps just target standard res screens on Windows? Perhaps bumping up the font size in just this scenario? I know it creates another stress case but an extra px upsize might solve the issue without having to alter the highlight method.

I think @fvsch suggestion of looking at semi-bold weights is a good start. If the change in font weight substantia

[2019-02-12 13:57] harshlele commented on #7879
Hmm ok i made that change

[2019-02-12 16:43] nchevobbe commented on #6415
So I did not do any investigation yet, but what I can tell is that the console is cleared when we receive the `will-navigate` event.
I guess the event is emitted before the error (which might only be when we're not in a "paused" state anymore?)

[2019-02-12 17:33] nicofrand commented on #6415
My 2 cents : the error is triggered when you click on the button, not when on "beforeunload" or something like that, so way before any `will-navigate` event (you can even wait as long as you want between the error catch and the page reload).

[2019-02-12 17:58] darkwing commented on #7920
I like the idea of the footer always being present, even if empty -- it makes the UI feel less quirky.

As for why, the footer returns `null` in render due to a check to see if it should render, and those checks include: `shouldShowFooter` ->

- Is there a source?
- Is the source original?
- Is the source pretty?
- Is the source JavaScript?
- `prefs.clientSourceMapsEnabled && source.sourceMapURL`

[2019-02-12 18:01] cpeterso commented on #6946
The step-out keyboard shortcut `⌘:` (Cmd + Shift + ;) also opens the "Go to line" popup.

[2019-02-12 18:12] fvsch commented on #7920
Let's focus on keeping the footer visible, even if empty.

Some things to do:

1. Always render the footer's main element (`div.source-footer`)
2. In vertical mode, always render the pane expand/collapse button
3. And remove the pane expand/collapse button from WelcomeBox (which is meant to replace the one from the footer when the footer is not rendered).

[2019-02-12 18:34] fvsch opened #7941 "Consider removing postcss-bidirection"
Using postcss-bidirection creates issues in the CSS codebase because it adds specificity to selectors, e.g. this `0.1.0` selector:

[code]

becomes a `0.2.1` selector:

[code]

This creates small specificity wars, with traces that can be seen in the CSS codebase.
So it would be cleaner to use the native support for direction-relative margin/padding/border/inset, if possible.

Turns out Chrome 69,

[2019-02-12 19:05] derek-li commented on #7915
/claim

[2019-02-12 19:34] jasonLaster commented on #7941
I think Chrome+Firefox support is sufficient. I'd be fine removing support for bidirection.

[2019-02-12 19:34] #7936 closed

[2019-02-12 19:37] jasonLaster commented on #7735
I'm re-opening because I could not land the Accordion.css changes in MC

This commit shows the portion that i had to revert in debugger.css and Accordion.css.
https://hg.mozilla.org/mozilla-central/rev/1c7af47c1ba4

The reason for the revert was that this test (browser_dbg-expressions-focus.js) was failing with it.
The best path forwards is to try to re-land the debugger.css changes in MC.

[2019-02-12 20:51] darkwing opened #7945 "UI Quality II"
Welcome to the Firefox DevTools Debugger quality sprint 2!

We've prioritized the following issues to improve quality within the DevTools debugger UI.  Please grab an issue and help us make the debugger even better!

https://github.com/firefox-devtools/debugger/issues?q=is%3Aopen+is%3Aissue+label%3A%22%3Awave%3A+quality%22

[2019-02-12 21:20] #7887 closed

[2019-02-12 21:24] darkwing commented on #7735
@fvsch ^^

[2019-02-12 21:38] soniasingla commented on #7635
Thanks @darkwing , I looked upon the issue. On the local host, the files under "webpack" folder could not be obtained. I am getting issue here, can you please help me with this?

[2019-02-12 21:52] #7929 closed

[2019-02-12 23:17] darkwing commented on #7635
Hello Sonia!  When I go to the address cited, I see the Webpack directory with the items cited by @jainsneha23.  This is how I think we can fix the issue:

https://gist.github.com/darkwing/8c99abc57c3585d7e5df9141a95c32b2

[2019-02-13 07:52] fvsch commented on #7905
Prior discussion: https://github.com/devtools-html/debugger.html/issues/1869

I kinda disagree with the suggestion to use Sass; while I like Sass in general, having CSS variables + webpack limits the need for it (major selling points of Sass were the variables and the partials, in a "big 3k lines stylesheet" world), and Sass nesting is a footgun if you're not careful.

Much more amenable to BEM, w

[2019-02-13 09:39] fvsch commented on #7735
(Side note: we should probably update assignee (me) and labels.)

Just to be clear, commit 3d9f98d7ff8d02c433e1c7e726dd34e44b12b20e shows what was reverted too?

[2019-02-13 09:48] fvsch commented on #7941
/claim

[2019-02-13 09:50] fvsch commented on #7941
Just noting here that the postcss-bidirection dep is in devtools-launchpad.
Doesn't stop us from removing it in postcss.config.js, but it may require some follow-up.

[code]

[2019-02-13 09:53] fvsch commented on #7735
I swear if the issue is that I changed the accordion headers from 24px to 25px height and some `clickAtPreciseCoordinatesBecauseWhatCouldGoWrongAmarite(0,24)` code is failing, I'm going to shout at some clouds.

[2019-02-13 10:31] jainsneha23 opened #7947 "[SourceTree] Context menu doesn't work on directory"
STR:

Open any page in debugger
Right click on a directory in the source tree

ER: Context menu should appear
AR: There is no context menu

<img width="630" alt="screenshot 2019-02-13 at 4 01 25 pm" src="https://user-images.githubusercontent.com/8366397/52705321-a2920300-2fa8-11e9-9b14-01b21098efd9.png">

[2019-02-13 10:37] th7nder commented on #7920
/claim

[2019-02-13 14:50] jasonLaster commented on #7905
I'm a bit reluctant to introduce more CSS tooling while we're working on the node tooling in MC.

I think BEM could work for us though. Could we enumerate the big offenders, perhaps we could fix things like `.frame` or `.webpack`

[2019-02-13 15:40] jasonLaster opened #7951 "[Tabs] selecting a tab should return to the prior location"
One of the nice features of editor tabs is that clicking them returns to the prior saved location. This is also a feature of codemirror documents.

This used to work too, but i believe a year or so ago, we made clicking a tab synonmous with going to line 1 column 0. We should fix this so that when we do not specify a location we return to the prior location.

This will also fix another nit, where

[2019-02-13 15:46] jasonLaster opened #7952 "[Preview] hovering on the debug line does not leave token"
One of the important features of inline preview is that mousing into a token we can preview starts the preview, and mousing out stops the preview. This logic is handled [here][h]

It looks like the debug line does not respect this behavior though.

![](http://g.recordit.co/yvMja7SXdB.gif)

[h]: https://github.com/devtools-html/debugger.html/blob/master/src/utils/editor/token-events.js#L56

[2019-02-13 15:51] darkwing commented on #7807
How is this going @amanriquez ?  Still working on it?

[2019-02-13 15:53] darkwing commented on #7840
@yulireyji We can remove that text from the footer 👍

[2019-02-13 16:03] th7nder commented on #6965
I have the same issue. I cannot set a breakpoint. Tried on Chrome, Firefox 65.0.1 and Firefox Developer Edition 66.0b7 on a MacOS 10.14.3.

[2019-02-13 16:15] jasonLaster commented on #6965
@th7nder can you provide more context on where you're trying to add a breakpoint?

[2019-02-13 16:17] jasonLaster commented on #7755
Re-opening because I saw this issue yesterday. I cannot reproduce it now though, although it is some combination of stepping and viewing a different location.

<img width="1031" alt="screen shot 2019-02-11 at 3 18 07 pm" src="https://user-images.githubusercontent.com/254562/52726230-ca6d7080-2f80-11e9-804a-e3f1a7981216.png">

One thing i found this morning is that the component updates everytime a

[2019-02-13 16:28] jasonLaster opened #7953 "[frames] framework group styling"
It looks like the framework groups are not indented. This could have come up during the releases, which had some Frames.css conflicts

<img width="300" alt="screen shot 2019-02-13 at 11 27 50 am" src="https://user-images.githubusercontent.com/254562/52727078-7794b880-2f82-11e9-9fcf-71ac6a1896f5.png">

[2019-02-13 16:31] th7nder commented on #6965
Sure, I am so sorry. Completely forgot about giving you an additional context.
It happened inside Backbone.js Todo MVC on line 52. Inside function in object which is extended in IIFE.
![image](https://user-images.githubusercontent.com/8305170/52727268-2356fc00-2fb5-11e9-98a3-d12b39806fbd.png)

[2019-02-13 16:39] jasonLaster opened #7954 "[Preview] clear the highlight token"
STR:
1. pause in todo-view.js
2. hover really quickly over the events properties

It is possible if you mouse down really quickly to get one or two yellow highlight tokens to stay. It is somewhat hard to do though.

---

<img width="484" alt="image" src="https://user-images.githubusercontent.com/254562/52727901-36050d00-2f84-11e9-9beb-35bd2c1a0434.png">

---

![](http://g.recordit.co/9HnEfU2wvK.gi

[2019-02-13 16:42] #7741 closed

[2019-02-13 17:01] nchevobbe commented on #7953
Looks like the offender https://github.com/devtools-html/debugger.html/commit/37cb3683fc77a673d5d4ed55b3ef8119446758e3#diff-df7ce7e2be857a58d33fa87f3245ab89

It reverted some rules, which mean that now we don't target those elements (since we don't have `<ul>`s anymore for example)

[2019-02-13 17:46] #7864 closed

[2019-02-13 20:13] soniasingla opened #7955 "[Source Tree] "External Files" doesn't appear under "Webpack" folder"
In reference to #7635 , the Webpack folder and items under the folder doesn't appear under the source tree.
![screenshot_2019-02-14 debugger 1](https://user-images.githubusercontent.com/33036742/52740794-dcd7c080-2ff9-11e9-96a5-009619948e6e.png)

[2019-02-13 20:24] jasonLaster opened #7956 "[Preview] should show "false" in the tooltip"
we currently do not show a tooltip wheh you  hover on a token that evaluates to false. I think we should show one because it is confusing when you do not see it.

![](http://g.recordit.co/dQbn9fh9qH.gif)

[2019-02-13 21:23] loganfsmyth commented on #7681
This is definitely a server issue, so I've refiled as https://bugzilla.mozilla.org/show_bug.cgi?id=1527744

[2019-02-13 22:45] zzdjk6 commented on #7925
/claim

[2019-02-14 07:24] soniasingla commented on #7888
Hello @jasonLaster  !! Can you please guide me regarding this issue?

[2019-02-14 14:48] #7953 closed

[2019-02-14 17:04] th7nder opened #7962 "firefox-dev.tools/debugger.html doesn't exist"
After renaming to firefox-devtools link https://firefox-dev.tools/debugger.html/ stopped working.

[2019-02-14 18:17] dhyey35 opened #7964 "Update Links in README.md and top bar"
![image](https://user-images.githubusercontent.com/11143604/52801470-ea498500-30a3-11e9-9a09-9836db3d9bdd.png)

This https://devtools-html.github.io/debugger.html/ link needs to be updated. It redirects to http://firefox-dev.tools/debugger.html/ which is also not working

`# [debugger.html][website] [website]: http://firefox-dev.tools/debugger.html/`

Also the first link of README.md file links to

[2019-02-14 18:19] dhyey35 commented on #7964
@th7nder beat me to it. Closing as dup of #7962

[2019-02-14 18:19] #7964 closed

[2019-02-14 18:20] dhyey35 commented on #7962
Also the first link of README.md file links to http://firefox-dev.tools/debugger.html/

`# [debugger.html][website] [website]: http://firefox-dev.tools/debugger.html/`

[2019-02-14 21:00] darkwing opened #7966 ""No Sources" message no longer displays"
We used to have a message when no sources were on a give page -- now we have none:

<img width="892" alt="devtoolsnosources" src="https://user-images.githubusercontent.com/46655/52817359-37f4cc00-3069-11e9-8f8f-70ba92d94b2c.png">

[2019-02-14 21:01] darkwing commented on #7966
Inspecting the HTML, it looks like we simply render an empty tree:

<img width="523" alt="emptytree" src="https://user-images.githubusercontent.com/46655/52817407-5f4b9900-3069-11e9-98a9-b0cc50d83dbc.png">

[2019-02-14 22:48] starsolaris opened #7967 "Search for text with braces in pattern."
When i try to search in source (ctrl+shift+f) wth braces in pattern i find nothing
ex: `parameters = Object.assign({node: null}, parameters);`
Then i must escape all braces, which is very annoying, to find what i need.
ex: `parameters = Object.assign\({node: null}, parameters\);`

I propose to search with text pattern by default (like in old versions). Regex search pattern should be an option.

[2019-02-15 00:21] jasonLaster opened #7968 "[Frames] call stack shows <anonymous> frame"
It looks like when we removed the callee field we might have started showing a lot more anonymous frames.

![image](https://user-images.githubusercontent.com/254562/52826146-aba8d000-308d-11e9-8a62-bb677181e132.png)

[2019-02-15 01:52] harshlele commented on #7966
/claim

[2019-02-15 06:58] jasonLaster commented on #7755
After thinking about this a bit more, my hunch is that we're missing `componentWillUnmount()` in the current version so sometimes the component unmounts without clearing state.

[code]

[2019-02-15 06:58] jasonLaster commented on #7755
I added a `p1` label as this is happening pretty frequently for me, which is disconcerting.

[2019-02-15 07:37] dhyey35 commented on #7951
/claim

[2019-02-15 10:05] nchevobbe opened #7970 "Debugger does not pause at breakpoint"
**Steps to reproduce**
1. Go to https://nchevobbe.github.io/demo/console-test-app.html
1. Click on the `trace` button in the React/Redux section, at the bottom
1. Open the console
1. There should be a `console.trace()` log in `App.js:17`
1. Click on the message location to jump to the debugger
1. Add a breakpoint on line 17
1. In the page, click on the `trace` button again

**Expected results**

T

[2019-02-15 10:08] nchevobbe opened #7971 "File appears twice when doing a file search"
**Steps to reproduce**
1. Go to https://nchevobbe.github.io/demo/console-test-app.html
1. Open the debugger
1. Hit <kbd>Cmd + P</kbd> to open the file search
1. Type `App.js`

**Expected results**

I see the `App.js` file

**Actual results**

There's 2 `App.js` files, with similar paths

<img width="450" alt="image" src="https://user-images.githubusercontent.com/578107/52849708-fc620c80-3111-11e9-

[2019-02-15 13:59] jasonLaster opened #7972 "[sources] relative sources are cleared when workers are detected"
Str:
1. Go to localhost 8000 and debug a page with the launchpad
2. Reloaf the launchpad
3. Press cmd+P

Notice that quick open only has debugger.js.
The reason for this is that updateWorkers will accidentally clear the relative sources.

[2019-02-15 15:35] soniasingla commented on #7888
@jasonLaster @bomsy this issue has been fixed :smile:
We can close this issue, thanks !!

[2019-02-15 15:45] nchevobbe opened #7974 "Add support for BigInt"
In https://bugzilla.mozilla.org/show_bug.cgi?id=1527867 we're going to add proper grip for BigInt, so we need to have a Rep to display them.

[2019-02-15 15:58] th7nder commented on #7920
/unclaim

[2019-02-15 16:09] jasonLaster commented on #7888
@soniasingla I saw the issue in Firefox nightly last night. Could you try testing there? It is somewhat flakey so sometimes works and sometimes fails.

[2019-02-15 16:46] #7947 closed

[2019-02-15 16:53] darkwing commented on #7971
Could this be why?

<img width="1058" alt="maybe" src="https://user-images.githubusercontent.com/46655/52871515-d76c9a00-310f-11e9-8205-611d65924d0e.png">

[2019-02-15 17:05] nchevobbe commented on #7971
yeah, must be that I guess

[2019-02-15 17:38] darkwing commented on #7956
I played around with this a bit:

<img width="1378" alt="falsewtf" src="https://user-images.githubusercontent.com/46655/52873807-819af080-3115-11e9-8cb2-a9ca04d8f036.png">

Case 1 is mousing over a `false` value, Case 2 is mousing over a 'true' value.

It appears that `getPreview` from `ast.js` is receiving a `null` value for false.

[2019-02-16 18:24] keerthanak17 commented on #7868
/claim

[2019-02-16 18:26] keerthanak17 commented on #7868
I think I got this. Do I just give a PR for adding it into the code or is there something else I'm missing?

[2019-02-16 19:56] thefearlesscoder commented on #7445
I have the same issue as @armenzg. Pulled my hair out until I found this thread.

[2019-02-18 10:13] chpio opened #7980 "Storage is not loading on IPv6 local site"
Hi,

when i load up a local site via IPv6 address <http://[::1]/> the cookie tab isn't showing anything.
![screenshot from 2019-02-18 11-12-00](https://user-images.githubusercontent.com/545659/52943805-3a5b6c80-336e-11e9-9ca2-33429f79051f.png)
![screenshot from 2019-02-18 11-12-52](https://user-images.githubusercontent.com/545659/52943808-3c253000-336e-11e9-9bb3-3423b793ee18.png)

[2019-02-18 19:00] jasonLaster commented on #7980
@chpio please file this bug in http://bugzilla.mozilla.org/

[2019-02-18 19:00] #7980 closed

[2019-02-18 19:29] jasonLaster opened #7981 "[Extensions] listen for `chrome.enabled` changes"
When the debugger starts we currently check the status of `"chrome.enabled"` to see if we should show chrome and extension sources in the sources tree.

After that, we do not observe changes to the pref. We should listen for the change and adapt. This is somewhat of a new pattern:

1. in client/index.js we should listen to the pref
2. we should dispatch a new action for updating the store value

[

[2019-02-18 20:00] jasonLaster opened #7983 "[Frames] Selecting a frame flashes the sources tree"
It looks like the sources tree tries to highlight the closest directory of the file and will show a blue highlight and then remove it?

![](http://g.recordit.co/mELdOLBOXC.gif)

[2019-02-18 20:55] jasonLaster opened #7985 "[Tabs] more tabs dropdown is clipped by the secondary sidebar"
STR:

1. add a bunch of tabs
2. click the more tabs dropdown

My hunch is that this regressed when we did the recent RTL css.

<img width="339" alt="screen shot 2019-02-18 at 2 56 54 pm" src="https://user-images.githubusercontent.com/254562/52975982-a3a2a600-3395-11e9-80a0-2f3e495ca41e.png">

[2019-02-18 20:56] jasonLaster commented on #7985
CC @fvsch @darkwing

[2019-02-18 20:57] jasonLaster commented on #7755
Pinning the issue because i'd love some help trying to investigate the cause

[2019-02-18 23:38] jasonLaster opened #7986 "[sources] React todomvc jsx files are in the wrong directory"
We fixed the issue with jsx files appearing in #4373. Now they're relative to the transformer and not the HTML file they were created in [link](https://github.com/firefox-devtools/debugger.html/blob/master/src/actions/sources/newSources.js#L92-L103).

---
<img width="533" alt="image" src="https://user-images.githubusercontent.com/254562/52981230-4bc36980-33ac-11e9-8ffc-1cd40a24bb67.png">

<img wid

[2019-02-19 00:02] emanueltimlopez commented on #7787
Update: I had problems with babel and webpack configuration, but I installed and successfully executed the storybook. I can not use the 'automatic' cli, so all the configuration is customized for this project.

[2019-02-19 07:54] fvsch commented on #7985
If it regressed it was at a different point because #7948 is not merged yet.

[2019-02-19 08:13] fvsch commented on #7782
The CSS for these icons was in a handful of places, and is now in two stylesheets:

- `src/components/shared/AccessibleImage.css`
- `src/components/shared/SourceIcon.css`

Yep, as mentioned in #7905 the selectors in Debugger are often not built for reusability.
I tried to make sure that when we use e.g. `.vue` in CSS, it's always scoped by the `.img` class:

[code]

Then there is the issue of the

[2019-02-19 10:25] fvsch commented on #7985
@jasonLaster I regressed it here:
https://github.com/firefox-devtools/debugger.html/pull/7890/files#diff-b986140cf2f6dfb8d446b61cf60d4b1bR12

I used `offset-inline-end` (old syntax, used to be supported in Firefox) instead of `inset-inline-end` (new syntax, supported in Firefox and Chrome).

The good news is that #7948 fixes it.

[2019-02-19 15:47] #7941 closed

[2019-02-19 16:26] jasonLaster commented on #7874
@yzen i'm re-opening this as it failed  browser_webconsole_object_in_sidebar_keyboard_nav.js.

https://treeherder.mozilla.org/#/jobs?repo=try&revision=9677d62d2832352c2eab422171d641b7c97c7aa6&selectedJob=229134680

I can land the commit with a revert in MC so you can fix the patch in MC and land it there.
Also, I noticed some weirdness here with the source tree and space bar and enter not toggling

[2019-02-19 16:45] fvsch commented on #7985
Should be fixed on `master`.

[2019-02-19 16:46] darkwing commented on #7868
You can submit a pull request and we'll have a look! :)

[2019-02-19 17:08] jasonLaster opened #7987 "[SourceTree] File depth"
It looks like we might have an indentation issue for files:

The width for "no source" is now 10px
<img width="1382" alt="screen shot 2019-02-19 at 12 07 28 pm" src="https://user-images.githubusercontent.com/254562/53033488-22075280-343f-11e9-80bb-27f7db5eb66f.png">

I think it should be 0

<img width="1384" alt="screen shot 2019-02-19 at 12 07 37 pm" src="https://user-images.githubusercontent.com

[2019-02-19 18:12] nagpalm7 commented on #7921
@jasonLaster can you please mention the `type` value for all the respective sources or any unique identifier wwhich can be used to sort

[2019-02-19 18:51] #7923 closed

[2019-02-19 18:53] jasonLaster opened #7989 "[Breakpoints] occassionally the debugger pauses without showing a breakpoint"
STR:

1. go to localhost:8000 with the launchpad
2. add a breakpoint in `components/editor/index.js#125`
3. refresh a couple of times

- Notice that we're paused on 125, but there is no breakpoint
- The issue is that in `syncBreakpoint` `client.setBreakpoint` now sends the message to all threads and some the worker threads occasionally hang.

<img width="1025" alt="screen shot 2019-02-19 at 1 52 1

[2019-02-19 19:01] jasonLaster commented on #7989
This fixes it, but perhaps might be bad

[code]

[2019-02-19 20:00] jasonLaster opened #7990 "[EmptyLines] start using executableLines"
Now that pause points is removed we should use `executableLines` from the server

[2019-02-19 20:18] miriambudayr commented on #7952
/claim

[2019-02-19 20:24] loganfsmyth opened #7991 "Drop usage of getFileGeneratedRange in favor of more specific range checks"
The primary issue with `getFileGeneratedRange` is that sourcemaps just don't provide a single range on the generated file for an original source. The current implementation of `getFileGeneratedRange` just takes the first and last mapping in the original file, and uses the generated locations of those mappings to decide on the range. This can break down badly if items in the file are reordered, and

[2019-02-19 20:35] yzen commented on #7874
@jasonLaster , hopefully this will do it.

[2019-02-19 21:08] darkwing opened #7993 "Webpack Icon Cut Off in Call Stack Pane"
Just spotted this:

<img width="330" alt="webpackcallstack" src="https://user-images.githubusercontent.com/46655/53047490-268c3500-3458-11e9-8c5d-60e4944329b5.png">

[2019-02-19 21:29] derek-li commented on #7915
/unclaim

[2019-02-19 22:04] jasonLaster commented on #7915
I think this was fixed by #7977

[2019-02-19 22:04] #7915 closed

[2019-02-19 22:09] derek-li commented on #7915
Yeah, noticed that the entire file changed after rebasing.

[2019-02-19 23:21] darkwing commented on #7993
The Angular icon is also cut off, so I'd assume at this point that all are.

[2019-02-20 00:15] derek-li commented on #7920
/claim

[2019-02-20 02:46] chujunlu commented on #7993
/claim

[2019-02-20 03:23] jasonLaster opened #7997 "Change the repo name to debugger"
we recently changed the org from **devtools-html** to **firefox-devtools** to be more clear.  devtools-html was a code name where as firefox-devtools is the product.

We should do the same with the repo and transition to **debugger**.

I think we can just change the setting and at the time move the docs and other URLs over as well.

[2019-02-20 13:17] jasonLaster commented on #3539
@Standard8 I'm sorry for letting this issue sit for sometime. Does this test still reproduce? I could not find `bookmarkProperties.js`...

[2019-02-20 15:08] #7901 closed

[2019-02-20 16:26] darkwing commented on #7840
How is this going @yulireyji ?  Can I help with anything?

[2019-02-20 16:27] darkwing commented on #7483
@jnachtigall Could you test this again in Nightly?  Are you still seeing the issue?  I could not reproduce.

[2019-02-20 17:03] buttercookie42 opened #8002 "Debugger doesn't stop at breakpoint in browser.js (Android)"
STR:
1. Install a current Fennec Nightly and enable USB debugging.
2. Connect with WebIDE, open the debugger, open chrome://content/browser.js
3. If WebIDE remembered your last session, clear any pre-existing breakpoints.
4. Set a new breakpoint at the [first line of onLocationChange](https://searchfox.org/mozilla-central/rev/4587d146681b16ff9878a6fdcba53b04f76abe1d/mobile/android/chrome/content/b

[2019-02-20 17:34] jasonLaster commented on #8002
Hi @buttercookie42, could you file this issue in bugzilla?

[2019-02-20 17:36] buttercookie42 commented on #8002
Bugzilla said to file it here :-), but certainly.

[2019-02-20 17:37] jasonLaster commented on #7921
hmm, i'm not sure @nagpalm7

[2019-02-20 17:38] jasonLaster commented on #8002
haha sorry for the confusion

[2019-02-20 17:39] jasonLaster commented on #8002
Also, please link the bugzilla bug here so i can track it

[2019-02-20 17:39] #8002 closed

[2019-02-20 17:40] #7971 closed

[2019-02-20 17:42] jasonLaster commented on #7967
Thanks @starsolaris I agree.

I think we should show the search options like we do for file search, but by default regex search should be off.

<img width="446" alt="screen shot 2019-02-20 at 12 41 33 pm" src="https://user-images.githubusercontent.com/254562/53112319-f3f04400-350c-11e9-8328-4c38dde908a4.png">

[2019-02-20 17:43] jasonLaster opened #8003 "[Search] Results clip the modifiers"
It looks like the search results clip the modifiers so they do not show. I wonder if we can use flexbox here so that we guarantee that modifiers always appear.

---

<img width="446" alt="screen shot 2019-02-20 at 12 41 33 pm" src="https://user-images.githubusercontent.com/254562/53112399-1a15e400-350d-11e9-9e3c-b53897b0253d.png">

---
<img width="399" alt="screen shot 2019-02-20 at 12 41 28 pm" s

[2019-02-20 17:46] jasonLaster opened #8004 "[Breakpoints] disabled conditional breakpoints should be yellow"
Conditional breakpoints are yellow. Disabling a conditional breakpoint should make it more opaque, but not make it blue.

<img width="912" alt="screen shot 2019-02-20 at 12 44 53 pm" src="https://user-images.githubusercontent.com/254562/53112534-6eb95f00-350d-11e9-81a6-902ae128a13b.png">

<img width="907" alt="screen shot 2019-02-20 at 12 45 01 pm" src="https://user-images.githubusercontent.com/25

[2019-02-20 17:47] buttercookie42 commented on #8002
[Bug 1529332](https://bugzilla.mozilla.org/show_bug.cgi?id=1529332).

[2019-02-20 17:53] #7660 closed

[2019-02-20 17:53] #7708 closed

[2019-02-20 17:55] jasonLaster opened #8005 "[Workers] Use one tree instead of one tree per thread"
We currently have one source tree per thread, this creates an issue for scrolling, focusing, and other keyboard navigation.

We should take advantage of the fact that the tree composes nicely and use one tree instead

[2019-02-20 18:22] #7892 closed

[2019-02-20 18:58] ravefalcon92 commented on #8004
/claim

[2019-02-20 19:18] #7874 closed

[2019-02-20 21:14] jasonLaster opened #8007 "[breakpoints] We should currently paused breakpoints in blue"
We currently highlight currently paused at breakpoints in green. I think we should be consistent with the debug line and use blue. Note, we might also want to change the toolbox breakpoint marker as well.

<img width="727" alt="screen shot 2019-02-20 at 4 14 41 pm" src="https://user-images.githubusercontent.com/254562/53124922-a71b6600-352a-11e9-9934-8fbf98e16467.png">

[2019-02-20 21:15] jasonLaster commented on #8007
CC @fvsch @digitarald @darkwing

[2019-02-20 22:46] amanriquez commented on #7807
I am sorry I had a personal situation and couldn't get to this for the past weeks, I think I better /unclaim this for now, I apologize for the inconvenience and will come help when I have more time and knowledge.

[2019-02-20 23:17] loganfsmyth commented on #7970
Things are in a bit of an intermediate state right now because of our breakpoint changes. The breakpoint-able line is now line 20, but that shows up as disabled for the time being because we have to tweak a few things.

Do you know which logic decides that line 17 is the line to to reference in App.js?

[2019-02-21 00:15] darkwing commented on #7755
Steps to repeat:

[code]

[2019-02-21 02:17] ravefalcon92 commented on #7956
/claim

[2019-02-21 03:14] championshuttler commented on #7807
/claim

[2019-02-21 07:50] fvsch commented on #8007
In the light theme, the icon for active toolbox tabs is already blue. Green is used as a secondary "attention-grabbing" color there. It's also used for the Accessibility tab, to signal that accessibility API access is turned on.

I'm not very fond of this color coding, which is arcane IMO, but I would not change the color itself. Instead, it might be interesting to use a small badge in the tab, or

[2019-02-21 09:02] fvsch commented on #8007
Or we could overload the Debugger icon with a variant that shows that JS execution is paused.

There are maybe two states that could be important to reflect in the Toolbox:
- Currently paused on a breakpoint
- Pausing is disabled

<img width="66" alt="debugger-state-icons" src="https://user-images.githubusercontent.com/243601/53156412-a4b71b80-35bf-11e9-8f00-57081568dde7.png">

[2019-02-21 15:45] #7997 closed

[2019-02-21 19:12] chujunlu opened #8012 "[Breakpoints][Accessibility]Delete button for breakpoint only shows on hover"
Based on the discussions in issue #[7868](https://github.com/firefox-devtools/debugger/issues/7868), we should consider accessibility for both breakpoints and watch expressions' delete buttons. Now the delete button for breakpoints displays when hover, which isn't friendly to keyboard users. The problem might be solved with :focus-within.

<img width="313" alt="screen shot 2019-02-21 at 2 07 03 pm

[2019-02-22 15:16] #8004 closed

[2019-02-22 15:45] jaril opened #8017 "Offset-inline-* not supported in Chrome"
Noticed that the close buttons for Watch Expressions and XHR Breakpoints weren't displayed correctly on Chrome. I think this is related to the switch from `offset-inline` => `inset-inline` (#7948), where `inset-inline` is [only supported by Firefox](https://developer.mozilla.org/en-US/docs/Web/CSS/inset-inline-end) for now.

@fvsch is there a way to still make `inset-inline` properties work for Ch

[2019-02-22 16:06] jaril opened #8019 "Tree-node for Watch Expressions being highlighted on click"
Noticed this while reviewing #8013 and is unrelated to their changes.

This seems strange so I don't think this is intended, can just close this otherwise.

GIF:
![feb-22-2019 10-46-57](https://user-images.githubusercontent.com/15959269/53254335-29259f00-3691-11e9-848a-945e02f52ee7.gif)

[2019-02-22 16:08] nchevobbe commented on #8019
cc @yzen

[2019-02-22 16:11] nchevobbe commented on #8019
so, it might not make sense when you have only one watch expression which isn't expandable, but if:
1. the expression result can be expanded
1. you have multiple expressions

that's what allows to navigate with the keyboard.
One thing we could do is to have a way to not focus a node when using the mouse in some cases?
What's your take on this @darkwing ?

[2019-02-22 16:21] yzen commented on #8019
Having no "focused" styling for when tree node is a single tree node is reasonable. Though, it still messes with tracking focus visually since in this case there is no way for the user to know what current active element/widget is.

[2019-02-23 06:16] darkwing commented on #8017
Good spot @jaril.  We could duplicate properties but I don't think it's a priority.

[2019-02-24 14:54] chujunlu commented on #8012
/claim

[2019-02-25 06:11] nagpalm7 commented on #7921
@jasonLaster i am not able to figure out how to identify main origins  and other origins from path can you help me with that and also let me know all the possible bundler which I can include while reordering the tree.

[2019-02-25 07:54] fvsch commented on #8017
So it turns out that Chrome does support `inset-(inline|block)-(start|end)` since Chrome 69, but it's behind the `chrome://flags/#enable-experimental-web-platform-features` flag (unlike the margin/padding/border logical properties).

One solution would be to add `postcss-bidirection` back in, but the extra generated code for margin/padding/border etc. is overkill just for `inset-inline` support.

[2019-02-25 07:57] charanjit-singh commented on #7954
@jasonLaster  explain please;

[2019-02-25 08:05] charanjit-singh commented on #7921
You need to create a pipeline. before adding urlList to datastore, which sorts the list while adding.

[2019-02-25 08:08] charanjit-singh commented on #7967
@jasonLaster I'm new to this community,
Can I take this issue?

[2019-02-25 13:19] jasonLaster commented on #7967
Sure @charanjit-singh

[2019-02-25 13:49] jasonLaster commented on #8017
i propose leaving a note in our local-development.md doc for RTL support that if you're using chrome setting the flag in `chrome://flags/#enable-experimental-web-platform-features`  could help. That's the primary use case

[2019-02-25 19:03] digitarald commented on #8007
I would file a separate bug for the toolbox enhancements (which I am a big fan of, as unawareness of breakpoint/paused state in the Debugger can yield to very confusing experiences).

Chrome uses yellow highlight for paused state (`Paused on x` hint, in-content overlay and current breakpoint); which seems to make more sense than a light green bar. The light bar also gets easily missed and conflict

[2019-02-25 19:59] charanjit-singh commented on #7967
@jasonLaster There are 2 more problems in search toolbar:

1. There is no option of changing search modifiers in frontend.
2. There is no option to highlight backward or forward search result.

[2019-02-25 21:21] #7991 closed

[2019-02-25 22:55] digitarald opened #8026 "Clicking the breakpoint label triggers the checkbox focus"
STR:
- Add a breakpoint
- Slowly lick the breakpoint label (not the checkbox)

AR: Checkbox gets a focused state, looking like it will get toggled
ER: Checkbox doesn't change when clicking, as the label should only jump to the location

![screenflow](https://user-images.githubusercontent.com/8599/53374123-487c3080-390c-11e9-81c0-4a8f212fcc95.gif)

[2019-02-25 23:17] chujunlu commented on #7993
Hey @darkwing, I was able to reproduce the Angular icon issue and dug a little bit. But could you let me know the steps you did to produce that Webpack icon? Thanks!

[2019-02-26 01:48] nmicht opened #8028 "Link for project site goes to 404"
After renaming the project from debugger.html to debugger #7997, the link in the github main page got not updated.

![image](https://user-images.githubusercontent.com/1750293/53381173-e9cfaa80-393d-11e9-936c-91008d218e39.png)

Right now is pointing to https://firefox-devtools.github.io/debugger.html/ and it should link to https://firefox-devtools.github.io/debugger/

[2019-02-26 01:49] nmicht commented on #8028
@jasonLaster I think will be also good to make a list of external sites in Mozilla community linking to the old URL instead of http://firefox-dev.tools/debugger/ to fix them.
If you have an idea on how can I help with that, let me know.

[2019-02-26 02:18] nmicht opened #8030 "[Docs] Update links and help for first contributions"
For the first contributors, the information can be misunderstood because some links are pointing to old content or to none.

- The CONTRIBUTING.md does not mention the tag "good first issue". Will be good to include in the description for first contributions that bot tags are a good way to find issues.
- The link in the contributing.md to "help wanted" label is not working after the rename of the

[2019-02-26 02:26] nmicht opened #8031 "[Docs] Infomation for labels needs to be updated"
The information on the labels used on the project needs to be updated.
The [documentation for labels](https://github.com/firefox-devtools/debugger/blob/master/docs/issues.md#labels) display labels that we currently do not use, others that were renamed to use emoticons, and many others that we use but are not listed.

Example of labels listed but we are not using:
- needs-investigation
- needs-str

[2019-02-26 05:01] jasonLaster commented on #8028
good catch - i'm not sure how to find external sites

[2019-02-26 05:03] #8028 closed

[2019-02-26 05:33] GettyOrawo commented on #6153
`/claim`

[2019-02-26 08:13] irenesmith commented on #7067
Checked on this and the highlight is not working. I will keep an eye on the state of this and document it when it is working.

[2019-02-26 08:18] nchevobbe opened #8032 "Show element highlighter when hovering an element in Scopes/Watch Expression/Popup"
#7455 added the node selection which is good, but we're still missing highlighting, which is done by passing `onDOMNodeMouseOver` and `onDOMNodeMouseOut` prop to Reps/ObjectInspector

[2019-02-26 08:18] nchevobbe commented on #7067
Filed https://github.com/firefox-devtools/debugger/issues/8032 for highlighting

[2019-02-26 08:22] nchevobbe opened #8033 "Can't select node from the Popup"
**Steps to reproduce**
1. Go to https://nchevobbe.github.io/demo/console-test-app.html
1. Open the debugger
1. Open `console-test-event-listeners.js`, and add a breakpoint on line 6 (inside the click event handler)
1. In the page, click on a button
1. The debugger should pause, now hover `e`
1. There should be a `target` property, with an icon next to it, click the icon

**Expected results**

The

[2019-02-26 10:13] charanjit-singh commented on #7967
Thanks @jasonLaster
Is this fine?
The alignment of modifiers after the search results count and after NEXT and PREV buttons.

![screenshot from 2019-02-26 15-37-56](https://user-images.githubusercontent.com/23359602/53404984-e63f3080-39dc-11e9-8c53-119838ba2e25.png)
---
![screenshot from 2019-02-26 15-38-03](https://user-images.githubusercontent.com/23359602/53404975-c9a2f880-39dc-11e9-8663-4ee326

[2019-02-26 13:10] mohitch99 commented on #8026
/claim

[2019-02-26 13:51] mohitch99 commented on #8026
/unclaim

[2019-02-26 14:34] #7974 closed

[2019-02-26 16:31] yulireyji commented on #7840
Hi, it´s ok, today i upload the changes sorry for delay

[2019-02-26 17:18] jaril commented on #7712
/unclaim

[2019-02-26 17:18] ravefalcon92 commented on #7712
/claim

[2019-02-26 17:50] digitarald commented on #7799
ping @darkwing . Could we maybe make this available?

[2019-02-26 20:47] charanjit-singh opened #8036 "Search Next and Prev Button Functionality."
Hi !
Next and Prev button are missing in Find input box.

Their Handlers are remaining to be implemented.

[2019-02-26 20:52] charanjit-singh commented on #8036
/claim

[2019-02-26 22:02] #7931 closed

[2019-02-27 01:18] darkwing commented on #8033
Just checked and this works for Expressions and Scopes, but can confirm the issue reported by nchevobbe, despite a grip being provided by the Popover.js ObjectInspector instance.

[2019-02-27 01:26] ravefalcon92 commented on #7712
@darkwing: I'm not seeing the issue in my build of Firefox. Can you confirm if this is the case on your end? I'm wondering if it's possible a recent commit fixed the issue.

<img width="1007" alt="screen shot 2019-02-26 at 5 23 00 pm" src="https://user-images.githubusercontent.com/21224637/53458549-76847200-39eb-11e9-9e2b-182ec5d8bfcd.png">

[2019-02-27 01:32] darkwing commented on #7712
Ooops, sorry @ravefalcon92, I fixed it a week back: https://github.com/firefox-devtools/debugger/commit/f65d249c89f8b118188b9367c66d0f6bfee3bcbe

Sorry for not closing this!

[2019-02-27 01:32] #7712 closed

[2019-02-27 01:35] darkwing commented on #7993
I don't recall what React app I tested, but you should be able to reproduce with Angular, but simply change the icon's element className from "angular" to "react".

[2019-02-27 01:42] darkwing commented on #7674
This only happens when you create breakpoints, close all open sources, close devtools, then reopen devtools.  It's because CodeMirror isn't instantiated (i.e. no sources open):

[code]

[2019-02-27 02:11] darkwing commented on #7635
This has been fixed :)

[2019-02-27 02:11] #7635 closed

[2019-02-27 02:15] darkwing commented on #8032
@nchevobbe I don't understand what the contents of those functions would be, or the resulting effect.  Could you provide more detail?

[2019-02-27 02:18] darkwing commented on #7840
Awesome!  Please submit a pull request so I can have a look.  Thank you!

[2019-02-27 02:19] #7735 closed

[2019-02-27 02:19] #7759 closed

[2019-02-27 07:17] nchevobbe commented on #8032
Sure!
So, in the console when we display an element, if you hover it, it will display the highlighter in the content page:

<img width="816" alt="image" src="https://user-images.githubusercontent.com/578107/53472408-c4d75680-3a67-11e9-90d8-72c1ec3a9b28.png">

In the console, those 2 methods are defined in [devtools/client/webconsole/utils/object-inspector.js#34-37](https://searchfox.org/mozilla-ce

[2019-02-27 07:17] fvsch commented on #8026
Personally I'm unhappy with the interactions for this whole row.

We have three actions:
1. disable breakpoint (checkbox, always visible)
2. remove breakpoint (cross icon, visible on row hover only)
3. navigate to source (invisible, no specific signifier or visual feedback)

Having one interaction perceptible on hover only and a second one not perceptible at all until you click is not a great situ

[2019-02-27 07:48] fvsch commented on #8017
/claim

[2019-02-27 07:55] fvsch opened #8040 "Fix accordion spacing (#7735 follow up)"
The accordion CSS changes in #7735 were backed out due to mochitest failures.
As a result we have a few spacing issues in accordions, especially when it comes to the "+" button alignment and the space between the arrow icon and the label.

@mcroud I think you had a UI spec for spacing in accordion headers? Could you share it here?

[2019-02-27 07:55] fvsch commented on #8040
/claim

[2019-02-27 08:16] soniasingla commented on #8030
/claim

[2019-02-27 08:40] mohitch99 commented on #8026
/unclaim

[2019-02-27 11:03] charanjit-singh opened #8041 "Find and replace functionality."
Hi,
We can search for query in sources, but we cannot replace the content.

[2019-02-27 11:12] charanjit-singh commented on #8041
In chrome:
![image](https://user-images.githubusercontent.com/23359602/53486441-b95b4e00-3aae-11e9-8554-a946d5f03671.png)

[2019-02-27 11:16] charanjit-singh commented on #8036
![image](https://user-images.githubusercontent.com/23359602/53486621-34bcff80-3aaf-11e9-8cda-94eebe7dbde5.png)

No Next or Prev Buttons

[2019-02-27 12:51] jasonLaster commented on #8036
I don't know if we want to have next and previous for project search?

CC @darkwing @digitarald

[2019-02-27 12:52] jasonLaster commented on #8041
I don't think we want to replace text because there currently is no way to edit the text either :)

[2019-02-27 12:52] #8041 closed

[2019-02-27 12:57] jasonLaster opened #8042 "[Breakpoints] re-imagine some breakpoint UI/UX"
There are some fundamental issues with a breakpoint in the breakpoints panel:

1. we currently only show one text value (the line snippet, condition, log value). It would be nice if we showed all three or had the option to expand.
2. we currently show the different breakpoint states in the left border (paused at "green", conditional "yellow", log "purple"). This can be a bit vague and if we addres

[2019-02-27 12:58] jasonLaster commented on #8026
@fvsch I think these are great points for a larger issue that we should re-evaluate a Breakpoint's UX #8042.

I'd like to fix this small UI nit here because #8042 could take longer than this upcoming release :)

[2019-02-27 13:02] mohitch99 commented on #8026
/unclaim

[2019-02-27 13:55] fvsch commented on #8026
@jasonLaster Good point. I think for this issue we should just strive to remove the <label> in `src/components/SecondaryPanes/Breakpoints/Breakpoint.js`.

To keep things roughly accessible (though the current label is not a great accessible description IMO, but that can be reworked in #8042), we should try to keep the same label association though. Schematically, going from:

[code]

to:

[code]

[2019-02-27 15:36] fvsch commented on #7993
I think @nchevobbe reported the same issue on Slack and we said that we should remove the `width:12px` from those images and just keep the default 16px size. That should solve it.

[2019-02-27 15:44] fvsch commented on #7993
@chujunlu, re your questions about why we have some icons defined in `AccessibleImage.css` and some in `SourceIcon.css`:

Basically in #7890 I tried to define `AccessibleImage` as the default, recommended case: monochrome SVG icon used as a mask; and keep `SourceIcon` around as the place where we define icons for file types and libraries. Since library logos are the only use case we had for multic

[2019-02-27 17:25] santicalcagno commented on #8026
/claim

[2019-02-27 18:04] nagpalm7 commented on #7987
Can I take up this issue ?

[2019-02-27 19:55] charanjit-singh opened #8043 "[ ProjectSearch ] Collapse results output in multiple lines even for same line of same file ."
I think search results for same line should come in same line.
But currently It is showing every match case in different line.
And Also, The Highlighted text is shown with some additional internal padding, which'll confuse users because It'll look like a space. For eg:
Currently: For match 'a' in  "yaahoo"
Results are:
1.  y[ a ]ahoo
2. ya[ a ]hoo
But expected results are:
1. y[a][a]hoo  // withou

[2019-02-27 19:59] charanjit-singh commented on #8043
/claim

[2019-02-27 20:36] chujunlu commented on #7993
Thank you @fvsch . I have a clearer sense now. I missed your discussion about it on slack. Since you've been working on it, I'll be hands-off for this issue. But let me know if I can be of any help.

When I dug around to try to solve the issue, I found that ember and dojo icons have some problem. I happen to try both methods you mentioned: add `background-*` styles on `.img` to `AccessibleImage.cs

[2019-02-28 00:41] santicalcagno commented on #6965
I seem to be hitting the same bug. Firefox 65.0.1 and 67.0.1a (Nightly) in Arch Linux.

Redux DevTools shows two ADD_BREAKPOINT actions every time a new breakpoint is tried to be created. The second one "clears" the first.

![image](https://user-images.githubusercontent.com/6727466/53533085-351dc080-3ad8-11e9-8141-a47ac5ecf5b3.png)

[2019-02-28 09:59] charanjit-singh commented on #8043
I read the whole code and ohh my gawdd....,
Current Searching Algorithm ( Both for In-File Search and Project Search ) :
`Step 1: Get Input from SearchInput Component.`
`Step 2: Search query in sources.`
Step 2 returns: `Results`s which includes `Array<Match>`
Now, `Match` contains `MatchIndex` **<---- Problem**
It should be `MatchIndexes` , As Query is being searched line by line and instead of p